[2016-03-29 23:40] hannahkane opened #1773 "Make three icons on /badges look less clickable"
The three icons (Explore, Earn, Share) at the top of the Badges page look like immediate actions the user should take (i.e. they look clickable), instead of a quick way for people to understand what Badges are about.

@kristinashu @sabrinang - do you agree, and if so, do you have any suggestions for what we might do to make this section seem less like a CTA and more like an intro to badges?

[2016-03-30 14:29] jvallera commented on #1732
I have another Hive NYC directory related issue so adding it here, but happy to start a new ticket if that is easier. I would like to add Joey and Hana as administrators so they can have full access drupal dashboard, but I don't have the ability to do that. Any thoughts on how we can do this @hannahkane ? Right now Lainie, Chris, Atul, Leah and I are the people with access to the dashboard.

[2016-03-30 16:03] hannahkane commented on #1752
@KGorr - do you have info about the upcoming call we can include?

[2016-03-30 17:36] hannahkane commented on #1773
For reference: https://drive.google.com/a/mozillafoundation.org/file/d/0B2irLVDJivhLOEIzWkZiM3c5ZVE/view

[2016-03-30 17:45] sabrinang commented on #1773
They don’t look immediately actionable to me but I understand that it has a similar treatment to the bottom 3 CTAs by the footer and that could cause this confusion. Similar to how @kristinashu has treated the 3 science illustrations on their landing page, we can perhaps remove the titles that would make it look less clickable but I do like this concise copy that communicates the content though.

[2016-03-30 17:47] Pomax commented on #1773
remember to look at it as if it's on a screen, so you get the "fold" pretty much after the skills text - these are the only three image you see, so interpreting them as navigation elements becomes a lot more intuitive in that context

[2016-03-30 18:30] ldecoursy opened #1775 "Update X-Ray Goggles Cheat sheet"
We're in the process of updating some of the activities featured at teach.mozilla.org/activities

The Hacking My Media activity (also a featured activity on the Goggles landing page), links to an HTML Cheatsheet Thimble project which I've updated here: https://thimbleprojects.org/mozillalearning/48435/

The first link to "download the cheatsheet" goes to an old PDF with Hackasaurus branding. I kno

[2016-03-30 18:40] ldecoursy commented on #1775
Here's the PDF of the cheatsheet https://wiki.mozilla.org/images/f/fa/Xray_goggles_cheatsheet.pdf

[2016-03-30 18:41] ldecoursy opened #1776 "Update activity link on teach.mozilla.org/activities"
Here is the new link (in new Thimble) for the Hack My Media activity - featured on both teach.mozilla.org/activities and goggles.mozilla.org

https://thimbleprojects.org/stephguthrie/48361/

[2016-03-30 18:41] Pomax commented on #1775
@hannahkane do we know who can update these links?

[2016-03-30 18:42] Pomax commented on #1191
I think so, although I'll file a new issue that is strictly about the implementation side so we can do code-progress tracking there.

[2016-03-30 18:42] #1191 closed

[2016-03-30 18:43] Pomax opened #1777 "make sure users can see their own earned badges vs unearned badges"
With the badge view marking badges as "earned" vs. "unearned", users should be able to at a glance see all badges vs. their badges vs. unearned badges.

[2016-03-30 18:44] hannahkane commented on #1775
@pomax - Lainie or I can update the Thimble project. Do you mean who can update the pdf? Since we don't have the original file, we might need to re-create it. @sabrinang - wondering if you'd have time for this?

[2016-03-30 18:44] Pomax commented on #1760
the weblit page might need some code in the `componentWillMount` function to see which page it's rendering, and tell the circle nav which segment should be treated as selected.

[2016-03-30 18:45] #1661 closed

[2016-03-30 18:46] sabrinang commented on #1775
@hannahkane Yeah, I can update the pdf

[2016-03-30 18:48] ldecoursy commented on #1776
On the teach site, it's listed as Girls in Tech: Hacking My Media

[2016-03-30 18:48] Pomax commented on #1740
we need unit tests for this, so we're not testing this "by hand", but just automate it against a set of known good and a set of known bad email address. Going down that path, we should also probably be using a node module that was designed for email validation, rather than fixing our regexp by writing another regexp =)

[2016-03-30 18:49] hannahkane commented on #1775
thank you, @sabrinang!

[2016-03-30 18:50] Pomax commented on #1693
As a side-question, should this work be steering part of the CMS work we're doing, or does it need to land before we finish up the CMS MVP?

[2016-03-30 18:52] hannahkane commented on #1776
Making this ticket specifically about the Teach site, because I can fix that. Filed one for goggles here: https://github.com/mozilla/goggles.mozilla.org/issues/287

[2016-03-30 18:53] Pomax commented on #1776
cheers, removing the goggles label in that case

[2016-03-30 18:53] hannahkane commented on #1776
oh sorry, @Pomax - just saw your label updates. ha. sorry, probably being over process-oriented here. :) but I can do this one, so it'll save you a few minutes. :)

[2016-03-30 18:53] Pomax commented on #1776
\o/

[2016-03-30 19:47] KGorr commented on #1752
I have a planning meeting tomorrow with @thornet , so I hope to know more then! For now, new etherpad is: https://public.etherpad-mozilla.org/p/mozcommunitycallApril16 and I can skype the embed code for the live stream to you/Luke. Just let me know who is working on it. Thanks @hannahkane!

[2016-03-30 20:44] hannahkane commented on #1752
please share details with @flukeout. Is it okay to wait until we have details about the upcoming call before archiving the last one?

[2016-03-30 20:54] KGorr commented on #1752
Yes! I'll get it @flukeout ASAP. Thanks!

[2016-03-30 21:04] flukeout commented on #1752
:+1:

[2016-03-30 21:06] hannahkane commented on #1693
I'm actually not sure we need this ticket anymore. We have [this ticket](https://github.com/mozilla/teach.mozilla.org/issues/1758) to migrate this page to CMS eventually, and, in the meantime, @flukeout filed a PR to update the content of the page.

Closing unless someone objects.

[2016-03-30 21:06] #1693 closed

[2016-03-30 21:13] hannahkane commented on #1732
cc @simonwex to answer @jvallera's question.

[2016-03-30 21:56] hannahkane opened #1779 "Improve workflow for tracking copy changes to in-flight work"
This came out of the Web Lit Map debrief held today with @sabrinang @Pomax @ScottDowne and @anmechung.

One of the challenges we identified was with keeping up with copy changes that happen while development work is in progress. A couple specific problems were mentioned: first, that changing copy in, for example, google docs doesn't trigger notifications to the developer. Second, it's hard to veri

[2016-03-30 21:57] hannahkane commented on #1779
Wondering if asking copy editors to create annotated screenshots with changes would work?

[2016-03-31 00:38] simonwex commented on #1732
@jvallera we're in a funny situation here, as I don't have an account. We've created a devops bug to track this here: https://github.com/MozillaFoundation/mofo-devops/issues/299

[2016-03-31 13:35] ldecoursy opened #1780 "Another updated link for /activities"
Here is the updated link for the Minecraft: A Flavor of Java activity on teach.mozilla.org/activities (in the new Thimble):

https://thimbleprojects.org/epikhub/48607/

[2016-03-31 13:38] ldecoursy commented on #1476
Just a note to follow-up, I heard back from the new contact - they just published the book! They never followed-through with sending the screenshots unfortunately. They are sending me a hard copy so we'll have for our files.

[2016-03-31 13:47] jvallera commented on #1732
Thanks @simonwex Will add myself to #299 @jazoulai can be copied as well. Let us know if there anything we can do. Happy to give you my login if it helps.

[2016-03-31 21:13] #1776 closed

[2016-03-31 21:16] mmmavis opened #1781 "Images on /activities don't have fixed width anymore"
https://teach.mofostaging.net/activities
<img width="670" alt="screen shot 2016-03-31 at 2 16 18 pm" src="https://cloud.githubusercontent.com/assets/2896608/14191136/2af3157a-f74b-11e5-9d0a-cb875d86c6e3.png">

It's probably related to the recent change made in https://github.com/mozilla/teach.mozilla.org/commit/99672d323b35f2caf3b22b0f205f5319abb03080#diff-9fb9a1085ade89fb217c95df87a638cf .

@Scot

[2016-03-31 22:21] flukeout commented on #1752
**Updated content**

Youtube link
``<iframe width="560" height="315" src="//www.youtube.com/embed/d3YJUZVoYws" frameborder="0" allowfullscreen></iframe>``

Content
https://docs.google.com/document/d/12BkqcjSL1xTaetVWwRXvseEoaIoKMq0xGegqBckRusk/edit

[2016-03-31 23:09] #1780 closed

[2016-03-31 23:30] mmmavis commented on #1649
We now have more people contributing to this repo which is exciting and awesome! But since the MLN site isn't the only project on my plate anymore, I'm starting to have hard time updating the [CHANGELOG](https://github.com/mozilla/teach.mozilla.org/blob/develop/CHANGELOG.md) as there could be changes to the repo that I'm unaware of.

Could we put this ticket to the current heartbeat (or the next o

[2016-03-31 23:45] ScottDowne commented on #1781
max-width: 100% doesn't work in firefox stable.

[2016-03-31 23:48] ScottDowne commented on #1781
I should be more specific. This page https://teach.mofostaging.net/community had horizontal scrollbars on some of the images.

[2016-03-31 23:49] ScottDowne commented on #1781
you can still see it here: https://teach.mozilla.org/community

Firefox stable.

[2016-04-01 00:04] ScottDowne commented on #1781
If we move max-width: 100% onto image-container, it doesn't bug out in firefox stable, and doesn't seem to cause any other issues. I'm testing a bit more, but it makes sense.

[2016-04-01 00:12] ScottDowne commented on #1781
I think something like this https://github.com/mozilla/teach.mozilla.org/pull/1784/files

[2016-04-01 17:14] KGorr commented on #1752
@thornet, there are a couple of items highlighted in the page content that @flukeout added above that need your input/approval. Thanks!

[2016-04-01 17:46] KevZawacki opened #1785 "Better align SUMO with teach.mozilla.org content"
Surfacing this issue for discussion.

Joni Savage, who maintains SUMO, reached out about https://support.mozilla.org/en-US/products/webmaker. There are dead links + dated copy that doesn't jibe with current teach.mozilla.org language and resources.

For example, "[What is a Webmaker mentor?](https://support.mozilla.org/en-US/kb/webmaker-mentor)"

Might be worthwhile to do an audit and delete confu

[2016-04-01 18:41] ldecoursy commented on #1785
Thanks @KevZawacki - good flag.

Honestly that entire Events section is outdated and should probably be removed - https://support.mozilla.org/en-US/products/webmaker/events-and-help-for-mentors

Also, the Get the Most from Webmaker.org is also very old (also remove).

The Webmaker for Android, Thimble and Goggles all seem up-to-date, but do they belong under the Webmaker banner or can they be sepa

[2016-04-01 19:09] mmmavis commented on #1746
@alicoding have we say goodbye to S3 yet? :smile:

[2016-04-01 19:19] Pomax commented on #1746
some more information over in https://github.com/MozillaFoundation/mofo-devops/issues/290 but I think S3 is still technically up?

[2016-04-01 19:28] alicoding commented on #1746
We're not using that s3 bucket now and will remove that after we are super sure that this is good without it :)

[2016-04-01 19:29] Pomax commented on #1746
\o/

this calls for an extra victory coffee checkbox.

[2016-04-01 19:31] KevZawacki commented on #1785
@ldecoursy That's an easy fix :-) I'll email Joni now.

Agreed that housing all the tools under the Webmaker banner is strange:

![screen shot 2016-04-01 at 3 26 29 pm](https://cloud.githubusercontent.com/assets/11045250/14217788/1cb0dc6c-f81e-11e5-9c42-fed1f46eaac9.png)

 Would we want to give each tool it's own icon? Or rename the Webmaker icon to something more generic? I'm thinking the latter.

[2016-04-01 19:47] ldecoursy commented on #1785
We don't have that yet so maybe we leave it for now- or change to Thimble (which has more momentum) and say Thimble and other tools for teaching and learning the Web.

[2016-04-01 19:56] hannahkane commented on #1649
@mmmavis or @Pomax - can either of you estimate how much time we should reserve for this? thanks!

[2016-04-01 20:28] #1781 closed

[2016-04-01 21:29] mmmavis opened #1786 "Edit Club button doesn't work"
STR:

1. go to https://teach.mofostaging.net/clubs/list/
2. under "My Clubs" section, try to edit a Club of yours by clicking the "Edit" button
<img width="262" alt="screen shot 2016-04-01 at 2 26 10 pm" src="https://cloud.githubusercontent.com/assets/2896608/14220593/e4430c9a-f815-11e5-841f-c330adbf5b32.png">
3. Nothing happens. Error encountered. Console shows "_ is not defined" error.
<img widt

[2016-04-01 21:50] mmmavis opened #1788 "Remove `page-end-cta` component related code"
We should remove `page-end-cta` component related code since it's no longer in use.

- [ ] `page-end-cta.less`
- [ ] `@import "page-end-cta";` from `less/components/index.less`
- [ ] `components/page-end-cta.jsx`

[2016-04-01 23:34] mmmavis commented on #1732
hey @jazoulai what info would you like to see in the exported .csv? name and city of organizations?

[2016-04-04 13:44] jazoulai commented on #1732
Hi @mmmavis. Would be great to have all user-facing fields, but no need for any metadata. Here' s a list based on what I can see on the front-end of the directory, as far as organizations:

1. Name
2. Website
3. Address
4. Twitter name
5. Mission
6. Content Channels

Also, I think I could make use of user profile data as well, if including that in the export doesn't require much extra work. But I

[2016-04-04 16:31] ldecoursy opened #1791 "Update skills in Web Lit Basics 1 module to match new Web Lit Map 2.0"
The six activities in the [Web Lit Basics 1 module](https://teach.mozilla.org/activities/web-lit-basics/) need to be updated to reflect the new skills/verbs in the Web Lit Map 2.0.

In the sidebar on these activities, we need to:
- [x] Change Web Literacy Competencies to Web Literacy **Skills**
- [x] Add 21st Century Skills

Reference this document to see what the updated skills are for each of th

[2016-04-04 16:34] ldecoursy opened #1792 "Update links to Web Lit Basics 1 activities in Web Lit Map"
The Web Lit Map 2.0 is linking to older versions of the Web Lit Basics I activities.

Can we update the links to the versions that have the translations available as a pull-down on the top right-hand corner?

* Kraken the Code https://mozilla.github.io/mozilla-club-activity-kraken-the-code/#en
* Ping Kong https://mozilla.github.io/mozilla-club-activity-ping-kong/#en
* Hack the News https://mozilla

[2016-04-04 16:37] ldecoursy opened #1793 "Broken link on /activities - Update link to Mouse module"
Currently the link to the Code/Explore/Connect with Mouse activity is broken.

Please update to this link: https://thimbleprojects.org/mouseorg/49745/

[2016-04-04 16:55] #1793 closed

[2016-04-04 16:58] #1786 closed

[2016-04-04 18:19] hannahkane commented on #1791
I suggest that we migrate these six activities to the new template (as in the Web Lit Basics II module).

Also suggest we move ALL Web Lit Basics (I and II) to mozilla.github.io, rather than attach to a specific staff person.

@chadsansing - what do you think of this? I can help with some of the grunt work.

[2016-04-04 18:20] chadsansing commented on #1791
@hannahkane, yes to the migration to mozilla.github.io.

If we can band-aid the Web Lit and 21st C skills for now, I'd be happy to help migrate the Web Lit Basics lessons to the new template after getting more leadership curriculum finished.

[2016-04-04 18:26] hannahkane commented on #1791
Alternative idea: what if we move all of this to Thimble projects, since we have the new lesson plan template in Thimble as well. That would make all of this content remixable. Is that desirable?

[2016-04-04 18:28] anmechung commented on #1791
+1 to chadsansing band-aid for now - can these edits be made by Wed? We're going to launch a blog and other communication on Wed, and it would be best if these edits could be made by then.

[2016-04-04 18:32] chadsansing commented on #1791
@hannahkane, seems like Thimble versions would be difficult to update, but the more access the better, generally. Probably needs a convo between now and when we update.

[2016-04-04 18:47] hannahkane commented on #1791
yes, also remembering that we have them as github pages for l10n reasons, too.

I'll work on updating these, as is, now. But we should have a conversation with @soapdog soon about how we might migrate to the new template, while respecting l10n work that's happened already.

[2016-04-04 18:48] hannahkane commented on #1792
@ScottDowne - I think this might be something I can do myself. Would I just update the links in pages/web-literacy/activitydata.js?

[2016-04-04 18:59] ScottDowne commented on #1792
@hannahkane  :star: :star: that's exactly it!

[2016-04-04 19:18] hannahkane commented on #1792
ok, cool. I'll submit this now, so it's ready to go, since the links won't change even after we do #1791.

[2016-04-04 19:40] mmmavis commented on #1649
@hannahkane I think this just needs discussion. It won't take us long to update the documentation in [RELEASE.md](
https://github.com/mozilla/teach.mozilla.org/blob/develop/RELEASE.md). I'd like to hear what @ScottDowne @alicoding think as they have been pretty active on this repo lately :smile:

[2016-04-04 19:52] hannahkane commented on #1649
K. adding to next heartbeat so we can be sure to talk about it, but feel free to discuss this heartbeat if you can find time.

[2016-04-04 19:54] hannahkane commented on #1690
just want to revive this issue. @mmmavis - is there a clear next step?

[2016-04-04 19:55] hannahkane commented on #1630
Just FYI: the title, description, and image content is laid out in this comment: https://github.com/mozilla/teach.mozilla.org/issues/1350#issuecomment-190974106

[2016-04-04 19:56] hannahkane opened #1796 "Encryption banner is missing on homepage"
Chrome and FF

Does appear on staging in FF

[2016-04-04 19:56] hannahkane commented on #1796
cc @mmmavis @ScottDowne

[2016-04-04 19:57] hannahkane commented on #1694
OK to close this?

[2016-04-04 19:58] hannahkane commented on #1738
is this now duped by #1791?

[2016-04-04 19:59] hannahkane commented on #1758
This is blocked on the Calypso hosting issue, I believe. Any more info on that @simonwex?

[2016-04-04 20:09] ScottDowne commented on #1796
staging has the fix, I suspect prod does not. There is something related to this that I fixed already, which is also not on prod, so once that's up, I think both issues are going to go away.

[2016-04-04 20:11] sabrinang commented on #1739
Copy changes has been updated in https://github.com/mozilla/content/pull/5#event-613963483. I'll continue to update this paper with pictures of persona images https://github.com/mozilla/content/issues/1 and adjusting hierarchy in heading styles.

[2016-04-04 20:19] KGorr commented on #1752
Content is good to go @flukeout. Thanks @thornet!

[2016-04-04 20:38] ScottDowne commented on #1649
Doesn't it work on Heroku now? (I was able to get it running on heroku when I setup staging for my weblit map) Wouldn't it be low effort then to make that switch with prod?

It's not like we need to reinvent this process, a lot of our other apps have things a bit better, and we should just follow those patterns.

[2016-04-04 20:41] soapdog commented on #1791
@hannahkane and @chadsansing,

The Web Lit I activities were placed on separate github repos to handle the L10N process through the usage of the github issue system. I think it is easier to move them to the new template by keeping them where they are and changing code instead of moving them to thimble. Thimble URLs are less memorable and have no version control, so I believe, thimble is awesome to

[2016-04-04 20:47] hannahkane commented on #1791
@soapdog - yep, that makes sense.

re: the original ask on this ticket—I filed [this PR](https://github.com/mozilla/mozilla-club-activity-kraken-the-code/pull/32) for Kraken the Code specifically. Can you take a look, and, if it's good, I can update the others as well. Not sure how to go about adding 21st Century Skills, though, since we don't have a mockup for that in the template.

[2016-04-04 21:14] #1792 closed

[2016-04-04 21:18] mmmavis commented on #1690
@cadecairos could you grant me SSH access? ping me on Mattermost when u get a chance so I can share my SSH key and ip with you. :grin:

[2016-04-04 21:21] mmmavis commented on #1746
WOOHOOO fantastic work team! :tada: :beers:

[2016-04-04 21:23] mmmavis opened #1797 "Update README.md"
Let's remove "static site generator" and S3 related bits from the README.md since they are no longer relevant :wink:

/cc @alicoding

[2016-04-04 21:24] mmmavis commented on #1746
Let's [update README.md](https://github.com/mozilla/teach.mozilla.org/issues/1797) and close this ticket then!

[2016-04-04 21:24] #1746 closed

[2016-04-04 21:40] alicoding commented on #1797
S3 is removed I believe, but static site generator would be awesome to remove

[2016-04-04 21:41] alicoding commented on #1649
I think we just need to update the readme. Everything is now on heroku.
On Apr 4, 2016 4:38 PM, "ScottDowne" <notifications@github.com> wrote:

[2016-04-04 23:34] sabrinang commented on #1739
Updated this in https://github.com/mozilla/content/pull/6

[2016-04-04 23:34] #1739 closed

[2016-04-04 23:40] sabrinang commented on #1738
@hannahkane Yes, that issue is addressing what is mentioned here.

[2016-04-05 02:52] mmmavis opened #1798 "Reserve two routes: /encryption and /codemoji"
from https://github.com/MozillaFoundation/encryption_campaign/issues/237

tl;dr
We need to reserve https://teach.mozilla.org/encryption and https://teach.mozilla.org/codemoji since these 2 URLs will be linked from the Codemoji app.

Nothing to implement yet. For now let's just add some notes to `routes.jsx` so devs won't accidentally use `/encryption` and `/codemoji` for other purposes.

[2016-04-05 18:34] Pomax commented on #1770
based on https://github.com/mozilla/teach-api/issues/31 we will want to do things differently here.

[2016-04-05 18:38] mmmavis commented on #1649
Are we keeping the CHANGELOG? If so, we need to make sure the instructions in [RELEASE.md](
https://github.com/mozilla/teach.mozilla.org/blob/develop/RELEASE.md) make sense to everyone. :+1:

[2016-04-05 18:52] hannahkane commented on #1649
I use the CHANGELOG all the time, so would love to keep it.

[2016-04-05 18:54] hannahkane commented on #1738
K. Closing this then.

[2016-04-05 18:54] #1738 closed

[2016-04-05 18:55] hannahkane commented on #1791
ok, PRs filed for all six activities. waiting for @soapdog to review in case I messed anything up. :)

[2016-04-05 19:07] hannahkane opened #1800 "Choose colors for new Web Lit and 21st Century skills"
I think we only need to do this if we plan to use specific colors in, for example, the skill tags used in the lesson plan template (here's [an example](https://chadsansing.github.io/curriculum-testing/curriculum-migration/web-lit-basics-two-migrated/session01-why-do-we-use-the-web.html#overview).

We're currently using colors in some of the lesson plans that use an older template—for example, the

[2016-04-05 22:00] mmmavis commented on #1732
Hey @jazoulai ,

Can I propose that we have the CSV export functionality to export just the organizations' `name`, `website`, `address`, `twitter name`, and `mission` for now? It seems like "content channel" lives as a separate Django model (e.g., it's not part of the Organization model). I spent quite a while trying to export content channel info but still couldn't get it working. As a Python/Dja

[2016-04-05 22:21] #1798 closed

[2016-04-06 11:57] #1785 closed

[2016-04-06 14:06] jazoulai commented on #1732
Sounds good @mmmavis, thank you!

Are we talking about a one-time export of the data, or export functionality?

[2016-04-06 14:10] jvallera commented on #1732
thank you @mmmavis !! you are working wonders. I thought we would never be able to get this info ;) Thanks @jazoulai for working on this.

[2016-04-06 17:00] mmmavis commented on #1732
@jazoulai , same as @simonwex , I don't have an account on the production site Admin portal/database... which means I don't have access to the "real data".  I can help add an Export to CSV functionality to the dashboard though, since I have pushing rights to the Github repo and Heroku.

@jvallera :relaxed: glad i can help!

[2016-04-06 17:43] soapdog commented on #1791
@hannahkane started reviewing and merging them now

[2016-04-06 18:01] soapdog commented on #1791
@hannahkane all reviewd and merged! Awesome work, thanks so much! :+1: :+1: :+1: :smile_cat:

[2016-04-06 18:03] hannahkane commented on #1791
yay! thanks, @soapdog!

closing this ticket. Andre, I'll file another ticket for migrating to the new template.

[2016-04-06 18:03] #1791 closed

[2016-04-06 18:06] hannahkane opened #1801 "Migrate localized Web Lit Basics I modules to new template"
I can't assign this due to a current github bug, but this ticket is for @soapdog. :)

See https://github.com/mozilla/teach.mozilla.org/issues/1538 for new template

[2016-04-06 20:46] sabrinang commented on #1775
Work in progress on redpen here: https://redpen.io/p/dh0df011100a3ae33e

I have a question about one of the keys, does "backspace" still delete an element on the newest version of xray goggles? (I tried and it didn't work so I excluded it on the newer ideas).

Also, we should consider calling it Keyboard Shortcuts instead of Cheat Sheet because it was immediately clear what cheat sheet meant. Some

[2016-04-06 21:01] hannahkane commented on #1775
pretty!

cc @Pomax for the answer to your question about the backspace shortcut. I don't know why that would have changed, but maybe?

[2016-04-07 17:42] #1788 closed

[2016-04-07 17:52] flukeout commented on #1752
PR filed for these changes https://github.com/mozilla/teach.mozilla.org/pull/1804

Will post a link to review content once it's on staging.

[2016-04-07 20:19] KGorr commented on #1752
Thank you!

[2016-04-07 22:16] mmmavis commented on #1732
encountered various problems when I tried to deploy changes live. Will provide updates once the problems are resolved.

[2016-04-08 01:52] simonaramkisson opened #1805 "Hive Waterloo logo needs to be changed to Hive Waterloo Region"
@sabrinang @mmmavis

Hi all,
Hive Waterloo has asked that we change their current logo from "Hive Waterloo" to "Hive Waterloo Region" as that is the official name of their municipality.

Let me know if you need anything from me, the vectorized files are here: https://drive.google.com/drive/u/0/folders/0B4Q8pzCpDS_eQi1sOXo3Rk83Vms

Thanks so much,
Simona

[2016-04-08 18:30] KGorr opened #1806 "Broken Link on Teaching Activities Page"
The "Code/Explore/Connect with Mouse" activity featured on the [teaching activities](https://teach.mozilla.org/activities) page goes here https://d157rqmxrxj6ey.cloudfront.net/mouseorg/34864/ and is landing on an "Oh no! The page you're looking for is not available! " message.

[2016-04-08 18:38] sabrinang opened #1807 "Design adjustments to Web Lit Map"
![web-literacy_colour-test](https://cloud.githubusercontent.com/assets/2492510/14393320/29d5d958-fd7b-11e5-810d-93c10ba215cc.png)
Adjust positioning of skills (axis starting at the top) and increase surface area of web lit skills (exterior labels).

[2016-04-08 18:43] sabrinang opened #1808 "Adjustments to 21C Skill labels on Web Lit Map"
I was looking through the map and noticed Synthesize, Share and Connect had the wrong 21C on the map. On the whitepaper it is identified as:

Synthesize - 21C Skills: Problem-solving, Communication  (Blue, Orange)
Share - 21C Skills: Creativity, Communication (Purple, Orange)
Connect - 21C Skills: Problem-solving, Communication, Collaboration (Blue, Orange, Yellow)

/cc @anmechung

[2016-04-08 18:46] hannahkane commented on #1806
Thanks for noticing and filing! Fixed in https://github.com/mozilla/teach.mozilla.org/issues/1793 (will be pushed live with next release)

[2016-04-08 18:46] #1806 closed

[2016-04-08 18:48] anmechung commented on #1808
@sabrinang good catch  - it is correct in the whitepaper!

[2016-04-11 18:35] mmmavis commented on #1732
@jazoulai I pushed the updates to production just now :tada: Let me know if the CSV export functionality works as expected :grin:

[2016-04-11 18:43] jazoulai commented on #1732
Yay!!! So exciting, thanks @mmmavis! Sorry it gave you such a headache.

I don't think I have access to the admin dash myself, @jvallera will you take a look and report back to us?

[2016-04-11 19:12] jvallera commented on #1732
Thanks @mmmavis I don't see anything in the dashboard to export. Do you know where I should be looking? or how I access it?

[2016-04-11 19:22] simonaramkisson commented on #1805
@hannahkane

[2016-04-11 20:28] sabrinang commented on #1805
@simonaramkisson I have updated the logo to Waterloo Region. You can find the .eps file here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eMkJwVzU0TWVTNlU/view?usp=sharing
and .png file: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eTGpXSGdIVFcxWU0/view?usp=sharing

[2016-04-11 20:41] mmmavis commented on #1732
@jvallera you should see a **Export CSV** option in the dropdown when you are on the  "Organizations" admin page.

![screen shot 2016-04-11 at 1 40 00 pm](https://cloud.githubusercontent.com/assets/2896608/14441702/e967cfda-ffea-11e5-8626-3a5b2a258aee.png)

[2016-04-11 20:43] simonaramkisson commented on #1805
Awesome! Thanks so much @sabrinang!

[2016-04-11 20:44] #1805 closed

[2016-04-11 20:44] ldecoursy commented on #1476
Received the book - all clear. They also link to the new Thimble, and you can even watch a Danish video tutorial here: http://lærkode.alinea.dk/content.php?book=book_2#resource_2

[2016-04-11 20:49] jvallera commented on #1732
Hmm, don't see it on my end @mmmavis
![screen shot 2016-04-11 at 4 47 47 pm](https://cloud.githubusercontent.com/assets/3729312/14441948/4b9d41de-0005-11e6-8aba-d054daf0b1a5.png)

[2016-04-11 22:41] Pomax opened #1809 "badges-through-credly wireframes"
This issue documents our use of the credly API, with wireframes to show how what we're presenting the user (based on the original full workflow comps from https://github.com/mozilla/teach.mozilla.org/issues/1337).

## Badge overview page

In this view a logged in user sees all the badges that we have on offer, with each badge marked as having either already been achieved by this user, currently pe

[2016-04-12 16:56] Pomax opened #1810 "make badges load sensibly while we wait for Credly's API responses"
It can take a few seconds for the badge queries to come back from Credly (both due to processing time on Credly's side and network transfer speed) so we probably want to do some sensible caching:
- we know what images, titles, descriptions, and requirements we use for our own badges, so we can have that information live in the teach.moz repo for immediate loading so we can show "something" while w

[2016-04-12 17:26] Pomax commented on #1192
- [ ] I can see the criteria
- [ ] I can submit my evidence
- [ ] I am aware of the timeline for my application to be reviewed
- [ ] I am notified when my application is approved or denied
- [ ] My authentication experience should be seamless
- [ ] I should be able to choose from a list of partner organizations that I might belong to

[2016-04-12 17:28] hannahkane commented on #1192
Just a note that I don't think the last item is needed at this time. And the third one might be vague...e.g. a success message that says "Thanks for applying for the [name of badge] badge. We'll let you know when your badge has been reviewed."

[2016-04-12 17:31] Pomax commented on #1192
perfect. I've updated the checklist to reflect that.

[2016-04-12 17:36] Pomax opened #1811 "implement the moz badges on the Credly side"
Based on https://docs.google.com/document/d/1u9j28HqV8QMsk-foS1r0N-tVtmcLTLsGz9m7eKcT_eU, with the badge images from https://github.com/mozilla/teach.mozilla.org/issues/1337

[2016-04-12 17:37] Pomax commented on #1716
subsumed by https://github.com/mozilla/teach.mozilla.org/issues/1811

[2016-04-12 17:37] #1716 closed

[2016-04-12 17:37] Pomax commented on #1715
subsumed by https://github.com/mozilla/teach.mozilla.org/issues/1811

[2016-04-12 17:37] #1715 closed

[2016-04-12 17:37] Pomax commented on #1710
subsumed by https://github.com/mozilla/teach.mozilla.org/issues/1811

[2016-04-12 17:37] #1710 closed

[2016-04-12 20:19] Pomax commented on #1811
It turns out Credly only allows 128 characters for a badge description, and 500 characters for evidence requirements, so we're going to have to rework the four skills in terms of those restrictions. @anmechung @hannahkane

[2016-04-12 22:14] hannahkane opened #1812 "When navigating to a new page, should be scrolled to top"
STR:

Scroll down to the bottom of a page - for example, the homepage.
Use the sidebar navigation to click on another page.
You'll be scrolled down to the bottom of the other page.

[2016-04-13 19:30] Pomax commented on #1714
forms of evidence:
- [ ] links
- [ ] freeform text
- [ ] file attachments

[2016-04-13 19:31] Pomax commented on #1714
file attachments are currently blocked on getting the exact post format right.

[2016-04-13 19:34] Pomax opened #1813 "set up heroku test instances"
- [x] teach.moz.org with badge work
- [x] teach-api with badge work

[2016-04-13 19:35] Pomax commented on #1813
The teach-api instance seems to not be running the model migrations, and so the credly model/tables do not appear to exist, despite having `python manage.py migrate` as part of the startup script

[2016-04-13 20:27] Pomax opened #1814 "investigate whether we can add in "alignment" for badges"
This will allowed many issuers to all indicate their badge(s) align with a canonical url/document/etc, so that all badges around a Web Lit issues by anyone all tie back to a single authoritative resource

[2016-04-13 21:08] soapdog commented on #1801
I am also taking the time to add L10N support for the template so that we don't need to rework it later.

[2016-04-14 16:30] hannahkane commented on #1811
Thoughts on this, @anmechung?
This feels quite limited, though I understand why they might have made this decision—it's certainly a simpler user experience.

We *could* use the space to link to an external document with more details, but that feels pretty janky.

An-Me, what do you think?

[2016-04-14 16:36] anmechung commented on #1811
Hannah - agreed on limitation. May be check boxes later will be helpful,
but in the meantime, +1 to your solution.

On Thu, Apr 14, 2016 at 11:30 AM, hannahkane <notifications@github.com>
wrote:

[2016-04-14 22:54] hannahkane opened #1815 "Build page for Regional Coordinator bios"
RCs are doing awesome work promoting and supporting Clubs around the world. We need to lend legitimacy to their work by publishing a list of current RCs on the site.

My thought is that this can be a single page display a list of RCs. For each we might have:
 * Name
 * Where they are in the world
 * Photo
 * Brief (2-3 sentence) bio
 * List of Clubs they manage

@amirad, thoughts on this ^ ?

Idea

[2016-04-14 23:50] #1752 closed

[2016-04-15 13:16] amirad commented on #1815
Huge +1 to being built with the cms since this list will change and will be much easier if it's easily manageable by staff.

That looks good to me! In terms of navigation for all clubs pages should we consider having the main page, then having a 'where in the world are clubs page' with the RCs and the map, and then the resource repository? so three pages total?

[2016-04-15 17:56] flukeout opened #1817 "Images on Teaching Activities page are way too wide."
Check out https://teach.mozilla.org/activities

![image](https://cloud.githubusercontent.com/assets/25212/14570347/af6ec84a-02f8-11e6-9f78-1cb07c94736b.png)

[2016-04-18 17:05] Pomax commented on #1807
crosslinking to https://github.com/Pomax/react-circletree/issues/5, which should tackle at least half this problem.

[2016-04-18 17:34] hannahkane commented on #1817
Is this a dupe of https://github.com/mozilla/teach.mozilla.org/issues/1781?

[2016-04-18 18:06] mmmavis commented on #1732
:sob:
@jvallera could you check again? I'm hoping it was some caching / delay issue.

[2016-04-18 18:09] flukeout commented on #1817
Oh yea, looks like.

[2016-04-18 18:09] #1817 closed

[2016-04-18 19:28] Pomax commented on #1807
The 12 o'clock orientation has been fixed and landed (upgrading to v2.6.0 should automatically fix things) but the side spacing is extremely tricky and will require probably a day's worth of remathing how the segment coordinates should be computed, updating the code for that, and testing to make sure it works properly (especially as the side spacing is uniform in width, instead of a simple change

[2016-04-18 20:03] hannahkane commented on #1775
ping @Pomax to answer the question re: backspace shortcut.

Otherwise, @sabrinang, are we good to go on this?

[2016-04-18 20:05] hannahkane commented on #1808
@Pomax @mmmavis @ScottDowne - do any of you have time to make this change?

[2016-04-18 20:09] hannahkane commented on #1771
@simonwex - is this still on your plate?

[2016-04-18 20:11] hannahkane commented on #1730
@mmmavis - is this a prereq to releasing our Calypso implementation?

cc @simonwex

[2016-04-18 20:12] #1694 closed

[2016-04-18 20:13] hannahkane commented on #1690
pinging @cadecairos and @mmmavis to make sure this ticket doesn't get lost

[2016-04-18 20:16] #1625 closed

[2016-04-18 20:19] hannahkane commented on #1544
Closing this ticket in lieu of a new one I'm going to file, based on [this](https://docs.google.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit)

[2016-04-18 20:19] #1544 closed

[2016-04-18 20:45] cadecairos commented on #1690
I've added @mmmavis's public key to the instance running the blog. I believe she's going to be taking care of this in the next couple days.

[2016-04-18 20:46] hannahkane opened #1818 "Sign-up thank you page is 404'ing"
See https://twitter.com/dietrich/status/722153934341562368

[2016-04-18 20:48] hannahkane commented on #1818
Putting in the current milestone because it is embarrassing and because it will likely be confusing to users.

cc @Pomax and @mmmavis - do I need to alert anyone else?

[2016-04-18 20:50] Pomax commented on #1818
I think that covers it - it feels like this is react-router doing the wrong thing with the `https://teach.mozilla.org/?signup=thanks` location

[2016-04-18 20:53] hannahkane commented on #1818
cc @KGorr so she can follow along in case users ask about this

[2016-04-18 20:59] ScottDowne commented on #1808
I can fix

[2016-04-18 21:13] ScottDowne commented on #1808
FIxed in https://github.com/mozilla/teach.mozilla.org/pull/1821

@Pomax or @mmmavis review?

[2016-04-18 21:50] hannahkane opened #1822 "Update Club Captain application"
See Items 2 and 3 on [this doc](https://docs.google.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit)

Needs a little bit of UX thought, but mostly just form field changes.

[2016-04-18 22:01] Pomax commented on #1813
this was caused by the credly model not being in the `INSTALLED_APPS` list in `teach/settings.py`

[2016-04-18 22:01] #1813 closed

[2016-04-18 22:02] Pomax commented on #1769
An email about this has gone out to credly

[2016-04-18 23:10] Pomax opened #1823 "document the teach-api changes"
The new code needs documentation, so people don't get lost in it.

[2016-04-18 23:13] Pomax commented on #1811
We could do a shortlink with a (literal) summary explanation, but given that these are our badges we could also house that information on the teach site itself. In which case, we can present our badges with lots of details on the site, while using the short form on Credly.

Thinking out loud, one thing to consider is that most badges seem to be about "a thing", with a few requirements, so somethin

[2016-04-19 01:17] Pomax commented on #1818
@mavis pretty sure I found the problem, namely that the code that rewrites express `url` paths to react-router `path` properties did not strip #hash and ?query=value stuff. I've fixed that up and filed a PR, can you review?

[2016-04-19 06:26] #1808 closed

[2016-04-19 06:27] #1818 closed

[2016-04-19 17:03] Pomax opened #1825 "make goggles remixes of http websites actually work ("solve mixed content")"
Goggles remixes of `http://` sites currently do not come with  resource proxying or storage, so when the remix loads up on `https://` all the `http://` resources are forbidden without the browser asking the user to load them anyway, thus making the goggles effectively useless for how the world uses it.

We came up with [a stopgap measure](https://github.com/mozilla/goggles.mozilla.org/issues/271)

[2016-04-19 19:19] hannahkane commented on #1668
See https://github.com/MozillaFoundation/plan/issues/687

[2016-04-19 20:02] hannahkane opened #1826 "Marking a Club as approved should trigger an email"
This is a new workflow for us, but it would save time for staff. Currently, @KGorr reviews Club applications and manually send both Approval and Rejection emails to Club Captain applicants.

Let's discuss how we can build a workflow that automates the Approval email at least.

[2016-04-19 21:42] hannahkane commented on #1825
Glad to know there are possibilities, since we have been receiving a lot of questions/confusion about this from the community.

Option 1 sounds ideal from a user perspective, but curious to hear from others about the technical implications. Also - possible to compare the options in terms of relative effort?

[2016-04-19 23:35] #1388 closed

[2016-04-19 23:36] mmmavis commented on #1389
updates:
@sabrinang @kristinashu and I decided to not use all caps for these label text. e.g., "Sample Activity" will stay as what it is and "HOSTED BY" would be "Hosted by" instead.

[2016-04-19 23:40] simonwex commented on #1825
👍 on Option 1, I think asking for some design support to fully exploit the teachable moment as well as offering users the option to switch to https regardless would serve this solution well. – This isn't just an engineering problem, but is also a UX and education issue.

[2016-04-19 23:45] #1389 closed

[2016-04-19 23:53] #1391 closed

[2016-04-20 00:02] mmmavis opened #1827 "Sidebar on /clubs should be in dark blue"
<img width="1000" alt="screen shot 2016-04-19 at 5 00 40 pm" src="https://cloud.githubusercontent.com/assets/2896608/14659371/4b774424-0650-11e6-9d2e-e30e1bbe99c6.png">

but it should use the same shades as what we have for the `/opportunities` page
<img width="334" alt="screen shot 2016-04-19 at 5 01 13 pm" src="https://cloud.githubusercontent.com/assets/2896608/14659376/59e6c642-0650-11e6-9c01-1

[2016-04-20 00:21] mmmavis commented on #1827
this is probably due to `hoc/with-teach-api.jsx` not carrying over properties in `Component's` statics: https://github.com/mozilla/teach.mozilla.org/blob/develop/hoc/with-teach-api.jsx#L38-L44 Properties like `pageClassName` and `pageTitle` etc are missing and hence creates issues.

[2016-04-20 00:25] mmmavis opened #1828 "Shrink figure caption text size"
... cuz I unintentionally made them gigantic

https://teach.mofostaging.net/activities

<img width="500" alt="screen shot 2016-04-19 at 5 23 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/14659762/815b4ee8-0653-11e6-9664-c6a0de2a587c.png">

[2016-04-20 00:34] #1828 closed

[2016-04-20 02:38] kristinashu commented on #1773
We should try to make this page more consistent with the rest of the site anyways. I recommend we try to align with to top part of https://teach.mozilla.org/tools and https://teach.mozilla.org/community
- use the same banner height (maybe use an image instead of the purple pattern)
- instead of the 3 icons and text we should use a large circle icon (place holder icon is in the comp below) and upda

[2016-04-20 03:14] kristinashu commented on #1796
@hannahkane I see the banner now so I think this has been fixed.

[2016-04-20 03:14] #1796 closed

[2016-04-20 03:18] kristinashu commented on #1672
I think this is the same as https://github.com/mozilla/teach.mozilla.org/issues/1812 so closing this one

[2016-04-20 03:18] #1672 closed

[2016-04-20 03:21] kristinashu commented on #1386
This is no longer blocked. We have v1 of a unified color palette https://redpen.io/aq798f74c9a3ad7266

[2016-04-20 03:23] kristinashu commented on #1827
Thanks for filing this!

[2016-04-20 17:01] Pomax commented on #1769
we have received input from Credly on how to effect this, no longer blocked

[2016-04-20 17:02] Pomax commented on #1772
it does, although how we can do this through the Credly website still needs some investigating.

[2016-04-20 17:08] sabrinang commented on #1773
:+1: @kristinashu Yes, I like that idea of using a photo for the hero banner and using the large circle icon with intro paragraph as well to match the other sections.

Also, for the sign in button section we can try to make it look like the existing sections where there is a vertical line that leads to larger centered text and button with the divider beneath (instead of being in between two divide

[2016-04-20 17:12] Pomax opened #1832 "last stretch for badges MVP"
## remaining MVP bits

- [x] add in new user registration on the teach-api side during the "ensure" code path, which needs to call authenticate/register with `is_email_verified=1` in order to bypass sending out a credly email for verifcation purposes. Also for testing purposes the Credly folks recommended we use test with "VERP" emails so pomax+test1@mofo, pomax+test2@mofo, etc, as account deletio

[2016-04-20 17:19] jvallera commented on #1732
still no luck @mmmavis tried through a different browser too.
![screen shot 2016-04-20 at 1 16 50 pm](https://cloud.githubusercontent.com/assets/3729312/14683777/7b6c58c2-06fa-11e6-8e88-31db6e21cb5c.png)

[2016-04-20 17:26] kristinashu commented on #1773
Thanks @sabrinang, good call. I'll work these updates, the circle icon and a background image

[2016-04-20 20:08] mmmavis commented on #1690
Hey @ldecoursy ,

Are we hiding https://hivelearningnetworks.org/resources and its 3 subpages?

- https://hivelearningnetworks.org/resources/at-a-glance/
- https://hivelearningnetworks.org/resources/events/
- https://hivelearningnetworks.org/resources/community/

OR just https://hivelearningnetworks.org/resources ?

[2016-04-20 20:38] ldecoursy commented on #1690
@mmmavis Resources and its 3 subpages please :)

[2016-04-21 00:11] simonwex commented on #1771
I realized I hadn't gotten to this, nor delegated it. I've forwarded the doc to Pomax. If he has any questions, I'm happy to make myself available. – I sent him my cell number.

[2016-04-21 00:15] Pomax commented on #1832
modal styling:
[code]

[2016-04-21 19:43] mmmavis commented on #1690
Done! sorry for the wait.

[2016-04-21 19:43] #1690 closed

[2016-04-21 20:14] xmatthewx commented on #1822
Current form:

<img width="650" alt="screenshot 2016-04-21 16 13 34" src="https://cloud.githubusercontent.com/assets/53411/14722887/0b6461fe-07dc-11e6-9e13-fa3993b7ad63.png">

[2016-04-21 20:17] xmatthewx commented on #1822
Find the happy medium to learn enough info to evaluate potential captain, without asking so much that it overwhelms.

[2016-04-21 22:56] hannahkane opened #1833 "Support Calypso release"
[Kind of a placeholder ticket so we can track this work, even though it exists in other repos. Not sure how to pull it in without pulling in other devops tickets.]

[2016-04-21 22:57] hannahkane opened #1834 "Support DSO prototypes"
[Placeholder ticket since this work is ticketed elsewhere. Ticketing it here so it appears in Boards.]

[2016-04-21 23:01] hannahkane opened #1835 "Share Style Guide"
[Placeholder ticket since this work is ticketed elsewhere. Keeping here as well to keep the Board accurate.]

 - [ ] Share style guide with stakeholders
 - [ ] Small iterations if needed
 - [ ] Get design team to contribute new info

[2016-04-22 17:42] Pomax opened #1836 "Reintroduce a "spider" task"
The PR for badges remove(s/d) the spider test due to the fact that badge pages are 100% dynamic, and cause massive problems for the static content generator, which is a part of the site we're trying to retire at the moment anyway because we're no longer hosting a pure static S3 copy of the site anymore.

One way to bring this back would be to make it run on top of the actual `app.js` server instea

[2016-04-22 20:02] Pomax commented on #1812
this would be because of how React isn't actually "loading a new page" but just swaps in UI content. We might be able to fix this by having `<Sidebar>` links always trigger a `window.scrollTo(0,0)`.

[2016-04-22 20:08] kristinashu commented on #1827
Clubs page is also pulling the banner image from the home page, which isn't right. Wondering if it's related?

[2016-04-22 20:12] Pomax commented on #1797
S3 can be removed, but we can't remove the mention of the static generator until we actually remove those bits of gulp task, and tests, too.

[2016-04-22 20:44] hannahkane opened #1838 "Update Curriculum Workshop page"
@chadsansing @amirad - do you have details about the next Curriculum Workshop yet?

When you have it, drop it here and we'll update the site. Thanks!

[2016-04-22 20:45] hannahkane opened #1839 "Update MLN Community Call page"
@kgorr - when you have details about the next Community Call finalized for the site, please drop them here and we'll update the site. Thanks!

[2016-04-22 21:06] KGorr commented on #1839
@hannahkane - will do!

[2016-04-22 21:10] kristinashu commented on #1773
I've updated the comp with an image and circle icon (taken from TLM since it's no longer around).

@sabrinang two versions below, one with the vertical line and one with the two horizontal lines. What do you think? I know the vertical line is more on brand but I think it maybe looks slightly odd because the sign in copy is so short? But maybe it's ok.

![2x_landing not signed in copy 2](https://cl

[2016-04-22 22:01] Pomax commented on #1771
No real questions for @simonwex, but some questions for @hannahkane  and then some action items we can work on next week:

- [ ] we need a logo image for our credly portal.
- [ ] we probably want a banner image, too. We can have two different ones:
  - one for the login screen
  - one for the moz profile page
- [ ] we need a brief document, or page on MLN that describes our badges program (and isn

[2016-04-22 22:08] hannahkane commented on #1771
Thanks, @Pomax.

cc @anmechung to help with some of the copy requests, and @xmatthewx as a flag for the design/branding-related items.

Let's work on this stuff during the next heartbeat.

[2016-04-22 23:11] anmechung commented on #1771
@pomax @hannahkane I will definitely help with copy requests

[2016-04-25 10:32] chadsansing commented on #1838
Info incoming this afternoon or tomorrow. Thanks, @hannahkane!

[2016-04-25 15:32] hannahkane opened #1840 "Change Gigabit twitter handle"
The Gigabit twitter handle has changed to https://twitter.com/MozGig

There are two places on the gigabit website that reference an older handle. We should change it.

Right hand info box on the [homepage](https://www.mozilla.org/en-US/gigabit/):

![screen shot 2016-04-25 at 8 31 45 am](https://cloud.githubusercontent.com/assets/8389648/14789174/2b38e86a-0ac0-11e6-85da-5b8ee6859519.png)

Bottom of

[2016-04-25 15:32] hannahkane commented on #1840
@mmmavis - possible for you to make this change?

[2016-04-25 16:35] mmmavis commented on #1840
yup yup i'll submit a PR to mozilla.org later today :bowtie:

[2016-04-25 16:42] jenntbeard commented on #1840
Thank you so much!!

[2016-04-25 17:10] mmmavis commented on #1827
good eye! and yup this is related to the failing to apply `pageClassName` to the page

[2016-04-25 20:41] mmmavis commented on #1840
No problem! :wink:

Bugzilla ticket filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1267409
Will have a PR up for this soon.

[2016-04-25 21:01] mmmavis commented on #1840
PR up on https://github.com/mozilla/bedrock/pull/4092

[2016-04-25 21:13] hannahkane commented on #1605
Question about IA: how to handle site sections that have a lot of content like this? Do we have multiple pages? Tabs? Look at other models - e.g. Science site.

Clubs has a lot of content that's not on the site right now.

[2016-04-25 21:27] xmatthewx commented on #1605
Discussion on secondary and tertiary nav here: https://github.com/MozillaFoundation/Design/issues/163

[2016-04-25 21:49] sabrinang commented on #1605
/cc @sabrinang

[2016-04-25 21:49] xmatthewx commented on #1605
As we discussed during kickoff, we'll focus on the checklist items up top. Revised nav and IA will need to wait for a future heartbeat. cc @sabrinang

[2016-04-25 21:49] xmatthewx commented on #1605
😄

[2016-04-25 21:50] sabrinang commented on #1835
related to ticket https://github.com/MozillaFoundation/Design/issues/159

[2016-04-25 22:18] xmatthewx commented on #1771
It'd be helpful to have some screenshots to see where these logos and banners will reside.

If we're creating a credly space specifically for MLN implement (at not for Mozilla at-large), then let's use:
 - Mozilla logo in small spots, Mozilla Learning logotype in banners
 - "Mozilla Learning" as default string
 - If mozilla.credly.com won't raise any concern, I'd favor that. If it does, mozillalea

[2016-04-26 00:20] flukeout opened #1841 "Adjust Curriculum Template design to make it easier to read."
Received some feedback from  a Hive member:

@chadsansing Do you have any extra info on this?
* Do you know which specific curriculum they are referring to?
* What do you think they mean by a UI piece for teachers?

[2016-04-26 10:14] chadsansing commented on #1841
@flukeout, this is in response to JS activities under development that use the curriculum template.

E.g. http://chadsansing.github.io/curriculum-testing/intermediate-web-lit-two/session01-buttons-and-alerts.html#overview

I think the UI piece means using some indicator to chunk and break up text whenever possible, like between a paragraph and list. Let's ask. I'll ship the thread to the Hive memb

[2016-04-26 13:26] KGorr commented on #1839
Here is the video embed code

`<iframe width="560" height="315" src="//www.youtube.com/embed/LlEXY8NKxoY" frameborder="0" allowfullscreen></iframe>` (I figured it out @flukeout!!!!!!!!) Ha!

Here is the etherpad: https://public.etherpad-mozilla.org/p/mozcommunitycallMay16

Should have the page copy sometime this week. Thanks!

[2016-04-26 14:23] Animaltinez commented on #1841
@flukeout @chadsansing I think Chad described what I was thinking pretty well. Teachers, like all people, don't read, they skim, especially if they are in a workshop and have to follow this like a guide.

My comment could also have read: "Please increase overall read-ability"

Does that help?

[2016-04-26 16:38] hannahkane commented on #1839
Adding the blocked label just to note we're blocked on copy, but no rush on our end @KGorr.

[2016-04-27 04:46] mmmavis opened #1842 "Set up a Heroku instance with CMS hook enabled"
CMS hook is currently disabled on the staging site https://teach.mofostaging.net/ and production site https://teach.mozilla.org/ . The reason is because we don't want any test WordPress pages to unintentionally show on the production site.

To allow stakeholders to try out the publish flow, we should
1. create a new branch `cms-enabled` on this repo
2. set up a Heroku instance based on `cms-enable

[2016-04-27 05:38] sabrinang commented on #1822
I have taken a pass at adapting the copy in the form format (pages 8-10 of the New CC application flow doc): https://docs.google.com/a/mozilla.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit?usp=sharing

<img width="1085" alt="screen shot 2016-04-26 at 10 26 17 pm" src="https://cloud.githubusercontent.com/assets/2492510/14842625/ed7c19f4-0bfd-11e6-9628-cfb93c4e831f.png">

@amirad

[2016-04-27 05:47] mmmavis commented on #1842
Heroku instance with CMS hook enabled: http://teach-cms-enabled.herokuapp.com :tada:

Note that due to the way our site is built and `react-router`, it's kinda hard to have 404 page include the sidebar (cc @Pomax ). The best I can make do for now looks like [this](http://teach-cms-enabled.herokuapp.com/not-found).

/cc @hannahkane

[2016-04-27 16:25] xmatthewx commented on #1822
Nicely done @sabrinang. The two-step process feels very approachable.

[2016-04-27 19:41] amirad commented on #1822
Agree! love the two step process.

[2016-04-27 21:22] KGorr commented on #1839
@hannahkane, here is the page content:

**"Upcoming Call" box content:**

May 25: 11am HADT/ 1pm PT/ 4pm ET/ 8pm GMT/ 10pm SAST
Gigabit
Featured speakers: Caleb Bagby, teacher at Red Bank High School in Chattanooga, Chad Sansing, Curriculum Developer and Web Literacy for Mozilla, and Rebecca Dove and Quest Taylor, who are working together on an artificial intelligence literacy application called P

[2016-04-27 23:05] hannahkane commented on #1839
Thanks, @KGorr!

@mmmavis - I'm wondering if you think this is something I could do. My guess is that I would copy the content of /community-call-march-23.jsx into a new file and replace the relevant content with the most recent info. Then I would update /community-call.jsx with the newest info and add a link to the new page at the bottom.

If it's as straightforward as that, should I give it a tr

[2016-04-28 06:05] mmmavis commented on #1730
ummm I don't think so.

I think we can probably start inviting people to go on https://mofo-calypso-test.herokuapp.com/authorize, post some test pages, and check the rendered pages on http://teach-cms-enabled.herokuapp.com/ Note that we haven't added in the Preview feature, but it's [WIP](https://github.com/mozilla/wp-calypso/pull/43) for progress

[2016-04-28 16:05] flukeout commented on #1839
GO HANNAH!!!!!

Yeah, that's pretty much it. You also have to update an entry in the ``routes`` file - that's what tells the server which page to show depending on the URL.

Here is the last PR related to the changes, there are a bunch of CSS changes you can ignore, but you'll see the ``routes.jsx`` pages there.
https://github.com/mozilla/teach.mozilla.org/pull/1804/files

Lastly, you'll need to c

[2016-04-28 16:10] hannahkane commented on #1822
Want to flag @carotejada to make sure this works for her as well.

[2016-04-28 16:19] hannahkane commented on #1839
thanks for the additional info, @flukeout. I'll give this a try and let you know if I run into trouble. Thank you!!!

[2016-04-28 16:26] Carotejada commented on #1822
Thanks @hannahkane!

@sabrinang LOVE it!!!!

[2016-04-28 17:47] flukeout commented on #1841
Sure, thanks! I think there are two ways to do this...

* Changes to the design like making the base font darker and easier to read.
* Content changes that reduce the amount of text and introduce more bullets and lists

I'll focus on the first for now and let @chadsansing mull on the second.

I also noticed that the way we're structuring the headings is pretty hard to read...

![image](https://clo

[2016-04-28 17:58] chadsansing commented on #1841
Awesome, @flukeout. I agree that content is part of the issue here. Hopefully, as more curriculum gets used, we'll get more feedback and can better balance the amount of text against users' desire to have things broken down.

In the meantime, @Animaltinez, I assure you the intent here is to provide detailed lesson plans for participatory activities - we would run these activities live at web liter

[2016-04-28 18:04] hannahkane opened #1845 "[May 4] Design print ad for Gigabit City Summit program"
From @jenntbeard:

We just received a request for a 1/4-page ad for the printed agenda/program that comes with our Gigabit City Summit sponsorship. The ad should be 3.875" x 5" and full color.

Lindsey suggested that we might be able to repurpose the art that was used for the RFP with a call to action to about our next two Mozilla Gigabit cities.

Potential copy (with logo attached):
Two new Mozil

[2016-04-28 18:04] hannahkane commented on #1845
@sabrinang - as discussed at stand, can we put this on your plate this heartbeat?

[2016-04-28 18:26] Animaltinez commented on #1841
@chadsansing , this:

_What cues could we use to help hook educators and get them to go from skimming to reading while looking for classroom materials?_

...is a very interesting question that is a great example of a topic for an event Sprout is working on with MLN to discuss “Sustained Engagement/Engagement & Sustainability” .

I don’t have much detail on that just now, but this is helpful to naw

[2016-04-28 20:15] sabrinang commented on #1822
I scheduled a review session with @amirad  @Carotejada @Pomax  to go over form content and structure.

Amira and Carolina - we can continue iterating copy and content on the same google doc: (pages 8-10 of the New CC application flow doc): https://docs.google.com/a/mozilla.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit?usp=sharing and inform Pomax of our plans so he can flag any

[2016-04-28 20:25] sabrinang commented on #1845
@hannahkane Yup, I'll take this on this heartbeat

[2016-04-28 21:08] jenntbeard commented on #1845
@sabrinang Do you need me to upload the Mozilla Gigabit logo or provide any other info? Thanks for taking this on!

[2016-04-28 21:22] kristinashu commented on #1773
@Pomax here is the updated comp https://redpen.io/xz6664fcf5a9f4819f

Banner image and circle icon svg are here:
[updates.zip](https://github.com/mozilla/teach.mozilla.org/files/241468/updates.zip)

Are you good to implement this? Let me know if you need anything else or have any questions.

[2016-04-29 16:46] flukeout commented on #1841
First, some updates to the overview page...

* New styling for ``Activity 1 of 8``
* New styling for Description paragraph
* New styling for Web & 21C skills
  * This matches how we present them on the Web Lit map pages
* New treatment for module names above title

![image](https://cloud.githubusercontent.com/assets/25212/14922877/f1e90518-0dee-11e6-998a-e218618c42f7.png)

cc @chadsansing

Coming

[2016-04-29 18:18] flukeout commented on #1841
Some fancy list treatments...

![image](https://cloud.githubusercontent.com/assets/25212/14925403/1b715c20-0dfc-11e6-98e1-f132897b488d.png)

[2016-04-29 18:21] flukeout commented on #1841
Title treatment once you're viewing the steps of an activity...

![image](https://cloud.githubusercontent.com/assets/25212/14925465/69596860-0dfc-11e6-9a30-ec32b1da6703.png)

@chadsansing Will these (like Intermediate Web Literacy II) link somewhere?

[2016-04-29 18:44] chadsansing commented on #1841
@flukeout - I love how this is coming along. Let's try to link the module title (e.g. "Intermediate Web Literacy II") back to the module index page of off /activities. This module is almost live, but not quite yet, so the link in this case is forthcoming.

[2016-04-29 19:02] hannahkane opened #1847 "Infrastructure for localizing Web Lit Map"
We've had a handful of people ask about localizing the Web Lit Map, and @soapdog has reported that the lack of localization is a significant blocker for adoption and use.

Wondering about the work and effort required to set up a process for engaging translators in this work.

Thoughts? @Pomax @ScottDowne

[2016-04-29 19:03] hannahkane commented on #1847
cc @KGorr @anmechung @amirad @ldecoursy  - because they all interact with people who might be interested in localizing this content

[2016-04-29 19:03] hannahkane commented on #1847
cc @simonwex

[2016-04-29 19:48] ScottDowne commented on #1847
Is any of teach localized?

[2016-04-29 19:57] hannahkane commented on #1847
Nope, not yet.

[2016-04-29 20:54] amirad commented on #1847
+1 to @soapdog and the deep need for localized content for our mutli-lingual clubs. Web Lit is a good place to start but overall teach site and curriculum are biggest blockers.

[2016-04-29 21:04] hannahkane commented on #1847
@amirad  - what other content on the Teach site should we focus on localizing? The Clubs page and Captain application flow? (Are we able to provide multi-lingual support for Club Captains?)

[2016-04-29 21:13] ScottDowne commented on #1847
There is some heavy dev lifting that has to happen to make the site localizable, before we can start using localized content. That doesn't get harder or easier based on the number of things we want to localize, it's a one time cost though.

The url needs to support the `/en-US/` value in it, it needs to enable strings to be swapped out based on the locale value in the url, we need to filter out su

[2016-04-29 21:16] ScottDowne commented on #1847
I also want to point out once the site has the foundation for localization, actually plugging in content and getting it translated in something like pontoon is actually a fairly painless and quick process compared to laying the foundation.

As an example, in donate, a whole new language can be enabled for the whole site in a day or two. Teach is probably a few multiples larger than donate, thought

[2016-04-29 21:28] hannahkane commented on #1847
Thanks, @ScottDowne. This information is helpful (and, just to clarify, I'd hoped this ticket would be about assessing the work, not *doing* the work).

Was wondering if there's anything particular to the Web Lit Map that would affect localization. Given that it's an interactive visualization, I just wondered if there were extra considerations (separate from the baseline infrastructure we need to

[2016-04-29 21:34] ScottDowne commented on #1847
I don't see any obvious reasons why the weblit map would be harder to translate than any  other static content. The third party content is probably a tricky issue. It'll take more time that's for sure. Before you get there, it'll be partially translated which can be frustrating.

Might help to know (but on a smaller scale), donate in German isn't linking out to a German version for all third party

[2016-04-29 22:13] hannahkane opened #1849 "Design review of Club Captain training certificate"
Upon completion of the Club Captain training module, successful participants will receive a certificate.

@Carotejada has a version of the certificate ready to go, but it needs a design review (it was created back when we were using a fox image that we no longer want to use).

https://www.dropbox.com/s/tqxxqi7f81isxcb/certificate.ai?dl=0

[2016-04-29 22:14] hannahkane commented on #1849
Tentatively putting in the current milestone, but pending availability of @sabrinang or @flukeout

[2016-04-29 22:15] flukeout commented on #1841
**Cover page**

![image](https://cloud.githubusercontent.com/assets/25212/14931027/27233662-0e1d-11e6-9a9a-5058cb146f2c.png)

**On Subsequent pages**

![image](https://cloud.githubusercontent.com/assets/25212/14931035/34c52532-0e1d-11e6-95af-8e3bb2b30c07.png)

**Next-up treatment**

![image](https://cloud.githubusercontent.com/assets/25212/14931037/406e13c6-0e1d-11e6-9e16-a4041334dc02.png)

[2016-04-29 22:18] flukeout commented on #1841
The big to do is to figure out the problem with the image not scrolling with the side-nav.

[2016-04-29 23:09] hannahkane commented on #1801
@soapdog - just curious if you've made any progress on this. Do you need any support?

[2016-04-30 00:01] mmmavis commented on #1840
changes are live! https://www.mozilla.org/gigabit and https://www.mozilla.org/gigabit/apply! :tada:

[2016-04-30 00:01] #1840 closed

[2016-04-30 00:45] sabrinang commented on #1822
We reviewed content and tech requirements. The text has been revised on [google doc](https://docs.google.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit) and design revised on [redpen](https://redpen.io/p/he4d93fc5a7a4e6b0b).

Ready for design review on Mondays critique.

[2016-05-02 10:32] chadsansing commented on #1841
Keep it rollin', @flukeout.

[2016-05-02 14:02] soapdog commented on #1801
I think I will need support on this one. Let me post what I have and where I am facing difficulties and then we can see how can you help. 🐹

[2016-05-02 15:44] hannahkane commented on #1801
OK, let me know. :)

[2016-05-02 17:12] sabrinang commented on #1845
@jenntbeard I made some iterations with the potential copy seen on this issue. Redpen here: https://redpen.io/p/um5d47a6424ad92c01

Let me know if this copy is finalized and if there are any other visual preferences or considerations for this ad

[2016-05-02 17:48] hannahkane commented on #1845
This looks great, @sabrinang.

I'm finding the grammar slightly awkward, but I think it's a subjective thing. @jenntbeard - what do you think about "Two new Mozilla Gigabit cities are coming in 2017. One could be yours." ?

[2016-05-02 17:52] jenntbeard commented on #1845
@hannahkane I had a drafted comment to change that to exactly that wording, thank you. Our team is voting on design choice now and I should have that within the next 30 minutes. Thank you all!

[2016-05-02 17:58] sabrinang commented on #1845
We are design critiquing now and we like idea 1 best for its simplicity (so it doesn't overshadow the message) and most suitable for printing purposes

[2016-05-02 18:08] jenntbeard commented on #1845
Great, we all like #1 as well with the copy change to "One could be yours".

[2016-05-02 19:39] flukeout opened #1850 "Review curriculum template design changes."
I made quite a few updates to the curriculum template...
http://flukeout.github.io/curriculum-testing/intermediate-web-lit-two-updates/session01-buttons-and-alerts.html#overview

* Header styling
  * Treatment of modules & submodules
* Treatment of activity progress, ex ``Activity 1 of 8``
* Treatment of activity summary
* Treatment of 21C skills & Web Lit skills
  * No more "tags" - just links
*

[2016-05-02 19:39] #1841 closed

[2016-05-02 19:39] flukeout commented on #1841
Closing and starting #1850 where we review the changes and continue the discussion.

[2016-05-02 20:07] hannahkane commented on #1825
@Pomax - is this ticket closeable?

[2016-05-02 20:38] Pomax commented on #1775
I completely missed this issue - backspace as far as I'm aware does not do any element deletion, just text deletion in the edit box when you click on a part of the page.

[2016-05-02 20:41] cadecairos commented on #1825
I believe it is.

There's one more issue to wrap up re: linking to broken https links of remixes in the goggles info bar (as a learning opportunity) - https://github.com/mozilla/goggles.mozilla.org/issues/293

[2016-05-02 20:45] hannahkane commented on #1825
w00t. closing this one then. thanks, @cadecairos

[2016-05-02 20:45] #1825 closed

[2016-05-02 21:57] hannahkane opened #1851 "If I log in via the Club Captain application workflow, I don't get routed back to the application"
STR:
 * Go to teach.mozilla.org/clubs
 * Log out if you're authenticated
 * Click "Apply to Be a Club Captain" button
 * Click "LOG IN"
 * Complete the login process on id.webmaker.org
 * You are routed back to teach.mozilla.org, rather than teach.mozilla.org/clubs, with the application form active

[2016-05-02 22:07] sabrinang commented on #1845
Thanks for all the feedback! The design has been revised:
- increased contrast of orange to white and font weight to help with legibility for print
- new copy for the last line "One could be yours"

The updated repen here: https://redpen.io/so78780de139673fbb
Exported (.jpg .png .pdf with and without 0.125" bleed) to google drive here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCp

[2016-05-02 22:20] jenntbeard commented on #1845
@sabrinang @hannahkane This is fabulous, thank you so much for pulling this together so quickly, it looks great!

[2016-05-02 22:22] sabrinang commented on #1775
Thanks Pomax, I have excluded the backspace as an element deletion shortcut on this sheet.
@ldecoursy Please review on redpen here: https://redpen.io/owf9f6ab2a2cdf269b

If there are any other changes let me know. If it is good to go the files are exported to google drive (.png .jpg .pdf) here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eYU94eFBja29sX3c&usp=sharing

[2016-05-02 22:22] hannahkane commented on #1845
Nice work, @sabrinang! Closing. :)

[2016-05-02 22:22] #1845 closed

[2016-05-03 00:08] #1839 closed

[2016-05-03 00:25] #1838 closed

[2016-05-03 11:35] chadsansing commented on #1850
The color-blocking on lists of instructions, sequencing, and timing works for me. I do think we should color-block lists as a matter of course. Let's just color-block ol items for instructions - I think most ul lists are short enough to go without the treatment.

I also like the lighter-touch linked treatment of the web literacy skills and 21st C skills.

Can we test styling the code tag with the

[2016-05-03 16:56] Pomax commented on #1713
File attachments are still nerfed, based on the PR review

[2016-05-03 17:09] #1812 closed

[2016-05-03 17:10] hannahkane commented on #1826
We are unlikely to get to this this heartbeat, given the found work around badges. Moving to next heartbeat.

[2016-05-03 17:12] hannahkane commented on #1833
Closing this, as it seems add'l support wasn't needed.

[2016-05-03 17:12] #1833 closed

[2016-05-03 18:04] flukeout commented on #1850
**I updated some styling**
* Code tag now has the pink treament
* Added some borders between 'regular' list items too

I think we should still have the option to include both of the list types, just depends how we structure the classnames. We could make it so that...
* The fancy pink list is the default
* The plain lists need a ``class='plain'``

Your call @chadsansing

[2016-05-03 19:35] chadsansing commented on #1850
@flukeout - yes to the options.

[2016-05-03 21:25] Pomax commented on #1773
This looks pretty good as a redpen, but implement on the page actually forces users to scroll to see badges, which feels like content they should be immediately confronted with.

![screenshot 269](https://cloud.githubusercontent.com/assets/177243/14998879/db125a98-113a-11e6-8acd-f04a5f8806c0.png)

[2016-05-03 22:22] #1466 closed

[2016-05-03 22:22] #1467 closed

[2016-05-03 22:22] #1488 closed

[2016-05-03 22:22] #1519 closed

[2016-05-04 01:05] sabrinang commented on #1822
Revised repen https://redpen.io/p/he4d93fc5a7a4e6b0b with feedback and made form full width to provide more space, be directly linkable (if we give it its own URL), avoids issue of users losing form progress if they click outside modal accidentally and looking closer like a [unify form field design](https://github.com/MozillaFoundation/Design/issues/165)
<img width="1338" alt="screen shot 2016-05-

[2016-05-04 15:33] kristinashu commented on #1773
This is how a lot of pages on the site are and I wouldn't worried about 'the fold'. Research shows the fold is less and less important and people will scroll down a page.

[2016-05-04 15:50] mcdermott415 opened #1852 "Sponsorship Ad for Allied Media Conference Brochure"
Dear MoFo Designers,

Mozilla is a sponsor for the 2016 Allied Media Conference.
By this Friday, May 6th, we need:

    Full page ad: 7.5" x 7.5"
    300dpi, photoshop, illustrator, PDF or tiff preferred. No Word documents.
    All ads are black and white.

With the Mozilla Logo, we want this text:
Mozilla is proud to sponsor the 2016 Allied Media Conference
Let's stand up for the open web togethe

[2016-05-04 16:38] hannahkane opened #1853 "Build page for Intermediate Web Literacy II: Storytelling with Scripts"
Content is here: https://docs.google.com/document/d/1oNXBYCgZw0AJbiK_FGYTDRVpqMBz0UiPi0yCCYbYdSc/edit?ts=572a1fe8

[2016-05-04 16:45] hannahkane commented on #1822
+1 for unification!
@sabrinang - does this need to go through another design review, or is it ready for implementation?

[2016-05-04 16:49] Carotejada commented on #1822
@hannahkane @sabrinang This is great :)

[2016-05-04 16:54] Pomax commented on #1773
can do.

[2016-05-04 17:55] sabrinang commented on #1822
@kristinashu R? on full page form redpens: https://redpen.io/cg7a422f47a656dd0e

[2016-05-04 19:42] kristinashu commented on #1822
Looks great @sabrinang! I much prefer the full page layout. Just made a couple notes about the progress bar and making required fields, but they're just things to consider.

[2016-05-04 20:03] hannahkane commented on #1852
As discussed, given the tight timeline and already full heartbeat we're in the midst of, we're not going to be able to do this. Closing this ticket, but noting that we might add "ad template" to the list of templates we make available for staff use. cc @sabrinang @kristinashu

Thanks, @mcdermott415, for filing the ticket, and for your understanding!

[2016-05-04 20:03] #1852 closed

[2016-05-04 20:15] hannahkane commented on #1849
Moving this to May 20 milestone bc we're not going to get to it this heartbeat.

[2016-05-04 20:25] hannahkane commented on #1775
@ldecoursy - does this work for you? Can we close?

[2016-05-04 22:17] mcdermott415 commented on #1852
Thanks Hannah, and all for helping me understand the process! Good luck
getting through the crunch.

On Wednesday, May 4, 2016, hannahkane <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-05-04 22:20] kristinashu commented on #1616
Closing this ticket. These issues will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/163

[2016-05-04 22:20] #1616 closed

[2016-05-04 22:23] kristinashu commented on #1395
Closing this ticket. This is a general need on most MoFo sites and will be covered in the MoFo Unified Design tickets.

[2016-05-04 22:23] #1395 closed

[2016-05-04 22:40] kristinashu commented on #1390
Closing this since it will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/172

[2016-05-04 22:40] #1390 closed

[2016-05-04 22:41] ldecoursy commented on #1775
It does! Thanks all! Should we add a link to the SUMO page for Goggles?

[2016-05-04 22:44] ldecoursy opened #1854 "Replace link to X-Ray Goggles Cheat Sheet in Hack the News activity"
We have an updated X-Ray Goggles cheat sheet (activity and printer-ready PDF): https://thimbleprojects.org/mozillalearning/48435/

Can someone help update the link on the nav in this Hack the News activity (it's linked from the web lit map and also part of Web Lit Basics I module): https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html

[2016-05-04 22:45] kristinashu commented on #1387
Closing this ticket since colors and their applications will be covered by the Unified MoFo Design ticket https://github.com/MozillaFoundation/Design/issues/173

[2016-05-04 22:45] #1387 closed

[2016-05-04 22:47] kristinashu commented on #1386
Closing this ticket since colors will be covered by the Unified MoFo Design ticket https://github.com/MozillaFoundation/Design/issues/173

[2016-05-04 22:47] #1386 closed

[2016-05-04 22:48] kristinashu commented on #1381
@sabrinang is this done and/or will it be covered by the user guide?

[2016-05-04 22:52] xmatthewx commented on #1822
R+! Added a redpen comment or two, but nothing critical. Nicely done.

[2016-05-04 22:55] kristinashu commented on #1369
Closing this ticket. These issues will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/174

[2016-05-04 22:55] kristinashu commented on #1367
Closing this ticket. These issues will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/174

[2016-05-04 22:55] #1367 closed

[2016-05-04 22:55] #1369 closed

[2016-05-04 23:05] kristinashu opened #1855 "Update Learning blog URL"
The url http://blog.webmaker.org/ isn't reflective of the current brand. We should update it. Perhaps to http://learning.mozilla.org/blog

Although the blog is not currently a sub page of learning.mozilla.org we should think about eventually adding it. Updating the URL could be first step.

Styling of the blog is covered in https://github.com/MozillaFoundation/plan/issues/687

cc @hannahkane @sabr

[2016-05-04 23:07] kristinashu commented on #1668
Closing this ticket.

Blog design work is represented in MozillaFoundation/plan#687

Cringy URL is covered in https://github.com/mozilla/teach.mozilla.org/issues/1855

[2016-05-04 23:07] #1668 closed

[2016-05-04 23:12] kristinashu commented on #1598
Closing this ticket. These issues will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/163

[2016-05-04 23:12] #1598 closed

[2016-05-04 23:17] kristinashu commented on #1337
Guessing we can close this

[2016-05-05 16:55] kristinashu commented on #1392
Closing this ticket. These issues will be covered by the MoFo Unified Design ticket https://github.com/MozillaFoundation/Design/issues/175

[2016-05-05 16:55] #1392 closed

[2016-05-05 17:01] kristinashu commented on #1381
@sabrinang made a basic guide here https://github.com/mozilla/teach.mozilla.org/wiki/Photography
I think this is great! Sabrina, please feel free to close if you're happy with it.

[2016-05-05 17:36] hannahkane commented on #1854
Donezo.

[2016-05-05 17:36] #1854 closed

[2016-05-05 18:20] simonwex commented on #1826
Hey @Pomax, if you've got questions about django & email, @cadecairos was playing with some of this yesterday.

[2016-05-05 20:28] mmmavis commented on #1630
/cc @mmmavis

[2016-05-05 20:35] sabrinang commented on #1822
Thank you for reviewing! I have updated spacing for the subhead and streamlined the progress bar. I will file a new issue for implementation.

[2016-05-05 20:35] #1822 closed

[2016-05-05 20:36] sabrinang opened #1857 "Implement update to Club Captain application form"
The design has been reviewed and finalized on https://github.com/mozilla/teach.mozilla.org/issues/1822 and the redpen mockups for the full width form can be found here: https://redpen.io/p/he4d93fc5a7a4e6b0b

Form copy on page 8, 9 & 10 of https://docs.google.com/document/d/1Ds_uAJvuYa0ACLWmQfUukRHAyX5Stj_8AXGlPjTDW3Q/edit
<img width="1284" alt="screen shot 2016-05-05 at 1 33 20 pm" src="https://c

[2016-05-05 21:37] sabrinang commented on #1605
Just chatted with @Carotejada about Clubs content https://docs.google.com/document/d/1qf2OOnUqyVjqXU0ivs1RiCGNNf6J8IuKM2AE8U8__as/edit?ts=572a40e4 and there is quite a bit to sift through and get in shape before jumping into design updates. I will work through the doc and propose content/copy structure to get that in place first before proceeding.

[2016-05-05 22:51] hannahkane commented on #1775
@ldecoursy - can you clarify? Are you suggesting we add a question to the Goggles section of SUMO that includes a reference to the Cheat Sheet? I think that's a good idea, but just want to confirm that's what you meant.

[2016-05-06 00:30] Pomax commented on #1337
technically, but I'd like to keep it open (without the design label) until the badge PR has landed, since testing the PR requires being able to refer back to the redpens.

[2016-05-06 00:34] Pomax opened #1858 "put the badge work behind a feature flag (env-controlled) so that we can land the PR"
Using an `env` feature flag like `ENABLE_BADGES` to turn on the "credentials" sidebar option, and the /badges and /badge/... routes in the `router.jsx` file, will allow us to merge the badges PR into the main codebase without running the risk of prematurely exposing our users to functionality that we want to stage test for a while first.

[2016-05-06 13:35] ldecoursy commented on #1775
Yep, will close this and file separate ticket.

[2016-05-06 13:35] #1775 closed

[2016-05-06 13:37] ldecoursy opened #1859 "Add Goggles printable cheat sheet to SUMO"
Per #1775

Can we add a question to the [X-Ray Goggles SUMO page ](https://support.mozilla.org/en-US/products/webmaker/x-ray-goggles) along the lines of: Do you offer a tip sheet with X-Ray Goggles shortcuts that I can print for an event?

[2016-05-06 18:05] #1773 closed

[2016-05-06 18:05] #1777 closed

[2016-05-06 18:05] #1809 closed

[2016-05-06 18:05] #1823 closed

[2016-05-06 18:05] #1832 closed

[2016-05-06 18:05] #1192 closed

[2016-05-06 18:05] #1337 closed

[2016-05-06 18:05] #1704 closed

[2016-05-06 18:05] #1709 closed

[2016-05-06 18:05] #1711 closed

[2016-05-06 18:05] #1712 closed

[2016-05-06 18:05] #1713 closed

[2016-05-06 18:05] #1714 closed

[2016-05-06 18:05] #1717 closed

[2016-05-06 18:05] #1718 closed

[2016-05-06 18:05] #1719 closed

[2016-05-06 18:05] #1720 closed

[2016-05-06 18:05] #1721 closed

[2016-05-06 18:05] #1722 closed

[2016-05-06 18:05] #1769 closed

[2016-05-06 18:05] #1770 closed

[2016-05-06 18:06] Pomax commented on #1724
migrated to https://github.com/mozilla/teach-api/issues/37

[2016-05-06 18:06] #1724 closed

[2016-05-06 18:06] Pomax commented on #1858
closed with https://github.com/mozilla/teach.mozilla.org/pull/1830

[2016-05-06 18:06] #1858 closed

[2016-05-06 18:07] Pomax commented on #1810
marking this as a P2, as it doesn't seem to take all that long to load in production (vs local testing). It's something we can address when users flag it as inconvenient.

[2016-05-06 18:13] Pomax commented on #1771
@xmatthewx I've forwarded you the setup document that comes with screenshots that illustrate where all our branding would end up, and how many screens are involved. I'd attach it to this issue except as an enterprise setup document I'm pretty sure I'm not at liberty to make it freely accessible =)

[2016-05-06 18:15] Pomax commented on #1811
marking as blocked by https://github.com/mozilla/teach.mozilla.org/issues/1771 in terms of the "real" badges.

For staging, this issue should not be blocked.

[2016-05-06 20:16] davidascher opened #1860 "Change WORDPRESS_SITE_URL to WORDPRESS_DOMAIN"
Specifically, it should be set to something like `domain.wordpress.com`, not `http://domain.wordpress.com`

[2016-05-06 20:16] davidascher opened #1861 "Make npm start run app.js"
Instructions say to use `npm start` but that doesn't actually run the full server, including the wordpress magical bits.  `npm run app` does, but may as well make `npm start` 'do the right thing'.

[2016-05-06 20:22] anmechung commented on #1811
Thinking out aloud - should there be a way of letting people keep track of which requirements/competencies they have added evidence for? And when they have all the evidence in place for the badge alerting us that all the evidence is ready to review?  Or should they not upload all the evidence until they are ready to have the badge assessed and awarded?

[2016-05-06 20:28] hannahkane commented on #1859
Done: http://mzl.la/1VN2n87

[2016-05-06 20:28] #1859 closed

[2016-05-06 21:12] Pomax commented on #1861
fixed as per https://github.com/mozilla/teach.mozilla.org/commit/c9c9200b82bd8b243c56d7c7bde3488faf1701fd

[2016-05-06 21:12] #1861 closed

[2016-05-06 21:17] mmmavis commented on #1860
yup that makes sense

[2016-05-06 22:25] mmmavis opened #1863 "CMS related, what's the plan to avoid the flash of unrendered content"
Currently if you visit a WP-powered page (for example, [this](http://teach-cms-enabled.herokuapp.com/3-column)) you will see a "loading" message while we are fetching data from WordPress.  @davidascher raised a good point that this breaks the illusion that this is a static website.

I'm filing this ticket so we can track our discussion. What are the way to narrow the gaps between WP-powered pages

[2016-05-06 22:27] hannahkane commented on #1834
Rolling to May 20 since this is ongoing

[2016-05-09 18:36] chadsansing opened #1864 "Change the blurb at the top of the Mozilla Curriculum Workshop landing page"
On the [MCW landing page](https://learning.mozilla.org/community/curriculum-workshop/), change

to

Sound right, @KGorr?

[2016-05-09 18:56] hannahkane commented on #1864
Also on archived pages

[2016-05-09 19:52] hannahkane commented on #1835
@sabrinang - is it useful to have this ticket? I'm thinking the ticket in the Design repo will suffice.

[2016-05-09 19:53] hannahkane commented on #1815
rolling into next heartbeat, blocked on data collection

[2016-05-09 20:05] KGorr commented on #1864
+1

[2016-05-09 20:11] hannahkane commented on #1732
@mmmavis - do you have an update on this ticket?

[2016-05-09 20:19] simonwex commented on #1732
I think this is blocked on https://github.com/MozillaFoundation/mofo-devops/issues/299 which should be resolved today.

[2016-05-09 21:21] KGorr opened #1865 "Request for Hi-res Web Literacy Map file [for print]"
We received this request from a web/print shop manager at Central Valley School District.

"I have a teacher/librarian who would like to print your Web Literacy wheel as a 24x36 poster to hang in the school library. Do we have permission to do that – and if so, do you have it a file format that will print well at that size?"

Any help is appreciated!

[2016-05-09 21:29] davidascher commented on #1863
I'll state an ideal scenario from my PoV:

A central endpoint finds out of any new or changed slugs from wordpress, based on (ideally) push signals and worse case scenario based on periodic pinging, and the rendering is done based on a non-WP-hosted API endpoint but an S3/cloudfront endpoint that we can optimize.  AKA: Pre-populate the cache, and invalidate on author edit based on wordpress signal

[2016-05-09 21:40] jgmac1106 commented on #1865
Be pretty cool if it was an interactive pop up. Like if she could assemble
it so the skills.....I mean competencies....pull out from behind the
competencies...oops skills.

Snark aside, a printable puzzle would be a nifty idea.

On Mon, May 9, 2016 at 5:21 PM Kristina Gorr <notifications@github.com>
wrote:

[2016-05-09 21:46] hannahkane commented on #1865
That is a cool idea, @jgmac1106, but we likely don't have the capacity to prioritize it right now, unless a community member wants to volunteer for it.

@sabrinang - could we provide a high res version of the map for printing?

[2016-05-09 21:51] jgmac1106 commented on #1865
Yeah but even a static will take some design resources as the competencies
don't show up unless you click on the skill...or you just print the circle
of skills.

@hannahkane might be something to throw to the design community group that
was spun up. Not sure if that is still a thing.

On Mon, May 9, 2016 at 5:46 PM hannahkane <notifications@github.com> wrote:

[2016-05-09 22:21] hannahkane commented on #1865
That's a good clarifying question for the requester. @KGorr—do you know if they were expecting to see all of the competencies as part of the poster?

I don't know much about the design community group. Will flag for @xmatthewx when he returns from PTO.

[2016-05-09 22:36] KGorr commented on #1865
Very good question. I just responded to the requester and will let you know what I find out.

[2016-05-09 22:44] KGorr commented on #1865
That was a fast response....she just wants what is in this screenshot.
![screen-shot-2016-04-04-at-4 12 34-pm-600x317](https://cloud.githubusercontent.com/assets/14793388/15130376/c93ec5ec-15fc-11e6-9bfc-02df63a46955.png)

[2016-05-10 01:03] sabrinang commented on #1605
The idea is to structure the clubs page content into 3 tabs (redpen here: https://redpen.io/hud7ccb99dcec62232).
- Tab 1 is for about Mozilla Clubs content (revising what we have live now)
- Tab 2 is for about club captain and regional coordinator content (the page that Amira is working on?)
- Tab 3 is for Mozilla Club resources content (surfacing spreadsheet content: https://docs.google.com/sprea

[2016-05-10 18:52] flukeout commented on #1850
@chadsansing How are we doing in this ticket here, I've lost track a bit. We now have two ways to do list styling, regular and ``.fancy`` - can you review the changes within the link I posted in the first comment and let me know if there is additional work to be done?

[2016-05-10 19:18] chadsansing commented on #1850
I'll test on a lesson, ask for feedback from @Animaltinez, and we can go from there with new work or closing. Sound right, @flukeout?

[2016-05-10 21:42] sabrinang commented on #1605
Update: @Carotejada and I went over the [google doc](https://docs.google.com/document/d/1qf2OOnUqyVjqXU0ivs1RiCGNNf6J8IuKM2AE8U8__as/edit?ts=572a40e4#heading=h.de39mw1rebuv) and the proposed structure is shaping up.

Next steps for @Carotejada is to go over doc and fill in missing content and mentioned that @KGorr may be able to assist here too.

Next steps for me is to create:
- images of an over

[2016-05-10 21:46] hannahkane commented on #1850
Just a note: once this template is finalized, we should do a few things:
 - [ ] put a final template into a new Mozilla-owned repo
 - [ ] migrate existing "official" curriculum to that template and that repo
 - [ ] have a conversation with @soapdog about migrating already-localized content to the new template

[2016-05-10 22:06] hannahkane commented on #1605
Thanks, @sabrinang and @carotejada.

Flagging @simonwex because this work is surfacing a lot of similarities with the Science site, where similar content (Study Groups, Resources) is structured content in a database, rather than staff-editable CMS pages. I think we might want to consider changing our technical approach to the Clubs pages based on this.

[2016-05-10 22:32] flukeout commented on #1850
@chadsansing Cool, so there are some changes to the CSS and JS, and the files that are powering the link above are here. See if you can get these integrated with your template and ping if you need help.

* JS https://github.com/flukeout/curriculum-testing/blob/gh-pages/intermediate-web-lit-two-updates/scripts/session-script.js
* CSS https://github.com/flukeout/curriculum-testing/blob/gh-pages/inte

[2016-05-11 12:00] chadsansing commented on #1850
@Animaltinez, do these lessons look and read better to you, style-wise? Content will remain tricky as we balance the amount  of text with users' needs for explicit, step-by-step instructions.

- [Buttons and Alerts](http://flukeout.github.io/curriculum-testing/intermediate-web-lit-two-updates/session01-buttons-and-alerts.html#overview)
- [Storytelling with Pictures](http://chadsansing.github.io/cu

[2016-05-11 14:13] amirad commented on #1605
The proposed structure looks great! As I'm traveling @KGorr is helping out with the RC bios

[2016-05-11 16:38] soapdog commented on #1850
I would be really happy to be able to incorporate those changes into our current localized material. =)

[2016-05-11 21:19] #1853 closed

[2016-05-11 21:46] mmmavis opened #1866 "`npm start` task bug"
`npm start` should run `npm run app` instead of `node run app`.

[2016-05-11 21:47] davidascher commented on #1866
Dupe! 😂

On Wed, May 11, 2016, 2:46 PM Mavis Ou <notifications@github.com> wrote:

[2016-05-11 21:49] #1866 closed

[2016-05-11 22:30] mmmavis opened #1869 "Update Travis build status button in README"
We renamed this repo to `learning.mozilla.org`. The Travis build status button that we included in the README should reflect this change as well.

[2016-05-11 22:38] #1869 closed

[2016-05-12 19:58] KGorr commented on #1605
This all looks great to me, nice work everyone. I am working to get the RC bios by next Wednesday, May 18th. If I can help with anything else, please let me know!

[2016-05-12 20:16] Carotejada commented on #1605
Right @amirad  & @KGorr ? The design team is awesome :)

@KGorr I'm putting together all the content we currently have and will share it with you first thing next Tuesday 17th.

We wish you can help us editing and suggesting even more cool copy :)

[2016-05-12 20:26] KGorr commented on #1605
@Carotejada - happy to help! Looking forward to seeing it.

[2016-05-13 00:21] hannahkane commented on #1834
Closing this ticket because it's not useful. :) Work is being tracked elsewhere.

[2016-05-13 00:21] #1834 closed

[2016-05-16 17:00] sabrinang commented on #1605
Updates for layout ideas on redpen https://redpen.io/pbcb2eda696626f5e7:
- have the description on the banner
- we can use 3 small line art graphics to describe club network, club structure and club captions
- after some consideration and chatting to @hannahkane we can organize tabs by:
    - tab 1 to focus on introducing/explaining clubs and captains to new people with call to action to apply

[2016-05-16 21:57] KGorr opened #1871 "Email sign up text needs updated"
When you sign up for the newsletter via https://learning.mozilla.org using the "get email updates" box, it prompts you to share on Twitter after you've signed up. The suggested text in the tweet uses teach.mozilla.org.

Also, on the community page, the email sign up call out references "MLN Community Newsletter" and should be “Mozilla Learning Newsletter”. Right, @ldecoursy? (I can move this to a

[2016-05-16 22:00] hannahkane commented on #1605
Thanks for this iteration, @sabrinang.

Looking at it, I'm wondering if this variation might work better:
 * Tab 1: About Mozilla Clubs - 3 point Clubs diagram, featured updates, map
 * Tab 2: Start a Club - all of the info about why/how to apply to be a Club Captain + start of application process
 * Tab 3: Running Your Club - all of the resources/info for people who are actively running a Club: r

[2016-05-16 22:06] ldecoursy commented on #1871
Correct on point two!

Good catch on both :)

[2016-05-16 22:27] hannahkane commented on #1865
@sabrinang - do you think you'll be able to do this this week? If it's not a simple task, please let me know, and we can re-triage.

[2016-05-16 22:28] hannahkane commented on #1849
@sabrinang or @flukeout - do either of you have time to look at this? Should not be something you spend a big chunk of time on, but would be nice to do a quick review and provide suggestions for Caro.

cc @xmatthewx

[2016-05-16 22:29] hannahkane commented on #1835
@sabrinang - I'm closing this since it's really a dupe.

[2016-05-16 22:29] #1835 closed

[2016-05-16 22:29] sabrinang commented on #1865
@hannahkane I shared the redpen on design crit today: https://redpen.io/p/hn2cc28e334ad1cc6e
I have some minor adjustments to revise it but it is a simple task.
@KGorr Let me know if you have any feedback on the redpen as well!

[2016-05-16 22:34] flukeout commented on #1849
I'm on it @hannahkane

[2016-05-16 22:53] KGorr commented on #1865
Looks great to me. Thanks!

[2016-05-17 00:40] KGorr opened #1872 "Broken Links on the Clubs page"
I know the Clubs page is getting a refresh, but I found these issues and thought I should report to the team:

http://mozilla.github.io/learning-networks/clubs

* Under “For Club Captains”, the “writing a blog post,” “PR guide,” and Social media guide” hyperlinks are duplicated and thus not working
* Under “For Regional Coordinators,” “Regional Coordinator Community Calls” link is not working (not

[2016-05-17 08:24] amirad commented on #1605
Could these in tab 3 be in tab 2 instead? FAQ, office hours, links to Regional Coordinators page.

Also the new Mozilla Clubs App is *only* for our 20 clubs in Cape Town and Nairobi so not public to share or for anyone to join. Thus, we won't be able to share it on the site and others.

[2016-05-17 13:15] chadsansing commented on #1850
@flukeout, can you make the strong tage inside the fancy list class match the normal font color (pink) instead of black?

[2016-05-17 13:24] chadsansing commented on #1850
@flukeout, can you make the blockquote treatment similar to the fancy list class treatment?

[2016-05-17 15:06] hannahkane commented on #1605
What do you see as the advantage to combining them? I think tab 2 and tab 3 are serving different purposes (in the model I suggested two comments up). The goal of tab 2 is to get people to apply to be a CC, whereas the goal of tab 3 is to support existing CCs. I think it makes sense to separate them, but curious to know your thoughts.

[2016-05-17 15:20] hannahkane commented on #1872
Thanks for noticing, @KGorr.

I fixed the three under "For Club Captains," but I don't know what the link should be for Regional Coordinator Community calls. @amirad @carotejada - can either of you provide the link?

[2016-05-17 15:31] Carotejada commented on #1605
Thanks for this @sabrinang and @hannahkane. I'm a bit confused with the last changes on the structure of contents. Can you share more info about the purpose of each category in this new structure?

This is what I see now:

The **first tab** which was designed to provide general info about clubs is now specific for Captains.

The **second tab** which was specific info for CC and RC, now includes di

[2016-05-17 16:05] hannahkane commented on #1605
@Carotejada - sorry this is confusing! @sabrinang made some edits based on a conversation she and I had. The [redpen](https://redpen.io/pbcb2eda696626f5e7) reflects those edits, which are described in her comment [here](https://github.com/mozilla/learning.mozilla.org/issues/1605#issuecomment-219481084).

What I was describing in [this comment](https://github.com/mozilla/learning.mozilla.org/issues

[2016-05-17 17:39] Carotejada commented on #1605
Oh, got it! I like this variation.

[2016-05-17 21:46] KGorr commented on #1872
Thanks so much @hannahkane! I found the RC comm call etherpad: https://public.etherpad-mozilla.org/p/teach.clubs-rccalls

[2016-05-17 22:00] hannahkane commented on #1872
Thanks, @KGorr. Fixed.

[2016-05-17 22:00] #1872 closed

[2016-05-17 22:52] sabrinang commented on #1605
Updated About Mozilla Clubs, Start a Club and Running Your Club tab layouts on redpen: https://redpen.io/p/rb14e4c0eb3594f430

[2016-05-17 23:13] hannahkane commented on #1605
Nice, @sabrinang. This is really starting to make sense to me! What do you think, @Carotejada?

I left some comments about the specific content and the hierarchy.

[2016-05-17 23:37] hannahkane opened #1873 "Interim l10n solution: Club Guides and Activities"
Localizing the Learning site (or at least major parts of it) is a priority for H2, but we'll need time to build the infrastructure.

In the meantime, we already have linked content that's been localized—specifically, we have Club guides and Teaching Activities. Let's brainstorm some possible interim solutions for making this content discoverable.

Background:
 * The EN Club Guides are currently ac

[2016-05-18 09:56] chadsansing commented on #1873
Perhaps develop a second 'educators toolkit' to send to the same list @KGorr compiled for the original and blast this one throughout Clubs channels, as well.

[2016-05-18 14:12] KGorr commented on #1605
Hello team. The RCs are still scrambling to update their tabs, so I allowed them until the end of the day today (Pacific Time) to get everything to me. I'll QC them tomorrow morning and will send to you then, @hannahkane. What is the best way to transfer the images over? Most attached an image to an email.

[2016-05-18 14:13] KGorr commented on #1605
Also, if it helps for planning purposes, I currently have 6 ready-to-go RC bios. Will likely get a few more today.

[2016-05-18 14:43] Carotejada commented on #1605
Looking good @hannahkane  and @sabrinang
I feel this structure works well. The purpose of each tab (category) is clear and logic.

We´ll move forward with content based on this distribution and will share it with you to make final adjustments.

@KGorr thanks for your help putting together RC bios!

[2016-05-18 18:39] flukeout commented on #1849
Here's an updated design...
![image](https://cloud.githubusercontent.com/assets/25212/15370762/2df28d42-1ced-11e6-975d-fca900844785.png)

And a redpen for comments https://redpen.io/hj8d05a3a98550f734

Once we finalize, I'll provide the editable file.

[2016-05-18 19:50] flukeout commented on #1849
cc @carotejada @amirad

[2016-05-18 21:23] Carotejada commented on #1849
Thanks @flukeout it matches the Platform look 👍

[2016-05-18 22:02] flukeout commented on #1850
@chadsansing I made the changes, you can see the result on this page...
http://flukeout.github.io/curriculum-testing/intermediate-web-lit-two-updates/session01-buttons-and-alerts.html#step-1

Let me know what else.

[2016-05-19 01:11] flukeout commented on #1849
I need to add a seal to this still, will work on it tomorrow.

[2016-05-19 14:00] KGorr commented on #1605
You can find the bios [here](https://docs.google.com/a/mozilla.com/document/d/16NWLHU5CAYEUucUOkb689QHYyEI--ulg5j8V7MQm4_8/edit?usp=sharing). (There may be 1 more coming in today, I'll add it if it's not too late) Please let me know if anything needs adjusted. I have all of the images in emails, please let me know how you'd like them passed along. Thanks!

[2016-05-19 14:05] Carotejada commented on #1605
Súper! Thanks @KGorr

[2016-05-19 15:38] amirad commented on #1605
Thanks @KGorr Added another bio I had and did some editing in the doc. Let's move forward with the six we have? With the CRM process we should be able to add the other ones easily afterwards right @hannahkane

[2016-05-19 16:35] amirad commented on #1849
Oh nice!!! Looks great.
We should probably change the website at the bottom to now be learning.mozilla.org

Also ccing @chrislarry33 so he knows what his name is being signed to :)

[2016-05-19 16:38] hannahkane commented on #1849
good call on the url, @amirad.

@ldecoursy and @KGorr - are we also changing the Twitter handle soon?

[2016-05-19 16:39] hannahkane commented on #1849
also, nice job on this @flukeout. :) Looks great!

[2016-05-19 17:27] amirad commented on #1873
For the new club resources page that will have other language tabs, can the translated resources and curriculum live there?

[2016-05-19 17:36] hannahkane opened #1874 "June update to Curriculum Workshop page"
### Info needed

 - [ ] Confirm accuracy of:
 * June 14, 2016 - 10am PT / 1pm ET / 5pm GMT
 * Summer Learning
 * Join co-hosts Amira Dhalla and Chad Sansing broadcasting live from Mozilla's all-hands work week. Invited guests and drop-in Mozillians will talk shop about summer learning and curriculum development for the web.
 - [ ] Guest names
 - [ ] YT embed
 - [ ] Etherpad link
 - [ ] July title,

[2016-05-19 17:36] hannahkane commented on #1874
@chadsansing @amirad

[2016-05-19 17:40] amirad commented on #1874
@chadsansing did we confirm that time or is it going to be during the elective times instead?

[2016-05-19 18:08] chadsansing commented on #1874
Working on landing the copy, embeds, etc. next week, @hannahkane. Thanks for the ticket!

We have changed the time to 5-6 PM local, 4-5 PM GMT on Thursday the 16th since no MoFos have to run electives during that block.

[2016-05-19 19:14] KGorr commented on #1849
@hannahkane, yes it will be changing soon. We're just waiting on a couple of people to review the plan before implementing it. I'll keep you posted! (Also just granted you access to the planning doc)

[2016-05-19 19:24] sabrinang opened #1875 "Design 14 Open Leadership Diagrams"
Create 14 diagrams before London all-hands based on drafts:
6 Diagrams for [Github Set Up](https://docs.google.com/document/d/1qB9JuJ3a2f-fsLX8s8m6uzhi1RHg-WkcstnUJ1UtP0c/edit)
6 Diagrams for [Github for Collaboration](https://docs.google.com/document/d/17xwoJRaFEe6VYI2dm9c1grVy4OzJduyVBz0_f0RBzI4/edit)
2 Diagrams for [Convening an Open Event](https://docs.google.com/document/d/17OsBDxSg2f5LURCmp3

[2016-05-19 19:33] KGorr commented on #1605
No problem. There are actually 12 bios in the doc (like I said...lots of folks scrambled at the last minute to get included!) You reviewed all of them,but just wanted to clarify the number of spots needed for the site. :)

[2016-05-19 23:39] hannahkane commented on #1873
@chadsansing - I'm not sure I understand your comment. What would the purpose of the educators' toolkit be?

@amirad -  in the [latest design](https://redpen.io/nw7e55e75c539e6e9f) there aren't tabs for additional languages. That is one possible solution, but I'm not sure it's adequate. I'm not totally sure about the use case. Will the person browsing the page be an English reader? If so, that cou

[2016-05-19 23:57] KGorr commented on #1873
@hannahkane, I think Chad is suggested that we create a "find localized resources" kit (similiar to the web lit kit) that will provide an overview of what is available in various languages and how to find it. I personally like the idea, as it puts the info in one place and makes it easy to distribute broadly. I would be happy to help if that is a direction the team wants to go.

[2016-05-20 00:05] hannahkane commented on #1605
thanks, @KGorr. Can you email the photos to me, please?

Yes, @amirad, should be easy to edit once we get this in the CMS.

[2016-05-20 00:10] Carotejada commented on #1873
@hannahkane @amira when planning this resources sub-page @sabrinang and I talked about including a searching option with filters. This is ideal since we have a growing number of guides and resources in different languages. Are we still considering this option?

[2016-05-20 09:48] chadsansing commented on #1873
@hannahkane - what @KGorr said :)

[2016-05-20 11:38] chadsansing opened #1876 "Update Web Lit Basics I activity pages"
@hannahkane, @KGorr, & @ldecoursy, let's do this.

First, we could use a quick review of
- https://chadsansing.github.io/curriculum-testing/updated-web-lit-basics/session01-kraken-the-code.html
- https://chadsansing.github.io/curriculum-testing/updated-web-lit-basics/session02-ping-kong.html
- https://chadsansing.github.io/curriculum-testing/updated-web-lit-basics/session03-hack-the-news.html
- ht

[2016-05-20 13:34] ldecoursy commented on #1876
For Hack the News, you can link to this updated X-Ray Goggles cheat sheet:
* Thimble: https://thimbleprojects.org/mozillalearning/48435/
* Printable: https://drive.google.com/a/mozillafoundation.org/file/d/0By3iomeqwUgBM2g3T0FER2I2V3M/view

Bigger question - what does this mean for the localized versions of these activities? Currently you can select the available languages from a pull-down on the

[2016-05-20 13:39] chadsansing commented on #1876
That's true - let's loop in @soapdog re: l10n!

[2016-05-20 14:19] KGorr opened #1877 "(on or after May 23) Update @MozTeach reference in Learning site footer"
After the twitter handle change has been made on Monday, May 23, @MozTeach references (https://twitter.com/MozTeach)  needs to be changed to @MozLearn (https://twitter.com/MozLearn) on the learning site.

[2016-05-20 16:26] KGorr commented on #1876
@chadsansing, my plate is full today, but am happy to help and put on my to-do list for early next week!

[2016-05-20 17:24] hannahkane commented on #1876
[This ticket](https://github.com/mozilla/learning.mozilla.org/issues/1801) is about migrating the localized content to the new templates. @chadsansing - are we making content changes in addition to template/location changes?

[2016-05-20 17:29] chadsansing commented on #1876
I probably got ahead of myself. This is lightly updated content in the new curriculum template. Let's back up and figure out what to do when :)

[2016-05-20 17:34] hannahkane commented on #1876
@chadsansing - do you think the edits are substantive enough to require re-localization? If so, we should consider the best way to present the delta to help make things easier for the localizers.

[2016-05-20 17:40] chadsansing commented on #1876
No. In most cases, I cleaned up a typo we missed or something similar. I added a line in the Story of Us about connecting via learning dot or the current instance of Discourse. That was about it.

[2016-05-20 17:47] KGorr commented on #1876
@chadsansing, can you clarify what you'd like my assistance with? 😄

[2016-05-20 18:02] chadsansing commented on #1876
@KGorr - it would be great if you could do a read through sometime soon to catch any errors I've made in copying and pasting.

[2016-05-23 14:04] KGorr commented on #1865
I imagine that a request for a PDF version of the map makes sense to be linked to this request: https://twitter.com/rjmama/status/734551599620722688 Let me know if I should file a separate ticket.

[2016-05-23 14:10] KGorr opened #1878 "Kraken the Code tip sheet - 404"
[This tweet](https://twitter.com/whistlerlisa/status/734529897318649856) came in over the weekend.

The Kraken the Code [tip sheet](https://mozilla.github.io/mozilla-club-activity-kraken-the-code/legit-o-meter.html) isn't working. It's link is found in the 2nd paragraph under "Kraken the Code: Hunt" section.

[2016-05-23 14:36] soapdog commented on #1876
@KGorr @chadsansing @hannahkane should I use this version and add the localized content to it?

[2016-05-23 14:43] soapdog opened #1879 "Review and Edits for guide on How to encourage a collaborative approach to running your club"
# Description
There is a new guide on collaborative techniques for running clubs. This content is great for CCs as it give them tools and frameworks for running clubs in a collaborative way.

This guide is being written by Hélène Petry, the collaborative techniques expert from Rio. I believe it has reached the point where it can benefit from @KGorr edits and review. It is not complete yet but we a

[2016-05-23 14:43] soapdog commented on #1879
cc @amirad

[2016-05-23 15:11] chadsansing commented on #1876
If that can be accomplished, my vote is yes - @KGorr, @ldecoursy?

[2016-05-23 15:54] hannahkane commented on #1865
We should also add a link to /web-literacy on the Learning site as well.

[2016-05-23 15:56] hannahkane commented on #1878
Anyone know where the tip sheet actually is? @chadsansing @soapdog @amirad?

[2016-05-23 15:57] hannahkane commented on #1876
@soapdog - yes, I think so, too

[2016-05-23 17:36] hannahkane commented on #1876
@chadsansing - tiny thing, but I was just fixing the link to the Tip Sheet in the currently-published version of Kraken the Code (as per #1878), and then I realized we might need to fix it here. But it doesn't look like you link to the Tip Sheet in this version. Is that true?

[2016-05-23 18:08] chadsansing commented on #1876
@ldecoursy - can you ask MOUSE if they have an updated tip sheet for Kraken the Code?

[2016-05-23 18:43] ldecoursy commented on #1876
Their updated tip sheet is here: https://docs.google.com/file/d/0ByDhuNZWuJn-bmdaTkoxeDZ4Vmc/edit

[2016-05-23 19:57] KGorr commented on #1877
@hannahkane, the switch to @mozlearn has been made, so the footer can change at any time. Thanks!

[2016-05-23 20:02] KGorr opened #1880 "Final @MozTeach reference updates"
These few resources need to be updated with @MozLearn, https://twitter.com/MozLearn:

- [x] https://support.mozilla.org/en-US/kb/how-can-i-get-help-my-thimble-project
- [x] https://support.mozilla.org/en-US/kb/how-can-i-get-help-my-x-ray-goggles-project
- [x] http://mozilla.github.io/learning-networks/clubs (footer)
- [x] http://mozilla.github.io/learning-networks/clubs/regional-coordinator.html (

[2016-05-23 20:14] amirad commented on #1879
Will wait until @KGorr is done before giving it a look over!

[2016-05-23 20:29] KGorr commented on #1879
Thanks, @soapdog. Happy to help. I've put it on my list of things to do this week and will let you know once I've taken a look.

[2016-05-23 20:46] KGorr commented on #1876
I'm working on a read through of all of these activities as we speak. I'll post tweaks needed soon.

[2016-05-23 20:49] hannahkane commented on #1880
done

[2016-05-23 22:18] KGorr commented on #1876
OK, here are the things I noticed:

For all –  “Activity of 1 of 6” at the top of each homepage needs to drop the 1st “of”

**Kraken the Code**

Homepage
- 1st learning objectives bullet isn’t capped
- 4th learning objective ends with a “/”
- 5th learning objective doesn’t have ending punctuation

Kraken the Code: Hunt
- extra space in 1st sentence of 1st paragraph between the ending word and punc

[2016-05-24 00:03] KGorr commented on #1880
Whoops - sorry @hannahkane! Forgot to include the biggie - the main https://learning.mozilla.org footer (affects multiple pages)

[2016-05-24 00:18] KGorr commented on #1880
OOOOohhhhhhh wait. I opened a different ticket for that. (face palm). Sorry! :) Closing again.

[2016-05-24 00:18] #1880 closed

[2016-05-24 10:59] chadsansing commented on #1876
Thanks, @KGorr - I think I got everything, but the index link will stay 404 until these pages are connected to the module landing page.

I feel like I need to go back and add some broswers.

[2016-05-24 12:30] chadsansing opened #1881 "Replace LoFi, NoFi Kit with Offline Icebreakers"
@hannahkane, @KGorr, @ldecoursy - the Offline Icebreakers module built from out-of-date LoFi, NoFi materials is ready for review.

**Project for forking**: https://github.com/chadsansing/curriculum-testing/tree/master/offline-icebreakers

**Activities for review**
- https://chadsansing.github.io/curriculum-testing/offline-icebreakers/session01-web-mechanics-speed-dating.html#overview
- https://cha

[2016-05-24 12:30] chadsansing commented on #1881
@hannahkane, I can work on a content doc soon, as well, if that'd be handy.

[2016-05-24 16:21] hannahkane commented on #1881
That would be great. Thanks, @chadsansing!

[2016-05-24 16:37] hannahkane commented on #1605
Blocked on copy

[2016-05-24 16:45] hannahkane commented on #1814
Removing this from current milestone

[2016-05-24 16:53] hannahkane commented on #1873
I'm going to suggest we talk about this in person in London, as part of a larger conversation about solving problems for CCs and RCs. Stay tuned for more info!

In the meantime, would love to hear more about the "find localized resources" kit idea. Would that be about finding Mofo-specific resources—sort of a regularly updated index of content we produce? Or would it be tips for finding web litera

[2016-05-24 17:00] chadsansing commented on #1881
Here's the [content doc](https://docs.google.com/document/d/1LtCCvkngU_VRVPAq57pkT72ksZK2Ou7HzRC7fCFKCSY/edit#), @hannahkane.

[2016-05-24 17:57] Pomax commented on #1857
phrasing for "start a club": https://redpen.io/xk4479a493e5e366c6

[2016-05-24 17:58] Pomax commented on #1857
phrasing for "intergration...": https://redpen.io/cme3ec7caea6876211

[2016-05-24 23:56] KGorr commented on #1873
@hannahkane - my thoughts are that it would be most effective to have both the general tips for finding web literacy-related resources in your language/locale AND instructions for finding localized Mozilla's resources. For the former, perhaps we could reach out to those that we know use our localized content/are involved in the process with us, and see what tips they can share. @soapdog is probabl

[2016-05-25 00:42] KGorr commented on #1879
@soapdog - OK, finally got through it all. I left a lot of comments, take them or leave them! :) Hopefully they are helpful.

[2016-05-25 14:55] soapdog commented on #1879
@KGorr thanks a lot for the comments! Hélène will check them out as she is the expert writing this, I am also commenting 🐹

[2016-05-25 15:06] soapdog commented on #1873
Hey friends, I believe that kits such as "find localized resources" are only useful if done in a non-English language by a native speaker of that language and has links to localized content beyond what we offer in our sites.

It is my opinion that the L10N offers on our sites should not require a guide to find, if they do, then we're doing something wrong with our navigation. If a CC goes to our s

[2016-05-25 15:07] soapdog commented on #1873
I would love for us to discuss L10N in London too.

[2016-05-25 22:12] sabrinang commented on #1875
Using unified palette, simple figures and [icons](http://linea.io/) to create first set of ideas for 6 diagrams for Github Set Up. See redpen: https://redpen.io/hn4718496d3a350e50

[2016-05-25 22:31] KGorr commented on #1873
Hi @soapdog - so I think you are saying that if we do a kit, it needs to be in multiple languages and tailored to each culture. Is that correct? If so, I agree 100%, and wonder if our team creating one in english will be a good jumping off point for volunteers to localize/customize the kit for their specific language/country/culture.

RE: our website nav, as an example, a kit/guide would address t

[2016-05-26 16:36] flukeout commented on #1849
Updating this today - any news on the twitter handle @Kgorr?

I'll share the working file anyway so you can udate it as long as you have illlustrator, do you?

[2016-05-26 16:42] amirad commented on #1849
It changed! It's now @MozLearn

[2016-05-26 18:47] hannahkane commented on #1873
Thanks for the brainstorm everyone! I think we've identified at least a few possible solutions. 1) Provide a resource to help people source local content. 2) Have a good on-site solution based on browser locale detection + language selector. 3) Add localized curriculum to localized Thimble.

I'm going to close this ticket and open tickets for #2 and #3 above. I'll leave it to others to decide whet

[2016-05-26 18:47] #1873 closed

[2016-05-26 20:16] KGorr commented on #1849
Heya @flukeout, sorry, I told Hannah but didn't post it here. Yes, we are now @MozLearn! I don't have illustrator, but I'm not sure that I'll be the one handling these - @amirad?

[2016-05-26 23:30] flukeout commented on #1849
Updated with the new Twitter handle and a new fox seal.

![image](https://cloud.githubusercontent.com/assets/25212/15593237/312ab3b8-235f-11e6-84a2-046d71864757.png)

Let me know if you need any other changes. I'll attach the final, editable, AI file.

[2016-05-27 12:58] KGorr commented on #1849
Hey @flukeout - can you change teach.mozilla.org or learning.mozilla.org?

[2016-05-27 13:18] KGorr commented on #1881
@chadsansing - here are a few things I caught:

https://chadsansing.github.io/curriculum-testing/offline-icebreakers/session01-web-mechanics-speed-dating.html

Overview
- Suggestion for rewording the 2nd Intro sentence: “Understanding web mechanics helps us protect personal information online, use and understand URLs, IP addresses, search terms, bookmarks and more.”

Preparation
-	1st paragraph ty

[2016-05-27 13:45] chadsansing commented on #1881
Many thanks, @KGorr. "Markup," "marked up," and "mark up" are tricky. I think we're using "markup" correctly as a noun, "marked up" correctly as a past participle, and "mark up" correctly as a verb. Will double check.

[2016-05-27 16:27] hannahkane commented on #1881
@chadsansing - should I build the landing page and submit a PR now, or should I wait for final versions of the activities themselves?

[2016-05-27 16:41] chadsansing commented on #1881
@ldecoursy - ready to implement this? cc @hannahkane

[2016-05-27 17:42] hannahkane commented on #1877
@Pomax - is this something I can do? Does it just require changing TWITTER_LINK and TWITTER_HANDLE in the config.js file?

[2016-05-27 17:43] hannahkane commented on #1875
I know you'll review these at design crit, but just wanted to say I think these are really cute! @sabrinang - do you want specific feedback from anyone at this point?

[2016-05-27 17:49] hannahkane commented on #1605
@Carotejada - do you have an estimate for when you'll have the final copy? @sabrinang will be on PTO after next week, so I'm hoping we can give her several days to finish this before she leaves.

[2016-05-27 18:02] Carotejada commented on #1605
Hola @hannahkane! We already have a document in which @kgorr @amira @juliav and myself have been contributing.  Since I'm just coming back from DC today after a training week, will have it ready by Monday night.

[2016-05-27 18:04] hannahkane commented on #1605
Awesome. Thank you, and welcome back! :)

[2016-05-27 18:20] sabrinang commented on #1875
@hannahkane Yes, everyone feel free to leave comments on the redpen for design or content etc.

[2016-05-27 18:24] hannahkane commented on #1875
cc @chadsansing @zee-moz

[2016-05-30 13:31] #1878 closed

[2016-05-30 13:32] soapdog commented on #1878
Merged! :D

[2016-05-30 20:24] Pomax commented on #1857
Looking at the comps we do not appear to have the SVG file for the clubs circle-with-gears, only that same logo with three markers attached to it. Do we have the "base" image somewhere?

[2016-05-30 20:26] Pomax commented on #1857
Looking at the "thanks for applying" last comp on https://cloud.githubusercontent.com/assets/2492510/15056379/1cc5f756-12c6-11e6-8cc0-7907bab37a77.png, we don't seem to be already using the icons indicated there, do we have those available somewhere?

[2016-05-30 20:26] Pomax commented on #1857
which link should be used for the "share your story" icon/text panel?

[2016-05-30 20:45] sabrinang commented on #1857
.svg file of cirlce line art: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eUkdVZF9vQ2prWVU/view?usp=sharing

We will be using links seen on https://learning.mozilla.org/clubs instread of mockup as they are more applicable links for clubs that what is seen on mockup (initally taken from community page)

[2016-05-30 20:53] Pomax commented on #1857
+1, added the changed into the `clubforms` branch

[2016-05-30 23:29] Pomax opened #1884 "the "with-teach-api" HOC hides a page's pageTitle and pageClassName properties"
this means that styling based on the page class (for instance the sidebar colouring) goes wrong. This is most easily notice when clicking on opportunities -> mozilla clubs, where the sidebar suddenly turns default-blue instead of the purplish blue it should be.

[2016-05-30 23:31] Pomax commented on #1884
discovered while working on https://github.com/mozilla/learning.mozilla.org/issues/1857 -- the fix will be part of that PR, too

[2016-05-31 13:47] KGorr commented on #1865
Hello! Any progress to share here? The person who requested the print file has asked for an update. :)

[2016-05-31 15:08] chadsansing commented on #1875
My email and password reset are not playing nicely redpen, but my only additional suggestion right now would be to add sequential markers (like arrows) in the illustrations that show sequences instead of 3 different things/states.

[2016-05-31 16:57] sabrinang commented on #1865
The 24 x 36 inch poster is exported as a .pdf and .png here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eT1ZpcE56dmxDX3M&usp=sharing
<img width="711" alt="screen shot 2016-05-31 at 9 55 39 am" src="https://cloud.githubusercontent.com/assets/2492510/15683174/dfce64f0-2715-11e6-9be6-bddf491080fc.png">

[2016-05-31 17:35] KGorr commented on #1865
Perfect - thank you!

[2016-05-31 17:42] anmechung commented on #1865
Looks great - I think @chadsansing and I can use this at some upcoming web literacy trainings too.

[2016-05-31 17:43] chadsansing commented on #1865
#yesindeed

[2016-05-31 19:40] Pomax commented on #1857
@sabrinang @hannahkane do we want to keep the apply link in the sidebar nav menu, or should that be hidden and only reachable through the club page itself?

[2016-05-31 20:05] sabrinang commented on #1857
@pomax It could be a sub page from clubs but we do not have that level of navigation in the sidebar menu so it is probably only reachable through the club page itself

[2016-05-31 20:44] Pomax commented on #1877
Yep, that should be sufficient - if you do update config.js it would be useful to also alphabetically order the export fields so that future updates are a little easier.

[2016-05-31 21:21] hannahkane opened #1885 "Add link to download a poster to the Web Lit Map page"
@sabrinang created an awesome print version of the Web Lit Map. We should let people download it from the site.

Suggested copy: "Download a printable version of the Web Literacy Map" that links to https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eT1ZpcE56dmxDX3M&usp=sharing

@sabrinang to advise on where on the page the link should go

[2016-05-31 21:21] hannahkane commented on #1865
Cool. Thanks, @sabrinang! Closing this, and opened a [separate ticket](https://github.com/mozilla/learning.mozilla.org/issues/1885) about adding a link to the site.

[2016-05-31 21:21] #1865 closed

[2016-05-31 22:19] Pomax commented on #1857
@sabrinang looks like we don't have a comp for when a user tries to apply without being logged in, right now I have it implemented as an "obvious" but clearly suboptimal "please sign in" page, but if you have some good ideas around the design of that landing page I'll be happy to implement it.

![screenshot 321](https://cloud.githubusercontent.com/assets/177243/15692423/1e647f92-2743-11e6-82ac-158

[2016-06-01 00:32] sabrinang commented on #1875
I updated more diagram ideas on the redpen: https://redpen.io/p/xc69d2dc74df0c96c3

@chadsansing Can you explain a bit more where to add the sequential arrows? I'm a bit confused where to add them

[2016-06-01 09:58] chadsansing commented on #1875
I think illustrations 2 could use something to indicate the user is drilling down from folder to editing to seeing tracked changes. I think illustration 4 could use some indication of sequencing, even though you can go backwards, as well as forwards, and I think illustration 6 need to indicate who does what when - I think the GitHub circle timeline marker is too abstract for new users on its own.

[2016-06-01 10:01] chadsansing commented on #1875
I dig the map illustrations in design 3 muchly; maybe make the person a fox to match the other illustrations?

[2016-06-01 15:41] xmatthewx commented on #1849
Flagging that Luke is on extended PTO. He could fix it while we're in London, or we can identify another design to do this. cc @hannahkane

[2016-06-01 18:04] hannahkane commented on #1849
Hmm...I don't think @flukeout attached the file. @xmatthewx - do we know where it is? If it's an AI file, I can make the change.

[2016-06-01 18:39] xmatthewx commented on #1849
I don't see the file in google drive unfortunately. I will ping Luke in other channels.

[2016-06-01 19:09] hannahkane commented on #1849
I put an updated version here: https://www.dropbox.com/s/6zx3pznl4bf6yxh/certificate.ai?dl=0

@xmatthewx - should I put it in Drive somewhere?

[2016-06-01 19:51] xmatthewx commented on #1849
Here's the design assets [Clubs folder](https://drive.google.com/drive/u/0/folders/0B4Q8pzCpDS_eWTl3eDhpOHVSWHM).

[2016-06-01 20:08] hannahkane commented on #1849
Cool. Uploaded it there, too.

Closing this ticket!

[2016-06-01 20:08] #1849 closed

[2016-06-01 20:52] #1871 closed

[2016-06-02 23:30] hannahkane commented on #1771
Started a pad to discuss the specifics. Could use initial input on branding from @anmechung, @ldecoursy and/or @chrislarry33: https://public.etherpad-mozilla.org/p/credlydoc

cc @xmatthewx @sabrinang

[2016-06-03 01:21] sabrinang commented on #1605
Thanks for sending clubs copy https://docs.google.com/document/d/1yQgNldfjwGE_lT0JEeTDsgzNJTceWh58i6VsUyishAo/edit#

I have some feedback for the sections:

**About Mozilla Clubs Tab**

For an initial placement of the copy (see older redpen: https://redpen.io/pbcb2eda696626f5e7/4), you can see there are a few issues with the density and length of text and should be reduced so we don’t lose the att

[2016-06-03 17:15] #1877 closed

[2016-06-03 23:12] sabrinang commented on #1875
Revised Redpen Iterations: https://redpen.io/p/xc69d2dc74df0c96c3

Exported Diagrams here: https://drive.google.com/open?id=0B4Q8pzCpDS_eOGxtQzJRMDgzczA

Illustrator file here: https://drive.google.com/open?id=0B4Q8pzCpDS_eWXVwV1lPQTlxS0E

For Set 2, there are some variations in the layout that I didn't know which one was the best to export but let me know if you have feedback in the redpen and th

[2016-06-06 19:29] amirad commented on #1605
Adding @jvallera to help project manage from the clubs side!

[2016-06-06 19:45] ldecoursy opened #1890 "Replace Contact email on Hive global site"
On the Hive "Connect" page: https://hivelearningnetworks.org/connect/

Can we switch the current email under "Connect with us" from info@hivelearningnetworks.org to teachtheweb@mozillafoundation.org?

cc @KGorr @simonaramkisson @mcdermott415

[2016-06-06 19:46] ldecoursy opened #1891 "Forward Hive global emails"
Can we set emails directed to info@hivelearningnetworks.org to forward to teachtheweb@mozillafoundation.org?

[2016-06-08 16:51] Pomax commented on #1811
After talks with Credly, we have the following limitations:

- short description: 128 characters limit (think subtitle, not true description)
- description text: 1200 characters limit
- evidence requirements text: 1200 characters limit
- evidence submitted by users for their badge: 20MB limit

[2016-06-08 17:52] hannahkane commented on #1891
@ldecoursy - do you know who administers the hivelearningnetworks email account?

[2016-06-08 18:03] ldecoursy commented on #1891
Not positive, does @mmmavis know from when we set up the site?

[2016-06-08 19:50] hannahkane opened #1892 "Replace homebanner banner with MozFest call for proposals"
It's time to replace the ENCRYPT banner on the homepage with a banner promoting the MozFest call for proposals.

@edrushka @Saallen @xmatthewx - do you think it would be alright to use the same banner as last year? https://github.com/mozilla/learning.mozilla.org/issues/1099

Would you want to change the wording at all? Perhaps to call attention to the multi-lingual submission process?

Banner CTA

[2016-06-08 19:56] xmatthewx commented on #1892
@hannahkane - works for me. Any opinions on the [red banner design](https://github.com/mozilla/learning.mozilla.org/issues/1099#issuecomment-125786770) @kristinashu @sabrinang? Still work well?

[2016-06-08 20:04] Saallen commented on #1892
Hey @hannahkane , last years banner works for me.
Can we update the wording this year to
*The world’s leading event for and by the open Internet movement.
Join us to build, debate, and explore the future of our lives online.

[2016-06-08 20:31] hannahkane commented on #1605
I really like the changes you made, @sabrinang. It's much easier to read now. I added more comments directly to the redpen.

[2016-06-08 20:54] kristinashu commented on #1892
Last years banner looks good to be. I would just recommend using the more muted red #E12526 that is on the MozFest site and the schedule app.

[2016-06-08 21:04] hannahkane commented on #1892
Thanks, @xmatthewx @Saallen and @kristinashu. I'm going to assign @sabrinang to make these modifications soon after London.

[2016-06-08 21:05] hannahkane commented on #1605
We're still iterating on this, so moving to an upcoming heartbeat to finish.

[2016-06-08 21:06] hannahkane commented on #1732
Looks like this is still blocked, so moving to an upcoming heartbeat to keep tracking it.

[2016-06-08 21:13] hannahkane commented on #1771
Thanks, @anmechung, for your responses on the etherpad. @Pomax - I think we now have answers to everything, though we'll still need a banner image. We can dedicate some time to this after London.

[2016-06-08 21:14] hannahkane commented on #1801
hey @soapdog - how's this coming?

I'm moving this to a later milestone to continue tracking.

[2016-06-08 21:15] jvallera commented on #1605
Thanks @hannahkane the redpen looks great @sabrinang I made edits to the copy in a new document and @Carotejada is currently merging with the copy doc you all have been using. I am happy to be point person to keep this moving while Caro is on PTO after London.

[2016-06-08 21:18] hannahkane commented on #1875
@chadsansing @zee-moz - are you happy with the diagrams? Do you need any additional follow-up on this ticket, or can we close?

[2016-06-08 21:21] hannahkane commented on #1811
So, @Pomax - what's the next step here? Can we set up @anmechung as an administrator and have her test out the process of creating new badges?

[2016-06-08 21:27] zee-moz commented on #1875
I think they are great! Done for this heartbeat.

On Wed, Jun 8, 2016 at 5:18 PM, hannahkane <notifications@github.com> wrote:

[2016-06-08 21:29] ldecoursy commented on #1881
WFM (that photo for the Thimble Tag Puzzle is cray!)

[2016-06-08 21:33] chadsansing commented on #1875
Ditto.

[2016-06-08 21:51] hannahkane commented on #1875
Fantastic! Thanks, all.

[2016-06-08 21:51] #1875 closed

[2016-06-09 00:21] #1890 closed

[2016-06-09 04:15] hannahkane opened #1894 "Move legal language above the Newsletter sign-up box"
On the community newsletter page (https://learning.mozilla.org/community), the line “I’m okay with you handling this info as you explain in your privacy policy” needs to be above the text box, for legal reasons.

Also, the "privacy policy" font seems to have gotten unnecessarily large.
![screen shot 2016-06-08 at 9 13 39 pm](https://cloud.githubusercontent.com/assets/8389648/15918673/118a2386-2dbe

[2016-06-09 04:26] hannahkane commented on #1855
I think we can do this as soon as devops is able. @ldecoursy @KGorr @KevZawacki @xmatthewx @simonwex  @mcdermott415 - any reason to hold off?

[2016-06-09 04:27] hannahkane commented on #1851
@Pomax - would it be possible to fix this as part of the work you're doing on the application form?

[2016-06-09 04:28] hannahkane commented on #1850
@chadsansing - how are you feeling about all of this? Are we good to close this thread?

[2016-06-09 04:30] hannahkane commented on #1815
I have created this using Calypso, but it's blocked on releasing Calypso.

[2016-06-09 04:33] hannahkane commented on #1779
Closing this, since it doesn't seem relevant to any immediate upcoming work.

[2016-06-09 04:33] #1779 closed

[2016-06-09 09:37] chadsansing commented on #1850
@hannahkane, @flukeout - let's close for now.

[2016-06-09 15:57] #1850 closed

[2016-06-09 17:00] KGorr commented on #1855
@hannahkane - No reason on my end!

[2016-06-09 17:37] hannahkane commented on #1894
@kristinashu points out we should also change this on the homepage lightbox

[2016-06-09 18:49] hannahkane opened #1895 "Update Community Call page for June"
See https://github.com/mozilla/learning-networks/issues/409

[2016-06-09 22:42] #1895 closed

[2016-06-09 22:47] #1864 closed

[2016-06-09 22:47] #1874 closed

[2016-06-09 23:53] mmmavis commented on #1891
@ldecoursy I think it was around summer 2014 🐳 👙 😎

[2016-06-10 00:18] ldecoursy commented on #1891
It was, but do you know who administers the email? I believe you and/or JP set it up.

[2016-06-10 01:04] Pomax commented on #1851
most definitely, but there are no comps available yet on what the form needs to look like when people aren't logged in yet, so right now if you're not logged in but you click "apply" you get an unfinished screen that prompts you to log in, with a redirect to the club page once login completes

[2016-06-10 20:25] hannahkane commented on #1851
OK, adding a design tag, and we'll ask someone to work on it post-London. Thanks!

[2016-06-10 23:07] hannahkane opened #1899 "Create styleguide for badges"
We are partnering with another organization to create web literacy badges. In addition to generating the assessment criteria and evidence lists, they also have the capacity to design the actual graphical element for the badge. Can we provide a set of design guidelines and resources so that the badge designs will align with the 21st Century badges we've designed already?

[2016-06-10 23:08] hannahkane commented on #1899
cc @xmatthewx

[2016-06-11 00:54] Pomax commented on #1857
@sabrinang the old (current) clubform has a website field, which I don't see anywhere in the new form, do we still want to add that a an optional URL field?

[2016-06-14 09:33] Pomax commented on #1771
:+1:

[2016-06-20 20:54] sabrinang commented on #1892
Redpen here: https://redpen.io/p/gh4cff083bea92a46a
It includes a version with colours of the current 2016 colours seen on https://mozillafestival.org/ (purple/pink gradient) or a version with unified red colour (#D24735)

[2016-06-20 20:57] hannahkane commented on #1892
Thanks, @sabrinang.

I like the gradient. @xmatthewx - what do you think?

[2016-06-20 23:25] mmmavis commented on #1891
urghhhhhhh really having hard time recalling it. maybe it was through a service now ticket? @cadecairos could you lend a hand here?

[2016-06-21 16:35] xmatthewx commented on #1892
I've got feedback on two levels.

#### Get it done
If we just want to get this done and move onto the next thing...
 - The gray background seems slightly out of sync. Not critical, but you might try the light blue used further down the page.
 - The paragraph is aligned to the top of the logo, but floats oddly. Try alignment with "mozilla" or "festival" instead. Optically, alignment with x-height m

[2016-06-21 17:03] Pomax commented on #1495
we will not be doing this, after various projects trying greenkeeper, the amount of spam it generates outweighs its utility.

[2016-06-21 17:03] #1495 closed

[2016-06-21 18:18] Pomax opened #1901 "automatically update credly tokens for our users"
set up some kind of automated cron job/whatever to make sure our uesers don't need to fill in their password every 90 days.

[2016-06-21 18:27] Pomax commented on #1771
@xmatthewx would you have time to help finish this up this week, or might there be someone else available to make sure we finish this up before the next heartbeat?

[2016-06-21 18:31] mmmavis opened #1902 "Update "graceful-fs" module (or the module that uses it as dependency)"
<img width="937" alt="screen shot 2016-06-21 at 11 26 27 am" src="https://cloud.githubusercontent.com/assets/2896608/16241569/17a2ba46-37a3-11e6-84ef-029f1f96f365.png">

dependencies tree
[code]

[2016-06-21 18:35] Pomax opened #1903 "investigate importing external badges into credly"
specifically: getting description, requirements, etc. field preservation from the badge file itself.

[2016-06-21 18:44] xmatthewx commented on #1771
Sure @Pomax. I bet @kristinashu is our best candidate if she isn't swamped with open web fellows. Otherwise, let's meet on Friday to push things thru. (I'm out tomorrow, you on Thursday.)

[2016-06-21 22:45] sabrinang commented on #1857
@pomax I have two ideas for the landing page if they are not signed in:
<img width="1266" alt="screen shot 2016-06-21 at 3 36 44 pm" src="https://cloud.githubusercontent.com/assets/2492510/16248746/004fe724-37c6-11e6-9266-578d37862b5d.png">
We can show the two options to log-in or create account buttons (https://redpen.io/vo22da3e4f1f7eef84)
We can surface the fields on the page itself to sign in

[2016-06-21 23:23] Pomax commented on #1857
We can't really go with the right of the two options, since the login process is controlled by id.webmaker.org (we can only redirect users there with a callback argument so they end up back on the page they were on when they left).

[2016-06-21 23:26] Pomax commented on #1771
:+1: let's talk on Friday

[2016-06-22 00:02] sabrinang commented on #1857
Ok, we can go with the redirect option on the left then. I cleaned up the copy and made the create an account less prominent. https://redpen.io/vo22da3e4f1f7eef84
<img width="1102" alt="screen shot 2016-06-21 at 4 46 27 pm" src="https://cloud.githubusercontent.com/assets/2492510/16250311/3cf924be-37d1-11e6-8bcf-f537b00d0a6f.png">

[2016-06-22 00:32] sabrinang opened #1904 "Mozilla Clubs Updates"
We are updating learning.mozilla.org/clubs and this issue is to keep track of questions and ideas.

**Design**
Is Mofo Bootstrap implemented when we redesign the whole learning site? or can we start integrating some united mofo styles as we update clubs?

**Development**
How do we build the pages so resources (Running your Club) are easily updatable by staff?
~~How can we build the testimonial sli

[2016-06-22 17:38] hannahkane commented on #1904
Fantastic ticket. Thanks, @sabrinang.

[2016-06-22 17:49] Pomax commented on #1903
According to http://support.credly.com/knowledgebase/articles/262317-can-i-display-badges-from-the-mozilla-open-badge-b this should be a matter of using the Credly UI to do what we need to do.

[2016-06-22 17:57] Pomax commented on #1772
based on the information in http://support.credly.com/knowledgebase/articles/866265-how-can-i-add-managers-to-my-organizational-accoun we can easily add managers with full badge control, as well as reporters (who can see stats and metrics but not administer badges) but there is nothing in between the two, so there is no dedicated user profile that allows for a user that can review and reward/decli

[2016-06-22 18:06] hannahkane commented on #1772
Given our focus on awarding badges to people who directly participate in Mozilla programs/trainings, this is likely not a problem for us. We can limit badge administrators to highly trusted people. (Though it does seem like a feature Credly might want to implement at some point.)

[2016-06-22 21:18] Pomax opened #1905 "make sure that credly's information is about "learning", not "teach""
the staging credly instance is for the app "teach.mozilla.org" atm for instance

[2016-06-22 21:32] Pomax opened #1906 "land the attachment fix for teach-api badge evidence"
this code should already be in place, it just needs a push and redeploy

[2016-06-22 21:47] hannahkane commented on #1899
cc @kristinashu

[2016-06-22 21:53] Pomax opened #1908 "settle on a formatting for the badge requirements"
we can parse "arbitrary" badge requirements, but depending on the formatting we'll have to implement a parser for it, so we should settle on which format to use for badge requirements.

Some options:
- rich text formatting (like tinymce in credly)
- html (`<ul>` and `<li>` for instance)
- markdown
- plain text (e.g. one -short- paragraph per requirement)
- ... others?

[2016-06-22 21:53] hannahkane commented on #1892
I think we need to get this done and move on, so I'd suggest we make the minor changes @xmatthewx recommends and push it live.

[2016-06-22 21:55] kristinashu commented on #1899
Here's a quick mockup for colors but I would love to get input from Sabrina.

The blue, orange, purple and yellow used for Problem-Solving, Communication, Creativity and Collaboration won't work as badge background colors since it will be too strongly associated with one of those categories. I'm suggesting we either keep using the green from the old badges or we could use the blue/purple shown bel

[2016-06-22 22:02] hannahkane commented on #1899
Thanks, @kristinashu. I'd prefer to go with the blue, because I think it's useful to differentiate between the different types of badges. I'll share this with our partner organization now, with the caveat that our full design team hasn't had a chance to review this yet, so it may change.

[2016-06-22 22:19] mmmavis commented on #1894
Hey @Pomax I don't have badges set up on my machine otherwise I would fix it myself. Do you mind fixing the location of the privacy policy notes on `CredlyLinkForm.jsx`? 😄

[2016-06-22 22:26] hannahkane commented on #1827
I believe this is duped by #1884, so closing.

[2016-06-22 22:26] #1827 closed

[2016-06-22 22:35] #1860 closed

[2016-06-22 22:42] mmmavis commented on #1203
@Pomax this seems to be fixed! Let's close this ticket? 😉

[2016-06-22 22:46] #1881 closed

[2016-06-23 01:20] Pomax commented on #1203
hah, almost a year old. Good call! We totally have that already these days.

[2016-06-23 01:20] #1203 closed

[2016-06-23 17:31] mmmavis commented on #1842
I'm not sure what the current status is for CMS(Calypso? Django?). This ticket is about setting up a Heroku instance with hook to our version of Calypso. Since http://teach-cms-enabled.herokuapp.com is already up I'm gonna close this ticket! 🎉

/cc @hannahkane

[2016-06-23 17:31] #1842 closed

[2016-06-24 14:41] soapdog commented on #1801
@hannahkane we'll need help from the localizers, there is extra content such as "headlines" which are needed and not present. I just arrived back from the all-hands, will have them up on Monday.

[2016-06-24 21:22] Pomax commented on #1772
after further talks with Credly, we can also maintain whitelists of users that we authorize to award/decline badge applications on a badge-by-badge basis, giving use several levels of users:

- owner: this account is effectively the holder of mozilla's registration with Credly
- managers: these accounts can perform full badge administration (create, update, delete, award/decline)
- reviewers: thes

[2016-06-26 17:45] alvarmaciel commented on #1847
Hi to all,
I was involved in the localization to Spanish of the Web Lit Map and several resources derivated of this work. Now I'm woking on mozilla clubs in Argentina, It is really essential have these pages in spanish. how I can help?

[2016-06-27 18:30] mmmavis commented on #1740
another related issue: https://github.com/mozilla/learning-networks/issues/416

[2016-06-27 21:19] sabrinang commented on #1892
Updated redpen: https://redpen.io/tg854590662134c6f8
I think we we're leaning towards a neutral grey shade in the UI (seen on newer unified properties) so the logos can be whatever colours above it so I think instead  updating the light blue shade below would fix the out of sync feeling. I aligned the text to match "mozilla" baseline and used shorter text "The world's leading event to build, debat

[2016-06-27 22:15] mmmavis opened #1910 "Tidy up unit tests for newsletter signup form"
Since `components/newsletter-signup/SignupForm.jsx` is a reusable component, we should extract tests related to it out from `pageXYZ.test.jsx` files and put them all into a separate file (e.g., `newsletter-signup.test.jsx`)

These are the 2 files which contain identical tests for the signup form:

- https://github.com/mozilla/learning.mozilla.org/blob/aceef1505693e96421049d783dfcb05208376bea/test/

[2016-06-27 22:28] hannahkane commented on #1892
Nice!

[2016-06-27 22:29] mmmavis commented on #1740
Closing this PR now as my other [PR](https://github.com/mozilla/learning.mozilla.org/pull/1911) covers the fix for this.

[2016-06-27 22:30] mmmavis commented on #1740
oops re-opened.

thought this "ticket" was a "PR" 😉

[2016-06-27 23:06] hannahkane commented on #1847
Hi @alvarmaciel! Thanks for your comment and for your previous localization work. We've just kicked off a process to plan and estimate the work involved in building the localization infrastructure for the website, including the Web Lit Map. We'll report more soon.

cc @Pomax @alicoding @cadecairos

[2016-06-28 00:55] Pomax commented on #1857
added into the PR

[2016-06-28 13:52] hannahkane opened #1912 "Estimate for localization work"
@Pomax @alicoding @cadecairos - can you please link to any documents you create during the estimation process here?

There's lots of community interest in this localization work, so it would be good to give people a place to follow along.

Thanks!

[2016-06-28 17:31] kristinashu commented on #1899
@sabrinang let us know if you had any other color suggestions

[2016-06-28 17:42] sabrinang commented on #1899
@kristinashu This is great how you incorporated the web lit colours into the badges and I also like the shade of blue as a base colour as the other lighter colours in the line art work well on it. :+1:

[2016-06-28 17:44] anmechung commented on #1899
+1!

[2016-06-28 19:51] mmmavis opened #1913 "Enable /codemoji"
<img width="671" alt="screen shot 2016-06-28 at 12 48 38 pm" src="https://cloud.githubusercontent.com/assets/2896608/16430117/e827e962-3d2e-11e6-9169-27dbbf754967.png">

This currently gives 404. We should enable that route on learning.mozilla.org soon.

/cc @hannahkane

[2016-06-28 20:15] cadecairos commented on #1913
This was turned off using cloudfront - we're actively working on a bug fix right now, and will bring it back online ASAP

[2016-06-28 20:15] #1913 closed

[2016-06-28 21:03] sabrinang commented on #1605
I have updated the redpen https://redpen.io/p/rb14e4c0eb3594f430 with @jvallera copy updates on gdocs https://docs.google.com/a/mozilla.com/document/d/1yQgNldfjwGE_lT0JEeTDsgzNJTceWh58i6VsUyishAo/edit?usp=sharing

**Note:** Some of the intro copy paragraphs are appearing quite text heavy than the previous so we may want to consider condensing if possible.

[2016-06-28 21:26] mmmavis commented on #1740
Gonna close this ticket now.

Talked to pmac on this just now and we think doing a super simple email check front end and relying on Basket for a more thorough check would provide less maintenance burden. Since Basket is still being actively developed and probably so is Salesforce, it's really tricky for us to keep our front end regex check always and 100% aligned with *both* Basket's and Salesfor

[2016-06-28 21:26] #1740 closed

[2016-06-28 22:04] #1910 closed

[2016-06-28 22:18] mmmavis commented on #1676
https://github.com/mozilla/basket-client/blob/master/basket/errors.py These are types of errors Basket can return back. I think we probably only need to worry about the first 2 cases: `BASKET_NETWORK_FAILURE` and `BASKET_INVALID_EMAIL`. @pmac could you please correct me if there are other cases we should catch & display error message to users? Curious about what `BASKET_UNKNOWN_EMAIL` represents a

[2016-06-28 22:40] hannahkane commented on #1605
Thanks, @sabrinang.

@jvallera - I added some suggestions to the doc about language to potentially cut, for your review.

[2016-06-29 01:59] pmac commented on #1676
I think you really only have to worry about `INVALID_EMAIL`. Any other error returned and you can just tell people "there's been a problem with our system. please try again later" or something along those lines. `UNKNOWN_EMAIL` is for if you're attempting to lookup a user by email address and we have no record of them. That can only be done with a valid API key however and you shouldn't need to do

[2016-06-29 02:04] pmac commented on #1676
`/me reads more issue history`

If basket is down it won't be for long. We've got crazy monitoring on it and bedrock (www.m.o) relies heavily on it as does accounts.firefox.com. If you'd like to see AJAX submission and client side error handling in production our friends at MDN did just that for the [View Source Conference site](https://github.com/mdn/viewsourceconf/blob/master/source/js/newslette

[2016-06-29 09:52] Saallen commented on #1892
Hey, thanks for the update @sabrinang - one thing I noticed when looking at the two redpens was that when the MozFest banner was above the ABout us, I though the About was referencing MozFest-

[2016-06-29 15:23] jvallera commented on #1605
Thanks @sabrinang and @hannahkane I agree with all of your suggestions. approved them and made edits.

[2016-06-29 18:32] sabrinang commented on #1605
Changes revised on [gdoc](https://docs.google.com/document/d/1yQgNldfjwGE_lT0JEeTDsgzNJTceWh58i6VsUyishAo/edit#heading=h.l6sn9511s3ur) and [redpen](https://redpen.io/p/rb14e4c0eb3594f430)

[2016-06-29 18:48] hannahkane commented on #1605
Thanks, @sabrinang. Changes look good.

I think we need to pause on this now for the rest of the heartbeat, to make sure we're addressing other process-oriented work that's in this heartbeat.

[2016-06-29 18:50] jvallera commented on #1605
Hey @sabrinang I made suggestions on redpen a couple hours ago, but i don't see them in this version. Should add again? or did you already see them? For example, moving "what do club captains think" up and taking out the pic on start a club tab. no worries if not possible, just want to make sure you saw them.

[2016-06-29 19:58] amirad commented on #1605
This is looking great team! Can't wait to see this live.
Nice choice of pictures @sabrinang ;) they are all from one city though so would be great if we can mix up a couple with other club locations (rio? elsewhere?)

[2016-06-29 23:14] mmmavis opened #1916 "Add sample.env to repo"

[2016-06-30 12:56] Carotejada commented on #1605
![eres-guau-gracias-por-tu-comentario](https://cloud.githubusercontent.com/assets/14875631/16488841/85b3f370-3ea0-11e6-9886-067854554443.gif)

 Thanks for the hard work!

[2016-06-30 20:23] mmmavis commented on #1902
wondering if this is something to do with the `node` version

[2016-06-30 21:34] sabrinang commented on #1605
[Redpen](https://redpen.io/p/rb14e4c0eb3594f430) updated with your suggestions @jvallera (sorry I missed them previously!).

@amirad  I got the photos from the set Julia shared with me from [Cape Town](https://www.flickr.com/photos/amirad/sets/72157668339120651/with/27064569131/). If you know where I should look for more recent photos or have some favourites to showcase - let me know and I'll be h

[2016-07-01 13:27] jvallera commented on #1605
No worries, thanks @sabrinang here are some additional photo sets: Nairobi https://www.flickr.com/photos/amirad/albums/72157666127395174 and Rio https://www.flickr.com/photos/soapdog/

[2016-07-04 19:46] mmmavis commented on #1676
@pmac THIS IS SUPER USEFUL INFO. THANK YOU! Thanks for providing context and links to live example&code. I think now I have enough info to improve what we currently have on learning.mozilla.org 🎉 🍻

[2016-07-04 20:48] sabrinang commented on #1892
Updated redpen: https://redpen.io/zcd9175df07bdc2b9e

<img width="967" alt="screen shot 2016-07-04 at 1 46 35 pm" src="https://cloud.githubusercontent.com/assets/2492510/16569657/c9aa7586-41ed-11e6-995c-1ed79b78e553.png">

- fixed alignment of banner as well as about us section and cta buttons on homepage
- placed below about us and included margin around the grey bg to make it look more like a pr

[2016-07-05 15:21] xmatthewx commented on #1892
Great iteration. I think if we vertically center the paragraph with the logo and gray box, this is good to go.

[2016-07-05 16:59] sabrinang commented on #1892
Updated redpen: https://redpen.io/zcd9175df07bdc2b9e with vertically centered paragraph

[2016-07-05 19:40] simonaramkisson opened #1919 "(August) Design logo for CA.pture project"
@sabrinang @hannahkane

Hi Team,

Hive Toronto will be launching a new project called CA.pture and we are in need of a logo that we can put on online documentation, evaluations and our youth council t-shirts.

This was our last project: http://hivetoronto.org/portfolio/privacybadges/ and we went with Hive colours for the badge logo.

I am thinking something simple in Hive/Mozilla colours that say

[2016-07-05 19:42] simonaramkisson commented on #1919
Sorry forgot we actually need two logos:

1) CA.pture: Claiming Space for Community Stories

2. CA.pture

[2016-07-07 18:55] hannahkane opened #1920 "update MCW page for July"
https://docs.google.com/document/d/1LT9L-OBfd45VhE2P-Zs5GLHn8WFlSG8iwjjwfxmP_b0/edit

[2016-07-07 19:16] hannahkane commented on #1920
cc @chadsansing

[2016-07-07 21:06] hannahkane opened #1922 "Update Gigabit T&C and Application Template"
Two tasks:

1. Update the [Mozilla Gigabit Community Fund Rules, Terms and Conditions](https://www.mozilla.org/en-US/gigabit/terms/ to reflect current terms) page to reflect the [latest draft](https://docs.google.com/document/d/1wxUa68ynmhCoWELIkYSkhE1QwUG0M7jPVK7kRM2O6LA/edit#heading=h.r1todfl5yrnf)
2. Change the link to "Handy Template" in the "How to Apply" section of [this page](https://www.mo

[2016-07-07 22:19] hannahkane commented on #1919
Flagging @xmatthewx since this is about branding.

@simonaramkisson - I want to make sure I understand the request. Do we need a logo, as in some kind of illustration or iconography, or do we just need a wordmark that says CA.pture? Is this something we want to associate with Hive Toronto? If so, I'd advise we use that branding.

Also, do you have a deadline for this?

[2016-07-07 22:20] #1920 closed

[2016-07-07 22:21] hannahkane commented on #1892
Thanks, @sabrinang. I think it looks really good.

If you're happy with this, could you please file an implementation ticket with the design assets?

[2016-07-07 22:39] sabrinang opened #1924 "Implement homepage promotion banner: MozFest call for proposals"
Replace the ENCRYPT banner on the homepage with a banner promoting the MozFest call for proposals.
<img width="1295" alt="screen shot 2016-07-07 at 3 37 35 pm" src="https://cloud.githubusercontent.com/assets/2492510/16672111/c454bfa2-4458-11e6-8604-323060a62687.png">

See redpen: https://redpen.io/zcd9175df07bdc2b9e

**Copy:** The world's leading event to build, debate, and explore the future of o

[2016-07-07 22:40] sabrinang commented on #1892
Closing this issue and implementation ticket opened (#1924)

[2016-07-07 22:40] #1892 closed

[2016-07-08 18:18] simonaramkisson commented on #1919
Awesome. I would say watermark that says Ca.pture and it is associated with Hive Toronto so definitely +1 with that branding. We are just going to capitalize the "C" and keep it as Ca.pture.

Timeline is September 2016. Just wanted to flag for the team.

[2016-07-08 18:54] xmatthewx commented on #1919
Rather than a logo, I agree with the suggestion of approaching this as an illustration that appears alongside mozilla/hive branding. Our current and new audiences struggle to understand the relationship between all our various programs and identities, which dilutes our impact. We are working to increase clarity with a more unified identity. This approach will also give you more freedom and flexibi

[2016-07-08 21:06] hannahkane opened #1926 "Kick off Learning site localization project"
This is a placeholder or parent ticket to track localization work.

Specific tickets to be provided by team. :)

[2016-07-08 21:09] Pomax commented on #1926
do we want to do an initial blanket-copy of the issues identified in the https://etherpad.io/localecakes document?

[2016-07-08 21:11] hannahkane commented on #1926
Going to close this issue in lieu of an epic (zenhub ftw!). Will add the issues from the etherpad. Thanks!

[2016-07-08 21:11] #1926 closed

[2016-07-08 21:14] hannahkane opened #1927 "Learning Site Localization"
Specific tickets to file:

- add react-intel to all files that are user-facing  - client/server
- add user controls (UI) for switching locales - client (server?)
- add a CTA to help localise for incomplete locales - client (server?), documentation, process
- document how to add localisation to code - documentation
- document pontoon usage - documentation
- determine how to deal with server-side re

[2016-07-08 21:33] hannahkane commented on #1912
http://etherpad.io/localecakes

[2016-07-08 21:33] #1912 closed

[2016-07-08 21:35] hannahkane commented on #1894
This is done.

[2016-07-08 21:35] #1894 closed

[2016-07-08 23:09] hannahkane commented on #1847
@alicoding @cadecairos @pomax - is it okay to close this? I'm assuming it will be covered in upcoming Learning localization work.

[2016-07-08 23:21] hannahkane commented on #1857
@Pomax - can you please provide an update on where this is going to be end of day today? Thanks!

[2016-07-09 14:12] alicoding commented on #1847
Closing this one and will file an issue when we kick off our l10n work for the learning site.

[2016-07-09 14:12] #1847 closed

[2016-07-09 17:48] Pomax commented on #1857
missed this message - we ran into setup issues a week ago, and Mavis was on PTO most of this week, so we're effectively still where we were in terms of schema change for the Teach API, although the outstanding design issues were solved; the "when not yet signed in" comp has been implemented and we're now adding a website field at the end of the second page of the form, but only when you're choosin

[2016-07-09 17:49] Pomax commented on #1902
it is, but also with how graceful-fs worked. Worth updating!

[2016-07-11 19:10] alanmoo opened #1928 "Add localization coverage testing -server side"

[2016-07-11 19:11] alicoding opened #1929 "Add react-intl to all files that are user-facing"
Any files that we have user facing we'll need to localize those (error messages as well).

- [x] Add dependencies (react-intl etc.)
- [x] Add IntlProvider to client and server code
- [x] Create directory structure to support Pontoon locale files

[2016-07-11 19:11] alanmoo opened #1930 "email Moco's team to add the project to the list on Pontoon - process, moco-collab"

[2016-07-11 19:11] alanmoo opened #1931 "determine localisation effort in django - process, moco-collab"

[2016-07-11 19:12] alanmoo opened #1932 "determine locale model information for structured data - django"

[2016-07-11 19:12] alanmoo opened #1933 "determine whether we need any localsation for django views we use (if any) - process"

[2016-07-11 19:12] alicoding opened #1934 "Add user controls (UI) for switching locales"
We'll need language dropdown

cc @hannahkane @sabrinang

[2016-07-11 19:12] alanmoo opened #1935 "determine a locale priority ordering (which languages do we focus on first) - process, documentation"

[2016-07-11 19:12] alanmoo opened #1936 "determine how to localise activities (user-generated teaching activities etc) - process"

[2016-07-11 19:13] alanmoo opened #1937 "which technologies can be used for all the localization bits (django, custom code?)"

[2016-07-11 19:13] alanmoo opened #1938 "determine how to user test localisations (QA of language and styling) - process"

[2016-07-11 19:13] alanmoo opened #1939 "document the user test requirements - documentation"

[2016-07-11 19:13] alanmoo opened #1940 "how to get locale data into staging - CI, process"

[2016-07-11 19:13] alanmoo opened #1941 "Document process of getting locale data into production"

[2016-07-11 19:13] alicoding opened #1942 "Add a CTA to help localise for incomplete locales"
We'll probably need a landing page including documentation for how people can help localize our page.

cc @hannahkane @sabrinang

[2016-07-11 19:13] alanmoo opened #1943 "determine when a locale is ready for "exposing to the world" on production - process, documentation"

[2016-07-11 19:14] alanmoo opened #1944 "setting up CI testing for client/server localization"

[2016-07-11 19:14] alanmoo opened #1945 "setting up CI testing for django server (if we do localzation there)"

[2016-07-11 19:14] alicoding opened #1946 "Add documentation how to add localisation to code"
Technical documentation here.

[2016-07-11 19:16] alicoding opened #1947 "Document pontoon usage for learning localization users"
Probably just a link to Pontoon tutorial here?

[2016-07-11 19:17] alicoding opened #1948 "Determine how to deal with server-side rendered localized pages"
We might have some pages being serve server-side on the learning site as static here and might need to figure out how.

[2016-07-11 19:18] alicoding opened #1949 "Document how to deal with server-side rendered localised pages (to serve as static content) - documentation"
Document the process on how we achieve this problem that we might face.

[2016-07-11 19:20] alicoding opened #1950 "Determine where to host all the l10n documentation"
Should it be in the readme? lets discuss more about this

[2016-07-11 19:21] alicoding opened #1951 "Load pontoon locale data into code files"
Pontoon data files are not react-intl compatible and we have to convert from `.properties` to `.json`. We have done it on donate.mozilla.org repo and probably can copy the code from there.

[2016-07-11 19:22] alicoding opened #1952 "Determine strategy (if any) for dealing with caching of localised pages"
We might have to figure if we will have any issue with our cloudformation stack after enabling l10n here since the user-agent and caching could cause some issues.

[2016-07-11 19:22] alicoding commented on #1952
user loads page with locale X, then later resumes with locale Y, (etc) what happens - process, documentation
requires meeting to guage true time requirements, probably a day actual work

[2016-07-11 19:23] alicoding opened #1953 "Document the process for locale negotiation"
user loads page with locale X, then later resumes with locale Y, (etc) what happens - process, documentation.

[2016-07-11 19:24] alicoding opened #1954 "Add CSP rules for pontoon to communicate with the app for iframe related"
We will have to allow Pontoon to communicate with our server for front-end localization.

[2016-07-11 19:25] alicoding opened #1955 "add CSP rules for pontoon to communicate with django (front endy), if necessary"
Not sure if this is needed, but filing it first to be sure.

[2016-07-11 19:26] alicoding opened #1956 "Document how (and how often) to grab pontoon locale data during dev building and testing"
Will probably just need to document how this works since it's being done instantly whenever someone translated a string.

[2016-07-11 19:28] alicoding opened #1957 "Add tests/test framework that can catch not-locale-based strings - server"
We might not need this, but as much tests coverage possible is better than none.

[2016-07-11 19:43] hannahkane commented on #1904
Design work is here: https://redpen.io/p/rb14e4c0eb3594f430

[2016-07-11 19:43] alicoding opened #1958 "Locale negotiation"
Add locale to the URL based on the browser's language preferences.

[2016-07-11 19:46] alicoding commented on #1929
This should only be doing the following:

1. Add dependencies (react-intl etc.)
2. Add IntlProvider to client and server code
3. Create directory structure to support Pontoon locale files
4. Allow to change to one the supported locale (could be gibberish language for testing)

[2016-07-11 20:00] alicoding commented on #1950
@alanmoo and I decided that we'll just put this in the README.

[2016-07-11 20:00] #1950 closed

[2016-07-11 20:01] alicoding commented on #1951
https://github.com/mozilla/donate.mozilla.org/blob/master/scripts/properties2json.js

[2016-07-11 20:04] alicoding commented on #1952
This might not be an issue when we do first invalidation...

[2016-07-11 20:04] #1952 closed

[2016-07-11 20:08] alicoding commented on #1958
https://github.com/mozilla/donate.mozilla.org/blob/master/locales/i18n.js

[2016-07-11 20:11] alanmoo commented on #1957
@Pomax was this suggested by you? Can you give a specific example of this?

[2016-07-11 20:12] gvn opened #1959 "Cursory snorkel around adding mofo-ui into Learning site"
Perform a deeper investigation of what it would take to use Mofo UI on the Learning site.

Is there a way we can eliminate the Bootstrap 4 requirement? Can we reduce the architectural dependencies of legacy hubs that want to use it?

[2016-07-11 20:20] alanmoo commented on #1951
Happens during build step

[2016-07-11 20:48] sabrinang opened #1960 "Design for Localization: Investigate UX Strategies and UI Patterns"
With plans to localize learning.mozilla.org (#1927), we will research UX strategies and UI patterns that will inform how this appears to the user and how we can improve our designs to accommodate our growing global audience. This will help establish standards and approaches around designing localization-friendly user interfaces across our properties MoFo wide too.

__Concepts to consider:__
- lang

[2016-07-11 20:53] Pomax opened #1961 "CSP prevents Goggles from being used"
The CSP we had to put in place to lock down learning.mozilla.org had that unfortunate side-effect of blocking the X-Ray Goggles from working on the learning site. To fix this we'll have to whitelist the goggles domain(s).

[2016-07-11 22:12] mmmavis commented on #1924
@sabrinang `#f1f1f2` isn't being used anywhere on the Learning site. Is this a new shade we like to introduce?

[2016-07-11 22:16] mmmavis commented on #1924
Other than replacing the promo banner with MozFest promo, does this ticket also include layout / alignment adjustment on the homepage?

[2016-07-12 15:33] alicoding commented on #1930
done

[2016-07-12 15:33] #1930 closed

[2016-07-12 17:55] sabrinang commented on #1942
@alicoding Can you walk me through the current process of localizing a page? I am unfamiliar with the process and it will help me understand where this landing page would live, possible content or if we need it at all if there is a more direct process for users to be lead to somewhere on pontoon.mozilla.org.

In a previous issue for thimble, https://github.com/mozilla/thimble.mozilla.org/issues/13

[2016-07-12 18:33] sabrinang commented on #1924
Hey @mmmavis I believe the unified mofo palette is not used on the Learning site currently and that is where the shade is from. At this moment, we can use the existing grey that is live (used with current encryption banner) so we are not introducing another shade yet until we redo the colours of the site would be a better approach.

There are additional design tweaks made from the feedback as this

[2016-07-12 18:48] mmmavis commented on #1924
@sabrinang thanks that's helpful

can you provide the colour code of the background colour on the quotes section? Is it the same as what we used on the promo banner? ---> `rgba(77, 78, 83, 0.1)` which is `#4D4E53` with opacity set to 10%.

[2016-07-12 18:52] sabrinang commented on #1924
@mmmavis Yes, please change quotes section `background: #EBF2F5` to the grey seen on promo banner `background: rgba(77, 78, 83, 0.1)`

[2016-07-12 19:15] mmmavis commented on #1924
@sabrinang 👍

[2016-07-12 23:39] sabrinang commented on #1942
Met with Ali briefly to discuss more details on this issue.

Some current pain points are that users often do not know they have to create a log-in account (via Persona) to contribute with [Pontoon](https://pontoon.mozilla.org/) and some pages are not accessible without logging-in. Also, people should have more information or go through an on-board tutorial prior to landing on Pontoon directly to

[2016-07-13 15:43] alanmoo commented on #1922
Where can I find the diff on the terms?

[2016-07-13 15:59] hannahkane commented on #1922
Whoops. Forgot they weren't actually attached. Just emailed to you, @alanmoo.

[2016-07-13 17:56] simonaramkisson commented on #1919
This sounds great. I definitely would love it to mirror Mozilla branding so as to show how we are connected. It is a 9 month project which we hope will qualify for renewed funding.

[2016-07-13 18:07] alanmoo commented on #1922
@jenntbeard - for the header, should it remain 2 lines as it is, just removing the word "Rules"? Or should it become one line?

[2016-07-13 18:33] sabrinang commented on #1942
An idea for how the CTA message + link can appear at the top in the UI across our properties:
![mozilla-learning_localization-cta-idea](https://cloud.githubusercontent.com/assets/2492510/16814755/0bc94ac8-48ec-11e6-84c6-ac119cdb4b45.png)
The CTA message would need to be localized itself:
![mozilla-learning_localization-cta-idea-example](https://cloud.githubusercontent.com/assets/2492510/16815002/1

[2016-07-13 19:50] alanmoo commented on #1922
Tracking in https://github.com/mozilla/bedrock/pull/4219

[2016-07-13 20:46] Pomax commented on #1857
@sabrina we were missing a "description" field, which the current schema uses to pull as "what to show the user" for the clubs on the map and in the club listing. I'll add this into the second page, under the "what is your club name" field, as a textarea with the same restriction as the "reason to host a club" first page field, so that we have the same data available at least, and then we can deci

[2016-07-13 21:26] hannahkane commented on #1919
K. This is in the queue for August. Thanks for giving us so much advance notice, @simonaramkisson!

[2016-07-13 22:25] alanmoo commented on #1958
I think this is blocked by #1929, right?

[2016-07-13 22:31] alicoding commented on #1958
Yup

[2016-07-14 05:32] flukeout opened #1965 "Investigate options to allow Clubs team to update Club guides section"
The new [Clubs Pages Designs](https://redpen.io/mn4cd1abc4840370be) include a Club Guides section that contains categorized links to a bunch of resources.

The current plan is to hard-code these links into the page, which would make process of updating them time consuming and requires the involvement of a dev. Originally, this section of the site was to be handled via the CMS, and since that won't

[2016-07-14 05:38] flukeout opened #1966 "Estimate & evaluate approaches to implement new Clubs Pages"
Based on discussions in today's stand, let's evaluate and estimate a few approaches for implementing  the [New Clubs Pages](https://redpen.io/p/rb14e4c0eb3594f430) on the Learning site.

**Options**
* **The Big Kahuna** - implement all of the required components & styles in the unified design bootstrap theme and integrate it into the Learning site
* **The Half-stepper** - implement the new Clubs p

[2016-07-14 16:48] gvn commented on #1965
Seems like a good use for Django since it looks like structured data.

[2016-07-14 17:44] gvn commented on #1966
I propose we do Quick N' Dirty followed by The Big Kahuna (which can be done in parallel).

[2016-07-14 17:50] gvn commented on #1966
Also: Big Kahuna is more like using Bootstrap 3 + Mofo UI for Learning.

[2016-07-14 17:59] flukeout commented on #1966
Agreed, I'll look into the work involved to do the **QnD** and create a plan & estimate.

[2016-07-14 18:54] #1951 closed

[2016-07-15 13:30] jvallera commented on #1966
Thanks @flukeout this looks great. I agree, the QnD approach is best for now, with Big Kahuna to follow (love these title selections). Here are some background deets about club resources that may help you:

1. They are all links that live online in various places (thimble, google, github, etc.) Here is the full list. https://docs.google.com/spreadsheets/d/1dpU02AiN2otBuN0W4Xt9cbIDMpBd3jKKLPs_1Qsxe

[2016-07-15 15:37] #1922 closed

[2016-07-15 18:44] flukeout opened #1969 "Broken "Get Help" link on Clubs page"
On the https://learning.mozilla.org/clubs page, on the bottom right, the Get Help link is broken. It points to http://mozilla.github.io/learning-networks/clubs/ which is a broken link.

![image](https://cloud.githubusercontent.com/assets/25212/16884980/3d281b44-4a81-11e6-8760-c10b955643a3.png)

[2016-07-15 18:49] flukeout commented on #1966
Thanks for the insight @jvallera - looking at the [current clubs page](https://learning.mozilla.org/clubs) gave me another idea. At the bottom of that page there is a **Get Help** link that is supposed to take you to resources. Unfortunately, that link is broken (filed in #1969) - but it could lead to a page hosted on the Clubs Github repo that would have a nicely formatted list of guides.

**Ques

[2016-07-15 19:30] jvallera commented on #1966
@flukeout not sure what the help link use to point to, but guessing it may go to the club fact sheet which currently seems to be broken. http://mozilla.github.io/learning-networks/clubs/ trying figure out why.

I would rather the guides be more up-front, like we plan to have them on the new site page...but I am ok with having them link to the help button for now if that is easiest.

[2016-07-15 19:40] jvallera commented on #1966
update, fact sheet is working, link seemed to be broken, not sure if that was the link for the help button, but will ask Amira next week. http://mozilla.github.io/learning-networks/clubs/facts

[2016-07-15 19:47] hannahkane commented on #1966
I can confirm that the Help link used to point to that fact sheet. It's also linked from the middle of the page ("If you’d like to get started on your own, check out these resources.")

It looks like the name of the file was changed 15 days ago, so this link has been broken since then.

[2016-07-15 20:12] flukeout commented on #1966
So, the way I see it, we've got two options for the Quick and Dirty

1. We include the expandable guides section within the current clubs page
2. We create a new Mozilla Clubs Guides section on the site that houses the guides

See below...

![image](https://cloud.githubusercontent.com/assets/25212/16887252/b5e68564-4a8d-11e6-9b5e-077b3157e320.png)

cc @sabrinang @jvallera What do you think?

[2016-07-15 20:29] hannahkane commented on #1969
Target link was changed two weeks ago to http://mozilla.github.io/learning-networks/clubs/facts

Should also be updated above the map on the same page ("If you’d like to get started on your own, check out these resources.")

[2016-07-15 20:48] sabrinang commented on #1966
@flukeout I think having option 2 with the indent will really help with the nav hierarchy. A separate page for these guides/resources will provide the flexibility for that page to be as long as it wants so we have the opportunity to showcase all the links and may not need to hide/collapse any content. It's also great to be able to link to that URL directly to share with club captains too.

[2016-07-15 20:55] flukeout commented on #1966
Thanks @sabrinang - that's my feeling too. I feel like the guides would be buries in the long page.

[2016-07-15 21:20] sabrinang commented on #1934
Overview of ideas (ideas in context on [redpen](https://redpen.io/p/mte5a684e364f3a1bb))
- left-aligned menu items: if menu items are aligned to the left we can have language displayed in line on the right
- center or right aligned menu items:  if menu items are aligned center or right we can make the height of the heading slightly taller and fit language on the upper right
- in response to https:

[2016-07-15 23:36] sabrinang commented on #1934
See Redpen: https://redpen.io/p/mte5a684e364f3a1bb

For the learning site, we can include a language dropdown right below the sign in section on the top of the left side bar

![mozilla-learning_localization-cta-11](https://cloud.githubusercontent.com/assets/2492510/16891097/05067372-4aaa-11e6-83e0-6c3a3007dd4f.png)

[2016-07-15 23:45] sabrinang commented on #1966
[Redpen](https://redpen.io/p/rb14e4c0eb3594f430) copy was revised from comments directly made on the redpen and from this [google doc](https://docs.google.com/a/mozilla.com/document/d/1yQgNldfjwGE_lT0JEeTDsgzNJTceWh58i6VsUyishAo/edit?usp=sharing)

[2016-07-18 15:17] jvallera commented on #1966
@hannahkane thanks for confirming. Can we update the get help link so it links to this: http://mozilla.github.io/learning-networks/clubs/facts not sure why/when it changed but this link will stay the same.

@sabrinang and @flukeout I agree that option 2 seems like the best solution for now. Having a direct URL to guides will be very handy. Thanks!

[2016-07-18 15:30] gideonthomas commented on #1965
Here's a mock JSON schema that you can use for the time being that will probably look like what you will get from Django:

`GET /club-guides`
[code]

and possibly we could do:
`GET /club-guides?format=category`
[code]

The work involved for this on Django is:
* Creating the Model
* Forming the URL pattern
* Adding the view(s)
* Serializing the data

[2016-07-18 15:41] alanmoo commented on #1953
I'm not sure I understand the issue with changing locales- shouldn't it just load the page in the new locale?

[2016-07-18 15:46] alicoding commented on #1953
No issue here, but we want to document how we are dealing with this. Like, we are looking in their navigator.language and lookup in our supported locales etc.

[2016-07-18 15:53] alanmoo commented on #1953
Ah. I'd expect 2 things:

* If they don't have a locale in the URL, we direct them to one we deduce based on `navigator.language`
* If they do, show them that locale.

Possible future enhancement that we might want to flesh out: we do some checking, if it's either their first visit or if the locale doesn't match their set one, we let them know if we do offer their locale?

[2016-07-18 16:01] alicoding commented on #1953
After you have #1958 implemented this ticket is to document what was implemented there and I agree and expect these to happens in that implementation (sorry if I repeated what you've said above)

1. If no locale present in the URL, we will lookup in `navigator.languages` and redirect them to the proper locale. (Please note that we might be doing server side redirect instead if it makes more sense

[2016-07-18 16:01] hannahkane commented on #1966
@jvallera - yep. @flukeout filed #1969 and I submitted a PR. @flukeout - can you please review that when you have a minute (https://github.com/mozilla/learning.mozilla.org/pull/1970)?

[2016-07-18 16:29] flukeout commented on #1966
@hannahkane - will review the PR today.

[2016-07-18 19:18] #1940 closed

[2016-07-18 19:18] #1941 closed

[2016-07-18 19:18] #1946 closed

[2016-07-18 19:18] #1947 closed

[2016-07-18 19:18] #1956 closed

[2016-07-18 19:20] flukeout opened #1973 "Cannot command-click <IconElement /> to open link in a new tab."
At the bottom of the clubs page - https://learning.mozilla.org/clubs - there is a Get Help section.

Hold Command (on a Mac, Control for Window) and click on the link, it should open in a new tab but doesn't. Seems like the custom element ``<IconElement />`` doesn't support this functionality, but it should.

[2016-07-18 19:24] #1969 closed

[2016-07-18 20:08] #1954 closed

[2016-07-18 20:28] gideonthomas commented on #1965
After chatting with @flukeout a more comprehensive approach seems to be needed.

The `GET /club-guides` route will remain the same.

The suggested changes to `GET /club-guides?format=category` is reflected below:
[code]

This change implies two significant requirements from the schema implementation. Firstly, categories in the database should have an order associated with them. Secondly, guides sh

[2016-07-18 21:33] sabrinang commented on #1942
Mockup on learning site:
![mozilla-learning_localization-cta](https://cloud.githubusercontent.com/assets/2492510/16929836/519af604-4cee-11e6-9cdf-fa4367df0671.png)

![mozilla-learning_localization-cta_example-language](https://cloud.githubusercontent.com/assets/2492510/16930777/940f3258-4cf2-11e6-94e5-764d02fa9f0b.png)

We can think about when the CTA appears and what we want users to take action

[2016-07-18 23:11] sabrinang commented on #1942
I made some mobile iterations and I'm leaning towards making the whole bar linked instead of just the button to provide a larger touch target area. We can adjust how the text appears as a button (left) or as a link (right) but I think the right would better imply the whole bar is linked though:  <img width="985" alt="screen shot 2016-07-18 at 3 54 19 pm" src="https://cloud.githubusercontent.com/as

[2016-07-18 23:19] flukeout commented on #1966
Currently there are two spots on the [Clubs Page](https://learning.mozilla.org/clubs) that link to the [Mozilla Clubs Fact Sheet](http://mozilla.github.io/learning-networks/clubs/facts)...

![image](https://cloud.githubusercontent.com/assets/25212/16933563/55ee8f4e-4d03-11e6-8435-cf161298512f.png)

and...

![image](https://cloud.githubusercontent.com/assets/25212/16933567/5cd35b5a-4d03-11e6-8949-c

[2016-07-19 00:00] flukeout commented on #1966
@sabrinang - I came up with a solution for showing translated versions of the guides. Could you have a look over and do a mini-crit?

![image](https://cloud.githubusercontent.com/assets/25212/16934240/1a058842-4d09-11e6-8f2d-1bcd62cb9aad.png)

[2016-07-19 00:21] sabrinang commented on #1966
@flukeout If there are not too many guides, instead of “also available in Spanish, French” you can consider just having the translated titles listed beneath it.

For example:

- Teach open practices *(EN)*
  - enseñar a las prácticas abiertas *(ES)*
  - enseigner les pratiques ouvertes *(FR)*

or have it as "also available in español, français" if showcasing the other translated titles isn't possi

[2016-07-19 02:32] KGorr opened #1975 "Request for hi-res image for Mozilla Learning feature opportunity"
The mailbox.com has requested a hi-res image (to be sent by July 29) in order to feature Mozilla Learning in an upcoming _Learning_ magazine. It would be great to provide them with an image of the Mozilla Learning wordmark with some of the site icons, or a web lit map image with Mozilla branding.

Here are the requirements we've been sent:

[2016-07-19 15:03] jvallera commented on #1966
@flukeout Good idea, but can we do it this way:

1. if you'd like to get started on your own, check out this Fact Sheet (link to fact sheet)
2. Get help can link to new clubs resources page.

love the addition of the translated resources and +1 @sabrinang

[2016-07-19 16:01] alicoding commented on #1937
Just an update so far for this ticket. The static site we're using React-intl #1968

[2016-07-19 16:02] alicoding commented on #1943
This is now done https://github.com/mozilla/learning.mozilla.org/blob/develop/L10N.md#translation-data-to-production

[2016-07-19 16:02] #1943 closed

[2016-07-19 16:49] flukeout commented on #1966
Here are the translations loaded into the page from the JSON data. The _Customizing Your Club_ section has the most...

![image](https://cloud.githubusercontent.com/assets/25212/16958613/0f1e46b6-4d96-11e6-943f-06f9d8cde26f.png)

[2016-07-19 16:54] flukeout commented on #1973
Another bug, when you follow this link, the scroll position for the window doesn't reset when you arrive at the destination page...

![bad-scroll](https://cloud.githubusercontent.com/assets/25212/16958767/d1e3c3b0-4d96-11e6-97b0-13804ab90311.gif)

[2016-07-19 17:51] hannahkane commented on #1975
cc @xmatthewx

@KGorr - can you say more about how we're being featured? Is it a story about the Learning hub, or is it more like a list of resources, of which we're one? I'm trying to understand if a photograph of, say, a Mozilla Club in action is more appropriate than something logo- or wordmark-like.

I don't believe we have a Mozilla Learning wordmark, though we could potentially create one. (

[2016-07-19 19:24] #1929 closed

[2016-07-19 19:50] alicoding opened #1977 "Determine how to localize structured data and the other"
There are bunch of content within the site that we can't rely on Pontoon to do the translation, such as:

1. [Teaching activities](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/hfgorsk1.png)
2. [Blog post](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/gub9kld6.png)
3. [External banner](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/72jb0a-y.png) / similar content type (image

[2016-07-19 20:17] Pomax opened #1979 "add all Mavis-knowledge to the wiki page!"
Let's make sure @mmmavis's vast knowledge on learning.mozilla.org is not lost but getting all of it written out over on https://github.com/mozilla/learning.mozilla.org/wiki!

[2016-07-19 20:56] KGorr commented on #1975
Hi @hannahkane - thanks for checking in on this and great question.

From the requester:

"I don't have the text yet, but it will likely be the educational resource website in general because our mentions are fairly brief (a paragraph or so). I think the web literacy map could still work since it's an example of what's available. Or you could go with a logo or other more general image. "

@ldecour

[2016-07-19 23:16] sabrinang commented on #1942
I am investigating the existing documentation for Pontoon to figure out what content we need for landing pages (thanks @alicoding for sharing this link on our call earlier today): https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Pontoon and the [Pontoon](https://pontoon.mozilla.org) site itself does a good job at introducing the tool but also links to the previous link

[2016-07-20 00:01] alicoding opened #1981 "Start localize other components/pages"
#1968 was merged and now we can start localizing components / pages and let the extraction begin!

![http://img2.izismile.com/img/img3/20100609/gifs/gifko_08.gif](http://img2.izismile.com/img/img3/20100609/gifs/gifko_08.gif)

[2016-07-20 00:54] mmmavis commented on #1977
Curious about how other sites do this (localizing content, not just translating short text string). Any example site we can check out?

[2016-07-20 14:10] alanmoo commented on #1977
The format Pontoon provides (localizing in place) seems to be incredibly useful. Are the potential problems with this other type of data hidden in the UI or more in the 'figuring out where to/how to send this data so it's accessible to different locales'?

[2016-07-20 14:23] alicoding commented on #1977
@alanmoo the problem with these kind of structured data / teaching activities is that it needs more than just translation because sometimes it links to an external URL and have different content than the original one when it's being translated in other languages.

[2016-07-20 16:25] alicoding commented on #1981
@alanmoo we should figure out how to split this work since it will be a lot...

[2016-07-20 17:42] KGorr opened #1982 "Hivelearningnetworks.org Content Updates"
While the hivelearningnetworks.org site is still live, we would like the following changes to be made to reflect the active communities.

- Remove the locations tab (that includes the map and contact details in each city)
- On the home page, remove the following cities from the list:

  - Bangalore
  - Denver
  - Mombasa
  - Vancouver
  - Vizag
  - Ottawa

CC: @ldecoursy @simonaramkisson @mcdermot

[2016-07-21 03:09] KGorr opened #1984 "New Discourse URL updates on learning site"
I noticed a few spots where the new forum.learning.mozilla.org URL needs to replace the old discourse.webmaker.org URL.

**Footer**

- Home page
- Leadership opportunities
- Mozilla Clubs
- Maker Party
- Tools

**Activities page**
Learning Objectives intro paragraph for these kits:

- Web Lit Basics I
- Privacy Basics: Protect Your Data
- Quacking Javascript

SIDE NOTES: (I can file a separate tic

[2016-07-21 14:42] alicoding commented on #1948
@Pomax I don't know if we actually have this at all in the repo... should we close this ticket?

[2016-07-21 16:49] #1958 closed

[2016-07-21 17:34] mmmavis commented on #1979
hahahahha I will tackle this today

[2016-07-22 13:57] jenntbeard opened #1989 "Additions to mozilla.org/gigabit website"
Two tasks:
1. While waiting for consolidated website for Gigabit Hives, we need to add Austin to the existing site since they are now eligible to apply for funding.
2. We also want to add two sample funded grant proposals for prospective grantees to be able to reference.

All links and changes are contained in [this document](https://docs.google.com/a/mozilla.com/document/d/181dR_Ldfnok0JvWwcWcsaM

[2016-07-22 14:54] alanmoo commented on #1953
Added this to the wiki

[2016-07-22 14:54] #1953 closed

[2016-07-22 17:14] alicoding opened #1990 "Localize HomePage.jsx"
[code]

[2016-07-22 17:17] alicoding opened #1991 "Localize ActivitiesPage.jsx"
[code]

[2016-07-22 17:21] xmatthewx commented on #1919
If I understand correctly, @mcdermott415 suggested in [this doc](https://docs.google.com/document/d/1t2rVRlWExhakzAVB1V5TksVWfKUEU3cXIEmOkqVsw3I/edit#) that we pause this work until the Mozilla-wide rebrand lands this fall. I am more than glad to do the project, but believe this is the decision.

[2016-07-22 17:21] simonwex opened #1992 "Localize components"
@alicoding start at the top, @alanmoo start at the bottom. Check them off as you start them.

 * [x] /activity-section.jsx (ali)
 * [x] /badges/badge-horizontal-icon.jsx (ali)
 * [x] /badges/badge-vertical-icon.jsx (ali)
 * [x] /badges/badge.jsx (ali)
 * [x] /badges/CredlyLinkForm.jsx (SKIPPED)
 * [x] /badges/requirement-list.jsx (SKIPPED)
 * [x] /badges/social-share.jsx (SKIPPED)
 * [x] /blockquo

[2016-07-22 17:24] simonwex opened #1993 "Localize Pages"
@alicoding start at the top, @alanmoo start at the bottom. Check them off as you start them.

 * [x] /about.jsx (ali)
 * [x] /activities/ActivitiesPage.jsx
 * [x] /activities/ActivityKit.jsx
 * [x] /activities/HiveLink.jsx
 * [x] /activities.jsx
 * [x] /back-to-school-write-the-web.jsx
 * [x] /badges/badge-single.jsx
 * [x] /badges/badges.jsx
 * [x] /clubs-list/ClubList.jsx
 * [x] /clubs-list/Club

[2016-07-22 18:35] hannahkane commented on #1989
Thanks @jenntbeard. I don't see the reference to Austin or the sample proposals in the doc, though. Can you clarify?

[2016-07-22 18:48] hannahkane commented on #1989
For reference, the Austin logo ticket is here: https://github.com/mozilla/learning-networks/issues/408 and will be part of the Local Impact team's work next heartbeat (will put at the very beginning of the heartbeat).

[2016-07-22 19:16] jvallera opened #1995 "Remove copy from clubs site immediately"
Hello! the copy in the screenshot below needs to be removed from https://learning.mozilla.org/clubs/ as quickly as possible.

![screen shot 2016-07-22 at 3 11 18 pm](https://cloud.githubusercontent.com/assets/3729312/17068413/d253770c-501e-11e6-9148-38a0609054a9.png)

@gideonthomas @flukeout thanks! let me know if you need more info.

[2016-07-22 19:24] flukeout commented on #1995
cc @gideonthomas

[2016-07-22 20:19] alicoding commented on #1992
Sorry for those that I've taken @alanmoo since I have finished them before we split the work.

[2016-07-22 20:47] mmmavis commented on #1979
I dropped the env var section into the wiki yesterday. Nothing else comes to my mind at this moment as @Pomax has covered *everything* super well already. 🍻 (was gonna use 👍 but I realized this is probably not a good time to use that emoticon 😉 /cc @Pomax )

[2016-07-22 22:12] hannahkane commented on #1984
I think all of the links to the forums redirect properly, so I think we're good on those points.

[2016-07-22 22:21] KGorr commented on #1984
@ldecoursy

If it works for you, it works for me.

[2016-07-22 22:24] ldecoursy commented on #1984
👍

[2016-07-22 22:35] hannahkane commented on #1975
thanks, @kgorr.

I don't think the Web Lit Map is the right choice for a few reasons. 1) It's out-of-context if the mention isn't specifically about it, 2) It will be very hard to read unless it's pretty big, and 3) It's really meant to be interactive.

Wondering if just the Mozilla wordmark is the right thing here.

@xmatthewx - thoughts?

[2016-07-25 14:11] KGorr commented on #1975
+1 @hannahkane, please note that this request has a deadline of July 29 due to their printing publishing schedule.

[2016-07-25 14:59] xmatthewx commented on #1975
If possible, it would be helpful to have a scan of what a similar feature looks like in the magazine. Mozilla logo could work. Alternatively, a fragment of the weblit map, icons of our tools, screenshot of a visually oriented learning curriculum.

@hannahkane – which team do you think owns this task?

[2016-07-25 15:03] hannahkane commented on #1975
It doesn't particularly fit any of the teams, so I'd say Design ops. If I had to choose from the goal-based teams, I'd say Go Global, since it's related to marketing/growing the network.

[2016-07-25 15:09] xmatthewx commented on #1975
Until we have design ops staff, we'll have to pick a team. Best to let them guide this conversation and decision.

[2016-07-25 15:31] alicoding opened #2004 "X-Frame-Options needs to allow-from Pontoon"
Currently it sets to DENY (from all) and it needs to allow from pontoon.mozilla.org

[2016-07-25 15:45] KGorr commented on #1975
I asked the requester for an example with within minutes received this:

"It will be a brief mention, like those on the attached pages (note: the one at the bottom right of the "FYI" sample is an ad, so it wouldn't be that large)."
[Learning SAMPLE p38 Soc St BTS '15.pdf](https://github.com/mozilla/learning.mozilla.org/files/381892/Learning.SAMPLE.p38.Soc.St.BTS.15.pdf)
[Learning FYI section BTS 2

[2016-07-25 15:46] gideonthomas commented on #2004
Take a look at this before adding that header: https://github.com/mozilla/thimble.mozilla.org/issues/1517#issue-166185830

[2016-07-25 16:39] hannahkane commented on #1975
Oh wow. Now that I see those examples, the Mozilla logo will not work. :)

I'll put this on the agenda for the Going Global team's heartbeat planning meeting today.

[2016-07-25 16:41] alicoding commented on #2004
@cadecairos can you comment here regarding this issue as well? It doesn't seem like there's an easy way to add this with `helmet` at the moment...

[2016-07-25 16:44] #1995 closed

[2016-07-25 16:47] cadecairos commented on #2004
Helmet uses a package called [frameguard](https://github.com/helmetjs/frameguard)

here's how you'd use it:

[code]

[2016-07-25 16:50] xmatthewx commented on #1975
That's very helpful. Thanks @KGorr. Logos or screenshots for our Learning tools might work well. Maybe screenshot of a curriculum. @hannahkane – It'd be good to set a time goal for this. 2-3 hours?

[2016-07-25 17:06] hannahkane commented on #1959
@gvn - can we close this now? Seems like you did this!