[2015-03-10 21:56] hannahkane commented on #115
This is not a requirement for v1. Search will become more important as we go, but at launch...there's not much to search for. :)

[2015-03-10 21:59] gesa commented on #233
@toolness if I remember correctly, you were going to handle the js rearranging, and once that landed I was going to do the Less. Is that correct? (related—is there an issue for moving the js yet? I'd like to reference it in #226)

[2015-03-10 21:59] hannahkane commented on #114
Not a requirement for v1. Going to test the site in EN before we start localising.

[2015-03-10 22:00] hannahkane commented on #80
@toolness - are we good to close this one, or does it still need review?

[2015-03-10 22:03] gesa commented on #234
I am a big supporter of using as many semantic HTML5 elements as possible :+1:

[2015-03-10 22:04] hannahkane commented on #4
I'm going to close this ticket for now, because we haven't yet determined it's a need. Will re-open if the need emerges.

[2015-03-10 22:04] #4 closed

[2015-03-10 22:05] gesa commented on #228
:-1: I'm gonna take this and open a PR to set the base `rem` size to 10px for easy math.

[2015-03-10 22:05] gesa commented on #228
oops that was supposed to be a :+1:

[2015-03-10 22:14] hannahkane commented on #75
@simonwex @toolness  - do you think we can we close this ticket for now?

[2015-03-10 22:15] hannahkane commented on #73
@simonwex - should we close this for now?

[2015-03-10 22:16] hannahkane commented on #72
@davidascher - can we close this ticket for now? I think a version of it will be re-opened when we're ready to add editing functionality to the curriculum pages.

[2015-03-10 22:16] hannahkane commented on #69
@simonwex - can we close this one?

[2015-03-10 22:19] hannahkane commented on #9
duped by #175

[2015-03-10 22:19] #9 closed

[2015-03-10 22:40] hannahkane commented on #171
@davidascher, did we arrive at a solution for this one?

[2015-03-10 22:42] hannahkane commented on #154
Tabling this, pending #227

[2015-03-10 22:42] hannahkane commented on #162
Tabling this, pending #227

[2015-03-10 22:42] hannahkane commented on #144
@vazquez - what do we need to do to close this issue?

[2015-03-10 22:44] hannahkane commented on #118
Will address the logo/wordmark issue in another ticket. @toolness - are we good to close this ticket, based on the original issue?

[2015-03-10 22:45] vazquez commented on #144
@hannahkane Nothing needed, we can close this issue :)

On Tuesday, March 10, 2015, hannahkane <notifications@github.com> wrote:

--
Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez <http://twitter.com/iamrvazquez>
IRC: ricardo

[2015-03-10 22:45] toolness commented on #80
Yep you can go ahead and close it, we have already filed follow up issues!

This message was typed with haste on a tiny keyboard with no tactile feedback.

[2015-03-10 22:45] toolness commented on #234
Sure sounds good to me!

This message was typed with haste on a tiny keyboard with no tactile feedback.

[2015-03-10 22:46] toolness commented on #75
Yep i think so!

This message was typed with haste on a tiny keyboard with no tactile feedback.

[2015-03-10 22:48] hannahkane commented on #70
@vazquez - that link goes to the site map for me. I think this is a correct updated link: https://projects.invisionapp.com/d/main#/console/2977378/66113218/preview

It looks great to me. I think we need to think through the authentication process, though, for the case where the user is not yet logged in when they click on "Add your club."

[2015-03-10 22:48] hannahkane commented on #52
@iamjessklein and I squared up on this today. Excited to see this page!

[2015-03-10 22:49] hannahkane commented on #6
I'mma close this. :)

[2015-03-10 22:49] #6 closed

[2015-03-10 22:50] #75 closed

[2015-03-10 22:50] #80 closed

[2015-03-10 22:50] mmmavis commented on #234
Cool, I'll include this in my PR for /clubs page.

[2015-03-10 22:50] #144 closed

[2015-03-10 22:51] hannahkane commented on #84
@amirad and I met today. She's working on a draft this week.

[2015-03-10 22:52] hannahkane commented on #62
@amirad and I met today to talk about how this overlaps in some ways with #84. She will work on the two pieces in tandem. She is a hero.

[2015-03-10 22:54] hannahkane commented on #227
Going to give this until tomorrow to see if anyone has any other comments. Otherwise, will file a ticket for implementing Persona.

[2015-03-10 23:34] mmmavis opened #236 "Detect regular/retina display and render proper images"
As we chatted on PR https://github.com/mozilla/teach.webmaker.org/pull/193 we need to come up with a way to detect and render images for regular/retina display automatically.

@toolness

@gesa

[2015-03-10 23:35] gesa commented on #236
call me biased, but i'd love to see my solution react-ified and implemented as a component.

[2015-03-11 00:42] amirad commented on #62
Did a second round of edits and made the tips more reflective of a club. @hannahkane @thornet @LauraHilliger thoughts? what's missing? Also asked sent a few more nudges to community members to get some last minute input on what we might have missed.

https://docs.google.com/document/d/1syswSeON-0o1svFz8F457uCncg8Kvx5IW8-2Xi3RBpw/edit?usp=sharing

[2015-03-11 05:55] gesa commented on #120
Where is the PSD/Sketch file for this design? (I kind of did a cursory search and came up with nothing)

[2015-03-11 09:50] LauraHilliger commented on #62
I don't think anything is missing, at least not off the top of my head. I made a round of edits, mostly copy suggestions and typo/semantic fixing. Hope that's helpful and this is getting nice and tight. Nice job @amirad

[2015-03-11 11:03] adamlofting commented on #151
FWIW, [here is data](https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/13vlL8n2oaXrRWQrENdKsnL8apgGKGsJJzL0mZB5_gns/edit#gid=0) from when we looked at browser usage for webmaker.org (including tools) last year. But, I would caution that *our existing audience does not equal our target audience*. Given much of our target audience isn't yet connected to the internet ;)

**Thoughts on ho

[2015-03-11 11:26] adamlofting commented on #122
I've setup a constituent group in BSD called `2014_contributors_with_email_optin`.

cc: @amirad @chrislarry33 @ldecoursy @thornet

[2015-03-11 11:26] #122 closed

[2015-03-11 11:52] #228 closed

[2015-03-11 12:51] toolness commented on #112
Woot, this is done!

[2015-03-11 12:51] #112 closed

[2015-03-11 13:30] vazquez commented on #70
@hannahkane - I'm blocked by this authentication, since I'm not quite sure how the new Login will work. I can design with the current implementation of Login, but I think that will change as the workflow is being coded.

[2015-03-11 13:38] vazquez commented on #37
Questions answered in InVision @hannahkane :shipit:

[2015-03-11 13:42] toolness commented on #233
@gesa - yep, just added the WIP PR as #238!

[2015-03-11 13:44] toolness commented on #233
Ok, so I've gotten rid of the `pages` directory now for reasons mentioned in the commit log of e931c09aeb29dcbf703d5b11e9b3554ae65f444d:

[2015-03-11 14:01] thornet opened #239 "[LANDING] Add acknowledgements section thanking testers"
Let's get the names of the people who helped tested and add an acknowledgements section.

[2015-03-11 14:01] thornet opened #240 "[ACTIVITY] Add CC-licensing info"
We should have proper CC licensing on our activities. Suggest: CC BY.

[2015-03-11 14:25] ldecoursy commented on #85
Thanks for these! Closing this since they're already done and in the field.

[2015-03-11 14:25] #85 closed

[2015-03-11 14:26] ldecoursy commented on #60
Here's the link for the calendar! https://www.google.com/calendar/embed?src=zythepsary.com_q6ugl9iepetabcp9eg9ltmruic%40group.calendar.google.com&ctz=Europe/London

Closing this ticket.

[2015-03-11 14:26] #60 closed

[2015-03-11 14:27] ldecoursy commented on #49
Closing this since the call happened and was awesome!

[2015-03-11 14:27] #49 closed

[2015-03-11 15:02] toolness commented on #233
Ok, so as per a discussion in https://github.com/mozilla/teach.webmaker.org/pull/238#issuecomment-78269006, we've decided to **not** put components in their own directories with `index.jsx` files and LESS code in them, because we ran into technical difficulties.

Instead, we'll just have `.jsx` files in the `components` directory, and put LESS for the components in a parallel structure at `less/co

[2015-03-11 16:09] toolness commented on #227
FWIW, I'm struggling with this too because I'm also familiar with the chilling effect of persona on participation. So I will aggressively push for migrating away from persona as soon as it's technically feasible.

That said, particular advantages of going with Persona for the time being are:

* It's *really* easy to implement from a developer perspective; this allows us to spend more time on cruci

[2015-03-11 16:18] toolness commented on #227
That said, I am currently talking to jbuck about other possibilities, so please don't make the executive decision just yet @hannahkane!

[2015-03-11 16:42] hannahkane commented on #70
ah, of course. OK, this ticket is officially dependent on #227 :)

[2015-03-11 16:48] hannahkane commented on #151
Thanks, @adamlofting. This sounds like a good plan. Who is in the best position to start the list of devices / browsers we think are challenging to develop for?

Good point re: not needing the map interface for mobile. I amended my comment above to reflect that.

[2015-03-11 16:58] toolness commented on #118
Hmm, so I think we still need **either** the SVGs **or** a go-ahead from design that our existing assets are "good enough" for the following:

https://github.com/mozilla/teach.webmaker.org/blob/develop/img/maker-party-logo.png

https://github.com/mozilla/teach.webmaker.org/blob/develop/img/hive-logo.png

https://github.com/mozilla/teach.webmaker.org/blob/develop/img/mozilla_wordmark.png

Also, @ha

[2015-03-11 16:59] toolness opened #241 "Get rid of unused sadia and masud images"
We removed the case studies from the homepage but forgot to remove the photos of Sadia and Masud from the `images` directory.

@vazquez can you do this one real quick?

[2015-03-11 17:00] gesa commented on #151
While I agree that we should favor our audience over developer experience, I should mention that anything older than IE 10 and Android default browser 4.2-4.4 (depending on how we build the site) can be so constraining as to having to completely rethink how we design certain features. I'm **by no means** saying we *can't* support these browsers, but if we're going to, it's not just going to be unp

[2015-03-11 17:03] vazquez commented on #241
For sure!

[2015-03-11 17:10] vazquez commented on #171
I will submit a PR for this.

[2015-03-11 17:10] mmmavis commented on #234
we can close this ticket one https://github.com/mozilla/teach.webmaker.org/pull/193 is landed

[2015-03-11 17:10] toolness commented on #176
Hey @hannahkane, I don't think we actually need this for v1, it's just a nice-to-have for the future!

[2015-03-11 17:19] vazquez commented on #171
`orphans` is not supported in FF :/
`text-wrap: balance` is not something that is natively supported by CSS. We need to import a library for this to work.

It looks like `max`width` with media queries is the way forward.

[2015-03-11 17:23] vazquez commented on #106
I'm blocked on copy review @ldecoursy @thornet @chrislarry33

cc @hannahkane

[2015-03-11 17:28] iamjessklein commented on #37
all that's left to do is change out the image.

[2015-03-11 17:30] iamjessklein commented on #118
I can source the hive logo. @vazquez can you source the mozilla wordmark?
We are talking about removing the Maker Party from the footer so that's most likely unnecessary at this time.

[2015-03-11 17:33] #241 closed

[2015-03-11 17:33] thornet commented on #183
Drafting here: https://teach.etherpad.mozilla.org/club-curriculum-landing

[2015-03-11 17:38] vazquez commented on #118
The Mozilla Wordmark SVG asset is here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/mozilla-wordmark.svg

[2015-03-11 17:40] iamjessklein opened #243 "Mozilla Learning logo should be Mozilla Teach"
We need to do a design treatment for the wordmark/logo considering that the site is now branded as teach.mozilla.org (not under the parent brand of Webmaker - but the parent brand of Mozilla)

![screen shot 2015-03-11 at 1 40 37 pm](https://cloud.githubusercontent.com/assets/535012/6602784/39589536-c7f4-11e4-9a4f-947642ce58ba.png)

[2015-03-11 17:44] hannahkane commented on #106
Copy is happening in #183. I do not expect major changes to the design as a result. (Did I just jinx us? :))

[2015-03-11 17:44] mmmavis opened #244 "Build modal dialogs"
According to the [mockup](https://redpen.io/wc356809d269ed0827) of the /clubs page we need modal dialogs to display some forms.  I'm opening this ticket separately so @alicoding doesn't have to wait longer for my [big Clubs page PR](https://github.com/mozilla/teach.webmaker.org/pull/193) to land.

@toolness

Is what you said on https://github.com/mozilla/teach.webmaker.org/issues/186#issuecomment-

[2015-03-11 17:44] thornet commented on #183
cc @ldecoursy for QA

[2015-03-11 17:45] hannahkane commented on #244
@mmmavis - you are my labeling hero! :)

[2015-03-11 17:46] toolness opened #245 "Determine an accessible solution for the webmaker clubs map"
As @adamlofting mentioned in https://github.com/mozilla/teach.webmaker.org/issues/151#issuecomment-78243236:

So we need to actually implement that!

This will require some **design**, since we don't currently have any mock-ups that show what such a list of clubs might look like.

Then it will require **implementation**. It's likely that for v1 we can constrain the implementation in some ways. For

[2015-03-11 17:47] toolness commented on #119
Ok, aki will be doing this as part of her work on #226, so I'm closing this ticket now.

[2015-03-11 17:47] #119 closed

[2015-03-11 17:49] hannahkane commented on #245
@toolness - do you want this to start out as a design ticket? Wondering how we push this forward.

[2015-03-11 17:50] toolness opened #246 "Get rid of the vendor directory"
As mentioned in #233, it'd be nice if we could get rid of the `vendor` directory and delegate to npm or something for that stuff.

This means removing the following files/directories and obtaining them through some other means:
- [x] `vendor/prefixer.less`
- [ ] `vendor/bootstrap`

This isn't a super high priority so it shouldn't be added to v1 or anything.

[2015-03-11 17:50] iamjessklein commented on #118
The Hive SVG [asset is on dropbox](https://www.dropbox.com/s/yz6ykagfaxr4va4/Hive_Network_logo.svg?dl=0)

[2015-03-11 17:50] #118 closed

[2015-03-11 17:53] toolness commented on #120
By the way, this isn't a super-high priority--in some ways it's *better* for us to have the post-processed version, as older browsers that don't support the features needed to post-process it on the front-end won't be left out.

So I'm de-prioritizing this and removing it from v1 and the milestone; we might even close the ticket entirely if we decide that it's definitely best to leave the image po

[2015-03-11 17:57] hannahkane commented on #131
@dajbelshaw - I just heard this may have been accepted for publication elsewhere? Are we designing for that? (If so, is it print or online only? Is there a deadline associated with that?)

@cassiemc - it would be useful to me to have an estimate of design effort or time involved in order to make decisions about priority. Do you have enough information in this ticket to be able to estimate design r

[2015-03-11 17:57] iamjessklein commented on #245
Can this be pushed to the March 27 heartbeat?

[2015-03-11 17:58] gesa commented on #233
sounds great to me @toolness

[2015-03-11 17:58] toolness commented on #245
@hannahkane - Yeah, i think it makes sense to start out as a design ticket... and @iamjessklein I think it's cool to push it out of this heartbeat!

[2015-03-11 18:07] hannahkane commented on #62
Looks awesome, @amirad. I added a couple comments - mostly around accentuating how the Clubs model is different from Maker Parties or other one-off activities.

[2015-03-11 18:09] hannahkane commented on #12
@smithisgeneric - can we close this ticket?

[2015-03-11 19:21] cassiemc commented on #175
w00t! :+1: team.

[2015-03-11 19:40] HPaulJohnson commented on #175
Confirmed with Jennifer Bertsch that we can create a new subdomain on mozilla for teach.mozilla.org.

Will be filing a separate bugzilla issue to have that created.

[2015-03-11 19:45] toolness opened #247 "Replace lo-res PNG logos with hi-res JPGs/PNGs/SVGs"
From #118, we've now got the ol' SVG files and just need to replace them in the code:

- [x] Replace Hive logo in the footer with [Jess' SVG version on dropbox](https://www.dropbox.com/s/yz6ykagfaxr4va4/Hive_Network_logo.svg?dl=0)
- [x] Replace Mozilla wordmark in the footer with [Ricardo's SVG version on dropbox](https://dl.dropboxusercontent.com/u/43783651/Mozilla/mozilla-wordmark.svg)
- [x] Rep

[2015-03-11 19:45] toolness commented on #247
@vazquez can you do this one?

[2015-03-11 20:51] amirad commented on #62
Thanks @LauraHilliger @hannahkane

We also identified that we will test this in Q2 and see what else we might have missed and need to adjust.

@thornet @chrislarry33 can you give it a quality overview please so we can have it ready for end of heartbeat.

[2015-03-11 21:31] toolness commented on #121
Ok, this seems cool. I'm not sure exactly what we need to do to mark this issue as "complete" though--should we tag our first v0.1 or something?

RIght now [teach.mofostaging.net](http://teach.mofostaging.net/) is actually a real-time reflection of the `develop` branch. Until we actually get the real teach.mozilla.org domain, do we want our tagged "production" releases to deploy to teach.mofoprod.

[2015-03-11 23:35] mmmavis opened #248 "Go through style.less and convert `px` to `rem`"
Now that Aki's patch has landed, we should make sure we are using `rem` instead of `px` (in places other than `media query`).

[2015-03-11 23:40] mmmavis opened #249 "Let <Blockquote> and <PageEndCTA> accept rich markup"
Re @toolness's comments about  [`<Blockquote>`](https://github.com/mozilla/teach.webmaker.org/pull/193/files#r26265692) and [`<PageEndCTA>`](https://github.com/mozilla/teach.webmaker.org/pull/193/files#r26266071)

I agree that we should allow those components to accept rich markup.

[2015-03-11 23:43] #186 closed

[2015-03-11 23:43] #234 closed

[2015-03-11 23:54] toolness commented on #244
Ah yup, I think it's a fine approach for now. Here is an example of the `modal.jsx` component in use, if it helps:

https://github.com/mozilla/webmaker-addons/blob/gh-pages/src/export-modal.jsx#L145-L151

It basically just uses Bootstrap's CSS to render a modal, albeit without any cool slide/fade effects. As long as the `<Modal>` is in your React component heirarchy, it will be displayed... as soo

[2015-03-12 00:30] #249 closed

[2015-03-12 12:29] iamjessklein commented on #52
@dajbelshaw - have the skills been nailed down at this point?

[2015-03-12 13:17] thornet commented on #106
Design looks great to me.

[2015-03-12 13:49] thornet commented on #62
Did some copyediting in the doc. Thanks for putting this together, @amirad!

[2015-03-12 14:02] thornet commented on #177
Have drafted a debrief email to testers and a series of blog posts.

The debrief ask should be:
* grab a time slot with @amirad @ldecoursy or @thornet (we'll use similar breakdown as the initial interviews)
* run through a quick script of questions and reflections
* discuss interest in Q2 (mentoring, R.C, curriculum, recruitment, other.

[2015-03-12 14:02] #177 closed

[2015-03-12 14:03] jgmac1106 commented on #52
@iamjessklein We hope to finalize the skills in today's community call. If
we don't finish (I think we will) a hack session is planned for Monday.

All of the issues in git have been updated with the skills still under
review and the questions revolving around those skills.

On Thu, Mar 12, 2015, 8:29 AM iamjessklein <notifications@github.com> wrote:

[2015-03-12 14:05] vazquez commented on #99
Design started, some assets still missing: http://invis.io/3T2FDPIUV

[2015-03-12 14:06] iamjessklein commented on #52
thanks for the update @jgmac1106 - can you link me to each of the relevant issues here?

[2015-03-12 14:17] vazquez commented on #37
Image has been changed. Looking for a final review by @hannahkane to close issue.

http://invis.io/YB2EPJQUF

[2015-03-12 14:34] amirad commented on #62
Did a last review and believe it's ready. @hannahkane over to you for the site implementation. Note: there is a "teach like Mozilla" hyperlink in there that needs to be changed once the site is live.

[2015-03-12 14:35] vazquez commented on #183
I have updated the copy to match what is in the Etherpad. I recommend embellishing the Intro section. We currently have too little copy for the section.

http://invis.io/242EBB23A

[2015-03-12 14:38] ldecoursy commented on #183
I think generally we don't want too much copy - might recommend moving the image flush with the Web Literacy Basics, or do we need the image at all since the page also has visuals for the individual activities?

[2015-03-12 14:41] jgmac1106 commented on #52
This is the meta issue that links to all the issues

https://github.com/mozilla/webliteracymap/issues/36

You can click on each competency. I spent the last few days going between the spreadsheet and the issues adding the last bit of comments.

Hoping we bang out the skills today.

[2015-03-12 14:43] ldecoursy commented on #83
Sorry, just received link to what might be a better image for Mikko https://secure.gravatar.com/avatar/809aa24eb51b76e4f561c66180a96478?d=https%3A%2F%2Fstuff.webmaker.org%2Favatars%2Fwebmaker-avatar-200x200.png&s=400

[2015-03-12 14:48] vazquez commented on #183
Okay sounds good. Let me know when copy is finalized so I can close the design issue.

[2015-03-12 14:58] ldecoursy commented on #183
I just made a few small edits on the copy - looks good to me!

[2015-03-12 15:07] vazquez commented on #183
Awesome. Changes made to the design. Closing issue. Thanks!

[2015-03-12 15:07] #183 closed

[2015-03-12 15:10] vazquez commented on #106
Design :white_check_mark:
Copy :white_check_mark:

We are good to begin building this page :boom:

[2015-03-12 15:11] thornet commented on #78
* see total # of badges issues
* include city data

[2015-03-12 16:01] iamjessklein commented on #37
Has anyone on the teach team seen this image? cc/ @ldecoursy @chrislarry33 @thornet
My only concern with this image is that there is text that's not localizable - ie: english words appear.

[2015-03-12 16:02] iamjessklein commented on #52
thanks @jgmac1106 :+1:  can you please ping this issue with an update when that's done?

[2015-03-12 16:08] ldecoursy commented on #37
It works for me - or I've seen other images where many people seem engaged with post-it action.

Maybe here: https://www.flickr.com/photos/newyouthcity/sets/72157643074122585/ or here: https://www.flickr.com/photos/newyouthcity/sets/72157648900371526/

Also Sprout Fund has good pics from Open Badge Summit last year -would need permission  https://www.flickr.com/photos/sproutfund/sets/7215764185713

[2015-03-12 16:08] hannahkane commented on #99
Looks great from my perspective. Thanks, @vazquez.

[2015-03-12 16:11] iamjessklein commented on #99
I dropped my comments in the invision doc. Great work so far @vazquez

[2015-03-12 16:14] thornet commented on #100
The final repacking of this module will be completed by the next heartbeat. Thanks to @LauraHilliger for filling the tickets and making our punchlist!

[2015-03-12 16:15] thornet commented on #16
@amirad and I will lead the first batch of R.C. onboarding and support. We will likely need to grow this going forward.

[2015-03-12 16:15] #16 closed

[2015-03-12 16:15] hannahkane commented on #62
Thanks, @amirad. Will get design and implementation tickets ready to go. Closing this!

[2015-03-12 16:15] #62 closed

[2015-03-12 16:19] #248 closed

[2015-03-12 16:20] hannahkane opened #254 "Design "Tips for Running Your Club" page"
### RACI

Driver: @hannahkane
Design Lead: ?
Quality: @cassiemc

The content for this page is here: https://docs.google.com/document/d/1syswSeON-0o1svFz8F457uCncg8Kvx5IW8-2Xi3RBpw/edit#

Note, there is *a lot* of content, so this calls for a new design solution—something we haven't yet built for the Teach site so far. Perhaps the individual sections are collapsed by default, or something like that

[2015-03-12 16:22] hannahkane opened #255 "Build "Tips for Running Your Clubs" page"
Design is here: http://invis.io/HR2IW8U98

@vazquez - any assets to add?

[2015-03-12 16:29] hannahkane commented on #42
This ticket is now unblocked. See #106.

[2015-03-12 16:29] hannahkane commented on #106
w00t!

[2015-03-12 16:29] #106 closed

[2015-03-12 16:32] hannahkane commented on #175
Thinking we can close this ticket then, yes? Will file separate tickets for changing the logo in the corner of the site, and moving everything to the new domain once it's created.

[2015-03-12 16:32] #175 closed

[2015-03-12 16:33] iamjessklein opened #256 "Design the footer for teach.mozilla.org"
A few things to consider here:

* Now that this is on mozilla.org - should we incorporate the mozilla.org footer?
* The current footer has Maker Party in it which needs to be removed
* The new footer should include Webmaker.org

[2015-03-12 16:43] hannahkane commented on #37
@chrislarry33 and I just chatted - we're good with the Gunner photo. The post-it notes convey that there are a multitude of ideas going on, which is good in any language!

I'm calling this ready for implementation. Thanks, all!

[2015-03-12 16:43] #37 closed

[2015-03-12 16:48] hannahkane commented on #43
This is now unblocked. See #37.

[2015-03-12 16:56] hannahkane commented on #256
Can we also change the copy in the Hive section? Should read, "Learn more about Hive Learning Networks"

Also, that font is a little hard to read. Different color? Slightly heavier?

[2015-03-12 16:57] LauraHilliger commented on #208
@chadsansing - would you want to take a stab at this? I can wax theoretical, but since you've actually set up a club, maybe you remember your initial discussions? Or if you just dump your thoughts on what the FAQs and stuff were, I could try to set up a thread.

[2015-03-12 17:15] chadsansing commented on #208
Yes. More soon.

[2015-03-12 17:39] iamjessklein commented on #256
+1 - I am also going to design this mobile first.

[2015-03-12 18:09] #236 closed

[2015-03-12 18:10] gesa opened #259 "Figure out a way to run retina tests on the ImageTag component"
This needs to be uncommented and made to work!
https://github.com/mozilla/teach.webmaker.org/blob/develop/test/browser/imagetag.test.jsx#L23-L40

[2015-03-12 18:23] thornet opened #260 "Draft movement story template"
To be used when on-boarding R.C.s. Initial draft by Natalie:

https://teach.etherpad.mozilla.org/clubs-story

[2015-03-12 18:25] thornet commented on #20
Develop from: https://docs.google.com/a/mozillafoundation.org/document/d/1e4Thi0RVq2VA8z9MBax0fAQKg1wfzvpslWxRU_r_YQQ/edit

[2015-03-12 18:30] ldecoursy commented on #231
This repo is really supposed to be Mozilla-Learning, and there should be a separate one for teach.mozilla.org (to track site-specific work). Think @simonwex is working with Github on this?

[2015-03-12 18:34] thornet commented on #208
<img src="http://media.giphy.com/media/dNZLGHSXh3DMI/giphy.gif">

[2015-03-12 18:43] jgmac1106 commented on #208
Chad

I can pretend to be a "fake" student if you need me to.

On Thu, Mar 12, 2015 at 2:34 PM Michelle Thorne <notifications@github.com>
wrote:

[2015-03-12 18:49] chadsansing commented on #208
Okay, so here's a mock-up:

https://chadsansing.makes.org/thimble/MzM3NTE1NTI=/our-schools-web-club

I would use the same introductory copy on Discourse and link to a splash-page. Over time, the splash-page could become its own site with pages featuring different projects, events, or spin-offs of the original club.

I would add these observations:

*Know your audience and their perception of you.

[2015-03-12 18:55] alicoding opened #261 "QA on mobile"
Recently I've tested the site on mobile and find that the site is not very responsive as it suppose to be.

It feels like it's being scale down to fit on mobile phone but all the text are too small including the icons and images.

CC @toolness @iamjessklein @vazquez @gesa

just want to CC some people to help QA as well.

[2015-03-12 18:58] alicoding commented on #261
![mozilla learning](https://cloud.githubusercontent.com/assets/4368149/6625721/2e8547a6-c8c8-11e4-859a-1f12ca5900ef.png)

[2015-03-12 19:17] soapdog commented on #68
The plan is to start with a group of volunteers from the local Mozilla/WebDev community and then use this group to train volunteers in the local neighborhood of the Lan Houses. This way we can tap in the local amazing web community and also engage them in social cause. In the end we have a mixed group of highly talented and accomplished web developers working with new volunteers full of energy and

[2015-03-12 19:18] soapdog commented on #67
I need a contact to set this up. I think Michelle sent me one but I still need to set LDAP and email so that I can do this blog with a Moz account and not my personal one.

[2015-03-12 19:20] soapdog commented on #66
We're setting an initial group of 6 Lan Houses. Not all the Lan Houses we visited during the field research wanted to be a part of the project so thats why we don't have 10. We expect that as the project moves along, other Lan Houses with a similar mindset will want to join in and then the numbers will climb up again.

We already selected these six Lan Houses based on recommendation by Laura and t

[2015-03-12 19:20] #66 closed

[2015-03-12 19:21] #247 closed

[2015-03-12 20:06] toolness commented on #259
So the main thing that needs to be done here is to modify the global `window` object rather than a local one. One way to proceed is to use [Mocha's hooks](http://mochajs.org/#hooks) to save and restore the actual value of `window.devicePixelRatio` before and after test runs, and set `window.devicePixelRatio` within the tests.

If that doesn't work, e.g. because a host browser doesn't like you over

[2015-03-12 20:54] jgmac1106 commented on #208
I propose stripping @chadsansing <https://github.com/chadsansing>  of all
badges in his backpack Patrick Hand as a font looks suspiciously like Comic
Sans.

On Thu, Mar 12, 2015 at 2:49 PM Chad Sansing <notifications@github.com>
wrote:

[2015-03-12 21:08] chrislarry33 commented on #254
Could consider putting content on a wiki as inbetween step if this is a blocker for April 1. Maybe pull out high level points for page and then link to wiki.

[2015-03-12 21:20] vazquez commented on #44
Design review done! PR is in #265

[2015-03-12 21:30] vazquez commented on #244
The Sketch file: ﻿https://www.dropbox.com/s/f8xvapyuy7i2wrp/Clubs%20Page.sketch?dl=0
The Globe asset: https://www.dropbox.com/s/qjl3hp4uxx1b84i/orange-globe.svg?dl=0
The Envelope asset: https://www.dropbox.com/s/1agylnxsqy8xlvm/orange-mail-icon.svg?dl=0

[2015-03-12 21:37] #226 closed

[2015-03-12 21:52] hannahkane commented on #169
@toolness @simonwex @davidascher - wondering if this will be a blocker for site launch. Is the email templating work likely to be completed before the end of the next heartbeat? If not (seems unlikely), can we brainstorm other solutions?

[2015-03-12 21:58] hannahkane commented on #72
Closing this for now.

[2015-03-12 21:58] #72 closed

[2015-03-12 21:58] hannahkane commented on #69
Closing. Re-open if needed.

[2015-03-12 21:58] #69 closed

[2015-03-12 21:59] #73 closed

[2015-03-12 22:17] jgmac1106 commented on #254
I love the tips doc but it reads more like a handbook. One idea might be to
publish like the white papers. I love the crispness of that design and
layout.

In terms of the "tips"  page how about having a brief version on the
"handbook" . Some of those nifty icons, for all level 1 and 2 headings with
a few words. They could possibly link to each section of the "handbook."

On Thu, Mar 12, 2015, 5:0

[2015-03-12 22:31] hannahkane opened #266 "Redirect links to content that will now live on teach.mozilla.org"
Let's make a list of urls that need to be redirected once the new site is live:
 * webmaker.org/resources should go to ~~teach.mozilla.org/web-literacy~~ teach.mozilla.org/teach-like-mozilla/web-literacy/
 * webmaker.org/literacy should go ~~to teach.mozilla.org/web-literacy~~ teach.mozilla.org/teach-like-mozilla/web-literacy/
 * webmaker.org/party should go to teach.mozilla.org/events
 * party.we

[2015-03-12 22:31] hannahkane commented on #266
Wondering if we need some sort of contextual message for users who arrive this way. e.g. "Teach.mozilla.org is the new home of Maker Party!"

[2015-03-12 22:43] hannahkane opened #267 "Port webmaker's ToS and PP"
Let's bring over the Terms of Service and Privacy Policy content from webmaker.org to the new site.

There are linked to from the bottom of the sidebar navigation (under "Legal" and "Privacy," respectively)

[2015-03-12 22:44] hannahkane commented on #267
@iamjessklein @vazquez @toolness - do we need to design these pages first, or can we go straight to building them using the template page?

[2015-03-12 22:49] hannahkane commented on #152
Some updates:
 * added specific tickets for several items on this list (see ticket description above)
 * @HPaulJohnson has filed the request for the domain in a bugzilla ticket
 * GA is on track (@adamlofting, please correct me if I'm wrong)
 * Filed a ticket with data practices team
 * Our l10n strategy is to NOT localize until we've had a change to validate the site with an EN-reading audience.

[2015-03-13 07:53] mmmavis opened #270 "Pages should include common.css now instead of styles.css"

[2015-03-13 09:59] dajbelshaw commented on #266
@hannahkane:

Agree that:

* webmaker.org/resources should go to learn.mozilla.org/web-literacy

However, I would suggest that

* webmaker.org/literacy should go to **teach**.mozilla.org/web-literacy

(or whatever we're designing in #52)

[2015-03-13 10:00] dajbelshaw commented on #210
Will need a bit more detail to action this. Are we changing the activity or just the learning objectives?

[2015-03-13 10:00] dajbelshaw commented on #212
Need more detail to action this.

[2015-03-13 10:17] jgmac1106 commented on #210
I was one of those who said it during club call, but I am biased as I work in this space.

One 45 min activity IMO would not create artifacts that I could justidy credentialing. I don't think a rewrite of objectives would change ny opinion.

When you look at all the skills under credibility Kraken does not result in an artifact suggesting competency of that skill.

Maybe we don't credential after

[2015-03-13 10:20] jgmac1106 commented on #212
The general feedback was many concepts were too advanced and required a good bit of pre teaching. Does that sum it up @laurahillinger?

[2015-03-13 10:27] jgmac1106 commented on #225
@LauraHillinger if you want any help or want to bounce ideas around let me know. Will be a fun make.

[2015-03-13 10:44] dajbelshaw commented on #52
Thanks @jgmac1106 and sorry @iamjessklein, was on PTO.

You've got the meta issue linking to all of the issues - as you can see, there's a few things we need to sort out.

Is this a blocker for further work, or just a nice to have at this point?

[2015-03-13 10:47] dajbelshaw commented on #131
Hi @hannahkane, no I haven't heard anything about this being accepted for publication elsewhere - unless @smithisgeneric knows more?

Perhaps you saw that Karen and I had something published in MIT's Civic Media Reader? That's separate thing! :)

[2015-03-13 10:50] dajbelshaw commented on #210
So the badge is issued as a result of activities undertaken by learners. If we don't feel like the activities lead to the badge, then we need to change the activities.

I'm happy to rewrite the learning objectives, but if we're not changing the activities it seems a little... pointless?

[2015-03-13 10:51] dajbelshaw commented on #212
OK, so are we changing the activity as well as the learning objectives? Was there a mis-match between the two?

[2015-03-13 11:30] jgmac1106 commented on #210
Yes. You can't change objectives and not alter learning activities.

Why must every activity result in badging? If some credentialing requires a
greater preponderance of evidence could that come after multiple
activities?

Learners need to do Kraken it introduces the skills but I don't think I
would be comfortable as an issuer saying someone who completed Kraken
mastered the skills under the compe

[2015-03-13 12:57] davidascher commented on #152
SSL cert: @jdotpz or delegate via @simonwex
Security review @pomax as per @simonwex

[2015-03-13 13:44] vazquez opened #272 "Change map marker on Clubs page"
@alicoding mentioned that he needed an asset to change the map marker. I'm including the asset here: https://www.dropbox.com/s/q5e2a8qstswwd6u/map-marker.svg?dl=0

[2015-03-13 14:15] hannahkane commented on #266
Sorry, @dajbelshaw, I meant for all of the links to go to teach.mozilla.org/*. Have updated the comment to reflect that.

I was assuming both webmaker.org/resources and webmaker.org/literacy would go to the same page on the new site, since we're essentially combining that content into a single page, as per #52.

Let me know if that doesn't make sense.

[2015-03-13 14:21] ldecoursy commented on #100
:dancers:

[2015-03-13 14:31] ldecoursy commented on #86
My vote is to have a Club Leader badge  - question is could it cover a range of involvement from helping to develop the program, create curriculum, and actually run clubs, or do we need more nuance here.

[2015-03-13 14:32] ldecoursy commented on #79
Additional note: explore what kind of location data is available (or is ok to ask for) to help us track against city goals

[2015-03-13 14:42] jdotpz commented on #152
@mmmavis let me know which domain name we are using for this (ala teach.webmaker.org) and I can get the SSL cert.

[2015-03-13 14:57] amirad commented on #33
Updated job descriptions here: https://teach.etherpad.mozilla.org/clubroles

[2015-03-13 15:22] ldecoursy commented on #76
Also in case it's helpful, here are badge counts from 2014 https://docs.google.com/spreadsheets/d/1ENxvCwrAFyLsaI6R83EpkdKXql1E2Bg9n1fos9BQV4M/edit#gid=0

[2015-03-13 15:35] iamjessklein opened #276 "Add tabzilla to navigation"
Since this is a mozilla property it should probably have tabzilla incorporated.

![screen_shot_2015-03-13_at_11_33_02_am](https://cloud.githubusercontent.com/assets/535012/6641564/e735b8ba-c974-11e4-8e84-cbea56a19e4b.png)

cc/ @vazquez @hannahkane @cassiemc @HPaulJohnson

[2015-03-13 15:38] dajbelshaw commented on #266
Ah... that makes much more sense. Thanks @hannahkane :)

[2015-03-13 15:40] iamjessklein commented on #152
@jdotpz - this will be teach.mozilla.org
cc/ @hannahkane

[2015-03-13 15:47] iamjessklein commented on #52
@dajbelshaw - this will be in the next heartbeat. I'd like to try thinking through how we might integrate the competencies and skills in the visualization. Ideally, this will be locked down before starting the next heartbeat.

[2015-03-13 15:53] iamjessklein commented on #261
:+1:  I'm in. :hand:

[2015-03-13 15:55] iamjessklein commented on #267
I suspect that we use the template for the sake of the heartbeat. I would like to eventually design these pages in a more humane way - since this is a great teaching/learning touchpoint.

[2015-03-13 16:01] dajbelshaw commented on #52
Great! I think given that it's a point revision (i.e. v1.5 rather than v2.0) we should keep the grid as the first point of contact. However, the interaction design could be much more radical than we've seen previously. :)

[2015-03-13 16:06] #171 closed

[2015-03-13 16:13] jdotpz commented on #152
SSL cert request submitted in Digicert.

[2015-03-13 17:11] hannahkane commented on #256
Also - can we remove the Partners link from the footer? We will not have a partners page initially.

[2015-03-13 17:17] thornet commented on #33
Awesome! Closing this ticket.

[2015-03-13 17:17] #33 closed

[2015-03-13 17:21] OpenMatt commented on #256
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/3l9td6eb.png
* +1 to removing Maker Party. We do need to do that.
* Also: feels like the logos should be less prominent. Right now, it feels like we're prominently pushing people other places. Instead of converting them on teach.
* If we use tabzilla (which we should, to make it feel like a true Mozilla web property), then we don't need the Moz

[2015-03-13 17:37] mmmavis commented on #270
no longer valid - other commit fixed the same issue :)

[2015-03-13 17:37] #270 closed

[2015-03-13 17:39] mmmavis opened #279 "Add clubs-line-divider.svg to repo"
@vazquez :wink:

[2015-03-13 17:41] vazquez commented on #279
Already done @mmmavis! :) I did it in #275

[2015-03-13 17:41] #279 closed

[2015-03-13 17:45] hannahkane commented on #152
awesome. thanks, @jdotpz!

[2015-03-13 17:45] hannahkane commented on #267
Thanks, @iamjessklein. Does this still need to go through design first, to apply the template styles?

[2015-03-13 17:54] mmmavis commented on #279
ahhh is it called `img/line-divider.svg` now?  I must have rebased something wrong heh :grimacing:

[2015-03-13 17:56] amirad commented on #84
Draft is here https://docs.google.com/document/d/1yORrrsU4lN7itEC7BLTLHSR8JqRevppVPABxlmJqxXg/edit?usp=sharing

Feedback coming in from @hannahkane @ldecoursy @LucyeoH by EOD

[2015-03-13 18:04] vazquez commented on #279
It's called `line-divider.svg` yes! But now that you mention it, you are right: it should be called `clubs-line-divider.svg`

[2015-03-13 18:05] vazquez commented on #267
I can do the design for this.

[2015-03-13 18:05] hannahkane commented on #267
Thanks for being the best, @vazquez. :)

[2015-03-13 18:41] vazquez commented on #267
@hannahkane :relaxed:

TOS Design is ready: http://invis.io/X62FVGQDS

The copy is exactly the same. The only difference is the title. Should we still name it "Webmaker Terms" or can we name it "Mozilla Teach terms"

Starting on the Privacy Policy page.

[2015-03-13 18:41] hannahkane commented on #84
Great start! Added my comments to the doc. Would love some design-thinking from @iamjessklein and @vazquez if they have time, as well.

[2015-03-13 18:42] hannahkane commented on #267
Good call on changing the name! +1

[2015-03-13 18:59] vazquez commented on #267
Privacy Design is ready: http://invis.io/H72FVORWN

[2015-03-13 19:01] hannahkane commented on #267
+1

[2015-03-13 19:04] amirad opened #280 "Develop and approve plan for Maker Party 2015"
Write a plan on outline for MP 2015 and what shape it will take.

[2015-03-13 19:06] amirad commented on #280
Update to plan here: https://docs.google.com/a/mozilla.com/document/d/15VRGwqzBYqi-11It3SqEzyqmYHSNeXDR-CI6My4DELI/edit?usp=sharing

@HPaulJohnson to add additional marketing and sales information be EOD

[2015-03-13 19:19] iamjessklein commented on #256
You guys were writing all of this while I was designing a bunch of these changes - and some I haven't designed. Take a look at my revised footer concept. If we do pull out any additional content, let me know. It feels like we could remove the Webmaker content that I added in. I also adjusted the background color to make the Hive logo stand out a bit more.

The concepts are in invision for [mobile]

[2015-03-13 19:43] iamjessklein commented on #256
Update:

![desktop-footer](https://cloud.githubusercontent.com/assets/535012/6646031/823af092-c997-11e4-9797-89f4120740f2.png)
![mobile portrait-footer](https://cloud.githubusercontent.com/assets/535012/6646032/83e5d218-c997-11e4-8830-67252ded8baa.png)

[2015-03-13 19:52] iamjessklein commented on #267
:+1:  looking good @vazquez

[2015-03-13 19:54] iamjessklein commented on #152
:+1:  :tada: :balloon:

[2015-03-13 20:50] hannahkane commented on #227
Closing this because we've decided to go with Persona, until the new login is completed.

[2015-03-13 20:50] #227 closed

[2015-03-13 21:00] hannahkane commented on #256
I'm +1 on the later iteration. We do need to remove the Facebook and Partners links in the, uh, sidebar footer.

[2015-03-13 21:12] #272 closed

[2015-03-13 21:49] hannahkane commented on #84
@amirad and I are good with where the copy is now. Will wait for a +1 from @ldecoursy before officially closing this ticket and opening the design phase.

[2015-03-13 23:37] ldecoursy commented on #84
Just added a few small changes on the site copy, and tried to tighten up the resources stuff too. Lookin good!

[2015-03-14 15:18] chrislarry33 commented on #84
Can someone accept/clear out the edits and i will give final read

[2015-03-14 16:35] chrislarry33 commented on #280
Looking great team! This makes a lot of sense. I think the frame and plan is ready to share and feels doalble/aligned. I do think the doc needs a few more passes to make sure its as tight as we need to tell the story of the plan. I added some comments. And many of Paul's comments need to be added/addressed. I say this in the doc, but cane we get @edrushka to take a stab at the "Sample Community Me

[2015-03-14 18:45] amirad commented on #84
Thanks @ldecoursy

@chrislarry33 cleaned it up. Have a look now.

[2015-03-14 18:59] iamjessklein commented on #256
@hannahkane what should *remain* in the sidebar footer?

[2015-03-14 21:27] hannahkane commented on #256
These seem right to me: Webmaker, Donate, Legal, Privacy, Facebook, About

[2015-03-16 09:10] LauraHilliger commented on #266
maybe this spreadsheet @secretrobotron and @thornet used for the interim IA is useful? If not, disregard:

https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1wpqM0zQs8BRICLauEn8hcY4T_2FiE_juhkjkNgw9Tqw/edit#gid=0

[2015-03-16 11:41] thornet commented on #59
Mario's contract also signed.

Check-in call scheduled for this Tuesday with Ford. cc @soapdog @benrito

[2015-03-16 12:44] toolness opened #282 "Don't load google analytics script if the browser has DNT enabled"
It should be [pretty easy](https://github.com/toolness/lotl-site-prototype/blob/master/static/analytics.js#L1-L2) and it is neat for privacy.

What do you think, @adamlofting?

[2015-03-16 13:32] adamlofting commented on #282
That's an interesting question, but I don't think it's something we need to do.

My understanding is that DNT is about tracking 3rd party cookies for things like advertising networks. Ie sharing data between/across disparate sites.

We don't put any PII into GA (as per GA T&Cs) and we don't allow our GA account data to be shared with any other orgs or 3rd parties.

My view is likely biased though,

[2015-03-16 13:56] toolness commented on #282
Oh, ok, no worries, that makes sense! I will close the issue but if someone disagrees, they can re-open it.

[2015-03-16 13:56] #282 closed

[2015-03-16 13:58] toolness commented on #259
Ah, I'm working from my retina MacBook Pro today and indeed the tests don't currently pass on it:

![screen shot 2015-03-16 at 9 56 01 am](https://cloud.githubusercontent.com/assets/124687/6667509/ee16613e-cbc2-11e4-85ab-9ff5a06919fb.png)

[2015-03-16 14:27] LauraHilliger commented on #27
@chrislarry33 - I started a google doc here:
https://docs.google.com/a/mozillafoundation.org/document/d/1quD8jfETB3_vuRc6IqWlbKAcn9bMcLGQOnpBiuH66Mw/edit

It is reflective of the conversation we had last week and begins to pull together resources for remixing content. Most is from Webmaker Training, but as I think about building out each module, I'll be looking through Hive archives ;)

[2015-03-16 14:33] alicoding opened #283 "404 on /img/clubs-line-divider.svg"
@mmmavis or @vazquez I think you might have forgotten to include this on /clubs page

[2015-03-16 14:35] #44 closed

[2015-03-16 14:59] vazquez commented on #283
I just pulled the latest code and it's 200

![screenshot 2015-03-16 10 58 47](https://cloud.githubusercontent.com/assets/1119821/6668786/85f2a92e-cbcb-11e4-991b-48b867125962.png)

[2015-03-16 15:06] alicoding commented on #283
probably cache... thanks for verifying @vazquez !

[2015-03-16 15:06] #283 closed

[2015-03-16 15:09] thornet opened #284 "Debrief with Q1 club testers"
- [ ] Implement #177 with @amirad @ldecoursy

[2015-03-16 15:16] thornet opened #285 "Scope Q2 testing process"
We need to:

- [x] understand testing improvements based on the debriefs #284
- [x] establish which club curriculum module(s) will be tested #26
- [x] scope which leadership curriculum module(s) will be produced #27
- [x] determine the recruitment process for testers in 200 cities #172 & __
- [x] determine the communication and support process for testers in 200 cities #20 & __

[2015-03-16 15:24] thornet commented on #19
Duplicate of #20, closing

[2015-03-16 15:24] #19 closed

[2015-03-16 15:25] thornet opened #286 "[MIGRATED] 15 RCs are onboarded"
- [ ] Kick off call -- scheduled for May 5
- [ ] Regular comms (#19)
- [ ] Assigned clubs to support

[2015-03-16 15:37] thornet opened #288 "[MIGRATED] Recruit Q2 testers"
Goal: 200 cities

Path includes:

- [ ] leverage partners
- [ ] recruit from Q1 testers
- [ ] RCs reach out
- [ ] staff leads
- [ ] marketing
- [ ] emerging Hives (@simona)

[2015-03-16 15:50] LauraHilliger commented on #239
commit dd4b655

[2015-03-16 15:50] #239 closed

[2015-03-16 16:03] chrislarry33 commented on #86
I think we keep
Hive Community Members
Webmaker Menor/Super Mentor
Web Lit Skill Sharer-er
Event Organizer

Add: Club Leader Badge

[2015-03-16 16:03] iamjessklein commented on #256
I thought we were removing Facebook, no?

[2015-03-16 16:05] hannahkane commented on #256
Dammit, I meant Twitter.

So: Webmaker, Donate, Legal, Privacy, Twitter, About

[2015-03-16 16:35] iamjessklein commented on #256
Updated:
![mobile portrait](https://cloud.githubusercontent.com/assets/535012/6671040/f10914c0-cbd8-11e4-8e69-02cd76dac45b.png)
![tablet 9 landscape](https://cloud.githubusercontent.com/assets/535012/6671041/f2490b42-cbd8-11e4-88f0-eebc36317580.png)

[2015-03-16 16:43] hannahkane commented on #256
+1

[2015-03-16 16:44] #256 closed

[2015-03-16 16:52] HPaulJohnson commented on #175
Bug for the new subdomain on mozilla.org: https://bugzilla.mozilla.org/show_bug.cgi?id=1143719

[2015-03-16 16:53] LauraHilliger commented on #200
https://github.com/mozilla/webmaker-curriculum/pull/159

[2015-03-16 16:53] #200 closed

[2015-03-16 17:01] iamjessklein commented on #84
@amirad @ldecoursy - going to take a look at this today.

[2015-03-16 17:04] LauraHilliger commented on #208
nice @chadsansing! @jgmac1106 doesn't know what he's talking about. I mean, he's right, the font resembles comic sans, but you should EARN a badge for not actually having used comic sans (or papyrus, which in my opinion is worse).

@chadsansing Is it cool if I take the content here and set up a [discourse](http://discourse.webmaker.org/category/clubs) thread with it? Would rather it be attributed

[2015-03-16 17:16] chadsansing commented on #208
Okay - I will copy it into a discourse thread on 'Modeling/Preparing for
Your Local Club' - then you can do the link. Sound good?

Best,
C

On Mon, Mar 16, 2015 at 1:04 PM, Laura Hilliger <notifications@github.com>
wrote:

[2015-03-16 17:33] LauraHilliger commented on #207
blocked by #208

[2015-03-16 17:33] hannahkane commented on #131
@dajbelshaw, it's difficult for me to understand what the specific design needs are, even when reading through the doc. Can you create a list of the specific illustrations and/or images needed?

[2015-03-16 17:34] LauraHilliger commented on #208
yep! Thanks, you rule :straight_ruler:

[2015-03-16 17:36] chadsansing commented on #208
Done - http://discourse.webmaker.org/t/preparing-to-launch-a-local-club/1273.

[2015-03-16 17:37] chadsansing commented on #208
Thanks for the invitation to contribute!

Onward,
C

On Mon, Mar 16, 2015 at 1:34 PM, Laura Hilliger <notifications@github.com>
wrote:

[2015-03-16 17:38] dajbelshaw commented on #131
@hannahkane: Just waiting for a conversation with @iamjessklein :)

[2015-03-16 17:42] LauraHilliger commented on #209
commit
dea9102

[2015-03-16 17:42] #209 closed

[2015-03-16 17:42] hannahkane commented on #131
@sabrinang has been assigned to this ticket, which is a P2 in the current heartbeat. @sabrinang, if you finish your P1s, let @dajbelshaw and I know so that we can have a kick-off meeting.

@dajbelshaw - whatever you can do in advance of that meeting to help Sabrina and I understand the specific needs, the better! Thanks!

[2015-03-16 17:43] #12 closed

[2015-03-16 17:46] LauraHilliger commented on #207
commit bd671bf

[2015-03-16 17:46] #207 closed

[2015-03-16 17:47] LauraHilliger commented on #208
thanks Chad! Going to leave this open and assign it to myself so I can do some boldering ;)

[2015-03-16 17:50] hannahkane commented on #57
@adamlofting - do we need to move this to the March 27th heartbeat?

[2015-03-16 17:52] hannahkane commented on #84
I'm going to close this ticket since it is @chrislarry33 approved. Will link to the doc from the corresponding Design ticket (#35) so we can start that work now.

[2015-03-16 17:52] #84 closed

[2015-03-16 17:56] hannahkane commented on #99
Are we good to close this ticket, so that we can move on to the build?

[2015-03-16 17:57] hannahkane commented on #121
@toolness, do we need to move this ticket to the current heartbeat?

[2015-03-16 17:58] hannahkane commented on #140
@Gesa - do we need to move this to the current heartbeat? (that is, was it not completed last heartbeat?)

[2015-03-16 17:59] adamlofting commented on #57
Yes, thanks :+1:

[2015-03-16 17:59] vazquez commented on #99
I still need to design some assets. However, we can start with the build and I can update the assets later.

[2015-03-16 17:59] hannahkane commented on #233
do we need to move this to the March 27 heartbeat?

[2015-03-16 18:01] hannahkane opened #289 "Build "About" page for site"
Design is in #99

[2015-03-16 18:11] iamjessklein commented on #84
:+1:

[2015-03-16 18:32] OpenMatt commented on #79
cc @simonwex
@hannahkane: I took a pass at further refining the requirements here. look good?

[2015-03-16 18:36] OpenMatt commented on #78
@thornet:
* the audience for this page is badge **earners**, so do we really need / want to display city data here?
* can you say more about total # of badges issued and the goal for that, from an earner's point of view?

[2015-03-16 18:40] chrislarry33 commented on #78
I think that info is what we need to collect on the back-end, not that needs to be displayed.

[2015-03-16 18:53] alicoding commented on #289
Referencing the design URL here: https://projects.invisionapp.com/share/3T2FDPIUV#/screens

The asset, once it's done can you paste it here for whomever going to work on this @vazquez ?

Just want to avoid the confusion of clicking and finding the assets and design and going through all the discussion :P

[2015-03-16 19:07] vazquez commented on #289
Assets available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/About%20Assets.zip

[2015-03-16 19:17] toolness commented on #121
yes please!
On Mar 16, 2015 1:57 PM, "hannahkane" <notifications@github.com> wrote:

[2015-03-16 19:17] toolness commented on #233
actually i think it can be marked as complete now...
On Mar 16, 2015 1:59 PM, "hannahkane" <notifications@github.com> wrote:

[2015-03-16 19:29] #233 closed

[2015-03-16 19:30] hannahkane commented on #78
Yup, this ticket is about a badge manager for earners. Backend data is covered in #79.

[2015-03-16 19:31] gesa commented on #140
@hannahkane  Yeah this needs to be moved.

[2015-03-16 19:32] hannahkane commented on #79
Thanks, @OpenMatt. Looks good. Also added location data to the searchable fields in the second item on the list.

[2015-03-16 21:38] hannahkane commented on #266
Thanks, @LauraHilliger, that's super helpful.

Looks like we've covered most of what's on the spreadsheet, with a couple exceptions:
 * I don't think /explore needs a re-direct - it can continue to go to the gallery, which can continue to live on webmaker.org
 *  I do have a question about what to do with https://www.webmaker.org/make-your-own. @LauraHilliger and @thornet - is there a new page on

[2015-03-16 22:01] hannahkane opened #290 "Change instances of "Clubs" to "Mozilla Web Clubs" and "Web Clubs""
Here are the instances I can find where the word "Clubs" appear, and my recommendations for what to change to:
 * Navigation: change "Clubs" to "Mozilla Web Clubs"
 * Clubs page header (text over the photo): "Mozilla Web Clubs"; keep button as is ("Add Your Club")
 * Clubs page "How do Clubs work?" section: "How do Web Clubs work?")
 * All other instances on Clubs page (i.e. "Connect with other Cl

[2015-03-16 22:03] hannahkane commented on #290
/cc @chrislarry33 @thornet @ldecoursy  - please take a look at my recommendations above. I know we talked about using "Web Clubs" in cases where "Mozilla Web Clubs" would be too much, but I actually think "Clubs" works just as well. In fact, I think it's better, because I find "Web Clubs" to be awkward without a modifier.

[2015-03-16 22:04] hannahkane commented on #289
@alicoding - thanks for adding the design URL. I'll try to do that in the future. :)

[2015-03-16 22:08] ldecoursy commented on #290
I think if you're already on the Mozilla Web Clubs page, it's probably fine to just refer to Clubs. That said, I think in some ways we want to be branding "Web Clubs" so the initiative doesn't seem too generic. "Web" is a modifier in that sense.

[2015-03-16 22:11] #244 closed

[2015-03-16 22:12] hannahkane commented on #290
Per Lainie's comment: Changed my recommendation to make the "How do Clubs work?" section "How do Web Clubs work?". Still leaning towards the other instances being overkill, but willing to be persuaded. :)

[2015-03-16 23:07] #259 closed

[2015-03-16 23:48] chrislarry33 commented on #266
Might suggest we just take down "make your own" on webmaker and not have a redirect at this point.

[2015-03-17 00:20] #246 closed

[2015-03-17 10:37] LauraHilliger commented on #208
@chadsansing I edited your post a bit to make it more like a thread inviting the learners to participate in discourse. Hope you don't mind! If you want to make more edits in that direction, please do (just don't change the thread name without letting me know, b/c the URL changes and I'll need to update the github link)

It's now here: http://discourse.webmaker.org/t/our-new-local-web-club/1273 and

[2015-03-17 10:37] #208 closed

[2015-03-17 10:54] LauraHilliger commented on #210
The artifact is the tip sheet. I guess would agree with @jgmac1106 that *out of context* that tip sheet isn't enough to badge with. But it's not out of context if the educator is reviewing the badge application, right?

The credibility badge asks for 1 of the following:

1) researching the authorship and ownership of websites and their content
in Kraken, Groups start by spending 20 minutes researc

[2015-03-17 11:12] LauraHilliger commented on #199
commit 8ae35d215d8bc0550383d31d9a9e893b18ba10a9

[2015-03-17 11:12] #199 closed

[2015-03-17 11:14] toolness opened #293 "Make browser tests easier to debug"
@gesa and @alicoding both ran into the same problems when trying to debug browser tests:

* ~~Because `WEBPACK_DEVTOOL` defaults to `source-map` and no browser (even chrome) shows source-mapped lines in [mocha tracebacks](https://github.com/mozilla/teach.webmaker.org/pull/147#discussion_r25939671), we should probably default `WEBPACK_DEVTOOL` to `eval` for development, and `source-map` for product

[2015-03-17 11:17] toolness opened #294 "Upgrade to React v0.13"
It was just released [a few days ago](https://facebook.github.io/react/blog/2015/03/10/react-v0.13.html). I'm not concerned about the new features so much as ensuring that we continue to avoid deprecated APIs, ensuring that it's easy to keep up with React's bugfixes and such as it continues to mature.

It's probably best that I take this one on, as resolving this issue may involve modifying any pa

[2015-03-17 11:26] jgmac1106 commented on #210
Oh didn't catch the language that you oy need one of the skills in the
competency to meet badge requirements.

If that is case then activity is fine.

On Tue, Mar 17, 2015, 6:54 AM Laura Hilliger <notifications@github.com>
wrote:

[2015-03-17 11:34] LauraHilliger commented on #240
#85bc67f413c5fc24642c71a15b535c0a4faaa705

[2015-03-17 11:34] #240 closed

[2015-03-17 12:05] toolness opened #295 "File issues for modals"
In #269 I added a [list of bugs](https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754) to file after the PR landed, but this hasn't been done yet... @mmmavis would you mind filing these real quick?

[2015-03-17 12:09] jgmac1106 commented on #210
Though I could (but won't) argue that the badge requirements need to be
revised. Doing "one of the following" seems strange when we. Have
identified specific skills under competency.

On Tue, Mar 17, 2015, 7:26 AM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-03-17 12:45] chadsansing commented on #208
I love (& often need) a good editor - thanks, Laura!

[2015-03-17 12:57] LauraHilliger commented on #206
https://github.com/LauraHilliger/webmaker-curriculum/commit/227bfd951f0682bc590a2594b16d07d45bdb3b6d

[2015-03-17 12:57] #206 closed

[2015-03-17 13:04] LauraHilliger commented on #203
https://github.com/LauraHilliger/webmaker-curriculum/commit/0215a727a76f9f235fd571fb0680035b54f5e67b

[2015-03-17 13:04] #203 closed

[2015-03-17 13:27] LauraHilliger commented on #202
https://github.com/LauraHilliger/webmaker-curriculum/commit/0bc1fa619cc76a1c9121f3fc99ff08b7e0d354d5

[2015-03-17 13:27] #202 closed

[2015-03-17 13:52] thornet commented on #290
+1 to the recommendations as currently written. Think it's good to use full name when introducing the concept and then moving to Web Club or Clubs in supporting text.

[2015-03-17 13:54] alicoding commented on #293
@toolness I'm interested in working on this patch if @gesa is okay with that.

I tend to avoid using phantomjs lately because of debugging issue as well and had to always default to `eval` and in some case I have to use `chrome` to debug because Firefox sometimes doesn't seem to be happy with `eval` either.

I'm going to take sometime reading through **webpack** and probably anything that could he

[2015-03-17 13:54] thornet commented on #266
Would it be worth adding a "make your own" button the new curriculum page, for folks looking for those templates? I know that won't be a long-term solution, but at least that resource doesn't completely disappear.

[2015-03-17 14:00] LauraHilliger commented on #210
i added two LOs reworded from the credibility badges.

https://github.com/LauraHilliger/webmaker-curriculum/commit/9ceba80cd2ebc25bb01156f1fe7be47ea7b5d7fe

@jgmac1106 the "one of the following" language is on lots of the Web Lit badges. I think the idea was to have a variety of badges (e.g. "maker: credibility" vs "mentor: credibility"), but I'm not sure where we are on the badge front in general

[2015-03-17 14:00] #210 closed

[2015-03-17 14:01] thornet commented on #192
Favorite ticket. ^^

[2015-03-17 14:01] LauraHilliger commented on #211
https://github.com/LauraHilliger/webmaker-curriculum/commit/0bc1fa619cc76a1c9121f3fc99ff08b7e0d354d5

[2015-03-17 14:01] #211 closed

[2015-03-17 14:25] LauraHilliger commented on #225
https://github.com/LauraHilliger/webmaker-curriculum/commit/92a4338cc5898e87606342aa18beb2f361fd88ef

[2015-03-17 14:25] #225 closed

[2015-03-17 14:32] LauraHilliger commented on #224
https://github.com/LauraHilliger/webmaker-curriculum/commit/daab93e0a77332f2b229479a5638460378472329

[2015-03-17 14:32] #224 closed

[2015-03-17 14:36] LauraHilliger commented on #223
https://github.com/LauraHilliger/webmaker-curriculum/commit/8e7cabf83d5468e48379781080e31fb7077db24e

[2015-03-17 14:36] #223 closed

[2015-03-17 14:58] hannahkane opened #296 "Update footer to reflect latest design"
Design work is here: https://projects.invisionapp.com/share/7X2FVXRN9#/screens

[2015-03-17 14:59] vazquez commented on #289
Missing asset has been created. No more assets missing :)

https://dl.dropboxusercontent.com/u/43783651/Mozilla/About%20Assets.zip

[2015-03-17 15:00] #54 closed

[2015-03-17 15:00] vazquez commented on #99
All assets have been created. Closing issue.

[2015-03-17 15:05] #53 closed

[2015-03-17 15:06] hannahkane commented on #169
Since we're unlikely to have a new tool in place by April 1, let's move forward with what we currently have (sawmill?) for the initial release.

[2015-03-17 15:10] LauraHilliger commented on #222
https://github.com/LauraHilliger/webmaker-curriculum/commit/b4c984c1059951b7e8e6a6d622b66c311008306e

[2015-03-17 15:10] #222 closed

[2015-03-17 15:12] LauraHilliger commented on #221
https://github.com/LauraHilliger/webmaker-curriculum/commit/94dfa59095a401a8ac2a413025430da4b9d01efd

[2015-03-17 15:12] #221 closed

[2015-03-17 15:14] LauraHilliger commented on #220
https://github.com/LauraHilliger/webmaker-curriculum/commit/ba7046d2d17b2b35f0aeba518d42e624717f4b3a

[2015-03-17 15:14] #220 closed

[2015-03-17 15:23] LauraHilliger commented on #219
wikied it here: https://wiki.mozilla.org/Webmaker/Teach/Terminology#Hack and

https://github.com/LauraHilliger/webmaker-curriculum/commit/913500e0fec911fa770a7a40511cadb9e656d1aa

[2015-03-17 15:23] #219 closed

[2015-03-17 15:27] gesa commented on #293
My learning curve on this one is pretty high, so I'm okay with that @alicoding. Please lmk if you want help on it in any way though, more than happy to assist!

[2015-03-17 15:31] LauraHilliger commented on #218
No tutorial for right clicking, just added a note.

https://github.com/LauraHilliger/webmaker-curriculum/commit/5abcc3567714d9adc21d7e27fa046e0036e5433b

[2015-03-17 15:31] #218 closed

[2015-03-17 15:58] thornet opened #298 "[Blog Post] The Web Journey"
Mashing up the Web Lit Map + https://github.com/MozillaFoundation/research/issues/2

Notes:

* Open reflection
* Changes over time as technology, access and reality changes
* Never finished because behavior changes

w/ @LauraReynal

Reading assignments:

* India report: https://webmaker-dist.s3.amazonaws.com/reports/india.pdf
* Learning pathways whitepaper: https://docs.google.com/a/mozillafoundat

[2015-03-17 16:39] hannahkane commented on #290
@chrislarry33 - are you good with this?

[2015-03-17 16:42] mmmavis opened #299 "Modal Dialog - Allow ESC to close a modal."
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:43] chrislarry33 commented on #290
ship it

[2015-03-17 16:44] mmmavis opened #300 "Modal Dialog - Allow clicking outside a modal to close it"
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:45] mmmavis opened #301 "Modal Dialog - Ensure that modals have proper accessibility markup"
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:46] mmmavis opened #302 "Modal Dialog - Hook the modal's submit button up to the Teach API so it actually submits data."
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:48] hannahkane commented on #290
@vazquez @toolness - are these small copy changes something a designer should do, or a developer?

[2015-03-17 16:48] mmmavis opened #303 "Modal Dialog - The modal's form fields should be validated."
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:48] vazquez commented on #290
I can tackle those @hannahkane

[2015-03-17 16:49] hannahkane commented on #290
Thanks, @vazquez!

[2015-03-17 16:49] mmmavis opened #304 "Modal Dialog - Add unit tests for the modal"
(Per discussion on https://github.com/mozilla/teach.webmaker.org/pull/269#issuecomment-81800754)

[2015-03-17 16:49] mmmavis commented on #295
Tickets filed :hamster:

- [ ] Modal Dialog - Allow ESC to close a modal https://github.com/mozilla/teach.webmaker.org/issues/299
- [ ] Modal Dialog - Allow clicking outside a modal to close it https://github.com/mozilla/teach.webmaker.org/issues/300
- [ ] Modal Dialog - Ensure that modals have proper accessibility markup https://github.com/mozilla/teach.webmaker.org/issues/301
- [ ] Modal Dialog

[2015-03-17 17:11] vazquez commented on #296
I can take this.

[2015-03-17 17:18] vazquez commented on #267
The design is finished, the build can begin.

cc @hannahkane

[2015-03-17 17:22] hannahkane commented on #43
@ScottDowne - assigning this one to you.

@vazquez should be able to answer questions about the design, and @toolness or @gesa should be able to answer questions about implementation.

[2015-03-17 17:26] vazquez commented on #43
@ScottDowne I'll get you the assets in a few minutes

[2015-03-17 17:34] vazquez commented on #43
Teach Like Mozilla Assets are available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Teach%20Like%20Mozilla%20Assets.zip

[2015-03-17 17:38] toolness commented on #295
Thanks Mavis!

[2015-03-17 17:38] #295 closed

[2015-03-17 18:14] hannahkane opened #305 "Design "Events Resources" page"
### Content

See https://docs.google.com/document/d/1yORrrsU4lN7itEC7BLTLHSR8JqRevppVPABxlmJqxXg/edit

Note: this is distinct from #35 which is about designing the Events landing page.

Will need to determine how a user arrives at the Events Resources page - e.g. from a link on the Events landing page? From an email they receive after adding their event to the database?

[2015-03-17 18:35] toolness commented on #304
This is superseded by #297, so I'm closing this issue now.

[2015-03-17 18:35] #304 closed

[2015-03-17 18:35] toolness commented on #300
This is superseded by #297, so I'm closing this issue now.

[2015-03-17 18:35] #300 closed

[2015-03-17 19:06] thornet opened #306 "[MIGRATED] Rio: Prepare invite list & agenda for LAN house kick-off meeting"
We should do an in-person kickoff with all the participating LAN house owners.

Include Graci in agenda development and meeting.

[2015-03-17 19:14] toolness commented on #299
This is superseded by #297 now too!

[2015-03-17 19:14] #299 closed

[2015-03-17 19:17] toolness commented on #301
Helpful documentation on this: http://accessibility.oit.ncsu.edu/training/aria/modal-window/

Oy, maybe we should just use [react-bootstrap](http://react-bootstrap.github.io/) after all.

[2015-03-17 20:51] vazquez commented on #35
This is where I got to today: http://invis.io/TY2GT8GBX

[2015-03-17 21:42] hannahkane commented on #35
Thanks, @vazquez. Will leave comments shortly.

/cc @amirad @thornet @ldecoursy @chrislarry33 for feedback by earlyish tomorrow, if possible. (Note: this is the Events landing page, there will be a separate /Events/Resources page with the rest of the content.)

[2015-03-17 21:46] ScottDowne opened #307 "hero-unit component not currently able to use retina and non retina images"
[code]

Something like this, if I have two images, and hero unit could support both images, it would be awesome.

I would like to use it, because it does a bunch that I need.

Internally it used background-image and not sure how to make that work with retina, but if I can modify hero unit to do this I'm going to submit a pr.

[2015-03-17 21:47] toolness commented on #261
Yeah, it's weird b/c when I first made the HTML for the page, I was using Firefox's mobile view (ctrl-shift-M on windows), which it looked nice and responsive on... But yeah, when using it on certain phones, it seems like Bootstrap's responsive classes aren't being triggered or something, which is odd.

[2015-03-17 21:50] toolness commented on #261
For instance, on a desktop browser's "mobile development view" which sets the viewport width to about 320px:

![2015-03-17_17-49-22](https://cloud.githubusercontent.com/assets/124687/6698333/1e70c796-ccce-11e4-95bd-7f89bffe4a76.jpg)

[2015-03-17 21:51] toolness commented on #261
Oh wait! I'm looking at the `index-static.jsx` and realizing that we don't have a [viewport meta tag](https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag). I'll bust a PR with that in it, which should help things out a lot.

[2015-03-17 22:11] toolness commented on #169
Hmm, if we're only implementing something temporary, I'd recommend going with something that easily integrates with our existing backend, which is in Django. I've got experience using [Mandrill](http://mandrill.com/) for this kind of thing from working on the Hive Directory. Alternatively, if we're not expecting to send out a ton of emails, we could even use good ol' SMTP.

[2015-03-17 22:17] hannahkane commented on #169
Just to clarify: there will be three transactional emails for v1 of the Teach site. 1) the email a user receives after signing up for the site, 2) the email they receive after adding their Club to the map, and 3) the email they receive after completing the "find out more" workflow from the Clubs page.

I believe 1) will be covered by the login work that's happening elsewhere (https://github.com/Mo

[2015-03-17 23:18] hannahkane commented on #86
Add'l questions to consider:
 * Do we "retire" other badges, or just not offer them on the landing page? (that is, should someone who previously earned the Curriculum remixer badge still be able to access it? assuming yes.)
 * Do any of these badges come with add'l privileges? e.g. Should Super Mentors be able to approve certain other badge applications?
 * Should the Event Organizer badge be syst

[2015-03-17 23:51] gesa opened #310 "Clean up SVGs"
Whether manually or in some automated fashion, I noticed the SVGs in #309 could use some cleanup. This wasn't a blocker on that PR, but something we should think about in future iterations.

[2015-03-18 10:34] adamlofting commented on #64
Pasting this summary here from an email thread, for easy reference:

### Summary

I took the database of all contributor email addresses from last year (all those that counted towards the 10k). This includes all the hive badge, skill-sharer, mentor badges, and other ad-hoc contributors who we logged but who didn't earn badges.

And then I cross checked this list against our existing webmaker.org m

[2015-03-18 11:04] jgmac1106 commented on #205
I have scans of krakenthecode handout available on discourse but I am sure MOUSE has a ton as well. I thinkntbey used slides or thimble.

[2015-03-18 13:24] toolness opened #311 ".glyphicon-menu-right obscures sidebar text on narrow sidebars"
I've noticed that when the sidebar is narrow, the `.glyphicon-menu-right` starts crowding into the sidebar text and overlapping it a bit:

![2015-03-18_9-17-39](https://cloud.githubusercontent.com/assets/124687/6709462/e3275b3c-cd4f-11e4-8c7c-82a02c4ca681.jpg)

What's particularly unfortunate is that this is actually how things look by default on an iPad in landscape orientation, as that viewport

[2015-03-18 13:47] toolness commented on #307
Was this fixed by #309?

[2015-03-18 14:34] ScottDowne commented on #307
Yup, fixed by #309!

It uses a bit of the like mozilla page as an example of using hero unit with retina, but the like mozilla page isn't complete yet.

[2015-03-18 14:34] #307 closed

[2015-03-18 15:41] LauraHilliger commented on #201
@jvallera if you have ideas here after your April 1st meetup, definitely throw some in!!

[2015-03-18 16:29] hannahkane commented on #266
Just a note: we don't actually have to do anything with that page. We could keep it on Webmaker, and keep the /make-your-own shortcut, so anyone who had it bookmarked could still find it. I think it's more an issue of do we want to be promoting Thimble makes, or do we want to provide new github-flavored instructions for creating curriculum.

[2015-03-18 16:40] adamlofting commented on #151
Here are a few further data points to weigh up against developer 'costs'. Also, we might want to move this discussion to a general engineering space, as these decisions are also important to Webmaker tools (maybe even more so there).

I've had a look at versions of Android.

These two views are global averages:
* https://developer.android.com/about/dashboards/index.html
* http://www.appbrain.com/s

[2015-03-18 16:42] jvallera commented on #201
Will do. Thanks.

[2015-03-18 16:44] adamlofting commented on #151
I'm happy to explore more data if it's useful here, but I think this gets us in the right ballpark.

Now, this discussion is between product and engineering to weigh up the cost and benefits of being able to reach each % of the market.

I'll assign the ticket back to @hannahkane. Conversation is likely to need @davidascher @simonwex @thisandagain @hannahkane .

[2015-03-18 17:02] LauraHilliger opened #313 "[MIGRATED] Add Media release form to clubs tip page"
we need to have a quick blurb + link on media release forms for clubs aimed at youth. Meredith from Mouse suggested this form from the NYCDOE:

http://schools.nyc.gov/NR/rdonlyres/2E974D18-2CA2-445D-8A0F-8AAE9B4EF238/88120/consent_form_revised35.pdf

@amirad is it too late to add that to the Clubs tips content?

[2015-03-18 17:20] thisandagain commented on #151
For reference, here is what we've been looking at for Webmaker:

#### Desktop
Chrome: Latest - 1
Firefox: Latest - 1
Safari: 7+
IE: 11+

#### Tablet & Phone
Mobile Chrome: Latest - 1
Mobile Firefox: Latest - 1
Mobile Safari: iOS 7+
Android: 4.2.2+ (looking at potentially embedding our own rendering engine to help us get lower than this)
Firefox OS: 2.0+

[2015-03-18 17:31] #301 closed

[2015-03-18 17:37] LauraReynal commented on #151
Opera mini is very popular also in emerging markets  - given its low data consumption. Will check if I find numbers. Would that be supported @thisandagain ?

[2015-03-18 17:49] thisandagain commented on #151
Opera mini will almost certainly not be supported for Webmaker as it isn't particularly relevant to the tablet market and on Android we are shipping an app. Good consideration for the teach site though!

[2015-03-18 17:50] OpenMatt commented on #78
@k88hudson says this one is likely to be the most difficult

[2015-03-18 18:02] gesa commented on #151
a quarter of a billion people use Opera mini, good call @LauraReynal.

[2015-03-18 18:28] amirad commented on #35
Added a few comments. Is there a link to the resources page too? Or is that still being built?

[2015-03-18 18:30] vazquez commented on #35
The events resources page is being treated as a separate issue, #305. It is in the process of being designed.

[2015-03-18 18:32] amirad commented on #35
Ahh thanks @vazquez

[2015-03-18 19:04] amirad opened #315 "Update Learning Networks stories spreadsheet"
Update the existing spreadsheet to capture stories for the learning networks team.
Must include:
-Date
-Community Member
-Team member added the story
-Store/info
-Quotes
-Social info
-Pictures, video or links
****Potentially also include what makes a good story
****Potentially also include just a data dump of quotes, links and pictures

[2015-03-18 19:12] amirad opened #317 "[MIGRATED] Add bi-weekly stories to Learning Networks Stories doc"
Share info on what's happening in our communities in the last two weeks. @LucyeoH to update issue with sheet and follow up with Mobilizing team.

[2015-03-18 19:15] amirad opened #318 "[MIGRATED] What's happening in the Mozilla Learning team communities shareout"
Turn community stories pilot into blog post and email by April 15th.

[2015-03-18 19:18] amirad opened #319 "[MIGRATED] Update Learning Networks calendar with Hive calls/events/meetups"
@Saallen can you share the calendar for Elsa/Simona to update. Also, we should identify other best places to put and share this calendar for people to see. Do we post a link somewhere? Tweet it out regularly?

[2015-03-18 19:49] ScottDowne commented on #43
Finished: https://github.com/mozilla/teach.webmaker.org/pull/321

Needs review.

[2015-03-18 20:00] ldecoursy commented on #280
@amirad Can we close this ticket since plan is approved?

Re: https://github.com/MozillaFoundation/plan/issues/347

[2015-03-18 20:06] ldecoursy commented on #130
Tracking here: https://teach.etherpad.mozilla.org/retain4k

@Saallen can you add #'s from MozFest lists?

[2015-03-18 20:15] k88hudson commented on #78
@hannahkane hey, is there a wiki or other documents somewhere with badges requirements beyond these tickets? sorry, I've probably asked this before

[2015-03-18 20:16] thornet commented on #52
To help out the design process by having all the text on one page, I've copied the [latest version](https://github.com/mozilla/webliteracymap/issues/36) of the map into:

https://teach.etherpad.mozilla.org/weblitpage
line 21

@iamjessklein that should help with designing the page!

Just a note that there will be a few copy edits before the end of the heartbeat. @dajbelshaw can notify you of those.

[2015-03-18 20:44] #290 closed

[2015-03-18 20:53] ldecoursy opened #323 "Clarify what it means to be "in" a city"
* Driver @ldecoursy
* Decision Maker @chrislarry33
* Consulted @hannahkane @amirad @thornet

We broke our previous definition! Need to finalize this so we can better track and measure towards our goals.

Here's a most recent take:

Mozilla Learning Networks aims to provide value and impact to cities and communities around the globe. Our goal in 2015 is for sustained engagement in 500 cities.
***Wh

[2015-03-18 20:57] amirad commented on #280
Yup, that we can do.

[2015-03-18 20:57] #280 closed

[2015-03-18 21:07] hannahkane commented on #78
@k88hudson - there are three different badge-related milestones spec'ed out a bit here: https://wiki.mozilla.org/Learning/Networks/Product-Roadmap (I suggest just doing a search for the word "badge")

[2015-03-18 21:21] ScottDowne opened #324 "Update icon links in both the club page and teach like mozilla page"
Both the pages, club and teach like mozilla have icons and the bottom that are links. Right now that links are "fixme"

I'm not sure where we want these to go yet, but they are as follows:

- teach like mozilla
  - listen
  - attend
  - say hello
- clubs
  - curriculum
  - connect
  - helpful tips

[2015-03-18 21:33] hannahkane commented on #324
ah, good questions. :)

- teach like mozilla
 - listen: http://mzl.la/TTWpodcasts
 - attend: https://wiki.mozilla.org/MozillaWiki:Teach_the_Web_Talks
 - say hello: http://discourse.webmaker.org/category/meet
- Clubs
 - curriculum: the Clubs Curriculum page that @gesa is making in #42
 - connect: http://discourse.webmaker.org/category/meet
 - helpful tips: the Tips page that's currently in the desi

[2015-03-18 21:33] gesa commented on #99
@vazquez can you point me in the direction of this asset?
![](http://snaps.akibraun.com/kyvbt.png)

[2015-03-18 21:38] ldecoursy commented on #99
It's here: https://www.flickr.com/photos/newyouthcity/14532113128/in/set-72157645434988967

[2015-03-18 21:49] vazquez commented on #305
The design can be found here: http://invis.io/AC2H7GAKJ

There are a couple of points to take note of:
1. If you go to the Expanded state of of Event Details (http://invis.io/KY2H8L5UX), the copy on "Before Your Event" inundates the user. Are there points we can take out? At minimum, we should be breaking up this section into two sections for improved comprehension. It is much too long as it is.
2

[2015-03-18 22:00] gesa commented on #99
Thank you!

[2015-03-18 22:00] #99 closed

[2015-03-18 22:04] gesa commented on #324
Thanks @hannahkane!

qq: which email address does this link to? ![](http://snaps.akibraun.com/rs9ki.png)

[2015-03-18 22:06] hannahkane commented on #324
Help@webmaker.org

On Wed, Mar 18, 2015 at 3:04 PM, Aki <notifications@github.com> wrote:

[2015-03-18 22:24] k88hudson opened #326 "Do a (short-term) analysis of badges/assessment of work"
Tickets here:
https://github.com/mozilla/teach.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Abadges

My initial overview/assessment of short term work and constraints:
https://drive.google.com/a/mozilla.com/file/d/0B9Spnx3qAl7pclBXWXBoQUppV0E/view?usp=sharing

Action items
*  [ ] There are a few technical holes that need looking into described in the report, e.g. connecting applications and b

[2015-03-18 22:28] gesa commented on #289
For the record, it appears to me that the about page isn't linked to from anywhere on the site?

[2015-03-18 22:31] hannahkane commented on #305
Thanks for this, @vazquez. Great job presenting a huge amount of content!

1. Agree that this section is too long. One suggestion for breaking up the content into two pages: a) The Basics (venue, equipment, materials, gear, wifi) b) Before Your Event (map, recruit, promote, signup, schedule, press). @amirad - does that work for you?

2. Agree that cutting down the number of assets would be ideal.

[2015-03-18 22:35] alicoding commented on #289
Yeah I don't see it either... I don't even know if we have those links on the footer sidebar in the design at all?

[2015-03-18 22:37] hannahkane commented on #289
See this ticket: https://github.com/mozilla/teach.webmaker.org/issues/296

[2015-03-18 23:20] hannahkane commented on #151
So, it sounds like Webmaker is set. My instinct for Teach is to follow Webmaker's lead for desktop and tablet, and to only consider phones a distinct question. How about I set up a call with @toolness @davidascher and @simonwex to hash this out?

[2015-03-19 09:38] thornet commented on #181
Closing this since it was an example.

[2015-03-19 09:38] #181 closed

[2015-03-19 10:30] dajbelshaw commented on #52
These will be locked down by 4pm GMT tomorrow. Once they're all ticked off at the following URL then that's the skills and competencies locked down for v1.5!

https://github.com/mozilla/webliteracymap/issues/36

[2015-03-19 11:37] LauraHilliger commented on #216
https://github.com/LauraHilliger/webmaker-curriculum/commit/ea48c0befc86a717529e006a946de59a11e88d18

[2015-03-19 11:37] #216 closed

[2015-03-19 11:53] LauraHilliger commented on #213
https://github.com/LauraHilliger/webmaker-curriculum/commit/56adea9366fc42a15fdd8e4436dd126e21c38185

[2015-03-19 11:53] #213 closed

[2015-03-19 12:01] LauraHilliger commented on #214
Thanks Chad! I added to the pingkong activity with

https://github.com/LauraHilliger/webmaker-curriculum/commit/84f6355bb8f4e0b57b60afc9a361c6b02cd52557

[2015-03-19 12:01] #214 closed

[2015-03-19 12:09] LauraHilliger commented on #217
https://github.com/LauraHilliger/webmaker-curriculum/commit/a1873782a030dcb5fe83221ccc527ce1f147ba2c

[2015-03-19 12:09] #217 closed

[2015-03-19 13:15] hannahkane commented on #35
@vazquez - what would you think about adding three CTAs to the bottom of this page, similar to the Clubs page and Teach Like Mozilla page - where there's a linked illustration and a brief bit of text for each, in three columns?

The three CTAs could be the "sign up to learn more" that's already there + the link to the Resources page + "Add your event" (link to events.webmaker.org).

[2015-03-19 13:17] hannahkane commented on #152
Hey @jdotpz - is there any update on the SSL cert?

[2015-03-19 13:28] LauraHilliger commented on #212
yes, @jgmac1106 summed it up perfectly. I added quite a bit of contextual information to this activity. I also revised the learning objectives based on comments in the feedback etherpad. Maybe you all want to take a look and see if the iterations have solved this issue? It's still an involved activity, but if you feel like the LOs and activity match, please close!

live page:  http://mozilla.githu

[2015-03-19 13:36] Saallen commented on #130
@ldecoursy added! I added 2013 numbers too but not sure we can still access these emails due to data storage guidelines as set out by @adamlofting  on the mana. Can you confirm @adamlofting

[2015-03-19 13:55] jdotpz commented on #152
It's still being processed over on MoCo side, I'll send out some pings today and ask about moving that right along.

[2015-03-19 14:04] Saallen commented on #319
Hey, I have shared the calendar with @Elsamozilla and @simonaramkisson  and they now should be able to add their calls to the calendar. Happy to do a skype call and share screen to run through how to do this if there are issues. Can this calendar go on teach.mozilla.org @hannahkane ? As we will be adding more and more community events as we hear about them.
In the meantime we can tweet about it.

[2015-03-19 14:35] toolness opened #328 ""Learn more" link on clubs page has wonky hover state"
The "learn more" link has weird interactivity:

<a href="https://toolness-media.herokuapp.com/v/learn-more-css-weirdness/play/loop"><img src="https://toolness-media.herokuapp.com/v/learn-more-css-weirdness.poster.play.jpg" alt="Play 'learn-more-css-weirdness' video"></a>

The cursor style isn't a pointer, even though it's a proper `<a>`, and it's weird that the underline goes away when hovered-ove

[2015-03-19 14:37] adamlofting commented on #130
I made a note in the etherpad. Have we stayed in touch with these people since then? If not, a "random" email two years later will have poor response rates which would have a negative impact on our general mailing stats (deliverability rate etc).

[2015-03-19 14:41] vazquez commented on #35
No problem :) good because it's more consistent with other pages.

[2015-03-19 14:43] LauraHilliger commented on #205
added examples, left out Story of Us – want a *real* story! https://github.com/LauraHilliger/webmaker-curriculum/commit/487d13426476c8573e66eff923698e006f39b257

[2015-03-19 14:44] LauraHilliger commented on #204
solved in other issues.

[2015-03-19 14:44] #204 closed

[2015-03-19 14:52] LauraHilliger commented on #100
I’ve implemented (almost) all the tickets we had on the clubs stuff. 2 left, one that is just waiting for Doug + Greg to say “yes, that’s better” #212, and I'm not sure what to do with #215 - the [glossary](https://github.com/mozilla/webmaker-curriculum/wiki/Glossary) is pretty simplistic already.

Recommend finding a time to go through these together and do a final looksie on if we can simplifyin

[2015-03-19 14:54] jgmac1106 commented on #212
This is better. Hopefully embedding the form will also increase the number of people completing the assessment survey.

[2015-03-19 15:04] Saallen commented on #130
Thanks @adamlofting I would not of had emailed 2013 folks since 2013. But I have pinged the 2014 list already since MozFest.

[2015-03-19 15:06] adamlofting commented on #130
I'd also expect there's some overlap in these lists :smile:

[2015-03-19 15:07] ldecoursy commented on #130
Agree - let's just add 2014 for now. Thanks @Saallen

[2015-03-19 15:08] hannahkane commented on #319
Yes, we can link to the calendar from the site. What's the link?

We're currently linking to https://wiki.mozilla.org/MozillaWiki:Teach_the_Web_Talks on the "Teach Like Mozilla" page of the site. Should we instead link to this calendar?

[2015-03-19 15:12] Saallen commented on #319
Is there space for both?
If not, then I would think that TTW talks speak more to Teach like Mozilla.

[2015-03-19 15:14] Saallen commented on #319
Hannah, I sent you the link via email. Here is the link to embed the calender on a website

<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=zythepsary.com_q6ugl9iepetabcp9eg9ltmruic%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

[2015-03-19 15:20] iamjessklein commented on #52
I took a first stab at the wireframes (please provide feedback here on invision) [http://invis.io/6R2HHCS4M]

![webliteracy](https://cloud.githubusercontent.com/assets/535012/6733661/e8b6b46e-ce29-11e4-9a46-2ca5e1031654.png)

[2015-03-19 15:23] amirad commented on #305
+1 to using an index and tab bar.
Very open to breaking up the content into sections as I know the text is too long. We did something similar on the makerparty site.
I'll comment in the design which assets we can kill.

[2015-03-19 15:27] iamjessklein commented on #192
This might be fun to bring to the Wednesday team meeting and make into the "mad libs". Thoughts @chrislarry33 @hannahkane ?

[2015-03-19 15:30] LauraHilliger commented on #94
Before I spend time making this basic stylesheet for club curricula prettier so our stuff prints nicely, do we have a webmaker print stylesheet somewhere?

cc/ @k88hudson @toolness @flukeout @cassiemc

Tips on print styles are appreciated :pray:

https://github.com/mozilla/webmaker-curriculum/pull/167

[2015-03-19 15:51] iamjessklein commented on #254
After looking at the exhaustive amount of content - and taking into account that links might need to be constantly updated, I propose that we look into incorporating a wiki into this page. Either this page should link out to a wiki or if it is technically feasible, it would be most ideal to turn the page into a wiki while maintaining it's presence within the site.

:bulb: :bulb: Thoughts? :bulb: :

[2015-03-19 15:56] vazquez commented on #254
I agree. The content that exists on the Events Resources page would most likely be the max amount of content we could handle; and the Tips content is about 2.5x the size of Events Resources.

[2015-03-19 16:02] iamjessklein commented on #276
ping @toolness

[2015-03-19 16:04] hannahkane commented on #254
I'm not sure I understand how a wiki is any better. I mean, it's easier to edit, but it's not easier to read. If we have a problem with presenting too much information, maybe we need to address that directly. (Perhaps by drastically cutting down the content. @amirad, thoughts on that?)

I doubt we can add wiki technology in a week, and I'd prefer to keep users on site as much as possible, so for v

[2015-03-19 16:04] iamjessklein commented on #261
is this qa on-going? should I do it today?

[2015-03-19 16:09] amirad commented on #254
Can we break it up like @vazquez did for the events page?
I know it's a lot more information but my experience says the community wants and needs that info. The only things that might change are URL/titles around the move from Webmaker titled properties. In Q2 we wanted to test this info with out club leaders so I can imagine just one update to it at the end of the quarter.

[2015-03-19 16:15] iamjessklein commented on #243
@vazquez - I am wondering if we should keep the mark and just change the text. There are larger branding implications for this, however. We are then saying that there is a direct association between teach and webmaker.

@cassiemc @HPaulJohnson - would also love your thoughts on this.

[2015-03-19 16:18] iamjessklein commented on #169
I am wondering if we might be able to build of the template that @sabrinang made in the past. @sabrinang - can you direct us to the file for this?

[2015-03-19 16:21] toolness commented on #254
Ah, so I suspect that **this** is the kind of thing jbuck and I were meant to be prototyping editing experiences for in that [other heartbeat](https://github.com/mozilla/teach.webmaker.org/issues/75)!

I think there's definitely some good stopgap solutions we can bust out here to make editing easier for the teach folks, e.g. so they don't need to know JSX and stuff just to make some edits to the p

[2015-03-19 16:27] iamjessklein commented on #154
Assigning myself

[2015-03-19 16:28] iamjessklein commented on #52
Tagging @vazquez to start the UI work.

[2015-03-19 16:31] gesa opened #329 "Sort images directory"
It's freakin anarchy in there rn.

[2015-03-19 16:32] gesa commented on #42
@vazquez could I get all the assets for this please?

[2015-03-19 16:33] hannahkane commented on #254
I'd strongly advocate for holding off on adding editing functionality until that need actually emerges.

[2015-03-19 16:34] gesa commented on #261
@iamjessklein I think this particular issue can be closed, because it was looking for a specific solution. A more general QA still needs to happen, but ideally once the devs stop mucking about in the codebase.

I'm guessing @hannahkane will schedule that maybe?

[2015-03-19 16:34] #261 closed

[2015-03-19 16:36] gesa commented on #311
My solution is make 'em smaller, but maybe the designer should have a more nuanced look at it :smile_cat:

Assigning this to you, @vazquez, just to make sure you see it.

[2015-03-19 16:41] iamjessklein commented on #261
:+1: thanks for clarification @gesa

[2015-03-19 16:44] hannahkane commented on #52
I think this looks good. @dajbelshaw and @LauraHilliger have commented. @chrislarry33 - do you want to take a look at [http://invis.io/6R2HHCS4M] ?

[2015-03-19 16:44] vazquez commented on #42
Give me 5 minutes!

[2015-03-19 16:45] hannahkane commented on #261
will schedule! Thanks!

[2015-03-19 16:48] ScottDowne commented on #43
Forgot to close.

This landed.

[2015-03-19 16:48] #43 closed

[2015-03-19 16:49] hannahkane commented on #192
Love the idea of crowdsourcing, but right now we don't have many milestones spec'ed out.

In fact, I'm going to close this ticket for now. I promise that once we spec out the next milestone, I will remember to give it an awesome name. Please note: most of my pop culture references are from the 80s so get ready for some Back to the Future and Moonlighting jokes.

[2015-03-19 16:49] #192 closed

[2015-03-19 16:55] vazquez commented on #42
@gesa Clubs Curriculum Assets available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Clubs%20Curriculum%20Assets.zip

[2015-03-19 17:04] hannahkane commented on #276
Don't worry about mobile for v1

[2015-03-19 17:10] jgmac1106 commented on #254
Is their a hybrid approach? I agree with @amira that the clubs want and
need this information but we also know that too much copy and the the
content gets ignored.

What @amira and her team wrote is great but it comes off not as tips but as
a handbook or guide.

This probably doesn't work with the current design and I am once again
sticking my head where it doesn't belong....but.....

I really thi

[2015-03-19 17:14] iamjessklein commented on #162
outmoded due to the sign in flow work

[2015-03-19 17:14] #162 closed

[2015-03-19 17:14] hannahkane commented on #154
This is now being done via the id.webmaker.org project.

[2015-03-19 17:14] #154 closed

[2015-03-19 17:16] hannahkane commented on #46
Being done in id.webmaker.org project.

[2015-03-19 17:16] #46 closed

[2015-03-19 17:17] OpenMatt commented on #323
cc @adamlofting : as I believe he was planning to help work on this following Program Review

[2015-03-19 17:20] k88hudson opened #332 "Consider pairing tests with components"
Generally, I really like your automated tests for react components :dancer:

I was thinking in order to ensure tests get written for new components, it might be a good idea to pair tests with components. So for example

[code]

The downside of this is that you'd  have a deeper folder structure, but I feel like it would be really useful especially if you want to actually convert the component to be

[2015-03-19 17:22] toolness commented on #294
Actually, I'd argue that this isn't crucial to `v1`-it's probably a good thing to do *after* we finish the milestone, since React v0.13 doesn't have any crucial features that we absolutely need for the milestone.

[2015-03-19 17:34] adamlofting commented on #323
Yes, this will join up with the other ticket filed here: https://github.com/MozillaFoundation/plan/issues/395

[2015-03-19 17:35] k88hudson opened #333 "Improve test docs"
I think the README section on testing could be improved a little bit, in order to more clearly indicate what is required of someone when a new patch is submitted.

[2015-03-19 17:43] #289 closed

[2015-03-19 17:47] vazquez commented on #305
Design is ready for review @cassiemc http://invis.io/ZU2HJU6JR You can click and hover around.

[2015-03-19 17:49] k88hudson opened #334 "Add automated cross-browser testing"
Let's have a solution to automate cross-browser testing for chrome, firefox, ie, and some mobile browsers if possible. This will reduce the amount of manual testing and give more visibility to platforms and browsers most of us don't use on a daily basis.

IMO it's OK if these tests are super basic/just hit up most routes and check links or titles, the idea would be to generate screenshots that can

[2015-03-19 17:54] k88hudson opened #335 "Improve manual tests page"
There are a few improvements that could be made to make this more useful/closer to "real" device widths etc.

A more detailed description of changes being worked on here https://github.com/mozilla/teach.webmaker.org/pull/331

[2015-03-19 17:55] k88hudson commented on #335
Also just a note: this would be SUPER useful for people helping with QA, we should definitely make sure it is linked to in QA tickets etc.

[2015-03-19 18:02] hannahkane opened #337 "CSS fixes"
Reserving time for some clean-up!

- [x] Navigation Bar
- [x] Clubs Curriculum page
- [x] About page
- [ ] Footer
- [x] Web Literacy
- [ ] Map Popups

[2015-03-19 18:07] hannahkane opened #338 "Build workflow for "learn more about clubs" flow"
The user submits their name, email address, and location via the modal form, and the system should fire off an email to Claw, Michelle, and Hannah with the user's information.

Design work was done here:
Form: http://invis.io/ZC2DQ2TPU
Form filled out: http://invis.io/Y22HK5WD9
Confirmation: http://invis.io/762HK6CZA

@vazquez to provide any necessary assets

[2015-03-19 18:07] ScottDowne commented on #329
Ideas?

I dunno why, but I put all the teach like mozilla images in it's own sub dir.

I thought it was a good idea at the time, maybe we could do it for other page assets to clean it up a bit more?

[2015-03-19 18:08] vazquez commented on #338
Envelope and Globe assets available here: https://www.dropbox.com/s/7h6s0v8sharvhwz/Assets.zip?dl=0

[2015-03-19 18:15] gesa commented on #329
I created [this directory](https://github.com/mozilla/teach.webmaker.org/tree/develop/img/shared-iconography) while i was making the about page, putting any SVGs i thought would be shared in there. Then a directory for each page makes a ton of sense to me. Maybe adding a `photos` directory as well?
***
Thinking about those SVGs, they have a different color on every page. I would be happy to go in

[2015-03-19 18:16] hannahkane opened #339 ""Add Your Club" should trigger an email"
Approved copy:

Subject line: Thanks for joining the global movement to teach the web!

[First Name],

You did it! You put your city on the map and showed your dedication to increasing web literacy around the world. This is a big first step, so thank you for all that you are doing to teach the web.

Whether you are a new club leader or an expert at running clubs, we recommend you get started by me

[2015-03-19 18:21] hannahkane commented on #163
This will be done in the id.webmaker.org project

[2015-03-19 18:21] #163 closed

[2015-03-19 18:25] hannahkane opened #340 "Build "edit your club" flow"
Design was done here:

Authenticated user w/ Club (sidebar): http://invis.io/YC2HKEHQD
Edit Club info: http://invis.io/2V2HKEYEP
Saved: http://invis.io/6P2HKF6VH

Should update record in db.

[2015-03-19 18:28] hannahkane opened #341 "Build "remove your club" workflow"
Design was done here:

Authenticated user with Club (sidebar): http://invis.io/YC2HKEHQD
Remove club: http://invis.io/6W2HKGLMV
Remove confirmation: http://invis.io/F92HKGSK5

Acceptance test:
 - Club should no longer be accessible in db

[2015-03-19 18:40] k88hudson commented on #335
Ok, merged!

[2015-03-19 18:40] #335 closed

[2015-03-19 18:42] vazquez opened #342 "Replace SVG asset on Teach Like Mozilla page"
I did something wonky with the Attend icon and it came out ugly. I have since fixed it.

Here is the new asset: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Teach%20Like%20Mozilla%20Assets/icon-attend.svg

[2015-03-19 18:50] vazquez commented on #35
I updated the design: http://invis.io/TY2GT8GBX

[2015-03-19 18:59] amirad commented on #35
I like your picture choice @vazquez ;)

[2015-03-19 18:59] hannahkane commented on #35
Looking good. I added one comment, but otherwise +1.

@chrislarry33 - can you give final approval?

[2015-03-19 19:09] vazquez commented on #342
New new asset: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Teach%20Like%20Mozilla%20Assets/icon-attend-v2.svg

[2015-03-19 19:24] vazquez commented on #342
Scott merged this :)

[2015-03-19 19:24] #342 closed

[2015-03-19 19:25] k88hudson opened #346 "Meta: automated test sprint process"
Hey @hannahkane I just wanted to keep you in the loop about what @gvn and I are working on this sprint;

We've been tasked with improving automated testing, some of which focuses on teach and the new login work (some background here https://github.com/MozillaFoundation/plan/issues/351, although there is a lot there and it might not be very useful to read).

I've been filing new tickets on this rep

[2015-03-19 20:01] simonwex commented on #169
@hannahkane these will all be handled by "sawmill" -- the current system. The work on the login project will, indeed cover numero uno.

[2015-03-19 20:04] jgmac1106 commented on #205
We are doing story of us as part of #walkmyworld. Will have endless stories
using the curriculum by Sunday.

On Thu, Mar 19, 2015, 10:43 AM Laura Hilliger <notifications@github.com>
wrote:

[2015-03-19 20:13] amirad commented on #313
Hm not sure! @hannahkane thoughts?

[2015-03-19 20:28] k88hudson opened #348 "Typography is too large on mobile view"
The headings especially are pretty large on mobile view, which looks a little off and sometimes causes overflow problems:

![image](https://cloud.githubusercontent.com/assets/1455535/6740228/d30a8aca-ce54-11e4-9dad-8c10039d7dcf.png)

[2015-03-19 20:36] chrislarry33 commented on #313
This would be great to have. Might not be ready for launch, shouldn't be a blocker. Basically has to involve Angela and legal. Can someone start an Ops bug on this? If/when we have it I agree it will be a key asset.

[2015-03-19 20:50] hannahkane commented on #313
We can add it whenever it's ready.

[2015-03-19 20:58] toolness commented on #332
Thanks!

Hmm that's a good question... Back in #233 @alicoding actually originally suggested having a separate directory for each component, so that we could store the `less` alongside the `jsx` like you do in [your `react-web-app`](https://github.com/k88hudson/react-web-app). But we ran into [problems](https://github.com/mozilla/teach.webmaker.org/pull/238#issuecomment-78269006) when trying to na

[2015-03-19 21:02] toolness commented on #94
Cool!

I recently found this [PDFKit](http://pdfkit.org/docs/vector.html) thing, which makes it possible to render a PDF in JavaScript. It's not HTML-based, though, so I get the impression that it *could* be used to create some slick PDFs, but there would be some sort of conversion process involved in taking your original HTML/markdown and turning it into a PDF. It's probably way too much effort b

[2015-03-19 21:05] k88hudson commented on #94
This might be a good starting point

https://github.com/twbs/bootstrap/blob/master/less/print.less

[2015-03-19 21:08] hannahkane commented on #169
ping @toolness re: simon's comment above. Are you good with sawmill?

also, as mentioned at today's stand-up, plain text email is probably ok for v1.

[2015-03-19 21:11] toolness commented on #169
Hmm, if sawmill is just a temporary solution anyways, I'd prefer to just have Django send them out--it's very easy to integrate Django's email w/ existing out-of-the-box services (SMTP, Mandrill, etc) but integrating with a custom solution like sawmill would likely take more work. Which is fine, if we were sticking with sawmill, but I was under the impression that we will be migrating to something

[2015-03-19 21:13] hannahkane commented on #346
Thanks, @k88hudson. Glad to know we are upping our testing game!

I'm using the following meta data conventions:
 - using the "platform" label to distinguish anything site related from the programmatic work of the Learning Networks team. Due to a miscommunication on my part (that @simonwex is trying to fix), we are currently using this repo for the entire team's work, so I need the "platform" labe

[2015-03-19 21:14] #346 closed

[2015-03-19 21:15] hannahkane commented on #334
I am super excited about this ticket.

[2015-03-19 21:17] chrislarry33 commented on #35
Love it, ship it

[2015-03-19 21:17] k88hudson commented on #332
Totally agree 100% with naming things `name/name.jsx` instead of `name/index.jsx`. In order to simplify the mocha `globs`, I think i would prefer either:

[code]

or

[code]

What do you think?

[2015-03-19 21:18] k88hudson commented on #332
(You might not need individual manual tests, but you know, in the future or on some other project ^_^)

[2015-03-19 21:18] gvn commented on #332
I prefer name over index too because it makes tabs in Sublime more clear. :+1:

[2015-03-19 21:19] k88hudson commented on #346
Got it, thanks :+1:

[2015-03-19 21:20] k88hudson commented on #332
also debugging/source maps!! holy crap is it annoying when everything is the same filename

[2015-03-19 21:21] gvn commented on #332
I don't know if this is over-engineering, but you might want to consider a Yeoman generator for all this.

[2015-03-19 21:25] toolness commented on #332
Nice!! I dig it!

I am unfamiliar with Yeoman, I will have to read up on it...

[2015-03-19 21:41] k88hudson opened #349 "Consider writing test (or component?) generator"
@gvn suggested writing a yeoman generator, we could also consider just a plain node script depending on what's needed

[2015-03-19 21:44] hannahkane commented on #254
Thanks, @jgmac1106. I agree with you that this is more like a handbook.

For the initial release (which is coming up soon!), we're going to go with breaking up the content using the same design elements as the Events Resources page.

What I'd like to do in a future iteration is conduct a bit of research into *how* this information is used in the real world. At what points does a Club leader need t

[2015-03-19 21:45] gvn commented on #349
Yeah I could probably just add an npm command really...

[2015-03-19 21:52] amirad commented on #254
YES! Testing this page and how people gather/use it is part of the plan with our awesome Q2 club testers like @jgmac1106 ;)

[2015-03-19 21:55] hannahkane commented on #319
Sorry, I might be misunderstanding the purpose of the calendar. I thought the TTW talks would be on the calendar, and therefore there would be no reason to link to the TTW talks separately.

But if the calendar and the TTW wiki page are serving different purposes, we can certainly figure out the right place to link to each. To help me understand, can someone write a sentence-long description of th

[2015-03-19 22:50] gesa opened #350 "Proposal: move page components into subdirectory"
this new directory structure would look like:

[code]

(or, we could do the same as above but move pages out of components altogether, have a directory at the root level called `pages`)

[2015-03-19 23:02] hannahkane opened #352 "url should not be required field on Clubs form"
Some clubs likely won't have a website, so let's make this field optional.

Also, can we provide a more useful error message for field validation. e.g. "Please enter a web address that starts with http:// or https://"

[2015-03-19 23:08] jgmac1106 commented on #254
I am late with design and style (just got a Member's Only jacket and
started wearing Drakkar) and it seems the Web is moving into all the
content in an endless scroll and now appearing through animation or
something as you scroll.

If it wasn't for you folks I would still be styling webpages using html
tables.

On Thu, Mar 19, 2015 at 5:52 PM Amira <notifications@github.com> wrote:

[2015-03-19 23:12] hannahkane commented on #254
My new life mission: figure out how to reference Drakkar in as many tickets
as possible. :)

On Thu, Mar 19, 2015 at 4:08 PM, jgmac1106 <notifications@github.com> wrote:

[2015-03-19 23:23] jgmac1106 commented on #254
You get half the credit. It was a callback to your eighties request. I
think we found the new name for milestones.

On Thu, Mar 19, 2015 at 7:12 PM hannahkane <notifications@github.com> wrote:

[2015-03-19 23:34] hannahkane commented on #326
Thanks, @k88hudson. This is the best.

Some questions:
 * What is the difference between the earner and the consumer of the badge?
 * Is the application data currently not stored at all, once the badge instance is issued?

Some comments:
 * I think the location requirement might be bogus. It's related to our "500 active cities" KPI. But I don't believe we're planning to use "badges issued in a cit

[2015-03-19 23:37] hannahkane commented on #254
Every milestone will be named after a prestige men's fragrance from the 80s? I accept the challenge.

[2015-03-20 00:29] gesa commented on #350
omg could we do that to the `img` directory too?!

[2015-03-20 00:32] gesa commented on #42
@vazquez thank you so much! A couple of requests:
- could the vector graphics be re-exported as SVG?
- could the hero image be re-exported as a square? (and it might be more light-weight if it was a jpg? maybe? not totally sure.)

Or if it's easier for you, I'd happily do the exporting from a Sketch file.

[2015-03-20 00:36] vazquez commented on #42
Yeah I had doubts on what the best way to export the hero image, since the circle can be done in CSS. No problem! I will re-export the hero image as a square. That way it can be a JPG too :)

Regarding the vector graphics being re-exported as SVG, which ones do you mean exactly? Do you mean the `icon-web-literacy.jpg`?

[2015-03-20 00:47] vazquez commented on #42
Hero images have been re-exported as squares and are now JPG: https://dl.dropboxusercontent.com/u/43783651/mozilla/Clubs%20Curriculum%20Assets.zip

[2015-03-20 02:08] toolness opened #353 "Add autocomplete for the location field on the club form"
As per the discussion in https://github.com/mozilla/teach.webmaker.org/pull/330#issuecomment-83788403, we need to implement autocomplete for the location field in the club form, perhaps using the [Google Places API](https://developers.google.com/maps/documentation/javascript/places) or something similar.

[2015-03-20 12:57] vazquez commented on #305
Ping @cassiemc for Review http://invis.io/ZU2HJU6JR

[2015-03-20 13:10] thornet opened #355 "[Landing] Fix width of curriculum queue"
The formatting of this page is off:

http://mozilla.github.io/webmaker-curriculum/

Would be great to tweak the width so the body doesn't expand so far to the page's edge.

[2015-03-20 13:52] iamjessklein commented on #254
UX review: http://invis.io/SQ2HTH5CG
Note: the idea here is that it's a checklist like page with different steps that can be looked at individually. It will super clean in mobile view as well.

[2015-03-20 14:03] thornet commented on #100
@LauraHilliger thanks! it's looking amazing.

made a few edits as well.

let's leave #215 for now and ship #212 unless @dajbelshaw @jgmac1106 suggest otherwise by Monday Mar 23.

[2015-03-20 14:32] hannahkane commented on #254
<3 this.

@amirad and @chrislarry33 - what do you think?

[2015-03-20 14:43] jgmac1106 commented on #100
I really like it. Stumbled on to it last night when I was working on Hack
the News Tutorials. h/t to all.

On Fri, Mar 20, 2015 at 10:03 AM Michelle Thorne <notifications@github.com>
wrote:

[2015-03-20 16:46] ScottDowne commented on #350
I wonder how much of this is in line with this: https://github.com/mozilla/teach.webmaker.org/pull/344

[2015-03-20 16:53] ScottDowne commented on #329
Yeah, I like that.

[2015-03-20 17:05] dajbelshaw commented on #52
WEB LITERACY MAP v1.5 FINISHED

* https://github.com/mozilla/webliteracymap
* http://literaci.es/web-literacy-map-v1-5

![cheers - dicaprio](https://cloud.githubusercontent.com/assets/2429426/6756661/36cfb296-cf23-11e4-974b-be43f2ccce8b.gif)

[2015-03-20 17:35] Saallen commented on #319
Just checking with @amirad on what is the best description around the calendar.

[2015-03-20 17:38] gesa commented on #350
Good catch!

[2015-03-20 17:59] hannahkane opened #356 "Build "Teaching Activities" page"
* Design is here: https://redpen.io/jue07a72a4a77906e0
* Grid is here: https://cloud.githubusercontent.com/assets/1186326/6582335/08fc746e-c733-11e4-9708-1e582f1396a0.jpg
* Final assets are here, including all relevant svgs and image thumbnails, reg & 2x + the psd: https://www.dropbox.com/sh/q8gfn31yw3qjyfv/AABEIIbYU5E7m3D01_-YJpF_a?dl=0
* All of the links referenced on the page are here: https://

[2015-03-20 18:05] gesa commented on #350
okay so the JSX portion of this is done, just needs Less! I'll do that now.

[2015-03-20 18:16] k88hudson commented on #326
I *think* the consumer is the person viewing the badge (i.e. public), the earner is the person who earns the badge. So if you earned a Carrot badge, and I was looking at your Carrot badge, I would be the consumer and you would be the earner.

It is stored, but marked "archived".

I'm not sure it makes sense to rewrite the admin interface already on webmaker.org for issuing badges and approving the

[2015-03-20 18:59] vazquez commented on #52
UI Review @cassiemc http://invis.io/RQ2HY7A7G

[2015-03-20 21:20] iamjessklein commented on #52
nice job @vazquez

[2015-03-20 21:24] gesa commented on #42
Sorry I didn't get back to you immediately @vazquez.

So I don't know the source of these icons (if you designed them yourself or they were given to you as assets) but I'm p sure these all could be svg:
[code]

But *especially* `icon-web-literacy.jpg`

[2015-03-20 21:29] vazquez commented on #42
Sadly none of those can be SVG as they are images that we took from the current page. We will recreate those assets in SVG eventually, but not for now as it is time consuming.

`icon-web-literacy.jpg` needs to be a JPG because were using some radial gradients *within* a shape *as* a border, which SVG does not understand well. I learned this lesson in the About page:

![screenshot 2015-03-20 17 26

[2015-03-20 21:30] gesa commented on #42
AHH, I see, thank you so much for clarifying that for me!

[2015-03-20 21:38] cassiemc commented on #52
Ok done @vazquez just a few things to address! Really close, layout / organization and treatments look great, just some spacing / alignment issues at most.

[2015-03-20 23:17] toolness opened #360 "Only one club in a given location is visible"
As mentioned in https://github.com/mozilla/teach.webmaker.org/pull/354#issuecomment-84063644:

I tried adding two clubs with the same location name, "Mumbai", in the site and this is indeed the case. The clustering plugin does "cluster" them for as long as it can, which at least shows people that there are 2 clubs there, but once the user is maximally zoomed-in to the map, it only shows one of the

[2015-03-20 23:24] hannahkane commented on #360
d'oh! this feels like a bit of a dealbreaker. Is the artificially distancing the clubs from one another idea a real possibility? other sites must have encountered this problem before, right? I wonder how others have solved it.

[2015-03-21 00:30] rossbruniges commented on #360
So to me there are a few problems to solve with this ticket.

The first one is what the map is there to show? Is it accuracy (viewing the
map shows where things are accurately happening) or volume (there are x
number of things happening in city y).

If it's the later then clustering (and restricting zoom levels to stop at a
point where it starts getting inaccurate) is an option. If not then you
ne

[2015-03-21 00:37] #350 closed

[2015-03-21 00:40] hannahkane commented on #360
I think the map is there to a) show volume, but we also need to b) help ppl find activity near them. What if we use the map for a, and whatever design solution we come up with in #245 for b?

[2015-03-21 00:58] toolness commented on #353
Just wanted to note that on the [server-side](https://github.com/mozilla/teach-api/blob/883716b6e0f7c301abcf9538ccf6e8bff6de1bae/clubs/models.py#L56-L62) we're currently using OpenStreetMap's Nominatim geocoder, which could be cause of the particularly inaccurate results we're getting... The Python geocoding library the server is using supports other geocoders, so we could try different ones too,

[2015-03-21 01:04] toolness commented on #352
Heh heh, you caught me relying on the standard ol' HTML5 form validation. That input widget has `type="url" required` on it, which makes different browsers give different validation error messages :)

Making the URL non-required is super easy, but writing custom validation logic for that particular field is a bit harder. I was hoping I could get away with it since the Webmaker clubbers are so web-

[2015-03-21 02:26] alicoding commented on #360
I've thought about this as well and was wondering maybe we should use Google location autocomplete for pinning markers on the map to prevent this kind of problem. It is actually a one input field for that which doesn't add any addition steps to add the club, and I think the UX is really obvious for adding the location here. The advantage for this will also help us get the exact coordinate for each

[2015-03-23 09:15] LauraHilliger commented on #205
@jgmac1106 AWESOME! You rule! Can't wait to see what you all came up with (and build it in). Reopened the issue and am on pins and needles :dancer:

[2015-03-23 10:04] jgmac1106 commented on #205
Blog Post: http://misslanningskindergartenkorner.blogspot.com/2015/03/the-story-of-us-week-nine-walkmyworld.html

Storify: https://storify.com/cpastor24/story-of-us#publiciz

ThingLink Poster: http://www.thinglink.com/scene/636310532860674048 reflective post: http://walkmyworld.weebly.com/blog/event-9-the-story-of-us

Animation: http://www.powtoon.com/show/g8raHg3p9Uz/

YouTube: https://www.youtub

[2015-03-23 10:09] jgmac1106 commented on #205
Here are some chef pieces:

https://sites.google.com/site/textsandtools/techtutorials/animoto

https://sites.google.com/site/textsandtools/techtutorials/thinglink

http://jgregorymcverry.com/writing-mini-lessons-with-sock-puppets-creating-a-lead/

[2015-03-23 10:55] adamlofting opened #362 "Additional Analytics Instrumentation"
Now that the site build has progressed, there are further user interactions we want to count / measure in Google Analytics. This ticket is to review the site, list those interactions, and add the additional GA tracking code we require.

[2015-03-23 11:08] adamlofting opened #363 "'Add your club link' somewhere next to the map?"
An idea: When looking at the map, it would be nice to have a small link or button to 'Add your club' right above or below it, mainly to indicate that it's possible for users to contribute.

![screen shot 2015-03-23 at 11 02 46](https://cloud.githubusercontent.com/assets/1901816/6778643/51c24b9c-d14c-11e4-8228-6d5302a69ba8.png)

[2015-03-23 11:19] adamlofting opened #364 "I added a club, then couldn't find it on the map"
1. I added a test club, just using a city name ('Guildford')
1. It seemed to work,
1. But on clicking 'take me to my club' I couldn't see it. Or find it on the map afterwards.

For a user, this would be pretty confusing.

In the teach API, it ended up as:

[code]

The `null`s seem to be the issue. Can we validate for this?

[2015-03-23 11:20] adamlofting commented on #364
cc/ @toolness @alicoding to see who this is best assigned to?

[2015-03-23 11:21] toolness commented on #362
Oh!

So currently, modals don't actually trigger a change in URL (which I actually have issues with, but it'll have to wait until v2 to be addressed). We could have some tracking occur when users activate any of those modals, which currently includes:

* When a user adds, deletes, or changes a club.
* When a user clicks the "learn more" link on the clubs page and fills out the form. (and we should

[2015-03-23 11:22] toolness commented on #364
Thanks! This is going to be resolved ASAP with #353! I'm marking it as a duplicate, hope that is ok.

[2015-03-23 11:22] #364 closed

[2015-03-23 11:24] adamlofting commented on #362
- [ ] Start Log-in
- [ ] Complete Log-in
- [ ] Log-out
- [ ] Start Create an account (this might not be wired up yet)
- Clubs
  - [ ] Add
  - [ ] Delete
  - [ ] Edit
- [ ] Complete adding a club
- [ ] Validation errors on clubs modal
- [ ] 'Learn more' form interactions

[2015-03-23 11:27] adamlofting commented on #362
Thanks @toolness - I'll have a look at the code now but I think we will be able to fire the GA events in JS without the need for new pageviews

Also. I hadn't realised that that 'Learn more' link was a sign-up/register CTA. I just thought it was a link to another content page. I'll file a bug for @hannahkane and others to talk about that, if it's something we want people to do.

[2015-03-23 11:28] adamlofting commented on #364
:+1:

[2015-03-23 11:30] toolness commented on #353
Hmm, just noticed that the [Logo Requirements](https://developers.google.com/maps/documentation/javascript/places#LogoRequirements) for the Google Places Library include:

*Technically* we do display the data that's ultimately being given to us on a map, but we use Mapbox (which uses OpenStreetMap), not Google. Fortunately, there appears to be a way we can do the autocomplete via Mapbox, which I'm

[2015-03-23 11:38] adamlofting opened #365 "Promotion of 'Learn More' Call to Action"
Sorry if this is already being designed/discussed elsewhere, I just wanted to file while it was front of mind.

We have a 'Learn More' workflow, where a user can fill out a simple form to get in touch with us. This feels to me like an important high value action. But I only found the form on the site by accident.

I thought this 'find out more about us' was going to link to a content page on the s

[2015-03-23 11:41] toolness commented on #353
I think I will try using the ol' [react-select](http://jedwatson.github.io/react-select/) for this. Was going to use [react-autocomplete](https://github.com/rackt/react-autocomplete) but that project seems to be abandoned.

[2015-03-23 11:45] toolness commented on #362
Heh, same here re: the "learn more" link :)

Regarding hooking the code up to this, I'm thinking that a lot of this can be done by attaching event listeners to our `TeachAPI` instance, which emits a bunch of different kinds of events when stuff changes... I guess I'd like to help figure out a solution that doesn't break our unit tests, though I suppose such a thing could be accomplished by just st

[2015-03-23 11:53] toolness commented on #360
Are you implying that people enter the exact street address for their club, rather than just the city? My guess is that even with the autocomplete (#353), two Webmaker clubs in Brooklyn will still likely both submit "Brooklyn, NY, United States" rather than anything more specific, as these clubs probably won't have a dedicated street address or anything.

[2015-03-23 11:57] alicoding commented on #360
Given Google Map Autocomplete allow user to enter full address I guess it will solve problem for users who would like to have their pin display at the exact location assuming they want people to be able to locate the club. For those who didn't put the full address and if we have more than one from the same city then yeah I don't know if we can do anything much except manually move them ourselrves

[2015-03-23 12:35] iamjessklein commented on #254
I incorporated the feedback into the wireframes on [invision](http://invis.io/SQ2HTH5CG)

Any additional comments before we move into UI design?
cc/ @amirad @chrislarry33 @hannahkane @vazquez

[2015-03-23 12:40] toolness opened #366 "TeachAPI should never send auth tokens to third-party origins"
We should add a check to the Teach API's `request` method to ensure that it only adds an `Authorization` header if the request is going to the teach API server. Because we're passing potentially-absolute URLs into the request method, if there ends up being a vector for malicious parties to set them, we really don't want the user's auth token accidentally getting leaked.

Actually, a better alterna

[2015-03-23 12:46] toolness commented on #362
Hmm, so one thing I've been thinking about lately is that it'd be great to be able to track, at the very least, the rate at which JavaScript errors are occurring on the page, if not more detailed feedback like stack traces and such.

I believe that New Relic does this, but my understanding from @jdotpz is that MoFo is no longer paying for that... In lieu of that, @adamlofting do you think that som

[2015-03-23 12:46] iamjessklein commented on #245
I'm thinking that we can give it a similar treatment to the [Contacts, Spaces and Offices map on mozilla.org](https://www.mozilla.org/en-US/contact/spaces/)
This is what it looks like in desktop:
![screen shot 2015-03-23 at 8 44 32 am](https://cloud.githubusercontent.com/assets/535012/6780163/12627e44-d139-11e4-9b5f-f6141929e7d0.png)

These are mobile views:

![screen shot 2015-03-23 at 8 43 56 am

[2015-03-23 13:06] adamlofting opened #368 "Set environment variable for GA"
On staging and production:

[code]

[2015-03-23 13:07] adamlofting commented on #368
Hey @toolness - I'm not sure who sets these environment variables up, so please reassign as needed.

[2015-03-23 13:28] cassiemc commented on #243
I don't think we should use the webmaker logo at all. Options for placeholders:
* mozilla logo + Learning (my fave)
* just the text: Mozilla Learning (or whatever text)
* just the mozilla logo

Thoughts @hannahkane @HPaulJohnson ?

[2015-03-23 13:28] iamjessklein commented on #124
FYI - I updated the map on [invision](http://invis.io/9G2DK7SR2) to reflect the sitemap for the upcoming release.
![sitemapv3](https://cloud.githubusercontent.com/assets/535012/6780842/ed3169ae-d13e-11e4-9484-1f216440c94e.png)

[2015-03-23 13:35] iamjessklein opened #369 "Revise ordering of items in Navigation"
The navigation should read (from top to bottom) as:
* Clubs
* Teach Like Mozilla
* Teaching Activities
* Events

cc/ @hannahkane @toolness @ldecoursy @vazquez

[2015-03-23 13:46] amirad commented on #254
Beauty. Looks great broken up.

[2015-03-23 14:26] iamjessklein opened #371 "Adjust the placement and copy for Login/ Join buttons"
* The login/ join should be integrated into the navigation more.
* The Join button currently say "Join Webmaker" but it should be revised to "Join Mozilla Teach"

On the second item, as @hannahkane pointed out " Join Mozilla Teach" doesn't sound quite right - could use some copy suggestion here.
cc/ @ldecoursy @vazquez

![screen shot 2015-03-23 at 10 23 29 am](https://cloud.githubusercontent.com/a

[2015-03-23 14:30] toolness commented on #353
Ok, this issue is subsumed by #370 at this point, so I'm closing it.

[2015-03-23 14:30] #353 closed

[2015-03-23 14:33] amirad opened #372 "Finalize Clubs Partner Pipeline"
Develop the next stage of the partner pipeline (include responsible and consulted). Fill in next steps for each partner and have an idea of partner standing.
https://docs.google.com/a/mozilla.com/spreadsheets/d/1nl3N52qff2o4rrOv2HSAcRvGCrlhqub0yz1DtzA3T9Y/edit?usp=sharing

[2015-03-23 14:35] cassiemc commented on #305
Left a review, look forward to seeing the next iteration @vazquez :)

[2015-03-23 14:39] ldecoursy commented on #371
We're not locked on "Mozilla Teach." Perhaps "Join Mozilla Learning Networks"

@chrislarry33 @HPaulJohnson

[2015-03-23 15:00] LauraHilliger commented on #355
https://github.com/LauraHilliger/webmaker-curriculum/commit/32f48f368239cefe7f0c0ad661532db07aa13f56

[2015-03-23 15:00] #355 closed

[2015-03-23 15:05] vazquez commented on #52
Addressed feedback, another round of UI Review @cassiemc http://invis.io/RQ2HY7A7G

[2015-03-23 15:12] hannahkane commented on #369
Did we agree on this? I thought this was still under discussion. I have a slight preference for going in order or increasing intensity of involvement (Teaching Activities, Events, Teach Like Mozilla, Clubs).

[2015-03-23 15:16] hannahkane commented on #245
Let's be sure to imagine a future with 200 Clubs, or 500 Clubs, and consider how ppl will find the Clubs near them. Should we group by region, for example?

[2015-03-23 15:17] hannahkane commented on #254
+1, looks great!

[2015-03-23 15:25] LauraHilliger commented on #205
rad. Built in MOAR examples with https://github.com/LauraHilliger/webmaker-curriculum/commit/f59075d4f750a6999730229cdc1cb00486da4bdd Thanks Greg!!

[2015-03-23 15:25] #205 closed

[2015-03-23 15:28] iamjessklein commented on #243
also wondering if there is a distinction being made between "Learning" and "Teaching"

cc/ @chrislarry33 @ldecoursy

[2015-03-23 15:36] adamlofting commented on #362
Let me know if that PR works for you. It covers all the interactions I was hoping to track right now, but I'm very happy if you prefer it coded another way.

`npm test` ran successfully against that, but let me know what else we could do to make this work better with the test suite.

And... JS errors is an interesting one. Where we catch an error and handle it in code, we can push that to GA [like

[2015-03-23 15:38] adamlofting commented on #57
The remaining items for this ticket are underway in the following issues:
- [ ]  Additional Analytics Instrumentation #362
- [ ]  Set environment variable for GA #368

[2015-03-23 15:39] iamjessklein commented on #245
good point.

For starters, the page could ask if we could use geolocation, which would simplify the range of data being displayed.

Otherwise, I suspect  we have by country, by region, by neighborhood - will research a bit.

[2015-03-23 15:40] iamjessklein commented on #369
Ah based on the email thread I thought that it was agreed upon. If not, lets resolve it in this issue.

[2015-03-23 15:42] iamjessklein commented on #371
This relates to #243

[2015-03-23 15:45] iamjessklein commented on #245
@amirad also pointed me to the Coder Dojo map that simply collapses from the map -> "find a club near you" which seems pretty logical.

![screen shot 2015-03-23 at 11 45 16 am](https://cloud.githubusercontent.com/assets/535012/6783789/208b1882-d152-11e4-91ba-3714d1262f83.png)

![screen shot 2015-03-23 at 11 45 27 am](https://cloud.githubusercontent.com/assets/535012/6783790/23b4de12-d152-11e4-9984

[2015-03-23 15:55] iamjessklein commented on #254
assigning to @vazquez for UI treatment

[2015-03-23 16:01] cassiemc commented on #52
Looks great @vazquez, just one little spacing issue on the bullets in the web lit dropdowns. Otherwise R+

[2015-03-23 16:07] vazquez commented on #52
Final feedback addressed. Design can move to coding @hannahkane

http://invis.io/RQ2HY7A7G

:boom:

[2015-03-23 16:09] hannahkane commented on #51
This is no longer blocked by design. @vazquez - can you please add design assets to this ticket?

[2015-03-23 16:10] hannahkane commented on #52
Awesome! Unblocked #51.

[2015-03-23 16:10] #52 closed

[2015-03-23 16:15] vazquez commented on #51
Assets available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Web%20Literacy.zip

[2015-03-23 16:33] ScottDowne commented on #296
This was merged!

[2015-03-23 16:33] #296 closed

[2015-03-23 16:34] toolness commented on #245
Hmm, I'm now realizing that if we group by country or region, it will involve changing the data model... Right now we literally just store a location string and a lat/long, but if we group by country/region we'll also have to store that information.

[2015-03-23 17:14] hannahkane commented on #245
Seems like regional groupings will become important very quickly. Perhaps we can use an ISO standard to define regions, like this one: http://unstats.un.org/unsd/methods/m49/m49regin.htm

[2015-03-23 17:15] #362 closed

[2015-03-23 17:31] toolness commented on #368
hmmm, so alternatively, one thing we can do is actually *default* `GA_ACCOUNT` to the id you listed above, but allow folks to disable GA entirely by setting `GA_ACCOUNT='DISABLED'` or somesuch. That way we wouldn't have to worry about staging/prod configuration at all... unless it's really bad for devs to be using the above tracking ID during development?

[2015-03-23 17:33] hannahkane commented on #243
Just confirmed with @chrislarry33 - we should use "Mozilla Teach", not Mozilla Learn or Learning.

I think we're probably good to use the Mozilla logo + "Teach" or just the text "Mozilla Teach".

[2015-03-23 17:33] toolness commented on #368
Oh, another thing I like about defaulting GA to enabled for devs is that the tracking code gets exercised more frequently that way, In the spirit of [dev/prod parity](http://12factor.net/dev-prod-parity). It would be terrible if we thought that everything was good for launch, only for some funky bug in the GA code to break the site for everyone, which we couldn't see because we didn't enable GA du

[2015-03-23 17:34] toolness commented on #368
Speaking of which, a test suite for the GA stuff would be neat, let me know if you're interested in learning about that. No worries if not.

[2015-03-23 17:44] hannahkane commented on #243
Wait! Stop the presses!

This point seems to be contentious, so let's just have the mozilla logo and NO word at all (no "Teach", no "Learning").

[2015-03-23 17:48] toolness commented on #340
Hey, this was actually done as part of #354! Hooray!

[2015-03-23 17:48] #340 closed

[2015-03-23 17:50] toolness commented on #341
It should be noted that removing clubs is *functionally* working now, it's just done via a janky [`window.confirm()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/confirm) call rather than the slick modal that ricardo mocked up.

[2015-03-23 17:52] toolness commented on #303
Oh, this was done by #354 and its previous PRs, hooray!

[2015-03-23 17:52] #303 closed

[2015-03-23 17:55] iamjessklein commented on #243
I love this feed.

So just to clarify. We are talking about this:

![screen shot 2015-03-23 at 1 55 13 pm](https://cloud.githubusercontent.com/assets/535012/6786691/45271fb2-d164-11e4-865b-66ceb8f8c45c.png)

[2015-03-23 17:56] toolness commented on #71
This has been done in #354!

Note that login is still done via persona,  but we're associating the users with their actual Webmaker accounts, so migration to the new login mechanism shouldn't be too hard.

I'm not sure if this issue should be closed or not though so I will leave it up to @hannahkane to do that.

[2015-03-23 17:56] hannahkane commented on #243
yes, exactly. :)

[2015-03-23 18:04] toolness opened #374 "Modals can't be scrolled through if they go off-page"
Here's an example:

![2015-03-23_14-01-43](https://cloud.githubusercontent.com/assets/124687/6786892/533ec07c-d165-11e4-8809-b910a3903f5e.jpg)

The scroll bar on the side in that screenshot actually scrolls the *background* content, not the modal. There does not appear to be a way for users to scroll the modal itself.

[2015-03-23 18:13] davidascher commented on #243
Actually, the evolving wordmark has some tweaks:

![screenshot 2015-03-23 11 12 53](https://cloud.githubusercontent.com/assets/51278/6787086/9b931444-d14d-11e4-8e9a-853c89a6b6c5.png)

[2015-03-23 18:20] toolness opened #375 "Scroll focus moves from page to map as user scrolls down page"
On desktop/laptop systems, my mousewheel scrolling starts out scrolling the page, but as soon as the cursor is above the map, my mousewheel starts zooming-out the map instead of scrolling the page down.

Here it is in action:

<a href="https://toolness-media.herokuapp.com/v/teach-site-map-scroll-focus/play/loop"><img src="https://toolness-media.herokuapp.com/v/teach-site-map-scroll-focus.poster.pl

[2015-03-23 18:50] vazquez commented on #305
2nd round of UI Review @cassiemc http://invis.io/ZU2HJU6JR

[2015-03-23 19:51] vazquez commented on #305
3rd round of UI Review @cassiemc http://invis.io/ZU2HJU6JR

[2015-03-23 19:59] cassiemc commented on #305
@vazquez I left some more comments on a previous version that I think you haven't looked at yet?

[2015-03-23 20:08] iamjessklein commented on #243
I was under the impression that the new wordmark wasn't being used yet. It's not on the mozilla.org site yet as far as I can tell. Do you know otherwise @davidascher ?

[2015-03-23 20:30] vazquez commented on #305
Got them! Thanks. 3rd round (again) of UI Review @cassiemc http://invis.io/ZU2HJU6JR

[2015-03-23 20:43] davidascher commented on #243
No, I don't, but we're using it internally, I expect we will be using it
externally, and just wanted to make sure that y'all were looped in.

[2015-03-23 20:50] chrislarry33 commented on #243
+1 to @hannahkane

[2015-03-23 20:57] KevZawacki commented on #13
+ @kevzawacki

[2015-03-23 21:11] hannahkane commented on #326
Feels acceptable to have admin UI on webmaker.org and some end user-facing UI on teach.mozilla.org.

@k88hudson - given what you know of the requirements, our tech, and credly, which do you think is less effort - rewriting some of our stuff, or moving to credly?

[2015-03-23 21:14] hannahkane commented on #363
Thanks for the idea! I have a feeling you're right that it will be needed for usability purposes. Given the # of tickets to get through to launch our v1, I'm going to call this a p2 for now, though. It may become urgent if the "add your club to the map" task fails in usability testing right after launch.

[2015-03-23 21:14] iamjessklein commented on #243
cool. thanks @davidascher

@vazquez - since this will be on the white section above the left navigation I assume we should shoot for the new logo in mozilla gray.

[2015-03-23 21:20] hannahkane commented on #365
You're right that the copy is misleading. I'm thinking language like "Not ready to start a Club just yet? Talk to us!" could be better. And if that's the case, we probably need to remove it from the header image. Maybe it goes down at the bottom of the page where the second "Add your Club" CTA currently is, and we move that CTA up to right under the map? (also addressing #363).

@vazquez, @iamjess

[2015-03-23 21:26] hannahkane commented on #369
OK, as per email thread (sorry!), let's keep it as is for now. I imagine the nav items will evolve as we add more content, get real users on the site, etc.

[2015-03-23 21:26] #369 closed

[2015-03-23 21:28] hannahkane commented on #371
Can we just say "Join"?

And "Sign in" probably needs to say "Sign in with your Webmaker account" to prevent surprises.

[2015-03-23 21:30] iamjessklein commented on #365
Good catch. It feels like the secondary CTA in the header should be dropped.

[2015-03-23 21:32] toolness commented on #374
This is now superseded by #376.

[2015-03-23 21:32] #374 closed

[2015-03-23 21:45] iamjessklein opened #378 "Add a few lines of context to the top of the Teach page"
It doesn't feel clear to me what clubs are when you land on the Teach page  because the content is buried a bit deep. If you are new to the site you need to learn what Mozilla clubs are and if you familiar with our work you need to learn how Clubs differ from Hives.

@ldecoursy @amirad could you provide some copy here? 2-3 sentences tops.

![screen_shot_2015-03-23_at_5_42_33_pm](https://cloud.gith

[2015-03-23 21:52] ldecoursy commented on #378
I'd just suggest flipping the map with How to Web Clubs Work? Also I found it hard to scroll the page with the map right there (ended up zooming in/out of the map).

[2015-03-23 21:56] cassiemc commented on #305
Ok, not far now @vazquez, just a couple things.

[2015-03-23 22:00] amirad commented on #319
We can add the TTW talks to the calendar but I think the way TTW talks is currently featured is better.

The calendar is showing "where the community is and what they are up to" so is a nice add but doesn't need prominence on the site. Maybe just a link if it makes sense? Otherwise we can save it for social and other places.

[2015-03-23 22:31] toolness commented on #339
I've just added most of this functionality in https://github.com/mozilla/teach-api/commit/99f1c38a941364eceb8148b54a29c020508a511c. The one thing remaining to do is have it email Michelle/Claw/etc.  There's a few ways to do this.

One way is to actually integrate it into the admin backend UI, which will make it easy for the learning team folks to change the list of people who get sent the emails w

[2015-03-23 22:32] toolness commented on #339
Oh, also, we're only addressing the user by their Webmaker username at the moment, because that's all we have on them. Once we fully integrate with the new login system we should have their first name, assuming we collect that from them when they create an account.

[2015-03-23 22:35] HPaulJohnson commented on #243
re: use of new wordmark: when @cassiemc and talked to Sean Martell a few weeks ago he said they would be phasing in the new version over time not in one big reset. It's already started showing up in other public places, most notably MWC.

@cassiemc do you want to check with Sean - or do you know from previous converstaions - what version we can/should use now?

[2015-03-23 22:48] hannahkane commented on #71
yay!

Will close this and open a different ticket about hooking up the new login/signup experience to the Clubs workflow.

[2015-03-23 22:48] #71 closed

[2015-03-23 22:51] hannahkane commented on #375
The more I use this page, the more of a blocker this seems, so I'm labeling this v1 and putting it into the current milestone.

Per @iamjessklein, one possible solution is to make the map zooming require a click first.

[2015-03-23 23:08] toolness opened #379 "import react-a11y in browser"
at the very least we should import it for unit tests, but doing it for dev builds too would be good. otherwise the react that only gets rendered client-side does not show us accessibility warnings.

[2015-03-23 23:13] hannahkane commented on #378
1) I think we tried flipping the map and the "How Do Web Clubs Work?" list in an earlier iteration, and decided it looked weird.

I think I understand the issue you're raising, Jess, but I'm not sure the solution is more blocks of text. I worry people won't read them. :(

I think the map is actually one of the best ways to convey what a Club is - it shows that they are local entities, which seems

[2015-03-23 23:14] hannahkane commented on #379
@toolness - is this needed for v1?

[2015-03-23 23:40] hannahkane commented on #339
@toolness - want to make sure I understand the choices. Are you talking about building in functionality so that we can easily change the list of ppl who receive the email? I hope we won't need to do that so often that it requires add'l functionality. Feels like unnecessary work at this point.

[2015-03-24 01:39] toolness commented on #339
Ah ok, that makes sense. So I added support for this in https://github.com/mozilla/teach-api/commit/908334c2eccd203d8b5860bc93280ff85b97a29e.

2 things left though:
* Currently, the thing is set up to put the creator of the club *and* the teach staff (aka michelle/claw/etc) in the "To:" field of the email, which means that the creator of the club will be able to see the teach staff's email address

[2015-03-24 01:40] cassiemc commented on #243
Have just followed up with mart3ll by email.

[2015-03-24 01:43] iamjessklein commented on #378
I am not suggesting blocks of text - but a sentence or two - or even a meaningful tagline here. Is a club something I make or join? Is the club about support for teachers or is it youth facing? These are the kind of things that need to be communicated to a visitor upon a glance of the page. I don't see this being communicated in the map.

Another option could be to move that quote that is on the b

[2015-03-24 03:11] hannahkane commented on #378
That makes lots of sense. I like the idea of moving up the quote. Can we see what that looks like? Wondering if the globe illustration will be too close to the three CTAs.

[2015-03-24 03:17] hannahkane commented on #339
Yeah, I don't think Michelle and Claw should be addressees in the email to the user. Would be good if they email they got said:

Subject line: A new Club has been added to the map
Body: [user name] has added their Club to the map.
[name of club]
[location]
[url]
[description]

You may want to email them to say hello! [user email address]

---
Is there a separate ticket for triggering a similar ema

[2015-03-24 03:22] hannahkane opened #380 "Copy changes on New Club/Learn More modals"
Noticed a couple things on the modals.

New Club modal:
Prompt text in description field reads: "Give us a brief description about what your Club is about." That's a little awkward. Please make it, "Please provide a brief description of your Club."

Learn more modal:
Title reads: "Learn More About Hive Learning Clubs". Should read: "Learn More About Mozilla Clubs"

Field label on location field re

[2015-03-24 04:22] toolness commented on #338
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/339#issuecomment-85321494, the email to claw/michelle/hannah should look like this:

[code]

@hannahkane, if this is the wrong issue, let me know!

[2015-03-24 04:22] toolness commented on #339
Ok, done in https://github.com/mozilla/teach-api/commit/d5b636744a4b844bfb6c68ad5ab61d40c136c255! I think that means we can close this ticket now...

[2015-03-24 04:36] jgmac1106 commented on #243
“But Taborlin the Great knew the names of all things, so all things were
his to command."

Can you ask that guy?

On Mon, Mar 23, 2015, 9:41 PM Cassie McDaniel <notifications@github.com>
wrote:

[2015-03-24 05:23] ScottDowne opened #382 "creating a club never scrolled me to the map"
A small UX thing, but probably good to fix at some point.

STR:

1. Go to the clubs page
2. Scroll to the bottom
3. Click "add you club to the map"

When done, I see a "take me to my club" button. Clicking it didn't scroll up to the map, thus I wasn't aware it took me to my club.

The "add your club" button at the top of the page likely doesn't have this issue.

[2015-03-24 09:00] gesa commented on #328
I was having a conversation while opening the PR for this and I accidentally merged it without review. (I reverted, will open a new PR.)

[2015-03-24 11:25] #328 closed

[2015-03-24 13:13] vazquez commented on #305
Final review @cassiemc http://invis.io/ZU2HJU6JR

[2015-03-24 14:05] iamjessklein commented on #375
+1 it's presently challenging - although not impossible - to get to the core content.

[2015-03-24 15:02] cassiemc commented on #243
From Sean: "We're actually holding it back going forward until an official launch, which will most likely be in Whistler. We used it at MWC, but going to hold off elsewhere for now."

[2015-03-24 15:18] cassiemc commented on #305
Still not totally convinced about the 'quick links' area but I don't want that to block this. So, we can iterate on that in the build if needed. R+

[2015-03-24 15:22] LauraHilliger commented on #94
well it looks ok. Not brilliant, but ok: https://github.com/mozilla/webmaker-curriculum/pull/170

If we ever decide to move back to markdown, should remember: https://gitprint.com/

[2015-03-24 15:22] #94 closed

[2015-03-24 15:22] vazquez commented on #305
Sounds good. @hannahkane, design is finalized. This page will take longer to build due to the added components that haven't built in other parts of the site yet.

[2015-03-24 15:29] #35 closed

[2015-03-24 15:31] hannahkane opened #388 "Build Events Resources page"
This is a child page of /Events

Design is here: http://invis.io/ZU2HJU6JR

@vazquez to provide any needed assets.

[2015-03-24 15:31] hannahkane commented on #305
Awesome. Thanks!

[2015-03-24 15:31] #305 closed

[2015-03-24 15:32] vazquez commented on #388
Before you take on this ticket, let's talk about the different interactions that exist on this page.

[2015-03-24 15:34] hannahkane commented on #339
winning!

[2015-03-24 15:34] #339 closed

[2015-03-24 15:35] hannahkane commented on #338
This is the right issue. Thanks!

[2015-03-24 15:42] iamjessklein commented on #378
Here are 3 iterations. I spoke with @vazquez and both of us are leaning towards v1 (with the what is a club section on top). Note: that is not Mikko's photo.

V1:
![v1](https://cloud.githubusercontent.com/assets/535012/6805704/c67b7b74-d21a-11e4-8aa4-9c7e077026e6.png)

V2:
![v2](https://cloud.githubusercontent.com/assets/535012/6805710/cc922b16-d21a-11e4-913e-d3f91b72c10d.png)

V3:
![revision](htt

[2015-03-24 15:45] ldecoursy commented on #378
+1 to v1

[2015-03-24 15:46] hannahkane commented on #378
Another +1 to v1

[2015-03-24 15:51] toolness commented on #302
Hmm, this was done in #354, and I thought I closed it yesterday, but that must've been a different issue...

[2015-03-24 15:51] #302 closed

[2015-03-24 16:03] iamjessklein opened #390 "Adjust positioning of elements on the Clubs page"
We have revised the design hierarchy. Now, the "How do Clubs Work" section is placed directly below the hero element and the "or find out more about us" text is removed.

![v1](https://cloud.githubusercontent.com/assets/535012/6806139/493b823c-d21d-11e4-9c98-9fd29e85b26e.png)

[2015-03-24 16:29] LauraHilliger opened #392 "Rework curriculum index page to redirect to clubs curriculum page"
from http://mozilla.github.io/webmaker-curriculum/ "basics 21st century skills" will link to Curriculum page on teach[dot]

this
http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/ page will be replaced by the curriculum page designed in #106 – but we'll need to build in a redirect so people coming via gh-pages don't get lost.

[2015-03-24 16:54] adamlofting commented on #368
For this, I don't mind the GA_ACCOUNT being in the codebase as a default (it's not a secret after all).

I plan to move the GA methods into a separate module ( [ticket](https://github.com/MozillaFoundation/mofo-example-app/issues/53) ) and at that point I would love some help setting up a test-suite.

[2015-03-24 16:59] toolness commented on #360
O hi @rossbruniges!

[2015-03-24 16:59] iamjessklein opened #393 "Fix copy in the email"
This is the letter I received:

![screen shot 2015-03-24 at 12 50 19 pm](https://cloud.githubusercontent.com/assets/535012/6807394/9a901272-d224-11e4-8ca5-01ee0241fd66.png)

- [x] Capitalize the first letter of the person to whom the letter is addressed.
- [x] Change p.s. to P.S.
- [x] Copy edit:  should read "Join the conversation <strong>in </strong> our discussion forum.
- [x] Add comma after M

[2015-03-24 17:16] amirad commented on #378
V1! V1! V1!

[2015-03-24 17:18] vazquez commented on #51
Copy for the panels is available here: http://literaci.es/web-literacy-map-v1-5

[2015-03-24 17:19] hannahkane commented on #393
Thanks, @iamjessklein. Added an item to the checklist about not launching until we have the Toolkit page.

[2015-03-24 17:20] chrislarry33 commented on #378
V1

[2015-03-24 17:24] iamjessklein commented on #393
good point @hannahkane :email:

[2015-03-24 18:03] iamjessklein commented on #378
re-labeling as an engineering ticket.
cc/ @ScottDowne

[2015-03-24 18:28] ScottDowne commented on #378
I can take for now. Likely get to it today.

[2015-03-24 20:09] vazquez commented on #254
UI Review @cassiemc http://invis.io/HR2IW8U98

I tried other more complex layouts, but the simpler approach ended up being better in terms of type organization and content clarity.

[2015-03-24 20:09] amirad opened #394 "Decision over ownership and name of @Webmaker Twitter account"
**My suggestion: Change @Webmaker to @MozillaLearning on Twitter**

Because,
•Learning Networks + Learning Tools both fall into the broader ‘learn’ category so we can tweet about both from one account.
•One account will alleviate the burden of the product or engagement team assigning someone to manage a separate @ Webmaker account. Information specific to tools can be shared through both @ Mozilla

[2015-03-24 20:10] amirad commented on #394
@hannahkane thoughts?

[2015-03-24 20:48] ScottDowne commented on #51
@vazquez can I also get the colors for the blues in the web-lit maps? The background and the text.

Example, the clickable part in your example, can click navigation, what is the text and background color for that.

[2015-03-24 20:48] cassiemc commented on #254
@vazquez Just one comment about the orange bar.

[2015-03-24 20:51] vazquez commented on #51
Sorry @ScottDowne, I'm away from the computer. Can this wait until tonight?

[2015-03-24 20:51] vazquez commented on #51
I think it's $halfSeriousGrey

[2015-03-24 20:53] ScottDowne commented on #51
@vazquez it can wait until tomorrow, I just wanted to make a note of now so if I forgot I needed it, we would have it here.

[2015-03-24 20:54] LucyeoH commented on #394
I think we've already got a lot of educators and people who would be interested in both the learning networks and tools on the account right now. For the group who are invested in the current tools I think it would make it easier for transition if @ webmaker (even if in a different name) remained the account where tools were discussed.

However I understand the thinking that the tool may attract a

[2015-03-24 20:55] ScottDowne commented on #51
Hm, @halfSeriousGrey didn't work, but I did find a @letMeKnowWhenYoureUsefulGrey

[2015-03-24 20:59] davidascher commented on #394
No strong opinion.

We're going to need a @Webmaker twitter account at some point even if we
migrated the existing followers to a new handle.  So it may be weird if
you're following @webmaker to all of a sudden be following a new handle,
and still see a "new, unfollowed" @webmaker.

That said, I'm sure we can figure out a path either way. Probably need to
explain it all to the followers regardless

[2015-03-24 21:10] hannahkane commented on #394
No strong opinion, either.

Is there a content strategy for the new product beyond tech support? Will there be a need for regular off-site messaging?

[2015-03-24 21:16] amirad commented on #394
@davidascher any idea what the specific need would be for Webmaker to have it's own Twitter account? And when?
My thoughts would be to relay proper messaging around this and have a fresh Webmaker account targeting the 'new audience' for tools.

[2015-03-24 21:22] amirad opened #395 "Create Learning Networks Engagement Calendar for Q1/Q2"
Map schedule of how we will be engaging existing audience throughout April-Oct, on what channels and what the narrative sounds like.

[2015-03-24 21:31] amirad commented on #395
@HPaulJohnson and I mapped out an arc here: https://teach.etherpad.mozilla.org/2015LearningEngagmentCalendar

@ldecoursy @chrislarry33 @thornet @hannahkane @kevzawacki do you want to give a quick look based on our call yesterday to see if this aligns with what we were thinking before we continue to build this out.

[2015-03-24 21:43] hannahkane commented on #70
Closing this as it's a duplicate of https://github.com/mozilla/id.webmaker.org/issues/51

[2015-03-24 21:43] #70 closed

[2015-03-24 21:45] KevZawacki commented on #394
We can easily communicate handle renames, etc. with a pinned tweet. We should aim to leave it pinned for ~two months.

[2015-03-24 21:46] KevZawacki commented on #395
+1 Looks great to me!

[2015-03-24 22:01] k88hudson commented on #326
@hannahkane Mostly because of the reduced design requirements, my impression is that moving to credly is less effort, provided we look into it a little more thoroughly.

[2015-03-24 22:20] hannahkane commented on #326
Thanks, @k88hudson. Wondering if anyone has a compelling non-technical reason *not* to use credly?

/cc @simonwex @thisandagain @davidascher @chrislarry33

[2015-03-24 22:35] hannahkane commented on #152
@jdotpz - any word on the SSL cert?
@HPaulJohnson - any word on the domain?
@simonwex - how long should we plan for the security review? Can that start now?

[2015-03-24 22:56] hannahkane commented on #395
Also looks good to me. Added a couple things.

[2015-03-24 23:57] HPaulJohnson commented on #152
@hannahkane no update yet: https://bugzilla.mozilla.org/show_bug.cgi?id=1143719 but sounds like @jdotpz will push forward when we have code ready.

[2015-03-25 00:19] simonwex commented on #152
@hannahkane we can start the sec review process. @toolness we should jam on that a bit. Let's talk about it tomorrow during our 1:1.

[2015-03-25 00:42] jdotpz commented on #152
Do we have code ready for this?

On Tuesday, March 24, 2015, Simon Wex <notifications@github.com> wrote:

[2015-03-25 02:34] thisandagain commented on #326
This is great progress. No blockers to using credly from my POV.

[2015-03-25 02:36] ldecoursy commented on #394
I think the @webmaker account is and should still be used for things like "Check out what I made with @webmaker", but also for tech support, engaging with the learners and others using the tools, product-specific announcements/changes/updates, etc.

Should we consider just using @mozilla for Learning Networks vs. trying to rebuild or transfer existing audience to a new/separate account?

If there

[2015-03-25 02:37] gesa commented on #276
Okay ready to open a PR, but should note that we have two mozilla wordmarks at the top now:
![](http://snaps.akibraun.com/tyc32.png)

Also when we are ready to bring add this to mobile, this is a collision we are going to have:
![](http://snaps.akibraun.com/3kx6w.png)

[2015-03-25 02:57] HPaulJohnson commented on #394
Original proposal was to use @mozilla for Learning Networks. Concern was existing Webmaker community was largely made up of mentors/teachers and we would need to move them to a new account (though there is likely some amount of overlap already). Advantage is a larger megaphone for Learning Networks (110K @mozilla followers). Disadvantage is that @mozilla will also communicate non-Learning Network

[2015-03-25 03:30] ldecoursy commented on #394
Very helpful @HPaulJohnson - will defer to you and Amira then, unless @chrislarry33 has strong opinion?

Would just add two more thoughts: should we consider @mozlearning to save on characters (since we'll also likely still use #teachtheweb and #makerparty) or perhaps wait until after branding conversation to finalize a name? Also, I think this change should be part of a comms effort that explains

[2015-03-25 03:31] jgmac1106 commented on #394
It is the hashtags you curate on Twitter that will matter more than the
individual accounts. I more often than not see, including myself, people
put @mozilla @webmaker together in the same tweet. I always assumed it
@Mozilla was the Foundation writ large and @webmaker was the #teachtheweb
stuff.

What ever handles are most active on the hashtags used by the Learning
Networks will be the handles mo

[2015-03-25 12:13] toolness commented on #379
@hannahkane I wouldn't say so--it's more of a nice-to-have; the `react-a11y` library is experimental anyways and I am running into some technical issues in #398 anyhow, so I'd say we should leave it off v1.

[2015-03-25 12:16] #243 closed

[2015-03-25 12:22] #276 closed

[2015-03-25 12:28] toolness opened #401 "Mozilla logo needs more prominence on page header"
As of 31004e0b28cb4bed1c874fb9486b5c4e098cabda, the header of our site now looks like this:

![2015-03-25_8-24-31](https://cloud.githubusercontent.com/assets/124687/6824422/8f1a6d58-d2c8-11e4-9fe0-9244cb222d7a.jpg)

I'm not sure if people will understand that the site is part of Mozilla. As such, I recommend adding a third wordmark in the center of the page.

[2015-03-25 12:33] toolness commented on #311
Hmm, I'm noticing now that the text also wraps below the icon too... not sure if it's a regression or just a very edgy edge case that always existed:

![2015-03-25_8-32-23](https://cloud.githubusercontent.com/assets/124687/6824540/82d93870-d2c9-11e4-92bc-2517c6f77e22.jpg)

[2015-03-25 12:34] iamjessklein commented on #401
LOL! :laughing:
In all seriousness, I think that we need to de-emphasize the wordmark. What if we pulled the color bar on the left up to the top and then ghosted and reduced the size of the wordmark?

cc/ @vazquez

[2015-03-25 12:46] iamjessklein commented on #401
I'm thinking something along the lines of this:
![revisedm](https://cloud.githubusercontent.com/assets/535012/6824764/69bf79e2-d2cb-11e4-8f66-2d1e9e710090.png)

[2015-03-25 12:50] toolness commented on #338
Hey, I'm a bit confused about the status of this issue, b/c @iamjessklein told me that she removed the "Learn more" link from the mockups... Does it still need to be implemented?

FWIW it will take a decent amount of work to implement, as it requires changes to both the server and client. If it's functionally the equivalent of a `mailto:` link, I recommend just using that instead for v1--it's more

[2015-03-25 12:58] iamjessklein commented on #276
this relates to the convo going on over in #401

[2015-03-25 12:59] toolness commented on #388
Rad!

Hmm it looks like this will require figuring out #232.

[2015-03-25 13:05] iamjessklein opened #402 "Update the site with the new footer"
The current footer on the site is incorrect. It should be [the simplified footer](http://invis.io/7X2FVXRN9)

![footer-desktop](https://cloud.githubusercontent.com/assets/535012/6825076/f9f58b4e-d2cd-11e4-9442-8aef69fcc4c9.png)
![footer-mobile](https://cloud.githubusercontent.com/assets/535012/6825078/fb1117e6-d2cd-11e4-89e1-3c3198e5d242.png)

cc/ @toolness @ScottDowne

[2015-03-25 13:09] iamjessklein commented on #338
:+1:  @toolness this convo is outdated in terms of thinking. If you take a look at issue #378 you can see that I removed that link and adjusted the layout so that the information is upleveled in the page hierarchy.

[2015-03-25 13:21] toolness commented on #232
Oh! It looks like there is an (undocumented) [`Router.RefreshLocation`](https://github.com/rackt/react-router/blob/master/modules/locations/RefreshLocation.js) in `react-router`:

[code]

I've tried it out and we can totally use the location hash for whatever we want, i.e. normal browser behavior! Will issue a PR that just uses `Router.HistoryLocation` then, and never uses `Router.HashLocation`.

[2015-03-25 13:30] LauraHilliger opened #404 "[MIGRATED] Gather and collate "best of" Teaching Kits for web literacy competencies"
We need to search through a couple years worth of curricular resources made by the community and begin reworking content to serve as a “best in show” library. We may need to remix / rebuild the kits to update the content, make 'em pretty and remixable.

Related resources can be found in #27

[2015-03-25 13:30] LauraHilliger commented on #27
tons of PD example agendas collected by @jvallera in https://github.com/MozillaHive/HiveCreate/issues/1

https://hive.etherpad.mozilla.org/JuliaGH

[2015-03-25 13:30] vazquez commented on #254
Thanks @cassiemc, I addressed feedback. Design is finalized. @hannahkane, this page is ready to code up. :boom:

[2015-03-25 13:42] LauraHilliger commented on #404
So. Much. Stuff.
https://teach.etherpad.mozilla.org/best-in-show
https://webmaker.etherpad.mozilla.org/best-makes-call
https://blog.webmaker.org/?s=community+literacies

[2015-03-25 13:45] hannahkane commented on #254
woohoo!

[2015-03-25 13:45] #254 closed

[2015-03-25 13:48] #212 closed

[2015-03-25 13:51] toolness commented on #401
That looks better! That said, I am a bit bummed because it means my nifty [SVG triangle](https://github.com/mozilla/teach.webmaker.org/blob/d315385fddae44d2db92f7409f32f78fe0dba1fc/components/sidebar.jsx#L7-L27) will have to be dropped. Alas.

[2015-03-25 13:51] hannahkane commented on #401
+1 to @iamjessklein's solution, though a scrolling marquee of the wordmark might also help clarify that this is a Mozilla site.

[2015-03-25 13:54] hannahkane commented on #152
@jdotpz - We have not completely finished the site yet, if that's the question. I just wanted to confirm that when we are code complete (likely early next week), we'll be able to move it to production on teach.mozilla.org.

[2015-03-25 13:58] toolness commented on #232
This issue is superseded by #403 now.

[2015-03-25 13:58] #232 closed

[2015-03-25 14:12] vazquez commented on #255
No assets to hand over (the line we have already).

The copy is available here: https://docs.google.com/document/d/1syswSeON-0o1svFz8F457uCncg8Kvx5IW8-2Xi3RBpw/edit?usp=sharing

[2015-03-25 14:19] vazquez commented on #51
Here is an annotated snapshot of the colours being used.

![screenshot 2015-03-25 10 18 44](https://cloud.githubusercontent.com/assets/1119821/6826518/6c18dff0-d2d8-11e4-8b0c-726c42ba38be.png)

[2015-03-25 14:20] iamjessklein commented on #401
R+ @toolness

[2015-03-25 14:23] iamjessklein commented on #51
sketch3 plugins ftw!

[2015-03-25 14:27] vazquez commented on #51
I did it by hand lol :stuck_out_tongue_closed_eyes:, don't trust that Sketch plugin yet

[2015-03-25 14:29] vazquez commented on #401
The Mozilla logo feels like its floating now. I suggest adding a light white background to it.

![screenshot 2015-03-25 10 28 34](https://cloud.githubusercontent.com/assets/1119821/6826712/c9e9910a-d2d9-11e4-8442-9c995ea1886b.png)

[2015-03-25 14:29] iamjessklein commented on #51
what?! learn to love @vazquez

[2015-03-25 14:32] iamjessklein commented on #401
agreed. I think that looks nice, and echoes the interaction that happens on hover etc.
cc/ @cassiemc

[2015-03-25 14:38] iamjessklein commented on #375
This issue is now being worked on in #387 and we should comment on the fix there.

[2015-03-25 14:38] #375 closed

[2015-03-25 14:39] iamjessklein commented on #245
For this release we are going to display the map as a list.

[2015-03-25 14:47] iamjessklein commented on #388
Hey - I haven't had a chance to review the ux here - mind if I take a stab at that today?

[2015-03-25 14:48] toolness commented on #388
Hmm, I'm curious what the tab bar should work like on browsers that don't have JS...

![2015-03-25_10-40-52](https://cloud.githubusercontent.com/assets/124687/6827013/76e68a06-d2db-11e4-97cb-cf5e1463a6b9.jpg)

We could potentially have different routes for each tab, e.g. `/events/resources/before-event/` for the "before events" tab, or we could just require users have JS enabled to see the other t

[2015-03-25 14:49] vazquez commented on #388
@iamjessklein Yes, if you find issues I think it's best to file them as separate tickets so that this can go through.

[2015-03-25 14:49] iamjessklein commented on #388
thanks, @vazquez will do.

[2015-03-25 14:55] #368 closed

[2015-03-25 14:58] iamjessklein opened #406 "design 404 page"
It should be amazing.

cc/ @vazquez

[2015-03-25 14:59] vazquez commented on #388
Interesting points @toolness!

I am deferring to @hannahkane for that decision. Hannah, we are talking of the tab bar looking like below. The thing with this is that the page would become super super long again. With that being said though, I think it is an excellent approach for users that do not have JS enabled.

![screenshot 2015-03-25 10 57 49](https://cloud.githubusercontent.com/assets/111982

[2015-03-25 15:03] hannahkane commented on #388
I'm +1 on the non-JS approach. Happy to have it implemented first. And excited to implement the JS version very soon after (though it doesn't have to be a blocker for the first release).

[2015-03-25 15:04] toolness commented on #152
Oh, it should be noted that the "site" actually involves two completely different deploys:

* **teach.mozilla.org** is a totally static site deployable to S3.
* The [backend REST API](https://github.com/mozilla/teach-api), which the static site communicates with, is a Django app that can be deployed at whatever domain we want (the user will never see it, though teach staff will access its django-a

[2015-03-25 15:07] toolness commented on #388
Yaaaaaaay! Thanks for the extremely quick mockup ricardo and thanks for the decision hannah!

[2015-03-25 15:17] vazquez commented on #388
No problem @toolness  :)

I put the page up on Invision for easy retrieval. This is the Events Resources with no JS: http://invis.io/742J711GK

[2015-03-25 15:39] jdotpz commented on #152
SSL is all ready to rock.  @jbuck want to deploy this, or want me to set it up somewhere?  Perhaps @simonwex has thoughts on where it should go?

[2015-03-25 16:25] simonwex commented on #152
@toolness what do you think about teach.mozilla.org onto S3 and chucking the django app on Heroku?

[2015-03-25 16:29] jdotpz commented on #152
teach. will need to go on Cloudfront if you want SSL.

[2015-03-25 16:29] #348 closed

[2015-03-25 16:43] toolness commented on #152
I am cool w/ that @simonwex!

[2015-03-25 19:46] hannahkane commented on #371
once we get this mocked up, can we add it to https://github.com/mozilla/id.webmaker.org/issues/68?

[2015-03-25 19:59] jbuck commented on #152
@jdotpz yeah, if you could let me take it that'd be lovely . I think the deployment plan makes sense

[2015-03-25 21:17] cassiemc commented on #401
wfm!

[2015-03-25 22:00] soapdog commented on #56
We're first targeting the Web Literacy Basics. Advocacy is a great next step for us. Do we have material or activities focusing this area?

[2015-03-25 23:18] toolness commented on #352
Ok, I just made the URL non-required in the backend in https://github.com/mozilla/teach-api/commit/028d6524b3e6d1acfb6ad2e5826e3198640b7144. Still need to make it non-required in the front-end though, which will involve changing the form as well as the marker popups (their code currently assumes that every club has a website URL to display).

That said, I am curious how people are supposed to find

[2015-03-25 23:24] toolness commented on #393
Regarding capitalizing the name: we're currently showing the user's username, which is all we've got... usernames usually are preserved in the same case that the user entered them. Once we're hooked up to the new login server though, we should get auto-capitalized first names from it, if the user entered them on account creation at least.

[2015-03-25 23:24] hannahkane commented on #352
Good question. @iamjessklein had the idea of adding a link to the owner's Webmaker profile, which I think makes sense.

[2015-03-25 23:25] toolness commented on #393
Also, if you want to submit a PR to fix some of these things @iamjessklein, you can hack on https://github.com/mozilla/teach-api/edit/master/clubs/email.py from within GitHub's UI if you like!

[2015-03-25 23:45] hannahkane opened #411 "Copy/Functionality QA for Teach site v1"
### How to test ###
 * Go to http://teach.mofostaging.net/
 * Please file any issues you find and link back to this ticket

### General site review ###
For each of the pages below, please conduct a through review for:
 * Copy and language—any typos or weirdnesses? Keep an eye out for jargon that might not be localizable
 * Links—any 404s?
 * Image and graphic review—do the images communicate what

[2015-03-25 23:46] hannahkane commented on #411
@iamjessklein - this look okay to you? Bobby suggested we put it in a ticket, which makes sense. :)

[2015-03-25 23:49] iamjessklein commented on #393
:+1:  on capitalization. Thanks @toolness

Yep, I'll work on that.

[2015-03-26 00:08] #42 closed

[2015-03-26 00:09] toolness opened #412 "Implement revised version of mozilla wordmark on sidebar."
Aki did as we were told in #399 but we quickly realized it was a [bad idea](https://github.com/mozilla/teach.webmaker.org/issues/401). We decided to go with a [solution](https://github.com/mozilla/teach.webmaker.org/issues/401#issuecomment-86050643) that @jess and @vazquez came up with:

<img src="https://cloud.githubusercontent.com/assets/1119821/6826712/c9e9910a-d2d9-11e4-8442-9c995ea1886b.png">

[2015-03-26 00:13] toolness commented on #401
This issue has been superseded by #412.

[2015-03-26 00:14] #401 closed

[2015-03-26 00:22] gesa commented on #311
I fixded it in #381!
![](http://snaps.akibraun.com/tvfhy.png)

[2015-03-26 00:22] #311 closed

[2015-03-26 00:29] ScottDowne commented on #51
https://github.com/mozilla/teach.webmaker.org/pull/396

[2015-03-26 00:49] simonwex commented on #169
Just to close the loop here: @toolness, you're going to use our SES SMTP provider directly, correct?

[2015-03-26 00:56] davidascher commented on #151
My stance would be to be optimistic in order to not slow down v1 launch,
and then measure to see if we're wrong.

So, assume that our audience for teach is more tech literate & engaged than
average, but critically, measure how many visits are breaking that
assumption.  We may need to build a version of the site specifically for
tiny tiny screens and older browsers, but I suspect that might have mu

[2015-03-26 01:53] davidascher commented on #326
re: credly:

- [ ] need to confirm that credly badges are OBI complaint, and (in
particular) that timing of their support for the 1.1 extension
- [ ] need to understand what user data would live on credly servers

[2015-03-26 02:01] chrislarry33 commented on #326
I am open to Credly, but also I think we need a proposal that goes to Ops here on why and how. There is some thought that needs to go into Mozilla using Credly over its own software given our role in the badge conversation over the last five years. This would also need to be considered as part of some storytelling about badges/Mozilla that is in the works. These aren't strictly engineering decisio

[2015-03-26 05:57] toolness commented on #169
Correctamundo!

[2015-03-26 06:00] toolness commented on #151
Sounds good to me--also, we've already got a [non-map](https://github.com/mozilla/teach.webmaker.org/issues/245) view, hooray! (Though to your point, it won't necessarily work well w/ tiny tiny screens and older browsers yet.)

[2015-03-26 07:06] toolness opened #413 "CSS sourcemaps are broken unless the autoprefixer is disabled"
Aki [noticed](https://github.com/mozilla/teach.webmaker.org/pull/386#issuecomment-85766775) recently that CSS sourcemaps are currently broken. I think this occurred in f7928476276ed68c11a325f2962cfd1cdfc71331 when we migrated from [lessprefixer](http://lessprefixer.com/) to `gulp-autoprefixer`. It seems to be due to https://github.com/sindresorhus/gulp-autoprefixer/issues/10, which is still unreso

[2015-03-26 10:28] LauraHilliger commented on #56
We built a number of things for advocacy around Net Neutrality, there's definitely things we could remix to focus on other specific issues, or even remix to be more general policy and advocacy activities. Some are even good as is:

https://keyboardkat.makes.org/thimble/LTQzNjIwNzM2MA==/net-neutrality-teaching-kit
https://laura.makes.org/thimble/LTIwMDkzMzEyMA==/host-a-maker-party-net-neutrality
ht

[2015-03-26 13:07] LauraHilliger commented on #27
added this to my doc, but double adding here cause it's awesome @billmills http://mozillascience.github.io/instructorTraining/

[2015-03-26 13:22] chrislarry33 commented on #27
Thanks @LauraHilliger great start. I still think there is tons more to collect. Would like to map to heartbeat structure to do a similar capture to what we did with @jvallera I want it all in one place" agendas, blog posts, curriculum, best practices etc. Lets design an intake process and use a heartbeat to drive all team members to get us their stuff.

[2015-03-26 13:35] #412 closed

[2015-03-26 13:59] #140 closed

[2015-03-26 14:01] toolness commented on #293
Just wanted to note that `WEBPACK_DEVTOOL` now defaults to `eval` for development, as of 71ee7e4cb7237bca0d0250adbe2c74550f3682aa.

[2015-03-26 14:34] jvallera commented on #27
Yes, love the training by Bill! and like the idea of gathering even more from across team. I am also interested in substantial ways to share out. I've am hoping to work @billmills training into a community call or future PD of some kind. Would love to do the same once we have curated more from across team. Other ideas for sharing with community aside from discourse/minigroup and other channels:
*

[2015-03-26 15:24] LauraHilliger commented on #27
@chrislarry33 for intake, can we just repeat the process @jvallera guinea pigged? See:

https://teach.etherpad.mozilla.org/Collection

Then we could either file an issue & assign individual team members or you could email MozTeach w/ a deadline?

[2015-03-26 15:33] chrislarry33 commented on #27
Love the momentum here, makes me very happy.

WFM. I'd move Julia's example at top with the ask (and still leave at first completed version later).

- Lets do a combo of a mozteach email and assigning tickets for the discreet work ala what we did with @jvallera

- @LauraHilliger can draft email copy to send to team and share with me. Still debating better to come from me or you. I am leaning towar

[2015-03-26 15:35] chrislarry33 commented on #27
Also next step is a Discourse conversation aligned with this research, discovery and reflection. Put plan together for up coming heart beat, launch conversation in second for a start to finish date range of a month.

[2015-03-26 15:52] hannahkane commented on #255
@ScottDowne - can I assign this one to you?

[2015-03-26 16:07] hannahkane commented on #326
According to their FAQ (https://credly.com/faq), they are OBI compliant. @simonwex - when you talk with them today, can you find out about the timing of their support for the 1.1 extension?

@k88hudson - perhaps you know the answer to the question about what user data would live on their servers?

I can get started on a proposal for Ops, but will likely need help on both the technical and storytel

[2015-03-26 17:13] hannahkane commented on #267
We're linking to Mozilla ToS and PP, so I'm closing this for now.

[2015-03-26 17:13] #267 closed

[2015-03-26 17:15] #57 closed

[2015-03-26 17:17] hannahkane commented on #63
This is now duped by the QA ticket.

[2015-03-26 17:17] #63 closed

[2015-03-26 18:42] #366 closed

[2015-03-26 18:46] #360 closed

[2015-03-26 18:49] iamjessklein opened #420 "Style the map pop-ups"
The initial implementation has been done but the UI needs some work.
[See the initial issue](https://github.com/mozilla/teach.webmaker.org/pull/391)

cc/ @vazquez

[2015-03-26 19:11] iamjessklein commented on #245
@vazquez @hannahkane take a look at [invision](http://invis.io/H32JRAF2K)

![mobile-map](https://cloud.githubusercontent.com/assets/535012/6854882/5c0b9ce0-d3ca-11e4-865c-1f5a7f7ce0be.png)

[2015-03-26 19:23] hannahkane commented on #245
Looks good, @iamjessklein. I'm worried that people won't get to the key CTAs at the bottom of the page - the curriculum, the toolkit, and discourse. Any thoughts on that?

[2015-03-26 19:25] iamjessklein commented on #245
@hannahkane are those the key CTA's or is the key CTA to add a club to the map?

[2015-03-26 19:28] hannahkane commented on #245
The primary CTA is to add their Club. But am I correct that those lower secondary CTAs are *only* accessible by scrolling down the page? I think we need to make sure that people can get to the Curriculum and the Toolkit some other way as well. What do you think?

[2015-03-26 19:35] ScottDowne commented on #255
@vazquez What colour orange do we want for this? (I kinda like using off colours of the main pages for child pages)

[2015-03-26 19:41] ScottDowne opened #422 "we have a horizontal scroll on all pages"
Looks like it is caused by this:

![scroll](https://cloud.githubusercontent.com/assets/197334/6855440/98c4ccd4-d3ce-11e4-9bb0-55af2bb2a9f9.png)

[2015-03-26 19:43] ScottDowne commented on #422
Uhh, it's gone now.

Might not always be there?

[2015-03-26 19:44] ScottDowne commented on #422
Eh, not sure what caused that, but closing for now.

[2015-03-26 19:44] #422 closed

[2015-03-26 19:50] ScottDowne commented on #324
Because some of these pages don't exist yet, we should just leave this open and do it all then.

[2015-03-26 20:13] ldecoursy commented on #100
@LauraHilliger @thornet Are we good to close this and https://github.com/MozillaFoundation/plan/issues/388?

[2015-03-26 20:21] ldecoursy commented on #404
This too - has some recent curation to narrow down 10 to feature on Teaching Activities page: https://teach.etherpad.mozilla.org/contentreview

[2015-03-26 21:26] iamjessklein commented on #245
I have an idea to collapse the content. I'm going to mock it up.

[2015-03-26 21:27] #352 closed

[2015-03-26 21:31] ScottDowne opened #423 "Mobile menu cuts off sub header"
![mobile](https://cloud.githubusercontent.com/assets/197334/6857553/dc63191e-d3dd-11e4-83e4-02d45a44605b.png)

You can see clubs-curriculum is cut off.

[2015-03-26 21:32] toolness opened #424 "URL validation on 'website' field in club modal should be friendlier"
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/352#issuecomment-84214121, we are currently relying on `type="url"` to validate the website field in Club modals. This ultimately means that the validation is at the discretion of the host browser's built-in HTML5 form validation; on some browsers it says "Please enter a URL" while on others it may say "Please enter a web address

[2015-03-26 21:34] toolness commented on #352
Ok, this has been fixed in #410, and I've filed #424 to address your concern about the error message/validation being friendlier, @hannahkane!

[2015-03-26 21:50] toolness commented on #41
Ricardo said this page needs a carousel, and [react-slick](https://github.com/akiran/react-slick) looks like it might fit the bill.

[2015-03-26 21:50] toolness commented on #338
Hmm should we close this issue then?

[2015-03-26 21:50] #341 closed

[2015-03-26 21:52] hannahkane commented on #338
I'm confused. @iamjessklein - do we no longer have the "learn more" workflow? I think it's still important.

[2015-03-26 22:05] iamjessklein commented on #390
closing this as it will be resolved with issue #378 cc/ @ScottDowne

[2015-03-26 22:05] #390 closed

[2015-03-26 22:10] iamjessklein commented on #245
Updated the mockup - now it's a dropdown arrow.

cc/ @vazquez

![mobile-map]
(https://cloud.githubusercontent.com/assets/535012/6858255/668dea6a-d3e3-11e4-8a3c-3c774bd9d337.png)

[2015-03-26 22:15] hannahkane commented on #245
<3

[2015-03-26 22:41] davidascher commented on #245
Drive-by: Contrast on edges of that school/church/town hall building is
still not strong enough.

[2015-03-26 22:48] ScottDowne commented on #255
@vazquez I also need some colours on the expander bit.

[2015-03-26 23:21] toolness opened #426 ""gulp beautify" pollutes dist directory"
I know I ought to know this since I reviewed #187, where the related code was first introduced, but I'm quite confused by our `gulp beautify` task:

[code]

As far as I can tell, this just puts the beautified versions of some of our JS files in `dist`, which are completely separate from the bundles that webpack is creating. These files don't ever seem to be loaded by any code (which makes sense, s

[2015-03-26 23:42] toolness commented on #426
Oh we don't really need to worry about this for March 27 or v1, methinks, it's just a nice-to-have for post-launch.

[2015-03-26 23:44] toolness commented on #380
Hey @iamjessklein, do you want to take this one? The relevant file is `pages/clubs.jsx` if you want to give it a try, otherwise I can take it.

[2015-03-26 23:48] hannahkane commented on #426
Cool. :)

[2015-03-27 00:01] iamjessklein opened #428 "Add a "Learn More about Clubs" section to the site"
This should take into account [the sitemap](http://invis.io/9G2DK7SR2).

[2015-03-27 00:03] iamjessklein commented on #338
As per our conversation on IRC, I added [a new ticket issue](https://github.com/mozilla/teach.webmaker.org/issues/428) to work on the learn more about clubs call to action.

[2015-03-27 00:09] iamjessklein commented on #380
I accept the mission.

[2015-03-27 00:09] hannahkane commented on #428
Some context about where this came from originally:
 * During earlier conversations we'd discussed the idea of having people indicate their interest in starting a Club on the map, so that others could see if there was interest near them, and get in touch with potential collaborators.
 * We nixed that idea for v1 since it didn't seem urgent (and there's a bit of an empty shelf problem; it's not tha

[2015-03-27 00:11] toolness commented on #41
Note that the e-mail signup at the bottom of this page is supposed to do the same thing as the form at the bottom of https://party.webmaker.org/. That form appears to issue a POST request to https://sendto.mozilla.org/page/s/maker-party-signup.

[2015-03-27 00:11] #338 closed

[2015-03-27 00:25] hannahkane commented on #41
@vazquez - can you provide the assets for this page when you have a chance?

[2015-03-27 00:40] simonwex commented on #326
Just to confirm, I've got the 1.1 extension question as well as these topics to discuss with them:

* User privacy & security
* Bulk credential portability (avoiding lock-in)
* l10n plans
* pricing
* details on white-labeling
* authentication integration (using our login system)
* performance SLAs
* details for a vendor review/security audit

 Jonathan was unable to talk today. I've suggested some

[2015-03-27 00:46] chrislarry33 commented on #326
thanks @hannahkane and @simonwex for the research and investigation here. Really appreciate it and think this could be a smart way forward.

[2015-03-27 00:50] hannahkane commented on #41
Photos here:
https://www.flickr.com/photos/mozilladrumbeat/14592186080/in/set-72157647305286970
https://www.flickr.com/photos/mozilladrumbeat/14592256638/in/set-72157647305286970
https://www.flickr.com/photos/mozilladrumbeat/15213220651/in/set-72157647305286970
Cannot seem to find that picture with Lucy!

MP logo is available here: https://party.webmaker.org/en-US/resources

[2015-03-27 00:53] #380 closed

[2015-03-27 01:02] vazquez commented on #41
Assets are available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Events%20Assets.zip

[2015-03-27 01:05] #393 closed

[2015-03-27 01:06] iamjessklein commented on #393
I made the changes in the pull request mentioned above. I am going to close this issue and then note somewhere to make sure the email comes from a normal user name, such as "Mozilla Learning"

cc/ @hannahkane @toolness

[2015-03-27 01:08] toolness commented on #255
By the way, we want to make sure the path for this page is at `/clubs-toolkit/`... or if it's not, we want to change our [email](https://github.com/mozilla/teach-api/blob/master/clubs/email.py) copy to mention the new URL, because it's the URL @iamjessklein specified in https://github.com/mozilla/teach-api/pull/8.

[2015-03-27 01:11] iamjessklein commented on #41
@toolness check it out!
thanks @vazquez

[2015-03-27 01:14] iamjessklein commented on #420
oops - this is a redundant issue. It's covered in #337

[2015-03-27 01:14] #420 closed

[2015-03-27 01:16] iamjessklein commented on #131
@hannahkane I am removing the March 27 milestone here.

[2015-03-27 01:26] iamjessklein commented on #255
@toolness I just checked the [sitemap](http://invis.io/9G2DK7SR2) and it's actually at /toolkit/
I will go ahead and make that adjustment.

[2015-03-27 01:29] iamjessklein commented on #255
@toolness or @ScottDowne can you R? this PR https://github.com/mozilla/teach-api/pull/9

[2015-03-27 01:31] iamjessklein commented on #245
hey @vazquez can you take a look at that color? As @davidascher mentioned - It does feel a touch light.

[2015-03-27 01:36] iamjessklein commented on #411
@hannahkane we have been decoupling the QA tickets for the past few :heart: beats and it worked out pretty well. To do that we have separate issues for: Technical QA, Design QA and Copy QA

[2015-03-27 01:41] iamjessklein commented on #371
@cassiemc mocked this up. You can see the design in her [redpen](https://redpen.io/vy733a8b80210605bd)

![screen shot 2015-03-26 at 9 40 12 pm](https://cloud.githubusercontent.com/assets/535012/6860627/d468a18e-d400-11e4-891b-a23aa676405d.png)

[2015-03-27 01:42] #371 closed

[2015-03-27 03:01] ScottDowne commented on #255
I thought (and currently have) the url at "teach.mozilla.orb/clubs/toolkit"

[2015-03-27 09:51] toolness opened #430 "Use webpack's code splitting to load page-specific code on-demand"
Our JS bundle is currently about 160k minified and gzipped.

I haven't done any analysis past that, but I suspect that some amount of that bundle is only used by certain pages; for instance, the Clubs page is the only one that uses mapbox/leaflet. This kind of situation is likely to intensify as the variety of pages/routes on the site grows.

Webpack has a feature called [code splitting](http://we

[2015-03-27 10:20] toolness opened #431 "Dev ribbon overlaps hamburger on mobile view"
Our "dev mode" ribbon overlaps Tabzilla on desktop, which isn't a big deal since we don't use it that often as developers. However, on mobile it overlaps the hamburger--it doesn't look that bad in the screenshot below, but in practice, because fingers are so big, it is actually quite challenging to poke the hamburger:

![2015-03-27_6-15-04](https://cloud.githubusercontent.com/assets/124687/6865859

[2015-03-27 11:31] iamjessklein commented on #431
:+1:  am happy to lend a :hand: to that if you need @toolness

I know that the ribbon is the convention, and this is a good fix for the time being, however I wonder if there are other metaphors that would be appropriate here.

I also am reminded of [this concept I had mocked up](http://jessicaklein.blogspot.com/2014/04/prototype-evaluating-prototypes-that-we.html) at an All-Hands a while back - th

[2015-03-27 11:44] iamjessklein commented on #255
@scottdowne that's right - I originally had the wrong url in there.

[2015-03-27 12:38] #100 closed

[2015-03-27 13:35] vazquez commented on #255
Colors!

![screenshot 2015-03-27 09 33 38](https://cloud.githubusercontent.com/assets/1119821/6868751/8cce0dc8-d464-11e4-801b-fb1bb282622d.png)

[2015-03-27 13:39] vazquez commented on #245
That is an old image. We are using this now.

![screenshot 2015-03-27 09 39 17](https://cloud.githubusercontent.com/assets/1119821/6868827/27073702-d465-11e4-9759-0ce25e24a57b.png)

[2015-03-27 14:09] soapdog commented on #306
Agreed! :D Will talk to ITS and Mario so that we can set a date.

[2015-03-27 15:40] LauraHilliger commented on #27
@chrislarry33  Draft copy: https://teach.etherpad.mozilla.org/CollectionDraft
Discourse thread: http://discourse.webmaker.org/t/what-have-you-made-for-teaching-in-the-last-3-years/1299

Please hack at will, happy to edit the discourse thread as well if you have suggestions.

[2015-03-27 16:21] hannahkane commented on #411
@iamjessklein - so I should split this into three tickets? Where does functional testing go? Like, testing the "Add Your Club" workflow?

[2015-03-27 16:39] hannahkane commented on #392
Just fyi, the url will be teach.mozilla.com/clubs/curriculum

[2015-03-27 16:47] hannahkane commented on #319
Agree that TTW talks probably makes more sense as the event-related item to feature on the site. The full calendar feels a little insider-y, so might be a bit confusing or overwhelming to the broader audience we're hoping to appeal to with the website. I'd vote for using social media as the main channel for promoting the calendar.

[2015-03-27 16:49] hannahkane commented on #151
I like this approach. We'll start looking at these metrics once we're actively promoting the site, and can form our forward-looking strategy based on what we learn.

[2015-03-27 16:56] simonwex commented on #333
The info should be put in CONTRIBUTING.md and linked to from the README.

[2015-03-27 17:19] chrislarry33 commented on #27
Looks good @LauraHilliger I made a few minor tweaks and edits in the email pad. Go ahead and send on Monday!

[2015-03-27 17:20] simonwex opened #437 ""DEV VERSION" banner isn't obviously clickable"
This is the banner:
![image](https://cloud.githubusercontent.com/assets/25260/6873043/b4f206fa-d46a-11e4-8ff7-64daee59aa4c.png)

It reveals this menu, but could be more link-like.

![image](https://cloud.githubusercontent.com/assets/25260/6873056/d0a6e4d8-d46a-11e4-8345-5735cc039a5a.png)

[2015-03-27 18:14] ScottDowne commented on #356
Merged, closing this.

[2015-03-27 18:15] hannahkane opened #438 "Swap out middle CTA on Teach Like Mozilla page"
Let's replace the middle CTA on the page (currently "Attend") with a different one.

Illustration: use the, um...atomic cell phone illustration that's currently on the /clubs/curriculum page
CTA: "Learn"
Text: "See our Web Literacy Map"

[2015-03-27 18:16] hannahkane opened #439 "Change link on /clubs/curriculum page"
The link at the bottom of the Clubs Curriculum page currently goes to /about, but it should go to /teach-like-mozilla/web-literacy

[2015-03-27 18:38] hannahkane opened #441 "Design QA of Teach site v1"
@iamjessklein to lead this process!

[2015-03-27 18:39] hannahkane opened #442 "Technical QA of Teach site v1"
@toolness to lead Technical QA process. Feel free to create a checklist here!

Related tickets:
 * Copy/Functionality QA (#411)
 * Design QA (#441)

[2015-03-27 18:43] hannahkane commented on #411
OK, added #441 and #442 for Design and Technical QA, respectively.

[2015-03-27 18:48] iamjessklein commented on #255
:rainbow:

[2015-03-27 18:52] hannahkane opened #443 "Implement the design for the accessible Clubs list"
Design was done in #245.

@iamjessklein - can you provide the assets?

[2015-03-27 18:54] hannahkane commented on #245
@iamjessklein - do you feel like we can close this? I opened a new ticket for implementation.

[2015-03-27 19:39] #41 closed

[2015-03-27 20:39] iamjessklein commented on #245
:+1:  we're good.

[2015-03-27 20:39] #245 closed

[2015-03-27 20:42] #382 closed

[2015-03-27 20:43] iamjessklein commented on #443
The only additional assets here are the map icons. @toolness - should I go ahead and purchase them?

[2015-03-27 20:53] iamjessklein commented on #443
I would actually start to implement without the flags. I am having a difficult time finding a set that permits open source use. [This is the set](https://www.iconfinder.com/iconsets/flags-of-the-world-2) that I was going to get, however these restrictions in the TOS seem to be restricting the use:
![deh0c_e4mp](https://cloud.githubusercontent.com/assets/535012/6876818/97bbea38-d4a1-11e4-911a-e4960

[2015-03-27 21:07] hannahkane commented on #121
Is there anything more to do on this ticket?

[2015-03-27 21:11] iamjessklein commented on #441
@vazquez can you share with me that design qa document that you started on?

[2015-03-27 21:12] vazquez commented on #441
It's available on the DesignHandbook repository. I am having trouble
finding it right now since I'm mobile.

On Friday, March 27, 2015, iamjessklein <notifications@github.com> wrote:

--
Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez <http://twitter.com/iamrvazquez>
IRC: ricardo

[2015-03-27 21:17] hannahkane commented on #365
Closing this, in lieu of #428.

[2015-03-27 21:17] #365 closed

[2015-03-27 21:18] hannahkane commented on #326
Closing this. Next step: present the Credly option to Ops for discussion.

[2015-03-27 21:18] #326 closed

[2015-03-27 22:24] toolness commented on #402
Ah I can bust this up I 'spose.

[2015-03-27 23:11] toolness commented on #245
Hey, what is this accessible sol'n supposed to look like on desktop?

I know this may seem like a silly question since the map will be available on desktop but hear me out!

You will notice that many sites which offer maps also offer a **list view** of their markers too. While maps are very slick and make it possible to see *where* clubs are at a glance, they don't make it easy to see *who* is lea

[2015-03-27 23:26] #402 closed

[2015-03-27 23:37] simonwex opened #447 "Create CONTRIBUTING.md"
It should include:

* [ ] mofo-style
* [ ] git-flow information for submitting pull-requests
* [ ] irc info
* [ ] testing requirements

[2015-03-27 23:37] simonwex commented on #121
Looks done to me. We should create a CONTRIBUTING.md, but that's a separate task. #447