[2015-05-01 21:52] hannahkane opened #857 "Implement user profile and editor"
Pending #711

[2015-05-01 21:53] hannahkane commented on #605
This is likely going to be covered in #800

[2015-05-01 22:01] hannahkane opened #858 "Redesign Clubs page"
The purposes of the re-design are to:
 * Better scaffold the starting of a Club by:
  * clarifying the value of starting a Club
  * building the confidence of the user to start their own Club
  * provide useful resources for getting started
 * Provide a pathway for users who are unsure whether starting a club is right for them
 * Provide a pathway for users who already have Clubs and want to acces

[2015-05-01 22:02] hannahkane opened #859 "Implement Clubs re-design"
Placeholder ticket for estimation, pending #858

May include creation of a new user workflow—"Request a meeting with a Regional Coordinator"

[2015-05-01 22:06] hannahkane opened #860 "Re-design page wrapper"
The navigation, including header, footer, and side panel, needs to better reflect the latest site map: https://cloud.githubusercontent.com/assets/535012/7381831/e0def154-edd5-11e4-8b4d-84d4f1cd219b.png

[2015-05-03 01:33] mmmavis commented on #469
@sabrinang could you tell me what font sizes I should be using?

[2015-05-03 01:36] mmmavis commented on #469
@sabrinang  is the heading in `@brand-secondary` or `@lightnavy`?

[2015-05-04 13:49] thornet commented on #725
Is this ticket still needed, @LauraHilliger?

[2015-05-04 13:52] LauraHilliger commented on #725
yes, but maybe @hannahkane has this scoping work happening elsewhere?

[2015-05-04 14:14] iamjessklein commented on #800
I put up the revised [concept on redpen](https://redpen.io/vn810ea3c32ef9d68c)

One piece that I could use some direction on is the top "hero" image. Right now it's an image, with a tagline. What was the original thought in terms of the content that would go here? Is this current content with the latest and greatest CTA? Is it more of an overarching ... this is what the Teach site is all about (wh

[2015-05-04 15:16] vazquez commented on #649
I think we should keep the all caps treatment, but instead of displaying it across let's just display it as a normal bullet point.

- EVENT GUIDES
- LOGOS & ASSETS
- EVENT DETAILS
- EVENT SUPPORT

[2015-05-04 15:18] iamjessklein commented on #649
@sabrinang - can you take a look into the UI here?

[2015-05-04 17:44] sabrinang commented on #800
From the discussion last week (https://etherpad.mozilla.org/teachhomepage), I think for now we don't have the main CTA to be placed on the hero yet but with the 3 pathways in proximity I think it will work until we have a main place we'd want to funnel users too.

Example using some of the copy:
![screen shot 2015-05-04 at 10 31 51 am](https://cloud.githubusercontent.com/assets/2492510/7458594/641

[2015-05-04 18:13] sabrinang commented on #469
Title: 36px Open Sans Regular #01527D @lightnavy
Description Copy: 21px Open Sans Light #4d4e53 @grey

[2015-05-04 18:14] iamjessklein commented on #800
just to reiterate what @sabrinang and I discussed, we need to just incorporate the blog from my wireframe and then we are good to go in terms of page structure.

[2015-05-04 18:17] sabrinang commented on #800
Also, refine how we show progression and relationship of the 3 pathways (referring to #821)

[2015-05-04 18:18] hannahkane commented on #800
+1 to all of the above, including the idea of considering using less real estate for the mission-y language.

[2015-05-04 18:26] hannahkane commented on #725
I don't understand what this ticket is about! I don't understand the connection between "Scope local club community features for teach[dot]" and the openki project. Can someone explain? :)

[2015-05-04 18:40] iamjessklein commented on #800
One thing that I was just wondering was if the visual was less dense, there might be an opportunity to move the CTAs up. Something kind of like this from Aetna.com

![screen shot 2015-05-04 at 2 35 41 pm](https://cloud.githubusercontent.com/assets/535012/7459630/414b802c-f26b-11e4-9b88-d2c867b126c7.png)

[2015-05-04 18:47] mmmavis commented on #469
thanks @sabrinang !

just wanted to confirm - should the button text be in all caps or camel case?

[2015-05-04 18:54] gvn commented on #349
Assuming this is good to close...re-open if not...

[2015-05-04 18:54] #349 closed

[2015-05-04 18:59] sabrinang commented on #469
Oh thanks for pointing that out - use the existing button styles so use capitals

[2015-05-04 19:06] mmmavis commented on #469
:dancers:

[2015-05-04 19:10] mmmavis commented on #681
@hannahkane ,
Is `https://teach.mozilla.org/` the url to use on the button?  I wonder if we should include a GA referral code or something there?

cc @adamlofting

[2015-05-04 19:18] sabrinang commented on #649
![event-resources-bullet-styles-ideas](https://cloud.githubusercontent.com/assets/2492510/7460290/b257c72c-f256-11e4-92da-4e61024cf71d.png)
Yeah - I like the all caps treatment and I mocked up various bullet styes and I quite like the caret style.

[2015-05-04 19:23] chrislarry33 commented on #800
Love the directness of Aetna site, we need that

+1 to less mission language as sales language

[2015-05-04 20:02] hannahkane commented on #681
Good call. We should definitely track referral traffic. I'll defer to @adamlofting for the best way to do that.

[2015-05-04 20:25] hannahkane opened #861 "Design announcement for users in Hive cities"
We can detect when a user is near a city where we have a current Hive—we should let them know about the abundance of resources in their community!

For grooming: what might this look like? an ad? what might the CTA be? to visit the local Hive page? to sign up to receive info by email?

[2015-05-04 20:47] hannahkane commented on #806
Cucumber looks cool. I'd be down to try it!

[2015-05-04 20:51] hannahkane opened #862 "Add Privacy module to site"
The Privacy module should be the second item on the /activities page, just after the Web Literacy Basics module, and just above the Lo-fi/No-fi teaching kit.

Copy/images here: https://github.com/mozilla/learning-networks/issues/161

---

**Updates (by Mavis)**
This ticket includes 2 tasks:
- [ ] create a "Protecting Your Data" page on Teach site
- [ ] on the /activities page, add that module as t

[2015-05-04 21:02] vazquez commented on #649
My favourite is the caret style :+1:

[2015-05-05 03:16] mmmavis commented on #828
@jbuck could you get me on AWS when you get a chance? :bowtie:

[2015-05-05 13:15] iamjessklein commented on #649
+1  :+1:

@mmmavis should this be re-assigned for implementation?

[2015-05-05 14:42] #720 closed

[2015-05-05 14:51] LauraHilliger commented on #725
@hannahkane I just updated the description a little, does that help? This is a place to collect inspiration for functional features needed on teachDOT. I wasn't sure if you had already started scoping features for horizontal communication, annotation, etc...

[2015-05-05 16:01] jbuck commented on #828
Filed https://github.com/MozillaFoundation/mofo-devops/issues/54 for creds

[2015-05-05 16:08] hannahkane commented on #725
I'm still not sure I totally understand the connection to openki, but perhaps the teach.mozilla.org roadmap is what we're looking for? http://wiki.webmaker.org/Teach

[2015-05-05 16:38] LauraHilliger commented on #725
The connection is in inspiration - openki has a specific feature that might be interesting for our community. The roadmap is generally scoping community functions (in Q3/4 UGC Add/Browse), but we've not specifically scoped user stories like "our users should be able to commit as an attendee, mentor or organizer for an event". Not sure that's a function we want, but I filed the issue because I don'

[2015-05-05 16:47] hannahkane commented on #857
Also blocked on #585

[2015-05-05 17:02] iamjessklein commented on #861
Things to consider:  :thought_balloon:
* who is the audience?
* long term vs. short term solution? (long term might = notification system, short term might be more ever-present)
* messaging should be dismiss - able

[2015-05-05 17:03] hannahkane commented on #861
Grooming notes:
 Effort estimate for geofencing and creating a dismissable notification: medium, but suspect that geofencing may have landmines (it's a snake!)
Also: do we need to go through privacy/security review?

[2015-05-05 17:05] hannahkane commented on #860
Grooming notes:
 * will require user testing
 * implementation is non-trivial, especially making it work on all platforms
Estimation: medium to large

[2015-05-05 17:07] hannahkane commented on #859
Grooming notes:
 * Design effort: small
 * Implementation effort: small

[2015-05-05 17:07] hannahkane commented on #858
Grooming notes:
Effort: small

[2015-05-05 17:10] hannahkane commented on #857
Grooming notes:
 * Seems straightforward
 * consider gravatars for image upload if passes UX requirements
 * some of this is related to id.webmaker.org

Estimating: medium

[2015-05-05 17:11] hannahkane commented on #856
Estimation effort: small

[2015-05-05 17:13] hannahkane commented on #830
Grooming notes:
Implementation effort:
 * Seems fairly straightforward
 * Medium

[2015-05-05 17:48] mmmavis commented on #604
@ldecoursy
Could you remind me what "subscribe to our blog" does (see [sidebar](https://cloud.githubusercontent.com/assets/2492510/7419266/da271874-ef28-11e4-8edc-7396d06e44fb.png))?  Is it like a RSS feed subscription?  Mailinglist subscription? or?

@hannahkane could you give me the link to G+ please?

Thank you both!

[2015-05-05 17:51] hannahkane commented on #604
G+: https://plus.google.com/u/2/communities/106022863174952221205

[2015-05-05 17:54] mmmavis commented on #828
Thanks! @jbuck

[2015-05-05 18:21] mmmavis commented on #776
Hi @amirad ,

I'm not sure if the [original Maker Party signup form](https://sendto.mozilla.org/page/s/maker-party-signup) is being used anywhere *other* than on party.webmaker.org footer so I'm hesitant to make that form redirected back to the Teach site after signing up.

So I created another form... the next time when you search for people by signup form, please make sure that your include **Ma

[2015-05-05 18:21] #776 closed

[2015-05-05 19:04] mmmavis commented on #828
Yeah I got my creds back :dancers: .  Gonna create a dir `teach.webmaker.org` and upload all the event resources there.

[2015-05-05 19:47] amirad commented on #776
Okay thanks @mmmavis

[2015-05-05 21:27] ldecoursy opened #864 "Redirect Webmaker legacy tool links to teach.mozilla.org"
In an effort to avoid 404 links from third-party sites that currently link to the following Webmaker tool pages, it would be great to redirect them to their new homes on teach.mozilla.org when we know exactly where those will be :)

* https://webmaker.org/en-US/tools
* https://webmaker.org/en-US/goggles
* https://thimble.webmaker.org/

cc @HPaulJohnson

[2015-05-05 21:53] mmmavis commented on #681
Let's use "https://teach.mozilla.org" for now and @adamlofting can suggest what referral code we can append when he's back from PTO.

PR submitted on webmaker.org repo: https://github.com/mozilla/webmaker.org/pull/1400

[2015-05-05 22:23] hannahkane opened #865 "make it obvious when an email is coming from staging"
e.g. "new club" email notification

[2015-05-05 22:24] mmmavis commented on #649
@vazquez @iamjessklein (@sabrinang is on PTO currently)

Sorry I can't really tell but is the caret an image? ionicon? font awesome? or triangle drew by CSS?

[2015-05-05 22:35] vazquez commented on #649
@mmmavis - Looks like ionicon `ion-arrow-right-b`

[2015-05-05 23:41] mmmavis commented on #649
Thanks @vazquez :sun_with_face:

Realizing that we are [using Kate's ionicons](https://github.com/mozilla/teach.webmaker.org/blob/develop/package.json#L47) and `ion-arrow-right-b` is not included in that set.  Can we use `ion-android-arrow-dropright` instead or @k88hudson can I submit a request for including `ion-arrow-right-b`?

[2015-05-06 02:26] chrislarry33 commented on #857
@hannahkane is this same work/thought as directory?

[2015-05-06 02:28] chrislarry33 commented on #858
Is this copy reviewed/editable somewhere?

[2015-05-06 11:06] toolness commented on #865
Ok, I've changed the "from" email to start with the word "STAGING" so it's more obvious:

![screen shot 2015-05-06 at 7 05 19 am](https://cloud.githubusercontent.com/assets/124687/7492099/554054c8-f3be-11e4-9c74-fbec367f1cf2.png)

Closing this now, but feel free to re-open if you don't think it's obvious enough.

[2015-05-06 11:06] #865 closed

[2015-05-06 11:15] toolness commented on #710
A few more notes:

* I verified that there is indeed a one-to-one mapping between user accounts and email addresses in Credly, yet a [many-to-one](https://github.com/mozilla/id.webmaker.org/issues/120#issuecomment-88969419) mapping in Webmaker, which could significantly complicate things.
* The badge application admin UI is pretty bare-bones. After rejecting a badge application and specifying a re

[2015-05-06 12:22] hannahkane commented on #865
Perfect. Thanks!

[2015-05-06 13:00] #828 closed

[2015-05-06 14:59] vazquez commented on #649
I think for this case it would be okay to use `ion-android-arrow-dropright`
:)

On Tue, May 5, 2015 at 4:41 PM, Mavis Ou <notifications@github.com> wrote:

[2015-05-06 15:17] k88hudson commented on #649
@mmmavis it's possible if you need to in the future :)

[2015-05-06 16:02] mmmavis commented on #649
qooool thanks @vazquez @k88hudson

[2015-05-06 16:05] hannahkane commented on #857
yes, this is part 1 of expanding the directory to all of the LN communities.

[2015-05-06 16:11] hannahkane commented on #858
Was discussed here: https://docs.google.com/document/d/1Nw9iaocU7E41E6jKCWPh_InA0dMg-8AqBSVO3W6ycXA/edit

[2015-05-06 17:07] mmmavis commented on #266
https://github.com/mozilla/teach.webmaker.org/issues/828 has been merged.  We'll have to wait till it's live on PROD before we can work on this ticket.

[2015-05-06 17:17] ldecoursy opened #867 "Update links for Teaching Activity: Image Seeking for Fantastic Visual Metaphors Image Seeking for Fantastic Visual Metaphors"
Can we please update the following:

* The activity should link to : https://cogdog.makes.org/thimble/LTEyMjQ4NjUyOA==/imageseeking-for-fantastic-visual-metaphors (it's currently linking to an outdated version of that activity)
* Link to author, Alan Levine, should go to :  http://cogdog.info  (instead of his Twitter handle)

Thanks!

[2015-05-06 21:20] hannahkane opened #868 "Can't see Clubs text box on map if description is long"
@jgmac1106 reports in #391: "When a club writes a long narrative description it messes up the map navigation. At least for me when I try to read the text box the map pushes down and the text box fades away."

[2015-05-06 21:23] hannahkane commented on #710
I'm going to close this ticket for the rest of the heartbeat. @toolness has raised enough flags that further conversation is warranted. Will set up a meeting with @toolness, @davidascher, @simonwex, and @chrislarry33.

[2015-05-06 21:23] #710 closed

[2015-05-06 21:24] hannahkane commented on #806
@toolness - what do you think we need to do to close this ticket?

[2015-05-06 21:25] hannahkane commented on #604
@mmmavis - do you have an update on this one? Just wondering if there are any other blockers.

[2015-05-06 21:25] hannahkane commented on #406
@iamjessklein - should we take this one out of the heartbeat? Finishing up the homepage feels more important.

[2015-05-06 21:26] mmmavis commented on #604
I haven't heard back from @ldecoursy yet.  Maybe we can leave that section for now?

[2015-05-06 21:29] ldecoursy commented on #604
Sorry, missed this yesterday. I was thinking it would be a way to receive email updates when new blog posts are added. Here's a screenshot of what this looks like when I receive an email from the Hive NYC blog (also wordpress):
![screen shot 2015-05-06 at 5 28 32 pm](https://cloud.githubusercontent.com/assets/4885898/7504089/715a7baa-f415-11e4-9b60-49e1d5f511fe.png)

[2015-05-06 21:32] hannahkane commented on #867
@toolness - can I assign this one to you to do this week?

[2015-05-06 21:56] mmmavis commented on #604
no worries @ldecoursy  :smile: could you point me to where that "subscription form" is on http://hivenyc.org/ ?

[2015-05-06 22:03] mmmavis commented on #604
ah, @hannahkane showed me: http://hivenyc.org/blog/.  Lainie do you mind grant me access so I can check what plugin HiveNYC uses?  I don't have that privilege currently.

[2015-05-06 22:11] ldecoursy commented on #604
Just updated you as admin http://hivenyc.org/wp-login.php with your mofo email address - let me know if you have trouble getting in.

[2015-05-06 22:41] mmmavis commented on #604
@ldecoursy thanks! I can view plugins settings fine now.  :+1:

[2015-05-06 23:29] mmmavis commented on #604
Hello allll, the new skin of Webmaker blog is ready for review :sparkling_heart: There's no staging for `blog.webmaker.org` so I'm sharing screencap of my local instance instead. Please have a look and let me know if there's anything that needs to be fixed.  If all is good hopefully we can push this out tomorrow :sun_with_face: :sun_with_face: :sun_with_face:

![mozilla learning i people products

[2015-05-07 12:48] iamjessklein commented on #406
yes.

[2015-05-07 14:09] iamjessklein commented on #800
Revised - I think that a lot of this layout will depend on if we can find a complimentary photo or graphic.

![desktop](https://cloud.githubusercontent.com/assets/535012/7517106/06f07a58-f4a1-11e4-86d0-3e5b1117d86c.png)

[2015-05-07 14:18] ldecoursy commented on #604
Should @HPaulJohnson have final signoff? Looks good to me.

[2015-05-07 16:11] HPaulJohnson commented on #604
Looks great! Good to go. Thanks.

[2015-05-07 16:14] #649 closed

[2015-05-07 16:51] hannahkane opened #869 "Update MP collateral (MAY 15 DEADLINE)"
See https://github.com/mozilla/learning-networks/issues/163

Each of the below needs new photographs, and the Save the Date needs new dates. July 15-31, 2015.

![join maker party](https://cloud.githubusercontent.com/assets/10170768/7519984/92a2b15a-f4b1-11e4-8a39-560d159299c6.jpg)

![maker party](https://cloud.githubusercontent.com/assets/10170768/7519987/99060c54-f4b1-11e4-9cdc-0ebab9f375da.png)

[2015-05-07 17:42] ioana-chiorean opened #870 "Strange workflow to add a password to an existing account"
1. Have an old account - not remember the password
2. Request to set one (the system is telling you have a user without pass)
3. I have receive a mail "Webmaker Login Request" with: Sihn in, Sing in & remeber, or copy this in webmaker
4. Open link from sign in - put the pass give in the mail - nothing works
5. Go back to teach.m.o - retake the process to request a password
6. I have receive a mail

[2015-05-07 17:46] ioana-chiorean opened #871 "Improve messages at wrong/invalid password"
Trying to set a new password I got messages like:
* invalid password
* Something went wrong. Try again

I think we should add some more context specially at Invalid one like: the pass is to long, to short, etc

![screenshot from 2015-05-07 20 28 33](https://cloud.githubusercontent.com/assets/1391451/7521894/0c11d8a2-f4fa-11e4-9dd8-94568f928d99.png)
![screenshot from 2015-05-07 20 28 17](https://cl

[2015-05-07 17:47] ioana-chiorean opened #872 "Set the Continue button disabled when problem with paawords"
![screenshot from 2015-05-07 20 28 33](https://cloud.githubusercontent.com/assets/1391451/7521902/246ae164-f4fa-11e4-8a8e-60b6c458bf7f.png)
![screenshot from 2015-05-07 20 28 17](https://cloud.githubusercontent.com/assets/1391451/7521903/248d2eae-f4fa-11e4-8edb-9f2cbd996748.png)

Here - I was not sure if entering a new pass will delete the pink message , so it might be helpful to have a disable st

[2015-05-07 17:52] ioana-chiorean opened #873 "No actionable thing to do after you reset the password/request one"
![screen shot 2015-05-07 at 20 48 27](https://cloud.githubusercontent.com/assets/1391451/7521943/7fd966d8-f4fa-11e4-89f9-ceed06058d06.png)

After you request a new password - there is no link to tap to continue with:
* browsing the website
* go to sign in page

In the above screenshot there are three places that might have links attached
* logo -> go back to the teach.m.o
* letter icon -> maybe sa

[2015-05-07 17:59] ioana-chiorean commented on #870
Also stating "Or, copy this key into Webmaker: " is a bit confusing.. as u might not know where to go.

[2015-05-07 18:16] hannahkane commented on #872
Opening this issue in a different repo, and closing here. Thanks, Ioana!

[2015-05-07 18:16] #872 closed

[2015-05-07 18:18] hannahkane commented on #871
Opened this in a new repo: https://github.com/mozilla/id.webmaker.org/issues/288

[2015-05-07 18:18] #871 closed

[2015-05-07 18:20] hannahkane commented on #873
Opened in different repo: https://github.com/mozilla/id.webmaker.org/issues/289

[2015-05-07 18:20] #873 closed

[2015-05-07 18:20] iamjessklein commented on #800
This is where I am at the moment. I am going to work on the icons that go where the little blue squares are currently acting as placeholders.

![ttw](https://cloud.githubusercontent.com/assets/535012/7522582/35e83008-f4c4-11e4-8581-4812ea1939d6.png)

[2015-05-07 18:21] hannahkane commented on #870
Opening in different repo: https://github.com/mozilla/id.webmaker.org/issues/290

[2015-05-07 18:21] #870 closed

[2015-05-07 18:23] hannahkane commented on #869
@ldecoursy - is there a more specific deadline for this other than the end of the May 22nd heartbeat?

[2015-05-07 18:38] ldecoursy commented on #869
Yes, if we can shoot for May 15th that would be ideal. Blog post is slated to go up on May 18th, as well as well as @amirad announcing on the project call.

Official Save the Date external email and social is slated to begin later that week (May 21).

[2015-05-07 18:48] mmmavis commented on #681
live on https://webmaker.org :dancer:

[2015-05-07 18:49] hannahkane commented on #681
woohoo!

[2015-05-07 18:58] hannahkane commented on #800
Nice!

I like the three CTAs as a layer over the hero image. I wonder what it will look like with icons or photos next to them. Will it seem too busy?

I like the copy changes you made, with the exception of "Small to medium sized experiments," which I think is a little confusing. I really liked "Browse our list of lesson plans" (from the ticket description), though I see it doesn't fit with the o

[2015-05-07 18:59] hannahkane commented on #800
Also, I think the "See all blog posts" button is the loudest thing on the page. Maybe we could make that a link instead of a button?

[2015-05-07 20:01] chrislarry33 commented on #800
Love where this is heading

For "Teach an Activity" can the copy just say "Lessons and Curriculum"

+1 on loudness of "see all posts"

[2015-05-07 20:59] iamjessklein commented on #800
Updates:

* Added icons
* Added more quotes (PLEASE NOTE ARYA IS PLACEHOLDER)
* Adjusted copy
* Changed button to link

![bravos](https://cloud.githubusercontent.com/assets/535012/7525781/613a74b2-f4da-11e4-81e5-b9b2d4aa23af.png)

[2015-05-07 21:27] hannahkane commented on #800
Like! This seems like a solid next iteration from a product perspective. @iamjessklein - should we have someone do a design review next?

[2015-05-07 21:29] iamjessklein commented on #800
Yes. I pinged @vazquez to do a review. But, I'll do it officially here, hey @vazquez can you :eyes: at this? Thanks.

[2015-05-07 22:34] hannahkane commented on #605
This is definitely covered in #800.

[2015-05-07 22:34] #605 closed

[2015-05-07 22:38] hannahkane commented on #868
Can't reproduce this now. @jgmac1106 - are you still seeing this?

[2015-05-07 22:45] hannahkane opened #874 "Implement changes to /events"
Pending #843

[2015-05-07 22:46] hannahkane opened #875 "Implement changes to /activities"
Pending #830

[2015-05-07 22:51] mmmavis commented on #604
:dancers: :dancers: :dancers: HOORAY https://blog.webmaker.org/ GOT A NEW SKIN!!! :dancers: :dancers: :dancers:

I'm unable to install the subscription plugin due to server restriction.  I'll open a separate ticket to get devops help on that.

[2015-05-07 22:51] #604 closed

[2015-05-07 22:53] hannahkane commented on #604
Looks fantastic!

[2015-05-07 22:55] mmmavis opened #876 "Webmaker blog - add subscription form"
Add subscription form(a feature of [Jetpack plugin](https://wordpress.org/plugins/jetpack/)).  See reference [here](https://github.com/mozilla/teach.webmaker.org/issues/604#issuecomment-100041527).

[2015-05-07 23:01] edrushka commented on #604
Ohh! Beautiful! I can now close a bugzilla ticket filed Feb 4, 2014 :grimacing:

[2015-05-08 14:03] ioana-chiorean commented on #870
Sorry for the wrong submission - I did not realize is in other one!

[2015-05-08 14:09] ldecoursy commented on #858
Note that @thornet @amirad working on new Clubs one-pager to help inform copy here.

[2015-05-08 16:50] iamjessklein commented on #406
I made a few sketches for a few directions that we could go with the 404 page. Overall the idea I have here is that we teach what a 404 page is - on the 404 page.

idea 1: The "0" in 404 is broken and you can drag the pieces together. When you drag it together you get feedback explaining to you what the 404 page is.

![kwgpbzp50x09ztot1af0sbjtle7zyvkoyu_fuflddrl4p_rg_pwtdic8nengsa7su0mskxpskqjt162

[2015-05-08 16:50] hannahkane commented on #867
@mmmavis - any chance you could do this one today since @toolness is out?

[2015-05-08 17:48] hannahkane commented on #858
Do we have an expected ETA on the one-pager?

[2015-05-08 17:51] hannahkane commented on #870
No worries! Thanks for reporting these issues.

[2015-05-08 17:54] ldecoursy commented on #858
Maybe Tues? Still editing draft, then prob need eyes from Paul and @chrislarry33 signoff

[2015-05-08 19:00] #867 closed

[2015-05-08 19:00] mmmavis commented on #867
@hannahkane yup yup. done!

[2015-05-08 19:19] ldecoursy commented on #867
Thanks!

[2015-05-08 21:12] hannahkane commented on #800
@vazquez - have you had a chance to take a look at this?

[2015-05-08 21:34] vazquez commented on #800
@hannahkane - Sorry for the delay Hannah, I've posted my comments in Redpen. https://redpen.io/ev1973a49294855f03

[2015-05-08 22:30] hannahkane commented on #800
Thanks very much, @vazquez! We'll have @sabrinang make these final tweaks next heartbeat.

[2015-05-11 13:03] adamlofting commented on #681
Here's the URL with GA referral codes to help with analytics:
* https://teach.mozilla.org?ref=webmaker_homepage_promo&utm_campaign=webmaker_homepage_promo&utm_source=webmaker.org&utm_medium=referral

For future use cases, you can use this handy tool to generate these parameters:
* http://mozilla.github.io/mofo-campaignurl/ :sunglasses:

[2015-05-11 13:39] toolness opened #879 "Expander may not be accessible"
As @mmmavis noted in https://github.com/mozilla/teach.webmaker.org/pull/877#discussion_r29916167, the Expander component, which was originally based entirely on CSS focus rules (and thus automatically accessible) but changed in #788 to use custom JS, may not be accessible anymore.

On the one hand, it may still be accessible: since the expander is only used to hide content to make it not look as v

[2015-05-11 13:39] #698 closed

[2015-05-11 17:44] thornet opened #881 "Update clubs toolkit to include legalese on financial contributions"
On this page: https://teach.mozilla.org/clubs/toolkit/ in the Fundraise section, could we add this as a final bullet? The text is from the legal team:

"Many jurisdictions require you to register if you solicit contributions from people or organizations in their borders for charitable or educational activities and raise more than a threshold amount; some jurisdictions require registration of clubs

[2015-05-11 18:10] hannahkane commented on #869
let's skew a little older on the photos, and a more active photo

[2015-05-11 18:22] ldecoursy commented on #830
Here's the curriculum queue if helpful: http://mozilla.github.io/webmaker-curriculum/

[2015-05-11 18:24] hannahkane commented on #830
Let's use "Read, Write, Participate" as a framework

[2015-05-11 18:35] mmmavis commented on #329
I believe so and PR https://github.com/mozilla/teach.webmaker.org/pull/852 has been merged :bowtie:

[2015-05-11 18:35] #329 closed

[2015-05-11 18:49] hannahkane commented on #881
Putting this in the current heartbeat. @mmmavis or @toolness - can either of you do this one?

[2015-05-11 20:43] #481 closed

[2015-05-11 20:51] sabrinang commented on #744
![teach-formux-ideas](https://cloud.githubusercontent.com/assets/2492510/7574414/02da9680-f7e2-11e4-9dd6-a63559e7f3f8.png)
option 1 - the required field asterisk direction as mentioned above
option 2 - grouping optional fields at the end with less emphasized (optional) label

I think either option works fine but option 2 may be the visually cleaner version that groups required fields at the top so

[2015-05-11 20:58] mmmavis commented on #853
one more question @hannahkane :grimacing:
is it
St. **Patricks** Church Tech Squad
or
St. **Patrick's** Church Tech Squad

[2015-05-11 21:04] hannahkane commented on #853
St. Patrick's

[2015-05-11 21:04] mmmavis commented on #876
blocked by https://github.com/MozillaFoundation/mofo-devops/issues/56

[2015-05-11 21:31] mmmavis commented on #881
Just checking to see if we want to start with a short italics highlighted sentence.  Seems like all the bullet points are following that convention.

[2015-05-11 21:45] hannahkane commented on #881
How about just the word "Registration" in italics? Also, I think this should be the fourth bullet point, so that "More ideas!" is still the last one.

[2015-05-11 22:56] hannahkane opened #883 "Have to click section headers twice to open"
On /clubs/toolkit the sections only open if you click them twice. Weird!

[2015-05-11 23:05] sabrinang commented on #869
I've swapped some colours in the blocks and been digging through https://www.flickr.com/photos/mozilladrumbeat/ to look for photos:

![makerparty_savethedatesocial2015](https://cloud.githubusercontent.com/assets/2492510/7576790/7fb05bfe-f7f6-11e4-8f00-b1d0b2c7bf24.png)
https://www.flickr.com/photos/mozilladrumbeat/15031214510/in/dateposted/

![makerparty_social2015](https://cloud.githubusercontent

[2015-05-11 23:26] mmmavis opened #884 "Have a way to tell what version of site we are running"
I'm not sure if there's an existing method already but I can't tell what version of the Teach site we are running on PROD (I guess this could apply on STAGING as well?).

Maybe something like https://webmaker.org/healthcheck where we can simply return the version number specified in `package.json` would help?

Updates:
Oh I forgot we have the "dev ribbon" on staging, maybe we can incorporate the `

[2015-05-12 10:05] jgmac1106 commented on #883
The same thing kind of happens on the web literacy map page. If you have
one header expanded and click on another header/menu the first click closes
the open menu and then you have to click again to open the new menu/header

On Mon, May 11, 2015 at 6:56 PM hannahkane <notifications@github.com> wrote:

[2015-05-12 13:39] amirad commented on #869
These look good. I like the 'older' pictures. Hive NYC flickr has a bunch of great photo albums too
https://www.flickr.com/photos/newyouthcity/sets/72157644495371568
https://www.flickr.com/photos/newyouthcity/sets/72157645434988967
https://www.flickr.com/photos/newyouthcity/sets/72157646643449214

[2015-05-12 14:21] toolness commented on #884
It's currently available in every generated webpage as a `<meta>` tag. Just use your browser's "view source" (or element inspector) and look for this:

[code]

It would be pretty easy to add a `/heathcheck` page that just displays this. Since the version number in our `package.json` is now meaningful, too, we could also show that.

[2015-05-12 14:31] toolness commented on #883
Hmm, I think that the regression occurred because of https://github.com/mozilla/teach.webmaker.org/pull/877#discussion_r29916167, where we switched from using a mousedown handler to a click handler.

[2015-05-12 14:36] toolness commented on #883
@jgmac1106 - yep, that makes sense that it also happens on the weblit map page, as both pages use the same Expander component that's causing the bug. Thanks for reporting it!

[2015-05-12 15:47] toolness opened #886 "Embedded Flickr thumbnail images on event resources page are large"
On my Windows PC, the tests were timing out because PhantomJS was taking a really long time to load everything on the events page. I discovered that it was at least partly because the Flickr images on that page are reasonably large. For that immediate problem I committed 8ce6d153694319e751ca3bd45debf4c946f55c5c as a workaround, but I think that we should consider using smaller images there: two of

[2015-05-12 15:54] ldecoursy commented on #869
These look good to me too. Can we get input from @KevZawacki and @HPaulJohnson on the copy? I actually think since it's a two-week campaign we should put the date on the 2nd graphic too, and maybe URL for teach.mozilla.org?

Suggestion for Save the Date: Maker Party is our annual campaign about teaching others how to read, write and participate on the web!

Sign up to receive your XXXX (free event

[2015-05-12 15:56] thornet commented on #858
Goal to have it signed off by @chrislarry33 this Wed.

We can already do some re-structuring based on what's in the one-pager. @hannahkane: I could make a section in that doc to better draft out the update page for the site: https://docs.google.com/document/d/19yk3ZW1Mtjf3oUwspCiXPeNJ_zD63UYGpfEn3BdNxS0/edit#

[2015-05-12 16:07] hannahkane opened #887 "Design "Tools" page"
Copy is here: https://teach.etherpad.mozilla.org/toolscopy

[2015-05-12 16:07] #853 closed

[2015-05-12 16:24] toolness commented on #687
Update: the Flux application architecture doesn't really specify a particular way of storing models. And there's a new [series of training videos](http://learn.humanjavascript.com/react-ampersand) on how to combine React with Ampersand.js and a number of other technologies.

[2015-05-12 16:58] #883 closed

[2015-05-12 17:20] mmmavis opened #889 "Mailinglist signup doesn't redirect to our desired section/anchor"
https://github.com/mozilla/teach.webmaker.org/pull/654 has been merged and pushed `staging`.  For testing purposes, I changed BSD config so that we are redirecting user to `https://teach.mofostaging.net/events/?mailinglist=thanks#mailinglist` for thank you message.  However, BSD appends a bunch of query strings to the URL (e.g., https://teach.mofostaging.net/events/?mailinglist=thanks#mailinglist&

[2015-05-12 17:28] mmmavis commented on #889
can we fix this by something like

[code]
and remove hash from our redirect URL?

[2015-05-12 18:12] asdofindia commented on #266
http://webmaker.org/teach should go to teach.mozilla.org I guess. Or, https://support.mozilla.org/en-US/kb/top-tips-creating-great-teaching-kits should be updated

[2015-05-12 18:27] toolness commented on #889
Hmm, that might work, though I'm not sure if it'd work on all browsers... Another option is to do something similar to #567 and actually show a modal!

[2015-05-12 19:50] toolness commented on #585
Hmm, I've been watching a bit of [Build an App with React and Ampersand](http://learn.humanjavascript.com/react-ampersand) and there's a 6-minute tutorial on [deploying with Surge](http://learn.humanjavascript.com/react-ampersand/deploying-with-surge). Surge (http://surge.sh/) is a service that lets us do a little more than AWS with the kinds of URLs we're able to provide, which can help us solve

[2015-05-12 21:08] hannahkane commented on #889
Just a note that we should prioritize this. MP communications start next week, so we should have this in place by then.

[2015-05-12 21:15] toolness commented on #889
Ok. @sabrinang do you have any advice on the UX for this? I'm thinking that a modal would actually be more obvious/noticeable to users than the current design, which just puts the words "Thanks for signing up" in place of the form--we could hack-in ways to make the page scroll to that location on page load, such as [mavis's suggestion above](https://github.com/mozilla/teach.webmaker.org/issues/889

[2015-05-12 22:28] KevZawacki commented on #869
@ldecoursy, agreed — we should add the end date (31), too. And can we add the month (July) above the calendar graphics?

For copy, minor tweak: Maker Party is our annual campaign that teaches how to read, write and participate on the web!

[2015-05-12 23:54] sabrinang commented on #800
You can find some WIP iterations on redpen: https://redpen.io/p/uebb1e58b38f67faf7

I'm working on sorting through visual treatment on the banner section and content hierarchy on the page and iterating on what information to exclude or include from other pages:
![screen shot 2015-05-12 at 4 49 52 pm](https://cloud.githubusercontent.com/assets/2492510/7601120/2e9915d6-f8c7-11e4-99d9-06a1d5c404b5.pn

[2015-05-13 03:27] chrislarry33 commented on #858
@amirad @thornet Can you both get together and get final clean draft together and ship to Paul and Kevin. More comments will be diminishing returns. Once they make edits lets revisit ASAP

[2015-05-13 05:45] mmmavis commented on #881
![screen shot 2015-05-12 at 10 42 13 pm](https://cloud.githubusercontent.com/assets/2896608/7604510/93cb5db6-f8f8-11e4-8fe5-322db685f9db.png)

Sounds good, thanks @hannahkane

[2015-05-13 11:16] LauraHilliger opened #891 "Redirect "Teach" button on Webmaker.org to teach.mozilla.org"
http:///webmaker.org has a "teach" navigation that we should be pointing to teach.mozilla.org instead of webmaker.org/mentor

[2015-05-13 11:29] LauraHilliger commented on #891
oops duplicate of #266

[2015-05-13 11:29] #891 closed

[2015-05-13 11:39] LauraHilliger commented on #266
@asdofindia thanks for pointing out the support article. I went ahead and updated https://support.mozilla.org/en-US/kb/top-tips-creating-great-teaching-kits

[2015-05-13 12:05] #881 closed

[2015-05-13 12:05] #846 closed

[2015-05-13 16:43] mmmavis opened #892 "Create a BSD mailinglist signup form for STAGING site to use"
... so that we don't always have to test on PROD :cold_sweat:

[2015-05-13 16:57] toolness commented on #892
So to do this you'll probably want to add an environment variable setting that tells the site which BSD configuration to use, which means you'll want to:

- [ ] Update the `README.md` to document the new environment variable.
- [ ] Mention the environment variable as an added feature in `CHANGELOG.md`.
- [ ] Add the environment variable to the list of vars exported to the client-side browser code

[2015-05-13 17:01] toolness commented on #800
This looks rad!

One concern I have is that I've heard it's good practice to put the newest, most frequently-changing content "above the fold", so that repeat visitors can easily see what's changed, and to give the site itself a feeling of being alive and dynamic rather than static. The "on the blog" section is the only dynamic content on this page, but it's below the fold.

Anyhow, that "best pra

[2015-05-13 17:42] hannahkane commented on #800
Thanks for turning out so many variations! Left my comments on the redpen.

Agree with @toolness that the fresh content would ideally be above the fold, but for now I agree that a short About paragraph might be necessary for basic context. I hope we'll eventually sort out our branding enough that we may not need that context, because we won't have to worry about people mistaking the site for the M

[2015-05-13 18:20] toolness opened #893 "Document release process"
Our current release process should be documented!

For v0.0.4, it consisted of these steps:

* Verify that the ["Unreleased" section of `CHANGELOG.md`](https://github.com/mozilla/teach.webmaker.org/blob/develop/CHANGELOG.md#unreleased) is up-to-date by comparing it against GitHub's commit list (you can see that by clicking on the "Unreleased" section heading).
* Create a branch off develop called

[2015-05-13 19:48] #892 closed

[2015-05-13 21:33] hannahkane opened #895 "Design gallery implementation"
Before we can move Thimble to Teach, we'll need to have a solution for gallery views of Thimble makes. This ticket is to design a solution that meets these minimum requirements:
 * A view of all public Makes, sorted by publication date (most recent first)
 * A view of an individual user's Makes, visible to them

Future iterations will address searching/filtering, browsing, sorting, marking as "fea

[2015-05-13 21:33] hannahkane commented on #895
cc @simonwex to help with this one, and add detail

[2015-05-13 21:37] hannahkane opened #896 "UX/UI for Thimble makes galleries"
We're re-building gallery functionality on the Teach site.

This ticket will address the following UX pieces:
 * How a user navigates to their own personal list of Makes they've made
 * How a user navigates to a list of all public Makes

UI pieces:
 * Designs for each of the above

[2015-05-13 21:50] hannahkane opened #897 "Remove references to "add your event""
There are two places on /events where we tell people to add their event via events.webmaker.org. We've decided we don't actually need to collect data about individual MP events this year, so let's remove those references.

1. In the main "Join us" text, let's just remove the second clause ("and add your events to our global list any time of year")

2. Remove the "Add Your Event" CTA from the botto

[2015-05-13 21:51] hannahkane commented on #897
@mmmavis - wondering if you'd have time to do this this week, so we can push it before next week. We're sending out Save the Date emails early next week, and I don't want ppl to think they have to add their events to the database. Thanks!

[2015-05-13 21:53] hannahkane opened #898 "Remove unlinked CTA at bottom of /clubs and /clubs/toolkit"
There's an unlinked CTA at the bottom of /events/resources that reads, "Do you meet regularly with a group of learners to increase web literacy skills?" Let's remove that and the orange line above it.

[2015-05-13 22:09] hannahkane opened #899 "Change copy on Events in navigation"
We're lying to people!

Right now reads, "EVENTS Find gatherings near you, or host your own"
Let's replace with: "MAKER PARTY Host a one-time event or workshop"

[2015-05-13 22:20] hannahkane opened #900 "Implement "pre/during MP" state for /events"
Pending #843

[2015-05-13 22:21] hannahkane commented on #874
Dangit. Just duped this.

[2015-05-13 22:21] #874 closed

[2015-05-13 22:22] hannahkane commented on #821
I think this is now being handled through a few other tickets, and this one no longer seems actionable.

[2015-05-13 22:22] #821 closed

[2015-05-13 22:23] hannahkane commented on #740
No longer a requirement.

[2015-05-13 22:23] #740 closed

[2015-05-13 22:24] hannahkane commented on #741
No longer a requirement.

[2015-05-13 22:24] #741 closed

[2015-05-13 22:46] simonwex commented on #895
Worth noting, we're intentionally abandoning the MakeAPI here. We'll be loosing some functionality, but this will be a healthy departure from some legacy. The open question is how to share the publishing infrastructure(?), modules(?) and/or services with the new webmaker publishing API.

@cadecairos, @jbuck and myself will be discussing this tomorrow morning at 11:00am PDT

[2015-05-14 00:41] mmmavis commented on #899
![screen shot 2015-05-13 at 5 39 43 pm](https://cloud.githubusercontent.com/assets/2896608/7624023/526eaaa4-f997-11e4-81d1-af2b8de43185.png)

[2015-05-14 05:20] mmmavis commented on #744
Um I have some thoughts on this.  Grouping optional fields works fine for this particular form since `website` field doesn't have much relationship with other fields in the form --- it doesn't matter much that we play around with the ordering and put that field at the bottom.  Not sure what other forms we will have in the future but I'm worried this kind of grouping might not work well on all case

[2015-05-14 05:39] mmmavis commented on #898
hey @hannahkane did you mean on https://teach.mozilla.org/clubs/ and https://teach.mozilla.org/clubs/toolkit/ instead?

[2015-05-14 10:37] toolness commented on #744
Thanks for the design sabrina, and thanks for the technical clarifications mavis. I agree with your option 2--basically just adding ` (optional)` next to the website field label would be both helpful for users and extremely easy to implement. :)

[2015-05-14 10:43] toolness commented on #900
This will be interesting to implement from a technical standpoint... At first I was thinking that we could control it entirely through an environment variable, which would involve steps similar to what mavis did for #894.

But at the same time I think it'd be great for QA folks to be able to switch between the different states on the staging site, perhaps via a rudimentary UI on the dev ribbon mod

[2015-05-14 10:53] #899 closed

[2015-05-14 11:08] #889 closed

[2015-05-14 11:22] toolness commented on #893
Hey @jbuck, @ScottDowne, @simonwex, do you have any thoughts on this? Is it way too heavyweight? I don't want to bother documenting this more than I already have here unless there's some agreement that it's a reasonable process--otherwise I want to iterate on the process itself rather than further documenting a suboptimal one.

[2015-05-14 11:24] toolness commented on #806
Hey @rossbruniges, do you have any thoughts on this one? Do you use any QA checklists that you like, or do you know of any good best practices?

[2015-05-14 11:42] toolness commented on #798
I noticed that there's a cool tool at https://developers.facebook.com/tools/debug/ that lets you preview what Facebook infers a lot of the open graph tags to be. For instance, for http://teach.mozilla.org/, it shows this:

![2015-05-14_7-38-59](https://cloud.githubusercontent.com/assets/124687/7631150/5dea494a-fa0c-11e4-9493-e04e724aa6ac.jpg)

Most of this data actually seems fairly sensible, but

[2015-05-14 12:12] rossbruniges commented on #806
BDD (Cucumber) is cool but it's difficult to hook into unless original requirements tickets are written along those specific guidelines.

Things that always used to bite me when deploying:

* brinding dev data and settings over accidentally - if you've gone 12 Factor then I'm sure you're good with this
** if you're using browserID for login then if the site urls in it's config don't match the live

[2015-05-14 14:03] hannahkane commented on #898
Weird. Yes, thanks.

[2015-05-14 14:46] toolness opened #906 "Remove the imgAlt prop from IconLink components for better accessibility"
As mentioned in #905, the [W3C Techniques for providing useful text alternatives](http://dev.w3.org/html5/alt-techniques/#sec5) states:

The icons in our `IconLink` components are purely decorative and should be ignored by assistive technology, so we should remove the `imgAlt` prop from them and simply hard-code `alt=""` for the icons in the component's `render()` method.

[2015-05-14 15:33] toolness commented on #798
Hmm, because this pokes at the generation of the index HTML files, it's probably a good idea to wait for #839 to land before working on this.

Also, I'm curious if facebook automatically looks at `<meta name="description">` to fill in its `og:description`. If it does, I'd prefer to use that, since it's more standards-compliant and will therefore likely work better across a wider variety of service

[2015-05-14 15:45] toolness commented on #810
Another option is to use the [Google Insights API](https://developers.google.com/speed/docs/insights/v2/getting-started) to do this for us. It could be a particularly nice solution because it tests our whole HTTP pipeline, not just the source file, and it might also compare the image's resolution against its rendered size on the page, among other things.

[2015-05-14 15:58] hannahkane commented on #744
Let's do option 2, and prioritize #670 for the next heartbeat. Sound ok?

[2015-05-14 16:40] #898 closed

[2015-05-14 17:00] ldecoursy commented on #800
Loving the iterations! Left a few comments here: https://redpen.io/ruae7488775739dafe

One q for @HPaulJohnson @chrislarry33 - thoughts on if it's ok to have the title copy on the home page for teach.mozilla.org say "Mozilla Learning Networks?" We want to be clear this isn't the home page of Mozilla... Currently sayes "We Teach the Web."

[2015-05-14 17:08] mmmavis commented on #266
@jbuck could you help with this? I've also created a separate ticket on the DevOps repo https://github.com/MozillaFoundation/mofo-devops/issues/69

[2015-05-14 17:14] toolness commented on #886
According to [Google PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fteach.mozilla.org%2Fevents%2F&tab=mobile):

* Compressing and resizing https://c3.staticflickr.com/3/2915/14592256638_55ec5cf36b_b.jpg could save 202.2KiB (99% reduction).
* Compressing and resizing https://c4.staticflickr.com/4/3905/14715964794_a9fa75002c_c.jpg could save 196.8KiB (9

[2015-05-14 17:21] hannahkane commented on #843
TDB:
* Any copy changes?
* Remove video and/or photos?
* Do we want to remove the link to /resources (from both nav and bottom of page), and just email the link to people who sign up?

[2015-05-14 17:51] HPaulJohnson commented on #800
100% ok with the title copy Mozilla Learning Networks. Think it's a big improvement.

Unrelated, taking a quick spin through the iterations I'd advocate for the ones which have the clear calls-to-action integrated in the main promo space, above the fold.

[2015-05-14 17:53] hannahkane opened #908 "Design low bar CTA for "Pledge to teach""
Context: right now, the only incentive for someone to sign-up is to add their Club, which is a high bar ask.. In the future, we'll have many more reasons to sign up (including low-bar options).

In the meantime, we'd like to capture site visitors who need something low bar to entice them. We're thinking a "Pledge to Teach" that requires them to provide their email address would be a good option.

[2015-05-14 18:01] chrislarry33 commented on #800
+1 to MLN...could it be The Mozilla Learning Network? If not, not a blocker for me. Does raise Hive placement for me to so it feels cohesive. Could it even be a sidebar link/section?

+1 to Paul's second point as well

[2015-05-14 18:31] amirad commented on #908
Timeline for email to be completed?
I think we need their name too for communication or data purposes?
@ldecoursy thoughts on "pledge to teach" versus "become a web champion" - we talked about this in our working group yesterday.

[2015-05-14 19:02] toolness commented on #843
Did you mean TBD or is TDB an acronym that I'm unaware of?

[2015-05-14 19:04] hannahkane commented on #843
Corrected. Thanks!

[2015-05-14 19:10] hannahkane commented on #800
@sabrinang - thanks for the speedy iterations. It sounds like we'd like to see a version with:
* Mockup 1's button style
* "The Mozilla Learning Networks" as the headline, with no sub-head
* Hero image followed by About text, blog, color-blocked quote, and three blue CTAs

@chrislarry33 - I hear your point about Hive placement. Let's address that in other tickets (perhaps #861) to keep the scope o

[2015-05-14 19:23] chrislarry33 commented on #800
WFM

Should be "The Mozilla Learning Network"

[2015-05-14 19:27] hannahkane commented on #800
thanks, updated.

[2015-05-14 20:00] hannahkane commented on #908
Would be good to have all copy finalized by the start of the next heartbeat (Monday, May 25).

re: getting their name—is it absolutely necessary? not sure the value of being able to use their name in an email outweighs the value of having a dead simple form. having said that, it could be kind of cute in the context of a pledge. "I, [fill in your name], pledge to..."

[2015-05-14 20:09] hannahkane opened #909 "Create a favicon"
All the cool kids have one.

[2015-05-14 20:57] hannahkane commented on #908
Brainstorm just now: perhaps the three main CTAs should actually be Pledge, Teach, and Start a Club, since soon (after #736), we'll be promoting Maker Party in a special way anyway.

[2015-05-14 20:58] chrislarry33 commented on #908
I LOVE this

[2015-05-14 20:58] hannahkane opened #910 "Changes to Clubs form"
Placeholder ticket, pending @thornet and @amirad's research into what information is necessary to know whether a Club meets our criteria.

[2015-05-14 20:58] hannahkane commented on #910
Putting in June 5 milestone for now, though it could be delayed if needed

[2015-05-14 21:02] hannahkane commented on #895
@simonwex - any update on this since your meeting?

[2015-05-14 21:05] hannahkane opened #911 "Implement approval flow for Clubs"
detail to come (pending final decisions on https://teach.etherpad.mozilla.org/clubs-signup)

[2015-05-14 21:10] sabrinang commented on #800
![teach_iteration11](https://cloud.githubusercontent.com/assets/2492510/7642077/ef688e1e-fa42-11e4-93e5-3db2260a1869.png)

redpen: https://redpen.io/ejc900cf7e4b532df6

[2015-05-14 21:12] hannahkane commented on #800
<3

[2015-05-14 23:08] jbuck commented on #266
@mmmavis Why not put the redirects in the code for webmaker.org?

[2015-05-14 23:11] sabrinang commented on #869
updated to include: teach.mozilla.org & July 15-31, 2015 date
![makerparty_socialmediaimages](https://cloud.githubusercontent.com/assets/2492510/7643995/9cc3afac-fa53-11e4-92ae-9e62bdb9e152.png)
![makerparty_socialmediaimages1](https://cloud.githubusercontent.com/assets/2492510/7643998/9cc84f9e-fa53-11e4-9210-24ddd85dcbdf.png)
![makerparty_socialmediaimages2](https://cloud.githubusercontent.com/as

[2015-05-14 23:57] jbuck commented on #893
The only additional weight above and beyond what we do elsewhere is writing up the changelog, so this seems fine.

[2015-05-15 06:25] mmmavis commented on #833
@hannahkane

Is it this one? https://teach.mozilla.org/img/pages/clubs-curriculum/photo-clubs-curriculum.jpg

[2015-05-15 11:42] toolness commented on #806
Whoa, thanks Ross! I didn't actually know about Tenon or PageSpeed Insights, they're really cool.

I've added some notes regarding them to [CONTRIBUTING.md](https://github.com/mozilla/teach.webmaker.org/blob/develop/CONTRIBUTING.md):

use [PageSpeed Insights][] to ensure the page is fast on all
devices, and use [Tenon][] to ensure it's accessible.

by clicking the "Dev Version" ribbon at the top-r

[2015-05-15 11:48] toolness commented on #806
Oh, and we added a link checker to our automated test suite in #809, but it only checks to ensure that *internal* links are working. We're also using route names with react-router's [`Link`](http://rackt.github.io/react-router/#Link) component, which is a bit like Django's [`{% url %}`](https://docs.djangoproject.com/en/1.8/ref/templates/builtins/#std:templatetag-url), so it also helps ensure that

[2015-05-15 11:58] toolness opened #913 "Add automated integration tests"
As Ross mentioned in https://github.com/mozilla/teach.webmaker.org/issues/806#issuecomment-102016494, it might be good idea for us to write automated selenium/webdriver-based tests that ensure our site properly integrates with all the services it depends on (teach-api, id.webmaker.org, etc).

We could potentially use a tool like [Mailinator](http://mailinator.com/) to ensure that email works too.

[2015-05-15 12:16] toolness opened #914 "Decide if we want to use Cucumber and/or Gherkin"
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/806#issuecomment-98246861, it might be useful for us to write our acceptance tests using [Gherkin](https://github.com/cucumber/cucumber/wiki/Gherkin), and then (optionally) automatically test against them using [cucumber-js](https://github.com/cucumber/cucumber-js).

As Ross mentioned in https://github.com/mozilla/teach.webmaker.

[2015-05-15 13:23] toolness opened #915 "Add BrowserStack or SauceLabs to diagnostic tools"
In addition to our [developer buttons](https://github.com/mozilla/teach.webmaker.org/issues/806#issuecomment-102375902) for loading pages in PageSpeed and Tenon, it might be useful for add another button for [BrowserStack integration](https://www.browserstack.com/integrations#integration-examples). (**Update:** SauceLabs integration would be a cool alternative.)

[2015-05-15 14:43] amirad commented on #869
Thanks @sabrinang
@KevZawacki we can update images for blog post and social!

[2015-05-15 14:46] KevZawacki commented on #869
On it!
Awesome designs, @sabrinang

[2015-05-15 16:09] toolness opened #916 "Forge a Globalization Strategy"
This issue is intended to document the **strategy** through which we'll make the Teach site possible to localize, rather than specific tooling to use for localization (#808).

Here I'm using the word "Globalization" in the sense described by [Wikipedia](http://en.wikipedia.org/wiki/Language_localisation#Globalization_versus_localization):

I'm going to go through every part of the current site in

[2015-05-15 16:13] toolness commented on #916
I know we're committed to naming milestones after things from the 80's, but if we ever do a milestone where we focus on accessibility, I think it should be called **Make Your Party Is Missiles Campaign To Celebrate The Web**.

[2015-05-15 16:43] sabrinang commented on #800
Updated copy: "The Mozilla Learning Network" and "About Us"
redpen: https://redpen.io/ejc900cf7e4b532df6
![teach_homepage_mockup](https://cloud.githubusercontent.com/assets/2492510/7657465/dcfb75f8-fae6-11e4-9354-73a5c6f226e6.png)

[2015-05-15 16:47] mmmavis commented on #266
@jbuck I can submit a PR for pages on `webmaker.org` but our plan is to kill the Maker Party site (https://party.webmaker.org/) and I guess that part needs your help (including redirecting it to teach.mozilla.org/events) :hamster:

[2015-05-15 16:53] simonwex commented on #916
@toolness, this is really thorough and exactly what we needed. Thanks! Shall we powow and figure out the best way to do this with the long-term goal in mind?

[2015-05-15 17:02] hannahkane commented on #800
Ship it! Will unblock the implementation ticket.

Nice job, Sabrina. :)

[2015-05-15 17:02] hannahkane commented on #856
No longer blocked!

[2015-05-15 17:03] ldecoursy commented on #800
:trophy:

[2015-05-15 17:10] hannahkane commented on #833
Yes, that image. Good call on changing the color theme. Thanks, @mmmavis.

Also updated the description to say that we should change the url from /clubs/curriculum to /activities/web-lit-basics

[2015-05-15 17:13] mmmavis opened #917 "Redirect a few pages to the Teach site"
Let's make a list of urls that need to be redirected once the new site is live:
 * webmaker.org/resources should go to teach.mozilla.org/web-literacy
 * webmaker.org/literacy should go to teach.mozilla.org/web-literacy
 * webmaker.org/party should go to teach.mozilla.org/events
 * party.webmaker.org should go to teach.mozilla.org/events
  - I believe the Maker Party site is a separate app.  Might

[2015-05-15 17:14] mmmavis commented on #917
oops!  sorry, thought i was on webmaker.org's repo when I created this bug

[2015-05-15 17:14] #917 closed

[2015-05-15 17:15] jbuck commented on #266
Sorry, I thought it was all webmaker.org :blush: . Is it alright if I make that redirect from https://party.webmaker.org to https://teach.mozilla.org/events now? Or should it be done sometime later?

[2015-05-15 17:52] alicoding commented on #916
I've read an article once about globalization and how to really support or really say that we finally do globalized the application.

There are certain requirements that we need to make sure we are ready to support in order to do that.

1. Make sure we do localized everything in our applications
2. Marketing in that language
3. Support in that language

It's pretty much what you have in your **gen

[2015-05-15 19:43] hannahkane commented on #908
Note: will need an icon in the style of the other CTAs

[2015-05-15 19:45] ldecoursy commented on #910
Goal: Better prompts so approvers have relevant information to make decisions, and also so content featured publicly feels more in fidelity with clubs.

Draft for new form fields/prompts:

* Who is your Mozilla Club affiliated with? (Name your organization, school, community group, etc.)
* Where are you located? (Type in a city or country) KEEP AS IS
* How do you teach the web? (Provide a brief de

[2015-05-15 20:43] mmmavis commented on #833
@sabrinang do you have the original file of https://teach.mozilla.org/img/pages/clubs-curriculum/photo-clubs-curriculum.jpg (<--- this has been cropped).  We want to use it on /activities page and the size of the thumbnail should be 225(W) * 165(H).  (would also need the @2x file as well :smile: thanks)

[2015-05-15 20:55] #744 closed

[2015-05-15 21:00] sabrinang commented on #833
The original file on flickr is here: https://www.flickr.com/photos/newyouthcity/14153664077/in/album-72157644495371568/

I helped crop it to that dimensions and retina you can find here: https://drive.google.com/drive/u/1/#folders/0B4Q8pzCpDS_eR2dpNnJXRTR1UVU/0B4Q8pzCpDS_eTExVZ25OLUNjTU0

![clubs-photo](https://cloud.githubusercontent.com/assets/2492510/7661787/a0de5594-fb0a-11e4-8408-da934dbae088

[2015-05-15 21:10] toolness commented on #841
It looks like plenty of browsers support both [CSS resolution media queries](http://caniuse.com/#feat=css-media-resolution) and the [srcset attribute](http://caniuse.com/#feat=srcset), so I say we just drop the JS logic. I guess I'll go ahead and do this one.

[2015-05-15 21:41] mmmavis commented on #681
@adamlofting
:+1: coooool!  didn't realize that tool existed :laughing: I'll try to make use of it next time (but might bug you if I need additional guidance) Thanks!!!

[2015-05-15 22:23] hannahkane opened #920 "Changes to Clubs submission success message"
- [ ] Change success message copy from "We've added your Club!" to "Thanks for your submission! We'll review it and be in touch shortly."

- [ ] remove "Take me to my club" button action

[2015-05-15 22:25] hannahkane opened #921 "Create concept of states for Clubs: pending, approved, denied"
* Pending: does not display publicly, viewable/editable by user (will need to provide entry point and view)
 * Approved: displayed publicly, editable by user
 * Denied: does not display publicly, not viewable/editable by user (could be deleted from dbase actually, after a week or something)

New clubs submissions should be Pending by default

[2015-05-15 22:26] hannahkane opened #922 "Change subject line of email notification to staff about new Clubs"
Should be: "Please review: new club has been submitted"

[2015-05-15 22:27] hannahkane opened #923 "Create concept of an RC (Regional Coordinator) user type"
The RC type should ONLY have the privilege to view pending Clubs and change their status (staff users should also have this privilege by default)

[2015-05-15 22:28] hannahkane opened #924 "Create UX for RC to approve/deny Clubs"
Needs an entry point, and UX for changing the state of the Club

[2015-05-15 22:30] hannahkane opened #925 "Club status should be available in a report and/or admin UI"
@thornet to provide the spreadsheet; Clubs should be added only after they've been approved

The spreadsheet is used to manage the assigning of a Regional Coordinator to every Club

[2015-05-16 03:22] chrislarry33 commented on #800
Agreed, awsm work. Thank you very much all!

[2015-05-16 04:02] chrislarry33 commented on #910
@ldecoursy So we could ask one last question? @thornet Would it be worth asking about what their first task(s) will be based on your user flow plans?

[2015-05-18 10:28] toolness commented on #925
Er, wait, this seems like a duplication of data, and can result in all kinds of data synchronization problems.

A more robust alternative might be to have a "region" or "regional coordinator" field for each club, which is only configurable by teach staff in the admin UI. But I'll also admit that I don't fully understand the problem space.

[2015-05-18 10:54] toolness commented on #921
One very easy way to show clubs that are pending or denied is to have them display *only* when the club owner is logged-in, and provide a UI affordance indicating this (e.g. a big "PENDING APPROVAL" label in yellow, or "APPROVAL DENIED" in red, next to the club name). This way we don't need to add a whole new UI.

Note also that there's already a concept of "visible" in the admin UI:

![2015-05-18

[2015-05-18 16:52] toolness commented on #879
Actually, I just tried using the Expander with NVDA and it works fine because we never remove the collapsed content from the DOM. And because we collapse/uncollapse the content based on focus/blur, it works fine with sighted keyboard users too.

That said, I *do* recommend actually using a header tag instead of a `div` for the `expander-header` element, as it's semantically a heading and will make

[2015-05-18 19:05] thornet commented on #925
@hannahkane thanks for filing! @toolness I'll try to explain the problem:

1. We'd like to add a moderation layer to the "add your club" flow.
2. When a user applies to add their club, we are notified.
3. We can then signal whether the club passes moderation (and is added to the map) or is declined (not added).
4. We'd like for this data to be accessible in some spreadsheet or database so we can s

[2015-05-18 19:22] toolness commented on #925
Ah cool, that's no problem at all, Will definitely make sure the admin UI lets you do this.

[2015-05-18 20:34] toolness commented on #924
This will definitely be easiest to do through the Django admin UI, most likely a drop-down that allows the RC to set the status to pending (the default), approved, or denied.

[2015-05-18 20:38] toolness commented on #924
Er, to clarify, a designer should probably *not* make a mock-up for this, as we'd just configure it through the Django admin UI.

Does the back-end need to send a transactional email if the user's club is denied, or will the RC and/or teach staff be responsible for all communication with the user after the initial "thanks for submitting a club" transactional email has been sent out?

[2015-05-18 22:09] omnignorant opened #930 "Migrate discourse.webmaker.org to use Webmaker for single sign-on"
I was trying to show folks how to create a discourse account today and ran into a snafu. the Webmaker integration is down, only google works.

@thornet @LauraHilliger @ldecoursy @toolness

[2015-05-18 22:10] omnignorant opened #931 "Hive Directory is down."
https://directory.hivelearningnetworks.org/ returns a Bad Request (400) error.

@ldecoursy @toolness @simonaramkisson

[2015-05-18 22:19] ldecoursy commented on #931
Closing this since this repo is just for teach site. Dev Ops issues should be filed here: https://github.com/MozillaFoundation/mofo-devops/issues/new

[2015-05-18 22:19] #931 closed

[2015-05-18 22:21] ldecoursy commented on #930
@toolness can you confirm if this is related to #931 or if this should be filed in a different repo?

[2015-05-18 22:32] toolness commented on #930
Yeah, I have no idea what's causing this one unfortunately, as I've never touched that code. I don't even know what the proper repo to file that bug in is. :(

[2015-05-18 22:33] omnignorant commented on #931
@ldecoursy Are you moving it then? Or should I?

[2015-05-18 22:33] toolness commented on #931
Unfortunately, this is related to a misconfiguration with https://github.com/MozillaFoundation/mofo-devops/issues/34. JP's working on it right now!

[2015-05-18 23:47] jdotpz commented on #931
This has been resolved.  We added host headers and cloudfront-forwarded-proto cookies to the whitelist, and @toolness fixed up some code to work with that.

[2015-05-19 00:01] toolness commented on #931
actually i didn't even have to change any code, just had to reconfigure the ol' `SECURE_PROXY_SSL_HEADER` to `CloudFront-Forwarded-Proto: https`! Hooray!!

[2015-05-19 07:35] LauraHilliger commented on #930
cc @secretrobotron @jbuck Not sure how long this has been down, likely since we shipped the new login? I've made sure you both have Admin rights (both your accounts are using Mofo addys).

Lemme know if there's something I can do to help. The following URL is linked from Discourse backend and results in "Cannot GET /api/user/authenticate"

https://login.webmaker.org/api/user/authenticate

[2015-05-19 14:13] jbuck commented on #930
We should switch webmaker discourse to use id.wm.o oauth2 login
https://meta.discourse.org/t/login-to-discourse-with-custom-oauth2-provider/14717

On Tue, May 19, 2015 at 3:35 AM, Laura Hilliger <notifications@github.com>
wrote:

[2015-05-19 16:11] toolness commented on #893
Cool, thanks jbuck.

I've added some code to make updating the changelog and verifying that it's in-sync with `package.json` easier in 4bba7fdf91261cf6f8cbcfe657480bb6c1b32b57.

[2015-05-19 18:04] ldecoursy commented on #869
Closing this ticket - thanks again @sabrinang!

[2015-05-19 18:15] ldecoursy commented on #897
@mmmavis Re-opening this - doesn't look like either of these changes have been made - can you provide an update or ETA? Thanks!

[2015-05-19 18:19] mmmavis commented on #897
Changes are live on https://teach.mofostaging.net already.

@toolness are we ready for another release for PROD`?

[2015-05-19 18:47] toolness commented on #897
sure--since hannah is out on PTO, i guess lainie can give the thumbs up this time? i will fire up another production release PR.

[2015-05-19 19:10] ldecoursy commented on #843
Few updates:

* @amirad drafting updated copy for the /events page which we'll have by Friday (see https://github.com/mozilla/learning-networks/issues/175)
* Let's keep the video, but remove the current Flickr photos - we'll have photos for the case studies anyway. Would still be good to keep a link to the Flickr feed if that works.
* @amirad wants to keep the link to event resources
* Final case

[2015-05-19 19:12] ldecoursy commented on #897
Yes - those changes look good to me - thanks @mmmavis and @toolness!

[2015-05-19 22:09] mmmavis commented on #681
live on https://webmaker.org

[2015-05-19 22:09] #681 closed

[2015-05-19 23:33] mmmavis commented on #798
I've done this for a few other sites before but I always included *BOTH* the standard `<meta> tags` and the Open Graph meta tags.  If I remember it correctly lots of social media sites pull info from Open Graph meta tags.  As an experiment we can try leaving Open Graph tags out, check out staging site, and see if Facebook grabs info from `<meta>` as fallback?

[2015-05-19 23:37] mmmavis commented on #798
@hannahkane @ldecoursy @sabrinang :hamster:

Please provide the following
- Site title (Mozilla Learning okay?)
- Site description (maybe we can grab copy from the new Homepage?)
- thumbnail to show when sharing on social media

thanks!  :grin:

[2015-05-19 23:45] mmmavis commented on #798
https://developers.facebook.com/docs/sharing/webmasters#markup

[2015-05-19 23:48] toolness commented on #681
Whoa cool, I didn't realize we could add referral codes and stuff to our site either. Thanks @adamlofting!

[2015-05-19 23:52] mmmavis commented on #876
Sigh, encountered another problem with WordPress  :confounded: :confounded: :confounded: :confounded: :confounded:

As I mentioned to you today @jbuck , this is the error message I got

![screen shot 2015-05-19 at 10 25 28 am](https://cloud.githubusercontent.com/assets/2896608/7716411/ac863c56-fe46-11e4-9d2b-4058906b07bf.png)

I googled and this seems to be a solution: http://usefulmix.com/wordpre

[2015-05-19 23:55] #833 closed

[2015-05-20 00:00] toolness commented on #798
Cool sounds good! And duplicating the content across both meta and OG tags sounds good to me (e.g. using the same description text for `<meta>` description as well as OG description).

Should the teach team also give us succinct descriptions for each page too? According to [How to Write an Effective Meta Description ](http://blog.hubspot.com/marketing/how-to-write-meta-description-ht) they should

[2015-05-20 13:46] toolness commented on #916
Ah cool, @alicoding do you have a link to that article? Would love to read it.

I'd like to meet and discuss this but I want to make sure some folks from the teach team are involved, because I think a lot of the questions I mentioned above can only be answered by them!

@ldecoursy do you think we can set up a meeting to discuss some of the questions I raised at the top of this issue? Who do you th

[2015-05-20 14:27] ldecoursy commented on #916
@toolness I'd recommend @hannahkane @thornet @amirad and I be involved from the teach team. Probably best to try to set something up late next week. If you and @simonwex want/need to have a preliminary conversation before that, that works too :)

[2015-05-20 15:46] jbuck commented on #876
@mmmavis /etc/nginx

[2015-05-20 16:37] sabrinang commented on #800
Going though photos to finalize the banner: https://redpen.io/ro3d3a2d36dc9f1e24
![teach_wireframes_banner_photos](https://cloud.githubusercontent.com/assets/2492510/7717046/888eb0fe-fe4f-11e4-8ae4-2ccef875ae1f.png)

Many photos are busy but I think 4 has most of the image out of focus so it doesn't interfere with the text too much
@cassiemc any feedback?

[2015-05-20 16:43] ldecoursy commented on #856
@sabrinang to follow-up with Cassie for R+

[2015-05-20 17:28] ldecoursy opened #933 "Need interim brand identity for Mozilla Clubs"
We've heard from several Regional Coordinators that there's a need for a Mozilla Clubs logo to lend credibility (make it feel official), to create signs for doors/events where Clubs programs are happening, etc.

I know this is connected to larger branding concerns, but hoping we can create something basic for now, even knowing that it may change down the road.

cc @HPaulJohnson @chrislarry33 @thor

[2015-05-20 18:09] toolness commented on #893
Also added some tooling in b1c3f17c040279421752f03a7431326635db225c to make it easier to version-bump the changelog.

[2015-05-20 18:36] sabrinang commented on #800
![teach_homepage](https://cloud.githubusercontent.com/assets/2492510/7733509/4fdcc30a-fee4-11e4-963b-186f1ce750f0.png)
redpen: https://redpen.io/er45927e5cf11b9297
R? @cassiemc

[2015-05-20 19:07] mmmavis commented on #876
Oh dear, this is finally done.  :sob:

[2015-05-20 19:07] #876 closed

[2015-05-20 19:08] #848 closed

[2015-05-20 23:22] toolness commented on #876
Hoooray!! Thanks jbuck and mavis!

[2015-05-21 00:15] sabrinang commented on #800
Updated redpen: https://redpen.io/er45927e5cf11b9297
NOTE: yellow button is the hover state
![teach_homepage2](https://cloud.githubusercontent.com/assets/2492510/7739303/7e5177ce-ff13-11e4-957f-0ea36495cabd.png)
R? @cassiemc

[2015-05-21 00:25] HPaulJohnson commented on #933
We've talked awhile about creating a basic visual identity for Clubs to help with the more generic naming. I think we can/should proceed with that. Is there are dedicated designer for Teach that we can leverage or should we get this prioritized via TPS?

On the overall branding front, I've had a few good conversations with the new CMO and am doing more of a product line review with him on Friday.

[2015-05-21 00:56] mmmavis commented on #266
hey @jbuck I have a [PR open on webmaker.org](https://github.com/mozilla/webmaker.org/pull/1411) to handle some page redirects.  Other than that, please make https://party.webmaker.org redirected to https://teach.mozilla.org/events when you get a chance.  Thanksssss! :bowtie:

[2015-05-21 11:49] toolness opened #935 "Remove event-resources code from gulpfile"
In bd1da718fa02865312051541759b295f2388b7e2 we removed the `event-resources` directory, but several references to it still exist in our gulpfile. These should be removed.

[2015-05-21 15:20] #935 closed

[2015-05-21 17:11] ldecoursy commented on #897
Closing this ticket - I re-opened it by accident although it was already taken care of in staging and is now live.

[2015-05-21 17:11] #897 closed

[2015-05-21 17:20] mmmavis commented on #856
For blog posts:

We want to show the latest posts tagged with **#teachtheweb** on blog.webmaker.org
RSS feed url: https://blog.webmaker.org/tag/teachtheweb/feed

[2015-05-21 17:29] ldecoursy commented on #585
Note: this is a solution for when we want clean URLs for mentor profiles, and more dynamic content.

[2015-05-21 17:32] ldecoursy commented on #585
@toolness to file individual issues for remaining work to do then close this ticket. Won't hit production for awhile.

[2015-05-21 17:48] toolness commented on #856
Ok, there's a few things we can do to get those posts:

* Modify the Wordpress RSS feed to be [delivered with CORS headers](http://stackoverflow.com/questions/12517039/how-to-add-cors-support-to-wordpress-rss2-feed). I'm not actually a huge fan of this because that RSS feed is actually quite large, as it includes the entire post. It's also including the 10 most recent posts, while we only need to

[2015-05-21 17:48] mmmavis commented on #862
This ticket includes 2 tasks:
- [ ] create a "Protecting Your Data" page on Teach site
- [ ] on the /activities page, add that module as the 2nd item on the list (in between Web Literacy Basics and Lo-fi/No-fi teaching Kit)

[2015-05-21 17:56] cassiemc commented on #800
We R'd on design crit, and these adjustments look great. Nice work Sabrina! R+

[2015-05-21 17:56] ldecoursy opened #937 "Add timestamp to Mozilla Learning Admin"
Would be great to add a timestamp column when logged into Mozilla Learning Admin.

This will be helpful for us in tracking against our KPIs, so we can go in regularly to review and update the MoFo dashboard with new cities.

[2015-05-21 18:00] ldecoursy commented on #830
This is about refining the page, making the scaffolded Clubs curriculum more prominent, and making it more searchable in general.

I think for now if we're going to use "Teaching Kits" to signify the best content for Clubs Curriculum, that we should change the titles for the following existing content on the page:
* Lo-Fi/No-Fi Activities
* Remove (Teaching Kit) from Become a Password Pro, Hack Yo

[2015-05-21 18:09] toolness commented on #937
Done in https://github.com/mozilla/teach-api/commit/d472b555510fef96a40856464ac26f58a8c8c448. You can now see the created and modified date in the clubs list view in the admin UI, and can sort by either by clicking on the column heading:

![2015-05-21_14-07-00](https://cloud.githubusercontent.com/assets/124687/7755551/eda84148-ffc2-11e4-9b0c-a08a617e9c63.png)

[2015-05-21 18:09] #937 closed

[2015-05-21 18:20] ldecoursy commented on #937
So fast - you rule! Thanks @toolness

[2015-05-21 18:24] ldecoursy commented on #910
@thornet @amirad Any other q we should ask for updated form based on any of your 1:1's with folks that have already submitted clubs?

[2015-05-21 19:03] sabrinang commented on #800
Hero banner photo:

![herobanner-homepage](https://cloud.githubusercontent.com/assets/2492510/7756474/50d17996-ffb0-11e4-83f1-d4f6ff509385.png)

(original) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVHB0RmV5a0FQQkE/view?usp=sharing
(retina) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eRjY2Y1pSUk9zUGs/view?usp=sharing

.ai file for reference: https://drive.google.com/o

[2015-05-21 19:03] #800 closed

[2015-05-21 19:07] anmechung commented on #830
+1
I was just looking for the clubs curriculum, and it was not so easy to find.

[2015-05-21 20:47] toolness commented on #856
@mmmavis, regardless of which one of the above sol'ns we go with, I don't want it to block you on implementing the rest of the page. Want to just use dummy JSON data for now, and we'll replace it with the real data once we figure out exactly how we want to proceed?

[2015-05-21 23:00] toolness commented on #856
Oh wait! Yet another option is to just use the [Google Feed API](https://developers.google.com/feed/v1/devguide), at least for now. Hmmmmmm

At the very least I think it might be smart to use the same [JSON schema](https://developers.google.com/feed/v1/reference#resultJson) that the Google Feed API uses. As long as we use that, we can plug-in whatever actual implementation we want--whether it's a

[2015-05-21 23:33] mmmavis commented on #856
Cool, I like this (temp) solution.  How about I use Google Feed API for now and when we have the teach-api endpoint ready (OR dynamic server ready) we will swap to it.

[2015-05-21 23:40] toolness commented on #856
Ok, sounds good!

[2015-05-21 23:42] simonwex commented on #915
@toolness, I don't think so, but I'm not 100% sure. @k88hudson or @gvn did either of you look into it?

[2015-05-22 00:01] k88hudson commented on #915
@simonwex nope. i've used it a couple of times but don't have an account set up or anything

[2015-05-22 00:19] gvn commented on #915
I looked at it a bit, but went with SauceLabs because of our relationship with them...

[2015-05-22 11:52] toolness commented on #915
Oh cool, it looks like sauce has manual testing tools too. Can mofo devs get the account info so we can easily manually test the site?

[2015-05-22 13:50] ldecoursy opened #938 "Create a "Protecting Your Data" page on teach.mozilla.org"
Related to #862

This is for @sabrinang to create a page for the privacy module that looks like the page for the Web Lit Basics module: https://teach.mozilla.org/activities/web-lit-basics/

Main image: (can we use one of the options for the new homepage design that we didn't select?)
Copy: https://etherpad.mozilla.org/privacymodulecopy
Thumbnails: pull from http://mozilla.github.io/webmaker-curric

[2015-05-22 13:50] ldecoursy commented on #862
Dependent on #938

[2015-05-22 15:57] ldecoursy commented on #910
@thornet Instead of a fifth question, per your earlier email, do you want to add a button for someone to click "I've read the Mozilla Clubs Fact sheet" with a link to http://mozilla.github.io/learning-networks/clubs/?

[2015-05-22 16:24] gvn commented on #915
Turns out you can use Sauce free for open source projects, so I just made my own acct!

[2015-05-22 16:29] mmmavis commented on #915
Awesome!  I've only heard of BrowserStack but not SauceLabs.  Time to [sign up](https://saucelabs.com/opensauce/) an account :grin:

[2015-05-22 16:30] ldecoursy commented on #925
Current admin UI shows active/inactive, so may be an issue of just adding "pending" to the system.

[2015-05-22 16:32] toolness commented on #925
As mentioned in #937, there's an existing admin UI that some folks may not know about:

<img src="https://cloud.githubusercontent.com/assets/124687/7755551/eda84148-ffc2-11e4-9b0c-a08a617e9c63.png">

We could potentially have this be the "report" we're talking about in this issue, simply replacing the "is active" column with a "status" column that corresponds to pending, active, and denied.

[2015-05-22 16:35] toolness commented on #922
Cool. We should probably also add a link directly edit the new club in the admin UI, so that one can easily approve/deny/etc directly from the email. Won't be hard.

[2015-05-22 16:44] ldecoursy commented on #908
@sabrinang to mock up form for when someone clicks Pledge

[2015-05-22 16:45] ldecoursy commented on #908
Data to go into BSD list - @amirad do we want to add to existing list or create new one?

[2015-05-22 16:49] ldecoursy commented on #843
Here's the link to the copy/flow/links on the events page: https://teach.etherpad.mozilla.org/teachsite-eventspage

[2015-05-22 16:50] ldecoursy commented on #895
@toolness @simonwex @cadecairos meeting later today, then will update!

[2015-05-22 16:52] ldecoursy commented on #886
Per #843, we're going to remove the current Flickr thumbnails from the /events page - they'll be replaced by images for three case studies.

[2015-05-22 17:17] mmmavis commented on #798
Coming up with per-page description might take a while.  As an interim solution could we just come up with a **site description** that we can apply on all pages?  That way at least Facebook(and possible other social media) won't be pulling text from social media [from the footer](https://cloud.githubusercontent.com/assets/124687/7631150/5dea494a-fa0c-11e4-9493-e04e724aa6ac.jpg) anymore... :neutral

[2015-05-22 17:32] mmmavis commented on #886
(closing this ticket)

[2015-05-22 17:32] #886 closed

[2015-05-22 17:39] ldecoursy commented on #798
How's this?

* Site title: Mozilla Learning Network (or Mozilla Learning if needs to be shorter)
* Site description: We want more people to see themselves as citizens of the web. The Mozilla Learning Network offers programs and a global community dedicated to helping people learn the most important skills of our age: the ability to read, write and participate in the digital world.
* Thumbnail to s

[2015-05-22 17:44] mmmavis commented on #724
I can take this on.  My immediate guess is if we make the header [`role=link`](
http://www.w3.org/TR/wai-aria/roles#link) we can fix this problem.  But I will use with VoiceOver to test my hypothesis.

[2015-05-22 18:10] sabrinang commented on #798
I have some thumbnail options:
Type thumbnail
![teach_typographic_thumbnail](https://cloud.githubusercontent.com/assets/2492510/7776830/feead302-0072-11e5-8007-02e3e69ce695.png)
Screen thumbnail
![teach_screen_thumbnail](https://cloud.githubusercontent.com/assets/2492510/7776832/012f615a-0073-11e5-978d-1bc2ff2600f0.png)
You can find both here: https://drive.google.com/open?id=0B4Q8pzCpDS_efkdTSlp0

[2015-05-22 18:45] ldecoursy commented on #933
Likely to be tackled in the June 19th heartbeat given design resources.

[2015-05-22 19:27] mmmavis opened #939 "Decide what icon set we want to use"
I remember months ago I got an email about switching from Font Awesome to Ionicon for all future Mofo projects.  Is this still valid?  If so we should be consistent about our icon usages on the Teach site, both on the mockups and the build.

Question:
- We are currently using Ionicons for the Teach site, if we are going with Ionicon, are we restricted our icon choices to what @k88hudson 's repo of

[2015-05-22 19:28] mmmavis commented on #939
/cc @toolness @sabrinang @cassiemc

[2015-05-22 19:54] cassiemc commented on #933
Yes would love if @lovegushwa could lend us his expertise here! cc @edrushka

[2015-05-22 21:00] edrushka commented on #933
Chatting with Cassie on Monday about upcoming design projects. Stay tuned!

[2015-05-22 21:10] sabrinang commented on #938
I mocked up this in the format like the Web Lit basics module. Everything looks like it is working well but the introduction copy may be a bit long - @ldecoursy if we can cut down some words it will help make it less text heavy up at the top

![clubs curriculum protect your data](https://cloud.githubusercontent.com/assets/2492510/7779727/bb36005a-008b-11e5-8159-bd9f404cbd6a.png)

[2015-05-22 21:20] toolness commented on #724
It looks like all the tab content is in the DOM, so this is *theoretically* accessible for screen readers, but because we're not using any header tags or anything, it's just a massive blob of text that's hard to navigate. Using `<h4>` for `.event-detail-head` might help, as well as using `<h3>` for the `.tabulator-head` and/or `.tabulator-head-no-js` might be useful (though we should probably set

[2015-05-22 21:37] ldecoursy opened #940 "Change Twitter link in footer"
We've swapped the @Webmaker and @MozTeach Twitter handles to prepare for the Webmaker app launch.

Can we change the Twitter hyperlink in the teach.mozilla.org footer to link to twitter.com/MozTeach instead of twitter.com/Webmaker?

<Screen Shot 2015-05-22 at 5.16.44 PM.png>

We also need to update the link on the About page (bottom of page, 1st CTA)

cc @KevZawacki @toolness @mmmavis

[2015-05-22 21:38] ldecoursy commented on #938
Thanks @sabrinang! Just shortened intro copy in the etherpad.

[2015-05-22 21:39] ldecoursy commented on #938
And it looks great to me :smile:

[2015-05-22 21:49] ldecoursy commented on #930
@toolness or @jbuck who's the best person to help us with this?

[2015-05-22 22:00] thornet commented on #910
+1 to the edits above and to @ldecoursey's suggestion about the button and fact sheet.

[2015-05-22 22:03] ldecoursy commented on #910
Removed the block - ready for @mmmavis to make the changes. Let me know if you need anything else for this.

[2015-05-22 22:10] toolness opened #941 ""Logos & Assets" section of Event Resources isn't keyboard accessible"
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/724#issuecomment-104774041:

[2015-05-22 22:21] sabrinang commented on #938
![clubs curriculum protect your data update](https://cloud.githubusercontent.com/assets/2492510/7780625/1ec5b8ae-0096-11e5-8b1f-fbef4cea61b5.png)
updated with reduced text

[2015-05-22 22:21] toolness commented on #895
Ok, I talked to simon and cade and this is the current state of things:

* When we decommission the MakeAPI, people's Thimble and Goggles makes will be archived on the Web, **but they won't necessarily be visible in the gallery on Teach**. Doing this would require a data migration that we likely won't have time to do. That said, we might be able to create some kind of importer that users can opt-i

[2015-05-22 22:25] ldecoursy commented on #895
Thanks for the update. Any next steps on figuring out a publish solution for Goggles?

[2015-05-22 22:26] ldecoursy commented on #938
looks good to me!

[2015-05-22 22:26] humphd commented on #895
We talked to @jbuck today, who encouraged us to do something simple for storage, basically node+postgres and essentially create a simple static web server for your content, see https://github.com/mozilla/thimble.webmaker.org/issues/486#issuecomment-104749587.

We're designing and starting to implement this in our next heartbeat, so if you want to be involved and help us make sure we address bits y

[2015-05-22 22:29] humphd commented on #895
A thing published with Goggles is basically a single page project, which is a subset of what Thimble will need.  So if we want to combine the needs of both systems and build a single web page/site publishing app, that might solve a bunch of things all in one go.

[2015-05-22 22:51] toolness commented on #895
Ah, that's awesome humphd!!

I guess this is blocking on actual design, then, which will inform our technical solution?

[2015-05-22 22:52] toolness commented on #915
Whoaaaaaaa that is awesome, thanks gvn!!!!!!!

[2015-05-22 23:10] gvn commented on #915
![thumbs](https://cloud.githubusercontent.com/assets/206379/7781094/07e7cd5a-009d-11e5-8cac-0237dea19e4b.gif)

No probs!

[2015-05-23 11:22] #879 closed

[2015-05-25 19:03] mmmavis commented on #856
(Note)
Use this [.ai file](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVzBPXzNfb3ZfQkk/view?usp=sharing) instead if using AI CS6 to open.

[2015-05-25 22:32] sabrinang commented on #908
An idea for the Pledge to Teach icon for low bar CTA in a similar style with the other icons:
![screen shot 2015-05-25 at 3 30 56 pm](https://cloud.githubusercontent.com/assets/2492510/7802815/19f17dd6-02f3-11e5-97db-e80414fc9c95.png)
and when we promote Maker Party an idea is that we can have some banner below:
![teach_homepage_makerparty_edition-03](https://cloud.githubusercontent.com/assets/249

[2015-05-25 22:33] sabrinang commented on #908
@ldecoursy - let me know when you have copy for the pledge form and I can mockup the page

[2015-05-25 22:49] sabrinang commented on #736
![teach_homepage_makerparty_edition_ideas](https://cloud.githubusercontent.com/assets/2492510/7802887/4b4207be-02f5-11e5-81ba-6c78e0461b05.png)

Some ideas for a banner below the hero image on redpen: https://redpen.io/p/wma08a6ac2cc6555f1
NOTE: all copy are placeholders for now to show design

The design can change according to the CTA for Maker Party, where we want to direct users and correspond

[2015-05-26 00:40] sabrinang commented on #887
Initial mockup idea of Tools page under /teach-like-mozilla (green layout)
![teach like mozilla tools idea](https://cloud.githubusercontent.com/assets/2492510/7803450/ecade690-0304-11e5-9653-217491bb3a08.png)

[2015-05-26 09:05] mmmavis commented on #266
Everything worked except `webmaker.org/literacy`(without trailing slash) doesn't get redirected properly.  I've open [another PR on webmaker.org repo](https://github.com/mozilla/webmaker.org/pull/1413)

[2015-05-26 16:10] jbuck commented on #266
@mmmavis I've fixed that redirect so /literacy works correctly, but I think we should back out this redirect. @bobchao, one of our localizers working on the zh-TW version of webmaker.org, pointed out that redirecting to teach.mozilla.org means no localized content.

/cc @hannahkane @simonwex

[2015-05-26 16:54] toolness commented on #923
Does this imply that there should also be a concept of "region"? If so, is there a list of regions that the system should start out with? (e.g., India, South America, etc)

[2015-05-26 16:57] toolness commented on #939
Good question!

Also, while it hasn't been mentioned on this ticket, we are currently using [glyphicons](http://getbootstrap.com/components/#glyphicons) for [some things](https://github.com/mozilla/teach.webmaker.org/search?utf8=%E2%9C%93&q=glyphicon) too, since they come with bootstrap.

[2015-05-26 17:02] thisandagain commented on #266
Moving the web literacy / teaching resources over to the teach site is critical. Rather than delay a necessary change, I recommend posting a note to the community on Transifex to explain the transition and let them know how to engage / participate with the new site.

[2015-05-26 19:10] #941 closed

[2015-05-26 19:34] toolness commented on #806
So while it's not quite the same thing as a QA checklist, I am updating our [`CONTRIBUTING.md`](https://github.com/mozilla/teach.webmaker.org/blob/develop/CONTRIBUTING.md) with information on things that we've frequently forgotten about (accessibility, image size, etc). Still not really sure when our QA checklist will be "definitive" or "complete" though, hmm.

[2015-05-26 19:55] rossbruniges commented on #806
Very awesome!!

On Tuesday, May 26, 2015, Atul Varma <notifications@github.com> wrote:

[2015-05-26 20:13] ldecoursy commented on #830
Moving to June 5th since not covered last heartbeat

[2015-05-26 20:19] ldecoursy commented on #585
Just awaiting review from @mmmavis

[2015-05-26 20:24] ldecoursy commented on #940
Would be great to incorporate in next release (with new homepage design) by end of week.

[2015-05-26 20:34] ldecoursy commented on #923
I don't think we need "region" yet.

[2015-05-26 20:35] ldecoursy commented on #923
@toolness to compile list of assumptions for review.

[2015-05-26 20:38] sabrinang commented on #939
I'd suggest to go with the icons set that is more lightweight and that will load faster on the site for now. There has been mentions between [fontawesome](http://fontawesome.io/) or [ionicons](http://ionicons.com/) but that discussion is still up in the air. I'd say we pick and stay with one set and since we already have ionicons used on the teach website let's stick with that and avoid using anot

[2015-05-26 21:26] amirad commented on #736
The first two (which emphasis the button) and seem more 'clickable'.
All look well branded.

Copy needs a lot of work to make it feel less like a 2 week thing and more year-around. Suggestions for Paul: "Maker Party is Mozilla's global campaign to teach the web. Celebrate our year-round party with individuals and organizations from around the world who host events to teach the web."

[2015-05-26 21:36] amirad commented on #908
Can we add to Mentor BSD list. They are same category and group.

[2015-05-26 21:52] #940 closed

[2015-05-26 21:55] ldecoursy commented on #938
Think just waiting for @sabrinang to upload files here, then can add to #862 and #830

[2015-05-26 21:57] ldecoursy commented on #908
@amirad We'll want a separate autoresponder, or maybe just need to update the existing one? The transactional email here will ask people to complete the survey.

[2015-05-26 21:58] amirad commented on #908
We can update the existing text! Don't see why not.

[2015-05-26 22:13] HPaulJohnson commented on #736
+1 to the first two which have clearest CTA's, in particular I like the first one.

RE: copy, @KevZawacki and I can come up with something that does a better job of conveying year-round. I'd like to keep it very short and leave the longer explanation for the MP page (/events) when a user clicks through.

[2015-05-26 22:15] ldecoursy commented on #908
@amirad Will you have time to share a draft of the transactional email? Here's a link to the draft survey that we'll want to be sure is part of it: http://bit.ly/1F4jomG

Draft copy is here for that form that pops-up when someone clicks "Pledge to teach" on the homepage: https://etherpad.mozilla.org/pledgecopy

Thoughts? @chrislarry33 @thornet @amirad @HPaulJohnson

[2015-05-26 22:17] ldecoursy commented on #887
This looks great to me!

Maybe we can use one of @LauraReynal's photos from a recent research trip at the top (instead of an icon)?

@hannahkane @chrislarry33 @HPaulJohnson Want to review (copy and layout)?

[2015-05-26 22:19] ldecoursy commented on #858
@hannahkane Thinking we should add this to the June 19th milestone? Updated fact sheet is here: http://mozilla.github.io/learning-networks/clubs/

[2015-05-26 22:20] ldecoursy commented on #843
@HPaulJohnson Can we get copy review on the link above? This is new copy for the /events page in prep for Maker Party.

[2015-05-26 22:21] ldecoursy commented on #739
No longer planning to have an Events form, closing this ticket.

[2015-05-26 22:21] #739 closed

[2015-05-26 22:24] ldecoursy commented on #736
I also +1 the first one, although wonder if another color for the background might be better (makes the site above the fold seem very blue).

@HPaulJohnson @KevZawacki copy for the /events page is in #843 and ready for your eyes/approval ;)

[2015-05-26 22:34] toolness commented on #893
Woo! In 054477e77fe044cd9bd160c3ac5e53565b8629b0 I also made it so the release notes show up in the tag message, which means that they show up on the [Releases](https://github.com/mozilla/teach.webmaker.org/releases) page. The first release to feature this is [v0.0.6](https://github.com/mozilla/teach.webmaker.org/releases/tag/v0.0.6).

[2015-05-26 23:17] KevZawacki commented on #736
I like the first two, too. Especially the second -- the button is prominent and the coloring draws the eye.

+1 to Amira's copy, with small tweaks:
"Maker Party is Mozilla's global campaign to teach the web. Participate in our year-round party by hosting or attending events to teach, build and share amazing things online."

[2015-05-27 02:24] chrislarry33 commented on #736
#1 WFM

[2015-05-27 02:26] chrislarry33 commented on #736
I am good with the copy trusting @KevZawacki as final reviewer

[2015-05-27 02:32] chrislarry33 commented on #908
Not sure what exactly I am commenting on here. Lets get program review feedback and then review. I do really like the progress we have made here.

[2015-05-27 05:01] mmmavis commented on #800
@sabrinang could you help export the svgs that are used in hero unit button **hover state**?  Thanks!

[2015-05-27 05:02] mmmavis commented on #856
@sabrinang as mentioned in https://github.com/mozilla/teach.webmaker.org/issues/800#issuecomment-105756502, please help export some svgs for the hero unit buttons!  :wink:

[2015-05-27 05:22] mmmavis commented on #856
Actually, if we are changing icon color on hover state(yellow button on screencap below), we can probably use CSS sprite tricks to achieve that.

@sabrinang ,@toolness thoughts?

[2015-05-27 06:02] sabrinang commented on #856
![hostanevent-hover](https://cloud.githubusercontent.com/assets/2492510/7829807/16cde08c-03fb-11e5-87a4-43fa13417c1f.png)
![hostanevent](https://cloud.githubusercontent.com/assets/2492510/7829806/16cc6c66-03fb-11e5-9f81-510e83f1d571.png)
![startamozillaclub-hover](https://cloud.githubusercontent.com/assets/2492510/7829810/16cfe9e0-03fb-11e5-9ca0-94f9e447f7c8.png)
![startamozillaclub](https://cloud

[2015-05-27 06:29] sabrinang commented on #938
**Design (.sketch) File**
https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eQlFwY0VmMUsycDQ/view?usp=sharing

**Photo**
![protectyourdata-photo](https://cloud.githubusercontent.com/assets/2492510/7829924/1e78e8b2-03fc-11e5-9c83-5bd933942049.png)
(original) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eOUlCbkZxR3hTQU0/view?usp=sharing
(retina) https://drive.google.com/a/mozill

[2015-05-27 06:30] #938 closed

[2015-05-27 06:55] mmmavis opened #946 "Optimize hero unit images"
As mentioned in https://github.com/mozilla/teach.webmaker.org/pull/943#issuecomment-105556993

[2015-05-27 07:06] sabrinang commented on #908
Pledge to Teach CTA is clicked form appears (similar style to Add your Club)
![pledgetoteach-example](https://cloud.githubusercontent.com/assets/2492510/7830596/bd41fe0a-0403-11e5-8558-b6c587def87a.png)

Redpen: https://redpen.io/wtedad357e37cf2190

[2015-05-27 07:21] sabrinang commented on #887
**Photo Option**
![toolstoteach-photo](https://cloud.githubusercontent.com/assets/2492510/7830902/3c23ab5e-0406-11e5-81be-9496ab1497f5.png)
(original) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eSHRJYnJaYnhYVjQ/view?usp=sharing
(retina) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ecm1zYWFEaFc0RzA/view?usp=sharing

![tools to teach mockup](https://cloud.githubuserconten

[2015-05-27 09:30] sabrinang commented on #736
Updated mockups with new copy
![teach_homepage_makerparty_edition_ideas2](https://cloud.githubusercontent.com/assets/2492510/7832985/0309ec86-0418-11e5-88ac-61bb8e6d95fb.png)

[2015-05-27 11:30] toolness commented on #911
I'm noticing that the flow described on the etherpad seems a bit intricate, and someone left the following note there:

Given this, we'll want to find a good balance between writing up new code/UI for the changes versus doing things manually. I suspect there are just a few relatively minor tweaks we can make to the system that will allow the Teach team and RCs to freely iterate on an approval flow

[2015-05-27 11:40] toolness commented on #911
Given the fact that clubs will be managed by different individuals with different roles at different times, and that the approval flow will likely involve lots of different phases, I'm wondering if we should add a "staff notes" field to the Club model.

This would be a field that is only visible to staff users of the [admin UI](https://github.com/mozilla/teach.webmaker.org/issues/925#issuecomment-

[2015-05-27 13:04] #818 closed

[2015-05-27 13:10] ldecoursy commented on #736
Thanks @sabrinang! My vote is still for # 1

[2015-05-27 13:21] ldecoursy commented on #887
In general we should be adding more photos that are less North American-focused. How about the group shot from page 46 here: https://webmaker-dist.s3.amazonaws.com/reports/kenya.pdf or page 35 here: https://webmaker-dist.s3.amazonaws.com/reports/india.pdf

[2015-05-27 14:40] amirad commented on #736
#1

[2015-05-27 16:54] hannahkane commented on #921
release this initially with default state approved; later, once front-end work is done, change default state to pending

[2015-05-27 16:57] hannahkane commented on #798
Priority for this heartbeat is just to update the description with Lainie's copy in the ticket above. I'll file follow-up tickets for the other pieces.

[2015-05-27 17:07] toolness commented on #806
Thanks! I also just added notes about how to test for browsers that don't support HTML5 form validation in 69f398ba22861ed2a4e525a9257743a9bcdda070.

[2015-05-27 17:14] hannahkane commented on #830
This is the least urgent design ticket in this heartbeat.

[2015-05-27 18:54] sabrinang commented on #887
**More photo options**

![toolsgroup-photo](https://cloud.githubusercontent.com/assets/2492510/7844632/b42c25d0-0466-11e5-8f7b-36a449063561.png)
![screen shot 2015-05-27 at 11 37 25 am](https://cloud.githubusercontent.com/assets/2492510/7844635/ba121b4e-0466-11e5-8408-4d112f3f318d.png)
(original) https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eUmNON24tX2ZTQlU/view?usp=sharing
(retina) h

[2015-05-27 19:16] ldecoursy commented on #736
Re: copy, I think we could stand to shorten it a bit (very helpful to see in the mock-up). Also think we want to have the dates listed here to signify timeliness/urgency. The "year-round" messaging will be on the updated /events page.

Suggestion:
"July 15-31 Participate in Mozilla's global campaign to teach the web."

[2015-05-27 19:28] hannahkane commented on #933
Can we do just a wordmark, rather than a logo with an icon/illustration?

[2015-05-27 19:33] flukeout commented on #887
I think the photo should be ditched or treated differently on this page. It feels too similar to the tool icons below, which I'm guessing are clickable links to the respective tool.

[2015-05-27 19:35] cassiemc commented on #887
Tending to agree with @flukeout maybe a color behind the banner could help separate the functionality, though. Would love some thoughts from @lovegushwa on the actual photo treatment, we were just geeking out about Lightroom. These seem a bit yellow and grainy to me but maybe just the export?

[2015-05-27 19:58] hannahkane commented on #736
+1 to both of Lainie's points above.

Also, just to clarify - this banner will no longer appear on the site after July 31st. It's meant to promote the two-week campaign, not to be a permanent CTA that competes with the other main CTAs.

[2015-05-27 21:27] hannahkane commented on #923
Didn't mean to suggest the need for regions just yet.

Also, to clarify, right now there may not be any significant difference between a staff user type and a regional coordinator user type—they'll both have Clubs status editing privileges. I'm not sure if staff users have any additional privileges/functionality that we need to block RCs from having. I'm mostly just predicting that in the future w

[2015-05-27 21:31] hannahkane commented on #911
@toolness - does this feel blocked anymore? I think we've removed all of the blockers.

Re: staff notes field—as we talked about at today's stand-up, I'm hoping that, initially, all of the Club management (assigning RCs to clubs, tracking phone calls and emails, scheduling follow-up tasks) will happen in a spreadsheet so that staff and RCs can tweak the process as much as they need without develop

[2015-05-27 21:38] sabrinang commented on #843
WIP - arranging content and copy tbd
![events page inital mp mockup](https://cloud.githubusercontent.com/assets/2492510/7848124/c2a79b96-047d-11e5-8b25-e30f943a3717.png)

[2015-05-27 21:40] hannahkane commented on #908
I like using the same modal as on the Clubs page, but seeing it in context it's clear the copy is too long. I also think it should be more pledge-like. As in, "I pledge to do X, Y, and Z."

My suggestion:
Because the web is a global public resource that's integral to modern life, I pledge to:
 * teach others digital literacy skills through hands-on making
 * help people move beyond simply consumin

[2015-05-27 21:45] hannahkane commented on #895
A little confused about the next step for this. During Teach stand-up, we discussed UX as the next step. During the Thimble kick-off, though, I think I heard @humphd say that we might not be ready for that yet.

Anyone clear on what the next step ought to be? Seems to me we need to prioritize this in order to deliver in advance of the June 19th switcheroo.

cc @humphd @simonwex @toolness

[2015-05-27 21:46] chrislarry33 commented on #908
Pro streamlined copy for sure

[2015-05-27 21:47] chrislarry33 commented on #908
Will it be possible to add in a function that lets people share their pledge via social media? Generate a tweet at least? I think that would/should be a key feature

[2015-05-27 21:52] hannahkane commented on #887
+1 to no photo.

The webmaker description seems to be missing a word or two at the end.

Also, I realize I helped draft this copy, but looking at it now, I don't think we're doing enough to distinguish between the three tools. If I wasn't familiar with them, I don't think I'd understand what the difference is between them. Not sure how to solve for that—maybe offer specific audiences ("great for b

[2015-05-27 21:57] hannahkane commented on #908
I like that idea. We haven't yet seen what happens after the user clicks the "Pledge Now" button. User should probably receive immediate feedback—e.g. 'Thanks for pledging to teach the web!" That seems like a good place to offer a tweet option as well. Tweet might read, "I just pledged to #TeachTheWeb! [link to teach.mozilla.org]"

[2015-05-27 22:02] lovegushwa commented on #887
@cassiemc what about something like this? I think playing up green color creates a bit more association with the overarching "teach like Mozilla" category.
![tools-image-9](https://cloud.githubusercontent.com/assets/12228435/7848380/1d172fea-0480-11e5-9ae6-77b72403418a.jpg)

You could also change the intro copy to green (I'm not sure if this would be a problematic or inconsistent style.)

![tools-

[2015-05-27 22:14] toolness commented on #911
Right on, sounds good hannah! This is indeed not blocked anymore IMO, I'll remove the label.

[2015-05-27 22:35] hannahkane commented on #737
@thisandagain / @xmatthewx  - can you provide some guidance on what the promotional opportunities will be on Webmaker after June 19th? Wondering if we can promote Maker Party there. Could temporarily replace the Teach promotion though the end of July.

[2015-05-27 22:37] thisandagain commented on #737
The existing landing page will be replaced completely, but I'm 100% open for continuing to provide a space for promotions. I don't have a spec for what that would look like yet, but we could by the end of this heartbeat. Work for you @xmatthewx ?

[2015-05-27 22:39] hannahkane commented on #266
agreed.

Will file a ticket to port the Literacy page translations specifically, and will continue the ongoing discussion of globalization happening in #916.

Closing this for now.

[2015-05-27 22:39] #266 closed

[2015-05-27 22:43] hannahkane opened #947 "Port Literacy page translations"
The Web Literacy page has been translated previously, so we need to port those translations to the new Teach design.

 - [ ] Determine mechanism for doing this technically
 - [ ] Identify if any changes were made to the copy during the transition - i.e. is there a delta that needs to be translated in every language? (Update: yes, [see below](https://github.com/mozilla/teach.webmaker.org/issues/947

[2015-05-27 22:49] hannahkane commented on #933
@HPaulJohnson @cassiemc ^

[2015-05-27 23:00] toolness commented on #895
Hmm, I meant that some low-fidelity wireframing could be very useful here for obtaining more detailed end-user requirements. In a similar way that sabrina's mock-ups for the Activities Page redesign (can't find the actual mockups, we looked at them in our stand though) are helping us figure out exactly what kind of API we'll need for the back-end in order to power search, and in a similar way that

[2015-05-27 23:16] hannahkane commented on #843
Thanks, @sabrinang, for sharing the WIP. You've done a great job already, but it's helping me to see that this page is bonkers. :) We're trying to put too much stuff on one page.

My recommendations:
 * The two consecutive blocks of text under the hero are too much. Suggest removing the first one entirely.
 * Between now and the end of the campaign, the primary CTA needs to be "I'll host a Maker P

[2015-05-28 01:44] jgmac1106 commented on #895
One of the problems with currently with Goggles, is the inability to edit
previously published makes. I often use Goggles in my class and students do
not finish. They have to publish and then remix the remix. This makes the
URL really long. Thimble and Popcorn (cue taps) had the edit pencil.

Sounds like this is a really complicated issue but if you could edit
something previously published that w

[2015-05-28 02:51] HPaulJohnson commented on #933
+1 to just doing a wordmark for now.

[2015-05-28 05:54] mmmavis commented on #856
hey @sabrinang if you could export the files into [CSS sprite](https://css-tricks.com/css-sprites/) format that'llll be raddddd :dancer: .  (i.e., pair up the svgs and stitch them together)

[2015-05-28 10:56] toolness commented on #856
Hmmmmm, since one version of the icons is essentially just desaturated, another option is [`filter: grayscale(100%)`](https://developer.mozilla.org/en-US/docs/Web/CSS/filter#grayscale%28%29). It (or at least its vendor-prefixed variants) actually appears to have [decent browser support](http://caniuse.com/#feat=css-filters).

[2015-05-28 11:06] toolness opened #948 "Ensure the production site's database is regularly backed up"
Shouldn't be hard, we can just use [Heroku PGBackups](https://devcenter.heroku.com/articles/heroku-postgres-backups). Hooray for Heroku making this ridiculously easy.

[2015-05-28 11:10] toolness commented on #923
It's largely an issue of [principle of least privilege](http://en.wikipedia.org/wiki/Principle_of_least_privilege). Right now staff are actually treated as admin users in Django terms, which actually gives them a ridiculous amount of power--enough to cause all sorts of havoc if that power fell into the wrong hands, or if some button were accidentally clicked. Which, um, reminds me that we need to

[2015-05-28 11:11] toolness opened #949 "Teach staff shouldn't be admins on Teach API, just staff."
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/923#issuecomment-106278983:

[2015-05-28 11:15] toolness commented on #947
It seems like that third checkbox, "Provide UX or browser locale detection to serve up the right translation to users", should ultimately be global to the whole site, i.e. the weblit page shouldn't have a separate "choose your language" selector from the rest of the site. Er, unless it might be the case that the weblitmap is actually localized in more languages than the rest of the site, in which

[2015-05-28 11:22] toolness commented on #923
Also, in keeping with POLA, I recommend having RC's have minimal access to user records. If they have the same privileges as staff, they'll be able to see every email address of every webmaker user who's ever logged into the teach site. Which I guess might be OK if we really trust them, and also trust them to follow good security practices (e.g. strong passwords) to ensure that their accounts don'

[2015-05-28 14:06] xmatthewx commented on #737
Sure thing. https://github.com/mozilla/webmaker-desktop/issues/68

@hannahkane - is there a folder with prior Maker Party artwork you can share?

[2015-05-28 14:19] chrislarry33 commented on #737
@thisandagain awsm, much appreciative of that openness @amirad can you connect @xmatthewx with MP photos?

[2015-05-28 14:29] ldecoursy commented on #737
Brand palette is here: https://teach.mozilla.org/events/resources/#logo-assets @sabrinang also has the original files.

[2015-05-28 14:49] toolness commented on #948
Ok, we are now doing daily backups on our production database.

[2015-05-28 14:49] #948 closed

[2015-05-28 14:57] amirad commented on #737
Also, here's the layout and design for banners on the teach site #736

[2015-05-28 15:01] toolness opened #951 "Add a static og:description meta tag to all generated pages"
This is a tiny subset of #798 that only addresses the most glaring flaw in Facebook's current [scraping](https://github.com/mozilla/teach.webmaker.org/issues/798#issuecomment-102010004) of our site:

<img src="https://cloud.githubusercontent.com/assets/124687/7631150/5dea494a-fa0c-11e4-9493-e04e724aa6ac.jpg">

As can be seen in the screenshot above, everything actually looks fairly decent, but the

[2015-05-28 15:03] toolness commented on #798
Ok, to make this more clear, I've filed #951 to address just the og:description tag (super easy). We can address the other open graph tags later.

[2015-05-28 15:41] toolness commented on #921
Er, I have a question...

If a club's status is already "approved" or "denied" and a user makes an edit to it, should the status be reset to "pending", or should it remain unchanged? Or should it be dependent on the existing status, e.g. denied clubs get set to "pending" after edits are made but approved clubs remain approved?

[2015-05-28 15:42] ldecoursy commented on #887
"literacies" is the final word that's missing in the Webmaker description.

I think the Thimble description is clear.

Could change Goggles to:  This code inspector lets you view and remix the code of your favorite web pages. Swap images, change text, delete ads, and more — then publish your remix on the Web.

@HPaulJohnson is there a description for Webmaker that specifies it currently as a mobil

[2015-05-28 15:44] toolness commented on #921
Also, is my [comment above](https://github.com/mozilla/teach.webmaker.org/issues/921#issuecomment-103015139) an OK assumption to have? Here it is for clarity:

[2015-05-28 16:12] bobchao commented on #266
Hi

It will be even better if we do this (the announcement) before the change :) At lease I can back up the HTML file with a single Save As... instead of clone the code and build an old website myself.

Thanks

[2015-05-28 16:46] ldecoursy commented on #843
Agree with your comments above.

* Would it make sense to have "Read, Write, Participate" activities laid out horizontally on the page? I don't think the lo-fi alternatives need thumbnails or descriptions.
* Per a previous comment in this ticket, we can lose the three flickr thumbnails at the bottom of the page, since we have the case studies.
* Can we just have two case studies instead of three?

[2015-05-28 16:48] flukeout commented on #909
So sad
![image](https://cloud.githubusercontent.com/assets/25212/7865597/c20ebe48-051e-11e5-9e15-f3e404a19c5a.png)

[2015-05-28 17:24] hannahkane commented on #736
ping @HPaulJohnson @KevZawacki and @amirad re: Lainie's copy suggestion above. That work for you guys?

[2015-05-28 17:27] KevZawacki commented on #736
Yep, +1!

[2015-05-28 18:07] toolness commented on #921
Update from today's stand:

* Having a user access their pending or denied club from the map/list view is ok for now, but we'll eventually want some sort of "admin panel" UX for users (not to be confused w/ the admin panel for staff on the teach-api site).
* We're not assuming that our vetted users are malicious, so if an approved club has been edited, it stays approved.
* If a denied club is edit

[2015-05-28 18:43] hannahkane commented on #947
Agreed that the ultimate solution should apply to the site globally. If we localize sections of the site in phases, we'll need an interim solution, though, right?

[2015-05-28 18:44] hannahkane commented on #923
Didn't realize staff was same as Django admin. Def good to file #949. I would define RC privs as limited to managing Clubs, only, not users.

[2015-05-28 18:46] amirad commented on #869
@sabrinang - Firefox team just told us they need specific sizes to share these. Any way we can accommodate? cc: @KevZawacki

Facebook (FB) 1200x627 px. Some graphics need to have <20% text to be boosted.
Twitter (TW) graphics 1760x800 px.

[2015-05-28 18:52] hannahkane commented on #895
@humphd - do you agree that getting some lo-fi wireframes would be a good next step, or did you have a different approach in mind?

@jgmac1106 - thanks for the input! Would you be up for filing an issue in https://github.com/mozilla/thimble.webmaker.org? That's where we're tracking Thimble-specific work (tracking the gallery here, because it's on the Teach site).

[2015-05-28 20:04] amirad commented on #736
Yes

[2015-05-28 20:08] HPaulJohnson commented on #736
yes!

[2015-05-28 20:10] amirad commented on #843
Agree with comments above.
•Do we need flickr roll? Can we just say see more event photo's in our flickr gallery since we are already showing pictures with case studies? I had assumed that's what we were doing.
•Agree to lay out activities horizontally and not have thumbnails for the lo-fi options. We can make that section a lot tighter (i.e. no read/write/participate banners either. Just three im

[2015-05-28 21:01] sabrinang commented on #869
@amirad Can you explain more what <20% text is? I am not quite sure what % are the current MP social share graphics are at to compare. If there is copy you suggest that would be really helpful.

[2015-05-28 22:04] hannahkane commented on #843
I feel like there might be some key advantages to putting the activities on a separate page (using the existing template for activity pages - see Web Lit Basics) and prominently linking to it from this page. 1) we'd have a specific page to link to in the follow-up email, 2) they're good activities! We should link to them from the /activities page, too., and 3) gives this page some breathing room.

[2015-05-28 22:46] mmmavis opened #953 "Add unit test for the new homepage"
We should add unit tests for the new homepage as they were not included as part of [this homepage implementation PR](https://github.com/mozilla/teach.webmaker.org/pull/952).

[2015-05-28 23:52] toolness opened #955 "Timestamp for latest blog post says "invalid date" until posts are loaded"
I was visiting the homepage and it was taking a little while to load. The timestamp for the latest blog post is supposed to look like this:

![2015-05-28_19-47-40](https://cloud.githubusercontent.com/assets/124687/7873635/cb9e5820-0572-11e5-9b1e-31ede7625e60.jpg)

However, because the posts weren't yet retrieved, it looked like this:

![2015-05-28_19-47-00](https://cloud.githubusercontent.com/asse

[2015-05-28 23:53] hannahkane opened #956 "Copy change on homepage and /about"
We need to be consistent with our usage of "The Mozilla Learning Network" as opposed to "Mozilla Learning Networks".

On homepage:
 * Second sentence of lead paragraph should read "The Mozilla Learning Network offers programs..."

On About page:
 * Header: "About the Mozilla Learning Network"
 * Intro paragraph: "We want more people to see themselves as citizens of the web. The Mozilla Learning Ne

[2015-05-29 00:16] hannahkane opened #957 "Draft email copy for after user signs the pledge"
* Thank them for taking the pledge
* Provide a next step (survey for now)

[2015-05-29 00:17] hannahkane commented on #957
Sorry, @ldecoursy, I totally missed this. We don't have this email copy yet, do we? Can you take a crack at it?

[2015-05-29 00:21] hannahkane commented on #957
also cc @amirad

[2015-05-29 01:47] davidascher opened #958 "mobile view just shows the back of a head"
which isn't that inviting:

![2015-05-29 01 46 19](https://cloud.githubusercontent.com/assets/51278/7874833/ec744d7e-0569-11e5-9ada-dd49d67274bb.png)

[2015-05-29 06:10] mmmavis opened #959 "woff2 files are not uploaded to S3"
https://teach.mozilla.org/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2 is now a 404

![screen shot 2015-05-28 at 11 09 22 pm](https://cloud.githubusercontent.com/assets/2896608/7877337/9e52bfb6-058e-11e5-9e47-3ce241f9276e.png)

[2015-05-29 10:04] toolness commented on #922
Ok, I've actually changed the email a bit to look like this:

[code]

Does that look ok?

[2015-05-29 10:28] toolness commented on #921
Ok, I've implemented the back-end logic, as it's been described so far, in https://github.com/mozilla/teach-api/pull/16.

Some notes:
* We're currently *only* emailing anyone (the club owner and teach staff) when the club has been created. We're not emailing the club owner when their club has been approved or denied through the admin UI. If this is intentional, I assume it's because the teach staf

[2015-05-29 11:24] toolness commented on #959
ruh-roh, i'm confused as to why our [link checker](https://github.com/mozilla/teach.webmaker.org/pull/809) didn't notice this... huh.

[2015-05-29 11:33] toolness commented on #921
Oops scratch that, I still have to implement "Change success message copy from "We've added your Club!" to "Thanks for your submission! We'll review it and be in touch shortly." in the back-end, as mentioned in #920. Will do that ASAP.

[2015-05-29 11:36] toolness commented on #921
Whoops, nevermind, that message appears on the front-end, not in the transactional email. I should note, though, that the transactional email sent to the club creator is *not* currently changed... I guess its copy still makes sense as part of the new approval flow, though?

[code]

[2015-05-29 11:40] toolness commented on #921
In regards to [my above comment](https://github.com/mozilla/teach.webmaker.org/issues/921#issuecomment-106767432), I think landing the back-end changes on staging *before* the front-end changes is actually the best option, even though it will temporarily result in weird shadowbanny behavior. This is because when mavis reviews my PRs for the front-end changes, she should be able to easily test them

[2015-05-29 11:48] toolness commented on #925
Just an update: in https://github.com/mozilla/teach-api/pull/16, I've updated the admin UI's club list view so it does show the current club approval status:

![2015-05-29_7-42-56](https://cloud.githubusercontent.com/assets/124687/7881933/7b5f85aa-05d6-11e5-8cc8-df118b0437ee.jpg)

Clicking on the "Status" header also allows staff to sort the entries by status.

Note that I haven't actually coalesc

[2015-05-29 11:50] toolness commented on #925
Also, we'll eventually have an automated process (run e.g. on a daily or weekly basis) that permanently deletes clubs that have been marked as inactive for over a week, so there won't be too many inactive clubs lying around the system.

[2015-05-29 11:55] toolness commented on #924
At this point this is basically done in https://github.com/mozilla/teach-api/pull/16, with the addition of the following UI in the admin view for clubs:

![2015-05-29_7-53-25](https://cloud.githubusercontent.com/assets/124687/7882070/ddec9ea0-05d7-11e5-9b03-511d6f6feca1.jpg)

As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/921#issuecomment-106767432, though, there is currently

[2015-05-29 11:59] toolness commented on #920
I should also note that we'll need to provide indication about the pending or denied status of a club in the club list/map view. I believe that, along with this issue's original description, are the only changes required for teach.mozlla.org to support the new approval flow. (All the other changes take place in the back-end/teach-api.)

[2015-05-29 13:45] toolness commented on #920
Err and #910 is sorta related to this too--I guess ideally it should land before any of this approval flow stuff, since it doesn't require the approval flow, but helps set user expectations for the approval flow once we land it.

[2015-05-29 14:08] toolness commented on #910
Ok, I'm working on this in #960. I should note, though, that the placeholder text provided for the "name" field is quite long and will likely get cut off on mobile devices:

![2015-05-29_10-04-27](https://cloud.githubusercontent.com/assets/124687/7884203/263ba662-05ea-11e5-94f1-31cac2c62b95.jpg)

As such, I recommend removing the words "community group", but it's up to you.

Also, I capitalized th

[2015-05-29 14:09] toolness commented on #910
Note also that the screenshot in my [previous comment](https://github.com/mozilla/teach.webmaker.org/issues/910#issuecomment-106817244) doesn't yet have the checkbox linking to the fact sheet because I haven't added it yet. Two questions about that, though:

* I assume you want it to be a standard checkbox that defaults to being unchecked, right?
* And it's required that the user check it in order

[2015-05-29 14:15] ldecoursy commented on #910
Can we change to "Name of organization, school, group"?

Yes on capitalizing Web :)

I vote yes on both bullets above - that they need to check the box (in hopes they read the fact sheet and understand what Clubs are--that they're not necessarily equivalent to Mozilla Communities) and that they need to check that before submitting the form.

[2015-05-29 14:53] toolness commented on #910
Ok, done! This is what it looks like now:

![2015-05-29_10-50-30](https://cloud.githubusercontent.com/assets/124687/7885210/90d60b42-05f0-11e5-840d-a36f1b1f2db0.jpg)

I should also note that the checkbox *only* appears on the "Add Club" form, and *not* on the "Change Club" form.

As suggested above and +1'd by lainie, the checkbox defaults to unchecked, and requires the user to check it before the

[2015-05-29 14:58] ldecoursey commented on #910
I don't know what this is....I am Louann DeCoursey not Lainee .....please
delete my email.
On May 29, 2015 8:53 AM, "Atul Varma" <notifications@github.com> wrote:

[2015-05-29 16:21] toolness commented on #910
Sorry about that Louann! I think we mispelled Lainie's username in an [earlier comment](https://github.com/mozilla/teach.webmaker.org/issues/910#issuecomment-104785684), which accidentally brought you into our conversation.

Unfortunately I don't think there's any way for me to stop you from receiving notifications in this thread, but you can unsubscribe yourself by visiting https://github.com/moz

[2015-05-29 16:32] hannahkane commented on #922
This looks good. One tiny thing that might help the manual process we'll be using temporarily—could you actually include the email as a fifth field in the list? That would make copy/paste to the spreadsheet easier.

[2015-05-29 16:38] hannahkane commented on #925
I get the logic, but I do worry that it might be confusing, especially once we open this flow up to volunteer Regional Coordinators. @toolness - want to file a ticket for the coalescing and we can put it into a milestone whenever it begins to feel important?

[2015-05-29 16:39] hannahkane commented on #924
I think this is fine for this period where we're piloting the process. We'll add more automation as the process firms up!

[2015-05-29 16:43] toolness commented on #922
Ah sure, just added that in https://github.com/toolness/teach-api/commit/8ed32b2477b24ef918f68eb8374ae5f6416a0d4d.

[2015-05-29 16:50] toolness commented on #925
Sure, sounds good! Just filed it as https://github.com/mozilla/teach-api/issues/17... Sorry it is in the teach-api repository, but it really feels like it belongs there... I can move it back here if you want or we can have a "tracking" issue for it here, or something.

[2015-05-29 16:52] cassiemc commented on #939
My preference is to stick with fontawesome until we have clearly analyzed the pros/cons of switching. @gvn had some good input and arguments for fontawesome when we first raised the discussion. Not sure if @vazquez has further input.

[2015-05-29 16:59] ldecoursy commented on #908
Love the streamlined copy, and the tweet.

Options for immediate feedback (so not too redundant with the tweet copy right below it)
* "Thanks for your commitment to keeping the web open, accessible and ours."
* "Thanks for your commitment to helping more people see themselves as citizens of the web."

[2015-05-29 16:59] hannahkane commented on #925
Good to keep it there. Thanks!

[2015-05-29 17:08] amirad commented on #869
I'm not sure @KevZawacki think you can bug MJ while you're with her right now to see what that means

[2015-05-29 17:15] amirad commented on #843
@HPaulJohnson @KevZawacki and I just met and think having them on their own dedicated page would help for marketing purposes.

[2015-05-29 18:01] hannahkane commented on #958
This is actually a more generic problem, on all pages. Closing #538 which this dupes.

[2015-05-29 18:01] hannahkane commented on #538
Duped by #958

[2015-05-29 18:01] #538 closed

[2015-05-29 18:11] hannahkane commented on #908
I like the first one.

[2015-05-29 18:14] hannahkane commented on #910
Looks great!

[2015-05-29 18:22] hannahkane commented on #921
Thanks, @toolness. As discussed just now in chat - yes, let's release the back end to staging, and stick with no auto-emails ('cept the initial one) for now. This allows us to iterate on the process (and the email copy!) until we get it right.

[2015-05-29 19:18] toolness commented on #921
Ok, just pushed the back end to staging!

[2015-05-29 19:22] #910 closed

[2015-05-29 20:55] #841 closed

[2015-05-29 20:58] panaggio commented on #916
I'm going to localize part of this material to pt-br and put it online in 4 weeks, because I'll need it in my language to be able to use them with teens. It seems we're not going to have the l10n infra set up in time for that.

Is there any known way that I can do this in such a way that it's easier to import my localizations later? If not, I'll just localize in the easiest way possible for me and

[2015-05-29 21:31] amirad commented on #916
Panaggggiooooooooo. What parts of the material or info are you going to localize specifically? Might help answer your quesiton! @panaggio

[2015-05-29 21:42] panaggio commented on #916
For starters, it'd be at least:

* https://teach.mozilla.org/activities/web-lit-basics/
* http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html
* http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-pingkong.html
* http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html
* http://mozilla.github.io/webmaker-cu

[2015-05-29 21:45] sabrinang commented on #908
![pledgetoteach-modal-updated](https://cloud.githubusercontent.com/assets/2492510/7893187/19b2974a-0610-11e5-9c8e-324876196145.png)
![pledgetoteach-modal-updated-post](https://cloud.githubusercontent.com/assets/2492510/7893188/1ad021b0-0610-11e5-8d13-3a62503b93e4.png)
Copy suggestions for the title of the post pledge modal and copy that goes above the social buttons?

[2015-05-29 21:52] hannahkane commented on #908
Looking good! Can the bullets be indented a bit, so they're not outside the paragraph text?

Copy suggestion for title of post pledge modal: "Pledge to Teach the Web"
I like the copy you provided for above the social buttons

[2015-05-29 21:53] ldecoursy commented on #908
+1 I think instead of saying "thanks" twice the copy in the body could say "We appreciate your commitment to keeping the web open, accessible and ours."

[2015-05-29 21:55] hannahkane commented on #908
Ah, just realized I misunderstood. My copy suggestion was for the *pledge model* not the post pledge modal. I think the post-pledge modal title could just be, "Thanks for your pledge!"

Agree with Lainie's suggestion above.

[2015-05-29 22:02] amirad commented on #916
Yes Yes Yes. That's wonderful curriculum to start remixing and will be super helpful to other Portuguese speaking clubbers. Can you fork the pages, translate and then share the new links? I think that's best for importing them later and even linking to them now. Right @ldecoursy @hannahkane

[2015-05-29 22:02] KevZawacki commented on #869
Sure, on it.

[2015-05-29 22:48] hannahkane commented on #916
Yes! Those github pages can be forked and, once they exist, we can link to them from https://teach.mozilla.org/activities/web-lit-basics/. We don't yet have a process for translating that page of the site. Perhaps @toolness can advise on the best method for getting that going?

It will be fantastic to have these resources available in pt-br! Thanks, @panaggio!

[2015-05-29 23:22] toolness commented on #916
Ah, awesome!!!!! @panaggio, I'd really really like to use your localization needs as a "forcing function" to get my act together here. I am going to noodle on this and get back to you soon.

[2015-05-30 01:44] panaggio commented on #916
@toolness cool. Let me know if you want to discuss or if you want any help. Maybe I can help in something else besides the localization to pt-br.

@amirad @hannahkane it looks like a really good plan b if I need to translate anything before this is set up. I'll go for it and adapt the localization to plan a if it needs to be that way (it'd be really easy to import my localizations: the same thing

[2015-05-30 17:37] HPaulJohnson commented on #843
A little late to this but +1 to all of Hannah's suggestions above. As @amirad mentioned I think we can eliminate much of the information density by moving activities to dedicated pages and it will help when we want to link to specific ones over the course of our campaign communications.

For main CTA we should put the urgency front and center. I suggest:
Host a Maker Party
Join the global celebrat

[2015-06-01 08:21] LauraHilliger opened #961 "redirect teach.webmaker.org to teach.mozilla.org"
just got sent a journal article that points readers to teach.webmaker.org, which doesn't exist. Would be good to redirect.

[2015-06-01 10:20] toolness commented on #961
Hey this is a dupe of #778!! I'll reopen that.

[2015-06-01 10:20] #961 closed

[2015-06-01 10:22] toolness commented on #778
@LauraHilliger mentioned on #961:

So apparently even folks who know nothing about this repository now think it's teach.webmaker.org! Can we bust a redirect and NEVER EVER RENAME THIS REPOSITORY EVER AGAIN PLEASE.

[2015-06-01 10:55] toolness opened #962 "Maker party certificate (on makes.org) has a broken image"
This isn't a bug on the teach site, it's a bug on the [Maker Party Certificate](https://makerparty2014.makes.org/thimble/LTEzNDM3NTAxNDQ=/maker-party-love-bomb) Thimble make on makerparty2014.makes.org. The Mozilla Webmaker Logo in the bottom-right of the page appears to be broken.

![2015-06-01_6-55-48](https://cloud.githubusercontent.com/assets/124687/7911394/44f03dbe-082b-11e5-9040-f82e68c0c675

[2015-06-01 11:10] toolness commented on #916
I could use a bit of help from a designer to figure out how best to link out to the externally localized resources (e.g. thimble makes). For instance, here's my extremely amateur mock-up of what the event guides might look like if available in Spanish (since melissa has indeed already localized them):

![2015-06-01_7-04-52](https://cloud.githubusercontent.com/assets/124687/7911497/8df531bc-082c-11

[2015-06-01 11:14] toolness commented on #916
Also, last week Amira, Lainie, Hannah and I met to discuss the topics I outlined in the description of this issue. I still need to formally report-back on our findings, but for now anyone who's interested can take a look at our etherpad notes: https://etherpad.mozilla.org/teach-globalization

[2015-06-01 11:22] toolness commented on #947
Um as a side note, this is how the current Web Literacy page on webmaker.org looks on Google:

![2015-06-01_7-21-18](https://cloud.githubusercontent.com/assets/124687/7911738/e2d4dec4-082e-11e5-8ca0-d6b5e27f5b05.jpg)

... so we should make sure our result never ever looks like that.

[2015-06-01 13:03] ldecoursy opened #963 "Blog posts tagged with #teachtheweb not appearing on teach.mozilla.org"
On the homepage on teach.mozilla.org, it looks like the most recently featured post is from May 12th, however there is a more recent post with the #teachtheweb tag that is not appearing.

![screen shot 2015-06-01 at 9 00 16 am](https://cloud.githubusercontent.com/assets/4885898/7913290/b80441e0-083c-11e5-90ae-3ccfebaf769d.png)

When I click the "See all blog posts link" I see the Maker Party blog

[2015-06-01 13:33] toolness commented on #963
Sorry about that, this is just because #950 hasn't landed yet--the blog posts that are showing right now on teach.mozilla.org are actually hard-coded into the site, but once it lands and we push it to prod (hopefully today or tomorrow) the latest blog posts will definitely be showing up!

Sorry we didn't communicate this to you earlier, we just [really wanted](https://github.com/mozilla/teach.webm

[2015-06-01 13:34] toolness commented on #963
I suppose we don't have a formal "bug" filed that #950 fixes, so I guess this is it. We can just close this issue once that PR is merged.

[2015-06-01 13:51] toolness commented on #922
This has actually been merged into teach-api, so I'm closing this issue.

[2015-06-01 13:51] #922 closed

[2015-06-01 13:51] toolness commented on #921
Since this has been merged into teach-api, I'm closing this issue.

[2015-06-01 13:51] #921 closed

[2015-06-01 13:55] toolness commented on #911
We've got a whole lot of the parts in place for this issue, but one important thing that we shouldn't forget to do, and which this issue can perhaps track, is write **documentation** for the new approval flow process, for staff/RCs/admins. We'll probably want to do this collaboratively with the teach team.

[2015-06-01 13:57] toolness commented on #911
I'm guessing the best place for such admin docs might be either the GitHub wiki or, actually, the webmaker discourse--particularly if we create a section on that discourse that only teach staff and RCs can access, it could be a good way to both document the administrative UI *and* provide a place for discussing it (I did a similar thing for the hive directory).

[2015-06-01 15:01] toolness commented on #947
Ack.

Ok, I started working on a solution for this in #964, but then I noticed your second checkbox, "Identify if any changes were made to the copy during the transition "... And it looks like our [Transifex `weblitmap` resource](https://www.transifex.com/projects/p/webmaker/viewstrings/#en_US/web-literacy-map/23346361) is unfortunately for the [legacy version 1.1](https://github.com/mozilla/webli

[2015-06-01 16:01] toolness commented on #920
I was thinking about this, and since (for now) the only way the user can edit their club pre-approval is by actually finding their club on the list or map, I actually think we should *keep* the "Take me to my Club" button in the success/change modals, as it effectively shows the user where they can find their club if they need to edit it before it gets approved.

In a similar vein, I think we shou

[2015-06-01 17:02] ldecoursy commented on #957
Draft here at the top: https://teach.etherpad.mozilla.org/clubtransactionalemails Edit away!

[2015-06-01 17:22] amirad commented on #957
Edited!

[2015-06-01 17:27] amirad opened #966 "Update email address in clubs toolkit"
Under Learn from Peers it says "Email. We’re always here to answer your questions and connect you to other clubs. Send an email to help@webmaker.org"

Can we change that email address to teachtheweb@mozillafoundation.org

[2015-06-01 17:33] amirad opened #967 "Update link in "Write, Remix, or find Curriculum" in Clubs Toolkit"
"Within our club curriculum you will find activities developed by Mozilla and our communities to help guide you through your regular meetups. Here’s some of what we’ve learned from our early club leaders...."

Club curriculum links to old curriculum page and should instead link to https://teach.mozilla.org/activities/

[2015-06-01 17:42] toolness opened #968 "Map popup disappears if it's too tall"
I've noticed that if a city has lots of clubs in it--or even just one club with a really long description--the map popup can become so tall that the marker cluster plugin causes the pin to collapse into a cluster when the user is viewing the top of the popup, which then causes the popup to disappear. Because mapbox immediately scrolls to the top of the popup when it's opened, this results in the p

[2015-06-01 17:43] amirad opened #969 "Update "Name and Brand Your Club" section of Club Toolkit"
Updated text for "Name and Brand Your Club" section (links stay the same):

Your club is yours to design but to help you, here are some tips on how to brand your club or hack the materials.

    Naming. Customize your Mozilla Club name by adding your location, school, library, community or anything else in the name that identifies your group.

    Mozilla branding. The Mozilla brand helps identify

[2015-06-01 17:43] amirad commented on #969
@ldecoursy @thornet does that sound more aligned with the UR text?

[2015-06-01 17:53] hannahkane commented on #957
Are we good to go with this? Does anyone else need to approve it?

[2015-06-01 18:02] ldecoursy commented on #957
Maybe good to have @HPaulJohnson or @KevZawacki eyes on this!

[2015-06-01 18:20] toolness commented on #963
Ok, #950 just landed and is part of the [v0.0.8](https://github.com/mozilla/teach.webmaker.org/releases/tag/v0.0.8) release we just forged. It should be live on production in a few minutes!

[2015-06-01 18:25] HPaulJohnson commented on #957
Added some quick comments in the pad.

Another suggestion is to have a second email queued up for 7-14 days out that goes to everyone who pledged but did not take the next step to fill out the next survey. Best case scenario, you are going to have a lot of people fall out of the funnel at this step so best to chase them down via a series of communications.

[2015-06-01 18:50] hannahkane commented on #911
Good call. Do you want to start this, @toolness? Let me know if I can help.

I'd vote for the GitHub wiki for final documentation. I wonder if we can have the ongoing discussion in github tickets?

[2015-06-01 18:50] hannahkane commented on #962
Is that the right logo to include, @amirad?

[2015-06-01 18:55] amirad commented on #962
We can probably replace the Webmaker logo with just a generic Mozilla logo now

[2015-06-01 18:59] hannahkane commented on #962
Word.

[2015-06-01 19:13] #544 closed

[2015-06-01 19:33] toolness commented on #963
Gah, my bad--we landed #950, but didn't hook up the homepage to actually *use* the new functionality to dynamically fetch the blog posts. This is a one-line fix, I'll re-issue a new release to make sure this goes out before EOD today.

[2015-06-01 20:32] toolness commented on #955
Hmm, I'm also noticing in #973 that when we actually replace the stub blog feed loader with the google one, this bug is actually fairly noticeable.

[2015-06-01 20:37] hannahkane opened #974 "When viewing /activities/web-lit-basics/, the nav state should change"
When viewing https://teach.mozilla.org/activities/web-lit-basics/:
 * The Clubs Toolkit link should not appear in the nav
 * ~~The Teaching Activities item in the nav should be the darker color~~ (see discussion below)

[2015-06-01 20:54] KevZawacki commented on #957
Just took a read through — no edits from me. +1!

[2015-06-01 21:02] sabrinang commented on #908
Updated pledge  ([redpen](https://redpen.io/mbe87484921e8819fc))
![teach_homepage_pledge-20](https://cloud.githubusercontent.com/assets/2492510/7923227/4a3a41da-0866-11e5-8a9d-85932fd6a601.png)
Updated copy
![pledgetoteach-modal-updated-post2](https://cloud.githubusercontent.com/assets/2492510/7923225/47f9eeac-0866-11e5-8dcd-2661f991c65d.png)

Another alternative iteration on redpen here: https://

[2015-06-01 21:28] hannahkane commented on #908
I dig the one you posted on the ticket. Liking this a lot.

[2015-06-01 21:45] toolness opened #975 "Expander sections should have their own URL fragments"
We're essentially using Expanders on the Clubs Toolkit and Web Literacy Map pages to make the pages look less overwhelming and a bit more digestible. However, this only underscores the fact that users should be able to link to specific parts of such pages via fragment identifiers. For instance, what if a user wanted to specifically share a link to the "Web Mechanics" section of the Web Literacy ma

[2015-06-01 21:47] toolness commented on #975
Note that we should take care to ensure that such links work in both JS and non-JS browsers.

[2015-06-01 22:04] toolness commented on #975
Also, this might be a bit scope creepy, but I think it'd be really rad if we put some sort of visual transition on the part of the page being linked to, like Stack Overflow does in [this example](http://stackoverflow.com/questions/12643960/internet-explorer-10-is-ignoring-xmlhttprequest-xhr-withcredentials-true/16238421#16238421) (don't worry about the actual content, just notice how the specific

[2015-06-01 22:06] #963 closed

[2015-06-01 22:33] mmmavis opened #976 "Popup info panel for Clubs Map needs better spacing and vertical scrollbar"
![screen shot 2015-06-01 at 3 26 31 pm](https://cloud.githubusercontent.com/assets/2896608/7924748/c1a715c0-0872-11e5-8bc6-5254cf32249a.png)
(screencap taken from https://github.com/mozilla/teach.webmaker.org/pull/965's branch)

- [ ] We should probably introduce divider of some sort to visually separate one club from another.
- [ ] a vertical scrollbar should be presented when the popup gets too

[2015-06-01 23:26] ottonomy commented on #975
@toolness -- :+1: Thanks for writing up the issue. Looking forward to being able to align a badge system to the WebLitMap.

I'm sure you could attach an animation like Stack Overflow's to a React lifecycle method for initial page load to apply to the anchor-targeted element. Working with React is pretty fun.

Let me know if you have any questions about the canonical URLs. You could even use a http

[2015-06-01 23:34] hannahkane commented on #856
Can we close this one? It's live!

[2015-06-01 23:41] mmmavis commented on #862
@hannahkane what's the URL we want to have to this page?

[2015-06-01 23:41] hannahkane opened #978 "Implement Pledge workflow on homepage"
:exclamation: For each of tasks below, please create a branch against the **[`pledge-workflow` branch](https://github.com/mozilla/teach.webmaker.org/tree/pledge-workflow)**, not `develop`.  :+1: ヽ( ^ω^ ゞ )

----

Includes:

**Rearrange CTA buttons on Homepage #1014**
 - [x] Replace the "Host an Event" CTA with the "Pledge to Teach" CTA. See button icon design in #908
 - [x] Re-order the CTAs. The

[2015-06-01 23:42] hannahkane commented on #862
How about /activities/protecting-your-data?

[2015-06-01 23:51] mmmavis commented on #862
yea that works for me

[2015-06-01 23:57] sabrinang commented on #737
Maker Party 2014 assets are found here: https://www.dropbox.com/sh/atolz2eyfob8cj7/AAD6R1WGqNLQK7H6JsjkHjaOa?dl=0

[2015-06-02 00:01] mmmavis commented on #862
actual, I can't decide between `/activities/protecting-your-data` and `/activities/protect-your-data`

[2015-06-02 00:03] hannahkane commented on #862
Shorter one is fine, I think. Good call.

[2015-06-02 00:03] hannahkane commented on #887
+1 to Goggles copy change.

@HPaulJohnson - ping re: Webmaker description question above.

[2015-06-02 00:10] hannahkane opened #979 "Iterate on navigation (DESIGN)"
Let's design a treatment for authenticated users to access their Clubs from the navigation. The main use case will be a user who has zero or one Club, but we should accommodate users who have multiple Clubs. The user should be able to edit or delete their Club. We don't yet have a viewer for an individual Club, so I don't think we need a "View" action.

[2015-06-02 00:10] sabrinang commented on #856
Yup :)

[2015-06-02 00:10] #856 closed

[2015-06-02 00:54] HPaulJohnson commented on #887
Thanks for the ping. Here's some suggested text, though I'd like @KevZawacki to review and make any final edits he thinks are necessary:

Webmaker is a free, open source tool that is practical, fun-to-use and a key building block for understanding the Web. It allows users to create, discover and share content in their local language, on their mobile device, giving people at any skills level the op

[2015-06-02 01:40] chrislarry33 commented on #975
@hannakane @ldecoursy @anmechung and I were planning a similar ticket.  Shall we plan here?

[2015-06-02 01:42] mmmavis commented on #862
![screen shot 2015-06-01 at 6 41 23 pm](https://cloud.githubusercontent.com/assets/2896608/7926931/d99c6a34-088d-11e5-8418-5f40c5f56739.png)

@hannahkane could please you help get copy for those ??? fields in the screencap?

[2015-06-02 01:47] chrislarry33 commented on #908
I agree, really love the progress here. I am in awe daily how awesome everyone is doing iterating on the site. It's come a long long way

[2015-06-02 05:02] anmechung commented on #975
FYI - Hannah responded to email to Nate after she saw this ticket from @toolness. I'm guessing Atul also saw the same email that Nate sent originally to Andrew S and myself.  And yes, let's plan.  Will follow-up with Hannah et al after our meeting this week.

[2015-06-02 09:42] toolness commented on #956
Should the "the" be capitalized? It looks weird to me not capitalized...

[2015-06-02 10:10] #906 closed

[2015-06-02 11:40] toolness opened #982 "Add a "show this club on the map" button to clubs in the club list view"
I just realized that since we're only showing the name of the city in the club list view, it might be confusing/ambiguous to figure out exactly where some clubs are when looking at the list. Adding some kind of affordance that takes the user to the club's pin on the map, similar to the "take me to my club" button on the add/change club modal, wouldn't be hard to add, and could be quite useful.

[2015-06-02 12:46] KevZawacki commented on #887
+1 to Paul's copy. Just some small tweaks to the final sentence. So:

Webmaker is a free, open source tool that is practical, fun-to-use and a key building block for understanding the Web. It allows users to create, discover and share content in their local language and on their mobile device, giving people at any skill level the opportunity to evolve from Web user to Web maker.

[2015-06-02 13:45] ldecoursy commented on #862
How's this?

Level = Beginner
Developed By = Hive Toronto in partnership with the Office of the Privacy Commissioner of Canada, Mozilla Privacy
These six, production-centered activities engage learners in thinking critically about online privacy by creating secure passwords, understanding how and where their data is being collected, and more. This is an ideal kit for Mozilla Clubs,

[2015-06-02 14:14] hannahkane commented on #975
I forwarded the email to @toolness and asked him to write the ticket.

[2015-06-02 14:16] chrislarry33 commented on #975
Great! Thanks all.

[2015-06-02 14:21] hannahkane commented on #956
Grammatically, I believe it depends on whether we consider the "the" to be an official part of the name of the program. @KevZawacki, do you want to create a rule about this that we can use moving forward?

[2015-06-02 14:23] hannahkane commented on #862
+1

[2015-06-02 14:36] hannahkane commented on #957
I'mma close this ticket, and potentially open a new one to implement @HPaulJohnson's idea of a follow-up email (will discuss at a relevant meeting tomorrow).

Thanks, all!

[2015-06-02 14:36] #957 closed

[2015-06-02 14:42] KevZawacki commented on #956
Sure. I suggest we *don't* incorporate "the" as part of the title. Often, we use the phrase without it. (eg, "Mozilla Learning Network helps students...")

That's my decree. But am open to debate :-)

[2015-06-02 15:26] toolness commented on #956
Ok, sounds good--we won't capitalize "the" in the header then!

[2015-06-02 17:10] hannahkane commented on #869
@amirad - should we change the deadline on this ticket, since May 15th has passed and we're waiting on an answer?

[2015-06-02 17:17] anmechung commented on #862
+1 and also wonder if all will know what production-centered means? same as project-based activity?

[2015-06-02 17:17] sabrinang commented on #908
https://redpen.io/mbe87484921e8819fc
@cassiemc R?

[2015-06-02 17:24] ldecoursy commented on #862
Can change to "six hands-on activities"

[2015-06-02 17:31] amirad commented on #869
Sure, we can close it and make a new one for MoCo specific collateral.

[2015-06-02 17:34] hannahkane commented on #711
This should happen before the nav stuff in #979 because it will inform which API endpoints we build.

[2015-06-02 17:55] mmmavis commented on #978
@toolness this is [the share page](https://sendto.mozilla.org/page/content/FCCvote-net-neutrality-share/) that we had for the FCC petition page.

**Facebook**
https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmzl.la%2F169Y0wn (replace the `u` query value with the url we want to share)
I think for Facebook we are only allowed to set the url for users - we can't prefill the share message.  A

[2015-06-02 17:56] mmmavis commented on #978
oohhhh and I just found this: http://www.sharelinkgenerator.com/

[2015-06-02 17:59] #956 closed

[2015-06-02 17:59] mmmavis commented on #978
If we wanna [do more things with Facebook share](https://developers.facebook.com/docs/plugins/share-button) it seems like we have to use their SDK...

[2015-06-02 18:53] cassiemc commented on #908
Hey @sabrinang, left some comments on redpend, just a bit of cleanup to do. Looking nice!

[2015-06-02 18:58] mmmavis commented on #862
(sorry I'm having some ESL problem here :stuck_out_tongue_closed_eyes: )

@ldecoursy

The above are 2 groups of people or just 1?  Also, would you like the text to be hyperlinked?

[2015-06-02 19:02] ldecoursy commented on #862
Hive Toronto hivetoronto.org
Office of Privacy Commissioner of Canada https://www.priv.gc.ca/index_e.asp
Mozilla Privacy https://www.mozilla.org/en-US/privacy/

Hive Toronto in partnership with the Office of the Privacy Commissioner of Canada, and Mozilla Privacy

[2015-06-02 20:20] sabrinang commented on #887
Trying line art for header image to match our other subpages on the teach site (like [clubs toolkit](https://teach.mozilla.org/clubs/toolkit/) & [web literacy](https://teach.mozilla.org/teach-like-mozilla/web-literacy/) )
3-column layout
![teach like mozilla - tools layout 1](https://cloud.githubusercontent.com/assets/2492510/7946018/2855bf72-0929-11e5-9777-1990230fdab0.png)
highlight tool & 2 col

[2015-06-02 20:48] toolness commented on #974
This shouldn't be hard to fix, and I actually have no idea how this particular part of the code works, so fixing it will be a good way for me to acquaint myself with it.

[2015-06-02 20:54] hannahkane commented on #887
@HPaulJohnson @KevZawacki - What do you think of this revision to make it match the length and second person voice of the other two descriptions?:

Webmaker is a free, open source tool that lets you create, discover and share content in your local language on your mobile device. It gives you opportunity to elevate your skills from Web user to Web maker.

[2015-06-02 21:03] toolness commented on #974
Hmm, so making the Clubs Toolkit link not appear in the nav is super easy, but your second bullet point--making the "Teaching Activities" item in the nav appear selected--is actually non-trivial, because the code we're using to make those nav items look darker is triggered by the actual URL for the nav item being the current URL that the user is viewing.

This is reinforced by the conceptual one-t

[2015-06-02 21:07] hannahkane commented on #974
Ah, I get it. Let's stick with having nothing in the nav bar appear selected. I don't think we need to have it be a formal sub-section. That will get out of hand quickly as we add more and more modules.

[2015-06-02 21:08] toolness commented on #974
Ah cool! Ok in that case #985 is ready for review!!

[2015-06-02 21:14] HPaulJohnson commented on #887
Works for me.

[2015-06-02 21:18] toolness opened #986 ""Web Literacy Basics" link on the Teaching Activities page causes full page refresh"
With JS enabled, any navigation from one part of the site to another is very quick because the page is changed in-place to present the user with new content. However, the link to the Web Literacy Basics kit on the activities page causes a full-page refresh.

This is basically because those teaching kits were assumed to always be links to external sites, so we always use a standard `<a>` tag instea

[2015-06-02 21:33] #951 closed

[2015-06-02 21:58] KevZawacki commented on #887
+1

[2015-06-02 22:12] mmmavis commented on #974
https://github.com/mozilla/teach.webmaker.org/pull/985 just got merged.  Guess we can close this ticket now.

[2015-06-02 22:12] #974 closed

[2015-06-02 22:39] sabrinang commented on #843
![events page mockup 02062015](https://cloud.githubusercontent.com/assets/2492510/7948906/5be8c398-093d-11e5-90a9-5dbb52fc4014.png)
Missing copy for "Get Started" with brief descriptions of read, write, participate that link of to individual activity pages or if this is going to be "Maker Party 2015 Recommended Activities"

[2015-06-02 22:59] toolness commented on #986
Also, once #980 lands, our new "Protect Your Data" activity will have the same issue.

[2015-06-02 23:20] toolness opened #987 "Accessibility issues with redundantly hyperlinked decorative images"
This issue is spun off from https://github.com/mozilla/teach.webmaker.org/pull/980#issuecomment-108116906.

Our "Protect Your Data" page has a common kind of pattern where we have an image on the left and a title on the right, both of which are hyperlinked to the same place:

![2015-06-02_18-12-02](https://cloud.githubusercontent.com/assets/124687/7948598/5336c9aa-0953-11e5-9aa6-b0fef65d987f.jpg)

[2015-06-02 23:21] sabrinang commented on #736
Updated copy on mockups
![teach_homepage_makerparty_edition-updatedcopymockups](https://cloud.githubusercontent.com/assets/2492510/7949458/cbc68542-0942-11e5-8f12-3e52bf3e29ee.png)
* variation on bold date, line break and July 15th–31st/July 15–31
* included yellow bg option in case there was not enough contrast against the other blues on teach homepage

[2015-06-03 00:31] sabrinang commented on #887
![teach like mozilla - tools layout 1 updated](https://cloud.githubusercontent.com/assets/2492510/7950239/98150854-094c-11e5-9d87-03f411e1b9d2.png)
updated [redpen](https://redpen.io/hn88c5775817cf7d60)
- fixed title alignment
- adjusted icon composition and stroke width
- updated webmaker copy

[2015-06-03 01:24] amirad commented on #736
Looks good....preference is for line break, bold date and july 15-31

[2015-06-03 04:53] mmmavis commented on #976
updated this bug again - a vertical scrollbar is also needed when Club list is long

[2015-06-03 05:57] #862 closed

[2015-06-03 10:37] #920 closed

[2015-06-03 13:42] hannahkane commented on #736
My preference is also for line break, bold date, and July 15-31. I think the top one, with the blue background, is pretty perfect.

[2015-06-03 13:43] hannahkane commented on #887
+1. Looks great!

[2015-06-03 14:22] hannahkane commented on #843
My suggestions:
 * I think the button copy in the hero needs to make it clear that they're signing up to host. How about, "COUNT ME IN"?
 * I don't think we need individual pages for Read, Write, and Participate. I think we can have a single page that has *all* of the Maker Party activities. So, I think it should be a prominent link or button that reads "Get the 2015 Maker Party Activities"
 * Cop

[2015-06-03 14:29] ldecoursy commented on #843
Do we need both sign-up's? I'd suggest just keeping the one at the top. Maybe the sub head says "Sign up to join the global celebration..."

[2015-06-03 14:37] hannahkane commented on #843
@ldecoursy - can you include the full copy you're suggesting? Do you mean, "Sign up to join the global celebration from July 15-31 and create awesome things on the open Web"? I feel like that copy is already too long. Would love to make it one line. "Join the global celebration from July 15-31." And maybe the button is "SIGN UP".

I vote for keeping two CTAs on the page, though. The page does the

[2015-06-03 14:46] ldecoursy commented on #843
Agree on shortening the copy - so that's the same as the copy on the MP promo on the homepage.

I guess if we keep both CTAs, it should just be clear from the language that they're the same thing so people don't need to submit their email twice - essentially they're going to the same list.

[2015-06-03 16:00] KevZawacki commented on #736
Likewise -- I vote line break and bold date. Looks great!

[2015-06-03 18:13] toolness commented on #911
Ok, I just drafted it here:

https://github.com/mozilla/teach.webmaker.org/wiki/Club-Approval-Flow

Feel free to add or change anything! I will close this ticket now.

[2015-06-03 18:13] #911 closed

[2015-06-03 18:50] xmatthewx commented on #737
We have a design for Teach promotion for the new Webmaker site.

We also have draft guidelines for utilizing the spot for other things in the future, including Maker Party. The goal: make it quicker to add new items in the future; maintain brand coherence; reduce the need to consult so many people.

Take a look:
https://github.com/mozilla/webmaker-desktop/issues/68#issuecomment-108458057

[2015-06-03 19:53] sabrinang commented on #908
![teach_homepage_pledge-updated](https://cloud.githubusercontent.com/assets/2492510/7969955/7894ddbc-09ef-11e5-97a1-8998bff9c7a2.png)
Updated redpen: https://redpen.io/mbe87484921e8819fc

[2015-06-03 20:48] hannahkane commented on #908
<3

[2015-06-03 20:51] hannahkane commented on #737
Makes sense to me. It sounds like we can't just re-purpose the MP banner we're putting on the Teach homepage, because it doesn't meet the guidelines.

@sabrinang - does this give you everything you'd need to create a different banner for the Wm site, if we prioritize this into the next heartbeat?

[2015-06-03 20:55] hannahkane commented on #911
Docs look great. I just added a line to the very end about the automatic state change to Pending if a user edits a Club in the Denied state. Please correct if that's wrong, but I'm pretty sure that's what we talked about.

[2015-06-03 20:56] toolness commented on #911
Oh yeah totally, sorry I forgot about that. Thanks for adding it!

[2015-06-03 21:53] hannahkane opened #989 "Implement Maker Party banner on homepage"
Design is in #736

[2015-06-03 21:54] hannahkane opened #990 "Build Tools page"
Design is in #887

[2015-06-03 21:56] hannahkane opened #991 "Changes to nav items"
Let's not yet change the placement of the navigation on the page just yet, but we do need to add two items:
 * Tools (will eventually go to the new /tools page, designed in #887)
 * Community (will link to Discourse)

We'll also need to remove the "Maker Party" item.

The order of items should be:
 * Teaching Activities
 * Mozilla Clubs
 * Tools
 * Community
 * Teach Like Mozilla

[2015-06-03 21:57] hannahkane commented on #991
Blocked on #990

[2015-06-03 22:03] hannahkane commented on #519
Seems resolved?

[2015-06-03 22:03] #519 closed

[2015-06-03 22:04] hannahkane commented on #518
No longer applicable

[2015-06-03 22:04] #518 closed

[2015-06-04 00:02] toolness commented on #975
Hey all, I'm working on a potential fix for this at #993 if you want to follow along, play with some potential solutions and provide feedback.

[2015-06-04 06:45] mmmavis commented on #968
I haven't been able to reproduce this, @toolness .  But yea specifying a max. height could also help with solving https://github.com/mozilla/teach.webmaker.org/issues/976 (enable vertical scrollbar for tall popup)

[2015-06-04 11:18] #966 closed

[2015-06-04 13:49] KevZawacki commented on #869
@hannahkane @amirad @sabrinang

MJ says to disregard the "<20% text" ask. So, we just need graphics at:

Facebook 1200x627 px.
Twitter graphics 1760x800 px.

[2015-06-04 16:59] sabrinang commented on #887
updated [redpen](https://redpen.io/hn88c5775817cf7d60)
![teach like mozilla tools updated 060415](https://cloud.githubusercontent.com/assets/2492510/7989681/1336b1fa-0aa0-11e5-97c3-ec67b9accec1.png)
updated:
- new shorter copy for tools
- grid alignment
- logo scale
- sample activity text treatment
- added icon for teaching activity section
- included footer cta icon links

[2015-06-04 17:38] toolness commented on #947
Er, as hannah just pointed out on our daily stand, the web literacy map strings might not be so stable either, as Mark's latest [blog post](https://commonspace.wordpress.com/2015/06/03/the-essence-of-web-literacy/) has the following photo in it:

<a href="https://commonspace.wordpress.com/2015/06/03/the-essence-of-web-literacy/"><img src="https://commonspace.files.wordpress.com/2015/06/fullsizeren

[2015-06-04 21:15] sabrinang commented on #887
Updated [redpen](https://redpen.io/hn88c5775817cf7d60)
![teach like mozilla tools - updated 3 col](https://cloud.githubusercontent.com/assets/2492510/7994542/017f35ea-0ac3-11e5-8fbb-59696e7284f3.png)
Updated:
- spacing
- sample activity text treatment
- remove teaching activity icon

@ldecoursy - can you clarify your redpen comment:

Are you referring to changing the teaching activities copy? and

[2015-06-04 21:47] sabrinang commented on #908
updated icon
![teach_homepage_pledge-updatedicon](https://cloud.githubusercontent.com/assets/2492510/7995176/a4910196-0ac8-11e5-8221-e8333af399f8.png)

[2015-06-04 22:21] ldecoursy commented on #843
@hannahkane @sabrinang Just checking to see if we're set for copy on this page. If so, I'll close https://github.com/mozilla/learning-networks/issues/175 :)

[2015-06-04 23:06] hannahkane commented on #843
I think we can make these copy changes to the most recent version:
 * Header: "Join the global celebration from July 15-31." Button: "SIGN UP" (can we put the email address field in the header, so it looks similar to the CTA on the bottom?)
 * Link to activities: Prominent link or button that reads "Get the 2015 Maker Party Activities"
 * Fix typo: "See more event photos in our Flickr gallery" (no

[2015-06-04 23:34] hannahkane opened #996 "Design badge iconography for "Club Captain" and "Regional Coordinator" badge"
We can make use of the badge design system already in place:

http://emilygoligoski.com/2014/05/07/introducing-mozilla-visual-templates-for-badge-issuers/

@chrislarry33 and @thornet - which category would you say the CC and RC badges fall under - Community or Team/Project?

[2015-06-05 00:41] hannahkane opened #997 "Explore Discourse integration"
Need to discuss what the actual deliverable might be, but want to ensure we do some work to advance the Discourse integration project.

[2015-06-05 00:53] sabrinang commented on #869
I made 3 versions (exported at 1200x627px & 1760x800px each)
![maker-party_facebook-socialshare2015_1200x627](https://cloud.githubusercontent.com/assets/2492510/7997432/04043c38-0ae2-11e5-996c-6153f1047e08.png)
![maker-party_twitter-socialshare2015_1760x800](https://cloud.githubusercontent.com/assets/2492510/7997436/16a540b2-0ae2-11e5-8e4a-4913b06d9a72.png)
![maker-party_facebook-socialshare2015-a

[2015-06-05 01:17] sabrinang commented on #736
Assets for Promo: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkJQcEJseDlNOUlMUGNhdWwzMVFkcWp1anh6NEVZX0hMT1hiWTk5TExVWnM&usp=sharing
Tile pattern
![maker-party_pattern-tile](https://cloud.githubusercontent.com/assets/2492510/7997641/421dd12a-0ae5-11e5-8a22-27e196b1e172.png)
Logo (with ribbon)
![maker-party_certificate-header](https://cloud.githubusercontent.com/assets/249251

[2015-06-05 11:27] LauraHilliger opened #998 "create 404 page"
We should create a friendly 404 or redirect people to the home page:

http://i.imgur.com/W8kpRHN.png

[2015-06-05 11:55] toolness commented on #998
Aww yeah! jess actually started work on this in #406, which this is basically a dupe of, so I'm closin' it.

[2015-06-05 11:57] toolness commented on #406
As @LauraHilliger just mentioned in #998, our current 404 page *really* sucks:

<img src="http://i.imgur.com/W8kpRHN.png">

Would be quite splendid to get something more user-friendly in there!

[2015-06-05 11:57] #998 closed

[2015-06-05 12:55] toolness commented on #949
Ok, I just did this in https://github.com/mozilla/teach-api/commit/9a952847a89ee518f85c82c7fec725b6f15f4027.

Basically there is now a [Django Group](https://docs.djangoproject.com/en/1.8/topics/auth/default/#groups) called "Teach Staff" which has abilities limited to changing only a few user fields, and adding/changing clubs. I made claw and lainie "Teach Staff" (we can make them admin but they n

[2015-06-05 12:55] #949 closed

[2015-06-05 13:55] KevZawacki commented on #869
Thank you, @sabrinang. @amirad, I'll share with MJ.

[2015-06-05 13:55] amirad commented on #869
Beauty. Thanks @sabrinang @KevZawacki

[2015-06-05 14:25] xmatthewx commented on #737
Guidelines with color palette will be documented in https://github.com/mozilla/webmaker-desktop/issues/79

[2015-06-05 16:19] #893 closed

[2015-06-05 16:21] toolness commented on #893
Ok, the release process is now documented in [`RELEASE.md`](https://github.com/mozilla/teach.webmaker.org/blob/develop/RELEASE.md).

[2015-06-05 16:24] hannahkane commented on #893
Sweet. :)

[2015-06-05 20:18] sabrinang commented on #843
WIP (will continue iterating on the _Link to activities_)
![events page mp iteration](https://cloud.githubusercontent.com/assets/2492510/8014391/3511b4ba-0b85-11e5-83c7-268dced79493.png)

[2015-06-05 21:11] hannahkane commented on #843
I am really liking this. Will file a separate ticket to create the MP Activities page that this will link to.

[2015-06-05 21:16] hannahkane opened #1000 "Implement /activities/maker-party-2015"
This is the page that will be linked to from /events

This page should follow the same template as /activities/web-lit-basics/ and /activities/protect-your-data/

The content can be found starting on line 21 of this pad, but needs to be finalized: https://teach.etherpad.mozilla.org/teachsite-eventspage

[2015-06-05 21:27] iamjessklein commented on #406
agreed. :+1:

[2015-06-05 21:46] #967 closed

[2015-06-05 21:50] vazquez commented on #406
JESSSSSSSSSSSSSSSSSSS

[2015-06-05 21:50] vazquez commented on #406
:star: :star2: :rainbow:

[2015-06-05 21:51] #953 closed

[2015-06-05 21:55] hannahkane commented on #806
@toolness - should we roll this ticket into the next heartbeat?

[2015-06-05 21:55] hannahkane commented on #830
@sabrinang - I'm going to roll this into the next heartbeat, where it will probably continue to be a p2.

[2015-06-05 22:27] amirad commented on #843
+1 it's looking good!

[2015-06-06 00:14] mmmavis commented on #976
this popup really bothers me and I know @sabrinang has been super busy getting A LOT of design work done... :wink:

... so I decided to tweak this a bit - listified the Clubs (following Teach site's list item border convention), adjusted font sizes and some spacing.  Can we maybe use this as a temporary solution or iterate from here?  Sorry but it's just the current one is not really readable to m

[2015-06-08 12:43] toolness opened #1002 "Refactor Clubs CSS to make it more maintainable and extensible"
One of the things I noticed when adding the clubs list, and am now reminded of while reviewing #1001, is that `page.less` uses the `listItemBorderColorizer` mixin to add orange borders to every `<ul>` on the Clubs page's main content, regardless of its context. This makes it *extremely* hard to have lists that are styled differently.

So, two things should be done:

- [x] Move the clubs-specific r

[2015-06-08 16:10] toolness commented on #946
I was just watching a CSSConf presentation on [CSS Performance Tooling](https://www.youtube.com/watch?v=FEs2jgZBaQA&list=PL37ZVnwpeshHAnqFlTxhd0MIXWjLBbM3R) and the speaker mentioned a tool called [gulp-imagemin](https://github.com/sindresorhus/gulp-imagemin), which would allow us to do the image optimization during the build/deploy phase rather than during development. I like this approach a lot

[2015-06-08 16:10] hannahkane commented on #976
So much better!

[2015-06-08 17:47] hannahkane commented on #908
This is good to implement in this heartbeat. @cassiemc, feel free to file any follow-up issues.

[2015-06-08 17:47] #908 closed

[2015-06-08 17:48] hannahkane commented on #887
@ldecoursy - can you give the OK on this? Want to close this ticket, and implement this heartbeat.

[2015-06-08 17:48] #869 closed

[2015-06-08 17:51] #736 closed

[2015-06-08 17:53] hannahkane commented on #1000
blocked on copy

[2015-06-08 17:57] ldecoursy commented on #887
OK with me - sorry, above I was saying I liked the science-y icon (that was with the original design by the teaching activities link) instead of the brain, but now realizing the brain is consistent with what's already on the site ;)

[2015-06-08 17:58] hannahkane commented on #997
Lo-fi wireframes needed for low-bar integration

[2015-06-08 18:11] hannahkane commented on #978
email doesn't need a fancy template; can be sent through BSD

[2015-06-08 18:12] hannahkane commented on #978
@amirad - just want to confirm that we need a new BSD list to capture these emails?

[2015-06-08 18:22] hannahkane commented on #958
Actually, I was wrong. This is specific to the homepage because it's related to the three buttons. Let's look into a CSS-based solution where we change the position of the buttons on mobile.

[2015-06-08 18:35] hannahkane commented on #887
Yay!

[2015-06-08 18:38] sabrinang commented on #976
@mmmavis the hierarchy with text is looking way better!
The only feedback I have is to give a little space beneath the location line (i.e - _Vancouver, British Columbia, Canada_ ) so there is a bit of separation between the Title & Location lines from the body description.

[2015-06-08 18:57] amirad commented on #978
No no no, I would love for them to be added to already existing mentor group in bsd

[2015-06-08 20:04] sabrinang commented on #908
![teach_homepage_pledge-updatedicon2](https://cloud.githubusercontent.com/assets/2492510/8044040/cd3ce344-0dde-11e5-98c5-09f6cc4f6af3.png)
small tweaks to button (smaller width and all caps) and icon (smaller chalkboard)

[2015-06-08 20:07] cassiemc commented on #908
This looks great @sabrinang :)

[2015-06-08 20:44] hannahkane commented on #962
@amirad - do you have access to that make? If not, who would?

[2015-06-08 20:59] amirad commented on #962
Yes.

Username: makerparty2014
Email: makerparty.webmaker@gmail.com
Password: teachtheweb

[2015-06-08 21:29] hannahkane commented on #930
@jbuck - this seems like it should be in a different repo. Can you advise, please? Thanks!

[2015-06-08 22:01] ldecoursy opened #1003 "Creating reports from site admin UI"
As part of the Clubs workflow, when someone submits a club, our goal is to assign them to an RC, who would follow-up with that person and have a short discussion before determining whether to approve/deny a club. Unfortunately the description isn't always enough to go by, and as part of the organizing model, we want to provide a level of personalization to build lasting relationships.

We currentl

[2015-06-08 22:03] hannahkane commented on #1003
Is this a one-time request to get the 99 that are in the system already, or is it a request to be able to do this at any point in the future?

[2015-06-08 22:05] ldecoursy commented on #1003
Both - definitely need to work through the backlog sooner than later, but also working through the process moving forward for how we'll be able to assign RC's, who should have the ability to access email info so they can follow-up with folks before approving/denying Club status.

[2015-06-08 22:05] ldecoursy commented on #1003
cc @amirad @thornet

[2015-06-08 22:11] mmmavis commented on #978
I just created the base branch `pledge-workflow` and updated the description of this ticket with the following notes

[2015-06-08 22:12] hannahkane commented on #1003
Sorry, I misunderstood the original requirements. I thought we'd be manually updating the spreadsheet after the initial export.

If we need to be doing this regularly, then we'll have to have a UX for it, and a system to prevent the data from getting out of sync (e.g. being able to export a list based on certain search criteria, such as "Created after X date").

Does that make sense to you, @tooln

[2015-06-08 22:15] sabrinang commented on #933
vertical and horizontal wordmark mockup
![mozilla-clubs-wordmark](https://cloud.githubusercontent.com/assets/2492510/8046603/35bc9f7e-0df1-11e5-8fac-cbb42980294b.png)

[2015-06-08 22:17] mmmavis commented on #989
@hannahkane can I start working on this now? or should I wait for https://github.com/mozilla/teach.webmaker.org/issues/900 first?

[2015-06-08 22:34] mmmavis commented on #962
@hannahkane I got the credentials from Amira now.

@sabrinang could you attach the mockup of this certificate (if you still have it)?  Just wanna do a quick comparision :smile_cat:

[2015-06-08 22:46] ldecoursy commented on #933
Nice! I like the vertical lockup, and prefer metapro medium with uppercase "C"

I wonder if we need a singular Mozilla Club lockup for folks to add their org or city name to?

cc @thornet @amirad

[2015-06-08 22:46] thornet commented on #858
Revised via Paul and Kevin (pulled from https://docs.google.com/document/d/19yk3ZW1Mtjf3oUwspCiXPeNJ_zD63UYGpfEn3BdNxS0/edit#)

[Headline]: Mozilla Clubs
[Definitional statement]: “Meet regularly as a group to learn the mechanics, culture and citizenship of the web together.”
[Value to user]: “Empower your community through purposeful making, reflective learning, and connection to peers around the

[2015-06-08 22:51] mmmavis commented on #887
@sabrinang mind attaching files here? :hamster: :hamster: :hamster:

[2015-06-08 22:55] hannahkane commented on #858
As per conversation with @sabrinang and @thornet - let's try to narrow this down to one CTA that's focused on requesting a 1:1 conversation

[2015-06-08 22:56] mmmavis commented on #990
is `https://teach.mozilla.org/tools` the url we wanna go with?

[2015-06-08 23:07] hannahkane commented on #933
+1 to @ldecoursy's comments. What makes the most sense? "Toronto Mozilla Club" or "Mozilla Club Toronto" or "Mozilla Clubs Toronto"?

[2015-06-08 23:07] sabrinang commented on #858
**Note:** http://mozilla.github.io/learning-networks/clubs/ has most up to date info to refer to

[2015-06-08 23:07] hannahkane commented on #990
yes. top level!

[2015-06-08 23:08] mmmavis opened #1004 "Code cleanup - rearrange list of routes"
from https://github.com/mozilla/teach.webmaker.org/blob/develop/lib/routes.jsx#L14-L42

[code]

Could we rearrange these routes so they are in some sort of ordering?  It's getting harder for me to decide where I should plug in new routes :grimacing:  I vote for sorting `path` alphabetically since that can kinda inform sitemap as well.

e.g.,
/about
/activities
/activities/protect-your-data/
/activ

[2015-06-08 23:08] sabrinang commented on #962
![maker-party_certificate-thimble-mockup](https://cloud.githubusercontent.com/assets/2492510/8047323/a176a172-0df8-11e5-95db-2e991355f3e9.png)

[2015-06-08 23:11] hannahkane commented on #989
I think it's okay to work on this now. The existing /events page content is OK, though #900 will be an improvement!

[2015-06-08 23:13] amirad commented on #933
+1 to vertical, though don't feel strongly either way about the capital C

I like "Mozilla Club Toronto" - it's the same one many other clubs use (coder dojo, code club etc.) though there are other club like model like Toastmasters that go the other way.

[2015-06-08 23:33] mmmavis commented on #958
@toolness would changing the `background-position` of `.hero-unit` from `right top` to `center top` help?  That way we can at least guarantee the center section of the background image is shown on smaller devices.

[2015-06-09 00:03] mmmavis commented on #962
fixed by hosting those 404 images on http://stuff.webmaker.org.s3.amazonaws.com/teach.mozilla.org/makes/ instead

[2015-06-09 00:03] #962 closed

[2015-06-09 00:09] sabrinang commented on #887
.svg icon: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eZVNQZUpnREFNaU0/view?usp=sharing
tool logos: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_edjhMQWxUSFlYVE0&usp=sharing

also - I iterated on the sample activity treatment ([redpens](https://redpen.io/p/wxe69cd1b2a3116a5c)):
![tools-page---sample-activitiy-iteration](https://cloud.githubusercontent.com/assets/

[2015-06-09 00:47] cassiemc commented on #933
It'll be useful to have a horizontal version as well as vertical, to use in different contexts. You can prioritize the vertical, though. There's something weird about that capital C, can't put my finger on it. I like that it feels more prestigious, just something weird about the letterform. Seems like there should be a tad less space between 'mozilla' and 'clubs' in the horizontal version. cc @lov

[2015-06-09 11:24] toolness commented on #997
I think I'll also play around with the discourse API to see what's possible and what's not.

[2015-06-09 11:33] toolness commented on #1004
Ah yeah, I like the idea of sorting them alphabetically. Do you think you could issue a separate PR that just alphabetizes them, so we can get it integrated ASAP? (Since it's the re-sort will likely cause merge conflicts w/ any other routes we add/change, it'd be nice to get it over with and cause minimal disruption in other PRs.)

[2015-06-09 11:35] toolness commented on #1004
Er sorry, I just realized you filed this as a new issue, and not as part of a bigger issue... So you were probably planning on issuing a separate PR anyways hehe. Carry on then! :+1:

[2015-06-09 11:45] toolness commented on #958
Ah yeah that would be perfect!

Perhaps it might be useful to tweak `background-position` on a per-hero-unit basis, depending on the visual structure of the hero image? For instance, some hero units might have the main action on the right side of the photo, rather than the center.

Hmm, looking at the hero images we've got, though, it *does* look like the main action is in the center for all of th

[2015-06-09 14:33] toolness commented on #976
Ultra cool! I mentioned at https://github.com/mozilla/teach.webmaker.org/pull/1001#discussion_r31910486 that it might also be good to style things so that the orange lines only appear *between* clubs rather than also at the top and bottom of the list, but it's up to you.

[2015-06-09 14:59] toolness commented on #1003
HMMMmmmmmmm ok. it makes sense but it has be wondering if it'd be easier to just add a "club status" field as I suggested in ...

Anyhow in the meantime, at the very least I have added an email column to the clubs list admin view in https://github.com/mozilla/teach-api/commit/a5b02165dc1e897fea7df330a9e041fa2caefdfd.

This will also help with #923 because now we won't have to give RCs access to th

[2015-06-09 15:03] toolness commented on #923
Is it OK if RCs can view and change every single club in the system, or do we want them to only view/change clubs that teach staff have assigned them to?

The latter also brings up the concept of "assigning" a club to a RC, which will involve changing the data model. The former will be ridiculously easy to implement. Both are totally doable though, just need to know which one to implement for our

[2015-06-09 15:47] hannahkane opened #1005 "Choose a new color for Teach Like Mozilla"
We're going to add Tools as a top-level nav item, and it will be green (to match the new Thimble design). We'll need a new color for Teach Like Mozilla and its subpage, the Web Lit Map.

[2015-06-09 15:51] hannahkane commented on #1003
Can you remind me what the "club status" field would do? Don't we already have a Club Status field?

[2015-06-09 15:52] hannahkane commented on #923
I vote for the former. It's possible we'll want to add more granular permissions in the future, but it seems smarter to wait and see if that need emerges.

[2015-06-09 15:58] toolness commented on #1005
I say we use the same color red as the background of the mozilla.org page, since it's about teaching like MOZILLA!

![screen shot 2015-06-09 at 11 59 34 am](https://cloud.githubusercontent.com/assets/124687/8062658/dac110ec-0e9e-11e5-839d-77d86b65230c.png)

eh just a thought.

[2015-06-09 16:02] toolness commented on #1003
Doh sorry lol, I submitted that last comment before I had looked up the relevant issue I'd mentioned it in. I also mis-wrote--I meant "staff notes", not "club status", and I mentioned it in https://github.com/mozilla/teach.webmaker.org/issues/911#issuecomment-105879915:

There are definite downsides to that approach, though, which we talked a bit about on a stand or something.

[2015-06-09 16:21] jgmac1106 commented on #1003
99 problems and a club ain't one.

(sorry had to)

On Tue, Jun 9, 2015, 12:02 PM Atul Varma <notifications@github.com> wrote:

[2015-06-09 16:50] toolness commented on #923
Ah cool, in that case this is now done as of https://github.com/mozilla/teach-api/commit/f64ae67451af8f11c10e6edb9b663fb829710e85.

Currently only a bona fide Admin user can promote someone from being a mere user to a RC, which is currently the easiest way to do this... I say we just give a very limited number of teach staff admin privs, and train them to not shoot themselves in the foot.

[2015-06-09 16:54] toolness commented on #946
Hmm, so I attempted to play around with gulp-imagemin a bit today and ran into a few things:

* Blanketly applying the plugin to all our images as part of our `copy-images` task seems to make the node process exit without providing any traceback. This is very annoying.
* Selectively applying the plugin to an individual PNG file works. I tried doing it to the portrait of Mikko and it shaves off a f

[2015-06-09 17:09] mmmavis commented on #946
thanks for taking this over @toolness  :smiley_cat:

[2015-06-09 17:09] toolness commented on #585
Update: mavis finished with review, now it's up to me to file some follow-up issues and merge the PR.

[2015-06-09 17:38] hannahkane commented on #1003
I think my flag in the stand-up re: staff notes field was that I'm not sure a single field could be as useful as a spreadsheet, at least not until we run through the process a bunch and work out the kinks.

@ldecoursy - with the email in the admin view, do we have enough for RCs, or do we need the description, too? What if we add the url for the specific club view, so RCs can just go to that URL?

[2015-06-09 18:04] ldecoursy commented on #1003
That sounds like it would be helpful/handy. And avoids having to add comprehensive descriptions in the admin view.

@thornet sounds ok with you?

[2015-06-09 18:38] jbuck commented on #930
This is going to require development time. Realistically I wouldn't be able to get to this for a month, so I'd get this in a heartbeat issue or seeing if anyone else has some spare time. In the meantime, the Webmaker signin should probably be disabled.

[2015-06-09 20:21] #585 closed

[2015-06-09 20:24] toolness opened #1007 "Add proper error handling to lightweight dynamic server"
Currently we don't have any formal way of handling errors, and we should.

Need to figure out what the best way to log 500s so we can be notified of them is. (Actually, this also applies to `teach-api` for that matter.)

[2015-06-09 20:25] toolness opened #1008 "Lightweight dynamic server should generate sitemap.xml"
This will take a bit of work, since the existing sitemap is generated by crawling all the `index.html` files of the static site, which isn't feasible for the dynamic server.

[2015-06-09 20:28] toolness opened #1009 "Lightweight dynamic server should serve compressed static files"
At least in production, we should gzip the static files we serve.

(Alternatively, we could store all the static files on S3 via CloudFront, but it seems like we want even a lot of our dynamic content to be aggressively cached by a reverse proxy of some sort.)

[2015-06-09 20:30] toolness opened #1010 "Lightweight dynamic server should serve relevant content with cache headers"
At least in production, we want to be able to place a [reverse proxy](http://en.wikipedia.org/wiki/Reverse_proxy) in front of the server that uses the headers to aggressively cache content that doesn't change often.

[2015-06-09 20:36] toolness opened #1011 "Lightweight dynamic server should serve security headers"
Pretty straightforward, we need to at least provide headers for:

- [ ] Content Security Policy (CSP).
- [ ] Strict Transport Security (STS)
- [ ] [`X-Frame-Options: DENY`](https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options) (Clickjacking protection)
- [ ] [`X-Content-Type-Options: nosniff`](http://blogs.msdn.com/b/ie/archive/2008/09/02/ie8-security-part-vi-beta-2-update.aspx)

[2015-06-09 20:45] toolness commented on #585
Ok, I just created the new issues; they're all linked-to from the description in #936.

[2015-06-09 20:58] toolness commented on #968
Er yeah, I believe this bug will be addressed by the vertical scrollbar that will be added #976, so we might want to just mark this one as a dupe?

[2015-06-09 21:01] sabrinang commented on #933
Examining existing wordmark structures and continuing to iterate on wordmarks with city name incorporated
![mozilla-clubs-wordmark-exploration](https://cloud.githubusercontent.com/assets/2492510/8069490/abd5be84-0eaf-11e5-88a4-0625057e4ae5.png)

[2015-06-09 21:03] ldecoursy commented on #933
I like the Open Badges equivalent. Think it would need to be singular "Club" though.

[2015-06-09 21:10] toolness commented on #923
I guess I feel like the only thing left is to either document or teach people the process used to "bless" a user with RC privileges. This basically comes down to marking them as **Staff status** in the Django User admin UI and putting them in the **Regional Coordinators** group:

![2015-06-09_17-04-53](https://cloud.githubusercontent.com/assets/124687/8069623/beb9bd7e-0ec9-11e5-9a73-bb3db86bf209.j

[2015-06-09 21:12] toolness commented on #923
I guess I am gonna close this issue and we can file any other tasks that need to be addressed as separate issues.

[2015-06-09 21:12] #923 closed

[2015-06-09 21:20] sabrinang commented on #933
singular version update
![mozilla-clubs-wordmark-exploration-singular](https://cloud.githubusercontent.com/assets/2492510/8069929/a9c3d9ca-0eb2-11e5-9893-c5e756e0ca63.png)

[2015-06-09 21:47] mmmavis opened #1012 "Rename less variable @tealSidebarColor"
Rename `@tealSidebarColor` to `@greenSidebarColor` since [the color we assign it to](https://github.com/mozilla/teach.webmaker.org/blob/develop/less/variables.less#L14) is no longer teal.

[2015-06-09 22:42] toolness commented on #1003
OK I GOT THIS

Check it out, this is what the admin clubs list view looks like as of https://github.com/mozilla/teach-api/commit/63b21da58b25d04dbf67d817cf5f260c654c4633:

![2015-06-09_18-23-42](https://cloud.githubusercontent.com/assets/124687/8071078/d50d9464-0ed4-11e5-8e37-74bfecfaf4f2.jpg)

Some things to note about the above screenshot:

* The list is being sorted by the "Created" date in des

[2015-06-09 23:02] sabrinang commented on #887
![icon-horizontal-divider](https://cloud.githubusercontent.com/assets/2492510/8071618/d55ffff6-0ec0-11e5-99b3-ba6486b47788.png)
https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVlBVSmlSbDNvTWs/view?usp=sharing

[2015-06-09 23:45] mmmavis commented on #887
@hannahkane @sabrinang

I'm a little confused - which is the final mockup we are going with?

[2015-06-09 23:46] mmmavis commented on #990
@sabrinang @hannahkane
I just [commented on the design ticket](https://github.com/mozilla/teach.webmaker.org/issues/887#issuecomment-110534601) since it's not clear which mockup is the one we want to go with.

[2015-06-09 23:49] sabrinang commented on #843
added some MP illustrations near the Activities button
![events page - activities cta](https://cloud.githubusercontent.com/assets/2492510/8072150/d2ecfbec-0ec6-11e5-80fc-04513de00e6a.png)
redpen: https://redpen.io/p/zoe6d4942cfdef74d2
@cassiemc R?

[2015-06-10 00:20] sabrinang commented on #887
I got some design review feedback today on https://redpen.io/bu9ded39ad3b05ea46 - I just need to tweak some text styles in the sample activity section and should get the R+; I will update this for tmrw

[2015-06-10 00:47] mmmavis commented on #887
k, I'll reopen this ticket. Please close it when the design has been finalized.  Thannnnksssss

[2015-06-10 03:29] thornet commented on #858
Sharing a few examples of other "get in touch with us" sites:
* https://www.youravon.com/REPSuite/become_a_rep.page#

[2015-06-10 04:26] mmmavis opened #1014 "[ Pledge Workflow Part 1 ] Rearrange CTA buttons on Homepage"
Please create a branch against the **[`pledge-workflow` branch](https://github.com/mozilla/teach.webmaker.org/tree/pledge-workflow)**, not `develop`.  :+1: ヽ( ^ω^ ゞ )

---

 - [x] Replace the "Host an Event" CTA with the "Pledge to Teach" CTA. See button icon design in #908.
 - [x] Re-order the CTAs. The left-most should be pledge, the middle should be teach, and the right should be clubs.

---

m

[2015-06-10 04:30] mmmavis opened #1015 "[ Pledge Workflow Part 2 ] Build modals"
Please create a branch against the **[`pledge-workflow` branch](https://github.com/mozilla/teach.webmaker.org/tree/pledge-workflow)**, not `develop`.  :+1: ヽ( ^ω^ ゞ )

---
Depends on [[ Pledge Workflow Part 1 ] Rearrange CTA buttons on Homepage](https://github.com/mozilla/teach.webmaker.org/issues/1014)
 - [ ] Implement modal pledge (design see #908)
 - [ ] Implement Success modal including Twitte

[2015-06-10 04:33] mmmavis opened #1016 "[ Pledge Workflow Part 3 ] Form submission and BSD list"
Depends on [[ Pledge Workflow Part 2 ] Build modals](https://github.com/mozilla/teach.webmaker.org/issues/1015)

Once https://github.com/mozilla/teach.webmaker.org/pull/1028 is landed on staging, verify the following
 - [x] Upon submission, the user's email address should go into a BSD list
 - [x] Should trigger transactional email (see copy in https://github.com/mozilla/teach.webmaker.org/issues/

[2015-06-10 04:37] mmmavis commented on #978
Hi @amirad what's the name of the BSD group/list we should be adding people to?

[2015-06-10 04:38] mmmavis commented on #978
FYI, @hannahkane @toolness I split the todos into 3 sections and I updated [the description of this ticket](https://github.com/mozilla/teach.webmaker.org/issues/978#issue-83747185)

[2015-06-10 10:23] #1012 closed

[2015-06-10 10:37] #976 closed

[2015-06-10 10:38] toolness commented on #968
Woot this just got fixed by #1001, so I'm closing it.

[2015-06-10 10:38] #968 closed

[2015-06-10 12:54] toolness commented on #930
Hmm, given the fact that it'll require development time, I recommend reconsidering switching to using Discourse SSO as described in https://github.com/mozilla/teach.webmaker.org/issues/461#issuecomment-88046506. While we'd face some issues with migrating folks who have *only* logged in via Google to the existing discourse, in the long run I think it'd be a good move and would allow us to have much

[2015-06-10 13:40] toolness commented on #946
No probs mavis!

So it seems like the imagemin thing is specifically intended for *lossless* minification, whereas I think that we'll actually need to loss-fully (is that the right word?) compress some of our images to really save on space. I'll look at a module called [`lwip`](https://github.com/EyalAr/lwip) which allows us to do basic image manipulation and could help us automate loss-fully conv

[2015-06-10 14:20] toolness opened #1017 "More than one person should know how to create and deploy a new release"
To increase our project's [:bus: bus factor :bus:](http://en.wikipedia.org/wiki/Bus_factor), I think someone other than just me should know how to issue and deploy a new release of the site!

@mmmavis would you be interested in taking this on for the next release? I tried to document the process in [`RELEASE.md`](https://github.com/mozilla/teach.webmaker.org/blob/develop/RELEASE.md) and also made

[2015-06-10 15:09] hannahkane commented on #930
I'm okay with that plan, but would like to hash out the migration step further. @toolness, can you look into it and clarify further what the options might be for migration, especially in terms of the end user's experience?

[2015-06-10 15:47] toolness commented on #930
It's kind of messy, I guess--I think the first step would be running an analysis of our current userbase on discourse, essentially looking at anyone who's ever participated in any way, and mapping their username+email to the existing webmaker user table. Anything that doesn't match likely means that the user has been logging in via google.

If that list is really small, then we can probably just m

[2015-06-10 15:49] toolness commented on #930
We could also mix-and-match these options: for example, for anyone we manually contact that doesn't respond within a given time frame, we could then prefix their discourse name with "google_" and create a webmaker login for them.

[2015-06-10 15:52] hannahkane commented on #930
Let's start with analyzing the list, and seeing what we're working with then.

[2015-06-10 16:03] amirad commented on #858
The "know a representative" and FAQ at the bottom are what really call out to me in the Avon page. Things we can easily model and can make a big difference.