[2016-01-15 19:00] kristinashu commented on #1462
Sounds like goggles will launch any day now so I'm wrapping this up.
Doc: https://docs.google.com/a/mozilla.com/document/d/1MQ2z_MZZFbYU67M-7BUPpD-n6DdbXz2ZMEJ6-Fwco54/edit?usp=sharing
Image links: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLMGNVb2V6RzZJbUE&usp=sharing

@Pomax maybe you can fact check or let me know if I left anything major out?

[2016-01-15 19:23] KGorr commented on #1544
I am totally fine for making it all one step. The more streamlined, the better!

[2016-01-15 23:40] hannahkane commented on #1544
If Amira agrees, I'd suggest we edit the form to go like this:

Title of form: Apply to be a Club Captain

[Remove text about waiting list]

Section 1: About You
**What is your full name?**
**What is your Twitter handle, if applicable?** optional
**How did you hear about Mozilla Clubs?**
[helper text: Event, Friend, Regional Coordinator, Twitter, teach.mozilla.org, etc.]

Section 2: About Your Clu

[2016-01-15 23:48] hannahkane commented on #1543
This is really useful information, thanks.

Wondering what we do for those who just want info. Do we have a phone call with them? Do we point them to a resource? Maybe we can reduce that one by providing better navigation on the page itself.

[2016-01-17 03:46] thiagotomasi commented on #1527
Hey @cassiemc!
I think this one it was already done! :smile:
<img width="1235" alt="screen shot 2016-01-17 at 1 44 11 am" src="https://cloud.githubusercontent.com/assets/4387026/12375822/e3916c32-bcbb-11e5-8382-307ef493e355.png">

[2016-01-18 14:38] cassiemc commented on #1527
Yep looks good to me too @thiagotomasi!

[2016-01-18 14:38] #1527 closed

[2016-01-18 18:59] sabrinang commented on #1483
I'm referencing a prototype for firefox style guide (I can't share out their guide yet as it is still changing but it is schedule to be live at the end of the month). It has also adapted some [atomic design principles](http://bradfrost.com/blog/post/atomic-web-design/).
![screenshot-ffguide](https://cloud.githubusercontent.com/assets/2492510/12399870/6d5c403e-bdd1-11e5-93af-eeed563f2c15.png)
I'm g

[2016-01-19 17:02] Pomax commented on #1195
resolving this due to decision to use credly's own UI for this.

[2016-01-19 17:02] #1195 closed

[2016-01-19 17:04] Pomax commented on #1193
We need to check if credly already offers this through their own UI. If so, we don't need to work on that, if it doesn't, we don't need to do any work here.

[2016-01-19 17:05] Pomax commented on #1192
This is blocked until souktel has access to a working heroku setup

[2016-01-19 17:06] Pomax commented on #1191
blocked for souktel pending availability of heroku apps.

[2016-01-19 17:22] samerasbahh commented on #1194
@simonwex @Pomax @issasouktel @AbuAlKarmi
Blocked by Heroku installation

[2016-01-19 18:13] flukeout commented on #1528
Closing as this phase is finished.

[2016-01-19 18:13] #1528 closed

[2016-01-19 18:15] Pomax commented on #1460
resolved.

[2016-01-19 18:15] #1460 closed

[2016-01-19 18:28] Pomax commented on #790
having a look at the image footprints, things got slimmed down considerably already, so closing this.

[2016-01-19 18:28] #790 closed

[2016-01-19 18:34] hannahkane commented on #1535
@lovegushwa - do we have some design assets we can use to make a promotional banner for the Teach site?

[2016-01-19 23:14] stephaniemcv commented on #1534
No, jsut as FYI, we will need to adjust the template slightly to minimize rendering issues. @lovegushwa is sharing some wire-framing with @kristinashu who will tweak.

[2016-01-19 23:17] hannahkane commented on #1534
just confirming - @stephaniemcv - you're available to implement after @kristinashu makes design tweaks?

[2016-01-19 23:35] stephaniemcv commented on #1534
Yup!

[2016-01-19 23:46] hannahkane commented on #1534
Awesome. Thank you!

cc @simonwex

[2016-01-20 00:20] thiagotomasi commented on #1392
Hi @sabrinang,
I really want to help, can I do this one?

[2016-01-20 00:59] sabrinang commented on #1392
Hey @thiagotomasi - Yes, that would be great!

On the site, https://teach.mozilla.org/, this is the latest style of modal we have to reference:
<img width="1423" alt="screen shot 2016-01-19 at 4 57 51 pm" src="https://cloud.githubusercontent.com/assets/2492510/12436888/df48c1fc-becd-11e5-84ec-fe60b76eeedf.png">

[2016-01-20 04:36] Pomax commented on #1462
I don't think you did, it's a good post! (I did tweak the mention of my name, though, as I'm pretty much just Pomax online, even professionally)

[2016-01-20 14:49] KGorr commented on #1534
@stephaniemcv, there is a short 3 question survey that we'd like to include in this newsletter to ask for feedback. Can this be done in the newsletter itself, or do we need to create a google form? The intro copy is already in the content draft...just need to add a link or the Qs directly.

If it is a link, I'll create it ASAP. If it can be done directly in the newsletter copy, I'll add the 3Qs to

[2016-01-20 14:51] KGorr commented on #1534
@stephaniemcv, I should also add that the survey is currently housed in the announcements section of the template.

[2016-01-20 15:25] cassiemc commented on #1462
Yes it's awesome @kristinashu! Excited to see this and all the goggles work ship. :)

[2016-01-20 16:05] kristinashu commented on #1462
Thanks everyone, closing!

[2016-01-20 16:05] #1462 closed

[2016-01-20 16:48] natalieworth commented on #1247
@flukeout

[2016-01-20 18:09] flukeout commented on #1538
@chadsansing I made an updated stylesheet for the curriculum template, it's hosted here...

https://d157rqmxrxj6ey.cloudfront.net/flukeout/24615/css/style.css

Can you make your project reference this new one instead of the embedded one? Once you do, let me know if it's solved the problems you were having with the layout issues in the aside. Thanks!

[2016-01-20 22:04] chadsansing commented on #1538
@flukeout, success!

https://d157rqmxrxj6ey.cloudfront.net/chadsansing/24387/#overview

[2016-01-21 17:28] KGorr commented on #1543
Good questions, @hannahkane. Also wondering if having a Q&A or link to a resource explaining the difference between a Firefox Club and Mozilla Club would help. I've received several of applications that seem to be more interested in browser related topics than web literacy as a whole. Thoughts @amirad?

[2016-01-21 17:37] KGorr commented on #1544
@hannahkane, if @amirad is OK with these changes, can we change the helper text for the both "Can you tell us more about how you'll organize your Club?" and "Why do you want to host a Mozilla Club" to include "Please be as detailed as possible." Some folks are writing 1 sentence responses (with 5-8 words in said sentence), so I'm following up with an email to try to get more details.

[2016-01-21 20:07] hannahkane commented on #1544
@Kgorr - good idea. Could we be even more specific? What length of content is desirable—4-5 sentences? 2-3 paragraphs? We can indicate that with copy and with the size of the box we show.

@amirad - what do you think about all of the above?

[2016-01-21 20:18] hannahkane commented on #1544
Adding the "blocked" label, because we can't start working on this until we finalize the content.

[2016-01-21 20:19] hannahkane commented on #1543
Adding "blocked" because we can't start until we finalize what this ticket is. :)

[2016-01-21 20:24] KGorr commented on #1544
Suggestion:

Can you tell us more about how you'll organize your Club?
[helper text: Please include a short paragraph about where your club will meet, topics you'll cover, how frequently, and the audience you want to serve.]

Why do you want to host a Mozilla Club?
[helper text: Please include a short paragraph about what you will be able achieve with your club that you could not do before.]

I th

[2016-01-21 21:53] amirad commented on #1544
Sorry for blocking. I'm torn because we have a lot of people who sign up but then don't engage and follow-up with the questions which let's us weed out those that are not going to engage in that second step.

I do like those questions for the initial sign-up though.

[2016-01-21 21:55] amirad commented on #1543
@hannahkane can we point those people to the monthly office hours? http://mozilla.github.io/learning-networks/clubs/#officehours

[2016-01-21 21:59] hannahkane commented on #1544
@amirad - can you clarify whether you want this to be a one-step or two-step process? If the above questions become the initial sign-up form, what would be the second step?

(Note: If we do make this a one-step process, we'll need to change the auto-email so that it *doesn't* link to the google form, but instead describes a different expectation about what's coming next.)

[2016-01-21 22:19] hannahkane commented on #1543
Great ideas - the bit about differentiating from Firefox Clubs and adding the office hours. Will file a separate ticket for those.

[2016-01-21 22:41] stephaniemcv commented on #1534
We will need to create form that you can link to.
Unfortunately email clients consider forms in emails to be a security risk. While some email clients simply warn you of potential danger, others outright disable the forms or dump the email in SPAM folders.

[2016-01-21 22:41] hannahkane opened #1549 "Add "Reason for Denial" field to Clubs admin"
When we mark a Club as Denied, we should be able to choose a reason from a picklist. The possible reasons are:
* no longer interested
* not qualified
* no response after initial application
* email bounces

[2016-01-21 22:42] hannahkane commented on #1549
@kgorr and @amirad - does this look good to you? I consolidated the reasons, but let me know if they should be expanded.

[2016-01-21 22:42] hannahkane commented on #1543
Closing this ticket. Will file separate tickets based on discussion here.

[2016-01-21 22:42] #1543 closed

[2016-01-21 22:45] hannahkane commented on #1545
@sabrinang - I've added some content to this ticket. Can you take a look and let me know if you have any questions about it?

[2016-01-21 22:46] ldecoursy commented on #1534
Good to know, and thanks again for your help with this @stephaniemcv

If we were to remove the survey from this newsletter (and add it to a future one), what would the ETA be for sending it out? Asking because some of the content is timely (Hive Chicago Buzz is this weekend, and Privacy Month ends next week).

Thanks!

[2016-01-21 23:57] stephaniemcv commented on #1534
I'm going to try and get you a reviewable version by tomorrow afternoon. ETA depends on if we've got the audience correct and some coding issues with the template.

I've been doing some more digging and I think someone may have already got your audience associated with the data extensions in ExactTarget. Does approx 125,000 sound about right for your previous email sends?

[2016-01-22 00:00] davidascher commented on #1534
I'll suggest that @adamlofting be involved in the survey topic if he isn't
already, as we need to build capacity to sample our audiences on a bunch of
levels.  For example, we might want to do a separate survey-specific
mailing to a subset of the group if it's really 125k people (which is
larger than I expected, but awesome if true).

--da

On Thu, Jan 21, 2016 at 3:57 PM Stephanie McVicker <notif

[2016-01-22 03:38] KGorr commented on #1545
@hannahkane, this is what I currently send out to folks who seem to need the extra explanation:

"Mozilla Club: Group of learners who together meet regularly to learn how to read, write and participate on the Web in a participatory way by making projects they care about, supported by a shared set of curricula

Firefox Club: Key grouping of Student Ambassadors at your school which function as Mozil

[2016-01-22 03:44] KGorr commented on #1549
This looks greats to me @hannahkane!

[2016-01-22 09:27] adamlofting commented on #1534
125k sounds right to me based on historic high profile CTAs like the snippet promoted pledge to teach. But, most of these people won't have heard from us after that action - so expect an initially cold response from most of them, and high unsubscribes for email 1. That will smooth out over time.

I'm happy to help with surveys. I have a login for the moco surveygizmo.com account which has been ven

[2016-01-22 15:58] KGorr commented on #1534
Thanks for the support!

With @HPaulJohnson's help, we sent a survey to that a sample of that list in November, I believe. The summary report can be found here: https://docs.google.com/a/mozilla.com/document/d/12YqskxpFMbLdWeS12NzwfsAWrH25UtvXdEWwQ0qA-m8/edit?usp=sharing.

The survey we are looking to do for this round (which can be pushed to next month if it will hold up sending) is a simple "wha

[2016-01-22 16:47] hannahkane commented on #1545
@KGorr - are there other commonly asked questions that we could group into a proper FAQ?

[2016-01-22 17:32] Pomax opened #1550 "rewrite React components to modern form"
- [x] [change Mixins to HOC](https://github.com/mozilla/teach.mozilla.org/issues/1553)
- [x] [remove use of experimental `context`](https://github.com/mozilla/teach.mozilla.org/issues/1551)
- [x] [change how pages identify themselves (defaultProps)](https://github.com/mozilla/teach.mozilla.org/issues/1552)

[2016-01-22 17:35] Pomax opened #1551 "remove use of experimental context"
Using "context" rather than passing props is highly discouraged, and the feature itself is experimental (meaning it's not truly supported, nor guaranteed to exist across version updates). We need to clean this up.

Contexts used:

- [x] router
- [x] [modal functions](https://github.com/mozilla/teach.mozilla.org/issues/1597)
- [x] [teach api client](https://github.com/mozilla/teach.mozilla.org/issu

[2016-01-22 17:36] Pomax opened #1552 "Change how pages identify themselves"
We rely on this for page generation, but it uses a rather convoluted system of indirections at the moment. We should be able to use `getDefaultProps` instead on any component we need to work with.

[2016-01-22 17:36] Pomax opened #1553 "change Mixins to HOC"
Switch all our mixins over to HOC (decorator-style) code instead. See https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750

- [x] [anchor-manager.js](https://github.com/mozilla/teach.mozilla.org/issues/1554)
- [x] [modal-manager.js](https://github.com/mozilla/teach.mozilla.org/issues/1555)
- [x] [teach-api-client.js](https://github.com/mozilla/teach.mozill

[2016-01-22 17:37] Pomax opened #1554 "refactor anchor-manager.js mixin as HOC"

[2016-01-22 17:38] Pomax opened #1555 "refactor modal-manager.js mixin as HOC"

[2016-01-22 17:38] Pomax opened #1556 "refactor teach-api-client.js mixin as HOC"

[2016-01-22 17:44] Pomax opened #1557 "use the new mofo-style ESLint rc file"
with https://github.com/MozillaFoundation/javascript-style-guide/pull/24 landed, we should tap into this new and improved linting solution.

[2016-01-22 17:46] Pomax opened #1558 "rewrite gulp tasks to npm scripts where possible"
our gulp file's super complex, we need to simplify. Ideally to a situation where there isn't a gulp file at all, and tasks (other than watches) are simple piped command chains.

- [x] [give each task its own runner file, with only the requirements and inputs it needs](https://github.com/mozilla/teach.mozilla.org/issues/1559)
- [x] [find and externalise all webpack configs (we have many)](https://g

[2016-01-22 20:37] KGorr commented on #1545
@hannahkane - This doc may be useful. The Mozilla Clubs section starts on page 2. I update it any time there is a new question that I've not received before. https://docs.google.com/a/mozilla.com/document/d/18FUPmsHV30XpMPPMz-fY2FzLUT5UFdoQEPcOqYpmvU8/edit?usp=sharing

[2016-01-22 22:24] Pomax opened #1559 "give each task its own runner file, with only the requirements and inputs it needs"

[2016-01-22 22:25] Pomax opened #1561 "move all configs to a single location"

[2016-01-22 22:26] Pomax opened #1562 "map each single gulp talk to an npm script"

[2016-01-22 22:26] Pomax opened #1563 "map each compound gulp task to a compound npm script"

[2016-01-22 22:27] Pomax commented on #1559
PR pending as https://github.com/mozilla/teach.mozilla.org/pull/1560

[2016-01-22 23:00] mmmavis commented on #1509
/subscribe @mmmavis

[2016-01-23 02:32] Pomax opened #1564 "Figure out which version of Node is travis-safe"
Because we're on 0.12... that's not okay.

[2016-01-25 16:42] stephaniemcv commented on #1534
Here is the email loaded into Exact Target. Things to address:
-I did not code in the background image (partly due to time, partly because it's not always supported by email clients), but I'm not happy losing that design element. I propose making the intro text and background one image. This will mean the intro text will always need to be short so we can keep the font size large enough to scale we

[2016-01-25 16:49] hannahkane commented on #1534
cc @kristinashu and @sabrinang for style support

[2016-01-25 17:10] amirad commented on #1549
yes looks good @hannahkane

[2016-01-25 18:28] Pomax opened #1565 "remove lwip from our project"
It always takes forever to compiled, and the fact that it even *needs* to compile is a bad thing. Since we use it purely for bootstrapping, a pure JS equivalent is a much better option.

[2016-01-25 18:31] KGorr commented on #1534
Thanks @stephaniemcv! I am planning to keep the intro paragraph to one sentence, so that shouldn't be a problem.

[2016-01-25 18:34] stephaniemcv commented on #1534
Great! Then we'll just need to decide in the process if that text is handed off to a designer to create the image or if I'll have access to the background file and create it as the email is built.

[2016-01-25 18:34] kristinashu commented on #1534
@stephaniemcv have you seen the work @lovegushwa is doing on this? He's trying to align both this email and the advocacy emails with FF+You https://redpen.io/p/vfdf531416d978c198 and https://redpen.io/p/xkd67d3afe0c3c922f
I think FF+You is already built in Exact Target so we know what is/isn't possible. Would you be able to align it more with those examples? This way we can move towards a similar

[2016-01-25 18:50] stephaniemcv commented on #1534
Yep, @lovegushwa and I have chatted. And the code in this newsletter is based off of the FF+You code in Exact Target. I am confirming now, but from my examination of the code in previous FF+You emails, they don't use background images and float text over the top of it.

[2016-01-25 19:03] stephaniemcv commented on #1534
Have confirmed with @bniolet1 that background images are not used in FF+Y since they don't render in Gmail and 25% of their audience would see black instead of the background image.

Should we set up a meeting to discuss how we can best align these templates?

[2016-01-25 20:25] #1559 closed

[2016-01-25 20:52] mmmavis opened #1568 "Use sure we use MoFo JS Style Guide"
Once the new build system is it, we should make sure we are using the Mozilla Foundation JS Style Guide: https://github.com/MozillaFoundation/javascript-style-guide

[2016-01-25 20:53] Pomax commented on #1568
duplicate of https://github.com/mozilla/teach.mozilla.org/issues/1557

[2016-01-25 20:53] #1568 closed

[2016-01-25 22:06] #1565 closed

[2016-01-25 22:31] Pomax commented on #1564
killing off `lwip` has done wonders for us here, since that's the only thing that required building against V8. With that removed in https://github.com/mozilla/teach.mozilla.org/pull/1567 we can go up to 4.2 and be on LTS

[2016-01-25 22:37] #1564 closed

[2016-01-25 23:09] kristinashu commented on #1534
@stephaniemcv here's the updated comp: https://redpen.io/p/au9c53b3ae1141ebbc
All the styles should be from the FF+You template except for the bottom where I've adjusted the links so they are now 4 buttons. Redpen comments have the color values. Hope that makes it easier for you but let me know if you have any questions!
cc@lovegushwa

[2016-01-26 00:05] kristinashu commented on #1391
Most text links are blue and then go darker blue and underlined on hover. Lets stick with that but make sure it does this everywhere.

These titles should be blue since they are also links:
<img width="864" alt="screen shot 2016-01-25 at 3 56 09 pm" src="https://cloud.githubusercontent.com/assets/1068783/12568650/6d05a3a4-c37c-11e5-8d1f-ae881e11f27f.png">

Please remove all arrows on home page lin

[2016-01-26 00:14] kristinashu commented on #1389
Lets just update Tools to have uppercase so it matches the others.

[2016-01-26 00:18] Pomax opened #1569 "fix email validation"
utils.js has an email validation function that uses a bad regex to validate addresses.

If this address format is to ensure correct data before sending to some service like id.wmo, then out check should not be our own code, but come from that service. Otherwise something like http://stackoverflow.com/a/32686261/740553 will be much better, as it supports pretty much any valid (even theoretical) ema

[2016-01-26 00:25] kristinashu commented on #1385
Most of the arrows no longer apply so we can close this ticket.
- Arrows are no longer in the nav
- home page link arrows are being removed in https://github.com/mozilla/teach.mozilla.org/issues/1391
- Web Lit map is currently being updated

[2016-01-26 00:25] #1385 closed

[2016-01-26 00:38] kristinashu commented on #1388
All buttons should be like the "Apply to be a captain" button (yellow, rounded corners, all uppercase and with pushed down hover state).

The 3 buttons over the home page banner would be too overwhelming in yellow so lets stick with blue but update the hover state to have the same interaction as the yellow buttons. So the blue buttons should stay blue (not turn yellow) and it should just push down

[2016-01-26 00:39] Pomax opened #1571 "split up all "multiple classes to a file" pages, for better OOP management"
We have a ton of files that contain three, four, or even more React classes, making it very hard to do code maintenance. We need to split these up.

**checkmarks indicate pending or landed PRs**

- [x] about
- [x] activities
- [x] back to school
- [x] clubs list
- [x] clubs
- [x] community
- [x] event resources
- [x] events
- [x] home
- [x] made with code
  - [x] made with code, base page
  - [x]

[2016-01-26 00:42] kristinashu commented on #1535
Linking this to audit ticket about standardizing these promo banners https://github.com/mozilla/teach.mozilla.org/issues/1394

[2016-01-26 01:13] kristinashu commented on #1369
The main thing for me is getting all the main content container to have the same space on the left and right side. And making sure that everything lines up. It doesn't really matter how much padding is on the left and right side, just as long as it is the same on every page.

Example:
![mozilla-learning-2016-01-25-17-03-19](https://cloud.githubusercontent.com/assets/1068783/12569714/2bc55506-c386-

[2016-01-26 01:19] #1561 closed

[2016-01-26 04:27] lovegushwa commented on #1535
@hannahkane we should have something for you next week.

[2016-01-26 18:22] hannahkane commented on #1535
cool. Thanks, @lovegushwa. Moving to next heartbeat.

[2016-01-26 20:20] Pomax opened #1578 "go through the code and remove static "other component" lookups"
For instance, EventResources has a `statics: { LogoAsset: LogoAsset }`, implying somone's using `EventResources.LogoAsset` somewhere, instead of just requiring the LogoAsset component directly.

Let's stop doing that.

The main reason this was done was to pull them out of the class for unit testing in mocha/phantom, but the real solution is to simply make each class an individual file for `require

[2016-01-26 22:02] ldecoursy commented on #1537
@hannahkane Keep me posted on timing for this so we can publish blog post once the links are live.

[2016-01-26 22:05] ldecoursy commented on #1532
Delayed reaction, but I'd be willing to work on this copy audit for the site. MoFo styleguide might be up @KevZawacki's alley though? ;)

[2016-01-26 22:09] Pomax opened #1584 "Stop using full IconLinks syntax everywhere"
We're using `<IconLinks>` sections _everywhere_, and everywhere we do, we're using the full syntax. This is a thing we can use a much better syntax for, like

[code]

where the array of icon link entries is passed in and then styled inside the `<IconLinks>` component.

[2016-01-26 22:17] Pomax opened #1585 "Don't use <div> in <Illustration>"
We use `<Illustration ....> <div>...</div> </Illustration>` in a lot of places, but we shouldn't need to put that `<div>` wrapper there, the content will render just fine as `this.props.children` in the Illustration component.

[2016-01-26 22:31] kristinashu commented on #1390
This will also include updating the site to Fira instead of open sans to align with the rest of Mozilla's sites.

[2016-01-26 23:22] Pomax opened #1589 "Is the "private-eye" activity actually used?"
There is a "private eye" activity, active on https://teach.mozilla.org/activities/private-eye/, but it doesn't look like there is a way to get to this activity from the activities list. Is this still a real activity?

[2016-01-26 23:27] thiagotomasi commented on #1392
Hey @sabrinang,
Please take a look in this examples, and if everything are ok I can upload the Sketch file :smile:

One question, do you guys have icons to all of those modals?

![pledge to teach - mockup](https://cloud.githubusercontent.com/assets/4387026/12598413/5c26bb54-c471-11e5-929e-0642ac46163a.png)
![thanks for your pledge - mockup](https://cloud.githubusercontent.com/assets/4387026/125984

[2016-01-26 23:58] sabrinang commented on #1392
Hi @thiagotomasi

Your revisions are looking great! The type styles, buttons and form layout are looking unified. Also, nice job on the last modal with the “don’t have an account yet?” bar treatment to the bottom which allows the form layout to maintain its hierarchy to match its other states.

The only thing I’d consider to adjust is aligning the “apply” and “log-in” buttons to the centre since t

[2016-01-27 11:01] thiagotomasi commented on #1392
@sabrinang, thanks very much!

About the icons, I'm really sorry I believe I haven't been clear, I was talking about the icon title! :smile:
But I think it's is ok, since it's just a style guide for all modals!

About the alignment, I totally agree with you, but what do you think if we align every button at the left?

![pledge to teach - mockup](https://cloud.githubusercontent.com/assets/4387026/1

[2016-01-27 11:11] thiagotomasi commented on #1390
Hey @kristinashu, could I help with this one?

[2016-01-27 13:11] thiagotomasi commented on #1367
Hey @sabrinang, could I help with this one?

[2016-01-27 13:23] KevZawacki commented on #1532
@hannahkane I'm split between encryption and Open Web Fellows at the moment, but am happy to review/revise specific sections, if you flag them.

@ldecoursy It's on my list :-)

[2016-01-27 15:57] amirad commented on #1483
hey all! Would love to share the style guide with an org that we have contracted to build out a pilot mobile site for Mozilla Clubs. Any estimates on when it might be done? Or in the interim, since they are going to start building in next couple weeks, is there any tips or hints I should give them when thinking of design? I pointed them to teach.moz and told them that we want it to be united with

[2016-01-27 16:35] cassiemc commented on #1532
Related... https://github.com/MozillaFoundation/plan/issues/694

[2016-01-27 16:45] cassiemc commented on #1483
Hmm, thanks for connecting the dots @amirad, good thinking. I'd also love an update on the styleguide, @sabrinang any word? I know the [design audit](https://github.com/mozilla/teach.mozilla.org/labels/design%20audit) work is still ongoing.

@amirad The style guide won't totally account for consistency, though. Would it be possible to have a design review between the contractor and our team before

[2016-01-27 17:25] kristinashu commented on #1390
Thank you @thiagotomasi! It would be great if you could help out with this. Any ideas on how you want to go about it? You could test out different font styles in sketch or if you're comfortable using developer tools you could test them out right in the browser. Whatever works for you.

[2016-01-27 17:56] sabrinang commented on #1545
redpen draft here: https://redpen.io/p/he4d93fc5a7a4e6b0b

[2016-01-27 18:37] Pomax opened #1597 "Remove the modal context (childContextTypes) in page.jsx"
This will require using properties for the modal functions that children in the Page component try to make use of.

[2016-01-27 20:56] KGorr commented on #1545
Awesome job on the layout! It's beautiful. I made 2 small comments on redpen.

[2016-01-27 21:45] kristinashu commented on #1366
Thanks everyone! The winners are:
- Sign in
- Sign out
- Create an account
- Sentence case

I'll create implementation to update the working on:
- Goggles
- Teach site
- Thimble
- Webmaker

Anywhere else?

[2016-01-27 22:00] kristinashu opened #1598 "Update sign in wording"
Based on https://github.com/mozilla/teach.mozilla.org/issues/1366

We're updating copy across all mofo products to have consistent wording for signing in. Please update copy on teach.mozilla.org to (in sentence case):
- Sign in
- Sign out
- Create an account

[2016-01-27 22:01] hannahkane commented on #1538
Is the checklist at the top of this ticket up-to-date? Wondering if we'll need to roll this ticket into the next heartbeat.

[2016-01-27 22:04] hannahkane commented on #1537
@mmmavis - this is a P1 that's not blocked on anything. Possible to finish this heartbeat?

[2016-01-27 22:05] hannahkane commented on #1534
Just received the newsletter! Looks awesome. Can we close this ticket?

[2016-01-27 22:06] hannahkane commented on #1247
moving to next heartbeat to reflect actual priorities

[2016-01-27 22:07] #1366 closed

[2016-01-27 22:07] KGorr commented on #1534
Woo! Yes, this can be closed.

[2016-01-27 22:07] #1534 closed

[2016-01-27 22:08] hannahkane commented on #1522
@flukeout - ok to close this ticket, since all remaining work is captured in other tickets?

[2016-01-27 22:45] hannahkane commented on #1336
Updated all relevant SUMO questions

[2016-01-27 22:45] #1336 closed

[2016-01-27 23:00] hannahkane opened #1599 "Create "Pitch Deck" for Hive Chicago Buzz"
Let's create a short pitch deck that can be shared with potential participants and partners—to give them a sense of what the event is about and what value they'd get from being involved.

(Note: this could be in lieu of a 2016 infographic, rather than in addition to)

@omnignorant - can you provide the kind of content you'd want to include?

/cc @vazquez

[2016-01-27 23:14] flukeout commented on #1522
Sounds good!

[2016-01-27 23:14] #1522 closed

[2016-01-27 23:14] hannahkane commented on #1545
This looks great, @sabrinang. I added a couple comments, too.

@amirad - can you weigh in when you have some time?

[2016-01-27 23:17] hannahkane commented on #1532
I'm probably not going to prioritize this for awhile, since there are many more urgent projects going on. Will keep it in the backlog.

[2016-01-27 23:19] hannahkane commented on #1443
@chadsansing shared http://recipe.soi.asia/, which seems very aligned.

[2016-01-27 23:39] flukeout commented on #1538
@hannahkane Let's roll it into next. I'm reviewing @chadsansing's latest notes from his experience using it now, so there will be some updates for sure.

[2016-01-27 23:40] kristinashu commented on #1365
@cassiemc @sabrinang here's what I'm thinking for the revised nav https://redpen.io/p/vn7e635cfaafc2ca85

I think we should just slightly modify what we have. We could just make the logo, bar, and hamburger icon a little smaller and then animate the hamburger/close icon when it changes - like motio.no

The alternative version is just to show another option but I don't think it's worth the extra de

[2016-01-27 23:50] flukeout commented on #1538
**Chad's latest feedback**
* [ ] On the last step of a lesson, have a next button or link.
* [ ] Link from the header on each step back to the module index and the lesson overview.
* [ ] Increase font-weight of bold/strong.
* [] How does <figure> work? CSS? Why not <img>?
* [ ] Default to 'Made by Mozilla' w/ teach dot link? To 13+ for age?
* [ ] Just curious: when do we use <b> rather than <stron

[2016-01-28 15:33] cassiemc commented on #1598
@kristinashu Are there any other places these updates need to be made other than teach.mozilla.org?

[2016-01-28 15:34] cassiemc commented on #1598
@kristinashu n/m, just saw you filed a bunch of different bugs.

[2016-01-28 15:36] cassiemc commented on #1365
This looks mostly good @kristinashu, might consider moving the login info to the top right, though.

[2016-01-28 17:47] kristinashu commented on #1365
Thanks @cassiemc. I've added another option with the login next to the close button, in the main nav bar.

[2016-01-28 18:41] sabrinang opened #1600 "Update whitepaper for upcoming Web Literacy 2.0"
On the bottom of https://teach.mozilla.org/activities/web-literacy/, where it says "read our whitepaper on why Mozilla cares about Web Literacy.” It currently links to http://mozilla.github.io/webmaker-whitepaper/

This is dated and needs to be updated to the current concept paper:
- [ ] Access to mozilla.github.io. I think the paper can live here again but we need to figure out how to get access

[2016-01-28 18:53] flukeout commented on #1538
Feedback from Educator using an activity
* Easy to read, easy to navigate, and sleek design!
* There is a lot of white space to the right of the page - is that something that can be fixed? The sleek layout would look that much better if the content took up the entire page.
* When I click through the navigation buttons to the left of the page, it takes me to the next page, but is set to the bottom

[2016-01-28 19:34] sabrinang opened #1601 "Finalize Web Lit 2.0 design (from feedback summary)"
We have received responses for our "Mozilla Web Literacy Map 2.0 (Feedback on Design)” survey from 30 respondents and the choice is ... [Design 2](https://marvelapp.com/bcbd6e)!

### Feedback Summary
Overall, Design 2 has resonated with the majority (~83%) for its round colour coding, framing open practices as a competency, how it represents the r/w/p framework, intuitive/clear/easy defined hierar

[2016-01-28 19:36] sabrinang commented on #1601
cc/ @anmechung

[2016-01-28 19:42] sabrinang opened #1602 "Finalize Web Lit 2.0 copy"
We will need to finalize the copy that is displayed with Web Lit 2.0 on the site for the wireframes.

- [ ] short descriptive introduction about web lit 2.0 that goes above graphic
- [ ] Definitions, learning outcome etc. for the 3 literacy, the 14 competency and 4 21c skill
- [ ] optional: copy for select personas if they are not displayd in whitepaper

[2016-01-28 19:55] sabrinang opened #1603 "Create wireframes for updated /web-literacy with Web Lit 2.0 design"
Design wireframes that layout of the final Web Lit 2.0 design in the context of teach.mozilla.org

- Figure out how curriculum is connected with [Web Lit Basics I](https://docs.google.com/a/mozilla.com/document/d/15B2ccF-DSTl74SwNbyZ0W5qMu-jQNOXUS4C6BsvjF9s/edit?usp=sharing)
- Figure out how badges are connected
- ask for advice on localization system with this and curriculum
- consider request fo

[2016-01-28 20:05] anmechung commented on #1602
@IBGMozilla and @anmechung will finalize copy for wireframe

[2016-01-28 20:14] anmechung commented on #1601
@sabrinang can we name it  Web LIteracy 2.0 as a placeholder for now?

[2016-01-28 20:29] sabrinang commented on #1601
Yeah @anmechung let's use Web Literacy 2.0

[2016-01-28 20:31] amirad commented on #1483
I'm happy to share it with you @cassiemc (or whoever else you identify would be good) when we are reviewing it. I will loop you in when it's at that stage an we can come up with a plan from there.

[2016-01-28 20:31] anmechung commented on #1603
@chadsansing isn't there a github ticket already where we determined that the Web LIteracy 2.0 would be a primary navigation item?

[2016-01-28 20:40] kristinashu opened #1604 "Remove anchor links on Maker Party Resource page"
On https://teach.mozilla.org/events/resources/

<img width="1330" alt="screen shot 2016-01-28 at 12 32 27 pm" src="https://cloud.githubusercontent.com/assets/1068783/12658070/a71354ec-c5bb-11e5-9189-26e3f2ec9d31.png">

These anchor links are only used on this page and the page isn't actually that long. I don't think they are necessary so lets please remove them.

This will help with some related a

[2016-01-28 20:57] cassiemc commented on #1483
That sounds like a plan @amirad, thanks. Also, @sabrinang is going to start pulling a guide together over the next couple days – it might be bare bones to start with but better than nothing. Feel free to connect them with me if there are any Qs in the meantime!

[2016-01-28 21:10] amirad commented on #1483
That is wonderful! Thank you both.

[2016-01-28 21:11] kristinashu commented on #1393
@sabrinang I'm not sure what to do with this one, what do you think?

These lines are grey now and good?
<img width="367" alt="screen shot 2015-10-22 at 11 45 19 am" src="https://cloud.githubusercontent.com/assets/1068783/10675009/bd1b7748-78b2-11e5-9fd1-59928c31d32c.png">

We could make these diving lines instead of bullet points?
<img width="1026" alt="screen shot 2015-10-22 at 11 45 49 am" src=

[2016-01-28 21:11] sabrinang commented on #1367
Yes @thiagotomasi you certainly can help! You can continue mocking them up as .sketch files (or if you want to try a different method let us know how we can help you).

[2016-01-28 21:21] kristinashu commented on #1394
Moved to next heartbeat. Lets work on this at the same time as https://github.com/mozilla/teach.mozilla.org/issues/1535

[2016-01-28 21:29] amirad commented on #1545
Added some comments too!

[2016-01-28 21:50] hannahkane commented on #1603
Would recommend pulling out localization as a separate ticket (and wouldn't include localization of curriculum, which is happening through another process).

I think Web Literacy as a primary nav item is OK (but wouldn't add "2.0")

[2016-01-28 22:08] hannahkane opened #1605 "Design changes to Clubs page"
Design is here: https://redpen.io/kn68b61855dcda9ff9

Note the following changes in addition to what's represented in the redpen:
 - [ ] Pledge copy has changed (noted in a comment on the redpen)
 - [ ] Will be building a [page for Regional Coordinator bios](https://github.com/mozilla/teach.mozilla.org/issues/1815). Will need to provide an IA solution for this
 - [ ] We should also link to the Eve

[2016-01-28 22:08] hannahkane commented on #1544
pinging @amirad so we can unblock this for the next heartbeat

[2016-01-28 22:09] hannahkane commented on #1537
ping @mmmavis  - possible to do this today or tomorrow?

[2016-01-28 22:13] hannahkane commented on #1247
@natalieworth - has there been any progress on this? It's not urgent, so I can remove from the milestone if it doesn't fit in, given other priorities.

[2016-01-28 22:15] cassiemc commented on #1247
This seems launchable with a static graphic, if the animation isn't done.

[2016-01-28 22:37] flukeout commented on #1538
@chadsansing Can you link an activity that has Facilitator Notes, as referenced in the feedback above?

[2016-01-28 22:48] ldecoursy opened #1606 "[Feb 17] Check Digital Learning Day traffic"
Digital Learning Day is Feb 17 and as of Jan 27th they added a link on their resources page to teach.mozilla.org.

Can we check traffic numbers on Feb 17 - I'm interested in seeing if/how this drives folks to our site.

cc @chadsansing

[2016-01-29 00:10] sabrinang commented on #1392
Thanks @thiagotomasi for both mockups on the .sketch file!

Seeing them next to each other, the centered buttons feel more balanced in the small modal space and the "forgot your password?" line could go beneath the button extending the modal taller a bit for space. At this moment we do not have icons to all the modals (just the pledge to teach icon). The text may change for "get matched with a reg

[2016-01-29 00:33] sabrinang commented on #1392
Will figure out resourcing for design updates next heartbeat (which starts next week) - unassigned for now

[2016-01-29 11:20] chadsansing commented on #1538
Last paragraph of step 2 [here](file:///Users/csansing/GitHub/curriculum-testing/curriculum-migration/web-lit-basics-two-migrated/session01-why-do-we-use-the-web.html#step-2). Just em tagged for now.

[2016-01-29 17:34] natalieworth commented on #1247
@hannahkane I've got the .ai files and an svg file here if you are wanting to implement static for now:

[2016-01-29 19:08] hannahkane commented on #1247
Thanks, @natalieworth! I think the page flip looks good, but will let @cassiemc make the final call. If we decide we do want to work more on this, I'm going to suggest we take it out of the milestone, because there are lots of other things going on.

[2016-01-29 19:38] kristinashu commented on #1365
@cassiemc @sabrinang do you have any preferences for these https://redpen.io/p/vn7e635cfaafc2ca85? I like the first option since it's close to what we have now.

[2016-01-29 22:02] hannahkane opened #1608 "Create landing page for Curriculum Workshop series"
@chadsansing and @amirad are going to start co-hosting a monthly Curriculum Development Workshop for the community. (@chadsansing - what's the most relevant ticket for background?)

The series needs a landing page that will include:
 * some explanatory information about the goals of the series (to be provided by @chadsansing)
 * information about the upcoming workshops: topic + date/time
 * during

[2016-01-29 22:03] hannahkane commented on #1608
@chadsansing - can you please remind me of the date of the first workshop?

[2016-01-29 22:06] hannahkane opened #1609 "Create landing page for MLN Community Calls"
We will be hosting monthly community calls, starting March 23 (tentatively).

We'll need a landing page that includes:

* some explanatory information about the goals of the calls (to be provided by @ldcoursy)
* information about the upcoming calls: topic + date/time
* during the actual calls themselves, the landing page should serve as the entry point to the event - including a way to hear/see th

[2016-01-29 22:08] mmmavis commented on #1537
Sorry to miss the ping. I'll get a PR in today and push a new release next Monday.

/cc @Pomax

[2016-01-29 22:14] Pomax commented on #1555
PR for this turns it from mixin into props passing. No HOC needed.

[2016-01-29 22:27] anmechung opened #1610 "link new curriculum template with Web Literacy 2.0 map"
@hannahkane @flukeout @sabrinang When @chadsansing and I were talking today creating links from the new web literacy 2.0 map to Web Basic I and II curriculum, it occured to us that something similar should happen for the new curriculum template as well. Make sense?  and also that the color palate for the template (as well as the 2.0 map) should be visually accessible.

[2016-01-29 22:31] sabrinang commented on #1365
I like the blue bar option so we don't have to worry what image lies behind the icon + wordmark even if the image changes/resizes for legibility purposes

[2016-01-29 22:45] hannahkane commented on #1610
Makes sense. Going to table this until Web Lit map is up and running. Plan is to finish design phase this heartbeat, and implement the following heartbeat.

[2016-01-29 23:04] ldecoursy commented on #1609
cc @KGorr

[2016-01-29 23:05] ldecoursy commented on #1608
March 8

[2016-01-29 23:05] ldecoursy commented on #1609
Tentatively March 23rd

[2016-01-29 23:09] ldecoursy opened #1611 "Update links to Mouse activities on /activities"
The following two activities are currently featured on teach.mozilla.org/activities. Mouse recently updated the content into new Thimble and a template that does not have the Webmaker logo in the header.

Can we update the links for the following?

* Creative Commons GIF Exchange - https://d157rqmxrxj6ey.cloudfront.net/mouseorg/18015/
* CSS Story Cards - https://d157rqmxrxj6ey.cloudfront.net/mouse

[2016-02-01 11:18] chadsansing commented on #1608
@hannahkane, see [#330 in the learning-networks repo](https://github.com/mozilla/learning-networks/issues/330).

[2016-02-01 17:32] chadsansing commented on #1538
Could also consider building in a Read, Write, or Participate line above the web competency buttons and a 21st century skills line below it so we can reflect Web Lit Map 2.0 things on the template.

[2016-02-01 17:52] cassiemc commented on #1365
@sabrinang I'm not sure what you mean? Both options have a blue bar that expands behind the navigation as the hamburger icon is tapped.

I do prefer the second option – https://redpen.io/ab290788c0553415fc It keeps the nav bar a little bit shorter, separates the login from the main nav items, and is a more expected placement. I remember seeing feedback about that from the main site at one point (b

[2016-02-01 18:04] sabrinang commented on #1483
Got a start on this - WIP on redpen: https://redpen.io/p/rx1ad484efc903dc60

[2016-02-01 18:06] Pomax commented on #1491
we fixed this

[2016-02-01 18:06] #1491 closed

[2016-02-01 19:47] cassiemc commented on #1603
Seems like we don't need to figure out badges yet (because our current badge stuff isn't live)?

[2016-02-01 20:01] #1555 closed

[2016-02-01 20:01] #1597 closed

[2016-02-01 20:09] cassiemc commented on #1601
@sabrinang What do you mean by "Finalize UI of 21c skills legend" in the issue's description? Was there other feedback there? (Looks pretty good to me)

Looking at your list, the main things that seem actionable are maybe turning 'open web practices' so that it's on its side (on either side, similar to the other sections to its right and left), and then finalizing colors. Maybe not too much left w

[2016-02-01 20:11] hannahkane commented on #1603
Agreed re: @cassiemc's point above. I think we can limit this ticket to the current first and fourth bullet points.

Re: the navigational hierarchy. Let's make this a top-level item, below Activities and above "Leadership Opportunities." That means the page will need a hero image and copy. I suggest "Web Literacy" for the title and "Reading, writing, and participating on the open web" for the sub-

[2016-02-01 20:26] cassiemc commented on #1247
Yes, R+ on the gif. Thanks @natalieworth! If you want to file a follow up issue for further finesse please feel free, we can loop it into a future heartbeat, but this looks great to me.

[2016-02-01 20:31] cassiemc commented on #1483
This is so awesome to see, thanks @sabrinang!

[2016-02-01 20:32] Pomax commented on #1571
all refactors landed.

[2016-02-01 20:32] #1571 closed

[2016-02-01 20:37] anmechung commented on #1603
+1 @hannahkane

[2016-02-01 20:53] anmechung commented on #1608
Will there eventually be some way to link this to existing/emerging curriculum/activities etc.?  There might be some examples of through lines that may be helpful for people to navigate all Mozilla's resources?

[2016-02-01 21:04] sabrinang commented on #1386
An iteration to compare @kristinashu 's colour recommendations / teach existing colours with the mozilla unified palette colours that matched it the closest to consider on redpen: https://redpen.io/fq9f2be8480a18d520

[2016-02-01 21:08] cassiemc commented on #1386
@sabrinang My head might just be filled with mucus but it's hard to know what I'm looking at here. Could you do a side-by-side two column comparison of each site? The approach is really helpful!

[2016-02-01 21:32] hannahkane commented on #1247
Cool. Closing this ticket, and unblocking the implementation ticket. Thanks, all!

[2016-02-01 21:32] #1247 closed

[2016-02-01 21:33] hannahkane commented on #1307
@natalieworth - can you please attach files for the animated gif to this ticket? thanks!

[2016-02-01 21:34] hannahkane commented on #1602
@anmechung and @IBGMozilla - when do you think you'll have final copy for this?

[2016-02-01 21:36] hannahkane commented on #1535
@lovegushwa - any update on this?

[2016-02-01 21:36] hannahkane commented on #1611
@Pomax - assigning this to you as one of the small front-end tasks needed this heartbeat

[2016-02-01 21:38] hannahkane commented on #1600
@sabrinang - can you fork the whitepaper template or do you need dev assistance?

[2016-02-01 21:39] hannahkane commented on #1549
@Pomax - assigning to you as part of Teach site work. Let me know if I can help clarify the task here.

[2016-02-01 21:41] hannahkane commented on #1537
@mmmavis - were you able to push a PR for this? If not, I'd suggest re-assigning to @Pomax.

[2016-02-01 21:41] hannahkane commented on #1536
Blocked on banner design

[2016-02-01 21:43] mmmavis commented on #1537
@hannahkane not yet. I wanted to finish reviewing the existing build system PRs that Pomax submitted first. I should be able to get this live today. (will update you if I fail to do so)

[2016-02-01 21:47] mmmavis commented on #1600
I'm curious about why we want to **fork** the repo. Can updating content on that existing page/repo (http://mozilla.github.io/webmaker-whitepaper/) be an option too?

[2016-02-01 22:35] jgmac1106 commented on #1600
For history purposes I think both versions of the paper should live
somewhere and be accessible.

On Mon, Feb 1, 2016, 4:47 PM Mavis Ou <notifications@github.com> wrote:

[2016-02-01 22:41] hannahkane commented on #1443
from @xmatthewx: [TeachersPayTeachers](https://medium.com/bright/millions-of-teachers-minting-millionaire-teachers-decc4fe41604#.i3w8442op)

[2016-02-01 22:52] hannahkane commented on #1608
@anmechung - I think this page will likely live on teach.mozilla.org, so it will be in the context of the activities and everything else.

[2016-02-01 22:55] hannahkane commented on #1601
@cassiemc - the implementation including localization will happen in upcoming heartbeats, though I'd like for it to be interactive when we launch it. for this heartbeat the goal is to ship final copy and all design assets. agreed that it looks like there are only a few tasks remaining.

[2016-02-01 23:29] natalieworth commented on #1307
@mmmavis Here's the link to the gif file:
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0ak9zdVYxcXN4RVU&usp=drive_web&ddrp=1&tid=0B20-0lpP23c0SF9MY2hScUsyaUE
If there are any issues just ping me and I can export it again quickly.

[2016-02-01 23:34] natalieworth commented on #1307
@mmmavis Gif can be 500px x 370 px on the teach site

[2016-02-01 23:53] Pomax opened #1613 "track logouts using an OutboundLink component rather than <a>"
We track login events via GA at the moment, but not logout events; it'll be good to add an event signal to the LogoutLink component so that we can see the number of logouts per timeunit in addition to logins.

[2016-02-02 00:14] #1556 closed

[2016-02-02 00:16] mmmavis commented on #1537
Reassigned to @Pomax :dancer: Thanks Pomax!

[2016-02-02 00:37] Pomax commented on #1537
I've updated them to the above links, although with an eye on our encryption/security campaign (and best practices really =), I'm using the https:// links, rather than the http:// version

[2016-02-02 00:43] #1537 closed

[2016-02-02 04:25] jgmac1106 commented on #1603
Yeah finally not a subnavigation menu. Me soo happy.

On Mon, Feb 1, 2016 at 2:37 PM An-Me Chung <notifications@github.com> wrote:

[2016-02-02 05:47] jgmac1106 commented on #1601
Something also to remember. We will need canonical links to atleast each
competency (skills as well would be nice) for badging purposes. On the
current iteration you will see that little s thing for the link.

Even if we aren't using the Mozilla badges that we are piloting it will
help out the community erit large if they can link back to map.

On Mon, Feb 1, 2016 at 4:55 PM hannahkane <notificati

[2016-02-02 15:34] anmechung commented on #1602
End of this week for sure!

[2016-02-02 17:36] sabrinang commented on #1365
@cassiemc - sorry for the confusion my previous comment was referring to this design: https://redpen.io/ue76f9767e794916fe

+1 I also like separating the login from nav items

[2016-02-02 18:16] ldecoursy commented on #1537
@Pomax @hannahkane I'm not actually seeing these versions live on the site yet. I tried refreshing - let me know if we're still waiting to push them live or if I'm missing something. Thanks!

[2016-02-02 19:17] kristinashu opened #1616 "[grid] - implement responsive design for navigation on tablet view"
Based on design in https://github.com/mozilla/teach.mozilla.org/issues/1365

Lets make the menu a little slicker for tablet and mobile widths.

Redpen: https://redpen.io/p/vn7e635cfaafc2ca85

Illustrator file: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLa0VCaWNUcWNQQlU/view?usp=sharing

Updates:
- please reduce size of the logo
- reduce the nav bar height
- update menu icon, add a c

[2016-02-02 19:18] kristinashu commented on #1365
Thanks, I've opened a ticket for implementation https://github.com/mozilla/teach.mozilla.org/issues/1616

[2016-02-02 19:18] #1365 closed

[2016-02-02 19:39] hannahkane commented on #1523
@flukeout @sabrinang @vazquez - based on our conversation today, I think we can kill this ticket for now. @flukeout will be opening new tickets that align with our content authoring/localizing/editing first approach.

[2016-02-02 19:39] #1523 closed

[2016-02-02 19:44] hannahkane commented on #1537
I don't think we've done a push to production recently. @Pomax - do you have a time in mind to roll production?

[2016-02-02 19:45] hannahkane commented on #1602
Cool. This is @sabrinang's top issue this heartbeat, so the sooner she has final copy, the better.

[2016-02-02 20:09] kristinashu commented on #1535
@lovegushwa @sabrinang can you please take a look at the banner below?

I'm trying to keep it fairly neutral so it doesn't compete with the main teach banner with the 3 CTAs.

![teach-homepromobanner-01 2x-01](https://cloud.githubusercontent.com/assets/1068783/12762745/885843e4-c9a5-11e5-94f7-338d3fc311db.jpg)

[2016-02-02 20:53] kristinashu commented on #1393
I'm closing this one, I think most of these issues are fixed in other audit tickets.

[2016-02-02 20:53] #1393 closed

[2016-02-02 21:08] kristinashu commented on #1387
Colours we are going to use will be decided in https://github.com/mozilla/teach.mozilla.org/issues/1386 and https://redpen.io/p/rx1ad484efc903dc60

This ticket focuses on how we should use the colours consistently. Here are the changes I think we should make (when I say "#pagecolour" I mean the main colour for that section).

![teach-colours-01 2x](https://cloud.githubusercontent.com/assets/106878

[2016-02-02 21:22] kristinashu commented on #1386
I think we should stick with the colours we have but update the shade so they are used more consistently (if Mozilla udpates it's colour palette and we have to align, then we can update):

<img width="852" alt="screen shot 2016-02-02 at 1 19 27 pm" src="https://cloud.githubusercontent.com/assets/1068783/12764618/b1b0795a-c9af-11e5-8e10-029fb60c73e9.png">

[2016-02-02 21:22] sabrinang commented on #1535
+1 to grey banner so that we can use coloured logos instead of colouring the background incase those colours clash with the teach palette. Removing the promo button here looks a lot cleaner since it makes it less visually distracting from the button heavy hero banner we have right above it.

[2016-02-02 21:27] sabrinang commented on #1369
I'm iterating from the bootstrap3 grid system (referencing: http://getbootstrap.com/css/#grid) on a sketch file (while starting the web lit wireframes). I will update this ticket when I have container/columns/gutters in good shape for large to extra small devices.

[2016-02-02 21:50] sabrinang commented on #1387
It is looking good! We can add 70% shade to in the palette (seen in ticket #1386) if we're using it in a few places just to document popular opacities used.

One thing to consider may be to keep the status messages/notices yellow but aligning it better - I feel the grey might feel a bit dark in comparison but I guess it depends on what context it will be used in.
<img width="1409" alt="screen shot

[2016-02-02 21:51] sabrinang commented on #1386
note: add 70% shade to in the palette (it is another opacity commonly used)

[2016-02-02 21:57] kristinashu commented on #1387
Nice, I like the yellow background with the grey text.

I think 70% will be useful (it's the colour behind the Mozilla logo side nav on production site). I think I mixed up my percentages in the illustrator file, wrote 30% but the colour was actually 70%).

[2016-02-02 23:45] Pomax opened #1618 "prep code for react-router 1+"
prep work done, react-router-1 switchin is in its final stages.

[2016-02-03 01:01] Pomax commented on #1557
A big problem here is that our new ESLINT rules are primed for "use ES6", which means that right now there are about 5000 errors pertaining it "please use arrow functions instead".

As discussed with @simonwex, one way forward here may be if we can somehow selectively apply ESLINT only to files that are updated after we turn on ESLINT linting, but this is an unresolved issue at the moment.

[2016-02-03 15:24] cassiemc commented on #1601
@hannahkane Sounds good. Don't want to over-rotate on it but would be good for @sabrinang to consult with a dev this heartbeat before finalizing the design, if it is to be interactive. Do you know who's building this page? @mmmavis @Pomax ?

[2016-02-03 15:40] jgmac1106 commented on #1601
@sabrinang and @anmechung I really like the design 2 and the color coding interactivity will be awesome.

Are we no longer going to display the skills under each competency? Will I get a list of the skills when I click on a competency?

[2016-02-03 15:43] anmechung commented on #1601
@jgmac1106 Glad you like design 2 and the color coding interactivity - @sabrinang brilliance :)
yes, the plan is to display skills and competencies

[2016-02-03 15:54] cassiemc commented on #1535
@kristinashu Can we strengthen the CTA somehow?

[2016-02-03 15:56] cassiemc commented on #1386
@kristinashu @sabrinang I'd like to see the closest equivalent shades still, to know what kind of difference this would make should we choose to align the teach palette with the moz palette. I agree that it's been nice having the flexibility to work with our own palettes, but in light of better/faster we may want to align more closely with the moz palette. I am speaking with Tim Murray on Friday a

[2016-02-03 16:53] kristinashu commented on #1535
@cassiemc here are two more options:

![2x-02](https://cloud.githubusercontent.com/assets/1068783/12789639/787cb294-ca53-11e5-8649-1fa443ec323f.jpg)

![2x-03](https://cloud.githubusercontent.com/assets/1068783/12789638/787c5f56-ca53-11e5-98a3-aa35ad90ef9d.jpg)

[2016-02-03 16:59] kristinashu commented on #1386
@cassiemc I think this is what @sabrinang is showing in the redpen link https://redpen.io/p/rx1ad484efc903dc60 - the bottom two palettes are moz colour options.

Good to hear you'll be speaking with Tim.

[2016-02-03 17:08] cassiemc commented on #1386
Let's go through it today then @sabrinang as I didn't understand the diagram. :)

[2016-02-03 17:15] lovegushwa commented on #1535
These are great @kristinashu I like the second option. Also yesterday @natalieworth designed and shipped a mozilla.org tile that you could steal from (designed to play well with other Mozilla assets). https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0dDRFRElzVlVDMTQ/view?usp=sharing

[2016-02-03 17:18] cassiemc commented on #1535
Let's discuss at crit today?

[2016-02-03 18:28] sabrinang commented on #1386
I updated the https://redpen.io/fq9f2be8480a18d520 diagram to be more clear - let's chat over crit

[2016-02-03 21:07] kristinashu opened #1619 "(Push Live on Feb 16) Implement Encryption Campaign promo banner for teach site"
Based on - Design Encryption Campaign promo banner for teach site #1535

Comp: https://redpen.io/p/ya4ae604c136854f8e

Assets (both SVG and PNG version): https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLU0FwS1I5N2hKdEU&usp=sharing

ai: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLNnlXQmdFSjI1UmM/view?usp=sharing

Links to mzl.la/encrypt (which I think is https://advo

[2016-02-03 21:12] kristinashu commented on #1535
Going with this version:
![2x-02](https://cloud.githubusercontent.com/assets/1068783/12797226/b7818e28-ca77-11e5-8c1c-b38d22990c1f.jpg)

I've opened an implementation ticket here https://github.com/mozilla/teach.mozilla.org/issues/1619

[2016-02-03 21:12] #1535 closed

[2016-02-03 21:44] flukeout opened #1620 "Create collaboration case studies"
Collaboration is important to the various teams that create content internally at the foundation. Whatever content management platforms or systems  we will create need to account for this. In order to do this effectively, we need to learn about how our teams collaborate. With that in mind, we've identified four teams to create case studies about...

**Teams**
* Participation Team
  * What do they

[2016-02-03 21:55] flukeout opened #1621 "Evaluate current content creation platform ideas with respect to collaboration and localization"
We're currently experimenting with quite a few ways for our internal teams to create content...

* Thimble curriculum template
* Gavin's CMS "Mage"
* Mavis' Wordpress Instance
* Science & Clubs github hosted templates

We also know that localization and collaboration are important aspects in content creation. With this in mind, let's create a matrix that compares and evaluates the four approaches

[2016-02-03 22:50] hannahkane commented on #1536
This has been duped by #1619

[2016-02-03 22:50] #1536 closed

[2016-02-04 01:06] Pomax commented on #1553
:boom:

[2016-02-04 01:06] #1553 closed

[2016-02-04 01:08] Pomax commented on #1551
all done.

[2016-02-04 01:08] #1551 closed

[2016-02-04 01:08] #1554 closed

[2016-02-04 01:22] simonwex commented on #1557
I'd like to talk through this during our next Engineering call. I've added it to that agenda.

[2016-02-04 17:22] hannahkane commented on #1621
Looks good, @flukeout. Would add that "remixing" and "editing" are important parts of some content creation, too.

[2016-02-04 17:25] hannahkane commented on #1620
@flukeout - above list looks great. Emma, Zannah, Amira, and Chad would be good people to start with. And each of them could probably refer us to community members to talk to. I can help with creating a Google form or conducting interviews.

[2016-02-04 17:27] hannahkane commented on #1601
@cassiemc - I don't know who will be building the page yet. @sabrinang - let's check in with @mmmavis and @Pomax about this during stand.

[2016-02-04 17:51] anmechung commented on #1602
I've completed revisions, and asking @KGorr to a copy edit.

[2016-02-04 18:08] kristinashu commented on #1619
@lovegushwa can you please confirm launch date and url when you can?

[2016-02-04 18:10] mmmavis commented on #1619
Reassigned to me. I should be able to have a PR up for this today.

[2016-02-04 21:15] kristinashu commented on #1394
Banner should not be too overpowering or distracting from the rest of the home page content and CTAs. To do this the banner should:
- have a neutral background colour
- text should use teach font styles
- links should be text (buttons should not be used but if a button must be used then it should be teach style button and colours)
- graphic for the campaign can use the campaign colors (full color

[2016-02-04 21:28] cassiemc commented on #1483
@amirad Do you know when the contractor intends to get started on this? Ideally we have a rough style guide for you before then. :)

[2016-02-04 23:04] #1394 closed

[2016-02-05 00:29] hannahkane commented on #1549
blocked bc we don't have anyone currently available to work on teach-api stuff

[2016-02-05 00:31] hannahkane commented on #1600
@anmechung - do you have an opinion on the above?

[2016-02-05 02:42] mmmavis commented on #1619
PR submitted. Note that https://mzl.la/encrypt links https://advocacy.mozilla.org/ (not https://advocacy.mozilla.org/encryption)

[2016-02-05 16:10] cassiemc commented on #1394
@kristinashu This is good stuff. Are these guidelines documented on the google drive somewhere?

[2016-02-05 17:12] cassiemc commented on #1483
@sabrinang Let's design this so that we don't need any dev help to implement. ie. Having it live in the teach wiki was a stellar idea! That way it's easily updatable and we can actually hack on it together to get it done. To that end I've left some comments on the redpen that should help us wrap this up. https://redpen.io/ywb006488f91162838 And we can actually just start building it here: https://

[2016-02-05 17:34] mmmavis opened #1623 "Update Goggles URL"
https://webmaker.org/goggles ---> https://goggles.mozilla.org/ :sunglasses:

d(`･∀･)b

[2016-02-05 17:40] hannahkane commented on #1490
Closing this, as per recent discussions to focus on creation workflows rather than search and discovery. May reopen in the future.

[2016-02-05 17:40] #1490 closed

[2016-02-05 17:45] cassiemc commented on #1483
@sabrinang FYI, I added a table of contents and accompanying pages that match the IA of your redpen. So now we just need to edit – add text and images – for each of those pages under 'Style Guide'. https://github.com/mozilla/teach.mozilla.org/wiki

[2016-02-05 17:47] anmechung commented on #1600
Its a good idea make sure that people can access the different versions.  There is already a link in the Web Lit 2.0 paper to the first paper.   In addition, we could make a link to it at the bottom of the latest paper.

[2016-02-05 17:53] hannahkane commented on #1223
Or we could add projects made with Goggles to the /Me page. Does that work, @Pomax?

[2016-02-05 17:56] cassiemc opened #1625 "Clean up wiki links"
@hannahkane @kristinashu Can we delete a couple pages in the wiki - they seem out of date? Or should we update them?

sitemap: https://github.com/mozilla/teach.mozilla.org/wiki/sitemap
State-of-the-Site-Architecture---March-3-2015: https://github.com/mozilla/teach.mozilla.org/wiki/State-of-the-Site-Architecture---March-3-2015

Also not sure if 'Club approval process' is up-to-date: https://github.

[2016-02-05 17:58] hannahkane commented on #1493
No updates needed right now

[2016-02-05 17:58] #1493 closed

[2016-02-05 17:59] hannahkane commented on #1589
I believe we used this link in a promotional campaign last year. Is that right, @HPaulJohnson?

@chadsansing - any use for it these days?

[2016-02-05 18:00] hannahkane commented on #1599
@erikad - wondering if you'd want to move this over to Convenings work? Seems like it fits best there.

[2016-02-05 18:28] kristinashu commented on #1394
There's a folder in the Teach drive called "Teach-HomePromoBanner" which has the illustrator file: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLNnlXQmdFSjI1UmM/view?usp=sharing
I've added the guidelines next to the artboard within that illustrator file.

[2016-02-05 18:30] sabrinang commented on #1483
@cassiemc - thanks for starting to organize it in the wiki! I'll continue documenting the style guide there

[2016-02-05 18:57] #1623 closed

[2016-02-05 19:36] amirad commented on #1483
I have a call with them on Tuesday so can find exact dates/times then @cassiemc
Looks like it's coming along though!

[2016-02-05 19:44] cassiemc commented on #1483
Sounds great, thanks @amirad! We are planning to have this wrapped up by end of the heartbeat, Feb 12, so this timing will probably work perfectly.

[2016-02-05 20:55] cassiemc commented on #1394
Perfect. Thanks @kristinashu

[2016-02-05 21:15] kristinashu commented on #1619
Thanks @mmmavis launch date has been confirmed as Feb 10th. Looking into URL...

[2016-02-05 22:01] kristinashu commented on #1619
Confirmed by @HPaulJohnson, URL will be advocacy.mozilla.org/encrypt

[2016-02-06 00:15] hannahkane commented on #1602
@kgorr - do you have an estimate for when we'll have final copy? Thanks!

[2016-02-06 00:56] hannahkane commented on #1546
@flukeout - can you provide an update before you leave today? If it's just wikifying a doc - you can delegate that to me, if you need to.

[2016-02-06 01:00] hannahkane opened #1626 "Teach Chad and Hannah how to update /activities page"
@simonwex points out that it would be relatively simple for @chadsansing (and me!) to learn how to update the /activities page with new modules when we have them.

@mmmavis - would you be able to help Chad and I get set up to do this?

[2016-02-06 01:05] hannahkane commented on #1625
Thanks for this ticket, @cassiemc.

Removed the sitemap because it is out-of-date. Not sure that a new one is needed right now.

@Pomax - would you be up for updating [State of the Site Architecture](https://github.com/mozilla/teach.mozilla.org/wiki/State-of-the-Site-Architecture---March-3-2015), and/or adding a new note reflecting the current stat eof things?

Clubs approval process is actually u

[2016-02-06 01:10] hannahkane commented on #1600
OK, it sounds like we want to fork this repo: https://github.com/mozilla/webmaker-whitepaper.

I would say we should just add new content to that repo, but I don't think "webmaker-whitepaper" is the right name. It could be weblit-whitepaper instead.

@anmechung - can you provide a link to the whitepaper content, so we can get a sense of how many different elements there will be between the older v

[2016-02-06 03:51] flukeout commented on #1546
@hannahkane The summary is here https://docs.google.com/document/d/1QQAPepC9gWSzMUCx-IrSiWUwCRDCVktYiL1EBEupXZQ/edit - it's about 95% done and will be converted into a WIKI on Tuesday morning.

[2016-02-06 20:30] KGorr commented on #1602
I made edits/suggestions and @anmechung and team were tackling them Friday. Should be finished soon!

[2016-02-07 22:33] anmechung commented on #1602
@kgorr - thanks for the edits/suggestions.  All incorporated and ready for @sabrinang

[2016-02-08 10:51] chadsansing commented on #1589
Not to my knowledge. Mebbe check with Stacy Martin re: useses.

On Fri, Feb 5, 2016 at 12:59 PM, hannahkane <notifications@github.com>
wrote:

--
Chad Sansing
Curriculum Developer, Web Literacy
Mozilla Foundation
chad@mozillafoundation.org
@chadsansing

[2016-02-08 16:15] anmechung commented on #1600
Here is a link to new concept paper:  http://bit.ly/1TOegsj

[2016-02-08 16:56] hannahkane commented on #1602
does @sabrinang have access to the doc? if so, let's close this ticket!

[2016-02-08 17:37] hannahkane commented on #1546
@flukeout - great summary. I added a few questions.

[2016-02-08 19:28] anmechung commented on #1602
yes! Closing.

[2016-02-08 19:28] #1602 closed

[2016-02-08 20:53] hannahkane commented on #1600
With some help with the Webmaker logo, I can probably do this one myself. @mmmavis - is that true, or am I likely to run into trouble?

[2016-02-09 15:32] cassiemc commented on #1600
Webmaker logos are here: https://drive.google.com/folderview?id=0B2qu3ExKWIlvZTB2UWFGQ18xVjA&usp=sharing

@hannahkane if you need an export or anything, I'm happy to help.

[2016-02-09 18:44] smithisgeneric commented on #1600
It looks like the decision to keep the existing white paper alive was reached. I'd like to chime in to support this. I've distributed the URL to the original white paper as part of grant deliverable. It could cause problems for me if the white paper disappears or if the (current) page contents are replaced with other materials.

Creating a v 2.0 of the white paper with a distinct weblink works wel

[2016-02-09 20:09] edrushka commented on #1599
Wondering about the timing of this. Is there a reason we're doing this now, and not closer to the call for session proposals for the next HCB?

[2016-02-09 20:36] LindseyFrost opened #1628 "Update Gigabit Pilot Periods"
The Gigabit Pilot Period windows need to be updated at https://www.mozilla.org/en-US/gigabit/apply/

The new dates are:

May 16, 2016 - September 4, 2016: Round 1 Pilot Period

January 2, 2017 - April 24, 2017: Round 2 Pilot Period

Thank you!

[2016-02-09 20:57] flukeout commented on #1522
Summarized in https://github.com/mozilla/teach.mozilla.org/wiki/Curriculum-Database-Research-Findings

[2016-02-09 21:26] hannahkane commented on #1599
Flagging @omnignorant to answer that very good question. Might have been a remnant of when this was going to be the "Create 2016 infographic" ticket. Since it's morphed into something with the specific strategic purpose of helping to engage future participants and partners, perhaps it should happen later, as @edrushka suggests.

[2016-02-09 21:33] hannahkane commented on #1522
Looks great. Thanks, @flukeout!

[2016-02-09 21:34] hannahkane commented on #1546
Closing because work is summarized here: https://github.com/mozilla/teach.mozilla.org/wiki/Curriculum-Database-Research-Findings

[2016-02-09 21:34] #1546 closed

[2016-02-09 21:50] mmmavis commented on #1619
@hannahkane @kristinashu when should we push this live? PR has been reviewed and is okay to go!

[2016-02-09 21:58] hannahkane commented on #1619
asking @HPaulJohnson to provide a time window. there may be a late-breaking change of plans, so let's wait until we hear from him.

[2016-02-09 22:02] mmmavis commented on #1626
Yup yup no problem! But I'd suggest to wait till the build rewrite work is in a good place first. /cc @Pomax

[2016-02-09 22:06] HPaulJohnson commented on #1619
Hi all- late breaking update: we've recently decided to do some additional testing on the initial content to a smaller audience before we promote more widely across all our channels and properties.

So please hold off on going live with this promo until further notice (expect an update in the next few days).

[2016-02-09 22:27] hannahkane commented on #1621
@flukeout - do you have any updates on this ticket? Do you expect we'll need to roll it into the next heartbeat?

[2016-02-09 22:53] sabrinang commented on #1600
/cc @flukeout

Luke and I are going to look into this tomorrow and see how we can style the templates being developed currently (the ones that will be used for clubs) to accommodate this whitepaper. It can potentially live http://mozilla.github.io/learning-networks/__newnamehere__

[2016-02-09 22:59] hannahkane commented on #1600
I heartily approve of this idea. Thanks!

[2016-02-10 18:23] hannahkane commented on #1626
Let's use this as a teaching case: https://docs.google.com/document/d/1j6kTdhfTION7_N63Ws-qv1NC-V2a0Iuh-4PDkGfQRIE/edit?ts=56b9cdab#heading=h.nir6usoqepnq

[2016-02-10 22:07] kristinashu commented on #1386
Our plan is to simplify the palette in http://blog.seanmartell.com/2014/09/17/mozilla-id-project-palette-explorations/ and then update teach colors to that simplified palette.

We don't necessarily need to align with the current teach sections colors (ie if the new pink isn't working then we could use a different color from the new palette - for example orange).

However, with the latest mofo desi

[2016-02-10 22:28] cassiemc commented on #1386
I don't see the side nav issue being resolved for some time (thinking a couple months, maybe, if we decide to prioritize it at all). Re. colour – yes, that's the plan! I just filed https://github.com/MozillaFoundation/Design/issues/139 which we can tackle in the next heartbeat.

[2016-02-11 00:25] Pomax commented on #915
closing this for now, it's going to be too involving for anyone to work on.

[2016-02-11 00:25] #915 closed

[2016-02-11 00:54] Pomax opened #1630 "Makes pages define their metadata for opengraph/twitter card/etc purposes"
Right now pages control their title, but not all that much else, so we cannot easily generate OpenGraph information, or twitter cards.  Some minimal information that would be needed:
[code]
While not too much work, we have a lot of pages (including all the activities) for which this would have to be done.

[2016-02-11 00:56] Pomax commented on #1350
There is a fair bit of prep work that's going to have to be done before we can add twitter cards and other opengraph-style metas to the pages we generate, for which https://github.com/mozilla/teach.mozilla.org/issues/1630 has been filed. marking this as blocked for now.

[2016-02-11 00:56] Pomax commented on #1552
this actually works pretty well now.

[2016-02-11 00:56] #1552 closed

[2016-02-11 00:57] #1550 closed

[2016-02-11 01:02] Pomax commented on #1578
this has been done for enough pages that any remaining bits can be dealt with on a one-by-one basis

[2016-02-11 01:02] #1578 closed

[2016-02-11 01:25] #1611 closed

[2016-02-11 01:58] #1501 closed

[2016-02-11 01:59] Pomax commented on #1618
PR open on https://github.com/mozilla/teach.mozilla.org/pull/1627

[2016-02-11 21:54] HPaulJohnson commented on #1619
We are ready to turn this on Tuesday a.m (2/16). Let me know if that works and if there's anything else that's needed from us.

[2016-02-11 21:56] kristinashu opened #1632 "Email sign up check box"
@hannahkane I'm wondering if you have any legal insights about email sign ups? On teach we have a check mark agreeing to our policy (users can't uncheck):

<img width="667" alt="screen shot 2016-02-11 at 1 38 33 pm" src="https://cloud.githubusercontent.com/assets/1068783/12991670/0739dde6-d0c5-11e5-90c1-77b0b4ac529c.png">

Whereas on the new encryption site (http://advocacy.mozilla.org/encrypt), t

[2016-02-11 23:00] cassiemc commented on #1632
@kristinashu In the past on login/ID work we decided as you did that it was better to pre-select the check. Like you say they don't really have an option.

[2016-02-12 00:02] flukeout commented on #1600
The work-in-progress version lives here right now...
http://flukeout.github.io/master-template/weblit/whitepaper.html

[2016-02-12 00:21] hannahkane commented on #1632
+1 - was intentional to pre-check, and, iirc, that was preferred by our legal dept

[2016-02-12 00:23] kristinashu commented on #1632
Ok thanks!

[2016-02-12 00:23] #1632 closed

[2016-02-12 00:26] omnignorant commented on #1599
I dunno. I haven't been able to stay on top of this because of a series of unexpected obligations the last two weeks, BUT my thinking was that

* 9 months from now, we'll have to go back and dig around to surface what made this event special. In principle, if we made this deck now, we'd be pre-empting that work with ideas still fresh in mind.
* a template approach could be useful for other events

[2016-02-12 00:33] hannahkane commented on #1600
Wow, this looks lovely.

[2016-02-12 01:02] flukeout commented on #1600
**Questions**
* Do we add a footer?
* Do we link back to the Teach site somewhere and how?
* Do we add a mozilla & teach logos?
* Do we want to indicate the format for this article (and others using similar templates)?
  * White Paper
  * Guide
  * etc...

[2016-02-12 01:19] hannahkane commented on #1600
I'd say:
 * yes, we should link back to Teach. Many people will be arriving here *from* the Teach site, but since people will also share the paper directly, we should definitely provide a way back to Teach, as well as...
 * ...provide some overarching brand context. I'd say we want to associate  this with both Mozilla and Teach. Since there isn't a Teach logo, perhaps we do something similar to wh

[2016-02-12 01:41] kristinashu commented on #1387
Updated warning note and made the date circles (blog date circle on home page and the maker party resource circle) more consistent with each other:
![teach-colours-02 2x](https://cloud.githubusercontent.com/assets/1068783/12996609/325d2e26-d0e6-11e5-9b94-50d4c001bbad.jpg)

[2016-02-12 02:12] anmechung commented on #1600
+1 to all of @hannahkane comments including the lovely part!

- Personas that @sabrinang  generated for MozFest will need to be added somewhere - @sabring - let me know when you unearth them, and I'll write some others that can also be added to page for the Web Lit map visual.
- Realized that I need to get from @wiobyrne references to be included in the footnotes for studies referenced in the foot

[2016-02-12 03:10] jgmac1106 commented on #1600
Is it a link to Mozilla Leadership Network or Learning Network?

Its Leadership Network in all the curriculum. We should match in the white
paper.

.....or explain the naming conventions du jour.

But excited to see it going live. Looks good @flukeout

On Thu, Feb 11, 2016, 9:12 PM An-Me Chung <notifications@github.com> wrote:

[2016-02-12 11:34] sabrinang commented on #1388
![buttons](https://cloud.githubusercontent.com/assets/2492510/13005823/7ceded1a-d139-11e5-90d2-f386992e2adc.png)

[2016-02-12 12:37] sabrinang commented on #1601
**Updates:**
- Colours is TBD but I have tested variations of the mozilla palette that work better together for colour-blindness and greyscale
- grey is still present as it is doesn’t interfere with the colour coding and is part of the accent palette
- improved contrast of labels and checkboxes
- balanced out orientation the labels to be all horizontal so the “open practices” label is horizontal w

[2016-02-12 12:46] sabrinang commented on #1603
**Updates:**
- Web Lit Basics I activities are connected to the corresponding literacy or competency selected in the graph by being displayed below the description as a thumbnail list (as seen on teaching activities page)
- Web Literacy is a primary navigation item and 21 Century Skills is a secondary item beneath this
- whitepaper will be linked from the bottom of the page
- wireframes show vario

[2016-02-12 14:06] wiobyrne commented on #1600
@anmechung no problem.

Just tell me where and when.

[2016-02-12 15:18] cassiemc commented on #1483
@sabrinang Can you link to your source file and I can put the images into the wiki?

[2016-02-12 18:20] anmechung commented on #1600
@wiobyrne Can add to  http://bit.ly/1TOegsj as footnotes as soon as you are able?  Thx!

[2016-02-12 18:37] sabrinang commented on #1483
@cassiemc .sketch file is located in this folder: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B4Q8pzCpDS_eNS02QktEUUZ3Zzg&usp=drive_web&ddrp=1#

[2016-02-12 19:08] sabrinang commented on #1603
cc/ @cassiemc @hannahkane @anmechung

Let's review these

[2016-02-12 19:10] flukeout commented on #1538
Closing since it's probably not going to be Thimble template anymore - but will move to a new ticket as we continue to iterate.

[2016-02-12 19:27] mmmavis commented on #1628
I can have a PR in this Friday/Next Monday.  Is there a deadline that's tie to this? It would be great to inform the mozilla.org team about that. :smiley:

[2016-02-12 19:42] LindseyFrost commented on #1628
Thank you, Mavis! It would be idea to have it updated by 3/18.

[2016-02-12 20:59] ldecoursy opened #1633 "Review/update content on /activities"
@chadsansing and I were talking about reviewing current content on the /activities page - several links go to old Webmaker, and we have some new content coming down the pike to add.

Can we review any traffic analytics to see which links get the most clickthroughs so we can make more informed decisions?

Related to #1626

[2016-02-12 21:01] ldecoursy commented on #1633
New content coming would be Letters to the Next President page, MOUSE web lit activities https://d157rqmxrxj6ey.cloudfront.net/mouseorg/23946/, what else?

[2016-02-12 21:10] #1062 closed

[2016-02-12 22:17] hannahkane commented on #1618
@Pomax - do we need to roll this into the next heartbeat?

[2016-02-12 22:18] hannahkane commented on #1613
@Pomax - do we need to roll this to the next heartbeat?

[2016-02-12 22:20] hannahkane commented on #1600
@jgmac1106 - Teach site will continue to be known as "Learning" for the time being. "Leadership" represents overarching programmatic work, beyond the educational hub (also includes, as an example, Mozilla Science).

[2016-02-12 22:30] hannahkane commented on #1633
Good idea. Happy to walk through analytics with you both whenever you'd like.

[2016-02-12 22:33] hannahkane commented on #1549
@pomax - were you able to get to this? If not, I'm going to take it out of the milestone.

[2016-02-12 22:34] hannahkane commented on #1538
@flukeout - did you intend to leave this open?

[2016-02-12 22:36] hannahkane commented on #1609
Closing this here, because we've moved this work over to the CMS repo: https://github.com/mozilla/mofo-cms-experiment/issues/16

[2016-02-12 22:36] #1609 closed

[2016-02-12 22:37] hannahkane commented on #1608
Closing this because we've moved this work over to the curriculum repo: https://github.com/mozilla/mofo-cms-experiment/issues/17

[2016-02-12 22:37] #1608 closed

[2016-02-12 22:40] cassiemc opened #1634 "Access to Google Analytics"
As part of some audit work in the plan repo, can I have access to analytics for the teach site? @hannahkane @adamlofting Thanks in advance!

[2016-02-12 22:41] hannahkane commented on #1530
Hi @my-le - there was a planning meeting today where we discussed assigning this ticket to you! It may not be immediately clear to you since you haven't worked on Teach.mozilla.org before, but @kristinashu, @vazquez, and I can brief you on this next week.

[2016-02-12 22:44] hannahkane commented on #1634
I don't have permissions to grant permissions, so this will have to be @adamlofting.

[2016-02-12 23:01] mmmavis commented on #1628
@LindseyFrost Cool, any time before 3/18 is also fine as well right?

[2016-02-12 23:18] sabrinang commented on #1603
Hey @anmechung - I believe you mentioned there is the department of ed training in New York gathering 3rd week of February and you wanted to share out web lit progress so here is a clickable wireframe (organized better than the redpen) on marvel for now: https://marvelapp.com/b8a125

(I think there are some typos I made copy and pasting but I am going through them now)

[2016-02-12 23:26] Pomax commented on #1557
clearing the milestone here, because this is a very tricky problem, and is not happening without us figuring out how to do this for our entire app ecosystem.

[2016-02-12 23:27] Pomax commented on #1549
moving to the next milestone - @simonwex and I will look at this on monday, as getting the Teach-API to run properly for testing/extending, without someone familiar with doing that, is proving to be rather tricky

[2016-02-12 23:31] jgmac1106 commented on #1603
@sabrinang this is awesome. I love the interactivity and how much info you
fit into such an intuitive design.

On Fri, Feb 12, 2016 at 6:18 PM sabrinang <notifications@github.com> wrote:

[2016-02-12 23:35] sabrinang commented on #1600
@anmechung I have the 5 personas we used for MozFest in madlib form:

**Teacher**
My name is Mr. G and I am a high school music teacher. I’m interested in teaching my students to be responsible citizens of the web given how active they are in making and remixing digital music. With all the issues about copyrights and licenses, I need resources that will help educate me and them about these issues

[2016-02-12 23:44] flukeout commented on #1538
@hannahkane Did not, thanks!

[2016-02-12 23:44] #1538 closed

[2016-02-12 23:53] hannahkane commented on #1619
Discussed at planning meeting today - @mmmavis will push this on Tuesday.

[2016-02-13 00:11] anmechung commented on #1603
@sabrinang this is just GREAT!!! Beautiful and functional. I added some editing comments to redpen, and what I will do when is go through each skill, cross-reference and make sure they match with what's in the paper

[2016-02-13 00:58] mmmavis opened #1635 "HTML Document Title doesn't update as you navigate between pages"
We should file a follow-up PR for https://github.com/mozilla/teach.mozilla.org/pull/1627

Issue:
`document.title` doesn't update as you navigate between pages. @Pomax can fill in more details in here but he mentioned it was something to do in `page.jsx`

[2016-02-13 01:00] Pomax commented on #1635
This is because page.jsx in the PR changes the title in `componentWillMount`, but react-router recycles the element, so it'll only ever mount once. Instead, we need to hook into `componentDidUpdate` to catch subsequent page loads.

[2016-02-13 01:03] hannahkane commented on #1443
From @anmechung:

    Curriki is a website that curates content in a variety of disciplines, highlighting noteworthy teachers and content. With more than 8 million users from nearly 200 different countries, this site has been a vibrant place to create, share, and find open educational resources (OERs) since 2006. They offer free tools for build-your-own curricula and private virtual collaboration

[2016-02-13 01:17] Pomax commented on #1618
PR landed

[2016-02-13 01:17] #1618 closed

[2016-02-15 02:51] yash14123 commented on #1625
Any other things to be removed. I can help with that. :)

[2016-02-15 09:43] adamlofting commented on #1634
Done :+1:

Let me know if you'd like access to any of the other sites. I'm admin on some of them, and some of them are administered by MoCo, but I can file the necessary bugs to get you setup.

[2016-02-15 09:43] #1634 closed

[2016-02-15 23:09] mmmavis opened #1636 "<Sidebar> needs to know which page it is currently on"
Looks like `currentPath` isn't being passed correctly - in `<Sidebar>` that prop is `undefined`. We should fix that so teach-api knows which page to redirect users back after they sign in/up/out.

[2016-02-15 23:23] #1636 closed

[2016-02-16 14:43] vazquez commented on #1530
I have briefed @my-le a little bit about this, but let's set up a meeting between @hannahkane @kristinashu @my-le and I to get specific requirements :)

[2016-02-16 16:50] anmechung commented on #1600
@sabrinang - do you think these personas should be on the web literacy map page? or should we add them to the white paper?  Or both?

[2016-02-16 16:51] anmechung commented on #1600
@wiobyrne can you add the references by mid-week?  http://bit.ly/1TOegsj

[2016-02-16 17:28] Pomax commented on #1223
I'm not sure - it looks very much like the `/me` page lists the old makes.org projects, not the new stuff made with thimble and goggles using the publish.moz service (at least, I don't see my new thimble projects in it), so it feels like we're still looking at reimplementing some kind of gallery

[2016-02-16 18:22] #1619 closed

[2016-02-16 18:32] hannahkane commented on #1223
So, sort of like how when you log into Thimble you can access "My Projects," we'd have the same structure for Goggles? Can we use Thimble code for that?

[2016-02-16 18:37] Pomax opened #1639 "sidebar subitems disappear if you navigate to them"
Base sidebar has teaching activities with web literacy subitem. If you click through to web literacy, it (visually, at least) disappears from the sidebar

[2016-02-16 18:56] amirad commented on #1483
@cassiemc this was the response from our contractor "Amira, I'd say really, we'd love the guide as soon as possible, but we're happy to have items drip fed to us, or to have your team feed back on our mock ups if they aren't ready to share the style guide! I'd love to get our dev team working on the build in the next few weeks."
LMK if you have a finished date or anything I can send them in the in

[2016-02-16 19:09] hannahkane commented on #1509
@Pomax - how do you want to manage this ticket moving forward? Should we keep it in the current milestone? Or, are we done with it for now (my understanding), and therefore we should take it out of the current milestone - either to close or to pick up again later?

[2016-02-16 19:10] hannahkane commented on #1626
@mmmavis / @chadsansing  - should we pick a time to walk through this? Is 30 minutes enough time, or should we schedule an hour?

[2016-02-16 19:19] chadsansing commented on #1626
An hour, @hannahkane? My calendar is up-to-date. Want to find a time? I can, also.

[2016-02-16 20:27] Pomax opened #1642 "add habitat so you don't need to "source .env""
Add the `habitat` library so that an `.env` is just automatically picked up. People should not need to source their environment. Ever.

[2016-02-16 20:29] wiobyrne commented on #1600
I'm adding them in right now.

-Ian

_________________________

W. Ian O'Byrne, Ph.D.

College of Charleston

wiobyrne.com

Be sure to subscribe to my newsletter.

On Tue, Feb 16, 2016 at 11:51 AM, An-Me Chung <notifications@github.com>
wrote:

[2016-02-16 20:39] mmmavis opened #1643 "Subitems disappearing from sidebar when JS is disabled"
Follow-up ticket for PR https://github.com/mozilla/teach.mozilla.org/pull/1641

issue

[2016-02-16 20:41] #1639 closed

[2016-02-16 20:48] #1635 closed

[2016-02-16 21:45] sabrinang commented on #1600
@anmechung It'll be quite text heavy on the web literacy map page so I'd keep the map page focused on the graphic + corresponding definitions only and suggest keeping personas separate living in the whitepaper or have it as a subsection under web literacy map. (If it lives on site as a subsection, we'd need text to give context to frame these personas.)

[2016-02-16 21:57] anmechung commented on #1600
@sabrinang - good idea.  Let's keep the personas separate living in the white paper.

[2016-02-16 21:58] anmechung commented on #1600
@wiobyrne thanks!

[2016-02-16 22:48] mmmavis opened #1644 "Club List not showing on /clubs/list"
Seeing this in console `TypeError: this.props.router is undefined`. Called from `pages/clubs-list/ClubsListPage.jsx`

[2016-02-16 22:56] #1644 closed

[2016-02-17 00:22] #1549 closed

[2016-02-17 01:15] mmmavis opened #1648 "[ teach-api ] pushing to Heroku doesn't trigger db migration"
... We should fix that so https://github.com/mozilla/teach-api/pull/26 can work properly on staging and production.

Not sure how we can trigger the [`makemigrations` and `migrate` commands](https://docs.djangoproject.com/en/1.9/topics/migrations/#the-commands) though... Via `.travis.yml`? `Procfile`?

Teach API repo: https://github.com/mozilla/teach-api

[2016-02-17 01:16] mmmavis commented on #1648
cc @Pomax @simonwex

[2016-02-17 01:24] Pomax opened #1649 "reduce the complexity of releasing"
There's some things that can be improved around releasing (by using `npm version` for instance, and ssh git links instead of ssh http ones)

[2016-02-17 01:55] LindseyFrost commented on #1628
Correct!

On Fri, Feb 12, 2016 at 6:01 PM, Mavis Ou <notifications@github.com> wrote:

[2016-02-17 01:55] LindseyFrost commented on #1628
(The sooner the better really)

On Tue, Feb 16, 2016 at 8:55 PM, Lindsey Frost <lindsey.frost@gmail.com>
wrote:

[2016-02-17 05:21] Pomax commented on #1509
I'd say let's take it out of any milestone but keep it around as a tracking ticket. It's not longer a thing that feels tied to specific heartbeats, but still appropriate to work through when there's a lull in the workloads.

[2016-02-17 15:42] cassiemc commented on #1483
@amirad It's all coming together in the wiki here: https://github.com/mozilla/teach.mozilla.org/wiki/Introduction (explore the links in the sidebar) We'll likely be editing it over the next few days but I agree something is better than nothing! We are also very open to them reaching out if they have specific questions or would like a design review/feedback, since it's all a bit of a work in progre

[2016-02-17 15:44] amirad commented on #1483
Yes, yes! So good. Thank you!

(and it looks lovely)

[2016-02-17 16:19] hannahkane commented on #1603
@sabrinang - do you think we can close this issue?

[2016-02-17 18:16] sabrinang commented on #1603
@hannahkane Yes - wireframes have reviewed yesterday and any small text adjustments will be done in dev phase. (I'll file separate issue for final line art and colour)

[2016-02-17 18:16] #1603 closed

[2016-02-17 18:22] sabrinang commented on #1601
Closing (I'll file separate issue for final colours)

[2016-02-17 18:22] #1601 closed

[2016-02-17 19:34] sabrinang opened #1650 "Web Literacy - Line Art"
We have 3 placeholders (for Read, Write, Participate) and icons used for 21 Century badge skills that we can make into line art to match the rest of the illustration styles present on the site. The line art colour will adopt the section colour.

![icons to line art](https://cloud.githubusercontent.com/assets/2492510/13121764/9950375a-d568-11e5-96dd-3e87e9bb3626.png)

Related to issue: #1603 (web l

[2016-02-17 19:47] sabrinang opened #1651 "Web Literacy - Colour Coding"
Finalize with aligned colours from update palette issue: https://github.com/MozillaFoundation/Design/issues/139 and ensure colour tests are conducted for accessibility (colour blindness and greyscale printing)

![web literacy 2 0 graph design](https://cloud.githubusercontent.com/assets/2492510/13006958/71876f7a-d141-11e5-8baa-c2a5f032849d.png)

![colour tests](https://s3.amazonaws.com/redpen-prod/

[2016-02-17 20:56] hannahkane commented on #1537
@Pomax - should I be seeing this change on the production site, since we rolled it yesterday?

[2016-02-18 00:04] Pomax commented on #1223
thimble is a tool with an obvious spot for "my projects", since you load/save from a clear front end, but goggles doesn't; where would we expose "my goggles projects"? Unless we're turning the `/me` route on teach into an aggregate view of all things made with current Moz tools, so you see thimble and goggles things there. (with perhaps some "older stuff" tab for old makes?)

[2016-02-18 00:09] hannahkane commented on #1223
I think that's what I was suggesting in my [comment above](https://github.com/mozilla/teach.mozilla.org/issues/1223#issuecomment-180468553). I like the idea of including both Thimble and Goggles stuff there + "older stuff".

[2016-02-18 11:17] chadsansing commented on #1650
These would be cool to consider as the new "buttons" for web literacy competencies on curriculum pages/lesson plans. Do they or can they share a fixed width?

[2016-02-18 14:20] chadsansing opened #1652 "Filing a Mozilla Leadership Curriculum Design Brief"
Thinking ahead to April/May production for draft 1.0 of the Mozilla Leadership Curriculum (due H1), I'm drafting and sharing a design brief and sharing to @cassiemc and @hannahkane. GDoc incoming.

[Back to issues.](https://github.com/mozilla/teach.mozilla.org/issues)

[2016-02-18 14:40] chadsansing commented on #1652
Here it is: https://docs.google.com/document/d/1U6ujOTYD2Bb4b-AvLMzDkX87T6NfIPIdyDxcEonpb5s/edit#

[2016-02-18 15:24] chadsansing commented on #1652
Sketching [here](http://chadsansing.github.io/leadership-curriculum/1-1-becoming-a-mozillian.html#overview).

[2016-02-18 20:26] amirad commented on #1544
I'M SUCH A BLOCKER!
So yes, one step for now and when we have training up and running that will be the second step before the club gets approved. Will figure out process once it's ready to implement.

[2016-02-18 22:09] hannahkane commented on #1544
OK, I'm going to suggest we hold off on these changes until we have the training up and running. Does that work?

[2016-02-18 22:20] amirad commented on #1544
Sure!

[2016-02-19 00:07] mmmavis commented on #1626
Hey @hannahkane & @chadsansing ,

Question - wondering if you are expecting submitting code changes via Github's interface or through a proper dev environment setup (e.g., Terminal+Github+code editor etc)?

To add new teaching modules/kits we will need to edit multiple files in the codebase, including uploading images files to a specific directory - this is hard and cumbersome to achieve if we rel

[2016-02-19 00:08] hannahkane commented on #1626
I'm good with terminal+github+editor if @chadsansing is!

[2016-02-19 00:28] hannahkane commented on #1652
Sweet. Thanks, @chadsansing. Should we three meet about this briefly and then file design and implementation tickets that would necessitate further conversations with designers and devs?

[2016-02-19 00:56] mmmavis commented on #1628
PR submitted to mozilla.org repo: https://github.com/mozilla/bedrock/pull/3881

[2016-02-19 01:26] chadsansing commented on #1626
Let's try it.

[2016-02-19 01:27] chadsansing commented on #1652
Yeah; I'll send an invite on the morrow.

[2016-02-19 02:01] cassiemc commented on #1652
I'm up for it. Next week should be much more open por moi

[2016-02-19 04:26] mmmavis commented on #1626
`branch` created here: [example code](https://github.com/mozilla/teach.mozilla.org/pull/1653)
Code changes in 3 files + 10ish image files - shouldn't be too bad!

[2016-02-19 05:17] mmmavis commented on #1626
### Install `node`

1. Install Xcode Command Line Tools: https://developer.xamarin.com/guides/testcloud/calabash/configuring/osx/install-xcode-command-line-tools/
2. Install Homebrew: http://brew.sh/
3. Install `node` via Terminal: `brew install node`

### Fork Teach Repo

1. Go to https://github.com/mozilla/teach.mozilla.org
2. Click on the "Fork" button <img width="80" alt="screen shot 2016-02-1

[2016-02-19 05:26] mmmavis commented on #1626
### Sync a Fork

1. `git fetch upstream`
2. `git checkout develop`
3. `git merge upstream/develop`
(more explanation here: https://help.github.com/articles/syncing-a-fork/, except we are working off of the `develop` branch, instead of `master`)

### Create a Branch

1. `git checkout -b issue-number-add-new-activity develop`

### Get Teach Site Running Locally

1. Install all the required node pack

[2016-02-19 11:43] chadsansing opened #1654 "Add license to the curriculum template"
Bottom of aside/nav?

[2016-02-19 11:44] chadsansing opened #1655 "Add next activity button to the curriculum template"
To append to the bottom of the body of the last step in an activity?

[2016-02-19 15:57] hannahkane commented on #1655
@flukeout - assigning to you. Can you decide whether this should go in the current milestone or the next, based on your availability?

[2016-02-19 15:57] hannahkane commented on #1654
@flukeout - assigning to you. Can you decide whether this should go in the current milestone or the next, based on your availability?

[2016-02-19 19:34] cassiemc opened #1658 "Review style guide copy re. the MLN name"
@hannahkane @HPaulJohnson @KevZawacki – Would love for you guys to review some copy that @sabrinang and I would like to include in this repo's style guide. Eventually it'd be great if you could review all of it (but we're not quite there yet), so just looking at the ['Our Name' section](https://github.com/mozilla/teach.mozilla.org/wiki/Resources#our-name) would be helpful! Here's the text copy & p

[2016-02-19 19:54] KevZawacki commented on #1658
@cassiemc Looks good! Great that we're clarifying this stuff.

[2016-02-19 20:12] hannahkane commented on #1658
@chrislarry33 and @ldecoursy to review. I believe there was talk of removing "Network" from the Mozilla Learning branding, to reduce confusion further.

Could edit last sentence to be something along the lines of, "We are sometimes referred to internally as Mozilla's education hub (compare to Mozilla Science Lab as the science hub, Open News as the journalism hub, etc.), but officially we are know

[2016-02-19 22:00] sabrinang opened #1659 "Update Web Literacy Page with Web Literacy 2.0"
Currently, web literacy is shown here https://teach.mozilla.org/activities/web-literacy and based on #1603 wireframes ([see redpen](https://redpen.io/p/to351d853022563354)) we need to make the following updates for Web Literacy 2.0:

- Web Literacy will become a primary navigation item on the teach.mozilla.org site located below "Teaching Activities" and above "Leadership Opportunities".
- It will

[2016-02-19 22:48] hannahkane commented on #1626
Thanks for the awsm training today, @mmmavis!

my dev environment issue was resolved by uninstalling and then reinstalling homebrew, so I'll play around with this on Monday.

[2016-02-19 22:59] hannahkane commented on #1659
Adding to this milestone only because I'm hoping to have the brainstorm and discussion this milestone; but the actual implementation will start next heartbeat.

[2016-02-19 23:01] Pomax commented on #1659
I'm up for discussions!

[2016-02-20 00:09] alicoding opened #1660 "Missing path module in gulp file watch.task.js"
[code]

[2016-02-20 00:12] #1660 closed

[2016-02-20 00:14] mmmavis opened #1661 "Add PR Issue Template"
We should add a `PULL_REQUEST_TEMPLATE.md` file to this repo.

See https://github.com/blog/2111-issue-and-pull-request-templates for details.

[2016-02-22 15:00] my-le commented on #1530
@hannahkane, @kristinashu, @vazquez: “Pledge to Teach” button and lightbox are on Red Pen > https://redpen.io/p/kw3181d1724543c4f2

[2016-02-22 15:24] ldecoursy commented on #1658
@chrislarry33 look ok?

Formally Mozilla Learning Hub, or Mozilla Learning for short. Mozilla Learning is the education hub within the Mozilla Leadership Network (MLN) - as Mozilla Science Lab is the science hub and OpenNews is the journalism hub. Although the URL is teach.mozilla.org, please refrain from referring to the project as Mozilla Teach for consistency purposes.

[2016-02-22 15:57] jgmac1106 commented on #1658
"MLN"character count=3 (129 left after #teachtheweb)
"Mozilla Learning Network character count"=(104 characters left after
adding #teachtheweb)"
Twitter handle most associated with MLN and #teachtheweb @MozTeach

Yet told to no say Mozilla Teach even though the site as noted is labeled
teach.mozilla.org and social media as noted runs through @MozTeach?

Curriculum in Thimble, "created by Mozilla L

[2016-02-22 16:57] hannahkane commented on #1530
nice! I don't have a strong preference on the lightbox options. @kristinashu @vazquez - do you?

[2016-02-22 17:00] adamlofting commented on #1530
Flagging this ticket for @alicoding as he's working on switching the corresponding forms to ExactTarget this week.

[2016-02-22 18:59] cassiemc commented on #1658
Thanks @jgmac1106 for pointing out the discrepancies, that's really quite helpful! Our aim with the style guide is to all get on the same page first about the ideal language, then we'll go about cleaning house. URLs and social media channels are all going to be addressed in a more extensive brand cleanup later.

[2016-02-22 21:56] kristinashu commented on #1530
Looks great @my-le! I just made a few little comments in the ticket.

[2016-02-22 22:19] hannahkane commented on #1626
@mmmavis - should we close this/ @chadsansing - has your dev environment issue been resolved?

[2016-02-22 22:20] hannahkane commented on #1314
@pomax - is this one you could do?

[2016-02-22 22:20] hannahkane commented on #1307
@Pomax - is this one you could do?

[2016-02-22 22:24] hannahkane commented on #1599
@edrushka - what do you think? Should we move to convenings, close, something else?

[2016-02-22 22:25] hannahkane commented on #1613
@pomax - do you want to assign this to yourself?

[2016-02-22 22:26] hannahkane commented on #1600
@flukeout - how are you doing on this one? Do you have all the info you need to finalize?

[2016-02-22 22:29] hannahkane commented on #1649
@Pomax - can you say more about how urgent or not urgent this is?

[2016-02-22 22:30] chadsansing commented on #1626
Let's close. I'll come back to my dev environment after the NYC/IPPD training and file another issue for help if need be.

[2016-02-22 22:30] hannahkane commented on #1633
@ldecoursy - should we set up a time to talk?

[2016-02-22 22:31] hannahkane commented on #1630
@pomax - this could be another one to add to this heartbeat if you have time

[2016-02-22 22:34] #1626 closed

[2016-02-22 22:49] mmmavis commented on #1626
:grin:

[2016-02-22 22:53] #1642 closed

[2016-02-22 22:59] ldecoursy opened #1664 "Link or embed code for newsletter signup"
Hi @mmmavis, do you know if there is a link, or can you share the embed code, for the Mozilla Learning newsletter signup? It's the one found at the bottom of this page? https://teach.mozilla.org/community

Asking bc we might want to add links to that signup from our individual Hive sites.

cc @KGorr @stephaniemcv

[2016-02-22 23:19] edrushka commented on #1599
I'm going to close and may re-open when the Convenings teams starts to tackle creating templates. @omnignorant if you have bandwidth to run with this now, please feel free to re-open. I'd be happy to review.

[2016-02-22 23:19] #1599 closed

[2016-02-23 00:17] Pomax commented on #1649
not that urgent - it's part of the general "let's make things a little easier for devs" work, forgot to tag it. We don't release constantly, so it's only an issue intermittently.

[2016-02-23 00:20] Pomax commented on #1307
I can take that one this week - is the linked gif the speed we want? (I'm someone who's particularly sensitive to movement anywhere in my field of vision, so to my brain that animation is actually too fast, physically affecting me)

[2016-02-23 22:49] hannahkane commented on #1307
I don't have a strong opinion about that. @natalieworth - do you?

[2016-02-23 22:55] hannahkane commented on #1621
@flukeout - not feeling the need for this ticket so much. what do you think - should we close?

[2016-02-23 22:55] hannahkane commented on #1606
@ldecoursy and I did this.

[2016-02-23 22:55] #1606 closed

[2016-02-23 22:56] hannahkane commented on #1530
Do we have a final version for this? Wondering if we should send this along to implementation?

[2016-02-23 22:57] hannahkane opened #1665 "Implementation: Replace Pledge to Teach CTA with newsletter sign-up"
Design is being finalized in #1530

[2016-02-23 22:57] mmmavis commented on #1628
Live on https://www.mozilla.org/gigabit/apply/ :dancers:

[2016-02-23 22:57] #1628 closed

[2016-02-23 22:57] hannahkane commented on #1665
@Pomax - wondering if you can take this one? I don't think the design is quite finalized, but it's close.

[2016-02-23 22:58] hannahkane commented on #1483
Wondering if there's a status update on this ticket? Is it likely to close this heartbeat?

[2016-02-23 22:59] hannahkane commented on #1665
Marking as a P1 because I'd rather dedicate time to this than things in this milestone marked as P2.

[2016-02-23 23:05] my-le commented on #1530
@hannahkane If CTA's title is correct for you, I will send the icon file.
For the lightbox:
1) Text: I will make text changes (“Subscribe” + “privacy policy" in blue as currently on teach.mozilla.org)
2) Design: I would like to have @vazquez 's opinion about the version we keep.

[2016-02-23 23:08] hannahkane commented on #1530
Thanks, @my-le.

Yes, I think "Get Email Updates" works.

[2016-02-23 23:14] flukeout commented on #1621
Yeah, makes sense. Closing.

[2016-02-23 23:14] #1621 closed

[2016-02-23 23:34] my-le commented on #1530
@hannahkane Where could I upload the icon?
“Newsletter Subscribe” icon is based on “Teach an activity” icon (size and color).

[2016-02-24 00:19] kristinashu commented on #1530
@my-le I've just created a folder in our Teach drive where you can upload your files: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLb0Z2ZmlJNEhKSFE&usp=sharing

Could you please add your working file (for our future reference) and an SVG of the letter/envelope icon (for developer)?

The little mail icon and the check mark should be from Font Awesome so you don't need to export

[2016-02-24 12:25] my-le commented on #1530
@kristinashu You will find in the folder: AI working file, AI icon and SVG icon.

[2016-02-24 14:39] vazquez commented on #1530
I agree with @kristinashu that based on the brand the first option works best. Between us, I do like the coloured background better though :yum:

![screenshot 2016-02-24 09 38 52](https://cloud.githubusercontent.com/assets/1119821/13288556/70f8cd0e-dada-11e5-93e3-3b27335957de.png)

[2016-02-24 17:09] kristinashu commented on #1530
Thanks @my-le! Could you also please add the illustrator file with the button and modal (just in case we need to edit it in the future)? And then update redpen to show only the final version (so that it will be totally clear to dev which one we're doing). Then I think we're good to close this ticket!

[2016-02-24 17:13] cassiemc commented on #1483
@sabrinang did a great job updating this and adding examples per our last review. I just need to go through and add some text. So, @hannahkane, yes, likely to close.

[2016-02-24 17:27] hannahkane commented on #1483
hurray! thanks, @cassiemc and @sabrinang.

[2016-02-24 18:15] kristinashu commented on #1665
@Pomax
My will be updated the redpen (https://redpen.io/p/kw3181d1724543c4f2) but essentially it's:
- on the home page, replace the text "Pledge to teach" with "Get email updates"
- replace the icon of a person/chalkboard with the letter/envelope (SVG https://drive.google.com/a/mozilla.com/file/d/0B_itHmpwHBFvRFA0TUpLak52MUE/view?usp=sharing)

<img width="597" alt="screen shot 2016-02-24 at 10 11

[2016-02-24 18:20] anmechung opened #1666 "add web literacy training module to teaching activities"
@hannahkane @sabrinang  We've been delivering professional development via 1/2 day (in March), full day (see below), and 2 day (available in May) training modules.

These may eventually be included in the curriculum database, but in the meantime, can we add to the teaching activities page (along with single activities, kit,) and call it Training Module?
Here is a link to a full-day training module

[2016-02-24 18:28] mmmavis commented on #1664
Hi @ldecoursy ,

Currently there's no direct link to the form nor any embed code.  Currently we are using BSD as the backend destination and we built that form from scratch on the Teach site. Would adding an anchor to that form help? e.g., https://teach.mozilla.org/community#signup

[2016-02-24 18:42] ldecoursy commented on #1664
OK - but we're sending the newsletter from Exact Target so I wonder if the list needs to be re-imported from BSD? Or if we need to adjust the backend to Exact Target.

In any case, I think an anchor link would help as a short-term solution.

[2016-02-24 19:19] my-le commented on #1530
Please find in Teach drive folder:
– Icon: AI, SVG, working file
– CTA: AI, AI outline, PDF
– Lightbox: AI, PDF
+ Lightbox Final preview on Red Pen: https://redpen.io/vyb434e9f95b33a898

[2016-02-24 19:21] kristinashu commented on #1530
Excellent! Thanks @my-le

[2016-02-24 19:21] #1530 closed

[2016-02-24 19:22] ldecoursy commented on #1664
Just realized in #1530 it looks like @alicoding is going to switch this to Exact Target. :D

[2016-02-24 19:22] kristinashu commented on #1665
Redpen is updated https://redpen.io/p/kw3181d1724543c4f2

[2016-02-24 19:25] hannahkane commented on #1659
Rolling this into the next heartbeat where the bulk of this work will happen.

[2016-02-24 20:10] Pomax commented on #1665
@kristinashu UX wise, this means we don't automatically pop up the "pledge to teach" modal anymore on first visit, I take it?  Are we still going to say "thank you for signing up" based on a redirect after clicking "sign up" (previously "pledge") or is that no longer necessary since no one's making personal commitments?

[2016-02-24 20:14] kristinashu commented on #1665
We should keep the thank you message but I'm not too sure about the automatic pop up? @hannahkane do you think we can get rid of that for a little while and see how the newsletter sign up performs just as one of the three banner CTAs?

[2016-02-24 20:26] hannahkane commented on #1665
Ah, yes, meant to say that originally. We can remove the pop-up.

[2016-02-24 20:27] Pomax commented on #1665
just to verify: remove auto-popup on first visit, keep "thank you, share this with your friends!" notice after filling in email and clicking "sign up"?

[2016-02-24 20:28] hannahkane commented on #1665
Correct.

[2016-02-24 22:57] hannahkane commented on #1666
@anmechung - I believe I can add this myself now, thanks to my newfound knowledge from @mmmavis.

For the full-day training module, we'll need to have the following information to include on teach.mozilla.org/activities. Can you please fill in the blanks?

Title: Teaching How to Read, Write, and Participate on the Web: Web Literacy for Educators (Full Day Training Module)
Level:
Developed by:
Desc

[2016-02-24 23:46] anmechung commented on #1666
@hannahkane Great!  I need to modify it a bit to make it more generic - take out slides in intro for NWP for instance, and update with a few things we learned today from the IPPD training.  @KGorr would you willing to proof after I do this including checking links?

[2016-02-25 00:56] Pomax commented on #1665
PR is up on https://github.com/mozilla/teach.mozilla.org/pull/1667, there's some questions concerning the correct SVG sizing, although it looks like it fits the other CTAs now - would be good to get @kristinashu's opinion on that, thought, before we decide to merge

[2016-02-25 01:55] kristinashu commented on #1665
@Pomax looks good to me!

[2016-02-25 03:39] KGorr commented on #1666
@anmechung , sure thing! Just let me know once it's ready.

[2016-02-25 23:42] sabrinang commented on #1545
**Updates:** https://redpen.io/p/he4d93fc5a7a4e6b0b

- removed the “what does a mozilla club look like in your…?” section since this info lives within the resources list we include below it
- removed “To get matched with a Regional Coordinator, please apply to be a Mozilla CC” text above apply button
- regarding moving Resources to another page, I agree that the accordion list could possibly get l

[2016-02-25 23:43] flukeout commented on #1600
@hannahkane @sabrinang @anmechung

I've added a References section to the white paper based on what was in the Google Doc and created a new 'content' repo to host the whitepaper.

http://mozilla.github.io/content/web-lit-whitepaper/

Please have a look & read and file any issues you find here...
https://github.com/mozilla/content/issues

**Note**
We can't host the whitepaper in the original repo (

[2016-02-25 23:47] hannahkane commented on #1600
Looks awesome, @flukeout.

@anmechung - please let us know if this looks good to you and if we can close this issue.

[2016-02-25 23:53] flukeout commented on #1600
I'm going to close now and we can file issues in https://github.com/mozilla/content/issues OK?

[2016-02-25 23:53] #1600 closed

[2016-02-26 14:31] cassiemc opened #1668 "Update Learning blog url and styles"
Eek. The Learning blog has a couple big design problems. The url isn't reflective of the current brand – shouldn't be webmaker – and the styles are based on the now very old Makerstrap. http://blog.webmaker.org/

Not sure if this is the right repo, and will leave to @hannahkane to prioritize, but this makes me cringe! Waiting on stats to understand larger impact but there seem to be between 4-10 p

[2016-02-26 15:10] ldecoursy commented on #1476
Update: I checked in on this this week, and learned the person I was corresponding with is no longer the primary contact on this project. She said she'd connect me with the person who has taken over.

[2016-02-26 15:30] amirad commented on #1545
Looking good Sabrina!

Right now we only have Portugese translated materials so have a bunch that we can place there but we might have more in the future so good to plan for that.

The page does feel super long with lots of info. @hannahkane with the new crm for guides that will live on it's own page right?

[2016-02-26 19:28] sabrinang commented on #1545
@amirad Thanks for feedback! Can you supply the Portugese translated materials links? (will be useful to have ready when we hand off to devs)

**Updates:** https://redpen.io/thcaaef4b84ba1a04c
- removed last paragraph on being matched with an RC
- shows Portugese tab
- removed unnecessary dividers on FAQ section
- aligning with list style on https://teach.mozilla.org/events/resources/ to vertical

[2016-02-26 19:31] hannahkane commented on #1545
fact! this is an interim solution that I think works for now.

I think this looks good. If design is approved, I think we can close this and move to implementation.

[2016-02-26 19:37] sabrinang commented on #1545
design review request for https://redpen.io/p/he4d93fc5a7a4e6b0b
R? @cassiemc @kristinashu

[2016-02-26 19:56] kristinashu commented on #1545
@sabrinang looks great! I just made a comments in redpen about disabling the map scroll-to-zoom on mobile.

[2016-02-26 20:15] hannahkane commented on #1463
@mmmavis - can you tell me how I can see the analytics for this? For example, how can I see how many people have clicked on https://epik.makes.org/thimble/NjU2MTQ2OTQ0/minecraft-a-flavor-of-java-epik from /activities?

[2016-02-26 20:15] hannahkane commented on #1463
or maybe that's a question for @adamlofting since I'm really just asking how to use GA. :)

[2016-02-26 20:57] ldecoursy opened #1669 "Request updated Thimble links from community members' projects featured on /activities"
Several links to community-generated teaching kits on teach.mozilla.org/activities link to old webmaker links. I'm planning to reach out to ask if they can provide new Thimble links if they'd still like to be featured on the page.

Perhaps as part of that we can share some basic traffic data - see https://github.com/mozilla/teach.mozilla.org/issues/1463

[2016-02-26 21:55] amirad commented on #1545
Sure @sabrinang they are all listed on this page: http://leaomozillaclubs.github.io/leadership_meetings_2016.html though I'm not able to access some of them so will send Geraldo a message right now to see what's happening

[2016-02-26 22:23] amirad commented on #1545
Here's the updated link with all the working guides @sabrinang http://leaomozillaclubs.com/leadership_meetings_2016.html

[2016-02-26 22:48] cassiemc commented on #1483
@hannahkane Just reviewed this now and I think we can close, woohoo! @sabrinang did a stellar job of putting this all together in the first place. We may want to file followups after further Foxlight work but for @amirad's current purposes this should totally suffice. :boom:

[2016-02-26 22:48] #1483 closed

[2016-02-26 23:05] mmmavis commented on #1463
I *think* this is how we check

1. Go to `teach.mozilla.org` from GA's dashboard
2. Go to Behaviour -> Events -> Overview -> Event Label
(Event Label = the url of link)

[2016-02-26 23:05] mmmavis commented on #1463
^ @hannahkane

[2016-02-26 23:17] hannahkane commented on #1483
woohoo!

[2016-02-26 23:20] hannahkane commented on #1463
Got it. Thanks, @mmmavis.

[2016-02-26 23:23] mmmavis commented on #1613
I have a PR in for this. Assigning this ticket to myself now.

[2016-02-26 23:41] hannahkane commented on #1668
I feel the cringiness, but probably won't prioritize into the next couple of heartbeats, given other priorities. I'm guessing we can do the restyling fairly soon, but the url issue is dependent on the Ed Hub name ticket.

[2016-02-26 23:55] sabrinang opened #1671 "[maps] - Align colours and styles"
**Problems:**
We can update the current map so it looks more visually aligned with the teach style guide. I believe we are using the default Mapbox style and can further explore how to customize for on this API and on our current plan.

**Solutions:**
We achieve this by using our own sprites, typography and colours.

**Seen on:**
[Clubs Page](https://teach.mozilla.org/clubs)
<img width="1019" alt=

[2016-02-27 00:02] hannahkane commented on #1666
Just confirming - this content is not quite ready to go?

[2016-02-27 00:16] sabrinang commented on #1545
Thanks @amirad for the links and I included it in a redpen here (to show how localized materials look when selected): https://redpen.io/kn68b61855dcda9ff9

Thanks for the review @kristinashu and @cassiemc. I made a separate ticket regarding the map #1671 *(included it in design audit = not a blocker)*

[2016-02-27 00:22] anmechung commented on #1666
@hannahkane Correct - I need to make a few updates and have @kgorr copy-edit before posting!  Will let you know when its ready!

[2016-02-27 01:48] amirad commented on #1483
Yes! Looks great and serves all my partner needs :)

[2016-02-27 01:49] amirad commented on #1545
Looks good!

[2016-02-29 17:14] cassiemc commented on #1668
Sounds good!

[2016-02-29 19:05] sabrinang commented on #1545
Closing this ticket and implementation ticket is #1605

[2016-02-29 19:05] #1545 closed

[2016-02-29 19:08] kristinashu opened #1672 "Loading a new page does not show the top of the page"
For example, if I scroll to the bottom of the home page and then click on Teaching Activities, I'm in the same scroll position as the previous page (the bottom of the page) but I should see the top of the page.

I think this came up while working with Scott on the advocacy site, he said it was a react router default setting but he was able to fix it.

cc/ @Pomax @mmmavis

[2016-03-01 15:22] chadsansing commented on #1443
Just shared as part of a conversation with the USDOE #GoOpen team: [Learning Registry](http://learningregistry.org/).

[2016-03-01 19:33] #1613 closed

[2016-03-01 22:46] flukeout commented on #1620
@hannahkane I've wrote a [draft of the questions](https://docs.google.com/document/d/1-rEkboCWEntoDKtorurxo2r-blBOga1G59pQZIWHywA/edit) - please have a look and let me know what you think and I'll convert it to a Google Form.

[2016-03-01 23:55] hannahkane commented on #1350
@KGorr - what do you think of the suggested content below? Feel free to make edits.

- Title: Mozilla Learning
  - url: teach.mozilla.org
 - description:
 - image:
- Teaching Activities
 - url: https://teach.mozilla.org/activities
 - description: Activities and lesson plans to get you teaching the Web
 - image: current header image on the page
- Leadership Opportunities
 - url: https://teach.mozil

[2016-03-02 00:21] hannahkane commented on #1620
Thanks, @flukeout. I added some comments. Maybe it's because I've been asked to complete several surveys recently, but I'm feeling a desire to simplify this even more. Fewer open ended questions? Maybe just reduce the number of questions?

[2016-03-02 00:26] flukeout commented on #1620
Thanks @hannahkane, will look over your notes.

[2016-03-02 15:18] hannahkane commented on #1605
This is no longer blocked, so putting into current milestone as a P2.

[2016-03-02 15:31] hannahkane commented on #1545
@amirad - Wondering if we should add a link below the table of resources to the Clubs folder of the Learning-Networks repo with copy like, ""We add new resources when we can. To see the latest, click here." This way we'd get the benefit of Sabrina's pretty table design, but would also be pointing people towards an updated set of resources. What do you think?

[2016-03-02 18:29] mmmavis opened #1673 "Build Curriculum Workshop Page"
**Url**: http://teach.mozilla.org/community/curriculum-workshop
**Mockup**: https://github.com/mozilla/mofo-cms-experiment/issues/17#issuecomment-191001306 (correct me if this is not the right link, @flukeout )
**Sidebar**: Add "Curriculum Workshop" as the secondary nav link under "Community"

@mmmavis tasks:
- [x] help @flukeout setup dev environment
- [x] add a new page and some basic setup to t

[2016-03-02 18:31] flukeout commented on #1673
@mmmavis awesome, thanks! I added a bullet item to your to-do list to add the nav item as well.

[2016-03-02 18:47] mmmavis commented on #1673
@flukeout https://github.com/mozilla/teach.mozilla.org/pull/1674 ! Maybe you can just work off of my branch? Both @Pomax and I will be in the office today so ask us if anything doesn't make sense to you.

[2016-03-02 19:16] ldecoursy commented on #1664
Checking back with @alicoding, is there a new embed code for the updated email sign-up link on teach.mozilla.org that we can also potentially use on Hive sites?

[2016-03-02 19:17] ldecoursy commented on #1633
Closing this - duped by #1669

[2016-03-02 19:17] #1633 closed

[2016-03-02 19:33] ldecoursy opened #1675 "Add attribution on Web Lit Basics I landing page"
Checking to see if there's a way to add attribution to the Web Lit Basics I landing page https://teach.mozilla.org/activities/web-lit-basics/

This kit in particular features several community contributions that I think would be fair to call out, otherwise it may be perceived as Mozilla-created content.

Can we add to the description with links?
* Kraken the Code - made by Mouse
* Ping Kong - made

[2016-03-02 20:46] mmmavis opened #1676 "Add error handling for newsletter subscription failure"
We currently have the subscription form on 2 places on the site - one on homepage and one on /community. [We don't have error handling for server or network error in place yet](https://github.com/mozilla/teach.mozilla.org/blob/77465e206fd5b1b89df2de1c9d5fc24d6d37c03e/components/newsletter-signup/SignupForm.jsx#L45-L56). This means there's no feedback to users upon form submission failure.

Possibl

[2016-03-02 20:47] alicoding commented on #1676
If we are passing all the required field I don't think there are any other errors ET will return here except if the user tried to be sneaky and bypass our form validation and submit an invalid error which I think we can ask them to try again here.

[2016-03-02 21:11] hannahkane commented on #1676
I need to understand the use cases better. Yesterday, @pomax said "Please try again later" wouldn't be an appropriate error message because we can't know if trying again later will work. In these cases (network problem, ET/Basket down)—is it likely the issue will be resolved eventually? What are other options for what we can tell the user?

[2016-03-02 21:29] alicoding commented on #1676
`There seems to be a problem with the network. Please try again later.`
`Internal server error. Please try again later.`?

[2016-03-02 22:10] amirad commented on #1545
@hannahkane as discussed, linking to the repo might be confusing for visitors so we won't do it!

[2016-03-02 22:12] hannahkane commented on #1545
yeah, cool. Let's not confuse ppl! OK, the implementation ticket is in the queue for this heartbeat, but is a P2.

[2016-03-02 22:13] hannahkane commented on #1675
@sabrinang @kristinashu - do we have an existing style we can use for adding attribution?

@mmmavis - is it a problem to have attribution on this page, but not the other pages that use the same template?

[2016-03-02 22:16] ldecoursy commented on #1675
Another option would be just to add the copy above to the activity descriptions on that page?

[2016-03-02 22:17] KGorr commented on #1350
Thanks, @hannahkane! This looks OK to me. For the main page, perhaps:

description: A global community dedicated to helping people learn the most important skills of our age: the ability to read, write and participate in the digital world.
image: current header image on the page

Thoughts, @ldecoursy?

[2016-03-02 23:08] Pomax commented on #1665
PR landed, follows-ups were filed by @mmmavis

[2016-03-02 23:08] #1665 closed

[2016-03-02 23:16] ldecoursy opened #1677 "Replace activity link on Goggles landing page"
Can we replace the third activity currently listed on the Goggles landing page?

Title: #allthestickerz
Link: https://chadsansing.github.io/curriculum-testing/web-lit-basics-two/session04-all-the-stickerz.html
Description: Create and publish pixel art stickers, then use them to annotate and remix the Web.

cc @chadsansing

[2016-03-02 23:17] hannahkane commented on #1677
Putting this in the current milestone because it is #notgreat that the current activity link is broken.

[2016-03-02 23:19] chadsansing commented on #1677
Updated all the links I could find to https://goggles.mozilla.org.

[2016-03-03 00:12] #1673 closed

[2016-03-03 00:16] Pomax commented on #1659
Started a branch https://github.com/Pomax/teach.mozilla.org/tree/weblitcircle on my repo for this, and integrated the circle nav I'd been playing around with, so things currently look like this:

![capture](https://cloud.githubusercontent.com/assets/177243/13480344/104cde9c-e092-11e5-8d0d-563d044ae15d.PNG)

[2016-03-03 01:32] mmmavis opened #1679 "Horizontal scrollbar appears on homepage"
<img width="1435" alt="screen shot 2016-03-02 at 5 33 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/13481721/e396ee5a-e09c-11e5-9d8e-656998a74aee.png">

This is caused by the `full-row` class not being assigned to the quote section to offset the horizontal negative margins.

[2016-03-03 01:48] #1679 closed

[2016-03-03 02:09] Pomax commented on #1659
copy in https://github.com/MozillaFoundation/plan/issues/742#issuecomment-191508792

[2016-03-03 02:40] anmechung commented on #1666
@chadsansing I remixed IPPD and NWP workshops to create a more generic 1-day training module.  https://d157rqmxrxj6ey.cloudfront.net/anmechung/39298.  Ready for you to update the cookies for the internet part of the agenda.

[2016-03-03 03:08] chrislarry33 commented on #1666
Loving this. Can make attribution just Mozilla not Mozilla learning networks

[2016-03-03 03:13] anmechung commented on #1666
@chrislarry33 done - attribute to just Mozilla.

[2016-03-03 04:37] anmechung commented on #1666
@chadsansing text for welcome: https://docs.google.com/document/d/1XZjgWtfEvzLCErwIwJjXTbD7BtrBzLLMHF0Pj8eK_i8/edit#

[2016-03-03 17:45] flukeout opened #1681 "Don't crash server on React errors when developing locally."
It seems that if you have a markup error in your ``.jsx`` files, as soon as you save the file you're working on the server crashes and won't restart until you fix the problem. A couple of instances where I've noticed this happening...

* React component wasn't enclosed in one tag
* Mismatched opening and closing tags

Can we show errors in the server log / terminal without crashing? That would mak

[2016-03-03 22:18] alicoding commented on #1664
Hi @ldecoursy sorry for late reply on this. I don't know if embed is possible with EactTarget but setting up newsletter now is easier than what it used to be with BSD for dev to work on. The only thing we need to make sure is setup is the mailing list on exact Target

[2016-03-03 22:45] mmmavis commented on #1307
Taking this from @Pomax . Gonna use the 404 page as the CMS guinea pig. (basically to see if we can update the content on the 404 page from CMS)

[2016-03-03 23:19] natalieworth commented on #1307
Agree that it moves a bit quick @Pomax , hoping in the future we can update with a bit of a more refined version but unfortunately didn't have time at the the moment when I was originally working on it.The animation of the book flipping was a bit tricky too :)

[2016-03-03 23:41] flukeout commented on #1620
Editable survey lives here...
https://docs.google.com/a/mozillafoundation.org/forms/d/1a2j3cwNCJPq2BTEqKBsfL8zcUVIJh0Av8hBvrkPccpE/edit?usp=forms_home&ths=true

This is the shareable link http://goo.gl/forms/w2wfhSCMOH

@hannahkane Can you take a look and see if we're missing anything important? If not, let's get a couple of folks to fill it out before we ask the teams we identified earlier.

[2016-03-03 23:51] hannahkane commented on #1620
Thanks, @flukeout. I just filled it out for real to see what it felt like. Two of the range questions were kind of hard for me to answer.

"I want to see who last made changes to each part of the content I'm working on collaboratively." - couldn't tell if this was about seeing just the *last* person's changes, or more generally being able to see a history of edits. Possibly rephrase as: "I want to

[2016-03-04 00:01] flukeout commented on #1620
Thanks for reviewing @hannahkane

**Question 1**
For "I want to see who last made changes to each part of the content I'm working on collaboratively." I wanted to see if it's important for the person to see exactly who authored what part of the content, kind of like Etherpad allows you to see via the color-coding.

Rephrase to...
* "I want to see who made specific changes to the content. For examp

[2016-03-04 00:17] hannahkane commented on #1620
Your rephrasing of Question 1 is much clearer. Regarding question 2: I forget, is there another question about history? Seems good to include a question about that.

[2016-03-04 00:19] flukeout commented on #1620
Okay, I'll include Question 2 - it's our only question about history.

[2016-03-04 18:40] flukeout commented on #1620
@hannahkane I updated the survey based on the feedback discussed above. I think we're ready to send it out. Can you help with the list below? Who in the community might be contributing to CMS-based docs?

**Teams**
* Participation Team
  * Emma
* Science Team
  * Zannah
* Clubs Team
  * Amira, Andre
* Curriculum Team
  * Chad
* The Community
  * ...?

[2016-03-04 18:59] flukeout commented on #1620
I sent out the survey to the names listed above, you should be cc'd @hannahkane - if we can figure out one or two community members to ask, that would be great!

[2016-03-04 19:13] hannahkane commented on #1620
@flukeout - I added a few people (staff and community) to the comment above

[2016-03-04 19:15] flukeout commented on #1620
Thanks!

[2016-03-04 19:21] ldecoursy commented on #1620
@flukeout Yes to Meredith at Mouse

[2016-03-04 19:53] ldecoursy opened #1682 "Create initiative landing page for Letters to the Next President"
We'll need a landing page that we can point people to based on our content, events, etc. related to our involvement in NWP's [Letters to the Next President](http://letters2president.org/) campaign.

**Deadline**
* End of April (so we have it ready for May Curriculum Workshop)

**Content**
* Partner logo - find campaign logos here https://www.dropbox.com/sh/1xat5jzm23eqak2/AABBmue-PFmLbiz2KnKwa2q5a

[2016-03-04 21:08] anmechung commented on #1666
@KGorr ready for you to copy and link edit  https://d157rqmxrxj6ey.cloudfront.net/anmechung/39298.  Thank you!

[2016-03-04 21:54] KGorr commented on #1666
@anmechung, here are a few things on the main page:

Left side bar:
- Under Materials section: 2nd bullet: “Inter-connecter” typo. should be “connected”
- Under Learning Objectives:
     - 1st bullet typo - remove “now”
     - Last bullet uses "MLN" - calling this out to make sure it is the appropriate time/way to use it

Under Agenda:
- Welcome link not working
- Choose your own Thimble adventure

[2016-03-04 23:43] Pomax opened #1684 "make it more obvious which server is running"
we have (at least) two servers, `app.js` and `test/browser/server.js`, and it is entirely unclear which is used when.

[2016-03-04 23:52] #1684 closed

[2016-03-07 05:24] mmmavis opened #1686 "Add ability to create new pages from within Calypso"
implementation ticket for https://github.com/mozilla/wp-calypso/issues/12

[2016-03-07 18:42] hannahkane commented on #1682
@flukeout, @vazquez — this is a specific use case for the ["Header Image with CTAs" layout](https://github.com/mozilla/mozmaker-templates/issues/6), in case you want to reference it when we get to that ticket.

[2016-03-07 23:16] anmechung commented on #1666
@kgorr - thanks for the edits!  @chadsansing @jvallera https://d157rqmxrxj6ey.cloudfront.net/anmechung/40860/  can you take a look?  The piece that I need someone to help with are the colors for the web literacy skills at the top of each page.  When I edited the skills to match updated Web Lit 2.0 and lost different colors as a result.  @chadsansing - something you can fix?

[2016-03-07 23:20] chadsansing commented on #1666
@anmechung, I don't believe there's a new CSS style guide for the Web Lit Map 2.0 map/buttons (right, @hannahkane?), so apart from referencing the old makerstrap colors or adding something like this...

style="background-color:[color code];"

...to each opening <button> tag, I'm not sure there's much to be done.

Other ideas, @hannahkane, @flukeout, et al?

[2016-03-08 18:01] Pomax commented on #1659
The circletree code is now on npm at https://www.npmjs.com/package/react-circletree, using an `onToggle` function described in its readme for knowing what a user clicked on.

[2016-03-08 18:02] Pomax commented on #1659
@scottdowne will be taking this issue, as he has some time to work on this, whereas I'm also trying to get badges sorted out.

[2016-03-08 18:40] hannahkane commented on #1666
I think the colour coding work is still [in progress](https://github.com/mozilla/teach.mozilla.org/issues/1651). Is that right, @sabrinang?

[2016-03-08 19:34] ldecoursy opened #1690 "Few changes to Hive site"
@mmmavis  - we have a few small changes to the Hive site.

* Locations page - remove Leah and Elsa
* Resources page - can we make this page private/not visible?
* Connect page - remove "Claim Hive Community Badge" section

[2016-03-08 20:21] hannahkane commented on #1690
Putting this in the upcoming milestone since the current milestone is quite full. Also, noting that this doesn't necessarily have to be @mmmavis. :)

[2016-03-08 21:22] sabrinang commented on #1666
Yes @hannahkane I am testing out the colours to align with the mofo wide palette on the design repo here: https://github.com/MozillaFoundation/Design/issues/152

[2016-03-08 21:23] sabrinang commented on #1651
mofo wide colours being tested on https://github.com/MozillaFoundation/Design/issues/152

[2016-03-08 22:42] anmechung commented on #1666
@hannahkane I made a few modifications using the old colors, and I think it will work for now.  It's ready to go if you are okay with it.  https://d157rqmxrxj6ey.cloudfront.net/anmechung/40860/

Title: Mozilla Web Literacy Leaders 1-Day Training Module
Level: Beginner
Developed by: Mozilla
Description:  An interactive, learner-centered 1-day training module designed to learn and teach others how t

[2016-03-09 03:02] mmmavis commented on #1690
I'll need to double check with @jbuck and see where our existing WP lives first.

[2016-03-09 15:58] jbuck commented on #1690
Which domain is this?

@mmmavis It probably has been migrated, but everything works exactly the same as before. Logins and all

[2016-03-09 16:48] ldecoursy commented on #1690
hivelearningnetworks.org

[2016-03-09 17:12] ldecoursy opened #1691 "Update Mouse projects on /activity page"
On teach.mozilla.org/activities

Remove (these are both included in the link to include below):
* Creative Commons GIF Exchange
* CSS Story Cards

Add:
* Mouse Activity Kit

Thumbnail image - Mouse logo, see attached
Link - https://d157rqmxrxj6ey.cloudfront.net/mouseorg/34864/
Level - Beginner
Title - Mouse Activity Kit
Description - Mouse's online and offline activities like Kraken the Code, Tag

[2016-03-09 17:18] hannahkane commented on #1691
I can do this one!

@ldecoursy - wondering if we might want to reconsider the title. "Mouse Activity Kit" might be a little confusing to people not yet familiar with the organization. Totally your call (or theirs).

[2016-03-09 17:33] ldecoursy commented on #1691
Yes, ok, will check with them and be back soon!

[2016-03-09 18:12] ldecoursy commented on #1691
OK let's go with "code/explore/connect with Mouse"

[2016-03-09 19:09] hannahkane opened #1693 "Create a process for updating video embeds and etherpads for the Mozilla Curriculum Workshop"
From @chadsansing:

@kgorr, @poh, and @flukeout, can you develop a process and timeline between Mozilla Curriculum Workshop episodes for embedding a new broadcast and etherpad for upcoming episodes? I can have copy ready to go based on what we decide is the technical process here.

cc @amirad, @ldecoursy, @hannahkane

[2016-03-09 19:10] hannahkane commented on #1693
@KGorr @poh @chadsansing - just let us know here what changes you'd like to make in advance of the next workshop, and when. We'll do with developer involvement for now, because this page is not yet a part of the CMS.

[2016-03-09 19:13] hannahkane opened #1694 "Create archive page for Mozilla Curriculum Workshop"
From @chadsansing:

Thank you, landing page team! We have an episode in the can on https://teach.mozilla.org/community/curriculum-workshop/.

That means we're ready to talk archiving. I *think* each entry should have

- An info header or box (like a grayed-out 'upcoming workshop' box?).
- An embedded video.
- The embedded etherpad - OR - transcripts of the etherpad and its chat.

I have transcript

[2016-03-09 19:13] hannahkane commented on #1694
From @jgmac1106:

When archiving the talks is it also possible to post an mp3 for download?

When we were doing shows last year for MLN we found many folks downloading the audio for commute times.

A link to an mp3 would suffice but an rss feed for a “podcast" would be nicer...and then we get two shows from one event.

[2016-03-09 19:15] chadsansing commented on #1694
Do we have a preferred way to rip the audio from the video? That sounds like a great, light-touch suggestion to add value.

[2016-03-09 19:26] ScottDowne commented on #1659
@sabrinang I'm looking for things like icons and colour codes (I think just the orange, from what I have seen).

[2016-03-09 20:41] hannahkane opened #1695 "Edits to /activities"
- remove "(Teaching Kit") from everywhere it exists. They are all Teaching Kits, so it's confusing that some say it and others don't.
- Move "Protect Your Data" so that it's directly above the two Privacy Basics kits
- Rename that one "Privacy Basics: Protect Your Data"
- Rename "Back to School Write the Web Kit" to "Back to School Write the Web Activities"
- Remove Become a Password Pro and Hack

[2016-03-10 00:59] #1691 closed

[2016-03-10 01:03] #1666 closed

[2016-03-10 01:54] hannahkane opened #1697 "March 23: Build MLN Community Call landing page and archive pages with CMS"
Per discussion with @simonwex, we'd like to build out a page for the MLN Community Calls (launches March 24th) **with the CMS** during the March 25 heartbeat.

The page layout will be based on the Curriculum Workshop landing page—likely including both a landing page and an individual page as described in https://github.com/mozilla/mozmaker/issues/48.

Ideal workflow would be something like what @f

[2016-03-10 16:58] ldecoursy commented on #1691
Is it too late to change the logo to this?
![mozilla-square-2](https://cloud.githubusercontent.com/assets/4885898/13677303/5555caa0-e6b7-11e5-98c8-98c4d9afe253.png)

[2016-03-10 22:28] hannahkane commented on #1697
@kgorr - we don't need it sooner. We'll likely use the Curriculum Workshop content as placeholder in the meantime. Thanks!

[2016-03-11 14:18] ldecoursy commented on #1691
Sorry, last one! @hannahkane
![mozilla-rectangle](https://cloud.githubusercontent.com/assets/4885898/13704482/340825f6-e76a-11e5-9890-6a417e46a1b6.png)

[2016-03-11 22:28] hannahkane opened #1700 "Change Mouse logo on Activities page"
Should be this:

![mozilla-rectangle](https://cloud.githubusercontent.com/assets/4885898/13704482/340825f6-e76a-11e5-9890-6a417e46a1b6.png)

[2016-03-11 22:28] hannahkane commented on #1691
Filed a new ticket to update the logo.  See #1700

[2016-03-11 23:43] mmmavis commented on #1675
@hannahkane

Should be fine :dancer:

[2016-03-11 23:47] hannahkane commented on #1675
I think I can do this. Assigning to myself.

[2016-03-11 23:55] mmmavis commented on #1690
@jbuck is it still a WP instance or now a set of .html files? I've been ssh'ing to the WP server and `git pull` from the theme repo to update the site. If it's the former I can ask @cade to grant me access to the new server. If it's the latter... could you let me know how I can make changes to those files?

/cc @cadecairos in case jbuck is available to answer this question. :wink:

[2016-03-12 00:25] jbuck commented on #1690
Still a WP site. I haven't migrated it yet, so I'd suggest working with @cadecairos  to see if you want to keep it as WP, or just convert it to a static site with wget

[2016-03-12 00:30] Pomax commented on #1659
@thecount note that we pull the colours from `variables.less`, so any colours should be named and pulled from there, rather than be hardcoded hex or rgb values.

[2016-03-12 00:32] ScottDowne commented on #1659
@Pomax Ah, so the colour I'm looking for is probably already in there :)

[2016-03-12 00:33] Pomax commented on #1659
might very well be!

[2016-03-12 00:35] Pomax commented on #1672
Yeah I think this is because React swaps in DOM rather than "really" loading a page so the scroll position doesn't reset. We could probably issue a scrollTo(0,0) when a navigation's about to occur.

[2016-03-12 00:37] Pomax commented on #1604
do we still need to do this @hannahkane @kristinashu?

[2016-03-12 00:37] ScottDowne commented on #1659
Haha, It's been a long time, but I totally remember this: https://github.com/mozilla/teach.mozilla.org/blob/2be4cc37fc47b14839930e58939b765dcd692a84/less/variables.less#L17

@radicalPumpkinOrangeSidebarColor

[2016-03-14 16:09] Pomax opened #1701 "add babel to the build chain so that we can use modern ES6"
We currently don't have a babel step to convert ES6 into ES5 for purposes of writing easy-to-write code that still runs "everywhere". Given the current gulp task setup, we can probably effect this by adding babel into the "put things in `dist`" part of the build process.

[2016-03-14 16:45] hannahkane commented on #1604
I'd say no, but, @kristinashu - what do you think?

[2016-03-14 16:56] kristinashu commented on #1604
I think we should still remove them. The functionality and style of them is only used here and I don't think they're necessary.

[2016-03-14 16:57] hannahkane commented on #1604
OK, that's fine with me. But I wouldn't call this a priority. Would rather address some of the issues assigned to a milestone. :)

[2016-03-14 17:29] ScottDowne commented on #1659
Current state: https://enigmatic-oasis-60628.herokuapp.com/web-literacy

Mostly missing style bits and images/icons.

[2016-03-14 17:31] sabrinang commented on #1659
Neat! I'm going to check it over today and give you feedback/assets.

[2016-03-14 17:32] ScottDowne commented on #1659
I'm able to get all the activity/kit assets either in the existing repo or from the project themselves.

[2016-03-14 17:41] Pomax commented on #1659
We're currently lacking a way to get back to the "main" view, it would probably make sense to have clicking the center "web literacy" dial undo any filtering we did to reset the view.

I imagine they do, but should all the skill selections change the URL, too @sabrina? So that we get urls like `https://enigmatic-oasis-60628.herokuapp.com/web-literacy/read/` and `https://enigmatic-oasis-60628.herok

[2016-03-14 17:48] ScottDowne commented on #1659
@Pomax yeah, we should be able to link to these (and use the back button) but might be a p2?

@Pomax to be able to listen for clicks in the center, I'll need to add that functionality to the circle code itself, right? Nothing right now triggers that click event?

[2016-03-14 17:55] Pomax commented on #1659
indeed, let me add that to the circletree code right now.

[2016-03-14 18:10] sabrinang commented on #1659
**Feedback for 21st Century Skills Page**

Banner Image: https://drive.google.com/open?id=0B4Q8pzCpDS_eRWdmN25BVFNCSXM
Banner Image (@2x): https://drive.google.com/open?id=0B4Q8pzCpDS_edkZkRkQwNWRwVzA

Paragraph copy can be found here: https://github.com/MozillaFoundation/plan/issues/742#issuecomment-191508792

@Pomax - It would be ideal to have skill sections to have URLs to be linked to.
![scree

[2016-03-14 18:41] sabrinang commented on #1659
**Colours**
grey (lightness 60%) `#F1F0F1`
grey (lightness 55%) `#E3E3E4`
grey `#56565A`
nightly blue `#1F366C`
aurora purple `#95368C`
firefox orange `#F26C23`
flame yellow `#FFCD02`

![web-literacy_colours](https://cloud.githubusercontent.com/assets/2492510/13755600/43a229dc-e9d9-11e5-8551-d854e4bd5f8a.png)

For context, colours are from unified palette and testing done on this issue: https://gi

[2016-03-14 18:41] flukeout commented on #1620
@soapdog Hey Andre, have you had a chance to fill out the survey I linked above? I didn't see your name in an answer for the first question, so I can't tell.

[2016-03-14 18:48] hannahkane commented on #1347
Is this ticket closeable? Seems out-of-date.

[2016-03-14 18:49] hannahkane commented on #1466
@Pomax - is this ticket still useful?

[2016-03-14 18:50] hannahkane commented on #1467
@Pomax - is this ticket still useful?

[2016-03-14 18:50] hannahkane commented on #1473
Closing this ticket in light of CMS and new bootstrap theme.

[2016-03-14 18:50] #1473 closed

[2016-03-14 18:51] hannahkane commented on #1548
Closing in light of possible CMS solution

[2016-03-14 18:51] #1548 closed

[2016-03-14 18:54] hannahkane commented on #1589
I think we can kill this page. Looks like we link to other very similar content within the other privacy-themed activities.

[2016-03-14 18:58] hannahkane commented on #1658
I'm going to close this ticket, since I think it's well-covered in https://github.com/MozillaFoundation/plan/issues/741

[2016-03-14 18:58] #1658 closed

[2016-03-14 19:34] sabrinang commented on #1651
Using this palette

![web-literacy_colours](https://cloud.githubusercontent.com/assets/2492510/13757278/efbc0f42-e9e0-11e5-8ce6-c78d7815bc1c.png)

Tested from: https://github.com/MozillaFoundation/Design/issues/152#issuecomment-196460839

[2016-03-14 19:38] Pomax commented on #1589
kk, killing

[2016-03-14 19:52] #1700 closed

[2016-03-14 19:55] Pomax commented on #1659
hm, this feels like a really serious, dark (emotionally) palette, is there leeway to go with something lighter or more lighthearted?

[2016-03-14 20:12] mmmavis commented on #1307
implementation work is being done as part of https://github.com/mozilla/teach.mozilla.org/pull/1687

[2016-03-14 20:29] sabrinang commented on #1659
Yes there is leeway to adjust these as we are testing out this unified palette. Nothing is set in stone as colours have been tricky. We can tweak the lightness on these colours so they have a more pastel, lighter feel that the initial mockup had. +1 to the purple and blue too and with the white gaps in between it makes it hard to differentiate and eliminating the space in between will help too.

I

[2016-03-14 21:18] sabrinang commented on #1659
@ScottDowne Thanks for flagging the confusion on filtering in [redpen](https://redpen.io/eu4c03e71cec9055c7?showing_comment=1655076)!

Yes, I agree that you should be able to find all activities under a competency regardless of its verb. I think for the most part ignore the verb will work and display it under what is assigned in the doc here: https://docs.google.com/document/d/15B2ccF-DSTl74SwNbyZ

[2016-03-14 22:01] #1589 closed

[2016-03-14 23:41] Pomax opened #1704 "create sidebar option to get into the badges"
See designs in https://github.com/mozilla/teach.mozilla.org/issues/1337

[2016-03-14 23:42] Pomax opened #1705 "Spec implementation details for "explore""
this currently points to a discourse link instead of a functional page, but needs details on what the link should actually do

[2016-03-14 23:43] Pomax opened #1706 "Spec implementation details for "earn""
this currently points to a discourse link instead of a functional page

[2016-03-14 23:43] Pomax opened #1707 "Spec implementation details for "share""
this currently points to a discourse link instead of a functional page

[2016-03-14 23:44] Pomax opened #1708 "login button implementation/cleanup"
while implemented as a button, there is no action associated with pressing it. It also shows irrespective of whether you're logged in or not.

[2016-03-14 23:46] Pomax opened #1709 "make badge achievement a lookup when logged in"
right now it's hardcoded to claim you have achieved all badges, irrespective of whether you have, or whether you're even logged in

[2016-03-14 23:47] Pomax opened #1710 "add details for "creativity" and "problem solving" badges"
these currently lack subtitles, unlike the other badges.

[2016-03-14 23:47] Pomax opened #1711 "individual badges list themselves as having been awarded"
despite login status or achievement.

[2016-03-14 23:50] Pomax opened #1712 "social media buttons need implementation"
these are currently images without any further code or JS logic backing them

[2016-03-14 23:52] Pomax opened #1713 "individual badges: implement "apply" form and button"
business logic added.

[2016-03-14 23:53] Pomax opened #1714 "individual bages: implement "attachment" handling for badge application"
Code currently lets you select a file but nothign is done with the selected attachment and the UI is not updated to show the attachment selection.

[2016-03-14 23:53] Pomax opened #1715 ""collaboration" badge need requirements"
the individual badges page for "collaboration" does not list any requirements.

[2016-03-14 23:54] Pomax opened #1716 ""problem solving" badge need requirements"
The individual badges page for "problem solving" justs dummy criteria at the moment, rather than real criteria.

[2016-03-14 23:54] sabrinang commented on #1659
@ScottDowne I remade the images as line art and placed the .svg files here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B4Q8pzCpDS_eMTJTYlZHNWpuaGs&usp=drive_web
<img width="1377" alt="screen shot 2016-03-14 at 4 52 50 pm" src="https://cloud.githubusercontent.com/assets/2492510/13763671/3bf27c06-ea05-11e5-8b73-8e7f74c79daa.png">

[2016-03-14 23:55] Pomax opened #1717 "individual badge page navigation needs implementation"
Right now the prev/next buttons are hardcoded to always go to the same two nonexistent URLs, so we need to make sure we know the IDs for our badges, and cycle through those.

[2016-03-14 23:56] Pomax opened #1718 "Clean up badges.jsx"
- cdm `BadgesInterface.listBadges` error handling isn't actually handled
- L47 "status" is hardcoded to "achieved"
- L60/63 `a = !!b` followed `if(!a)` is just `if(!b)` without needing a double negation
- loginComponent image widths are hardcoded to 90%?
- loginComponent uses `<a>` instead of `<LoginLink>`
- L84 `if (this.state)` is always a state
- IconLinks all point to an unrelated discourse ur

[2016-03-14 23:57] Pomax opened #1719 "Clean up badge-single.jsx"
- `SingleBadgePageNavigation` propTypes are duplicated (same requirements)
- BadgePage `onQualificationsSubmit` does nothing
- badgesInterface.getBadgeDetails error not handled
- some `_this` binding issues (easy to refactor)
- `parseBadgeDetails` no error handling for unexpected status/data
- `parseBadgeCriteria` idem ditto
- `getInitialState` hardcoded prev/next
- render L148 this should just be

[2016-03-14 23:57] Pomax opened #1720 "Clean up components/badge.jsx"
- status (L40) replace `<span><i>` with icon `<span>`

[2016-03-14 23:58] Pomax opened #1721 "Clean up component/badge-...-icon.jsx"
There is no reason to have two different components here when we can just use one component with an `orientation` property.

- BadgeHorizontalIcon should not use `this.props.children` (see badge-single.jsx notes)

[2016-03-14 23:59] Pomax opened #1722 "teach-api: fix credly code so that missing credentials can't crash django"
I have limited python/Django understanding, so the following are cursory findings at best.

The credly python code can crash the server citing credly schema errors, instead of saying "You forgot to supply credly credentials" and just generating 404, 403, whatever normal failure you'd expect and keep the server running.

This code needs to be 12-factor compliant, so there need to be "safe, even if

[2016-03-15 00:00] Pomax opened #1723 "teach-api: credly/views.py has a hardcoded access token?"
It looks like there's a hardcoded access token in the comments in views.py - we should remove that and look at whether there are other concerns

[2016-03-15 00:00] sabrinang commented on #1650
The line art version of these icons can be found here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B4Q8pzCpDS_eMTJTYlZHNWpuaGs&usp=drive_web
<img width="1377" alt="screen shot 2016-03-14 at 4 52 50 pm" src="https://cloud.githubusercontent.com/assets/2492510/13763671/3bf27c06-ea05-11e5-8b73-8e7f74c79daa.png">

@chadsansing the widths vary slightly in these but they can rescaled

[2016-03-15 00:01] Pomax opened #1724 "teach-api: there are no credly tests"
The code that was developed for credly interfacin has no tests, which makes working with the code unpredictable.

[2016-03-15 00:03] Pomax opened #1725 "teach-api: do we need admin.py?"
This file exists atm but is not used - do we need this file?

[2016-03-15 00:15] Pomax opened #1726 "add a "private":true to our package.json"
so that we can't accidentally publish it to npm /cc @mmmavis

[2016-03-15 03:17] KGorr commented on #1697
@hannahkane, this should be what what you need:

**Page content:** https://docs.google.com/a/mozilla.com/document/d/12BkqcjSL1xTaetVWwRXvseEoaIoKMq0xGegqBckRusk/edit?usp=sharing @amirad, did you want to take a look at it before they upload? @ldecoursy, has edited.

**Etherpad link:** https://public.etherpad-mozilla.org/p/MozTeachCC

**Video embed:** <iframe width="560" height="315" src="//www.yout

[2016-03-15 10:00] chadsansing commented on #1650
Thank you, @sabrinang -

[2016-03-15 10:06] adamlofting commented on #1347
Yes! :+1:

This has been completed.

[2016-03-15 10:06] #1347 closed

[2016-03-15 11:02] amirad commented on #1697
Looks good to me!

[2016-03-15 16:39] sabrinang commented on #1651
The mofo palette has been updated with adjustments so I will revise and test again using palette from this issue: https://github.com/MozillaFoundation/Design/issues/139#issuecomment-196534991 and also address feedback from https://github.com/mozilla/teach.mozilla.org/issues/1659#issuecomment-196496801

[2016-03-15 17:34] Pomax commented on #1467
I don't believe so, @simonwex the interfacing with credly, as far as I understand it from the code we got from Souktel and heroku instance, this auth issue was solved?

[2016-03-15 17:38] Pomax commented on #1604
could I be devil's advocate here and point out that the page is long enough to need scrolling to sections, which the links solve? If I want to link someone to event support I can give them https://teach.mozilla.org/events/resources/#event-support which I will not be able to find if there are jump links at the top of the document.

[2016-03-15 18:04] hannahkane commented on #1710
@Pomax - do you need content for this?

[2016-03-15 18:05] hannahkane commented on #1716
@Pomax - do you need content for this?

[2016-03-15 18:05] hannahkane commented on #1715
@Pomax - do you need content for this?

[2016-03-15 19:08] Pomax commented on #1677
to confirm, we want to replace the "Remix Science for Girls" activity with this new activity? What should the title be? Literally `#allthestickerz`?

[2016-03-15 19:24] hannahkane commented on #1697
@mmmavis @flukeout @gvn @simonwex - this is the ticket I mentioned at stand-up today. We need to ship this *in advance* of the end of the heartbeat, so wondering if we should built it the same way we built the Curriculum Workshop page.

@flukeout - would you want to take a crack at it?

[2016-03-15 19:26] hannahkane commented on #1314
taking this out of the heartbeat, which is already quite full

[2016-03-15 19:26] hannahkane commented on #1672
Taking this out of the heartbeat, which is already quite full

[2016-03-15 19:54] hannahkane commented on #1675
@ldecoursy - do you have links to go along with the attributions?

[2016-03-15 19:56] hannahkane opened #1727 "remove "teaching kit" from Back-to-school-write-the-web/"
As per @mmmavis's comment: https://github.com/mozilla/teach.mozilla.org/pull/1699#issuecomment-196492990

[2016-03-15 20:00] ldecoursy commented on #1675
* Kraken the Code - made by Mouse  http://mouse.org/
* Ping Kong - made by Mouse    http://mouse.org/
* HTML Puzzle Boxes - made by Yofie Setiawan and Mozilla Indonesia   http://www.mozilla.or.id/
* Web Chef - Inspired by Creative Commons and P2PU School of Open  https://creativecommons.org/ and https://courses.p2pu.org/en/groups/teach-someone-something-with-open-content/
* Story of Us - Based on

[2016-03-15 20:23] Pomax commented on #1723
The commented code that had this information has been removed, and code has been pushed as the "souktel" branch on the mozilla teach-api repo.

[2016-03-15 20:23] #1723 closed

[2016-03-15 20:28] hannahkane commented on #1675
actually, I'm not going to be able to do this myself. @mmmavis - I was just going to add a line to each description, but I don't know how to apply a style to links from within the description value. that is, I can link it properly, but it won't look like a link (different color or underlined). can you advise?

[2016-03-15 20:47] mmmavis opened #1730 "Add unit tests for "WP pages""
This is a followup ticket for https://github.com/mozilla/teach.mozilla.org/pull/1687.

Add unit tests to make sure we can consume WP data and display it on our site.

[2016-03-15 20:48] #1686 closed

[2016-03-15 20:49] mmmavis commented on #1307
PR  PR https://github.com/mozilla/teach.mozilla.org/pull/1687 has been merged to `develop`. Thanks all!

[2016-03-15 20:49] #1307 closed

[2016-03-15 21:09] ScottDowne opened #1731 "Images in the community page have a horizontal scrollbar"
Fixed in #1729

The two images mid page in /community have scrollbars under their containers.

It also has some weird side effect where the images started to overlap if the width of the screen got smaller, my fix handles that too.

[2016-03-15 21:09] ScottDowne commented on #1731
@Pomax or @mmmavis thoughts?

[2016-03-15 21:10] ScottDowne commented on #1731
Oh, I also added an explicit width and height to these images as I'm told the browser can use it to display the images faster because it doesn't need to detect the size.  Not sure if it uses css for that.

If there are issues with the width and height on the img then I'm not super picky and we can remove it.

[2016-03-15 21:13] Pomax commented on #1731
setting the dimensions on the page for images that don't change very often is a good idea.

[2016-03-15 22:30] hannahkane commented on #1659
comment from @davidascher: "re: web literacy map -- good progress, but a request: we need to adjust the layout.  On a 13" laptop, all of the text about literacies is below the fold, and so it's basically impossible to see the effect of clicking on the map itself.  I was literally puzzled as I was clicking around, and I was aware of the plan."

I've noticed this, too, and remember discussing it ear

[2016-03-15 22:59] sabrinang commented on #1659
Yes this was brought up during a crit and I believe a solution was to reduce copy above graph so it sits higher on the on the page and as well as considering when a section is selected to transition down to where the heading/definition is below (anchored link).

[2016-03-15 23:03] chadsansing commented on #1659
@sabrinang, it's definitely a balancing act between tagging every activity with read, write, and participate and choosing one of those verbs that best captures the spirit of the activity. For example, #allthestickerz is tagged with participate because even though it has a lot of "write" competencies, the ultimate goal there is to remix the web with goggles using stickers you create to comment on o

[2016-03-15 23:07] chadsansing commented on #1677
#allthestickerz is it, @Pomax. You can see thimage we've been using [here](https://chadsansing.github.io/curriculum-testing/curriculum-migration/web-lit-basics-two-migrated/session04-allthestickerz.html#overview).

[2016-03-15 23:52] sabrinang commented on #1659
I have met with @anmechung to confirm that we do display activities connected to competency regardless of the verb and list it under the verb as well that Chad has assigned to it. We want to emphasize that the main priority right now is displaying the definitions and include some recommended activities as actionable content to show how it is connected. In the long term, all the activities will be

[2016-03-16 00:04] kristinashu commented on #1604
I'd say this page is fairly average length for the teach site and none of the other pages have these anchors. I'm still for removing but yes, definitely not a priority.

[2016-03-16 02:28] anmechung commented on #1659
Agreed with @sabrinang.  In the future, activities in end up in the curriculum database that Mozilla curates may indicate the web literacy skills with a link to the entire web literacy map.

[2016-03-16 04:41] Pomax commented on #1710
if there is any, having that in this ticket will be useful

[2016-03-16 04:41] Pomax commented on #1716
if there is any, having that in this issue will be useful

[2016-03-16 04:41] Pomax commented on #1715
if there is any, having that in this issue will be useful

[2016-03-16 04:42] Pomax commented on #1677
I assume you mean https://d157rqmxrxj6ey.cloudfront.net/chadsansing/7048/stickerz-love.png, is there a larger version available of this?

[2016-03-16 09:49] chadsansing commented on #1677
Not presently. Maybe the web-lit-two module header pic is better? https://teach.mozilla.org/activities/web-lit-basics-two/

[2016-03-16 15:17] xmatthewx commented on #1659
Implementation doesn't match the responsive spec and the chart is unreadable on mobile. But, even with that spec, screen height will divide the interaction from the results as @davidascher pointed out.

I recommend that the designer and dev team up to make a simple responsive wireframe in Thimble, to figure out layout and interactions across screen sizes.

[2016-03-16 15:41] ScottDowne commented on #1659
@xmatthewx

It's using existing components for layout, so it is doing what those components already do on mobile.

Although I noticed the circle nav is completely hidden on mobile, which, I thought was an intended change based on feedback after the redpens where made. We can tweak.

[2016-03-16 16:19] hannahkane commented on #1715
@anmechung - do you have content for this section?

[2016-03-16 16:20] hannahkane commented on #1715
actually, @Pomax - clarifying question. I'd thought things like the Badge requirements would be something an admin would enter through the admin interface. Do they need to be entered by an engineer?

[2016-03-16 16:26] Pomax commented on #1677
we can probably scale up the sticker image with smoothing turned off, I'll try that first.

[2016-03-16 16:28] Pomax commented on #1677
![stickerz-love](https://cloud.githubusercontent.com/assets/177243/13820178/681a801c-eb59-11e5-83d1-e9cf2ecf3fbc.png)

[2016-03-16 16:55] Pomax commented on #1715
they need initial data to work with for implementation purposes, and that needs to be "real" text so that the implementation choices make sense for what the live site will be doing. Having empty badge information does not let us work out the design implementation properly.

[2016-03-16 16:56] hannahkane commented on #1715
OK, thanks. In that case, @anmechung - can you please provide?

[2016-03-16 16:57] hannahkane commented on #1716
@anmechung - can you add copy for requirements here, too, please?

[2016-03-16 16:58] hannahkane commented on #1710
@anmechung - can you add copy for requirements here, too, please?

[2016-03-16 17:26] jgmac1106 commented on #1716
@annmechung is there one document that list all the badge pathways
(criteria and required evidence) for the badges being piloted?

On Wed, Mar 16, 2016 at 12:57 PM hannahkane <notifications@github.com>
wrote:

[2016-03-16 17:31] chadsansing commented on #1677
+1 here.

[2016-03-16 18:39] Pomax commented on #1677
landed, will push to prod once staging rolls over to the new version

[2016-03-16 18:43] Pomax commented on #1677
pushed.

[2016-03-16 18:43] #1677 closed

[2016-03-16 18:44] anmechung commented on #1715
Yes - will put something in google doc and send later today or tomorrow.

[2016-03-16 18:45] anmechung commented on #1710
Yes, and will include all in one google doc I'll share later today or tomorrow!  Thanks

[2016-03-16 18:52] Pomax commented on #1708
crosslink to https://github.com/mozilla/teach.mozilla.org/issues/1337 for the designs

[2016-03-16 19:42] jazoulai opened #1732 "Add CSV export function to Hive NYC directory"
Can someone please help us add a CSV export function to the [Hive NYC directory](https://directory.hivelearningnetworks.org/nyc/)?

Adding @jvallera so she can watch this issue as well.

Thanks!

[2016-03-16 19:47] hannahkane commented on #1732
hey @jazoulai - thanks for filing. Can you provide a little more information to help us prioritize? Do you need this by a certain date? If we were able to do a one-time export and send to you, would that be adequate for now, or do you need the function on an ongoing basis?

[2016-03-16 20:23] xmatthewx commented on #1659
Cool. Thanks @ScottDowne. Sorry for the fly by comment. Here's a screenshot via FF Dev responsive tool.

![screen shot 2016-03-16 at 11 09 39](https://cloud.githubusercontent.com/assets/53411/13827520/4cab7388-eb93-11e5-8cf9-0b8694f9a045.png)

[2016-03-16 21:06] ScottDowne commented on #1659
@xmatthewx Ah, I didn't even notice it's showing it really small. Yeah, that's def not an intended design.

I'll fix it.

[2016-03-16 21:36] Pomax commented on #1708
PR to fix this has been merged into the souktel branch

[2016-03-16 21:36] #1708 closed

[2016-03-16 22:54] flukeout commented on #1697
@hannahkane Yeah - I'll take this. We can just clone the current workshop page, and when the CMS is ready, we'll implement the "full design" which includes the Upcoming & Archived events in separate tabs.

[2016-03-17 17:45] jazoulai commented on #1732
Thanks for your quick response @hannahkane. I think for now a one-time export would work for our purposes. For future needs it would be great to have the CSV export feature so that we don't have to make a request each time we need an updated CSV.

In case the larger context is useful to you, we are creating an interactive map using [CartoDB](https://cartodb.com/) linked to a Google spreadsheet. My

[2016-03-17 18:10] flukeout commented on #1697
@mmmavis Can create this page with the same workflow as the last one? If so, could you please...

* Duplicate the current Curriculum Workshop Page
  * Can you duplicate the stylesheet as well in case I need to make special changes to this page?
* Set up the route so the page lives at ``https://teach.mozilla.org/community/community-call``
* Set up the ``Community Call`` menu item in the side-bar na

[2016-03-17 18:14] hannahkane commented on #1697
url and menu item work for me, thanks

[2016-03-17 21:39] flukeout commented on #1697
@KGorr I'll need a link for the embedded video stream. Were you planning to use the same one as the Curriculum Workshop page? If so, the trouble with that is that it's showing the content from the workshop, which will be confusing...

![image](https://cloud.githubusercontent.com/assets/25212/13862036/e254fad4-ec4d-11e5-982b-e257c82a6694.png)

@mmmavis How can I change the page ``<title>``? Right n

[2016-03-17 22:26] mmmavis opened #1735 "Wrap "wp page" content with inner-container"

[2016-03-17 22:30] #1735 closed

[2016-03-18 03:44] anmechung commented on #1715
@hannahkane @pomax see google doc for content - let me know if you have questions
https://docs.google.com/document/d/1u9j28HqV8QMsk-foS1r0N-tVtmcLTLsGz9m7eKcT_eU/edit

[2016-03-18 13:20] KGorr commented on #1697
Sorry @flukeout, looks like I had an adding link error earlier. It is a different video stream than the workshop.

Video embed: <iframe width="560" height="315" src="//www.youtube.com/embed/QfvrKvx4mUk" frameborder="0" allowfullscreen></iframe>

Event page link: https://plus.google.com/events/cj0tnkno6h0eod15toq7hgdddno

YouTube page: http://www.youtube.com/watch?v=QfvrKvx4mUk

Covering the bases,

[2016-03-18 13:20] KGorr commented on #1697
@flukeout, OK, it's just not showing the video embed code when I try to add it. I'll skype it to you and see if that works.

[2016-03-18 17:31] hannahkane commented on #1659
In the default page - before the user has selected anything, should the order be "Read, Write, Participate" instead of "Write, Read, Participate"? - @anmechung

[2016-03-18 20:10] mmmavis commented on #1726
hahahah yes we should make it private :smiley:

[2016-03-18 20:42] mmmavis commented on #1675
@hannahkane can you post a screencap or commit the code somewhere? and I'm also happy to take over this ticket :wink:

[2016-03-18 21:08] hannahkane commented on #1675
@mmmavis - just put code [here](https://github.com/mozilla/teach.mozilla.org/pull/1737) so you can see what I tried.

You're welcome to just do this if it's faster, but I'm happy to learn how to do it to maybe save you time in the future. :)

[2016-03-18 22:37] flukeout commented on #1620
**Summarized Findings**

* Most people collaborate either **every day** or **a few times a month**
* The most common form of content that is worked on collaboratively is **curriculum**
* Respondents collaborate with both **staff & community members**
* All respondents collaborate with groups of no more than **5 people**
* Collaboration happens at **all stages of content creation** including, plann

[2016-03-19 00:19] hannahkane commented on #1620
great summary, @flukeout. Thanks for doing this.

Your next steps look good. I definitely think we should audit the relevant Calypso features and assess what gaps we'll have. As part of that, though, I'm curious whether you think Calypso needs to solve all of the collaboration needs, or if people can continue to use gDocs, etherpad, and github for some of them (e.g. real-time collaborative editing

[2016-03-19 04:00] anmechung commented on #1659
@hannahkane yes, order should be read, write, participate

[2016-03-19 04:58] anmechung commented on #1659
@sabrinang @ScottDowne Thank so much for paying such great attention and catching discrepancies!   I updated the cross-walk between web literacy map and activities.   https://docs.google.com/document/d/15B2ccF-DSTl74SwNbyZ0W5qMu-jQNOXUS4C6BsvjF9s/edit#
@chadsansing can you take a quick look?  I read through each activity and matched with relevant skills as best I could.  FYI - For the purposes of

[2016-03-19 11:26] jgmac1106 commented on #1659
@anmechung is that a change in terminology? We have always said their are
three strands, then the competencies, and then the skills under those
competencies.

On Sat, Mar 19, 2016 at 12:58 AM An-Me Chung <notifications@github.com>
wrote:

[2016-03-20 03:28] anmechung commented on #1659
@jgmac1106 Yes - read, write, participate are strands (thanks for the reminder)!  As for skills and competencies terminology, they as we know are often used interchangeably.  At Mozilla, I've always heard them referred to as web literacy skills and competencies, and assumed that skills was the higher level, and competencies underneath. However, I may have not looked in all the right places. So, I

[2016-03-21 01:57] anmechung commented on #1659
spoke with @chadsansing and he mentioned web lit II activities have been migrated ot new template since the original crosswalk.  @chadsansing will update the crosswalk for web literacy map and web lit II basic skills, and each activity page.   https://docs.google.com/document/d/15B2ccF-DSTl74SwNbyZ0W5qMu-jQNOXUS4C6BsvjF9s/edit#

[2016-03-21 16:21] flukeout commented on #1697
There's a PR with the changes [here](https://github.com/mmmavis/teach.mozilla.org/pull/8), as soon as it's merged we'll put it on staging for review.

[2016-03-21 16:44] flukeout commented on #1620
Good question @hannahkane - I think the collaboration features will affect how calypso is used, maybe if it has real-time collaboration, people would skip the etherpad/google doc step? My feeling is that we'll just have to kind of "wait and see" - calypso offers a whole new authorship paradigm for our org, so let's just keep tabs on the emerging behaviours and needs, it's hard to predict! If we se

[2016-03-21 16:47] hannahkane commented on #1620
+1 to seeing how the presence of Calypso changes people's workflows and +1 to seeing what needs emerge

[2016-03-21 16:57] sabrinang commented on #1659
@anmechung I will file a separate ticket for updating the activities (updating “Web Literacy Competencies” to “Web Literacy Skills” and adding “21st Century Skills” ) as I have not handled any of activities so far and it might be something @chadsansing is familiar to do

I will also file a separate ticket to update these changes in the white paper too.

You have added competencies to 21C Skills as

[2016-03-21 17:05] sabrinang opened #1738 "Update language and label in various Web Lit activites"
Update the [activities](https://docs.google.com/document/d/15B2ccF-DSTl74SwNbyZ0W5qMu-jQNOXUS4C6BsvjF9s/edit#heading=h.hwiildxvzsx4) (left hand column on each of the activity pages) and change from Web Literacy Competencies to “Web Literacy Skills” with corresponding skills in the 3 column from left. Also add “21st Century Skills” header (similar to Web Literacy Skills) underneath with correspondi

[2016-03-21 17:23] sabrinang opened #1739 "Update Web Literacy 2.0 whitepaper changes"
Update http://mozilla.github.io/content/web-lit-whitepaper/ as mentioned in this issue: https://github.com/mozilla/teach.mozilla.org/issues/1659#issuecomment-198633349

- making it more clear 21 Century skills are separate from competencies (not seen on the same bullet list)
- integrate specific 21C competencies into the white paper rather than as a link to chart
- add the text seen on bottom of p

[2016-03-21 17:30] hannahkane commented on #1732
Thanks, @jazoulai. I'm putting this in the next heartbeat (April 8), because the current heartbeat is pretty packed. We looked into this a little on Friday, and since it may not be completely trivial, I'd rather not have the team focus on it until the beginning of the next week. Let me know if there's an external deadline that would impact this.

[2016-03-21 17:39] jazoulai commented on #1732
Works for us, @hannahkane. Thanks!

[2016-03-21 18:23] mmmavis opened #1740 "Update email validation regex with Exact Target's pattern"
@stephaniemcv reported that our client side email validation for the newsletter signup form doesn't accept emails with plus sign (+) in them. We should probably update [the regex](https://github.com/mozilla/teach.mozilla.org/blob/develop/lib/util.js) so that it matches ET's pattern.

@stephaniemcv @alicoding do you by any chance know what pattern ET(or Basket) uses?

Note the client side validatio

[2016-03-21 18:50] alicoding commented on #1740
@mmmavis can you just do `encodeURIComponent(email); before sending that to `Basket` ? I've tested that with curl and it worked

[code]

[2016-03-21 18:51] Pomax commented on #1740
that sounds like a nice solution to me.

[2016-03-21 19:48] sabrinang commented on #1650
Create 4 more line art (seen in badges):
<img width="370" alt="screen shot 2016-03-21 at 12 47 51 pm" src="https://cloud.githubusercontent.com/assets/2492510/13931978/27f3f0fa-ef63-11e5-8b98-eafb0aacce6c.png">

[2016-03-21 21:21] anmechung commented on #1738
@chadsansing and I updated the the crosswalk - activities and corresponding web literacy skills, and @chadsansing updated the language in each Web Lit Basics II activity.  Needs to be updated for Web Lit Basic I.  If someone can do this or show me how to do it that would be great.
https://docs.google.com/document/d/15B2ccF-DSTl74SwNbyZ0W5qMu-jQNOXUS4C6BsvjF9s/edit#
closed

[2016-03-21 21:55] sabrinang commented on #1659
After looking over the content in the crosswalk and the inclusion of 21C skill competencies, I addressed a few questions that came up with @anmechung. Initially, collaboration we’re 5 separate types (audience & awareness, communication, conflict resolution, use of collaboration technology and responsibility & productivity) and noted that the redundancy of communication could be confusing as it is

[2016-03-21 23:00] hannahkane commented on #334
Closing this because it feels out of date

[2016-03-21 23:00] #334 closed

[2016-03-21 23:01] hannahkane commented on #656
@adamlofting - this ticket feel stale to me in light of our focus on the network strength KPI. Going to close, but feel free to re-open if you'd like.

[2016-03-21 23:01] #656 closed

[2016-03-21 23:03] hannahkane commented on #916
Closing this as out-of-scope for now, though we'll likely reference this later on.

[2016-03-21 23:03] #916 closed

[2016-03-21 23:03] hannahkane commented on #1050
@mmmavis - is this ticket still needed?

[2016-03-21 23:05] hannahkane commented on #1088
@mmmavis - is it important to keep this ticket open? Since it doesn't seem actionable, I'm tempted to close, but I could move these to another space for documentation if you'd like.

[2016-03-21 23:06] hannahkane commented on #1312
Closing this for now, as major changes to Teach content are out-of-scope right now.

[2016-03-21 23:06] #1312 closed

[2016-03-21 23:07] hannahkane commented on #1337
Closing this since the work is done and can be referenced if needed.

[2016-03-21 23:08] hannahkane commented on #1383
I'm going to close this ticket since everything within it is accounted for in other tickets.

[2016-03-21 23:08] #1383 closed

[2016-03-21 23:08] hannahkane commented on #1384
Closing this since it's covered in the IA/branding work happening in other tickets.

[2016-03-21 23:08] #1384 closed

[2016-03-21 23:10] hannahkane commented on #1443
Closing this as out-of-scope for current roadmap. Will likely revive in the future.

[2016-03-21 23:10] #1443 closed

[2016-03-21 23:11] hannahkane commented on #1476
@ldecoursy - is this ticket still needed?

[2016-03-21 23:11] hannahkane commented on #1532
Closing as out-of-scope for now.

[2016-03-21 23:11] #1532 closed

[2016-03-21 23:13] hannahkane commented on #1620
@flukeout - do you think we can close this ticket and file follow-ups as needed?

[2016-03-21 23:14] hannahkane commented on #1652
We had the meeting, and a ticket is filed in [/plan](https://github.com/MozillaFoundation/plan/issues/757), so I'm going to close this.

[2016-03-21 23:14] #1652 closed

[2016-03-22 00:07] flukeout opened #1741 "Explore & document calypso collaboration features"
This is a follow-up to the collaboration survey from #1620. We'll want to identify and explore which collaboration features are built in to calypso. This will help us...

* See how these features map to the needs expressed by the survey respondents
* Identify any key features that might be missing (and start planning on solutions & timelines)
* Produce & training resources for new users

Beyond th

[2016-03-22 00:15] flukeout opened #1742 "Explore & map out different collaboration pathways."
In our survey on collaboration #1620, we mostly focused on the experiences and needs of a document "owner" and didn't spend much time on collaborators who came to help at the request of the owner.

I'd like to map out some different paths and flows for these different types of contributors. This might help us identify some UX or feature gaps & needs.

**For example**
* What does is the flow for be

[2016-03-22 00:20] flukeout commented on #1620
I've filed a couple of follow-up issues...

* #1741 - Exploring & documenting existing calypso collaboration features.
* #1742 - Mapping out some collaboration workflows from different perspectives.

I wonder too, if we should set up some kind of 'test collaboration scenario' and ask a couple of people to participate in a sort of fake real-world case-study. I'm not sure - let's chat in stand @hann

[2016-03-22 02:22] anmechung commented on #1715
@Pomax @hannahkane please note that per conversation with @sabrinang I've updated the content for badge requirements.  Collapsed from basically 8 badges to 4 badges. 5 sub-badges for collaboration  are now just 1 collaboration badge.

[2016-03-22 13:53] ldecoursy commented on #1476
I just emailed them again since I never received new contact info. I'll close this for now and re-open if/when I hear back.

[2016-03-22 13:53] #1476 closed

[2016-03-22 19:38] mmmavis commented on #1050
i think we can close this.

[2016-03-22 19:38] #1050 closed

[2016-03-22 19:39] mmmavis commented on #1088
that's fine. let's just close it :+1:

[2016-03-22 19:39] #1088 closed

[2016-03-22 22:20] hannahkane commented on #1620
Definitely want to hear more about the fake case study - not sure I understand what you mean by that.
OK to close the ticket in the meantime, since follow-ups are filed?

[2016-03-22 22:21] hannahkane commented on #1741
Nothing to add. :)

[2016-03-22 22:22] hannahkane commented on #1742
I'm interested in this ticket, but also want to suggest keeping it low priority until the CMS has been in use for awhile and we can see if this need emerges.

[2016-03-22 23:21] #1697 closed

[2016-03-23 01:07] mmmavis opened #1746 "Question about production site"
@Pomax @alicoding

Are we still serving static files from S3 for production site? If so I'll need to amend the [CHANGELOG](https://github.com/mozilla/teach.mozilla.org/blob/develop/CHANGELOG.md#changed)

[2016-03-23 01:09] alicoding commented on #1746
Currently it still is serving the files from S3. I have a pull request and working on getting that off, but probably going to be sometime before end of this week.

[2016-03-23 03:30] #1695 closed

[2016-03-23 03:52] #1727 closed

[2016-03-23 04:48] mmmavis commented on #1740
@alicoding @Pomax i think the problem here isn't about the encoding. It's [our regex here](https://github.com/mozilla/teach.mozilla.org/blob/develop/lib/util.js#L3) doesn't like "+" nor "%".

I'm gonna update it to (regex copied from http://stackoverflow.com/a/46181)
[code]

[2016-03-23 10:47] alicoding commented on #1740
I don't know if that's the only thing too @mmmavis? I tried curl with + and it fails to submit to ET, but not when I encoded that.

[2016-03-23 16:52] #1726 closed

[2016-03-23 21:09] Pomax opened #1750 "improve the zoom speed for activity-illustration-mouseover behaviour"
right now when you hover over an activity image it slowly zooms in a bit, but it feels like the zoom is too slow, and the zoom-on-hover might be something we want to reconsider as needing at all, too.

[2016-03-23 23:46] hannahkane commented on #1676
What if the email address is already signed up? Do we currently provide that feedback?

[2016-03-24 02:56] anmechung commented on #1659
@ScottDowne @sabrinang I double-checked web literacy skills language, and made no changes.   Here is the language (pulled from web literacy paper) in case you need it:
https://docs.google.com/document/d/1emSA0TonNbzIxjQpSkJu1wkAhAKbn5eiHFKZFS-mQa8/edit

[2016-03-24 19:50] KGorr opened #1752 "Create archive page for Mozilla Learning Community Call"
Similar to the [open ticket](https://github.com/mozilla/teach.mozilla.org/issues/1694) for archiving the Mozilla Curriculum Workshop, we'll also need to archive the Community Call page.

I believe the format is already in progress via the CMS template work, so this serves as a reminder to please include the community call landing page: https://teach.mozilla.org/community/community-call/ Thanks!

C

[2016-03-24 21:33] mmmavis opened #1753 "Overflow WP page content"
<img width="1390" alt="screen shot 2016-03-24 at 2 31 38 pm" src="https://cloud.githubusercontent.com/assets/2896608/14032007/34b13796-f1cd-11e5-96af-30179f6c4007.png">

we should set the wrapper div so it has `max-width: 100%`

[2016-03-24 21:40] #1753 closed

[2016-03-24 22:09] mmmavis commented on #1740
curl with + doesn't work but I think `superagent` takes care of it when we `POST` to `basket`

In https://github.com/mozilla/teach.mozilla.org/blob/f9e0abfa1d78bef5556d61f57ff34a0f18ba9dc2/components/newsletter-signup/SignupForm.jsx#L37, `type` is set to `form`, which sets `Content-Type` to `application/x-www-form-urlencoded`, see https://visionmedia.github.io/superagent/#post-/-put-requests for d

[2016-03-24 23:34] hannahkane opened #1756 "Link to whitepaper on 21st Century Skills page is wrong"
Looks like we're linking to the older Whitepaper on the 21st Century Skills page: /web-literacy/skills

Correct link is: http://mozilla.github.io/content/web-lit-whitepaper/

[2016-03-24 23:53] mmmavis opened #1757 "Lettercasing in weblit map related urls needs adjustment"
We should probably turn them into all lower cases.

e.g.,
https://teach.mozilla.org/web-literacy/Read/Navigate/
should be
https://teach.mozilla.org/web-literacy/read/navigate/

/cc @sabrinang @Pomax

[2016-03-25 00:10] mmmavis commented on #1757
Oh we should also replace space with hyphen as well

<img width="547" alt="screen shot 2016-03-24 at 5 10 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/14034745/55837d42-f1e3-11e5-853a-e7b69692068b.png">

[2016-03-25 04:46] anmechung commented on #1739
@sabrinang when you update the new web lit paper, can you do the follow:
- remove hyperlink to "21st Century Skill" on page 1, first paragraph
- Research Finding section: change hyperlink for "Web LIteracy Map" to original concept paper, remove hyperlink to strategies evolved and "existing basic web literacy grid" and change the wording of this to "first web literacy map"
- Under each web literacy

[2016-03-25 15:50] anmechung commented on #1756
+1 and FYI @sabrinang is making some edits to the new web lit white paper.

[2016-03-25 15:53] anmechung commented on #1739
@sabrinang revise on the second bullet above: the hyperlink for "web literacy map" is correct (its to wiki page which will also work), but if can make hyperlink to "first web literacy map" that would be great.

[2016-03-25 16:15] hannahkane opened #1758 "Migrate two community call pages to CMS"
We need to make both the [Curriculum Workshop](https://teach.mozilla.org/community/curriculum-workshop) and the [MLN Community Call](https://teach.mozilla.org/community/community-call) pages editable in the CMS.

Should also reflect the template changes defined here: https://github.com/mozilla/wp-calypso/issues/29

If we can not do this in the first week of the heartbeat, we'll need to manually ac

[2016-03-25 16:16] hannahkane commented on #1758
cc @simonwex @mmmavis @gvn @flukeout @vazquez

Will schedule a time for Monday to discuss a plan for this ticket

[2016-03-25 17:05] anmechung commented on #1738
@chadsansing can you show me how to update the Web LIt Basic I activities?  Its confusing otherwise.

[2016-03-25 17:19] chadsansing commented on #1738
@anmechung - @ldecoursy and I want to open a broader discussion about what to do with that unit. Let's talk after my PTO.

[2016-03-25 21:39] anmechung commented on #1739
@sabrinang This is probably the most appropriate link to the first web literacy paper: http://mozilla.github.io/webmaker-whitepaper/

[2016-03-28 14:39] ScottDowne commented on #1659
Pretty sure it's safe to close this now :)

[2016-03-28 14:39] #1659 closed

[2016-03-28 14:47] hannahkane commented on #1651
@sabrinang - can we close this ticket now?

[2016-03-28 14:47] hannahkane commented on #1650
@sabrinang - can we close this ticket?

[2016-03-28 14:50] hannahkane commented on #1620
@flukeout - I'm closing this since the follow-ups have been filed.

[2016-03-28 14:50] #1620 closed

[2016-03-28 16:39] sabrinang commented on #1651
Current palette we are using:
![web-literacy_colour-test-unified-11](https://cloud.githubusercontent.com/assets/2492510/14083110/cbf20182-f4c8-11e5-8a89-e4c954aef28c.png)

[2016-03-28 16:39] #1651 closed

[2016-03-28 16:45] sabrinang commented on #1650
Since we have streamlined the badges into 4 for 21C Skills (5 collaboration badges merged as 1) the other badge illustrations are unnecessary to create now. The navigation icon for web literacy has also been completed: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ed0VIMXlfQUhWcEU/view?usp=sharing

[2016-03-28 16:45] #1650 closed

[2016-03-28 17:54] ScottDowne opened #1760 "the weblit map doesn't retain circles selected state"
If I click around the circle everything works fine, if I navigate to `/read/synthesize/` it doesn't retain that and everything is selected.

[2016-03-28 18:13] mmmavis commented on #1758
i think there are a few steps needed to be done in order to deliver this (feel free to edit the list below :wink:)

Need to have
- [ ] add mozmaker-templates partial options to Calypso (current status: @mmmavis to wrap up [PR #31](https://github.com/mozilla/wp-calypso/pull/31) and ask @alicoding to review)
- [ ] host Calypso (status: @cadecairos @simonwex could you provide updates? )
- [ ] add ["g

[2016-03-28 19:19] mmmavis commented on #1756
fixed.

[2016-03-28 19:19] #1756 closed

[2016-03-28 21:19] hannahkane commented on #1758
This is likely blocked on the hosting Calypso issue, so @fluekout will move forward on addressing the immediate requirements on the Teach site directly, while we figure out how to resolve the issues Mavis laid out.

[2016-03-29 00:18] mmmavis opened #1762 "Fix hyperlink style on teaching activities module pages"
example:

https://teach.mozilla.org/activities
<img width="979" alt="screen shot 2016-03-28 at 5 17 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/14094211/f05ec0a6-f508-11e5-8c22-c80769ca89b4.png">

https://teach.mozilla.org/activities/web-lit-basics/
<img width="759" alt="screen shot 2016-03-28 at 5 17 17 pm" src="https://cloud.githubusercontent.com/assets/2896608/14094212/f287bf

[2016-03-29 00:43] #1675 closed

[2016-03-29 00:48] mmmavis opened #1763 "Fix sidebar colour for activities pages"
A few pages on the Teach site are supposed to be styled hot pink `#D64262` (e.g., teaching activities pages: https://teach.mozilla.org/activities and https://teach.mozilla.org/activities/web-lit-basics/) but we accidentally removed the existing CSS rule in a previous commit. Let's bring that colour back! :dancer:

[2016-03-29 00:56] #1763 closed

[2016-03-29 01:31] #1762 closed

[2016-03-29 15:43] #1757 closed

[2016-03-29 20:35] KGorr commented on #1693
Hey, sorry for the delay in adding to this. The G+ event page (and thus the video stream embed code), and new etherpad can be set up pretty quickly.

My suggestion is to aim for getting these set up 1 week after last month's workshop so that we can archive the past episode quickly. When we start promoting the new episode, we don't want the old one to be on the home page. The event page may not hav

[2016-03-29 21:33] Pomax commented on #1725
for now, we do not.

[2016-03-29 21:33] #1725 closed

[2016-03-29 21:34] Pomax commented on #1724
the credly code on the Python side is getting a rewrite that should allow unit tests to be written (although it might need a fake credly api responder)

[2016-03-29 22:22] Pomax commented on #1337
reopening for cross-reference purposes

[2016-03-29 22:27] Pomax commented on #1194
Would it make sense to, for MVP at least, let users do this through Credly's website, rather than our own?

[2016-03-29 22:42] Pomax opened #1769 "Suppress verification email for new user signups"
Because we can, so that makes the user experience better.

[2016-03-29 22:45] Pomax opened #1770 "let users know about the credly flow once they earn their first badge with us"
We can take the "first badge earned" moment to educate users on how they can now access their badges, and use credly for all its user-administrative purposes.

[2016-03-29 22:53] simonwex opened #1771 "Complete Credly doc for Mozilla production server"
We need to fill out the doc for provisioning our production server. We're currently using staging

[2016-03-29 23:02] #1731 closed

[2016-03-29 23:06] Pomax opened #1772 "Set up some administrative users for testing the flow"
Specifically, can we authorize users as admins, badge creators, badge approvers without edit rights, etc.

[2016-03-29 23:07] Pomax commented on #1772
/cc @hannahkane @simonwex

[2016-03-29 23:34] hannahkane commented on #1194
Yes. :) Closing.

[2016-03-29 23:34] #1194 closed

[2016-03-29 23:35] hannahkane commented on #1191
@Pomax - can we close this one? Seems...done, right?

[2016-03-29 23:36] hannahkane commented on #1705
Closing because this wasn't ever intended to do anything — was just meant to be a visualization of "what badges is about"

[2016-03-29 23:36] #1705 closed

[2016-03-29 23:36] hannahkane commented on #1706
Closing because this wasn't ever intended to do anything — was just meant to be a visualization of "what badges is about"

[2016-03-29 23:36] #1706 closed

[2016-03-29 23:36] hannahkane commented on #1707
Closing because this wasn't ever intended to do anything — was just meant to be a visualization of "what badges is about"

[2016-03-29 23:36] #1707 closed

[2016-03-29 23:37] hannahkane commented on #1712
not needed for MVP