[2015-03-27 23:37] #121 closed

[2015-03-27 23:56] ScottDowne commented on #51
Totally!

[2015-03-27 23:56] #51 closed

[2015-03-29 00:24] ScottDowne commented on #378
Merged

[2015-03-29 00:25] ScottDowne commented on #356
Merged

[2015-03-29 00:25] #356 closed

[2015-03-29 00:41] ScottDowne commented on #438
I'm going to need an atomic cell phone image in a matching colour with the rest of the icons.

[2015-03-29 00:52] ScottDowne commented on #438
It should link to web literacy?

Right now in https://github.com/mozilla/teach.webmaker.org/issues/324 it is destined to be linked to: attend: https://wiki.mozilla.org/MozillaWiki:Teach_the_Web_Talks

I take it, this ticket replaces the link in #324?

[2015-03-29 00:56] ScottDowne commented on #324
Looks like the events page is also missing links in the bottom three link icons. @hannahkane

[2015-03-30 03:08] hannahkane commented on #324
Good catch.
 * Event Resources should go to the page being built in #388. Assuming the url will be /events/resources
 * Join the Conversation should go to http://discourse.webmaker.org/category/maker-party
 * Add Your Event should go to https://events.webmaker.org/

[2015-03-30 03:09] hannahkane commented on #438
Yes, to both—should link to the Web Lit page, and should replace the link in #324. Thanks!

[2015-03-30 08:27] thornet commented on #298
Moving this a heartbeat.

Draft here: https://docs.google.com/a/mozillafoundation.org/document/d/1qzjUAsML3BmN5KvHDLFLwrzJX0n6GNDowz0E7a2ljqM/edit

Will send shortly to @iamjessklein @chrislarry33 @thisandagain for review.

[2015-03-30 08:35] thornet commented on #288
Next steps:

* Prepare pipeline of partners & eager clubbers with @amirad @ldecoursy @simonaramkisson
* Customize Q2 asks depending on recipient

[2015-03-30 08:37] thornet commented on #27
＼（＾▽＾）／
@LauraHilliger this is brilliant. great stuff!

[2015-03-30 13:05] LauraHilliger commented on #27
@chrislarry33 - sending email, edited the description of this issue to include a checklist of folks on Mozteach team, probably easier than filing separate issues.

[2015-03-30 13:25] LauraHilliger commented on #28
MDN is leading this project. We're merely consulting so I'm going to ahead and close this. @thornet and I are #onit, and will reissue tickets when there are team specific tasks.

Project wiki: https://wiki.mozilla.org/MDN/Projects/Content/MDN_Content_Kits

[2015-03-30 13:25] #28 closed

[2015-03-30 13:35] LauraHilliger commented on #404
depends on #27

[2015-03-30 13:36] iamjessklein commented on #378
:+1:

[2015-03-30 13:36] LauraHilliger commented on #392
depends on #42

[2015-03-30 13:46] LauraHilliger commented on #313
Heya – found this from Hive Toronto: https://docs.google.com/a/zythepsary.com/document/d/1aO0rEdV5QpMGoRDFJupf3xRtEWO7ByM4x0h9615xXAk/edit

sounds like it was written by legal, so we might just do a slight remix. Closing https://github.com/MozillaFoundation/plan/issues/398 (please reopen if you think we need a new one for Clubs)

[2015-03-30 14:05] vazquez opened #451 "Mozilla logo displays huge on IE"

[2015-03-30 14:14] LauraHilliger opened #452 "Redesign Discourse header + footer to match teachDOT"
Our discourse install is using a header from webmaker training. With the implementation of teachDOT, we should update the navigation & header to point to the teach site and specific teach pages. Additionally, a Mozilla footer should be implemented (e.g. see [Mozilla Science discourse install](http://forum.mozillascience.org/) for footer example).

Relies on #152

[2015-03-30 14:21] ldecoursy commented on #313
Also @Saallen may have one from MozFest?

[2015-03-30 14:40] vazquez commented on #438
The asset needs to be JPG because of the radial gradients we are using.

https://dl.dropboxusercontent.com/u/43783651/Mozilla/New%20icons.zip

[2015-03-30 14:45] LucyeoH commented on #404
Oh I have a list for this!! https://teach.etherpad.mozilla.org/BestTeachingKits @LauraHilliger

[2015-03-30 15:43] iamjessklein commented on #27
Added my [etherpad](https://etherpad.mozilla.org/collections-jess) -it's  not exhaustive, but I have indicated to the best of my memory what I am not providing content on.

[2015-03-30 16:12] hannahkane commented on #402
Should I be seeing the simplified footer on the staging site now? I'm not. :(

[2015-03-30 16:17] iamjessklein commented on #298
:heart_eyes: thanks @thornet

[2015-03-30 16:18] thornet commented on #59
@soapdog is this okay to close?

[2015-03-30 16:19] toolness opened #455 "Automated tests fail on IE9"
Alas.

Upon brief investigation, these seem to be the major issues:

- [ ] Use of [`classList`](http://caniuse.com/#feat=classlist) in the `Page` component.
- [ ] To check array length, we do `array.length.should.equal(1)` but IE9 doesn't like this. A simple change to `should(array.length).equal(1)` fixes this.
- [ ] In a `TeachAPI` test we stub out `console.warn` but IE9 doesn't like this.
- [ ]

[2015-03-30 16:20] toolness commented on #455
Also, the map component doesn't seem to fetch map data, which is a bummer.

[2015-03-30 16:20] thornet opened #456 "[MIGRATED] Kick-off call with Q2 testers"
Goal: Have a kick-off call(s) with 200 Q2 testers.

Agenda could include:
* Elements from Teach like Mozilla module to on-board.
* Option to test i) privacy module, ii) Webmaker app extension, or iii) Web Lit Basics.

[2015-03-30 16:22] thornet commented on #318
Moving to a heatbeat milestone.

[2015-03-30 16:27] thornet commented on #395
cc @Saallen to review for Mozfest comms. Think the Save The Date should be sooner. Sarah knows preferred dates.

Made some edits in the etherpad. Also, @amirad do you want to move this to a heartbeat milestone (i.e. April 10?)

[2015-03-30 16:50] hannahkane opened #457 "Design scalable solution for Web Lit Curriculum on Teach site"
### RACI ###
Driver: @hannahkane
Design Lead: ??
Decision-maker: @chrislarry33
Consulted: @cassiemc @thornet @LauraHilliger

The v1 of the Teach site displays the Clubs Curriculum here: http://teach.mofostaging.net/clubs/curriculum/

We specifically designed the page to show off the first module (module = six activities) that was thoroughly tested by community members.

Now we need to design a sol

[2015-03-30 16:51] thornet commented on #215
Do we still need this one, @LauraHilliger?

[2015-03-30 16:51] hannahkane opened #458 "Determine solution for integrating Webmaker blog into Teach site"
### RACI ###
Driver: @hannahkane
Design lead: ???
Decision maker: @chrislarry33
Consulted: @ldecoursy @LucyeoH @amirad @thornet

### Deliverable ###
 * A decision about whether to link, integrate, or build
 * Design for whichever solution we choose

[2015-03-30 17:49] #451 closed

[2015-03-30 17:50] toolness commented on #402
Hmm, I think this has something weird to do with the travis jobs hanging on friday. Hopefully the new footer will show up soon, as the code in the repository does seem to reflect the simplified footer.

[2015-03-30 18:01] toolness commented on #402
Ah looks like it's up there now!

[2015-03-30 18:04] hannahkane commented on #402
Yay! Looks so nice.

[2015-03-30 18:19] ScottDowne commented on #438
@vazquez did you forget to upload the icon to the new icons dir in that zip? It's empty.

Or is this some sort of commentary that less is more?

[2015-03-30 18:22] vazquez commented on #438
Try this out. https://dl.dropboxusercontent.com/u/43783651/Mozilla/New%20icons.zip

[2015-03-30 18:22] ScottDowne commented on #324
@hannahkane Looks like I need that links for bottom of the web lit page too (I may have missed it somewhere). Updating events page now.

[2015-03-30 18:29] ScottDowne commented on #438
Cool thanks, totally did it.

[2015-03-30 18:29] hannahkane commented on #324
Web Lit page links:
 * Contribute: https://wiki.mozilla.org/Webmaker/WebLiteracyMap
 * Learn More: https://mozilla.github.io/webmaker-whitepaper/
 * Get Reading: https://www.mozilla.org/en-US/about/manifesto/

[Please note: there's an error in the Get Reading copy. That should say "Web Literacy is core to the Mozilla mission and values", rather than "Webmaker is core..."]

[2015-03-30 18:35] ScottDowne commented on #439
Merged

[2015-03-30 18:35] #439 closed

[2015-03-30 19:33] hannahkane opened #461 "Implement Google OAuth2 on Discourse"
Goal : upgrade Google's OpenID authentication on Discourse. Google will be ending support for OpenID by April 20, 2015. We need to start using Google OAuth2 as soon as possible. See this guide to learn more: https://meta.discourse.org/t/configuring-google-oauth2-login-for-discourse/15858

Driver: @hannahkane
Decision:@laurahilliger
Lead design: n/a
Lead dev: @toolness
Quality: @laurahilliger

Whom

[2015-03-30 19:36] hannahkane commented on #378
I'm not seeing this one on staging yet. Should I be?

[2015-03-30 21:24] hannahkane commented on #245
+1 to having a desktop view as well. @iamjessklein - is that something you can do?

[2015-03-30 21:35] hannahkane opened #462 "Finalize the header for the Webmaker blog visual refresh"
Roberto did some great work on a refresh of the design. Before we can implement, we need to make some changes to the header based on branding conversations. @HPaulJohnson - can I hand this to you to finalize before we move to implementation?

Design files are available here: https://bugzilla.mozilla.org/show_bug.cgi?id=967770
Redpen here: https://redpen.io/p/pkfbf34a0e1d1ab57e

[2015-03-30 21:38] HPaulJohnson commented on #462
Works for me, thanks. @KevZawacki and I are working on header copy now and will share ideas here soon.

[2015-03-30 22:00] hannahkane opened #463 "Spec out phase 1 of the Learning Networks Directory project"
### RACI ###
 * Driver: @hannahkane
 * Dev lead: @toolness
 * Decision-maker: @chrislarry33
 * Consulted: @ldecoursy @thornet @leahatplay @jvallera @omnignorant

This will build on the Hive Directory project, and will extend functionality to all members of the Learning Networks community.

Some initial thinking is laid out here: https://docs.google.com/a/mozillafoundation.org/document/d/1drJH5M1tO

[2015-03-30 22:13] hannahkane commented on #452
If this needs engineering and design resources, I don't think we can fit this into the current milestone, which is quite full. @LauraHilliger, would you be okay with putting it in the next one?

[2015-03-31 01:41] ScottDowne commented on #324
Should be live now, closing.

[2015-03-31 01:41] #324 closed

[2015-03-31 01:41] ScottDowne commented on #438
Merged, closing.

[2015-03-31 01:41] #438 closed

[2015-03-31 01:47] ScottDowne commented on #378
If I understand the problem, yes, you should see it on staging.

I implemented the v1 from above, which moved the "how do clubs work" list to be above the map itself.

[2015-03-31 02:19] ScottDowne commented on #255
Merged, closing.

[2015-03-31 02:19] #255 closed

[2015-03-31 09:20] LauraHilliger commented on #452
Header is just css + fixing links, so as soon as teach is live, I'll just fiddle around. Then next heartbeat we can put a little time into the design + footer. Will need to make decisions on brand here b/c [this exists](https://discourse.mozilla-community.org/) and it appears we don't have a "Mozilla Learning" brand yet.

[2015-03-31 09:25] LauraHilliger opened #464 "double check teach site design inconsistency"
:warning: The main pages of Teach have a big, nice header EXCEPT for the Teaching Activities page, which, though top level, matches the sub pages in layout.

just struck me as odd, and I'm not sure it was intentional

[2015-03-31 09:36] LauraHilliger commented on #215
closing because despite going through the notes again, I cannot find context for this issue (and the wiki descriptors don't seem too complicated to me). Will reopen if this feedback surfaces again.

[2015-03-31 09:36] #215 closed

[2015-03-31 09:40] LauraHilliger commented on #93
based on web lit map http://myfuture.net/essentials

[2015-03-31 10:36] toolness commented on #461
Er, since Webmaker login uses OAuth2 too, should we just use Webmaker login for the Discourse? An advantage of this is that usernames on discourse would be guaranteed to be the same as usernames on webmaker (though I'm not sure what a good migration strategy would be).

[2015-03-31 10:38] toolness commented on #461
To clarify, having a 1:1 mapping between Webmaker users and Discourse users could have lots of benefits--for instance, it would allow us to show a mentor's latest Discourse posts in their user profile on the Teach site. With Google login that's completely independent of the Webmaker account system, there's no way to do that.

[2015-03-31 10:48] LauraHilliger commented on #461
We did build a webmaker login for Discourse, it still works :)

I've always had mixed feelings on the idea of removing social logins completely, but it's probably time. Guessing @thisandagain or @adamlofting knows something about conversion rates in relation to social media sign-ons. If we're happy with the drop* in signups, I would say we should ditch google, implement OAuth2 and ping @hannahkane

[2015-03-31 11:10] toolness commented on #461
Yeah, what I'm talking about is really [Discourse SSO](https://meta.discourse.org/t/official-single-sign-on-for-discourse/13045), which is distinct from the current system. As an example, the Hive Directory provides a Discourse SSO endpoint for the Hive Discourse, which means that there is an enforced 1:1 mapping between the two userbases.

With an *optional* Webmaker login it means that someone's

[2015-03-31 11:18] toolness commented on #461
Um, all that said, just upgrading to Google OAuth2 will likely be very easy. In fact, I'm guessing that it probably just requires upgrading Discourse and maybe changing a few configuration settings in the Admin panel. In contrast, changing Discourse to use Webmaker SSO will require writing code, and also figuring out a migration strategy for all our current users who are logging in via Google. So

[2015-03-31 11:49] LauraHilliger commented on #461
@toolness can you do the update, then close this bug? I've filed this to track the bigger convo: https://github.com/MozillaFoundation/plan/issues/420

[2015-03-31 12:33] iamjessklein commented on #464
Thanks for flaggin @LauraHilliger - we are doing design qa this week. I am going to add this to the milestone and product tag for review.

cc/ @vazquez @sabrinang @hannahkane

[2015-03-31 13:19] iamjessklein commented on #245
:+1: will upload today.

[2015-03-31 14:07] KevZawacki commented on #411
Suggested copy edits in this etherpad: https://etherpad.mozilla.org/TeachCopyEdits

[2015-03-31 14:50] davidascher commented on #461
cc @acabunoc who probably has a similar issue w.r.t. science's discourse
setup.
​

[2015-03-31 15:12] iamjessklein commented on #441
The QA  checklist for design can be found [here](https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/15) for future reference. I am copying and pasting everything below for good measure.

Step 1: Visit the staging site
Step 2: Methodically go through each page and identify design bugs and inconsistencies, using the checklist below as a guide.
Step 3: Go to this repo and file a new iss

[2015-03-31 15:47] hannahkane commented on #378
Oh, I see it. Sorry about that. Thanks!

[2015-03-31 15:47] #378 closed

[2015-03-31 16:50] Saallen commented on #313
This is the form I use for MozFest -https://drive.google.com/a/mozilla.com/file/d/0B_B9-Ny1xBaRYU4tYUZEUlNKUFU/view?usp=sharing

[2015-03-31 17:46] hannahkane commented on #458
Discussed this with @ldecoursy, @amirad, and @HPaulJohnson yesterday. We like the idea of embedding a feed of Webmaker blog articles that have been tagged with "teach."

@chrislarry33 - how does that sound to you?

 cc @sabrinang and @iamjessklein who will eventually do the design work for this. We'll do the actual design work in a later heartbeat, but wanted you to see this in case you have any f

[2015-03-31 17:48] BillMills commented on #27
@jvallera cool! Let me know if I can help out there or answer any questions.

[2015-03-31 17:50] hannahkane commented on #388
@ScottDowne - since @toolness is out today, this would be a good candidate for you, if you haven't been assigned to another project. This is the last page that needs to be built to launch the site.

cc @simonwex in case Scott is more needed elsewhere. :)

[2015-03-31 17:53] ScottDowne opened #467 "Intro on about page is not the same as the intro on web-lit and curriculum"
The font size, line space, and size changes on the media query are not the same. Also, web-lit and curriculum is h2 and about is a p.

[2015-03-31 17:56] hannahkane commented on #411
Thanks, @KevZawacki. This is awesome.

[2015-03-31 17:58] hannahkane commented on #152
Assigning this to @simonwex, who I think will make the ultimate call about when to release the site. I can make a call about whether all of the product reqs have been met, but it'll be @simonwex who makes a technical call. (Does that seem right?)

[2015-03-31 18:01] hannahkane opened #468 "Conduct user testing on staging site"
User test script is here: https://docs.google.com/a/mozillafoundation.org/document/d/11TZH_HBmCo4D9MaYcAW-eHz4cXRVnAxfap0rRBa4O0s/edit#

@iamjessklein to conduct tests in NYC office + one community member (I'll email you with contact info)

@hannahkane to conduct tests with two add'l community members

[2015-03-31 18:08] hannahkane opened #469 "Design Teach site referral from Webmaker.org"
The implementation ticket is in the webmaker repo and will happen in a later milestone: https://github.com/mozilla/webmaker.org/issues/1377#issuecomment-88168688

I thought I'd put the design ticket in this repo, so that it's in the backlog for the Teach team's current milestone. Will let Teach team designers and Webmaker product team make decisions about the best way to promote the Teach site fro

[2015-03-31 18:46] hannahkane commented on #452
Sounds good. Thanks, @LauraHilliger.

[2015-03-31 18:49] ScottDowne commented on #467
Ended up getting this in #466 after all, so closing this.

[2015-03-31 18:49] #467 closed

[2015-03-31 19:51] iamjessklein opened #470 "LANDING: Side panel should be blue"
It is currently pink.

[2015-03-31 19:52] iamjessklein opened #471 "LANDING: Image needs to be re-treated or replaced"
It's quite dark.
![screen shot 2015-03-31 at 3 52 07 pm](https://cloud.githubusercontent.com/assets/535012/6927809/eba6ae3e-d7bd-11e4-9eff-2e9f0360a6b8.png)

[2015-03-31 19:55] iamjessklein opened #472 "LANDING: Descriptive copy should be added"
At the moment there is no substantive content that explains what the goal of the site is, and what people can expect to do here.

This is all of the content on the page:

![screen shot 2015-03-31 at 3 55 12 pm](https://cloud.githubusercontent.com/assets/535012/6927891/62c3bdc2-d7be-11e4-84cc-bc537a2fe0ef.png)

[2015-03-31 19:57] iamjessklein opened #473 "TEACHING ACTIVITIES: Add banner photo"
To be consistent with the parent pages, this page should have a "hero" image.

[2015-03-31 19:58] iamjessklein opened #474 "TEACHING ACTIVITIES: Side panel should be pink"
The side panel here should be pink (not blue).

[2015-03-31 19:59] iamjessklein opened #475 "TEACHING ACTIVITIES: Labels and globe illustration should be pink"
They are currently blue, but will need to match the sidebar color changes referenced in #474

[2015-03-31 20:06] KevZawacki commented on #462
Here are three suggestion from @HPaulJohnson and me regarding header/subhead copy:

Mozilla Learning
Where Web teachers, learners and makers come together

Mozilla Learning
People, products and programs to teach, learn and make the Web

Mozilla Learning
Teaching web literacy through global communities and the Webmaker app

[2015-03-31 20:12] soapdog commented on #67
Can someone provide me with a contact to set the LDAP account and email?

[2015-03-31 20:13] soapdog commented on #96
@dajbelshaw is it on Transifex already? If it is not, then, is it ok to translate and do a pull request?

[2015-03-31 20:14] soapdog commented on #68
Also approaching key web developers with a strong desire to cause an impact and social transformations here in Rio to help with awareness to this project and with an initial set of volunteers.

[2015-03-31 20:26] soapdog commented on #306
Our initial desired LAN House set is:

* #1 - Marios LAN House - Abolição
* #4 - Jacsandi LAN House - Realengo
* #6 - Naigel LAN House - Santa Cruz
* #7 - Alessandro LAN House - Engenho Novo
* #9 - Marco LAN House - Colegio
* #10 - Otacilio & Loiane LAN House - Sepetiba

I've sent an email to Mario and Constance and we're starting to organize this meeting. It will require some back and forth until

[2015-03-31 20:27] soapdog commented on #56
Will check them. Thanks a lot!

[2015-03-31 20:27] soapdog commented on #59
@thornet we still don't have our LDAPs or email accounts, I would like to close this after we get those working.

[2015-03-31 20:29] soapdog commented on #58
@LauraReynal is closing the report and I will update the translation as soon as she OKs it (if there is any change). I just sent some extra photos taken by LH employees during the week to Laura, it took me a while to sort this out because the photo lab made lots of snafus with the material. Will close soon.

[2015-03-31 20:32] LauraReynal commented on #58
Hey @thornet and @soapdog - from my side the work on the report is almost done. Bobby is doing a grammar pass and then we are ready to ship.

I have not checked the PT translation obviously - I will let you sort it out.

ITS has reviewed the English report - So from my end its good to close - I will let @thornet assess.

Thanks
Laura

[2015-03-31 20:51] Saallen commented on #395
@thornet I have added the MozFest Save the date as April asap and added all other engagement dates across the next 8 months. I have not included internal comms here :+1:

[2015-03-31 21:04] iamjessklein opened #476 "TEACHING ACTIVITIES: Activities should open in a new tab"
Each learning activity should open in a new tab so that a user stays on the Teach site.

[2015-03-31 21:07] iamjessklein opened #477 "TEACHING ACTIVITIES: Condense or remove "more resources""
The "More Resources" section feels like it doesn't have a natural relationship to the rest of the content on the page. We should decide if we want to condense it by removing all of the individual clubs links and just linking out to the Hive Networks site or if we should remove it completely as the Hive logo is in the footer. cc/ @hannahkane @ldecoursy
![screen shot 2015-03-31 at 5 05 07 pm](https:

[2015-03-31 21:10] iamjessklein opened #478 "EVENTS: Maker Party logo and supporting text too large"
Reduce the graphic size and change the font size to match h2 in the style sheet.

![screen shot 2015-03-31 at 5 09 49 pm](https://cloud.githubusercontent.com/assets/535012/6929440/c9556982-d7c8-11e4-8a7c-a48e6e4d6068.png)

[2015-03-31 21:13] iamjessklein opened #479 "EVENTS: More images need to be added to the carousel"
Either more images should be added or one image should be removed - a slide carousel with 2 images feels pretty weak.
![screen shot 2015-03-31 at 5 12 03 pm](https://cloud.githubusercontent.com/assets/535012/6929494/2a5af454-d7c9-11e4-8664-91bfac5f0c10.png)

[2015-03-31 21:14] jvallera commented on #27
@BillMills thanks! I really loved your kit and was wondering if you would introduce it/give background about it on an upcoming Hive NYC community call. Thinking June-ish. I will connect via email.

[2015-03-31 21:19] ldecoursy commented on #477
We wanted a place to more overtly connect some of the Hive content - these should link to individual city portfolio pages - not currently another place to get directly to that.

[2015-03-31 21:22] iamjessklein opened #480 "EVENTS: Carousel images should be smaller"
![screen shot 2015-03-31 at 5 12 03 pm](https://cloud.githubusercontent.com/assets/535012/6929648/80d63c2a-d7ca-11e4-828e-fd15dae6c6ff.png)

[2015-03-31 21:27] iamjessklein opened #481 "EVENTS: Add mailinglist sign up form"
There is an itsy bitsy button underneath the carousel. It needs to be enlarged. It should link to the Clubs page.
![screen shot 2015-03-31 at 5 25 07 pm](https://cloud.githubusercontent.com/assets/535012/6929718/08d23a7a-d7cb-11e4-8334-022a8177dea3.png)

[2015-03-31 21:35] soapdog commented on #58
Laura,

I will need a pass on the PT translation to check for typos and grammar but I can arrange that here. Please let me know when you're done so that I can pick the file and look for changes.

Also before publishing the report, I would like to change the contact information and have my LDAP account and mozilla foundation email set up. In the report we have my personal email account and I would

[2015-03-31 21:38] LauraReynal commented on #58
Of course, I have no idea when your foundation email will be ready - I
think @benrito can help us identify times. Let us know Ben so that I can
change Andre's and Mario's addresses in the report

*Laura de Reynal*
Webmaker - Field Research
@lau_nk <https://twitter.com/lau_nk>
Skype: laura-dereynal

On Tue, Mar 31, 2015 at 10:35 PM, Andre Alves Garzia <
notifications@github.com> wrote:

[2015-03-31 22:04] iamjessklein opened #483 "EVENTS: Video missing above the carousel"
This was in the initial mock-ups. If this is still the plan, we will need to identify the video and place it.

[2015-03-31 22:09] iamjessklein opened #484 "EVENTS: Identify and link to global list"
In this paragraph: "Maker Party logo
Join us for the global Maker Party on July 15-31, 2015 and add your events to our global list any time of year." "global list" should link to something.

[2015-03-31 22:11] iamjessklein opened #485 "EVENTS: Add link to "Events Resources""
The bottom left icon of the page with the words "Events Resources" should be linked.

[2015-03-31 22:13] iamjessklein opened #486 "TEACH LIKE MOZILLA: reconsider "hero" image"
![Uploading Screen Shot 2015-03-31 at 6.13.00 PM.png . . .]()

[2015-03-31 22:14] iamjessklein opened #487 "TEACH LIKE MOZILLA: design the "learn icon""
![screen shot 2015-03-31 at 6 14 25 pm](https://cloud.githubusercontent.com/assets/535012/6930493/c99e8b0e-d7d1-11e4-875b-6a836c12e988.png)

The current image is a placeholder.

[2015-03-31 22:15] hannahkane commented on #485
blocked because the Events Resources page doesn't exist yet

[2015-03-31 22:16] hannahkane commented on #484
It should link to events.webmaker.org

[2015-03-31 22:17] hannahkane commented on #486
I don't see the screenshot. :(

[2015-03-31 22:17] iamjessklein opened #488 "TEACH LIKE MOZILLA: Listen Icon - fix line weight"
Clean up the listen icon to unify the line width to match "say hello" icon

![screen shot 2015-03-31 at 6 16 13 pm](https://cloud.githubusercontent.com/assets/535012/6930535/2229d09e-d7d2-11e4-9f75-30f071f918de.png)

[2015-03-31 22:19] hannahkane commented on #483
The video is here: http://www.youtube.com/watch?v=oko6TzPQE6Y

[2015-03-31 22:20] iamjessklein opened #489 "TEACH LIKE MOZILLA: add "mission" video"
Consider adding the Mozilla "mission" video that can be found here: https://www.mozilla.org/en-US/mission/ to this page.

[2015-03-31 22:21] hannahkane commented on #479
How many should we have?

[2015-03-31 22:22] iamjessklein opened #490 "TEACHING ACTIVITIES: Typo Hive Pittsburgh"
Typo: "hive pittsbergh" should be Pittsburgh

[2015-03-31 22:22] hannahkane commented on #489
@chrislarry33 @ldecoursy — can you guys weigh in on this?

[2015-03-31 22:23] iamjessklein opened #491 "WEB LITERACY: Change side bar color to green"
Change the color to green match Teach Like Mozilla page - which is the parent of this page.

[2015-03-31 22:24] hannahkane commented on #490
@KevZawacki started a pretty long list of typos, including this one. Wondering if we can add typos there, rather than filing a separate issue for each typo.

https://etherpad.mozilla.org/TeachCopyEdits

[2015-03-31 22:24] #490 closed

[2015-03-31 22:25] hannahkane commented on #462
Sweet. Thanks.

@chrislarry33 @ldecoursy @amirad - opinions?

[2015-03-31 22:26] iamjessklein opened #492 "WEB LITERACY: All blue elements should be converted to shades of green"
The blue tinted elements need to match the new side bar color : the tabs, the graphics, illustrations etc.
![screen shot 2015-03-31 at 6 24 57 pm](https://cloud.githubusercontent.com/assets/535012/6930675/6405e736-d7d3-11e4-8739-17a9f1c372d6.png)

[2015-03-31 22:27] iamjessklein opened #493 "WEB LITERACY: Revise the "Read more" icon"
The m style does not match the rest of the icons, either restyle or redesign.

![screen shot 2015-03-31 at 6 26 44 pm](https://cloud.githubusercontent.com/assets/535012/6930707/a2b61a1e-d7d3-11e4-9598-a21510005283.png)

[2015-03-31 22:29] hannahkane commented on #476
Do we have a standard best practice about this? I know it's a contentious issue in the UX world. I'm an anti-new tabs person. :) This post sums up my stance on The Great New Tab Debate: http://libux.co/links-should-open-in-the-same-window/

Will follow your lead, @iamjessklein, but just wanted to make sure we've considered the (user-centered!) no-new-tabs approach. :)

[2015-03-31 22:29] iamjessklein opened #494 "CLUBS: Remove "or find out more about us" text"
We are not including that workflow for this upcoming release.

[2015-03-31 22:29] amirad commented on #462
There's a lot of comma's but the **middle one** seems best to me. The emphasis on web teachers feels too educator to our audience and we've learned that people don't necessarily resonate or get what web literacy is without us defining it.

Mozilla Learning
People, products and programs to teach, learn and make the Web

[2015-03-31 22:32] iamjessklein opened #495 "CLUBS: Design the desktop map "tiles""
Should be informed by the mobile version.  #245

![screen shot 2015-03-31 at 6 31 53 pm](https://cloud.githubusercontent.com/assets/535012/6930775/409981da-d7d4-11e4-9566-8382f9069a45.png)

[2015-03-31 22:34] iamjessklein opened #496 "CLUBS: Remove the shadow circles in "Connect" icon"
The circles from underneath the people should be removed.
![screen shot 2015-03-31 at 6 33 35 pm](https://cloud.githubusercontent.com/assets/535012/6930795/817beaa8-d7d4-11e4-9600-1538090e6612.png)

[2015-03-31 22:34] iamjessklein opened #497 "CLUBS: Typo: "Grow the web literary of leaners" should be learners"
Typo: "Grow the web literary of leaners" should be learners

[2015-03-31 22:35] iamjessklein opened #498 "CLUBS: Spacing between page sections needs to be tightened up"
![screen shot 2015-03-31 at 6 35 23 pm](https://cloud.githubusercontent.com/assets/535012/6930816/c53248c8-d7d4-11e4-83ed-615992ed0e54.png)

[2015-03-31 22:38] iamjessklein commented on #498
![screen shot 2015-03-31 at 6 38 03 pm](https://cloud.githubusercontent.com/assets/535012/6930851/1c8b3238-d7d5-11e4-8d1d-9d4359d7cd07.png)

[2015-03-31 22:41] iamjessklein opened #499 "CLUBS CURRICULUM: Re-evaluate "What is Web Lit" design"
![screen shot 2015-03-31 at 6 40 12 pm](https://cloud.githubusercontent.com/assets/535012/6930881/7e1afe20-d7d5-11e4-9b0f-b5e8b05ff745.png)

[2015-03-31 22:41] iamjessklein commented on #499
It is inconsistent with the rest of the site.

[2015-03-31 22:44] iamjessklein opened #500 "CLUBS CURRICULUM: Broken link on web literacy map under Web Literacy Basics"
broken link: web literacy map should link to teach-like-mozilla/web-literacy/ instead of fixme/

[2015-03-31 22:46] iamjessklein opened #501 "CLUBS TOOLKIT: Add circular image/ line art and copy to be consistent with other pages"
The page should have this kind of header:

![screen shot 2015-03-31 at 6 46 07 pm](https://cloud.githubusercontent.com/assets/535012/6930961/373adc36-d7d6-11e4-9a9f-dbb6c4736ecc.png)
![screen shot 2015-03-31 at 6 46 26 pm](https://cloud.githubusercontent.com/assets/535012/6930965/41daad74-d7d6-11e4-95af-9e4ae7811c06.png)

[2015-03-31 22:49] iamjessklein opened #502 "CLUBS TOOLKIT: Drop down style inconsistent with the Web Lit Map"
Make a decision if we want to match the styles of the two dropdowns.

[2015-03-31 22:50] iamjessklein opened #503 "ABOUT: Graphic is clipped"
![screen shot 2015-03-31 at 6 50 19 pm](https://cloud.githubusercontent.com/assets/535012/6931031/d32a6e18-d7d6-11e4-95a6-0faecfec3610.png)

Re-supply the graphic here.

[2015-03-31 22:52] iamjessklein opened #504 "ABOUT: Sidebar and graphics should be blue"
To match the landing page color, #470  the sidebar and all of the associated elements should be blue.

[2015-03-31 22:54] iamjessklein opened #505 "FOOTER: Tighten up styling"
Tighten up the spacing and move the links from the sidepanel onto the footer - to unify the footer

[2015-03-31 22:57] iamjessklein opened #506 "Revisit all of the photography on the site"
- [ ]  Revisit use of photo in banners and circles (not consistent in colour treatment and composition), try a variety and move away from color tints but color correct
- [ ]  remove diagonal treatments on photo corners
- [ ] consider how to treat quote speaker images (add hierarchy and content inbetween to separate)

    Photo source: https://etherpad.mozilla.org/mofo-photos

[2015-03-31 23:03] iamjessklein opened #507 "Iconography across the site should be consistent"
- [ ] all icons on hover should grow
- [ ]  use Cassie's line art for everything (mainly white and lines)
- [ ]  all icons are a shade lighter than main page colour

[2015-03-31 23:07] iamjessklein opened #508 "Make collapsible section retain their expansion when user switches between windows"
Collapsible sections - When i click on another browser window it collapses but when i click back to the window it expands. Can we keep sections always open regardless if I'm on that page or not?

[2015-03-31 23:23] jgmac1106 commented on #476
Tabbed browsing is a friend of reading comprehension.

Thanks for sharing the link to the research. I look forward to digging into
it. Mainly because the results are in stark contrast of research with
novice web users.

In the work I am familiar with (verbal protocol analysis with urban youth)
tabbed browsing reduces the number of times readers get lost.

Navigational skills are a clear difference

[2015-04-01 02:39] BillMills commented on #27
@jvallera happy to - reach me at bill@mozillafoundation.org. I'm happy to find excuses to visit NY too, if a live meeting us useful; let me know.

[2015-04-01 03:50] chrislarry33 commented on #489
not sure its needed, @iamjessklein whats the reason to add?

[2015-04-01 04:56] simonwex commented on #388
@ScottDowne can help until the end of the week.

[2015-04-01 05:48] simonwex commented on #152
@hannahkane wfm

[2015-04-01 06:39] rossbruniges commented on #152
Really looking forward to seeing this live!

Good work all!

On 1 April 2015 at 06:48, Simon Wex <notifications@github.com> wrote:

[2015-04-01 13:43] toolness commented on #461
Ok, it's done! I granted @LauraHilliger and @jbuck ownership access on the Google OAuth2 Project in case anything ever needs to be changed with it and I'm not around... I tried giving @simonwex ownership too but it said "an error occurred" :(

[2015-04-01 13:43] #461 closed

[2015-04-01 14:16] ldecoursy commented on #462
+1

[2015-04-01 14:18] ldecoursy commented on #489
It's Ryan! ;) I think perhaps linking to the page makes more sense than embedding the video.

[2015-04-01 14:59] iamjessklein commented on #152
Thanks @rossbruniges :+1:  We are in QA-ing mode, so please feel free to check out the [staging site](http://teach.mofostaging.net/) and file issues :bug: :beetle: :bee:

[2015-04-01 15:01] iamjessklein opened #509 "MOBILE: The navigation should collapse (it remains open)"
After selecting a menu link the navigation should collapse (it remains open)

[2015-04-01 15:03] toolness commented on #152
Thanks @rossbruniges! The site isn't yet as progressively-enhancey as we'd like it to be, e.g. #455, but we'll be working to make that better in v2 :) Would love any of your thoughts on this stuff.

[2015-04-01 15:04] iamjessklein opened #510 "MOBILE: In navigation the Clubs Toolkit is hidden"
When Mozilla web clubs is selected, the child section Clubs Toolkit is dissected and does not fully show.

[2015-04-01 15:06] iamjessklein opened #511 "MOBILE: Footer hierarchy"
@sabrinang : "should the "Hive Network" section come before the 6 links section (it makes it feel like the footer is floating)"

[2015-04-01 15:08] iamjessklein opened #512 "MOBILE: Image of globe should be centered"
center globe image

[2015-04-01 15:10] iamjessklein opened #513 "MOBILE: Adjust lead-in paragraph body copy on Activities page"
lead in paragraph should be larger than body copy (currently p 1.5rem & body 1.6rem)

    seen below "Teaching activites" & "Join the global web literacy movement"

[2015-04-01 15:12] iamjessklein opened #514 "MOBILE: Adjust lead-in paragraph body copy on Events page"
Should match the styling as per #513 the Activities page

[2015-04-01 15:13] iamjessklein opened #515 "MOBILE: Reduce size of Maker Party logo"
shrink maker party logo (it takes up the whole screen... reduce it by 50-75%)

[2015-04-01 15:16] iamjessklein opened #516 "MOBILE: Adjust styling of copy on Web Literacy page"
- [ ] Lead-in copy is currently centered h2 should this be p? this copy should be left aligned?
  - [ ] text in collapsible sections have a pretty short line length - is it possible to make the width of these sections wider or full width?

[2015-04-01 15:18] iamjessklein opened #517 "MOBILE: Adjust spacing and copy on the Web Clubs page"
- [ ]  reduce and fix spacing in between sections on this whole page
- [ ] list below map should probably take up 1-col as it is currently using 2-col (use div class="col-xs-12" instead of div class="col-xs-6")

[2015-04-01 15:22] iamjessklein opened #518 "MOBILE: Adjust spacing and copy on Clubs Curriculum page"
- [ ] lead-in copy is currently centered h2 should this be p? this copy should be left aligned?
- [ ] reduce spacing between sections

[2015-04-01 15:25] iamjessklein opened #519 "MOBILE: Adjust spacing on Clubs Toolkit page"
- [ ] Text in collapsible sections  have a pretty short line length - is it possible to make the width of  these sections wider or full width?

- [ ]  page is missing left margin space compared to the other pages

[2015-04-01 15:27] iamjessklein opened #520 "MOBILE: photography takes a while to load"
photography takes a while to load - optimize image sizes

[2015-04-01 15:30] iamjessklein commented on #490
:+1:

[2015-04-01 15:35] jgmac1106 commented on #152
I am now going to strive to be progressively-enhancey in all my teaching
and webby stuff

On Wed, Apr 1, 2015, 11:03 AM Atul Varma <notifications@github.com> wrote:

[2015-04-01 15:48] iamjessklein commented on #468
I am scheduled to do testing in the Brooklyn office on Thursday, April 2. :clock1: :watch:

[2015-04-01 15:52] iamjessklein commented on #489
Indeed . the voice. :microphone:
It was on the original mockup and there was a request from @dajbelshaw to incorporate the Mozilla mission into the site. This page, in general is a little light on content, but if this is unnecessary

[2015-04-01 15:54] hannahkane commented on #489
also cc @LauraHilliger who is organizing the future content on this page. I don't expect it will be light on content for long. It's going to be epic. :)

[2015-04-01 15:56] iamjessklein commented on #489
I'm definitely not doubting the capabilities of this team to provide content ;)

[2015-04-01 16:03] #176 closed

[2015-04-01 16:03] #430 closed

[2015-04-01 16:09] hannahkane commented on #497
Covered in https://etherpad.mozilla.org/TeachCopyEdits

[2015-04-01 16:09] #497 closed

[2015-04-01 16:09] iamjessklein commented on #476
I put this up for the purpose of debate. I *think* that it is disruptive to the user in this case because the activity page is on Thimble, which is a related, but unlinked and differently branded Mozilla property. This is something that is definitely user testable before any changes are made.

[2015-04-01 16:10] iamjessklein commented on #479
If we are keeping the carousel - a minimum of three.

[2015-04-01 16:11] iamjessklein commented on #483
Thanks @hannahkane - is this enough for @ScottDowne @toolness or @mmmavis to implement the fix?

[2015-04-01 16:15] iamjessklein commented on #486
yikes - I was moving too fast for github!

![screen shot 2015-03-31 at 6 13 00 pm](https://cloud.githubusercontent.com/assets/535012/6945581/cb96b4f8-d868-11e4-95d4-5de595513f0c.png)

[2015-04-01 16:17] iamjessklein commented on #484
Adding engineering label for implementation.

[2015-04-01 16:18] iamjessklein commented on #485
valid reasoning. :bulb:

[2015-04-01 16:24] iamjessklein commented on #477
What about linking to [the locations page](https://hivelearningnetworks.org/locations/) on Hive Learning Networks site?  My concern that this list is going to grow and misrepresent that the Hive is a global initiative.

[2015-04-01 16:29] iamjessklein commented on #469
@cassiemc @thisandagain - how do you feel about using the "promo content" real estate that we used for Privacy Day for this and updating the teaching link in the fat footer to go to the site ( it currently directs to training.webmakerprototypes.org)?

![screen shot 2015-04-01 at 12 27 17 pm](https://cloud.githubusercontent.com/assets/535012/6945863/b5d8db8a-d86a-11e4-947a-8c8a829f574c.png)

![scre

[2015-04-01 16:48] toolness commented on #483
Oh, sorry, I think I had assumed that video was just a photo that was part of the carousel widget...

[2015-04-01 16:50] hannahkane commented on #476
I <3 the idea of including this as part of our user testing.

I find @jgmac1106's arguments about the audience convincing, but I don't feel I actually know enough about our target/actual audience yet to know if it applies here.

Another option is to offer a "open in new tab" option on the page and truly let the user decide.

[2015-04-01 16:53] hannahkane commented on #479
What about this as a third? https://www.flickr.com/photos/mozilladrumbeat/14710363742/in/set-72157647527636985

[2015-04-01 16:53] iamjessklein commented on #512
This is on the Activities page.

[2015-04-01 16:58] sabrinang commented on #510
![screenshot_navigation_clubs-toolkit](https://cloud.githubusercontent.com/assets/2492510/6946495/83415b62-d855-11e4-898a-9286ceca57fe.png)

[2015-04-01 17:02] thisandagain commented on #469
Yup! That seems ideal. :+1:

[2015-04-01 17:04] cassiemc commented on #469
+1

[2015-04-01 17:17] ScottDowne commented on #512
Some hints and background.

The globe is an image used in a component we created called Illustration.

A component is a custom html element, which we make with react.

The Illustration component is made to display an image to the left of some content for desktop, and displays the image above the content in mobile, which it centers the image on mobile by default.

So, an example:
[code]

src1x cont

[2015-04-01 17:47] ScottDowne opened #522 "Sidebar submenu items need some hover text"
Right now, I think only one of the sidebar submenu items has hover text, the rest are using placeholder text.

We should figure out what needs to go in there, or display nothing if that is the best thing.

[2015-04-01 17:52] hannahkane commented on #522
I don't see any hover text right now. I'd vote for none, though.

[2015-04-01 17:57] ScottDowne commented on #522
![hover](https://cloud.githubusercontent.com/assets/197334/6947662/c388e1a6-d876-11e4-88c2-c3694de8ee60.png)

This is what it's doing now. It looks like wet-lit and Curriculum already have correct text, so it's just toolkits that needs text.

Can still remove it, and that's what I'll do if I don't hear back in a bit.

[2015-04-01 18:05] ldecoursy commented on #477
These links go directly to existing portfolios so people can find additional programs/projects/curriculum/etc. while they're on a page to find teaching activities. Tried to make that clear in the copy but let me know if that's not working. I don't think linking to the locations page will be helpful here - the relevant info will be way too buried. Longer-term, I think we'll uplevel more Hive conten

[2015-04-01 18:07] hannahkane commented on #522
I vote remove!

[2015-04-01 18:33] jamieleung commented on #510
It appears adding `height: 100%` to `.sidebar` could fix this issue, shall I go ahead and apply this fix?
![screen shot 2015-04-01 at 19 31 36](https://cloud.githubusercontent.com/assets/285441/6948458/db5c2a3e-d8a5-11e4-866f-2c1d8e33073b.png)

[2015-04-01 19:20] hannahkane opened #523 ""Join us" from homepage needs to initiate authentication process"
The yellow "Join Us" button on the homepage needs to launch the authentication process.

Or! @iamjessklein - do you think we should just remove that button, and have no CTA on the homepage?

[2015-04-01 19:26] ldecoursy opened #524 "Design treatment of image on home page isn't consistent with subpages"
There is a pink design treatment on the bottom right-hand corner of the homepage main image that isn't on any other pages. Not sure if that's connected to the "Dev Version" placeholder. I'd vote to remove it - the page in general already skews very pink.

[2015-04-01 19:26] amirad opened #525 "Change support email on http://teach.mofostaging.net/about/"
Can we change the email that visitors use for support from help@webmaker.org to teachtheweb@mozillafoundation.org

[2015-04-01 19:27] hannahkane commented on #524
@iamjessklein and @sabrinang - can't remember if this was intentional or otherwise addressed somewhere?

[2015-04-01 19:28] iamjessklein commented on #524
Yes this needs to be removed. It's a remnant of an outmoded design. :+1:

[2015-04-01 19:31] acabunoc opened #526 "CLUBS: Location too specific?"
The list only lets me select from either M4H or M5C postal codes -- which are two very specific locations in Toronto. Should I be able to have a generic Toronto located club?

![screen shot 2015-04-01 at 15 25 58](https://cloud.githubusercontent.com/assets/617994/6949623/802e5bea-d883-11e4-96f9-8ea72179bf73.png)

Toronto M4H:

![screen shot 2015-04-01 at 15 30 20](https://cloud.githubusercontent.c

[2015-04-01 19:31] acabunoc commented on #526
#411

[2015-04-01 19:31] ldecoursy commented on #523
Also experiencing this with all "Create an account" links on subpages (testing on Android)

[2015-04-01 19:34] iamjessklein commented on #510
Yeah that would be rad @jamieleung - we will check out the PR. :+1:  Thanks

[2015-04-01 19:34] hannahkane commented on #525
Yes, we can! `</ObamaReference>`

[2015-04-01 19:36] amirad opened #527 "Redirect link to events page for "Global List""
Join us for the global Maker Party on July 15-31, 2015 and add your events to our **global list** any time of year.

Global list currently links back to the current page. In the meantime should this link to the webmaker events page or the clubs map?

[2015-04-01 19:38] ldecoursy opened #528 "Teaching Activities page should have different color treatment from home page"
Same color on homepage and Teaching Activities page (pink) makes it harder to distinguish you're on a separate page, especially on mobile when the main thing on the screen is the navigation (unless you scroll down)

https://www.dropbox.com/s/lhynkpit4nj5rbt/Screenshot_2015-04-01-15-37-07.png?dl=0

QA using Firefox for Android

[2015-04-01 19:40] hannahkane commented on #523
Oh man, good call, @ldecoursy. I'm going to file that as a separate issue. Thanks!

[2015-04-01 19:40] amirad opened #529 "Button appears clickable but nothing happens on http://teach.mofostaging.net/events/"
![screen shot 2015-04-01 at 3 38 46 pm](https://cloud.githubusercontent.com/assets/10170768/6949918/488bb726-d885-11e4-91a4-9ab8fb0ddef5.png)

The yellow button appears to be clickable, when you hover over you get a hand that let's you click, but nothing happens when you press it.

[2015-04-01 19:40] ldecoursy opened #530 "Clubs toolkit child page–title is cut off"
Firefox on Android

Title is cut off for Clubs Toolkit child page in mobile view

https://www.dropbox.com/s/l8wcarpyiy0fldx/Screenshot_2015-04-01-15-29-49.png

[2015-04-01 19:40] iamjessklein commented on #441
@vazquez @sabrinang and I did a design review, and filed issues. Next step = fixing those issues.

[2015-04-01 19:41] hannahkane opened #531 ""Create an account" in nav needs to link to something"
Not sure whether we should hook it up to Persona at this point, or wait for login, so @toolness, please hold off for now, unless it's really trivial to hook up to the Persona sign-up experience.

[2015-04-01 19:42] iamjessklein commented on #469
awesome, thanks! :hibiscus:

[2015-04-01 19:43] ldecoursy opened #532 "Round photo on homepage not appearing correctly"
Firefox on Android

https://www.dropbox.com/s/pdgb1fr9f0njrir/Screenshot_2015-04-01-15-20-58.png?dl=0

The round photo on the homepage is oddly cropped - the top is round, the bottom is square

[2015-04-01 19:44] toolness commented on #531
Nope it's hard because we can't *just* send them to the Persona sign-up experience... because we ultimately link their account to their webmaker account, they actually need to create *both* a webmaker account *and* a Persona account, and both accounts need to have the same email.

So this is part of why the new login experience is going to be sooooooo much better. :)

[2015-04-01 19:45] hannahkane commented on #527
Thanks! Covered in #484.

[2015-04-01 19:45] #527 closed

[2015-04-01 19:46] hannahkane commented on #531
Hmm...did not realize this. This means launching the site *is* dependent on login, which is counter to what I'd said before.

[2015-04-01 19:47] hannahkane commented on #531
Will keep this ticket open just as a reminder, even though it's covered in the id.webmaker.org tickets. :)

[2015-04-01 19:48] hannahkane commented on #530
Love that we've got such good QA coverage! This one is covered in #530.

[2015-04-01 19:48] #530 closed

[2015-04-01 19:49] hannahkane commented on #532
Woah...crazytown.

[2015-04-01 19:52] sabrinang commented on #496
![icon-connect-shadowless](https://cloud.githubusercontent.com/assets/2492510/6950184/e82b8b02-d86d-11e4-9be2-ee760e37dee7.png)

You can find the updated .svg here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eMzh1SUFraWV2aGs/view?usp=sharing

[2015-04-01 19:53] hannahkane commented on #481
This is actually meant to be the sign-up form you can see here: https://projects.invisionapp.com/share/TY2GT8GBX#/screens

[2015-04-01 19:53] ldecoursy opened #533 "Problems with adding location to the map by city/zip code"
I added a club (using Firefox for Android). When entering location, I first started entering "Brooklyn" but it only populated with one option in a specific zip code that wasn't mine. I then added correct zip code but it didn't connect with city name, so it now reads strange in the overall list of clubs.

[2015-04-01 19:55] hannahkane commented on #529
Good catch. This is actually meant to be the "sign up for more info about MP" form.

Covered in #481.

[2015-04-01 19:55] #529 closed

[2015-04-01 19:57] hannahkane commented on #533
Adding this to @acabunoc's ticket (#526)

[2015-04-01 19:57] #533 closed

[2015-04-01 19:57] hannahkane commented on #526
Similar problem from @ldecoursy: I added a club (using Firefox for Android). When entering location, I first started entering "Brooklyn" but it only populated with one option in a specific zip code that wasn't mine. I then added correct zip code but it didn't connect with city name, so it now reads strange in the overall list of clubs.

[2015-04-01 19:58] hannahkane commented on #526
@toolness - and so the geocoding challenges begin! Let's discuss options at tomorrow's stand-up.

[2015-04-01 19:58] ldecoursy opened #534 "Remove hyperlink if Club url field left blank"
I added a group to the map (Firefox with Android), however didn't enter my club's URL - which may be the case for others that don't have a web presence.

On the list of clubs on http://teach.mofostaging.net/mozilla-web-clubs/, when I click the link for my club "PS 295 Web Club" it just takes me to the main Clubs page.

Two places to remove the hyperlink:
 - [x] The map callout view should not show

[2015-04-01 19:59] sabrinang commented on #503
![icon-about-illustration](https://cloud.githubusercontent.com/assets/2492510/6950297/d047f9ca-d86e-11e4-9fd2-098345366c9d.png)
You can find the unclipped .svg file here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eaXhVdjg3WDY1NzQ/view?usp=sharing

[2015-04-01 20:03] ldecoursy commented on #532
Not just on homepage - also Clubs Curriculum page https://www.dropbox.com/s/cq7slae9y51m8en/Screenshot_2015-04-01-16-02-06.png?dl=0

[2015-04-01 20:05] toolness commented on #531
Yeah, sorry I didn't emphasize this when implementing the Persona-based solution... I was under the impression that most of our users during the soft-launch would already have webmaker accounts from the olden days when we exclusively used Persona for login. I should have made that more explicit.

[2015-04-01 20:07] ldecoursy opened #536 "Transactional email when adding clubs should come from official email acct"
Received an email after adding a club, but it came from atultestacct@gmail.com.

[2015-04-01 20:07] ldecoursy commented on #536
![screen shot 2015-04-01 at 4 05 50 pm](https://cloud.githubusercontent.com/assets/4885898/6951423/3d043bb8-d889-11e4-9d17-5f7bbd88317b.png)

[2015-04-01 20:14] ldecoursy opened #538 "Main image on Events page needs to be re-cropped"
Firefox on Android

The main image should be centered better if possible - seems like the action is all off frame

https://www.dropbox.com/s/247cu7rurupmho5/Screenshot_2015-04-01-16-09-16.png

[2015-04-01 20:17] jgmac1106 commented on #525
You didn't build that
</RomneyReference.></NoItsAnObamaReference></Youstink></StateOfAmericanPolitics>

On Wed, Apr 1, 2015 at 3:34 PM hannahkane <notifications@github.com> wrote:

[2015-04-01 20:18] ldecoursy commented on #532
And on About page https://www.dropbox.com/s/7c2akr5vocclygl/Screenshot_2015-04-01-16-18-08.png?dl=0

[2015-04-01 20:25] hannahkane opened #539 "MOBILE: Modal can't be easily scrolled"
Also, once I click the phone's "Done" button, the "Add Your Club To The Map" or "Change Your Club" button isn't accessible unless I put the focus on one of the fields.

[2015-04-01 20:30] amirad commented on #525
![let's do this](http://cdn.meme.am/instances/500x/55256315.jpg)

[2015-04-01 20:30] hannahkane opened #540 "MOBILE: Didn't receive proper error message when I left required field blank on Clubs form"
When using Safari on an iPhone (iOS 8), I didn't receive a proper error message when I left the "What is the name of your Club" or the "What do you focus your efforts on?" field blank.

I got, "Unfortunately, an error occurred when trying to change your club. Please try again later."

Should have received a message similar to "Please provide a location for your Club" (which is what I see if I leav

[2015-04-01 20:31] amirad commented on #525
Oh and a heads up to the remaining people on this email address that this is happening so you know where the emails are coming from. Feel free to reply and bcc the teachtheweb@mozillafoundation.org address so we all know someone is responding. @thornet @LauraHilliger @Saallen

[2015-04-01 20:32] hannahkane opened #541 "MOBILE: Can't delete location from Clubs form"
I can see the little "x" within the location field, once I've added a location, but clicking it doesn't seem to clear the field.

Safari, iPhone 5

[2015-04-01 21:06] sabrinang commented on #493
![screen shot 2015-04-01 at 1 41 28 pm](https://cloud.githubusercontent.com/assets/2492510/6952152/d3e094ba-d874-11e4-8afc-ac0dd85df7b2.png)
An option is to make the "m" match the style by following the line art style seen in the other two.

![icon-m-lines](https://cloud.githubusercontent.com/assets/2492510/6951989/c1d95028-d873-11e4-9345-5069c86ae1d4.png)
The .svg can be found here: https://drive

[2015-04-01 22:29] sabrinang commented on #471
Some options on photographic banner treatments that removes the colour tints and corner decoration:

dark overlay
![banner-iteration2](https://cloud.githubusercontent.com/assets/2492510/6953855/2b86fe14-d881-11e4-8e8b-6b8f9a2e9434.png)

blur with dark overlay
![banner-iteration](https://cloud.githubusercontent.com/assets/2492510/6953856/2c79b3a2-d881-11e4-96df-7055ad4b7d31.png)

dark overlay in th

[2015-04-01 22:40] iamjessklein commented on #512
fixed with #542 merge

[2015-04-01 22:40] #512 closed

[2015-04-01 22:46] ScottDowne commented on #476
I'm a fan of new tabs, so much so that I never click links, I always right click > Open link in new tab

So my flow isn't disrupted and I don't lose links.

[2015-04-01 22:51] hannahkane commented on #476
I also right click, but I like having the choice and don't like unexpected behavior.

@iamjessklein - I think this is your call. Also note, we should decide if our rule is we open every link in a new tab, all external links, only the links on the Teaching Activities/ClubsCurriculum pages, or no links.

[2015-04-01 23:02] hannahkane commented on #337
@vazquez - wondering if we can close this ticket, or is there more to do that's not covered in other tickets?

[2015-04-01 23:03] hannahkane commented on #388
@ScottDowne - did you have a chance to start on this today?

[2015-04-01 23:04] hannahkane commented on #411
I'm closing this since we had a QA party and lots of tickets were generated!

[2015-04-01 23:04] #411 closed

[2015-04-01 23:04] hannahkane commented on #442
Closing because there was nothing specific here that wasn't covered in other QA tickets.

[2015-04-01 23:04] #442 closed

[2015-04-01 23:06] hannahkane opened #543 "Make decision about how to handle unsupported browsers"
Options include:
 * Do nothing
 * Offer a warning to users, suggest they upgrade
 * Use non-js as fallback

@iamjessklein - best practices or recommendations on this one?

[2015-04-01 23:06] ScottDowne commented on #517
@iamjessklein

I think this might be the next good bug for you.

Something to check, I am pretty sure that divs by default would do exactly what `col-xs-12` does. So try removing it completely. :+1:

[2015-04-01 23:08] hannahkane commented on #474
@ldecoursy raises a good point. Why is it the same color as the homepage?

[2015-04-01 23:09] hannahkane commented on #528
Adding this as a comment on #474 (related issue), and closing here.

[2015-04-01 23:09] #528 closed

[2015-04-01 23:10] hannahkane commented on #534
Agree Clubs with no url should not be hyperlinked at all.

[2015-04-02 01:10] ScottDowne commented on #388
Yeah, I have a huge chunk of it and the components mapped out.

I just need to do the css and interactive bit. The interactive bit is similar to the same stuff in web lit and toolkit, but actually simplier. I'm hoping it's in review some time tomorrow.

[2015-04-02 02:48] ScottDowne commented on #388
@vazquez or @sabrinang I think I need image assets for the two images at the bottom of the page in a 1x and 2x.

If there are any colours you think I'll need now might be a good time. I have the blues for the n-n participants icons already.

[2015-04-02 08:45] LauraHilliger commented on #525
I haven't checked help@ since Zimbra days – can you say approximately how many emails this is per day? [Gulp]

[2015-04-02 08:58] LauraHilliger commented on #489
Maybe write some marketing text about our plans for "teach like mozilla", e.g. training and professional development modules for people who want to teach the web. Could link out to preexisting things and explain that we're honing and refining our offering.

QA point: I think it's kind of strange to say "learn" and send people to the Web Literacy Map. The map provides an organizing structure for Te

[2015-04-02 12:56] amirad commented on #525
Just to be clear, I am still managing all support emails (makerparty, help, info) BUT we decided for the new site to have the support email be teachtheweb@mozillafoundation.org as the others didn't really make sense. No idea how many emails that will be @LauraHilliger but my guess is a few a week.

[2015-04-02 12:57] vazquez commented on #337
We can close :)

[2015-04-02 12:58] #337 closed

[2015-04-02 12:59] LauraHilliger commented on #525
a few and a few :100: are very different :) Your teammates are always happy to help!

[2015-04-02 13:17] iamjessklein commented on #525
@hannahkane are you coding it? I am happy to.

[2015-04-02 13:20] iamjessklein opened #544 "TEACH LIKE MOZILLA: new copy for the middle CTA"
- [ ] Rename the "Learn" CTA to "Understand"
 - [ ] Change sub-copy to "Learn more about the Web Literacy Map"

[2015-04-02 13:21] amirad commented on #525
haha, I'll deal with the hundreds but the help on this flow would be greatly appreciated. And if it gets to be too much we can re-evaluate :)

[2015-04-02 13:21] iamjessklein commented on #489
@LauraHilliger - I've decoupled the QA note and added it to #544

[2015-04-02 13:22] iamjessklein commented on #337
woot :+1: :postal_horn:

[2015-04-02 13:23] iamjessklein commented on #388
ping @sabrinang - do you have these assets handy?

[2015-04-02 13:27] iamjessklein commented on #534
My thought was that if a club has no url, it could link to the issuers webmaker profile. Otherwise an onl looker will have no way of getting more information, right?

[2015-04-02 13:29] iamjessklein commented on #474
@hannahkane @ldecoursy it shouldn't be - the home page will be blue and this page will be pink.

[2015-04-02 13:31] iamjessklein commented on #528
This is in fact the error that we are dealing with int #474 - the main feedback that we got from the Teach team is that the pink should not be the landing page color, so we are changing that to blue and adjusting the other colors accordingly.

[2015-04-02 13:33] LauraHilliger commented on #544
to clarify – I would both rethink the "learn" action on Teach Like Mozilla page and link to the web literacy map from the Teaching Activities page (and in that context "learn about web literacy" makes more sense to me.)

[2015-04-02 13:47] iamjessklein commented on #471
@vazquez

[2015-04-02 13:50] iamjessklein commented on #493
It certainly matches the look and feel better, but I am concerned that this messes a bit with the brand intention.
@vazquez @cassiemc thoughts?

[2015-04-02 13:54] iamjessklein commented on #503
Thanks @sabrinang

[2015-04-02 14:01] iamjessklein commented on #481
oops, sorry about that, yes, see here:

![screen shot 2015-04-02 at 9 59 34 am](https://cloud.githubusercontent.com/assets/535012/6965394/1c6131ea-d91f-11e4-99e1-a0edaffc0e56.png)

[2015-04-02 14:03] iamjessklein commented on #496
Thanks @sabrinang

cc/ @ScottDowne @toolness this needs to be replaced with the current image on the bottom of the Clubs page.

[2015-04-02 14:17] iamjessklein opened #545 "LANDING: "Join" button copy and CTA should be rethought"
Right now the call to action is a bit ambiguous - the main CTA is "Unlock opportunities for all citizens of the Web," and then directs users to click the "Join us" button. It's unclear to me what I am joining and what the value is for me to actually Join. As far as I can tell the only action that I can perform exclusively with login is adding your club to the map. I am thinking that for the time b

[2015-04-02 14:18] KevZawacki opened #546 "Ambiguous yellow button"
Re: #411

On the Events subpage, under the second image, there's a line leading to yellow button. The button can be clicked, but doesn't do anything.

![screen shot 2015-04-02 at 10 14 25 am](https://cloud.githubusercontent.com/assets/11045250/6965710/8805e1e6-d921-11e4-9b55-1046c93a51de.png)

I'm using Firefox 37.0 on a MacBook.

[2015-04-02 14:22] iamjessklein commented on #523
The separate issue that @ldecoursy identified should be addressed with the new login process.

As this is a newly released site, it makes sense to maintain a prominent call to action in the hero element on the landing page.  In issue #523 I addressed an issue with the ambiguity of the CTA on landing.

[2015-04-02 14:31] iamjessklein commented on #477
After discussing this with @ldecoursy this appears to be a temporary measure to surface Hive content in a non-dynamic way. I am closing this issue and will readdress when more content becomes available and we work on the larger curricular content organization.

[2015-04-02 14:31] #477 closed

[2015-04-02 14:31] LauraHilliger commented on #92
this should be considered for #457 - when we have loads of clubs activities, people will likely want some sort of an overview. Closing for now, will address with #457

[2015-04-02 14:31] #92 closed

[2015-04-02 14:45] KevZawacki commented on #545
Agreed. It might be as simple as updating the button copy and having it route to the Clubs map. Maybe replace "Join Us" with:

+ Start Teaching
+ Start a Web Club
+ Start a Club
+ Find a Club
+ Connect With Others

[2015-04-02 14:47] LauraHilliger opened #547 "Determine Privacy Module secondary Web Lit skills"
Obviously this module focuses on privacy, what other competencies do the selected activities refine? Related #285

We've selected:
Reading: https://hivetoronto.makes.org/thimble/MTkyODM5NzA1Ng==/ip-address-tracer-activity-kit
Writing: https://hivetoronto.makes.org/thimble/MTg3ODA2NTQwOA==/data-trail-timeline-activity-kit
Participating: https://hivetoronto.makes.org/thimble/MTkxMTYxOTg0MA==/privacy

[2015-04-02 14:51] LauraHilliger opened #548 "Review "What's Wrong with your Password" for Clubs Privacy curriculum"
We need alternative Reading, writing, participating activities for privacy module, and Stacy Martin had created:

https://stacy.makes.org/thimble/MjAxMjIxNzYwMA==/whats-wrong-with-your-password

What can we use?

related #547 #91

[2015-04-02 14:52] iamjessklein commented on #458
We should consider where this content will be embedded. I think that it would make the most sense to add it to primary navigation and then have recent and featured posts highlighted on the landing page.

![screen shot 2015-04-02 at 10 48 18 am](https://cloud.githubusercontent.com/assets/535012/6966334/4844083a-d926-11e4-975c-c729b620df2c.png)

[2015-04-02 14:53] LauraHilliger opened #549 "Document curriculum roadmap on github page landing"
blocked by #91
http://mozilla.github.io/webmaker-curriculum/

[2015-04-02 14:53] ldecoursy commented on #458
+1

[2015-04-02 15:46] vazquez commented on #493
Hmm, now I feel that by removing the fill it doesn't really look like the mozilla logo anymore.

What about an open book?

[2015-04-02 15:47] hannahkane commented on #525
you can take this, @iamjessklein. Thanks!

[2015-04-02 15:50] vazquez commented on #471
I personally prefer option 2. Blur with Dark Overlay. It is what I have right now on /teach-like-mozilla. I think it works great. We would still have to source new images that have a better composition, but I do think that the blurring makes the text crisp and easy to read.

[2015-04-02 15:50] hannahkane commented on #474
Ah, ok, got it. Thanks!

[2015-04-02 15:53] hannahkane commented on #546
Good catch, and I really like this ticket title. :) This is covered #481, so I'm closing this.

[2015-04-02 15:53] #546 closed

[2015-04-02 15:53] iamjessklein commented on #493
:book:

[2015-04-02 15:54] hannahkane commented on #523
Hey, @iamjessklein, this *is* #523. Did you mean to reference a different issue?

[2015-04-02 15:56] hannahkane commented on #458
wfm

[2015-04-02 16:15] iamjessklein commented on #523
Ha! I did indeed. I am hunting for it.

[2015-04-02 16:16] hannahkane commented on #523
I found it. It's #545.

[2015-04-02 16:16] hannahkane commented on #523
Because of #545, I think we can close this one.

[2015-04-02 16:16] #523 closed

[2015-04-02 16:19] hannahkane commented on #545
OK, I have come around on this. :) I was originally against the idea of making the primary landing page CTA be about Clubs, since it is such a heavy lift. But since the v1 is really mostly about Clubs, I agree that it makes sense for now.

Looking forward to figuring out a lower-bar CTA eventually, though. :)

I think the copy needs to prevent surprises, so it should use similar language to what t

[2015-04-02 16:24] hannahkane commented on #544
@LauraHilliger - what word would you recommend for the CTA on the Teach Like Mozilla page. What about  "Get Context" or "Deepen Your Understanding" (too long?) We could use "Explore," but that's a little weird since that's one of the sections of the Web Lit Map itself. :)

Creating a separate ticket for your point about the Teaching Activities page.

[2015-04-02 16:25] hannahkane opened #550 "Change CTAs on Teaching Activities page"
Right now this is one of the only pages that doesn't have the three CTAs at the bottom. Wondering if we should replace the single Clubs CTA with three:

1) Clubs
2) Teach Like Mozilla
3) Web Literacy

@LauraHilliger @ldecoursy @iamjessklein - what do you think?

[2015-04-02 16:27] hannahkane commented on #534
Ah, right. I remember talking about that. What do you think about always linking to the creator's webmaker profile, and also linking to a url if provided, but not linking if not provided?

@iamjessklein - if that makes sense to you, I'll file a ticket for that.

[2015-04-02 16:30] amirad commented on #458
+1

[2015-04-02 16:38] iamjessklein commented on #534
:+1:

[2015-04-02 16:44] sabrinang commented on #388
Photography assets that are seen on the bottom of the page can be found here (original & @2x sizes): https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eTExVZ25OLUNjTU0&usp=sharing

According to the mockup it seems all the logo & assets being included are on https://party.webmaker.org/en-US/resources - I am unsure if anything else needs to be included here. @hannahkane do you know if

[2015-04-02 17:00] toolness commented on #541
Uhoh, hrm. That is a bit concerning because that is a third-party component we're using rather than our own code, so fixing it could be a bit tougher.

Are there any easy workarounds? For instance, is it possible to use the backspace key to erase the location field or anything?

[2015-04-02 17:02] toolness commented on #540
What version of Safari/iOS are you using?

Right now we're relying on HTML5 Form Validation to do a lot of our form validation, but we may end up needing a polyfill or writing our own thing to do custom validation for older browsers.

[2015-04-02 17:04] toolness commented on #539
Hmm, that is odd, since that form is structured like any other HTML form and has an `onSubmit` handler like any other HTML form... hmmm.

What version of iOS/Safari are you using?

[2015-04-02 18:15] hannahkane commented on #388
All of the logos, etc. should all be on the Maker Party page. Thanks!

[2015-04-02 18:47] toolness commented on #526
Rad!

Is there a separate issue filed about the problem we talked about in the stand today, where e.g. it's actually impossible to enter certain locations like "Springfield, Oregon" because it's not listed in the autocomplete suggestions after typing the word "springfield" but then typing anything more specific ("springfield o", "springfield,o", etc) yields no results?

At a technical level that's

[2015-04-02 18:54] hannahkane opened #554 "Can't enter certain locations"
e.g. it's actually impossible to "Springfield, Oregon" because it's not listed in the autocomplete suggestions after typing the word "springfield" but then typing anything more specific ("springfield o", "springfield,o", etc) yields no results

[2015-04-02 18:54] hannahkane commented on #526
Just filed a separate issue. #554

[2015-04-02 19:40] amirad commented on #395
Thanks all. This was super helpful to seeing the full narrative arc of our team throughout the rest of the year.
@ldecoursy I'm interested in some points you made in the pad and to work with you on how we can leverage our channels to do more clubs marketing earlier in the year? Feel free to drop notes here, hack the pad or we can chat :)

[2015-04-02 19:47] sabrinang commented on #388
![event-resource-colours](https://cloud.githubusercontent.com/assets/2492510/6972038/da477e10-d935-11e4-9dd4-6ad704a26da2.png)

If you spot any different colours are issues please let me know (in the design doc there are a variation of border colours but let's use that one since they are similar).

[2015-04-02 20:18] #494 closed

[2015-04-02 20:31] iamjessklein commented on #504
The sidebar will be fixed with https://github.com/mozilla/teach.webmaker.org/pull/562

[2015-04-02 20:32] iamjessklein commented on #523
woot :+1:

[2015-04-02 20:38] iamjessklein commented on #543
I've looked around so, the best practice seems to be to use non-js as a fallback and if it interferes with major functionality to flag it to the user with message suggesting an upgrade.

[2015-04-02 20:50] iamjessklein opened #563 "LANDING: Replace pink icons with blue ones"
This is due to the page color change.

[2015-04-02 20:51] iamjessklein opened #564 "ABOUT: Replace pink icons with blue ones"
This is due to us changing the sidebar color.

[2015-04-02 21:11] toolness commented on #75
Just as an update, @iamjessklein is now using [GitHub for Mac](https://mac.github.com/) to do basic edits to the teach site.

I'm particularly impressed with GitHub for Mac (it's also available for Windows) because aside from not having to deal with the command line, it gives users a much better mental model for interacting with git than command-line git does. There's no more push/pull/stash/stage

[2015-04-02 21:17] sabrinang commented on #388
Resource thumbnails (1x and 2x sizes) can be found here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eY0NobUlPajF2S2c&usp=sharing

[2015-04-02 21:18] hannahkane commented on #75
I <3 this idea so much. We'll still likely want to explore different options for, say, adding new curriculum modules to the site, but I think getting more people on github for copy edits and other similarly-sized things would be great.

I'm going to work on getting myself set up soon!

[2015-04-02 21:27] jgmac1106 commented on #75
Before @dajbelshaw became a contributor (again) he made a series of videos
on how to teach people to do what @toolness suggests

On Thu, Apr 2, 2015, 5:18 PM hannahkane <notifications@github.com> wrote:

[2015-04-02 21:33] #525 closed

[2015-04-02 21:34] toolness opened #566 "Make the "Add your Club" modal accessible via a URL"
If the user acceses `?modal=add`, we should pop open the ol' "Add Your Club" modal at initial page load.

We need to do this in order to give the teach API a callback URL to go back to once the user has completed the login/signup flow for https://github.com/mozilla/id.webmaker.org/issues/51.

[2015-04-02 21:51] hannahkane commented on #543
ok, let's go with that then. @toolness - is there work to be done to implement the non-js as a fallback? should I file a separate ticket for it?

[2015-04-02 21:52] hannahkane opened #568 "TEACHING ACTIVITIES: Correct the spelling of Chad's name in the Lo-fi/No-fi teaching kit description"

[2015-04-02 22:05] sabrinang commented on #564
![screen shot 2015-04-02 at 3 01 32 pm](https://cloud.githubusercontent.com/assets/2492510/6974643/4aea3320-d949-11e4-9b5d-b8890fbef953.png)

The blue icons can be found in this folder: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_edjM3THhDWjQ5cXM&usp=sharing

I'm don't know why the rays behind this icon don't export and appears as such:
![screen shot 2015-04-02 at 3 01 59 pm](

[2015-04-02 22:16] sabrinang commented on #563
I don't see any pink icons on this page?
![mozilla learning - http___teach mofostaging net_](https://cloud.githubusercontent.com/assets/2492510/6974836/e635dea0-d94a-11e4-96ca-51c7fec9134b.png)

If there are pink icons can you clarify which ones they are?

[2015-04-02 22:28] hannahkane commented on #536
@toolness - I was assuming the sender's email is specific to the staging server, but you know what they say about assuming...

Will file a separate ticket for the link, or track down the one that I swear already exists. :)

[2015-04-02 22:31] hannahkane opened #569 "Add link in transactional email "Thanks for joining the global movement...""
The p.s. of the email is missing a link to /clubs/toolkit/

[2015-04-02 22:39] hannahkane commented on #541
Took me a minute to find a workaround. I couldn't put my cursor at the end of the location to backspace. But eventually I figured out that, with my cursor at the *beginning* of the location, I could just start typing a new location and it would overwrite the existing one.

I'll remove this as a blocker to launch, but I'll want to test this with users.

[2015-04-02 22:46] hannahkane commented on #540
iOS 8.1.3.
Maybe we should just indicate that the fields are required with an asterisk? That would help a bit I think.

[2015-04-02 22:46] hannahkane commented on #539
iOS 8.1.3.

[2015-04-02 22:58] toolness commented on #75
Ah awesome!

Yes, for the curriculum modules and such things, I am currently thinking that making a model in teach-api and allowing it to be edited by admins only (i.e. teach team staff) is the easiest way to go for that (currently Clubs are the only models in the teach api). It also opens up the possibility for such things eventually to be user-contributed too, if we ever want to entertain such n

[2015-04-02 23:00] toolness commented on #541
Ah yeah, that is definitely a weird and confusing workaround. Would be nice to figure out a better solution, will see what we can do!

[2015-04-02 23:01] toolness commented on #540
Oh, that is a great idea!

Very interesting that such behavior is occurring on iOS 8--I totally thought all modern browsers supported HTML5 form validation now, but [apparently that is not the case](http://caniuse.com/#feat=form-validation) :(

[2015-04-02 23:18] toolness commented on #554
It looks like [geonames.org](http://www.geonames.org) might be an alternate provider for geo data.

[2015-04-02 23:34] toolness commented on #554
Oh, I've got good news! It looks like the problem is just with our front-end code, and not the mapbox API (so we don't have to hunt for a new provider etc). I know this looks confusing to non-devs, but here's a network log of the response we're getting back from Mapbox when searching for "springfield oregon":

![2015-04-02_19-29-35](https://cloud.githubusercontent.com/assets/124687/6975789/ef5eebb

[2015-04-02 23:40] toolness commented on #526
Awsm!

I'm thinking that the solution for this issue will involve coalescing places with the same name, state/province and country into a single entry, and removing the zipcode and street information. Because the data Mapbox is giving back to us is actually [quite rich](https://github.com/mapbox/carmen/blob/master/carmen-geojson.md), that hopefully shouldn't be too hard.

My only concern is that w

[2015-04-02 23:53] sabrinang commented on #488
![icon-listen](https://cloud.githubusercontent.com/assets/2492510/6976035/b695ec7c-d958-11e4-84ef-9f3cc2d7dec7.png)

I unified the "listen icon" line width with the "say hello" icon.

You can find it here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eWWpPVG5HbF9VTHM/view?usp=sharing

[2015-04-03 01:09] sabrinang commented on #487
![icon-learn](https://cloud.githubusercontent.com/assets/2492510/6976744/e778e39e-d962-11e4-8eda-83967cf174e0.png)

This idea for the learn icon can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eYjNueHp1ZjVGZ1E/view?usp=sharing

[2015-04-03 12:24] #554 closed

[2015-04-03 13:27] toolness commented on #526
Ok, in PR #570 the interaction now looks like this:

![geocoding](https://cloud.githubusercontent.com/assets/124687/6982696/3109c3e0-d9e3-11e4-94e4-e13d887e12c2.gif)

Yay!

[2015-04-03 14:30] ldecoursy commented on #526
:trophy:

[2015-04-03 15:01] vazquez commented on #564
It needs to be a JPG. The rays don't export to SVG properly

[2015-04-03 15:14] ldecoursy opened #571 "Add bullets to distinguish skills within web lit map"
On the web literacy page, when you click on the individual terms and see a pull-down of the skills, it might help readability to add bullets/asterisks/dashes to distinguish them as a list.

[2015-04-03 15:41] toolness opened #572 "Fallback to non-JS version if feature testing indicates a minimum JS/HTML5 feature set isn't available"
We should use something like [modernizr](http://modernizr.com/) to feature detect for the bare minimum feature set for the JS version of the site to work. For the time being, that means things like:

* Proper [CORS XMLHttpRequest](http://caniuse.com/#search=cors) support (sorry IE9!)
* ... Other stuff?

If any of these criteria aren't met, we should simply not load any of our JS bundles, nor shoul

[2015-04-03 15:42] toolness commented on #543
Sounds good! I can file the bugs since I'd like to add some technical deets about them in the description. The one for non-js fallback is #572.

[2015-04-03 15:44] toolness commented on #455
Just wanted to mention that we've removed this from v1 since we'll be implementing #572 to disable JS entirely on IE9 for launch. For v2 we should probably plan on having IE9 work with JS enabled, though.

[2015-04-03 16:10] toolness opened #573 "Show warning/upgrade message if major functionality is disabled for user's browser"
Currently we have a suboptimal list of minimum browser requirements for core functionality in the site; as mentioned in #572, we'll be disabling JS entirely for now if the user's browser doesn't meet them. Unfortunately, this means the loss of some rather core functionality for v1:

* Login won't work (and therefore adding/removing clubs won't work).
* The map on the clubs page won't work.
* The c

[2015-04-03 16:12] toolness commented on #573
Oh, I should add that we might want to simply hide some of the interactive elements on the page that require JS when JS is disabled. This can be done via CSS rules that start with `html.no-js`.

The warning can also be displayed via CSS rules that start with `html.no-js`.

[2015-04-03 16:12] toolness commented on #543
Just filed the one about the warning in #573!

[2015-04-03 16:19] toolness opened #574 "Use CSS transitions for modal show/hide"
Right now they just appear/disappear without any transition, which is a bit jarring. Shouldn't be hard to add some nifty transition effects via [`ReactCSSTransitionGroup`](https://facebook.github.io/react/docs/animation.html).

[2015-04-03 16:19] toolness opened #575 "Use CSS transitions for sidebar/hamburger toggle on mobile"
Right now it just appears/disappears without any transition, which is a bit jarring. Shouldn't be hard to add some nifty transition effects via [`ReactCSSTransitionGroup`](https://facebook.github.io/react/docs/animation.html).

[2015-04-03 16:21] hannahkane commented on #543
Sweet. Closing this ticket then. Thanks!

[2015-04-03 16:21] #543 closed

[2015-04-03 16:27] toolness opened #576 "Redirect to teach-api for login/logout flow"
As mentioned in https://github.com/mozilla/teach.webmaker.org/pull/445#issuecomment-89299936:

We're moving to using an OAuth2 flow for login via [id.webmaker.org](https://github.com/mozilla/id.webmaker.org).

Since the OAuth2 client secret can only be stored in the teach API, I'm just doing *all* OAuthy stuff on the teach API (see https://github.com/mozilla/teach-api/pull/11).

I've added an `/au

[2015-04-03 16:31] toolness commented on #540
So we might want to actually split this issue into two bugs: one for providing a fallback/polyfill for HTML5 Form Validation when browsers don't support it, which we can punt to v2, and another for adding asterisks or some other kind of indication for required fields, so at least users know what they're supposed to fill out. Sound OK?

[2015-04-03 16:36] hannahkane opened #577 "Add asterisks to indicate required fields on Clubs form"
This helps with the usability issue identified in #540.

[2015-04-03 16:36] hannahkane commented on #540
Done. Changed the title of this one and added #577.

[2015-04-03 16:45] hannahkane commented on #75
Sounds good. I definitely see the weblitmapper connection, and I see the user-submitted curriculum piece as part of the larger Directory project. We'll talk more soon. :)

[2015-04-03 19:33] ldecoursy opened #578 "Add CC licensing to Teaching Activities and Clubs Curriculum pages"
**UPDATE Apr 13 Decision:** Please add the following text to bottom of the Clubs Curriculum page and to the Teaching Activities page (under the 10 activities): "All featured content, unless otherwise noted, is covered under the CC BY-SA license." Please link "CC By-SA license" to https://creativecommons.org/licenses/by-sa/2.0/

--------
During the legal review of the site, the issue was raised tha

[2015-04-03 19:39] jgmac1106 commented on #578
non-commercial. Shucks there goes my plan of world domination on the using
the work of @thornet <https://github.com/thornet> @LauraHilliger
<https://github.com/LauraHilliger> @hannahkane
<https://github.com/hannahkane>

On Fri, Apr 3, 2015 at 3:33 PM Lainie DeCoursy <notifications@github.com>
wrote:

[2015-04-03 19:50] davidascher commented on #578
I'm not convinced by the NC bit. If someone wants to make a micro business
teaching this stuff in Kenya I think we should not prevent them.

[2015-04-03 19:59] ldecoursy commented on #578
@davidascher That might be a decision we make on content we create, but some of the existing and remixed content by community/partners have CC-BY-NC-SA licensing. Another option is not to put licenses on the pages as noted above, but have individual licenses on each activity. Not sure that's ideal but might be better option.

[2015-04-03 20:40] jgmac1106 commented on #578
@davidascher Brings up a great point. Maybe when remixing  future content
we need to be cognizant of making sure it can be used commercially.

Until then,  especially if original content already used has different
licenses, we will need to license each activity.

On Fri, Apr 3, 2015, 3:59 PM Lainie DeCoursy <notifications@github.com>
wrote:

[2015-04-03 20:45] chrislarry33 commented on #578
I think for we put up at launch they need individual licensees as some of these are co-created with partners. Going forward we can have a commercial license on our stuff and  negotiate on partner stuff. Its hard though to make this case top partners retroactively.

[2015-04-03 22:12] toolness commented on #575
Looking at our `expander.less` code, I guess this would involve just changing and transitioning over `max-height`.

[2015-04-03 22:42] toolness commented on #539
Hmm, where is your phone's "Done" button? I'm using an iPad with iOS 8.1.2 and I'm not seeing a done button. Can you write out the steps you use to reproduce the error?

[2015-04-03 22:46] toolness commented on #539
Oh wait, nevermind, I'm seeing it now. Investigating!

[2015-04-03 22:47] hannahkane commented on #539
K. Let me know if you need screengrabs or anything.

[2015-04-03 22:51] toolness commented on #539
Hmm, are you sure that the "done" button is actually supposed to submit the form? From the [Apple developer docs on designing forms](https://developer.apple.com/library/mac/documentation/AppleApplications/Reference/SafariWebContent/DesigningForms/DesigningForms.html):

It says that "Done" just dismisses the keyboard, not submits the form. I'm also noticing that the search field at the top of imdb.

[2015-04-03 23:10] hannahkane commented on #539
We could definitely chalk this up to user error. But the problem isn't that I'm expecting the Done button to submit the form. It's that the form's Submit button only appears if the cursor is in an active field. If I click the Done button, it advances to the next field (as expected), until I get to the last field. Then, when I click the Done button, I'm back on the form, but the form submit button

[2015-04-03 23:13] hannahkane commented on #539
Just realized it's not that the form submit button isn't there, it's that I can't scroll to it without the modal being active which requires clicking into the field.

I think this is technically a user error issue that we don't necessarily need to resolve.

[2015-04-03 23:52] toolness opened #581 "Only enter keypresses should toggle hamburger"
While working on #580 I noticed that *any* keypress triggers the hamburger toggle when the hamburger is focused. Aside from being kind of annoying, it also makes it impossible (or at least very frustrating) for keyboard-only users to navigate to the links within the sidebar, because as soon as the user presses tab to navigate to them, the hamburger immediately un-collapses!

[2015-04-03 23:58] toolness commented on #539
Oh, weird, hmmm. Well, I think we can do better--if it confused and frustrated you then I'm sure it will happen to lots of other folks, so lemme noodle on other possible solutions to this!

[2015-04-04 00:00] toolness commented on #539
That's interesting that the submit button can't be scrolled-to without the modal being active... I wonder if we can fix it so that the modal doesn't need to be active in order for the user to scroll the modal on mobile, because that is a really annoying usability flaw.

[2015-04-04 00:02] toolness commented on #539
omg I just experienced this problem and IT IS SO ANNOYING.

[2015-04-04 00:16] hannahkane commented on #539
haha. I feel so redeemed. :)

[2015-04-04 01:10] davidascher commented on #578
I'm not suggesting we relicense others' stuff. Only that our content be
liberally licensed.
On 3 Apr 2015 1:45 pm, "Chris" <notifications@github.com> wrote:

[2015-04-04 02:37] #566 closed

[2015-04-04 03:00] #526 closed

[2015-04-04 03:11] #572 closed

[2015-04-04 03:23] davidascher opened #583 "footer layout a bit odd at some widths"
Minor, but the layout of the things on the left sidebar feels not-right to me:

![screenshot 2015-04-03 20 22 18](https://cloud.githubusercontent.com/assets/51278/6991276/35eb2442-da3f-11e4-9701-c0e780afe26f.png)

[2015-04-04 03:24] davidascher opened #584 "hive logo at bottom of hive activities page is low contrast"
yellow on grey feels off-brand

![screenshot 2015-04-03 20 22 18](https://cloud.githubusercontent.com/assets/51278/6991281/55204bb2-da3f-11e4-94d8-18a7f6cb16f4.png)

[2015-04-04 04:01] davidascher commented on #526
People interested in this issue might be interested in
http://www.mapcode.com/, which aims to provide geocoding for places which
don't have great postal addresses.

Practical question: wouldn't it be reasonable to start with the location
yielded by
https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition
?

[2015-04-04 11:14] toolness commented on #578
+1 to nixing the NC on our own content whenever possible. IMO it supports [Mozilla Manifesto](https://www.mozilla.org/en-US/about/manifesto/) commandment 9:

[2015-04-04 11:46] toolness commented on #526
Thanks David! Regarding using the geolocation API, I think there's actually a bit of a usability concern there, which is that we--er, the browser--actually needs to present the user with a choice:

<img src="http://www.developer.com/imagesvr_ce/3006/Figure01.png">

For me personally, this always causes the slightest amount of anxiety and distraction as I weigh the pros and cons between giving out

[2015-04-04 12:16] toolness opened #585 "Use a lightweight server that dynamically renders HTML"
I've alluded to this in other issues and discussions, but I wanted to document it here.

When I was originally asked to come up with a site prototype for https://github.com/mozilla/teach.webmaker.org/issues/75, It seemed implicit that most of the site's content would be static (as opposed to user-generated). That was the assumption I relied on when building the [initial prototype](https://github.c

[2015-04-04 21:48] davidascher commented on #526
Yup, its not a great ux, but neither is filling in a text box.

We could maybe do it in response to a "locate me" button (as in map
systems) as opposed to the usual onload prompt.

Anyway, a thing to keep in mind when doing user testing.

[2015-04-05 06:38] ScottDowne commented on #388
Pretty much done, very close.

Few things I think I'm still missing. Chances are there is an etherpad around with content I need.

Mostly, the content missing is anything behind 3 of the four tabs I need.

Any links, I need their targets.

The blue behind the image containers and the un selected tabs seems to be missing.

@vazquez mentioned the top four links were changing. Right now I left them p

[2015-04-05 06:50] vazquez commented on #388
Go to sleep.

On Sunday, April 5, 2015, ScottDowne <notifications@github.com> wrote:

--
Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez <http://twitter.com/iamrvazquez>
IRC: ricardo

[2015-04-05 11:19] toolness commented on #388
:+1: I hope you followed @vazquez's advice @ScottDowne :)

[2015-04-05 11:37] jgmac1106 commented on #388
+1

On Sun, Apr 5, 2015 at 7:19 AM Atul Varma <notifications@github.com> wrote:

[2015-04-06 11:22] toolness commented on #564
Bummer about the JPG! If it weren't for that, changing the icons would just be a matter of changing the `fill` or `stroke` in the SVG file, which we could even do programmatically as part of the build process!

[2015-04-06 11:28] toolness commented on #531
This is now kind-of subsumed by #576.

[2015-04-06 11:30] toolness commented on #510
Er, isn't this a duplicate of #423?

[2015-04-06 13:03] iamjessklein commented on #510
indeed it is @toolness @ScottDowne

[2015-04-06 13:43] toolness commented on #510
Ok, I guess I will close it as a DUPE then!

[2015-04-06 13:43] #510 closed

[2015-04-06 13:50] #575 closed

[2015-04-06 14:28] toolness opened #587 "Set up teach.mofodev.net"
I'm thinking we should probably set up a teach.mofodev.net that is separate from the existing teach.mofostaging.net.

In short, teach.mofostaging.net should really *become* teach.mofodev.net: it's deployed-to every time the `develop` branch changes, and its code is completely unminified and such.

There are then two options for teach.mofostaging.net, and they both rely on how we want to deploy to

[2015-04-06 15:06] toolness commented on #539
Argh, so this appears to be a known issue with the latest version of bootstrap and iOS 8 (but not iOS 7!):

https://github.com/twbs/bootstrap/issues/14839

I will try some of the fixes listed there and see if that helps with anything...

[2015-04-06 15:15] ldecoursy commented on #323
Closing this ticket - now tracking at https://github.com/MozillaFoundation/plan/issues/395

[2015-04-06 15:15] #323 closed

[2015-04-06 15:32] toolness commented on #539
Ok, so at first I tried this CSS:

[code]

This basically forces the page in the background to be no taller than the viewport whenever modals are shown. However, it has the annoying side effect of scrolling to the top of the page, too, and I'm worried that it might cause other weird side effects in other browsers.

I'm about to submit a much better fix as a PR, though!

[2015-04-06 16:12] hannahkane commented on #531
OK, closing this then.

[2015-04-06 16:12] #531 closed

[2015-04-06 16:38] hannahkane commented on #388
gDoc is here: https://docs.google.com/document/d/1yORrrsU4lN7itEC7BLTLHSR8JqRevppVPABxlmJqxXg/edit#heading=h.we4ed4g5or25

@ScottDowne - let me know if anything isn't clear

[2015-04-06 16:38] simonwex commented on #587
I'm on-board 100%.

tl;dr for those dropping by this ticket:
teach.mofodev.net: *The current state of work*
teach.mofostaging.net: *What's ready to go to production*

[2015-04-06 17:06] rossbruniges commented on #585
All of these suggestions sound pretty good to me - dynamic UGC is something that's always a good candidate for post-loading, and can even give that impression of 'live-ness' as people quickly see that things are changing around them when viewing the site.

In regard to caching each page you're probably good going with once an hour, and depending on the size/scale of that task could reduce that to

[2015-04-06 17:11] iamjessklein commented on #563
you are correct!

[2015-04-06 17:11] #563 closed

[2015-04-06 17:13] iamjessklein commented on #532
Hmmm this is crazy. @sabrinang and I will try to recreate the problem so that we can correct.

[2015-04-06 17:16] jbuck commented on #587
Is there a meaningful difference between development and staging in this case? If the only practical difference is minification, then why not simplify our lives and always minify the code when building? If the source maps are external and not embedded then there's no penalty aside from the time needed to compress/minify js. Then we don't need two "pre-production" sites.

I'd also argue that develo

[2015-04-06 17:19] iamjessklein commented on #504
closing this as the sidebar has been merged and the graphics are being handled in #564 and #503

[2015-04-06 17:19] #504 closed

[2015-04-06 17:19] sabrinang commented on #503
this icon needs to be blue

[2015-04-06 17:23] iamjessklein commented on #480
this is related to issue #483 @sabrinang

[2015-04-06 17:23] sabrinang commented on #483
Initial mockup for reference:
![screen shot 2015-04-06 at 10 22 39 am](https://cloud.githubusercontent.com/assets/2492510/7008377/f10271d2-dc46-11e4-9403-6a511e4dbd5e.png)

[2015-04-06 17:23] hannahkane opened #589 "Remove references to Login for the softest of launches"
As per discussion with @toolness and @simonwex, we'll plan to deploy to production without authentication in place, so that we can deal with any deployment hiccups now, rather than later.

The site will be on production, but we won't link to it or promote it until the login project is finished and incorporated into the Teach site.

In order to make it not weird for anyone who stumbles across the s

[2015-04-06 17:23] iamjessklein commented on #441
The QA is complete, we are now just triaging the bugs. :bug:

[2015-04-06 17:23] #441 closed

[2015-04-06 17:24] sabrinang commented on #480
Initial mockup for reference:
![screen shot 2015-04-06 at 10 22 39 am](https://cloud.githubusercontent.com/assets/2492510/7008393/0dc381da-dc47-11e4-8eca-1f3ae414a438.png)

[2015-04-06 17:24] #470 closed

[2015-04-06 17:29] toolness commented on #587
That's a good question--I *think* that there isn't much of one, aside from what git-flow prescribes, where "develop" is the wild west and "master" are the tagged releases that are ready to go live (but for which we might want a staging server to try them out on before pushing live). But that gets to your other point...

I actually sort-of brought this up in https://github.com/MozillaFoundation/MoF

[2015-04-06 17:34] toolness commented on #589
Hooray, thanks @hannahkane!

If we need to give this milestone a name I suggest we call it "The Softest of Launches" (TSoL).

Also, while this isn't directly related to removing references to login, the other big thing that needs to be done for TSoL, as @simonwex mentioned in IRC, is add a `robots.txt` at the root of the site that tells search engines not to index it just yet. Will also have to do

[2015-04-06 17:39] toolness commented on #587
Oh, also I think it would be neat to keep the dev ribbon around, since it provides a nice affordance for folks who are working on the site. I was thinking that could stay on dev but be kept off staging, but I dunno.

[2015-04-06 17:58] hannahkane opened #590 "Replace links to Legal and Privacy"
Turns out we weren't using quite the right links.

Legal should go to: https://www.mozilla.org/en-US/about/legal/terms/mozilla/
Privacy should go to: https://www.mozilla.org/en-US/privacy/websites/)

[2015-04-06 18:10] alicoding commented on #114
I'm just going to unassigned myself until we get to localization for teach site.

[2015-04-06 18:13] hannahkane opened #591 "Add username and link to user's Webmaker profile to Club description on map"
The Club Leader's name currently appears in the list view, but not the map callout view.

Just like in the list view, it can be the last field, and should include a label, "Led by:"

[2015-04-06 18:14] hannahkane opened #592 "Add Club description to list view"
Currently, the Club description is included in the Map callout view of Clubs, but not the list view. Please add it, right below the location and above the "Led by" field.

[2015-04-06 18:16] hannahkane commented on #534
Added #591 to address adding and linking the username. But this ticket is still valid.

[2015-04-06 18:38] sabrinang commented on #503
blue unclipped version can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eOG1lQUt1Z0VCM3c/view?usp=sharing

[2015-04-06 18:45] iamjessklein commented on #569
@toolness can you remind me where I need to go to edit the email?

[2015-04-06 18:53] sabrinang commented on #564
![icon-building-blue](https://cloud.githubusercontent.com/assets/2492510/7010038/72080178-dc53-11e4-8f19-c7fe154e6ed8.png)
transparent .png can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eN215bV9wdXFwV0U/view?usp=sharing

[2015-04-06 19:12] sabrinang commented on #564
follow us: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eNHBWMlYyTE9qSXc/view?usp=sharing
get help: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eRmRmSWJRUGRwcTA/view?usp=sharing
say hello: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ea2V6eGc0RThQeHM/view?usp=sharing

[2015-04-06 19:26] sabrinang commented on #564
horizontal divider: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_edm5nNHdhZjdTb1U/view?usp=sharing

[2015-04-06 19:34] iamjessklein commented on #503
closing this as there is now duplication with #595

[2015-04-06 19:34] #503 closed

[2015-04-06 19:37] iamjessklein commented on #550
That seems appropriate for consistency.

Thoughts @LauraHilliger @ldecoursy

[2015-04-06 19:46] iamjessklein commented on #590
ok good call then.

[2015-04-06 19:48] #545 closed

[2015-04-06 19:48] #568 closed

[2015-04-06 19:56] iamjessklein commented on #569
found it! it was in the teach api repo - not the teach! :school_satchel:

[2015-04-06 20:03] sabrinang commented on #501
![icon-toolkit](https://cloud.githubusercontent.com/assets/2492510/7011366/47cd5a66-dc5d-11e4-8134-93220e25505f.png)
toolkit circle line art can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVWZySjg1bHpPYmc/view?usp=sharing

[2015-04-06 20:15] #569 closed

[2015-04-06 20:18] #564 closed

[2015-04-06 20:20] ldecoursy commented on #550
+1

[2015-04-06 20:32] #500 closed

[2015-04-06 20:40] #590 closed

[2015-04-06 21:37] #484 closed

[2015-04-06 21:40] sabrinang commented on #473
some photos that may work as teaching activities banner photo (dark center gradient photo treatment):

![screen shot 2015-04-06 at 2 37 57 pm](https://cloud.githubusercontent.com/assets/2492510/7013002/a5797e30-dc6a-11e4-957f-d82e84d61e1d.png)
![screen shot 2015-04-06 at 2 38 08 pm](https://cloud.githubusercontent.com/assets/2492510/7013004/a683f10c-dc6a-11e4-885d-7e9acb882e5e.png)
![screen shot 2

[2015-04-06 21:56] sabrinang commented on #487
@iamjessklein what do you think of this learn icon?
/cc @vazquez

[2015-04-06 21:57] sabrinang commented on #501
@iamjessklein what do you think this line art? (I couldn't find a good photo to mask in the circle)
/cc @vazquez

[2015-04-06 21:58] #491 closed

[2015-04-06 22:00] ScottDowne commented on #388
@hannahkane yeah, so based on the gdocs link you gave me above, and the designs, I am a bit confused.

The designs have four tabs "the basics" "before event" "during event" and "after event"

But in the gdocs, I only have three and some of the before items are in the basics tab in the designs.

[2015-04-06 22:03] ScottDowne commented on #388
Oh, I think I see. The designs have "before event" split into "before event" and "basics"

[2015-04-06 22:04] hannahkane commented on #388
Yeah, sorry I didn't specify that. We needed to cut up that section because it was too long, but I never adjusted in the gDoc.

[2015-04-06 22:15] hannahkane commented on #515
@iamjessklein - is this duped by #478?

[2015-04-06 22:16] hannahkane commented on #468
I have a test scheduled for Thursday.

@iamjessklein - how did last Thursday's testing go?

[2015-04-06 23:11] sabrinang commented on #493
![icon-read](https://cloud.githubusercontent.com/assets/2492510/7014033/552ec35e-dc74-11e4-90af-a9e47cc181ea.png)

An open book in a similar icon style for "get reading" can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eSjRaZ3V2TkpCWGc/view?usp=sharing

[2015-04-07 08:50] LauraHilliger commented on #544
what about "Understand" and then "Learn More about the Web Literacy Map"? I like "Get Context" too, but worry that it's jargony.

[2015-04-07 09:35] LauraHilliger commented on #550
Agree to those 3 for v1, but the other pages use that space for "subpages" as opposed to cross thinking. Structurally, we might want to consider what's special about this stuff in particular. Tiny braindump:

"Explore our curriculum model" - could refine/build/link to [pro tips](https://support.mozilla.org/en-US/kb/pro-tips-webmaker-teaching-kits)
"Remix a kit" - link to v1 How to Remix, Adapting

[2015-04-07 09:46] jgmac1106 commented on #544
Change the world.
Empower others.
Lead. Learn. Teach.

On Tue, Apr 7, 2015, 4:50 AM Laura Hilliger <notifications@github.com>
wrote:

[2015-04-07 11:15] LauraHilliger commented on #578
I [swapped out the CC-By](https://github.com/mozilla/webmaker-curriculum/pull/171) on those activities where partners had used a different license. For clubs, the only one we need to solve is the Radio Rookies one, which was originally made in partnership with HiveNYC, but both orgs have standard copyright footers.

Otherwise, we currently have CC-BY on the club *activities* (check the footer).

A

[2015-04-07 13:38] LauraHilliger opened #602 "[MIGRATED] Add remixable resources to activity pages"
a few EDITABLE resources @thornet received from Mouse. We should figure out how / where to link to these resources:

(kraken legitometer) https://docs.google.com/a/mozillafoundation.org/document/d/1bX7-G1rn-8BY5DNMIWHhS1utHoxcKi73RTmCuOL6CGU/edit#
(kraken tip sheet): https://docs.google.com/a/mozillafoundation.org/document/d/1k4QHueV4a88L1X4-Qoji4lMhJ5TUrUioWvk7Uei0gtA/edit
(ping utility tip sheet

[2015-04-07 16:27] hannahkane commented on #578
@ldecoursy - let me know if you want a statement about licenses to appear on the /clubs/curriculum and /activities landing pages, or if it's adequate to have them on each of the individual activity pages.

[2015-04-07 16:29] hannahkane commented on #544
Let's go with "Understand" and then "Learn more about the Web Literacy Map". I like that because I think it fits best with the other two CTAs on the page ("Listen" and "Say Hello").

[2015-04-07 16:41] ldecoursy commented on #578
I'm reaching out to content partners today so will have a better sense shortly!

[2015-04-07 16:48] hannahkane commented on #544
Updated the first comment to reflect the decision.

[2015-04-07 16:53] iamjessklein commented on #501
:+1:  this looks great to me.

[2015-04-07 16:54] iamjessklein commented on #501
assigning to myself to implement.

[2015-04-07 16:57] iamjessklein commented on #493
@sabrinang this looks great, I like the direction that you are heading in. Some thoughts:

- [ ] try reducing the amount of solid shapes in the icon
- [ ] remove the bookmark so that it uses different forms from the "Learn More" icon

[2015-04-07 16:58] iamjessklein commented on #488
:point_up_2:  @sabrinang will reassign to myself

[2015-04-07 16:59] hannahkane commented on #458
I'mma close this because we figured it out. Design and implementation will show up in an upcoming heartbeat.

[2015-04-07 16:59] #458 closed

[2015-04-07 16:59] iamjessklein commented on #487
@sabrinang why don't you try simplifying this by singling out the brain elements.

[2015-04-07 17:02] iamjessklein commented on #473
My preference is the middle image.
Thoughts @vazquez @ldecoursy ? I like the center gradient treatment.

[2015-04-07 17:02] hannahkane commented on #462
OK, I'm going to call this good, since we've agreed on copy for the header. Implementing the refresh with the revised copy will be in an upcoming heartbeat.

[2015-04-07 17:02] #462 closed

[2015-04-07 17:05] hannahkane commented on #463
I've sketched out a phased approach to the directory at the top of the doc. I think the next step is  a grooming meeting with the production team to specifically discuss an implementation approach, given the existing directory. Will schedule, but likely for next heartbeat, since I don't want to interrupt the work of launching v1. :)

[2015-04-07 17:05] iamjessklein commented on #471
My preference is the 3rd option. Since the goal of the site is to bring a face to the community of educators, we should be highlighting (vs. blurring) out the identities of the individuals. That said, the blurring treatment is the best option for heading legibility.

@hannahkane @ldecoursy thoughts?

[2015-04-07 17:07] hannahkane commented on #471
I'd prioritize legibility, so I'd vote for option 2.

[2015-04-07 17:10] iamjessklein commented on #515
When this is being updated, make sure to look the mobile treatment is reduced as well.

[2015-04-07 17:10] iamjessklein commented on #478
closing as this is covered in #515

[2015-04-07 17:10] #478 closed

[2015-04-07 17:11] hannahkane commented on #468
I have a second test scheduled for Thursday.

[2015-04-07 17:11] iamjessklein commented on #485
Can link now that @ScottDowne made the page! w00t :postal_horn:

[2015-04-07 17:16] iamjessklein commented on #475
Let's decouple the globe from the labels and only deal with the globe in this issue.

Globe:

![screen shot 2015-04-07 at 1 15 19 pm](https://cloud.githubusercontent.com/assets/535012/7029032/46628d6a-dd28-11e4-9efc-d009eb28cd25.png)

[2015-04-07 17:18] iamjessklein commented on #469
@hannahkane @ldecoursy - can you please provide the copy for this section? It should include:

- [ ] title
- [ ] descriptive sentence(s)
- [ ] cta on button

[2015-04-07 17:20] vazquez commented on #473
If you are going for a gradient, I would make it a radial gradient. Right now there are clear edges of where the gradient ends (the guy's shirt on the 3rd option shows it clearly). I would also Multiply the gradient, so that it allows colour to blend in, as it feels like a black brush overlayed on top of the image at the moment.

Good selection of photos. In terms of composition, I think the 3rd o

[2015-04-07 17:23] hannahkane commented on #473
I like the third image best. @ldecoursy - do you have a preference?

[2015-04-07 17:24] ldecoursy commented on #473
I like the third image too.

[2015-04-07 17:24] hannahkane commented on #486
What's wrong with this image? I like it.

[2015-04-07 17:48] ScottDowne commented on #423
Merged, closing this.

[2015-04-07 17:48] #423 closed

[2015-04-07 18:04] hannahkane opened #603 "Broken image on /about"
I'm seeing the image name rather than the image

![screen shot 2015-04-07 at 11 03 08 am](https://cloud.githubusercontent.com/assets/8389648/7029922/c695e2e2-dd15-11e4-9c91-1151356b4920.png)

[2015-04-07 18:10] ScottDowne commented on #592
@hannahkane could you elaborate a bit more? I'm not sure what needs to be done yet.

[2015-04-07 18:10] sabrinang commented on #493
![icon-reading](https://cloud.githubusercontent.com/assets/2492510/7030054/b137009c-dd16-11e4-9ae5-81c8899d24ac.png)
Here is another alternative: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eT2VmNWtXZDJiNnc/view?usp=sharing

[2015-04-07 18:11] ScottDowne commented on #592
I think I figured it out by reading a few more tickets and seeing a pattern.

[2015-04-07 18:12] hannahkane opened #604 "Implement Webmaker blog visual refresh"
Design files are available here: https://bugzilla.mozilla.org/show_bug.cgi?id=967770
Redpen here: https://redpen.io/p/pkfbf34a0e1d1ab57e

Please note: we made a decision to use different copy in the header.

Header: Mozilla Learning
Subhead: People, products and programs to teach, learn and make the Web

[2015-04-07 18:14] hannahkane opened #605 "Design solution for blog integration"
In #458 we decided we will add the blog to the site's primary navigation and have recent and featured posts highlighted on the landing page.

This ticket is to provide the design mockups for both.

[2015-04-07 18:16] hannahkane commented on #592
Just trying to make the list view and the map view consistent in terms of what information they display!

[2015-04-07 18:17] ScottDowne commented on #532
Firefox on android working for me.

[2015-04-07 18:21] ScottDowne commented on #496
@iamjessklein do you need me to update this or are you updating it? It's just a file replace/link url replacement so it should be easy.

[2015-04-07 18:22] iamjessklein commented on #496
I just updated @ScottDowne

[2015-04-07 18:32] sabrinang commented on #487
![icon-learning](https://cloud.githubusercontent.com/assets/2492510/7030466/bf2e7632-dd19-11e4-8986-6cdb712dd224.png)
Another alternative can be found here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_edlVzZm4xS09lUzA/view?usp=sharing

[2015-04-07 19:55] sabrinang commented on #475
![img-globe-line-pink](https://cloud.githubusercontent.com/assets/2492510/7032110/3f792656-dd25-11e4-9cc9-61a9e75d9724.png)
Pink line: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eNkdvUHdHNDNvdWs/view?usp=sharing
![img-global-movement-pink](https://cloud.githubusercontent.com/assets/2492510/7032105/32884daa-dd25-11e4-8697-91a6134ae2a4.png)
Pink globe illustration: https://drive.googl

[2015-04-07 19:59] sabrinang commented on #475
ready to be updated - reassigning to @iamjessklein

[2015-04-07 20:11] sabrinang commented on #487
![icon-learning-green](https://cloud.githubusercontent.com/assets/2492510/7032420/8e3544da-dd27-11e4-8740-73d38789e0f6.png)
teach like mozilla page icons are green and updated the learn icon to match: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eZWZlVGVWdVZLbDg/view?usp=sharing

[2015-04-07 20:23] sabrinang opened #613 "WEB LITERACY: change blue icons to match green side bar"
Currently, the side bar is green and the rest of the page are blue. Change blue icons to match green side bar.
![fireshot capture 2 - mozilla learni_ - http___teach mofostaging net_teach-like-mozilla_web-literacy_](https://cloud.githubusercontent.com/assets/2492510/7032634/c36c8afe-dd28-11e4-9940-8b930c0ac2d9.png)

/cc @iamjessklein @vazquez the latest design will be green right? (sketch mockups I

[2015-04-07 20:27] davidascher commented on #613
The number of 'change color X to Y' tickets makes me wonder whether we can
not solve this programmatically.  @toolness, any ideas?

[2015-04-07 20:28] sabrinang commented on #493
![icon-reading-green](https://cloud.githubusercontent.com/assets/2492510/7032771/c6ee30c8-dd29-11e4-95f9-a9755130cbf4.png)
this icon should be green as well.

Green get reading icon: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eelJfbldmVzRTeWc/view?usp=sharing

[2015-04-07 20:47] toolness commented on #613
Yeah! I mentioned in https://github.com/mozilla/teach.webmaker.org/issues/564#issuecomment-90019866 that we could potentially do them programmatically as part of the build process, but in that issue there was an exception with one of the icons, which wasn't exporting to SVG very nicely.

Another option (at least for the ones that are exporting to SVG properly) might be to make our very own custom

[2015-04-07 20:54] ldecoursy commented on #524
Closing this since addressed in #471

[2015-04-07 20:54] #524 closed

[2015-04-07 20:55] iamjessklein commented on #474
This will be fixed once @ScottDowne reviews this PR: https://github.com/mozilla/teach.webmaker.org/pull/614

[2015-04-07 20:57] ldecoursy commented on #471
I also prefer #3, but is there a way to crop the image a bit to rid of some of the white space at the top of the photo? Also the teach like mozilla page seems only blurred on one side, and the events doesn't have any blur.

[2015-04-07 21:07] iamjessklein commented on #613
+1 to making this a programmatic change. It's hard to tell at this point what we will be doing as we move forward with this site. We are just experimenting with and introducing the palette with this release, so we would want a solution that allows for us to maintain a certain level of flexibility at this stage.

[2015-04-07 21:10] iamjessklein commented on #475
great. I fixed the labels with the sidepanel PR. Will work on this one.

[2015-04-07 21:26] #496 closed

[2015-04-07 21:28] iamjessklein commented on #493
Nice job @sabrinang

[2015-04-07 21:56] hannahkane opened #616 "Add links to Clubs toolkit"
The links are:

LEARN FROM PEERS
 - [ ] "Discussion forum" should link to http://discourse.webmaker.org/category/clubs
 - [ ] "@Webmaker" should link to https://twitter.com/webmaker
 - [ ] "#TeachTheWeb" should link to https://twitter.com/search?q=%23teachtheweb
 - [ ] "help@webmaker.org" should be a mailto

TRAIN YOUR TEAM
 - [ ] In opening paragraph, "increasing web literacy" should link to /tea

[2015-04-07 23:51] sabrinang commented on #471
I tried a mixture of option 2 & 3 where the center has a dark overlay and blur effect applied to it.
![herobanner-treatment](https://cloud.githubusercontent.com/assets/2492510/7036179/e0488458-dd45-11e4-9e88-88dbf64af43d.png)

[2015-04-08 08:11] LauraHilliger opened #617 "add youtube video from FOSS Asia to HTML Puzzle Box"
puzzles start at 1:02 https://www.youtube.com/watch?v=_LFaWJqRi64

[2015-04-08 09:03] thornet commented on #602
And now their German localizations:

* Kraken legitometer: https://docs.google.com/a/mozillafoundation.org/document/d/1t6B06QR5Xd-wq-7i5vN-EHBtT00jy1aTmLJf-ifiGuk/edit
* Kraken signs: https://docs.google.com/document/d/1sCXYEaFfoo7gCUord3Uxrx7Mr1E_DqUlQxvXNqz3DF4/edit?usp=sharing

[2015-04-08 09:05] thornet commented on #298
Adding @LauraHilliger since her Open Fluency doc is a great piece for the later parts of the journey: http://www.zythepsary.com/techie/open-fluency/

[2015-04-08 09:41] thornet commented on #172
Reviewing shortlist today with @amirad @soapdog @simonaramkisson @ldecoursy

[2015-04-08 09:44] thornet commented on #86
Notes from chat with @chrislarry33:

* For Webmaker Mentor & Super Mentor: consider an "almuni" badge. Then prompt to apply for / earn new badges.

* New badges:
- "Frontline Educator" -- aka aligned practioner. Someone pledging or joining.
- Club Leader
- Regional Coordinator
- Organizer

* Web Lit Badges:
- Privacy ones great to start with.

[2015-04-08 10:31] jgmac1106 commented on #86
Do we have to look at the badging criteria again or just the current badges align with v 1.1 of the map?

I don't think it's a major change at all, maybe a couple of words. We will need to split the design and accessibility badges plus combine web mechanics.

Sent from my iPad

[2015-04-08 10:59] jgmac1106 commented on #298
Just went back and read the original ticket. The web journey flow chart is
really cool and agree @lauraHillinger leadership work fits well at the end.

On Wed, Apr 8, 2015, 5:06 AM Michelle Thorne <notifications@github.com>
wrote:

[2015-04-08 11:42] LauraHilliger commented on #548
Alternative Reading: https://stacy.makes.org/thimble/MTY3NjY3MzI4MA==/testing-password-strength
Alternative Writing: https://stacy.makes.org/thimble/MjUwMDg1NjMy/creating-strong-passwords

[2015-04-08 11:42] #548 closed

[2015-04-08 11:45] LauraHilliger commented on #547
Alternative Reading: https://stacy.makes.org/thimble/MTY3NjY3MzI4MA==/testing-password-strength
Alternative Writing: https://stacy.makes.org/thimble/MjUwMDg1NjMy/creating-strong-passwords
alternative participating: https://laura.makes.org/thimble/lightbeam-activity <-- need to add a social component to this activity to make it more participatory

[2015-04-08 15:25] hannahkane commented on #471
+1

[2015-04-08 15:26] ldecoursy commented on #471
+1

[2015-04-08 16:14] iamjessklein commented on #532
I haven't been able to recreate this issue. Can anyone else?

[2015-04-08 16:46] hannahkane opened #618 "Change instances of "Mozilla Web Clubs" and "Web Clubs" to "Mozilla Clubs""
on /mozilla-web-clubs/:
 - [ ] Change "Mozilla Web Clubs" in header image to "Mozilla Clubs"
 - [ ] Change "How do Web Clubs work?" title to "How do Mozilla Clubs work?"

[2015-04-08 16:49] #475 closed

[2015-04-08 16:50] hannahkane commented on #86
Excited for this!

A few questions:
 * How are you envisioning the alumni badges? Is it almost like a "currently inactive Mentor"? And then it can get re-activated?
 * Is the Web Lit Basics curriculum not associated with any badges?
 * Do we still want to have Event Host, Skill Sharer, and Curriculum Remixer badges?

[2015-04-08 16:51] iamjessklein commented on #469
@sabrinang  [here are the design files](https://www.dropbox.com/s/rpbrqlnbn6e0odd/teach-referral.ai?dl=0) for you to work from.

[2015-04-08 16:57] KevZawacki commented on #469
@iamjessklein @hannahkane @ldecoursy

Possible copy to get the ball rolling:

Title: Already a Pro? Start Teaching Others
Description: Join Mozilla's community of educators who teach digital skills and web literacy through making.
Button text: Start Teaching

[2015-04-08 17:00] iamjessklein commented on #471
:+1:  nice. I would just test that when we place the foxy image, if it needs to be dodged and burned or touched up in the center top area.  Let's move forward with these files. Can you share the final image files?

[2015-04-08 17:02] toolness commented on #592
Hey is @iamjessklein cool with this? I actually originally included it in the list but she wanted it removed bc it added clutter to the whole thing.

[2015-04-08 17:02] sabrinang commented on #473
Great, I will use the third image and this photo will be treated and added to #471. Closing this bug.

[2015-04-08 17:02] #473 closed

[2015-04-08 17:10] ScottDowne commented on #592
@toolness ah, that's fair.

[2015-04-08 17:40] hannahkane commented on #550
+1 to those ideas. @LauraHilliger - as you develop content for those pages, I'm happy to prioritize making updates to the Teach Like Mozilla page and sub-pages.

[2015-04-08 17:46] sabrinang commented on #473
Note: I smoothed out the linear gradient and added a subtle blur to the center. I tried the radial gradient but isn't as versatile on mobile when the photo shifts horizontally.
![herobanner-teaching-activities](https://cloud.githubusercontent.com/assets/2492510/7036218/80dadd30-dd46-11e4-82fb-b57c32a422ad.png)

[2015-04-08 17:47] sabrinang commented on #471
Photos (original and 2x size) can be found here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efndNS2hoYXM3allJYm5mQ1RCamMxbS1pVjc0Qm56YVhqdE1penRMc1paZFU&usp=sharing

reassigning to @iamjessklein to implement

[2015-04-08 17:48] sabrinang commented on #486
We will be using this image for now and it is treated in #471. Closing this bug and if there is a better photo we find we can reopen this.

[2015-04-08 17:48] #486 closed

[2015-04-08 17:54] #540 closed

[2015-04-08 18:00] sabrinang commented on #520
All [hero banners] (https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efndNS2hoYXM3allJYm5mQ1RCamMxbS1pVjc0Qm56YVhqdE1penRMc1paZFU&usp=sharing) file sizes have been reduced with [ImageAlpha] (http://pngmini.com/) so they should load quicker now. Closing this bug.

[2015-04-08 18:00] #520 closed

[2015-04-08 19:17] #539 closed

[2015-04-08 19:26] secretrobotron opened #619 "Thin white line around body"
There's a thin white border around the entire body of the site. Intentional? Looks a bit 1998.

[2015-04-08 19:51] iamjessklein commented on #468
The Thursday test was a bit of a fail because everyone who showed up had already tested the site. Working on a do-over on Friday.

[2015-04-08 19:56] iamjessklein commented on #469
:heart: this direction

[2015-04-08 20:00] jgmac1106 commented on #468
I would have no problem giving you a litany of complaints once the staging
is done. Have really only checked out the page on @toolness softest of
launch mock up. Though I want it noted for posterity that the Learning
Network team labeled it a slaunch first.

On Wed, Apr 8, 2015, 3:51 PM iamjessklein <notifications@github.com> wrote:

[2015-04-08 20:09] iamjessklein commented on #592
see my comment on #611

[2015-04-08 20:09] #592 closed

[2015-04-08 20:10] iamjessklein commented on #468
:pen + :notebook:  = noted

[2015-04-08 20:15] ldecoursy commented on #469
Alternate title suggestions: Want to teach the web to others? or Teach others about the wonders of the web

Might want to say "educators and mentors" or just "mentors"?

[2015-04-08 20:45] iamjessklein commented on #457
Can @LauraHilliger @thornet @chrislarry33 or @hannahkane  give me a sense of how much content will go here and if there is any system or framework currently in place to organize that content?

[2015-04-08 20:48] toolness commented on #424
Ack, I think GitHub accidentally auto-closed this because I mentioned it in #593, but it actually *shouldn't* be closed, because #593 didn't actually resolve it! We need to figure out exactly how we want this field validated before implementing it: do we want the user to essentially be able to enter anything, and we just prefix it with "http://" if it doesn't look like a URL? Or do we want to forc

[2015-04-08 20:58] #493 closed

[2015-04-08 21:15] #589 closed

[2015-04-08 21:28] hannahkane commented on #457
You can see the curriculum plans here: http://mozilla.github.io/webmaker-curriculum/. Eventually the Clubs Curriculum page will include all of the Web Literacy content, though I think the "Teaching and Leadership" curriculum likely fits better on the Teach Like Mozilla page. @LauraHilliger and @thornet to confirm.

[2015-04-08 21:33] hannahkane commented on #619
@secretrobotron - do you see a line around the rest of the site, or just the top?

Looks like the line on top is from the Mozilla.org header - there's also a white line at the top of mozilla.org.

[2015-04-08 21:38] secretrobotron commented on #619
Oh yeah, I see that. But, there's a line on the left side of teach, which isn't on mozilla.org.

[2015-04-08 21:42] hannahkane commented on #619
Oh, I see it now on Chrome, but not FF.

[2015-04-08 21:43] secretrobotron commented on #619
Ah yeah, true. :+1:

[2015-04-08 22:01] hannahkane commented on #424
I defer to @iamjessklein for the best practices on this. :icecream:

[2015-04-09 00:33] sabrinang commented on #479
If we need a fourth: https://www.flickr.com/photos/newyouthcity/14715964794/in/faves-mozilladrumbeat/

@iamjessklein Does the carousel take the images directly from flickr? If yes, we do not need to edit the photos then?

[2015-04-09 00:43] sabrinang commented on #613
![icon-web-literacy-illustration-green](https://cloud.githubusercontent.com/assets/2492510/7058424/87aaa6e2-de16-11e4-855e-2e5caafc0da9.png)
Web Literacy circle line art (green version): https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_edVhub0VDXzMzczQ/view?usp=sharing

![icon-contribute-green](https://cloud.githubusercontent.com/assets/2492510/7058435/aa490996-de16-11e4-96b2-796c878f4f98

[2015-04-09 08:44] LauraHilliger opened #621 "Swap lo fi/no fi kit URL on the Teaching Activities page"
NEW URL: https://laura.makes.org/thimble/MTUyODMwNDY0/lofi-nofi-teaching-kit

[2015-04-09 09:32] LauraHilliger commented on #457
The curriculum plans page is outdated, we need to be more refined in that (hence issue #91), but it gives an idea.

Might be 2 solutions necessary:

### Solution 1: Curriculum for end learners (web literacy)
This one has 2 components to think about (though a "playlist" kind of idea might solve the distinction)
* *Teaching Activities* – free-for-all, random curriculum from all over the  place. All

[2015-04-09 11:12] LauraHilliger commented on #298
added some comments, happy to think further / explain more on that "master" level if need be.

[2015-04-09 11:46] toolness opened #622 "Footer links have no left margin/padding"
I'm not sure if this is a duplicate but this is what it looks like on my screen:

![2015-04-09_7-43-37](https://cloud.githubusercontent.com/assets/124687/7066042/665c4eca-de8c-11e4-8956-4474e795a59c.jpg)

The links appear flush against the very edge of the page.

[2015-04-09 12:29] toolness opened #624 "Footer links overflow their container on mobile"
I noticed that the mobile/small-screen version of our site is now horizontally scrollable, with a bit of empty space on the right side. I tracked this down to the footer links:

![2015-04-09_8-26-16](https://cloud.githubusercontent.com/assets/124687/7066621/65b601d6-de92-11e4-9cef-467e96954782.jpg)

Removing the links removes the horizontal scrollbar and extra space on the right, so I am guessing

[2015-04-09 13:01] iamjessklein commented on #457
Can you clarify for me - are we creating ALL of the curriculum here, or are we creating a portion of it, the featured portion, and then hoping that users will contribute their own curriculum as well?

[2015-04-09 13:06] #581 closed

[2015-04-09 13:17] jgmac1106 commented on #457
I would assume the curriculum,  at least the first basics modules, would
have activities for each competency.

Maybe down the road somewhere on the page we could add a "community created
resources" and this will have kits and activities from mentors that the
Learning Network team approves. Then there could be a section for "outside
resources" and this would be a link to any thing tagged using the

[2015-04-09 13:22] #603 closed

[2015-04-09 13:36] toolness commented on #576
An update on this:

**TLDR: Our end of this is basically done but I want to ensure that the new login system at id.mofostaging.net is stable before we officially switch to it.**

I've implemented the new login/logout flow in #608, and it's even deployed right now at http://mozteach.toolness.org/ if you want to try it out, but I don't want to merge it until id.mofostaging.net is ready for it. Right

[2015-04-09 13:44] LauraHilliger commented on #457
+1 to Greg

We are working with community and partners to create curriculum that covers the map. Specific activities are curated into Club curricular arcs. Additionally, we continue to see people producing their own curriculum (like the Hive Toronto Privacy stuff), sometimes we use it for clubs arcs, sometimes it's curated as for "Teaching Activities" section.

We hope that our future organizing s

[2015-04-09 13:46] toolness commented on #577
So now that #540 is actually fixed, I'm wondering if we still need this?

Also, if we do still need it, I have questions about the design. For example, is just an asterisk next to the field label enough, or do should we also put a "* indicates required field" sort of message somewhere on the dialog? If so, what exactly should that message say, and where should it go? Alternatively, do we want to j

[2015-04-09 14:06] hannahkane commented on #577
I don't think we need this now that #540 has been resolved.

[2015-04-09 14:06] #577 closed

[2015-04-09 14:13] hannahkane commented on #576
Thank you for the update!

[2015-04-09 14:16] hannahkane commented on #583
closing as dupe

[2015-04-09 14:16] #583 closed

[2015-04-09 16:07] Saallen commented on #86
I would like to add a MozFest Volunteer badge to this list please -

[2015-04-09 16:48] ScottDowne opened #627 "Event resources page uses a similar png for an existing svg file"
![logos](https://cloud.githubusercontent.com/assets/197334/7071949/8dea6a92-deb6-11e4-9cb7-27345f52f518.png)

I added both to that screen shot to compare. I labeled them and display them with the other logos to show contrast.

The svg doesn't match, so I was hesitant to use it, because it has a much different shade of green.

[2015-04-09 16:50] ScottDowne opened #628 "Event resource page has weird image placement when in a wider screen"
![2015-04-08_16-14-47](https://cloud.githubusercontent.com/assets/124687/7054460/991a9eb6-de0a-11e4-99fa-25f3eaf4d16b.jpg)

I wasn't sure what to do here.

I didn't want to stretch the image, and I didn't want to center it or split them up, so I left it how it was in the mock ups. We should consider an alternative or better placement.

[2015-04-09 16:51] ScottDowne commented on #628
Also in mobile, the images don't center.

![2015-04-08_16-15-10](https://cloud.githubusercontent.com/assets/124687/7054471/aed19598-de0a-11e4-9c97-4959f579bc61.jpg)

[2015-04-09 16:51] toolness commented on #624
Hey @mmmavis, want to work on this one?

[2015-04-09 16:52] toolness commented on #622
Hey @mmmavis, want to work on this one?

[2015-04-09 16:56] ScottDowne commented on #628
Also also in mobile, The images should shrink if they get larger than the container. Right now they overflow hidden.

[2015-04-09 16:56] toolness commented on #431
Oh, I fixed this in e18f47a383821e68a8e0953920ea902de3ce75c3 actually, so I'm closing this issue... @iamjessklein, I'm not sure what to do about your idea for a more useful widget than a ribbon, though--should we file a new bug for it?

Also, while I like the idea of the feedback widget, one thing I do like about the dev ribbon is that it's (hopefully) obvious to visitors that it will only appear

[2015-04-09 16:56] #431 closed

[2015-04-09 17:00] toolness commented on #509
Hey @iamjessklein, we're actually blocked on design here, as @ScottDowne brought up a good criticism of the proposal at https://github.com/mozilla/teach.webmaker.org/pull/551#issuecomment-89024906.

[2015-04-09 17:01] toolness commented on #481
@mmmavis want to take this one?

[2015-04-09 17:06] toolness commented on #443
I can bust this up. Jess and I were talking about an approach that doesn't involve using the flags, where we could riff off the [LittleBits Chapters](http://littlebits.cc/community/chapters) design:

![2015-04-09_13-03-59](https://cloud.githubusercontent.com/assets/124687/7072272/f812d07e-deb8-11e4-9fe6-f800d084e624.jpg)

Basically, instead of the flags, and instead of the three-letter city codes

[2015-04-09 18:17] mmmavis opened #630 "/activities page is missing hero h1 copy"
I've added the hero section to the /activities page(see PR https://github.com/mozilla/teach.webmaker.org/pull/629).  h1 copy is still needed.

[2015-04-09 18:59] amirad commented on #315
Created https://blog.webmaker.org/how-were-collecting-great-community-stories

[2015-04-09 18:59] #315 closed

[2015-04-09 19:27] amirad opened #634 "[MIGRATED] Close Hive Global Calls and fold into TTW Talks"
Close Hive Global call in next meeting on April 16th. Transition over to TTW talks (add Hive global mailing list to monthly BSD emails). Start mapping Hive needs and potential Hive speakers for TTW talks.

[2015-04-09 19:30] amirad opened #635 "[MIGRATED] Improve communication and sharing across local Hive calls"
Simona to email Elsa, Julia, Lindsay, and Kari to see how far in advance these calls are planned and how we can share call/themes across cities and share information/tweets for social. \\

Make sure all the hives have their calls in the calendar, and share it at the top of each of their monthly call pads for guests to see what else they can join this month. As well as share on social networks.

[2015-04-09 19:36] ldecoursy opened #636 "Update link in Lo-Fi, No-Fi teaching kit"
@LauraHilliger Do you mind updating the first link in the second section, titled "No-fi and paper-based activities."

The activity is currently called "HTML Puzzle Boxes" which is a duplicate of the activity below. The current link is correct but the activity should be called "Learning with LEGO"

Thanks!

[2015-04-09 19:44] amirad opened #637 "[MIGRATED] Transactional Email: Sign up for mentor and mp BSD lists"
Once teach.mozilla.org launches, individuals who sign up for our mailing lists should receive automated information directing them to the new site and resources to get started.

[2015-04-09 19:44] toolness opened #638 "Make the site print-friendly"
Based on the conversation in https://github.com/mozilla/teach.webmaker.org/pull/582#discussion_r28011035 and https://github.com/mozilla/webmaker-curriculum/issues/99 I thought it might be useful to make the Teach site reasonably print-friendly. This shouldn't be too hard, I'm guessing, because we already support browsers that don't have JS, and many of our solutions for supporting those use cases

[2015-04-09 19:46] amirad opened #639 "[MIGRATED] Transactional Email: Sign up to Hive Learning Networks Mailing List"
We need to update this email to include new information and a link to teach.mozilla.org (which is launching in the next heartbeat)
CTA of email: Get information and access resources

[2015-04-09 19:47] ScottDowne opened #640 "the download icon in teach is wrong"
When I first set it up I didn't have access to the icon I needed, so I need to go back and do that.

[2015-04-09 19:47] ScottDowne opened #641 "the event resources page doesn't print very well"
It's mostly the tabbed content is hidden, only displaying the visible tab when you go to print the page.

[2015-04-09 19:48] ScottDowne opened #642 "mobile view for the tab content in event resouces is kinda busted"

[2015-04-09 19:48] ScottDowne commented on #642
It displays the tabs then the content, kinda confusing.

[2015-04-09 19:49] amirad opened #643 "[MIGRATED] Transactional Email: Sign up for Mozfest updates"
Can we re-look and update this email. Sarah, what is the CTA for people who have signed up? Does it make sense to include the new teach.mozilla.org site?

[2015-04-09 19:50] amirad opened #644 "Transactional Email: Sign up for TTW talks lists"
Update to the automated messaging that users see. Should probably include a link to teach.mozilla.org

[2015-04-09 19:55] hannahkane commented on #627
@sabrinang - can you please advise?

[2015-04-09 19:59] #485 closed

[2015-04-09 20:00] amirad opened #645 "[MIGRATED] Transactional Email: Sign up to Hive Mailing Lists and Blogs"
The mobilizing team is on a mission to update all of our transactional emails with the best CTA's and links. This includes all of the Hive lists/blogs that users sign up for and receive an automated email or message. Can each Hive take a peek at their transactional emails and make sure they are updated with the best cta's. Some notes
•With teach.mozilla.org launching within the next heartbeat, ple

[2015-04-09 20:07] ScottDowne commented on #627
Totally not a blocker to shipping.

[2015-04-09 20:08] amirad commented on #645
@omnignorant @smithisgeneric @simonaramkisson @LindseyFrost @jvallera see above.

[2015-04-09 20:09] hannahkane commented on #627
k. :)

[2015-04-09 20:52] #488 closed

[2015-04-09 21:30] #471 closed

[2015-04-09 21:32] #613 closed

[2015-04-09 21:35] #487 closed

[2015-04-09 21:38] #501 closed

[2015-04-09 21:41] #622 closed

[2015-04-09 21:52] mmmavis commented on #624
This was fixed in https://github.com/mozilla/teach.webmaker.org/pull/646

[2015-04-09 21:52] #624 closed

[2015-04-09 22:00] ldecoursy opened #647 "[MIGRATED] Create spreadsheet for counting "active" cities"
Based on https://github.com/MozillaFoundation/plan/issues/395 we need to create a spreadsheet that Regional Coordinators and MLN staff can use to help us count/track "active" cities until a more automated solution is available.

I'll start a draft and share here for input.

cc @hannahkane @thornet @amirad @simonaramkisson @soapdog @adamlofting

[2015-04-09 22:28] #474 closed

[2015-04-09 22:44] #591 closed

[2015-04-09 22:44] ScottDowne commented on #388
Closing!

[2015-04-09 22:44] #388 closed

[2015-04-09 23:02] ScottDowne commented on #619
Top border is us: https://github.com/mozilla/teach.webmaker.org/blob/develop/less/common.less#L10

Left is added when you create a row via bootstrap.

No idea why these are the way they are...

[2015-04-09 23:04] ScottDowne commented on #619
I'm not convinced this is a priority.

For more info on the chrome/bootstrap/left border, it has something to do with the psudo element bootstrap adds to row, it has `content: " "` which for some reason makes chrome go "I'm pretty sure you want a border here".

[2015-04-09 23:05] ScottDowne commented on #619
You can also see the top border in FF, but not the left.

[2015-04-09 23:11] ScottDowne opened #649 "Link at top of event resouces page need to be fleshed out more"
Right now they are simple links, and before I forget, we need to fix these up.

They also need design, I believe. Ricardo told me not to do the ones in the UI comp so he might have more context.

@vazquez

[2015-04-09 23:38] sabrinang commented on #469
I made a few iterations on [Red Pen](https://redpen.io/p/qrad2d47304f4b313e) and here are two directions I like:

![teach-referral1](https://cloud.githubusercontent.com/assets/2492510/7079167/20d9e6b0-ded6-11e4-9cdf-3d83d732d5cd.png)
![teach-referral2](https://cloud.githubusercontent.com/assets/2492510/7079168/221b4f96-ded6-11e4-9c94-8c4b2bdf5594.png)

[2015-04-09 23:41] jgmac1106 commented on #469
I would lose the "through making"  at the end of a sentence. Sentence seems
wordy but I do have a bias against most modifiers.

On Thu, Apr 9, 2015, 7:38 PM sabrinang <notifications@github.com> wrote:

[2015-04-09 23:41] ScottDowne commented on #621
@LauraHilliger I added your name to the list of authors for this kit too, I hope that's alright. Your name is a link to your twitter.

If you want that changed or removed let me know and I can do that before landing this.

[2015-04-09 23:42] jgmac1106 commented on #469
And do we want to use the word mentor instead of educators to let folks
know it is open to informal learning spaces?

On Thu, Apr 9, 2015, 7:41 PM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-04-10 00:26] mmmavis commented on #480
@sabrinang

For the carousel are we using what's on https://party.webmaker.org/ as a reference or http://getbootstrap.com/javascript/#carousel (Bootstrap, currently seen on staging: http://teach.mofostaging.net/events/)?

[2015-04-10 00:56] mmmavis commented on #574
What kind of animation do we have in mind? slide in/out? fade in/out?

[2015-04-10 01:41] mmmavis commented on #481
I have a WIP PR open: https://github.com/mozilla/teach.webmaker.org/pull/654

Question:
- is there any form validation library I should be using?
- need blue vertical bar asset to match the sidebar colour

[2015-04-10 07:41] LauraHilliger commented on #636
updated https://laura.makes.org/thimble/MTUyODMwNDY0/lofi-nofi-teaching-kit

[2015-04-10 09:54] LauraHilliger opened #655 "Swap MINECRAFT kit URL on the Teaching Activities page"
NEW URL: https://epik.makes.org/thimble/NjU2MTQ2OTQ0/minecraft-a-flavor-of-java-epik

[2015-04-10 09:55] LauraHilliger commented on #621
thanks! It's perfect :+1:

[2015-04-10 10:03] LauraHilliger commented on #91
took it to etherpad, did some planning and have a outlined roadmap. Everything is here: https://teach.etherpad.mozilla.org/weblitbasics, and I've already completed #549

This outline needs discussion, will file new issue.

[2015-04-10 10:04] #91 closed

[2015-04-10 10:04] LauraHilliger commented on #549
https://github.com/mozilla/webmaker-curriculum/pull/173

[2015-04-10 10:04] #549 closed

[2015-04-10 11:15] adamlofting opened #656 "Google Analytics for new oAuth2 Flow"
WRT #626

Thanks for flagging this @toolness

The GA events I'd like to see captured are:
* Clicked Create an Account
* Clicked Login
* Clicked Logout
* Logged In
* Logged Out

This will give us enough visibility about 'conversion rates' for the teach site. We'll also have more detailed login data within the id.w.o Google Analytics property where we can look at things like validation errors.

For

[2015-04-10 11:38] toolness opened #657 "Generating static index.html files takes a long time"
I've noticed that generating the static index.html files takes a very long time: about 14 seconds on my fairly new-ish desktop, and upwards of 30 seconds on my 2010 Macbook Air. Removing the static file generation process entirely actually makes the rest of the build process very quick, so it's definitely not webpack or anything else that's slowing things down.

Aside from making things slow, this

[2015-04-10 11:59] #657 closed

[2015-04-10 12:00] toolness commented on #657
It turned out the culprit was actually `gulp-prettify`, which was taking 12 of those 13 seconds! Switching to `gulp-html-prettify` sped things up immensely.

[2015-04-10 12:47] toolness commented on #587
Ok, in 10e25f88d2f39a77dc3800bde59f12ec3cd0dfc9 I changed things so that the minified version of the site is being deployed to teach.mofostaging.net. It's not **identical** to production because it integrates w/ staging servers and it also has the dev ribbon, but in all other respects it is the same.

[2015-04-10 12:47] toolness commented on #587
I think the current situation is probably good for now so I am closing this issue.

[2015-04-10 12:47] #587 closed

[2015-04-10 13:01] adamlofting commented on #656
I've just added outbound link tracking to `react-ga`, with notes on how to use this in the docs: https://github.com/adamlofting/react-ga#gaoutboundlinkargs-hitcallback

This uses the hitCallback on the GA event tracking so as soon as the data is logged we can redirect the user on to the target URL.

[2015-04-10 13:05] adamlofting commented on #656
And we'll need to bump `react-ga` to version `1.0.10`

[2015-04-10 13:15] toolness opened #658 "Lazy-load tabzilla"
Tabzilla is a bit annoying to me because it loads jQuery, which the rest of our site doesn't need (React-based code often doesn't need it, since React takes care of DOM manipulation for us). This will slow down page load times for our users, and it's particularly annoying because lots of our users will never even click on the tabzilla tab!

There's a few potential things we can do to alleviate thi

[2015-04-10 13:31] toolness opened #659 "Profile site performance"
I'm not actually very familiar with site profiling performance. We should do it! Right now we're following a lot of industry best practices by minifying our JS and CSS for production (and [staging](https://github.com/mozilla/teach.webmaker.org/issues/587#issuecomment-91544597)), as well as offering retina/non-retina versions of images, and a number of [other](https://github.com/mozilla/teach.webma

[2015-04-10 13:51] toolness commented on #641
This is a sub-component of #638.

[2015-04-10 14:36] LauraHilliger opened #660 "Update Teach Like Mozilla Scoping Doc"
now that #91 is in order, and the clubs curriculum follows a particular organizational structure, it makes sense to revise the Teach Like Mozilla scope to reflect the new "open fluency" map:

https://teach.etherpad.mozilla.org/weblitbasics

[2015-04-10 14:52] LauraHilliger opened #661 "Title the Teach Like Mozilla modules"
I'm not sure I'm happy with the module naming for Teach Like Mozilla, could use some help:

### Teach I: Teaching and Learning in the 21st Century
learning objectives center around understanding our pedagogies, working openly, finding collaborators, diversity, getting started in our world. (cognitive)

### Teach II: Designing for Global Engagement
learning objectives center around using open, part

[2015-04-10 15:07] simonaramkisson commented on #635
• Teams will begin adding me to invites so the calls/hangouts are in my calendar. I can share this information in office hours with new emerging communities
• All teams are excited to have new cities join their calls especially if the content will be useful

Elsa:
• plans Hive Chicago call at least a week in advance, canvasses for speakers via member updates and Minigroup

Julia:
• plans calls a m

[2015-04-10 15:50] amirad opened #662 "[MIGRATED] Write final report on Maker Party grant"
We need to write a final report for the Maker Party grant. I've sent an email to Angela to get templates of previous reports for us to use as a base.

@chrislarry33 can you provide more info on what needs to be included?
cc: @edrushka @ldecoursy

[2015-04-10 15:53] ScottDowne commented on #641
I would rather close this in favor of #638.

[2015-04-10 15:53] #641 closed

[2015-04-10 16:29] hannahkane commented on #641
Good call. #638 might be the best ticket ever.

[2015-04-10 16:34] davidascher commented on #661
In the canadian educational system, “21st century learning” is code for a lot of stuff that the school board is forcing on the schools — maybe not relevant, but I just want to flag that as a general class of things to be aware of.

[2015-04-10 16:54] hannahkane commented on #659
Agreed we should do it! Let's consider this a candidate for an upcoming heartbeat.

[2015-04-10 16:57] hannahkane commented on #574
@iamjessklein - thoughts on @mmmavis's question?

[2015-04-10 16:59] hannahkane commented on #469
I'm going to designate some decision-makers:
 - @KevZawacki and @ldecoursy - can you guys decide on final copy?
 - @sabrinang @iamjessklein and @vazquez  - can you make the final decision on design/colors, since @cassiemc is out?

Thanks!

[2015-04-10 17:00] toolness commented on #574
I suggest we just go with fade, as it looks nice and is easiest to implement from a technical standpoint. CSS Transitions get tricksy with sliding and there might also be weird issues w/ it on different-sized devices.

[2015-04-10 17:03] KevZawacki commented on #469
I vote for @sabrinang's first version ("Want to teach the web to others?")

Note: We should be capitalizing "Web" throughout. And I think it's a good idea to tighten up the text by dropping "through making."

[2015-04-10 17:06] jgmac1106 commented on #469
Especially given recent data on the FB adwords. Making as learning seems to
be a topic folks must be taught.

On Fri, Apr 10, 2015, 1:03 PM Kevin Zawacki <notifications@github.com>
wrote:

[2015-04-10 17:53] jgmac1106 commented on #661
How about Digital Teaching and Learning for TEACH I. 21st Century (now that
we are a decade and half in is a little vapid). If you are striving for
parallelism Teaching and Learning in Digital Spaces or Teacing and Learning
in Open Spaces (no binary here)

I like TEACH II

TEACH III Building and/or Sustaining a Movement... or...Teaching locally,
Learning Globally....or.... Something that gets at l

[2015-04-10 18:46] mmmavis commented on #481
@sabrinang @iamjessklein can either of you provide the vertical bar file? :blush:

[2015-04-10 19:00] sabrinang commented on #481
you can find the vertical line here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eM05mRzB5cVN4RTQ/view?usp=sharing

[2015-04-10 19:19] iamjessklein commented on #640
@sabrinang can you determine the appropriate glyphicon?

[2015-04-10 19:21] iamjessklein commented on #630
For starters H1 copy should be "Teaching Activities"

Then, on the paragraph below, delete the title "Teaching Activities"

[2015-04-10 19:24] iamjessklein commented on #630
cc/ @ldecoursy @kevinzawacki ^^ :eyes:

[2015-04-10 19:30] iamjessklein commented on #574
Let's go with the fade. :sun_with_face:

[2015-04-10 19:41] iamjessklein commented on #550
For V1:
- [ ] clubs icon = connect icon in pink
- [ ] teach icon = ???? in pink
- [ ] Web lit icon=  brain (learn) icon in pink

Let's try to use existing icons if possible for consistency.

[2015-04-10 19:43] iamjessklein commented on #532
@hannahkane - can you provide some insight here?

[2015-04-10 19:50] hannahkane commented on #532
I don't have an Android device. @ldecoursy - is this still happening for you?

[2015-04-10 19:55] hannahkane commented on #152
We are getting super close to the product being ready for deployment. @simonwex - what do we need to do to check off the last few boxes in the description above?

[2015-04-10 19:56] hannahkane commented on #443
woohoo! excited for the busting that's going to happen. :ghost:

[2015-04-10 19:57] hannahkane commented on #479
pinging @iamjessklein to make sure this issue keeps moving :)

[2015-04-10 19:57] iamjessklein commented on #469
The gray background seems to be the most on brand. @sabrinang can you provide a mockup with the 2 different patterns on 2 gray backgrounds so we can make a decision from those?

[2015-04-10 19:59] hannahkane commented on #515
@ScottDowne - if you're no longer working on Teach, do you want to un-assign yourself from this one?

[2015-04-10 19:59] hannahkane commented on #534
@ScottDowne - if you're no longer on Teach duty, want to un-assign?

[2015-04-10 20:01] hannahkane commented on #573
@toolness - do you need a UI for this?

[2015-04-10 20:07] mmmavis opened #664 "Broken hero retina images on several pages"
Broken hero retina images on Home, Teaching Activities & Mozilla Web Clubs pages

[2015-04-10 20:16] ldecoursy commented on #532
It is. Think @toolness also has and Android, maybe its just me?

[2015-04-10 20:17] ldecoursy commented on #578
Trending towards all agreeing to CC BY-SA but still waiting on a few responses.

[2015-04-10 20:19] iamjessklein commented on #479
It pulls the images from flickr, so they don't need to be uploaded, just linked to by @mmmavis

[2015-04-10 20:34] iamjessklein commented on #642
@ScottDowne are you referring to this (below)?

![screen shot 2015-04-10 at 4 33 53 pm](https://cloud.githubusercontent.com/assets/535012/7096929/75aa9576-df9f-11e4-8074-d7fc8328e3a0.png)

[2015-04-10 20:34] mmmavis commented on #481
@iamjessklein @sabrinang
wondering if we have to include the privacy policy checkbox as well?

[2015-04-10 20:42] ScottDowne commented on #515
@hannahkane I just couldn't fit it in for today, but for the most part I'm going to keep working on teach.

[2015-04-10 20:47] hannahkane commented on #515
Ah, got it. Okay, thanks!

[2015-04-10 20:52] iamjessklein commented on #649
Let's use what is in the original mockup for Inspector Gadget and then file issues against those.

[2015-04-10 21:05] hannahkane commented on #649
+1

[2015-04-10 21:12] toolness commented on #658
Um, so I did do a tiny bit of performance profiling, but I also just kinda wanted to implement the last bullet point because it sounded cool, so I did that in #667.

[2015-04-10 21:38] sabrinang commented on #640
We can use the glyphicon glyphicon-download-alt icon:
![screen shot 2015-04-10 at 2 36 05 pm](https://cloud.githubusercontent.com/assets/2492510/7097906/2d9cf86a-df8f-11e4-9b9b-6e0f6cc0e0f1.png)

[2015-04-10 21:47] iamjessklein commented on #443
Really nice @toolness - this is what I was visualizing. How are these colors generated? It would be nice to build off of our core palette and then move into shades.

[2015-04-10 22:02] sabrinang commented on #550
![icon-connect-pink](https://cloud.githubusercontent.com/assets/2492510/7098173/1dcde82e-df92-11e4-86e9-402fa20f0911.png)
Clubs/Connect icon: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ecVBJam42WGl6VHM/view?usp=sharing

![icon-curriculum-pink](https://cloud.githubusercontent.com/assets/2492510/7098174/1dce3f22-df92-11e4-83bb-eb907a9e9206.png)
Teach/Curriculum icon: https://drive.goo

[2015-04-10 22:37] sabrinang commented on #469
## Preview
![teach-referral-patterns](https://cloud.githubusercontent.com/assets/2492510/7098433/2a203138-df95-11e4-8447-8568b837d64d.png)

## Downloads
You can download all these (transparent .png) patterns here:
small white pattern: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eS1ZDMzh4cEl5V0E/view?usp=sharing
small grey pattern: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pz

[2015-04-11 02:34] ScottDowne commented on #640
I already have a pull request to update it to what was in the original mockups.

No idea how to link to specific icons: http://ionicons.com/

It's the one that looks like this: http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-download-outline.svg

[2015-04-11 05:27] #655 closed

[2015-04-11 05:34] iamjessklein commented on #640
Oh! I believe that I confused glyphicons with ionicons.

[2015-04-11 15:21] toolness opened #670 "Use a form validation library"
As @mmmavis discovered in https://github.com/mozilla/teach.webmaker.org/issues/481#issuecomment-91397570, we are not currently using a form validation library, but instead doing validation in a somewhat ad hoc way by combining HTML5 form validation with kind of [janky fallbacks](https://github.com/mozilla/teach.webmaker.org/pull/593). There are also some things we have yet to validate, like #424.

[2015-04-12 21:37] mmmavis commented on #670
@toolness
I don't have much experience using validation libraries.  One library that we used for engagement team type of work (e.g. EOY campaigns etc) is [ParsleyJS](http://parsleyjs.org/).  It's jQuery dependent and I'm not sure if it's compatible with React.  Will have to do some research on it.

[2015-04-12 22:16] mmmavis commented on #479
@iamjessklein are we pulling images from a Flickr album? a photostream? or? Could you link me to the collection? :rabbit:

[2015-04-12 22:20] hannahkane commented on #670
@toolness, you are obsessed with grooming. :)

[2015-04-13 09:28] LauraHilliger commented on #661
Perfect! Thanks both :) I <3 "Teaching and Learning in Open Spaces" for the first one and Sustaining a Movement is nice too. Going to run those by the sustaining engagement team later this week. Thanks!  (/me goes to change the titles in all the docs.)

[2015-04-13 09:28] #661 closed

[2015-04-13 09:47] LauraHilliger opened #671 "Develop links to Teach Like Mozilla from within activities."
from @hannahkane's blogpost:

This might be a little trickier said than done because some activities exist on user accounts, but we should promote our professional development curriculum through the activities. We can, however, start with all clubs curriculum, and whatever is published under team makes.org profiles.

[2015-04-13 11:02] Saallen commented on #643
The CTA will be as follows
* Submitt a proposal
* Register for a ticket
* Sign up as a volunteer
* remote participation

post festival I think it makes the most sense to push the audience to teach.mozilla.
Pre festival I am not sure there is a clear link just yet

[2015-04-13 11:03] Saallen commented on #644
Sure, I can defintely do this on the footer of the mail out

[2015-04-13 12:37] toolness commented on #413
Update: I tried minifying the CSS before autoprefixing, which was recommended in https://github.com/sindresorhus/gulp-autoprefixer/issues/10#issuecomment-86787366, and it *apprared* to work at first glance: CSS rules were no longer always mapped to `styles.css`. However, upon closer inspection, they were mapped to the wrong line number in the corresponding `.less` file, and sometimes they were eve

[2015-04-13 12:56] #630 closed

[2015-04-13 13:02] LauraHilliger commented on #660
[Updated scoping document](https://docs.google.com/document/d/1quD8jfETB3_vuRc6IqWlbKAcn9bMcLGQOnpBiuH66Mw/edit)

Still need to figure out the 3 module - Idea is for a master level, project based guidebook that helps community members sustain the momentum in their local areas through global connection and promotion.

[2015-04-13 13:03] #618 closed

[2015-04-13 13:04] toolness commented on #618
Ok, this was fixed in #652, which I just merged, but I just noitced that the URL path for the page is still `/mozilla-web-clubs/`. Should it be changed to `/mozilla-clubs/`, or perhaps even just `/clubs/` to make for an easy-to-remember URL (and one that doesn't need to change if we decide to rename yet again)?

[2015-04-13 13:09] LauraHilliger commented on #617
fixed https://github.com/LauraHilliger/webmaker-curriculum/commit/1fd530ecdfc6afc8925210445de9d90c8a1f35cd

[2015-04-13 13:09] #617 closed

[2015-04-13 13:12] LauraHilliger commented on #547
secondary skills listed here: https://teach.etherpad.mozilla.org/weblitbasics

[2015-04-13 13:12] #547 closed

[2015-04-13 13:41] LauraHilliger opened #672 "[Basics II: Privacy] Remix IP Address Activity to fit into Club Curriculum template"
https://hivetoronto.makes.org/thimble/MTkyODM5NzA1Ng==/ip-address-tracer-activity-kit

- Section 1: Reading
- 30 - 45 minutes
- We should include pinging IPs via the Terminal

[2015-04-13 13:51] LauraHilliger opened #673 "[Basics II: Privacy] Remix Data Trail Activity to fit into Club Curriculum template"
https://hivetoronto.makes.org/thimble/MTg3ODA2NTQwOA==/data-trail-timeline-activity-kit

- Section 2: Writing
- 45mins - 1 hour
- Ping @k88hudson for links to any documentation surrounding the IRC decoding game you ran at a Hive Toronto(?)
- Review browser fingerprint, panoptiklink.eff.org and/or browser add ons for expanding the activity

[2015-04-13 13:52] LauraHilliger opened #674 "[Basics II: Privacy] Remix Privacy Coach Activity to fit into Club Curriculum template"
https://hivetoronto.makes.org/thimble/MTkxMTYxOTg0MA==/privacy-coach-activity-kit

- Section: 3: Participating
- 45mins - 1 hour

[2015-04-13 13:55] LauraHilliger opened #675 "[Basics II: Privacy] Remix Testing Password Strength Activity to fit into Club Curriculum template"
https://stacy.makes.org/thimble/MTY3NjY3MzI4MA==/testing-password-strength

- Section I: Reading
- 30 - 45 mins
- Learning objectives need documented

[2015-04-13 13:56] LauraHilliger opened #676 "[Basics II: Privacy] Remix Creating Strong Passwords Activity to fit into Club Curriculum template"
https://stacy.makes.org/thimble/MjUwMDg1NjMy/creating-strong-passwords

- Section 2: Writing
- 30 - 45 mins
- learning objectives need documented

[2015-04-13 13:57] LauraHilliger opened #677 "[Basics II: Privacy] Remix Lightbeam Activity to fit into Club Curriculum template"
https://laura.makes.org/thimble/lightbeam-activity

- Section 3: Participating
- 30 - 45 mins
- need to add a social component to this activity to make it more participatory

[2015-04-13 14:00] LauraHilliger opened #678 "[MIGRATED] [Basics II: Privacy] Augment privacy curriculum with icebreaker activities and further modules"
@smithisgeneric has great icebreakers in the Privacy badges facilitators guide. We should pull from here:

http://hivetoronto.org/wp-content/uploads/2015/03/PrivacyBadgesFacilitatorsGuide_ENG.pdf

[2015-04-13 14:12] jgmac1106 commented on #678
Question about Basics II overall.

 Basics I didn't have an overarching  theme (maybe telling your story) and focused on competencies.

Looking at the new tickets it seemed Basics II is focusing on one skill in one competency across all three strands.

My assumption was we would finish club curriculum for all the competencies. Am I wrong?

[2015-04-13 14:40] ScottDowne commented on #640
Merged

[2015-04-13 14:40] #640 closed

[2015-04-13 14:42] ScottDowne commented on #642
Merged

[2015-04-13 14:42] #642 closed

[2015-04-13 14:43] LauraHilliger opened #679 "Determine curriculum modules we'll produce and test in Q2"
This ticket is to discuss the in-progress roadmap. Production intentions can be found here:
http://mozilla.github.io/webmaker-curriculum/
and the wiki has a timeline: https://wiki.mozilla.org/Webmaker/2015/Mentors/Clubs/Curriculum

cc/ @amirad @ldecoursy @Saallen @thornet @hannahkane @simonaramkisson @chrislarry33

@jgmac1106 said in #678

@jgmac1106 - Yes, with Basics I we were basically doing a

[2015-04-13 14:49] LauraHilliger commented on #56
@soapdog I was roadmapping our curriculum production stuff, and I realized that I needed insight from you on how you've modified the Clubs curriculum for LAN Houses. We were planning on using your insights in a module called "Basics II: Digital Inclusion", so I just thought I would get the conversation rolling!

[2015-04-13 14:49] ScottDowne commented on #618
@toolness Yeah, I think the url should be updated. An argument could be made that it should just be "clubs".

On top of that, http://teach.mofostaging.net/clubs/curriculum/ and http://teach.mofostaging.net/clubs/curriculum/ might also be wrong. It has it as just "clubs"

[2015-04-13 14:52] ScottDowne commented on #515
Merged, let me know if it still needs work, kinda still looks a bit out of place but I don't think it's the size alone that's the issues.

@iamjessklein thoughts? Maybe some top margin would help?

[2015-04-13 15:02] LauraHilliger commented on #90
@benrito I haven't heard about this since I've been back. Can I assume this is safe to close?

[2015-04-13 15:03] LauraHilliger commented on #89
closing as this exists here: https://github.com/mozilla/webmaker-curriculum/wiki/Map-UK-GCSE-Curriculum-to-Webmaker-Club-curriculum-%28and-Web-Literacy-Map-v1.1%29

[2015-04-13 15:03] #89 closed

[2015-04-13 15:08] amirad commented on #643
Great! That's a lot of CTA's - I'm assuming the emails will need to change over time?
Can we start drafting text?
Agree - teach.mozilla is a great push after mozfest

[2015-04-13 15:09] amirad commented on #644
Perfect! LMK when you update and we can check it out/close this ticket.

[2015-04-13 15:14] jgmac1106 commented on #679
Laura,

Thanks this timeline and wiki make sense now. Sorry for the confusion. It
looks like we are making different pathways through the web literacy map
after Basics I (possibly after Basics II) privacy.

We will want to make sure that no matter what path is chosen the majority
if not all competencies are hit by the time clubs complete Basics II.

On Mon, Apr 13, 2015 at 10:43 AM Laura Hilliger

[2015-04-13 15:29] hannahkane commented on #618
+1 to changing it to /clubs

[2015-04-13 15:30] jgmac1106 commented on #618
Another name change. Today must end in "y"

On Mon, Apr 13, 2015 at 11:29 AM hannahkane <notifications@github.com>
wrote:

[2015-04-13 16:21] LauraHilliger commented on #638
relates to #94 (the clubs curriculum could use your hands, stylesheet is very rudimentary IMHO)

[2015-04-13 16:47] ldecoursy commented on #647
Here's a first take: http://bit.ly/1aX85Q0, to be discussed during RC call on Wednesday, then with @adamlofting on Thursday

[2015-04-13 16:59] iamjessklein commented on #424
We should definitely <em>not</em>force the user to type http:// or https:// - should prefix it. We can hit at this by having the http:// already written in the field as part of the prompt.

[2015-04-13 17:09] iamjessklein commented on #479
@mmmavis we appear to be linking to a few individual photos.
* https://www.flickr.com/photos/newyouthcity/14715964794/in/faves-mozilladrumbeat/
* https://www.flickr.com/photos/mozilladrumbeat/14710363742/in/set-72157647527636985
plus the two that are already there.

[2015-04-13 17:10] LauraHilliger commented on #660
need to include "Your First Month" content. Should be compiled from existing as well as new pathways https://teach.etherpad.mozilla.org/sustainingengagement

[2015-04-13 17:10] iamjessklein commented on #469
@cassiemc - can you take a look at these? :eyes:

[2015-04-13 17:12] iamjessklein commented on #481
I'm actually not sure about that. I would assume so. @hannahkane do you know?

[2015-04-13 17:14] iamjessklein commented on #649
@ScottDowne or @toolness do you have the design assets from @vazquez ?

[2015-04-13 17:26] cassiemc commented on #469
Yes, they're great! I like the small white on grey -- feels like it conflicts less with the text.

[2015-04-13 18:03] mmmavis commented on #479
Hey @iamjessklein ,

So we are NOT pulling photos directly like a **feed** from the 2 links above, we preselected 4 photos and tell the carousel to link to the 4 photos on Flickr?

[2015-04-13 18:03] hannahkane opened #680 "Conduct security review of Teach site"
Assigning this to Simon as per release checklist in #152

[2015-04-13 18:05] hannahkane commented on #481
Hmm...looks like we didn't do that on the Maker Party site, but, yes, we should include it here. Thanks!

[2015-04-13 18:05] mmmavis commented on #574
+1 yay!

[2015-04-13 18:21] mmmavis commented on #481
We did include this line below the form @hannahkane :relaxed: , I'll just copy what we have there!

![screen shot 2015-04-13 at 11 20 34 am](https://cloud.githubusercontent.com/assets/2896608/7122267/2f9ec5d4-e1cf-11e4-83b3-f2d0805ae9ed.png)

[2015-04-13 18:29] hannahkane commented on #481
I don't know why I didn't see that. Yes, please. :)

[2015-04-13 18:53] hannahkane commented on #152
@jdotpz - we're good on the domain and the SSL cert, right? Can I check those boxes off in the main ticket description?

[2015-04-13 18:54] hannahkane commented on #468
Closing this as we've completed a minimum amount. This now becomes an ongoing task.

[2015-04-13 18:54] #468 closed

[2015-04-13 18:56] hannahkane opened #681 "Implement teach site referral on Webmaker.org"
Once the design is finalized in #469 and once we release the site #152, let's implement the ad!

[2015-04-13 18:57] hannahkane commented on #469
Wondering if we can close this ticket now, or if there is more work needed?

[2015-04-13 18:57] soapdog commented on #56
Yes we need to get this conversation rolling. Right now we don't have the modifications ready, we're still selecting a curriculum expert to help us. We have a short list of names and we're reviewing it this week. In the meanwhile I am doing the translation and adaptation of our Web Literacy Basics I for our work in here.

I think we should arrange a call later this week to talk about this. =)

[2015-04-13 19:12] cassiemc commented on #469
Ready to close if @sabrinang can just post the final design and assets here, for clarity.

[2015-04-13 19:59] #664 closed

[2015-04-13 20:03] #483 closed

[2015-04-13 20:18] iamjessklein commented on #479
@mmmavis - when I look at the existing code it seems like they are currently just linking to the 4 photos on flickr - no feed.

[2015-04-13 20:21] iamjessklein commented on #469
@cassiemc Here is the final asset that @sabrinang provided:
small white pattern: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eS1ZDMzh4cEl5V0E/view?usp=sharing

:shipit:

[2015-04-13 20:23] iamjessklein commented on #574
who is working on this?

[2015-04-13 20:25] mmmavis commented on #574
I can take this on.  Hopefully it's not too hard to implement :ok_woman:

[2015-04-13 20:31] benrito commented on #90
Hey partner—we are waiting on some work from E1M. It’s not prioritized in any current Heartbeat but please leave open for time being. Thank you!

[2015-04-13 21:12] ldecoursy commented on #578
Nearly all content partners have signed off on CC BY-SA licensing (still waiting on two). I think best solution is to add CC BY-SA license to both the Teaching Activities page (under the 10 individual activities) and at the bottom of the Clubs Curriculum page. Can we say "All featured content, unless otherwise noted, is covered under CC BY-SA."

@hannahkane let me know if you prefer I close this i

[2015-04-13 21:14] cassiemc commented on #469
Great, thanks @iamjessklein! Let's close. Here's the final design:
![teach-announce-small-white](https://cloud.githubusercontent.com/assets/1186326/7125625/8c4247b2-e200-11e4-8f5a-19ee44b5b713.jpg)

[2015-04-13 21:14] #469 closed

[2015-04-13 21:46] mmmavis commented on #480
@iamjessklein
Other than navigating the 4 photos in the carousel using the < and > controls, does the carousel have any other functionality? e.g., lightbox etc?  If we are only showing 4 photos I'm thinking maybe a carousel is not needed.

[2015-04-13 23:05] hannahkane commented on #578
Thanks, @ldecoursy. I updated the original comment in this ticket, and just assigned it to @mmmavis. Mavis - let me know if you have any questions or need a design decision. This is adding a line of copy to two pages.

[2015-04-13 23:22] hannahkane commented on #457
I'd like to add some details about the scope and requirements of this ticket.

1) We are designing a solution that will accommodate any future amount of Web Lit curriculum (whether Mozilla-created, or user-submitted). That likely means the content should be searchable and filterable, rather than just scan-able.

2) This was not intended to necessarily be a solution for the Teach Like Mozilla curri

[2015-04-14 01:03] jgmac1106 commented on #457
@hannahkane great ideas and thanks for the clarification. I wonder though
if drop down menu would work better than tagging. Look at the activities in
the current gallery. Tagging is a mess.

We spent a lot of time debating skill level with the map. Good amount of
talk of this being subjective, but I think well intentioned folks could
agree on activities and kits being basic, intermediate, and adva

[2015-04-14 01:37] mmmavis commented on #578
@hannahkane , I didn't read all the convos above and just added the copy to the 2 pages.  See screencaps below.  PR open here: https://github.com/mozilla/teach.webmaker.org/pull/684

#### ===  Clubs Curriculum page === ####
![screen shot 2015-04-13 at 6 36 13 pm](https://cloud.githubusercontent.com/assets/2896608/7128779/052445a8-e20c-11e4-82c2-69d305dd7523.png)

#### === Activities page === ####

[2015-04-14 03:13] hannahkane commented on #578
+1. Thanks!

[2015-04-14 10:07] #578 closed

[2015-04-14 10:08] #479 closed

[2015-04-14 11:02] LauraHilliger commented on #56
Ok! Shall we wait until after you've had the time to talk to the curriculum person you're hiring/contracting?
Digital Inclusion is highly contingent on locale, and I think it's a strange topic for Clubs curriculum – we might rethink this as a professional development module (e.g. How to Foster Digital Inclusive). @thornet did you have a different idea here for club learners?

[2015-04-14 13:48] ldecoursy opened #685 "Three small copy changes on Teaching Activities page"
For the Creative Commons GIF Exchange and CSS Story Cards activities, the "Developed By" text should read as follows: MOUSE (Hive NYC member)

For the last activity featured on this page https://teach.mofostaging.net/activities/, entitled "Girls in Tech: Hacking My Media," under Developed By, please change from Stephanie Guthrie to Steph Guthrie.

Thank you!

[2015-04-14 14:46] toolness commented on #659
I used [YSlow](http://yslow.org/) on https://teach.mofostaging.net/ and we got a "B", which isn't bad!

All the recommended performance improvements, like [adding cache-control headers](https://developer.yahoo.com/performance/rules.html#expires), seem to be things that we can only really control via S3/CloudFront, and how we do them will change if/when we switch to [using a lightweight server to r

[2015-04-14 14:48] iamjessklein commented on #480
@mmmavis I just looked at the carousel on party.webmaker.org and now understand the context for your questions.

I think that we should just have the video and then the thumbnails below (no carousel) and then have the link to the flickr stream in the text below.

[2015-04-14 14:49] toolness commented on #656
Ok, I think this is also blocked on https://github.com/adamlofting/react-ga/issues/14, since an `<OutboundLink>` component would be the easiest way to add this functionality to Teach.

[2015-04-14 14:51] hannahkane commented on #457
Thanks, @jgmac1106. I don't think I specified tagging anywhere, and if I did, I didn't mean to. I try to leave UX questions pretty open so that UX designers can come up with a variety of ideas for the rest of us to respond to.

[2015-04-14 14:53] iamjessklein commented on #481
I'm wondering if we should have this checked so that when someone clicks the button, it implies they agree with the privacy policy. This is the way it looks on the soon to be implemented login page:

![screen shot 2015-04-14 at 10 52 55 am](https://cloud.githubusercontent.com/assets/535012/7139448/7912137c-e294-11e4-9f7d-5cf8a88cf146.png)

[2015-04-14 15:09] jgmac1106 commented on #457
Yeah the tagging and gallery  it was my only reference point. I left more
detailed feedback as a comment on your blog but this seems to be an issue
with users. They are looking for an easy navigable library of resources.

On Tue, Apr 14, 2015, 10:52 AM hannahkane <notifications@github.com> wrote:

[2015-04-14 15:12] toolness opened #686 "Use react-router to manage modals"
As mentioned in #567 and alluded to in https://github.com/mozilla/teach.webmaker.org/pull/373#discussion_r26956659, we may want to consider giving modals their own routes, e.g. `/mozilla-web-clubs/add` for the "add a club" modal. This has a number of benefits:

* It allows react-router to do much of the work of showing/hiding modals.
* Links to modals can be shared between users. (For instance, we

[2015-04-14 15:31] toolness opened #687 "Use a model library"
We might want to consider using a "real" library for managing models and collections, e.g. [`Backbone.Model`](http://backbonejs.org/#Model) or [`ampersand-model`](https://github.com/AmpersandJS/ampersand-model), rather than doing things the ad-hoc way that we're currently doing.

Potential benefits:

* Right now our ad-hoc mechanism updates the entire collection of Clubs wholesale; there isn't any

[2015-04-14 15:44] LauraHilliger commented on #23
we talked about this a little in our sustaining engagement call. Have scoped some things in the Teach Like Mozilla content (italics are topics scoped for TLM), and have noted:

### Your 1st Month as a Regional Coordinator
* (*Finding your Crew, Working Openly, Open Tools*) Focus in on Recruitment. Kickoff meetings. Protocols & patterns for coordinating clubs. How to connect with RCs and regions (v

[2015-04-14 16:30] hannahkane commented on #680
@simonwex - let me know if you need anything to start this process.

[2015-04-14 16:45] hannahkane commented on #532
@ldecoursy - What version of Firefox and Android are you using?

[2015-04-14 16:59] hannahkane commented on #670
Grooming notes:
 * P3
 * effort includes researching libraries
 * this is related to browser support question since forms require js
 * may become higher priority if we have more complicated forms

[2015-04-14 17:03] hannahkane commented on #638
Grooming notes:
* P2: make it possible to print
* P3: make it ideal
* Effort for P2: small to medium

[2015-04-14 17:06] ldecoursy commented on #532
Firefox 21.0 on Android 4.4.4

[2015-04-14 17:08] hannahkane commented on #585
Grooming notes:
* This should be a pre-req for user profiles or other major UGC
* Effort: building the cacheing infrastructure will be the difficult part (unexplored territory)
* Resources: will need devops support

[2015-04-14 17:13] hannahkane commented on #294
Grooming notes:
 * p1
 * Effort: large (b/c involves upgrade of all react components)

[2015-04-14 17:22] soapdog commented on #56
ITS already made a shortlist of curriculum experts and we have a tentative candidate that we'd like to approach. I am going there on 16th of April and will check out everything. I will get back and update this task as soon as I have more information.

[2015-04-14 18:05] mmmavis commented on #604
@iamjessklein @sabrinang just tagging you girls here in case there is any design tweak that you want to suggest :dancer:

[2015-04-14 18:13] mmmavis commented on #604
@hannahkane
I'm gonna put this in Inspector Gadget milestone for now (mainly just for it to appear in this [list](https://github.com/mozilla/teach.webmaker.org/issues?q=assignee%3Ammmavis+is%3Aopen)).  Feel free to move it to the next milestone if that makes more sense.

[2015-04-14 18:18] hannahkane commented on #604
Good by me. Thanks, @mmmavis. :)

[2015-04-14 19:20] mmmavis commented on #481
@iamjessklein did you mean the ":heavy_check_mark: By signing up, I agree to...] becomes like a note instead of an option for users to toggle?

[2015-04-14 19:32] mmmavis commented on #480
Does anyone know where the "Flickr gallery" goes to?

[2015-04-14 19:42] hannahkane commented on #480
Looks like we link to this from current Maker Party site: https://www.flickr.com/photos/mozilladrumbeat/galleries/72157643962655534/

@admirad - can you confirm that's the right gallery to link to on the MP page of the new site?

[2015-04-14 20:07] ldecoursy commented on #685
One additional small change.

For the last activity featured on this page https://teach.mofostaging.net/activities/, entitled "Girls in Tech: Hacking My Media," under Developed By, please change from Stephanie Guthrie to Steph Guthrie.

Thanks!

[2015-04-14 20:09] hannahkane commented on #685
@mmmavis - would you be able to do this one as well?

[2015-04-14 20:11] mmmavis opened #689 "CSS sourcemap doesn't work on FF"
I tried

1. create a .env file
2. put `export LESS_AUTOPREFIXER=off` in the .env file
3. run `source .env`
4. run `npm start`

AND

1. creating a .env file
2. run `LESS_AUTOPREFIXER=off npm start`

both approaches don't work

Note:
1) sourcemap shows up fine on Chrome v41
2) I'm on FF v37

[2015-04-14 20:13] mmmavis commented on #480
@amirad ^ :smile:

[2015-04-14 20:16] amirad commented on #480
admirad say's that it goes to that album of 18 of our top pictures. :P
We have other albums with many more pictures or can even stream to #makerparty hashtag on flickr though those already curated by us album is probably best.

[2015-04-14 20:19] hannahkane commented on #480
@hananah is sorry for the typo. :)

@amirad - can you pick an album that you like?

[2015-04-14 20:20] ldecoursy commented on #636
Hi - one more change please @LauraHilliger !

Update link for Hacking My Media to: https://stephguthrie.makes.org/thimble/ODU3ODAxMjE2/hacking-my-media-with-x-ray-goggles

Steph just updated your latest version to include names of other contributors.

[2015-04-14 20:25] amirad commented on #480
haha, we can just use that one you already linked to. (unless you want a scroll of hundreds of pictures)

[2015-04-14 20:26] hannahkane commented on #689
@mmmavis - Is this a blocker for launch? I can't tell.

[2015-04-14 20:32] mmmavis commented on #689
It's def not a blocker.  Created this ticket so that we don't forget to tackle this when we have time.

[2015-04-14 20:35] iamjessklein commented on #480
:carousel_horse:

[2015-04-14 20:44] mmmavis commented on #685
for sure, PR open here: https://github.com/mozilla/teach.webmaker.org/pull/691

[2015-04-14 21:21] toolness commented on #294
Hey, good news! Effort here is actually **extra small (XS)** and raised way fewer issues than I thought it would. Still need to do some manual testing to make sure everything is actually OK, but after a bit of fixing in #692, was able to get all tests to pass without any warnings.

[2015-04-14 21:34] toolness opened #693 ""[react-ga] modalName is required in .modalview(modalName)" warning in tests"
Should be pretty easy to fix.

[2015-04-14 21:35] toolness opened #694 ""Each child in an array should have a unique "key" prop" warning in tests"
Full log message:

Should be pretty easy to fix.

[2015-04-14 21:45] toolness commented on #541
Update: in #692 I upgraded `react-select` to 0.4.6 and hoped that it would fix this problem, but it didn't. :( Should probably just file a bug in that project.

[2015-04-14 21:51] toolness commented on #694
Hey @mmmavis would you be interested in hunting down this bug and fixing it?

[2015-04-14 21:57] mmmavis commented on #694
YES! :metal:

[2015-04-15 04:29] ScottDowne commented on #532
I'm on FF 37 and android 4.1.2, and it displays fine for me.

My guess is it's the older version of firefox. We should try to reproduce it with that.

[2015-04-15 08:09] mmmavis commented on #481
What happens after the form is successfully submitted?  Do we redirect users to a thank you page or ...?

[2015-04-15 08:21] LauraHilliger opened #695 "Update URL on Teaching Activities page: Girls in Tech: Hacking My Media"
NEW URL:  https://stephguthrie.makes.org/thimble/ODU3ODAxMjE2/hacking-my-media-with-x-ray-goggles

[2015-04-15 08:22] LauraHilliger commented on #636
filed #695, as we need to update the URL on the teaching activities page

[2015-04-15 08:22] #636 closed

[2015-04-15 10:52] #693 closed

[2015-04-15 10:58] #480 closed

[2015-04-15 12:37] toolness opened #696 "Video says "activate Adobe Flash" on latest Firefox, which supports HTML5 video"
I'm not sure if it's the default, but I have my plugin preferenes to not load Adobe Flash content unless I give it permission:

![2015-04-15_8-33-06](https://cloud.githubusercontent.com/assets/124687/7158713/bb1e1b9c-e34a-11e4-9511-8dcbf39267d4.jpg)

This means that the video on the events page looks like this in my browser:

![2015-04-15_8-35-28](https://cloud.githubusercontent.com/assets/124687/

[2015-04-15 12:53] iamjessklein commented on #481
First of all, fantastic use of the :heavy_check_mark: emoji, @mmmavis - and yes, it's just a note vs. an additional action.

Second, yes, I was just looking and it doesn't look like a flow is mocked up, but we should have a confirmation of signup message. I will mock that up today.

[2015-04-15 13:01] iamjessklein opened #697 "Design confirmation notification for mailing list sign up"
As per the convo on #481 the flow is currently incomplete.

[2015-04-15 13:30] toolness commented on #679
I keep reading this issue as "discuss circular roadmap" and then having nightmares about finishing the site, only to go back to square one because our project roadmap is circular.

[2015-04-15 13:34] toolness opened #698 "Expander component doesn't have unit tests"
I noticed that `components/expander.jsx` doesn't seem to have any unit tests, which is concerning because there are JS event handlers in it.

@ScottDowne would you be interested in writing tests for this? I think you could probably use the [sidebar tests](https://github.com/mozilla/teach.webmaker.org/blob/develop/test/browser/sidebar.test.jsx) as a jumping-off point.

[2015-04-15 13:35] toolness opened #699 "Tabulator component doesn't have unit tests"
I noticed that `pages/event-resources.jsx` doesn't seem to have any unit tests, which is concerning because its `Tabulator` component has JS event handlers in it.

@ScottDowne would you be interested in writing tests for this? I think you could probably use the [sidebar tests](https://github.com/mozilla/teach.webmaker.org/blob/develop/test/browser/sidebar.test.jsx) as a jumping-off point.

[2015-04-15 13:57] #293 closed

[2015-04-15 13:58] toolness commented on #293
Ok, in bf48f75e3088108fb0842b2824b049832dc4f434 I made the following very noticeable message appear if browser tests fail:

![2015-04-15_9-55-57](https://cloud.githubusercontent.com/assets/124687/7160254/e98b3d4c-e355-11e4-8459-0f13ff806991.jpg)

[2015-04-15 14:45] jgmac1106 commented on #679
What is most telling was the confusion of users in Hannah's testing about
the club curriculum and the learning activities.

They wanted more and couldn't tell the difference.

They were also slightly confused by navigation.

We are at the limits of my knowledge (its a short journey) but current
curriculum is on github pages.

Will this continue? Can curriculum development occur separate of the sit

[2015-04-15 16:00] ScottDowne commented on #698
Yeah, I should do this. It'll be a p2 for me though.

[2015-04-15 16:02] ScottDowne commented on #698
Is the idea we just test cs related things? And not css/html related things?

If that's the case, I think this only has one js interaction, and it's an enhancement and not required. So this should be a good starting point for my test making experience. (It's been a long time)

[2015-04-15 16:03] ScottDowne commented on #699
I'll do this after the expander tests.

[2015-04-15 16:07] toolness commented on #698
Rad!

Yeah, I think testing css/html is hard for various reasons, so just JS stuff would be great.

[2015-04-15 20:05] hannahkane opened #700 "Implement button design with Webmaker logo"
This is to signal to the user the connection between Teach and Webmaker, in terms of authentication.

We decided to use option 3 here: https://redpen.io/vy733a8b80210605bd

The svg for the logomark is here: https://www.dropbox.com/s/4yndkmm0b1b92u3/logo-webmaker-flat.svg?dl=0

[2015-04-15 20:33] hannahkane commented on #700
@mmmavis - can I assign this one to you?

[2015-04-15 20:33] secretrobotron commented on #700
Do we have some assets for the button floating around? (the webmaker logo image, really)

[2015-04-15 20:37] hannahkane commented on #700
Hmmm...I got the dropbox link from the design ticket, but it doesn't seem to work. @cassiemc - can you please provide?

[2015-04-15 20:38] toolness opened #701 "@darkBlueSidebarColor is defined twice in variables.less"
[code]

Which one wins? We should probably remove whichever one we don't want...

[2015-04-15 20:45] ScottDowne commented on #515
Closing.

[2015-04-15 20:45] #515 closed

[2015-04-15 20:52] cassiemc commented on #700
This link wfm @hannahkane (it's a white svg) - can anyone else test?

[2015-04-15 20:56] secretrobotron commented on #700
WFM: https://dl.dropboxusercontent.com/u/7054348/logo-webmaker-flat.svg

[2015-04-15 21:49] davidascher opened #703 "tabzilla menu uses a tiny font"
![screenshot 2015-04-15 14 48 47](https://cloud.githubusercontent.com/assets/51278/7169900/911968ae-e37e-11e4-85ae-e5353724e82d.png)

off of https://teach.mofostaging.net/

[2015-04-15 21:50] mmmavis commented on #703
ah, this again, i'll fix it

[2015-04-15 22:57] mmmavis commented on #700
Does "Create an account" go first or "Log in"?  [Staging](https://teach.mofostaging.net) doesn't match what we have on [mockup](https://redpen.io/vy733a8b80210605bd).

[2015-04-15 23:01] hannahkane commented on #700
Let's match the mock-up.

[2015-04-16 10:15] LauraHilliger commented on #679
In the short term, github pages will continue. But it's likely not sustainable b/c github is a huge lift for most of the folks who actually DO instructional design. If we want to exponentially expand the curricular library we'll need to consider other submission methods.

[2015-04-16 10:32] jgmac1106 commented on #679
I don't mind using Thimble until Thimble 2.0 launches.

The hardest part  of using the old kits and activities was trying to get
the external CSS working.

I could do it now but when I started I would mess it up as I tried to copy
and paste the code from Thimble into WordPress.

We should try to keep the external stylesheets minimal so people can grab
code for their own websites.

Does this mess u

[2015-04-16 13:05] LauraHilliger commented on #672
https://github.com/mozilla/webmaker-curriculum/pull/181

[2015-04-16 13:05] #672 closed

[2015-04-16 14:53] LauraHilliger commented on #675
https://github.com/mozilla/webmaker-curriculum/pull/182

[2015-04-16 14:53] #675 closed

[2015-04-16 15:03] secretrobotron commented on #700
@mmmavis just a heads-up: @toolness didn't push new login stuff to staging yet. The latest is on http://mozteach.toolness.org/ which does point to login already.

[2015-04-16 15:41] ldecoursy commented on #647
@adamlofting is thinking through how we can better log individual activities (separate but connected tab in the spreadsheet for now)

Also looking at how we collect/report this data in three phases:
* Our team works with this spreadsheet for next three weeks inputting what we know
* Share on first RC kick-off call in first week of May, get feedback and determine reporting mechanism that works best

[2015-04-16 15:59] hannahkane commented on #679
Just a quick note to say that the question of easier submission of activities is represented on what is currently line 112 of the product roadmap (http://wiki.webmaker.org/Teach)—"allow users to easily create beautiful activities and kits." That one little line encompasses a whole lot of thinking we'll need to do. Personally, I can't wait! :)

[2015-04-16 16:06] LauraHilliger commented on #679
@hannahkane Me neither! Should do some braindumping...

[2015-04-16 17:27] hannahkane opened #706 "Add links to Events Resources page"
THE BASICS
* Make Some Gear:
  * "logo" should link to eps logo file
  * "shirts" in "what your shirts could look like" should link to https://party.webmaker.org/img/makerparty_tshirtpreview.jpg (let's move that file to teach, though)
  * "this activity" should link to https://tbx.makes.org/thimble/stencil-a-tshirt
  * "certificates" should link to https://makerparty2014.makes.org/thimble/LTEzNDM3

[2015-04-16 17:29] hannahkane commented on #706
@mmmavis, this one is a doozy, similar to the one you did for the Clubs Toolkit, though it includes some resources that are currently hosted on party.webmaker.org that I'd like to move over to teach.mozilla.org. Is that possible?

[2015-04-16 17:38] ldecoursy commented on #685
Hi @mmmavis, can you please remove the second reference to Hive NYC for the CC Gif Exchange and CSS Story Cards activities?

Currently reads: MOUSE (Hive NYC member), and Hive NYC
Should read: MOUSE (Hive NYC member)

Thanks!

[2015-04-16 18:33] hannahkane opened #707 "Typo on Clubs page"
In the first item on the list on the clubs page, "literacy" is spelled incorrectly (currently spelled as literary) https://teach.mofostaging.net/mozilla-web-clubs/

[2015-04-16 18:35] mmmavis commented on #685
np, i have a PR open now.

[2015-04-16 19:30] ldecoursy opened #709 "Add photo credits on Participating on the Web activity"
Hi -

Just heard back from Rookies - we need to add two photo credits on this page: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-storyofus.html

* On the the photo of the four girls in the sidebar, credit should be: WNYC Radio Rookies
* On the photo of the two boys on the bench doing the interview, credit should be: Sanda Htyte

@thornet or @LauraHilliger, can you ple

[2015-04-16 19:30] #700 closed

[2015-04-16 19:34] mmmavis commented on #706
@hannahkane
I think it's doable.  Do you have a preferred directory/path for the few assets you mentioned above to go? e.g. `teach.mozilla.org/PATH_YOU_WANT/helloworld.pdf`

cc @toolness

[2015-04-16 20:27] hannahkane commented on #618
hey @ScottDowne - did we end up changing the path to /clubs?

cc @secretrobotron

[2015-04-16 20:27] secretrobotron commented on #618
On staging, /clubs goes to a page that looks pretty broken. We just landed some code that points to /mozilla-web-clubs.

[2015-04-16 20:39] hannahkane opened #710 "Create implementation plan for Cred.ly"
We are considering offering Learning Networks badges through Cred.ly.

Work is being done now to finalize the decision, but in the meantime we need to create an implementation plan that accounts for the following product requirements:
 * Seamless account creation/authentication experience for Teach users (that is, Webmaker users)
 * Badge creation and issuing experience, initially only for staff m

[2015-04-16 20:40] hannahkane commented on #710
cc @simonwex who might have detail regarding what should go in the implementation plan.

[2015-04-16 20:50] hannahkane opened #711 "Design user profile editor and viewer"
A main purpose of the Teach site is to connect our community members to one another, so an important feature will be to allow users to create rich profiles that showcase their skills and interests. Later iterations will focus on search and discovery among the profiles.

### Fields to include: ###

User entered data
 * name
 * photo
 * location
 * contact info
 * languages
 * skills
 * interests

T

[2015-04-16 20:51] hannahkane commented on #711
Question for @sabrinang and @iamjessklein - should I create a separate ticket for the UX pieces of this, or does it make sense to work together on a shared ticket?

UX stuff I can think of:
 * How does the user access their profile - to create it or edit it?
 * Process for saving their profile
 * Process for deleting
 * Photo upload UX
 * Location UX (same as on the Clubs form?)
 * Languages, Skil

[2015-04-16 22:09] hannahkane commented on #706
hmmm.... is /assets/ appropriate?

[2015-04-16 22:09] hannahkane commented on #700
w00t. looks good!

[2015-04-17 00:39] mmmavis commented on #574
Hey @toolness (and @ScottDowne :wink: ),

Can I get some help on this?  I followed the [animation doc](https://facebook.github.io/react/docs/animation.html#getting-started) and simply just
1. wrapped our modal component in `<ReactCSSTransitionGroup>`, see [here](https://github.com/mozilla/teach.webmaker.org/pull/712/files#diff-04ec77825926d271a38170cfb92cddddR27)
2. added `key` attribute to, see [

[2015-04-17 01:15] #707 closed

[2015-04-17 04:13] ScottDowne commented on #621
merged

[2015-04-17 04:13] #621 closed

[2015-04-17 04:15] #685 closed

[2015-04-17 09:29] LauraHilliger commented on #709
https://github.com/LauraHilliger/webmaker-curriculum/commit/bd25ffb7fcfbf6e2da1837765f5ecc014f2dc173

[2015-04-17 10:54] toolness opened #714 "/events/resources/ fails to load ionicons.ttf and iconicons.woff"
When loading `/events/resources/`, this shows up in my browser console:

![2015-04-17_6-53-37](https://cloud.githubusercontent.com/assets/124687/7200803/88a1795e-e4ce-11e4-8450-afbf04a09e91.jpg)

Note that this is logged *only* when loading `/events/resources/`, other pages load without raising the warning.

It looks like this has probably been happening since #396.

[2015-04-17 11:00] thornet commented on #679
@LauraHilliger and I did some updating of the curriculum queue:
http://mozilla.github.io/webmaker-curriculum/

I still think the TLM stream needs some edits. Maybe:

* Your first month: How to Club for Regional Coordinators [Producing, Q2]
* Your first month: How to Club for Club Captains [Producing, Q2]
* Teach I: Teaching and Learning in Open Spaces [In Queue, Q3]
* Teach II: Designing for Globa

[2015-04-17 11:01] thornet commented on #647
+1 and adding @soapdog to review and weigh in with how he'd like to track his clubs. Good proto-RC feedback. ^^

[2015-04-17 11:08] thornet commented on #298
The post is ready to go. @LauraReynal is publishing it on blog.webmaker.org and we'll cross-post on our personal blogs.

We should also queue up some posting continuing to discuss this idea.

[2015-04-17 11:10] thornet commented on #457
+1 to all of Hannah's points. I like the menu metaphor.

[2015-04-17 11:11] thornet commented on #59
LDAPs secured. @soapdog is meeting regularly with Mozilla Learning team and with local partners. Closing the ticket.

[2015-04-17 11:11] #59 closed

[2015-04-17 11:13] thornet commented on #172
Current update: 7 confirmed RCs. 1:1 interviews continuing through next week. Kickoff call with RCs scheduled for May 5.

[2015-04-17 11:13] #260 closed

[2015-04-17 11:14] LauraHilliger commented on #679
Just noting that TLM isn't that clean from the production standpoint. Your 1st Month is a compilation from I, II or III, so really we're producing all the things in parallel.

Waiting to add a new one to the WebLit Stream – was thinking it would be good to produce privacy and then cross-check what competencies we missed b/w Web Lit Basics and Privacy Basics. Then cover those in the 3rd "basics"

[2015-04-17 11:19] LauraHilliger commented on #201
holy! Just found @smithisgeneric's resource on adding Appmaking. This is good to pull from/think about for this ticket: https://karenlouisesmith.makes.org/thimble/LTk0ODk1ODcy/align-with-appmaking

[2015-04-17 11:19] LauraHilliger commented on #404
https://keyboardkat.makes.org/thimble/MTEzODQyNjExMg==/appmaker-for-educators-teaching-kit

[2015-04-17 12:07] LauraHilliger commented on #673
first draft, leaving issue open to discuss if we should add extensions (time is short already...)

https://github.com/LauraHilliger/webmaker-curriculum/commit/93b914866e72e5fa31b9231f86b83b4068a2ad13

[2015-04-17 12:27] jgmac1106 commented on #298
One thing to think about with cross posting is planet webmaker. You often
end up with the same post three times in the feed. Not sure how many people
use the RSS feed. I do.

On Fri, Apr 17, 2015 at 7:08 AM Michelle Thorne <notifications@github.com>
wrote:

[2015-04-17 13:01] LauraHilliger commented on #676
https://github.com/mozilla/webmaker-curriculum/pull/184

[2015-04-17 13:01] #676 closed

[2015-04-17 13:44] toolness commented on #574
Ah ok, I just issued a PR to #712 at https://github.com/mmmavis/teach.webmaker.org/pull/1 which fixes things! The description of that PR hopefully explains what was going on.

[2015-04-17 13:58] toolness commented on #706
HMM.

What about `/event-resources/`, since it seems like the stuff on the other site is in `/party-resources/`? I like that a bit better just b/c `/assets/` could be interpreted as kind of ambiguous--e.g., does it mean assets the website needs to function properly, or assets that others can use to host their own events?

Perhaps `/downloads/` might be even more clear, as it makes it obvious that