[2016-09-28 16:55] hannahkane commented on #2231
https://github.com/mozilla/learning.mozilla.org/issues/2275

[2016-09-28 19:08] hannahkane commented on #2243
We don't ask the user to tell us their latitude/longitude, right? That's derived from the location. @KGorr - Can you clarify why we'd want to let them adjust their lat/long?

We also don't ask for the owner's email address via the CC form, right? We pull that from their Webmaker account. I don't think we can let them edit that from the CC form.

[2016-09-28 19:35] KGorr commented on #2243
@hannahkane - I think you are right about the email address, but it goes back to a conversation we had awhile ago. Regardless of how we collect it, I run into typos and bounce backs quite often.

Regarding the lat/longitude - over the span of this year I've had to go in and manually update about 15-20 club coordinates because they didn't populate correctly. Or because it looks like there are 5 clu

[2016-09-28 19:40] hannahkane commented on #2243
Thanks, Kristina. Agree that the email address issue is a problem. We'll have to solve it on the id.webmaker.org side, though (see https://github.com/mozilla/id.webmaker.org/issues/424). Solving it here would just create a conflict.

What's the process you use for adding lat/long? How do you decide what lat/long to enter? (Wondering if that's something we can expect users to do.)

[2016-09-28 20:00] KGorr commented on #2243
Sounds good @hannahkane. If a CC or RC tells me a club is showing up incorrectly on the map, I ask them to send me the lat/long and I'll make the change. So far, no one has said they can't provide the info. Once I have it, I update it manually and then ask them to verify it is showing correctly. Hope that helps!

[2016-09-28 20:10] KGorr opened #2276 "Add new "denial reason" field to Clubs application"
Now that Clubs is split between Mozilla Clubs and Campus Clubs - we are finding that many people are applying to Moz Clubs but should be redirected to Campus Clubs. In this instance, we are denying their application and sending them a link to apply for Campus Clubs. To keep track of how many and who, it would be awesome to have "Campus Club" as a denial reason option. (We'd also like an automated

[2016-09-28 20:28] hannahkane commented on #2243
I'm going to open up a separate ticket about the map/location issue.

For this ticket, @pomax, what do you think about offering an edit modal that allows the user to edit their Club name, url, Club description, and location?

[2016-09-28 20:32] hannahkane opened #2277 "Consider different, non-map based solution for displaying Clubs"
The Clubs Map has caused several problems.

From @KGorr: "Regarding the lat/longitude - over the span of this year I've had to go in and manually update about 15-20 club coordinates because they didn't populate correctly. Or because it looks like there are 5 clubs all at the same location when they are actually spread out around the city (usually RCs send these types of requests)."

The purpose of

[2016-09-28 20:34] mmmavis opened #2278 "Deployment question"
Hey my lovely colleagues!

Since almost every MoFo eng is out today, I was asked to help make a new release to production. Everything on staging was good to go but after I clicked on the "Promote to production" button on Heroku our WIP credentials work got pushed to production. I'm curious to know what I did wrong, is there a step that I missed? I assume credentials work is toggled via env var and

[2016-09-28 20:57] xmatthewx commented on #2277
+1 to a simpler list with regional groupings like science. Placemarkers on a static map would need much less precision. And we could remove placemarkers and just put a total count on top of each region.

We could put analytics events on a list. Not sure we can do that for the map. It's hard to know if people use it, if they get stuck, if something breaks.

[2016-09-28 21:03] mmmavis commented on #2278
`ENABLE_BADGES` flag isn't set on production - which means it's a falsy value - badges work shouldn't show on production. I'm not sure what caused the production. 👀

[2016-09-28 21:06] cadecairos commented on #2278
I'll need to familiarise myself the build process - But I'd wager that it is building environment variables right into the webpack outputs at build time, rather than fetching configuration at runtime. This breaks the promote button because it expects apps to conform to the [12 factor principles](12factor.net) and assumes it can just copy the build result over to the new environment (which results

[2016-09-28 21:07] cadecairos commented on #2278
To fix this, you'll need to go to the learning.mozilla.org app on Heroku, navigate to the deploy tab, and at the bottom there's a section for manual deploys. ensure "master" is selected and then hit the deploy button!

[2016-09-28 21:11] mmmavis commented on #2278
@cadecairos ahhhh now I remember there were emails sent out about this. We should definitely add a deployment section on README so people who work on multiple repos don't get confused. 😉

[2016-09-28 21:19] mmmavis commented on #2278
@cadecairos it gave me a Heroku Application Error .... 😭

[2016-09-28 22:57] taisdesouzalessa commented on #1815
Thanks for the answers, Julia.

Here are the latest mockups:
https://redpen.io/p/nj4f7768ca3e7b79cf

@jvallera @xmatthewx @hannahkane please take a look and let me know if there is any additional feedback (add it to RedPen).

If it is good to go please let me know here so I can move to next stage: provide assets to Gavin.

[2016-09-28 23:31] hannahkane commented on #1815
Great work, @taisdesouzalessa!

Added a couple comments to the redpen, but no blockers. +1 from me to advance to implementation.

[2016-09-29 00:53] cadecairos commented on #2278
### Update

The problem turned out to be a bug in the [babel-preset-es2015 package](https://github.com/babel/babel/issues/4592) that was introduced earlier today. A patch update was released to fix it, and we shouldn't have build issues anymore.

[2016-09-29 00:53] #2278 closed

[2016-09-29 10:35] chadsansing opened #2279 "Add Web Literacy for Library Staff workshop to /activities"
Page content here: https://docs.google.com/document/d/1kSxbSAXDb5pdXo_3x_Ag5Od5ziARtly4FL4Qw1Cckgk/edit#heading=h.nir6usoqepnq

@hannahkane, @anmechung

[2016-09-29 15:05] alanmoo commented on #2107
Should something be happening with this right now? I noticed it's open and in this milestone, but not sure why.

[2016-09-29 16:22] jvallera commented on #1815
Looks great! just made a comment on Asma's bio, but all else is good to go.

[2016-09-29 16:56] #2257 closed

[2016-09-29 16:56] #2264 closed

[2016-09-29 16:56] #2268 closed

[2016-09-29 16:56] #2269 closed

[2016-09-29 17:04] taisdesouzalessa commented on #1815
Here is the latest version: https://redpen.io/p/nj4f7768ca3e7b79cf

[2016-09-29 17:40] taisdesouzalessa opened #2280 "Implement page for Regional Coordinator bios"
Implementation of the project #1815.
Here is the final mockups: https://redpen.io/p/nj4f7768ca3e7b79cf

[2016-09-29 17:41] taisdesouzalessa commented on #1815
Closing this ticket. Implementation stage is in  #2280.

[2016-09-29 17:41] #1815 closed

[2016-09-29 17:44] taisdesouzalessa commented on #2280
Assets coming soon

[2016-09-29 20:22] flukeout opened #2281 "Clubs forms QA: First page of form is too short for the last dropdown."
When I open the last dropdown, it's immediately obscured because it falls below the bottom edge of the page.

![2016-09-29 13 20 24](https://cloud.githubusercontent.com/assets/25212/18970804/a978d174-8647-11e6-84a7-95d0c08537ce.gif)

I'd recommend adding a bunch of padding under the form so that the page is longer, this is less likely to happen then.

[2016-09-29 20:55] flukeout opened #2282 "Clubs forms QA: Missing "?" after "Where will you meet" label."
This label reads like a question and other questions have a question mark after them. Let's add it here - OR - change the label to be a non-question like "Meeting Location" or something.

![image](https://cloud.githubusercontent.com/assets/25212/18972001/3529d4ee-864c-11e6-8c83-8e967f01037a.png)

[2016-09-29 20:57] hannahkane commented on #2107
Thanks for the reminder, @alanmoo. I'm going to close this confusing ticket and open up a new one to address later. Doesn't feel urgent to resolve now.

[2016-09-29 20:57] #2107 closed

[2016-09-29 21:48] flukeout opened #2283 "Implement new Teaching Activity search & filter UI."
Even as we're gathering feedback on the new [Teaching Activity page search & filter UI](https://flukeout.github.io/curriculum-db-ui-test/) we've decided to also start building it as we go. We can make changes as we gather feedback, but are fairly confident the general theme of the prototype will remain.

**The Plan**
* We will create a new page on the learning site
* We will build the search & fil

[2016-09-29 22:16] hannahkane opened #2284 "Add "Web Literacy Skills for Library Staff" activity"
https://docs.google.com/document/d/1kSxbSAXDb5pdXo_3x_Ag5Od5ziARtly4FL4Qw1Cckgk/edit#heading=h.nir6usoqepnq

This is a standalone Thimble project with internal and external links to other activities. We don't need an index page.

[2016-09-29 22:16] hannahkane commented on #2284
cc @chadsansing @anmechung

[2016-09-29 22:35] hannahkane commented on #2279
Sorry, Chad, didn't realize you'd filed this. Closing because I started a PR against https://github.com/mozilla/learning.mozilla.org/issues/2284

[2016-09-29 22:35] #2279 closed

[2016-09-30 01:02] #2252 closed

[2016-09-30 01:02] #2258 closed

[2016-09-30 01:02] #2263 closed

[2016-09-30 01:03] #2256 closed

[2016-09-30 01:14] #2260 closed

[2016-09-30 01:14] #2261 closed

[2016-09-30 01:14] #2272 closed

[2016-09-30 01:19] Pomax commented on #2249
I take that back, autocomplete is not a CSS issue, but we did add in "move focus to 'other' field" behaviour so this should now be solved, I would think. If you agree let's close this.

[2016-09-30 01:20] Pomax commented on #2281
We can add some padding, but we can also see if we can scroll down the page a bit, because while the menu is open, the page *is* appropriately sized.

[2016-09-30 01:21] Pomax commented on #2282
I'm leaning towards "questions should have question marks".

[2016-09-30 01:22] Pomax commented on #2267
Having said that, the Teach-API might be able to fire pre-mount so that we know the login status before the component renders...

[2016-09-30 13:55] alanmoo commented on #2283
Thinking about this a little this morning, I think a JSON structure to define the filters makes sense. It should both describe the different filters and their possible values (if they're not booleans). If we build this right, it should reduce the length of the render methods substantially.

[2016-09-30 16:10] flukeout commented on #2283
Hwiggidy hmm hmm hmmm... so, that would be fine except it breaks down a bit for the Duration bubble and also for the Web Lit Skills where the 21C skills are separated off.

The main problem seems to be the endless repetition of bubbles though, so we could just pass in the values of those bubble groups via some JSON (instead of defining ALL of the options in JSON) like...

[code]

You know, with be

[2016-09-30 16:17] flukeout commented on #2281
I think adding padding would be way simpler, a scroll might be unexpected and jarring.

[2016-09-30 16:18] flukeout commented on #2249
Yeah, good to close, the focus jumps where it should which was the main issue and it seems like a lot of the other weird UX is baked into that react-select thingy and not worth the effort at this point.

[2016-09-30 16:18] #2249 closed

[2016-09-30 16:40] Pomax commented on #2281
Just thinking in terms of sensible generic forms, padding will work for our specific page so we can absolutely put that in, but an autoscroll might work better for when we move the form to mofo-ui, *or* if the dropdown allows opening such that it respects page dimensions that would be useful too.

[2016-09-30 16:45] alanmoo commented on #2283
We'd have to go deeper than a single object. Perhaps we should just have each type as a component, and feed in the filters as a props array...that'll reduce some of the logic, which can get buggy. Just at the expense of being slightly WET

[2016-09-30 17:33] flukeout opened #2285 "Maker Party Activity links don't work."
The links to the maker party activities on this page https://learning.mozilla.org/en-US/events/resources do not work.

![image](https://cloud.githubusercontent.com/assets/25212/19000793/58c134f8-86f9-11e6-8d2b-dd9196f8eb3f.png)

[2016-09-30 20:02] taisdesouzalessa commented on #2280
@gvn Here is the mockup in Sketch:
https://drive.google.com/a/mozilla.com/file/d/0B3b1KWRwjxtoT1JmZ0tjZkE0Q1E/view?usp=sharing

Here are the assets (pictures):
https://drive.google.com/drive/folders/0B3b1KWRwjxtocUU2dmN4YkJhRGs?usp=sharing

The map marker icon is a Glyphicon from Bootstrap (glyphicon glyphicon-map-marker) and the Twitter icon is in Font Awesome (fa-twitter [&#xf099;]) - please let

[2016-09-30 20:10] taisdesouzalessa commented on #2280
2 interaction notes:
1. Could you please make the tab "Start a Club" inactive once the user clicks on the link ("featured Regional Coordinators") and goes to the next page? So they have a visual clue that the tab is clickable again if they want to return to the page they were. Here is a gif showing that:
![tabbed-behaviour](https://cloud.githubusercontent.com/assets/22157921/19005297/a205d262-870e

[2016-10-01 15:56] Pomax commented on #2243
by location do you mean the venue, or the geographical location? Because the latter we only do to the "city" level so letting people change that would pretty much literally be "a different club" rather than a simple club edit. Venue would make sense though.

[2016-10-03 18:32] hannahkane commented on #2243
@Pomax - if you follow the conversation [above](https://github.com/mozilla/learning.mozilla.org/issues/2243#issuecomment-250275820), it seems that sometimes we have to change the actual location (not venue) of the Club. But it seems we've done this on the backend through lat/long, which we haven't exposed to users. Thinking on it now, I don't think we should expose that to users. Seems likely to c

[2016-10-03 21:38] #2239 closed

[2016-10-03 21:39] #2284 closed

[2016-10-04 01:13] Pomax commented on #2243
that sounds fair. I can start on that next week, or someone else can probably do a rejigger of the edit modal (Although we probably want to do this as a new modal, rather than a massaging of the preexisting code, since it's a combination of the old "add" modal and the old "edit" modal, and we want to remove the first, which is easiest to do by removing both and making a new edit modal instead)

[2016-10-04 15:03] belkacem77 opened #2289 "Mozilla Learning Network: Kabyle localization Complete"
Hello,
We finished to localize Mozilla Learning NEtwork into Kabyle. Is there any plan to test our work before release?

Thanks.

[2016-10-05 16:49] flukeout opened #2292 "Question - JSON structure for search and filter options."
Hey @gideonthomas I'm working on the search and filter UI for the Teaching Activities page...\

![image](https://cloud.githubusercontent.com/assets/25212/19122769/cf448d7e-8ae0-11e6-8e98-e84c3a0730e9.png)

...and I'm loading in all of the options from some JSON, which I pasted below. Is it reasonable to expect that we can get this JSON from the server when we load the component based on our data s

[2016-10-05 19:27] gideonthomas commented on #2292
Hmm I think most of this is fine, but can I suggest some changes (to make some of the work on the back-end and admin interface easier)? Take a look at the following and let me know what you think:
[code]

Things to note:
- `options` has been flattened into an array
- The `name`s of the filters are changed to represent what is currently on the backend
- `optionGroups` has been replaced by `more_opt

[2016-10-05 20:35] flukeout commented on #2292
Overall this looks great to me! My only suggestion would be that we find a way to show/hide the label as needed within the expanded menu per option-group. The structure above doesn't really let us do that, but we can just hide it by default except for anything in ``more-options`` which would do the trick.

I'll update my sample data structure to match this and update the components.

[2016-10-05 21:33] flukeout commented on #2292
We might want to add an optional ``default_option`` as well. This will help with the duration slider which starts out at "Any Duration".

[2016-10-05 21:34] hannahkane commented on #1654
@flukeout - is this covered in the recent work you've done on the template?

[2016-10-05 21:35] hannahkane commented on #1655
@flukeout - is this covered in recent changes?

[2016-10-05 21:39] hannahkane commented on #2094
@kgorr - I think we can close this now, right? Please re-open if there's more to be done.

[2016-10-05 21:39] #2094 closed

[2016-10-05 21:41] hannahkane commented on #2050
Closing in lieu of #2277

[2016-10-05 21:41] #2050 closed

[2016-10-05 21:42] hannahkane commented on #2028
@flukeout - are you working on this now? just trying to get a handle on what's covered in the template work you've been doing.

[2016-10-05 21:43] #1314 closed

[2016-10-05 21:43] #1354 closed

[2016-10-05 21:45] #1800 closed

[2016-10-05 21:45] flukeout commented on #1654
Yeah, the blank template has a link to a licencense, so I think we're good.

<img width="587" alt="image" src="https://cloud.githubusercontent.com/assets/25212/19132875/6a7dcea8-8b0a-11e6-8675-1db99f716e1f.png">

[2016-10-05 21:49] #1654 closed

[2016-10-05 22:16] LucyeoH opened #2293 "Adding Sticker Order Link to the Maker Party Website"
Detailed description of work:
@kelimuttu @couci have created a process for ordering stickers for Maker Party. https://github.com/mozilla/reps-regional/issues/64

The link is ready to go [here](https://docs.google.com/spreadsheets/d/1Fgyx7aozINB0gVx-0ckFcVG6qfsmKz4B-QF9qmhNw3g/edit#gid=0) and they would like it to appear on the website as well as in the host pack.

Can we add it under "Logos & Asse

[2016-10-05 22:24] flukeout commented on #2292
Okay @gideonthomas here's what I've done...

[code]

* Kept the ``more_options`` structure
* Introduced a ``toggle_label`` and a ``option_label``
  * ``toggle_label`` - this goes in the pill that expands the filter
  * ``option_label`` - is optional and may appear in front of pill options when a filter is expanded
  * Now we can be explicit about each of them, and omit the ``option_label`` if we d

[2016-10-05 22:29] flukeout commented on #2028
We can close this issue, the main two points from the first comment are covered. The other two are lower priority and are reflected in the curriculum-final repo...

* Low-band: https://github.com/mozilla/curriculum-final/issues/13
* Teacher notes: https://github.com/mozilla/curriculum-final/issues/3

[2016-10-05 22:29] #2028 closed

[2016-10-05 22:30] flukeout commented on #1655
Yes, covered in most recent work. Visible on the bottom of the page here in the blank template...

* https://mozilla.github.io/curriculum-final/blank-template/#step-3

[2016-10-05 22:30] #1655 closed

[2016-10-05 23:23] flukeout commented on #2283
**Progress Report**

* I've converted the prototype to use react components
  * Code lives here - https://github.com/flukeout/curriculum-search-react
  * Try the prototype here - flukeout.github.io/curriculum-search-react
    * The black area below the filters displays the JSON data created by the filters that can be used for filtering results
* Each react components are separated into separate fi

[2016-10-05 23:37] flukeout commented on #2292
Closing - we can make changes in #2283

[2016-10-05 23:37] #2292 closed

[2016-10-05 23:55] flukeout commented on #2240
Feedback from educator:

* If I am looking for a certain age range, will the "difficulty" filter represent that age level.  What is "beginniger, immediate, or advanced" might defer between a kid, teen, and adult.
* In the past, found Read, Write & Participate useful for sorting through content. Thinks it might be helpful here too.

[2016-10-06 14:13] gideonthomas commented on #2292
Yep this structure looks good!

[2016-10-06 15:12] jvallera opened #2294 "Link broken on learning.mozilla.org/community"
Hello,

I just realized that the link connected to "Find upcoming office hour dates" is broken on https://learning.mozilla.org/en-US/community. See screenshot below.

The link should direct to https://mozillaclubs.youcanbook.me/, which is office hours sign up for clubs.

![screen shot 2016-10-06 at 10 58 43 am](https://cloud.githubusercontent.com/assets/3729312/19158097/80d790a2-8bb5-11e6-9144-93b

[2016-10-06 18:03] gvn opened #2297 "Gigabit QA: Missing icons for Gigabit tabs"
I need SVG icons for the Gigabit tabs when they're in the "mobile" view:

<img width="398" alt="screen shot 2016-10-06 at 10 59 20 am" src="https://cloud.githubusercontent.com/assets/206379/19164288/313d1a90-8bb4-11e6-88f8-1a1de7c1ad7d.png">

Here's an example of them for the Clubs section:

<img width="201" alt="screen shot 2016-10-06 at 10 59 36 am" src="https://cloud.githubusercontent.com/asset

[2016-10-06 18:04] gvn commented on #2228
Blocked by: https://github.com/mozilla/learning.mozilla.org/issues/2297

[2016-10-06 18:35] #2294 closed

[2016-10-06 20:57] hannahkane commented on #2228
@lindseyInCha @jenntbeard - Gigabit work is up on staging! https://learning-mozilla-org-s-pr-2298.herokuapp.com/en-US/gigabit

Please go through with a fine-toothed comb when you have time, and report issues here on this ticket.

[2016-10-06 21:04] hannahkane commented on #2228
@lindseyincha - what should the copy be at the top of the Events page?

[2016-10-06 21:06] hannahkane commented on #2228
Event titles are clickable, but don't go anywhere. They should either go to the associated url, or not be clickable.

[2016-10-06 21:08] hannahkane opened #2299 "Gigabit QA: Event titles"
Event titles are clickable, but don't go anywhere. They should either go to the associated url, or not be clickable.

[2016-10-06 21:09] hannahkane commented on #2299
#2228

[2016-10-06 21:09] hannahkane opened #2300 "Gigabit QA: broken link in portfolio detail page"
Clicking on "Adagio" link from https://learning-mozilla-org-s-pr-2298.herokuapp.com/en-US/gigabit/portfolio/adiago leads to a 404. Checked several other portfolio detail pages, and the links work fine.

[2016-10-06 21:09] hannahkane commented on #2300
#2228

[2016-10-06 21:10] hannahkane opened #2301 "Gigabit QA: copy for Events page"
@lindseyincha - what should the copy be at the top of the Events page?

[2016-10-06 21:10] hannahkane commented on #2301
#2228

[2016-10-06 21:28] hannahkane opened #2302 "Gigabit QA: "Adagio" spelled wrong"
Logo suggests it's Adagio, but our title is Adiago

[2016-10-06 21:29] hannahkane commented on #2302
#2228

[2016-10-06 21:30] hannahkane opened #2303 "Gigabit QA: what should "Start a Gigabit City" link to"
@linsdseyincha - just want to confirm, what should the "Start a Gigabit City" button on the About page link to?

[2016-10-06 21:30] hannahkane commented on #2303
#2228

[2016-10-06 21:32] hannahkane opened #2304 "Gigabit QA: Should national partner logos link to websites? (not a blocker)"
@lindseyincha - should NSF and USIgnite logos link to their respective websites? If so, what are the urls?

[2016-10-06 21:32] hannahkane commented on #2304
#2228

[2016-10-06 21:36] hannahkane opened #2305 "Gigabit QA: location search bug"
Looks like there are 12 portfolio projects in Kansas City. However, searching for "KC" only produces 1 result (perhaps to be expected, but it would be nice to have KC serve as a synonym for "kansas city"), "Kansas" only produces 4, and "Kansas City" produces 3.

[2016-10-06 21:36] hannahkane commented on #2305
#2228

[2016-10-06 21:38] hannahkane opened #2306 "Gigabit QA: missing website for event (not a blocker)"
@lindseyincha - does SxSWedu have a url?

[2016-10-06 21:39] hannahkane commented on #2306
#2228

[2016-10-06 21:43] flukeout opened #2307 "Generate sample Teaching Activity JSON data."
I'd like to work on the Results component for the Search & Filter stuff here - https://flukeout.github.io/curriculum-search-react/

To do so, I'd like some JSON data to work with:
- It has to match the final JSON structure that the learning site will provide
- Would like to have 5 different activities so I can test searching
- Is it possible to get one or two sample Collections?
  - They can conta

[2016-10-06 22:03] hannahkane opened #2308 "Gigabit QA: "Continue reading" broken"
The "Continue reading" links at the bottom of the About page (corresponding to blog, portfolio, and event teasers) don't work. I would expect them to go to the specific blog post, event url, or portfolio detail page.

#2228

[2016-10-06 22:07] hannahkane opened #2309 "Gigabit QA: not sure where to link blog to"
There's an [outstanding devops task](https://github.com/MozillaFoundation/mofo-devops/issues/300) to migrate Gigabit blog content to blog.webmaker.org (and another to change the url).

Since that is still pending, I'm wondering what we should do in the meantime. @lindseyincha - should we link to https://blog.mozilla.org/gigabit/?

#2228

[2016-10-06 22:13] gvn commented on #2300
Fixed!

[2016-10-06 22:16] gvn commented on #2302
Fixed!

[2016-10-06 22:17] hannahkane commented on #2302
Verified

[2016-10-06 22:17] #2302 closed

[2016-10-06 22:18] hannahkane commented on #2300
Verified

[2016-10-06 22:18] #2300 closed

[2016-10-06 22:18] gvn commented on #2308
Do you have a URL for the blog post and the event?

[2016-10-06 22:27] gvn commented on #2305
FIxed!

[2016-10-06 22:30] hannahkane commented on #2305
Searching for "KC" works now, but "kansas" and "Kansas City" still produce fewer results than expected.

[2016-10-06 23:06] hannahkane opened #2310 "add AirMo embeds to MCW and Comm Call landing pages"
`<iframe src="https://air.mozilla.org/mozilla-learning-science-community-call-2016-10-13/video/" width="896" height="524" frameborder="0" allowfullscreen></iframe>`

`<iframe src="https://air.mozilla.org/mozilla-curriculum-workshop-ada-lovelace-day-2016-10-11/video/" width="896" height="524" frameborder="0" allowfullscreen></iframe>`

[2016-10-06 23:08] gvn commented on #2305
I'm going to need to set up a hash table to correlate the short codes to their long forms. However, I'm not sure what the convention being used is. I thought maybe airport codes, but KC isn't one.

In the data we have:
`CHA`, `KC`, and `Flint`.

Not sure what short code to use for Flint.

Also, are there just no projects currently in Austin?

[2016-10-06 23:08] gvn commented on #2305
We could also only use longforms for the cities, which might make more sense anyway.

[2016-10-07 04:14] hannahkane opened #2312 "Bug on Credentials - giant badge!"
This is what happens when I click on "Credentials" in the main sidebar nav from one of the badge detail pages:

![screen shot 2016-10-06 at 9 13 15 pm](https://cloud.githubusercontent.com/assets/8389648/19178670/d4552074-8c09-11e6-99fe-f3f6abb6be14.png)

STR:
 * Go to https://learning.mofostaging.net/en-US/badges
 * Click on a badge to view the detail page
 * Click on "Credentials" in the main nav

[2016-10-07 04:17] hannahkane opened #2313 "Badge details not loading"
I tested the Credly -> Learning.m.o workflow by adding a new badge to the Credly staging server. The badge appears on the Learning staging site (yay!), but when I click to view the detail page, the badge details do not load (even after waiting a long time).

![screen shot 2016-10-06 at 9 17 19 pm](https://cloud.githubusercontent.com/assets/8389648/19178696/4ccbc580-8c0a-11e6-94d1-967e7a8e4276.png)

[2016-10-07 14:59] cadecairos commented on #1855
I'm checking with WPEngine support to see if setting it up like that (learning.mozilla.org/blog) is possible.

[2016-10-07 19:35] flukeout opened #2314 "Right-side menu collapses when you click a tab"
The right side menu collapses if you click on any of the tabs within the Gigabit page or arrive at the page with one of the tabs in the address bar, like `/gigabit/portfolio`

![menu-collapse](https://cloud.githubusercontent.com/assets/25212/19203124/73ef0e12-8c8a-11e6-89b2-4f7619b6b720.gif)

[2016-10-07 19:37] flukeout opened #2315 "Gigabit QA: Missing icons in tabs when view is narrow."
![image](https://cloud.githubusercontent.com/assets/25212/19203188/b91ba4a0-8c8a-11e6-8c1e-b8a3180bf623.png)

#2228

[2016-10-07 19:42] flukeout opened #2316 "Gigabit QA: Social CTA icons are not clickable, but should be."
On the the bottom of the about page, there are three social calls to action. The icon for each should be clickable, but isn't..

![image](https://cloud.githubusercontent.com/assets/25212/19203311/671c48ac-8c8b-11e6-9716-83041f283624.png)

For reference, the icons at the bottom of https://learning.mozilla.org/en-US/opportunities are clickable.

#2228

[2016-10-07 19:45] flukeout opened #2317 "Gigabit QA: Lead Org links on Portfolio page don't link to anything."
Clicking the Lead Org: Adagio link just takes me to the top of the page.

![image](https://cloud.githubusercontent.com/assets/25212/19203398/dbbc2ff6-8c8b-11e6-85e7-c169f694d6b8.png)

#2228

[2016-10-07 19:50] flukeout opened #2318 "Gigabit QA: Handle large / wide logos more gracefully on Portfolio Detail page."
Case in point, check out the sizing and placement of the logo on the 3d Multi-School Learning page...

![image](https://cloud.githubusercontent.com/assets/25212/19203508/893acd4a-8c8c-11e6-8ddc-cbb396c775a4.png)

#2228

[2016-10-07 19:51] flukeout opened #2319 "Gigabit QA: Hide "Partner Org" heading if there are no partners on Portfolio Detail page"
For projects without partners, like the Minecraft Oculus Rift project, let's hide the heading.

![image](https://cloud.githubusercontent.com/assets/25212/19203566/ca2b28c2-8c8c-11e6-9676-c20d6a3ebb2d.png)

#2228

[2016-10-07 20:00] flukeout opened #2320 "Gigabit QA: Deselect tab on Terms and Conditions page (and other nested pages)"
Recently we came up with a convention that if you're in a nested page in a tab, we would deselect that tab. This gives you a more obvious affordance to get back to the parent tab.

I'd recommend the same for the Terms and Conditions page...

![image](https://cloud.githubusercontent.com/assets/25212/19203765/f818bfc8-8c8d-11e6-9a4a-6e40040ebc78.png)

#2228

[2016-10-07 20:07] flukeout opened #2321 "Gigabit QA: Add "no results" copy when searching and nothing matches."
Just a little centered paragraph under the search field woudl be nice even.

![image](https://cloud.githubusercontent.com/assets/25212/19203932/e1a415e8-8c8e-11e6-9d95-568413efcf51.png)

#2228

[2016-10-07 20:07] gideonthomas commented on #2307
Activities (in their compressed form):
[code]

We can also get activities and expand some of the properties inside each activity. For example, if we get all activities like above and expand the following properties, in each activity, the property's value can look like:

- `twenty_first_century_skills` property
[code]
- `teaching_kits` property
[code]
- `authors` property for teaching activities as

[2016-10-07 20:15] gvn commented on #2315
Dupe of #2297

[2016-10-07 20:15] #2315 closed

[2016-10-07 20:22] gvn commented on #2320
That seems like an odd convention to me.

Wouldn't it be better to have a breadcrumb or something? IA-wise you are in the Apply section.

[2016-10-07 20:25] gvn commented on #2318
Since this is, I think, the only one with an issue we should just add padding to the image itself.

Otherwise we'll have to letterbox a lot of other images that look better as-is.

[2016-10-07 20:26] gvn commented on #2318
It'll also look better in the overview `/portfolio` if we do that.

[2016-10-07 20:43] cadecairos commented on #1855
@KGorr @hannahkane The Learning blog is now abailable from https://learning.mozilla.org/blog

Things linking to blog.webmaker.org continue to load, but links on those pages will bring people to the new URL. When I get a 👍 I'll turn blog.webmaker.org into a direct redirect to `learning.mozilla.org/blog`

[2016-10-07 21:33] gvn commented on #2316
Fixed on staging

[2016-10-07 21:44] gvn commented on #2317
Fixed on staging!

[2016-10-07 21:50] gvn commented on #2317
Note: some don't have links, so I left them unlinkified.

[2016-10-07 21:58] gvn commented on #2319
Fixed!

[2016-10-07 22:26] gvn commented on #2321
Added!

[2016-10-07 22:29] flukeout commented on #2316
Verified (tm)

[2016-10-07 22:29] #2316 closed

[2016-10-07 22:32] flukeout opened #2322 "Gigabit QA: Typo on "Spartan Systems""
Displayed as Spartin in the lead org link on the Portfolio page

![image](https://cloud.githubusercontent.com/assets/25212/19207167/3bd28608-8ca3-11e6-81b1-2cc18ec83c83.png)

#2228

[2016-10-07 22:35] flukeout opened #2323 "Gigabit QA: Invalid lead or link for TechHawks"
On portfolio page, TechHawks org link goes to http://fit.net/hawks/ which is some kind of XML error page.

![image](https://cloud.githubusercontent.com/assets/25212/19207236/bee45170-8ca3-11e6-8a66-1bdcdbe89f27.png)

#2228

[2016-10-07 22:36] flukeout commented on #2317
Looks good! Found a broken one but filed separately.

[2016-10-07 22:36] #2317 closed

[2016-10-07 22:38] flukeout commented on #2319
Bonus points add "s" when there are multiple orgs. But, show/hide is fixed.

[2016-10-07 22:38] #2319 closed

[2016-10-07 22:39] flukeout commented on #2321
Indeed!

[2016-10-07 22:39] #2321 closed

[2016-10-07 22:47] gvn commented on #2323
@hannahkane Do we have another link or should I just remove it?

[2016-10-07 22:54] gvn commented on #2314
This is actually the existing behavior for Clubs as well, so I'd like to tackle this as a follow-on if possible.

[2016-10-07 23:06] hannahkane commented on #2323
Cc @lindseyincha @jenntbeard

On Friday, October 7, 2016, gavin lazar suntop <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-10-07 23:24] gvn commented on #2322
Fixed!

[2016-10-10 13:43] gideonthomas opened #2324 "Club form: Failed to update club"
Looks like the user can't pass validation while updating their club info. The validation seems to fail on a field that they did not update.

https://forum.learning.mozilla.org/t/can-not-update-my-club-info/1181

[2016-10-10 14:36] Pomax commented on #2324
hm, interestingly this is in old code (we have not updated the edit modal yet) - this will probably require a bit of code hunting and django log checking.

[2016-10-10 14:57] LindseyInCHA commented on #2309
Makes sense to me, @hannahkane

On Thu, Oct 6, 2016 at 6:07 PM, hannahkane <notifications@github.com> wrote:

[2016-10-10 14:57] LindseyInCHA commented on #2306
@hannahkane http://sxswedu.com/

On Thu, Oct 6, 2016 at 5:38 PM, hannahkane <notifications@github.com> wrote:

[2016-10-10 14:58] LindseyInCHA commented on #2304
Yes:

US Ignite: https://www.us-ignite.org/
NSF: https://www.nsf.gov/

On Thu, Oct 6, 2016 at 5:32 PM, hannahkane <notifications@github.com> wrote:

[2016-10-10 15:00] LindseyInCHA commented on #2228
Wrong Link on "Start a Gigabit City" - should direct to https://docs.google.com/forms/d/e/1FAIpQLSdDAQL4KlvHaDHPxsYsx4bbVJ1v_5MROrQ3uD18_Z7ghAL9Iw/viewform not RFP information page.

[2016-10-10 17:12] gvn commented on #2304
Fixed!

[2016-10-10 17:14] hannahkane commented on #2304
Verified

[2016-10-10 17:14] #2304 closed

[2016-10-10 17:20] gvn commented on #2299
Waiting for both links.

[2016-10-10 17:20] gvn commented on #2303
Wrong Link on "Start a Gigabit City" - should direct to https://docs.google.com/forms/d/e/1FAIpQLSdDAQL4KlvHaDHPxsYsx4bbVJ1v_5MROrQ3uD18_Z7ghAL9Iw/viewform not RFP information page.

[2016-10-10 17:24] gvn commented on #2305
@lindseyincha What is the preferred short code for Flint? Thanks!

[2016-10-10 17:25] gvn commented on #2305
Going to use longform city names in the orange tags as well.

[2016-10-10 17:27] hannahkane commented on #2308
@lindseyincha - are these the right blog post/portfolio/event to be featuring? If so, can you provide the right links? Thanks!

[2016-10-10 17:29] hannahkane opened #2325 "Gigabit QA: Replace "Go to Portfolio" with "See all projects""
For consistency

#2228

[2016-10-10 17:39] LindseyInCHA commented on #2308
@jenntbeard back in the country and back in charge!

[2016-10-10 17:39] jenntbeard commented on #2323
You can use this link instead: http://www.kcdigitaldrive.org/project/fitnet-tech-hawks/

[2016-10-10 17:40] LindseyInCHA commented on #2305
Hmmm...I believe it is FNT.  Thanks!

On Mon, Oct 10, 2016 at 1:24 PM, gavin lazar suntop <
notifications@github.com> wrote:

[2016-10-10 17:41] hannahkane commented on #2322
Verified

[2016-10-10 17:41] #2322 closed

[2016-10-10 17:49] hannahkane commented on #2325
#2228

[2016-10-10 17:50] hannahkane commented on #2314
Pulling this out of Gigabit QA into regular queue

[2016-10-10 17:51] hannahkane opened #2326 "Gigabit QA: host gigabit images"
Rather than hotlink, and especially not to the sites we're trying to sunset (e.g. http://hivecha.org/wp-content/uploads/adagio_edit-320x240.png)

[2016-10-10 17:51] hannahkane commented on #2326
#2228

[2016-10-10 17:52] hannahkane commented on #2324
cc @KGorr

[2016-10-10 17:56] gvn commented on #2306
Fixed

[2016-10-10 17:59] gvn commented on #2299
Fixed!

[2016-10-10 18:04] hannahkane commented on #2306
Verified

[2016-10-10 18:04] #2306 closed

[2016-10-10 18:05] hannahkane commented on #2299
Verified

[2016-10-10 18:05] #2299 closed

[2016-10-10 18:14] gvn commented on #2303
Fixed

[2016-10-10 18:16] hannahkane commented on #2303
verified

[2016-10-10 18:16] #2303 closed

[2016-10-10 18:36] jenntbeard opened #2327 "Gigabit QA: Homepage spacing"
#2228

Under 'The Gigabit Approach' - the content placement for the three focus areas content (specifically the content blocks should be centered under their respective icon) seems a tad bit off and a little too close to the main sidebar - can the padding be increased there at all (or can the content be shifted under the icons)?

[2016-10-10 18:49] jenntbeard commented on #2308
The most recent items to feature would be as follows:

Blog: Mozilla brings the IoT to Chattanooga, TN in a 48 Hour Launch [link: https://blog.mozilla.org/gigabit/mozilla-brings-the-iot-to-chattanooga-tn-in-a-48-hour-launch/]
Events: Mozilla Festival 2016 [link: https://mozillafestival.org/]
Projects: Raspberry Python Music Genie [link: https://learning-mozilla-org-s-pr-2298.herokuapp.com/en-US/gi

[2016-10-10 18:53] jenntbeard opened #2328 "Gigabit QA: Portfolio order"
#2228

I'm assuming the project are listed by date in ascending order? This seems confusing to me as a user. Can we have the default be alphabetical order by project title?

[2016-10-10 18:58] jenntbeard commented on #2301
"We offer global and local opportunities that facilitate group and in-person collaboration. Join us!"

[2016-10-10 19:00] jenntbeard commented on #2309
Yes, this is the only blog that is still getting new content.

[2016-10-10 19:05] jenntbeard opened #2329 "Gigabit QA: Incorrect # and text on Homepage"
#2228

(Under the Expanding the Gigabit Community Fund section)
Copy should read 'two' not 'three' (in regards to the number of new cities) and the rest of the text was changed from the RedPen version.

Full copy should be: In partnership with the National Science Foundation and US Ignite, we're expanding the Gigabit Community Fund to two additional gigabit cities by 2018. Click below to submit yo

[2016-10-10 19:09] jenntbeard commented on #2228
This is looking AMAZING!! I have gone through all the Open issues and addressed the items that I could. I also filed a couple of minor things as well. Let me know if you need anything else from us! (cc: @lindseyinCHA)

[2016-10-10 19:14] jenntbeard opened #2330 "Gigabit QA: Fix Facebook Link"
#2228

On the homepage, can we change the link showing for CHA's Facebook page to just @HiveCHA that links to: https://facebook.com/HiveCHA? If that seems out of convention (with the Twitter handle right above it) maybe just use 'facebook.com/HiveCHA' instead.

[2016-10-10 19:39] gvn commented on #2305
Fixed on staging

[2016-10-10 21:22] gvn commented on #2301
Fixed

[2016-10-10 21:23] hannahkane commented on #2301
Verified

[2016-10-10 21:23] #2301 closed

[2016-10-10 21:27] gvn commented on #2308
Fixed on staging

[2016-10-10 21:30] hannahkane commented on #2308
Verified

[2016-10-10 21:30] #2308 closed

[2016-10-10 23:22] gvn commented on #2309
I believe this is resolved via #2308

[2016-10-10 23:30] #2309 closed

[2016-10-10 23:37] gvn commented on #2323
Fixed

[2016-10-10 23:46] gvn commented on #2325
fixed

[2016-10-10 23:56] gvn commented on #2327
The design indicates left alignment of the text. The icons may appear slightly off center because of this, but they are centered as designed...

Here's a visible border to help visualize:

<img width="706" alt="screen shot 2016-10-10 at 4 49 22 pm" src="https://cloud.githubusercontent.com/assets/206379/19254618/48fe84ee-8f0a-11e6-922b-777cf1d260a7.png">

[2016-10-11 00:25] gvn commented on #2328
Fixed on staging

[2016-10-11 00:28] hannahkane commented on #2323
verified

[2016-10-11 00:28] #2323 closed

[2016-10-11 00:28] hannahkane commented on #2325
Verified

[2016-10-11 00:28] #2325 closed

[2016-10-11 00:29] hannahkane commented on #2328
Verified

[2016-10-11 00:29] #2328 closed

[2016-10-11 18:05] hannahkane commented on #1855
@cadecairos - woohoo! Thanks.

What do we need to test to make sure this is working properly?

[2016-10-11 18:07] hannahkane commented on #2305
Verified

[2016-10-11 18:07] #2305 closed

[2016-10-11 18:09] hannahkane commented on #2327
Will close unless design (@flukeout) wants to reopen

[2016-10-11 18:09] #2327 closed

[2016-10-11 18:10] cadecairos commented on #1855
@hannahkane

Assuming the only links on the blog are to posts, and once I put a redirect in place, the best QA would be to confirm links to `blog.webmaker.org/{post}` redirect to the corresponding post on `learning.mozilla.org/blog/ {post}`

[2016-10-11 18:11] hannahkane commented on #1855
Thanks. Sorry, thought you were waiting for a 👍  from us, but sounds like you don't need anything from us just yet.

[2016-10-11 18:15] cadecairos commented on #1855
Yeah, I just wanted to make sure putting the redirect on blog.webmaker.org was 🚀 and not 👎 - it sounds like it's 🚀, so I'll try and get that done today, if all these meetings I'm in allow it!

[2016-10-11 18:15] taisdesouzalessa opened #2331 "Mozilla Clubs - broken link"
In the page: https://learning.mozilla.org/en-US/clubs/list/ the "Get Help" section takes the user to a 404 page (when user clicks on "Resources").
<img width="934" alt="screen shot 2016-10-11 at 11 15 21 am" src="https://cloud.githubusercontent.com/assets/22157921/19282632/0149fa62-8fa4-11e6-9472-b14bf6f5cc39.png">

[2016-10-11 18:16] hannahkane commented on #1855
Got it. Thanks for checking. 🚀

[2016-10-11 18:17] hannahkane commented on #2331
Note: should link to https://learning.mozilla.org/en-US/clubs/running

[2016-10-11 18:43] gvn commented on #2329
Fixed on staging

[2016-10-11 18:47] gvn commented on #2330
The `@` convention is essentially a Twitter thing.

I'd recommend we either go with just `HiveCHA` or `facebook.com/HiveCHA`.

[2016-10-11 19:29] jenntbeard commented on #2330
Right, agreed, just figured we didn't need the https:// in there. Thanks!

[2016-10-11 19:29] jenntbeard commented on #2330
Let's use the facebook.com/HiveCHA.

[2016-10-11 19:52] hannahkane commented on #2329
Verified

[2016-10-11 19:52] #2329 closed

[2016-10-11 20:21] gvn commented on #2318
Fixed on staging

[2016-10-11 20:22] gvn commented on #2326
All images are now served from LMO

[2016-10-11 20:22] #2326 closed

[2016-10-11 20:35] hannahkane commented on #2318
aSteam Village logo looks good

[2016-10-11 20:35] #2318 closed

[2016-10-11 21:34] gvn commented on #2330
Fixed

[2016-10-11 21:39] hannahkane commented on #2330
Verified

[2016-10-11 21:39] #2330 closed

[2016-10-11 21:54] gvn commented on #2280
I don't think we should de-activate the tab once you navigate to the regional coordinators view. If it's a sub-view of "Start a Club", then we should probably use a breadcrumb to indicate that. By de-activating the tab you're disconnecting the view from the visible navigation hierarchy. The view becomes an "orphan".

If regional coordinators is not supposed to be a sub-view of the "Start a Club" t

[2016-10-11 22:03] gvn commented on #2280
Also, regarding your 2nd question, yes we should be able to set anchor IDs for each person.

[2016-10-12 17:36] hannahkane opened #2333 "Add prominent link to AirMo on Comm Call page"
I haven't figured out how to properly embed AirMo videos onto learning.m.o. Since the Community Call is tomorrow, I'm going to prominently feature a link to the AirMo stream in the meantime.

[2016-10-12 18:13] gideonthomas opened #2335 "Design: Show localized activities"
We need design input for how we will show activities that have been localized into different languages.

Here's an example of what we do with club guides: https://learning.mozilla.org/en-US/clubs/running (where we show translated guides below the English one).

[2016-10-12 18:14] #2333 closed

[2016-10-12 22:39] hannahkane opened #2337 "Create landing page and documentation for curriculum localization campaign"
Let's use something lightweight like a wiki. Should include:
 * Call to action + a way to indicate your interest/locale (could be a google form)
 * Documentation describing the three ways to localize (copying gdocs, forking github repos, or remixing Thimble projects)
 * Instructions for how to submit localized activities
 * Information about the incentives
 * Information about the timeline of the

[2016-10-13 17:21] gideonthomas commented on #2312
This is a side-effect of https://github.com/mozilla/learning.mozilla.org/issues/2313. That issue throws an error which trickles down into react and breaks everything else (based on https://github.com/facebook/react/issues/4026). Fixing #2313 will fix this!

[2016-10-13 17:24] gvn commented on #2297
Sounds like @taisdesouzalessa has some time to make icons.

[2016-10-13 17:40] Pomax commented on #1908
We need to investigate whether credly lets us asccess the rich text markup version of our text. If so we can straight-up use that.

[2016-10-13 17:49] hannahkane commented on #2297
@sabrinang - can you please confirm that we'll need icons for Portfolio, Apply, and Events, but we can use the About icon from the Clubs page?

@taisdesouzalessa - are you ok to work on this? Do you need anything to get started?

[2016-10-13 17:59] sabrinang commented on #2297
Yes, I think we should use the same About icon that is seen on the clubs page for visual consistency on how we represent About.

I don't have the original files for the icons but I believe Luke made the about icon and the others club mobile icons were taken from the science site if that helps.

[2016-10-13 18:00] taisdesouzalessa commented on #2297
@hannahkane I am ok to work on this. +1 on keeping the "About" icon consistent through pages.
Could you let me know the deadline of this project?

[2016-10-13 19:10] hannahkane commented on #2297
I think it would be fantastic if we could release the Gigabit pages before Mozfest. @gvn - given that timeline, when would you need the icons by?

[2016-10-13 19:18] gvn commented on #2297
Could we shoot for EOD tomorrow?

[2016-10-13 20:06] taisdesouzalessa commented on #2280
Thanks for your insights @gvn. It makes sense to me. @sabrinang @flukeout could we meet next week to discuss alternatives? The issue is the same here and in the Gigabit site, as Gavin pointed out so one solution will fit both.

[2016-10-13 20:16] taisdesouzalessa commented on #2297
@gvn - by EOD you mean I have the full day tomorrow, right? If so I can probably have the final deliverables by then.

[2016-10-13 20:58] gvn commented on #2297
Yep, thanks!

[2016-10-13 21:38] ScottDowne opened #2340 "npm start failing sometimes"
This feels like a memory issue, and seems like it's happening in the watch from `npm start`

It's happening to me and @cadecairos

If I directly do a `node app.js` after an `npm install` it seems to work.

When it fails, it's a random syntax error on a random line somewhere in `/build/server.library.js`

This worked for me when I built https://github.com/mozilla/learning.mozilla.org/commit/316c217

[2016-10-14 04:36] Pomax commented on #2340
Do you have STR and maybe a log?

[2016-10-14 12:24] ScottDowne commented on #2340
STR is run `npm start` it likely isn't going to happen for you, but happens for me and cade, so, linux maybe?

The log seems to be different each time, and fairly random. So I suspect it's a red herring, and a symptom of something else, but I can get you some samples in a bit.

It's a syntax error in `/build/server.library.js` and seems to be because part of the file is missing. like it wasn't fin

[2016-10-14 13:31] jenntbeard opened #2342 "QA: Portfolio photos"
#2228

There are images provided for all but five of the projects in this spreadsheet: https://docs.google.com/spreadsheets/d/1Hd6DtgQpUd2rqCtI5TQIdHmvLlgOGa6Whf5BdHHUslM/edit#gid=1550807061 but it looks like images are missing for more than five of the projects on the website. If it's helpful, I can let you know which ones - I can also find alternate photos if the photos provided don't work for s

[2016-10-14 14:20] ScottDowne commented on #2340
Some examples:

[code]

Another:

[code]
Last one:
[code]
I think you get the idea.

[2016-10-14 15:50] ScottDowne commented on #2340
More digging, because I had a moment.

Fails on this line, as per the error: https://github.com/mozilla/learning.mozilla.org/blob/master/app.js#L39

If I change that to regular require, it works.

[2016-10-14 15:51] Pomax commented on #2340
let's dig into whether `require-uncached` is doing absolutely the wrong thing on linux

[2016-10-14 15:54] Pomax commented on #2340
@ScottDowne can you try replacing that line with these two and see what happens?
[code]
(intentionally not using a variable for that string, so ensure bundling keeps working)

[2016-10-14 15:57] ScottDowne commented on #2340
It has a single open issue, lol https://github.com/sindresorhus/require-uncached/issues/2

Dunno if that's a really good sign, or a really bad sign :P

[2016-10-14 15:59] ScottDowne commented on #2340
Interesting, that fails too.

[2016-10-14 16:57] taisdesouzalessa commented on #2297
Hey @gvn I finished those earlier than I expected...yay!
Here are the svgs - I am sending them with strokes and also with expanded strokes (I was not sure about your preference on it). I cleaned up the svgs' code as well.
[svgs.zip](https://github.com/mozilla/learning.mozilla.org/files/530009/svgs.zip)

Here they are placed on the mockup:
![mockup-placed-icons](https://cloud.githubusercontent.com/

[2016-10-14 17:32] gvn commented on #2342
It would be extremely helpful if you could provide the missing images. Thanks!

FYI / PS: We should consider the spreadsheet "locked" at this point. Edits should be requested via GitHub tickets here. I can't just export the spreadsheet again because we're now using a flat JSON file that has further edits done after I exported from Sheets. Basically, we can't do a "merge" from Google Spreadsheets t

[2016-10-14 17:32] gvn commented on #2342
CC @hannahkane ^

[2016-10-14 18:05] hannahkane commented on #2342
Want to make sure there's not some other issue here. Sounds like @jenntbeard was saying that some items *did* have an image in the spreadsheet, but aren't showing up on the site. Is that because they were added to the spreadsheet after the page was built?

[2016-10-14 18:43] jenntbeard commented on #2342
Right, that's what I was saying @hannahkane. If it's easier, post-production, I can always add in the missing images (since I need to gather ones for the five that don't have then anyways). I'm assuming we're still going to have access for portfolio/events through the django backend?

[2016-10-14 18:47] gvn commented on #2342
Right now there's no service fueling the Gigabit build. It's all based off a flat, static JSON file.

Eventually we will probably switch over to Django, but for now a dev (or someone comfortable with making a PR) will need to tweak the JSON file directly in this repo to make updates.

[2016-10-14 18:52] hannahkane commented on #2342
OK, I'm going to assume that the images got added to the spreadsheet after Gavin exported to the JSON file.

From now on, let's consider the spreadsheet locked, and let's file github issues for updates.

(Building out a service for this is on the roadmap for H1 of 2017)

[2016-10-14 18:54] jenntbeard commented on #2342
Sounds good - I wasn't sure when LF added the images to the sheet. Thanks!

[2016-10-14 19:57] cadecairos commented on #1855
The blog is now live at https://learning.mozilla.org/blog/

There is an issue with post previewing, and it's due to the way things must be set up to have the blog served at `/blog/` I filed https://github.com/MozillaFoundation/mofo-devops/issues/423

I think we can consider this closed

[2016-10-14 19:57] #1855 closed

[2016-10-14 22:24] gvn commented on #2297
Fixed on staging

[2016-10-14 22:35] hannahkane commented on #2297
Confirmed! @taisdesouzalessa - do you want to do final approval? If this looks good to you [here](https://learning-mozilla-org-s-pr-2298.herokuapp.com/en-US/gigabit/about), please close this ticket.

[2016-10-14 22:37] taisdesouzalessa commented on #2297
It looks good to me! Closing the ticket then.

[2016-10-14 22:37] #2297 closed

[2016-10-17 16:33] flukeout commented on #2320
Yeah, I'd be into seeing what a breadcrumb could look like. Feels weird without some indicator that you're not on the main Apply page.

[2016-10-17 16:34] flukeout commented on #2280
@taisdesouzalessa Did you mock up some options with breadcrumbs before? If you have, can you post them? Happy to discuss anytime.

[2016-10-17 16:44] taisdesouzalessa commented on #2280
No, unfortunately  have no mockups with that treatment. I think @sabrinang had some options with breadcrumbs for Gigabit. Sabrina, remember we talked about this and you showed me some options? Do you still have those mockups with breadcrumbs? If not, I can quickly do some for our discussion later on.

[2016-10-17 16:48] gvn commented on #2342
@jenntbeard @hannahkane This is the last outstanding QA ticket. Is this a launch blocker?

[2016-10-17 16:49] jenntbeard commented on #2342
Wahoo! It's not a blocker for me...

[2016-10-17 17:10] alicoding opened #2345 "`npm install` fail for the first time"
If you just cloned the project and tried to run `npm install` it fails on `cleanup` step.

[code]

It seems like `shx` can't remove non-existing directory gracefully `shx rm -rf build dist`

[2016-10-17 17:17] Pomax opened #2346 "Finalize badges for Mozfest"
## This is a checklist for the work left to be done for badges before MozFest
- [x] add [X-Allow-Html header](https://developers.credly.com/best-practices#rich-text) for getting markup rather than plain text for reqs/evidence/desc

This allows us to use marked up badge criteria ("what they need to do") and evidence requirements ("what they need to show as proof of doing"), so that we don't need to

[2016-10-17 17:17] Pomax commented on #2346
/cc @gideonthomas @simonwex @anmechung @hannahkane

[2016-10-17 17:52] Pomax commented on #2346
# Badge Workflow

## 1) Creating a badge

- Staff User goes to Credly; logs in with an account that has admin privileges for the shared Mozilla account
- User creates badge which involves uploading an image, adding a badge description, and adding criteria. ***To be resolved: details about how to properly format the criteria so that it shows up nicely on learning.m.o.*** (This is pending a response

[2016-10-17 18:46] Pomax commented on #2346
prerequisite PR that we need to land so we can do normal branches for all these fixes: https://github.com/mozilla/learning.mozilla.org/pull/2339

[2016-10-17 21:46] #2312 closed

[2016-10-17 21:46] #2313 closed

[2016-10-17 22:00] hannahkane commented on #2342
me neither. Let's launch it!

[2016-10-17 23:08] Pomax commented on #2345
Hm, can you try with `cleanup` set to `shx --silent rm -rf build dist`?

[2016-10-17 23:10] alicoding commented on #2345
[code]

[2016-10-18 04:19] Pomax commented on #2345
Interesting, so Object.assign is literally not part of node's API... which version of Node is this?

[2016-10-18 12:31] alicoding commented on #2345
Hahaha good catch @Pomax ! I totally forgot to switch back after working on node v0.12.7 >.< This is not an issue then! Derp :P

[2016-10-18 12:31] #2345 closed

[2016-10-18 16:27] Pomax opened #2353 "homogenize URL conf vars in terms of their trailing slash"
We should be consistent in our use of URLs in, and from, env vars, such that we want the vars to either all end in `/` or all _not_ end in `/`, with the `config` object making sure that is the case even if someone sets them incorrectly.

This will allow devs on the code to safely assume what form a URL is when needing to use that URL for resource retrieval and posting.

[2016-10-18 17:04] #2282 closed

[2016-10-18 17:04] Pomax commented on #2282
closed thanks to @RPraneetha

[2016-10-18 18:01] #2096 closed

[2016-10-18 22:58] Pomax commented on #2346
We do need to improve the copy for when applications go wrong - and possibly the styling a bit, too. To keep things in line with the application modal, I'm currently using this:

![screenshot 65](https://cloud.githubusercontent.com/assets/177243/19499519/b967aaf2-954b-11e6-8564-e64da0de4041.png)

![screenshot 64](https://cloud.githubusercontent.com/assets/177243/19499081/490f6904-9549-11e6-8382-01

[2016-10-18 23:29] #2228 closed

[2016-10-18 23:51] Pomax commented on #2346
/cc @simonwex

[2016-10-19 04:15] KGorr opened #2358 "Update Mozilla Curriculum Workshop Landing Page for MozFest"
The Curriculum Workshop landing page needs to be updated to reflect the upcoming "Live from MozFest" broadcast:

**"Upcoming Workshop" blue call out box:**
 October 30th - 6am PT/ 9am ET/ 2pm BST/ 1pm UTC

@chadsansing - can confirm the times are correct above?

**Paragraph beneath callout box:**
Join co-hosts Amira Dhalla and Chad Sansing live from London as they talk with guests from around the

[2016-10-20 16:09] Pomax commented on #1908
Credly supports rich text, so the format we're using right now is:

- criteria: itemized list with each task starting with `Task n:` where "n" is the task number
- evidence requirement: itemized list with as many items as there are in the above "criteria" list, without the `Task n:` prefix.

/cc @hannahkane @anmechung

[2016-10-20 18:45] Pomax commented on #2346
@simonwex do you know what our production instance for credly is? Do we still want mozilla.credly.com?

[2016-10-20 19:10] hannahkane commented on #2346
I'm not Simon, but I'd say yes. :)

[2016-10-20 19:17] Pomax commented on #2346
@hannahkane that might need a few more words to further qualify what "yes" entails =)

[2016-10-20 19:20] hannahkane commented on #2346
yes to mozilla.credly.com.

[2016-10-20 20:26] flukeout commented on #2283
I've updated the search and filter component to also have a mobile, narrow view - https://flukeout.github.io/curriculum-search-react/

Will tackle the results list now.

[2016-10-21 19:17] KGorr commented on #2358
Times confirmed correct.

[2016-10-24 08:36] hannahkane commented on #2358
@kgorr - do we have the embed code yet? I'll wait for that before making these updates.

[2016-10-24 08:37] hannahkane commented on #2358
@kgorr - sorry, just saw you included the link in the first comment.

[2016-10-24 09:15] hannahkane commented on #2228
Yay!
@gvn - when will we push this to production?

[2016-10-24 10:03] hannahkane commented on #2289
Hi @belkacem77 - thanks so much for helping to localize learning.mozilla.org. We really appreciate your help! And I'm so sorry about the delay in responding to you.

We have decided to enable locales once we have site strings localized (thank you!) as well as some of our [web literacy curriculum](https://learning.mozilla.org/activities) localized. We're working on documentation describing how to l

[2016-10-24 14:11] KGorr commented on #2358
@hannahkane - can you access the embed code from that link? If not, let me know and I'll follow up with Richard.

[2016-10-24 16:42] gvn commented on #2228
We can push today!

[2016-10-24 17:06] jenntbeard commented on #2228
So exciting! Also - I have one update for the Apply page - the dates of the pilot period have just changed to Jan 30-May 19 due to PTO in the finance dept. Should I file a separate bug for that?

[2016-10-24 17:09] hannahkane commented on #2228
Please do file a separate bug, @jenntbeard. Thanks!

[2016-10-24 17:16] jenntbeard opened #2360 "Update for Gigabit Apply Page (dates)"
The dates of the Round 2 pilot period have just changed to Jan 30-May 19, 2017 due to PTO in the finance dept.

[2016-10-24 17:25] Pomax opened #2361 "drive down the compile time for the codebase, to ease Heroku"
there's a few things that we don't need to do as part of a staging/production build, since travis will have caught things like linting already. The more of those we can rule out, the faster we can bind to the Heroku port when doing a push.

The main concern is that we have a minute to bind to heroku's port for our application, and if the build takes too long, "too bad for us".

[2016-10-24 17:32] Pomax commented on #2361
/cc @gvn @alanmoo

[2016-10-24 19:41] hannahkane opened #2362 "make translated strings visible on staging"
...so that localizers can view their work!

Requires discussion of technical approach. As per @alanmoo: "I can't recall where we left off with that regarding enabled locales using environmental variables- I know it was causing weirdness in build steps"

cc @gideonthomas

[2016-10-24 19:57] hannahkane commented on #2358
Is there an etherpad link?

[2016-10-24 20:01] gideonthomas commented on #2362
@alanmoo can we try sometime this week to test this and see what problems we encounter (and fix them accordingly)?

[2016-10-24 20:05] alanmoo commented on #2362
Sure thing. It basically boiled down to an unknown state of the site based on environmental variables. See also https://12factor.net/config

[2016-10-24 20:50] gideonthomas commented on #2289
Progress on getting this onto staging can be found in: https://github.com/mozilla/learning.mozilla.org/issues/2362

[2016-10-24 20:56] KGorr commented on #2358
https://public.etherpad-mozilla.org/p/curriculum-workshop-october-30-2016 Sorry for forgetting it!

[2016-10-24 21:00] #2358 closed

[2016-10-25 23:14] KGorr opened #2366 "Update Community Call Landing Page for Nov"
Here is the November information to update the community call landing page:

Etherpad: https://public.etherpad-mozilla.org/p/mozcommunitycallnov16

AirMo link: https://air.mozilla.org/mozilla-learning-community-call-youth-leadership-2016-11-16/

"Upcoming Call" box
November 16 - 2:30pm PST/ 4:30pm CST/ 5:30pm EST/ 9:30pm UTC
Join Mozilla Hive Chicago, Mozilla Hive NYC, and other special guests to

[2016-10-27 08:45] hannahkane commented on #2366
@kgorr - I'm going to go with "Youth Leadership" for the title. Let me know if you'd prefer something else.

[2016-10-27 13:03] KGorr commented on #2366
Perfect - thank you!

[2016-10-29 21:56] gideonthomas commented on #2337
This is done: https://mozilla.github.io/curriculum-localization/

[2016-10-29 21:56] #2337 closed

[2016-11-01 19:15] alicoding opened #2368 "Mapbox API free account exceeded the limit"
Apparently the default account that I've set on this repo for testing purposed was used on production...

https://github.com/mozilla/learning.mozilla.org/blob/8624e0c899a211bd75f6976081b64d9215532152/components/map.jsx#L16

And it went over the limit for free account and Mapbox wanted to charge my account $23 for went over the limi (kinda stupid because it should warn me first before doing so).

[2016-11-01 19:16] alicoding commented on #2368
This is being used here https://learning.mozilla.org/en-US/clubs @gideonthomas @cadecairos @hannahkane ^^

[2016-11-03 12:43] cadecairos commented on #2368
I'll handle this today

[2016-11-03 16:10] cadecairos commented on #2368
I've taken control of ali's account (which he doesn't need anymore) so that we can pay for the usage.

I also created a new account in mapbox and set up the site to use a new map on that account and an access token associated with that account.

As for subscribing - I don't think it's cost effective at this point in time to subscribe. The next plan up from free is a mind-boggling $500/month. With

[2016-11-03 16:10] #2368 closed

[2016-11-03 16:55] Pomax opened #2369 "look at alternatives for mapbox (used on /clubs)"
based on https://github.com/mozilla/learning.mozilla.org/issues/2368 it might be worth looking at alternative mapping libraries that don't cost $500/mo

[2016-11-03 17:01] ryanwarsaw commented on #2369
It wouldn't hurt to send an email to Mapbox, explaining our use case and see if they have any special offerings for open source folks (like us :o)!

[2016-11-03 17:41] alicoding commented on #2368
👍

[2016-11-03 17:42] alicoding commented on #2369
@ryanwarsaw I think @cadecairos sent an email and they said open-source or non-porfit gets 10% off >.<

[2016-11-03 17:45] hannahkane commented on #2342
Closing this issue. @jenntbeard - if you have images to add, please file additional tickets.

[2016-11-03 17:45] #2342 closed

[2016-11-03 17:47] hannahkane commented on #2335
This ticket should be done with reference to the new design being worked on in #2283

[2016-11-03 17:49] jgmac1106 commented on #2369
You could just use a Google Map and ask club Captains to pin themselves. We
did this for #Walkmyworld one year:
https://sites.google.com/site/walkmyworldproject/maps

On Thu, Nov 3, 2016 at 1:42 PM Ali Al Dallal <notifications@github.com>
wrote:

[2016-11-03 17:52] hannahkane commented on #2335
We also need to think about the logic here. For example, we should prioritize activities that are in the user's locale (as determined by locale detection rules documented elsewhere). This ticket could be about answering questions like:
 * Do we show that a particular activity has a counterpart in another language or locale? If so, under what circumstances? What is the UX/UI?
 * Do we show activiti

[2016-11-03 17:53] hannahkane commented on #2335
cc @flukeout @taisdesouzalessa - probably good for the two of you to team up on this. @flukeout - not sure if you want to be considering localization as you work on #2283, or leave it for a later task.

[2016-11-03 17:53] #2310 closed

[2016-11-03 17:54] hannahkane commented on #2285
Seems to be resolved

[2016-11-03 17:54] #2285 closed

[2016-11-03 17:59] hannahkane commented on #2369
Also see https://github.com/mozilla/learning.mozilla.org/issues/2277

I like the simplicity of @jgmac1106's idea, though it would mean the information in each pin wouldn't be standardized.

[2016-11-03 18:01] hannahkane commented on #2184
@anmechung - did we get this from Matt already?

[2016-11-03 18:11] cadecairos commented on #2369
yeah, the nonprofit subscription is still $450/month, which is insane for just a single map on a page.

[2016-11-03 18:15] cadecairos commented on #2369
yeah, compare that to the 99.75% non-profit discount on mattermost enterprise and the 100% non-profit discount from zenhub, and it really leaves you wanting more.

[2016-11-03 18:17] #2366 closed

[2016-11-03 20:19] anmechung commented on #2184
Yes!  Closing.

[2016-11-03 20:19] #2184 closed

[2016-11-03 20:32] #2360 closed

[2016-11-03 21:05] hannahkane commented on #2366
This is live now.

[2016-11-03 21:05] hannahkane commented on #2360
This change is live now.

[2016-11-03 21:12] jenntbeard commented on #2360
YAY! Thank you!! (cc @LindseyinCHA)

[2016-11-03 23:56] flukeout commented on #2283
**Progress Report**
Did a first pass of showing result based on a hypothetical JSON object of 'matching activities'. In production, the search UI will pass some parameters to the back end, which will then return the matches. This is why they do not update in the prototype...

* https://flukeout.github.io/curriculum-search-react/

Once the back-end pieces are rigged up, the list will update.

cc @h

[2016-11-04 09:55] chadsansing opened #2371 "Update MCW landing page"
@hannahkane, can you update the MCW landing page for our 11/17 episode using [this doc](https://docs.google.com/document/d/1Bvpwazs17AS1HJtjxo3amdD50ugKd4LHlo59UmvINno/edit)?

@KGorr, can you get the AirMo link?

cc @ohnopauloh, @amirad

[2016-11-04 14:15] KGorr commented on #2371
AIr Mo event link: https://air.mozilla.org/mozilla-curriculum-workshop-youth-leadership/

Let me know if you need anything else.

[2016-11-04 16:16] gideonthomas commented on #2283
@flukeout question about the search UI - when will it make a request to the backend to return matches? Does it do it on every keystroke or when you press Return or is there going to be a search button? Making a request to the server on every keystroke might be overkill.

[2016-11-04 16:19] alanmoo commented on #2283
I did this on the science site and added a throttle so that it wouldn't make a request until the user stopped typing for X amount of time. Seemed to work well.

On Fri, Nov 04, 2016 at 12:16 PM Gideon Thomas

<
mailto:Gideon Thomas <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/flukeout
question about the search UI - when will it ma

[2016-11-04 17:44] gideonthomas commented on #2283
Ah ok that's fine then

[2016-11-04 18:38] #2371 closed

[2016-11-07 17:08] flukeout commented on #2283
Yeah that sounds like a great solution @alanmoo, what was the timeout you used?

[2016-11-07 18:37] Pomax commented on #2369
we could do a google maps but rather than having users place pins, we might be able to use google's [custom overlays](https://developers.google.com/maps/documentation/javascript/customoverlays) functionality instead, so that we still control the data, but the underlying map functionality is managed by gmaps.

[2016-11-07 18:55] alanmoo commented on #2283
[Looks like](https://github.com/mozilla/science.mozilla.org/blob/master/app/react/pages/projects/projects.jsx#L130) 400ms

[2016-11-07 19:19] flukeout opened #2373 "Finalize interactive curriculum role proposal."
Here is the [current proposal](https://docs.google.com/document/d/1yLzpnaG-pYfiLCGt0PBaJAPGaPVY6puxCl9InLAvqd0/edit).

Based on latest discussions, need to make some updates...

* Identify state-change in the org as a result of undertaking this project.
  * What gets better, and how does it advance our goals?
* Identify core audience for the content
  * Self-directed learners, or...
  * Educators

[2016-11-07 20:51] chadsansing commented on #2373
- Promotes internet health by showing how powerfully the web can deliver new kinds of teaching and learning in open, innovative ways.
- FWIW, current way of dealing w/ audience is creating educator/leader-facing lesson plan + learner-facing tutorial.

[2016-11-07 20:52] Pomax opened #2374 ""all badges" are returned in batches of 10 - that should be "all""
right now the "all badges" list only gives us 10 badges, due to how the Credly API returns results. This should just be all badges in one go, with the Teach-API side making sure to get all the badges if there's more than one set to retrieve.

/cc @hannahkane

[2016-11-07 20:57] Pomax commented on #2374
https://github.com/mozilla/teach-api/issues/78

[2016-11-07 21:21] Pomax opened #2375 "update "21 century" title"

[2016-11-07 21:22] Pomax opened #2376 "fix the styling around badges not offering enough space to show the entire short description"
https://learning.mofostaging.net/en-US/badges currently shows badges in boxes that cut off the description text due to fixed height CSS,

![screenshot 82](https://cloud.githubusercontent.com/assets/177243/20076449/474a7cf4-a4ed-11e6-85a8-0eec7a52bed1.png)

[2016-11-08 05:33] anmechung commented on #2375
https://learning.mofostaging.net/en-US/badges Please change 21 Century skills Credentials to Web Literacy and 21st Century Skills Badges

[2016-11-08 05:37] anmechung commented on #2375
also, update text underneath from "Certain skills are critical to becoming a citizen of the web — like the ability to communicate, collaborate and create online. Hone these skills and earn badges that spotlight your expertise." to

"Certain skills are critical to becoming a citizen of the web.  Hone these core web literacy and 21st Century skills and earn badges that spotlight your expertise."

[2016-11-08 05:49] anmechung commented on #2375
Change "Explorer all badges we offer and which ones you qualify for. Apply for badges by sharing your experiences. Then show your employers and friends you have the skills." to

"Explore core web literacy and 21st Century skills badges, apply for these badges, and share with others the skills you have learned."

[2016-11-08 05:57] anmechung opened #2377 "edits to individual badge pages"
On each individual badge page (i.e. https://learning.mofostaging.net/en-US/badge/2215/connect) under badge requirements, change “Make or write something that demonstrates your understanding of any two or more of the following.” to “Complete the following three tasks and submit the required evidence.”

[2016-11-08 19:49] Pomax commented on #2375
"spotlight" or "highlight"? (as far as I'm aware the first is more used as noun)

[2016-11-08 21:19] anmechung commented on #2375
"highlight" is much better!

[2016-11-09 00:07] Pomax commented on #2375
updated the PR

[2016-11-09 00:07] #2375 closed

[2016-11-09 00:09] Pomax commented on #2377
this is a generic text, not tied to the "connect" badge (it's simply a template into which badge information is injected) so I assume we want the "three" part to actually be the number of tasks for each badge? (e.g. if a badge has two tasks, it should be "two", if it has seventeen, it should be "seventeen"?)

[2016-11-09 00:36] flukeout commented on #2283
Updated to a 400 ms delay before searching after a keystroke.

Up next - styling & presenting activity collections.

[2016-11-09 00:50] jgmac1106 commented on #2283
Are multiple filters at once possible?

On Tue, Nov 8, 2016 at 7:36 PM Luke Pacholski <notifications@github.com>
wrote:

[2016-11-09 17:44] jvallera commented on #2275
Hi @hannahkane just checking back on this. Would be great to have in place soon.

[2016-11-09 19:24] flukeout commented on #2283
**Questions for a certain Mr.Chad**

* Do Activities always have to belong to a "Collection" or "Teaching Kit"?
* When someone does a keyword search for say "CSS", should we...
  * List out only single activities that relate to it?
  * Attempt to show collections that include content about CSS too?

[2016-11-09 19:47] flukeout commented on #2307
@gideonthomas the expanded ``teaching_kits`` property seems to be missing a ``url``, yeah?

[code]

[2016-11-09 19:50] gideonthomas commented on #2307
no? what url will it point to? The activities have a url because they live on Github Pages/Thimble/Google Docs, but the teaching kits will live in the learning site itself so it shouldn't have the url right?

[2016-11-09 20:34] chadsansing commented on #2283
- No, but we should be able to include them in one or several as necessary.
- Maybe look for tags and strings?

[2016-11-09 20:56] flukeout commented on #2307
There needs to be some mechanism to navigating to the Collection page. How should users get there then?

For reference, here's what that view might look like...

https://redpen.io/ro89ab1ced25908016

[2016-11-10 21:55] flukeout commented on #2283
**Update** - https://flukeout.github.io/curriculum-search-react/

* I've included a way to display Collections as well as Activities in the results list.
  * The first few results are collections, the ones after are individual activities.
* Added a narrow, mobile view

**Up next**
* Add a way to filter out Collections from the search results
  * Or lets users select both Activities & Collections,

[2016-11-11 18:05] alanmoo opened #2379 "Gigabit tab text isn't centered in Safari"
https://learning.mozilla.org/en-US/gigabit

[2016-11-12 21:53] hannahkane commented on #2283
Looking good, @flukeout. Can you describe the logic of the search results? Would a collection show up if *any* of the activities within it matched the search criteria?

Small note - the pencil icon makes me think I can edit the item.

When we get to the point where we're ready to do user testing, I'll be curious to learn if the "Collections" concept and related UX is intuitive to people.

I'm thin

[2016-11-14 18:58] hannahkane commented on #2275
@Pomax - I'm a bit out of the loop, so I don't know all that's on your plate this heartbeat. Advancing the shared services work and any urgent badges issues would be higher priority than this task. Given that, do you think you'll have bandwidth to do this item?

[2016-11-14 19:01] gvn commented on #2275
If not I can look at it

[2016-11-14 22:22] hannahkane opened #2380 "Add "Make Your First Webpage" collection"
Content is [here](https://docs.google.com/document/d/1Xb5SgFfGx5sEytK5IcXn0TAN5qLnlb_S1Qxyg8SuWXo/edit#)

[2016-11-14 22:33] taisdesouzalessa opened #2381 "Broken Links"
All the links in Portuguese for the following page are broken:
https://learning.mozilla.org/en-US/clubs/running

Please see examples with screenshots here:
![learning-dot-mozilla](https://cloud.githubusercontent.com/assets/22157921/20285518/3b8a2092-aa77-11e6-9f7e-5cf6f32dd3ef.png)

[2016-11-14 22:37] taisdesouzalessa opened #2382 "Misspelling in one word"
This is not a big bug (it doesn't affect functionality) but it is a nice fix to have.

In our page https://learning.mozilla.org/en-US/clubs/running, the correct translation for Portuguese is Portugu**ê**s not Portugu**é**s. The accent is the tricky part ;)

[2016-11-15 04:24] hannahkane commented on #2380
cc @chadsansing

[2016-11-15 19:02] hannahkane commented on #2275
Thanks, @gvn. That would be great.

[2016-11-15 19:25] Pomax commented on #2381
Interesting. That looks like broken links on https://leaomozillaclubs.com, and I don't know who runs that. @hannahkane @KGorr any idea?

[2016-11-15 19:31] #2380 closed

[2016-11-15 19:46] flukeout commented on #2283
* Removed the pencil Icon (agree on the edit confusion)
* Changed the heading & subheading

https://flukeout.github.io/curriculum-search-react/

**UX For Collection Search**
* I think we just show Collections that have a matching term in their title or description, or tag (if they have tags, unsure at the moment)
* The alternative of showing a collection if any activity inside it matches might pro

[2016-11-15 20:12] hannahkane commented on #2283
Nice changes. +1 on the UX for Collection search. Just wanted to clarify.

[2016-11-15 20:13] hannahkane commented on #2381
cc @jvallera

[2016-11-15 20:41] IBGMozilla commented on #2377
We need to add the four 21c badges to the mofostaging site as well the remaining four web literacy badges (right now only 10 are fitting on the site).

[2016-11-15 20:43] jvallera commented on #2381
Hmm, not sure. Looking into it with a community member who I think wrote them.

[2016-11-15 20:47] IBGMozilla commented on #2377
The "tasks" for the badges all are linked to the lesson plan and open there, however, the badge earner needs to scroll down the bottom of the page where it says, "IMLS Pilots: Earning Badges" as these are the steps for completing the task. Need the link from the badges/mofostaging to link directly to that part of the lesson plan page (IMLS Pilots) instead of taking them to the top of the page.

[2016-11-15 20:48] IBGMozilla opened #2384 "Links to Tasks for web literacy badges needs to go to middle of page"
The "tasks" for the badges all are linked to the lesson plan and open there, however, the badge earner needs to scroll down the bottom of the page where it says, "IMLS Pilots: Earning Badges" as these are the steps for completing the task. Need the link from the badges/mofostaging to link directly to that part of the lesson plan page (IMLS Pilots) instead of taking them to the top of the page. @Po

[2016-11-16 16:03] jvallera commented on #2381
Ok, looks like all the Portuguese links are broken, plus some in English. The Club that did these just moved their content to a new location. Sorry about that, can I help at all?

Here are the working links:

A Mozilla Club In Your Established Program: https://leaomozillaclubs.gitlab.io/mozillaclubsguides/existing-program/
Mozilla Club in a neighborhood with low connectivity: https://leaomozillacl

[2016-11-16 18:39] jvallera commented on #2381
Ok, looks like all the Portuguese links are broken, plus some in English. The Club that did these just moved their content to a new location. Sorry about that, can I help at all?

Here are the working links:

A Mozilla Club In Your Established Program: https://leaomozillaclubs.gitlab.io/mozillaclubsguides/existing-program/
Mozilla Club in a neighborhood with low connectivity: https://leaomozillacl

[2016-11-17 14:30] KGorr opened #2387 "Update Mozilla Curriculum Workshop Landing Page"
Unfortunately, we had to cancel our curriculum workshop today due to guest illness. Can you please update the page to say "Postponed" where the current date and time reside?

Let me or @chadsansing know if you need any more info. Thanks!

[2016-11-17 17:19] hannahkane commented on #2387
@gvn - are you able to do this and push it out today?

[2016-11-17 17:57] gvn commented on #2387
Sure

[2016-11-17 18:19] #2387 closed

[2016-11-17 19:10] gvn commented on #2387
This is live now: https://learning.mozilla.org/en-US/community/curriculum-workshop

[2016-11-17 19:47] KGorr commented on #2387
You guys are super fast - thank you!

[2016-11-17 19:52] Pomax commented on #2381
Hm, I'm trying to figure out where these links actually live. If they're managed through Pontoon then they might need to be updated there and then a language resync would fix this without us doing anything in particular

[2016-11-17 20:00] Pomax commented on #2381
According to @gideonthomas these are strings that live in the Teach-API, and require going into the admin view for the club guides and updating them there. Do you have the perms to do this @jvallera?

[2016-11-17 20:45] ldecoursy opened #2389 "Update placement of Letters to President and Build First Web Page modules on /activities"
Can we change the placement of the Letters to the Next President and Build Your First Web Page modules on learning.mozilla.org/activities?

We initially bumped up the Next Pres module to the top of the page to help drive traffic leading up to the election, but that is now behind us :(

The new module seems like a good one to take it's place at the top!

I'd suggest moving Letters to the Next Presi

[2016-11-23 05:35] anmechung commented on #2377
@Pomax - sorry - missed this one and looping in @IBGMozilla.  It is generic text, not tied to any one badge. Each badge has 3 tasks.  None have less or more right now.

[2016-11-23 15:44] IBGMozilla commented on #2376
Can you update on the status of this @Pomax @gideonthomas. Thanks!

[2016-11-23 15:52] IBGMozilla commented on #2374
Yes, we need to display all 18 badges displayed (four 21st badges & 14 web literacy badges). @Pomax @gideonthomas

[2016-11-30 00:32] #2275 closed

[2016-11-30 18:15] hannahkane opened #2392 "Update links and index copy for Privacy Basics"
See https://docs.google.com/document/d/1BSHbGmK8DW2f6-svDmBmmBdL5eCm87elUUNFMN9uyyg/edit#heading=h.oj12bsbwexeb

[2016-11-30 18:15] hannahkane commented on #2392
cc @chadsansing

[2016-11-30 21:07] jvallera commented on #2381
I thought I did @Pomax but when I am in admin on the Teach-api I don't see the glub guides anymore. All I see is the list of clubs and users. @gideonthomas is there somewhere else I should be looking? Thanks.

[2016-12-01 03:02] gideonthomas commented on #2381
Oh sorry @jvallera! Apparently the permissions to access club guides was not set for staff. Just fixed that so you should be able to see it now; let me know if you don't.

[2016-12-01 18:33] gvn commented on #2275
@jvallera @hannahkane This is now on [staging](https://learning.mofostaging.net/en-US/). If it looks good I can push to prod. Just let me know!

[2016-12-01 18:36] jvallera commented on #2381
@taisdesouzalessa all links should be fixed now.

[2016-12-01 18:39] jvallera commented on #2275
Thanks @gvn i can't seem to login to the staging site to view the application. Does my current teach-api login work? or do I need to make a new account for staging?

[2016-12-01 18:40] gvn commented on #2275
Hmm. I'm using the same login. I did have some issues with PrivacyBadger blocking cookies. Are you using it by any chance?

[2016-12-01 18:57] jvallera commented on #2275
no, I don't think so. Not sure what Privacy Badger is.
I just made a new account through staging using the same info from the teach api  and that worked...

it looks great to me!

[2016-12-01 19:08] taisdesouzalessa commented on #2381
@jvallera this is amazing, thanks for everything! So many people contributing to fix this issue here. Thank you for all your help, everybody. Really appreciate it!

[2016-12-01 19:08] #2381 closed

[2016-12-01 19:50] gvn commented on #2275
Ok, this is live!

[2016-12-01 20:13] jvallera commented on #2275
Great thanks!

[2016-12-01 20:48] gideonthomas opened #2393 "Remove past event from Gigabit Event Page"
Filed by @jenntbeard

### Details

MozFest has passed, we'd like to remove it from our upcoming events page. (I know eventually we will be able to do this ourselves, but I don't think we can do this yet, correct?)

### Info & links

On https://learning.mozilla.org/en-US/gigabit/events, there is an event that has passed - MozFest. Please remove it. Thanks!

cc @hannahkane

[2016-12-02 15:47] jgmac1106 opened #2394 "Update the examples on Comic Maker"
Not sure if this belongs in Thimble repo or here but our two examples on the Comic Teaching Kit use old Thimble. One was created by me and I can update to new Thimble but the American Genocide was by one of my students and I would like to give her credit. Not sure how to update hers without the password.

[2016-12-02 18:05] Pomax commented on #2384
If you can give the URL for the lesson plan page, I can see if there is an html `id` attribute somewhere in the page source that we can use to directly link the users to the relevant section.

[2016-12-06 06:52] hannahkane commented on #2275
Looks great. Thanks!

[2016-12-08 18:27] IBGMozilla commented on #2384
@pomax here's an example of a link to one of the lesson plans pages: https://thimbleprojects.org/chadsansing/125881/web-lit-basics-one/session03-hack-the-news.html#overview.

All of the links to the lesson plans are here: https://thimbleprojects.org/chadsansing/125881/

[2016-12-13 00:17] Pomax commented on #2376
PR filed, it now looks like this:

![screenshot 105](https://cloud.githubusercontent.com/assets/177243/21122334/55c41b28-c086-11e6-83e7-d3c7e415b196.png)

[2016-12-13 00:48] Pomax commented on #2374
PR filed, upping the result set for badge listings from 10 to 9999, which seems a far more reasonable number, even if we don't have 9999 badges *quite* yet =)

[2016-12-14 18:23] KGorr opened #2397 "HOLD until further updates: Update Community Call & Curriculum Workshop Landing Pages"
The community call and curriculum workshop landing pages need to be updated. Upcoming event times and details are still TBD for 2017, so suggestions for updating the copy is as follows:

Remove all upcoming info, live stream embed & etherpad embed so that only general description of event at the top of page, blue box blurb & archives remain.

**Community Call Blurb in blue box:** "Thanks for your

[2016-12-14 19:28] IBGMozilla commented on #2376
When I look at the staging site, I don't see these fixes and the text continues to cut off after a limited number of words.

[2016-12-15 19:28] gideonthomas commented on #2376
@IBGMozilla, this hasn't been fixed on the staging site so you will only see the fix after https://github.com/mozilla/learning.mozilla.org/pull/2396 has been merged into this repository and this issue is closed.

[2016-12-15 19:40] #2377 closed

[2016-12-15 19:42] #2374 closed

[2016-12-15 20:48] #2393 closed

[2016-12-16 00:08] #2376 closed

[2016-12-19 10:43] IBGMozilla commented on #2384
@Pomax @anmechung can you please update on the status of this item?

[2016-12-19 11:01] IBGMozilla opened #2399 "Change Links to the Lesson Plans on Badges"
All links for the lesson plans are Here: https://thimbleprojects.org/chadsansing/125881/

Some of the lesson plans on the Mofo staging site are still linked to older lessons. Please change the following:

1. Search-- IP Tracer: https://thimbleprojects.org/chadsansing/125881/privacy-basics/session01-ip-tracer.html#overview
2. Protect -- Bad Password Collage: https://thimbleprojects.org/chadsansing/

[2016-12-22 23:25] Pomax commented on #2384
It looks like there is no direct way to link to the requirements given the current HTML, but maybe @chadsansing can help add `id="..."` to these sections, and then we can link straight to the list of evidence requirements.

[2016-12-23 00:11] gideonthomas opened #2400 "Clarify gigabit language on landing page"
### Details
We would like to replace the text under the 'What is Mozilla Gigabit?' header on the landing page in an effort to be more clear about what we mean, why we're doing the work and leave people wanting to know more (not less) about the wonderful world of the gig.

Old copy:
Mozilla Gigabit Community Fund provides catalytic funding in US communities to support pilot tests of gigabit technol

[2016-12-23 00:12] gideonthomas opened #2401 "Fix third criteria on Apply page"
### Details
On the Apply page (https://learning.mozilla.org/en-US/gigabit/apply), the third funding requirement criteria should read: "Leverage next-generation technologies like virtual reality, 4K video, artificial intelligence, and their related curricula"

### Info & links
https://learning.mozilla.org/en-US/gigabit/apply

@LindseyInCHA

cc @jenntbeard

[2016-12-28 07:39] aayushsanghavi commented on #2401
I'll take this up

[2016-12-28 08:05] aayushsanghavi commented on #2400
I'll take this up

[2017-01-03 11:19] chadsansing commented on #2384
@anmechung - what are your thoughts on this? Essentially, the links from the list of our Thimble lesson plans for IMLS would all jump to the evidence required part of each lesson plan, instead of jumping to the beginning of each lesson. From a content perspective, if we want to highlight evidence requirements, I suggest moving them all to the top of each lesson, but then that is the first part of

[2017-01-03 17:48] Pomax commented on #2384
alternatively we could set up `id` attributes on each section in the lesson plans, so that anyone on the web (including us =D) can directly link to the relevant section of the page.

[2017-01-03 18:05] anmechung commented on #2384
@pomax sounds like a great idea, and would this be similar to adding a section to the left-hand column similar to where the reflection etc. is now? If we can do this, @chadsansing can you move the content to reflect this, and if you don't have the bandwidth @IBGMozilla can help with this.

[2017-01-03 18:55] Pomax commented on #2384
Strictly speaking, no, but it would allow for adding that. My suggestion was to simply add an `id` to the heading for the tasks, so that you can navigate to the page with something like `http://...../page#tasks` (the "tasks" bit after the # symbol letting the browser autonavigate the page), but of course that's universal behaviour so adding a link to the left hand column called "Tasks" that does t

[2017-01-03 19:45] chadsansing commented on #2384
I have time to add id tags this week so we can use the id to link to that part of the lesson from the badging sites. However, I'll be updating just my Thimble versions, so we may want to wait until we get /activities updated to begin linking - or we can update the badging sites later. I can file a ticket for that with Luke and Hannah added when I get back to work mañana.

I am hesitant to add badg

[2017-01-04 13:18] chadsansing opened #2405 "We need to update /activities"
We should update [/activities](https://learning.mozilla.org/activities) to better organize our core offerings and curated offerings, as well as to use our most up-to-date versions of each core module/lesson/curriculum template.

We should update /activities in 2 steps.

# Better organize /activities

1. We should create a "core content" header at the top of our activities list an include these mod

[2017-01-04 15:48] KGorr commented on #2397
@chadsansing - if this doesn't get updated before you have info for your February MCW, can you please provide new info for the landing page? Thank you!

cc: @hannahkane

[2017-01-04 16:00] chadsansing commented on #2397
Yah - hoping to move on invites this week, well ahead of 2/16/17 webcast date. Deadline?

[2017-01-04 17:31] KGorr commented on #2397
Thanks, Chad! Deadline will depend on when Hannah's team can update the page, so I'll let her dictate that. :)

Also, @hannahkane - you can put a hold on the community call page updates for now. We may be changing direction for what the page will look like during our "hold." Will let you know as soon as I can. Thanks!

[2017-01-04 17:58] hannahkane commented on #2405
Thanks for the ticket, @chadsansing. A few questions/thoughts:

* Do you think it's best to do the re-arranging first, or can we reverse the order and finalize the core content first, then do the re-arranging?
* You said it would "give users a quick and dirty way to filter our core content from curated or community-generated content." Can you clarify what the users' mental model will be? Is it tha

[2017-01-04 18:28] chadsansing commented on #2405
Oh, sure - let's finalize core content first. Sorry I transposed that! I think we're in pretty good shape; a @flukeout shakedown would be good. We should also be sure to settle on where we put badging information on activities before we make the change, but @anmechung and I are on the case and will have the matter resolved shortly.

I think the mental model will be, "Here is official, sequential M

[2017-01-06 22:17] KGorr commented on #2397
@hannahkane - we are considering two options for the community call landing page, since it looks like they will be on hold until further notice. Would love your input, especially for which is easiest to implement.

**Option 1:** Eliminate the Community Call Landing Page completely and add this blurb to the main Community landing page (maybe under the Connect with Others blurb): "View our community

[2017-01-06 22:23] hannahkane commented on #2397
Hey @KGorr - we can do either, but doesn't https://air.mozilla.org/channels/Mozilla-Learning/ exclude a bunch of the community calls we've done?

[2017-01-06 22:30] KGorr commented on #2397
@hannahkane -nice eye :) It does exclude a handful from the beginning of the year. I plan to have them uploaded in the next few days, so the channel will be complete soon.

[2017-01-06 22:30] KGorr commented on #2397
And I'll also be making sure all of them have direct links to the etherpads used.

[2017-01-10 00:27] KGorr commented on #2397
@hannahkane - all videos (with the exception of one I am getting help with from AirMo) have been added to our channel. Option 1 can be implemented whenever your team is ready. Thank you!

[2017-01-10 14:40] IBGMozilla opened #2406 "Applying for 21C Badges on Staging"
When walking through the demo on https://learning.mofostaging.net/en-US/badges for the 21Century badges (problem-solving, creativity, communication, collaboration), I could not "apply" (apply button was in grey) even after adding the required evidence. This should be fixed so the badges are live and we can apply for them as we can for the other web literacy badges.

@Pomax @anmechung

[2017-01-10 18:08] Pomax commented on #2406
I'm going to look into this, but: why are there way more than three tasks for these badges? I remember there was the explicit mention that badges would only have three tasks so that we could hardcode the task label to say "Complete the following three tasks and submit the required evidence:".

[2017-01-10 20:05] IBGMozilla commented on #2406
This was how these were developed so I added all of the questions/tasks in
as they were initially conceived. I spoke to An-Me about this yesterday and
we think that we should say, "complete three of the following tasks". Is
that doable?

On Tue, Jan 10, 2017 at 1:08 PM, Mike Kamermans <notifications@github.com>
wrote:

[2017-01-10 20:22] Pomax commented on #2406
Not really, we don't have a label "per badge", this is a universal label. As such, if we say "complete three of the following tasks" for badges that have exactly three tasks, that's going to be a curious label.

That said, the format for the four original badges will still needs to be updated to match the formatting used by the new badges (I can help with that if necessary but it's mostly a matter

[2017-01-10 20:25] Pomax commented on #2406
basically we've set it up right now so that the label says "three", and the button does not unlock until you've done all of them, because all badges had three requirements. If we're going to change that, then we need to go back into the code and change how the form itself works, which would be a fair bit of work.

[2017-01-10 21:25] gideonthomas opened #2407 "Remove Webmaker Branding"
I'm not sure if this is something we need to do or not, but a lot of text on https://learning.mozilla.org/blog/ has references to "Webmaker" such as the description, "Planet Webmaker", etc.

Should we remove it?

[2017-01-10 22:52] hannahkane commented on #2407
Suggestion:

Replace "Webmaker helps people across the world become informed creators of a free and open web." with "Mozilla Learning helps people across the world become informed citizens of a free and open web."

Remove Planet Webmaker widget.

@ldecoursy - is the above alright?

[2017-01-10 22:56] ldecoursy commented on #2407
Great catch @gideonthomas

Do we even need the sidebar description since there's a subhead at the top of the page? If so I might change it to "Mozilla Learning rallies and connects leaders who want to advance the promise of the Internet for learning in a networked world." (matches the statement on learning.mozilla.org)

+1 to removing Planet Webmaker

[2017-01-10 23:05] hannahkane commented on #2407
+1 to just removing the sidebar description

[2017-01-12 04:18] aayushsanghavi commented on #2401
Could someone please review the PR

[2017-01-12 20:05] hannahkane commented on #2394
Hi @jgmac1106! Belated happy new year. :) What if you remix it, and change the link? You could still give her credit for the original project.

[2017-01-12 20:29] jgmac1106 commented on #2394
That sounds like a plan. I can just pull the source code from webmaker
thimble and will publish it. Happy New Year to you as well.

On Thu, Jan 12, 2017 at 3:05 PM hannahkane <notifications@github.com> wrote:

[2017-01-13 20:51] gvn opened #2408 "Enable gzip compression"
Compressing the following resources with gzip could reduce their transfer size by about two thirds (~1.2 MB):

learning.mozilla.org/
could save ~14.2 KB
css
could save ~15.6 KB
bootstrap.min.css
could save ~78.9 KB
font-awesome.min.css
could save ~20.2 KB
tabzilla.css
could save ~564 B
mofo-ui.css
could save ~4.3 KB
styles.css
could save ~68.1 KB
en.js
could save ~4.7 KB
commons.bundle.js
could sa

[2017-01-17 04:43] ryanwarsaw commented on #2408
@gvn Just to clarify, do we want to do asset compression through the express framework, or through the web server configuration (nginx / apache2)?

[2017-01-17 17:31] jenntbeard commented on #2393
This is still showing up on the website....

[2017-01-17 17:50] jenntbeard opened #2409 "Add new Gigabit Events to Events Page"
We have an update to an existing project (SxSWedu) and a new project on 2/22 to be added to our Gigabit events page (https://learning.mozilla.org/en-US/gigabit/events). [We also had a bug filed to remove MozFest from this page - mozilla/learning.mozilla.org#2393 - but it still appears active, despite that bug being closed.]

For info, please use this worksheet:
https://docs.google.com/spreadsheets

[2017-01-17 17:52] gvn commented on #2393
This had been landed to `master`, but not deployed.

I just ran a build, so should be live on production now...

[2017-01-17 18:07] gvn commented on #2408
I think it'll have to be through Express.

[2017-01-17 21:31] hannahkane commented on #2409
@gvn - can I assign this to you?

[2017-01-17 22:10] gvn commented on #2409
Sure thing

[2017-01-17 22:10] gvn commented on #2409
#2393 was fixed, but not deployed. It's live now.

[2017-01-17 22:14] jenntbeard commented on #2400
Has this been completed? It's not live on the site yet. Thanks!

[2017-01-17 23:49] #2392 closed

[2017-01-18 01:51] gideonthomas commented on #2400
@jenntbeard there is a pull request with the changes for this. It needs to be fixed slightly and will be on the staging site after that. Once it's live on the main site, we will close this issue.

[2017-01-19 04:25] ryanwarsaw commented on #2408
@gvn This issue should be resolved, can you verify this is the case?

[2017-01-19 18:41] gvn commented on #2408
Verified on prod. Nice! 👍

[2017-01-19 18:41] #2408 closed

[2017-01-20 01:08] hannahkane opened #2410 "Make blog post on learning.mozilla.org/gigabit dynamic"
New gigabit-tagged posts are added to https://learning.mozilla.org/blog/ monthly. Ideally, the most recent post tagged with "gigabit" would appear automatically on the "blog" section within the "Featured Updates" section of learning.mozilla.org/gigabit (similar to how blog posts are dynamically pulled into the Learning site homepage).

@Pomax @mmmavis @gvn - can one of you please advise and estima

[2017-01-20 01:13] hannahkane opened #2411 "High Priority: add new Gigabit portfolio projects"
@jenntbeard - do you have all of the data in a spreadsheet? Can you please link to it here. Thanks!

[2017-01-20 17:46] gvn commented on #2409
I'm not seeing a link to a thumbnail for 2017 Education Innovation Showcase.

Can someone provide it please? Thanks!

[2017-01-20 18:29] jenntbeard commented on #2409
Can you pull in the image from the Eventbrite page? https://www.eventbrite.com/e/education-innovation-showcase-tickets-30495213003
![https_cdn evbuc com_images_27298424_66734185051_1_original](https://cloud.githubusercontent.com/assets/17835013/22160630/0470b2aa-df0c-11e6-95bc-9c9aeae5d289.jpeg)

[2017-01-20 19:53] jenntbeard commented on #2411
https://docs.google.com/spreadsheets/d/15q7NbUmIj21PWPmWgBM-w3D3RkJICp7dkmODcdR2WQQ/edit#gid=1136518992

Okay, Lindsey preferred that we just update the two existing projects - Gigabots and ViatoR with the new info. I have included images and links for those that have them. For ones without specific images, you can just use the Gigabit Community Fund logo (file attached here). Also, for this round

[2017-01-20 21:41] hannahkane commented on #2411
Are these all for year 2016?
Is there no data for the "Outcomes" field?

[2017-01-20 22:27] hannahkane commented on #2411
To clarify - for Gigabots and ViatoR - do you want to *replace* the content that's there with new content, or *add* the new content?

[2017-01-23 17:33] jenntbeard commented on #2400
We are currently pushing media to the site with our Round 2 grant announcement today - nearly a quarter million dollars is going out to 19 grantees. It would be great to have this language cleaned up for them. Thanks for your help!

[2017-01-23 18:43] #2411 closed

[2017-01-23 18:47] hannahkane opened #2414 "update lead org for Digital Mock City Council"
New org: Austin Monitor
New link: http://www.austinmonitor.com/
New logo: https://drive.google.com/open?id=0B1Tu07mQk89LaGdUVl9iMzdTbk0

[2017-01-23 19:41] #2414 closed

[2017-01-23 20:13] #2409 closed

[2017-01-23 21:52] gideonthomas commented on #2400
@jenntbeard this should be live now 👍
Closing...

[2017-01-23 21:52] #2400 closed

[2017-01-25 20:16] jenntbeard opened #2417 "New event for Gigabit Events Page"
We would like to add this event to - https://learning.mozilla.org/en-US/gigabit/events.

Date: June 26-28, 2017
Title: 2017 Smart Cities Connect Conference & Expo
Event link: http://smartcitiesconnect.com/
Image link: https://drive.google.com/open?id=0B1Tu07mQk89LdTlhNEI3emZuZTg
Location: Austin Convention Center
500 East Cesar Chavez Street, Austin, Texas, 78701
Description: The 2017 Smart Cities

[2017-01-26 18:37] chadsansing opened #2418 "Update curriculum workshop page for February 2017 episode"
Hi, @hannahkane! Can you update the MCW page w/ copy found [here](https://docs.google.com/document/d/1ovFgfVjMgjHO20ary_dHWmqffCoC33B4UKkhT2vnnPY/edit)?

[2017-01-26 22:30] hannahkane opened #2419 "Couple changes to Gigabit portfolio"
Create With Me!
 * Change project name to Accelerate, Augmented Reality for Workforce Training
 * Change short description to "Accelerate, Augmented Reality for Workforce Training will leverage gigabit connectivity to design an augmented reality tool that supports entry level IT learning for adults."

Virtual Realities in Culture: Explorations of the African Diaspora
 * Update logo
 * Update url t

[2017-01-26 23:18] hannahkane commented on #2419
cc @jenntbeard

[2017-01-27 14:26] jenntbeard commented on #2419
Thanks, Hannah!!

[2017-01-27 19:14] Pomax opened #2422 "https://forum.learning.mozilla.org signup/signin buttons don't show content"
Our content:

![screenshot 148](https://cloud.githubusercontent.com/assets/177243/22384081/93864ffc-e481-11e6-8463-a2f3885aef6d.png)

What it looks like on discourse.org:

![screenshot 149](https://cloud.githubusercontent.com/assets/177243/22384093/a2fb737c-e481-11e6-9fcc-0a873a70fb6e.png)

No errors or warnings whatsoever in the console to help see what might be wrong =(

[2017-01-27 22:21] #2419 closed

[2017-01-27 23:21] #2417 closed

[2017-01-31 18:29] #2418 closed

[2017-01-31 19:15] IBGMozilla opened #2424 "Problem with "Authorized issuer" on Credly badges"
@Pomax @anmechung -- I have given several people access to Credly to issue badges that were applied for on the mozilla staging site. The goal is for these individuals to be able to view and issue badges.

To do this, I have entered their names in as "authorized issuer" for each of the web literacy badges on Credly.

When they log in using their credentials, they can see the web literacy badges tha

[2017-02-01 01:46] Pomax commented on #2424
as far as I am aware, authorised users can give credit (i.e. immediately issue a badge to someone), but they cannot pending badge requests. I will try to get that confirmed by credly but things might be a bit slow as I'm in Berlin at the moment for a community support work week.

[2017-02-01 16:12] IBGMozilla commented on #2424
Hi Pomax, I'm not sure if Gideon is available to help trouble-shoot as I'm
a little confused here. We need the pilots to be able to issue badges based
on badge applications that were applied to through the mozilla staging
site.

If they cannot see any badges that are pending, they won't be able to
review the pending applications, evidence submitted, etc. They need to have
access to these.

Do we n

[2017-02-01 21:42] hannahkane commented on #2424
@gideonthomas's pretty busy with Thimble right now, but he said he recalls we resolved this. I don't think I was involved in that conversation. @anmechung - do you recall?

I assumed we'd give them the same privileges we have on the site.

[2017-02-01 22:06] mmmavis opened #2425 "Delete stale branches"
@cadecairos @alanmoo @gvn @gideonthomas @Pomax @ScottDowne

We have tons of stale branches on this repo. If a branch belongs to you and you know it's been merged / is no longer needed can you please delete it? 👍 😄

https://github.com/mozilla/learning.mozilla.org/branches/stale

[2017-02-02 07:33] Pomax commented on #2424
I thought we had too, but I emailed credly just to make sure we know the solution here and we can add it to a section in the wiki or the readme or summer elder that we can easily find it in the future.

[2017-02-02 14:35] IBGMozilla commented on #2424
We hadn't discussed giving them the same permissions we have to my knowledge, but if that's an option, it may be best. We don't want them to be able to edit the badges, but we would like them to be able to view pending and approve/issue or decline. How should we proceed?

[2017-02-03 23:41] ldecoursy opened #2426 "Hide email sign-up links from homepage and community page"
Let's remove the links for email-sign ups.

One is on the homepage - the first CTA button. Another is on the Community page towards the bottom. Might be worth double-checking if there are any other links on the site to sign-up but I think those are the only two ;)

[2017-02-06 13:02] chadsansing opened #2427 "Update the Mozilla Curriculum Workshop page to reflect changes for 2017"
Changes to be made [here](https://learning.mozilla.org/en-US/community/curriculum-workshop/
).

- Change the sub-header that says "Join us on the second Tuesday of each month!" to "Join us for a new episode each quarter!"
- Change "along with producers Kristina Gorr and Paul Oh" in the first paragraph to "along with producer Paul Oh."
- Under the "Upcoming workshops" subheader beneath the etherpad

[2017-02-06 13:24] jgmac1106 commented on #2427
Can we come up with something besides q1, q2, q3, and q4? Those terms and
dates are too familiar in education spaces.

I have no idea what a better option would be.

On Mon, Feb 6, 2017 at 8:02 AM Chad Sansing <notifications@github.com>
wrote:

[2017-02-06 13:59] chadsansing commented on #2427
That would work; I would like to get everything set and delivered for the 2/16/17 episode and then set dates with the team for the rest if the shows. Then we can update again with dates. This terminology is temporary.

[2017-02-06 15:19] alanmoo commented on #2425
Looks like the last stale one is one you created @mmmavis. Safe to close this now?

[2017-02-06 17:36] mmmavis commented on #2425
@hannahkane can I delete the branch that we used for CMS integration experiment last year?

[2017-02-06 17:45] hannahkane commented on #2425
@simonwex - what do you think? ^

[2017-02-07 00:41] hannahkane commented on #2424
@pomax - does credly allow fine-grained permissions? Have you confirmed yet whether auth'ed users can view/approve pending badge requests?

[2017-02-07 02:30] Pomax commented on #2424
I got a response from Credly, and I'm not super happy with what they're saying. It sounds like we'd need to invest a fair number of hours writing a portal for these type of users OR give them manager rights similar to  your rights (which means they can edit, delete, etc...).

Quoting the email thread:

---

---

---

[2017-02-07 17:45] hannahkane commented on #2424
Since this is a pilot, can we give them full access + training about how to avoid unintentionally editing or deleting badges?

[2017-02-07 18:51] Pomax commented on #2424
Certainly, that call is mostly up to you and an-me. If you're willing to give that level of access, then that's a quick and easy solution.

[2017-02-07 21:23] #2427 closed

[2017-02-07 23:03] hannahkane opened #2429 "Where did the blog go?"
Blog posts are no longer appearing on the homepage.

[2017-02-07 23:06] hannahkane commented on #2426
I would do this myself, but I think I'd need instructions from a dev. @mmmavis or @gvn or @alanmoo - could you please advise?

[2017-02-07 23:14] Pomax commented on #2429
Did we use the WP connector for this? Do that connector still work? @mmmavis might know more.

[2017-02-07 23:23] mmmavis commented on #2429
Nope it's not related to the CMS integration we tried to accomplish last year.

https://github.com/mozilla/learning.mozilla.org/blob/master/lib/blog-feed-loader.js Maybe some API has been deprecated? I haven't touched this part for 2 years but I can take a look today/tomorrow.

[2017-02-08 00:02] mmmavis commented on #2426
No worries @hannahkane I'll file a PR for this.

[2017-02-08 00:26] mmmavis commented on #2426
@ldecoursy are we temporary hiding these the email signups CTA from UI? I'm deciding if I should remove all the email signup bits from the codebase or just hide them for now if we are planning to show them again in the near future. 😉

[2017-02-08 00:26] mmmavis commented on #2426
oops closed this ticket by accident

[2017-02-08 00:37] mmmavis commented on #2429
Ah, Google Feed API has been deprecated since December 15th, 2016. https://developers.google.com/feed/ 😢

Time to switch to another solution.

[2017-02-08 00:55] hannahkane commented on #2429
Hmm...maybe this is a good point to check in with @KevZawacki to see what the future of the [Learning blog](https://learning.mozilla.org/blog/) is. Kevin - are we planning to retire this blog in lieu of the Medium collections?

If so, our solution for pulling content onto the homepage should be about Medium, rather than Wordpress.

[2017-02-08 13:14] KevZawacki commented on #2429
I'm hesitant to say we're officially retiring our WordPress blogs... but more and more people are posting to [Read, Write, Participate](https://medium.com/read-write-participate) and [Mozilla Internet Citizen](https://medium.com/mozilla-internet-citizen).

Plus, it's these two Medium blogs, and not WordPress, that will feed into the forthcoming Network site.

It's something I can talk through with

[2017-02-08 17:38] hannahkane commented on #2429
Okay, I'm going to suggest we hold off on fixing this bug until we hear back from Kevin and Lotta.

Thanks!

[2017-02-09 21:25] mmmavis opened #2430 "maxAge for "Strict-Transport-Security" header is set to 90,000 days"
😂

https://github.com/mozilla/learning.mozilla.org/blob/master/app.js#L60-L62

I believe we want it to be 90 days instead. I will file a PR.

/cc @Pomax @cadecairos

[2017-02-09 21:29] cadecairos commented on #2430
hahahahaha nice find. browsers that have already visited will have this header for a loooong time.

[2017-02-09 21:54] #2430 closed

[2017-02-09 21:54] mmmavis commented on #2430
PR merged:

removed HPKP since it's not safe to use; updated maxAge for HSTS to be 18 weeks

[2017-02-10 22:14] hannahkane commented on #2426
ping @ldecoursy. thoughts on @mmmavis's question above?

[2017-02-10 22:14] hannahkane commented on #2425
@mmmavis - i think it's likely we can delete, but I'm hesitant to say yes because I know we have more CMS work coming up shortly. @simonwex, can you please advise?

[2017-02-10 22:15] ldecoursy commented on #2426
Sorry I missed this. Perhaps best to hide for now. Could be we want to end up linking them to the new network site when it launches.

[2017-02-10 22:15] hannahkane commented on #2424
This seems like a decision for @IBGMozilla and @anmechung to make.

[2017-02-10 22:17] hannahkane commented on #2422
@Pomax - can you include steps to reproduce? I don't think I can reproduce this, but maybe I'm not understanding something.

[2017-02-10 22:17] anmechung commented on #2424
@IBGMozilla and I will discuss and let you know!  Thx for the follow-up

[2017-02-10 22:19] hannahkane commented on #2405
Don't want to drop this.

How about something like "Core Web Literacy Curriculum" and "Additional Teaching Activities" for the headings?

[2017-02-10 22:20] cadecairos commented on #2422
Shouldn't it open a window to sign-up/log-in with id.webmaker.org? (that's what it does for me)

[2017-02-10 22:20] hannahkane commented on #2389
Covered in #2405

[2017-02-10 22:20] #2389 closed

[2017-02-10 22:21] #2401 closed

[2017-02-10 22:22] hannahkane commented on #2373
@flukeout - ok if I close this?

[2017-02-10 22:22] #2373 closed

[2017-02-10 22:22] #2346 closed

[2017-02-10 22:22] hannahkane commented on #2340
@ScottDowne - is this still an issue?

[2017-02-10 22:24] hannahkane commented on #2281
@kristinashu and @Pomax and @alanmoo - we have a bunch of tickets in this repo with ["Clubs forms QA"](https://github.com/mozilla/learning.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22Clubs%20forms%20QA%22) in the title. I'm wondering if I can close them all, given the work you all are doing with CoSS?

[2017-02-10 22:24] hannahkane commented on #2293
Closing since MP has passed

[2017-02-10 22:24] #2293 closed

[2017-02-10 22:25] hannahkane commented on #2307
@flukeout - okay to close this ticket?

[2017-02-10 22:26] hannahkane commented on #2240
Closing, since I don't think we're going to pick this up any time soon

[2017-02-10 22:26] #2240 closed

[2017-02-10 22:26] hannahkane commented on #2230
This ticket doesn't feel very useful now, so closing

[2017-02-10 22:26] #2230 closed

[2017-02-10 22:31] flukeout commented on #2307
Yep, closing.

[2017-02-10 22:31] #2307 closed

[2017-02-10 22:32] ScottDowne commented on #2340
More than likely. But I suspect we can just close anyway.

[2017-02-10 22:37] #2340 closed

[2017-02-10 23:51] mmmavis commented on #2425
There's no harm to have that branch stayed a little longer. :)

That branch hasn't been updated in 10 months so I'm 99% that we can safely deleted it. (though a confirmation from @simonwex is still referred 😂 )

[2017-02-11 00:32] ScottDowne commented on #2425
You can always reopen.

[2017-02-11 00:41] mmmavis commented on #2426
Alrighty. PR filed.

[2017-02-13 06:19] Pomax commented on #2425
you can't reopen a deleted branch, it gets removed from the git tree.

[2017-02-13 10:53] chadsansing commented on #2405
@hannahkane - surely.

[2017-02-13 15:08] ScottDowne commented on #2425
@Pomax lol, that makes sense. I guess in my mind, it was a pull request, and not a branch. (putting all branches on master is new and weird to me, and still not sure how I feel about it.)

[2017-02-13 20:01] Pomax commented on #2425
What do you mean with "master"? (master is *also* a branch =). If you meant working form the main repo, the benefit of that is that it allows autodeploys for PRs from feature branches into the master branch. As github gives you a convenient "delete branch" button after a PR gets merged in, this type of work shouldn't pollute the repository anymore, with only the relevant changes preserved as the c

[2017-02-13 20:15] ScottDowne commented on #2425
Yeah, meant mozilla.

[2017-02-13 23:34] hannahkane commented on #2405
Cool. @chadsansing - are the core modules good to go?

[2017-02-14 11:04] chadsansing commented on #2405
Give me until Friday to make sure the core modules on https://github.com/mozilla/curriculum-final match our latest Thimble edits. Any other input here, @anmechung, @flukeout?

[2017-02-14 15:52] chadsansing opened #2433 "We need a page for curriculum remixed by the IMLS pilot project"
We need somewhere to share library remixes of our curriculum coming out of the IMLS project. Not all of the remixes are like our traditional modules, and it's important for pilot members and future contributors to find the work.

cc @anmechung

[2017-02-14 16:00] anmechung commented on #2405
@chadsansing and I checked in, and see two stages for updates: 1) updating organization of activities, and 2) updating content.  Working with @chadsansing to update some of content as part of organizing activities (this week and next), and with @ibgmozilla to update content based on recommendations from consultant. Content will take longer, and occur throughout the next few months.

[2017-02-14 16:34] anmechung commented on #2433
+1 and adding @ibgmozilla

[2017-02-14 17:51] Pomax commented on #2281
I do not know how much the work with CoSS is intended to yield immediate replacements on our existing web properties, @kristinashu might have a better view on this but if any of the QA issues need to be addressed short term, I very much doubt CoSS work will cover that and we should probably schedule some time to wrap up those issues independent of the CoSS work.

[2017-02-14 17:52] Pomax commented on #2422
18 days ago this was a problem, but (thankfully) this cannot be reproduced anymore. Chucking this up to whatever network glitches discourse may have had.

[2017-02-14 17:52] #2422 closed

[2017-02-14 17:59] kristinashu commented on #2281
We will eventually rebuild this form but I'm guessing it won't happen for a while (say 6 months, but don't quote me on that!). So probably not worth doing the nice-to-have QA tickets but maybe do the important ones?

[2017-02-14 21:16] jenntbeard opened #2434 "Remove language from front page of Gigabit"
Hi, on https://learning.mozilla.org/en-US/gigabit/ we need to take down the language and link/button to the new city application. We have no new slots available (for now).

Remove: Expanding the Gigabit Community Fund
In partnership with the National Science Foundation and US Ignite, we're expanding the Gigabit Community Fund to two additional gigabit cities by 2018. Click below to submit your cit

[2017-02-14 23:41] #2434 closed

[2017-02-15 18:24] hannahkane commented on #2434
This is deployed.

[2017-02-15 18:25] jenntbeard commented on #2434
Thank you!!

[2017-02-16 05:38] aayushsanghavi commented on #2407
@hannahkane I would like to take it up. Could you tell me what needs to be removed or changed.

[2017-02-16 12:38] chadsansing opened #2436 "We should review MCW landing page update process as network update happens"
It looks like we have a static image instead of a video embed from AirMo here for today's (2/16/17) webcast:

https://learning.mozilla.org/en-US/community/curriculum-workshop/

Since Kristina is no longer producing the show, we should review what @chadsansing and @ohnopauloh need to share to get the image linked to the right AirMo page in the future or to get an AirMo embed on the page.

@hannahka

[2017-02-16 21:51] hannahkane commented on #2436
Not sure I follow. When I go to that page, I see the video player. Can you clarify? Maybe I'm looking at the wrong thing.

[2017-02-16 21:56] chadsansing commented on #2436
Oh cool - it got added post webcast. That might be the review I needed of what happens post-on-air time :)

[2017-02-16 21:56] #2436 closed

[2017-02-16 23:08] hannahkane commented on #2436
Yeah, I think it's just magic! (Why isn't there a magic emoji?)

[2017-02-16 23:15] jgmac1106 commented on #2436
✨
    🍢

[2017-02-17 06:50] aayushsanghavi commented on #2340
@ScottDowne @hannahkane I was facing the same issue but as ScottDowne suggested in one of his comments, to use require instead of requireUncached it works.

[2017-02-17 12:51] chadsansing commented on #2405
Quick update:

1. Once we "lock" badging language for now, Chad will update the IMLS curriculum and use those docs to update the activities in the https://mozilla.github.io/curriculum-final repo.
2. Then he will let Hannah know those files are ready to be linked to as part of re-organizing https://learning.mozilla.org/activities into two categories: "Core Curriculum" and "Additional Teaching Activ

[2017-02-17 12:57] chadsansing commented on #2405
Let's also leave the old localized versions of the Web Literacy Basics I activities "alive" so we can link to them from the updated pages we'll use like so:

![screen shot 2017-02-17 at 7 55 57 am](https://cloud.githubusercontent.com/assets/4128600/23066074/b6aceb74-f4e6-11e6-9063-abcc192579f1.png)

[2017-02-17 15:48] Pomax commented on #2340
The require uncached is necessary because plain require does not **re**require the file, which it should be doing. Instead it just gives you a handle for the file it loaded before, so the server never updates when webpack rebuilds the server library, negating the entire point of live server reloading.

[2017-02-17 23:40] hannahkane commented on #2407
Thanks for your interest, @aayushsanghavi. I'm not sure we have a good workflow set up to make these changes, as I think whoever fixes this needs to have access to our Wordpress account. Is that right, @gideonthomas?

[2017-02-18 00:28] hannahkane commented on #1649
Releasing doesn't seem overly burdensome at this point (from my non-dev perspective). Can we close this?

[2017-02-18 00:42] #1664 closed

[2017-02-18 18:31] Pomax commented on #1649
I think so, but then it's worth filing a new issue to remove the old release instructions and replace them with the current process instead. Does that seem like a good idea, @mmmavis ?

[2017-02-20 17:01] gideonthomas commented on #2407
@hannahkane I think that's right. @aayushsanghavi this might not be a great bug for you to fix for the reason that is mentioned above. Maybe you might be interested in fixing https://github.com/mozilla/learning.mozilla.org/issues/2314 ?

[2017-02-20 18:01] aayushsanghavi commented on #2407
@gideonthomas I'll check it out. Thanks for the suggestion.

[2017-02-23 07:35] aayushsanghavi commented on #2314
@flukeout I'd like to take this up. How do I get started?

[2017-02-23 13:08] aayushsanghavi commented on #2048
@flukeout is this still an issue?

[2017-02-23 17:17] chadsansing commented on #2405
@hannahkane, @flukeout, @anmechung, @ibgmozilla - I have updated the files in the curriculum-final repo to match what we're offering our IMLS pilot participants on Thimble.

https://github.com/mozilla/curriculum-final

I think we are ready to reorganize /activities and change the links for the modules named above on /activities.

[2017-02-23 19:32] jenntbeard opened #2438 "Remove past event from Gigabit Events page"
Please remove the February 22, 2017 event (2017 Education Innovation Showcase) from the Events page (https://learning.mozilla.org/en-US/gigabit/events). Thanks!

[2017-02-23 22:03] #2438 closed

[2017-02-23 22:20] hannahkane commented on #2438
This is live now.

[2017-02-24 04:11] aayushsanghavi commented on #2399
@IBGMozilla I would like to take this up. The link you have given for the Search -- IP Tracer gives a 500 internal server error. So should I use the already working link or would you provide another one?

[2017-02-24 04:28] aayushsanghavi commented on #2242
@Pomax I would like to work on this. Could you tell me what kind styling is to be done?

[2017-02-24 06:11] Pomax commented on #2242
I don't know if this is still on any roadmap. @hannahkane might know

[2017-02-24 13:35] aayushsanghavi commented on #2314
@flukeout isn't this happening because the [handleTabChange event](https://github.com/mozilla/learning.mozilla.org/blob/master/pages/gigabit/index.jsx#L19) which occurs on clicking one of the tabs causes a new page to reload instead of changing the content internally?
Could you direct me towards a solution to this.

[2017-02-24 13:38] hannahkane commented on #2242
Thanks, @aayushsanghavi, for your interest in this. We have a bit of work to do to figure out which pieces of our badge-related work to prioritize. I've just added the "help wanted" label to a few other tickets that we could definitely use your help with!

[2017-02-24 13:49] aayushsanghavi commented on #2331
@hannahkane I'll take it up.

[2017-02-24 13:51] hannahkane commented on #2331
Thanks very much, @aayushsanghavi!

[2017-02-24 14:01] hannahkane commented on #2405
Cool. Thanks, @chadsansing.

@flukeout - I can update the links and re-order the activities, but I won't be able to add Headers for "Core Curriculum" and "Additional Teaching Activities." At least not without some help. Can you advise?

[2017-02-24 18:42] jvallera opened #2442 "Clubs event reporter site not updating"
Hello, I just noticed that the Mozilla Clubs event reporter is not updating properly. I have been approving events on the [spreadsheet](https://docs.google.com/spreadsheets/d/1QHl2bjBhMslyFzR5XXPzMLdzzx7oeSKTbgR5PM8qp64/edit#gid=1045576576), but they are not appearing in the [website](http://mozilla.github.io/clubs-events/#).  There are 167 approved and only 137 are showing up.  It seems the site

[2017-02-24 19:22] flukeout commented on #2442
Checking into it @jvallera

[2017-02-24 19:22] #2331 closed

[2017-02-24 19:28] hannahkane commented on #2369
Closing this given new work being done on Clubs module

[2017-02-24 19:28] #2369 closed

[2017-02-24 19:29] hannahkane commented on #2281
Closing this given new work being done on Clubs module

[2017-02-24 19:29] #2281 closed

[2017-02-24 19:29] hannahkane commented on #2277
Closing this given new work being done on Clubs module

[2017-02-24 19:29] #2277 closed

[2017-02-24 19:30] hannahkane commented on #2276
Closing this given new work being done on Clubs module

[2017-02-24 19:30] #2276 closed

[2017-02-24 19:30] hannahkane commented on #2267
Closing this given new work being done on Clubs module

[2017-02-24 19:30] #2267 closed

[2017-02-24 19:30] hannahkane commented on #2265
Closing this given new work being done on Clubs module

[2017-02-24 19:30] #2265 closed

[2017-02-24 19:31] hannahkane commented on #2259
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2259 closed

[2017-02-24 19:31] hannahkane commented on #2254
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2254 closed

[2017-02-24 19:31] hannahkane commented on #2253
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2253 closed

[2017-02-24 19:31] flukeout commented on #2442
So there should be 149 total showing up. There are 167 lines in the spreadsheet, but the first 15 are blank and there are several that are rejected / not approved in the list as well.

The last event in the spreadsheet isn't showing up on the list, even though it's approved. Another weird thing is that the second last event is dated as Jan 19, but shows up as Jan 20 on the list.

[2017-02-24 19:31] hannahkane commented on #2250
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2250 closed

[2017-02-24 19:31] hannahkane commented on #2248
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2248 closed

[2017-02-24 19:31] hannahkane commented on #2247
Closing this given new work being done on Clubs module

[2017-02-24 19:31] #2247 closed

[2017-02-24 19:33] hannahkane commented on #2045
Closing this given new work being done on Clubs module

[2017-02-24 19:33] #2045 closed

[2017-02-24 19:49] flukeout commented on #2442
Ha, okay found it... so the first item here is the last one to show up on the page...

![image](https://cloud.githubusercontent.com/assets/25212/23318420/32429914-fa87-11e6-94c7-257c1e2bf614.png)

the ones after it dont. Can you guess why?

I only made the code check for "Approved" with a capital "A", so "approved" wasn't being picked up. Yikes! Anyway, I've changed the spreadsheet and filed an is

[2017-02-24 19:49] #2442 closed

[2017-02-24 20:12] #2171 closed

[2017-02-24 20:13] Pomax opened #2443 "link to "/activities/next-prez/" from "/en-US/clubs" loses its locale"
As per the spider task that runs during `npm test`:
[code]

[2017-02-24 20:19] Pomax commented on #2314
This is caused by the `sub-nav-active` not getting set in https://github.com/mozilla/learning.mozilla.org/blob/master/components/sidebar/TopLevelNavItem.jsx#L41

[2017-02-25 10:49] aayushsanghavi commented on #2314
@Pomax thanks! I'll look into it and let you know if I have any questions.

[2017-02-25 19:59] Pomax commented on #2314
Note that the solution here will likely be making sure that tabs on pages preserve the page properties that the React code needs to automatically show the sidebar correctly, rather than making that an HTML element has a specific CSS class - the code can already do those things, it's likely a matter of making sure that specific React properties are preserved.

[2017-02-26 13:30] aayushsanghavi commented on #2314
@Pomax I've had little progress with it. The current state is that, after navigating to the gigabit index page, if I click on one of the tabs the sideNav stays but the gigabit tab in the sideNav loses the class "active" and then the sideNav becomes inactive again (as in the issue).
Also, there was one thing I found rather intriguing, the activeSubNav wasn't being set equal to subNavActive in https

[2017-02-26 19:07] Pomax commented on #2314
Note that the code you link to *only* triggers when the page is loaded from the server for the specific URL you are on: we're using server-side rendering of pages to service specific requests, and the `routes.jsx` data informs the renderer which components should be nested how for specific URLs, which is then used to render those components to plain HTML for use while the react app loads for the u

[2017-02-27 20:11] jenntbeard opened #2444 "Fix typo on project portfolio entry"
Can we fix the typo in the title of this project? Currently "Cross-City Gigabiet Enabled Learning Platform" should be "Cross-City Gigabit Enabled Learning Platform". Thanks!

It's at https://learning.mozilla.org/en-US/gigabit/portfolio/cross-city-gigabiet-enabled-learning-platform

[2017-03-02 11:52] chadsansing commented on #2405
@hannahkane,thank you for all the updates! So helpful! Can you update Web Lit Basics I with the new curriculum-final links, as well?

[2017-03-02 16:45] hannahkane commented on #2405
@chadsansing - yes, will do.

@flukeout - when you have a moment, could you provide some guidance on how I can add some Headers to the Activities page? Thanks!

[2017-03-03 21:28] flukeout commented on #2405
Just chiming in that @hannahkane got it solved without me!

[2017-03-03 22:55] hannahkane commented on #2405
lol. yes, @flukeout, I am a genius for not realizing I just needed to add H2s. :) I can't remember what about this seemed more complicated to me.

Anyway...I put in a PR and assigned it to Chad to take a look.

[2017-03-03 22:57] hannahkane commented on #2433
Can you say more about this?
 * Is there an existing page on the site that we could model this on?
 * Is the content ready?
 * What's the timeline for this?

[2017-03-06 11:06] chadsansing commented on #2433
- It would look like /activities jr. Maybe also like this Thimble template: https://thimbleprojects.org/chadsansing/192408/
- @anmechung  & @ibgmozilla - best link for collected content? Discourse?
- Timeline is ASAP.

[2017-03-06 11:56] jgmac1106 commented on #2433
Have we changed the ToS of Thimble to allow greater licensing choice?

Based on ToS all projects get a CC-BY-SA license. So people shouldn't remix
or share anything with a more restrictive license.

On Mon, Mar 6, 2017, 6:06 AM Chad Sansing <notifications@github.com> wrote:

[2017-03-06 12:52] chadsansing commented on #2433
@jgmac1106, did you file this in the Thimble repo, as well? I think our scope here is pretty limited to making and hosting a page for the IMLS pilot members' work.

[2017-03-06 13:08] jgmac1106 commented on #2433
Will do. It   just caught my attention when I saw the "Thimble Teaching Kit
Template. The ToS in Thimble mean ILMS participants should not be remixing
anything with a more restrictive license than CC-BY-SA and should know all
of their content is shared with a CC-BY-SA with Mozilla getting an
unlimited license to the work.

On Mon, Mar 6, 2017 at 7:52 AM Chad Sansing <notifications@github.com>
wrot

[2017-03-07 13:59] aayushsanghavi commented on #2314
@Pomax I'll look into it today. Thanks for such an elaborate description.

[2017-03-07 18:57] hannahkane commented on #2399
@IBGMozilla - can you please clarify where on the staging site these links need to be updated? Is it within the badges section, or from the [Protect Your Data landing page](https://learning.mozilla.org/en-US/activities/protect-your-data/)?

[2017-03-08 00:28] #2405 closed

[2017-03-08 11:56] chadsansing opened #2448 "Add privacy activities to the Web Lit Basics I module"
@hannahkane, we'd like to add these activities to the Web Lit Basics I module to make sure that collection covers the Web Literacy skill "Protect."

Page content update here: https://docs.google.com/document/d/1aOlD4RUqmr2pu0EUMN4G8xXJWE1naFimu3MQigbwFvY/edit#heading=h.ekhodybunbfe

We do not want to do anything to the Privacy Basics: Protect Your Data module. The 3 activities we want to add will

[2017-03-13 20:14] jenntbeard opened #2450 "Take down past event"
Can we remove last week's SxSWedu event in Austin (March 6-9) from https://learning.mozilla.org/en-US/gigabit/events? Thanks!

[2017-03-13 20:36] mmmavis opened #2451 "'document-env-vars' should be 'dependencies' not 'devDependencies'"

[2017-03-13 21:06] #2451 closed

[2017-03-13 21:18] #2444 closed

[2017-03-13 21:23] jenntbeard opened #2454 "Updates to Gigabit Apply Page Needed"
We need to update some of the dates/language in the 'Key Dates' section of this page - https://learning.mozilla.org/en-US/gigabit/apply.

Changes are marked to the right of each item in brackets, no changes if marked as [same]:
January 30, 2017 - May 19, 2017 [same]
    Round 2 Pilot Period [same]
June 14, 2017 [change to July 5, 2017]
    Optional Intent to Apply Form Due [change to Intent to App

[2017-03-13 21:26] #2450 closed

[2017-03-13 22:55] #2448 closed

[2017-03-14 10:36] chadsansing commented on #2405
@hannahkane - any idea what happened to the line on each activity right before the web literacy skills in the overview that said, "Follow this link to remix this activity on Thimble!"?

[2017-03-14 11:09] chadsansing commented on #2405
@hannahkane - nvm; fixed!

[2017-03-16 01:06] amarlearning commented on #2382
@taisdesouzalessa can i take this one ?

[2017-03-16 01:08] amarlearning commented on #2314
@Pomax @aayushsanghavi Are you still working on it or should i take this ?

[2017-03-16 02:54] aayushsanghavi commented on #2314
@amarlearning go ahead, take it up.

[2017-03-17 15:48] Pomax commented on #2382
This can only be fixed by requesting the string to be retranslated by the Portuguese localizers; we only control the `en-US` strings, the rest are supplied by volunteer translators through [Pontoon](http://pontoon.mozilla.org)

[2017-03-20 19:51] hannahkane commented on #2433
Would the page be accessible to anyone? Would we link to it from the Learning site? Would we be adding content to it frequently?

Where are we with the initial content? I think it will be easier to discuss if we can look at the content itself.

[2017-03-21 09:58] chadsansing commented on #2433
@hannahkane, yes the page would be public. We would likely link to it from the additional resources section of /activities, though @anmechung and @ibgmozilla might have another idea of how to approach this. I'm not sure how frequently we'd add to the page, but I imagine the upcoming Web Literacy Leaders program would produce content for it.

Remixes so far live here: https://docs.google.com/spread

[2017-03-21 17:34] hannahkane commented on #2433
Thanks, @chadsansing.

Can we clarify the purpose of posting these remixes? If the purpose is specific to the IMLS project—e.g. to showcase the work coming out of it, or to be a resource to participants—I think it makes sense to create a webpage specifically for these, as this ticket requests. If, however, the purpose is to provide useful materials to a broader audience, I think we should consider

[2017-03-21 22:53] jenntbeard opened #2456 "Add new event to gigabit website"
Can we add the following event:
Date: April 19, 2017
Time: 12:30-4pm
Location: Westport Commons
300 E. 39th St.
Kansas City, MO 64110
Link to image: https://drive.google.com/open?id=0B5jxGZykGTyFSE10UFpUcl9Gb2ZMLUQ4bTFwQmdmb0pmV2sw
Event: Gig 101 Workshop
Event link: https://gig101workshopkc.eventbrite.com
Description: Join us for an interactive workshop for educators focused on demystifying high-

[2017-03-22 10:11] chadsansing commented on #2433
I think @anmechung is in the best position to answer most of those questions.

From my perspective, ideally, we'd work with the authors of remixes we want to include to help them put those remixes into our templates.

[2017-03-22 15:19] IBGMozilla commented on #2433
I agree with Chad, but also in our commitment to the IMLS project/grant,
our goal was to create activities, curriculum remixed for a library
audience that would be open and accessible to all so that is a major
deliverable.

On Wed, Mar 22, 2017 at 6:11 AM, Chad Sansing <notifications@github.com>
wrote:

[2017-03-22 16:06] hannahkane commented on #2433
Should we have a call to talk through the details?

[2017-03-22 16:35] hannahkane commented on #2456
We don't have a way to schedule expiry, but I'll put it on the calendar to remove this on the 20th.

[2017-03-22 16:56] jenntbeard commented on #2456
Great, thank you!!

[2017-03-23 12:10] IBGMozilla commented on #2433
Yes, can we find time tmrw/Friday?

On Wed, Mar 22, 2017 at 12:06 PM hannahkane <notifications@github.com>
wrote:

[2017-03-23 21:15] #2456 closed

[2017-03-23 21:41] hannahkane commented on #2456
@jenntbeard - this is live now

[2017-03-24 10:19] chadsansing opened #2458 "Broken links on /activities Intermediate Web Lit I landing page"
On this page, https://learning.mozilla.org/en-US/activities/intermediate-web-lit/, activities 3-8 have broken links.

They should be:

- CSS Fonts Extension: https://mozilla.github.io/curriculum-final/intermediate-web-lit-one/session03-css-fonts-extension-activity.html#overview
- CSS Circles: https://mozilla.github.io/curriculum-final/intermediate-web-lit-one/session04-css-circles.html#overview
-

[2017-03-26 16:36] aayushsanghavi commented on #2458
@chadsansing I've opened a PR for this issue

[2017-03-26 16:48] aayushsanghavi commented on #2048
@flukeout currently the page looks like this -

![clubs_resources](https://cloud.githubusercontent.com/assets/19590302/24333233/d0633864-1243-11e7-8681-818a4ce7c6cb.png)

I guess it matches the rest of the website. Does it still need any fixing?

[2017-03-26 18:31] chadsansing commented on #2458
@aayushsanghavi - thank you!

[2017-03-28 16:15] hannahkane commented on #2399
@IBGMozilla - should we add this to our agenda for our meeting tomorrow?

[2017-03-28 16:16] #2458 closed

[2017-03-28 16:18] IBGMozilla commented on #2399
Are you asking for a link to the lesson plan/activity or something else for
the IP Tracer?

On Tue, Mar 28, 2017 at 12:16 PM hannahkane <notifications@github.com>
wrote:

[2017-03-28 16:20] hannahkane commented on #2399
@IBGMozilla - not sure I understand your question. I was asking above about where these links need to be changed.

[2017-03-29 17:09] hannahkane commented on #2433
Per meeting today:
 * @anmechung, @IBGMozilla, and @chadsansing will work on doc with complete content set (see [comment above](https://github.com/mozilla/learning.mozilla.org/issues/2433#issuecomment-288157572) for an idea of what that doc might look like)
 * once doc is ready, we'll build the page, and link to it from learning.mozilla.org/activities
 * that page, or individual remixes, can also

[2017-03-29 22:44] #2454 closed

[2017-03-30 23:27] mmmavis commented on #1979
I think we can mark this one done. 😉

[2017-03-30 23:27] #1979 closed

[2017-04-03 10:21] chadsansing opened #2460 "We need to update upcoming episodes on the Mozilla Curriculum Workshop page"
@hannahkane, on the [MCW landing page](https://learning.mozilla.org/en-US/community/curriculum-workshopt ), can we replace the copy under "Upcoming Workshops" with this instead?

cc @ohnopauloh @amirad

[2017-04-04 14:51] #2460 closed

[2017-04-04 17:44] #1919 closed

[2017-04-04 18:08] #2426 closed

[2017-04-04 19:07] hannahkane commented on #2460
@chadsansing - this is live

[2017-04-05 09:31] chadsansing commented on #2460
Thank you, @hannahkane!

[2017-04-10 21:14] hannahkane opened #2463 "Remove reference to Open News fellowship"
...on [this page](https://learning.mozilla.org/en-US/opportunities)

The Become a Fellow section should include this sentence: Apply to join the next cohort of Science, Advocacy, and Developer Network Fellowships that best matches your interests and skills [remove "News"]

[2017-04-12 17:32] jenntbeard opened #2464 "Add new cities to Gigabit site"
Add two new Gigabit cities (Eugene, OR and Lafayette, LA) to the following places:

<s>1. Add two dots on map on the main page (https://learning.mozilla.org/en-US/gigabit/). We will need to update once the new Portfolio Managers are hired, but we'd like the dots and the cities listed for now.</s> Moved to #2466
2. Update Apply page - https://learning.mozilla.org/en-US/gigabit/apply. (Changes to th

[2017-04-13 22:42] hannahkane commented on #2464
Thanks, @jenntbeard. A few questions -

For # 1 - so just the city name will be listed, with no contact info below (for now)? Could we say something to explain why they don't have contact info? (Maybe put them under a "Coming Soon" subheading?)

For # 2 - I'm a bit confused about what's new on that page - is it adding a second Type of Support chart to the page, or replacing the one that's currentl

[2017-04-13 23:37] aayushsanghavi commented on #2463
@hannahkane I tried working on this but I got stuck. I removed all instances of newsLink from [this file](https://github.com/mozilla/learning.mozilla.org/blob/master/pages/opportunities/sectionlist.jsx), but turns out that doesn't really work. It gives an error on the console.
What would have caused this? How should I fix it?

[2017-04-13 23:41] hannahkane commented on #2463
@mmmavis - wondering if you'd be able to advise @aayushsanghavi?

[2017-04-14 15:40] jenntbeard commented on #2464
Hi Hannah,

#1 - correct - yes, "coming soon" would be great!
#2 -  Sorry, yes, that table is different (LF thought it was easier to just replace it completely for ease of following our logic/changes). The headers are not exactly the same, there is one less category and the text within the chart is updated. The rest of the changes to that page I tried to have tracked so you could see what we were

[2017-04-17 18:11] mmmavis commented on #2463
@hannahkane for sure!

@aayushsanghavi do you remember what error you were seeing?

[2017-04-17 19:07] aayushsanghavi commented on #2463
Hello @mmmavis! Long time since Network Pulse.
So, regarding this issue, I removed all occurrences of the newsLink variable from [this file](https://github.com/mozilla/learning.mozilla.org/blob/master/pages/opportunities/sectionlist.jsx) but it seems that it didn't work. This is the error I am getting -
`[React Intl] Error formatting message: "become_a_fellow_message" for locale: "en-US"
Error: A

[2017-04-17 22:43] mmmavis commented on #2463
Hi hi @aayushsanghavi 😃 Looks like we also need to remove it from https://github.com/mozilla/learning.mozilla.org/blob/master/locales/en-US/messages.properties#L133 . I think we are not watching changes on locale files... you will have to restart the server to see the result. Let me know if it works for you!

[2017-04-18 03:17] aayushsanghavi commented on #2463
Thanks @mmmavis! That worked.

[2017-04-18 17:17] hannahkane opened #2466 "Update Gigabit Cities Map"
- [ ] Add two dots on map on the [main Gigabit page](https://learning.mozilla.org/en-US/gigabit/) representing Eugene, OR and Lafayette, LA.
- [ ] Add these cities to the list on the right, under a "Coming Soon" heading (we don't yet have contact info for these cities, so it will just be the names)

[2017-04-18 17:18] hannahkane commented on #2464
Thanks, @jenntbeard. Now that I have edit access to the doc, I see all the changes! (When I had view only access, I couldn't see the edits! Makes much more sense now.)

Putting item 1 in a [separate ticket](https://github.com/mozilla/learning.mozilla.org/issues/2466) since it requires a designer.

Will file a PR for the rest shortly.

[2017-04-18 17:30] hannahkane commented on #2466
@sabrinang - would you have time to help with this ticket?

[2017-04-18 20:43] jenntbeard commented on #2464
Fantastic, thanks so much! (Sorry about the permissions setting - I've been on the road for 9 days and the settings aren't that apparent on my phone.) :)

[2017-04-18 22:19] sabrinang commented on #2466
Updated map on gdrive: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eNUlCNFRGd2ppeVU/view?usp=sharing

Instead of a coming soon heading that visually separate this section further down the page we can have 3-columns for all cities and have coming soon cities such as Eugene and Lafayette to be appended to the list but with a small "Coming Soon" label beneath it and it would be the same

[2017-04-18 22:57] hannahkane commented on #2466
Thanks, @sabrinang. I think this looks great! @jenntbeard - what do you think?

[2017-04-18 22:58] jenntbeard commented on #2466
Looks great!

[2017-04-19 04:22] aayushsanghavi commented on #2463
@hannahkane we're supposed to remove the open news link from all the locales right?

[2017-04-19 14:34] hannahkane commented on #2463
@aayushsanghavi - yes, please.

[2017-04-19 15:30] aayushsanghavi commented on #2463
@hannahkane done! Please have a look at the patch.

[2017-04-19 17:28] hannahkane commented on #2463
Thanks, @aayushsanghavi. I'll defer to @mmmavis and @gideonthomas to review your patch. They know more than me about how this works!

[2017-04-20 00:16] hannahkane opened #2468 "Remove Gig 101 Workshop from Gigabit Events page"
@jenntbeard - I'm going to remove this now, and we'll push the change live tomorrow.

[2017-04-20 16:17] #2464 closed

[2017-04-20 19:17] hannahkane commented on #2466
@alanmoo - this is the ticket I was hoping you could help with. If you look at the image Sabrina dropped in above, you'll see it's replacing the map graphic, but also changing the way the cities are listed on the page, since we now have 5 instead of 3.

[2017-04-20 21:14] alanmoo commented on #2466
I'll do this tomorrow unless any contributors take it (I posted in chat)

[2017-04-20 21:15] flukeout commented on #2466
Doing now

[2017-04-21 15:26] jenntbeard opened #2472 "Add Mozilla Gigabit video to homepage"
We would like to add our Mozilla Gigabit video to the main page of our website, right under the fox and intro paragraph. The video is on our MozGig Vimeo channel (https://vimeo.com/204621980) and the Mozilla YouTube channel (https://youtu.be/jRa4kB7LYoU). We also have a 4K file (https://drive.google.com/open?id=0B7bxS7MT-Apqd0VTTTNqV2ZnZDg) you can download and embed. Please feel free to use which

[2017-04-21 15:44] #2468 closed

[2017-04-21 18:34] flukeout opened #2473 "User unable to Publish project, thimble stuck with error message..."

[2017-04-21 18:34] #2473 closed

[2017-04-22 18:12] #2466 closed

[2017-04-25 08:12] hannahkane opened #2474 "Mozfest (test)"
Here's my session proposal.

I think it should be in the Digital Inclusion track.

[2017-04-25 08:12] hannahkane commented on #2474
This should be open innovation I think.

[2017-04-27 15:57] jenntbeard opened #2475 "Update Gigabit Terms & Conditions"
Note: changes are highlighted in the doc linked below, however, as the changes are extensive due to a brand new grants management system, it would be advisable to cut and paste the full text in case any changes were missed in the manual highlighting process. This is a legally binding document that has been reviewed/approved by our internal legal council.

Update 2016 Terms & Conditions to this ver

[2017-05-01 20:15] jenntbeard opened #2476 "Copy Changes to WINS mockup/site"
A few copy edits emerged from our back and forth w/NSF. They can be viewed through the tracked changes in this doc - https://docs.google.com/document/d/1f6YdVzGJ2_uj9ZI2ImjOgMjFL16ROHT7bSReKfxpuJE/edit#. Or, I have highlighted the individual changes below by section. Thanks!

Challenges Tab:
- Challenge 1 question statement is now - "How can we leverage wireless technology to keep people connected

[2017-05-01 20:34] hannahkane commented on #2476
Thanks, @jenntbeard! I should have mentioned that these tickets can be filed in the NSF WINS repo. I just copied this ticket there (https://github.com/mozilla/nsf-challenge/issues/75), so will close it here.

[2017-05-01 20:34] #2476 closed

[2017-05-05 21:03] anmechung opened #2477 "Updates to Web Literacy 2.0 Paper"
For the web literacy 2.0 paper (https://mozilla.github.io/content/web-lit-whitepaper/), please add:

1. Authors: An-Me Chung, Iris Bond Gill, Ian O'Bryne under the title (Web Literacy 2.0)
2. Read Mozilla’s blog about web literacy, or contribute a guest blog post.  Read, Write, Participate https://medium.com/read-write-participate.  Add this as the last paragraph in the conclusion section.

[2017-05-05 22:31] hannahkane commented on #2477
Done!

[2017-05-05 22:31] #2477 closed

[2017-05-10 15:13] jenntbeard commented on #2475
Do you know when this might be done? We are waiting to promote our next application round until this has been updated. Thanks!

[2017-05-10 15:57] hannahkane opened #2478 "update MCW page"
https://docs.google.com/document/d/1thvJqP59JI-WpOYbcBexHQUo-NWttg-AhYRozwNDjE4/edit

[2017-05-10 15:57] hannahkane commented on #2478
cc @chadsansing

[2017-05-10 17:47] hannahkane commented on #2475
Sorry, didn't realize this was blocking outreach.

I'll prioritize for today.

[2017-05-10 17:58] jenntbeard commented on #2475
Thank you! :)

[2017-05-10 22:27] #2478 closed

[2017-05-11 16:16] #2475 closed

[2017-05-11 16:44] mmmavis commented on #2475
live now! https://learning.mozilla.org/gigabit/apply/terms

[2017-05-11 16:46] jenntbeard commented on #2475
Fantastic, thank you!

[2017-05-11 18:54] jenntbeard opened #2481 "A couple more edits for the Gigabit Site"
Hi, just a few more edits needed on the Gigabit Apply page (due to the introduction of Fluxx, the new grants management system that is set to go live on June 1):

Page: https://learning.mozilla.org/en-US/gigabit/apply/terms
1) We want to replace any use of 'Intent to Apply' with 'Letter of Intent'. There are two instances of this on the Terms & Conditions page, both in the first paragraph of the S

[2017-05-12 14:42] jenntbeard commented on #2481
Sorry, one more thing (putting in both places so it can get caught in this request). We need to add a #6 that says, “Successful submissions will receive an email invitation to submit a complete, final application to the Gigabit Community Fund on the Fluxx application system on or before Friday, July 15."

[2017-05-15 16:26] #2481 closed

[2017-05-15 16:40] mmmavis commented on #2481
Live now! https://learning.mozilla.org/gigabit/apply

[2017-05-15 16:41] hannahkane commented on #2481
Thanks, @mmmavis!

[2017-05-15 16:45] mmmavis commented on #2481
Thanks for making all the code changes! @hannahkane

[2017-05-16 05:31] jenntbeard commented on #2481
Many thanks both! @hannahkane @mmmavis

[2017-05-16 22:33] hannahkane commented on #2472
@mmmavis - do you think you'd have time to do this soon?

[2017-05-19 11:25] chadsansing opened #2483 "Add Internet Health Basics module to core curriculum on /learning"
Let's add a new Internet Health Basics module to the top of our core curriculum list on /learning. This will help us cite the activities in facilitation materials for educators who use our curriculum.

[Page content](https://docs.google.com/document/d/1BBzYlud8IMiu3QQ825OZIKfN2QDyQ0wjwlf922pOMbI/edit#)

cc @hannahkane

[2017-05-19 21:10] jenntbeard opened #2485 "Adding new staff to Gigabit site"
Hi! We have our new teammates on board as of May 15 and we need to add them where it now says 'Coming Soon' on this page https://learning.mozilla.org/en-US/gigabit/ under the map.

Under Eugene:
Craig Wiroll
craig@mozillafoundation.org

Under Lafayette:
Leah Ruffin
leahr@mozillafoundation.org

We are not creating local Twitter handles (for now, as per the ongoing communications audit), so each wil

[2017-05-19 23:01] mmmavis commented on #2472
@hannahkane I just submitted a PR for this: https://github.com/mozilla/learning.mozilla.org/pull/2486

[2017-05-22 17:17] #2485 closed

[2017-05-23 17:54] #2472 closed

[2017-05-23 17:54] #2483 closed

[2017-05-23 23:22] hannahkane opened #2488 "Update gigabit social graphics"
- [Social Share Apply By](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ebFJPQ09INEgtekU/view?usp=sharing) - needs new logo and update due date to August 1
- [Social Share FB](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eSElnSTJUTUVVcUU/view?usp=sharing) - needs new logo
- [Social Share Twitter](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_edl9TOEZtd2xXZ1k/vi

[2017-05-23 23:24] hannahkane commented on #2488
@sabrinang - I believe you created these last year. Can you please point to the original art files, for whomever ends up picking this up? Thanks!

[2017-05-23 23:24] hannahkane commented on #2488
cc @jenntbeard

[2017-05-24 17:44] sabrinang commented on #2488
The .ai file is here: https://drive.google.com/open?id=0B4Q8pzCpDS_eczByekhSN1VYTnc

[2017-05-24 18:17] jenntbeard commented on #2488
Can we get a .jpeg or .eps file too?

[2017-05-29 16:56] flukeout commented on #2488
Okay, starting on this today.

[2017-05-29 17:29] flukeout commented on #2488
There is quite a range of designs and sizes in the source files...

![image](https://cloud.githubusercontent.com/assets/25212/26557907/aea81c7e-4459-11e7-99a7-fe252af329ad.png)

@hannahkane - do we just need the specific ones you called out in this issue updated?

[2017-05-30 00:05] hannahkane commented on #2488
@flukeout - yeah, just the ones mentioned. thanks!

[2017-05-30 15:04] jenntbeard opened #2489 "Updated Terms & Conditions for Gigabit Site"
Hi! Sincerest apologies but Fluxx is ever changing - one could say "in flux" (ba dum dum)- and requires some tweaks to our Terms and Conditions for the next RFP round. Since people are currently accessing and submitting Letters of Intent, we need these updates to go live as soon as possible to avoid confusion. (People are preparing their full apps off the clarified questions that need to be update

[2017-06-01 18:30] #2489 closed

[2017-06-01 18:49] mmmavis commented on #2489
Live! Thanks @hannahkane for making all the changes! https://learning.mozilla.org/en-US/gigabit/apply/terms

[2017-06-01 18:50] jenntbeard commented on #2489
Thanks, y'all!!

[2017-06-05 23:00] hannahkane commented on #2488
hey @flukeout - did this land?

[2017-06-05 23:01] flukeout commented on #2488
OH SHOOOOOOOT NO

[2017-06-05 23:01] flukeout commented on #2488
Did not land, putting on top of pile now.

[2017-06-06 20:24] #1350 closed

[2017-06-06 20:24] #1569 closed

[2017-06-06 20:24] #1584 closed

[2017-06-06 20:24] #1585 closed

[2017-06-06 20:24] #1771 closed

[2017-06-06 20:24] #1810 closed

[2017-06-06 20:24] #1811 closed

[2017-06-06 20:24] #1814 closed

[2017-06-06 20:24] #1826 closed

[2017-06-06 20:24] #2146 closed

[2017-06-06 20:24] #2150 closed

[2017-06-06 20:24] Pomax commented on #2245
an alternative route was taken months ago

[2017-06-06 20:24] #2245 closed

[2017-06-06 23:39] flukeout commented on #2488
So, the old designs don't really fit with the new branding it all, so I took at stab at it with some of our new colors & style...

![image](https://user-images.githubusercontent.com/25212/26856117-9d05e54a-4ad6-11e7-81e1-fe9420a25061.png)

cc @hannahkane thoughts on this? Can you cc the Gigabit folks that would be interested? Thanks! I'll wait to continue on the rest until I hear back.

[2017-06-07 13:20] jenntbeard commented on #2488
Looks great to me, thanks!

[2017-06-07 15:22] hannahkane commented on #2488
Thanks, @flukeout. Looks good to me. I think @jenntbeard's approval is all we need.

[2017-06-08 01:07] flukeout commented on #2488
Okay, here is the set based on the links @hannahkane requested...

![627x627](https://user-images.githubusercontent.com/25212/26907940-2e6be068-4bac-11e7-9bde-0aed49394940.png)

![1024x512](https://user-images.githubusercontent.com/25212/26907942-2e839212-4bac-11e7-8894-d54df025d0d4.png)

![1200x717](https://user-images.githubusercontent.com/25212/26907941-2e6e68a6-4bac-11e7-94b0-c12a0e645830.png)

[2017-06-08 14:47] jenntbeard commented on #2488
Awesome, looks great to me - thank you so much!

[2017-06-08 15:53] flukeout commented on #2488
Okay, great - @jenntbeard @hannahkane the final banners and source file are in here:

* https://drive.google.com/open?id=0B_CPRh4f3yyqTHJDT0NSZjdBY00

Let me know if you have any problems getting to them or want any changes. Cheers!

[2017-06-08 15:53] #2488 closed

[2017-06-08 15:56] flukeout commented on #2488
@jenntbeard - just noticed you were also looking for specifically for ``.jpg`` and ``.eps`` formats. Let me know if that is still the case, the ``.png`` I exported should work well for social but if you have any other anticipated uses that need different file formats, let me know.

[2017-06-08 18:37] jenntbeard opened #2491 "Addition to Gigabit Terms & Conditions"
Hi, we need to add the following to the Submission Process of the Terms and Conditions page: https://learning.mozilla.org/en-US/gigabit/apply/terms

Add:
Mozilla will create an account on your behalf on Fluxx, which you will use to submit your Submission. (See Fluxx's terms of service and privacy policy here: https://www.fluxx.io/privacy-policy.)

Placement - the sentence above should go at the en

[2017-06-09 16:58] #2491 closed

[2017-06-13 14:39] jenntbeard commented on #2488
@flukeout What you sent was perfect as is, thanks!

Can we get a similar set for the WINS Challenges @hannahkane? It would be awesome to have the color scheme similar to the WINS website header (https://wirelesschallenge.mozilla.org/) and the due date for submission is October 15, 2017. Thanks!

cc @mehan

[2017-06-13 16:05] hannahkane commented on #2488
added a ticket for that [here](https://github.com/mozilla/nsf-challenge/issues/91)

Could use feedback from @jenntbeard and @mehan there.

[2017-06-13 20:03] jenntbeard opened #2493 "Adding new items to the Gigabit Events Page"
Need to add several upcoming events to the Gigabit Events page - https://learning.mozilla.org/en-US/gigabit/events

We have five events that are ready to be added to the page mentioned above, highlighted in yellow in this Google Sheet - https://docs.google.com/spreadsheets/d/1X3nmzwZkG0lJh-VfzBhuN6SQws2VM6WeR8Rybol8GTk/edit#gid=0. A link to the event and a link to an image is provided for each. We

[2017-06-19 16:55] #2493 closed

[2017-06-20 18:08] #2463 closed

[2017-06-22 19:17] jenntbeard opened #2496 "Remove and add events"
On this page - https://learning.mozilla.org/en-US/gigabit/events

Please remove the past events - June 21 and 22

Please add one new event on July 20 in ATX (highlighted in yellow; photo by Robert Friedman) - details in the sheet: https://docs.google.com/spreadsheets/d/1X3nmzwZkG0lJh-VfzBhuN6SQws2VM6WeR8Rybol8GTk/edit#gid=0

Thank you!!

[2017-06-29 19:11] Pomax commented on #2384
closing due to inactivity on this part of the site.

[2017-06-29 19:11] #2384 closed

[2017-07-10 17:42] #2496 closed

[2017-07-10 20:51] #2474 closed

[2017-07-11 19:13] jenntbeard opened #2498 "Remove July 20, 2017 event"
Hi, sorry, this event was postponed to a later date (Fall 2017), so can you remove the "Austin Gigabit Community Showcase" from this page: https://learning.mozilla.org/en-US/gigabit/events? Many thanks, as always!!

[2017-07-11 22:24] #2498 closed

[2017-07-18 17:18] hannahkane opened #2502 "Remove "Community Call" from navigation"
We are no longer running Learning-specific community calls. Please remove the "Community Calls" link from the main navigation (under the "Community" item).

Please *retain* the Curriculum Workshop link, as we are continuing that series.

[2017-07-18 17:18] hannahkane commented on #2502
@gvn or @mmmavis - is this relatively simple? Could one of you do this soon?

[2017-07-21 19:41] #2502 closed

[2017-07-25 17:13] jenntbeard opened #2504 "Update Key Dates on Gigabit Apply Page"
Hi, we need to update the Key Dates to remove a couple and add Round 4 dates to this page - https://learning.mozilla.org/en-US/gigabit/apply.

Remove:
January 30, 2017 - May 19, 2017 Round 2 Pilot Period
July 5, 2017 Letter of Intent Form Due (Required for All Projects)

Change (add Round 3 to the two existing items):
August 1, 2017 Round 3 Applications Due
October 30, 2017 - February 16, 2018 Rou

[2017-07-26 16:04] hannahkane opened #2505 "Update MCW with September workshop info"
See https://docs.google.com/document/d/1GYC7_VT1RBuR00WIhnQUKTSLjNP1h_9QRAVwBn0VB6U/edit?ts=59788b8b

[2017-07-27 20:32] #2504 closed

[2017-07-27 21:16] #2505 closed

[2017-08-17 08:57] ajomadlabs commented on #2379
@alanmoo Can you assign me with this issue

[2017-08-17 12:29] alanmoo commented on #2379
I can’t assign it, but go ahead and work on it

[2017-08-22 01:25] hannahkane opened #2508 "Update outcomes in gigabit portfolio"
Changes are in green [here](https://docs.google.com/spreadsheets/d/1Hd6DtgQpUd2rqCtI5TQIdHmvLlgOGa6Whf5BdHHUslM/edit#gid=1550807061)

[2017-08-22 01:25] hannahkane commented on #2508
cc @jenntbeard

[2017-08-22 16:52] #2508 closed

[2017-08-22 17:49] hannahkane opened #2510 "Allow for multiple links on the Gigabit portfolio detail pages"
In a given Gigabit Portfolio item detail page (see [an example](https://learning.mozilla.org/en-US/gigabit/portfolio/virtual-reality-stem-lessons)), there is a button at the bottom, labeled "website" that takes the user to an external site.

Some projects have up to three links to point to, so we need to allow for that in the UI.

Looking for a relatively quick solution that accommodates 0, 1, 2,

[2017-08-22 17:50] hannahkane commented on #2510
cc @jenntbeard

[2017-08-22 19:48] jenntbeard opened #2511 "Remove past events from Gigabit site"
Hi, there are two events that are over and need to be taken down from https://learning.mozilla.org/en-US/gigabit/events. MozFest should be the only remaining event, once the WINS event in July and the Gigabit City Summit are removed. Thanks!

[2017-08-22 21:14] gvn commented on #2510
You can now add as many links (with labels) as you want by editing `portfolio.json`.

All `Links` properties can either be `null` or an array of links, following this schema:

[code]

[2017-08-22 21:33] #2511 closed

[2017-08-24 02:06] #2510 closed

[2017-08-24 02:07] hannahkane opened #2514 "Add links / update descriptions of Gigabit portfolio items"
Per this [spreadsheet](https://docs.google.com/spreadsheets/d/1Hd6DtgQpUd2rqCtI5TQIdHmvLlgOGa6Whf5BdHHUslM/edit#gid=1550807061)

[2017-08-24 21:35] #2514 closed

[2017-08-30 00:34] jgmac1106 opened #2516 "Link to CHANGELOG.md in readme file is not working"
If you click on the link to CHANGELOG.md you get a 404 page. The link looks correct in markdown but when you compare the link to the file in the repo to the CHANGELOG.md file they are different (/master/).

I tried to fix but everything looks okay in markdown.

[2017-09-13 15:03] jenntbeard opened #2518 "Remove past Key Date from Gigabit Apply Page"
On this page - https://learning.mozilla.org/en-US/gigabit/apply - please remove the first Key Date that has now past - "August 1, 2017 Round 3 Applications Due". Thanks!!

[2017-09-13 17:29] hannahkane commented on #2518
@jenntbeard - do you want it removed entirely, or maybe to add copy saying something like, "Please note: this deadline has passed"?

[2017-09-13 17:50] jenntbeard commented on #2518
Let's just move it entirely - people sometimes think they can apply late and we are definitely past that point. Thanks for checking!

[2017-09-14 20:48] #2518 closed

[2017-09-29 17:15] jenntbeard opened #2520 "Updates to Gigabit Apply Page"
Hi, our last RFP round in the Gigabit Fund opens with the LOI process on October 1. We are fully integrated into the Fluxx grant management system now, so we're ready to shed the extra Google Form workaround we used for the RFP 3 process. We have a couple of immediate needs and I will submit a separate bug when we're ready with the others.

On this page: https://learning.mozilla.org/en-US/gigabit/

[2017-09-29 17:16] jenntbeard commented on #2520
@lindseyincha

[2017-10-02 16:26] #2520 closed

[2017-10-05 14:43] jenntbeard opened #2522 "Additional Changes to the Gigabit Apply Page (Steps)"
Hi! We have some updates needed to the steps at the bottom of the apply page (simplifying the steps now that the migration to Fluxx is complete).

So, on this page - https://learning.mozilla.org/en-US/gigabit/apply - we need to update steps to the version I shared with you Hannah (and below).

https://docs.google.com/document/d/1HWHffIUrPqAw9rIQXr1XfGN2DcTGiOcwrdJ6-L0tb9A/edit

[2017-10-05 14:43] jenntbeard commented on #2522
@LindseyFrost @lindseyinCHA

[2017-10-05 20:38] #2522 closed

[2017-10-11 16:50] jenntbeard opened #2524 "Updates to the Gigabit Terms & Conditions page"
Hello! We have some updates to the Terms & Conditions page (https://learning.mozilla.org/en-US/gigabit/apply/terms) that we need to be made as soon as possible. They are technically still in legal review, but since the LOI is technically open, we want to make sure that people reference as up-to-date a version as possible. (Fingers crossed that Michael won't have anything too major.)

The changes/u

[2017-10-11 22:10] hannahkane commented on #2524
Hey @jenntbeard - I dropped some comments in the doc. Could you take a look, before we go ahead and make these updates? Thanks!

[2017-10-12 00:45] jenntbeard commented on #2524
Yes, will do!

[2017-10-12 05:49] heltmm commented on #2516
I can take this issue

[2017-10-12 16:57] #2516 closed

[2017-10-12 17:18] hannahkane commented on #2524
OK, @jenntbeard and @LindseyFrost - I've made all of the updates in the doc as of today. Let me know if we should push it live.

Notes:
 * There had been a sentence on the site, "For additional guidance, please use this [application guide.](https://docs.google.com/document/d/1cxe4vKigqt9gnuxy8x5U7hzh_svdZvAOqj3VZCLdFZI/edit)” that I removed because it wasn't in the latest doc, but I put a comment

[2017-10-12 18:16] jenntbeard commented on #2524
It looks good to me, I will check with @LindseyFrost @lindseyinCHA.

[2017-10-12 19:08] LindseyInCHA commented on #2524
Looks great to me @hannahkane

* Agree that we need to keep that sentence. I updated the link in the google doc.  Thank you!

* Waiting on legal review of those two sentences, so will keep you in the loop.  Agree not to add now.

Thank you!

[2017-10-12 20:45] hannahkane commented on #2524
Thanks, both. I've filed a pull request. Hopefully these changes will be live soon.

[2017-10-12 20:50] jenntbeard commented on #2524
Great, thanks, Hannah!

[2017-10-12 20:58] #2524 closed

[2017-10-20 13:43] #2243 closed

[2017-10-20 13:43] #2266 closed

[2017-10-20 13:43] #2324 closed

[2017-10-20 13:43] #2379 closed

[2017-10-20 13:45] #2210 closed

[2017-10-20 13:45] #2223 closed

[2017-10-20 13:45] #2224 closed

[2017-10-20 13:45] #2314 closed

[2017-10-20 13:45] #2353 closed

[2017-10-20 13:45] #2361 closed

[2017-10-20 13:45] #2407 closed

[2017-10-20 13:45] #2424 closed

[2017-10-20 13:46] hannahkane opened #2527 "update Gigabit portfolio with 2018 projects"

[2017-10-24 16:44] hannahkane opened #2529 "Add CC license to Learning site"
Abigail points out that the Learning site footer doesn't include a link to a CC license.

Can we add a link to: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)?

[2017-10-24 16:44] hannahkane commented on #2529
@alanmoo - I believe this is a small thing. Is it something someone who's not attending Mozfest could do this week?

[2017-10-24 17:42] alanmoo commented on #2529
@gvn can you take care of this today?

[2017-10-24 17:47] gvn commented on #2529
Sure thing

[2017-10-24 19:37] #2529 closed

[2017-10-25 14:07] #2079 closed

[2017-11-02 17:01] #2527 closed

[2017-11-03 21:16] hannahkane opened #2532 "link to Gigabit 101 workshop in one of the "Updates" tiles on the Gigabit homepage"

[2017-11-03 21:50] #2532 closed

[2017-11-17 19:33] jenntbeard opened #2535 "Change to Grantee name on Gigabit Portfolio Page"
Hi, the lead org on one of our new Gigabit grants has changed their name and would like to go from “Integrated Arts” to “Harmonic Laboratory" on this page https://learning.mozilla.org/en-US/gigabit/portfolio/city-synth

Can we also use their new logo as well?
[FINAL_LOGOS.pdf](https://github.com/mozilla/learning.mozilla.org/files/1483551/FINAL_LOGOS.pdf)

@alanmoo feel free to let me know if I sub

[2017-11-17 19:48] alanmoo commented on #2535
Perfect, and thanks for the tag. That PDF has two logos- which one should be used, and do you happen to have it in SVG format?

[2017-11-17 19:53] jenntbeard commented on #2535
Ah yes, can you use the top one (just black and white, not the one with grey)? I have asked for an SVG format, might not be until Monday until I hear back. Thanks for your help!

[2017-11-17 20:10] alanmoo commented on #2535
Cool. Post that when you get it and @mmmavis can use that as a cue to start the work.

[2017-11-20 14:05] jenntbeard commented on #2535
@alanmoo - Github doesn't support SVG files (just so you know)

@mmmavis you can locate the file at this GDrive link - https://drive.google.com/open?id=13cHLmkrtT_zmV1qXZc9qumKXDcT8ZPMM

[2017-11-21 22:49] #2535 closed

[2017-11-21 23:10] mmmavis commented on #2535
Done!

[2017-12-05 17:20] jenntbeard opened #2537 "Add resource to one of the grantee portfolio pages and update application due date"
Hi @alanmoo, we have three minor updates needed to the Gigabit website.

1) On this Portfolio page (https://learning.mozilla.org/en-US/gigabit/portfolio/urban-farming-guys-smart-greenhouse) we want to add this video (youtu.be/SXaHo8yI_88) as a resource button. It should show up as a second 'VIDEO' button and link to the video.

2) On the Apply page (https://learning.mozilla.org/en-US/gigabit/apply

[2017-12-07 00:36] mmmavis commented on #2537
Changes are live!

https://learning.mozilla.org/gigabit/apply
https://learning.mozilla.org/gigabit/portfolio/urban-farming-guys-smart-greenhouse

[2017-12-07 00:36] #2537 closed

[2017-12-07 15:40] jenntbeard commented on #2537
Awesome, thanks @mmmavis!

[2017-12-19 19:03] alanmoo opened #2539 "Add banner about sunsetting programs"
From https://github.com/MozillaFoundation/mofo-devops/issues/564

Details

The language has been approved but does not include Gigabit.. We are still getting emails to teachtheweb email address and would like to minimize confusion

The approved language is below :

Mozilla has made a strategic decision to sunset its local digital literacy programs including Hive and Mozilla Clubs over the course o

[2017-12-19 19:24] sabrinang commented on #2539
![mozilla learning - sunset notice](https://user-images.githubusercontent.com/2492510/34174600-6205cefc-e4ae-11e7-859e-2c9b51e300d4.jpg)

I’ve used bootstrap alert-warning colours:
#faf2cc (background colour)
#8a6d3b (text colour)

I also used font awesome icon near the title:
fa-hand-o-right

It uses the same h2 and p sizes as the rest of the site.

@alanmoo Please review or let me know if you ha

[2017-12-19 19:26] sabrinang commented on #2539
Title should be **Important Update** (sorry I wrote notice in the mockup)

[2017-12-19 21:50] #2539 closed

[2017-12-20 18:09] xmatthewx commented on #2539
Thanks @sabrinang looks great. Thanks @gvn for the speedy work.

[2018-01-03 16:38] jenntbeard opened #2541 "Remove past event from Gigabit site"
Hi, can you remove the MozFest block from this page: https://learning.mozilla.org/en-US/gigabit/events? Thank you! @alanmoo

[2018-01-03 16:47] alanmoo commented on #2541
Will the events section header still be there, just empty?

[2018-01-03 16:51] jenntbeard commented on #2541
Not for long - we have some events to add. I will file them tomorrow - I can add to this string if that's easier. Just waiting on some details. Thanks!

[2018-01-03 17:24] alanmoo commented on #2541
Yeah, add them in here when you get them and I'll assign the set of work to someone to knock out all at once since they'll need to be in that codebase anyway.

[2018-01-05 16:09] jenntbeard commented on #2541
Please add the two upcoming events highlighted in this sheet in yellow: https://docs.google.com/spreadsheets/d/1X3nmzwZkG0lJh-VfzBhuN6SQws2VM6WeR8Rybol8GTk/edit#gid=0. Thank you!

[2018-01-08 23:46] #2541 closed

[2018-01-10 14:52] alanmoo opened #2543 "Remove "apply to be a club captain" link"
from https://learning.mozilla.org/en-US/clubs/list/

Not a rush, but when you have a chance.

[2018-01-12 00:49] mmmavis commented on #2543
Fixed!

[2018-01-12 00:49] #2543 closed

[2018-01-16 18:36] jenntbeard opened #2545 "Add event to Mozilla Gigabit Events Tab"
@alanmoo Hi, sorry, one more event to add to https://learning.mozilla.org/en-US/gigabit/events. It's highlighted in yellow in this sheet: https://docs.google.com/spreadsheets/d/1X3nmzwZkG0lJh-VfzBhuN6SQws2VM6WeR8Rybol8GTk/edit#gid=0

Thanks!!

[2018-01-25 19:15] jenntbeard commented on #2545
Just checking on this status.

If it's still open, I would like to make one additional request. On this page - https://learning.mozilla.org/en-US/gigabit/portfolio/kvasir-vr-teacher-guided-shared-virtual-worlds - the button should be directing to this link instead of it's current location - https://vrlab.cmix.louisiana.edu/category/news/mozilla-gigabit-blog/).

Thanks!!

[2018-01-25 19:22] alanmoo commented on #2545
@mmmavis or @gvn if one of you gets blocked by something this would be a good ticket to knock out.

[2018-01-25 19:37] gvn commented on #2545
I can take it

[2018-01-26 23:43] #2545 closed

[2018-01-29 17:14] gvn commented on #2545
Just pushed this to production...

[2018-01-29 17:22] jenntbeard commented on #2545
Thanks @gvn !

[2018-02-01 16:33] alanmoo opened #2547 "Add sunset notice to clubs landing page"
From @bacharakis in https://github.com/MozillaFoundation/mofo-devops/issues/564#issuecomment-362316683

Is there any chance to put this banner in at least the Clubs page as well?
A lot of people are directly [landing to the Clubs page](https://learning.mozilla.org/en-US/clubs/) (through search engines) and they miss the banner. As a result they reach out to different communities trying to learn mo

[2018-02-02 14:31] #2547 closed

[2018-02-12 15:18] jenntbeard opened #2549 "Fix typo on Gigabit project page"
Hi @alanmoo I just noticed a misspelled word on this page - https://learning.mozilla.org/en-US/gigabit/portfolio/penpal-schools-vr-field-trip-to-the-usa - ambassdors should be ambassadors in the last sentence of the project description. Thanks!

[2018-02-12 15:26] jenntbeard commented on #2549
Sorry, just spotted another on this page - https://learning.mozilla.org/en-US/gigabit/portfolio/coastal-erosion-vr - the first sentence of the project description has an extra word. Remove 'development'. Thanks!

[2018-02-12 15:41] #2549 closed

[2018-03-15 15:34] alanmoo opened #2552 "Update Gigabit portfolio pages"
We need to effectively merge [this spreadsheet](https://docs.google.com/spreadsheets/d/12XWDYRWhIAyeOVNaBDBVN4ltHK8bDxeaQLrETGbWmKs/edit#gid=1550807061) into [this json file](https://github.com/mozilla/learning.mozilla.org/blob/master/pages/gigabit/portfolio.json) (and put the images from the sheet into the repo). This will add the Gigabit projects to the portfolio page/create pages for each of th

[2018-05-22 04:05] jnny opened #2554 "link to makerparty.community doesn't exist"
As linked to on https://learning.mozilla.org/en-US/events

[2018-05-30 19:33] #2397 closed

[2018-06-19 14:04] patjouk opened #2555 "Update "Apply to Become a Club Captain" page"
We're still getting requests to start new clubs because the form is [still online](https://learning.mozilla.org/en-US/clubs/apply/). We should modify this page to remove the form and add a message about clubs being sunset (ref #2547).

[2018-09-24 20:13] #2429 closed

[2018-09-24 20:42] #1732 closed

[2019-02-18 00:51] moz-hwine opened #2560 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/learning.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wi

[2019-03-29 05:10] Mozilla-GitHub-Standards opened #2562 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The