[2015-10-22 18:06] sabrinang opened #1388 "[interface element] - buttons"
**Problems:**
* inconsistent button styles and hover states
* old maketstrap styles are present
* undocumented button exceptions

**Solutions:**
* update all makerstrap style buttons
* unify typography *(all caps, colour)*
* unify hoverstates
* unify button sizes *(height, padding)*
* unify corner styles
* document colour
* document button exceptions homepage CTA and promo banner button styles *(l

[2015-10-22 18:13] sabrinang opened #1389 "[interface element] - labels"
**Problems:**
Labels have inconsistent spacing, corners and typography.

**Solutions:**
* unify corner radius
* use cohesive space margin and padding
* use cohesive typography *(all caps)*
* colour

**Seen on:**
[Teaching Activities](https://teach.mozilla.org/activities/)
<img width="1426" alt="screen shot 2015-10-22 at 11 10 45 am" src="https://cloud.githubusercontent.com/assets/2492510/10674016/

[2015-10-22 18:30] kristinashu opened #1390 "[typography] - consistent font sizing"
**Problems:**
There are a lot of different font sizes, leading, and weights. This makes the site look messy.

**Solutions:**
Streamline number of font styles. Create a sketch file with all the necessary font sizes (body, h1, h2, h3...). Ex if we have body text that is 11px, 12px, 14px lets just chose one size. Also address when to when to bold, when to italics...

**Seen on:**
all pages of [MLN] (

[2015-10-22 18:35] kristinashu opened #1391 "[typography] - links"
**Problems:**
We have a lot of different treatments for links and their hover states ex. italic, underlined, blue, arrow icon...

**Solutions:**
Chose one treatment to use everywhere ex. all text links are blue with an underline on hover.

**Seen on:**
all pages of [MLN] (teach.mozilla.org)

<img width="135" alt="screen shot 2015-10-22 at 11 33 31 am" src="https://cloud.githubusercontent.com/asset

[2015-10-22 18:47] sabrinang opened #1392 "[interface element] - modals"
**Problems:**
Inconsistent pop-up modals styles.

**Solutions:**
* streamline modal sizes (padding, margin)
* streamline typography *(heading, form field text, notifications, error, confirm etc.)*
* streamline form field UI *(fields, labels, drop downs, check boxes,)*
* streamline closing button corner, button for social
* streamline and style error messages

**Seen on:**
[Homepage] (teach.mozilla

[2015-10-22 18:52] kristinashu opened #1393 "[visual element] - list and tab styles"
**Problems:**
There are a lot of different layouts for lists and tabs. This makes the site look messy.

**Solutions:**
Streamline by limiting the number of different layouts and use consistent bullet points.

**Seen on:**
all pages of [MLN] (teach.mozilla.org)

<img width="367" alt="screen shot 2015-10-22 at 11 45 19 am" src="https://cloud.githubusercontent.com/assets/1068783/10675009/bd1b7748-78b

[2015-10-22 18:54] sabrinang opened #1394 "[interface element] - promotional banner on homepage"
**Problems:**
Standardize visuals and content for promotional banner on the homepage so it doesn't interfere with main MLN content.

**Solutions:**
* document how logos are used *(colour, size)*
* document the layout of promotional banners *(image, text length, CTA, responsive)*
* document button style
* document background options *(colours, patterns, transparency)*

**Seen on:** [Homepage] (teac

[2015-10-22 19:45] sabrinang opened #1395 "[interactive element] - transitions, states and animations"
**Problems:**
Standardize transitions between pages and content or introduce some so it is less jarring experience.

**Solutions:**
* streamline transitions
* streamline hover, click and visited states
* introduce some playful animations on the site that may improve how we communicate information

**Seen on:** all pages of [MLN] (teach.mozilla.org)

**Related Issues:** #1260
**/CC:** @kristinashu

[2015-10-22 19:52] sabrinang commented on #1260
Around 30 issues are filed from this audit with the *design audit* label and referenced here. We can file more as we encounter them. Closing this ticket!

[2015-10-22 19:52] #1260 closed

[2015-10-22 22:55] kristinashu commented on #1370
@cassiemc updated comps are here https://redpen.io/p/jh0a4bc04ea2daf52b let me know if you have anymore feedback.

Note the side bar is narrower now so it will fit in two columns of the 12 column grid.

[2015-10-22 23:07] flukeout commented on #1360
I made a couple of preliminary options based on the Kraken teaching kit.

* **Side-nav** - https://redpen.io/cxe30ac854d8460f2f
* **Top Tabs** - https://redpen.io/qcd2e564833084685a

[2015-10-22 23:09] kristinashu commented on #1366
@flukeout @sabrinang any opinion?

[2015-10-23 00:00] kristinashu opened #1396 "[photography] - layout alternative for large banner images"
**Problems:**
Banner images take up a lot of real estate and Tools page is the only page without a banner image which is inconsistent (credentials will be different as well).

**Solutions:**
We could reduce the height of the banner or find another alternative.

**Seen on:** all pages of [MLN] (teach.mozilla.org)
<img width="811" alt="screen shot 2015-10-22 at 9 48 47 am" src="https://cloud.githubu

[2015-10-23 00:43] hannahkane commented on #1319
Thinking we can close this ticket since @flukeout has moved on to comps already! Speedy McGee! Agree?

[2015-10-23 01:27] flukeout commented on #1366
Ha, judging by my choices for Thimble...

![image](https://cloud.githubusercontent.com/assets/25212/10682388/0339ed4a-78ea-11e5-9c20-8a395e28bb0a.png)

...I prefer "Log in" (gross) and mixing sentence and title case.

**Actual preferences**
* Sign in & Sign out
* Create an account

[2015-10-23 10:59] chadsansing commented on #1360
Very cool, @flukeout - both are giant steps forward. I lean toward the persistent side-bar navigation, but would love to see testing on the tabs, as well.

One additional field to account for: standards. Might be 21st C, might be local, state/provincial, or national.If we can reserve space for us and community contributors to include standards, that would help the template bridge formal and inform

[2015-10-23 14:58] jgmac1106 commented on #1360
These are awesome. I love the top menu (especially if it floats).

We also have to remember that a large majority of curriculum testers asked
for paper versions. There are a few ancient issues floating around about a
print stylesheet with simplified texts and no images.

Not sure if this would influence initial design.

On Fri, Oct 23, 2015 at 6:59 AM Chad Sansing <notifications@github.com>
wrote:

[2015-10-23 15:49] flukeout commented on #1360
@chadsansing @jgmac1106 Thanks for the feedback, I'll iterate a little bit on the 'tabbed menu' design. I'm worried that it will feel awkward with a lot of steps. Do you guys have a sense of how many steps the average kit has? (cc @hannahkane)

The print styles can be completely independent of the layout, so we'll tackle that as a separate layer on top of these designs.

Chad, can you provide a li

[2015-10-23 15:55] chadsansing commented on #1360
@flukeout - those are the ones we're developing with the Web Lit Map. @anmechung, where is the best place to look for the 21st C Skills?

[2015-10-23 16:00] jgmac1106 commented on #1360
problem solving, communicating, collaborating, creativity. Not sure of the
correct tense of verb nor if it matters since the list isn't parallel
anyways

On Fri, Oct 23, 2015 at 11:55 AM Chad Sansing <notifications@github.com>
wrote:

[2015-10-23 16:20] kristinashu commented on #1319
Sweet!

[2015-10-23 16:20] #1319 closed

[2015-10-23 16:30] kristinashu commented on #1368
This could be a quick fix. @hannahkane are you ok with @mmmavis removing the Hive footer section and just having Hive as a link in the side bar footer? Longer term plan is to have a dedicated Hive page #1311

We could also remove Webmaker from the side bar footer since it is now featured on the Tools page.

Mock up of the footer side bar can be seen in the header design ticket #1370 https://redpen

[2015-10-23 16:31] hannahkane commented on #1280
@mmmavis - can we close this one? Page looks good!

[2015-10-23 16:32] hannahkane commented on #1320
@mmmavis - can we close this one?

[2015-10-23 16:33] hannahkane commented on #1368
+1 to removing Webmaker. Want to get @chrislarry33's OK before moving Hive to footer sidebar.

[2015-10-23 16:38] #1370 closed

[2015-10-23 16:56] kristinashu opened #1397 "Implement simplified sidebar"
Based on design https://github.com/mozilla/teach.mozilla.org/issues/1370

Redpen comp: https://redpen.io/p/jh0a4bc04ea2daf52b
Illustrator file: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLUEtuYUI5cVJJUGc/view?usp=sharing
Assets: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLV3lXS2pOd21QblE&usp=sharing

I guess ignore Credentials for now and ignore Hive as a foote

[2015-10-23 17:42] HelenHChen commented on #1290
Hi @hannahkane! I was able to address this issue last week at Grace Hopper. I made a pull request but am not sure what else I need to do to get the proposed updates merged into the master? I'm new to this so thank you in advance for your help and patience :)

[2015-10-23 17:50] hannahkane commented on #1290
Thanks, @HelenHChen! Awesome. @mmmavis or @Pomax - are either of you available to review Helen's PR?

[2015-10-23 19:27] hannahkane commented on #1360
Love these. Definitely prefer the scalability of the vertical sidebar. Some modules have up to 9 activities! I can't imagine how that would work on the tabbed version.

Also need to think about what happens if we have one more level of navigation, as in the [expanded privacy kit](https://github.com/mozilla/learning-networks/issues/2460).

[2015-10-23 19:34] hannahkane commented on #1353
@HPaulJohnson - what's the deadline for this?

[2015-10-23 19:47] HPaulJohnson commented on #1353
@hannahkane the campaign goes live on 11/3. Needs to be available asap. It can redirect to main activities page if need be, just in case we can't get it up ahead of that.

[2015-10-23 19:56] mmmavis commented on #1280
yup yup! :tada:

[2015-10-23 19:56] #1280 closed

[2015-10-23 19:56] mmmavis commented on #1320
yup!

[2015-10-23 19:56] #1320 closed

[2015-10-23 21:08] kristinashu commented on #1310
I've updated the comps https://invis.io/5X4MAWTMT
Focused on the version with the integrated tour/activity and added an intro page to give some context and overview.

[2015-10-23 21:52] flukeout commented on #1360
@chadsansing @jgmac1106 Here's a WIP of the Kraken teaching kid using the **Side-Nav** layout:

http://localhost:8080/WebLiteracyBasics-I/session01-kraken.html#hunt

[2015-10-23 23:21] kristinashu commented on #1324
@Pomax found this old thimble project http://mozilla.github.io/goggles.webmaker.org/
If you use goggles on it you can swap out sections of the animal. I like how they've grouped it so by clicking on the image you can edit all the images at once instead of one at a time. I'll mock up a version like this to compare.

<img width="1432" alt="screen shot 2015-10-23 at 4 06 07 pm" src="https://cloud.git

[2015-10-23 23:56] Pomax commented on #1348
switched over to the `@lightgrey` less variable (#F1F1F1)

[2015-10-23 23:56] #1348 closed

[2015-10-23 23:58] kristinashu commented on #1324
Mocked up a version where users can edit all the images at once https://invis.io/F44O6ZJGY
I'm liking this direction a lot more, feels simpler and less room for people messing up.

[2015-10-24 00:27] #1335 closed

[2015-10-26 11:09] chadsansing commented on #1360
The feeling of relief I had when I first opened the page was palpable. Nice job. So horizontal. Such chunked. Very lack of scroll.

Would it be better to take the times in circles on each step and to frame them in green at the upper-right as we do on the overview page? Thoughts, team?

[2015-10-26 14:49] cassiemc commented on #1360
@flukeout I like the scalability of side nav too. I'd love it more if it explicitly related to the new side nav that @kristinashu designed. Is it possible for the activity to go widescreen? is @kristinashu working on a UI refresh in parallel to this work?

[2015-10-26 16:05] hannahkane commented on #1361
@amirad - can you please share info about the monthly MozClubs open office hours?

[2015-10-26 16:25] flukeout commented on #1360
@cassiemc I'm definitely keeping it nice and light style-wise so that we can coordinate styles easily with @kristinashu's work. Want to make sure we have the right UX & navigation style before I dig into the details.

I kept the activity at a fixed width because I don't see the utility in going widescreen - it seems that it will just make the lines of text too long to read comfortably. Happy to di

[2015-10-26 16:30] flukeout commented on #1360
@chadsansing I'll work on coordinating the styles of the time indicators.

A bonus with this design if you're viewing the second step in the activity and send someone that link, it will also open to the second step for them, try it out...

http://flukeout.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html#hunt

[2015-10-26 17:43] kristinashu commented on #1360
Here's the side nav comps if you need it https://redpen.io/p/jh0a4bc04ea2daf52b although it has different purpose so not sure how similar they should be.

I also like the idea of making it a full width layout. You could use larger fonts and lots of padding on the sides to reduce long text lines. I think making it less boxed in will make it feel more modern.

[2015-10-26 17:45] kristinashu commented on #1324
There's a lot of overlap with https://github.com/mozilla/teach.mozilla.org/issues/1310 so I'm going to close this one.

[2015-10-26 17:45] #1324 closed

[2015-10-26 18:51] hannahkane commented on #1360
@kristinashu to help out with this, too

[2015-10-26 18:56] sabrinang commented on #1357
/cc @sabrinang

[2015-10-26 18:58] Pomax commented on #1336
See https://github.com/mozilla/goggles.webmaker.org/issues/228 for the help page

[2015-10-26 18:59] Pomax commented on #1310
tracking dev work for this in https://github.com/mozilla/goggles.webmaker.org/issues/229

[2015-10-26 19:11] Pomax commented on #1310
@kristinashu what would the "skip tutorial" option do on the modal that "starts" the entire page? Does it just turn off any interaction until the page is reloaded, so you just get a "create your own adventure" page?

[2015-10-26 19:36] kristinashu commented on #1310
@Pomax yes, exactly. Thinking this would be useful for instructors using this activity in the classroom or users who just want to play around with the activity.

Closing and moving to https://github.com/mozilla/goggles.webmaker.org/issues/230

[2015-10-26 19:39] #1310 closed

[2015-10-26 21:05] kristinashu commented on #1259
Come across this article on horizontal vs vertical nav, something to consider and keep in mind when we get to this ticket http://www.smashingmagazine.com/2010/01/the-case-against-vertical-navigation/

[2015-10-26 21:21] hannahkane commented on #1259
Interesting article. It definitely reminded me that we should focus our IA as much as possible. Looking at my comment above, I'm still very much interested in figuring out how to keep the primary nav limited to content that's likely to change or be referenced frequently. Static content should be easy to find, but isn't likely to be referred to by users very often. One possible exception to this is

[2015-10-26 21:31] thiagotomasi commented on #1371
Hi @sabrinang and @kristinashu!
Can I help with this one?

[2015-10-26 22:49] sabrinang commented on #1305
I updated the redpen: https://redpen.io/mf72283f5af6a44817
I'm going to continue to add some visualization ideas up until MozFest for the map section.

@anmechung Let me know what you think of the feedback questions and if we need to make an online survey for that for the feedback station to guide people recording themselves or to fill out if people don't want to be recorded (see comment above).

[2015-10-26 22:56] Pomax commented on #1353
@chadsansing @hannahkane we can't actually use https://commons.wikimedia.org/wiki/File:SafeWalletLogo.png, as its license *only* permits use on wikimedia sites.

[2015-10-26 23:04] amirad commented on #1357
Just flagging that we have a call on Nov 3rd with RCs and will make sure to add these in there for feedback. @hannahkane  - it's 11am ET so might be too early for you but let me know if there is a specific list of questions I can ask them.

[2015-10-26 23:10] amirad commented on #1361
Sure....it's going to be the last thursday of every month from 10-11am ET (might play around with timings if I find that this doesn't work for people). Working on getting some type of text up on a github page soon so can point people there.

[2015-10-26 23:13] hannahkane commented on #1361
thanks, @amirad. Please drop the github page here when it's up.

[2015-10-26 23:15] hannahkane commented on #1357
Hmm...might be able to make it, but should probably be heading to the airport around that time. @sabrinang - could you drop in a link to wireframes that Amira could share with the RCs next week?

[2015-10-26 23:24] Pomax commented on #1353
In order to have the page up today, we'll be using https://commons.wikimedia.org/wiki/File:Monitor_padlock.svg instead of the wallet

[2015-10-27 00:01] anmechung commented on #1305
@sabrinang I added reflection tool and profile mad-lib here.  https://docs.google.com/document/d/1JHaJOp-6H6rbujUfWo9rbNyHI2wuQCGsdceTDU6oLe4/edit
Online survey - great idea!  I included in the google doc and made some edits and added a bonus question.  Can we give people the option of being recorded or writing in a google doc, their response to how they might use the map? Will set up a call for T

[2015-10-27 05:38] Pomax opened #1401 "fix nested <a> in figures with captions"
based on https://github.com/mozilla/teach.mozilla.org/pull/1398, the change to ImageTag may have lead to nested `<a>` tags for caption links. We should verify and fix if that's true.

[2015-10-27 05:39] #1353 closed

[2015-10-27 10:49] chadsansing commented on #1353
Nice catch - leveling up license use now. Thanks, @Pomax.

[2015-10-27 14:34] chadsansing commented on #1353
@Pomax, how goes the build? Any ETA on a live page yet?

[2015-10-27 16:17] amirad commented on #1357
OMG... @hannahkane  it's okay if you can't! Just a link to the wireframes and maybe a couple leading questions you think would be valuable and we can gather the info for you.

[2015-10-27 16:57] chadsansing commented on #1360
cc @zee-moz

[2015-10-27 21:32] hannahkane commented on #1353
Page looks good, but need to fix this link before releasing (#1403)
 * Avoiding Password Reuse should link to: chadsansing.github.io/curriculum-testing/expanded-privacy-curriculum/avoiding-password-reuse.html

Not a blocker to release:
 * @chadsansing - Passwords Agenda, Creating Strong Passwords, Avoiding Password Reuse, Privacy Elevator Speech, Data Retention Agenda, and Follow Your Data Trail a

[2015-10-27 21:40] amirad commented on #1358
@hannahkhane - have been going back and forth on this as well. I realized only benefit to having them there is being able to easily switch clubs from one to another which I know we will want to do.

[2015-10-27 21:41] chadsansing commented on #1353
@hannahkane, let's do. They seem to display correctly on my machine. Can we identify the issue? Happy to work on it some or merge a pull request from a bug-whisperer.

![screen shot 2015-10-27 at 5 41 26 pm](https://cloud.githubusercontent.com/assets/4128600/10773492/fb4cdc50-7cd1-11e5-88b4-350d3894017e.png)

[2015-10-27 22:01] hannahkane commented on #1353
Huh...wonder why it looks like this for me...any front-end ppl have an idea? @mmmavis @flukeout ?
![screen shot 2015-10-27 at 3 00 09 pm](https://cloud.githubusercontent.com/assets/8389648/10773934/773e7876-7cbb-11e5-8d13-6a55bed790ab.png)

[2015-10-27 22:08] amirad commented on #1359
This ticket is the same as this one yes? https://github.com/mozilla/learning-networks/issues/267

[2015-10-27 22:08] hannahkane commented on #1358
I think we'd move someone from one mailing list to the other within Exact Target. We already have the ability to remove someone from the Clubs list on the backend. Does that cover everything?

[2015-10-27 22:09] hannahkane commented on #1359
I think this ticket is the implementation ticket, since it's in the Teach repo. And maybe the LN ticket is for finalizing copy.

[2015-10-27 22:13] amirad commented on #1358
I'm thinking through the process. Some potentials:
A club is no longer active and we need to take them off our active page. I go to backend and change their status to remove/deny. But I don't want to loose them? So I take their email and go into exact target and add it to the affiliates group.

An affiliates group is ready to sign-up as a Mozilla Club. I tell them to go to the clubs page and sign

[2015-10-27 22:13] amirad commented on #1359
Ahh okay cool! Well then I'm not blocking!!! Waiting on feedback from others.

[2015-10-27 22:15] kristinashu commented on #1371
@thiagotomasi that would be great, thanks! Let us know if you have any questions.

[2015-10-27 22:16] hannahkane commented on #1358
w00t!

[2015-10-27 22:19] hannahkane opened #1404 "Fix link on Privacy Basics page"
The link to "Avoiding Password Reuse" on /activities/privacy-basics/ should link to: chadsansing.github.io/curriculum-testing/expanded-privacy-curriculum/avoiding-password-reuse.html

[2015-10-27 22:20] hannahkane commented on #1353
Added https://github.com/mozilla/teach.mozilla.org/issues/1404

[2015-10-27 22:28] kristinashu commented on #1371
@thiagotomasi the current clubs (https://teach.mozilla.org/clubs/) icons are from fontawesome https://fortawesome.github.io/Font-Awesome/cheatsheet/

We're trying to move away for the filled in icons and move towards a simple line icon style. For example, we're starting to use some of these http://linea.io/

Looking forward to seeing what you come up with!

[2015-10-27 22:44] Pomax commented on #1353
@chadsansing @hannahkane this happens if you go to **http**://chadsansing.github.io, rather than https, and is caused by https://github.com/chadsansing/curriculum-testing/issues/120

[2015-10-27 22:46] hannahkane commented on #1353
Cool. Thanks, @Pomax. Can we fix the link in #1404 and push this page to prod?

[2015-10-28 00:08] flukeout commented on #1338
@kristinashu Do you have a particular badge and animation in mind? Send it my way and we can experiment with some simple animations and see what it does to file sizes.

CSS animations are a nice option too, but would only work on the website. We'd also lose the ability to 'right click' and save the badge images since they'd be made of multiple, moving components - which could be a drawback.

[2015-10-28 00:12] kristinashu commented on #1338
It's a work in process but just to get an idea of file size.

![badge](https://cloud.githubusercontent.com/assets/1068783/10776283/3f188808-7ccd-11e5-9c63-10791576a7d5.gif)

Because it has so few colours the file size is only 104 KB.

I think gif is the way to go for browser support and so that it works in Twitter shares and emails.

[2015-10-28 00:13] kristinashu commented on #1338
Might need to look at it here https://dl.dropboxusercontent.com/u/7431680/Badge.gif

[2015-10-28 01:25] Pomax commented on #1353
PR pending as https://github.com/mozilla/teach.mozilla.org/pull/1405

[2015-10-28 01:27] cassiemc commented on #1338
I know these are a work in progress so feel free to tell me to shut up, but it would be nice if the animations were a bit smoother, with easing, etc. Nice start though, can't wait to see 'em finalized, and agree that if you can export higher-fidelity animations to reasonably sized gifs, then that def. seems the way to go.

[2015-10-28 07:21] #1404 closed

[2015-10-28 07:25] #1401 closed

[2015-10-28 10:37] chadsansing commented on #1353
Got it.

[2015-10-28 16:05] sabrinang commented on #1357
The research slide deck starting on slide 11: https://docs.google.com/presentation/d/19haCbs4KAQnmpItgg-VPwa-ehvrgX139Ycw2h88BiIs/edit#slide=id.gbce6b6c13_0_56
has the most up to date wireframes on slides

[2015-10-28 16:32] kristinashu commented on #1338
Haha feedback is always welcome! But yeah, this was just a rough test to get an idea of size. More work is needed on the animation and I can probably get the file size down as well with some tinkering.

[2015-10-28 17:52] amirad commented on #1357
I'm assuming the most related wireframe would be that on slide 21? Is there any way to get a link to just that image since it's hard to see on the slide? @sabrinang

[2015-10-29 11:39] chadsansing commented on #1360
@carotejada shared this over [here](https://github.com/mozilla/learning-networks/issues/278).

![timebar](https://cloud.githubusercontent.com/assets/4128600/10817425/01cef6a0-7e10-11e5-81d1-7848eb050418.png)

Do you think there's a need for something like this in the new design? I feel like the new layout and time get at much of what this does. Maybe something like it appears once on the intro pag

[2015-10-29 17:34] hannahkane commented on #1360
I think it adds a nice visual element. @chadsansing - do all activities include the same basic building blocks?

[2015-10-29 17:44] chadsansing commented on #1360
No - after the preparation and introduction steps, the titles of each step change, and the amount of time each takes varies by step (so overall times vary by activity, as well).

[2015-10-29 19:40] hannahkane commented on #1360
I don't think the varying durations would matter - I'm imagining a dynamic implementation where the author enters specific durations for each section. But if we don't have a finite list of sections, I'm not sure how this would work.

Thoughts from others?

[2015-10-29 19:44] chadsansing commented on #1360
Can the author also type in strings for the section labels, just give them a class? Comment-in a blank example for cutting and pasting extra steps?

[2015-10-29 21:18] kristinashu opened #1410 "Analytics for teach site"
@adamlofting no rush but could you please share analytics for the teach site with @sabrinang and/or @kristinashu

[2015-10-30 09:03] adamlofting commented on #1410
:+1: all done. You should have emails from Google now saying you have access, and you can login at http://google.com/analytics/ using your mofo address.

[2015-10-30 09:03] #1410 closed

[2015-10-30 16:26] hannahkane commented on #1360
Sure, we could make the whole thing dynamic. Just not sure what to do about the icons, though, since there would be a finite set, and it sounds like the section headings are different enough that the icons might not make sense in every context.

[2015-10-30 16:28] chadsansing commented on #1360
Maybe just a few designs to differentiate between (alone | with others) x (online | on a computer| offline)?

[2015-10-30 17:13] ldecoursy opened #1411 "Add "Help us translate" CTA on Web Lit Basics I"
We just kicked off our mini-campaign to try to localize the Web Literacy Basics I module into 5+ languages by mid-Dec.

Can we add a "Help us translate" CTA at https://teach.mozilla.org/activities/web-lit-basics/ that links to the blog post here: https://blog.webmaker.org/help-us-get-local-with-web-literacy

[2015-10-30 18:52] hannahkane commented on #1312
Note from @LauraReynal and @secretrobotron's  research: "importance of the first visuals people see.
why dont we try something like https://www.flickr.com/photos/laura_nk/16249739479/in/album-72157650633495175/
with people doing stuff together ?"

[2015-11-02 17:10] kristinashu commented on #1410
Just got the email, thanks @adamlofting

[2015-11-02 17:39] kristinashu opened #1412 "Summarize key points from analytics"
Now that I have access to our analytics I'll choose a few key points to highlight and we can discuss recommendations based on that info.

[2015-11-02 19:47] hannahkane commented on #1360
Ah, I see. Maybe a separate ticket to define a system for that kind of meta-data?

[2015-11-02 21:57] kristinashu opened #1413 "Activate in-page google analytics"
@mmmavis @adamlofting looks like all the analytics are working except when I go to Behavior / In-Page Analytics. I get this error message:
<img width="1413" alt="screen shot 2015-11-02 at 9 54 09 am" src="https://cloud.githubusercontent.com/assets/1068783/10895211/d66e1ca6-8167-11e5-9e15-3aec33ebba12.png">

Is everything up to date?

[2015-11-02 22:34] hannahkane commented on #1411
@kristinashu or @sabrinang - do either of you have time to mock-up what this CTA might look like? I don't think we have a style yet for this kind of thing.

[2015-11-02 22:35] Pomax commented on #1290
totally landed.

[2015-11-02 22:35] #1290 closed

[2015-11-02 22:40] kristinashu commented on #1411
I'll check in with @sabrinang but yes, I can mock it up.

[2015-11-03 00:06] hannahkane commented on #1357
Ping @sabrinang to make sure @amirad has what she needs to collect feedback. Thanks!

[2015-11-03 00:14] hannahkane opened #1414 "Design "Community" page"
Rather than take people off-site (straight to Discourse) from a main navigation item, we want to take people to a "Community" page that provides an overview of *all* of the ways to connect with the MLN Community.

url: /community

This will be a top-level nav item, as per design here: https://redpen.io/pm5e582508380c592b

### Content / Copy ###

 * The best way to connect with others in the Mozill

[2015-11-03 01:17] kristinashu commented on #1411
Here are a couple options: https://redpen.io/p/dg7c71782aa6c22167

I don't want to create any new styles so I've pulled elements from https://teach.mozilla.org/clubs/

Option 1: CTA is at the top and uses a yellow feature box.
Option 2: CTA is at the bottom and uses vertical line element and yellow CTA button.

Let me know which one any of you prefer and what the copy should say, I think we should

[2015-11-03 01:31] hannahkane commented on #1411
Nice! Thanks, @kristinashu.

I'd say we should A/B test, but I think it might take awhile to get a statistically significant sample, and IIRC, this is a relatively short campaign. If I were going to pick, I'd guess Option 1 would get more eyes on it.

I actually think the copy you have is perfect.

@ldecoursy - your thoughts?

[2015-11-03 06:46] sabrinang commented on #1305
I updated the redpen with what I have printed and assembled: https://redpen.io/p/wnff7c7716726ed841
![img_20151102_213403-2](https://cloud.githubusercontent.com/assets/2492510/10902334/261a8b92-81b1-11e5-92c0-d602a33f088d.png)

I won't be working at the office tomorrow so I won't be able to make many changes but please comment on the redpen if there are any concerns. The only thing I'm missing is

[2015-11-03 11:04] jgmac1106 commented on #1305
+1 on the redesign.

On Tue, Nov 3, 2015, 1:46 AM sabrinang <notifications@github.com> wrote:

[2015-11-03 14:04] ldecoursy commented on #1411
+1 looks great to me - thank you!

[2015-11-03 14:12] ldecoursy opened #1415 "Move Mozilla Clubs logo remix to new Thimble"
Hi -

We've received two notes from folks who are trying to remix the Mozilla Clubs logo here: https://sabby.makes.org/thimble/NzYxNzkwOTc2/mozilla-clubs-wordmark however it's in old Thimble and not remixable.

@sabrinang Are you able to access it from webmaker.org/me and copy/paste the code from this old Thimble make into new Thimble, then share the updated link?

Thanks!

cc @kgorr

[2015-11-03 14:58] amirad commented on #1357
hey @sabrinang @hannahkane the call is in an hour so will either gather quick feedback without images or hopefully get some questions/images from you before then!

[2015-11-03 17:16] amirad commented on #1357
@hannahkane  lots of feedback on the reporting system in the etherpad https://public.etherpad-mozilla.org/p/teach.clubs-rccalls (I have also emailed those who couldn't attend to go back and add feedback).

Also some people accidentally commented straight into the design here: https://redpen.io/gxa2e0bf3339a41de1

[2015-11-03 17:26] kristinashu opened #1416 "Implement Add "Help us translate" CTA on Web Lit Basics I"
Based on design in #1411

Add a "Help us translate" CTA at https://teach.mozilla.org/activities/web-lit-basics/ that links to the blog post here: https://blog.webmaker.org/help-us-get-local-with-web-literacy

Here's the comp with a yellow feature box added. Styling pulled from https://teach.mozilla.org/clubs/

![red-pen-275b833e-a78f-477d-a384-9d0acd695309](https://cloud.githubusercontent.com/asse

[2015-11-03 17:27] kristinashu commented on #1411
Great, I'll close this ticket and open the implementation ticket #1416

[2015-11-03 17:27] #1411 closed

[2015-11-03 18:43] hannahkane commented on #1416
Thanks for filing, @kristinashu!

[2015-11-03 20:23] kristinashu commented on #1338
Here's where I'm at with the GIFs: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLaEMtejhieUxRaVE&usp=sharing

Just two more to go.

[2015-11-03 21:54] wiobyrne commented on #1305
Agreed. Best of luck at the launch.

Please be sure to get a camera on the display over the course of the day...or snapshots during a timelapse to see what people are moving, decisions being made. I'd be interested in what commentary is provided and what questions people have.

[2015-11-04 11:32] adamlofting commented on #1413
That's interesting - I don't use that feature much so hadn't noticed this.

I haven't looked into this closely yet, but I suspect this is related to how the site is built with React.

It does work if you install the Chrome Extension linked in that message though:

<img width="1426" alt="screenshot 2015-11-04 11 31 01" src="https://cloud.githubusercontent.com/assets/1901816/10936925/953eda50-82e7-1

[2015-11-04 12:29] hannahkane commented on #1357
@amirad - this is such good feedback! will be super helpful as we finalize and implement a v1. Thanks so much for collecting this!

[2015-11-04 12:31] hannahkane opened #1417 "Revise Clubs Report wireframes based on feedback"
See comments in redpen: https://redpen.io/gxa2e0bf3339a41de1

And on etherpad (Nov 3 call) : https://public.etherpad-mozilla.org/p/teach.clubs-rccalls

[2015-11-04 13:44] anmechung commented on #1305
Ian,

Great idea!  Sorry you won't be there, but we will take be adding notes to
the etherpad continuously.  The space will be open the whole time, and the
focus group is scheduled for 3:30 pm London time on Saturday.  Sabrina has
done an amazing job designing!

Btw - really liked the video you put together - captures the history and
the future of the map!

Let's do a catch up next week?  Let me k

[2015-11-04 13:53] wiobyrne commented on #1305
Sounds good. Wish I was there, but know that you'll all do a great job. Let me know if you want me to monitor/do anything from this side of the pond. I'll stay on the EtherPad to see what people say. Looking forward to the feedback.

Best of luck. :)

[2015-11-04 14:38] hannahkane commented on #1338
Nice!

[2015-11-04 16:13] anmechung commented on #1338
+ 1  very nice!

[2015-11-08 11:19] hannahkane opened #1418 "Clubs map should be in user's language"
Right now when I look at the Clubs map, I see many city and country names in the language of the location, rather than my browser's locale.

[2015-11-09 10:44] #1239 closed

[2015-11-09 13:43] jgmac1106 commented on #1305
Looking for the link to the etherpad @anmechung or @sabrinang do you have it?

cc/@wiobryne

[2015-11-09 21:23] anmechung commented on #1305
@jgmac1106 here is the link:  https://public.etherpad-mozilla.org/p/Mozfest2015WebLit2.0feedback

[2015-11-09 21:24] #1305 closed

[2015-11-12 17:36] ldecoursy opened #1419 "Update Maker Party Certificate link on teach.mozilla.org"
Unless anyone was planning to update the Maker Party Certificate project, we had a community member send us this: https://d157rqmxrxj6ey.cloudfront.net/mhasan/13029/ (it's a remix of the old thimble project in the new thimble).

On this Maker Party event resources page: https://teach.mozilla.org/events/resources/ the current link for the certificate goes to an old webmaker link that can no longer

[2015-11-12 17:59] chadsansing commented on #1419
+1.

[2015-11-16 17:17] kristinashu commented on #1413
Ok, it's working for me in Chrome. Thanks @adamlofting

[2015-11-16 17:17] #1413 closed

[2015-11-16 17:53] kristinashu opened #1421 "Hive images are too big and break layout"
https://teach.mozilla.org/activities/

Images for hive are too big in both Firefox and Chrome on retina OS X.

<img width="1436" alt="screen shot 2015-11-16 at 9 49 33 am" src="https://cloud.githubusercontent.com/assets/1068783/11189869/7c4eda54-8c47-11e5-842b-1a1ad5eab5b8.png">

[2015-11-16 18:57] kristinashu commented on #1412
<img width="267" alt="screen shot 2015-11-16 at 9 18 28 am" src="https://cloud.githubusercontent.com/assets/1068783/11191489/61ae37cc-8c50-11e5-934b-78d6f9fd6477.png">
<img width="809" alt="screen shot 2015-11-16 at 9 22 16 am" src="https://cloud.githubusercontent.com/assets/1068783/11191491/61b03c3e-8c50-11e5-8c1c-a2e6ab1aa84d.png">
<img width="813" alt="screen shot 2015-11-16 at 9 22 45 am" src=

[2015-11-17 01:02] kristinashu opened #1422 "Improve clubs list"
https://teach.mozilla.org/clubs/
I don't think this is working very well right now. Perhaps 'See the full list' should expand open on the current page rather than opening a new page.

<img width="1051" alt="screen shot 2015-11-16 at 4 55 38 pm" src="https://cloud.githubusercontent.com/assets/1068783/11199535/30610374-8c83-11e5-9dfb-9be3d781e87f.png">

https://teach.mozilla.org/clubs/list/
The list

[2015-11-17 18:42] hannahkane commented on #1115
Hey @Pomax - this ticket is hanging out in an old milestone. Should we move it?

[2015-11-17 19:13] hannahkane commented on #1361
Thanks, all. Closing this ticket, and moving to implementation: https://github.com/mozilla/teach.mozilla.org/issues/1414

Flagged @amirad on that ticket to provide details about Clubs Office Hours when available.

[2015-11-17 19:13] #1361 closed

[2015-11-17 19:58] hannahkane commented on #1360
@flukeout @chadsansing - Do we need *two* layers of navigation? There's the navigation within an activity (e.g. within Kraken the Code, there's 1) intro, 2) hunt, 3) decode), but then there's also navigation between modules (e.g. after Kraken the Code, the user may want to advance to the next activity in the sequence, in this case Ping Kong).

[2015-11-17 20:05] hannahkane commented on #1422
Thanks for filing this ticket. This was always meant to be a stop-gap solution, in advance of the full Directory, but since that is on temporary pause, I agree it would be good to invest in this page a bit.

Some additional ideas:
 - [ ] Provide filters. e.g. Could we let people filter the list by continent, region, and/or country?
 - [ ] Provide alternate sorting - by date added
 - [ ] For a list

[2015-11-17 20:13] chadsansing commented on #1360
Yes - at least between activities/lesson plans in the same module/kit.

[2015-11-17 21:07] ldecoursy opened #1423 "Update Google logos on Made with Code activity pages"
Can we please update the following three pages with the new Google logo?

* https://teach.mozilla.org/activities/madewithcode-firstwebpage/
* https://teach.mozilla.org/activities/madewithcode-meme/
* https://teach.mozilla.org/activities/madewithcode-poster/

The new logo is here:
![newmwc_square_proud_google_stacked_sm copy](https://cloud.githubusercontent.com/assets/4885898/11224912/5019e902-8d45

[2015-11-17 21:18] hannahkane opened #1424 "Change Twitter link on blog.webmaker.org"
Per @kgorr and @KevZawacki, we'd like to replace the Twitter link on the right hand side of the webmaker blog from @webmaker to @Mozteach.

[2015-11-17 21:20] amirad commented on #1361
Consider me flagged @hannahkane - been trying to get a github page up to point too but I'll be scrappy and get something done this week. Will add to the ticket you have opened with the redpen.

[2015-11-17 21:22] hannahkane commented on #1424
Donezo

[2015-11-17 21:22] #1424 closed

[2015-11-17 22:24] kristinashu commented on #1311
Here is a wireframe of what @sabrinang and I sketched out earlier: https://redpen.io/p/uvc0135f6b8d5b5f31

Clubs and Maker Party CTAs would link to internal pages similar to the existing ones (https://teach.mozilla.org/clubs/ and https://teach.mozilla.org/events/).

For now Hive, Fellowships and MozFest CTAs would link to the external sites but eventually these could link to internal pages.

[2015-11-17 23:52] hannahkane commented on #1311
@kristinashu - nice work! Added a few comments.

Want to flag @chrislarry33 and @ldecoursy so they're aware of this new architecture we're proposing, which I think is super helpful.

[2015-11-18 00:09] hannahkane opened #1425 "Create a Made with Code activities landing page"
We currently host three Made With Code activities:
 * [Meme](https://teach.mozilla.org/activities/madewithcode-meme/)
 * [Movie Poster](https://teach.mozilla.org/activities/madewithcode-poster/)
 * [First Web Page](https://teach.mozilla.org/activities/madewithcode-firstwebpage/)

We need to give them a landing page, with links to all three.

Can use styles from https://teach.mozilla.org/activities

[2015-11-18 00:09] hannahkane commented on #1425
@ldecoursy - does the above work for you?

[2015-11-18 00:10] hannahkane opened #1426 "Republish Made with Code activities on new Thimble"
And then correct the links on these pages:

https://teach.mozilla.org/activities/madewithcode-poster/
https://teach.mozilla.org/activities/madewithcode-meme/
https://teach.mozilla.org/activities/madewithcode-firstwebpage/

[2015-11-18 14:41] ldecoursy commented on #1425
This sounds great. I have two suggestions.

1) I think we should have the intro match the voice of the project descriptions. For instance: Welcome! Mozilla is happy to partner with Google's Made with Code initiative to inspire girls like you to get creative with code. Below are three fun activities to help you create your own webpages by writing and remixing HTML.

2) Can we add something below th

[2015-11-18 14:50] ldecoursy commented on #1311
I love it! Big step towards having these initiatives better integrated and presented. Thank you!

[2015-11-18 16:52] hannahkane commented on #1414
@kgorr @ldecoursy - is this the right page for the newsletter sign-up and archive of previous newsletters?

[2015-11-18 17:00] ldecoursy commented on #1414
I think so if we can swing it. :)

[2015-11-18 17:01] hannahkane opened #1428 "Design MLN Community newsletter template"
Starting in December (we hope), we'll be sending a monthly newsletter to the MLN community via Exact Target. This ticket is to design a template that we'll use every month.

Some information from @kgorr, who's leading this effort:

3 words to describe how we want people to feel when reading the newsletter: connected, excited, motivated to #teachtheweb

### Main Content ###

 * Featured Activity (l

[2015-11-18 17:02] hannahkane commented on #1428
@kristinashu - could you please take a look at this ticket and let @kgorr and @ldecoursy know if you have any questions about it. Don't need to start it until the next heartbeat, but I want to make sure we have the info we need. Thanks!

[2015-11-18 17:05] hannahkane commented on #1414
OK, added the sign-up link above. Will add archives once we have them. :)

[2015-11-18 17:18] hannahkane commented on #1425
Thanks, @ldecoursy! Updated first comment with your edits.

[2015-11-18 17:20] hannahkane commented on #1364
@flukeout - are you going to be able to get to this this heartbeat?

[2015-11-18 17:27] jgmac1106 commented on #1425
These activities also need to be moved over (and updated) to new Thimble.
They link to old Thimble.

 I think I took @openmatt's meme maker (that made with code linked to) and
redid that one on new Thimble but I don't think the other two have been
ported over.

On Wed, Nov 18, 2015 at 12:18 PM hannahkane <notifications@github.com>
wrote:

[2015-11-18 17:31] hannahkane commented on #1425
Thanks, @jgmac1106. See #1426.

[2015-11-18 17:43] kristinashu commented on #1428
A newsletter will be great to have!

@kgorr @ldecoursy just wondering many events you think would be featured in Upcoming Mozilla Learning and Community Events? Calendars can be tricky because content never seems to fit but I think a nicely styled list would work. Just wonder how many and what info is needed for each event (date, time, location, short description, url link for more info...)?

In g

[2015-11-18 17:49] KGorr commented on #1428
Thanks for that link - really cool! Makes sense about the sidebar.

@ldecoursy can you speak to the amount of community events? I'm not sure... Date, time, location, short description & URL link would be great.

We can count on every month having a Featured activity, events, and community spotlight. The announcements section may be come and go depending on the season, but am hoping we can easily t

[2015-11-18 18:07] ldecoursy commented on #1428
I think we can make a decision to highlight no more than 3 events in the newsletter - for starters they'll likely be our events or related events that we curate, and perhaps into next year we can decide if we want more of a public calendar that people can add events to (that we could then link to from the newsletter).

[2015-11-18 18:10] ldecoursy commented on #1359
@amirad Checking back on this after @HPaulJohnson and I shared feedback. I think instead of the questions in the email we should just link to the Google form that @kgorr put together (I added the link in the etherpad).

[2015-11-18 18:14] kristinashu commented on #1428
Great, thanks for the info! Everything sounds good to me.

[2015-11-18 22:24] kristinashu commented on #1338
GIFs are all done https://drive.google.com/folderview?id=0B2irLVDJivhLaEMtejhieUxRaVE&usp=sharing

Because the icons shifted a little they no longer line up with the badge pngs I exported earlier. The new link has both the gifs and the new pngs. @hannahkane not too sure who to tag for dev but they can let me if they need the files in a different size or format.

[2015-11-18 22:29] kristinashu commented on #1232
I don't think we're going to do gifs anymore (too distracting and maybe not necessary). But we will need to make different images for each browser and OS. Here's an example on Firefox for Mac https://redpen.io/p/qv1c96b69ffec76998

@Pomax you up for swapping out images and some text (bookmark vs toolbar...) depending on which browser and OS a user is on?

[2015-11-18 22:36] kristinashu commented on #1414
@hannahkane I'd be nice to have a value proposition to intro the page like we do for clubs and TLM page. Do you have a suggestion for copy?
<img width="1048" alt="screen shot 2015-11-18 at 2 30 44 pm" src="https://cloud.githubusercontent.com/assets/1068783/11256524/295c1efe-8e01-11e5-8641-00a84bf2332d.png">
<img width="1041" alt="screen shot 2015-11-18 at 2 30 58 pm" src="https://cloud.githubuserc

[2015-11-18 22:55] hannahkane commented on #1414
@kristinashu - agree that all top level pages should have a value proposition. For this one, how about, "Join a global community of people teaching the Web"?

[2015-11-18 22:56] hannahkane opened #1429 "Use animated badge gifs"
Gifs are available here: https://drive.google.com/folderview?id=0B2irLVDJivhLaEMtejhieUxRaVE&usp=sharing

[2015-11-18 22:56] hannahkane commented on #1338
Thanks, @kristinashu. They look great! I just opened an implementation ticket (#1429), so I think we can close this.

[2015-11-18 22:56] #1338 closed

[2015-11-18 23:54] flukeout commented on #1338
These are great! @kristinashu - the leaves in the palm one isn't looping like the rest, just animates once.

[2015-11-18 23:59] kristinashu commented on #1338
Ah thanks @flukeout it should loop now!

[2015-11-19 00:12] hannahkane commented on #1312
Few thoughts on this:
 * I think we want to emphasize that this is a network / community; it's something to which you *belong*
 * having said that, it's hard to justify asking people to create an account (unless they want to apply to be a Club Captain). Signing up for a newsletter might be a better conversion goal, and it's still sort of "join-y."
 * We know from analytics that /activities and /to

[2015-11-19 17:31] KGorr commented on #1428
The latest news from Paul/Adam is that Exact Target will NOT be available for use before the new year. We were hoping to send out out first edition in December, which means we'll need the template to be BSD-friendly.

@ldecoursy, do you want to move forward with sending in Dec (and thus the designers will need to accomodate BSD), or should we wait until we get into Exact Target (and thus the desig

[2015-11-19 17:37] ldecoursy commented on #1428
No, I don't think we need to rush it  - let's plan towards Jan.

[2015-11-19 18:49] kristinashu opened #1431 "Selected items show dashed outline in Firefox"
When I click on an item a dashed line appears around it in Firefox (not in Chrome). Can we not show an outline?

Right now:
<img width="504" alt="screen shot 2015-11-19 at 10 47 01 am" src="https://cloud.githubusercontent.com/assets/1068783/11280451/f42f61fa-8eaa-11e5-8e27-c3fc2238711b.png">

Can we do this?
<img width="516" alt="screen shot 2015-11-19 at 10 48 58 am" src="https://cloud.githubuser

[2015-11-19 19:15] kristinashu opened #1432 "Run some test on usertesting.com"
We should determine the main goals of teach.mozilla.org then set up some tests on usertesting.org to determine if users can easily find the information they need.

cc @secretrobotron @hannahkane @sabrinang @cassiemc

[2015-11-19 19:23] hannahkane opened #1433 "Create Web Lit Basics II teaching kit"
### Part 1: Create Page ###

url: /activities/web-lit-basics-two

Page content is [here](https://docs.google.com/document/d/1TK2AAc5Bhe0sO1plj_ZtfI7LIMoc7rHnzmHoTt_URMI/edit#)

Note: This Teaching Kit does note follow the "Reading the Web," "Writing the Web," "Participating on the Web" structure of our other kits, so those header styles won't be needed. Instead, we can just list the activities dir

[2015-11-19 19:25] hannahkane commented on #1432
Good idea. Would like to wait until we've finished our 2016 planning process, which should help clarify the goals.

[2015-11-19 20:26] kristinashu commented on #1414
@hannahkane @cassiemc @sabrinang here's where I'm at with the comp: https://redpen.io/p/cnca8a0265383acc93

With the audit in mind I'm trying to keep a simple layout and not introduce new styles but I have incorporated some design suggestions I think we could carry out across the site to address parts of the audit.

Section colour: Suggesting we use teal as a new colour. The lighter section was de

[2015-11-19 21:49] chadsansing commented on #1433
Level: Beginner
Developed by: Mozilla Learning Networks
Description: Explore making, media production, reverse-image search, and design on the web.

[2015-11-19 21:50] amirad commented on #1419
Works for me! Let's get the link switched!

Can we add a thank you or some recognition in our first newsletter @kgorr ??

[2015-11-19 21:55] hannahkane commented on #1414
Really excellent work, @kristinashu. I like the hierarchy laid out here. Will leave design decisions up to @cassiemc, but I will say the teal is reading suuuuper bright on my screen.

[2015-11-19 22:32] kristinashu commented on #1414
Thanks @hannahkane I've updated discourse copy and toned down the teal a little (it was pretty bright).

[2015-11-19 23:49] hannahkane opened #1434 "Build Community page"
Design to come from #1414

Newsletter sign-up list is same end point as Pledge—that is, those addresses should go into the same BSD list.

[2015-11-19 23:51] hannahkane commented on #1299
Closing this, due to likely pending changes to homepage.

[2015-11-19 23:51] #1299 closed

[2015-11-19 23:55] hannahkane commented on #1362
I think perhaps @thornet needs to do this - does she maintain this page? Taking out of current milestone.

[2015-11-20 01:03] KGorr commented on #1419
Excellent idea, @amirad! I'll make a note of it.

[2015-11-20 12:03] KGorr commented on #1350
@hannahkane please let me know if you need any more information on this or if I can help in any way. Thanks!

[2015-11-20 18:58] kristinashu commented on #1412
@adamlofting @mmmavis is it possible to set up analytics in a way that tracks when users click on an external? The site has so many external links, it would be great to see which ones users are clicking on.

[2015-11-20 22:54] hannahkane opened #1435 "Make Vision and Roadmap decks pretty and on-brand!"
cc @sabrinang @kristinashu

[2015-11-21 01:25] simonwex opened #1436 "Add platform-specific instructions to the README"
Continue the work that was done in this PR: https://github.com/mozilla/teach.mozilla.org/pull/1430

(See PR for discussion)

[2015-11-23 11:03] adamlofting commented on #1412
We do have a way to track outbound links, but they need marking up individually like this:
https://github.com/mozilla/teach.mozilla.org/blob/develop/pages/home.jsx#L335

[2015-11-23 17:08] kristinashu commented on #1232
Closing and opening a new ticket in goggles repo https://github.com/mozilla/goggles.webmaker.org/issues/254

[2015-11-23 17:08] #1232 closed

[2015-11-23 18:11] mmmavis commented on #1355
@sabrinang ^ ? :+1:

[2015-11-23 18:16] hannahkane commented on #1364
@thornet - do you own this github page?

[2015-11-23 18:17] simonaramkisson commented on #1355
@mmmavis @sabrinang thank you :)

[2015-11-23 18:50] kristinashu opened #1437 "[footer] - Implement updated footer"
Based on design audit ticket https://github.com/mozilla/teach.mozilla.org/issues/1368
1) Remove Hive footer section
2) Update footer side bar links to: About, Hive, Twitter, Donate, Legal, Privacy (so adding Hive, removing Webmaker and updated order)

Mock up of the footer side bar can be seen in the header design ticket #1370 https://redpen.io/p/jh0a4bc04ea2daf52b

@mmmavis let me know if you hav

[2015-11-23 18:52] kristinashu commented on #1368
@hannahkane I've opened Implement updated footer #1437 for @mmmavis to do this heartbeat? So I think we can close this one. Sound good?

[2015-11-23 19:09] #1368 closed

[2015-11-23 19:26] kristinashu commented on #1414
@cassiemc @sabrinang could you two please take a look and the comp and let me know if you have any design feedback?

[2015-11-23 20:07] cassiemc commented on #1414
Looks really great @kristinashu. Just a few niggly questions, one about the h2 size, and another about the links in the social ctas. Love the teal and yellow together, looking very fresh, and +1 to the reductions in image size and other changes.

[2015-11-23 21:50] kristinashu commented on #1414
Great thanks @cassiemc. I've increase the size of the h2s and updated the three bottom links so they each have a text link. For the image hover, we could do a slight zoom in - similar to this first image http://designshack.net/tutorialexamples/imagehovers/zoomandpan.html This effect would loosely align with the icon hover effect on the three bottom links.

@hannahkane I think we're ready to start

[2015-11-23 21:52] kristinashu opened #1438 "Create icon for community page"
Referenced in Design "Community" page #1414

We need to design the circular icon in https://redpen.io/yq4fce7d543927b148 similar to

<img width="253" alt="screen shot 2015-11-23 at 1 51 28 pm" src="https://cloud.githubusercontent.com/assets/1068783/11351065/620d8c4c-91e9-11e5-9b0d-66ff5c8a12d4.png">
<img width="257" alt="screen shot 2015-11-23 at 1 51 38 pm" src="https://cloud.githubusercontent.co

[2015-11-23 22:08] hannahkane commented on #1414
Thanks, @kristinashu. Can you add any necessary assets to the implementation ticket - #1434?

Closing this.

[2015-11-23 22:09] amirad commented on #1414
@hannahkane I placed Mozilla Clubs info in one of our github pages http://mozilla.github.io/learning-networks/clubs/#officehours

Is that enough to add to the community page? do you need anything else?

[2015-11-23 22:12] hannahkane commented on #1414
@amirad - I think that copy is good. @kristinashu - possible to update the mockup with this copy to see if it fits well?

[2015-11-23 23:00] mmmavis commented on #1364
@hannahkane if it's [this page](http://mozilla.github.io/webmaker-curriculum/index.html) you are referring to, anyone with push power to https://github.com/mozilla/webmaker-curriculum should be able to update that page.

[2015-11-23 23:43] #1421 closed

[2015-11-23 23:47] hannahkane commented on #1364
thanks, @mmmavis. @flukeout - do you have push privs for that repo? ^

[2015-11-23 23:52] #1423 closed

[2015-11-24 00:38] kristinashu commented on #1428
Here's where I'm at with the comp: https://redpen.io/p/au9c53b3ae1141ebbc
I think we can adjust things once we have really content but let me know if you have any feedback!

![teach-email-01 2x](https://cloud.githubusercontent.com/assets/1068783/11354436/4e1731f4-9200-11e5-8db2-7f78f074b5c9.jpg)

[2015-11-24 00:52] kristinashu commented on #1414
Updated! It was getting a little long so I left out the date and time - people will have to click the link to find out when.

Also noticed we're saying the word 'or' twice "Want to share what your Mozilla Club is doing or or where you need help?" on http://mozilla.github.io/learning-networks/clubs/#officehours

![teach-community-04 2x](https://cloud.githubusercontent.com/assets/1068783/11354639/14

[2015-11-24 15:08] ldecoursy commented on #1428
Sweet! Just left a few minor comments. :dancers:

[2015-11-24 15:28] KGorr commented on #1428
Love this! I agree with comments already made (minor things). Very nice job!

[2015-11-24 15:40] amirad commented on #1414
Ops thanks for the catch @kristinashu - just made an update!

[2015-11-24 15:55] hannahkane commented on #1414
Awesome. Closing this ticket.

[2015-11-24 15:55] #1414 closed

[2015-11-24 16:44] amirad commented on #1359
Sorry for blocking, yes the copy links to the survey instead now @ldecoursy

Final copy @hannahkane https://public.etherpad-mozilla.org/p/teach.clubsignupemail

[2015-11-24 17:54] hannahkane opened #1443 "Benchmark curriculum database"
What other models can we look at for architecture and design inspiration?

[2015-11-24 17:58] hannahkane opened #1444 "Review existing curriculum; propose architecture for shared tooling"
Existing content from MLN, MDN, Participation, and MSL is gathered in this pad: https://public.etherpad-mozilla.org/p/teach.mozilla-curriculum-plan

 - [x] Review all content to develop understanding of formats, audiences, and relevant meta-data
 - [x] Propose architecture for shared tooling (work with HK on this)

[2015-11-24 18:26] sabrinang commented on #1444
I will be reviewing the etherpad and propose ideas on this issue

[2015-11-24 18:36] sabrinang commented on #1268
Next phase is to create wireframes with new web lit map visual ideas

[2015-11-24 19:03] hannahkane commented on #1359
Thanks, @amirad. Updated the first comment with the final copy. No longer blocked.

[2015-11-24 19:13] kristinashu commented on #1396
Need to prep images based on design in https://github.com/mozilla/teach.mozilla.org/issues/1414 and build https://github.com/mozilla/teach.mozilla.org/issues/1434

Comp is here: https://redpen.io/p/cnca8a0265383acc93

Need to:
- crop images to reduced the vertical height
- update dark overlay to be consistent on all images
- add image to tools page
- update home image - possibly to one mentioned i

[2015-11-24 19:34] PaulaPaul commented on #1436
Hello @simonwex - I just tidied up the README to separate instructions for Mac - Linux - Windows/other (and tested this on Mac); I just issued a pull request and realized I did not include this issue number... let me know if you want me to re-issue.  Thanks!

[2015-11-24 19:49] mmmavis commented on #1425
@hannahkane thanks for much for putting everything in this beautiful format!!!

[2015-11-24 19:52] kristinashu opened #1446 "Write value props for banner area"
Based on #1414 and build #1434 we need to add a value prop intro to every primary page.

Pages that need copy added:
- https://teach.mozilla.org/activities/
- https://teach.mozilla.org/events/
- https://teach.mozilla.org/tools/ (will be adding a banner image)

@hannahkane are you able to write these? Then it can go straight to @mmmavis for implementation.

[2015-11-24 20:01] kristinashu opened #1447 "[visual element] - Unify all strokes"
Based on design in #1414 and build #1434

Update all line breaks and form field outlines to be 1px width and light grey #c1c1c0 (so they will no longer be the section colour). So it will look like:

![screen shot 2015-11-24 at 11 18 01 am](https://cloud.githubusercontent.com/assets/1068783/11378810/ec0073c0-92a1-11e5-9e61-0c78047d04d5.png)
![screen shot 2015-11-24 at 11 18 08 am](https://cloud.git

[2015-11-24 20:31] kristinashu commented on #1372
Create icons based on design in #1414 and build #1434

Comp is here: https://redpen.io/p/cnca8a0265383acc93

Need to:
- make these icons yellow on every page
- reduce the size of the icons
- use 1px stroke

[2015-11-24 20:36] hannahkane commented on #1446
Since the updated sidebar won't include the blurbs we currently have on the sidebar, wondering if we can just use them.
* https://teach.mozilla.org/activities/: Activities and lesson plans to get you started
* https://teach.mozilla.org/events/: Host a one-time event or workshop
* https://teach.mozilla.org/tools/ (will be adding a banner image): Open source software to teach and learn the Web

[2015-11-24 20:38] kristinashu commented on #1376
Based on design in #1414 and build #1434

Comp is here: https://redpen.io/p/cnca8a0265383acc93

Need to make:
- all the photos rectangle shape (exception: round profile quote image)
- have a corner radius 4px

cc @mmmavis

[2015-11-24 20:39] kristinashu commented on #1446
Ahh smart!

[2015-11-24 20:46] kristinashu opened #1448 "[interactive element] - Add hover state to image links"
Based on design in #1414 and build #1434

Comp is here: https://redpen.io/p/cnca8a0265383acc93

Add a slight zoom in to image that are links. Similar to this first image example http://designshack.net/tutorialexamples/imagehovers/zoomandpan.html

Need on these pages:
- https://teach.mozilla.org/activities/ activity links
- https://teach.mozilla.org/activities/web-lit-basics/ activity links
- https

[2015-11-24 20:55] kristinashu commented on #1369
@mmmavis at some point we should talk about this and figure out the easier/best way to clean this up.

[2015-11-24 20:56] mmmavis commented on #1425
@hannahkane do we want to add a link to this landing page to the list of activities on https://teach.mozilla.org/activities/ ?

[2015-11-24 20:58] hannahkane commented on #1425
@ldecoursy - I'll defer to you on @mmmavis's question above.

[2015-11-24 21:05] ldecoursy commented on #1425
Sure - I'd say it can be at the bottom of the list on that page. Thanks!

[2015-11-24 21:08] hannahkane opened #1449 "Deadline: First week of January - Update copy on Gigabit site"
Currently blocked on final copy, which is being edited [here](https://docs.google.com/document/d/1qfy0RsEzGRr9HLGDL1qah5iqwRSQY4T1ywWDHI9Y0io/edit).

@LindseyFrost - can you please drop a comment here when the copy is finalized?

[2015-11-24 21:25] mmmavis commented on #1425
@hannahkane @ldecoursy

Would you say this is a **Beginner** package? And is developed by **Mozilla and Google's Made with Code**?  If you can provide a short description as well it'll be extra fantastic!

[2015-11-24 21:30] #1416 closed

[2015-11-24 21:30] ldecoursy commented on #1425
Def beginner. Developed by Mozilla for Google's Made with Code initiative.

Do you need something separate from the intro copy at the top of this ticket?

[2015-11-24 21:32] mmmavis commented on #1425
@ldecoursy
nah I can use the same copy
[code]
(note that I removed "Welcome!")

[2015-11-24 21:33] ldecoursy commented on #1425
Sounds good @mmmavis!

[2015-11-24 21:35] mmmavis commented on #1425
oh wait sorry, I wonder if we should change "...inspire girls like you" to just "inspire girls" in case the reader is not female?

[2015-11-24 21:37] ldecoursy commented on #1425
:+1:

[2015-11-24 21:52] LindseyFrost commented on #1449
@hannahkane Landing page copy is done and ready to go.  Apply page content is blocked by (1) updated rules terms and conditions (though will probably be updated at same link) and (2) need for updated iStart link.  Landing page can be updated, however, and will try to resolve these other issues next week (blockers noted in red on the content Google doc).

[2015-11-24 22:27] kristinashu commented on #1428
Thanks for the feedback, I've updated the comp: https://redpen.io/p/au9c53b3ae1141ebbc

I've also added an alternative version for comparison. The original one is inline with our other emails (pattern background framing the content) and the new version is breaking away from that. Let me know if you prefer one over the other.

@cassiemc any design feedback?
@simonwex let me know if you have any dev

[2015-11-24 22:47] hannahkane commented on #1428
Ooh...I quite like the second one. It gives all the focus to the content.

[2015-11-24 22:49] hannahkane commented on #1449
Thanks, @LindseyFrost.

@mmmavis - I'm adding this as a p2 to this heartbeat. Let's chat about it tomorrow at stand-up.

[2015-11-24 23:07] simonwex commented on #1428
What is the source for the list we want to send this newsletter to? Have they opted in to emails?

[2015-11-24 23:09] hannahkane commented on #1428
We're adding a sign-up to the /Community page (see #1434), and we'll eventually replace the Pledge to Teach on the homepage with this sign-up as well.

[2015-11-24 23:25] kristinashu commented on #1311
Updated the wireframes based on everyone's feedback: https://redpen.io/p/uvc0135f6b8d5b5f31

Also added Gigabit to the list and update the layout align more with the existing teach site layouts.

[2015-11-24 23:54] hannahkane commented on #1311
I'm really liking this. Want to get @HPaulJohnson and @KevZawacki's eyes on this as well.

[2015-11-25 00:45] mmmavis commented on #1449
It's been probably almost 2 years(?) since I touched the [mozilla.org aka "bedrock" repo](https://github.com/mozilla/bedrock).  If I remember correctly and the rules haven't changed - the team triages their tickets weekly and they don't push on Fridays unless it's an urgent fix.

It's hard to estimate when and how long it will take the mozilla.org team to review our PR as it depends on the team's

[2015-11-25 00:47] hannahkane commented on #1449
Thanks, @mmmavis. I'll be in touch with Jennifer and Mike now.

[2015-11-25 01:08] sabrinang commented on #1443
WIP benchmarking various curriculum databases (learning platforms) on this google slide deck here: https://docs.google.com/a/mozilla.com/presentation/d/15OYzQ9-TkkWYJUb_Yh1p-viN8K_jnCGuF7Ih4ABQmm0/edit?usp=sharing

I'll be document points on the presenter's notes section of the deck

[2015-11-25 01:15] jgmac1106 commented on #1443
It is a paysite but maybe poking around teachers paying teachers could give
some architecture insight.

In terms of taxonomies and web resources I will ask around in the #OER
community to see if anyone there built or uses something.

On Tue, Nov 24, 2015, 8:08 PM sabrinang <notifications@github.com> wrote:

[2015-11-25 01:16] jgmac1106 commented on #1443
Now that I think about it the ds106 assignment bank is a huge resource of
user created content: http://assignments.ds106.us/

On Tue, Nov 24, 2015, 8:14 PM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-11-25 04:50] simonwex commented on #1436
Hey @PaulaPaul your changes are great, thank you!

Not mentioning the issue number is no biggie. The only issue is that it seems like your PR might have rolled changes in from another branch, too? You can see a bunch of other commits I don't think you intend:
http://downloads.simonwex.com/grabs/Clementine.2015-11-24_20-47-43.png

Do you mind trying to resubmit without the other changes? If you wan

[2015-11-25 05:06] simonwex commented on #1428
Ah, so this is a new list? – Not one that already exists in BSD? I think that makes it easier.

[2015-11-25 14:14] cassiemc commented on #1428
@kristinashu A few visual tweaks / suggestions, nothing critical. Nice work.

[2015-11-25 14:47] KevZawacki commented on #1311
@hannahkane Looks really good! Seems like we're still in the early stages of copy -- happy to take another, closer look when we're building that part out.

[2015-11-25 14:48] PaulaPaul commented on #1436
Sorry for the trouble @simonwex!  I'm working through what it means to sync a fork and contribute to the up-to-date repo and see where I went wrong... thanks for your help and patience.
I've closed my initial pull request for this and have re-issued (including the issue number this time).  I will look you up on irc to get tips on the process.  Would like to tackle some simple code issues next!

[2015-11-25 17:15] hannahkane commented on #1311
Starting to think about copy here: https://public.etherpad-mozilla.org/p/mlninitiatives

Would welcome edits from @KevZawacki, @ldecoursy, @HPaulJohnson and others.

[2015-11-25 17:17] hannahkane commented on #1428
@simonwex - I think we'll add to the existing list we've been building via the Pledge to Teach. Does that seem problematic to you?

[2015-11-25 18:01] sabrinang commented on #1444
WIP spreadsheet to document what content I looked at: https://docs.google.com/spreadsheets/d/1cP9TOdqFNbP1qu_5aEiai1emYgcRa5IaCOfUUll0_Oo/edit#gid=1414253108&vpid=A1

[2015-11-25 18:13] #1436 closed

[2015-11-25 18:15] simonwex commented on #1436
@PaulaPaul, no trouble at all.

Hey @Pomax & @mmmavis  now that you're back, I just wanted you to "meet" @PaulaPaul. She's added some real value to the README. Do you have any good "first bugs" she could start on?

@PaulaPaul, @Pomax and @mmmavis primarily work on this repo you can find them in the IRC channel, too as `pomax` and `mavis`.

[2015-11-25 18:21] hannahkane opened #1452 "Create chart style for Gigabit site"
"Types of Support" Chart content near the bottom of [this doc](https://docs.google.com/document/d/1qfy0RsEzGRr9HLGDL1qah5iqwRSQY4T1ywWDHI9Y0io/edit).

[2015-11-25 18:32] mmmavis commented on #1436
Hey @PaulaPaul :tada: :dancers: :dancers: :dancers:  Thanks for updating the README!

There's a ["help wanted" label in this repo](https://github.com/mozilla/teach.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22).  I will go through the tickets today and mark some as "help wanted".  Feel free pick one (or more :wink: ) that interests you the most!  :+1: Thanks again for spendin

[2015-11-25 18:38] hannahkane commented on #1363
Let's put this right above the "More resources" section.

Section title: "Coming soon"
Copy: "Want to see what new activities and teaching kits we have in the works? Check out our [Curriculum Queue](http://mozilla.github.io/webmaker-curriculum/index.html)."

[2015-11-25 18:46] hannahkane commented on #1449
@LindseyFrost - tried to clarify the doc for Mavis. Moved all notes to the bottom, and added a Table of Contents at the top. Also added two questions for you to answer as soon as you can. Thanks!

[2015-11-25 22:40] hannahkane commented on #1449
@mmmavis - when you have a moment, can you take a look and see if the doc makes more sense now? Happy to talk through it over Vidyo, too.

[2015-11-25 23:36] mmmavis commented on #1433
Hey @chadsansing

I've noted it in the google doc but thought I should flag you here as well: link to "The Web is a Tool for Learning" seems to be a 404 :cry:

[2015-11-26 21:27] mmmavis commented on #1359
changes are now live!

[2015-11-26 21:27] #1359 closed

[2015-11-26 23:33] #1437 closed

[2015-11-27 21:17] kristinashu commented on #1396
@sabrinang @cassiemc @hannahkane I've cropped a bunch of images for the shorter banners. Some are existing image and some are suggestions so let me know which ones you think will work best https://redpen.io/p/jna5c03b0eabf90217

[2015-11-27 22:06] kristinashu commented on #1428
Most people seem to prefer the version without the border so I've updated that version with all the feedback.

https://redpen.io/p/au9c53b3ae1141ebbc

[2015-11-30 14:25] ldecoursy commented on #1415
Any update on this?

[2015-11-30 14:50] hannahkane commented on #1433
New link in doc: http://chadsansing.github.io/curriculum-testing/web-lit-basics-two/session02-web-is-a-tool-for-learning.html

[2015-11-30 15:28] jgmac1106 commented on #1415
I have already migrated it for my club. I can share the project.

On Mon, Nov 30, 2015, 9:25 AM Lainie DeCoursy <notifications@github.com>
wrote:

[2015-11-30 15:59] hannahkane commented on #1336
Started a pad with suggestions for edits to existing questions and a few new questions. Would love fact-checking from @Pomax, if you can spare some time.

https://public.etherpad-mozilla.org/p/gogglesfaq

[2015-11-30 17:28] jgmac1106 commented on #1415
Here is the project. I remixed mine and made it into a blank template. You may want someone who actually knows what they are doing to double check my mark up.

https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/16746/

[2015-11-30 18:22] hannahkane commented on #1415
@ldecoursy - is what @jgmac1106 has what you need? Can we close this ticket?

[2015-11-30 18:24] ldecoursy commented on #1415
I think it probably still needs the wrapper with the short instructions and font licensing/usage details that appear on @sabrinang's version.

[2015-11-30 19:53] Pomax commented on #1425
Can we move those activities over from the old thimble to the new thimble, and then link to those instead? It seems counter productive to try to move people to new thimble, but introduce a new activities page that then doesn't use it.

[2015-11-30 20:44] hannahkane commented on #1425
There's a ticket to republish on new Thimble. I can do that this afternoon, unless someone else has time to do it earlier. https://github.com/mozilla/teach.mozilla.org/issues/1426

[2015-11-30 21:33] Pomax commented on #1425
aha! missed that ticket.

[2015-11-30 22:21] kristinashu commented on #1372
Here's a JPG showing all the current 3-up bottom icons and then the proposed icons below each set:
https://redpen.io/p/brdabe854cc619f9b9

Update:
* all icons are yellow (so they are consistent with CTA button colour)
* reduced the size of the icons
* use 1px stroke
* added blue link text to reinforce that it is a link

@sabrinang @hannahkane @cassiemc Let me know if any of you think we should cha

[2015-11-30 22:42] mmmavis commented on #1355
Hi @simonaramkisson you can find the .eps files in https://drive.google.com/drive/folders/0B4Q8pzCpDS_eQi1sOXo3Rk83Vms :smile_cat:

[2015-11-30 23:52] hannahkane commented on #1449
I think this is unblocked, so removing that label now.

[2015-11-30 23:57] hannahkane commented on #1428
The final version is Alt v2, right? I think it looks fantastic. Let's close this ticket.

@kgorr and @ldecoursy  - let us know when we should open an implementation ticket. That is, when we're ready to actually populate with real content and send.

[2015-11-30 23:57] #1428 closed

[2015-11-30 23:59] kristinashu commented on #1428
Yup, that's the one!

[2015-12-01 00:08] hannahkane commented on #1360
I believe the latest designs are here: https://redpen.io/p/npde0940e9123a97e2

[2015-12-01 00:09] hannahkane commented on #1355
@simonaramkisson - let us know if we can close this ticket

[2015-12-01 00:10] hannahkane commented on #1311
Closing this design ticket. Will open separate ticket for copy.

[2015-12-01 00:10] #1311 closed

[2015-12-01 00:12] hannahkane opened #1456 "Write final copy for Initiatives page"
This is a new page we're creating on the Teach site.

 Design is here: https://redpen.io/p/uvc0135f6b8d5b5f31

Draft copy is here: https://public.etherpad-mozilla.org/p/mlninitiatives

Looking for reviews from @KevZawacki, @ldecoursy, and @HPaulJohnson, if possible.

[2015-12-01 00:14] hannahkane commented on #1268
Closing this ticket because it has a lot of history. Will re-open a more concise ticket.

[2015-12-01 00:14] #1268 closed

[2015-12-01 00:15] hannahkane opened #1457 "Due December 17: New Web Lit Map design concept"
Task is to incorporate feedback from MozFest session and present a new concept that @anmechung and @chadsansing can share with stakeholders in January.

[2015-12-01 00:16] hannahkane commented on #1457
Adding as a p2 for the December 4th milestone. If it doesn't get completed this heartbeat, it will be a p1 for the first week after Orlando.

[2015-12-01 00:19] hannahkane commented on #1412
Will file a separate ticket for adding tracking code to individual links.

[2015-12-01 00:27] hannahkane commented on #1396
Thanks, @kristinashu. Added my comments.

[2015-12-01 01:12] kristinashu commented on #1396
Ok thanks! I've updated redpen https://redpen.io/p/jna5c03b0eabf90217
and exported all the images for dev https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLeWUzN2FGZjU5Nms&usp=sharing

[2015-12-01 01:16] hannahkane commented on #1396
w00t. We don't already have a ticket for implementation, right? If not, I'll create one so we can close this.

[2015-12-01 01:23] simonaramkisson commented on #1355
@sabrinang  Thank you so much!
@hannahkane can go ahead and close

[2015-12-01 01:24] #1355 closed

[2015-12-01 01:33] kristinashu commented on #1396
Nope, don't think we have one yet. Thanks!

[2015-12-01 01:41] hannahkane opened #1458 "Update/add banner images to all top-level pages"
@kristinashu created the assets for shorter banner images for all of our pages, including the Tools page (which currently doesn't have a banner) and the Initiatives page (doesn't exist yet)

Now we need to implement.

Redpen: https://redpen.io/p/jna5c03b0eabf90217
Images: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLeWUzN2FGZjU5Nms&usp=sharing

[2015-12-01 01:42] #1396 closed

[2015-12-01 01:46] ldecoursy commented on #1456
I made some edits on the copy earlier today.

Thanks!

On Nov 30, 2015, at 7:12 PM, hannahkane <notifications@github.com> wrote:

[2015-12-01 02:58] mmmavis commented on #1364
@hannahkane I do.

[2015-12-01 03:00] mmmavis commented on #1449
@hannahkane I'm changing this to P1 - I wanted to get this done early for the mozilla.org team to review.

[2015-12-01 12:14] LindseyFrost commented on #1449
@hannahkane @mmmavis  Terms and Conditions should be finalized by legal this week, and I will update the google doc as soon as this is complete.  Thank you!

[2015-12-01 14:27] hannahkane commented on #1449
@LindseyFrost - will we also have to update the T&C page, or will we be given a new page to link to?

[2015-12-01 14:29] hannahkane commented on #1456
Ah, didn't see. Great edits. Thanks!

Will wait for final approval from @KevZawacki or @HPaulJohnson.

[2015-12-01 14:30] LindseyFrost commented on #1449
@hannahkane @mmmavis It looks like we are going to have to update https://www.mozilla.org/en-US/gigabit/terms/ because of some required changes from legal.  Trying to get these as quickly as possible and will update you as soon as I can.  Apologies!.

[2015-12-01 16:05] hannahkane commented on #1435
I'm killing this, because I can tell this deck won't be useful at this point. Will repurpose content for series of blog posts instead.

[2015-12-01 16:05] #1435 closed

[2015-12-01 16:57] kristinashu commented on #1435
Whaaat! So sad.

[2015-12-01 16:58] hannahkane opened #1459 "Create Parapara teaching kit page, and replace content on /activities"
We currently have a Parapara activity on the /activities page, but it's not a teaching kit. It's just a link to an old Thimble make.

We now have content for a full teaching kit. Let's build the teaching kit page, and replace the link on the /activities page with the new page.

[Page content and metadata here](https://docs.google.com/document/d/1TNep7ZrMvQfVvJjbyE7sU_vP6qqw15M5kuzI3Fa7zhM/edit?ts=

[2015-12-01 16:58] hannahkane commented on #1459
cc @chadsansing

[2015-12-01 16:58] hannahkane commented on #1459
cc @chadsansing

[2015-12-01 16:59] hannahkane commented on #1435
It's still useful! Will find ways for it to live on; and may be revived in the future. But need to wait until after Orlando. :)

[2015-12-01 17:48] Pomax opened #1460 "update the teach.wmo dependencies"
Some have become really out of date (being officially obsolete), so it's time to do a version bump. And hopefully not too much fixing.

- [x] update React to 14
- [x] update remaining dependencies with deprecation warnings
- [ ] update React-Router separately (https://github.com/mozilla/teach.mozilla.org/issues/1501)

[2015-12-01 18:19] cassiemc commented on #1372
Looks good @kristinashu. Suggested a couple tweaks, nothing blocking.

[2015-12-01 18:21] cassiemc commented on #1428
@kristinashu It's good practice to link to the specific final file, rather than the set of redpen files. Nice work on this!

[2015-12-01 18:45] kristinashu commented on #1428
Good call, thanks @cassiemc

Illustrator file is here: https://drive.google.com/open?id=0B2irLVDJivhLVHhXbGp6VjBtV28

![teach-email-05 2x](https://cloud.githubusercontent.com/assets/1068783/11510386/5a7ab830-9818-11e5-9bdd-36ecdb97c2f7.jpg)

[2015-12-01 19:04] hannahkane commented on #1372
Icons are lovely. Added copy suggestions.

[2015-12-01 19:57] hannahkane commented on #1364
@kristinashu - wondering if I can assign this to you? Should not take long.

[2015-12-01 20:10] kristinashu commented on #1364
Yup. @mmmavis would you be doing the dev for this? I think it just needs more space between the sections and tables should be left aligned with more space in between. Maybe I could just hover over your shoulder when you're ready to work on it and we can make a few adjustments.

[2015-12-01 22:04] hannahkane commented on #1426
Make a Movie: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/17071/

[2015-12-01 23:52] hannahkane commented on #1426
Meme: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/17083/

[2015-12-02 00:00] hannahkane commented on #1426
First web page: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/17084/

[2015-12-02 00:05] hannahkane commented on #1426
@mmmavis - I created the Made With Code projects in new Thimble. Links above. Can you please add them to the three Made With Code pages on Teach (will need to be added in two places per page), plus the new parent page (#1425)?

I don't know how to link directly to a remix in new Thimble. Do you?

[2015-12-02 00:29] kristinashu opened #1461 "[pre-footer] - remove 3-up links from bottom of Web Lit page"
Related to: [pre-footer] - unify all icon links above the footer #1372

**Problems:**
Web literacy is the only secondary page that has the 3-up links.

**Solutions:**
* remove 3-up links
* add whitepaper link somewhere on the page

**Seen on:**
https://teach.mozilla.org/teach-like-mozilla/web-literacy/
<img width="1422" alt="screen shot 2015-12-01 at 4 27 28 pm" src="https://cloud.githubuserconten

[2015-12-02 00:38] kristinashu commented on #1372
Thanks! I've updated redpen https://redpen.io/p/brdabe854cc619f9b9

I still need to export all the SVGs for dev.

[2015-12-02 03:59] mmmavis commented on #1426
@hannahkane

I'm not 100% sure either.

@Pomax is it Remix link https://thimble.mozilla.org/projects/PROJECT_ID/remix? eg., https://thimble.mozilla.org/projects/17084/remix ???

[2015-12-02 04:17] mmmavis commented on #1364
@kristinashu sure we can do that on Thursday! (I'm working from home tomorrow)

[2015-12-02 09:40] Ihab-Asafrah commented on #1195
I noticed that the badges function in Credly API matches the query string/keyword with the badge title only. So there is no direct way to match a query with the badge description or creation date or any other criteria. Can we perform the search process and the matching on the Teach API itself and return the matched badges to any application that request them?

[2015-12-02 11:32] KGorr commented on #1428
@hannahkane Would it be possible to upload the template into Exact Target before the content is ready? My Exact Target training is going to be in the next couple of weeks, and it would be great to have it uploaded before that so that I can see it/use it as I get trained.

[2015-12-02 17:19] kristinashu commented on #1364
Sounds good!

[2015-12-02 18:05] hannahkane opened #1462 "Draft blog post for Goggles FTU design"

[2015-12-02 18:46] hannahkane opened #1463 "Add tracking to external links"
Specifically:
 * links to external pages on /activities page (all the kits starting with Lo-Fi)
 * links to tools and activities on /tools
 * ~~Community link in sidebar (though that's changing soon, so maybe quickly obsolete)~~
 * sign in / sign up

[2015-12-02 18:47] hannahkane commented on #1463
@kristinashu  - ^ those are the ones I think we care about. Do you have any you'd want to add?

[2015-12-02 18:51] kristinashu commented on #1463
@hannahkane maybe sign in and sign up?

[2015-12-02 18:53] hannahkane commented on #1463
good call. adding.

[2015-12-02 19:25] mmmavis commented on #1264
@hannahkane ummm not that i'm aware of

[2015-12-02 19:29] hannahkane commented on #1264
@mmmavis - ok, then I'm calling it a p2 for this heartbeat.

[2015-12-02 19:30] hannahkane commented on #1452
@sabrinang - did you mention this during stand-up today? Can't remember. Want to make sure we don't drop this. Who's more likely to get to this - @sabrinang or @kristinashu ?

[2015-12-02 19:53] sabrinang commented on #1452
@hannahkane - I touched base with mavis, i'm working on it now

[2015-12-02 23:32] mmmavis commented on #1449
FYI, this is the Bugzilla ticket that I just created: https://bugzilla.mozilla.org/show_bug.cgi?id=1229957

[2015-12-03 01:14] sabrinang commented on #1452
I created mockups for the content in the text doc: https://redpen.io/p/vj24b1b75c486dac28
The table / chart style is similar to what is seen on https://www.mozilla.org/en-US/contribute/events/

[2015-12-03 01:20] hannahkane commented on #1452
beautiful work, @sabrinang. Above and beyond.

cc @LindseyFrost  - check out what the gigibit page will look like in Sabrina's redpen above.

[2015-12-03 05:54] mmmavis opened #1464 "Use https version of Discourse link"
use https://discourse.webmaker.org :+1: instead of http://discourse.webmaker.org :eyes:

this should be a quick find and replace fix

[2015-12-03 06:07] mmmavis opened #1465 "Trouble loading blog posts"
Seems to be a Google API problem

from https://developers.google.com/feed/
[code]
:sob:

/cc @Pomax this is related to the "post undefined" error you mentioned to me today.

[2015-12-03 10:45] Ihab-Asafrah opened #1466 "Badges Search Issue"
I noticed that the badges function in Credly API matches the query string/keyword with the badge title only. So there is no direct way to match a query word with the badge description or creation date or any other criteria. Can we perform the search process and the matching on the Teach API itself and return the matched badges to any application that requests them?

[2015-12-03 10:46] Ihab-Asafrah opened #1467 "Authentication Issue"
The authentication process flow: If a Mozilla app will request this API, then we will have like 3 logins in the way: one for the app, one for this API, and one for Credly API. I guess Mozilla manages this by giving one login for both the app and the Teach API using @webmaker account. Even though, we will still need two logins: one for Mozilla and the other for Credly API. The question is: How do y

[2015-12-03 14:27] LindseyFrost commented on #1452
This is amazing! So excited about the changes!

[2015-12-03 17:24] hannahkane commented on #1195
cc @Pomax

[2015-12-03 17:25] hannahkane commented on #1466
cc @pomax

[2015-12-03 17:25] hannahkane commented on #1467
cc @pomax

[2015-12-03 19:11] hannahkane commented on #1428
@mmmavis - see @kgorr's question above, and let me know if I should file a ticket.

[2015-12-03 20:21] #1412 closed

[2015-12-03 20:29] flukeout commented on #1426
Unfortunately, the remix URL is not based on the published URL you see in the address bar. To get the remix URL, you have to right-click the Remix button and copy the link.

This isn't ideal obviously - I'll file it in the Thimble repo, but that's how it works.

[2015-12-03 20:34] mmmavis commented on #1426
thanks @flukeout , yea I grabbed that https://thimble.mozilla.org/projects/PROJECT_ID/remix link from the Remix button so i think we are good.

@hannahkane I'll update the links in my PR https://github.com/mozilla/teach.mozilla.org/pull/1450

[2015-12-03 20:40] kristinashu commented on #1372
@cassiemc @sabrinang I think we could make the link icons the same blue as the text links (solves the issues of yellow not being visible enough and also ties the icon and the text together). I added a screen showing an example of this and also a possible hover state - icon zooms and all the text turns blue.

https://redpen.io/p/brdabe854cc619f9b9

[2015-12-03 20:45] #1419 closed

[2015-12-03 20:45] kristinashu commented on #1382
Will be solved in dev ticket [interactive element] - Add hover state to image links #1448

[2015-12-03 20:45] #1382 closed

[2015-12-03 20:49] #1425 closed

[2015-12-03 20:49] #1426 closed

[2015-12-03 20:55] kristinashu commented on #1378
Fixed in  [photography] - layout alternative for large banner images #1396

[2015-12-03 20:55] #1378 closed

[2015-12-03 20:57] kristinashu opened #1469 "Update banner images"
From design in [photography] - layout alternative for large banner images #1396

Comp with all the images: https://redpen.io/p/jna5c03b0eabf90217
JPGs of all the images are here: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLeWUzN2FGZjU5Nms&usp=sharing

All images have reduced height (except for home page).
Add image to tools page.

[2015-12-03 20:57] mmmavis commented on #1447
@kristinashu I will need some help from you for updating the following files so that they are in `#c1c1c0` and the `1px` stroke. Thanks!

https://teach.mozilla.org/img/pages/about/svg/icon-horizontal-divider.svg
https://teach.mozilla.org/img/pages/clubs/svg/icon-line.svg

[2015-12-03 21:00] mmmavis commented on #1434
@kristinashu do you mind attaching the .ai file and assets here? Thanks!

[2015-12-03 21:08] cassiemc commented on #1372
good thinking! not sold on the hover states but would be easier to assess in a demo.

[2015-12-03 21:13] #1433 closed

[2015-12-03 22:12] kristinashu commented on #1434
@mmmavis here's the ai file https://drive.google.com/open?id=0B2irLVDJivhLMS1Vdm9jd1BwNnc

[2015-12-03 22:15] kristinashu commented on #1447
@mmmavis is there any way to do it through CSS?

[2015-12-03 22:38] kristinashu commented on #1462
@hannahkane if you want to see how the post is coming along you can check it out here: https://docs.google.com/a/mozilla.com/document/d/1MQ2z_MZZFbYU67M-7BUPpD-n6DdbXz2ZMEJ6-Fwco54/edit?usp=sharing

@cassiemc just gave some excellent feedback so I'll be working on those edits. Feel free to add your comments in now or tomorrow once I've made the changes Cassie suggested.

[2015-12-03 23:12] kristinashu commented on #1364
I hovered as @mmmavis made the styling changes. Thanks!

[2015-12-03 23:15] kristinashu opened #1471 "Prioritize design audit tickets"
@cassiemc @sabrinang @kristinashu need to decide which tickets to tackle first.

[2015-12-03 23:16] hannahkane commented on #1452
Closing this design ticket.

[2015-12-03 23:16] #1452 closed

[2015-12-03 23:17] hannahkane commented on #1457
@sabrinang - should I move this to the next heartbeat?

[2015-12-03 23:17] hannahkane commented on #1446
Think we can close this, right, @kristinashu ?

[2015-12-03 23:18] sabrinang commented on #1457
@hannahkane yes - I'll work on it first week after Orlando

[2015-12-03 23:19] kristinashu commented on #1446
Yeah, ready to implement!

[2015-12-03 23:19] hannahkane commented on #1415
@ldecoursy - how's this?

[2015-12-03 23:23] hannahkane opened #1472 "Update value props in banners"
Based on #1414 and build #1434 we need to add a value prop intro to every primary page.

Here is the copy for the pages that need value props:

 * https://teach.mozilla.org/activities/: Activities and lesson plans to get you started
 * https://teach.mozilla.org/events/: Host a one-time event or workshop
 * https://teach.mozilla.org/tools/ (will be adding a banner image): Open source software to te

[2015-12-03 23:23] #1446 closed

[2015-12-03 23:26] mmmavis commented on #1364
changes are live http://mozilla.github.io/webmaker-curriculum/ :dancer: :dancer: :dancer:

[2015-12-03 23:26] #1364 closed

[2015-12-03 23:27] hannahkane commented on #1364
Sweet relief! Looks much better. :)

[2015-12-03 23:28] hannahkane commented on #1462
@kristinashu - great job with this! I like @cassiemc's suggestions a lot, and only had a few additional suggestions. Thanks for whipping this up so quickly!

[2015-12-03 23:30] ldecoursy commented on #1415
Eggscellent! :egg:

[2015-12-03 23:31] ldecoursy commented on #1415
@amirad @kgorr We should update this link in the welcome kit or wherever else it may live.

[2015-12-03 23:31] #1415 closed

[2015-12-04 00:19] flukeout commented on #1360
Hey guys sorry I've been out of the loop here. I guess I haven't been seeing notifications. I've been making some updates and cleaning up the markup and styles for the design in the repdens. Here is the latest...

http://flukeout.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html#overview

**Here is the latest as a Thimble Project**
https://d157rqmxrxj6ey.cloudfront.net/flukeo

[2015-12-04 01:30] sabrinang opened #1473 "Mozilla Gigabit Community Fund - Update Website Design"
The existing Gigabit website could be refreshed from the old sandstone to match some of the newer properties when they open for 2016 applications in January.

Current site: https://www.mozilla.org/en-US/gigabit/
![fireshot capture 31 - gigabit mozilla - https___www mozilla org_en-us_gigabit_](https://cloud.githubusercontent.com/assets/2492510/11579012/2bbb630a-99df-11e5-9b0d-909fd1fb8d22.png)

The

[2015-12-04 02:04] sabrinang commented on #1473
Initial ideas for Gigabit refresh: https://redpen.io/p/vj24b1b75c486dac28
*note: the text isn't finalized but there is a lot*

@cassiemc @hannahkane I'm uncertain what to visually align this with. For the mockups in the redpen, I'm following the design styles of other mozilla.org properties (like their flat buttons and beige instead of our MLN buttons) ![screenshot](https://cloud.githubusercontent

[2015-12-04 15:34] Saallen opened #1474 "Update links to Discourse"
Links to Discourse have changed:
 * The link on the homepage should go here: https://discourse.webmaker.org/t/if-youre-new-to-the-community-please-introduce-yourself
 * The link on /clubs should go here: https://discourse.webmaker.org/c/mozilla-clubs
 * Link on /events should go here: https://discourse.webmaker.org/c/events
 * Link on /events/resources/ should go here: https://discourse.webmaker.o

[2015-12-04 15:38] Saallen commented on #1474
Just noticed the link is broken here too
https://teach.mozilla.org/teach-like-mozilla/ if you click on the Say Hello icon at the end of the page

[2015-12-04 15:45] ldecoursy commented on #1474
Good catch!

I think the link on the Clubs page should point here: https://discourse.webmaker.org/c/mozilla-clubs

Teach like Mozilla page link can point here: https://discourse.webmaker.org/t/if-youre-new-to-the-community-please-introduce-yourself/15

Or, @hannahkane would you prefer they both link to the Discourse main page: https://discourse.webmaker.org/

[2015-12-04 16:29] hannahkane commented on #1474
@Saallen - thanks for the catch!

@ldecoursy - I think it's okay to link to separate, specific pages. Will update original comment.

[2015-12-04 17:26] flukeout opened #1475 "Finalize curriculum template design."
Continuing work from [here](https://github.com/MozillaFoundation/plan/issues/600#issuecomment-150396040)

[2015-12-04 17:27] #1475 closed

[2015-12-04 17:30] flukeout commented on #1360
Looks like we've got a few issues to address
* If we make this into a Remixable thimble project, we need to leave room for the Thimble button
  * Unless we re-do how Thimble does things
* Create a print stylesheet
* Address the white gap between the navigation and content at wider sizes

[2015-12-04 19:05] mmmavis commented on #1447
@kristinashu good call! :+1:

[2015-12-04 19:17] hannahkane commented on #1456
moving to next heartbeat to get final approval post-Orlando

[2015-12-04 19:21] hannahkane commented on #1473
@sabrinang - thanks for doing this. Was more than was expected. I'll start a thread with the moz.org folks with a link to your redpen, so we can see what they think.

[2015-12-04 20:11] ldecoursy opened #1476 "Approve Thimble screenshots for Danish translation of Learn to Code 2"
We received an email yesterday from a Danish publishing house that publishes educational books for kids and young adults. They recently purchased the rights to translate *Learn to Code 2* from RisingStars publishing in the UK into Danish, and were inquiring about permissions for using Thimble screenshots (featured in the original book) that serve as a walk-through/tutorial.

First, how cool that T

[2015-12-04 20:15] humphd commented on #1476
Very cool!

[2015-12-04 21:06] mmmavis commented on #1428
@hannahkane @KGorr I'm worried the timeframe will too be tight for this. I haven't got any ET training myself either so it will probably take me awhile to figure the template building process myself.

@KGorr Do you know roughly when we plan to send out the first email in this template?

[2015-12-04 22:14] flukeout commented on #1476
Awesome, let us know if we can help in any way!

[2015-12-04 22:17] sabrinang commented on #1473
/cc @kristinashu (may tie into leadership development page since gigabit is mentioned there)

[2015-12-04 22:33] #1397 closed

[2015-12-04 22:33] #1431 closed

[2015-12-04 22:48] mmmavis commented on #1474
There are 4 other Discourse links we should update

- About page: https://teach.mozilla.org/about/
- Maker Party 2015 page: https://teach.mozilla.org/activities/maker-party-2015/
- Protect Your Data page: https://teach.mozilla.org/activities/protect-your-data/
- Web Literacy Basics page: https://teach.mozilla.org/activities/web-lit-basics/

Suggestions on where we should link those to? @hannahkane

[2015-12-04 22:51] hannahkane commented on #1474
Thanks, @mmmavis

My suggestion:

About: https://discourse.webmaker.org/t/if-youre-new-to-the-community-please-introduce-yourself/15
Maker Party 2015: https://discourse.webmaker.org/c/events
Protect Your Data and Web Lit Basic: https://discourse.webmaker.org/c/curriculum

[2015-12-04 22:52] mmmavis commented on #1474
Lovely! Will have these updated!

[2015-12-04 22:59] mmmavis commented on #1465
Posts are loaded again :octopus:

[2015-12-04 23:00] #1474 closed

[2015-12-04 23:01] hannahkane commented on #1465
win!

[2015-12-04 23:13] mmmavis opened #1479 "Lock the sidebar"
Suggestion from @kristinashu :

We should lock the sidebar so it's fixed in position.

[2015-12-07 18:24] KGorr commented on #1428
@mmmavis, no worries if it can't happen. It's a nice to have for my training, but not essential. We are hoping to have the first email go out in January sometime. Since Exact Target training isn't completed yet, no exact date has been set.

[2015-12-07 19:11] KevZawacki commented on #1456
@hannahkane Just gave an edit -- looking good!

[2015-12-08 17:35] AbuAlKarmi commented on #1467
@simonwex any updates?

[2015-12-10 14:06] ldecoursy commented on #1476
Turned out they were using screenshots from thimble.webmaker.org. I shared the new URL and they're going to update the screenshots, which likely won't happen until February. Will update here when I know more.

[2015-12-10 21:47] simonwex commented on #1467
There's work that Credly is going to do to support us getting an auth token for the user and logging them in to credly. Let's connect on Tuesday to sort this out.

[2015-12-14 16:11] cassiemc commented on #1471
Let's tackle this today at design triage.

[2015-12-14 17:21] hannahkane commented on #1465
Closing. @mmmavis - please reopen if there are any follow-up tasks.

[2015-12-14 17:21] #1465 closed

[2015-12-14 17:22] hannahkane commented on #1462
Moving to next heartbeat to wrap up!

[2015-12-14 17:23] hannahkane commented on #1460
@Pomax - did this get done, or should we move to next heartbeat?

[2015-12-14 17:23] hannahkane commented on #1449
Moving to next heartbeat to finalize.

[2015-12-14 17:24] hannahkane commented on #1336
FAQs are ready to go, once new Goggles launches. Could use fact-checking from @Pomax, though. Moving to next heartbeat so we don't lose track of this.

[2015-12-14 17:25] hannahkane commented on #1264
Didn't get done, so moving to next heartbeat.

[2015-12-14 17:25] hannahkane commented on #1443
@sabrinang - is there more to do here, or can we close this one?

[2015-12-14 17:29] hannahkane commented on #1327
@sabrinang - does this ticket still feel useful? I'm thinking we ought to close it and open one that's specifically about delivering a new iteration of the map design.

[2015-12-14 17:30] hannahkane commented on #1473
This is a P2. Top priority changes for the Gigabit pages are just to change the copy for now.

Design priorities for this heartbeat are the Web Lit Map design iteration and advancing the curriculum dbase work.

[2015-12-14 17:31] hannahkane commented on #1458
This is a dupe of #1469.

[2015-12-14 17:31] #1458 closed

[2015-12-14 17:33] hannahkane commented on #1327
Just saw that the ticket for a new map design already exists - #1457. Still wondering if keeping this ticket open is useful.

[2015-12-14 17:36] hannahkane commented on #1456
Thanks for feedback @ldecoursy and @KevZawacki!

[2015-12-14 17:36] #1456 closed

[2015-12-14 17:42] hannahkane opened #1481 "Final design for Leadership Opportunities page"
This is a new page we're creating on the Teach site.

Wireframe is here: https://redpen.io/p/uvc0135f6b8d5b5f31

Final copy is here: https://public.etherpad-mozilla.org/p/mlninitiatives

Next step is to finalize all design elements on the page.

[2015-12-14 17:52] sabrinang commented on #1327
@hannahkane Yes we can close this now and it is referenced in #1457

[2015-12-14 17:52] #1327 closed

[2015-12-14 19:04] Pomax commented on #1460
mostly, https://github.com/mozilla/teach.mozilla.org/pull/1480 is the React lift (it needs a review though), the other dependencies are less important and can be done incrementally on top.

[2015-12-14 19:15] Pomax commented on #1349
let's close this for now. This should not be an issue in production, but if it is we can address it when it pops up.

[2015-12-14 19:15] #1349 closed

[2015-12-14 19:16] Pomax commented on #1115
this landed in october, but apparently never auto-closed the issue... very odd, but closing now =)

[2015-12-14 19:16] #1115 closed

[2015-12-14 20:36] kristinashu commented on #1434
@mmmavis here are the assets: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLYVF0Nm5vS2VvelU&usp=sharing

Let me know if you need anything else!

[2015-12-14 20:38] kristinashu commented on #1438
Here's the icon:
<img width="440" alt="screen shot 2015-12-14 at 12 36 46 pm" src="https://cloud.githubusercontent.com/assets/1068783/11793267/6d797d1c-a25f-11e5-9317-ef8d171326a0.png">

svg file https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLV2x1ZXZ6eGRJckU/view?usp=sharing

Added link to build ticket https://github.com/mozilla/teach.mozilla.org/issues/1434

[2015-12-14 20:38] #1438 closed

[2015-12-14 20:55] sabrinang commented on #1381
document photo decisions here from #1396

[2015-12-14 21:11] sabrinang opened #1483 "[Design Audit] - Master Style Guide"
As we progress with the design audit we can document all the design decisions and progress in one place for designers and developers to refer to. Also, we can have one folder in google drive with all the assets.

cc/ @kristinashu @mmmavis @cassiemc

[2015-12-14 21:15] cassiemc commented on #1483
We're aiming to have the ```design audit``` tasks (35 open so far) by Feb 12, so in 4 heartbeats' time. Then let's take another two heartbeats to wrap up this ticket and document all the changes and design decisions, so deadline of March 11. If we can finish sooner than that, great!

[2015-12-14 21:21] sabrinang commented on #1366
Preferences:
- Sign in
- Sign out
- Create an account
- Sentence case

[2015-12-14 21:22] cassiemc commented on #1384
We're going to need input from @hannahkane and @HPaulJohnson here. We will probably want to decouple the wordmark from this and just make a decision about naming and the URL.

[2015-12-14 21:23] cassiemc commented on #1381
This work can be done in conjunction with the master style guide #1483

[2015-12-14 21:29] cassiemc commented on #1471
Done! Issues assigned to various milestones

[2015-12-14 21:29] #1471 closed

[2015-12-14 22:20] hannahkane commented on #1384
cc @chrislarry33

I like the idea of having some sort of visual indicator that a web property is part of the "Mozilla Leadership Network." This indicator would go on Teach, but also other properties (Science, News, Advocacy). Perhaps that should be a separate ticket?

@chrislarry33 - since we can likely no longer use "Mozilla Learning Network," since MLN now has a different meaning, what would you

[2015-12-14 23:18] #1447 closed

[2015-12-14 23:19] mmmavis commented on #1447
@kristinashu the changes should be live on http://teach.mofostaging.net/ soon.  Please create a separate ticket for anything that I might have missed.

[2015-12-14 23:37] kristinashu commented on #1447
@mmmavis amazing! thanks!

[2015-12-14 23:38] kristinashu commented on #1377
@sabrinang mavis just fixed all of these in https://github.com/mozilla/teach.mozilla.org/issues/1447#issuecomment-164591560 So I think we can close this one!

[2015-12-14 23:40] kristinashu commented on #1379
@sabrinang mavis just did this in https://github.com/mozilla/teach.mozilla.org/issues/1447

[2015-12-14 23:40] #1379 closed

[2015-12-14 23:43] kristinashu commented on #1375
Fixing in https://github.com/mozilla/teach.mozilla.org/issues/1372

[2015-12-14 23:43] #1375 closed

[2015-12-14 23:52] #1376 closed

[2015-12-15 00:38] mmmavis commented on #1472
PR has been merged.

[2015-12-15 00:38] #1472 closed

[2015-12-15 00:43] Pomax commented on #1336
I've left some edits and comments in the FAQ. I don't think it's wise for us to expose the CSS editing capabilities - they look hellacomplex.

[2015-12-15 01:27] #1363 closed

[2015-12-15 16:26] Pomax opened #1488 "create a badge MVP heroku deploy, for live testing"
Create a heroku instances:
- [ ] the teach.moz with badges
- [ ] the teach-api with souktel's changes
- [ ] set up deploys from repo/branch for both

[2015-12-15 17:18] kristinashu commented on #1373
Footer icons are in https://github.com/mozilla/teach.mozilla.org/issues/1372

Circle icons svgs are here: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLYkJRSUhfVEg1c1E&usp=sharing

<img width="670" alt="screen shot 2015-12-15 at 9 15 41 am" src="https://cloud.githubusercontent.com/assets/1068783/11818015/bbc1dfde-a30c-11e5-94b6-2e46779ca34f.png">

- circle icons have 2px stroke

[2015-12-15 17:18] #1373 closed

[2015-12-15 17:39] kristinashu opened #1489 "[illustration] - implement a cohesive line art aesthetic"
Based on design in https://github.com/mozilla/teach.mozilla.org/issues/1373

Update the following 'large' icons so they all have the same styling.

![icons-01](https://cloud.githubusercontent.com/assets/1068783/11818240/195e11f2-a30e-11e5-9d57-98ff7711f666.jpg)

SVGs are here: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLYkJRSUhfVEg1c1E&usp=sharing

Clubs and TML pages will so

[2015-12-15 17:42] kristinashu commented on #1489
Putting into this heartbeat but feel free to ignore!

[2015-12-15 17:44] kristinashu commented on #1374
Will be fixed in https://github.com/mozilla/teach.mozilla.org/issues/1489

[2015-12-15 17:44] #1374 closed

[2015-12-15 20:28] #1479 closed

[2015-12-15 20:58] mmmavis commented on #1464
fixed in https://github.com/mozilla/teach.mozilla.org/pull/1477

[2015-12-15 20:58] #1464 closed

[2015-12-15 21:39] flukeout opened #1490 "Create curriculum database prototype"
As we discussed, a prototype of the curriculum database could be a useful artifact to...
* Help us define what we want
* Try out our zany ideas
* Use for research

**Proposal**
Let's create a prototype that simulates the experience of an educator looking for content about web literacy. We'll use our internal content for now.

**To-do**
* Write a few user stories from the educator's point of view

[2015-12-15 22:03] mmmavis opened #1491 "ReactDOMComponent warnings raised from `npm test`"
We get several ReactDOMComponent warnings from running `npm test` now, e.g.,

[code]

This is probably due to our recent React version bump to v0.14.  We should visit the test files and fix the code.

relates to https://github.com/mozilla/teach.mozilla.org/issues/1460

/cc @Pomax

[2015-12-15 22:07] flukeout commented on #1490
From the deck, some ideas on what we can keep track of per activity
* name
* description
* time to complete
* URL
* category (user perceived, internal)
* skill level - how is this measured
* author
  * person
  * organization
* technology
* time
* type
* language
* ...
* others?

[2015-12-15 22:18] ldecoursy opened #1492 "Few fixes on Hive site"
Can we please make the following changes at hivelearningnetworks.org?

* Remove the "Start a Hive" page from the site and main nav
* Remove Bay Area from home page (under list of Communities), Locations page (under list of Communities and contact details)
* Remove list of cities under "Coming Soon" on home page and Locations page
* On Connect page, please update link under Online Discussion Forum

[2015-12-15 22:48] hannahkane commented on #1492
@ldecoursy - is it ok to put this in the first heartbeat of the new year?

[2015-12-15 23:22] flukeout commented on #1360
Here's the mobile version of the curriculum if we decide to move the Remix button to the bottom-right (for mobile only), which might be a good idea...

![image](https://cloud.githubusercontent.com/assets/25212/11827097/8753d522-a33e-11e5-8dac-1ffa7a24407d.png)

[2015-12-15 23:53] kristinashu commented on #1481
Here's where I'm at with the comp: https://redpen.io/p/mw6aac463c1c49b796

@hannahkane @sabrinang @cassiemc please let me know if you have any feedback!

[2015-12-16 00:22] hannahkane commented on #1481
Lovely! Made two small comments.

[2015-12-16 00:30] ldecoursy commented on #1492
Yep!
On Dec 15, 2015 6:22 PM, "hannahkane" <notifications@github.com> wrote:

[2015-12-16 00:39] sabrinang commented on #1481
I left some comments too and excited to see this page coming together :+1:

[2015-12-16 00:44] hannahkane opened #1493 "Determine updates to Maker Party page"
This page could use a clearer CTA now that the official MP campaign is over. Perhaps prioritize the Event Guides and include a CTA that makes it clear these can happen any time of year.

[2015-12-16 00:53] flukeout commented on #1360
**Print styles** are looking pretty good...

![image](https://cloud.githubusercontent.com/assets/25212/11828755/525928f0-a34c-11e5-91fa-07c17d094501.png)

[2015-12-16 06:36] Pomax commented on #1491
I've been able to remove all the warnings except the ones in the clubs modal file, which talk about a `getDOMNode` being called, even though there is no code anywhere that does, so it's a deeper error. I'll hunt it down... =_=

[2015-12-16 09:29] AbuAlKarmi commented on #1192
@hannahkane @simonwex @kristinashu
I'm working on the Badges MVP, and I need to know the status of the design thinks and the flows.
any updates please?

[2015-12-16 09:31] AbuAlKarmi commented on #1194
@hannahkane @simonwex @kristinashu any updates regarding the work that done on Member profile?
Or should I work on that? if So, I need to send me the needed designs. and How the badges should appear on that profile?

[2015-12-16 09:32] AbuAlKarmi commented on #1195
@hannahkane @simonwex @kristinashu I need to provide me with the required designs to be implemented.

[2015-12-16 10:02] AbuAlKarmi commented on #1337
I worked on this design and almost done.
you can find it on the following PR: https://github.com/mozilla/teach.mozilla.org/pull/1427
and I'm waiting the API's to complete work

[2015-12-16 10:57] chadsansing commented on #1360
@flukeout, nice work. The lower-right button makes a lot of mobile sense. I like the clean print styles, as well.

[2015-12-16 15:05] cassiemc commented on #1360
This is looking great @flukeout

[2015-12-16 17:38] flukeout commented on #1360
**Still to do**
* Make the desktop and mobile designs behave nicely when there are tons of steps

[2015-12-16 18:11] jgmac1106 commented on #1360
or write curriculum without a ton of steps...........

On Wed, Dec 16, 2015 at 12:49 PM Luke Pacholski <notifications@github.com>
wrote:

[2015-12-16 18:17] Pomax opened #1495 "add greenkeeper to our build system"
automating dependency updates is great, let's tie http://greenkeeper.io to our project so we get PRs when dependencies update!

This is blocked by the [work on dependency uplifting](./1460), because we should tie this in only after all our dependencies are up to date (or we'll just get a constant barrage of failing update attempts)

[2015-12-16 18:26] hannahkane commented on #1360
+1 to moving Remix button on mobile. I'd be hesitant to make that switch on desktop, but seems like a good solution on mobile. Will likely solve issues for others as well, not just our own curriculum template.

Print styles look good, too.

[2015-12-16 18:30] hannahkane commented on #1336
Thanks, @Pomax. Awesome edits, and agreed, we can remove the CSS editing Q.

Updating the milestone to January. I'll make these changes after the new version goes live.

[2015-12-16 19:47] hannahkane commented on #1194
We won't have a full member profile any time soon, but perhaps @kristinashu can provide a design for a My Badges page (similar to the projects page at /me).

Ideally, this page would be accessible by others. That is, if a user wants to share their "My Badges" page, they should be able to copy/paste the url and share with friends.

[2015-12-16 19:49] hannahkane commented on #1192
I believe the designs for the application workflow are here: https://redpen.io/p/tq1fbf0a41edd3909f. @kristinashu, can you verify?

[2015-12-16 19:50] hannahkane commented on #1195
@simonwex @AbuAlKarmi - is there existing UI/UX for this on the cred.ly side, or do we need to provide UI for our side?

[2015-12-16 20:40] kristinashu commented on #1192
Yes, starting at "MLN Badge: Detail Apply" and then once the user applies they would get an email verification. Once the application has been reviewed, a user will receive an approved/rejected email. If approved and a user goes back to the badge detail page, they would see "MLN Badge: Detail Approved".

[2015-12-16 20:40] Pomax commented on #1491
Turns out these warnings are generated by [react-input-autosize](https://github.com/JedWatson/react-input-autosize), which is still using React 12 code, so we should be able to solve this issue automatically once the code for that module [becomes React 14 compatible](https://github.com/JedWatson/react-input-autosize/issues/33)

[2015-12-16 20:44] flukeout commented on #1360
@jgmac1106 agreed - but since it's meant to be a template, we can't have it break or behave in unexpected ways when it's pushed to the limits. Gotta be defensive.

[2015-12-16 20:49] Pomax commented on #1491
Nope, looks like it was actually `react-select`, updating that to 0.9.1 solve solve the warnings (but breaks our tests. Its semver seems to treat the minor release number as a major release number)

[2015-12-16 21:14] mmmavis commented on #1449
@sabrinang can you attach the logos for Hive KC and Hive CHA here? I can't find them in Google Drive.

[2015-12-16 21:22] kristinashu commented on #1194
I've added a couple profile screens to https://redpen.io/p/tq1fbf0a41edd3909f

Users would primarily see their badges on the logged in view of "Badge: Landing" but I guess they could also see it on the new profile page "MLN My Profile". If a user shares their profile page with someone else, that person would see "MLN External profile"

@hannahkane does that sound right?

[2015-12-16 22:06] sabrinang commented on #1449
Hive CHA: https://drive.google.com/a/mozillafoundation.org/file/d/0B4Q8pzCpDS_eb3EzTm9kYmFWUkk/view

Hive KC: https://drive.google.com/a/mozillafoundation.org/file/d/0B4Q8pzCpDS_eMnNKOEJubmQycEk/view

[2015-12-16 22:07] sabrinang commented on #1449
those are from the hive learning networks site

[2015-12-16 22:10] hannahkane commented on #1194
@kristinashu. Yes, I think this an ideal interim step, before we have a fully fleshed out profile.

[2015-12-16 22:26] kristinashu commented on #1481
Thanks! I've made those updates https://redpen.io/p/mw6aac463c1c49b796

The only remaining issue is the wording of "There are a variety of ways to be a leader in the movement for a free and open Web."

@cassiemc do you have any feedback to add?

[2015-12-16 22:54] hannahkane commented on #1481
cc @ldecoursy and @KevZawacki on the copy issue. I'm finding "There are a variety of ways to be a leader in the movement for a free and open Web" awkward, but am having trouble coming up with an alternative.

[2015-12-16 23:11] hannahkane opened #1496 "Draft Curriculum Product project brief"
Started here: https://docs.google.com/document/d/1f5AYLbenXmzTCg2mkvABjeUHAFXyhC2l1evC0wEpybg/edit#

Looking for feedback from @sabrinang, @flukeout, and @chadsansing in particular. Will circulate more widely after a little more polishing.

[2015-12-16 23:15] ldecoursy commented on #1481
Explore ways to become a leader in the movement for a free and open Internet.

Explore leadership opportunities in the movement towards a free and open Web.

[2015-12-16 23:20] hannahkane commented on #1490
Potential user stories:
 * As an educator, I can easily find teaching content that's appropriate for my learners (e.g. age, skill-level)
 * As an educator, I can easily find teaching content that's appropriate for my context (e.g. duration, devices needed, language)
 * As an educator, I can easily discern the quality of a particular piece of curriculum
 * As an educator, I can offer feedback once

[2015-12-16 23:29] hannahkane commented on #1481
Love the second one. Thanks, @ldecoursy!

[2015-12-16 23:45] Pomax opened #1497 "Async issues are preventing proper testing of form submission"
the modal-clubs.test.js file contains a "when form is submitted" test set that cannot run properly due to hitting a submission timeout. Looking at the code, there's a few levels of async that need to be fixed before these tests will *properly* run after dependency uplifting.

(see #1460)

[2015-12-16 23:58] kristinashu commented on #1481
Excellent, updated!

[2015-12-17 00:05] mmmavis commented on #1449
Thanks for looking up the logos, @sabrinang !

For the layout in Types of Support section (see screencaps below) I wonder if we can avoid using table since wide table doesn't look good on smaller screens - it either get cut off or squeezed (unless we want to enable horizontal scrollbar which is unlikely the case)

![gigabit-apply-desktop](https://cloud.githubusercontent.com/assets/2896608/11857539

[2015-12-17 00:43] hannahkane opened #1498 "Consider removing TLM page"
We originally intended to build out https://teach.mozilla.org/teach-like-mozilla/, but so far we haven't been able to prioritize adding richer content.

This section got less-than-positive reviews in Laura and Bobby's [research](https://docs.google.com/document/d/1GJt1NqbBBvZGqPWIj8YUT-qXjCPfC30tfYEVfvqFwqs/edit#heading=h.7ukdb2pbvm96), and most of the content could easily fit elsewhere on the sit

[2015-12-17 00:51] ldecoursy commented on #1498
+1
We aren't continuing the podcast right away - Bobby has some ideas about that moving forward. Maybe existing archives can go on Community page?

[2015-12-17 01:34] sabrinang opened #1499 "Consider adding a "Curriculum Frameworks" page"
With consideration of adding Web Literacy v2.0 under the “Curriculum” section *(what we are thinking of renaming Activities)* to the site, we should consider a broader Curriculum Frameworks section to be inclusive of other existing frameworks that exist for curriculum that would influence our future curriculum database too *(for example, [Participation Team’s Participation Leadership v0.1](http://

[2015-12-17 11:57] jgmac1106 commented on #1499
I would suggest renaming activities curriculum.

I would also elevating the web literacy map as a top level nav link rather
than a sub-link. That is the framework that underpins the curriculum and
the badges. It is what Mozilla believes you need to know in order to read,
write, and participate on the web.

In terms of Teach Like Mozilla, while I contributed I was never a fan
myself. Its basically

[2015-12-17 17:00] chadsansing commented on #1498
I concur, but remain curious about where leadership materials land in the near-ish future.

[2015-12-17 17:06] hannahkane commented on #1498
@chadsansing - I think we can revive a PD page when we have that content ready to go. Not saying it doesn't belong on the site at all; just saying it's perhaps a net loss to have a not-so-great page up in the meantime.

[2015-12-17 17:07] chadsansing commented on #1498
@hannahkane, totes.

[2015-12-17 17:18] chadsansing commented on #1499
Great prompts, @sabrinang. I think we need to discuss nav elements and site organization more broadly within MoFo and MozTeach. In the absence of lead.mozilla.org, it's unclear to me how we should structure teach dot. 'Leadership' and 'web literacy' both resonate with me as parent-level nav elements, but web literacy is something leaders model and teach - a child-function of the leader object. The

[2015-12-17 17:46] kristinashu commented on #1372
@cassiemc I've mocked up another option "Teach Icons - Multi Colored" https://redpen.io/p/brdabe854cc619f9b9

In this version, the icons are the color of the section (same as on the live site) which I like because it's nice and playful. The down side is it is less streamlined for updates. But Then we treat the link just like regular links on the site - icons aren't links and only the text link are

[2015-12-17 18:13] sabrinang commented on #1377
checked it out on staging and dividers and lines are looking good - closing!

[2015-12-17 18:13] #1377 closed

[2015-12-17 18:41] cassiemc commented on #1372
@kristinashu Colour is good, streamlining link colour is also good. I'm less sold on just the text being clickable. The whole image+text area is really referring to the same CTA, and I think it'd help usability if the image was clickable as well as the text (particularly for mobile). That said, we don't necessarily have to implement a hover state for the images at this point, just ensure that they

[2015-12-17 19:03] sabrinang commented on #1449
Example of how it can look on mobile devices
![mozilla_gigabit_mockup-table-example](https://cloud.githubusercontent.com/assets/2492510/11878997/a6a8afb8-a4ad-11e5-8edd-6a65dfd93a66.png)

CSS reference: http://codepen.io/pixelchar/pen/rfuqK

[2015-12-17 19:18] cassiemc commented on #1481
@kristinashu I added some comments about photo choices and ways I think we could use design to make the purpose of the programs/initiatives a bit clearer. Also think we can improve the copy on the buttons / ctas. @hannahkane you might also be interested in some of the comments around the page hierarchy which seemed ever so slightly off to me. https://redpen.io/mpd1a17be2766e666c

[2015-12-17 19:34] kristinashu opened #1500 "[pre-footer] - implement unify all icon links above the footer"
Based on design in [pre-footer] - unify all icon links above the footer #1372

Comp: https://redpen.io/p/brdabe854cc619f9b9
Illustrator File: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLaTN4bHo0eWNld1U/view?usp=sharing
SVGs: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLenZLWHdKTHJQMkk&usp=sharing

- Same hover area and icon zoom as on production
- Add blue link

[2015-12-17 19:35] kristinashu commented on #1372
Thanks! Created implementation ticket and closing this one!

[2015-12-17 19:35] #1372 closed

[2015-12-17 19:37] kristinashu commented on #1500
cc @mmmavis

[2015-12-17 21:04] mmmavis commented on #1449
For reference:
My PR to mozilla.org has been filed and waiting for review: https://github.com/mozilla/bedrock/pull/3667

[2015-12-17 21:33] hannahkane commented on #1449
Yay! Thanks, @mmmavis.

[2015-12-17 23:45] hannahkane commented on #1481
Thanks, @cassiemc. Agree that Fellowships ought to be promoted, in particular. Left a few other responses on the redpen.

[2015-12-18 00:05] sabrinang commented on #1457
Initial Web Literacy design concepts on redpen: https://redpen.io/p/pz54052f2e19300634

Ideas use colour to highlight 21c skills on the web lit map and are toggleable from the key

feedback? @hannahkane @anmechung

[2015-12-18 00:10] sabrinang commented on #1457
I am also trying to think of an iteration that doesn't heavily depend on colour *(in consideration of accessibility, colour-blind users)*

[2015-12-18 00:17] hannahkane commented on #1499
Important context: when we imagine the "Curriculum" page, we can think of it in the context of the to-be-built Curriculum database that will allow us to pull in a variety of curricula, not just Web Literacy. Given that, I think it makes sense to include the Participation Leadership framework, and any others that exist. Ideally, each framework makes use of the curriculum database—I know that's what

[2015-12-18 00:18] jgmac1106 commented on #1457
You could use what ever icons are being used in the 21c badge templates.
Toggle those.

The number of 21c skills is small you can choose from a broad enough range
to minimize color blindness.

Its when the colors are close in shade or complex in patterns that drive us
batty.

On Thu, Dec 17, 2015, 7:10 PM sabrinang <notifications@github.com> wrote:

[2015-12-18 11:11] chadsansing commented on #1499
I hear you, @hannahkane. I think these things are too interrelated in my mind to give Y/N feedback on a frameworks page. Imagining a test to determine who would look for a frameworks page instead of either a)curriculum or b)leadership materials.

[2015-12-18 20:12] flukeout commented on #1360
I've put in a PR to move the Remix button to the bottom right for mobile mode...

https://github.com/mozilla/thimble.webmaker.org/pull/1312

[2015-12-18 22:21] mmmavis commented on #1434
@hannahkane
Since we are using the same mailinglist as the pledge signup, users will be redirected to https://teach.mozilla.org/?pledge=thanks after (it's controlled by BSD and there can only be one destination). Without touching the config on the BSD end I think the easiest solution is to make the text on the Thank You modal more general?

![screen shot 2015-12-18 at 2 19 15 pm](https://cloud.git

[2015-12-18 22:24] hannahkane commented on #1434
Hmm...ok. How about changing the title to "Thanks for your interest!" I think we can keep the main message the same.

[2015-12-18 23:13] mmmavis commented on #1434
Yea, I can do that.  What should we change the sample Tweet to? It's currently "I just pledged to #TeachTheWeb! https://teach.mozilla.org"

Or if creating new forms on BSD is still an option I can do that and point the forms to the same pledge mailinglist. This way I can have the Thank You url redirected to a different place.  /cc @adamlofting

[2015-12-18 23:25] hannahkane commented on #1434
Tweet could be "I love to #TeachTheWeb! https://teach.mozilla.org"

[2015-12-18 23:43] sabrinang commented on #1383
We can remove the webmaker branding from these pages:
![remove-webmaker-branding](https://cloud.githubusercontent.com/assets/2492510/11909586/6564fb1a-a59d-11e5-979c-93d6c70dbd12.png)

These are mainly teaching kits.

[2015-12-21 05:53] simonwex commented on #1195
@hannahkane this functionality exists in the credly UI available to admins.

[2015-12-21 07:18] AbuAlKarmi commented on #1194
Working on this issue

[2015-12-21 07:35] aqarbook commented on #1467
i started working on this flow , i created a new table reference the user table to store user access and refresh token
still i need to trigger loading credly token to session on login and handle save to be after authenticate request

[2015-12-21 07:36] aqarbook commented on #1466
any updates on this ticket ?

[2015-12-21 15:50] hannahkane commented on #1195
Then let's just go with that UI.

[2015-12-21 16:21] Pomax commented on #1466
as far as I remember, the idea was to extend the teach-api so that the information that credly could not supply could be fetched that way. I believe there is a PR open for this already on https://github.com/mozilla/teach-api/pull/25 - am I incorrect in this?

[2015-12-21 17:10] kristinashu commented on #1481
I've updated the hierarchy so initiatives are now separated into three buckets: minimal commitment (1-3 days), larger commitment (over the course of a year), and location dependent (only available in some cities).

Titles are focuses on leadership opportunities and CTA links go to the general event page (so users can learn more about the events before committing to them).

@cassiemc @hannahkane @s

[2015-12-21 18:14] #332 closed

[2015-12-21 18:14] #333 closed

[2015-12-21 18:15] #724 closed

[2015-12-21 18:16] #638 closed

[2015-12-21 18:17] #861 closed

[2015-12-21 18:18] #947 closed

[2015-12-21 18:18] Pomax opened #1501 "Update react-router to 1.*"
Follow-up to https://github.com/mozilla/teach.mozilla.org/issues/1460

The API changed a fair bit, so this requires rewriting some of the business logic we rely on for the teach.moz website.

Preparation: move:
- [x] [`this.context.router` to `this.props.router` where possible](https://github.com/mozilla/teach.mozilla.org/issues/1618)
  - PR open as https://github.com/mozilla/teach.mozilla.org/pul

[2015-12-21 18:18] #1083 closed

[2015-12-21 18:20] hannahkane commented on #1432
Closing until we have specific testing needs.

[2015-12-21 18:20] #1432 closed

[2015-12-21 18:21] hannahkane commented on #1417
Closing, as we'll likely be taking a new approach to Clubs reporting.

[2015-12-21 18:21] #1417 closed

[2015-12-21 18:25] hannahkane commented on #1358
Blocked on 1) Exact Target newsletter set-up, and 2) needing to confirm that we have programming planned for affiliates

[2015-12-21 18:26] hannahkane commented on #1357
Closing, as we'll likely approach this differently, given CC feedback.

[2015-12-21 18:26] #1357 closed

[2015-12-21 18:26] hannahkane commented on #1344
We did this! Closing.

[2015-12-21 18:26] #1344 closed

[2015-12-21 18:27] hannahkane commented on #1323
Closing, as the requirements aren't clear.

[2015-12-21 18:27] #1323 closed

[2015-12-21 18:27] hannahkane commented on #1309
Closing this, as more work on Goggles design has not been prioritized.

[2015-12-21 18:27] #1309 closed

[2015-12-21 18:28] hannahkane commented on #1332
Is this a dupe of the work @Pomax is doing? Should we close?

[2015-12-21 18:29] #1183 closed

[2015-12-21 18:29] #1179 closed

[2015-12-21 18:29] #1144 closed

[2015-12-21 18:29] #1138 closed

[2015-12-21 18:30] #1156 closed

[2015-12-21 18:31] hannahkane commented on #1241
We did this. Closing.

[2015-12-21 18:31] #1241 closed

[2015-12-21 18:35] hannahkane commented on #1362
@mmmavis - Possible to give me edit access to http://mozilla.github.io/webmaker-curriculum/index.html? Then I can probably take this ticket.

[2015-12-21 18:37] hannahkane commented on #1246
Closing this. Will reopen as a ticket about applying new template design to localized curriculum.

[2015-12-21 18:37] #1246 closed

[2015-12-21 18:38] hannahkane commented on #1267
Closing. Will re-open with more clarity in H2 2016.

[2015-12-21 18:38] #1267 closed

[2015-12-21 18:38] hannahkane commented on #1304
We'll be removing the pledge to teach in 2016, so closing this.

[2015-12-21 18:38] #1304 closed

[2015-12-21 18:41] Pomax commented on #1332
very much, already addressed in #1460

[2015-12-21 18:41] #1332 closed

[2015-12-21 18:43] hannahkane commented on #916
Putting this in a January 2016 milestone, since we'll be starting this work then.

[2015-12-21 18:44] hannahkane commented on #1140
Closing this. Reopen if needed.

[2015-12-21 18:44] #1140 closed

[2015-12-21 18:45] hannahkane commented on #1418
Moving this into a January heartbeat, since it's part of the l10n work.

[2015-12-21 18:50] hannahkane commented on #1155
Putting this in a January milestone as a P2. Don't want to forget about it, but may become unnecessary if we change how Clubs are managed.

[2015-12-21 18:51] hannahkane commented on #1476
Putting this in a Feb milestone so we don't forget about it.

[2015-12-21 18:54] hannahkane commented on #1259
@kristinashu - we've done this, haven't we?

[2015-12-21 18:56] hannahkane commented on #1303
I think we can close this ticket. The work is either complete, or captured in other tickets.

[2015-12-21 18:56] #1303 closed

[2015-12-21 18:57] kristinashu commented on #1259
Yup I think so, closing!

[2015-12-21 18:57] #1259 closed

[2015-12-21 18:58] hannahkane commented on #1272
I'm closing this ticket, even though it contains some really great thinking. Will reopen when we have a project that pushes the profile forward. The Badges work requires a kind of profile stub, so we'll be building that out, but, otherwise, add'l profile content has yet to be prioritized.

[2015-12-21 18:58] #1272 closed

[2015-12-21 19:24] hannahkane commented on #1481
@kristinashu - I think this is a great solution. The commitment and constraints are very clear now.

Tagging @ldecoursy for copy support. I added some suggestions to the redpen, but Lainie, perhaps you'll have edits.

[2015-12-21 20:34] sabrinang commented on #1457
Next steps - annotate the designs various states to prepare for collecting feedback (on the 8th January from focus groups)

[2015-12-21 20:42] mmmavis opened #1502 "Update gulp-image-converter.js to make use of Vinyl v1"
[We just uplifted `Vinyl` from v.0.4.x to v1.1.x ](https://github.com/mozilla/teach.mozilla.org/pull/1494). We should update `gulp-image-converter.js` to make use of [Vinyl's `file.extname`](https://github.com/gulpjs/vinyl#extname).

[2015-12-21 21:13] hannahkane commented on #1499
@chadsansing - I don't think a curriculum frameworks page would be *instead* of a curriculum page, but rather in addition to. In fact, I'd guess that the most frequent entry point to the frameworks page would be *from* the curriculum database.

[2015-12-21 21:52] kristinashu commented on #1247
@natalieworth is going to help out with this one (thank you!). She's going to illustrate and possibly make an animated gif. We're thinking of playing off 'page not found' and show an open book with pages flying out of from it - using a book will also play off the teaching aspect. Kinda like these:
![b02e1cafc38b3062214c8cd78dc82d31](https://cloud.githubusercontent.com/assets/1068783/11942143/6f809

[2015-12-21 22:45] #1434 closed

[2015-12-21 22:48] mmmavis opened #1504 "Install Tabzilla using npm instead"
New Tabzilla was out a few months ago. We should update & install Tabzilla used on our site via npm instead.
See instructions [here](https://github.com/mozilla/tabzilla/#npm).

This following error should go away once we update Tabzilla.
<img width="805" alt="screen shot 2015-12-21 at 2 52 11 pm" src="https://cloud.githubusercontent.com/assets/2896608/11943793/77c4d2bc-a7f5-11e5-94e0-ba3508ddff13.

[2015-12-21 23:22] hannahkane commented on #1302
Is this now duped by #1504?

[2015-12-21 23:34] mmmavis commented on #1383
@hannahkane can we move this to the next heartbeat? This will involve changes to many websites and I'm hesitant to update multiple sites 2 days before the holiday break.

[2015-12-21 23:34] kristinashu commented on #1469
@mmmavis just noticed the clubs images on staging is the same as on the tools page - it should be the same as the current home page.

![tools](https://cloud.githubusercontent.com/assets/1068783/11944101/2733eb32-a7f8-11e5-8b48-a4acbe8a1202.jpg)
![tools 2x](https://cloud.githubusercontent.com/assets/1068783/11944100/2731b6b4-a7f8-11e5-89fd-3758cb191f05.jpg)

[2015-12-21 23:34] hannahkane commented on #1358
Sounds like this is no longer needed, as we're not focusing on affiliates just yet.

[2015-12-21 23:34] #1358 closed

[2015-12-21 23:36] hannahkane commented on #1383
Sure. Done.

[2015-12-21 23:49] hannahkane opened #1506 "Remove TLM page"
- [x] Remove TLM page from main navigation
 - [x] Add Web Literacy Map as sub-menu item under Activities

(See discussion of other items [here](https://github.com/mozilla/teach.mozilla.org/issues/1498), but I think the above are the only two we need to take action on now.)

[2015-12-21 23:50] hannahkane commented on #1498
K. Thanks for helping make the decision. Filed #1506 to temporarily kill TLM page.

[2015-12-21 23:50] #1498 closed

[2015-12-21 23:51] hannahkane commented on #1496
Draft complete, so closing. Still open for feedback, though.

[2015-12-21 23:51] #1496 closed

[2015-12-22 00:30] #1448 closed

[2015-12-22 00:37] #1504 closed

[2015-12-22 01:08] kristinashu opened #1508 "[illustration] - implement replace all filled icons with line art"
Based on design in https://github.com/mozilla/teach.mozilla.org/issues/1371

Replace solid Club icons with outline versions: (SVGs here https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLY0VNWXZLZ1ZtWFU&usp=sharing)

![teach-club-icons-01 2x](https://cloud.githubusercontent.com/assets/1068783/11945462/e02436d6-a804-11e5-9f93-2344dbceab2e.jpg)

Replace pledge icon on home page with o

[2015-12-22 01:09] Pomax commented on #658
tabzilla changed a bit since then, closing as overtaken by the march of time

[2015-12-22 01:09] #658 closed

[2015-12-22 01:09] Pomax commented on #1107
closing, we'll be going the webpack/babel (with esnext/react presets) way in 2016

[2015-12-22 01:09] #1107 closed

[2015-12-22 01:10] kristinashu commented on #1371
Here are the updated Club icons:
![teach-club-icons-01 2x](https://cloud.githubusercontent.com/assets/1068783/11945518/91704074-a805-11e5-8dbb-6c319e35e52f.jpg)

Updated Pledge icon:
<img width="353" alt="screen shot 2015-12-21 at 5 06 50 pm" src="https://cloud.githubusercontent.com/assets/1068783/11945529/a33907dc-a805-11e5-8363-e6d34a31cdae.png">

Opened implementation ticket here https://github

[2015-12-22 01:10] #1371 closed

[2015-12-22 01:11] #987 closed

[2015-12-22 01:11] #986 closed

[2015-12-22 01:12] #822 closed

[2015-12-22 01:12] #819 closed

[2015-12-22 01:13] #810 closed

[2015-12-22 01:14] Pomax opened #1509 "Rewrite the build system"
It's worth rewriting the codebase build system to use webpack, babel, postcss, plus their associated loaders and plugins, to cleanly do a lot of things that are currently (necessarily) not as clean as the most modern approaches allow for.

## Tasks that are necessary "before" a rewrite is even possible:

- [ ] [refactor the gulp tasks so that toggling tasks is manageable](https://github.com/mozill

[2015-12-22 01:16] #759 closed

[2015-12-22 01:16] #687 closed

[2015-12-22 01:16] Pomax commented on #686
react-router has changed so much that we'll be looking at how to update the codebase afresh in 2016

[2015-12-22 01:16] #686 closed

[2015-12-22 01:16] #670 closed

[2015-12-22 01:17] #659 closed

[2015-12-22 01:17] #699 closed

[2015-12-22 01:17] #722 closed

[2015-12-22 01:17] Pomax commented on #455
IE9 is finally EOL as of January 16! \o/

[2015-12-22 01:17] #455 closed

[2015-12-22 01:18] Pomax commented on #413
this will be part of https://github.com/mozilla/teach.mozilla.org/issues/1509

[2015-12-22 01:18] #413 closed

[2015-12-22 01:19] Pomax commented on #1030
this will be revisited when we do https://github.com/mozilla/teach.mozilla.org/issues/1509

[2015-12-22 01:19] #1030 closed

[2015-12-22 01:19] #914 closed

[2015-12-22 01:20] #806 closed

[2015-12-22 03:10] sabrinang commented on #1457
Updating the existing [Web Literacy] (https://teach.mozilla.org/teach-like-mozilla/web-literacy/) to Web Literacy v2.0 with a new visual. It is a entry-level web literacy & 21 century skill framework for knowing how to read, write and participate online. This corresponds with the evolving research in the [whitepaper](https://docs.google.com/document/d/1sP_nrYtkoZEyAOzfIxAFIgxBRq6T2ZGoBB_iuWYNyQI/e

[2015-12-22 12:02] chadsansing commented on #1499
I'm just having trouble considering external use cases and I worry some about mission creep, but I could be approaching this all wrong. I think we should also talk about this on a call.

[2015-12-22 14:57] cassiemc commented on #1481
I agree, this is great @kristinashu! The page hierarchy feels much much clearer to me, and more user-centred. Thanks for tackling it.

[2015-12-22 14:59] cassiemc commented on #1302
@hannahkane I heard wind, via @edrushka I believe, that tabzilla was getting phased out. Not sure how to find out for sure, but you might want to "won't fix" this one.

[2015-12-22 15:02] cassiemc commented on #1508
@kristinashu Similar to the comment made when you were looking to replace footer icons with yellow versions, I think the orange outlines get lost a little in the page (not enough contrast, esp. for people with vision issues). Maybe make them all blue?

[2015-12-22 16:36] hannahkane commented on #1302
I'm going to close this since we just did #1504. If/when Tabzilla goes away, we can file a new ticket to remove.

[2015-12-22 16:36] #1302 closed

[2015-12-22 16:48] hannahkane commented on #1483
@cassiemc @sabrinang - Can we clarify what the work is here for the December 25th milestone? Or should this ticket be moved to a later milestone? Thanks!

[2015-12-22 16:51] hannahkane commented on #1444
@sabrinang - I feel like you've done this, and we can close this ticket. I think the next steps are to design a research plan (outlined in the [project brief](https://docs.google.com/document/d/1f5AYLbenXmzTCg2mkvABjeUHAFXyhC2l1evC0wEpybg/edit#heading=h.khn1rpy8xnf6)) which may include building a prototype for testing.

Does that make sense to you?

[2015-12-22 17:01] Pomax commented on #817
id.wmo is now considered an independent oauth2 authority, so despite us "owning" both, no sharing should happen.

[2015-12-22 17:01] #817 closed

[2015-12-22 17:04] Pomax commented on #1011
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:05] Pomax commented on #1010
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:05] Pomax commented on #1009
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:05] Pomax commented on #1008
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:05] Pomax commented on #1007
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:06] Pomax commented on #913
based on the build work we want to do in 2016, this issue may or may not stay relevant. Leaving open for now.

[2015-12-22 17:10] Pomax commented on #915
adding this to our January 2016 milestone for consideration

[2015-12-22 18:02] cassiemc commented on #1483
@hannahkane This was put into this milestone just for Sabrina to get started on it this week. Realistically it cannot actually be finished until the other audit work is complete (scoped tentatively for Mar 11).

This week I'd love for @sabrinang to pick a format – ie. I am leaning toward the Github wiki and readme format, a la what @vazquez did for Webmaker (see https://github.com/mozilla/webmaker

[2015-12-22 18:23] hannahkane commented on #1449
Moving this to January milestone, since there's no more to be done on our side.

[2015-12-22 18:51] sabrinang commented on #1444
@hannahkane - Yes, the project brief proposes the plan on how to approach the architecture.
The review of content was captured in the [spreadsheet](https://docs.google.com/spreadsheets/d/1cP9TOdqFNbP1qu_5aEiai1emYgcRa5IaCOfUUll0_Oo/edit#gid=1414253108&vpid=A1) and some ideas in the [slide deck](https://docs.google.com/presentation/d/1ybSPqdH9alm8E863_fj4lBiZnshhX8a5gYQWQaRkfVw/edit?usp=sharing) to

[2015-12-22 18:51] #1444 closed

[2015-12-22 18:52] kristinashu opened #1510 "Implement Leadership Opportunities page"
Based on design in #1481

Illustrator file:https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLX3dUbndDR21EUGs/view?usp=sharing
Assets: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLaG9ITWhNa3pPTGM&usp=sharing (all the logos are SVG except for the group of fellows which is PNG because there are some weird gradients and multiply effects)

Redpen: https://redpen.io/p/mw6aa

[2015-12-22 18:53] kristinashu commented on #1481
Thanks for the help! Closing and opened an implementation ticket - Implement Leadership Opportunities page #1510

[2015-12-22 18:53] #1481 closed

[2015-12-22 19:25] kristinashu opened #1511 "image size on community page"
Follow up to Build Community page #1434

@mmmavis would it be possible to make the two images the same width as their text column? Can you increase the size of the image or I can make the assets bigger. Let me know what's easier.

Staging:
<img width="1024" alt="screen shot 2015-12-21 at 4 45 09 pm" src="https://cloud.githubusercontent.com/assets/1068783/11963863/86b1a404-a89e-11e5-80a1-864fd95a18

[2015-12-22 19:41] kristinashu commented on #1508
@cassiemc I've updated all the orange icons to a darker orange (these icons and also the 3-up footer ones):
![teach-club-icons-02 2x](https://cloud.githubusercontent.com/assets/1068783/11964204/e005a904-a8a0-11e5-9b01-41bf136761b4.jpg)

[2015-12-22 22:18] kristinashu commented on #1462
Hey @hannahkane and @cassiemc, I've updated the blog post https://docs.google.com/a/mozilla.com/document/d/1MQ2z_MZZFbYU67M-7BUPpD-n6DdbXz2ZMEJ6-Fwco54/edit?usp=sharing

I think the first draft was too long and boring so I've cut out a bunch. Any feedback you have would be much appreciated!

[2015-12-22 22:18] hannahkane commented on #1499
I think we might be over-complicating this. We currently have a Web Lit Map page on the site, which is the framework that accompanies our Web Lit curriculum. I'd like for us to move those two pieces closer together in the site's architecture, hence moving the Map to a sub-item under Curriculum.

This ticket is really asking if we should make that page more generic—"Curriculum Frameworks"—and inclu

[2015-12-22 22:33] flukeout commented on #1490
**Discussion Question**
How much and what meta-data do we store? What about things like "learning outcomes" or "required materials"? It would be very useful to search with those in mind, but it puts extra work on the person adding it to the database to fill that stuff out accurately.

We could have optional fields maybe?

[2015-12-22 22:35] mmmavis opened #1513 "Get rid of the if-else check on activities.jsx"
As the formats for `developed by` of the kits on [Activity page](https://teach.mozilla.org/activities/) become less and less unified, we should get rid of the if-else mapping that's currently seen in https://github.com/mozilla/teach.mozilla.org/blob/124d1dbea2a082aa40200287bfb413a34a205b35/pages/activities.jsx#L13-L77 and allow `developedBy` props simply take `jsx/html` code

[2015-12-22 22:37] sabrinang commented on #1490
more meta-data to consider from spreadsheet: https://docs.google.com/spreadsheets/d/1cP9TOdqFNbP1qu_5aEiai1emYgcRa5IaCOfUUll0_Oo/edit#gid=1414253108

[2015-12-22 22:37] hannahkane opened #1514 "DUE JAN 17: Promotional assets for Gigabit RFP announcement"
Background: In early 2016, we'll open up an application process for projects in Chattanooga and Kansas City to receive funding. We'll need to promote this opportunity on social media.

Questions for @LindseyFrost:
 * Where exactly will we be sharing—Twitter and Facebook? (This affects the size of the assets we create.)
 * Will the promotion include email?
 * What is the final deadline for getting

[2015-12-22 22:38] #1264 closed

[2015-12-22 22:40] hannahkane commented on #1490
Great fodder for research questions. Would love to better understand what information is useful to people when they're searching. Let's set up some observations of people searching existing tools to understand their mental models.

[2015-12-22 22:46] hannahkane commented on #1462
@kristinashu - I think this is terrific. I added a few comments, but they are small. I think the overall flow is great, and I love how it gives a little insight into the behind-the-scenes action.

[2015-12-22 23:05] cassiemc commented on #1508
Great @kristinashu

[2015-12-22 23:15] mmmavis commented on #1511
@kristinashu if you could make the assets 460px wide (and so 920px for retina) I can make sure they appear as wide as the section width. :+1:

[2015-12-22 23:16] #1513 closed

[2015-12-22 23:20] mmmavis commented on #1469
Nice catch @kristinashu ! It was some copy and paste mistake, heh, I just fixed this in https://github.com/mozilla/teach.mozilla.org/commit/9d3cf00f8804bb23db1d67afaa8393b930a3e9fc

[2015-12-22 23:20] #1469 closed

[2015-12-22 23:48] hannahkane commented on #1443
Per conversation with @sabrinang - let's consider this a rolling ticket, and do some add'l benchmarking in January, perhaps with an emphasis on tools that index external content.

[2015-12-23 00:03] kristinashu commented on #1511
@mmmavis here you go https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLbDJPem5qNXVIVjg&usp=sharing
Thanks!

[2015-12-23 07:56] mmmavis commented on #1185
no longer applicable

[2015-12-23 07:56] #1185 closed

[2015-12-23 07:59] mmmavis commented on #1062
Moving this to the first heartbeat of 2016.  Would like to check with @Pomax about whether or not we should close this ticket.

[2015-12-23 08:01] mmmavis commented on #790
Moving this to Jan 15, 2016 heartbeat for further discussion

[2015-12-23 08:03] mmmavis commented on #792
obsolete :no_good:

[2015-12-23 08:03] #792 closed

[2015-12-23 12:08] chadsansing commented on #1499
I see. I guess I'd go back way to @jgmac1106's comment to call such a page 'Curriculum' and link to hubs under that. Sorry for the confusion! 'Frameworks' makes me think of pedagogical approaches like contructivism, etc.

[2015-12-23 18:09] anmechung commented on #1499
Jumping in on this thoughtful conversation.  +1 to jgmac1106 early comment: "elevating the web literacy map as a top level nav link rather than a sub-link. That is the framework that underpins the curriculum and the badges. It is what Mozilla believes you need to know in order to read, write, and participate on the web." Agree that it should be the philosophical underpinnings/principles of the cur

[2015-12-23 19:22] mmmavis commented on #1362
@hannahkane

You can edit that page directly on Github via https://github.com/mozilla/webmaker-curriculum/blob/gh-pages/index.html

Click that pencil icon to edit the code.
<img width="359" alt="screen shot 2015-12-23 at 11 14 23 am" src="https://cloud.githubusercontent.com/assets/2896608/11983170/5c0b3a12-a966-11e5-97c4-efa8331b0f15.png">

If you want the change to appear live right away, choose

[2015-12-23 19:54] mmmavis commented on #455
merry xams :tada:

[2015-12-23 21:26] hannahkane commented on #1499
Cool. Thanks, everyone, for the conversation. While I'm a little bit confused about whether we see the Web Lit Map as a top level item or a sub-item, I'm actually not concerned about that level of detail at this point. I think this ticket was really about whether we see Teach.m.o including curricular content beyond Web Literacy (e.g. Participation), and I think we definitely do.

Going to close th

[2015-12-23 21:26] #1499 closed

[2015-12-23 22:09] anmechung commented on #1499
Sorry for the confusion - at this point, I agree with jgmac1106 that web literacy 2.0 map should be a top level nav link.  Looking forward to continue discussing in the new year!

[2015-12-23 23:14] #1511 closed

[2015-12-24 00:33] #1489 closed

[2015-12-27 22:42] emmairwin commented on #1499
I would say that Participation aligns well with the web literacy map- especially if three pilars are read/write participate.
* Design contribution for example covers :  Design (under build), perhaps accessibility(under build), collaborating and open practices (both under participate)collaborating and open practices (both under participate)
* Code contribution to connected devices:  web mechanics (

[2015-12-27 22:47] emmairwin commented on #1499
"Important context: when we imagine the "Curriculum" page, we can think of it in the context of the to-be-built Curriculum database that will allow us to pull in a variety of curricula, not just Web Literacy. Given that, I think it makes sense to include the Participation Leadership framework "

yes!  complimentary.  we are testing the framework in singapore, and my have strengthened vision afterw

[2015-12-27 23:51] jgmac1106 commented on #1499
I agree. Though don't want to muddy the ticket in terms of web literacy and
participation being subpages under a curriculum framework page.

I may not be aware of all the meta conversations occuring in terms of web
properties.

If teach.mozilla.org is going to be a stand-alone destination for MoFo web
literacy than the map makes sense as top nav.

If it will include the leadership and advocacy  as

[2015-12-30 07:32] issasouktel opened #1519 "Client ID for webmaker"
I have an issue with authenticate user, when the backend API redirect the user to webmaker the client-id in url is sent as None, i have to get client Id for webmaker

webmaker url
https://id.webmaker.org/login?client_id=None&response_type=code&state=NtDoNES00uER4gDqx3kD4GO9GHT2OKXU&scopes=user%20email

[2015-12-30 21:01] Pomax commented on #1519
You mean redirect back to `teach.mozilla.org`? (webmaker is a product offering). The usual way we do this is to make the clientid an environment variable (loaded either by processing an `.env` file with something like [habitat](https://www.npmjs.com/package/habitat) --making sure to add `.env` to the gitignore-- or having it set as a real current environment variable).

You will need to create a c

[2016-01-04 18:18] hannahkane opened #1520 "Add Privacy Basics: Online Tracking module to /activities"
Note: We don't need to build a static page for the teaching kit. We only need to add the meta data to the /activities page.

Position: Immediately above "Privacy Basics: Passwords, Tracking, and Data Retention"
Image: https://mozorg.cdn.mozilla.net/media/img/teach/smarton/tracking/topic-think-deeper.2d1fbc329611.png
Title: Privacy Basics: Online Tracking
url: https://d157rqmxrxj6ey.cloudfront.net/

[2016-01-04 18:28] chadsansing commented on #1520
@hannahkane - lots of content, but meant to open folks' eyes to everything going on around them online. Let's try 'Beginner' and change it later of we get feedback re: difficulty.

[2016-01-04 18:29] hannahkane commented on #1520
Thanks @chadsansing! Updating first comment.

[2016-01-04 18:41] kristinashu commented on #1380
**Hero top banner images:**
Image treatment: Text over top of these images must be legible. We recommend a subtle black overlay and subtle gradient from the bottom fading to transparent at the top - without making the image too dark. Amount of dark overlay will depend on the specific image. Image treatment should look consistent on all of the images.
Image crop: Faces should be at the top of the i

[2016-01-04 18:43] #1380 closed

[2016-01-04 19:26] mmmavis commented on #1383
- [ ] http://blog.webmaker.org/
- [ ] https://id.webmaker.org
- [ ] http://mozilla.github.io/webmaker-curriculum pages

[2016-01-04 19:52] hannahkane commented on #1520
Needed for Internat'l Privacy Day Jan 28

[2016-01-04 21:24] mmmavis commented on #1506
We have footer icon on https://teach.mozilla.org/activities/ and https://teach.mozilla.org/events/ linking to the TLM page. Should we just remove the icon from these two pages?

[2016-01-04 21:24] mmmavis commented on #1506
@hannahkane

/cc @kristinashu

[2016-01-04 21:31] kristinashu commented on #1506
Lets replace the icon/link with a different one - maybe Follow on Twitter or Get Help? @hannahkane?

We can reference this JPG for all the link options https://redpen.io/p/brdabe854cc619f9b9

[2016-01-04 21:34] mmmavis commented on #1506
![fireshot capture 32 - web literacy - mozilla learn_ - http___localhost_8008_activities_web-literacy_](https://cloud.githubusercontent.com/assets/2896608/12101111/d75b281e-b2e7-11e5-964d-bf1ff77e764d.png)

@kristinashu we probably should update the line art again so that they are in pink :confounded:

[2016-01-04 21:36] mmmavis commented on #1506
@hannahkane are we okay with the url https://teach.mozilla.org/teach-like-mozilla/web-literacy/ still? I'm thinking maybe we can redirect it to `/activities/web-literacy/` instead so that it matches the sidebar hierarchy?

[2016-01-04 21:43] kristinashu commented on #1506
Just remembered the 3-up links should be removed https://github.com/mozilla/teach.mozilla.org/issues/1461 - so please go ahead and remove them.

I'll updated the top line icon to pink now.

[2016-01-04 21:45] mmmavis commented on #1461
@kristinashu just wanna double check - are we removing 3-up links from ALL pages on the MLN site?

[2016-01-04 21:50] kristinashu commented on #1461
@mmmavis the primary level pages (ex. home, teaching activities, mozilla clubs, maker party...) should all have the 3-up links but secondary pages (event resources and web lit map) and third level pages should not have the links.

[2016-01-04 21:55] LindseyFrost commented on #1514
* Where exactly will we be sharing—Twitter and Facebook? (This affects the size of the assets we create.)

Both.

* What is the final deadline for getting you these assets?

    January 17, 2016 for my sign off before 2 weeks of PTO

* For how long will you be promoting this? (The longer we do this, the more assets we should create. If we're going to be promoting for longer than a couple weeks, I'

[2016-01-04 22:17] flukeout opened #1522 "Curriculum Database Research"
We've decided to kick off the new year with a little bit of research. We're going to talk to **5 educators** to find out how they currently search for and evaluate teaching materials and resources and how they would do that in a perfect world. We'll also do a little bit of observation to see how they do that today.

**Here's the outline** - [Curriculum Database Research](https://docs.google.com/do

[2016-01-04 22:20] mmmavis commented on #1508
@kristinashu can you help update `icon-classroom.svg` so it's in blue! :+1:

[2016-01-04 22:21] mmmavis commented on #1508
@kristinashu can you also provide a version of `icon-classroom.svg` in blue (for the modal on homepage)! :+1:

[2016-01-04 22:36] flukeout opened #1523 "Create a Curriculum Database deck to assist with research"
We already have a nice deck for [Thimble in the Classroom](https://docs.google.com/presentation/d/1CEC3YcpPIR4IRvBOaTF9b--NXLOmXFUCgpeCgcI6Dn0/edit#slide=id.p), and it would be useful to have something similar for our ideas about the Curriculum Database.

We can weave the two of them together or keep them separate.

**Questions**
* One deck for each or should we incorporate into one?
  * If we com

[2016-01-04 22:46] kristinashu commented on #1508
Here you go https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLeXV0WGtrZmJxQmc/view?usp=sharing

Is there a way to change the colour of an SVG through code?

[2016-01-04 22:52] kristinashu commented on #1506
@mmmavis here's the top icon in pink https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLSkF6QzBwaTZwUUE/view?usp=sharing

[2016-01-04 22:52] mmmavis commented on #1508
If the SVGs are always in one color I can do find/replace to update the color code used in `fill` attribute in the SVG's raw code. Not sure if we want to keep the design asset folder up to date with the files I manipulated though.

[2016-01-04 23:24] kristinashu commented on #1461
@mmmavis you removed the 3-up links on this page in https://github.com/mozilla/teach.mozilla.org/issues/1506 so now we just need to add a link to the white paper (https://mozilla.github.io/webmaker-whitepaper/)

I've mocked up an example of how the bottom section could look:
![web-literacy---mozilla-learning-2016-01-04-13-56-58](https://cloud.githubusercontent.com/assets/1068783/12103443/1681ba76-

[2016-01-04 23:26] hannahkane commented on #1523
Just a note that the Thimble in the Classroom deck and wireframes could be modified to be less Thimble-specific, too.

[2016-01-04 23:28] hannahkane commented on #1506
@mmmavis - good question about the url. We should change it. Is it possible to have the old link redirect to it, since it may be published in some places?

[2016-01-04 23:41] hannahkane commented on #1522
awesome. added my two cents.

[2016-01-04 23:57] #1508 closed

[2016-01-05 00:00] mmmavis commented on #1461
@kristinashu gotach! thanks for the clarification!

[2016-01-05 00:05] mmmavis commented on #1506
@hannahkane

yup, will do.

[2016-01-05 00:12] #1506 closed

[2016-01-05 00:30] #1461 closed

[2016-01-05 01:02] #1520 closed

[2016-01-05 16:21] cassiemc opened #1527 "Centre tools logos with headlines"
On https://teach.mozilla.org/tools/, the tools logos should be horizontally centred with the headlines. Looks like they are slightly to the left.

Here's what I see in chrome mac Version 47.0.2526.106
<img width="1014" alt="screen shot 2016-01-05 at 11 19 13 am" src="https://cloud.githubusercontent.com/assets/1186326/12120314/598fe674-b39e-11e5-8524-3a36c8860db5.png">

[2016-01-05 16:33] cassiemc commented on #1522
Would add to the checklist, figure out your testing setup. Would be useful to record the screens / and or faces for observation and note-taking or later reflection. During the interviews it's helpful to have two people present, one observing and one taking notes.

[2016-01-05 16:44] cassiemc commented on #1522
@flukeout @hannahkane I want to commend you both for taking this on. As I was reading through the questions, it's clear that this type of user observation and testing will lead to some extremely valid insights! I'm so glad we're doing this.

I linked to this in the doc but if it's helpful, feel free to riff on this webmaker testing script from 2013 – https://docs.google.com/document/d/1PzyffnkznSu

[2016-01-05 17:00] anmechung commented on #1522
Great idea.  Added my 2 cents.

[2016-01-05 18:02] sabrinang commented on #1457
Clickable prototypes are here:

Design 1 - https://marvelapp.com/106ifc6
Design 2 - https://marvelapp.com/bcbd6e

[2016-01-05 18:25] flukeout commented on #1522
**Benchmarking other databases**
* http://assignments.ds106.us/

[2016-01-05 18:27] hannahkane commented on #1522
@flukeout - also see #1443

[2016-01-05 18:35] chadsansing commented on #1457
So happy to watch all of this progress. The Civ V grognard in me likes the hexagons, especially, as a pathway-mappable field.

[2016-01-05 19:02] anmechung commented on #1457
@chadsansing - :)

We're sending this out to all the folks who participated in the focus groups to get their feedback by end of next week.

[2016-01-05 19:30] natalieworth commented on #1247
@kristinashu Have a draft of the book illustration up on red pen: https://redpen.io/p/ugc7c37b6146ed5b34 I haven't added animation yet, so it may slightly affect the layout of the design depending on how the pages move but I'm not anticipating it'll change too much.

[2016-01-05 19:34] kristinashu commented on #1247
@natalieworth sweet, looks great! The layout is super flexible so don't let that restrict you. Looking forward to seeing it animated!

[2016-01-05 19:36] mmmavis commented on #1247
@kristinashu @natalieworth Rad! :tada:

I volunteer to implement this page! Don't wanna lose the opportunity to practice my CSS animation skills. Heh!

[2016-01-05 19:39] natalieworth commented on #1247
@mmmavis Would CSS animation be easier for you to implement? I was also thinking we could create a gif for it, but would this be more difficult on your end? Or I could mock it up in After Effects for how the motion should look, then we could try animating it in CSS?

[2016-01-05 20:02] hannahkane commented on #1360
Hey @flukeout - where are we on this? Trying to figure out when we'll be able to do the work of migrating Web Lit content to the new template.

[2016-01-05 20:18] flukeout commented on #1360
Hey @hannahkane - we are looking pretty good. Once the latest changes for Thimble go to production (and move the mobile thimble logo to the bottom right) we'll be able to provide a Thimble project as a template for future activities.

I'll keep you posted on when those changes hit production (sometime today or tomorrow).

[2016-01-05 20:56] mmmavis commented on #1247
@natalieworth I do agree this might be too complicated for me a CSS animation n00b to implement ha! Let's go with gif first in case it takes me forever to animate it in code :bowtie:

[2016-01-05 21:34] flukeout commented on #1360
@hannahkane Okay, the latest changes have been pushed to production, so the curriculum template should work now as a remixable project. Let's chat in stand about next steps.

[2016-01-05 21:52] flukeout opened #1528 "Recruit and schedule 5 research participants"
Check #1522 for more background.

We need 5 educators who are teaching or planning to teach web literacy concepts. Ideally, we want a mix of the following attributes among our participants...

* Classroom and out of classroom teaching experience
* Age of students
* Length of time teaching

Remote or in-person meetings will work for this.

**Details**
Each session will take approximately 30 minutes

[2016-01-05 21:59] cassiemc commented on #1528
@flukeout Not sure if you were planning to actually put stuff down here, but do note there are privacy issues around sharing personal details of research participants. Let me dig out those terms from Moco for you before you add anything publicly.

[2016-01-05 22:01] hannahkane commented on #1528
@anmechung @chadsansing - any recommendations for educators we might contact to participate in a 30-minute research study? As per Cassie's comments, please email @flukeout and me, rather than share contact details here.

[2016-01-05 22:01] flukeout commented on #1528
@cassiemc Yeah good point - I'll set up a separate doc for keeping track.

[2016-01-05 22:04] hannahkane commented on #1360
@flukeout. Rad. Thanks! Let's talk tomorrow.

[2016-01-05 22:10] anmechung commented on #1528
Yes - will send via email

[2016-01-05 22:12] anmechung commented on #1528
Also - is this just a survey focused on teaching youth? Or adults too?

[2016-01-05 22:18] flukeout commented on #1528
@anmechung Ideally a mix of both, as it might change where and what types of materials they look for and use.

[2016-01-05 22:52] sabrinang commented on #1523
existing wireframes in this redpen: https://redpen.io/p/cgf221df5b11a7be4a

[2016-01-05 23:02] sabrinang commented on #1514
@LindseyFrost Can you relink the Gigabit Fund Photo Library URL? It doesn't work for me :(

[2016-01-05 23:08] LindseyFrost commented on #1514
@sabrinag I would be it seems to have disappeared entirely! AHHH!  Panic searching and will let you know tomorrow.

[2016-01-05 23:40] #1463 closed

[2016-01-05 23:56] mmmavis commented on #1383
@sabrinang

should I remove Webmaker logo from ALL pages on http://mozilla.github.io/webmaker-curriculum (there are around 32 pages in total)? Or just the ones that are linked from https://teach.mozilla.org/activities/ (kits captured in your screencap)?

[2016-01-06 00:07] sabrinang commented on #1383
@mmmavis Please remove all old webmaker logo branding from the upcoming curriculum queue as well - I forgot about those!

[2016-01-06 00:07] hannahkane opened #1530 "Design for replacing Pledge to Teach with Newsletter Sign up"
The Pledge to Teach CTA has pretty low homepage performance compared to the other two CTAs. Additionally, participants in Laura and Bobby's research study found the language non-intuitive.

Let's replace the Pledge with a simple Newsletter sign-up

TODO:
 - [ ] Design CTA button (Icon, plus short CTA - e.g. "GET EMAIL UPDATES")
 - [ ] Design lightbox (could use copy from newsletter signup on /comm

[2016-01-06 00:09] hannahkane commented on #1530
@ldecoursy - would you be up for drafting new copy for the auto-email? This is an opportunity to update the existing copy which, as you mentioned, is out of date anyway (references "back to school").

/cc @chrislarry33 @kgorr @kristinashu @mmmavis @sabrinang @Pomax @adamlofting

[2016-01-06 00:16] anmechung commented on #1522
I did some editing of the questions including adding multiple choice responses so that one can collect background info more quickly, and grouping questions for flow.  If this is for both young people and adults, I'd recommend interviewing 5-10 educators to get the range and different perspectives.  Sending recommendations via email to @flukeout and @hannahkane with cc @chadsansing

[2016-01-06 00:28] flukeout commented on #1522
Thanks so much for your help @anmechung!

[2016-01-06 00:30] hannahkane commented on #1522
This is looking really good. Re: age of learners—I'd thought we were targeting our web lit curriculum to the14-24 age group, though of course it can be adapted for different audiences. Am I way off base, @chadsansing?

[2016-01-06 00:48] flukeout commented on #1522
But, the database itself might have curriculum that's suitable for a wider age range, yeah?

[2016-01-06 00:50] hannahkane commented on #1522
Good point.

[2016-01-06 01:45] jgmac1106 commented on #1528
I would also look to select one or two people involved in OER as they
probably have the most experience with curriculum databases.

On Tue, Jan 5, 2016 at 5:18 PM Luke Pacholski <notifications@github.com>
wrote:

[2016-01-06 02:15] mmmavis commented on #1383
@sabrinang no worries. will do!

One more question -

Do we want to remove the Webmaker logo off of
- https://id.webmaker.org/ entirely
- Or just the "page" that is used as Teach site login?

[2016-01-06 02:26] anmechung commented on #1528
@jgmac1106 - good idea.  Can you email me with some suggestions and I'll forward?

[2016-01-06 03:52] sabrinang commented on #1457
The email is sent out to present 2 concepts for feedback today.
Form:  http://goo.gl/forms/5kRmzW7200

We also collect design feedback directly on Marvel:
Design 1: https://marvelapp.com/106ifc6
Design 2: https://marvelapp.com/bcbd6e

Feel free to give design feedback on google form or marvel - closing this ticket!

[2016-01-06 03:52] #1457 closed

[2016-01-06 11:13] chadsansing commented on #1522
@hannahkane, the default audience is 13+ because of ToS; however, ideally, we're always thinking about how to support leaders working with audiences of all ages.

[2016-01-06 15:57] hannahkane commented on #1383
Might need @simonwex, @HPaulJohnson, @xmatthewx or @cassiemc to weigh in on whether to remove or replace on id.webmaker.org.

[2016-01-06 17:02] ldecoursy commented on #1530
Happy to - can you give me a deadline?

[2016-01-06 17:05] hannahkane commented on #1530
How about final copy by end of next week, so we can implement the following heartbeat?

[2016-01-06 17:08] ldecoursy commented on #1530
ok!

[2016-01-06 18:11] LindseyFrost commented on #1514
Well, @sabrinang, after about six hours of trying to find the mysterious missing folder, no luck!  So I'm trying to rebuild from scratch.  This will grow over the week:  https://drive.google.com/folderview?id=0B4nL9nCthgXlN1NFWDhtT0wwMDA&usp=sharing  There are also photos on the Hive CHA facebook page: https://www.facebook.com/hivecha/photos_stream?tab=photos_albums

In Google Drive folder, folder

[2016-01-06 18:18] hannahkane commented on #1522
thanks for details. broad age range it is!

[2016-01-06 18:49] mmmavis commented on #1510
@hannahkane
apologies if this was stated somewhere already - what url should we give to this Leadership Opportunities page?

[2016-01-06 18:55] hannahkane commented on #1510
It wasn't. (I should really make that ticket template you suggested awhile back.)

I think /opportunities will work.

[2016-01-06 19:42] jgmac1106 commented on #1510
Should there be another section pointing to MoCo resources.
Something like:

 As a Developer:
-Pretty image-Points to MDN
-Pretty image-Points to wherever contributors are onboarded or something
-Pretty image-Points to somewhere

Just an idea that we think about Leadership opportunities across Mozilla
and not just in MoFo

On Wed, Jan 6, 2016 at 1:55 PM hannahkane <notifications@github.com> wrote:

[2016-01-06 20:47] mmmavis opened #1531 "Toggle subnav items based on DOM hierarchy instead"
Currently we toggle subnav items on the sidebar based on the **URL hierarchy**.

For example:
URL of the Maker Party page is https://teach.mozilla.org/events/ . Visiting any pages under the directory of `/events` expands the subnav item section on the sidebar (seen in the screencap)
<img width="253" alt="screen shot 2016-01-06 at 12 36 09 pm" src="https://cloud.githubusercontent.com/assets/2896608

[2016-01-06 20:48] mmmavis commented on #1531
/cc @Pomax

[2016-01-06 20:59] flukeout commented on #1528
@hannahkane Could you look over the participant email draft in [Participant List & Schedule](https://docs.google.com/document/d/1aIrr2fvy1_01azyhH1pmId9VBHE0wNoycFOh5ya74Lo/edit) - if you're good with it, we can start sending it out.

Thanks for the rewrite & edits @anmechung!

[2016-01-06 21:25] hannahkane commented on #1528
R+ Looks good.

[2016-01-06 21:38] hannahkane commented on #1510
Interesting point, @jgmac1106. We link to the MDN Fellowship, but we could think more broadly about other opportunities to include (Reps?) Will file as a separate ticket though, since the design for this ticket is already completed.

[2016-01-06 22:01] hannahkane opened #1532 "Copy audit"
Revisit all site copy with the following goals in mind:
 * Use inclusive language - no jargon or buzzwords
 * Frame everything in the context of the community, rather than "us"
 * Provide great onboarding (offer explanations of original concepts and ideas; offer first steps for first time visitors)
 * Make stronger case for Mozilla's role in education (e.g. showcase history, credibility in this ar

[2016-01-06 22:05] hannahkane commented on #1532
Wondering if @ldecoursy and @KevZawacki would like to be involved in this work? Timeframe is probably flexible.

[2016-01-06 22:05] hannahkane commented on #1532
Also, perhaps styleguide should be more of an org-wide venture? @chrislarry33?

[2016-01-06 23:00] mmmavis commented on #1510
@hannahkane @kristinashu any idea where in the sidebar we want to put "Event Resources"?

[2016-01-06 23:08] hannahkane commented on #1510
@mmmavis - ah, good question. If we don't want to do a third level in the nav (@kristinashu?), maybe we just leave it out of the nav. Users can get to it from the Maker Party page itself.

[2016-01-06 23:08] kristinashu commented on #1510
Yeah that's what I was thinking.

[2016-01-06 23:12] mmmavis commented on #1510
cool, thanks

[2016-01-07 00:48] sabrinang commented on #1514
@LindseyFrost Can you provide the copy for these posts so we have appropriate CTAs on the graphics to accompany them? If the post is different on Facebook than on twitter please indicate and write both. So far it looks like there are 3 posts with graphic content, for example:

**Post 1 - January 26, 2016**
Copy for FB and/or Twitter post: *TBD*
possible CTA copy for graphic: *we’re open for applic

[2016-01-07 03:29] mmmavis commented on #1531
Oops, just took a closer look at the current implementation - turned out it's the `highlightSubNav` function that needs fixing.  We are **already** toggling subnav items based on the DOM hierarchy.

Closing this ticket now. :wink:

[2016-01-07 03:29] #1531 closed

[2016-01-07 14:59] cassiemc commented on #1383
I would replace it on id.webmaker.org with the new webmaker logo, and remove it from the teach site login.

[2016-01-07 17:40] LindseyFrost commented on #1514
I love the one on the left, @sabrinang! This is exactly what we had in mind.  I've tried to do draft twitter posts for each of these, so we can get the appropriate CTAs.  Facebook copy will be very similar.  I think you're right that three graphics are probably exactly what we need.

Post 1 - January 26, 2016
Copy for FB and/or Twitter post: Today, we're launching our 2016 application window at th

[2016-01-07 19:25] KGorr opened #1534 "Set up Community newsletter template & content into Exact Target"
Starting in January, we'll be sending a monthly newsletter to the MLN community via Exact Target. This ticket is to input the design template, and the January content, into Exact Target.

**Design Template Ticket here**: https://github.com/mozilla/teach.mozilla.org/issues/1428

**January content here**: http://mzl.la/1OdyVA5

[2016-01-07 19:27] KGorr commented on #1534
@stephaniemcv @ldecoursy @mmmavis

[2016-01-07 19:30] hannahkane commented on #1534
@kgorr - Do you have a target date for sending?

[2016-01-07 19:33] KGorr commented on #1534
Pending approval on communication plan from @ldecoursy...

[2016-01-07 19:45] ldecoursy commented on #1534
Ideally we can get this out no later than Jan. 28. Preferably the week of the 18th.

[2016-01-07 19:49] hannahkane commented on #1534
If possible, I'd rather not add to the current heartbeat, which ends Jan 15th, and is very full. We can put it at the top of the list for the heartbeat that *starts* on the 18th. Does that work for you?

[2016-01-07 20:22] ldecoursy commented on #1534
That would work. Adding @stephaniemcv too as I know she and @KGorr had an initial convo about this.

[2016-01-07 20:25] hannahkane commented on #1534
Apologies—didn't realize @stephaniemcv had already been consulted. @stephaniemcv - feel free to assign this ticket to yourself if you're able to implement the January mailing.

[2016-01-07 21:03] hannahkane opened #1535 "Design Encryption Campaign promo banner for teach site"
The Encryption Campaign kicks off on January 28th. There will be a landing page for it that we can point to from the Teach.m.o promo space (this will replace the Thimble banner).

cc @HPaulJohnson @brettgaylor @valianttry to advise on copy and design

[2016-01-07 21:03] hannahkane commented on #1535
cc @ldecoursy

[2016-01-07 21:04] hannahkane opened #1536 "DATE TBD: Replace Thimble banner with Encryption banner"
Banner design: #1535
Link to: [url TBD]
Start date: [TBD]
End date: [TBD]

@HPaulJohnson to advice on the above

[2016-01-07 21:29] hannahkane opened #1537 "Change links to Web Lit Basics activities"
Currently, on https://teach.mozilla.org/activities/web-lit-basics/, we link to six activities that live in http://mozilla.github.io/webmaker-curriculum/

@soapdog has been overseeing a project to get those activities localized into several languages (yay!). The translations are accessible via a dropdown menu on a different version of each of the six activities. Here are the EN versions of each act

[2016-01-07 21:35] hannahkane commented on #1537
We also have a bit of a versioning problem now, since we have two EN versions of each activity. Should we consider the newer ones canon now?

[2016-01-07 21:51] ldecoursy commented on #1537
I like it - we can describe in the blog post how to access the translated content. Other solution to link to the translations from each of the individual activities would take more time/resources, including adding new translations, where the solution Hannah outlines will take new translations into account more automatically.

[2016-01-07 23:31] #1510 closed

[2016-01-07 23:53] mmmavis commented on #1500
@kristinashu I'm gonna change colour of the Clubs pages icons to `#3379AC` so that it matches the Leadership Opportunities page icon colour

[2016-01-07 23:58] kristinashu commented on #1500
@mmmavis prefect thanks!

[2016-01-08 00:27] flukeout opened #1538 "Create remixable curriculum template in Thimble"
We've done a bunch of work on the template so far in #1360 - it's time to take that work and create a useable template in Thimble.

**To do**
* [x] Remove the Kraken the Code content and make things generic
* [ ] Create a markup guide similar to the one for tutorials within Thimble ([This one!](https://thimble.mozilla.org/tutorial/tutorial-style-guide.html))
* [x] Test by trying to convert existin

[2016-01-08 00:44] sabrinang commented on #1514
@LindseyFrost Thanks for drafting those posts and CTAs up! Take a look at these 3 post graphics on redpen and let me know what you think: https://redpen.io/p/fjaf4a6f7c15b89142

[2016-01-08 11:16] chadsansing commented on #1538
Ready, steady, go! Can test beginning late next week (post travel).

[2016-01-08 12:05] jgmac1106 commented on #1538
Let me know if you need any help testing it. We are getting ready for
#walkmyworld. It will be Thimble heavy.

On Fri, Jan 8, 2016, 6:16 AM Chad Sansing <notifications@github.com> wrote:

[2016-01-08 12:12] chadsansing commented on #1538
I say, 'Jump in!', @jgmac1106!

[2016-01-08 17:56] hannahkane commented on #1538
Just a note for @chadsansing and @jgmac1106  - given #1537, we might want to start testing with a module other than Web Lit Basics, because the l10n aspect adds an extra wrinkle.

@flukeout - We do need to consider l10n as one of the requirements for curriculum formats moving forward, though.

[2016-01-08 18:42] jgmac1106 commented on #1538
Is there a link to the Thimble project? I will play with Bridge to Infinity.

[2016-01-08 18:52] chadsansing commented on #1538
@jgmac1106: try https://d157rqmxrxj6ey.cloudfront.net/chadsansing/22265/.

[2016-01-08 19:03] jgmac1106 commented on #1538
not the bridge project but the curriculum template project.

On Fri, Jan 8, 2016 at 1:52 PM Chad Sansing <notifications@github.com>
wrote:

[2016-01-08 19:04] chadsansing commented on #1538
D'oh.

[2016-01-08 19:26] flukeout commented on #1538
I'm working on it now, and will add it to this ticket when it's ready, probably later today!

[2016-01-08 19:40] mmmavis commented on #1500
@kristinashu

Are the icons hyperlinked as well?

[2016-01-08 19:48] kristinashu commented on #1500
Yes, it should be one big hover area - same as now. Just adding the some blue text as an extra visual cue. But doesn't matter if someone hovers over the icon or the text, it has the same effect and link.

[2016-01-08 20:25] cassiemc commented on #1535
Better include @lovegushwa for design perspective

[2016-01-08 21:52] natalieworth commented on #1247
@kristinashu Super rough, but I was able to get the page flip plug-in to work in ae! I'll have to adjust a lot of things still, e.g. timing, position, add more pages flipping, etc.—so this is just to get an idea of the flip :)  (page is pink too since it was hard to see/ animate with white on white, but I will change the colours back if the gif works out)
![book_layers_04](https://cloud.githubuser

[2016-01-08 21:58] kristinashu commented on #1247
OMG it's working! Very cool.

[2016-01-08 22:09] mmmavis commented on #1500
okie dokie

[2016-01-08 22:13] mmmavis commented on #1383
- Ticket for updating Webmaker logo on id.webmaker.org has already been filed here: https://github.com/mozilla/id.webmaker.org/issues/405
- I'll file a separate issue on id.webmaker.org for removing it from Teach site login.

[2016-01-08 22:26] #1500 closed

[2016-01-09 00:37] #1502 closed

[2016-01-11 14:36] ldecoursy opened #1541 "Update distro list for new Club submissions"
Can we update the list of folks who receive individual notifications when Clubs are submitted?

@amirad Can you share your preferred list?

[2016-01-11 17:00] amirad commented on #1541
Hmm,

Myself
Kristina
Lainie (?)

I really don't see the point of having too many people on it so minimizing the list is probably a good idea!

[2016-01-11 17:20] ldecoursy commented on #1541
I don't need to be on it ;)

[2016-01-11 17:20] amirad commented on #1541
lolz

Then just Kristina and I are probably needed for now.

[2016-01-11 18:13] Pomax commented on #790
this still seems an imminently good idea.

[2016-01-11 19:29] mmmavis commented on #1383
- [x] http://blog.webmaker.org/
- [ ] teach site login pages on id.webmaker.org (ticket filed: mozilla/id.webmaker.org#407)
- [x] http://mozilla.github.io/webmaker-curriculum pages

[2016-01-11 21:10] sabrinang commented on #1514
Hey @LindseyFrost can you give me feedback on what you think of the posts on redpen? https://redpen.io/p/fjaf4a6f7c15b89142

If possible can you give me feedback by tomorrow to ensure we leave enough time for any adjustments, exporting sizes and design review before Friday since you'll be away for PTO next week.

[2016-01-11 21:12] LindseyFrost commented on #1514
Hey @sabrinang - I love them!  Apologies for delayed response.  Absolutely perfect!

[2016-01-11 22:18] mmmavis commented on #1449
finally live! woohooo https://www.mozilla.org/gigabit/ :tada:

[2016-01-11 22:19] LindseyFrost commented on #1449
Woooooo!!!  So excited!  Huge thanks to you all!!!

[2016-01-11 22:46] flukeout commented on #1538
@chadsansing Hey so I've published the curriculum template here:
https://d157rqmxrxj6ey.cloudfront.net/flukeout/17698/#overview

When you have a chance, could you please attempt to transfer an existing piece of curriculum (or a new one you're working on) to this template? When doing so, please make notes of what's working well and what isn't so that we can evaluate this approach.

Please ping me i

[2016-01-11 22:47] flukeout commented on #1538
I'm already noticing some weird scrolling problem with the navigation, I'll resolve that.

[2016-01-11 23:19] hannahkane commented on #1449
Looks awesome! OK to close?

[2016-01-11 23:24] #1459 closed

[2016-01-11 23:25] mmmavis commented on #1449
yup yup!

[2016-01-11 23:25] #1449 closed

[2016-01-12 01:57] jgmac1106 commented on #1538
typo line 46 in the javascript file has hash*

On Mon, Jan 11, 2016 at 5:47 PM Luke Pacholski <notifications@github.com>
wrote:

[2016-01-12 15:21] #1362 closed

[2016-01-12 17:37] Pomax commented on #1387
If we can defined these in terms of the base colours we want to use, and their permitted variants in terms of lightness/saturation adjustments, we can update the LESS to use only those, with a `lighter()` and `lightest()` mixin to ensure we only ever use the "right" colours.

[2016-01-12 17:37] Pomax commented on #1386
If we can defined these in terms of the base colours we want to use, and their permitted variants in terms of lightness/saturation adjustments, we can update the LESS to use only those, with a lighter() and lightest() mixin to ensure we only ever use the "right" colours.

[2016-01-12 17:41] Pomax commented on #1366
- Sign in
- Sign out
- Create an account
- Sentence case

With the booknote that "create an account" feels like the lesser of two evils, because there's no explanation of what it's an account for. If you go through thimble, you probably expect to get a Thimble account, not a "webmaker account". Similarly, "Sign up" isn't very clear about *what* you're signing up for, but feels less clear about wha

[2016-01-12 17:45] Pomax commented on #1307
@mmmavis giving this to you based on https://github.com/mozilla/teach.mozilla.org/issues/1247#issuecomment-169106812, feel free to reassign if that's no longer the case =)

[2016-01-12 18:03] cassiemc commented on #1386
Excellent thanks for that insight @Pomax

[2016-01-12 18:07] hannahkane commented on #1360
@flukeout - should we close this ticket, since you opened #1538?

[2016-01-12 18:12] mmmavis commented on #1247
Looking rad! :wink:
@kristinashu @natalieworth is this ready for implementation? Do I reference https://redpen.io/yw5a4c7ed0dce5e275 and substitute the static image with the awesome gif @natalieworth made?

[2016-01-12 18:16] kristinashu commented on #1247
@mmmavis not quite ready yet. @natalieworth is doing the finishing touches on the gif

You could build an interim static page tho, if you're keen.

[2016-01-12 18:16] flukeout commented on #1538
@jgmac1106 Thanks, fixed!

[2016-01-12 18:19] flukeout commented on #1360
@hannahkane Yeah, good idea. Work continues in #1538

[2016-01-12 18:19] #1360 closed

[2016-01-12 18:19] hannahkane commented on #1384
@chrislarry33 @ldecoursy @HPaulJohnson - this is basically a branding question, so want to get all of your input on this. If we aren't able to make a decision now, I can take this out of the current heartbeat.

[2016-01-12 18:21] hannahkane commented on #1541
@mmmavis - can I assign this one to you?

[2016-01-12 18:24] ldecoursy commented on #1384
I would suggest taking it out of this heartbeat. Think we need more time to be thoughtful about how/when we start changing brands (especially with this audience who has been through this with us once before).

[2016-01-12 20:04] mmmavis commented on #1247
Cool, that's fine. I'll wait till this design ticket is finished and close then :+1:

[2016-01-12 20:07] mmmavis commented on #1541
just self-assigned

so just keep Kristina Gorr and Amira on the list?

[2016-01-12 21:35] hannahkane commented on #1541
yep.

[2016-01-12 23:11] mmmavis commented on #1541
Updated! Amira/Kristina Gorr/Hannah/myself are on the distribution list now.

[2016-01-12 23:11] #1541 closed

[2016-01-12 23:19] flukeout commented on #1523
@sabrinang I reworked these three screens from your wireframes to match with the Thimble in the classroom stuff...

![image](https://cloud.githubusercontent.com/assets/25212/12280022/de7c641a-b93f-11e5-8377-f487d0ee97f4.png)

Do you think these three screens represent the bulk of the features from your wireframes?

[2016-01-12 23:21] mmmavis commented on #689
obsolete.

[2016-01-12 23:21] #689 closed

[2016-01-12 23:28] mmmavis commented on #798
Let's close this. We'll file a new ticket if what we have now on the production site is insufficient. :grin:

[2016-01-12 23:28] #798 closed

[2016-01-12 23:33] hannahkane commented on #1443
Also see http://howto.p2pu.org/modules/start/about-this-course/

[2016-01-12 23:37] mmmavis commented on #1342
Seems like this got fixed already. I can't reproduce it anymore. :relaxed:

[2016-01-12 23:37] #1342 closed

[2016-01-13 02:44] amirad commented on #1541
Thank you!

[2016-01-13 22:52] hannahkane opened #1543 "Start measuring and tracking Clubs application form success"
We've made a few changes to the Clubs application form and workflow so far, and have a few more possible changes in mind. As part of this work, I'd like to start tracking the effects our changes. Specifically, I'd like to track:
 * the ratio of denied applicants to the total number of applicants
 * the reasons we deny applications
 * % of people who exit the process before completing the survey st

[2016-01-13 22:57] hannahkane opened #1544 "Add "Regional Coordinator" field to Clubs application form"
Some Club Captains are recruited by RCs, and therefore don't need to be matched up with one after their application is approved. However, we can't know this based on the information provided in the application form.

Let's add an optional field, after the Website field, with the label: "If you already have a Regional Coordinator, please include their name (optional)" with the field helper text "Le

[2016-01-13 22:59] hannahkane commented on #1544
cc @amirad and @kgorr to approve copy and placement

[2016-01-13 23:21] hannahkane opened #1545 "Updates to /Clubs"
A few things to add:

1. The Clubs team has been working hard to finalize a series of resources for Club Captains. We need to make sure this content can be easily found by CCs. A longer term solution is to integrate this into an interactive Clubs Portal, but in the short term, we can add links to this content from https://teach.mozilla.org/Clubs

2. Add link to monthly office hours: http://mozilla

[2016-01-13 23:37] flukeout commented on #1523
Moving to next milestone, after discussing with @hannahkane - we'll revisit these once we have more data from the research and can build wireframes that reflect what we've learned.

cc @sabrinang

[2016-01-13 23:40] hannahkane opened #1546 "Summarize research results"
Format TBD

[2016-01-13 23:40] hannahkane commented on #1546
Assigning to @flukeout, but also @sabrinang

[2016-01-13 23:45] mmmavis commented on #1155
I just tested it on [Mapbox's site](https://www.mapbox.com/mapbox.js/example/v1.0.0/geocoding-auto/), it seems like Mapbox's dataset doesn't have good coverage for Greece (also re: coverage chart on https://www.mapbox.com/developers/api/geocoding/). :frowning:

[2016-01-13 23:51] mmmavis commented on #1155
Mapbox says [we can upload map data to our account](https://www.mapbox.com/help/#work-with-data-and-imagery).  Wondering if we can utilize it to expand the dataset coverage?

[2016-01-14 10:08] adamlofting commented on #1543
:+1: sounds sensible to me

[2016-01-14 15:23] KGorr commented on #1543
Having a reason for denial field would be great, that way anyone on the team can see it. The most common reasons are (in order of frequency):
- no response after initial application (they don't fill out interview questions)
- email bounces
- They aren't actually interested in being a Club Captain, just want info
- Not qualified
- Misunderstand what Mozilla Clubs are and what being a Club Captain m

[2016-01-14 15:27] KGorr commented on #1544
We have this RC question in the interview form (last Q): https://docs.google.com/a/mozillafoundation.org/forms/d/1J-S6nKTHd-yLzcWaE6Wu3pFesSYYdr3yfPlGECOPp44/viewform
I don't manage the RC process at all, though, so @amirad will have to speak to the usefulness of adding to the initial application.

[2016-01-14 15:36] ldecoursy commented on #1534
@stephaniemcv Anything else you need from us to prep this?

[2016-01-14 16:44] hannahkane commented on #1544
Oh, maybe I misunderstood. Thought it was desirable to have this question in the initial form, but if not, we can close this ticket. @amirad - can you please advise?

[2016-01-14 16:55] sabrinang commented on #1514
@cassiemc  Design R? https://redpen.io/p/fjaf4a6f7c15b89142
- logos have been centered
- exported at 4 different dimensions for twitter and facebook usage

[2016-01-14 17:08] cassiemc commented on #1514
@sabrinang Only comment is that the more horizontal layouts would benefit from a more horizontal layout, but it's not a breaker for these, just if you have time. R+!

[2016-01-14 17:28] hannahkane commented on #1538
Gonna roll this into the next heartbeat, because I don't think we'll finish testing by tomorrow. :)

[2016-01-14 17:28] hannahkane commented on #1522
Moving this parent ticket to the next milestone, since it's ongoing.

[2016-01-14 17:30] hannahkane commented on #1443
@sabrinang - do you want to keep this ticket open as ongoing work, or do you think its usefulness has run out?

[2016-01-14 17:59] sabrinang commented on #1443
@hannahkane I think we noted to consider this a rolling ticket so we remember to benchmark (I haven't benchmarked as of late however as we're doing the research interviews)

[2016-01-14 18:02] amirad commented on #1544
I'm curious as to whether clubs who have RCs don't submit the survey (so many reasons this could occur, they don't think they need too, language barrier etc.). I think we should move it to the website.

"If you already have a Regional Coordinator, please include their name (optional)" with the field helper text "Leave this blank otherwise" (we aren't matching new clubs that sign up at the moment s

[2016-01-14 18:34] amirad commented on #1543
Should we expand on what not qualified means? Aren't able to mentor others? Don't have a group to teach?

[2016-01-14 18:53] ldecoursy commented on #1530
@hannahkane Draft copy is here: https://docs.google.com/document/d/1ooUGuo-i3GF1XssvgsBpYYB7FfKK2QumkRbMHW3ftgo/edit  Always open to edits :)

[2016-01-14 19:24] amirad commented on #1545
It's the list of guides/resources in this doc (at the end of 2015 reflection): https://docs.google.com/document/d/1JF56YrbVy42joIyaApW7h5lw-CFhPCma8EpEVo2I5_E/edit

[2016-01-14 22:08] sabrinang commented on #1514
Thanks for the feedback @cassiemc

https://redpen.io/p/fjaf4a6f7c15b89142
- I made layout adjustments for the horizontal layout for post 2 & 3
- For post 3, I added text "Submit a proposal" to balance out the space

[2016-01-14 22:18] cassiemc commented on #1514
Nice, @sabrinang!

[2016-01-14 22:51] mmmavis commented on #1492
:turtle: sorry for the wait.  changes are now live. :tada:

[2016-01-14 22:51] #1492 closed

[2016-01-14 22:55] ldecoursy commented on #1492
Thank you!
On Jan 14, 2016 5:51 PM, "Mavis Ou" <notifications@github.com> wrote:

[2016-01-14 23:15] hannahkane commented on #1545
Thanks, @amirad.

@sabrinang - this might be a good one to look at if you have time. The task would be to take a look at the guides in the doc and think about how we'd present links to them on /Clubs.

[2016-01-14 23:20] hannahkane commented on #1530
Thanks, @ldecoursy. Looks really good. I added a couple comments.

[2016-01-14 23:46] hannahkane opened #1548 "Create inventory of existing Clubs websites"
Many of the Clubs on https://teach.mozilla.org/clubs/list/ link to a website. Let's review them for common themes and needs. This will inform storytelling support we provide to future Clubs.

Suggest we track:
 * what platforms Clubs are using
 * main purpose of site (e.g. recruitment, storytelling)
 * what broad categories of content ppl are including (e.g. stories, profiles of members, activitie

[2016-01-15 00:14] sabrinang commented on #1514
@LindseyFrost The final social assets are complete and can be downloaded from this gdrive folder: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_ebGRFOTN1ci1GdTg&usp=sharing

All 3 posts are exported in 4 dimensions for facebook and/or twitter:
<img width="1272" alt="screen shot overview" src="https://cloud.githubusercontent.com/assets/2492510/12341755/c9087566-bad8-11e5-83e0-3bf

[2016-01-15 00:14] #1514 closed

[2016-01-15 12:15] KGorr commented on #1544
So, to confirm @amirad, I should remove this question from the interview form?

[2016-01-15 12:19] KGorr commented on #1543
Could be interested in swag (more than teaching the web); wrong motives, no connections.

Those are the reasons I've denied a club this far. Could be other reasons in the future...

[2016-01-15 12:57] chadsansing commented on #1538
Here is a test activity - image/sidebar skews way big. User error?

https://d157rqmxrxj6ey.cloudfront.net/chadsansing/24387/#overview

[2016-01-15 13:19] jgmac1106 commented on #1538
In line 131 of CSS you can play with the image size and reduce it from 100%.

You also chose a rectangular image. When I choose a square image for the
aside it works fine.

On Fri, Jan 15, 2016 at 7:57 AM Chad Sansing <notifications@github.com>
wrote:

[2016-01-15 14:04] chadsansing commented on #1538
Image resize in CSS results in changing the image width without chancing the aside width.

[2016-01-15 15:55] ldecoursy commented on #1530
Edits made!

[2016-01-15 16:20] soapdog commented on #1537
CC @soapdog

[2016-01-15 17:31] flukeout commented on #1538
@chadsansing @jgmac1106 Thanks for looking into this. Looks like the longer step titles in Chad's activity caused the aside expand, and it didn't have a ``max-width`` rule, which I'll add.

[2016-01-15 18:57] hannahkane commented on #1544
I know this was probably mentioned as an idea before and maybe I objected at the time, but wondering if we should just add the survey questions to the initial form on the site.

Is there value in having this be a two-step process?

If we want to combine, I have a few suggestions about how to modify the questions in the survey for inclusion in the form.

@amirad @KGorr ?