[2015-02-06 22:20] cassiemc opened #1 "Research CMS tooling"
Who / what / how frequent will changes need to be made to teach.webmaker.org?

This ticket is for researching and exploring UX around different options.

[2015-02-06 22:23] cassiemc opened #2 "Explore teach.webmaker.org visual branding"
Assuming this iteration of teach.webmaker.org is somewhere between Webmaker styles and a potentially new Mozilla Learning brand, what would that look like? Prob. still needs to feel like it falls within or at least beside the Webmaker brand. Could just slightly tweak different palettes and imagery, for example.

I think the deliverable for this ticket should be:
* a revised color palette and
* tre

[2015-02-06 22:26] cassiemc opened #3 "User-test wireframes with users outside the mozilla network"
@hannahkane mentioned that it could be helpful to have insights from users who have no prior experience with Mozilla. Could we retest some of the wireframes – from https://marvelapp.com/11ji896#2375127 and https://marvelapp.com/b0ah39#2378718 – with a few new users?

FYI:
**HK'S User testing analysis from Round 1:**
Doc: https://docs.google.com/a/mozillafoundation.org/document/d/1O5XgvrTDShvipos_K

[2015-02-06 22:27] cassiemc opened #4 "Design first time experience for teach.webmaker.org"
What does a first-time experience feel like for teach.webmaker.org?

Here's an example from @simonwex a la http://stackoverflow.com/tour

[2015-02-06 22:28] cassiemc opened #5 "Design homepage for teach.webmaker.org"
Kickoff notes are here: https://etherpad.mozilla.org/teach285

### RESOURCES:

**Teach product roadmap:**
https://wiki.mozilla.org/Learning/Networks/Product-Roadmap

**Interactive wireframes:**
performed better: https://marvelapp.com/11ji896#2375127
https://marvelapp.com/b0ah39#2378718

**Full wireframes redpen:**
https://redpen.io/p/tcd5fbcae44ba63df9

**HK'S User testing analysis:**
Doc: https:/

[2015-02-06 22:30] cassiemc opened #6 "Design 'Clubs' page for teach.webmaker.org"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: Ricardo
* Dev Lead: NA
* Quality: @davidascher

### Background docs

* Clubs Wiki Page: https://wiki.mozilla.org/Webmaker/2015/Mentors/Clubs
* Summary of calls conducted with 38 potential Club Captains: https://teach.etherpad.mozilla.org/club-calls-analysis
* Most recent requirements doc: http://mzl.la/1xZgf

[2015-02-06 22:37] hannahkane commented on #6
These may be relevant background:
 * Clubs Wiki Page: https://wiki.mozilla.org/Webmaker/2015/Mentors/Clubs
 * Summary of calls conducted with 38 potential Club Captains: https://teach.etherpad.mozilla.org/club-calls-analysis
 * Most recent requirements doc: http://mzl.la/1xZgfKQ
 * Michelle's blog entry about Clubs pilot: http://michellethorne.cc/2015/01/clubs-first-test-kicks-off/

[2015-02-06 22:39] hannahkane opened #7 "Change repo name to Mozilla-Learning?"
As much as I love Scooby Doo and the Flintstones, I'm wondering if this repo name could be made slightly more descriptive. :) Perhaps Mozilla-Learning?

I don't know if it's possible to change a repo name, and, if it's not, I don't seem to have permissions to create a new repo within MozillaFoundation.

Please advise, @simonwex. :)

[2015-02-06 22:39] cassiemc opened #8 "Draft information architecture for teach.webmaker.org"
Wondering what the site map would look like given @hannahkane's awesome Product planning!

[2015-02-06 23:11] hannahkane commented on #2
Don't know if this ticket also encompasses the issue of the name and the url, but wanted to leave these ideas from @hpauljohnson here:

* A possible solution is to have Mozilla Learning be the name, and "Teach the Web" be a tagline
* Another option for the url is potentially learning.mozilla.org

[2015-02-07 00:08] hannahkane commented on #5
I want to add this to the current milestone, but I don't seem to be able to add milestones to this repo. @simonwex , please hlep!

[2015-02-07 05:10] cassiemc opened #9 "Determine URL for new teach site"
From @Hannahkane:

Don't know if this ticket also encompasses the issue of the name and the url, but wanted to leave these ideas from @hpauljohnson here:

    A possible solution is to have Mozilla Learning be the name, and "Teach the Web" be a tagline
    Another option for the url is potentially learning.mozilla.org

@davidascher @hpauljohnson @hannahkane  – Discuss :)

Deadline: in time for an

[2015-02-07 05:11] cassiemc commented on #2
Filed a new issues #9 for that. Thanks @hannahkane. Let's keep this ticket to visual branding solutions, I'll update the title.

[2015-02-08 00:17] davidascher commented on #5
You should have the right to do so at this point @hannahkane -- check https://github.com/MozillaFoundation/hannah-barbera/milestones

[2015-02-08 00:18] davidascher commented on #7
done

[2015-02-08 00:18] #7 closed

[2015-02-10 15:50] OpenMatt opened #10 "Design badge pages for Hive Toronto privacy badges"
As per this planning ticket: https://github.com/MozillaFoundation/plan/issues/206

* Current badge landing page template that we will use:
https://webmaker.org/badges/hive-community-member

* **Needs claim code UX.** The page design will need to be tweaked to have the user enter a claim code to earn the badge. Note that claim codes are the *only* way for users to earn these badges. (There will be

[2015-02-10 15:56] OpenMatt commented on #10
From @smithisgeneric:
* Draft copy for the page is here:  https://docs.google.com/document/d/1bPJl4ch63JOQwmq2K3CjUdjkfzo3ajZKbzIYNqEdFsI/edit?usp=sharing

* Current badge landing page for us to re-purpose:
https://webmaker.org/badges/hive-community-member

- QUESTION: How many landing pages do we need here? One or three? (e.g. a single landing page for all 3 badges,  or should they be broken up o

[2015-02-10 16:00] OpenMatt commented on #10
* NOTE: Karen reports a possible log-in related bug with webmaker.org badges pages.
* Filed here: https://github.com/mozilla/webmaker.org/issues/1229

[2015-02-10 16:12] OpenMatt opened #11 "Build badge pages and enable claim codes for Hive Toronto badges"
As per: https://github.com/MozillaFoundation/plan/issues/206#issuecomment-73714841
* We need to build the pages @iamjessklein is designing here: https://github.com/MozillaFoundation/Mozilla-Learning/issues/10

* We will look to re-purpose this existing template:
https://webmaker.org/badges/hive-community-member

* These templates will need to be adapted to work with claim codes. The user will ente

[2015-02-10 16:15] OpenMatt commented on #10
* This copy is in good shape -- I'll do a quick final edit and then it should be good to go.
https://docs.google.com/document/d/1bPJl4ch63JOQwmq2K3CjUdjkfzo3ajZKbzIYNqEdFsI/edit

[2015-02-10 16:17] OpenMatt commented on #11
* Main thing we need to synch up on, to ensure design and dev are on the same page:
how do claim codes work? And: do we need to tweak the current badge landing page design to support the claim code workflow we want?

[2015-02-10 16:26] OpenMatt commented on #10
@smithisgeneric : in the copy, I suggested changing the name of the "Coach" badge to "Privacy Coach," for clarity. That ok?
* Also: @smithisgeneric still needs to update all the links in this copy.

[2015-02-10 16:28] OpenMatt commented on #10
@smithisgeneric: who is the target audience for this copy? Learners, or educators? I'm wondering about the badge requirements section in particular. It reads very educator-focused right now.

[2015-02-10 17:14] smithisgeneric commented on #11
This is a starting sketch from a conversation @OpenMatt and I had

![hivebadgeflow](https://cloud.githubusercontent.com/assets/6931814/6132068/31b87cc0-b11e-11e4-9869-cd5e81bdfeb5.jpg)

[2015-02-10 17:18] smithisgeneric commented on #10
Replying to @OpenMatt

* Changing title from Coach to Privacy Coach is fine
* For the landing page which overviews all three badges the target is educators but without being unfriendly to learners (roughly: 75% educators / 25 % learners)
* Links will be updated as they are ready
* A sketch for the flow with claims codes is in #11

[2015-02-10 18:24] OpenMatt opened #12 "Create privacy badges landing page at hivetoronto.org/privacybadges"
As per Planning Ticket https://github.com/MozillaFoundation/plan/issues/206
* **In addition to the individual badge pages, we'll also want a landing page that shows off all three badges**. That shows all three badges, with a bit of explanation, linking through to the individual badge pages.

* **After talking with Karen, we decided the best and simplest way to do this would to just update the Word

[2015-02-10 19:15] OpenMatt commented on #12
cc @iamjessklein @cassiemc

[2015-02-10 19:22] OpenMatt commented on #10
![hivebadgeflow](https://cloud.githubusercontent.com/assets/6931814/6132068/31b87cc0-b11e-11e4-9869-cd5e81bdfeb5.jpg)

[2015-02-10 19:44] OpenMatt commented on #11
@ as per conversation with @ScottDowne : this work doesn't necessarily have to be gated on design. We can take the existing page template, fork it, throw in a janky "enter claim code" field, and start testing and optimizing. Then update with prettier design when it's done.

[2015-02-10 19:58] OpenMatt commented on #10
@iamjessklein just to be clear: what this basically means is, all that's required here design-wise is to add a field to this template https://webmaker.org/badges/hive-community-member that says:

 "Enter your claim code to earn this badge: [                ]"
(or something like that)
![claim code mockup](https://cloud.githubusercontent.com/assets/1007376/6135094/c58ebab2-b133-11e4-8487-e76dd788d48

[2015-02-10 20:58] cassiemc commented on #2
Using this guide to help design the landing page #5  ![brand-palettes-v2b](https://cloud.githubusercontent.com/assets/1186326/6136292/8159feec-b13d-11e4-8406-d0f94bf3f2f1.jpg)

[2015-02-11 00:58] cassiemc commented on #2
You can leave feedback on this here: https://redpen.io/oadc33333ea1ac4bf3

[2015-02-11 01:01] cassiemc commented on #5
First draft:
![teach-v3](https://cloud.githubusercontent.com/assets/1186326/6139920/77b1d08c-b15f-11e4-89d6-bc4a2cc1c55c.jpg)

Can give feedback here: https://redpen.io/pub30ddf619bc2bcf3

[2015-02-11 12:49] hannahkane commented on #5
Thanks, @cassiemc. This is great. I'll leave specific feedback/questions on the redpen, and invite @thornet @amirad @ldecoursy and @claw to do the same.

Question: should we be leaving feedback just on the page structure, or also the visual design elements?

Thanks!

[2015-02-11 14:21] OpenMatt commented on #10
@iamjessklein : can you confirm that this makes sense? Don't need to start work this Heartbeat -- just want to see if we're all clear to get started once your current P1s are done.

[2015-02-11 14:23] cassiemc commented on #5
Definitely feel like I'm flying blind so any and all feedback welcome at this point. Thanks @hannahkane

[2015-02-11 14:24] OpenMatt commented on #12
Here's another version of the same diagram Karen sketched above, in case it helps.
![landing page flow 001](https://cloud.githubusercontent.com/assets/1007376/6148465/b6abb332-b1cf-11e4-9059-cc9245410b15.jpg)

[2015-02-11 14:24] iamjessklein commented on #10
:+1:  got it. makes sense.

[2015-02-11 14:27] OpenMatt commented on #12
@iamjessklein does this make sense?

[2015-02-11 14:28] OpenMatt commented on #11
@ScottDowne does this make sense? And are you able to start work on this without blocking on design?

[2015-02-11 14:28] OpenMatt commented on #10
:)

[2015-02-12 17:14] OpenMatt commented on #12
@smithisgeneric I'd encourage you to start working on this page yourself now, instead of blocking on design. You can start staging the copy, etc. and hacking on the WordPress page yourself. Then work w. Jess to improve and polish it once she's available.

[2015-02-12 18:43] iamjessklein commented on #12
yes this makes sense. I am also wondering if this page could be a thimble make (vs. a Wordpress page) - it feels simple enough.

[2015-02-12 18:49] davidascher commented on #12
Making an HTML page isn't a blocker for anything.  Design the page that should exist. =)

I'm more worried about the claim code workflow bit.  Will show it to k88hudson who'se sitting right beside me.

[2015-02-12 19:23] ScottDowne commented on #11
@OpenMatt Question, the pages in question don't yet exist as a badge yet, correct?

The templates just load any existing badge, it seems.

[2015-02-12 19:51] ScottDowne commented on #11
Why don't we just add a claim code input for all badges? That way we continue to only have 1 template.

[2015-02-12 20:58] ScottDowne commented on #11
I'm seeing some already similar implementation on webmaker.org's badge pages.

Example, if you click apply while logged in from here: https://webmaker.org/badges/hive-community-member

You get this:

![claim](https://cloud.githubusercontent.com/assets/197334/6176818/c7d42e40-b2cf-11e4-9287-86acfd0432d6.png)

And once you claim it, you see this:
![success](https://cloud.githubusercontent.com/assets

[2015-02-12 22:05] ScottDowne commented on #10
I'm seeing some already similar implementation on webmaker.org's badge pages.

Example, if you click apply while logged in from here: https://webmaker.org/badges/hive-community-member

You get this:

![claim](https://cloud.githubusercontent.com/assets/197334/6176818/c7d42e40-b2cf-11e4-9287-86acfd0432d6.png)

And once you claim it, you see this:
![success](https://cloud.githubusercontent.com/assets

[2015-02-12 22:28] Saallen opened #13 "Create comms/engagement plan for Clubs/Maker Party roll-out"
RACI

Driver: @HPaulJohnson
Decision-Maker: @chrislarry33 ?
Consulted: @ldecoursy @thornet @amirad @hannahkane Kevin

Develop plan and messaging arcs to cover April-August roll-out of new site, Clubs, Maker Party, MozFest

Initial planning notes here: https://etherpad.mozilla.org/teachbrandingcomms

[2015-02-12 22:29] Saallen opened #14 "Leadership development : RC comes to whistler"

[2015-02-12 22:30] Saallen opened #15 "Leadership development: RC's leading the Club leaders onboarding"

[2015-02-12 22:30] Saallen opened #16 "Assign leadership roles within our own team"
We have organizers and Regional Coordinators (RCs) on our team. Let's make it official!

[2015-02-12 22:31] Saallen opened #17 "Create plan for RC's to capture potential Club Leaders through Maker Party"
Use our messaging and narrative (from "Story of Self, Us and Now" activity), and allow for regional planning.

## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] TBD

[2015-02-12 22:32] Saallen opened #18 "[MIGRATED] Provide expectations and resources for RCs during Maker Party"
### RACI
* Phase:
* Owner:
* Decision Maker:
* Design Lead: NA
* Dev Lead: NA
* Quality:

### Deliverables
- [ ] List of expectations for our RCs during and post-Maker Party
- [ ] Resources to support RCs during and post Maker Party (e.g. "How to see potential in MP event hosts as CC's," "How to use the Self, Us, Now model to invigorate new recruits," and "How to expand clubs within regions")

[2015-02-12 22:34] Saallen opened #19 "Map the communications model for RCs"
Develop the call structure for RC's with organisers and other RCs.

## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] TBD

[2015-02-12 22:35] OpenMatt commented on #12
* @iamjessklein: would rather not use Thimble. What Karen wants is a page that can be easily managed using the HiveToronto WordPress CMS. (There are lots of advantages to that.) Karen can get you set with credentials once the work starts. Minimal design work needed there -- mostly just advice and maybe a bit of HTML guidance from you.
* @davidascher this is the wrong ticket for that. @ScottDowne i

[2015-02-12 22:35] Saallen opened #20 "[MIGRATED] Define communication and work processes for RC's"
### RACI

* Phase: Scoping
* Owner: @amirad
* Decision Maker: @thornet
* Quality: @chrislarry33

### Deliverables

- [ ] Publish "what's expected as a Regional Coordinator" from #33
- [ ] Propose communication model for RCs and staff organizers
- [ ] Review communication model with RCs

[2015-02-12 22:36] Saallen opened #21 "[MIGRATED] Design quarterly report template for RC's"
## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] Standard reporting template that we request of RCs each quarter

[2015-02-12 22:37] Saallen opened #22 "[MIGRATED] Conduct Train the Trainer in Whistler for RC's"
We'll invite RCs to Whistler, and will use the time to train them in the Teach Like Mozilla module so they can then go forth and train Club Leaders.

## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] Invite RCs to Whistler
 - [ ] Plan TTT
 - [ ] Prepare supplementary materials
 - [ ] Run the training!

[2015-02-12 22:38] Saallen opened #23 "[MIGRATED] Write Club Leader on-boarding and guidelines with RCs"
## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] TBD, but should end with RCs beginning to onboard new Club Leaders

[2015-02-12 22:38] Saallen opened #24 "[MIGRATED] Check in with RCs at end of Q2 to plan for Q3"
## RACI

* Phase: Review
* Owner: @thornet
* Quality Verifier: @chrislarry33

## Deliverables

- [ ] 1:1s with R.C. to review organizing model
- [ ] Document needs and iterations on model for Q3

[2015-02-12 22:40] Saallen commented on #17
**Utilizing story of Self Us and Now
**Regonal planning

[2015-02-12 22:40] Saallen opened #25 "Create calendar of TTW talks topics"
The topic list should complement the curriculum modules.

## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] List of talk topics
 - [ ] Confirmed guest speakers
 - [ ] Publish calendar of upcoming talks on teach site

[2015-02-12 22:41] Saallen opened #26 "Scope Web Lit Basics II module"
## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables

 - [ ] List of six (?) modules to write and test
 - [ ] Tickets for next steps

[2015-02-12 22:42] Saallen opened #27 "[MIGRATED] Gather and collate resources for Teach Like Mozilla module"
## RACI

* Phase: Scoping
* Owner: @LauraHilliger
* Decision Maker: @chrislarry33
* Quality Verifier: @thornet

[edited by Laura]
##Collections
- [x] @jvallera collection
- [ ] @leahatplay
- [x] @smithisgeneric
- [ ] @kkeefe4
- [x] @amirad
- [ ] @Saallen
- [ ] @LucyeoH
- [ ] @omnignorant
- [ ] @gmillener
- [ ] @LindseyFrost
- [ ] @SimonaRamkisson
- [x] @iamjessklein
- [ ] @mcdermott415
- [ ] @Elsa

[2015-02-12 22:43] Saallen opened #28 "Scope MDN intermediate Module"
## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

## Deliverables
- [ ] clear scope for module
- [ ] assign person to support the development of the module

[2015-02-12 22:43] OpenMatt commented on #10
* To summarize Scott's points above:
* what we realized today is that the "enter a claim code" field *already* exists on the existing badge page template. (see: https://webmaker.org/badges/hive-community-member ) So we don't actually need to create a new template to support this -- it's already there.
* what we do need to consider is: can Jess make potential tweaks to improve the UI of the templat

[2015-02-12 22:44] Saallen opened #29 "[MIGRATED] Prepare analysis of Web Lit Basics I learner outcomes"
## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

[2015-02-12 22:45] Saallen opened #30 "[MIGRATED] Develop tool-related activity for Maker Party"
This is a placeholder ticket for now, as it's dependent on the Learning Product. The idea is to provide a piece of teaching content for Maker Party that makes good use of the new tool.

## RACI

* Phase:
* Owner:
* Decision Maker:
* Design Lead:
* Development Lead:
* Quality Verifier:

Deliverables:
- [ ] TBD

[2015-02-12 22:46] Saallen opened #31 "2015 End of Year: What does success look like from each stream?"
**Leadership development
**Online Platform
** Curriculum
** Partners
** Mobilizing

[2015-02-12 22:47] OpenMatt commented on #11
@ScottDowne : correct: the badges don't exist yet. The graphic design work on them is still in progress. As per: https://github.com/MozillaFoundation/plan/issues/206

* Good point about only requiring one template. We should definitely try to do it that way.

[2015-02-12 22:49] Saallen opened #32 "Update wiki with work week decisions"
Wiki pages to write:
- [x] Insights from other models
- [x] Our POV
- [x] Our allies/audience
- [x] Messaging/narrative (recalling the the storytelling exercise we did at the work week)
- [x] Naming
- [x] Job descriptions
- [x] Metrics
- [ ] Calendar of milestones and quarterly deliverables
- [ ] What does success look like for each swimlane (i.e. Leadership development, online platform, curriculu

[2015-02-12 22:51] Saallen opened #33 "Finalize Job Descriptions for RC's"
https://teach.etherpad.mozilla.org/clubroles

[2015-02-12 22:53] Saallen opened #34 "Schedule work week follow-up meetings"
- [x] Schedule partners criteria meeting w Ben and An-me
- [x] Schedule M.P clarity meeting w Amira, Paul and Claw
- [x] Schedule metrics clarity meeting w Claw, Adam
- [x] Write up results of both meetings and put into a blog or wiki

[2015-02-12 22:57] Saallen commented on #33
https://teach.etherpad.mozilla.org/clubroles

[2015-02-13 17:13] hannahkane commented on #32
Who should be responsible for each of these pieces? @thornet, any suggesions?

[2015-02-13 17:15] hannahkane commented on #31
Incorporating this into #32

[2015-02-13 17:15] #31 closed

[2015-02-13 17:32] hannahkane commented on #14
I think this is covered in #22 so I'm closing this for now.

[2015-02-13 17:32] #14 closed

[2015-02-13 17:34] hannahkane commented on #20
@Saallen, can you say more about this one? I'm not sure I understand what the deliverables are.

[2015-02-13 17:41] hannahkane commented on #18
Can we clarify this one further? What are the deliverables?

/cc @Saallen @thornet

[2015-02-13 17:45] hannahkane commented on #15
I think this is covered in #23

[2015-02-13 17:45] #15 closed

[2015-02-13 17:49] hannahkane opened #35 "Design Events landing page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead:
* Dev Lead: NA
* Quality: @davidascher

### Content

https://docs.google.com/document/d/1yORrrsU4lN7itEC7BLTLHSR8JqRevppVPABxlmJqxXg/edit

This ticket is for the landing page, as described in the doc above.

[2015-02-13 17:49] Saallen commented on #18
Within this issue we should be mapping out what we expect our RC to achieve during and post Maker Party with a potential new community of Club Captains.
How to see potential in MP event hosts as CC's
How to use the Self, Us, Now model to invigorate new recruits
How to expand clubs within regions

[2015-02-13 17:51] hannahkane opened #36 "Design "Teaching Activities" page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: @cassiemc
* Dev Lead: NA
* Quality: @davidascher

### Primary content - activities!
* The activities are being finalized in #81.

### Secondary content - web literacy
* Suggested headline copy: "What is Web Literacy?"
* Suggested body copy:  "Mozilla defines web literacy as the skills and competencies needed

[2015-02-13 17:51] hannahkane opened #37 "Design "Teach Like Mozilla" page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead:
* Dev Lead: NA
* Quality: @davidascher

Refining the content and copy here: http://mzl.la/18QNAn8

Note: in Q2 we'll develop the "Teach Like Mozilla" curriculum modules. Once those are ready, those will be the primary content on this page.

[2015-02-13 17:52] Saallen commented on #20
Within this issue we should be considering and building a communciation and how to work open model for RC's to follow. This must to a clear consistant work flow so that each RC can work and support regions with a similar and collaborative approach

[2015-02-13 17:52] hannahkane opened #38 "Finalize copy for "About" page of site"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @chrislarry33
* Copywriter: @ldecoursy

### Content
https://teach.etherpad.mozilla.org/aboutpagecopy

[2015-02-13 17:53] hannahkane opened #39 "Design Mentor Profile form and viewer"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead:
* Dev Lead: NA
* Quality: @davidascher

### Background and purpose

A primary finding from our user research is that mentors want to connect to other mentors. The Mentor Profile should facilitate that. The form should not be overly burdensome, but should allow mentors the space to express their interests and

[2015-02-13 17:58] hannahkane opened #40 "Build homepage for site"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

### Requirements
* Responsive
* Latest versions of all major browsers

Tasks:
 - [ ] Design review
 - [ ] Content review

[2015-02-13 17:59] hannahkane opened #41 "Build Events landing page for site"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

Design is here: http://invis.io/TY2GT8GBX

[2015-02-13 18:03] hannahkane opened #42 "Build Clubs Curriculum page"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

Design assets will come from #106.

### Requirements
* Responsive
* Works in all supported browser versions
* Does NOT need to be dynamic. The curriculum titles/images/blurbs can be static for v1.
* Does NOT need to be l10n'ed for v1. Any translated curriculum can be li

[2015-02-13 18:04] hannahkane opened #43 "Build "Teach Like Mozilla" page"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher
* Consulted: @dajbelshaw @LauraHilliger

The design of the page is here: https://projects.invisionapp.com/share/YB2EPJQUF#/screens. Just needs to be coded up.

[2015-02-13 18:04] hannahkane opened #44 "Build Clubs page"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

Design assets will come from: #6

### Requirements
* Responsive
* Works in all supported browser versions

### Tasks:
 - [x] #186 - static HTML/CSS
 - [x] #185 - Add Mapbox component
 - [ ] Add server-side component(for storing clubs data)
 - [ ] Design review
 - [ ] Co

[2015-02-13 18:05] hannahkane opened #45 "Build "About" page for site"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

[2015-02-13 18:05] hannahkane opened #46 "Build sign-up flow"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

Ideally, we’ll just use the Webmaker sign-up flow, though we’ll want to change the copy. e.g. perhaps just “Create an Account” where it currently says, “Create A Webmaker Account.”

The “Send me email updates” box should add the user to the Mentor distro list in BSD.

T

[2015-02-13 18:09] hannahkane opened #47 "Optimize curriculum for mobile"
The new template doesn't look snazzy on mobile, buttons move around etc. This issue is to make our curriculum repo mobile optimized :)

### RACI
* Phase: gathering requirements
* Owner: @hannahkane
* Decision Maker:
* Design Lead: TBD
* Development Lead: TBD
* Quality Verifier: @cassiemc

[2015-02-13 18:11] hannahkane opened #48 "[MIGRATED] Design assets for Learning Pathways whitepaper"
Repo here: https://github.com/mozilla/learning-pathways-whitepaper/issues

Suggesting that @iamjessklein might like to spend a heartbeat thinking through ways we can visualise the different types of learning pathways we discuss in the whitepaper *(forthcoming)*

[2015-02-13 19:04] hannahkane commented on #17
I think this is implied in #18

[2015-02-13 19:04] #17 closed

[2015-02-13 19:38] hannahkane opened #49 "Teach the Web talk - 4th installment February"
Starting new issue around the next TTW Talk in February- with @LucyeoH

- [x] review Januarys call and feedback from community
- [x] analyse all comms channels, discourse, twitter, wiki and hangout
- [x] Speaker shortlist required
- [x] Date for Feb talk confirmed

[2015-02-13 21:01] LucyeoH commented on #49
February's TTW Talk Details:

Shoot It - How To Use Photography To Tell Your Story
with JP Pullos from 100cameras on Thursday February 26th at 3pm ET,  12pm PT, 8pm GMT, 9pm CMT, 1:30am IST

Join us as we sit down JP Pullos the Photography Education Coordinator for 100cameras to find out how you can better use photography to share the story of your event, your work, or your organization.

100camer

[2015-02-13 21:03] LucyeoH commented on #49
You can see up to date data from the previous call, speaker shortlists and planning details for the upcoming talk here: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1ZLe-40ZsYEem4hg5Tia6OR0RNeC0Xw0XHUIA5xuRL8c/edit#gid=0

[2015-02-13 21:53] hannahkane commented on #5
Added my comments to the newest designs: https://redpen.io/pub30ddf619bc2bcf3

In addition to the people above (most of whom are out of the office), I'd also appreciate feedback from @thisandagain, @OpenMatt, and @edrushka.

[2015-02-13 21:55] hannahkane opened #50 "Provide content for Teach site"
Draft is here: http://mzl.la/1DsP7wg

Awaiting feedback.

[2015-02-14 00:39] hannahkane commented on #45
Scratch this. There's no "About" page.

[2015-02-14 00:39] #45 closed

[2015-02-14 00:40] hannahkane commented on #38
Whoops. There is no "About" page.

[2015-02-14 00:41] hannahkane opened #51 "Build Web Literacy page"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

Approved design is here: http://invis.io/RQ2HY7A7G

[2015-02-14 01:03] hannahkane opened #52 "Design Web Literacy page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: @iamjessklein
* Dev Lead: NA
* Quality: @davidascher
* Consulted: @dajbelshaw

Headline: "What is Web Literacy?"
Subhead: "The skills and competencies needed for reading, writing and participating on the web."

Primary content:
* latest version of competency grid  (currently at https://webmaker.org/resources

[2015-02-14 01:05] hannahkane opened #53 "Design Mentor Stories page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead:
* Dev Lead: NA
* Quality: @davidascher

### Content
* Gallery view of 10 or so curated mentor stories, with links to their Mentor profiles

[2015-02-14 01:06] hannahkane opened #54 "Build Mentor Stories page"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead:
* Quality: @davidascher

[2015-02-14 01:10] hannahkane opened #55 "Remove redundant teach-related pages from Webmaker.org"
Once we launch v1 of the teach site, we should retire or otherwise address all redundant content from Webmaker.org:
 * Teach tab
 * party.webmaker.org
 * training content on prototypes
 * Web Lit content

Also, see redirects in #266.

[2015-02-14 01:17] hannahkane commented on #8
I think we've resolved this for a v1.

To summarize:

* Homepage
  * Mentor Stories
* Teaching Activities
   * Web Literacy
* Events
* Teach Like Mozilla
* Clubs

[2015-02-14 01:17] #8 closed

[2015-02-16 10:53] Saallen commented on #49
Discourse page for Febs TTW talk http://discourse.webmaker.org/t/teach-the-web-talk-shoot-it-how-to-use-photography-to-tell-your-story/1204

[2015-02-16 11:37] thornet commented on #36
FWIW, I quickly made this overview page of the curriculum we're producing, its audience, and its status:

http://mozilla.github.io/webmaker-curriculum/

We can use this for internal purposes, including with our small group of club testers. Although might be informative as we think about how these resources show up on teach.wm.org

The page is hosted in this repo: https://github.com/mozilla/webmake

[2015-02-16 11:38] thornet commented on #34
Met with @benrito in NYC to discuss the partner criteria. We're on the same page, with good insights on how to develop curriculum modules for specific partners and how the R.C. structure can absorb partners' staff.

Have a meeting on Wed. with An-Me to review the same.

[2015-02-16 11:41] thornet commented on #32
I'll take this one. Have updated the checklist slightly.

[2015-02-16 11:43] thornet commented on #34
Updated checklist to include follow-up with Adam re: metrics.

[2015-02-16 11:48] thornet commented on #28
Meeting with MDN on March 27 to develop this.

[2015-02-16 11:58] thornet opened #56 "[MIGRATED] Rio: scope curriculum module for LAN Houses"
We want to animate 10+ LAN Houses in Rio with great, relevant activities. Andre and Mario will lead the effort to review our existing clubs curriculum and think of how to modify it for LAN houses.

Planning: https://foundation.etherpad.mozilla.org/lan-houses
Inspiration: http://speedshow.net/

[2015-02-16 14:16] adamlofting opened #57 "Setup Analytics / Metrics for teach.webmaker.org"
* Project Requirements: @hannahkane @simonwex
* Analytics Specification: @adamlofting
* Analytics Implementation: @simonwex or @adamlofting

The new teach.webmaker.org website needs analytics 'instrumentation' in order to understand how it is used.

This will mostly likely start with simple Google Analytics tracking of pageviews, but how we setup the Google Analytics account and tracking will depe

[2015-02-16 14:21] adamlofting commented on #57
p.s. @hannahkane could you assign this ticket to me please? I don't have the rights in this repo. :grin:

[2015-02-16 16:00] thornet opened #58 "Rio: Review Laura's report with ITS"
Laura d. R. is finishing a report on Feb. 18 about her learnings from the LAN house visits. We need to meet with ITS to distill our learnings and roll that into our project plan.

[2015-02-16 16:00] thornet opened #59 "Rio: set up regular team meetings and project management"
Michelle to coordinate with Andre, Mario and @benrito  to set up regular meetings and project management tools.

[2015-02-17 02:57] smithisgeneric commented on #12
I created a draft landing page on Wordpress. I am still open to considering Thimble if you want to discuss @iamjessklein .

![landingpage](https://cloud.githubusercontent.com/assets/6931814/6222686/6415befa-b626-11e4-83ae-06972d1ae2c9.png)

[2015-02-17 14:17] OpenMatt commented on #12
@smithisgeneric fantastic work!
* If we create and maintain this in WordPress, it will make it extremely simple for Hive Toronto (and others) to copy and duplicate the page in a range of ways -- without any future production help.
* over to @iamjessklein to help w. design help

[2015-02-17 16:53] Saallen opened #60 "Build Calendar for Learning Networks community events"
Using this etherpad : https://teach.etherpad.mozilla.org/events2015 I will build a calendar for all the Learning network team to use.

Location of Calendar: TBC
Working with : @amirad

[2015-02-17 17:15] hannahkane commented on #36
Thanks, @thornet. Is Web Literacy Basics II a thing, or did I just make that up? Maybe I meant the intermediate curriculum that we'll work on with MDN?

I think it could be useful to show some of the planned work on the Teaching Materials page, though I'd want to focus on the stuff that's ready to go, with just a small nod to what's coming up. Good discussion topic for this heartbeat's kickoff.

[2015-02-17 18:00] cassiemc commented on #41
@hannahkane For MVP could this be just porting over the existing Events app from webmaker.org?

[2015-02-17 19:07] OpenMatt commented on #10
I think we can close this. We don't actually need design work here -- it's all about the build ticket. https://github.com/MozillaFoundation/Mozilla-Learning/issues/11

[2015-02-17 19:07] #10 closed

[2015-02-17 19:23] hannahkane commented on #41
Will spec this out a little further in #35, but the emphasis is likely to be more about porting the "How To" content that's currently here: https://party.webmaker.org/resources.

But, yes, I was imagining we'd either port the events app or simply link to it.

[2015-02-17 19:39] hannahkane commented on #12
@cassiemc - will you be taking this part on as well, or just the badge design?

[2015-02-17 19:41] hannahkane commented on #11
Late to the party (story of my life), but I believe we want to create a separate use case for these badges because we *don't* want people to apply for them the "normal" way. We want the claim code to be the *only* method for earning these badges.

@ScottDowne - is that possible?

Also,@simonwex , is there a separate ticket for fixing the apply/login bug? Can we link that here as a dependency?

[2015-02-17 21:38] iamjessklein commented on #12
@smithisgeneric great work! Where can I access the page you created?

@hannahkane - is a design review the next step?

[2015-02-17 21:40] cassiemc commented on #12
@hannahkane For context, @iamjessklein and I were just discussing this and think design review would be adequate here, in which case Jess still has the bandwidth to finish it up this week. I will be finishing up the badge design.

[2015-02-17 21:50] smithisgeneric commented on #12
I will message @iamjessklein with the login info

[2015-02-17 23:10] iamjessklein commented on #12
@smithisgeneric here is my feedback based on reviewing the draft:

* **Language**:  overall I am confused as to who the audience is for this page. Is it a teacher, an end user, a grant reviewer? For example, the first sentence: "As part of a co-design project with teen peer researchers, Hive Toronto designed privacy badges that include production-centered learning opportunities." If this isn't dir

[2015-02-18 14:15] smithisgeneric commented on #12
As Jess noted, the copy for the Hive Toronto page was awkward when trying to speak to both educators and learners.

- **Language:** redrafted  @iamjessklein @OpenMatt can one of you review?  https://docs.google.com/document/d/1bPJl4ch63JOQwmq2K3CjUdjkfzo3ajZKbzIYNqEdFsI/edit#
- **Style:** none of the Hive Toronto pages have the white padding so I'd like to leave it like the other pages and move yo

[2015-02-18 14:26] smithisgeneric commented on #11
I updated the copy for the 3 badge pages and have requested review from @OpenMatt @iamjessklein.

The copy deck contains the Wordpress landing page, plus the 3 badge pages which which I requested simultaneous review on [Issue 12] (https://github.com/MozillaFoundation/Mozilla-Learning/issues/12).

[2015-02-18 14:38] smithisgeneric commented on #11
Responding the @hannahkane on the fields for earning the badge.

- Keeping it to claims code only is preferred because there aren't the people resources to assess the makes and projects as evidence to earn the badges; we'd like the educators to do the assessment when they utilize the learning activities (i.e., they run a take-up discussion with youth following an activity and issue claims codes)

[2015-02-18 14:50] ScottDowne commented on #11
@hannahkane yes, it is possible to restrict the apply methods on a per badge basis.

If possible I'll see about storing that info in the badge itself and the page can be smart enough to know what fields to display based on the data stored in the badge. Not sure if that's possible.

If it's not, I know I can just as easily, although not as elegantly, tell the page itself about our new badges.

"The

[2015-02-18 15:54] davidascher commented on #11
I can understand that we want a claim-only flow for the toronto event, but it seems to me we likely want to allow for a possible scenario where people get the same badges in the future by providing evidence.

How about if we make a URL to the badge display page that only shows the claimcode path, and use that in the hive wordpress thing, but still make it so that if people got to those badges thro

[2015-02-18 16:13] ScottDowne commented on #11
A url query would work and I like that solution.

One potential problem with this that I want to point out, if people are sharing urls that they don't understand, and then in the future try to apply for it and somehow use the wrong url, they won't be able to and won't know why they cannot apply for it.

If there was a special case, it would be trivial to turn on and off. It's super gross though an

[2015-02-18 16:27] hannahkane commented on #11
I think changing the query parameters makes sense, because I imagine these privacy badges will be included in the suite of web lit badges we offer on the Clubs platform, where they would be applied for in the "normal" way. So having both options seems ideal.

I echo @ScottDowne's concern, though. I hope this is a very rare use case.

[2015-02-18 17:27] cassiemc commented on #5
Have updated the redpen with the latest. I think we should move to close this issue up if there are no other significant design changes.

Can get a design R? from @iamjessklein? https://redpen.io/pub30ddf619bc2bcf3

[2015-02-18 18:01] cassiemc opened #61 "Variations for design/copy to test for new Teach site"
Will be keeping track of design and copy variations here that have been suggested in redpen feedback. Could be tested via A/B or focus groups or with @LauraReynal's work in the field.

* pink vs. blue <--maybe a better user test than a/b
* 'join' vs. 'meet'
* some of the nav language & descriptions

cc @hannahkane @adamlofting

[2015-02-18 18:09] edrushka commented on #5
@hannahkane @cassiemc happy to help with feedback on copy but I can't tell what's placeholder. Can we meet briefly to discuss where you're at with words? Would be good to include Kevin (don't think he's on Github yet) as well.

[2015-02-18 18:12] cassiemc commented on #5
@hannahkane @edrushka Make sense to file copy review as a followup ticket?

[2015-02-18 18:23] edrushka commented on #5
wfm!

[2015-02-18 19:47] hannahkane opened #62 "Determine content for "Tips for Running Your Club" page"
### RACI
* Phase: Design
* Owner: @amirad
* Decision Maker: @amirad
* Consulted: @LauraHilliger
* Design Lead:
* Dev Lead: NA
* Quality: @chrislarry33 @thornet

### Background
This page is linked to from the main Clubs page.

### Content

See: http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/starting-club.html

[2015-02-18 19:48] hannahkane commented on #6
@cassiemc, I updated the description with some suggested copy

[2015-02-18 19:57] hannahkane commented on #57
My best attempt at answering the questions in the description:
 * The domain will likely *not* be teach.webmaker.org. Right now @HPaulJohnson is thinking learning.mozilla.com, but I don't believe that's finalized.
 * I think you're right that this is a separate stand-alone experience, though there will be areas of overlap (notably, it will share a user authentication experience with Webmaker).
 *

[2015-02-18 20:07] hannahkane opened #63 "Copy review of Teach site"
### RACI
* Phase: Copy
* Owner: @hannahkane
* Decision Maker: @KevZawacki
* Design Lead:
* Dev Lead: NA
* Quality: @edrushka @HPaulJohnson

When we're farther along in the design/build process, let's make sure we do a thorough copy review of the full site for mechanics, consistency, and tone.

[2015-02-18 20:08] hannahkane commented on #5
Added #63 as a reminder to do a thorough copy review of the whole site a little later in the process.

So, all that remains for this is an R from @iamjessklein, when she's able.

[2015-02-18 21:00] edrushka commented on #63
Switched the RACI to Kevin as decision-maker. He's the word-man now :)

[2015-02-18 22:10] amirad opened #64 "See how many of last year's contributors we have permission to contact"
Of the 10K contributors we reached last year, we are looking to continue engagement in 2015. Q1 goal is to first group 4K of the 2014 contributors into a place where we can communicate with them

[2015-02-18 22:11] edrushka commented on #5
@KevZawacki here's the design ticket for the (upcoming) teach.webmaker.org page. We'll do copy review in a separate ticket, but this should give you some context.

[2015-02-18 22:11] amirad commented on #64
@adamlofting to first cross-check badge receivers and other contributor lists against existing mailings lists to see which of those 10k we can legally send comms to.

[2015-02-18 22:15] amirad opened #65 "[MIGRATED] Plan message arc to 4000 contributor list and write first copy"
Once we group the 4000 contributors in Q1 we need to dive into a plan on when we will be communicating messages to them and what the CTA will be. Should have rough copy ready for Q2 and launch of club material.

[2015-02-18 22:16] amirad commented on #65
@HPaulJohnson - we should plan out the arc and plan for rough copy

[2015-02-18 22:32] hannahkane commented on #2
@cassiemc - wondering if we can close this for now.

[2015-02-18 22:34] hannahkane commented on #3
Probably not going to do this at this point, though we will plan to conduct regular testing with people outside of our immediate network. See #61

[2015-02-18 22:34] #3 closed

[2015-02-19 00:44] cassiemc commented on #2
Yes! Got what we needed from it.

[2015-02-19 00:44] #2 closed

[2015-02-19 01:40] HPaulJohnson commented on #65
@amirad let's schedule a time to discuss and invite @KevZawacki

[2015-02-19 14:59] Saallen commented on #32
Created a timeline around the basic points we added to our Roadmap etherpad

See timeine: [https://docs.google.com/a/mozilla.com/spreadsheets/d/1FZk_0-zAcjF0nc7fa3EK7QfVVDgRAhMoOuCoxsVR4Ts/edit?usp=sharing]

Highlights some gaps in our issues and timing in particular for curriculum.

[2015-02-19 15:15] thornet commented on #58
Photos from Laura for easy reference: https://www.flickr.com/photos/laura_nk/sets/72157650483736818/

[2015-02-19 15:16] thornet opened #66 "Rio: Recruit 10 LAN houses to be part of the pilot"
Get commitments from 10 LAN houses in Rio to be part of the web literacy pilot project.

[2015-02-19 15:18] soapdog commented on #58
Fantastic pics!

I took some pictures during the last day from Marco Lan House and Poubel Lan House, they are at

https://www.flickr.com/photos/soapdog/sets/72157648530634044/

https://www.flickr.com/photos/soapdog/sets/72157650785517126/

[2015-02-19 15:34] thornet opened #67 "[MIGRATED] Rio: Start a bi-lingual blog about project"
Andre kicking this off

[2015-02-19 15:35] thornet opened #68 "[MIGRATED] Rio: propose how to engage and on-board local volunteers for LAN house events"
Andre & Mario beginning to draft what this volunteer strategy would look like.

[2015-02-19 16:02] davidascher commented on #67
Nice!

[2015-02-19 16:32] simonwex opened #69 "Clone mofo-example app and push to https://learning.mofostaging.net/"
It's time to start!

* [ ] Clone mofo-example-app
* [ ] Strip out all but basic UI web site
* [ ] Replace home page with current redpen image
* [ ] File issue for DNS
* [ ] Push to heroku

[2015-02-19 16:49] Saallen commented on #25
Adding @LucyeoH  into this issue.
We can flex this out in the coming weeks

[2015-02-19 17:09] cassiemc commented on #5
This is moving forward in the build, so lets file any additional issues as followups.
Here's the final design: https://redpen.io/pub30ddf619bc2bcf3
Here's the design with the grid overlay: https://redpen.io/fk3c9fa74d54f34dee

Also attaching final design here:
![teach-v8](https://cloud.githubusercontent.com/assets/1186326/6271665/31e33118-b830-11e4-99b1-2a39e123a88c.jpg)

[2015-02-19 17:09] #5 closed

[2015-02-19 19:41] hannahkane commented on #6
Super speedy nice work from Ricardo: https://redpen.io/p/jza7e4f541a24313ff

Could use feedback from @thornet, @amirad, @Saallen and others

[2015-02-19 19:47] hannahkane opened #70 "Design "Add Your Club" workflow"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: @vazquez
* Dev Lead: NA
* Quality: @davidascher

### "Add Your Club" workflow

Entry points: Two "Add Your Club" buttons on the Clubs page

The design has already been started: https://redpen.io/efdaacb2e7893b8da3/10

### Other workflows

* User delete: the user needs to be able to delete their Club from the

[2015-02-19 19:49] hannahkane opened #71 "Build "Add Your Club" workflow"
### RACI
* Phase: Build
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: NA
* Dev Lead: ?
* Quality: @davidascher

See Design ticket: #70

### Requirements
* Responsive
* Works in all supported browser versions
* Store submitted Club information and display on map
* Should require log-in or sign-up, but should be as seamless as possible
* Should trigger transactional email (see em

[2015-02-19 19:49] davidascher commented on #69
We're likely going to end up with learning rather than teach in the domain, so changing the issue title to match.

[2015-02-20 03:32] cassiemc commented on #36
First iteration here: https://redpen.io/zrbe8092072240b490 Feedback @hannahkane @thornet?

[2015-02-23 17:19] davidascher opened #72 "Do a trial run of jekyll-style markup for exisiting curriculum"
Goal: to test with @thornet et al. whether editing markdown files with some advanced features like tags in front matter feels workable (as opposed to raw HTML).

Sub-tasks:

- [ ] Pick 2-3 bits of curriculum to templatize, to understand what's generic and fits in a template, and what's specific to a specific bit of content
- [ ] make a template (using Jekyll, or Hugo, or Harp… -- specific doesn't

[2015-02-23 17:20] davidascher commented on #72
/cc @simonwex

[2015-02-23 17:44] simonwex opened #73 "Port david.io codebase into example app"
Code is at: https://github.com/davidascher/simple
Demo is at: https://folk-words.herokuapp.com/

It'll require moving example app over to webpack, but I think that's where we want to head.

[2015-02-23 18:10] hannahkane opened #74 "Design "remixing" functionality for Curriculum"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: ?
* Dev Lead: NA
* Quality: @davidascher

We know from testing that users want remixed curriculum. e.g. Module 1: Remixed for Librarians, Module 1: Remixed for Mobile-Only.

There are three pieces to this:

1) Soliciting remixes and remix ideas. UX possibilities: allow users to submit remix suggestions as co

[2015-02-23 18:31] hannahkane commented on #36
Based on comments on this pad: https://etherpad.mozilla.org/teachsitequestions, I have the following suggestions:
 * Let's explicitly present the Web Literacy Basics curriculum as a sequence of activities designed to be done as a unit, in the context of Clubs. That might mean renaming the page (e.g. "Clubs Curriculum"), numbering the activities, removing the tags (which imply that the user should

[2015-02-23 19:26] jbuck opened #75 "Prototype site editing tools/workflow"
In this heartbeat we'd like to whip up some prototypes of tools that the Hive and Teach teams could use to edit content on the Teach site.

Tools list

* [davida.io](https://github.com/MozillaFoundation/Mozilla-Learning/issues/73)
  * mofo-example-app-ness
  * only publishes changes to firebase, could we look at publishing changes to git/Github?
  * doesn't have any image uploading
  * would be ni

[2015-02-23 19:39] simonwex commented on #75
Great list. I think Ghost is a good addition as a reality-check. prismic.io is a lot of tool and I wonder if people will find it overwhelming. -- especially since it involves its own discussion and planning tools --worth testing.

[2015-02-23 23:23] hannahkane opened #76 "Design badges landing page"
Landing page that showcases the Mozilla Learning badge offerings and clearly differentiates the several types of badges we offer. The landing page should also illustrate the progressive nature of our badge offerings.

Blocked by #86

[2015-02-23 23:34] hannahkane commented on #61
Thinking on this more...not sure how useful testing this stuff will actually be. I know I advocated for this a lot in the redpen comments, but I think that was largely to avoid things being framed as opinion battles.

I'd like to do general usability testing after April 1 to validate that users can easily accomplish key tasks, but I don't think we'll be tracking conversion rates (e.g. "join" v "me

[2015-02-23 23:40] hannahkane commented on #1
This is covered in #75, so closing this.

[2015-02-23 23:40] #1 closed

[2015-02-23 23:45] hannahkane opened #77 "Design improved badge application workflow"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: ?
* Dev Lead: NA
* Quality: @davidascher

### Scope
Improvements include:
1. allow applicants to view the status of their pending applications
2. allow applicants to edit their submissions while they're pending

Note: Sounds like we want to collect location data as part of the badge application process. That

[2015-02-23 23:52] hannahkane opened #78 "Design Badge Manager page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: ?
* Dev Lead: NA
* Quality: @davidascher

### Scope
From the Badge Manager page, people will be able to:
1. **see the badges they've earned.** Including the evidence that was provided
2.  **see their pending applications.** And respond to any questions from reviewers

[2015-02-23 23:54] hannahkane opened #79 "Design improved badge issuing experience"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: ?
* Dev Lead: NA
* Quality: @davidascher

### Scope:
1. **Show counts of outstanding badge applications.** And allow admins to view and sort those applications by submission date and badge type.
2. **Enable search for issued badges**. Allow admins to search issued badges by date, badge type, location of appl

[2015-02-24 12:44] adamlofting commented on #61
It's always worth keeping a list of things to test :+1: and even keeping this list helps mitigate opinion battles.

But start with user testing, and later in the year as we build up traffic we can add some quantitative testing too.

At this stage, we're not going to find the "perfect" button color for example, but we will notice if users are not seeing a particular call to action and successfully

[2015-02-24 12:48] LauraHilliger commented on #26
FWIW we have [this issue in the curriculum repo](https://github.com/mozilla/webmaker-curriculum/issues/97) that relates to this and has a good start on the conversation. I'm not sure if the conversation moved forward in a different forum while I was away, but maybe one of you can update the issue if so!

cc/ @dajbelshaw @thornet @ldecoursy

[2015-02-24 13:01] LauraHilliger commented on #27
Several possible modules and approaches:
1) revisions for content currently on Training. At the moment projects and activities are mostly contingent on the old Webmaker tools.
2) how to be open (partner with SOO)
3) how to be a Mozillian (define the cultural differences b/w Mozilla & open. Collaborate with Emma and reps teams)
4) confidence in  teaching (I would think about general personal and pr

[2015-02-24 13:14] dajbelshaw commented on #26
I think this is a tracking issue @LauraHilliger, but definitely worth pointing to the work done so far! :)

[2015-02-24 13:20] LauraHilliger commented on #72
Some quick thoughts that might influence this:

We templatized curriculum through the teaching kits, so you may be able to save a step and take a look at what everything has in common. In that regard the KitBuilder might be the fastest way to understand general vs specific components in curriculum: http://kitbuilder.webmakerprototypes.org/

Training used jekyll + markdown, and I actually went back

[2015-02-24 13:30] LauraHilliger commented on #62
We have content started for this that should be modified and remixed for clarity and prettiness:

http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/starting-club.html

[2015-02-24 13:35] LauraHilliger commented on #60
We have the teachtheweb calendar we could repurpose:
https://www.google.com/calendar/embed?src=zythepsary.com_q6ugl9iepetabcp9eg9ltmruic%40group.calendar.google.com&ctz=Europe/London

I know @LucyeoH is using it too :+1:

[2015-02-24 14:32] Saallen commented on #60
Awesome
I was thinking about this calendar.
How do I add items and change name @LauraHilliger ?

[2015-02-24 14:40] LauraHilliger commented on #25
check out issue 60, perhaps a centralized calendar is in order?

[2015-02-24 15:22] LauraHilliger commented on #60
I've just added you as someone who can manage, so you should be able to add items and stuff. If you can't change the name, let me know and I'll change it :tada:

[2015-02-24 16:04] Saallen commented on #60
Boom. got it. Thanks :)

[2015-02-24 16:09] toolness commented on #75
I'm a bit concerned about the davida.io approach because it feels like we're building our own product--a very sexy, easy-to-use product, but do we have the resources to continuously maintain and improve it? And provide all the essentials that a decent CMS provides? Could turn into a big black hole...

One of the things I really like about GitHub is its ability to auto-upload images that are dragge

[2015-02-24 16:18] toolness commented on #75
This might be jumping the gun, but what are the security constraints of the editing UI? Should users be able to insert arbitrary HTML that is unsanitized, if they want, or are we actively trying to prevent XSS attacks and such?

[2015-02-24 16:51] davidascher commented on #75
FWIW, I'm not thinking of davida.io (which name I didn't pick!) as a full solution.  I see it as a way to do 10% of the edits for content that is mostly authored using github + markdown.

[2015-02-24 17:00] LucyeoH commented on #60
@LauraHilliger can you add me too! The Teach The Web Talk dates that are listen on there are actually out of date :flushed:

[2015-02-24 17:04] LauraHilliger commented on #60
done! I added @amirad as well. Is there anyone else I should be adding? At the moment it's the 4 of us.

[2015-02-24 17:22] simonwex opened #80 "Create HTML/CSS templates from redpen"
Regardless of the final solution for content editing, we need the designs converted to HTML/CSS. The home page is something we promised we'd test with and the redpen is here:
https://redpen.io/pub30ddf619bc2bcf3

[2015-02-24 17:22] simonwex commented on #80
@cassiemc could you export a version with the grid layout you used?

[2015-02-24 17:24] toolness commented on #80
woooooooot

are there any existing mockups of what this should look like on mobile? Or should I not care about mobile for now, or just use my best guess at what would be decently responsive?

[2015-02-24 17:24] simonwex commented on #80
Ah, @cassiemc never-mind, I found it!

@toolness this might help: https://redpen.io/fk3c9fa74d54f34dee

[2015-02-24 17:25] simonwex commented on #80
@toolness, there's no mobile-friendly version yet, since we don't plan on doing content-editing from mobile as a P1. We'll be visiting mobile once we've selected the final solution.

[2015-02-24 17:27] davidascher commented on #80
@toolness but we will definitely be doing mobile before april 1st, so use your noggin.  (i.e. use a css framework that won't make that hard)

[2015-02-24 17:33] davidascher commented on #75
@toolness re: the security constraints -- We should assume the same security model that I would say github offers us -- assuming someone's authed and we have them in a whitelist of "people who can commit", then they have the full power of client-side tech.

We can explore restricting that (e.g. using a markdown processor that refuses to accept HTML), but I think that needs arguing for, given that

[2015-02-24 17:37] simonwex commented on #75
All these prototypes depend on #80

[2015-02-24 19:10] davidascher commented on #72
Super useful, thanks Laura.

Note: many markdown processors let you just use HTML blocks when needed.
It may not be enough (especially given if you need a lot of styles applied
on a per-div basis), but good to know in case you didn't.

More critical than markdown vs. HTML is the notion of 'front-matter', which
can be parsed by the site generator to do things like detect tags, ordering
of pages, et

[2015-02-24 20:02] Saallen commented on #25
Agreed. I will close this issue.

[2015-02-24 20:02] #25 closed

[2015-02-24 21:17] adamlofting commented on #57
This is great thanks.
- [ ] Once we settle on domain name (once we settle on branding) Adam needs to setup a new GA property via MoCo for tracking this site

[2015-02-24 21:39] hannahkane commented on #36
Note: I changed the title of this ticket to reflect the plan I outlined in the comment above.

[2015-02-24 21:44] hannahkane opened #81 "Determine content for "Teaching Activites" page"
RACI

* Phase: Planning
* Owner: @ldecoursy
* Decision Maker: @chrislarry33 @thornet
* Consulted: @LauraHilliger @dajbelshaw
* Quality Verifier: @hannahkane

Proposal: We have a "Clubs Curriculum" page for the sanctioned and tested series of sequential activities that we want Club Leaders to use (see #36). We create a separate "Teaching Activities" page to fulfill the "Grab and Go" needs of some u

[2015-02-24 22:13] hannahkane commented on #37
cc @thornet @LucyeoH @amirad @Saallen @ldecoursy @chrislarry33 to confirm that this is the correct content/hierarchy for April 1, and to provide the most relevant Discourse threads to embed.

[2015-02-24 22:21] chrislarry33 commented on #37
Is there a ticket or documentation on the seamless integration of Discourse?

[2015-02-24 22:21] chrislarry33 commented on #37
How about links/copy about our various community calls?

[2015-02-24 22:22] hannahkane opened #82 "Draft Welcome emails for new Teach site members, Club Leaders, and "interested" Club Leaders"
### RACI
* Owner: @hannahkane
* Decision Maker: @thornet
* Copy Lead: @amirad
* Consulted: @ldecoursy @LucyeoH

We'll want to set up three auto-emails, and we need copy for each.

1) Welcome email a user gets upon signing up through the Teach site.
* needs to include basic Wm stuff, since they’re also signing up for Webmaker
* needs to offer a good first step - maybe “Check out the Teaching Activi

[2015-02-24 22:25] hannahkane commented on #62
Thanks @LauraHilliger. That's perfect. Added to ticket description. We should finalize the content, and then we can build it right onto the new teach site.

@thornet — who should be responsible for finalizing the content?

[2015-02-24 22:39] hannahkane commented on #37
Good thought. Added community calls to the description. Feel free to edit the description directly - not sure the hierarchy is right.

Re: Discourse—wasn't imagining seamless integration would happen for April 1st, though that's on the roadmap for later. For now, was just wanting to embed some threads, if possible. And, if not, just link to Discourse.

[2015-02-24 22:40] chrislarry33 commented on #62
I think we need to pair this way down and get crisp on the issue and/or create one level deeper of detail (could even be links to a wiki or google doc in the meantime)

[2015-02-24 22:40] chrislarry33 commented on #62
But the you should scan your options in <10 seconds

[2015-02-24 22:45] hannahkane opened #83 "Identify two real quotes for Teach site"
One for the homepage (general quote, e.g. "teaching web literacy is great! I love being a mentor!" )

One for the Clubs page (more specific, e.g. "running a club is aces!")

[2015-02-24 22:59] chrislarry33 commented on #37
I think we need this somewhere:

    Why we teach: We are dedicated to empowering others with web literacy so that they have agency on the web as creators, citizens and future leaders.

    How we teach: Teaching and learning is how we achieve our mission. They are political as well as self-actualizing acts. We teach and learn by making projects together and openly reflecting on the process in an

[2015-02-24 23:06] hannahkane commented on #37
That strikes me as the kind of content that would go on an About page. We could build one and link to it from the footer. Does that sound right, or do you want it to be on the "TLM" page?

[2015-02-24 23:17] hannahkane opened #84 "Determine content for Events/Maker Party page"
Goals:
* Identify content that we want to port over
* Re-frame in light of new year-round MP schedule
* Re-frame as a component of Mozilla Learning, as opposed to its own stand-alone site

Started draft here: https://docs.google.com/a/mozillafoundation.org/document/d/1hqK0lbCri_oRb0NKI7Y_3RE-kCxasLFDICyh_5OPkRU/edit#heading=h.wdu9u570h9

[2015-02-24 23:36] hannahkane commented on #50
Separated this all out into individual tickets.

[2015-02-24 23:36] #50 closed

[2015-02-24 23:41] amirad commented on #82
Who are these emails from? Nameless? The team? Someone specific?

[2015-02-24 23:43] hannahkane commented on #82
They'd be system-delivered, but I'd vote for having them signed by someone specific. Maybe you or @thornet?

/cc @chrislarry33

[2015-02-24 23:48] hannahkane commented on #84
This one's on hold until after March 9. Meeting scheduled.

[2015-02-25 00:21] davidascher commented on #82
Flag that this is what's called "transactional emails" I presume (you sign
up, you get an email, as opposed to you're on a mailing list, you get
emails).  Good for @jbuck and @simonwex to know and think about as we're
building that capacity up elsewhere already.

L10n also likely impactful here.  Are the emails from regional leaders?
Just from e.g. @thornet but translated?

[2015-02-25 10:29] dajbelshaw opened #85 "Create questionnaires for 3. Participating on the Web: Community Participation"
We've got the [Story of Us](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-storyofus.html) activity, so we now just need to build out:

* [x] [Pre-session questionnaire for Learners](http://goo.gl/forms/KeeMwn7pMJ)
* [x] [Post-session questionnaire for Learners](http://goo.gl/forms/8UWO57WswT)
* [x] [Pre-session questionnaire for Mentors](http://goo.gl/forms/kAPPY2NDET

[2015-02-25 10:31] dajbelshaw commented on #52
Hey @hannahkane could you add me as 'consulted' for this one please? :)

[2015-02-25 10:32] dajbelshaw commented on #43
Could you add @LauraHilliger and I as 'Consulted' for this one please, @hannahkane?

[2015-02-25 10:33] thornet opened #86 "[MIGRATED] Determine which badges (if any) to issue in Q2"
See: https://github.com/mozilla/webmaker-curriculum/issues/140 for context

Reply here since other repo no longer active.

[2015-02-25 10:36] thornet commented on #34
@amirad can report on the MP meeting.

Metrics decisions: http://mozilla.github.io/webmaker-curriculum/about/#success

[2015-02-25 10:36] thornet commented on #33
@amirad would this be something you could lead?

[2015-02-25 10:36] thornet commented on #32
Published: http://mozilla.github.io/webmaker-curriculum/about

[2015-02-25 10:43] thornet commented on #72
+1 to looking at Emma's setup as possible inspiration: https://github.com/emmairwin/reps-edu/

@jbuck: here are some example activities to play with:

* http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html
* http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-puzzlebox.html

[2015-02-25 10:45] thornet opened #87 "Clubs curriculum: publish two "Participatiing on the Web" activities."
Web Chef: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-chef.html
Story of Us: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-storyofus.html

[2015-02-25 10:45] #87 closed

[2015-02-25 10:47] thornet opened #88 "Create overview of curriculum in development"
We need a page that shows what modules we're working on and their status

Made this: http://mozilla.github.io/webmaker-curriculum/

[2015-02-25 10:47] #88 closed

[2015-02-25 10:59] thornet commented on #6
Added some comments in the redpen!

The pages are looking great.

[2015-02-25 10:59] dajbelshaw opened #89 "Map UK GCSE Curriculum to Webmaker Club curriculum (and Web Literacy Map v1.1)"
_From @mickfuzz on January 21, 2015 18:0_

There's a page on the wiki.

https://github.com/mozilla/webmaker-curriculum/wiki/Mapping-Webmaker-to-GCSE-Computing

I'll make a start and invite people to help.

_Copied from original issue: mozilla/webmaker-curriculum#123_

[2015-02-25 10:59] dajbelshaw commented on #89
Hey @mickfuzz thanks for this! Looking forward to seeing how it grows. :+1:

Be aware that v1.5 of the Web Literacy Map will be landing at the end of March - but it won't be *radically* different from v1.1 :)

[2015-02-25 10:59] dajbelshaw commented on #89
_From @mickfuzz on January 25, 2015 15:13_

@dajbelshaw Great, I'll have a play around with the formatting of it, get some feedback and then start to invite people.

[2015-02-25 10:59] dajbelshaw commented on #89
Saw via Miles Berry this morning that the government has released a 'spec of specs': https://www.gov.uk/government/publications/gcse-computer-science

[2015-02-25 10:59] dajbelshaw commented on #89
_From @mickfuzz on January 27, 2015 19:24_

Well spotted, this seems a good base to work from rather than casting the net wider.

The school I've just started at aren't doing Computing and are still on ICT for GCSE. That seems to map a bit more directly to the Web Literacies.

[2015-02-25 11:00] dajbelshaw opened #90 "[MIGRATED] Develop modules for Feature Phone users in Nigeria and South Africa"
_From @LauraHilliger on January 18, 2015 8:33_

We are partnering with Every1Mobile to #TeachTheWeb to feature phone users in Nigeria and South Africa. This is a pilot project.

**Target Audience 18 - 24 year olds** in these countries. Potentially millions of people. Due to connection in these countries, and the fact that we are developing for a feature phone, our modules for the pilot will be tex

[2015-02-25 11:00] dajbelshaw commented on #90
Cool. I seem to remember from my mobile learning days that Geoff Stead (now at Qualcomm) did some stuff around mxit in South Africa. I'll ask him and John Traxler for info.

[2015-02-25 11:00] dajbelshaw commented on #90
_From @geoffstead on January 20, 2015 2:46_

Hi there - thanks for looping me in, Doug.

Several related tools / projects / teams I would review in this are:
1) mxit is a huge social media platform in southern africa, and works on old-school phones as well as smart ones. Many high profile learning and outreach initiatives have been run on it (and no doubt still are). every1Mobile might well be usi

[2015-02-25 11:00] dajbelshaw commented on #90
This is *great* stuff, @geoffstead  - thanks so much! Knew you'd be super-helpful. :-D

[2015-02-25 11:00] dajbelshaw commented on #90
_From @Algywilliams on January 22, 2015 11:17_

Thanks @Geoffstead. It's Algy from Every1Mobile here. Yes, we work very closely with Mxit and biNu - other platforms that we use for distribution are 2Go, Eskimo and Opera.

[2015-02-25 11:00] dajbelshaw commented on #90
Just want to query the 30 January milestone given amount of stuff mentioned by @LauraHilliger in first comment?

[2015-02-25 11:00] dajbelshaw commented on #90
_From @benrito on January 24, 2015 14:10_

Yes, we'll need to discuss. Doug, I'll find a time early this week.

[2015-02-25 11:00] dajbelshaw commented on #90
_From @thornet on January 27, 2015 11:10_

@benrito & @Algywilliams are confirming timelines. This will likely be kicked off in earnest in a few weeks, so I'm changing the milestone date.

[2015-02-25 11:00] dajbelshaw commented on #90
Met with @benrito and Katherine van Wyk (E1M) today. Katherine is going to send details of an information architecture that takes into account the constraints of their platform / feature phones. Basing this off the [Kraken activity](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html) in the first instance. Should have this by the end of the week. :)

[2015-02-25 11:00] dajbelshaw commented on #90
Update: follow-up meeting postponed until Wednesday 11th Feb as E1M need extra time to get Information Architecture to us.

[2015-02-25 11:00] dajbelshaw commented on #90
Update: met with Katherine, Alex & Algy from Every1Mobile. Went through information architecture for pilot activities on featurephones.
![wireframe_digital literacy course draft_v0 1](https://cloud.githubusercontent.com/assets/2429426/6147881/d46c85ee-b1f3-11e4-8d0c-882930e27d8b.png)

[2015-02-25 11:02] dajbelshaw opened #91 "Roadmap new curricular structure"
_From @LauraHilliger on April 9, 2015 12:46_

Web Lit stream in progress here: https://teach.etherpad.mozilla.org/weblitbasics
TLM stream: https://docs.google.com/a/mozillafoundation.org/document/d/1quD8jfETB3_vuRc6IqWlbKAcn9bMcLGQOnpBiuH66Mw/edit and [blogged](http://www.zythepsary.com/techie/open-fluency/)

**Update:** latest commenting is [here](https://github.com/mozilla/webmaker-curriculum/is

[2015-02-25 11:02] dajbelshaw commented on #91
I guess it depends what our theory is around progression. To what extent is Web Literacy Basics I-III a progression - as opposed to a smörgåsbord - of activities?

Suggest we make enhancements / build out the wiki until @thornet returns from PTO.

[2015-02-25 11:02] dajbelshaw commented on #91
OK, so here's my $0.02, riffing off @LauraHilliger's braindump above. This is dependent on a couple of (potential) changes coming in Web Literacy Map v1.5:
* **Infrastructure** merging with **Web Mechanics** (see [this issue](https://github.com/mozilla/webliteracymap/issues/10))
* **Design/Accessibility** separating out into two distinct competencies (see [this issue](https://github.com/mozilla/we

[2015-02-25 11:02] dajbelshaw commented on #91
_From @ldecoursy on January 26, 2015 13:56_

Seems like a good flow to me (knowing that many activities will cross over competencies and hopefully draw on/reinforce skills learned earlier in the process). Would be good to get the curriculum working group's weigh-in once we have that group identified after tomorrow's call.

[2015-02-25 11:02] dajbelshaw commented on #91
Just flagging that in Issue #113 I've [flagged a potential need](https://github.com/mozilla/webmaker-curriculum/issues/113#issuecomment-71480839) to switch **Designing for the Web** and **Remixing**.

[2015-02-25 11:02] dajbelshaw commented on #91
OK, taking another stab knowing that we'll need *two* activities for the **Participating on the Web** part of **Web Literacy Basics I**. Let's just focus on the first couple of modules to begin with:

# Web Literacy Basics I

## Reading
* Credibility
* Web Mechanics

## Writing
* Composing for the Web
* Remixing

## Participating
* Open Practices
* Privacy

# Web Literacy Basics II

## Reading
* N

[2015-02-25 11:07] LauraHilliger commented on #72
storing the conversation on simplifying jekyll in case...uh, in case the conversation is somehow useful: https://github.com/mozilla/webmaker-curriculum/issues/32

[2015-02-25 11:19] LauraHilliger opened #92 "Make a graphic overview of the activities"
We will need a graphic to help people understand the club activities and how we intend them to be used. A non-outdated version of:

![club-proposal-assets](https://cloud.githubusercontent.com/assets/539017/6369629/7925e5cc-bce8-11e4-90f9-3d39b556b056.png)

[2015-02-25 11:29] LauraHilliger opened #93 "[MIGRATED] Update "Club Audit" with a curriculum audit"
Moving from the curriculum repo:

We have this audit of orgs with club-like activities. It notes that certain orgs have curricula, we should be auditing to see how we might be able to use what already exists. Need to check for licensing, remixability and alignment to Web Lit Map, especially for competencies that don't have a lot of materials to pull from.

https://docs.google.com/a/zythepsary.com/

[2015-02-25 11:31] LauraHilliger commented on #93
Related: https://github.com/mozilla/webmaker-curriculum/issues/85

[2015-02-25 11:37] LauraHilliger opened #94 "Create stylesheet to print activities and resources"
Conversation was started here: https://github.com/mozilla/webmaker-curriculum/issues/99

[2015-02-25 11:41] LauraHilliger commented on #91
related: #92

[2015-02-25 12:10] soapdog opened #95 "Rio: localize initial report about Rio de Janeiro LAN houses"
Localize the report made by Laura into Brazilian Portuguese. I have InDesign here and can do it once I have access to the original file.

[2015-02-25 12:17] LauraHilliger commented on #81
I started to comment in RedPen, wrote too much, but the TLDR is "Do we **really** need a separate page?":

Clubs curriculum is still a scaffolding of activities, e.g. a series of "kits", just presented differently. We have a lot of great kits from the past years that we should be displaying as well.

We might have "Web Literacy: 21st Century skills" and underneath might be Web Literacy Basics 1 (c

[2015-02-25 12:59] thornet commented on #37
We might want to include a condensed version in "Teach Like Mozilla", since it's our value proposition. Why teach like us if we don't say what that means? etc.

@hannahkane how much space do you think would be available and make sense for an appropriate summary from that longer content?

[2015-02-25 13:00] thornet commented on #62
+1 to deeply editing it down. @LauraHilliger do you want to take a stab at a condensed version?

[2015-02-25 13:27] toolness commented on #80
Ok, will do!

I am hacking on this at https://github.com/toolness/mozilla-learning-html. It does not look particularly faithful to the original mockups yet.

Also, from a technical perspective, it uses <code>[React.renderToStaticMarkup()](http://facebook.github.io/react/docs/top-level-api.html#react.rendertostaticmarkup)</code> to generate a static site, just because I thought that would be fun to

[2015-02-25 13:53] toolness commented on #75
As I've noted in https://github.com/MozillaFoundation/Mozilla-Learning/issues/80#issuecomment-75959029, I'm building out the front page using React, and it's easily exportable to static HTML that doesn't require any JS on the client-side.

I'm hoping this will facilitate exploring some of the concepts mentioned in this issue--for instance, a rich React-based editing experience similar to davida's

[2015-02-25 14:25] dajbelshaw commented on #85
# Pre-session questionnaire for Learners

## Question 1
**Do you currently participate in online communities?**

* Yes
* No
* Unsure

## Question 2
**If you have participated in an online community, what kind of community was it?**

* Learning
* Gaming
* Social
* Other *(please specify)*

## Question 3
**If you have participated in an online community, which tools/apps have you used?**

* Chat *(e

[2015-02-25 14:28] ldecoursy commented on #81
Our goal is sustained engagement, so highlighting the Clubs curriculum is key. Of course also recognize some people will want to sample/try individual activities, or set up scaffolds of their own, and that there's lots of existing content. I think for MVP for this site, we really want to highlight the best of what's been created so far. Thanks for the etherpad @LauraHilliger - I'll dig in!

[2015-02-25 14:29] dajbelshaw commented on #85
# Post-session questionnaire for Learners

## Question 1
**What kind tool did you use to reflect on your community participation?**

* Video
* Audio
* Text
* Unsure
* Other *(please specify)*

## Question 2
**Why did you decide to use that tool?**

* It was suggested to me
* I already knew about it
* I discovered it by searching
* Unsure

## Question 3
**Was the session fun? Was it interesting? Wh

[2015-02-25 14:45] dajbelshaw commented on #85
# Pre-session questionnaire for Mentors

## Question 1
**Which of these skills do you think the activity will help teach?**

* Encouraging participation in web communities
* Using constructive criticism in a group or community setting
* Configuring settings within tools used by online communities
* Participating in both synchronous and asynchronous discussions
* Expressing opinions appropriately i

[2015-02-25 14:50] dajbelshaw commented on #85
# Post-session questionnaire for Mentors

## Question 1
**Which of the following skills did at least 70% of your learners demonstrate?**

* Use and share files in open, web-friendly formats when appropriate
* Participate in both synchronous and asynchronous discussions
* Choose a Web tool to use for a particular contribution

## Question 2
**Which part of the session do you think your learners enj

[2015-02-25 14:50] dajbelshaw commented on #85
Just need to transfer questions to respective Google Forms now. Doing it this way so we have a backup copy of the content...

[2015-02-25 15:14] ldecoursy commented on #95
Hi @soapdog Can you clarify, are you referring to the field research from Kenya? https://blog.mozilla.org/m4d/2015/02/03/webmakers-field-research-report-from-kenya/

If so, would you mind filing in the webmaker.org repo? https://github.com/mozilla/webmaker.org/issues

Thanks!

[2015-02-25 15:40] dajbelshaw commented on #85
OK, questions transferred and ready for review:

* [Pre-session questionnaire for Learners](http://goo.gl/forms/KeeMwn7pMJ)
* [Post-session questionnaire for Learners](http://goo.gl/forms/8UWO57WswT)
* [Pre-session questionnaire for Mentors](http://goo.gl/forms/kAPPY2NDET)
* [Post-session questionnaire for Mentors](http://goo.gl/forms/gUaeABnBuh)

[2015-02-25 17:28] LauraHilliger commented on #62
linking out to more information after quick grok is a good idea, we have loads of stuff. Not finished, but have started an index: http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/starting-club-index.html

[2015-02-25 17:59] hannahkane commented on #82
Yes, transactional. For v1, they likely won't be from regional coordinators, they'll all be from the same staff person. Scheduled to discuss v1 l10n reqs tomorrow morning.

[2015-02-25 20:12] Saallen commented on #32
Updated the Gaaaant chart. :eyes:

[2015-02-25 20:39] Saallen commented on #60
Let me build it out with our events first and then we can the entire Learning networks team :eyes:

[2015-02-26 00:34] toolness commented on #80
Ok, it's getting close I think. This is what I have so far:

![2015-02-25_19-25-50](https://cloud.githubusercontent.com/assets/124687/6383959/44174ce0-bd24-11e4-8efc-8703293b7d25.jpg)

It's working fine in the latest versions of Firefox, Chrome, and IE11. Safari seems to be a bit wonky but shouldn't take much to fix.

It's also somewhat responsive, though I didn't focus a ton on it as per the conv

[2015-02-26 00:38] davidascher commented on #80
yay!

[2015-02-26 01:05] hannahkane commented on #80
Rad!

Will let others comment on whether the remaining issues are blockers, as I don't know what our standard "Done Criteria" is. :)

[2015-02-26 01:08] soapdog commented on #58
Me and Mario are going to ITS tomorrow (26th of February). We're having a call with Ben, Michelle and others and decided that we could take the call from there.

We also have a schedule meeting at ITS on Monday to review the report.

[2015-02-26 01:09] soapdog commented on #56
I am familiarizing myself with speedshow and talking to local people who held similar events. Will post relevant information and planning here.

[2015-02-26 01:12] soapdog commented on #95
Hi @ldecoursy. I am referring to the initial report made about Rio de Janeiro, not the one about Kenya. Thanks a lot for sending me the Kenya related info though. That report is great.

[2015-02-26 01:15] hannahkane commented on #92
Hey, @LauraHilliger — is this meant for marketing materials, or the website, or somewhere else? Thanks!

[2015-02-26 01:22] hannahkane commented on #37
Good point that the TLM page needs an easy-to-grok definition of what it means to teach like us. The Why/How/Who/What/Where feels pretty long for web copy, though. Wondering if we can come up with  headline length copy for the TLM page itself (something like "We teach and learn by making projects together and openly reflecting on the process"), and link to a separate page for people who want to kn

[2015-02-26 02:30] simonwex commented on #80
Hey @toolness, when you're happy with this, could you flag Cassie for review?

[2015-02-26 08:51] LauraHilliger commented on #92
For somewhere "next to" the curriculum on the site. We've found that people need a quick overview to understand how different bits relate to one another. Illustrate the "preferred" pathway, if you will.

[2015-02-26 09:36] dajbelshaw commented on #37
There's some stuff we could repurpose / riff off from the [Why Mozilla cares about Web Literacy](https://mozilla.github.io/webmaker-whitepaper/) whitepaper - for example:

...and:

[2015-02-26 09:39] dajbelshaw commented on #92
Wondering if, to "yes, and..." @LauraHilliger's comment, there's any value in showing a preferred path amongst other options?

![hexagons](http://digitalliteraci.es/wiki/images/thumb/7/77/Non-linear-pathways.png/120px-Non-linear-pathways.png)

![branching](http://digitalliteraci.es/wiki/images/thumb/9/98/Branching-logic.png/120px-Branching-logic.png)

[2015-02-26 10:02] LauraHilliger commented on #92
"yes, and...and" multiple preferred paths also a possibility at the moment, since we're developing multiple activities in the Clubs curriculum. In any case, we can't solve this until we solve #91 :dart:

[2015-02-26 10:31] dajbelshaw commented on #91
Let's take this to etherpad: https://teach.etherpad.mozilla.org/weblitbasics

[2015-02-26 10:47] dajbelshaw commented on #52
Hey @hannahkane, have added some thoughts here: https://teach.etherpad.mozilla.org/weblitpage

[2015-02-26 13:06] soapdog opened #96 "[MIGRATED] Rio: localize the web literacy map into pt_BR"
Most of our audience in the Rio LAN houses project does not speak English. All resources made available to them needs to be in Brazilian Portuguese.

One special resource that will aid self-assessment is the Web Literacy Map. Right now the map is in that hybrid state where some strings are in Portuguese but most of it is still in English.

![recursos 2015-02-26 10-05-34](https://cloud.githubuserco

[2015-02-26 13:08] dajbelshaw commented on #96
Hi @soapdog! Just flagging that this is v1.1 of the Web Literacy Map and v1.5 will be ready by the end of March. The idea is to include localisation as part of that push. :)

https://github.com/mozilla/webliteracymap/

/ cc @hannahkane

[2015-02-26 13:09] soapdog commented on #96
Perfect @dajbelshaw! I will help on that repo. Thanks a lot.

[2015-02-26 13:11] dajbelshaw commented on #83
Are these new quotations (i.e. ones we're *asking* for) or ones from material we've already gathered (e.g. survey responses)?

[2015-02-26 13:12] dajbelshaw commented on #81
If there's a RACI for this, could you add @LauraHilliger and me to it please, @hannahkane? :)

[2015-02-26 13:27] dajbelshaw commented on #96
I think the translation/localisation itself will happen on Transifex, but the English v1.5 will appear on the above repo first.

We'd love your input on the community calls if you ever get time: https://wiki.mozilla.org/Webmaker/WebLiteracyMap/v1.5

(there's actually a call at 4pm UTC [today](https://teach.etherpad.mozilla.org/weblitmap-26feb15)!)

[2015-02-26 14:06] dajbelshaw commented on #48
Specific issue is here: https://github.com/mozilla/learning-pathways-whitepaper/issues/26

[2015-02-26 14:08] dajbelshaw commented on #26
Just updating this to point to issue in this repo: https://github.com/MozillaFoundation/Mozilla-Learning/issues/91

This etherpad may be useful: https://teach.etherpad.mozilla.org/weblitbasics

[2015-02-26 14:10] LauraHilliger commented on #62
Ok, I've updated this page (@hannahkane note that the URL is different from description URL) : http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/starting-club-index.html

and have made two new subpages:
http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/coordinate.html
http://mozilla.github.io/webmaker-curriculum/Experiments/StartHere/advocate.html

"Collaborate" t

[2015-02-26 14:10] dajbelshaw commented on #27
I'd also add that there's at least three different audiences:

* Those that already teach in **formal** settings and want to try out different pedagogies/styles
* Those that already teach in **informal** settings and want to up their game
* Those that have **no experience** of teaching at all

[2015-02-26 14:12] dajbelshaw commented on #55
Could you clarify what you mean by 'Web Lit content', @hannahkane?

[2015-02-26 14:13] dajbelshaw commented on #76
Just flagging that we're currently using: http://blog.webmaker.org/badges

[2015-02-26 14:21] dajbelshaw commented on #78
Would be really good to have a visual workflow for this, so that both applicants and reviewers can see what stage the application is at (and what they can attempt next!)

[2015-02-26 15:05] chrislarry33 commented on #62
This is an essential piece of this sites launch in the V1 construct. We are responsible for the content being clear, tight and actionable. During the Brooklyn Clubs workweek we decided that Amira was leading the community curration of this content and culling the previous iterations of. Clarity and usable information is this pages #1 goal. Design, layout etc is domain of DA's team. @amirad will le

[2015-02-26 15:06] chrislarry33 commented on #62
@thornet

[2015-02-26 16:46] chrislarry33 commented on #78
I agree on that asset, but may be premature until the tool matures.

[2015-02-26 16:47] chrislarry33 commented on #76
Thanks Doug, collecting the disparate assets is very helpful.

[2015-02-26 16:55] chrislarry33 commented on #83
We should be culling these from existing assets/resources

[2015-02-26 17:00] ScottDowne commented on #11
All done

https://webmaker.org/en-US/badges/privacy-coach
https://webmaker.org/en-US/badges/ip-address-tracer
https://webmaker.org/en-US/badges/data-trail-timeline

I ended up hard coding the badges we want to not display an apply button for and decided to not use the query string based on advice from Kate.

Closing this.

Any issues found should be filed as new tickets.

[2015-02-26 17:00] #11 closed

[2015-02-26 18:01] hannahkane commented on #12
Hey, @smithisgeneric, have the most recent change suggestions been implemented? What's left to do on this one?

[2015-02-26 18:14] smithisgeneric commented on #12
I am fine to finish this and will close the issue early next week.  I have the page built behind login on Hive Toronto's wordpress and will update it with the links Scott has provided and as many of Jess's design changes as possible.

[2015-02-26 18:47] ldecoursy commented on #81
Checklist for selecting content for this page started here: https://teach.etherpad.mozilla.org/contentreview

[2015-02-26 20:18] chrislarry33 commented on #81
@thornet

[2015-02-26 22:33] hannahkane commented on #37
Updated the ticket description with headline-style copy to get us started. Will file a separate ticket for an About page that can be more verbose.

[2015-02-26 22:35] hannahkane commented on #92
Given that we're about to launch a new presentation of the curriculum, I'd like to wait and see if a graphic is needed. Ideally, we'll solve this problem by presenting the curriculum and pathways in a coherent way right on the site.

Is it okay if I close this for now?

[2015-02-26 22:45] hannahkane commented on #52
Thanks, @dajbelshaw. I added some comments/questions to the etherpad, and updated the ticket description.

Couple questions:
 - Is there a single Discourse thread we can point to about the Web Literacy Map?
 - Is v1.5 ready to go? If so, can you please list the changes in this ticket?

[2015-02-26 22:48] hannahkane commented on #55
@dajbelshaw  - meant that webmaker.org/resources and webmaker.org/literacy should redirect to the new Web Lit page, and that the entire Teach section of the Webmaker nav will be removed. (Ideally, Webmaker will include a link to the Teach site, but I'll leave it up to that team to decide how best to implement that.)

[2015-02-26 22:49] hannahkane commented on #78
Will spec this out much more thoroughly closer to the milestone.

[2015-02-26 22:51] hannahkane commented on #12
Excellent! I'm going to close the parent issue.

[2015-02-26 23:20] hannahkane commented on #70
"Add Your Club" workflow is here: https://redpen.io/wc356809d269ed0827. There are a couple more  redpen comments to incorporate.

[2015-02-26 23:24] hannahkane opened #97 "Design "Indicate your interest" workflow for Clubs page"
### "Indicate your interest" workflow

Entry point: Need to add one to Clubs page

We need a pathway for those who don't yet have a Club to add, but who are interested in starting a club.

We should collect their email address and location, and provide immediate feedback: "One of our organizers will contact you shortly"

The location should show up on the map; needs to be visually differentiated f

[2015-02-26 23:28] hannahkane commented on #6
I believe the Clubs page itself is good to go (distinct from the "Add Your Club" workflow which is in #70). Need to ship assets to engineers.

[2015-02-26 23:41] hannahkane opened #98 "Determine where Contact details live on Teach site"
### Content

Each of these things needs a home:

* Chat with other mentors on Discourse
* Email us: help@webmaker.org
* Follow us on Twitter: @Webmaker
* Join the conversation using the #TeachTheWeb hashtag

[2015-02-26 23:45] hannahkane commented on #38
Adding an About page (will need to be added to the nav panel footer) to capture the POV content.

@thornet @chrislarry33 - can you confirm the copy here? Might be good to add more introductory/context-setting copy. Or perhaps a bit of history?

[2015-02-26 23:48] hannahkane commented on #40
Not sure if this ticket is needed since @toolness has basically finished this already, but want to make sure we capture all "Done Criteria" — must be responsive, passing in whatever browsers we support (is there a definitive list somewhere?)...do we have other Done Criteria?

[2015-02-26 23:57] hannahkane commented on #38
Could be a good place to reference some of the differentiators from @thornet's email thread: "peer learning, production-centered, open practices, in-person facilitated, culturally localized, with low-fi/no-fi options, and don't push a single product"

[2015-02-27 00:12] toolness commented on #40
That's a good question! I wrote all the ones I could think of in the repository here:

https://github.com/toolness/mozilla-learning-html/issues

[2015-02-27 03:29] chrislarry33 commented on #38
Is there a deadline on this? I think we need @ldecoursy on this one as well.

[2015-02-27 03:39] chrislarry33 commented on #6
I added some comments in RedPen. I have a few copy and image issues. Should be easily solvable and I agree looks awsm and would like to pass off soon.

[2015-02-27 11:26] dajbelshaw commented on #52
Great, thanks @hannahkane. Three points to make:

1. I think we should link either to the [wiki page](https://wiki.mozilla.org/Webmaker/WebLiteracyMap) or [GitHub repo](https://github.com/mozilla/webliteracymap/) for ongoing development/getting involved. The wiki is probably the least scary. The problem with linking to forums is that it's difficult to grok what's going on (and there's inevitable p

[2015-02-27 11:27] dajbelshaw commented on #55
Gotcha. Thanks @hannahkane :)

[2015-02-27 15:36] hannahkane commented on #38
Hoping to get this one written and designed in the next heartbeat.

[2015-02-27 15:44] hannahkane commented on #6
Thanks for feedback.

This has been a bit confusing. The redpen has two versions of both the Clubs page and the "+ your Club" modal. We landed on the "Add Your Club" version, but some relevant comments are on the "Start Your Club" version. @vazquez - I can help synthesize.

Also, there are some comments about the page wrapper (navigation/footer) that are outside the scope of the Clubs ticket. I'll

[2015-02-27 15:55] ldecoursy commented on #38
Just assigned myself - should we change the title of this ticket to Finalize copy for "About" page and have a separate one for design?

[2015-02-27 15:59] hannahkane opened #99 "Design "About" page of site"
Copy coming in #38

[2015-02-27 16:07] vazquez commented on #6
Thanks Hannah :). I'm still at the workweek. I'll reach out to you on Monday so we can catch up and synthesize feedback.

[2015-02-27 17:00] ldecoursy commented on #83
I'd like to get quick approvals from folks before we use them. Let me know what you think of the options below. I can also reach out to a few folks individually.

These are pulled from our initial 1:1 conversations.
* Mikko Kontto "The idea teachers and students learning at same time is what makes me excited about this work. This kind of free and open club approach is the only way to go about it,

[2015-02-27 18:16] thornet commented on #62
Thanks, @LauraHilliger for the content refresh. Lots of great stuff.

@amirad will lead merging your doc with her doc that she wrote with community members: https://docs.google.com/a/mozillafoundation.org/document/d/1syswSeON-0o1svFz8F457uCncg8Kvx5IW8-2Xi3RBpw/edit

and getting it to the product team in a format that will be used for the site.

We're getting better at using Github to track this do

[2015-02-27 18:32] hannahkane commented on #83
I really like the quotes from Mikko and Maurya, though I wonder if they could be made shorter. Perhaps for the homepage: "Web literacy is about more than coding - it's about how you can be a better web citizen." And for the Clubs page: "The idea of teachers and students learning at the same time is what makes me excited about this work."

I'd reserve Priyanka and Su's quotes for if we ever decide

[2015-02-27 18:35] hannahkane commented on #52
Thanks, @dajbelshaw. Added the link to the wiki to the ticket description, and noted that the final skill lists are pending.

What about linking to the Mozilla Manifesto from the wiki page? I want to keep this page as simple as possible, and wonder about how critical the Manifesto is at this level.

[2015-02-27 18:36] adamlofting commented on #64
I've crossed checked these databases now, and 2486 of the contributors have opted in to hear from Mozilla via various sign-up forms.

[2015-02-27 18:54] ldecoursy commented on #64
@adamlofting Is there any way for us to know where these contributors are located? Looking to build a baseline to know where activity is happening, to track towards our goal of 500 cities this year.

[2015-02-27 18:58] adamlofting commented on #64
@ldecoursy we don't have any location data stored against these email addresses. We'd have to ask these people to tell us more about themselves (perhaps something they could do if and when they register on the new site).

[2015-02-27 19:55] ldecoursy commented on #83
Sounds good to me - do you need headshots of them too? If so I can reach out now for both approval and images.

[2015-02-27 20:01] hannahkane commented on #83
Headshots would be great. Thankds, @ldecoursy!

[2015-02-27 20:29] ldecoursy commented on #83
OK emailed them both will keep you posted!

[2015-02-27 20:45] ldecoursy commented on #83
Maurya approved, here's her photo:

![550474_10151289899842329_2028778841_n](https://cloud.githubusercontent.com/assets/4885898/6420808/93e53f06-be97-11e4-90b6-b81600edaf32.jpg)

[2015-02-27 20:49] chrislarry33 commented on #83
OK with truncated quotes

[2015-02-27 21:10] amirad commented on #62
@LauraHilliger your github pages look so lovely! I would *really* appreciate your help in seeing what the google doc (http://bit.ly/1Dxa3zQ) is missing and adding comments to it based on the info in pages you have already done. I'm traveling next week but the group of community members who have been providing input on what it should look like have all been asked to also add their comments and feed

[2015-02-27 21:29] amirad commented on #64
Thanks @adamlofting - can we port this list into an easy to access group in BSD for future communications?

[2015-02-27 21:36] chrislarry33 commented on #64
Great question @amirad b/c if we could, that would be amazing. Also if/when we did can we have a plan for adding to it?

[2015-02-27 21:44] amirad commented on #64
@chrislarry33 - do you have an idea of who you would want to add to it?

[2015-02-27 21:47] chrislarry33 commented on #64
i'd want to drive new people there

[2015-02-27 23:35] hannahkane commented on #36
Note: before we begin the build, we can populate the mock-up with six actual activities. Can be found here: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/index.html

[2015-03-01 23:30] amirad commented on #82
Did a rough cut here: https://teach.etherpad.mozilla.org/clubtransactionalemails

@hannahkane @ldecoursy @thornet can you edit pls!

[2015-03-02 08:46] LauraHilliger commented on #60
note: @emmairwin added me to her new Community Education calendar. Maybe there's a way we can cross streams here?  @emmairwin – could you add @Saallen and @LucyeoH to this calendar as well? Maybe we can cross post certain things...

https://www.google.com/calendar/render?mode=day&date=20150227T214856&pli=1#h|day-1+23131+23131+23131

[2015-03-02 10:39] #34 closed

[2015-03-02 10:45] thornet commented on #32
added program update to wiki: https://wiki.mozilla.org/Webmaker/2015/Mentors/Clubs

Regular meeting scheduled with @Saallen @amirad @ldecoursy @hannahkane & Simona to review roadmap and Github tickets.

[2015-03-02 10:45] #32 closed

[2015-03-02 11:01] thornet commented on #81
Added my recommendations to the etherpad.

[2015-03-02 11:06] dajbelshaw commented on #52
+1 to keeping the page as simple as possible, @hannahkane. We decided to link to the manifesto in the surrounding text rather than explicitly base this revision of the Web Literacy Map upon it.

Perhaps it's as simple as extending the current text at [webmaker.org/literacy](https://webmaker.org/literacy)?

Does that work? :)

[2015-03-02 11:53] Saallen commented on #60
Hey
@emmairwin and myself have already chatted about our new calendar cross over
I would love access Emma if possible and our calendar is almost ready too. I can add you to this calendar if you wish :smile:

[2015-03-02 13:09] LauraHilliger commented on #81
added a couple too. Should we be combing these kits for activities, or do we want to present whole kits? The criterion "Doesn't take more than 60 minutes" won't work for whole kits, and the criterion about learning objectives is tricky too because while activities have them, they're listed on the kit overview page as opposed to on the activity page.

Let me know how/if I can help :)

[2015-03-02 13:46] thornet commented on #82
Thanks for these! Made some edits in the etherpad.

[2015-03-02 13:58] thornet commented on #37
Love it!

Slight edit suggestion for the headline: "We learn best by making and reflecting -- together."

[2015-03-02 13:59] thornet commented on #18
Proposing @amirad takes this one as part of her Maker Party planning

[2015-03-02 14:03] thornet opened #100 "Reflect and repackage Web Litearcy Basics I"
We want to test what a distributed curriculum sprint looks like.

In this heartbeat, we'll scope what's needed in terms of participation and process to i) REFLECT, ii) PACKAGE, and iii) SHIP the remixes and refinements to Web Literacy Basics I module.

[2015-03-02 14:07] ldecoursy commented on #82
Also added comments - thanks!

[2015-03-02 14:25] LauraHilliger commented on #62
Looks like you and I have very similar information, so I don't think you've missed anything. I made some comments, and sorry for jumping the gun.

[2015-03-02 14:45] ldecoursy commented on #95
Closing this here - refiled in Research repo https://github.com/MozillaFoundation/research/issues/17

[2015-03-02 14:45] #95 closed

[2015-03-02 15:59] hannahkane commented on #52
Ah, understood. Updated ticket description with that copy. Thanks!

[2015-03-02 16:01] hannahkane commented on #37
Thanks for the edit, @thornet. Updated!

[2015-03-02 18:53] ldecoursy commented on #81
@thornet @chrislarry33 Do you want to +1 the 8-10 you like best? Then I can draft some quick intro copy for each.

[2015-03-02 21:45] hannahkane commented on #82
Also added edits. Overarching suggestion is to choose one CTA per email. @thornet, @ldecoursy, and @LucyeoH - if you agree, can you weigh in on which is the most important CTA for each email?

I also added some subject line ideas. Could definitely use some love. :)

[2015-03-02 22:04] hannahkane commented on #71
Question for @adamlofting — looking for recommendations about how to handle email capture here. Ideally, the "add your club" workflow is not dependent on the user having a Teach account (see #46). I'm thinking that means we'll need to add an email opt-in to the "Add your club" form so that we can email users who add their Club, but who haven't signed up for a Teach account.

Or perhaps the simples

[2015-03-03 00:07] chrislarry33 commented on #81
I added my +1s. I think there is some ones in second list to use.
Perhaps @LauraHilliger could clean up a few we like but that are missing pieces

Also where are the ones from the stay ay home dad?

[2015-03-03 09:19] LauraHilliger commented on #81
They're here: https://webmaker.org/en-US/user/fourtonfish/teaching-resources

Currently there are 7 +1's in the "no need to modify" section and 5 in the tweaking section. Happy to make changes / do cleanup once the list is chosen.

[2015-03-03 12:55] hannahkane commented on #71
Realizing the sign-up flow might not be any more burdensome than the Add Your Club flow, so maybe this point is moot. Maybe adding your Club *is* signing up—we just need to make that transparent to the user.

[2015-03-03 13:22] LauraHilliger commented on #62
Emma has some good tips on running her club too: http://tiptoes.ca/webmaker-exploratory-in-review/

[2015-03-03 13:36] dajbelshaw commented on #62
That's *such* a good blog post. I like her tenacity and honesty. :)

[2015-03-03 14:21] adamlofting commented on #71
#### TL;DR: I vote for getting people to create accounts.

--
My view (though not based on any experimental metrics :wink:) is that the most long term value comes from getting people into the overall social-engaging-interactive bit of joining this community as quickly as possible. In the long run, that's creating accounts and sending relevant transactional emails about the things they are doing an

[2015-03-03 14:54] ldecoursy commented on #81
I've updated the etherpad so top picks start at line 31. I suggest removing the SEO Battle - Meredith said it takes a few days for Google search results to reflect new pages, so not really a payoff at the end. That leaves us with 11, and I'm currently adding a few notes about tweaks we might want to make to 4 of them. @LauraHilliger can you help with that, and maybe select one from Stefan if there

[2015-03-03 15:03] hannahkane commented on #71
Thanks, @adamlofting!

Just updated the ticket description to specify that Add Your Club flow should require authentication. The sign-up flow described in #46 is really quite simple, as you suggest, so I agree that it won't be too much of a burden (though I do want to include the opt-in for Mozilla comms, as my understanding is that's very important to us).

I'd originally had a full user profile

[2015-03-03 15:05] LauraHilliger commented on #100
Not sure if this is what you were thinking, but I took some time to go through the call notes and Discourse threads to pull out feedback and remixes. Most of the feedback focused on the first section, so we should try to get more folks testing sections 2 and 3.

Synthesized Feedback is here (hack at will, it's still pretty "notey"): https://teach.etherpad.mozilla.org/club-curriculum-feedback

The

[2015-03-03 15:19] chrislarry33 commented on #81
One thought I had is should we highlight "Tools we like" section that could have like Scratch etc? Also should we catalogue some aligned activities repositories like North Western's Fuse, Common Sense Media and NWP's Youth Voices?

[2015-03-03 15:41] LauraHilliger commented on #81
How do you feel about this one from Stefan? It's involved, but timings are given, it's well documented and seems to be broken up nicely: https://fourtonfish.makes.org/thimble/creating-for-the-modern-web

I will start remixing tomorrow.

[2015-03-03 15:47] LauraHilliger commented on #100
cc @amirad @ldecoursy - I know you all are thinking about feedback as well!

[2015-03-03 17:07] dajbelshaw commented on #81
+1 for the web fonts stuff, @LauraHilliger. The API stuff seems a bit high-bar for this context, though.

[2015-03-03 17:34] cassiemc commented on #37
@iamjessklein can you start this ticket off with some (can be loose) high level wireframes?

[2015-03-03 17:53] LucyeoH commented on #82
Hey tried pulling out some CTA's. @hannahkane Was wondering how login is going to work on this site? If we need them to create a specific login for the site or will it be the same as Webmaker? Also should we have any of the CTA's be to "make an account" if they haven't already?

[2015-03-03 19:07] toolness opened #102 "gulp doesn't generate source maps"
I started "porting" [mofo-example-app](https://github.com/MozillaFoundation/mofo-example-app) into this codebase but haven't yet put sourcemaps in, which makes things ridiculously hard to debug. @alicoding, interested in fixing this?

Note that we're using webpack instead of browserify, so it might not be as straightforward as copy-pasting from the example app...

[2015-03-03 19:08] toolness opened #103 "'gulp watch' doesn't handle LESS errors gracefully"
Currently LESS errors crash `gulp watch`. Ideally, gulp should just wait and re-compile the LESS when it's detected changes.

@alicoding, want to fix this one?

[2015-03-03 19:15] alicoding opened #104 "TypeError: Cannot call method 'relative' of undefined"
After I did `npm install` and trying to run the app using `gulp watch` I'm seeing this error:

[code]

[2015-03-03 20:05] hannahkane commented on #82
Thanks for clarifying the CTAs, @LucyeoH.

Users will log in to the site - the devs will determine this heartbeat whether it's a shared sign-on with Webmaker or not. The goal is that eventually it is (and it likely will be from the beginning).

Everyone who receives one of these emails will have an account, by definition (email #1 is what they receive after creating an account, and emails #2 and #

[2015-03-03 20:05] #82 closed

[2015-03-03 20:12] hannahkane commented on #36
As per conversation with @cassiemc, the page that's been designed works well for the "new" Teaching Materials page. We just need to replace the activities (currently Ping Kong and Kraken the Code) with the finalized activities from #81.

[2015-03-03 20:17] hannahkane opened #106 "Design "Clubs Curriculum" page"
### RACI
* Phase: Design
* Owner: @hannahkane
* Decision Maker: @hannahkane
* Design Lead: @vazquez
* Dev Lead: NA
* Quality: @davidascher

As per recent conversation with @cassiemc, this is the *new* page we need to design.

Let's explicitly present the Web Literacy Basics curriculum as a sequence of activities designed to be done as a unit, in the context of Clubs.

The most up-to-date Clubs Cur

[2015-03-03 20:19] hannahkane commented on #83
Any word on Mikko's OK + headshot, @ldecoursy ?

[2015-03-03 20:20] ldecoursy commented on #83
I reached out again via email - haven't heard back yet, will try via Twitter!

[2015-03-03 20:30] vazquez commented on #70
Design Prototype: http://invis.io/HM2CQUPD2

@hannahkane @iamjessklein

[2015-03-03 20:45] toolness opened #107 "Deploy to a staging S3 site whenever 'master' is pushed to"
The original version of the site was hosted on gh-pages, because we were able to have an `index.html` file that dynamically loaded all the assets for a full site without needing a build step. However, splitting the JS codebase up into modules necessitated that we migrate to a system requiring a build step.

Currently, I'm manually syncing the codebase every so often to http://mozilla-learning-html

[2015-03-03 20:48] toolness opened #108 "Add client-side test suite"
Currently `npm test` just builds the static site, which does exercise a lot of the code. However, browser-specific code such as event handlers isn't tested when this occurs, so it'd be nice if we had some client-side tests. Fortunately, React has a bunch of [test utilities](http://facebook.github.io/react/docs/test-utils.html) that should make this relatively easy.

[2015-03-03 20:53] #104 closed

[2015-03-03 21:29] #103 closed

[2015-03-03 21:41] toolness opened #110 "'gulp watch' might as well start a server up"
While we do currently support loading of the site via a `file:` URL, a bunch of stuff (like `pushState`) doesn't work on it, so we might as well have `gulp watch` start a dev server.

Not really sure which dev server is best here... There's [webpack-dev-server](http://webpack.github.io/docs/webpack-dev-server.html), which apparently gives us some webpack bonuses like auto-reload via socket.io, but

[2015-03-04 02:03] simonwex opened #112 "Implement Automated Testing"
* [x] Implement testing framework ( #143)
* [X] Pick two open bugs
  *  Bug: #138 (tests added in 54b8ce0da26b1d8b281004988ae7e9e61d1a9750)
  *  Bug: #166 (tests added in #167)
* [x] implement tests that validate fixes for two open bugs
* [x] Document how to add a new test
* [x] Set up project on TravisCI
* [x] Add Travis status Image to README
* [x] Add mofo-style linter (#142)
* [x] Ensure all t

[2015-03-04 02:14] simonwex opened #113 "Sidebar menu items need icons"
_From @toolness on February 26, 2015 0:18_

_Copied from original issue: toolness/mozilla-learning-html#1_

[2015-03-04 02:14] simonwex opened #114 "Add language selector"
_From @toolness on February 26, 2015 0:18_

At the top-right of the hero unit.

_Copied from original issue: toolness/mozilla-learning-html#2_

[2015-03-04 02:14] simonwex opened #115 "Add search box"
_From @toolness on February 26, 2015 0:18_

At the top-right of the hero unit.

_Copied from original issue: toolness/mozilla-learning-html#3_

[2015-03-04 02:15] simonwex opened #116 "Add circular "divot" at bottom of case study divider"
_From @toolness on February 26, 2015 0:21_

It's subtle, but a nice touch that the original mockups have:

![divot](https://cloud.githubusercontent.com/assets/124687/6383892/78a64f20-bd23-11e4-9f5e-7854151d60b5.jpg)

_Copied from original issue: toolness/mozilla-learning-html#5_

[2015-03-04 02:15] simonwex opened #117 ""npm test" should throw errors if React warnings occur"
_From @toolness on February 26, 2015 16:14_

e.g. the warning that `key` attributes aren't on nodes in arrays.

_Copied from original issue: toolness/mozilla-learning-html#7_

[2015-03-04 02:15] simonwex opened #118 "Convert logos to SVG (or higher-resolution bitmap)"
_From @toolness on February 26, 2015 18:56_

It's not a requirement, but it seems like the logos might be better represented as SVGs, or at least as higher-resolution bitmaps than they currently are, for retina displays and such. The Webmaker, Hive, and Maker Party logos in there were just taken from Cassie's original PSDs.

If we decide against this, we can just close this issue, but I wanted to

[2015-03-04 02:15] simonwex commented on #118
_From @toolness on February 27, 2015 0:8_

Also, somewhat related is the fact that the mozilla wordmark is the old version of the logo--the one in Cassie's PSD was way too low-res for the page so I just did a Google search for the logo, and all I could find was a high-res version of the old wordmark.

[2015-03-04 02:15] simonwex opened #119 "Code review HTML/CSS/LESS"
_From @toolness on February 26, 2015 19:3_

I don't consider myself an HTML, CSS, or LESS expert, so I'd appreciate some code review (or I can rubber duck w/ someone). In particular:

* I'm using LESS, but I'm not actually building Bootstrap from LESS; just importing its `variables.less` to reuse some of its variables. Not sure if that is cool or not.
* Not sure how well my CSS rules follow best p

[2015-03-04 02:15] simonwex opened #120 "Un-postprocess hero unit image"
_From @toolness on February 27, 2015 0:59_

The [hero unit image](https://raw.githubusercontent.com/toolness/mozilla-learning-html/gh-pages/img/hero-unit.jpg) currently has the pink triangles at the bottom-right baked into it, and it might also be darkened... if we remove those effects and put them in the client-side, this could make adding new photos and/or using different accent colors easier.

[2015-03-04 02:33] simonwex opened #121 "Implement git-flow style branching standard"
Reference this issue for discussion:
https://github.com/MozillaFoundation/MoFo-Engineering-Handbook/issues/47

[2015-03-04 11:24] adamlofting opened #122 "Setup mailing list in BSD for the group of contributors we have permission to email"
This task follows on from:

*  See how many of last year's contributors we have permission to contact #64

[2015-03-04 11:29] adamlofting commented on #64
I'll setup the list in BSD for you. I've just filed an issue for that here: #122

For getting new people into this list, you'll want a sign-up form built and this probably lives somewhere in the new teach site. This may be covered in the new site plans already, but best to coordinate this piece with @hannahkane / @ldecoursy as it will need design/dev/planning of some kind.

[2015-03-04 11:29] #64 closed

[2015-03-04 12:13] thornet opened #123 "Complete testing and repackaging of Web Lit Basics I"
Meta ticket:

- [ ] Gather top insights and suggestions from club testers @LauraHilliger
- [ ] Vote on edits @LauraHilliger @chrislarry33 @thornet
- [ ] Repackage activities with new edits @thornet

[2015-03-04 12:15] thornet commented on #123
Don't have the right permissions yet in the new repo to add labels, etc.

[2015-03-04 13:00] iamjessklein commented on #37
yes will do :+1:

[2015-03-04 13:03] iamjessklein opened #124 "Create a site map"
Create a site map for the teach site.

[2015-03-04 13:04] iamjessklein commented on #124
The most up to date map can be found on invision [here]
![sitemapv2](https://cloud.githubusercontent.com/assets/535012/6483957/fee1f5fa-c244-11e4-906b-d553b4086f4c.png)
 (http://invis.io/MF2CYHTEK)

[2015-03-04 13:19] iamjessklein commented on #37
@hannahkane @thornet  - can you clarify where I should find the most up to date content for the first iteration of this page?

[2015-03-04 13:19] #117 closed

[2015-03-04 13:36] toolness opened #125 "Build sitemap.xml"
A  sitemap is being designed in #124. It would be cool if the site build process generated a [sitemap XML](http://www.sitemaps.org/) so search engines could provide extra helpful results.

For example, I believe it's due to mozilla.org's own sitemap that these rich search results are provided by Google:

![2015-03-04_8-33-31](https://cloud.githubusercontent.com/assets/124687/6484379/65404348-c249-

[2015-03-04 13:52] iamjessklein commented on #37
Also, on first look at this comment, it feels like a missed opportunity to have the primary call to action direct the site visitor off this page.

[2015-03-04 13:54] toolness commented on #112
So one big advantage of having a static site generator is that the build phase kind of doubles as a testing phase.

I've just added some functionality for #117 that raises errors during `npm test` if any React warnings are raised. This includes:

* warnings that come with React core, such as forgetting to put a `key` attribute on components in an array;
* warnings raised by [prop validation](http:

[2015-03-04 14:00] toolness commented on #112
That said, dynamic functionality, such as event handlers, isn't exercised at all during the build step, so writing tests for those would be super useful. <code>[Reacts.addons.TestUtils](http://facebook.github.io/react/docs/test-utils.html)</code> could come in handy here, and this blog post might too:

http://www.jackcallister.com/2014/12/01/building-a-test-suite-in-react-js.html

Currently our co

[2015-03-04 14:01] toolness commented on #108
I guess this is basically a duplicate of #112 at this point, so I'm closing it.

[2015-03-04 14:01] #108 closed

[2015-03-04 14:30] ldecoursy commented on #83
Heard back from Mikko, got his OK, expecting headshot today.

[2015-03-04 14:31] toolness opened #126 "Integrate react-a11y into 'test-react-warnings' task"
If we integrate https://github.com/rackt/react-a11y, we can get nice accessibility warnings:

<img src="https://camo.githubusercontent.com/19224eb13361c3aba68596b231198d92bfa29896/687474703a2f2f692e696d6775722e636f6d2f6e6151544554422e706e67">

The readme does say it's a WIP though; no idea how stable/mature it is.

[2015-03-04 14:33] toolness commented on #112
It seems like there exist modules like `react-a11y` (see #126) that we can add to our build-time testing, which effectively serve as "linters" for our React code. Cool!

[2015-03-04 14:38] toolness opened #127 "Consider migrating to react-router"
Currently, our routing code is very simple and could easily become quite a [bit of a mess](https://github.com/mozilla/teach.webmaker.org/pull/111#discussion_r25734751).

I like [`react-router`'s approach](https://github.com/rackt/react-router/blob/master/docs/guides/overview.md) to this problem. It appears to preserve the DOM in understandable ways and allows for deep nesting. It also provides its

[2015-03-04 15:00] LauraHilliger commented on #81
Remixes:
* [Hack your notebook](https://laura.makes.org/thimble/LTU1NDA0MTA4OA==/hack-your-notebook-teaching-kit) (really just needed to remove "day" and a hashtag from this resource. Added an image, checked subsequent resources, and they don't need updates).
* [Minecraft] (https://laura.makes.org/thimble/LTE4NDk0MjMzNg==/minecraft-a-flavor-of-java-epik) The old kit was all kinds of broken. I repl

[2015-03-04 15:10] toolness commented on #126
This is now superseded by #128.

[2015-03-04 15:10] #126 closed

[2015-03-04 15:31] ldecoursy opened #130 "[MIGRATED] Document all mailing lists Learning Networks team has access to"
RACI
* Owner: @amirad
* Decision Maker: @amirad @chrislarry33
* Consulted: Kelli, @ldecoursy @simonaramkisson @LucyeoH

We need to compile a list of all the mailing lists we have full access to, and include how many people are on each as a baseline.

Pull from BSD, Hives, anywhere else?
Also to include list of contributors referenced here: https://github.com/mozilla/teach.webmaker.org/issues/122

[2015-03-04 15:45] ldecoursy commented on #81
AWSM @LauraHilliger! Can you check the links to XRay Goggles - now if we want to link to install goggles, we might want to link direct to https://webmaker.org/en-US/goggles/install because the link to install on the main page is not highlighted. I filed a separate bug re: that here: https://github.com/mozilla/goggles.webmaker.org/issues/195

[2015-03-04 15:51] LauraHilliger commented on #81
yep and done.

[2015-03-04 15:52] ldecoursy commented on #81
We're currently at 11 (it goes to 11!) grab-and-go activities: https://teach.etherpad.mozilla.org/contentreview

The Image Seeking for Visual Metaphors activity also relies on a Thimble make, in case we want to cut that from the list for now.  I also really liked this other Girls in Tech Thimble activity - https://techkim.makes.org/thimble/girls-in-tech-role-models. Perhaps we can plan to update t

[2015-03-04 15:55] chrislarry33 commented on #81
I am OK going to 15 if we have enough we like/are cleaned up.

@LauraHilliger truly awsm work cleaning these up, they are very much improved

[2015-03-04 16:56] hannahkane commented on #37
Hey @iamjessklein, the first comment is updated with the latest thinking on content.

Good point that it's weird to direct the visitor off the page. :) Discourse is the primary tool we have right now for people to learn how to "Teach Like Mozilla." Ideally, we'd do a full Discourse integration that doesn't require the user to leave the site, but I'm not clear on whether that's possible within the

[2015-03-04 17:02] dajbelshaw opened #131 "[MIGRATED] Design graphics for Learning Pathways whitepaper"
### RACI
Driver: @hannahkane
Design Lead: @sabrinang
Whitepaper project lead: @dajbelshaw

Context:
* https://github.com/mozilla/learning-pathways-whitepaper/issues/26
* http://goo.gl/yB5FFB

@cassiemc: suggest @iamjessklein might be well-placed to do this? Looking to publish at end of Q1. :)

We'll use the same template as we did with the first [Webmaker whitepaper](https://mozilla.github.io/webm

[2015-03-04 17:11] iamjessklein commented on #37
I guess if that's not possible with this heartbeat, I would also de-prioritize this page (possibly ship without it?) It seems strange to have a page that just redirects to another page. Unless we were to prioritize the secondary content.

Where can I find this content:
*  TTW talks- Titles, descriptions, and links to recorded TTW talks - Date/time/link to upcoming TTW talks
* Community Calls -  Fo

[2015-03-04 17:15] hannahkane commented on #37
cc @LucyeoH to provide TTW / Community calls content

@iamjessklein, I think the links to Discourse, the TTW talks, and the community calls are valuable, so I think it's worth having them at launch. (Also, keep in mind that the "launch" is not a particularly broad launch; we'll likely just be promoting this to the Club leaders and other highly-engaged folks.)

[2015-03-04 17:20] iamjessklein commented on #37
Oh, sorry, it LINKS to discourse (vs. embeds) - yes, that's doable.

[2015-03-04 17:36] cassiemc commented on #36
@hannahkane A few questions to finalize this design – 
* The links to the Hives portfolios. Should that be treated as a 'partners / endorsed' kind of area? Will that have content from people other than Hives? Or if Hive only, perhaps a little intro to describe where they are being directed? I think the flow could be a little confusing without that.
* There was suggestion in #81 that we link to Too

[2015-03-04 18:28] toolness commented on #127
Ok, I think it's a good idea to migrate to react-router. Superseding this issue w/ a PR at #132.

[2015-03-04 18:28] #127 closed

[2015-03-04 18:33] #110 closed

[2015-03-04 18:51] hannahkane commented on #81
Thanks, all, for the great work so far.

Aiming to finalize this content by EOD Thursday.
 - [ ] Final list of activities w/ links
 - [ ] Brief description of each (should reference the creator of the activity/kit)
 - [ ] Intro paragraph for top of page

[2015-03-04 18:59] hannahkane commented on #36
Just spoke with @ldecoursy. We're aiming to finalize the content for this page by EOD Thursday. Content will include: final list of activities, a brief description of each, and an intro paragraph for the top of the page.

In the meantime, to answer your questions, @cassiemc:
 * I'll defer to @ldecoursy on this one - do you want to have a separate section linking to Hive portfolios? If so, can you

[2015-03-04 19:00] vazquez opened #133 "Design "Helpful Tips" icon for Clubs page"
We already have Curriculum and Connect, we are just missing the Tips icon.

![screenshot 2015-03-04 13 59 29](https://cloud.githubusercontent.com/assets/1119821/6490765/b1acce86-c276-11e4-94d4-58000ebfb9cb.png)

Cassie, could you also send the .svg (or .ai) file for all three icons?

[2015-03-04 19:01] hannahkane commented on #124
Just confirmed that the "Teaching Materials" page will actually be called "Teaching Activities."

[2015-03-04 19:02] hannahkane commented on #106
@cassiemc - let me know if you need anything from me on this one. In my mind, this one is more ready to go than the Teaching Activities page content which will be finalized by EOD Friday.

[2015-03-04 19:03] hannahkane commented on #38
@ldecoursy - let me know if I can help with this one. Would be good to finalize content by EOD Friday, so we can design this page next week.

[2015-03-04 19:04] hannahkane commented on #98
@cassiemc - who should be assigned to this one?

[2015-03-04 19:09] hannahkane commented on #131
I'll bring this to the planning meeting for the heartbeat that ends March 27, so we can allocate design resources then.

@dajbelshaw, can you add more detail to the ticket about what the design needs will be - is it formatting the paper? Will there be illustration work needed? Etc.

[2015-03-04 19:21] vazquez commented on #44
Background image asset (1x and 2x) available here: https://dl.dropboxusercontent.com/u/43783651/Mozilla/Background%20Image-assets.zip

[2015-03-04 19:24] vazquez opened #134 "Design "How do Clubs work?" illustration"
I made an illustration already, but I don't know if you would like to update it, Cassie.

![screenshot 2015-03-04 14 22 32](https://cloud.githubusercontent.com/assets/1119821/6491265/103bb7de-c27a-11e4-8e01-4435223a1c86.png)

[2015-03-04 19:25] vazquez commented on #119
I can partner up with @toolness on this.

[2015-03-04 19:36] iamjessklein commented on #124
Great. adjusted:

![sitemapv3](https://cloud.githubusercontent.com/assets/535012/6491491/7aec1eb0-c27b-11e4-91f6-b8343a7032ca.png)

[2015-03-04 19:40] vazquez commented on #71
#### Assets

Globe with Pin: https://www.dropbox.com/s/xshn444bw1llg83/globe-with-pin.svg?dl=0

Envelope: https://www.dropbox.com/s/jh6i06h8670n545/envelope.svg?dl=0

[2015-03-04 20:00] toolness opened #135 "Disable minification of JS during development"
Our [current `webpack.config.js`](https://github.com/mozilla/teach.webmaker.org/blob/603f1f378707b060d01f287bb4124ccec27813fb/webpack.config.js#L19-L23) always minifies the JS it outputs.

Obviously this is a particularly unfortunate thing until #102 is fixed, but even once we have source maps, it can still be useful to not minify our development code, simply because minification takes extra time

[2015-03-04 20:21] alicoding commented on #135
I think we should always disable minification of JS when we run `gulp dev` or `npm start`.

[2015-03-04 20:46] hannahkane commented on #134
Perhaps unrelated question - is the text part of the illustration? If so, I have some copy revisions that I didn't know where to put. Let me know if I should create a separate ticket for these.

Final, approved copy:

Grow the web literacy of learners
Meet regularly in classrooms, libraries, coffee shops—anywhere!
Teach with open practices
Guide people to learn by making
Connect with local and glo

[2015-03-04 20:53] vazquez commented on #134
@hannahkane The text is not part of the illustration, but I will definitely update the copy. No separate ticket needed.

[2015-03-04 20:54] toolness opened #136 "routes.URLS should be dynamically generated"
As a result of #132, we've migrated to `react-router` but it doesn't provide a great way of iterating through all routes. Currently `lib/routes.js` exports an array called `URLS` that is essentially hard-coded; it'd be nice if we dynamically generated it from traversing the `<Routes>` React element in that module.

This is something we should have tests for, though, as it's likely to break when we

[2015-03-04 20:56] vazquez commented on #134
@hannahkane Done! Copy changed. http://invis.io/VK2CZH0ZC

![screenshot 2015-03-04 15 55 53](https://cloud.githubusercontent.com/assets/1119821/6493176/f76ce644-c286-11e4-81fb-8f77bc1cccc9.png)

[2015-03-04 21:08] hannahkane commented on #134
Thank you! :)

[2015-03-04 21:30] toolness opened #138 "Fix existing react-a11y warnings"
As of the merging of #137, this is what we need to do:

- [x] Fix all occurrences of `You have a click handler on a non-interactive element but no 'role' DOM property. It will be unclear what this element is supposed to do to a screen-reader user. http://www.w3.org/TR/wai-aria/roles#role_definitions`
- [x] Fix all occurrences of `You have a click handler on a non-interactive element but no 'tabInd

[2015-03-04 21:30] toolness commented on #138
@gesa, are you interested in trying this one?

[2015-03-04 21:31] gesa commented on #138
Ahhhh! Yes, I am interested! I **can** do this! (i think)

[2015-03-04 21:33] ldecoursy commented on #83
I've asked for an option with more of his face, but here's what he sent as placeholder ![image1](https://cloud.githubusercontent.com/assets/4885898/6493917/1f7b5436-c28c-11e4-8ec7-50756314d9af.jpeg)

[2015-03-04 22:16] hannahkane commented on #37
Just discussed with @LucyeoH and @iamjessklein: started a doc (http://mzl.la/18QNAn8) to collaborate on page content and copy. Agreed to include philosophical POV content from Claw's comment above, though we may cut it down or figure out a way to present it visually, so as not to overwhelm with a wall of text.

Lucy to finalize the CTAs in that doc.

[2015-03-04 23:12] toolness commented on #107
Hmm, while we are at it, we should probably deploy to an easier-to-remember URL, lol.

![screen shot 2015-03-04 at 6 12 08 pm](https://cloud.githubusercontent.com/assets/124687/6495655/12347646-c29a-11e4-9f21-c5c9c53f596d.png)

[2015-03-04 23:13] mmmavis commented on #107
+1 :grimacing:

[2015-03-05 00:35] cassiemc commented on #52
@iamjessklein can you help wireframe this one out?

[2015-03-05 00:36] cassiemc commented on #98
@iamjessklein can you help us tackle this one?

[2015-03-05 00:42] #135 closed

[2015-03-05 00:44] toolness opened #140 "Enable minification for production"
In e0ad0ec08fa09e043f9a58efac748ef232bc9b91 I changed things so we *never* minify code instead of minifying it all the time. This solution is suboptimal too, just not at this stage of development, when we're more concerned about developer ergonomics than production efficiencies.

Eventually we do need to build minified code for production, though, which is why I'm filing this issue.

[2015-03-05 00:45] toolness commented on #135
Good plan! I notice you've done this in #139, but since there are currently issues w/ that PR and ease of development is more important to us than production efficiencies, I've gone ahead and committed only your changes to the `webpack.config.js` file from your PR, so that we never minify at all for now. I've also filed #140 so that we remember to bring back minification for production deploys.

[2015-03-05 01:01] ldecoursy commented on #81
Hi - final list of activities with descriptions and intro copy for the page and Hive portfolio links is here: https://teach.etherpad.mozilla.org/teachingactivitiespagecopy

[2015-03-05 01:18] cassiemc commented on #134
Looking great @vazquez! Can you link me to the vectors? Might make a couple small tweaks as I do the other illustrations.

[2015-03-05 01:22] davidascher commented on #134
I think we need more contrast between schoolhouse bricks and background, no?

[2015-03-05 01:39] hannahkane commented on #36
Final copy is here: https://teach.etherpad.mozilla.org/teachingactivitiespagecopy (as per #81)

[2015-03-05 01:40] hannahkane commented on #81
Hooray! Thanks, @ldecoursy. Looks awesome, so I'm closing this ticket.

[2015-03-05 01:40] #81 closed

[2015-03-05 02:49] toolness opened #142 "Integrate mofo-style"
I'm not sure if this is a duplicate or not, but we should integrate with [mofo-style](https://www.npmjs.com/package/mofo-style) and run it as part of our test suite.

[2015-03-05 02:49] toolness commented on #142
@gesa are you still interested in taking this one on?

[2015-03-05 02:51] gesa commented on #142
So someone in IRC mentioned that @alicoding might already be on this? Additionally, @gvn & @Pomax are currently applying mofo-style to all the repos. If this isn't on anyone's radar already, I'll **totally** take a stab at it—I just don't want to duplicate work.

Gentlemen, could you all confirm that this isn't already in progress somewhere?

[2015-03-05 02:55] chrislarry33 commented on #134
I think the school house sends the wrong message. It reads to overtly juvenile and sends a very formal message. While we love and partner with school, we need to broadcast more broadly and have an edge a activist/punk/subversive vibe.

[2015-03-05 03:10] hannahkane commented on #134
I'm +1 on conveying informality and non-traditional settings, though we also shouldn't lose site of the basic definitional "group of people learning web literacy" piece.

It will be challenging to convey the activist vibe, while also strongly connecting to the text. I mean, I can imagine imagery involving mohawks, megaphones, and raised fists, but it might seem quite out of place next to the copy

[2015-03-05 05:36] Pomax commented on #142
This is a currently heartbeat over at https://github.com/MozillaFoundation/plan/issues/351 -- we're on the job.

[2015-03-05 05:37] Pomax commented on #142
closing this as a duplicate of https://github.com/mozilla/teach.webmaker.org/issues/112 that we're working on this heartbeat

[2015-03-05 09:17] dajbelshaw commented on #134
It's also very US-centric. It looks more 'town hall' to us Europeans, I'd suggest. ;)

[2015-03-05 09:20] dajbelshaw commented on #131
@hannahkane Done!

[2015-03-05 10:39] LauraHilliger commented on #74
Another aspect we should think about is the submission flow. How does a community member or partner or staff member bring it to our / the community's attention that they have created a resource that they think should be displayed?

[2015-03-05 13:15] iamjessklein commented on #37
I am going to move forward with the design now - and will have something to review soon.

[2015-03-05 13:25] iamjessklein commented on #98
Yep. This should probably live on the "About" Page and possibly incorporated into the footer.

cc/ @vazquez

[2015-03-05 13:37] iamjessklein commented on #52
I can tackle this after I complete the other two tickets I'm on.

[2015-03-05 13:44] vazquez commented on #38
@ldecoursy @hannahkane - Has there been progress on the copy? Am I okay to take the existing copy and start designing?

[2015-03-05 13:53] vazquez commented on #134
It actually was a town hall, good eye @dajbelshaw :)

Here are the vector just in case you need them @cassiemc: https://dl.dropboxusercontent.com/u/43783651/Mozilla/clubs-illustration.svg

[2015-03-05 15:54] ldecoursy commented on #38
Planning to have a draft to share by EOD today.

[2015-03-05 16:04] vazquez opened #144 "Design a Template page"
We need a general Template page for the Teach site.

The template should include:

- Use of H1 H2 and H3
- Image treatment
- Unordered list
- Blockquote

A 2 and 4 column approach would be good to have

[2015-03-05 16:10] toolness opened #145 "'gulp dev' can start the web server before the 'dist' directory exists"
Today @adamlofting and I ran into the same race condition: because `gulp dev` starts `gulp watch` and `gulp server` simultaneously, `gulp server` might start itself before the `dist` directory is created by `gulp watch`. This means the user won't be able to see anything in it once it *is* created.

Since there isn't a compelling use case for running `gulp watch` independently from `gulp server`, I

[2015-03-05 17:28] #102 closed

[2015-03-05 17:29] alicoding commented on #138
@gesa have you started working on this one? If not can you assign this to me? otherwise I will try look for something else :P

[2015-03-05 17:51] iamjessklein commented on #37
I took a first stab which you can [find and comment on invision](https://projects.invisionapp.com/d/main#/console/2977378/66501215/preview), as you can see - the mockup is copy heavy.

![mockup](https://cloud.githubusercontent.com/assets/535012/6510780/290bb18a-c336-11e4-8f75-386997b79beb.png)

[2015-03-05 17:52] toolness opened #148 "Document 'gulp s3' task"
Currently it's not documented in the README or anywhere else, but it should be!

[2015-03-05 18:00] adamlofting commented on #57
Question to discuss with devs as I'm going around in circles trying to add something really basic to these published HTML pages:

I want to add this into the template (ie every page)

[code]

Ideally With the `UA-59356678-3` being a variable we can set in the config file.

### Things I have tried:

#### Route 1: Writing this as a JSX react component

And including this in `index-static.jsx`. I tri

[2015-03-05 18:08] adamlofting commented on #57
cc @toolness @alicoding @simonwex for the question above.

[2015-03-05 18:24] toolness commented on #57
Ah, so to bust up route 1, in order to render the thing as a literal, you have to use React's funky [`dangerouslySetInnerHTML`](http://facebook.github.io/react/docs/special-non-dom-attributes.html) attribute, which I do here to quickly remove the `no-js` class from the page's root element on page load:

https://github.com/toolness/Mozilla-Learning/blob/master/lib/index-static.jsx#L21-L23

[2015-03-05 18:25] hannahkane commented on #37
cc @chrislarry33 @thornet @ldecoursy @LucyeoH @Saallen - let's aim to finalize all of our feedback for @iamjessklein by EOD today.

[2015-03-05 18:31] iamjessklein commented on #37
Note: you might need to set up an account to leave feedback in invision (we are testing this vs. redpen for this heartbeat) [Here is the link to the invision mockup] (http://invis.io/2J2DHDBYE)

[2015-03-05 18:40] hannahkane commented on #38
So... @iamjessklein liked the idea of adding the "Who/What/How..." content to the Teach Like Mozilla page (see #37), which means that we don't necessarily need to add that to an About page.

Wondering if we need an About page at this point. @ldecoursy - can you imagine content other than the "Who/What/How" language?

(Note: We need to find somewhere to put Contact information, but I don't think th

[2015-03-05 19:06] mcdermott415 commented on #106
@hannahkane hi

[2015-03-05 19:49] alicoding commented on #145
This is fixed so I'm closing the ticket.

[2015-03-05 19:49] #145 closed

[2015-03-05 20:38] #138 closed

[2015-03-05 20:44] adamlofting commented on #57
Ah, thanks! I'll work with that :+1:

[2015-03-05 21:16] #136 closed

[2015-03-05 21:17] toolness opened #151 "Determine browser support"
It's unclear what browsers we're trying to support.

As noted in #143, I'm assuming at the moment that we'll essentially not progressively enhance anything below IE9 with JavaScript, meaning that we can use modern JS libraries for our client-side code.

However, this also implies that browser-side JS will *only* be used for progressive enhancement, and not core functionality. Looking at the curren

[2015-03-05 21:18] toolness commented on #151
/cc @simonwex @hannahkane

[2015-03-05 21:21] toolness commented on #142
Er, my understanding was that I was on the hook for integrating mofo-style, and aki expressed interest in it so I delegated it to her. Hmmmm.

[2015-03-05 21:32] cassiemc commented on #133
@vazquez / @hannahkane – what do you think?
![clubs-icons](https://cloud.githubusercontent.com/assets/1186326/6514829/676b7ec0-c353-11e4-9fe8-03a44a36360b.png)
If okay, the svgs are here: https://www.dropbox.com/sh/2a26zh8dtx1l54a/AAAvp9DFqvtNNLFvpTO4cDlSa?dl=0

[2015-03-05 21:54] toolness commented on #142
Actually, #142 is quite a doozy and I think it's worth splitting it up into multiple mini-bugs. This is now the mini-bug for integrating mofo-style!

[2015-03-05 22:02] hannahkane commented on #133
+1. Nice!

[2015-03-05 22:13] alicoding commented on #124
"teach.webmaker.org/": "Home"
"teach.webmaker.org/clubs": "Clubs"
"teach.webmaker.org/events": "Events"
"teach.webmaker.org/templates": "Teaching Activities"
"teach.webmaker.org/teach-like-mozilla": "Teaching Like Mozilla"
"teach.webmaker.org/about": "About"
"teach.webmaker.org/search": "Search"
"teach.webmaker.org/curriculum": "Clubs curriculum"
"teach.webmaker.org/tips": "Tips for Clubs"
"teach.

[2015-03-05 22:16] hannahkane commented on #124
Thanks, @alicoding. Can we make the url for Teaching Activities "/activities"? Otherwise, these look good to me.

Also, just want to make sure we're not painting ourselves into a corner with the domain. I believe we're still waiting for the final word on whether we're using teach.webmaker.org or teach.mozilla.org or something else. I'm assuming we can make a change later if we need to, but you kno

[2015-03-05 22:18] alicoding commented on #124
@hannahkane can you have another look at this updated version? We are just confused with theses:

"teach.webmaker.org/clubs": "Clubs"
"teach.webmaker.org/clubs/curriculum": "Clubs curriculum"
"teach.webmaker.org/clubs/tips": "Tips for Clubs"

should it `tips` be under `clubs` or should just have it be `/tips`?

[2015-03-05 22:18] iamjessklein commented on #124
@alicoding - the tips, curriculum, web literacy are child pages - so they might appear like
* "teach.webmaker.org/teachingactivities/web-literacy"
* "teach.webmaker.org/clubs/tips"
* "teach.webmaker.org/clubs/clubs-curriculum"

[2015-03-05 22:21] hannahkane commented on #124
+1 to the nested versions.

I don't have a strong opinion about things like "activities" vs. "teachingactivities" or "curriculum" vs. "clubs-curriculum," just as long as we're consistent with hyphen usage.

Do we have a documented convention anywhere for stuff like that?

[2015-03-05 22:41] ldecoursy commented on #38
Hi - here's my stab at draft copy for the About page https://teach.etherpad.mozilla.org/aboutpagecopy

One thing I was considering was adding bullets for the key initiatives - Clubs, Maker Party, Hive, MozFest... Let me know what you think.

[2015-03-05 22:57] mmmavis commented on #151
im also wondering if flexbox is safe to use ([ref](http://caniuse.com/#search=flexbox))

[2015-03-05 23:05] hannahkane commented on #38
Thanks, @ldecoursy. I think this looks great.

I think we should call out Hive and link to it, but I think we can do that from within the connected cities bullet point.

I also think we should add a bullet point and link for MozFest when the 2015 site is ready.

I don't feel like we need Clubs or Maker Party links, but will defer to @chrislarry33 on that point.

[2015-03-05 23:12] hannahkane opened #152 "Teach site v1 release"
### Release checklist ###

Product:
 - [x] Thorough site review: copy, links, workflows (#63)
 - [x] Plan for conducting user tests (started a separate thread with @iamjessklein and @adamlofting about this)

Technical:
- [ ] domain ready
- [ ] SSL cert secured and in place
- [x] Google Analytics in place, tested, right people have access
- [x] Terms of Service & Privacy Policy in place (#267)
- [x

[2015-03-05 23:20] hannahkane commented on #152
I don't know if we have a standard release checklist somewhere, so please let me know if we do. I think it would be useful to think through all of the necessary tasks we'll need to complete before and immediately following the release of v1.

I couldn't think of very many! I'm sure there are lots more, especially on the technical side. Hoping others can help me populate this checklist.

In terms o

[2015-03-06 01:02] cassiemc commented on #133
Closing now. We can reopen if Ricardo has any qualms.

[2015-03-06 01:02] #133 closed

[2015-03-06 01:04] cassiemc commented on #134
Tried a couple abstract ideas, more around the theme of "how does this work" as opposed to defining a club. @vazquez @hannahkane – does this work?
![how to clubs work-11](https://cloud.githubusercontent.com/assets/1186326/6518296/b6dce682-c372-11e4-9d11-6656bc930d37.png)

[2015-03-06 01:07] cassiemc commented on #134
If that looks okay, the svg is here: https://www.dropbox.com/s/sb0188yzsnh4k9u/icon-how-do-clubs-work.svg?dl=0

[2015-03-06 01:27] alicoding commented on #125
note to self:

[code]

[2015-03-06 02:27] Pomax commented on #142
Hmm, I don't see your name in the App Matrix for plan/351, can you ask @wex what he wants to have happen here?

[2015-03-06 02:27] alicoding commented on #142
@Pomax you meant @simonwex :P

[2015-03-06 03:49] chrislarry33 commented on #152
Yes, softest of soft launches for two weeks at least. We will share with most active communities and partners for feedback and to find any issues. I'd rather talk about this more loudly when we have a broader story to tell then just a website.

[2015-03-06 03:52] chrislarry33 commented on #38
+1 Hannah

[2015-03-06 03:55] chrislarry33 commented on #38
I made a few tweaks/comments in etherpad

[2015-03-06 10:53] thornet commented on #37
Looks great to me!

[2015-03-06 12:11] #148 closed

[2015-03-06 12:14] toolness commented on #107
Ok, I set up a better stage name today! We're now at http://teach.mofostaging.net/ :)

[2015-03-06 12:27] toolness commented on #125
By the way, because of the fact that our site is fully static and intended to be easily deployable on most standard web servers, **every webpage on our site needs to end with a /**, so that the web server will find an `index.html` file.

So, for example, the actual HTML file for the Clubs curriculum will be at `/clubs/curriculum/index.html`, which means that the URL for that page will be `/clubs/c

[2015-03-06 12:30] toolness commented on #107
If we use Travis to do this, we'll have to use its support for [secure environment variables](http://docs.travis-ci.com/user/environment-variables/#Secure-Variables).

[2015-03-06 13:37] iamjessklein opened #154 "Design Join userflow"
A userflow needs to be considered for when a site visitor clicks: "Join" or " Sign up for an Account"

![screen_shot_2015-03-06_at_8_32_40_am](https://cloud.githubusercontent.com/assets/535012/6526095/dbec7942-c3db-11e4-9616-1eb5786c3377.png)

[2015-03-06 13:38] iamjessklein commented on #154
cc/ @toolness @vazquez @hannahkane @cassiemc

[2015-03-06 13:49] iamjessklein commented on #38
considering this copy, I am beginning to think that the top section (why, what how, etc.) on the Teach Like Mozilla page (issue #37) is redundant.

I propose we keep this, and summarize the top section into a sentence or two (mission-like) and then focus the visitor's attention on the 3 calls to action.

Reference: [the invision mockup for the Teach Like Mozilla page](http://invis.io/2J2DHDBYE)

c

[2015-03-06 14:16] vazquez commented on #134
I love it :100: I would say this is safe to close, but I will let @hannahkane give the last word.

[2015-03-06 14:37] iamjessklein commented on #154
This will most likely be a modal and will be addressed as part of the login work that @cassiemc will be starting next week.

[2015-03-06 14:41] iamjessklein opened #156 "Decide where the "mentor" button goes on Home screen"
Question 1: Where does the "mentor" button on the home screen link out to?
Question 2: If the answer to Q1 is "I don't know" or "nowhere" can this be removed from the mockup for this heartbeat?

cc/ @hannahkane

![screen shot 2015-03-06 at 9 40 00 am](https://cloud.githubusercontent.com/assets/535012/6526941/c9fb4412-c3e4-11e4-97b3-50eea358a5ce.png)

[2015-03-06 14:44] iamjessklein opened #157 "Design: Revise navigation item from "Teaching Materials" to "Teaching Activities""
The item should be "Teaching Activities" as per the site map #124
![screen_shot_2015-03-06_at_9_43_17_am](https://cloud.githubusercontent.com/assets/535012/6527054/91c85ef8-c3e5-11e4-969c-1fb920b4307a.png)

[2015-03-06 15:00] cassiemc commented on #154
I think there are still some questions around whether or not we wait for new webmaker login to be complete, or use some other lower-bar option. @hannahkane @simonwex thoughts?

[2015-03-06 15:56] #125 closed

[2015-03-06 16:13] ldecoursy commented on #83
Here's another shot - his preference is not to have full-on image with his full name. Are we planning to do first name, last initial?
![image1](https://cloud.githubusercontent.com/assets/4885898/6528666/9d420f98-c3f1-11e4-94e9-c2d23f6b0cd7.jpeg)

[2015-03-06 16:14] ldecoursy commented on #83
Marking this closed as we have approval on quotes and images.

[2015-03-06 16:14] #83 closed

[2015-03-06 16:24] toolness opened #161 "Make 'gulp smoketest' raise React warnings when <Link> tags don't go to known links"
So back when we had the `<Ia>` component, we had some [code](https://github.com/mozilla/teach.webmaker.org/blob/672941d06ed495e22a7af4f90b6053310d8764e9/lib/ia.jsx#L34-L36) that raised a React warning when the link didn't go to a known URL.

We since moved to `react-router` in #132, which replaced `<Ia>` with `<Link>`.

I thought that `<Link>` had the same functionality built-in, but it appears to

[2015-03-06 16:40] chrislarry33 commented on #83
#lovedclosed

[2015-03-06 16:40] hannahkane commented on #156
Was intended to go to sign-up. If that seems weird to do, before we have the concept of a Mentor Profile, I'm fine with removing the button for now.

[2015-03-06 16:42] hannahkane commented on #134
Thanks, @cassiemc! I think this concept will work.

[2015-03-06 16:42] #134 closed

[2015-03-06 16:46] hannahkane commented on #38
@iamjessklein - that's fine with me and sounds similar to what the ticket originally called for.

[2015-03-06 16:54] ldecoursy commented on #38
Updated the About page copy based on comments in the etherpad https://teach.etherpad.mozilla.org/aboutpagecopy - marking this ticket closed!

[2015-03-06 16:54] #38 closed

[2015-03-06 16:58] hannahkane commented on #99
Copy is ready in #38.

[2015-03-06 17:06] iamjessklein commented on #156
Agreed. I think for the time being let's remove it.
cc/ @toolness

[2015-03-06 17:08] iamjessklein commented on #38
:+1:

[2015-03-06 17:15] #156 closed

[2015-03-06 17:18] hannahkane commented on #154
As far as I'm concerned, that's a 100% implementation question, so I'll defer to @simonwex. Product requirements are documented in #46 (need an opt-in for future mailings, and should trigger a transactional email).

[2015-03-06 17:29] hannahkane opened #162 "Design Lost Password flow"

[2015-03-06 17:29] hannahkane commented on #162
Made an executive decision to put this in the current heartbeat and assign @iamjessklein, but please call me on my scope-expanding bs if you'd like.

[2015-03-06 17:30] hannahkane opened #163 "Build Lost Password flow"
Design happening in #162

[2015-03-06 17:47] vazquez commented on #144
Here is the design for the Template page :sheep:

https://projects.invisionapp.com/screens_public_member/66690678/latest/28364835/61351fd9c8160cde9668db0dddeb55c305ba1b0a315229e1f6699a797cf6dcd4/0/img.png

![template page 1x](https://cloud.githubusercontent.com/assets/1119821/6530422/cab1a74c-c3fe-11e4-8e5d-334be3515505.png)

[2015-03-06 17:58] hannahkane commented on #144
Like!

[2015-03-06 18:43] hannahkane opened #164 "Replace homepage quote"
We have a real quote we can use to replace the fake one on the homepage.

"Web literacy is about more than coding - it's about how you can be a better web citizen."
- Maurya C. New York, United States

Her image is here: https://cloud.githubusercontent.com/assets/4885898/6420808/93e53f06-be97-11e4-90b6-b81600edaf32.jpg

[2015-03-06 18:46] hannahkane opened #165 "Replace Clubs page quote"
We have a real quote to replace the fake quote on the Clubs page.

""The idea of teachers and students learning at the same time is what makes me excited about this work."

- Mikko K, Helsinki, Finland

Image is here: https://cloud.githubusercontent.com/assets/4885898/6493917/1f7b5436-c28c-11e4-8ec7-50756314d9af.jpeg

[2015-03-06 18:47] hannahkane commented on #165
@iamjessklein or @vazquez, can I assign this to one of you to crop the image and then pass along to the engineers?

[2015-03-06 18:48] hannahkane commented on #164
@iamjessklein or @vazquez, same question on this one - can I assign this to one of you to crop the image and then pass along to the engineers?

[2015-03-06 18:49] vazquez commented on #165
I will put the asset in #44

[2015-03-06 19:01] toolness opened #166 "Get rid of IndexFileStream's baseURL code"
We're not using base URLs in the index files anymore as of aff1f5c79d319c23a1298847140f234d3a1df167, so we should get rid of the relevant code in `IndexFileStream`. I think it's also our only use of `path-posix` so we can probably get rid of that too.

AND WE'RE GONNA NEED A TEST!

[2015-03-06 19:16] vazquez commented on #165
Done, I have also updated InVision

[2015-03-06 19:16] #165 closed

[2015-03-06 19:21] vazquez commented on #164
Asset available here: (1x) https://dl.dropboxusercontent.com/u/43783651/Mozilla/maurya-nyc%401x.png and (2x) https://dl.dropboxusercontent.com/u/43783651/Mozilla/maurya-nyc%402x.png

This is ready to implement.

[2015-03-06 19:21] iamjessklein commented on #165
:+1:

[2015-03-06 19:38] alicoding commented on #151
Can we get the data from our user on webmaker.org at least for /teach to see what is their browser? @adamlofting can we get specific details for that? @hannahkane is this something we can come up with minimum browser support? This will really help us through development if we know which browser we want to support.

[2015-03-06 19:49] hannahkane commented on #151
I don't have a lot of data to inform this decision. I would default to whatever browsers we support for Webmaker. Would welcome feedback from others, though.

[2015-03-06 20:08] #166 closed

[2015-03-06 20:12] #164 closed

[2015-03-06 20:25] iamjessklein commented on #164
@vazquez none of these links are working for me.

[2015-03-06 20:26] iamjessklein commented on #154
@hannahkane - Does this email need to be designed?

[2015-03-06 21:05] hannahkane commented on #154
Had not thought of that. Yes, let's do it right. I'll create a separate ticket for that.

[2015-03-06 21:06] hannahkane opened #169 "Design email template for Teach site emails"
Initial transactional email copy is here: https://teach.etherpad.mozilla.org/clubtransactionalemails

[2015-03-06 21:07] hannahkane commented on #169
Putting this in the current milestone as a P2 in case @iamjessklein or @vazquez has time to work on it; but not more urgent than other tickets.

[2015-03-06 21:28] toolness commented on #107
[Hooray it works!](https://travis-ci.org/mozilla/teach.webmaker.org/builds/53397737)

I have a feeling that PRs are likely to fail because Travis will try to push to S3 and won't have the AWS credentials handy for security reasons, but we can cross that bridge when we burn it by having `gulp s3` check whether [`TRAVIS` is `true`](http://docs.travis-ci.com/user/ci-environment/#Environment-variables

[2015-03-06 21:28] #107 closed

[2015-03-06 21:36] alicoding commented on #113
I don't know what milestone this would be, but assigning this to @cassiemc since I saw that in the demo :)

[2015-03-06 21:38] alicoding commented on #115
@toolness want to assign this to anyone specifically? or we still want to wait for search page to be finalized first before doing this one?

[2015-03-06 21:39] alicoding commented on #118
@cassiemc or @vazquez do any of you have the SVG?

[2015-03-06 21:43] alicoding commented on #123
@thornet now you can! :D

[2015-03-06 22:24] gesa commented on #151
In general, Webmaker supports current minus one, which translates to, for example:
![](http://snaps.akibraun.com/4kesc.png)
(i just grabbed a random screenshot from caniuse to show which versions are current)

[2015-03-06 23:17] gesa commented on #119
I'm also so happy to offer some insight on this!

[2015-03-06 23:18] gesa commented on #151
So this kind of wandered back in to my mind and think it's as good a time as ever to talk about whether we support Android 4.2 in our general Webmaker properties. (we **do** target it on Webmaker App)

[2015-03-06 23:25] alicoding commented on #151
I don't think we need to worry about Android Web view? Do we? Since we are not bundling into an app? Or are we planning to?

[2015-03-06 23:25] gesa commented on #151
oh right that's just webview that is evil, not chrom(e | ium)

[2015-03-06 23:59] mmmavis commented on #169
Is this going to be a BSD e-mail template? Is so I'd suggest keeping the design simple.  Just a note that email templates in general need to be built in nested `<table>` and `media qurey` isn't well supported across all browsers.  :cold_sweat:

[2015-03-06 23:59] alicoding commented on #121
I was commenting on the wrong repo :S derp me

@gesa @simonwex @mmmavis @toolness

I'm thinking about having a gulp task to take care of these tasks, and would like some input from you guys.

Run: `gulp prod:patch/minor/major` should do the following:

1. tag 0.0.1 / 0.1.0 / 1.0.0 (depend on the tag)
2. push tag to `master`/`stable` branch from the current head of `developer`
3. push everything in

[2015-03-07 00:08] toolness commented on #121
Ali, regarding your (3) above, I've just made successful travis builds push out to teach.mofostaging.net in #107... not sure if we want it to be different from gh-pages or not. I need to read up on gif-flow.

[2015-03-07 00:17] Pomax commented on #121
a gulp task like this feels incredibly dangerous - it should not be the case that running the wrong gulp task suddenly tags a release and pushes it out for deployment. This is one part of the chain that I'd strongly advocate *has* to stay a manual process, even if that process is "load jenkins, tell it to build"

[2015-03-07 00:18] alicoding commented on #121
@toolness I guess the only problem here for pushing to S3 would be the credential. Unless we are going to setup one for Travis as you mention so everytime we push to master/stable then after travis passed all the tests it should push to S3?

[2015-03-07 00:19] toolness commented on #121
Yep, that's literally what I just implemented earlier today in cd513f1a6d953486ced1b78223c0837d78f144bf :)

[2015-03-07 01:03] toolness commented on #161
Ah, I figured it out... the desired behavior *did* exist when we initially moved to `react-router` because the `to` properties of our `Link` components were referencing routes by *name*, which was always looked up at build time. However, in #150 we switched to referencing routes by *path*, which are **not** looked up at build time. If we switch back to using route names instead of paths, we'll fix

[2015-03-07 13:11] davidascher commented on #169
No, transactional emails are not going to be driven by BSD.  But yes, we should find a way to templatize these emails, and have tooling that takes from an easily-editable form and generates the emails within a designed template.

@jbuck, @simonwex and @thisandagain have been looking at the same problem for the webmaker site, i'd like us to use the same solution (after all, the same copywriters wil

[2015-03-07 13:52] davidascher commented on #151
We will hopefully get visitors from emerging markets who are likely to run oldish androids and may very well have stock browsers (not Chrome). If that becomes a real blocker in terms of our css feature set for example, we could UA-detect and suggest they upgrade to either Firefox or Chrome, assuming those actually work on 4.2.

Alternatively, a UA detection early in the process that renders a spec

[2015-03-07 15:22] davidascher opened #171 "Adjust width of headlines to avoid orphans"
Is it possible to, using CSS, avoid lonely word orphans after a line break?  I find that happens fairly regularly, and when dealing with center-aligned titling, it irks.

e.g.

![screenshot 2015-03-07 16 17 18](https://cloud.githubusercontent.com/assets/51278/6541834/d17d95bc-c4e5-11e4-893a-c05391c9b45c.png)

/cc @k88hudson @Pomax @gesa @toolness

What I'd love is a directive that tells CSS "adjus

[2015-03-07 15:27] davidascher commented on #171
or set a max-width, although that will be localization-fragile.

[2015-03-07 15:47] davidascher commented on #152
release checklist includes:

- [ ] domain ready
- [ ] SSL cert secured and in place
- [ ] Google Analytics in place, tested, right people have access
- [ ] Terms of Service & Privacy Policy in place
- [ ] Localization approach is set (in particular, we know how to deal w/
localization requests)
- [ ] Confidence that we can deal with load in case a site is deemed likely
to be very popular
- [ ] Hea

[2015-03-07 16:26] k88hudson commented on #171
Here's an (old) article detailing the  problems with line balancing in css if you're interested, it's a good one. http://blogs.adobe.com/webplatform/2013/01/30/balancing-text-for-better-readability/.

My personal recommendation is to set `max-width`, as long as it's not too unreasonably small, and possibly behind a media-query. This is usually what I do. If you *really* wanted to get crazy detaile

[2015-03-07 16:31] davidascher commented on #171
Thanks!

`text-wrap: balance` would be lovely.  Where do I vote? ;-)

Also: it's a sign of the times that this problem doesn't have a cute name
like orphan or widow -- it only shows up in computer-laid-out type, as no
human typesetter would make that mistake.

[2015-03-07 16:33] k88hudson commented on #171
@davidascher Some have suggested an `orphans` property, so `orphans: 5` would require a minimum of 5 words on a next line :P

[2015-03-07 16:38] davidascher commented on #20
What's an RC?

[2015-03-09 10:25] thornet commented on #27
Possible later topic as well:
"how to organize and mobilze learners start to learn to take action in their community"

[2015-03-09 10:32] thornet commented on #56
Next steps:

- [ ] Andre & Michelle talk to Melissa Romaine about advocacy element into curriculum

[2015-03-09 10:32] thornet commented on #58
Thanks, Andre! Is this ticket closed now?

[2015-03-09 10:33] thornet commented on #59
Andre is now joining regular team calls, contract is signed, and he's in Github.

Next step:
- [ ] Get Andre an LDAP
- [ ] Get Mario an LDAP

[2015-03-09 10:40] thornet commented on #32
Meeting today to review Gant chart: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1FZk_0-zAcjF0nc7fa3EK7QfVVDgRAhMoOuCoxsVR4Ts/edit#gid=0

[2015-03-09 10:48] thornet commented on #20
Regional Coordinator

[2015-03-09 10:54] thornet opened #172 "Recruit 5+ Regional Coordinators for Q2"
We'd like to identify and recruit at least 5 Regional Coordinators for Q2.

- [x] Publish #33
- [x] Finalize application & selection process
- [x] Practice making the ask to RCs w/ @amirad @simonaramkisson & Natalie
- [x] Shortlist of Regional Coordinator candidates we want to ensure apply
- [x] 1:1 interviews with applicants
- [x] Finalize first RC cohort
- [ ] Publicize

[2015-03-09 11:06] thornet commented on #26
The privacy module made by @smithisgeneric is the next best web literacy module for us to package and ship into clubs offer.

* https://hivetoronto.makes.org/thimble/MTkxMTYxOTg0MA==/privacy-coach-activity-kit
* https://hivetoronto.makes.org/thimble/MTkyODM5NzA1Ng==/ip-address-tracer-activity-kit
* https://hivetoronto.makes.org/thimble/MTg3ODA2NTQwOA==/data-trail-timeline-activity-kit

Added to:

[2015-03-09 11:06] #26 closed

[2015-03-09 11:22] thornet commented on #123
thanks @alicoding!

[2015-03-09 11:27] thornet commented on #123
Closing in favor of #100

[2015-03-09 11:27] #123 closed

[2015-03-09 11:41] thornet commented on #100
Took first cut of upvoting and adding ticketable items to: https://teach.etherpad.mozilla.org/club-curriculum-feedback

Propose we wrap the feedback etherpad by EOD so we can present it a draft in tomorrow's club call. @LauraHilliger

[2015-03-09 11:54] toolness opened #173 "Make a `sidebarColorizer` LESS mixin"
`less/styles.less` currently contains a lot of [DRY](http://en.wikipedia.org/wiki/Don%27t_repeat_yourself) violations in its sidebar-colorizing code:

[code]

It would be a lot nicer if we had a less mixin so the above code looked something like this:

[code]

I'm not super familiar w/ LESS's mixin syntax so I'm not sure if that's exactly what it'd look like, but hopefully you get the idea.

@mmma

[2015-03-09 11:55] Saallen opened #174 "[MIGRATED] Outline and Map Peaks for Mobilizing Clubs"
These questions stood out to me @ldecoursy when I was thinking over the processes needed for building out the roadmap headers for Mobilizing section within [Clubs Roadmap] (https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1FZk_0-zAcjF0nc7fa3EK7QfVVDgRAhMoOuCoxsVR4Ts/edit#gid=0)
What counts as a peak in the yearly arc of the Clubs for Mobilization?
Are we creating these peaks or are t

[2015-03-09 12:23] adamlofting opened #175 "Finalize the domain name"
I think this is still an open issue. :hatching_chick:

This will be a blocker to setting up a GA account for this property.

[2015-03-09 12:23] toolness opened #176 "Use a web server when running browser tests from the command-line"
Right now we point `mocha-phantomjs` at the filesystem (i.e. a `file:` URL) to run our browser tests, but this has a number of drawbacks:

* It means all our links have to be relative.
* It means that absolute links in our components won't work (for instance, images won't load, hence 2de5097d1ae3864a39dd7c2880d45ece8f4345c2 as a workaround).
* Running our tests on an entirely different protocol th

[2015-03-09 13:21] thornet opened #177 "Scope club tester debriefs"
Decide if and how we want to do debriefs with our Q1 club testers. This would include feedback on the testing process and an ask to continue with us into Q2, as well as recommendations for new testers.

Proposal:
* [ ] Scope the debrief ask
* [ ] Schedule 1:1s with testers
* [ ] Report back and synthesize

[2015-03-09 13:44] davidascher commented on #20
Thanks!

[2015-03-09 13:52] cassiemc commented on #118
@alicoding The "learning" part of the logo is still being finalized afaik (@hannahkane?), and could be created with live text (we don't have an official logo). Here is the webmaker logomark part though: https://www.dropbox.com/sh/7nwgazjrlbh1x1l/AAAK-yKt6-DgCHQ_Yy2BjiSQa?dl=0 I exported as svg but it seemed like the shadow came out a bit wonky, so am also providing a hi-res jpg which should look o

[2015-03-09 14:06] cassiemc commented on #113
Hey @alicoding, I believe Simon means these:

![teach-nav icons](https://cloud.githubusercontent.com/assets/1186326/6556331/1b8e449a-c643-11e4-8d93-4f7ae42a7a77.png)

SVG icons are here: https://www.dropbox.com/sh/2a26zh8dtx1l54a/AAAvp9DFqvtNNLFvpTO4cDlSa?dl=0 These are in black, if you need them in white, those are here: https://www.dropbox.com/sh/8etd31vn8b6zvmd/AABOIJXBk8Gg51jyYwtBH0fZa?dl=0

O

[2015-03-09 14:08] vazquez commented on #113
@alicoding I believe we could change the `fill` attribute of the SVG based on the class of the navigation

[2015-03-09 14:17] ldecoursy commented on #174
I think our campaigns and key events mark the peaks here. Plus anything from your events calendar that we think make sense.

[2015-03-09 14:26] Saallen commented on #174
I will add events into the roadmap steming from our events calendar which we can then review on Wed :smile:

[2015-03-09 14:32] adamlofting opened #180 "Engineering overview / plan for site to help with analytics"
I've been working on adding the minimum viable metrics to this site (tracking of pageviews) using Google Analytics, and it's been more difficult than any other site I've done this for. This is usually a 2 minute job.

#### A typical content site:

Copy and paste the GA tracking code into the main template.

#### This site:

The way we're building this site is really weird from a Google Analytics p

[2015-03-09 14:39] adamlofting commented on #180
:raised_hand:

So, questions for @toolness @simonwex @alicoding :

1. What's the goal intention of the static / pushState published version of this site? I understand the low-tech access scenario, but we also have a roadmap that turns this into a pretty interactive site in the near future.
  * Is it going to evolve into an 'app', or be some hybrid of the two?
2. Is the S3 compatible hosting soluti

[2015-03-09 14:40] thornet opened #181 "[example] Add a better photo to the Web Chef activity"
*This is an example ticket for the club curriculum.*

We need a better photo in the Web Chef activity. Here are the steps required:

- [ ] Search for a photo
- [ ] Make edits to the activity page
- [ ] Close this ticket when complete

[2015-03-09 14:44] hannahkane commented on #175
Re-assigning to @HPaulJohnson who is the decision-maker on this, I believe.

[2015-03-09 14:45] adamlofting commented on #57
I've opened a PR with an initial take on this.

But as it's bringing up some unusual challenges, I'd like to get a better overview of the engineering first. I've opened this up as a new discussion here: https://github.com/mozilla/teach.webmaker.org/issues/180

[2015-03-09 14:47] hannahkane commented on #118
Yes, hoping to lock down the namespace and logo issues this week. Working with @HPaulJohnson on that.

[2015-03-09 15:07] cassiemc commented on #36
Just a quick update here. I'm working on it this morning.

[2015-03-09 15:19] toolness commented on #113
Hmm, I guess I might recommend just changing the opacity of the SVGs here--an unfortunate thing about including SVGs as `<img>` or `background-url` is that they don't inherit the CSS of their parent document, so changing their fill will be difficult unless we inline them into our HTML...

[2015-03-09 15:26] vazquez commented on #113
That's what I'm finding out right as we speak lol. I'll change opacity.

[2015-03-09 15:43] toolness commented on #180
Good questions!

Ok so regardless of their answers, I think the answer is the same... We're using `react-router` for all our routing logic and its [`Router.run`](https://github.com/rackt/react-router/blob/master/docs/api/run.md) API notifies us whenever the page changes (and when it's first rendered). It also "normalizes" the current URL by figuring out whether `pushState` vs. `location.hash` vs.

[2015-03-09 15:56] toolness commented on #113
Hooray for SVGs!

[2015-03-09 16:01] cassiemc commented on #36
Here's the latest on redpen. Left a few questions for you there @hannahkane: https://redpen.io/jue07a72a4a77906e0

[2015-03-09 16:17] #113 closed

[2015-03-09 16:37] toolness commented on #107
Update: in dc3c6783c2275c6220c3cb79e649a95ec07901e4 I made Travis only push to S3 if the job isn't a PR, and if it's on the `develop` branch.

[2015-03-09 16:39] hannahkane commented on #36
Awesome. Thanks, @cassiemc. Giving @chrislarry33 @ldecoursy @thornet today and tomorrow for feedback on redpen. I'll synthesize all decisions for you tomorrow, @cassiemc, so don't feel you need to iterate on comments in the meantime.

[2015-03-09 17:02] cassiemc commented on #106
I didn't get to this last week, but think I'd better pass of to @vazquez so I can move on to Login designs. The Teaching Activities page is in issue #36

[2015-03-09 17:05] cassiemc commented on #36
Also, design R? from @vazquez please!

[2015-03-09 17:14] vazquez commented on #36
Left feedback!

[2015-03-09 17:17] hannahkane commented on #106
@vazquez - lemmeknow if you want to talk through this!

[2015-03-09 17:18] vazquez commented on #106
@hannahkane I would love that :) I'll message you on IRC

[2015-03-09 17:41] hannahkane opened #183 "Final copy for "Clubs Curriculum" page"
### RACI
* Owner: @hannahkane
* Copywriter: @thornet
* Contributor: @ldecoursy
* Approver: @chrislarry33

We need final copy for v1 of the Clubs Curriculum page. This includes an intro paragraph to the entire page, a brief intro to the Web Literacy Basics module, and a brief description of each of the six activities in the module.

@thornet - can you provide by EOD tomorrow, by any chance? @vazque

[2015-03-09 17:44] #161 closed

[2015-03-09 17:47] toolness commented on #142
Just talked to him and it looks like I am responsible... @gesa want to bust this up?

[2015-03-09 17:47] gesa commented on #142
Here we go!

[2015-03-09 17:47] hannahkane opened #184 "Small changes to homepage"
1) The current site design has two user stories featured on the homepage - "Sadia's story" and "Masud's story". They both have "Learn more" links that go nowhere.

Let's remove both stories for now, since we don't actually have current stories. :)

2) We have a copy change for the main paragraph. Currently reads, "Join our community of educators, parents, techies and makers who want to teach digit

[2015-03-09 17:48] simonwex commented on #142
@Pomax it's because @alicoding was going to do it, but @toolness is now. Updated spreadsheet.

[2015-03-09 17:58] toolness commented on #142
Thanks @gesa!

Do you think you could maybe split this up into two separate PRs/issues, the way I did with #137 and #138, where one PR adds *optional* support for style guide checking and the other issue is for fixing all the existing style issues w/ our code? (Or if it's more convenient, multiple issues/PRs could be filed that each fix the style issues in a subset of files.)

[2015-03-09 18:10] hannahkane commented on #152
woohoo! This is great. I will start making sure that we're checking these boxes, and will bring this up at the next TPS meeting, too.

[2015-03-09 18:11] toolness commented on #119
Cool, I just talked to @gesa about this on IRC and I believe she'll be issuing some PRs to refactor/fixup the LESS a bit. @vazquez, would you mind reviewing those once she submits them? (I can provide feedback too but I'm no expert)

[2015-03-09 18:12] vazquez commented on #119
I'll be happy to! :)

[2015-03-09 18:16] toolness commented on #169
Is there an issue on another repo where this is being discussed?

I'm personally partial to MailChimp/Mandrill, as they have glorious developer APIs and nice UX for letting non-technical people edit slick email templates, but I've heard in the past that there may be privacy issues with them or something too.

[2015-03-09 18:20] ldecoursy commented on #184
I think since we have the user quotes, we could remove these additional user stories for now. Good to think about how we can collect and add for v2...

[2015-03-09 18:22] chrislarry33 commented on #184
+1 remove

[2015-03-09 18:27] toolness commented on #6
Oh shoot, when we imported my code into this repository, a bunch of unrelated tickets erroneously got closed, including this one. I'm re-opening this issue.

[2015-03-09 18:30] toolness commented on #4
Oh shoot, when we imported my code into this repository, a bunch of unrelated tickets erroneously got closed, including this one. I'm re-opening this issue.

[2015-03-09 18:31] toolness commented on #11
(Sorry, the aforementioned commit was not actually referring to this issue--it was referring to toolness/mozilla-learning-html#11 and we later imported that code into this repository.)

[2015-03-09 18:37] vazquez commented on #106
Design with copy placeholders: http://invis.io/242EBB23A

[2015-03-09 18:49] hannahkane commented on #106
@vazquez - thanks for the speedy work! We'll start commenting on the design, but don't worry about actually making design updates until I synthesize our feedback tomorrow.

@thornet @chrislarry33 @ldecoursy - Let's aim to compile our feedback by EOD tomorrow on this one as well.

Some things:
 * Let Ricardo know if you don't have access to the Invision project. Invision is the new tool we're testi

[2015-03-09 18:49] vazquez commented on #6
The assets and the design is available in the build ticket, #44

[2015-03-09 18:50] toolness opened #186 "Begin forging the static HTML/CSS for the Clubs page"
Ricardo finished designing the Clubs page in #44 and prepared some static assets for us.

Ali is working on implementing the dynamic, [Mapbox](https://www.mapbox.com/)-based functionality for this page in #185. However, it'd be useful for us to start building a static version of this page in JSX and LESS so that he can easily just drop his component into the page once he's done.

@mmmavis would yo

[2015-03-09 18:53] vazquez commented on #106
I have added @thornet @chrislarry33 and @ldecoursy to InVision, you all have invite links in your inbox.

[2015-03-09 19:04] mmmavis commented on #186
cooool, a good way for me to start using React! :grin:

[2015-03-09 19:08] toolness commented on #162
Hmm, since we're sharing login with the rest of Webmaker (er, at least I think we are?) my assumption was that we would essentially redirect the user to the universal Webmaker "lost password" flow... but I am not sure where we are with Webmaker login so not sure how viable that is.

[2015-03-09 19:10] toolness commented on #157
Oh, this was done in b943f8e60fc4d13aa2f20d658d4ffcbb128bc96e, yay!

[2015-03-09 19:10] #157 closed

[2015-03-09 19:14] toolness commented on #40
Ok, so @hannahkane's questions are being addressed in #151 and #119, and with that I am closing this issue!

[2015-03-09 19:14] #40 closed

[2015-03-09 20:55] mmmavis commented on #173
PR https://github.com/mozilla/teach.webmaker.org/pull/188 has been reviewed and merged.

@toolness do we close ticket now or wait till it's live?

[2015-03-09 20:56] toolness opened #190 "Fix all mentions of toolness/mozilla-learning-html in package.json"
I just realized a bunch of things in `package.json` are referring to the old repository at http://github.com/toolness/mozilla-learning-html. We should change that!

[2015-03-09 21:00] hannahkane commented on #162
Good call. I hate the idea of duplicating work. Maybe we can get an update during tomorrow's stand-up from @cassiemc or @simonwex about the state of that project.

[2015-03-09 21:01] toolness opened #191 "Figure out a better way of storing configuration data"
For things like mapbox IDs (see #185), google analytics tracking IDs (see #180), and other publicly-facing configuration data (e.g. REST API servers in the near future), it might be nice to allow them to be overridde-able by OS environment variables so that it's easy to tweak configurations without needing to commit changes to the actual repository.

[2015-03-09 21:02] hannahkane commented on #184
Not sure who's in the best position to make changes like this. @toolness? @vazquez?

[2015-03-09 21:03] toolness opened #192 "Give milestones more exciting names"
Hey @hannahkane, didn't you make up awesome names for our milestones somewhere? You should totally change the names of our GitHub milestones to reflect that :smile:

Obviously totally optional, you can just close this issue if you're too busy!

[2015-03-09 21:25] hannahkane commented on #192
I <3 this idea and will definitely do it once @simonwex is able to sort out the repo business, so as not to confuse the Learning Networks team in the meantime.

Be warned, though, that all badges-related milestones will likely be called Honey Badger.

[2015-03-09 21:52] hannahkane commented on #151
+1 that we are hoping to get visitors from emerging markets.

For the v1, mobile users will ideally be able to:
 * view all content, including the map of Clubs
 * add/edit/delete their Club to the map
 * the above requires authentication workflows

Later versions may include mobile-friendly interactive functionality such as:
 * browsing Mentor profiles
 * sending or receiving a message from anothe

[2015-03-09 22:27] toolness commented on #192
Haha awesome :+1:

[2015-03-09 22:28] iamjessklein commented on #192
I volunteer to help! :hand:

[2015-03-09 22:41] toolness commented on #184
It's very easy for me to do, but I think this might actually make for a good first React-related issue for @vazquez, since I wrote some (arguably needlessly complex!) JSX to display those stories... It will involve getting rid of at least one React component I think.

Want to give it a shot @vazquez? No worries if not.

[2015-03-09 22:42] toolness commented on #116
It looks like we are removing the case studies that this divider divides in #184, which renders this issue irrelevant, so I am dujging it.

[2015-03-09 22:42] #116 closed

[2015-03-09 22:45] toolness commented on #173
Woohoo! Once it's merged we can close it, so I will do that.

[2015-03-09 22:45] #173 closed

[2015-03-09 23:16] iamjessklein commented on #157
woot :+1:

[2015-03-09 23:21] vazquez commented on #184
Yeah I'll do it!

[2015-03-09 23:36] HPaulJohnson commented on #169
Started a similar discussion back in Jan for Webmaker emails. See details in issue: https://github.com/MozillaFoundation/plan/issues/242.

It was pushed back for NN campaign but looks like it popped back up as a P2 in last week's prioritization. Might be able to tackle all our transactional emails with this one project.

[2015-03-10 00:13] toolness commented on #191
It looks like webpack's [DefinePlugin](http://webpack.github.io/docs/list-of-plugins.html#defineplugin) is one answer. See https://github.com/webpack/webpack-with-common-libs/commit/617e7757868653854a7f32a73293efb4454c707d for an example.

[2015-03-10 03:47] chrislarry33 commented on #106
@hannahkane @ldecoursy Lets talk about this tomorrow during our huddle, get something for @thornet to review

[2015-03-10 10:02] LauraHilliger commented on #27
Julia & Mouse just did Innovative Partner Professional Development: http://hivenyc.org/2015/02/18/ippd-training-doe-educators/

just storing a note I received from @thornet

[2015-03-10 14:51] iamjessklein commented on #37
Update: Take a look @hannahkane @thornet @ldecoursy I revised the mockup to reflect the copy changes per the most recent ticket. Take a look at [the invision mockup](http://invis.io/2J2DHDBYE)

![mockup](https://cloud.githubusercontent.com/assets/535012/6577272/fd7cfaac-c712-11e4-98cb-615fdc311a4c.png)

[2015-03-10 15:14] toolness opened #195 "Rename SingletonMapComponent to Map"
Ok, since we're not using an `id` anymore in the component, this component no longer needs to be a singleton, so I propose removing the `Singleton` from the class name.

Also, `Component` is redundant, so I recommend getting rid of that too, and just calling this thing `Map`.

What do you think @alicoding?

[2015-03-10 15:28] alicoding commented on #195
agreed and I'm on it!

[2015-03-10 15:29] #191 closed

[2015-03-10 15:38] iamjessklein commented on #99
Leave comments on [Invision mockup](http://invis.io/E52EM9WXT)

![about](https://cloud.githubusercontent.com/assets/535012/6578343/fa92e8e0-c719-11e4-802f-e9fb7b4c93e6.png)

[2015-03-10 15:40] iamjessklein commented on #98
Incorporated into About Page - [invision doc here](http://invis.io/E52EM9WXT)
Closing this thread - add your comments on issue #99

[2015-03-10 15:40] #98 closed

[2015-03-10 15:43] iamjessklein commented on #124
I am closing this issue as the design work is complete -- yet ongoing :)

[2015-03-10 15:43] #124 closed

[2015-03-10 15:46] #195 closed

[2015-03-10 16:02] #190 closed

[2015-03-10 16:06] iamjessklein opened #198 "Design: Teach Podcast page"
As the site is linking out a few times to the Teach the Web Talks podcast, we should allocate some time to do a few design tweaks.

The initial ticket might just be cosmetic, however we could probably dedicate a heartbeat just to this.

Things to keep in mind:

* consistency with the brand
* frequency of updates
* searchability
* bonus content

![screen shot 2015-03-06 at 2 20 24 pm](https://cloud

[2015-03-10 16:24] #97 closed

[2015-03-10 16:44] soapdog commented on #58
Not closed. First pass at translation was done but the changes were not integrated yet. We had a meeting yesterday and we're still digesting stuff. This will be ready shortly.

[2015-03-10 16:56] LauraHilliger opened #199 "[ACTIVITY] Write suggested target audience"
Possibly we could add target audience on overview pages, but people have identified that there might be different ages per section. Per Meredith "reading = 8+ but participating = 11"

[2015-03-10 16:56] LauraHilliger opened #200 "[LANDING] Add "Where to get help" section"

[2015-03-10 16:57] LauraHilliger opened #201 "[MIGRATED] Create and link to "How to adapt this to your learners" resource"

[2015-03-10 16:59] LauraHilliger opened #202 "[ACTIVITY] Give time ranges instead of set times"
We've had lots of feedback that people need an idea of timing, but the 45 mins have proven unrealistic. A suggestion was made to give a range for each activity (thanks to @iamjessklein)

[2015-03-10 16:59] cassiemc commented on #36
Thanks @vazquez! Updated the design with the other content amends from claw, lainey, etc. Latest design here: https://redpen.io/jue07a72a4a77906e0 @hannahkane is this ready to close or do we need another round of content review?

[2015-03-10 17:00] LauraHilliger opened #203 "[ACTIVITY] Link to Discourse for each activity to surface further remixes"

[2015-03-10 17:01] LauraHilliger commented on #203
Comment from Clubs call:  Should there be localized links because there will be non-english speaking clubs, right? Good q. Maybe we pilot this with Portuguese? +1 +1

[2015-03-10 17:02] cassiemc commented on #36
Working on saving out assets now.

[2015-03-10 17:02] LauraHilliger opened #204 "[ACTIVITY] Curate or take photos/videos for each activity."
Stories of how an activity was used in a real location and utilize the Clubs Cohorts as "models" :camera:

[2015-03-10 17:03] LauraHilliger opened #205 "[ACTIVITY] Curate or make examples of a completed task for each activity"

[2015-03-10 17:03] LauraHilliger opened #206 "[ACTIVITY] Embed pre & post activity questionnaires"
so that they are more easily completed

[2015-03-10 17:04] LauraHilliger opened #207 "[LANDING] Add an intro activity to set up your club's thread in Discourse"

[2015-03-10 17:04] LauraHilliger opened #208 "Model a local club's thread in Discourse and link to from landing page"
If you had just started a club, what would you say in Discourse announcing it? How would you prompt your new clubbers? What kind of laser light show would you include? And how would you encourage reflection?

[2015-03-10 17:08] LauraHilliger opened #209 "[KRAKEN] Prompt to complete only 2 sources"

[2015-03-10 17:08] LauraHilliger opened #210 "[KRAKEN] Rewrite learning objectives"
Many did not feel that learners would gain enough based on this activity to credential for credibility  competency

[2015-03-10 17:09] LauraHilliger opened #211 "[PINGKONG] Lengthen suggested duration (1hr+)"

[2015-03-10 17:10] LauraHilliger opened #212 "[PINGKONG] Rewrite learning objectives"

[2015-03-10 17:11] LauraHilliger opened #213 "[PINGKONG] Add videos that introduce the concepts"
There and Back Again: A Packet's Tale - How does the Internet work? https://www.youtube.com/watch?v=WwyJGzZmBe8

How does the Internet work? https://www.youtube.com/watch?v=oj7A2YDgIWE

[2015-03-10 17:12] LauraHilliger opened #214 "[PINGKONG] Add improv skits"
@chadsansing suggested improv with this activity. Chad, do you happen to have a link or a write up? Video!?

[2015-03-10 17:13] LauraHilliger opened #215 "[PINGKONG] Simplify language explaining terms"

[2015-03-10 17:13] mmmavis commented on #44
@vazquez could you please link me to the Sketch file? :wink:

[2015-03-10 17:13] LauraHilliger opened #216 "[PINGKONG] Add distinction between Internet and web."

[2015-03-10 17:14] LauraHilliger opened #217 "[PINGKONG] include the government spy idea"

[2015-03-10 17:14] LauraHilliger opened #218 "[HACKTHENEWS] Find and link to a tutorial on "How to easily get a photo of yourself from Facebook/Instagram""

[2015-03-10 17:15] LauraHilliger opened #219 "[HACKTHENEWS] Add section to help educators talk about the word "hack""
remix https://wiki.mozilla.org/Hackasaurus/FAQ

[2015-03-10 17:16] LauraHilliger opened #220 "[HACKTHENEWS] Add tip to use web pages that have HTML to play with and not a lot of Javascript."
Need worldwide examples (e.g. BBC.co.uk vs .com)

[2015-03-10 17:16] LauraHilliger opened #221 "[HACKTHENEWS] Add tip to create a shared Webmaker account"

[2015-03-10 17:17] LauraHilliger opened #222 "[HACKTHENEWS] Suggestion to go further: share your hack with the news station"
and hear their reaction

[2015-03-10 17:17] LauraHilliger opened #223 "[HTMLPUZZLE] Add tip: write on pieces of paper or post-its instead of making boxes"

[2015-03-10 17:17] vazquez commented on #44
@mmmavis It is here! https://dl.dropboxusercontent.com/u/43783651/Mozilla/Clubs%20Page.sketch

We can talk through it on Vidyo, that would be no problem.

[2015-03-10 17:18] LauraHilliger opened #224 "[STORYOFUS] Add tip to start storyboarding with pen & paper"
maybe useful, the storycamp storyboarding resource: https://mozteach.makes.org/thimble/schematics-and-storyboards

[2015-03-10 17:18] LauraHilliger opened #225 "[STORYOFUS] Add example of a story as an animated gif"
using Meredith's links: https://katermouse.makes.org/thimble/LTIwNjQwNTYzMjA=/creative-commons-gif-exchange-activity

[2015-03-10 17:25] hannahkane commented on #36
I think we're good to close. Nice work!

[2015-03-10 17:28] hannahkane commented on #99
Just wanted to acknowledge that I've seen this and have no comments because it looks great.

@ldecoursy @chrislarry33 - can you please leave any comments for @iamjessklein on the wireframe by EOD?

[2015-03-10 17:28] toolness opened #226 "Modularize LESS code"
Right now we've just got a big massive `styles.less` file that contains a ton of rules. Ali mentioned on today's stand that we might want to consider breaking it up into multiple files, where each file addresses the styling needs of a particular page or component.

I've already "modularized" the rules in `styles.less` to some extent by prefixing rules under the class of the part of the page they'r

[2015-03-10 17:32] chrislarry33 commented on #99
WFM

[2015-03-10 17:35] adamlofting commented on #180
Thanks @toolness I think this covers my requirements for now. There might be some shifting in how this works for other parts of metrics instrumentation depending on how the site evolves React-wise. But I'll wait until then.

I've updated the PR here (https://github.com/mozilla/teach.webmaker.org/pull/178), but still used the clunky `dangerouslySetInnerHTML` to get the basic tracking tag into the s

[2015-03-10 17:35] #180 closed

[2015-03-10 17:38] ldecoursy commented on #99
Me three

[2015-03-10 17:40] toolness opened #227 "Figure out login for Q1 deliverable"
So, for Q1 we'd like to have login, so that users can register a webmaker club on the map.

However, one challenge right now is that integrating login is currently non-trivial for a variety of reasons; even more importantly is that **a complete revamp of login will begin in the next heartbeat**. So I have concerns about the cost/benefit of integrating login now and then migrating, versus simply ho

[2015-03-10 17:46] adamlofting commented on #57
I've requested a new GA property for the domain name: teach.mozilla.org - once this is setup we can update the account id in the repo.

This can be tracked in [Bug 1141659](https://bugzilla.mozilla.org/show_bug.cgi?id=1141659)

[2015-03-10 17:47] mmmavis commented on #186
@toolness @alicoding @gesa
For modal dialogs do we write our own or use existing libraries?

[2015-03-10 17:58] iamjessklein commented on #99
:+1:  @vazquez  let's move on the mockups :tada:

[2015-03-10 18:01] iamjessklein commented on #202
:+1:  :watch:

[2015-03-10 18:08] toolness commented on #186
Ugh good question. I've been writing my own modals for previous projects, because I'm slightly annoyed by the "boil the ocean" approach of [react-bootstrap](http://react-bootstrap.github.io/), but it might ultimately be more prudent to just go with the latter... Ugh. For now, if you can try reusing the [`modal.jsx`](https://github.com/mozilla/webmaker-addons/blob/gh-pages/src/modal.jsx) I wrote fo

[2015-03-10 18:13] gesa commented on #226
I totally saw that Nicole Sullivan talk! ^_^

I'd love to take this on if you're looking for someone to assign to.

[2015-03-10 18:15] alicoding commented on #226
@gesa you are welcome to work on this, but I would love to chat with everybody on our 3PM (EST) meeting to finalized what approach we are going to take exactly here.

[2015-03-10 18:22] chadsansing commented on #214
I'd like to develop this a bit more - include some improv tips, too, but maybe it'll do for now?

https://chadsansing.makes.org/thimble/LTE4Mjg3MTYwMzI=/perform-the-net

[2015-03-10 18:37] hannahkane commented on #227
Would love an estimate from @simonwex about how long the login revamp might take. May be preferable to delay release of the site, but only if we're confident it will be completed soon.

@toolness  - the anonymous approach wouldn't allow for users to edit or remove their Club, right? That seems like a significant blocker. People be typo'in'.

Does anyone have add'l ideas about how to create a login

[2015-03-10 18:39] cassiemc commented on #36
Great, final assets are here, including all relevant svgs and image thumbnails, reg & 2x + the psd: https://www.dropbox.com/sh/q8gfn31yw3qjyfv/AABEIIbYU5E7m3D01_-YJpF_a?dl=0

Here's the final design + 1 with a grid. Have uploaded a 'closed for comment' still on redpen.

![teaching-activites-v4-approved](https://cloud.githubusercontent.com/assets/1186326/6582331/0652edce-c733-11e4-9c12-fdde51ffcfa0

[2015-03-10 18:39] #36 closed

[2015-03-10 18:39] mmmavis opened #228 "LESS/CSS - make sure we use rem"
Currently every is in `px`, we should make sure we switch over to `rem` instead.

[2015-03-10 19:01] vazquez commented on #37
UI Design here: https://projects.invisionapp.com/d/main#/console/2977378/67226158/preview

cc @hannahkane @chrislarry33 @thornet @ldecoursy

[2015-03-10 20:24] toolness commented on #227
Well, a [persona](https://persona.org/)-based login experience would be pretty easy to implement, actually... there's just the issue then of requiring users to use persona. If the vast majority of people posting their webmaker clubs on there are already our core community, though, it's likely that they already have Persona accounts.

[2015-03-10 20:30] ldecoursy commented on #175
Based on a conversation earlier today, consensus is to move forward with teach.mozilla.org. Notes from meeting are here: https://etherpad.mozilla.org/teachbrandingcomms

@HPaulJohnson to confirm it's ok to use mozilla.org

cc @chrislarry33

[2015-03-10 20:33] toolness opened #231 "Consider re-naming repository to teach.mozilla.org"
Today @mmmavis mentioned that we might want to rename this repository to teach.mozilla.org, since that's apparently going to be its new name.

Another option might be to rename the repository to just `teach`, so that it doesn't need to be renamed in the future if it's decided that the domain name be something different.

@simonwex, any thoughts on this?

[2015-03-10 20:33] #184 closed

[2015-03-10 20:36] #142 closed

[2015-03-10 20:41] toolness opened #232 "Figure out how to do web-1.0 style URL fragments with React-router"
Since react-router seems to use the URL hash for routing on browsers that don't support pushState, it's unclear how we use the URL hash for its standard purpose, i.e. linking to named anchors/ids in static content. Since our project is an actual website and not a web app, it's quite likely that we'll want to create such links in the near future.

[2015-03-10 20:52] toolness opened #233 "Reorganize code"
Today @alicoding, @gesa, @mmmavis, @vazquez and I discussed a folder structure to better represent the structure of the site, and make it easier for new developers to contribute to it.

It roughly looks like this:

[code]

Things left to do:
  - [x] Create the folders and move the JS *but not the less* (#238)
  - [ ] Refactor the LESS (#226)
  - [X] ~~Get rid of the `vendor` directory and delegate

[2015-03-10 21:06] hannahkane commented on #227
I think Persona would likely be fine for v1. @chrislarry33 @thornet @ldecoursy @amirad - do you have concerns about requiring Persona until we have a new login experience completed?

[2015-03-10 21:14] hannahkane commented on #37
Looking good, @vazquez. Left a couple questions in invision.

[2015-03-10 21:15] ldecoursy commented on #227
Agree, seems ok to plan for Persona for v1. Once we have a better sense of timing for new login, we can figure where it fits best into the roadmap.

[2015-03-10 21:17] chrislarry33 commented on #227
I actually am struggling with this a bit b/c we have seen how persona/login have a chilling effect on participation. But I am going top defer to @hannahkane and @ldecoursy here and vote for having it be updated when its ready

[2015-03-10 21:48] mmmavis opened #234 "Define <main> element"
Currently we have `<footer>` on our pages, I wonder if we should define `<main>` as well?  Looks like https://github.com/mozilla/teach.webmaker.org/blob/develop/lib/page.jsx#L16 is the place to change if we decide to have `<main>`.

/cc @toolness @alicoding @gesa