[2015-06-10 17:31] hannahkane commented on #933
I also like the OpenBadges-inspired one for horizontal, and I think I prefer the Gigabit-inspired one for vertical.

@ldecoursy and @cassiemc - would you both be okay with those options?

[2015-06-10 17:33] hannahkane commented on #991
OK, thinking on this more, I don't think we can afford to lose the "Maker Party" nav item until after MP has passed. That means we'll have six top-level nav items until early August, but I think it's necessary for people to be able to easily navigate to the MP page.

That means the order should be:
    Teaching Activities
    Mozilla Clubs
    Maker Party
    Tools
    Community
    Teach Like Moz

[2015-06-10 17:44] #989 closed

[2015-06-10 17:52] sabrinang commented on #887
![teach like mozilla - tools larger text](https://cloud.githubusercontent.com/assets/2492510/8089737/a208405c-0f5e-11e5-884a-dd4f2a02a1b9.png)
updated redpen: https://redpen.io/bu9ded39ad3b05ea46
- adjusted text alignment
- adjust text size

@cassiemc R?

[2015-06-10 18:00] hannahkane commented on #1003
Amazing. Does this work for you, @ldecoursy @thornet ?

[2015-06-10 18:11] mmmavis commented on #1017
Yea that's for sure!  I definitely wanna learn that too. It would be fantastic if you could be around when I do my first Teach site deployment in case... *bad things* happen...  :see_no_evil:

[2015-06-10 18:26] ldecoursy commented on #1003
It works for me! Thank you :)

[2015-06-10 19:25] amirad commented on #978
@mmmavis it's a sign-up form called "Mentor Signup Form"

[2015-06-10 21:21] mmmavis opened #1019 "development bug - npm start failing"
When running `npm start` from the `develop` branch the following error occurred.

[code]

I *think* this is [the commit](https://github.com/mozilla/teach.webmaker.org/commit/8dca64c5e81e0627a5acce83143d4b916107718b) that introduced this issue.  Gonna see if I can fix this before @toolness is back from PTO :eyes:

[2015-06-10 22:20] mmmavis commented on #1019
Seems like it's ```gulp.watch('img/**', ['copy-images']);``` in [gulpfile.js](https://github.com/mozilla/teach.webmaker.org/blob/develop/gulpfile.js#L222) that's causing problem.  I tried removing some files from that `img` dir and the error was gone.  I'm guessing it's something to do with the number of files we are watching?

[2015-06-10 23:58] mmmavis commented on #1019
Ummm I also tried changing

[code]

 to

[code]
and encountered NO errors.  :open_mouth:

[2015-06-11 00:06] #982 closed

[2015-06-11 00:24] mmmavis opened #1020 "Map - highlight the pin when zoom-to-location"
Clicking on the "Take Me To My Club" button(1st screencap) or "Vancouver"(2nd screencap) triggers the "zoom-to-location" function(3rd screencap).  However, it is not super easy to spot the pin the Club is located at if the map has more than 1 pin in the viewport.  I wonder if there's a way we can highlight that pin? or maybe we should launch the info popup as when we zoom-to-location.

---
1st
![s

[2015-06-11 00:45] #958 closed

[2015-06-11 00:49] mmmavis opened #1022 "Verify hero unit background images look fair on mobile"
To fix the ["mobile view just shows the back of a head" issue](https://github.com/mozilla/teach.webmaker.org/issues/958), we have set `background-position: center top;` to the `.hero-unit` class.  This ensures on smaller devices the middle section of the background image is visible (instead of the upper right section, which is what we had before).

This change applies to *ALL* hero unit background

[2015-06-11 13:01] toolness commented on #1020
Ah, yeah, I actually tried adding this way back when implementing the original "add a club" flow, but the [markercluster](https://github.com/Leaflet/Leaflet.markercluster) plugin actually made it quite non-trivial, because the club pop-up doesn't actually *exist* until the map is zoomed-in enough to show the marker (instead of a "cluster" marker that represents a group of markers).

I think this m

[2015-06-11 13:06] toolness commented on #1019
Hmm, I'm not experiencing this bug on my end, but I like your solution for watching specifically PNG, JPG, and SVG files... If we copy only those files too, this might help with getting the `imagemin` plug-in working properly, which I was having trouble with in https://github.com/mozilla/teach.webmaker.org/issues/946#issuecomment-110430743.

[2015-06-11 14:38] toolness commented on #1017
Cool! One of the nice things about the release process is that nothing really bad can happen until you get to step 8, when you merge the PR into master. So feel free to start the process if you like, and then wait at the end of step 7 for me to give a :+1: on the PR if you want.

[2015-06-11 15:34] hannahkane commented on #1022
All looks good on Safari in iPhone 5. The center of the homepage is a blurry part of the image, but it's less distracting than the back of the head. Other pages look good.

[2015-06-11 17:13] mmmavis commented on #1019
I'm not sure if this is related to my `ulimit -n`.  It was at 256 initially but changing it to 1024 didn't fix the error either... ummmmm......

I can replace `gulp.watch('img/**', ['copy-images']);` with

[code]

I guess if we happen to add files of another type (e.g., GIF) in the future we'll just have to update the array of glob strings.

[2015-06-11 17:18] cassiemc commented on #887
R+

[2015-06-11 17:25] cassiemc commented on #843
Hey @sabrinang, I haven't been too involved in this process but I left you some feedback in the redpen. In general the layout of the page is good, but some of the elements need finessing to make sure they really fit the design of the page. Please ping me if you want to go over anything by voice, and it'd be great if you could get @flukeout to offer to some feedback here too.

[2015-06-11 18:04] mmmavis commented on #908
@sabrinang can you attach files here? thanks!

[2015-06-11 18:23] sabrinang opened #1024 "Reduce Maker Party banner pattern size"
![screen shot 2015-06-11 at 11 19 24 am](https://cloud.githubusercontent.com/assets/2492510/8114764/c4d90fbc-102b-11e5-9572-5e40ad26fdd5.png)

Reduce maker party pattern by 50% - pattern exported here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eTzVBdWRLcjdXbk0/view?usp=sharing
(use current pattern file as retina)

[2015-06-11 19:16] mmmavis commented on #1024
Hey @sabrinang ,

Just wanted to confirm - so the pattern size is 416x296 and the background image should be used as tiles? (e.g., [`background-repeat: repeat`](https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat))

[2015-06-11 19:17] mmmavis commented on #1022
Cool, once we get a OK from @sabrinang we can close this ticket :dancer:

[2015-06-11 19:19] mmmavis commented on #991
I'm adding the "blocked" label back since this is currently blocked on [Build Tools page](https://github.com/mozilla/teach.webmaker.org/issues/990)

[2015-06-11 19:26] mmmavis commented on #1024
Um... since this is an enhancement ticket and requires relatively small code changes... @sabrinang do you wanna take this on?  I think this will be a great starting point for your "learning to use git and CSS" goal :+1:

I'll be in the office tomorrow so I can walk through the CSS changes as well as the code submitting  process with you. :bowtie: Let me know!

[2015-06-11 19:47] sabrinang commented on #1024
+100000000 good idea yes! :dancers:

[2015-06-11 20:55] hannahkane commented on #887
Closing this ticket and unblocking the implementation ticket.

[2015-06-11 20:55] #887 closed

[2015-06-11 20:55] hannahkane commented on #990
No longer blocked, @mmmavis.

[2015-06-11 22:02] mmmavis commented on #887
@sabrinang could you also attach the .ai file so I can inspect the font sizes?

[2015-06-11 22:05] mmmavis commented on #1014
waiting for image files to come :wink:

[2015-06-11 22:05] mmmavis commented on #1015
waiting for image files to come :wink:

[2015-06-11 22:08] sabrinang commented on #887
This was a .sketch file you can find here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eRnRyamZPemIyVTQ/view?usp=sharing

[2015-06-11 23:38] mmmavis commented on #990
Some notes:

Link X-Ray Goggles to https://goggles.webmaker.org and Thimble to https://thimble.webmaker.org for now

[2015-06-12 00:12] sabrinang commented on #908
![icon-teach-man-chalkboard-pledge](https://cloud.githubusercontent.com/assets/2492510/8121191/0412f77a-105d-11e5-8ddf-d9c9dc985b66.png)

.svg icon: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eYnU4VXE2UWFDN3M/view?usp=sharing

**Font Awesome**
fa-hand-o-right #1A90CD
fa-facebook #FFFFFF (on #507BBE square)
fa-twitter #FFFFFF (on #64CCEF square)

18px Titles
14px Body Copy

[2015-06-12 01:42] mmmavis commented on #991
We will also need illustrations for "Tools" and "Community" nav items before we can start making changes to the sidebar.

cc @sabrinang

[2015-06-12 11:25] #1019 closed

[2015-06-12 18:07] toolness commented on #1003
Hooray!! I will close this now.

[2015-06-12 18:07] #1003 closed

[2015-06-12 18:40] #990 closed

[2015-06-12 18:41] toolness commented on #997
It looks like Discourse has a handy [API](https://meta.discourse.org/t/discourse-api-documentation/22706) that gives us pretty easy access to the latest and most popular topics in a variety of formats, including e.g. [JSON](http://discourse.webmaker.org/latest.json) and [RSS](http://discourse.webmaker.org/latest.rss). So that's cool.

It should be pretty straightforward for us to integrate however

[2015-06-12 18:44] mmmavis commented on #1022
@sabrinang got a chance to QA this?  :information_desk_person:

[2015-06-12 18:57] mmmavis commented on #1005
Note that once the colour has been chosen we will also need to update illustrations on these 2 pages with the new colour.

[2015-06-12 20:59] hannahkane commented on #169
This ticket is messy. Going to close for now. Will re-open as new mail solution shakes out.

[2015-06-12 20:59] #169 closed

[2015-06-12 21:01] hannahkane commented on #198
@Saallen - are we continuing with the podcast?

[2015-06-12 21:01] hannahkane commented on #310
Is this still needed? @mmmavis @toolness ?

[2015-06-12 21:04] hannahkane commented on #671
Closing this ticket, as it feels premature.

[2015-06-12 21:04] #671 closed

[2015-06-12 21:05] mmmavis commented on #310
I believe similar issue got fixed in https://github.com/mozilla/teach.webmaker.org/pull/919.  Closingggggggg it now :dancers:

[2015-06-12 21:05] #310 closed

[2015-06-12 21:10] toolness commented on #930
Ok, I've got something!

I wrote this [`process-discourse-users.js`](https://gist.github.com/toolness/a1d2ac8c1400302b36ca) script that generated the following report:

----

1. Discourse users with identical Webmaker usernames: 357
2. Discourse users with reconcilable Webmaker usernames: 530
3. Discourse users with conflicting Webmaker usernames: 4
  * [iamrowdymehul] / [rowdymehul]
  * [aini] /

[2015-06-12 21:16] toolness commented on #198
We better be continuing with the podcast, it's awesome!!!

[2015-06-12 21:19] toolness commented on #310
Somewhat related: as mentioned in https://github.com/mozilla/teach.webmaker.org/issues/946#issuecomment-110056894, we could use `gulp-imagemin` or a similar minifier to remove all the comments and extraneous stuff in the SVGs. Not sure if that is what Aki (gesa) meant by the SVGs needing cleanup or not.

[2015-06-12 21:19] mmmavis commented on #939
Hey @sabrinang I'm assigning this ticket to you since you are the decision maker.

I see FontAwesome icons are used in a few latest mockups(e.g., [here](https://github.com/mozilla/teach.webmaker.org/issues/908)).  Just wanna confirm with you that we can drop Ionicons for FontAwesome now.

We use quite a bit of glyphicons on the Teach site and since the set is loaded as part of Bootstrap package an

[2015-06-12 21:21] mmmavis commented on #310
I assume it was related to [her comment](https://github.com/mozilla/teach.webmaker.org/pull/309#issuecomment-82631349) (though I could be wrong)

[2015-06-12 21:58] mmmavis commented on #1016
The following are the required fields we need for the transaction email sent by BSD.

![screen shot 2015-06-12 at 2 52 17 pm](https://cloud.githubusercontent.com/assets/2896608/8140714/f7e49682-1112-11e5-9d65-535ce52d8863.png)

From https://teach.etherpad.mozilla.org/clubtransactionalemails

**Subject line**
[code]

**Email body**
[code]
:question: :question: :question: Question: should I put Mich

[2015-06-12 21:58] mmmavis commented on #1016
@hannahkane see above

[2015-06-12 22:04] mmmavis commented on #978
Hey @amirad sorry we can't just repurpose the existing "Mentor Signup Form" BSD form :disappointed: ... since we are triggering a different transaction email as well as the redirect destination will be different from what's set on the current "Mentor Signup Form" BSD form :no_mouth:
I'll clone a new signup form for this Pledge workflow to use.  More updates on https://github.com/mozilla/teach.webm

[2015-06-12 22:19] sabrinang commented on #858
I have done some sketching and synthesized some notes on redpen: https://redpen.io/p/zo723c090907201b0d

WIP
![clubs information planning](https://cloud.githubusercontent.com/assets/2492510/8140997/211748da-1116-11e5-96a6-a360593400ed.png)

It is a rough (information dense) structure on how we can communicate our information and after chatting with @hannahkane I can incorporate the map and think a

[2015-06-12 22:21] hannahkane commented on #858
@thornet @ldecoursy @chrislarry33 - take a look at the above, but note that another iteration is coming soon, as @sabrinang mentioned. we should think about tightening up copy.

[2015-06-12 22:30] ldecoursy commented on #858
Coming together, thanks @sabrinang!

There is A LOT of info, wondering if we should think about what might go on a child page? Maybe the "who" section, where we could also list or profile the RCs?

I think in this draft there are probably too many placeholders for icons, images, thumbnails.

[2015-06-12 22:57] hannahkane commented on #1016
@amirad @thornet  - How do we normally do this? Do we say, "Michelle Thorne, Mozilla Foundation"?
Michelle - are you okay with having your email address on the pledge email?

[2015-06-12 23:03] hannahkane commented on #930
Thanks, @toolness. This doesn't seem that bad.

@amirad, @ldecoursy, @thornet  - how do you want to handle groups 3 and 4? We could send PMs to everyone in those groups? (I'd probably vote for just the 48 in group 4 who've posted in the past.)

[2015-06-13 11:59] toolness commented on #1024
yay mentoring ftw!

[2015-06-13 18:56] amirad commented on #1016
Things to consider:
•In the past we have only listed generic email addresses for response like makerparty@mozilla.org, help@webmaker.org or teachtheweb@mozillafoundation.org - we've never listed a personal email address and it probably makes sense to continue that.
•If we list a name, that person should be prepared to respond to emails. So that's a question for Michelle? In the past I have receive

[2015-06-13 19:13] amirad commented on #930
Man, who is this amirad/amira and why is her user account giving us such a problem ;) Okay yes, it's probably because people like me have definitely logged in with both Webmaker and Google.

Group 1 + 2, I would just migrate.
Group 3 I would contact those people and let them know.
Group 4 I would email only those 48 people who has posted before.

[2015-06-13 19:19] amirad commented on #858
Who we are and the Why seem misplaced and far down on that page. That's the type of info that lives on an "about page" or at the top of the page.

[2015-06-13 19:22] amirad commented on #978
Ok no worries. We can change the mentor email/redirect but if it's too much trouble we can create a new form and ask Adam about migrating over the email addresses from the mentor signup.

[2015-06-15 11:02] Saallen commented on #198
We are! I have allocated some time in July to get the next 3 episodes produced as interviews have been recorded. :radio:

[2015-06-15 12:15] adamlofting commented on #406
I was about to file a bug to say we need a 404 page, then found this.

I love these concepts, but if it's going to take a while to build, we should ship something basic in the meantime.

[2015-06-15 13:39] ldecoursy commented on #930
+1, although wonder if we should also alert people in group 2 that we're changing their discourse username...

[2015-06-15 14:08] toolness commented on #946
From my [above comment](https://github.com/mozilla/teach.webmaker.org/issues/946#issuecomment-110430743):

I was actually having a similar problem when using an entirely different library to process our images in #1026, and found that upgrading node from v0.12.0 to v0.12.4 fixed things on my Windows machine. I haven't tried `gulp-imagemin` again, but I suspect it was crashing due to the same under

[2015-06-15 15:34] ldecoursy commented on #916
In case this is at all helpful or interesting http://twistedsifter.com/2015/06/proportional-pie-chart-of-the-most-spoken-languages/

[2015-06-15 15:53] toolness commented on #930
Er wait, now I'm realizing something... [according to the co-founder of Discourse](https://meta.discourse.org/t/ability-to-merge-users/9220/3):

That implies that there is only one user per email address in Discourse, yet [we don't have such a restriction in Webmaker](https://github.com/mozilla/id.webmaker.org/issues/120#issuecomment-88969419). This could make it really hard to offer Webmaker-base

[2015-06-15 16:25] jbuck commented on #930
@toolness We ended up not implementing that feature, right now, emails are unique, you can't duplicate them.

[2015-06-15 16:34] toolness commented on #930
But won't the emails *eventually* not be unique? I don't want to implement something that breaks a few months down the line...

Or is it possible for us to add some kind of "must still work with discourse/credly/etc" requirement to the "support multiple accounts per email" feature that might eventually get implemented? If we can either be assured that such a feature won't be implemented in the for

[2015-06-15 17:15] hannahkane opened #1029 "Create illustrations for "Tools" and "Community""
We're adding these two items to the main navigation, and they'll need illustrations to match the other items.

[2015-06-15 17:23] sabrinang commented on #1029
for issue https://github.com/mozilla/teach.webmaker.org/issues/991

[2015-06-15 17:39] hannahkane commented on #406
That's a good point, @adamlofting. I'll put this as a candidate for the next heartbeat.

[2015-06-15 17:40] hannahkane commented on #198
Oh, cool. Glad to hear it! :)

[2015-06-15 17:41] toolness commented on #946
Hmm, so `gulp-imagemin` still makes gulp silently exit, though it does so with an exit code of 0 (my [aforementioned problem](https://github.com/mozilla/teach.webmaker.org/issues/946#issuecomment-112082192) with the other library caused a nonzero exit code).

I tried using [`imagemin-optipng`](https://github.com/imagemin/imagemin-optipng) instead, to only optimize PNG files, and it does work, but

[2015-06-15 18:07] toolness opened #1030 "Losslessly optimize images"
As mentioned in #946, it might be useful to use a tool like `gulp-imagemin` to optimize our images. Specifically, we ought to optimize:

- [ ] SVG files (see #1052)
- [ ] PNG files
- [ ] JPEG files

We don't seem to have any GIFs, so no need to optimize those.

[2015-06-15 20:10] sabrinang commented on #1022
Looking good. The centered images for all hero banners improved to focus on the main points visual interests on the photographs! I much prefer the homepage to focus on the person/laptop that is out of focus then the previous back-of-the-head area (on landscape, you can see the side of her face/glasses and is fine) and does not interfere with the title text.

(I tested this on my Nexus 4 on Firefox

[2015-06-15 20:23] sabrinang commented on #933
More explorations on wordmarks and iterate on "mozilla club" as a unit followed by city name
![mozilla-clubs-wordmark-exploration2](https://cloud.githubusercontent.com/assets/2492510/8169897/72cf1f2a-1361-11e5-963a-7bb25f9d3110.png)

[2015-06-15 22:03] toolness commented on #930
Hey @thisandagain, any idea if the "multiple users per email" feature will end up being implemented? And/or if there will be some kind of "primary username" concept that maps an email address to one username?

A number of third-party services/packages we'd like to integrate with (Discourse and Cred.ly, mentioned above) have a 1:1 mapping between usernames and emails that is incompatible with the "

[2015-06-15 22:06] thisandagain commented on #930
I got quite a bit of push-back on the "multiple users per email" feature and so I don't have it on the roadmap any longer. We are ok to move forward with a 1:1 mapping. Thanks for the follow-up!

[2015-06-15 22:33] #946 closed

[2015-06-15 22:37] hannahkane commented on #933
I like the 4th row the best, with the smaller "mozilla club" and larger city name, but the lighterweight font overall.

Also, would love to not spend too much more time on this particular ticket, if possible. :)

[2015-06-15 22:49] sabrinang commented on #843
updated redpen: https://redpen.io/p/zoe6d4942cfdef74d2
![events page - iteration4 - 061515](https://cloud.githubusercontent.com/assets/2492510/8172494/ed49f02c-1375-11e5-844d-4f8f9c3fabbd.png)

[2015-06-15 22:58] hannahkane commented on #930
@toolness - so, no longer blocked on this one? Let me know what you need from me to proceed.

[2015-06-15 23:04] hannahkane commented on #997
Added https://github.com/mozilla/learning-networks/issues/196 for discussion about what we'd want to include on a page of Discourse content

[2015-06-16 00:32] #1024 closed

[2015-06-16 11:19] toolness commented on #930
Ah thanks @thisandagain--bummer that you got pushback, since it does seem like a very useful feature, but at least it will make 3rd-party integration easier...

(BTW you can unsubscribe from this issue now if you don't want the spam, I think that's all we needed from you.)

@hannahkane, I *think* I'm no longer blocked on this one. The only additional thing to note is that id.webmaker.org doesn't c

[2015-06-16 15:28] toolness commented on #930
Ok, I did a bit more digging on the Webmaker side and found out that most of the 48 people in group 4--the ones who have no corresponding Webmaker account--actually have their username available on the Webmaker side. For instance, "stevenkinney" doesn't have a Webmaker account with the same email, but the username "stevenkinney" is available in Webmaker, so we could potentially create a new Webmak

[2015-06-16 17:10] hannahkane commented on #997
Closing this. It's been explored. :)

[2015-06-16 17:10] #997 closed

[2015-06-16 17:12] #1022 closed

[2015-06-16 17:14] toolness commented on #790
I was going to file a new issue for converting photographic PNGs into JPEGs, but I realized this issue is basically it.

In #946 we added a way to easily convert photographic, lossless PNGs into lossy JPEGs at build time, and did it for hero unit images only. We should go ahead and do the conversion for *all* our photographic PNGs, such as the `maurya-nyc@2x.png` listed at the top of this issue.

[2015-06-16 17:54] hannahkane commented on #1016
@thornet - can you make a decision on how you want to handle the pledge email? Thanks!

[2015-06-16 17:59] jgmac1106 opened #1032 "Planet Webmaker Looking Funky"
The RSS feed on Planet webmaker seems to have had a right column added for recent posts. It is scraping too much text from posts and making reading difficult. Can it be set so only the title of recent posts is added to the sidebar?

[2015-06-16 18:05] hannahkane commented on #843
Still a +1 from me. Need an R from @cassiemc?

[2015-06-16 18:49] sabrinang commented on #939
Let's continue with FontAwesome until further notice and we can streamline our icons by using this 1 icon set when possible.

[2015-06-16 18:49] #939 closed

[2015-06-16 18:54] sabrinang opened #1033 "Streamline Iconography to FontAwesome"
Currently there are Glyphicons being used as it is integrated with bootstrap already. Where possible we can find a FontAwesome equivalent and substitute it so the icon used are consistent and unified.

Some Glyphicons found are trash, pencil, heart, hamburger menu, wrench, flash etc.

[2015-06-16 20:30] mmmavis commented on #1015
@toolness have you started working on this ticket?  If not I think I'll tackle this later today.

[2015-06-16 20:57] toolness commented on #1015
Sure, go right ahead--you might want to keep an eye on #1034 just to be aware of the a11y fixes I'm making there, so you know what roadblocks might face the users of this new pledge modal.

oy making modals accessible is :sob: HARD :sob: !

[2015-06-16 21:10] mmmavis commented on #969
@ldecoursy @thornet are we good with the updated text?

[2015-06-16 21:36] mmmavis opened #1035 "Drop Ionicons for FontAwesome"
In https://github.com/mozilla/teach.webmaker.org/issues/939 we have decided to drop [Ionicons](http://ionicons.com/). This ticket is for replacing the existing Iconions used on our site with their FontAwesome equivalents.

- [x] Drop Ionicons
- [x] Load FontAwesome
- [x] Replace the existing Iconions used on our site with their FontAwesome equivalents

[2015-06-16 21:37] iamjessklein commented on #198
w00t! I :heart:  the podcast. Let me know if there's anything I can contribute to.

[2015-06-16 21:47] hannahkane commented on #1000
Copy won't be ready this heartbeat, so moving this to the next.

[2015-06-16 22:19] toolness opened #1037 "Locally host Open Sans, at least for local development"
Because [devs shouldn't let devs use Arial](https://github.com/mozilla/teach.webmaker.org/pull/1036/files#r32576552).

[2015-06-16 23:08] sabrinang commented on #737
Exploring iterations on the Maker Party promo and using Paradise Green or Viking Yellow from webmaker palette that is most similar to existing MP teal and yellow colours. I won't be using blue or teal as it is used in the hero gradient and doesn't provide enough contrast to the promo callout.

_NOTE: Copy for banner is TBD (placeholder on mockups)._

__Palette__
![webmaker-maker-party-promo-banner

[2015-06-16 23:09] mmmavis commented on #1015
:question: :question: :question:   @sabrinang so

![1st Modal](https://cloud.githubusercontent.com/assets/2492510/8044040/cd3ce344-0dde-11e5-98c5-09f6cc4f6af3.png)
(from https://github.com/mozilla/teach.webmaker.org/issues/908#issuecomment-110122037)

and

![2nd Modal](https://cloud.githubusercontent.com/assets/2492510/7923225/47f9eeac-0866-11e5-8dcd-2661f991c65d.png)
(from https://github.com/mozi

[2015-06-16 23:14] hannahkane commented on #737
Thanks, @sabrinang.

Will let @cassiemc and @xmatthewx offer feedback on design. (I think it looks great! :))

Re: copy—my suggestion would be to remove "year-round," and instead add the dates, to create urgency. Also want to de-emphasize "attending," since we don't help facilitate that. So my suggestion is: "Maker Party is Mozilla's global campaign to teach the Web. Participate by hosting an even

[2015-06-16 23:25] sabrinang commented on #1015
@mmmavis Yes those are the 3 modals

[2015-06-16 23:38] mmmavis commented on #1015
waiiiit, 3???

[2015-06-16 23:41] sabrinang commented on #1015
oops 2

[2015-06-17 02:33] chrislarry33 commented on #1000
Whats the blocker on copy?

[2015-06-17 05:02] mmmavis commented on #1015
Just a reminder that we should *always* include the privacy policy checkbox in a form like this. :wink:

also @sabrinang , I noticed that we have 2 types of buttons in modal:

the **flat and full-width** one seen in the Add You Club modal dialog
![screen shot 2015-06-16 at 10 00 29 pm](https://cloud.githubusercontent.com/assets/2896608/8199994/2f4af4aa-1473-11e5-82bf-c037d1530ddd.png)

and the one

[2015-06-17 12:57] ldecoursy opened #1038 "Download links for Maker Party assets should point to stuff.webmaker.org, not stuff.webmaker.org.s3.amazonaws.com"
The links to download Maker Party assets (logos, brand palette, buttons, etc.) here https://teach.mozilla.org/events/resources/#logo-assets all lead to "untrusted connection" error pages.

See the screenshot below that was sent to us by a Regional Coordinator.  I just checked and am receiving the same errors.
![screen shot 2015-06-17 at 4 42 27 pm](https://cloud.githubusercontent.com/assets/488589

[2015-06-17 13:54] xmatthewx commented on #737
I think these look great. Nice work @sabrinang.
cc @vazquez re: the logo position and size

[2015-06-17 14:13] toolness commented on #930
Ok, slightly changed plan... here's the latest output of my script for reference:

----

1. Discourse users with identical Webmaker usernames: 357
2. Discourse users with reconcilable Webmaker usernames: 530
3. Discourse users with conflicting Webmaker usernames: 4
  * [iamrowdymehul] / [rowdymehul]
  * [aini] / [nizibaba]
  * [kmiklasz] / [kamman13]
  * [amirad] / [amira]
4. Discourse users witho

[2015-06-17 14:25] toolness commented on #1033
Yeah! The glyphicons are 18-100k depending on the format they're retrieved in, so cutting them out will save on page load time too.

I guess we should probably also modify our gulpfile so it doesn't copy the `fonts` directory of `bootstrap`.

[2015-06-17 14:29] toolness commented on #1038
The technical details say:

[code]

Any suggestions on how to fix this mister @jbuck ?  One option is to change all our links so that they use the path-based S3 URL syntax instead of the subdomain-based one, e.g.:

https://s3.amazonaws.com/stuff.webmaker.org/teach.mozilla.org/MakerPartyBrandPalette.eps

I am surprised that Amazon's SSL cert *used* to work but doesn't anymore, though.

[2015-06-17 14:36] cassiemc commented on #737
I also think they're great! Fresh palettes, nice and clean, great work @sabrinang! I especially like the yellow one for mirroring the background in the app screen. I would shorten the width of the paragraph of text. Maybe break after 'year-round party' or even shorter would be fine. After that, R+.

One subtle enhancement might be to try a slight gradient on the yellow to mirror the gradient above

[2015-06-17 15:24] amirad commented on #930
Types of emails to send (as discussed with @toolness and @hannahkane on 06/17/15):

•you're discourse username got changed to match your webmaker username (group 1 and 2)
•we need to change your username, which username/email associated with discourse do you want to use (group 3)
•we're migrating to using Webmaker as a login, so we created an account for you there with the same account name. If yo

[2015-06-17 15:35] toolness commented on #930
sounds good!

Hannah just mentioned that we should also tell users that this will only affect their MOZILLA LEARNING DISCOURSE login, since they might be confused about whether this change will affect any other Discourse instances they might be participating in (e.g. the [mozilla community discourse](https://discourse.mozilla-community.org/) or the open science, open news discourses, etc).

[2015-06-17 15:37] jbuck commented on #1038
@toolness Don't use the bucket name, use https://stuff.webmaker.org/teach.mozilla.org/MakerPartyBrandPalette.eps

[2015-06-17 15:39] toolness commented on #1038
Ahhh got it, thanks jbuck!

@mmmavis can you fix this one real quick?

[2015-06-17 15:45] toolness commented on #1017
Hey @mmmavis, @hannahkane and I were talking today and we think it's ok to make a new release with the Tools page orphaned (i.e., not linked-to from the sidebar). It's particularly important to push a new release soon because we really want that maker party promo on the front page to be visible.

Do you think you can get to this today? If not I can take care of it and you can take care of the next

[2015-06-17 16:17] hannahkane commented on #930
Drafted emails here: https://etherpad.mozilla.org/discourseemails

I'm sure I got something wrong, though. @toolness, can you do a sanity check, please? :)

[2015-06-17 16:28] cassiemc commented on #843
R+ we can go ahead with this, perhaps iterating on the header banner in the future!

[2015-06-17 16:33] hannahkane commented on #843
w00t. Thanks, @cassiemc. @sabrinang - can you please put any assets on the implementation ticket? #900

[2015-06-17 16:33] #843 closed

[2015-06-17 17:00] hannahkane commented on #1000
It was that we don't have all of the final Webmaker activities, but just spoke with @amirad about this, and we agreed to move forward with this in the current heartbeat, even if we have to have a "Coming Soon" section.

[2015-06-17 17:15] hannahkane commented on #1000
Changing this from a design ticket to an implementation ticket, because I'd like to just use the existing template (see https://teach.mozilla.org/activities/web-lit-basics/) for layout and styles.

The final copy starts on line 19 of this pad: https://teach.etherpad.mozilla.org/teachsite-eventspage

[2015-06-17 17:16] hannahkane commented on #900
This is no longer blocked by design.

[2015-06-17 17:19] sabrinang commented on #1015
I got the R+ to go with the non-full width button that looks similar to the other CTA buttons on the teach site (all caps, rounded corners and depth) so we should go with the mockup style to unify with existing CTA buttons

[2015-06-17 17:27] #1035 closed

[2015-06-17 17:30] hannahkane commented on #933
@ldecoursy @cassiemc - do you have final choices?

[2015-06-17 17:54] ldecoursy commented on #933
Just looked over with @amirad and @thornet and we're liking the third option. Feeling like the ones on the bottom de-emphasize Mozilla Clubs too much.

[2015-06-17 18:15] toolness commented on #930
Awsm!!!

Note that when I send out the automated emails, I'll only be able to easily send them in plain-text form, so could you modify them to only include URLs in the main text, i.e. not assume we can hyperlink text in the email body?

[2015-06-17 18:39] hannahkane commented on #1000
@mmmavis - could you do this without a mock-up, and then @sabrinang can fill in the missing images?

[2015-06-17 18:44] hannahkane opened #1040 "Create visualization for Clubs model"
@thornet - can you please provide specs for this?

[2015-06-17 18:45] thornet commented on #1040
Quickly checking with Andrew if he can assist. Will report back in an hour!

[2015-06-17 19:28] mmmavis commented on #1017
@toolness sorry just saw your comment now.  I can try making a new release today - probably in 30mins or so.  Gonna :fork_and_knife: and read through RELEASE.md again first :bowtie:

[2015-06-17 19:39] hannahkane commented on #930
K. Modified. Still needs a sanity check! :)

[2015-06-17 19:41] hannahkane commented on #737
Even shorter copy suggestion: "Maker Party is Mozilla's global campaign to teach the Web. Join us between July 15th and 31st." cc @KevZawacki @amirad

[2015-06-17 19:54] mmmavis opened #1041 "Replace Ionicons used in Expander component"
Need a patch for replacing Ionicons used in `Expander` component as it's something I forgot to include in [PR#1036](https://github.com/mozilla/teach.webmaker.org/pull/1036)

(screenshot taken on staging site)
![screen shot 2015-06-17 at 12 51 42 pm](https://cloud.githubusercontent.com/assets/2896608/8217055/a136f678-14ef-11e5-8860-21e20c47c39e.png)

[2015-06-17 20:09] thornet commented on #1040
I think I've got it covered. Thanks!

[2015-06-17 20:13] amirad commented on #737
WFM

[2015-06-17 20:34] #1041 closed

[2015-06-17 20:36] hannahkane commented on #1040
Sweet!

[2015-06-17 20:36] #1040 closed

[2015-06-17 20:40] toolness commented on #930
Oh the "Awsm" was in regards to the sanity check, it looks good :)

By the way... since we're not actually validating email addresses on id.webmaker.org, we're going to have to tell Discourse to validate the user's email for us ... this is a bummer but it's the only way to do it :(

[2015-06-17 20:51] cassiemc commented on #933
I also like the ones where mozilla and the city name are a more equal size. Feels like it uses the brand equity in mozilla to our benefit.

[2015-06-17 21:00] hannahkane commented on #933
Cool. Let's go with option 3, and call it good! @ldecoursy @thornet @amirad - where do you think is the best place to store this for Club Captains to access? The github page we were talking about creating?

[2015-06-17 21:06] KevZawacki commented on #737
Me, too. Quick nitpick:

"Maker Party is Mozilla's global campaign to teach the Web. Join us between July 15 and 31."

[2015-06-17 21:13] toolness commented on #930
Ok, I added support for [Discourse SSO](https://meta.discourse.org/t/official-single-sign-on-for-discourse/13045) to teach-api in https://github.com/mozilla/teach-api/pull/18, pushed it to production, and hooked up discourse.webmaker.org to it.

Everything seems to be working.

If you're already logged-in to teach.mozilla.org, just clicking "Login" on Discourse *should* automatically redirect you

[2015-06-17 21:18] ldecoursy commented on #933
Think probably here for now: http://mozilla.github.io/learning-networks/clubs/ but perhaps it also has a place on the new Clubs page

[2015-06-17 22:13] mmmavis commented on #1017
Yayyyyy v0.0.10 is out on https://teach.mozilla.org/ :tada: :tada: :tada:
Thanks team!  @toolness your [RELEASE.md](https://github.com/mozilla/teach.webmaker.org/blob/develop/RELEASE.md) makes this process super easy! Thanks! :clap: :clap: :clap:

[2015-06-17 22:13] #1017 closed

[2015-06-17 22:26] mmmavis commented on #1015
@sabrinang do we plan to fix the button styling on the Add Your Club modal?  Or we are good to keep it as is?

[2015-06-17 22:33] hannahkane commented on #1017
Nice job on the release, @mmmavis!!!

[2015-06-17 22:40] hannahkane commented on #933
@sabrinang - can you please provide final assets, and @thornet, can you add them to the github page for now?
Thanks, all!

[2015-06-17 22:41] mmmavis opened #1045 "Inconsistenct button styling"
@hannahkane @sabrinang @toolness
I'm not sure if this is intended or something we need to fix.  Just wanna create a ticket so we each have a chance to check.

There's flat, full width styled buttons (for example, seen on "Add Your Clubs" modals)
![screen shot 2015-06-17 at 3 39 14 pm](https://cloud.githubusercontent.com/assets/2896608/8220390/1f1e304e-1507-11e5-90bf-52cf6b8815eb.png)
![screen shot

[2015-06-17 22:43] hannahkane commented on #930
Just tested, and flows worked as expected. Note: logging out of teach.m.o does NOT log a user out of Discourse.

[2015-06-17 23:09] toolness commented on #930
Ah, yeah, I didn't say anything about logging out because it's so complicated lol.  :)

Discourse basically treats Webmaker login the same way it treats Google login--so logging in requires one to sign into the "identity provider" (Webmaker or Google), but once logged in, you're largely independent of your sign-in state on your identity provider.

[2015-06-17 23:11] toolness commented on #930
To really make sure this works for brand-new users, one of us should probably create a brand-new account on Webmaker, that doesn't currently exist at all in Discourse, and try logging in and making a test post. I *think* that Discourse should force them to validate their email, but I'm not sure.

[2015-06-17 23:11] hannahkane commented on #930
Understood. Thanks!

[2015-06-17 23:11] toolness commented on #1017
Woot nice work @mmmavis !!! :boom:

[2015-06-18 00:01] sabrinang commented on #933
You can find the .ai wordmark template here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eRl95YVFBTW9BWEE/view?usp=sharing

Included guides and notes (similarly to hive wordmarks)
![screen shot 2015-06-17 at 4 55 00 pm](https://cloud.githubusercontent.com/assets/2492510/8221348/22da7d72-1512-11e5-9827-e23ffddbb9b2.png)

[2015-06-18 00:06] mmmavis commented on #1015
@hannahkane need copy that goes to the "sharing on social media" functionality.  :eyes:

[2015-06-18 00:07] cassiemc commented on #933
This is great Sabrina. Love that you included documentation.

[2015-06-18 00:17] mmmavis commented on #978
@amirad
If we can make the following changes to the **existing** "Mentor Signup Form" on BSD

1. Page redirect for showing the Thank You message. (Do we ever [this page](https://sendto.mozilla.org/page/s/mentor-signup) directly? If yes, changing the Thank You message destination means that people will be redirected to [the Teach site](https://cloud.githubusercontent.com/assets/2492510/7923225/47f9

[2015-06-18 00:23] hannahkane commented on #1015
@mmmavis - "I just pledged to #TeachTheWeb! https://teach.mozilla.org"

[2015-06-18 00:24] hannahkane commented on #933
Awesome. Nice work, @sabrinang. Closing this!

[2015-06-18 00:24] #933 closed

[2015-06-18 00:48] chrislarry33 commented on #933
AWSM, work agree with @cassiemc that the documentation is awsm. This will help the clubs work grow thank you @sabrinang

[2015-06-18 01:04] mmmavis commented on #798
Since we are adding [social share buttons](https://github.com/mozilla/teach.webmaker.org/issues/1015) to the site, we should probably work on this soon.

This is the [scraped result](https://developers.facebook.com/tools/debug/og/object?q=https%3A%2F%2Fteach.mozilla.org) by using Facebook's Open Graph Object Debugger

[2015-06-18 01:05] mmmavis commented on #798
(although it's kinda late...) I'm adding this to the current milestone (aka "Mix Tape")

[2015-06-18 12:04] toolness commented on #930
Ok, a few more notes:

* There actually *can't* be a purely 1:1 mapping between Webmaker usernames and Discourse usernames, because the username requirements are different: Discourse basically has the [same rules as Twitter](https://meta.discourse.org/t/what-are-the-rules-for-usernames/13458), while Webmaker, for instance, allows `-` but disallows all other non-alphanumeric characters.
* This does

[2015-06-18 12:56] toolness commented on #1038
Hmm actually don't worry about it, I'm blocked on the Discourse migration stuff at the moment, so I can deal with this now!

[2015-06-18 13:19] toolness commented on #798
D'oh! The picture of the gathering that was shown at https://github.com/mozilla/teach.webmaker.org/issues/798#issuecomment-102010004 isn't the default image anymore, because it's not on our front page... Maurya is cool and all but not sure if all facebook shares of our teach site should be her headshot.

For the pages that have hero unit images, I wonder if it'd be useful to set the `og:image` to

[2015-06-18 13:24] ldecoursy commented on #798
Nice catch! :)

[2015-06-18 15:10] vazquez commented on #737
Guideline is now updated @sabrinang :)

https://github.com/mozilla/webmaker-desktop/issues/79

[2015-06-18 15:22] amirad commented on #978
Change it all @mmmavis, change it all :)

[2015-06-18 16:27] ldecoursy commented on #969
Sorry for delay, WFM!

[2015-06-18 17:13] hannahkane commented on #1016
ping @thornet. we need to know who to make this email from before we can move forward with this ticket. thanks!

[2015-06-18 17:16] hannahkane commented on #1000
url should be /activities/maker-party-2015

[2015-06-18 17:28] amirad commented on #1016
I think @thornet is having trouble getting github notifications right now so I just skype nudged her :)

[2015-06-18 17:36] hannahkane commented on #1016
Thanks, @amirad!

[2015-06-18 17:37] toolness opened #1047 "Set a constant og:image meta tag for all pages"
As mentioned in https://github.com/mozilla/teach.webmaker.org/issues/798#issuecomment-113153133, the image Facebook uses when people share a Teach page is a bit unpredictable, particularly since our hero unit images are in the CSS of the page, which Facebook's scraper doesn't look at.

Ideally we should include the page-specific hero unit image, if any, as the `og:image` metadata, but for now we c

[2015-06-18 18:06] toolness commented on #930
Ok, I've created all the webmaker users in group 4, just need to email them now.

[2015-06-18 18:08] hannahkane commented on #930
Sweet. I can do it, but how do I get their email addresses?

[2015-06-18 18:20] hannahkane commented on #975
This one's done, right?

[2015-06-18 18:21] hannahkane commented on #737
@vazquez - if @sabrinang provides the final assets, is this something you could add to the webmaker homepage? I'm not sure who's able to do the actual implementation.

[2015-06-18 18:24] soapdog commented on #933
Thanks a lot for this! We have immediate usage for this type of resource right now here in Rio. :+1:

[2015-06-18 18:42] hannahkane commented on #858
@sabrinang - hope you don't mind. Wanted to share your latest iteration: https://redpen.io/sw8e4f6ac8a6e32422 and your list of questions: https://teach.etherpad.mozilla.org/teachsite-clubspage

So that @ldecoursy @thornet @amirad can weigh in.

[2015-06-18 18:43] mmmavis commented on #1000
@hannahkane

What should I change on the Events page?

[2015-06-18 18:46] hannahkane commented on #1000
It will be linked from the pretty banner @sabrinang designed in #843

![screen shot 2015-06-18 at 11 46 03 am](https://cloud.githubusercontent.com/assets/8389648/8239265/a213cb0a-15af-11e5-8f0e-4a26a37cb6b7.png)

[2015-06-18 18:58] mmmavis commented on #1000
okie dokie it'll be part of #900 then :smile:

[2015-06-18 18:58] vazquez commented on #737
@hannahkane I can definitely do this. My time for the rest of the week is tight. When do you need this by?

[2015-06-18 19:03] xmatthewx commented on #737
@hannahkane if things go well today @gvn might be able to lend a hand tomorrow. Or, is this a task that can wait til next week?

[2015-06-18 19:03] hannahkane commented on #737
I think @amirad wants it as soon as possible, but shouldn't get in the way of your other priorities. An alternative is to let @mmmavis or @toolness know whatever they'd need to know to do this?

[2015-06-18 19:04] hannahkane commented on #737
I think it can probably wait until next week. I don't want to distract your team! just not sure the Teach team knows what they need to know to do it.

[2015-06-18 19:07] vazquez commented on #737
The https://github.com/mozilla/webmaker-desktop repo is very straight-forward. It runs on React.js.

All modifications should be done to `splash.jsx` and `splash.less` https://github.com/mozilla/webmaker-desktop/tree/develop/src/pages/splash.

There currently aren't any styles of markup for partner promotion, this would be the very first :)

[2015-06-18 19:09] vazquez commented on #737
@hannahkane - @toolness or @mmmavis and I can set up a call to walk-through, that would not be a problem :)

[2015-06-18 19:29] xmatthewx commented on #737
@hannahkane - I filed an issue to build the component that will contain this stuff. It's probably safer to launch this next week, rather than tomorrow. Either way, I'm sure that @toolness or @mmmavis could set this up without much trouble. Ping me as needed and I will find the hands to help.

[2015-06-18 20:14] sabrinang commented on #737
__Logo__
[maker-party_logo-white.png](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eanFDb3JYVUkzakk/view?usp=sharing) (100 x 114px)
[maker-party_logo-white@2x.png] (https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eN3FiaVNJbjJlakU/view?usp=sharing) (200 × 227px)

__Background Pattern__
[maker-party_pattern-tile.png](https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eZ

[2015-06-18 20:24] thornet commented on #1016
Hey all,

Sorry for the connection trouble. I'd prefer to use a general, shared email for this rather than my personal one. Fine if we say it's from me if we think it'll get better results having a name there.

I suggest: teachtheweb@mozillafoundation.org

[2015-06-18 20:29] amirad commented on #1016
+1 to using a shared email.

What I was wondering is if we put your name, will you be able to respond to the emails that come to teachtheweb@mozillafoundation.org? I'm okay responding to less of our on-going emails as they come to teachtheweb@mozillafoundation.org and focusing on other support channels as I think it's important if a name is attached to that email you get to sometimes talk to that

[2015-06-18 20:32] thornet commented on #996
Looks like "Team/Product" is most relevant. Thanks!

[2015-06-18 20:35] mmmavis commented on #1000
@hannahkane
Checking to see if we want to put **subtitle** for each activity (the *italic* line in screencap below)
![screen shot 2015-06-18 at 1 32 32 pm](https://cloud.githubusercontent.com/assets/2896608/8241489/80fc6d46-15be-11e5-851b-6fb6c2c56f31.png)
Also wondering how the "Case Study" section should look like.

@sabrinang could you provide suggestions/assets to use for the 4 activities?

[2015-06-18 20:35] thornet commented on #969
Looks good! Are we going to add the files and example uses of the simple Mozilla Clubs wordmark?

[2015-06-18 21:13] sabrinang commented on #900
maker-party_logo.png & maker-party_illustration_globe.png found here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkJQcEJseDlNOUlMUGNhdWwzMVFkcWp1anh6NEVZX0hMT1hiWTk5TExVWnM&usp=sharing
![maker-party_logo](https://cloud.githubusercontent.com/assets/2492510/8242341/868105b0-15c3-11e5-9342-fc400976834b.png)
![maker-party_illustration_globe](https://cloud.githubusercontent.com/a

[2015-06-18 21:16] hannahkane commented on #969
Good idea, @thornet. How about if we link to a section on the Clubs Fact Sheet with that information, once you've had a chance to add it (see #933)?

[2015-06-18 21:21] hannahkane commented on #1000
@mmmavis - just added subtitles to the pad. Thanks for that. Also, I should have specified, but the content for this page stops before the Case Study section of that etherpad. It's just the introduction, learning objectives, and then the six activities. Thanks!

[2015-06-18 21:23] hannahkane commented on #1016
Unblocking this since we've decided to use teachtheweb@mozillafoundation.org as the from/replyto address, but keep Michelle's name in the signature.

We can figure out how we reply to emails that come into that account separately.

[2015-06-18 21:51] toolness commented on #975
Yup, fixed by #993!

[2015-06-18 21:51] #975 closed

[2015-06-18 21:57] mmmavis commented on #900
![finalized mockup](https://cloud.githubusercontent.com/assets/2492510/8172494/ed49f02c-1375-11e5-844d-4f8f9c3fabbd.png)

@sabrinang could you let me know what color code we want to apply to the "HOSTED BY" etc labels?

[2015-06-18 22:05] toolness commented on #930
No probs, I already sent them!

Now all that's needed is to manually contact everyone whose username is mentioned in the report. I'll send you and @amirad an email with their emails.

[2015-06-18 22:17] sabrinang commented on #900
I used #6B7FB0 which I took from the rectangle behind mozilla on events page
![screen shot 2015-06-18 at 3 16 39 pm](https://cloud.githubusercontent.com/assets/2492510/8243575/1714236a-15cd-11e5-81d1-b9c83590a953.png)

[2015-06-18 22:21] mmmavis commented on #1000
![maker-party-2015-wip](https://cloud.githubusercontent.com/assets/2896608/8243622/825e614e-15cd-11e5-8017-93dc6f2d3797.png)

@sabrinang what do you think about the 3 images I placed in the 3 activities?
also, missing image for the intro section and for the last activity

[2015-06-18 22:30] sabrinang commented on #1000
The IP Tracer and Draw Secure Passwords are taken from /protect-your-data so that is great and the x-ray goggles logo works as well for Data Trail since it utilizes the tool.

For the last activity, we can use the image used in the activity itself: http://mozilla.github.io/webmaker-curriculum/images/hackthenews.png

Cool - I will hunt down a maker party photo for the top intro section that we can

[2015-06-18 23:13] hannahkane commented on #858
Added a bunch of copy and re-org suggestions to the etherpad. I was aiming for simplicity, so you'll see I'm suggesting we cut entire sections.

[2015-06-18 23:14] #1038 closed

[2015-06-18 23:39] mmmavis commented on #900
@hannahkane @sabrinang
:question: just wanna confirm this ticket is for building the **pre-MP** version, *not* both pre and during verions.

[2015-06-18 23:48] hannahkane commented on #900
The pre- and during- states will be the same. We won't make any changes until after MP.

[2015-06-19 00:47] sabrinang commented on #858
WIP redpen: https://redpen.io/yd22d96ae21ed1077f
WIP copy: https://teach.etherpad.mozilla.org/teachsite-clubspage

Please drop your feedback in the etherpad and use redpen as a rough visual reference.

[2015-06-19 08:14] mmmavis opened #1049 "Missing unit tests for the Pledge Modal"
We should add unit tests to the code introduced in [Pledge modals for the pledge workflow on Homepage #1039](https://github.com/mozilla/teach.webmaker.org/pull/1039).

[2015-06-19 08:31] mmmavis opened #1050 "Factor out a <EmailSignupForm> component"
As discussed in https://github.com/mozilla/teach.webmaker.org/pull/1039#discussion_r32724789, we should prevent ourselves from copying the same code for email signup form over and over again.

When https://github.com/mozilla/teach.webmaker.org/pull/1039 and PR for #900 are landed we will have in total 3 almost identical email signup forms on the Teach site. To keep us [DRY](https://en.wikipedia.or

[2015-06-19 08:34] mmmavis commented on #978
okie dokie!

[2015-06-19 16:08] toolness commented on #930
Ok, I sent the email to you folks, and you're welcome to make a separate issue for that if you want to track progress on it, but since everything else is done, I'm closing this issue! woot!

[2015-06-19 16:08] #930 closed

[2015-06-19 16:16] amirad commented on #1000
Some picture options @sabrinang if they help: https://flic.kr/p/pGCs2J or https://flic.kr/p/orWF89
Or any here: https://www.flickr.com/photos/mozilladrumbeat/sets/72157644395497439

[2015-06-19 17:33] thornet commented on #969
@hannahkane works for me!

[2015-06-19 17:49] hannahkane commented on #930
woot indeed. thanks, @toolness!

[2015-06-19 17:55] hannahkane commented on #858
Thanks, @sabrinang. I responded to one of the comments in the pad with suggested copy for a new section about the responsibilities of being a Club Captain. It starts on line 15 on the pad. Would love to see a new iteration with that worked in.

[2015-06-19 18:06] hannahkane commented on #991
Moving this to the next heartbeat

[2015-06-19 18:07] hannahkane commented on #1029
Moving to next heartbeat

[2015-06-19 18:07] hannahkane commented on #737
Closing this since the design is complete. Thanks, all!

[2015-06-19 18:07] #737 closed

[2015-06-19 19:05] mmmavis commented on #1000
pinnng @sabrinang, help help! Could you pick a photo? :wink: trying to ship this page soon and this is the only thing blocking the PR.

[2015-06-19 20:08] hannahkane commented on #406
removing this from the heartbeat because it's a half-heartbeat

[2015-06-19 20:15] hannahkane commented on #806
@toolness - how are you feeling about this ticket? I'd rather not keep rolling it into the next heartbeat, unless you think it's necessary.

[2015-06-19 21:01] #1014 closed

[2015-06-19 21:01] #1015 closed

[2015-06-19 21:10] mmmavis opened #1054 "Pledge modal's background appears transparent on STAGING"
![screen shot 2015-06-19 at 2 09 01 pm](https://cloud.githubusercontent.com/assets/2896608/8263115/d33490b0-168c-11e5-8431-c21fefa118ec.png)

[2015-06-19 21:10] mmmavis commented on #1016
blocked on https://github.com/mozilla/teach.webmaker.org/issues/1016

[2015-06-19 21:12] mmmavis commented on #1054
uh, can't immediately think of a reason why this is occurring...

[2015-06-19 21:17] mmmavis commented on #1054
[code]

**STAGING**
![screen shot 2015-06-19 at 2 14 46 pm](https://cloud.githubusercontent.com/assets/2896608/8263260/c4b31664-168d-11e5-88ab-0f2a2c26bd07.png)
background colour is rendered as "transparent" instead of `#FFF`... :eyes:

**LOCALHOST**
![screen shot 2015-06-19 at 2 15 11 pm](https://cloud.githubusercontent.com/assets/2896608/8263261/c70de614-168d-11e5-88ea-7ab98b751a57.png)

[2015-06-19 21:20] mmmavis commented on #1054
@toolness i dont get whyyy :confounded:

[2015-06-19 21:25] mmmavis commented on #1054
I could try simplifying `background: @white none repeat scroll 0% 0%;` into just `background-color: @white`... if that helps......?

[2015-06-19 21:30] mmmavis commented on #1054
sorry, accidentally closed this ticket

[2015-06-19 21:35] toolness commented on #1054
Oh blug, weird. I wonder if staging is using some slightly newer version of LESS that is making things behave slightly differently or something...

[2015-06-19 21:36] hannahkane commented on #498
this page is being redesigned

[2015-06-19 21:36] #498 closed

[2015-06-19 21:37] hannahkane commented on #499
no longer applicable

[2015-06-19 21:37] #499 closed

[2015-06-19 21:38] mmmavis commented on #1054
read through the log and found `/home/travis/build/mozilla/teach.webmaker.org/lib/util.js: line 5, col 2, Missing semicolon.` Could this be the cause :no_mouth:

[2015-06-19 21:39] hannahkane commented on #532
@ldecoursy - is this still an issue for you?

[2015-06-19 21:41] hannahkane commented on #1000
moving to next heartbeat

[2015-06-19 21:41] toolness commented on #1054
Ah yeah, I'm confused as to why travis would even deploy to S3 after failing on that lint test though... anyways, worth fixing and pushing and seeing if that fixes things.

I tried running the site with `NODE_ENV=production` and it still works fine, so it doesn't appear to be a dev vs. production thing in that sense.

[2015-06-19 21:43] ldecoursy commented on #532
Nope, all good!

[2015-06-19 21:44] #532 closed

[2015-06-19 21:45] mmmavis commented on #1054
uhhh this got closed again... I should probably stop mentioning this issue number in the PRs

[2015-06-19 21:46] toolness commented on #1054
lolol mavis

Oh hey, it actually appears to have a white background now!

I'm not sure exactly what fixed it... it's possible that it could've been some kind of caching problem, too--perhaps s3/cloudfront (or our browsers) was getting the latest HTML/JS but the older version of the CSS?

in any case, it seems to be fixed!

[2015-06-19 21:48] mmmavis commented on #1054
Maybe [this commit](https://github.com/mozilla/teach.webmaker.org/commit/333f6e4e6a28684ce6016705d3036bd8dfbd3d41) helped?!  Anyways, now I can close this ticket for REAL! :tada:

[2015-06-19 21:49] #1054 closed

[2015-06-19 21:58] mmmavis opened #1057 "Two env vars weren't added properly"
The 2 env vars `PLEDGE_MAILINGLIST_URL` and `PLEDGE_MAILINGLIST_PRIVACY_NAME` weren't added properly in [this commit](https://github.com/mozilla/teach.webmaker.org/commit/4c7b4ba1dd6d6e7204ba67c82006cbe4b57bbac6).

Here's the checklist to follow
- [x] Update the `README.md` to document the new environment variable.
- [x] Mention the environment variable as an added feature in `CHANGELOG.md`.
- [x]

[2015-06-19 22:11] mmmavis opened #1058 "Document how to update ENV VARS"
@toolness your https://github.com/mozilla/teach.webmaker.org/issues/892#issuecomment-101746372 was very useful and I think we should find a place for it to live... maybe somewhere in README.md?

- Update the `README.md` to document the new environment variable.
- Mention the environment variable as an added feature in `CHANGELOG.md`.
- Add the environment variable to the list of vars exported to t

[2015-06-19 22:50] #1057 closed

[2015-06-19 22:52] toolness commented on #1058
Ahh gotcha, makes sense! Thanks for fixing your stuff in #1059... I wish there was a way we could programmatically verify this, but I can't think of any easy ways to do it.

[2015-06-19 22:55] #969 closed

[2015-06-21 02:46] mmmavis commented on #900
@hannahkane the Teach Like Mozilla CTA(near footer) is missing subhead, I can leave it blank for now.

@sabrinang are the host names(e.g., David in the screencap below) hyperlinks or it's just the text colour is blue?
![screen shot 2015-06-20 at 7 44 26 pm](https://cloud.githubusercontent.com/assets/2896608/8270137/c8da88f6-1784-11e5-84b4-159963b89b5d.png)

[2015-06-22 17:17] hannahkane commented on #900
Teach Like Mozilla CTA can be: "Learn about our approach to teaching"

If the host names are hyperlinks, I would not link "David" at all, would link Digital Harbor to http://www.digitalharbor.org/, and Mozilla Indonesia to https://www.mozilla.org/en-US/contact/communities/indonesia/

[2015-06-23 21:57] toolness opened #1061 "link to clubs fact sheet from clubs page"
probably already part of the redesign but the fact sheet is only linked to from the add your club modal which requires sign in.

[2015-06-24 12:51] kleberveridiano commented on #1061
VERY NICE!

[2015-06-24 12:52] kleberveridiano commented on #1061
VERY NICE PRÁ XUXU

KLEBER

[2015-06-24 12:52] kleberveridiano commented on #1061
iT´S VERY NICE!

[2015-06-29 21:35] mmmavis commented on #900
@sabrinang ^^ are the host names hyperlinks?

[2015-06-29 22:11] sabrinang commented on #737
updated 30% opacity white patterns:
original: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eNHB3RHRreDhYUjQ/view?usp=sharing
retina: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ea0RnZmRYcUpFajQ/view?usp=sharing

[2015-06-29 22:50] sabrinang commented on #900
Yeah, I intended to mirror the "Developed by" labels on https://teach.mozilla.org/activities/ so people can click the hyperlink to see who made it so I thought it would be great to link back organization or host so they can be found. For individuals, just like on our activities page, we link to their twitter but I have no idea who "David" is on that mockup so I have no idea how to link to him.

[2015-06-29 22:53] mmmavis commented on #1016
@hannahkane

I just tested this on staging site and everything worked out fine.  Now we have to push a new release to PROD before I can change the **existing** BSD form and redirect URL for Thank You message.

I will do ^ tomorrow morning instead - when @hannahkane is back from PTO (and @toolness is online in case things go wrong)  :bowtie:

/cc @toolness

[2015-06-29 23:19] mmmavis opened #1062 "Document Node and npm prerequisites"
I was working on a [Wemaker Desktop](https://github.com/mozilla/webmaker-desktop) ticket today so I had my Node and npm updated according to the [prereq](https://github.com/mozilla/webmaker-desktop#prerequisites).  Now when I switched back to this Teach site repo I encountered the following errors when running `npm start`

[code]

It would be helpful if we could document what the prereqs are in th

[2015-06-29 23:30] mmmavis commented on #1062
for reference, this is what solves the above error

[code]

[2015-06-30 00:54] mmmavis commented on #1000
@sabrinang any update on the photo choice?

[2015-06-30 01:21] sabrinang commented on #1000
I tried editing this photo that @amirad suggested
![makerparty-photo](https://cloud.githubusercontent.com/assets/2492510/8422044/4ae3233c-1e8b-11e5-93bb-17b2d018ff30.png)
but the quality isn't great...

So lets use this one instead (seen on our social shares):
![makerparty_photo](https://cloud.githubusercontent.com/assets/2492510/8422034/34588404-1e8b-11e5-9184-02926c16fdaf.png)
original: https://

[2015-06-30 13:48] ldecoursy opened #1063 "Few staffing updates on HiveLearningNetworks.org"
Hoping @mmmavis can help with a few small changes on the Locations page of the Hive Global site.

* Hive Toronto - contact should just be Simona (can copy the info under Hive Bay Area)
* Hive Chattanooga - remove Geoff :(
* Hive Kansas City - replace Kari with Lindsey (copy info under Chattanooga)

Thanks!
Lainie

[2015-06-30 15:37] soapdog commented on #933
Club Captains are having trouble getting FF Meta Pro font. Can we have a vector of "Mozilla Club" to share with them?

[2015-06-30 16:13] toolness commented on #1062
Oh, hm... based on googling it *seems* like this is actually due to changing the version of node... compiled binaries are specific to the version of node you're using, so even if we document the version of node/npm that we require (which is a good idea), I think it will still be possible to run into this error, if the user switches to any different version of node and tries to re-run the site? Not

[2015-06-30 16:15] sabrinang commented on #933
![screen shot 2015-06-30 at 9 07 51 am](https://cloud.githubusercontent.com/assets/2492510/8435720/bf1c4964-1f07-11e5-8d60-6f48bef027e1.png)
The first layer in the template has "Mozilla Club" outlined so it doesn't require the font - however "City Name" would need it so you just delete it.

Also, I exported just a Mozilla Club .eps here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ed

[2015-06-30 17:22] hannahkane commented on #1016
Looks great on staging. :)

[2015-06-30 17:28] hannahkane commented on #900
@ldecoursy @amirad - does the David who did the Net Neutrality MP in his home have a twitter account we could link to?

[2015-06-30 22:33] amirad commented on #900
Yup, it's @DGuarch @hannahkane

[2015-06-30 22:59] mmmavis commented on #1016
DONEEEEEEEEEEEEE! :tada: :dancers: https://teach.mozilla.org/

[2015-06-30 22:59] #1016 closed

[2015-06-30 23:00] mmmavis commented on #978
yayyyy up on https://teach.mozilla.org/ :tada: :dancers:

[2015-06-30 23:00] #978 closed

[2015-06-30 23:01] toolness commented on #1016
HOORAY!

I just pledged to teach!

I guess that means I have to keep my promise...

[2015-06-30 23:02] #1000 closed

[2015-06-30 23:10] toolness opened #1065 "Stray asterisk in "Thanks for pledging to Teach the Web" email"
I signed up to pledge on teach.mozilla.org and the email sent to me includes the following paragraph:

I thought the `*` after "privacy" was indicating some kind of footnote, but there was no footnote at the bottom of the email... is it a typo or something?

[2015-06-30 23:12] hannahkane commented on #1065
I believe there was meant to be a link to our privacy policy at the bottom (https://www.mozilla.org/en-US/privacy/websites/)

[2015-06-30 23:18] mmmavis commented on #1065
nice catch!  apparently I forgot to copy the very last sentence
[code]

[2015-06-30 23:24] mmmavis commented on #1065
![screen shot 2015-06-30 at 4 23 40 pm](https://cloud.githubusercontent.com/assets/2896608/8444336/6ad41afc-1f44-11e5-998b-1de33aa28214.png)

---
Ok, this is now fixed :+1: thanks @toolness for spotting it

[2015-06-30 23:24] #1065 closed

[2015-06-30 23:33] toolness commented on #1065
Awesome, thanks mavis!

[2015-07-01 07:02] amirad commented on #1016
Haha @toolness!

It looks great! Awesome job gang.

[2015-07-02 16:28] jgmac1106 commented on #933
Can we also have a Thimble make that could use CSS to get close as possible
to the mock up? I worry that the technical skills and software may not be
available to every club captain.

It would be nice if they could just change the text of City Name and take a
screenshot.

Is there another way we can make this easier for captains with little to no
design experience?

On Tue, Jun 30, 2015 at 12:16 P

[2015-07-02 19:13] sabrinang commented on #1029
Adapted existing icon visuals to make tools and community icons
![screen shot 2015-07-02 at 11 54 49 am](https://cloud.githubusercontent.com/assets/2492510/8485273/5ced5124-20b1-11e5-9c54-901a928efc7d.png)

Exported as white .svgs following [suggested settings] (https://camo.githubusercontent.com/69c348570a2ef5be91c9b265336940328de10479/687474703a2f2f64656d6f737468656e65732e696e666f2f6173736574732

[2015-07-02 19:16] mmmavis commented on #1029
Thanks! @sabrinang if this is done could you close the ticket :+1:

[2015-07-02 19:23] sabrinang commented on #1029
Yup! (if it needs to be exported in other ways just comment)

[2015-07-02 19:23] #1029 closed

[2015-07-02 21:16] mmmavis commented on #991
@hannahkane http://discourse.webmaker.org/ is the link to Discourse, correct? Just wanted to double check.

[2015-07-02 21:17] hannahkane commented on #991
Yup. Thanks for checking.

[2015-07-02 21:19] hannahkane commented on #933
Nice idea. @sabrinang - want to open a separate ticket for a web-based version?

[2015-07-02 21:21] sabrinang commented on #933
Yes

[2015-07-02 21:36] sabrinang opened #1066 "Web-based Version of Mozilla Clubs Wordmark"
Request to have a Thimble make that could use CSS to make a Mozilla Club Wordmark so Club Captains can just change the text of City Name and take screenshots to use - reference https://github.com/mozilla/teach.webmaker.org/issues/933#issuecomment-118085195

[2015-07-02 21:37] sabrinang commented on #1066
Work in progress using [Fira Sans] (https://www.google.com/fonts/specimen/Fira+Sans) and [Codepen] (http://codepen.io/sabotage/pen/XbZYLz) first and will get to a thimble make
![screen shot 2015-07-02 at 2 26 21 pm](https://cloud.githubusercontent.com/assets/2492510/8488309/aa7e1daa-20c6-11e5-89a6-967cfb1995b3.png)

[2015-07-02 21:44] mmmavis commented on #991
![screen shot 2015-07-02 at 2 43 50 pm](https://cloud.githubusercontent.com/assets/2896608/8488623/cbd3cc50-20c8-11e5-990b-9274d0c346d4.png)

@hannahkane should we include subheads? (see "fix me" in screencap)

[2015-07-02 21:51] hannahkane commented on #991
Let's go with this:

Tools: Open source software to teach and learn the Web
Community: Connect with others on topics you care about

(Can make edits later if others would like to)

[2015-07-02 23:14] #991 closed

[2015-07-02 23:18] #900 closed

[2015-07-02 23:35] sabrinang commented on #1066
https://sabby.makes.org/thimble/LTE3ODg0MTEzOTI=/mozilla-clubs-wordmark
![screen shot 2015-07-02 at 3 44 00 pm](https://cloud.githubusercontent.com/assets/2492510/8490088/3fda1140-20d8-11e5-8d5a-e98c3caf248e.png)

[2015-07-03 00:04] mmmavis opened #1070 "Link "David" on the Events page to his Twitter page"
(re: https://github.com/mozilla/teach.webmaker.org/issues/900#issuecomment-117362999)

On https://teach.mozilla.org/events/... the name "David" next to the "HOSTED BY" tag should be linked to https://twitter.com/DGuarch

<img width="925" alt="screen shot 2015-07-02 at 5 01 11 pm" src="https://cloud.githubusercontent.com/assets/2896608/8490347/fb47d162-20db-11e5-9069-562d3ce02ab0.png">

/cc @amirad

[2015-07-03 01:00] jgmac1106 commented on #1066
You are awesome. Thanks folks.

On Thu, Jul 2, 2015 at 7:35 PM sabrinang <notifications@github.com> wrote:

[2015-07-03 19:33] sabrinang commented on #1066
cc @mmmavis

[2015-07-03 22:35] #1047 closed

[2015-07-03 22:47] #1070 closed

[2015-07-03 23:21] sabrinang commented on #1066
Updated make with some guidelines: https://sabby.makes.org/thimble/NzYxNzkwOTc2/mozilla-clubs-wordmark
![screen shot 2015-07-03 at 4 20 04 pm](https://cloud.githubusercontent.com/assets/2492510/8505579/6c1e03b6-219f-11e5-99d6-bdf8ba0c4cc5.png)

@mmmavis R?

[2015-07-04 01:20] mmmavis commented on #1066
Awesome @sabrinang !  Nice to see that you are having fun with HTML and CSS :+1:

Few suggestions:

- Although this may seem obvious, I think it would be great if we specially tell people to "remix" this Make to generate their own wordmark.  This [Make](https://sabby.makes.org/thimble/NzYxNzkwOTc2/mozilla-clubs-wordmark) shows rendered result without source code on the side.  "Select the word" cou

[2015-07-06 15:13] hannahkane commented on #1061
part of the Clubs re-design, so closing this

[2015-07-06 15:13] #1061 closed

[2015-07-06 15:24] xmatthewx opened #1073 "Update or remove Webmaker logo"
Login on this site includes an old Webmaker logo. We should update ... or consider removing the logo. With shift in platforms, it doesn't really belong here anymore.

cc @cassiemc @hannahkane

<img width="915" alt="screenshot 2015-07-06 11 21 14" src="https://cloud.githubusercontent.com/assets/53411/8525913/749acaae-23d1-11e5-940a-6c3fea3d5d86.png">

[2015-07-06 15:27] hannahkane commented on #1073
I think we still need the logo, since the original rationale still stands—when people join the MLN site, they are required to create a Webmaker account.

Will update logo.

[2015-07-06 15:57] xmatthewx commented on #1073
@hannahkane - makes sense. I don't think we have a flat, one-color version of the logo yet. @lovegushwa @vazquez.

[2015-07-06 17:12] hannahkane opened #1074 "Change CC license to v3.0"
We currently reference v2.0 of the Creative Commons license. We should reference v3.0 by saying "CC BY-SA 3.0", and link to https://creativecommons.org/licenses/by-sa/3.0/

Current places where we reference the Creative Commons license:
 * /activities
 * /activities/web-lit-basics/
 * /activities/protect-your-data/

[2015-07-06 17:17] cassiemc commented on #1073
Would be great if you could tackle a one-color logo this week, @lovegushwa!

[2015-07-06 18:44] hannahkane opened #1075 "Translate eco-system doc into series of visualizations"
Doc is here: https://docs.google.com/document/d/1drJH5M1tO4GECvVd4DkjHmuWxJqaF6fGBJvE2zSkm-c/edit#heading=h.aa92jfpka2un

[2015-07-06 18:59] hannahkane opened #1076 "Set up and run co-design session with an RC"
This is in reference to "Meeting #2" on this pad: https://etherpad.mozilla.org/mozillalearningnetworksite

Outcomes of co-design session:
 * Understanding of how RC needs are met via MLN site
 * Visualizations (could be user flows, wireframes, or mock-ups) to use during MLN Site work week covering recruitment, onboarding, and sustaining engagement of RCs

[2015-07-07 12:25] thornet commented on #1066
<3! Adding it to our resources page for clubs (which will port over eventually to the website).

http://mozilla.github.io/learning-networks/clubs/

[2015-07-07 13:11] ldecoursy commented on #1066
Awesome! One small copy edit: In the second bullet, instead of "if your Mozilla Learning network has limited resources." it should say "if your Mozilla Club has limited resources."

Thanks!

[2015-07-07 14:19] amirad commented on #900
WOOP! Thanks all, the page looks great.

[2015-07-07 20:25] ldecoursy opened #1077 "Design slide template for Mozilla Learning Networks"
Need simple slide design template for Mozilla Learning Networks - ideally something that matches teach.mozilla.org and can be used with Google Slides.

Would love in time for next Program Review on 7/21 if possible! (which means by next Thurs July 16 ideally)

[2015-07-07 20:33] hannahkane commented on #1077
@sabrinang - is this something you think could fit into the current heartbeat? What additional information would you need?

[2015-07-07 20:46] sabrinang commented on #1077
Sure. I'll make it in Google slides and I'll use slide size: widescreen 16:9.

[2015-07-07 20:55] hannahkane commented on #1077
Sweet. Thanks!

[2015-07-07 21:33] sabrinang commented on #1077
https://docs.google.com/a/mozilla.com/presentation/d/1cDzhTWTsiogmhaRk7uzW_1oKYHJgkF-MD7WpMGGPJoU/edit?usp=sharing

You can use this as a template if you go:
File > Make a copy...

You can find the various slide options in:
Slide > Apply layout

Let me know if there is anything else to add!

[2015-07-07 21:37] ldecoursy commented on #1077
Thanks!

[2015-07-08 18:15] cassiemc commented on #1005
For context, we are talking about teach.mozilla.org, and will need to change the color in the section https://teach.mozilla.org/teach-like-mozilla/.

@sabrinang do you have any guidance on colors here (if say, a contributor were to take this on)?

[2015-07-08 18:23] cassiemc commented on #996
We've used font-awesome icons in the past, so this bug is really about finding the right symbol to represent these two categories and then putting it into the 'team/product' template referenced in the first comment. Here's the font-awesome cheatsheet: http://fortawesome.github.io/Font-Awesome/cheatsheet/ and here is the badge template system: https://drive.google.com/file/d/0BzfN9sXlOXt1UzNxaWpZc3

[2015-07-08 18:27] cassiemc commented on #996
Worth saying that the final deliverables should at minimum be an .eps file. Do you know the size of the final svg or png assets you'll need, @hannahkane?

[2015-07-08 18:59] cassiemc commented on #406
This could be a good contributor-bug but may need a bit more direction for someone to start. cc @hannahkane

[2015-07-08 19:22] hannahkane commented on #406
Thanks, @cassiemc. Agreed this could be a good contributor bug, especially for someone who wants to be a little creative! The look of the 404 page should match the teach.mozilla.org site generally, but otherwise we're open to ideas! Here's some inspiration: http://www.creativebloq.com/web-design/best-404-pages-812505

[2015-07-08 19:58] #1074 closed

[2015-07-08 21:00] ldecoursy opened #1079 "Copy change on Maker Party activities page"
Just noticed the third section header here: https://teach.mozilla.org/activities/maker-party-2015/

Should say "Participating on the Web" instead of "Hacking My Media"

Thanks!

[2015-07-08 21:11] #1079 closed

[2015-07-08 22:47] hannahkane commented on #996
More info about Clubs in general here:http://mozilla.github.io/learning-networks/clubs/. The "Who is involved" section explains the roles of Club Captain and Regional Coordinator.

Hmm...I'm not sure about the sizes we'll need, so maybe the deliverable should be an original editable file?

[2015-07-08 23:08] toolness opened #1083 "Visual conventions across Teaching Activities and Maker Party case studies is inconsistent"
When I saw the cool new Maker Party case studies, I tried clicking on the title/image to see where it took me, and was confused for a bit because they weren't hyperlinked:

![2015-07-08_19-01-29](https://cloud.githubusercontent.com/assets/124687/8584400/1f201104-25a4-11e5-9d4b-6ac7732c3646.jpg)

Upon further reflection I realized that I had *assumed* they were hyperlinked because we use very simil

[2015-07-08 23:16] toolness opened #1084 "Use of all-caps to emphasize text is weird"
On the Events page, the mini case study for the "Make and Remake Hackathon" says:

The use of all-caps for MAKE and REMAKE reads really weird to me, perhaps because we don't use such a typographic convention anywhere else on the site. I think it'd look more consistent (and probably be more accessible) if these words were italicized via `<em>` instead, but it's up to you... Feel free to just close

[2015-07-08 23:17] mmmavis commented on #1063
yup will work on this today

[2015-07-09 00:56] mmmavis commented on #1063
yay done! :smile:

[2015-07-09 00:56] #1063 closed

[2015-07-09 10:10] thornet commented on #996
For both of these roles, I see strong attributes being how they are facilitative leaders, empowering others, and networked. Might be something that communicates "service to others".

I think we'll want to steer clear of things that over-elevate the person, like superhero or things like that.

Rather, how could we show how they serve communities, are caring mentors, and are grounded in real relatio

[2015-07-09 18:08] thornet opened #1085 "Modify copy on "Add a club" button and form"
We've reached capacity for accepting new clubs. While #859 is underway, there's a few quick edits that would help a lot, especially before all the Maker Party site visitors come to the site:

https://teach.mozilla.org/clubs/

I.
* Current: Button "ADD YOUR CLUB"
* Proposed: Button "APPLY"

II.
* Current: Form Header "Add Your Club To The Map"
* Proposed: Form Header "Apply for the next round of Mo

[2015-07-09 18:11] thornet opened #1086 "Write copy for Clubs landing page changes"
Per https://etherpad.mozilla.org/clubssitemeeting and related to #859:

teach.mozilla.org/clubs next version should include:

- [x] What is a Mozilla Club. Updated from http://mozilla.github.io/learning-networks/clubs/.
- [x] Map of Active & Approved Clubs.
- [x] Waitlist section / application flow update. "Add" > "apply to the wait list" see also #1085
- [x] Replace toolkit with fact sheet

Respo

[2015-07-09 18:17] cassiemc commented on #996
This is great info @hannahkane and @thornet, thanks!

[2015-07-09 18:25] mmmavis commented on #1085
I'll try to get this shipped today :smiley:

[2015-07-09 19:33] mmmavis commented on #1085
![screen shot 2015-07-09 at 12 27 13 pm](https://cloud.githubusercontent.com/assets/2896608/8604854/fe1de3ea-2635-11e5-9854-8cb4ff4138a9.png)

Hey @sabrinang I've applied all copy changes(see screencap). I'm wondering if there's any styling treatment you would like to add, especially something to make "We're full! Let us know if you'd like to be consider for the next round." more standout?

If you

[2015-07-09 19:40] mmmavis commented on #1045
@sabrinang I'm assigning this to you since you are the decision maker.

[2015-07-09 19:57] mmmavis commented on #1083
I agree with you @toolness. I have a tendency to interpret text in body colour(black, grey) as non-hyperlinks as well - I never tried to hover over them. :eyes:  Maybe adding icon or changing the font colour would help?

I was thinking if we could add some flavours to the hyperlinked image... maybe some sort of tiny animation?  This is not touch devices friendly but I guess users can always check

[2015-07-09 20:30] hannahkane commented on #1085
Just noticed a typo. Should read, "Let us know if you'd like to be considered for the next round." ("considered" rather than "consider")

[2015-07-09 20:36] mmmavis commented on #1085
nice catch @hannahkane

[2015-07-09 20:40] mmmavis commented on #1084
+1 on using `<em>`

[2015-07-09 20:49] mmmavis commented on #959
<img width="1216" alt="screen shot 2015-07-09 at 1 48 51 pm" src="https://cloud.githubusercontent.com/assets/2896608/8606561/45518608-2641-11e5-914f-b6e38bc2e2ed.png">

ummm https://teach.mozilla.org/vendor/font-awesome/fonts/fontawesome-webfont.woff2?v=4.3.0 is 404 as well

[2015-07-09 21:28] mmmavis commented on #959
Note these 404 errors were found on Chrome v43 on OS X 10.9.5 but not FF v38.  http://caniuse.com/#feat=woff2 explains why.

`.woff` were loaded on Chrome as [fallback](https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css#L267) that's why the site still looks fine. I googled a bit for solution... it seems like users will have to [add MIME type `woff2` to IIS](https://www.queryxchan

[2015-07-09 21:52] mmmavis commented on #868
@jgmac1106 I think https://github.com/mozilla/teach.webmaker.org/pull/1001 might have fixed this bug. Mind testing it again?

[2015-07-09 21:58] mmmavis commented on #955
I think this has been fixed via https://github.com/mozilla/teach.webmaker.org/commit/0e04db2f4665e3e62ff4eae01375e94545ca5762#diff-d06502677d45fab6ff321d04b9d0f54fR66 -- we render nothing unless the feature post data has been loaded.

Gonna close this ticket. :smile:

[2015-07-09 21:58] #955 closed

[2015-07-09 23:20] sabrinang commented on #1085
The type treatment is fine. I'm curious about the experience after you hit apply button. Is there copy explaining how long the consideration for the next round will be afterwards? (i.e. - we will inform you within the next weeks or months?)

[2015-07-10 10:52] toolness commented on #959
Oh, IIS is just the Windows-based web server, it's only needed if we were hosting our site using IIS (but we use S3). The instructions at the link you mentioned is a thing that webmasters who use IIS to host their site need to do--not that users who browse need to do.

It actually looks like our `gulp s3` command isn't uploading the woff2 file to S3 for some reason, so I'll look into that and hope

[2015-07-10 11:08] toolness commented on #959
Ack, it looks like this is due to a bug that https://github.com/nkostelnik/gulp-s3/pull/34 fixes. The unfortunate thing is that the last commit to gulp-s3 was over a year ago, and that PR was filed in October 2014... So in order to fix this we may need to poke @nkostelnik (the maintainer of gulp-s3), or just fork the repo and use our patched version.

[2015-07-10 14:18] toolness commented on #413
I recently watched Andrey Sitnik's CSSConf 2015 talk on [PostCSS: the Future after Sass and LESS](https://www.youtube.com/watch?v=1yUFTrAxTzg) and it brought up two possible solutions:

1. Replace our `less-autoprefixer` with [postcss/autoprefixer](https://github.com/postcss/autoprefixer).
2. Replace our entire LESS toolchain with PostCSS.

Apparently option 1 is used by Google, and option 2 is us

[2015-07-10 17:51] mmmavis commented on #959
Ah yea, that was my first guess too. I tried googling instructions for adding MIME type on S3 but had no luck.  That's why in the end I thought IIS was something live on end users' end.  :grin:

[2015-07-10 17:57] mmmavis commented on #959
I prefer maintaining fewer repos on our own.  How about we wait for a few days first since we can still rely on the fallback `.woff` for now.  :stuck_out_tongue_winking_eye:

[2015-07-10 18:01] mmmavis commented on #1085
@thornet ^ :smile:

[2015-07-10 18:04] mmmavis commented on #1083
@sabrinang this is not urgent, just pinging you in case this gets buried in your inbox :wink:
Would love your thoughts on ^^

[2015-07-10 18:09] mmmavis commented on #1073
It would be great if we can have this ready before Maker Party starts (July 15).  @lovegushwa would it be possible for you to have the pass the one-color logo to me early next week?

Also, I realized the Webmaker logo on the [Tools page](https://teach.mozilla.org/tools/) needs to be updated as well.  (please attach file here :smile:)

[2015-07-10 19:55] xmatthewx commented on #1073
@mmmavis - you can probably find what you need here: https://drive.google.com/drive/folders/0B2qu3ExKWIlvMjY0U3I3YUNva0k

[2015-07-10 20:15] mmmavis opened #1088 "CSS Animation Inspiration / Resources"
Below is a list of resources I found. Not all of them are open source(I think). But we can still use them as source of inspiration

- 12 Fun Sharing Button Effects http://demo.tutorialzine.com/2014/11/12-fun-sharing-button-effects/
- Hover.css http://ianlunn.github.io/Hover/
- Creative Link Effects  http://tympanus.net/codrops/2013/08/06/creative-link-effects/
- Simple Icon Hover Effects  http://t

[2015-07-10 20:52] mmmavis commented on #1073
awesome thanks @xmatthewx ! we still need a one-color version though :+1: :smiley:

[2015-07-13 10:43] #884 closed

[2015-07-13 15:24] amirad opened #1090 "Update Maker Party activities with Webmaker teaching kits"
Here are the updated activities to be added to the activities page: https://teach.mozilla.org/activities/maker-party-2015/ They are still being updated but the links should stay the same (right @secretrobotron?)

http://secretrobotron.github.io/webmaker-curriculum/MobileWeb/create-webmaker-project.html

Offline activity: http://secretrobotron.github.io/webmaker-curriculum/MobileWeb/design-webmaker

[2015-07-13 15:42] secretrobotron commented on #1090
No, they'll change once they're merged (after you've approved them :smile:). Finals should be at
* http://mozilla.github.io/webmaker-curriculum/MobileWeb/create-webmaker-project.html and
* http://mozilla.github.io/webmaker-curriculum/MobileWeb/design-webmaker-project.html

[2015-07-13 15:58] hannahkane commented on #1090
Sweet. Will follow this ticket and will file a ticket to update the MP activities page when these are good to go.

[2015-07-13 15:59] secretrobotron commented on #1090
cc @HPaulJohnson @alamanda @deryanEM

[2015-07-13 15:59] secretrobotron commented on #1090
cc @panaggio

[2015-07-13 16:06] amirad commented on #1090
@hannahkane since we will be sending them out on Wednesday can we update the page with those final links Bobby shared so we can be super ready?
@secretrobotron just provided some feedback, let's push live what we have tomorrow by the latest so at least something is up there.

[2015-07-13 16:48] hannahkane commented on #1085
How about a success message that reads, "Thanks for your interest! We'll be in touch when we start the next round."

^ @thornet

[2015-07-13 16:56] thornet commented on #1085
Looks great! Thanks, all.

PS. Is there also still an automated email that comes after sign-up? Will file a bug to update that, too, but checking first.

[2015-07-13 17:01] hannahkane commented on #1085
I don't believe there's an auto-email (as detailed on https://github.com/mozilla/teach.webmaker.org/wiki/Club-Approval-Flow), but maybe @mmmavis can confirm?

[2015-07-13 17:17] mmmavis commented on #1085
heh I would need to defer this to @toolness  :wink:

[2015-07-13 19:22] mmmavis commented on #1084
- existing, "MAKE" and "REMAKE" in all caps

<img width="1009" alt="screen shot 2015-07-13 at 12 15 48 pm" src="https://cloud.githubusercontent.com/assets/2896608/8658554/65da6e06-2959-11e5-9df2-451c4d0f4e69.png">

- updated, italicized "make" and "remake"
<img width="1031" alt="screen shot 2015-07-13 at 12 19 09 pm" src="https://cloud.githubusercontent.com/assets/2896608/8658556/67138d20-2959-11e

[2015-07-13 20:14] hannahkane commented on #1084
+1. Easier to read this way, for sure.

[2015-07-13 20:38] hannahkane opened #1091 "ASAP: Change link to TOS"
On July 27th, and not before, we should change the "LEGAL" link in the sidebar footer to https://beta.webmaker.org/#/legal

[2015-07-13 20:38] hannahkane commented on #1091
@toolness @mmmavis - is there a way we can schedule this in advance to happen on July 27th?

[2015-07-13 21:05] mmmavis commented on #1091
I don't know any way other than manually hitting the button on July 27.  Hopefully @toolness can give us some insights :grin:

[2015-07-13 21:08] hannahkane commented on #1090
sorry, didn't realize what repo I was in. :) yes, we can do this, but we'll need copy that follows this format, for both of the activities:

@mmmavis or @toolness - can either of you make this a priority?

[2015-07-13 21:23] hannahkane commented on #1090
Here's my suggestion for copy for the /activities/maker-party-2015/ page. Look okay, @amirad @secretrobotron ?

Create a Webmaker Project
Understanding remixing, designing, and composing
Create original Web content using the Webmaker app for Android. Create a scavenger hunt, a scrapbook, a birthday card, or anything else you can imagine!

No Wifi at Your Event? Design a Story for the Web
Understan

[2015-07-13 21:25] secretrobotron commented on #1090
* Let's make "the Webmaker app for Android" just "Webmaker for Android.
* IMO "brainstorm" is much clearer than "Ideate".

Otherwise, :+1:. :shipit:

[2015-07-13 21:29] amirad commented on #1090
I don't think the second activity is specific to Webmaker App so made the text neutral to not scare away those that don't have an Android system. Otherwise great!

No Wifi at Your Event? Design a Story for the Web
Understanding remixing, designing, and composing
Brainstorm, sketch and structure a story to create on your mobile smartphone. By brainstorming offline, learners will start thinking abou

[2015-07-13 21:32] secretrobotron commented on #1090
I think it makes sense to keep Webmaker in there though. There are cues in the activity that point to it, and it's the platform on which we're encouraging people to make stories. The format of the activity really suggests Webmaker anyway.

[2015-07-13 21:35] hannahkane commented on #1090
OK, soo final changes to add to "Writing the Web" section of /activities/maker-party-2015/:

Create a Webmaker Project
Understanding remixing, designing, and composing
Create original Web content using the Webmaker for Android. Create a scavenger hunt, a scrapbook, a birthday card, or anything else you can imagine!
Link: http://mozilla.github.io/webmaker-curriculum/MobileWeb/create-webmaker-projec

[2015-07-14 14:44] ldecoursy opened #1094 "Few updates to Hive locations for hivelearningnetworks.org"
Hi @mmmavis, we have a few updates to the list of Hive cities for the landing and /locations page on hivelearningnetworks.org.

If possible, would love to have this updated by Monday in time for our Program Review next Tuesday am - let me know if that's doable.

We'll be adding four cities to the list under Hive Learning Communities:
* Manchester
* Waterloo
* Portland
* Vizag

@simonaramkisson wil

[2015-07-14 17:08] hannahkane commented on #1090
@sabrinang - can you help by finding images for this?

[2015-07-14 17:12] hannahkane commented on #1073
@lovegushwa - any chance we could get the one-color version today? We're planning a release, and it would be good to include this.

[2015-07-14 17:14] hannahkane commented on #1085
I was wrong! @toolness clarified that we do send an email to the user. Text can be found here: https://github.com/mozilla/teach-api/blob/master/clubs/email.py

[2015-07-14 17:26] #1077 closed

[2015-07-14 18:44] lovegushwa commented on #1073
@hannahkane @cassiemc @mmmavis @xmatthewx  R?
Sorry I missed this everyone. I think this should work.

![webmaker-white](https://cloud.githubusercontent.com/assets/12228435/8681642/9775ede0-2a1d-11e5-9ec1-1a5aecd6c6c4.jpg)

[2015-07-14 18:50] cassiemc commented on #1073
Niiiice! Love it! R+ from me. Can you add the final svg to Drive @lovegushwa and link it here?

[2015-07-14 18:58] hannahkane commented on #1073
Pretty!

[2015-07-14 19:19] lovegushwa commented on #1073
@cassiemc @mmmavis
For now it's a png (I'm not sure if I can create a transparent svg but I will look into it.)
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvVV90bk5uVXJzQmc/view?usp=sharing

[2015-07-14 19:21] cassiemc commented on #1073
Sweet, thanks @lovegushwa

[2015-07-14 19:57] mmmavis commented on #1073
@lovegushwa lovely :smile: !!! One thing I wanna mention is that the sidebar colour changes based on which page you are currently viewing, so it's *not* always blue.  Not sure if the blue for one-colour logo was chosen because of that though... just thought I should flag this :grin:

[2015-07-14 20:06] #1049 closed

[2015-07-14 20:09] #1084 closed

[2015-07-14 20:12] mmmavis commented on #1090
Hey @sabrinang let me know if you need help finding photos. We need to push MP related stuff out today so we should unblock this soon.

[2015-07-14 20:14] lovegushwa commented on #1073
@mmmavis let me see if I can create a version that works with just transparency (rather than color.)

[2015-07-14 20:22] mmmavis commented on #1085
<img width="528" alt="screen shot 2015-07-14 at 1 18 07 pm" src="https://cloud.githubusercontent.com/assets/2896608/8683991/cf840f98-2a2a-11e5-8897-70b02238e94a.png">

@hannahkane above is what the current confirmation modal looks like. Should I just
- replace `Thanks for your submission!` with `Thanks for your interest!`
- and replace `We‘ll review it and be in touch shortly` with `We'll be in to

[2015-07-14 20:23] mmmavis commented on #1085
Oh and do we want to capitalize "club"?

[2015-07-14 20:28] hannahkane commented on #1085
+1 to your suggestion, and I'd say, yes, let's start capitalizing Club.

[2015-07-14 20:30] ldecoursy opened #1095 "Updated visual for MLN"
@sabrinang Wondering if you can help create a visual from this post-it from Whistler: ﻿﻿﻿
![screen shot 2015-07-14 at 4 26 37 pm](https://cloud.githubusercontent.com/assets/4885898/8684212/23eb441a-2a45-11e5-8a15-1fd2874a057f.png) Here is another link: https://flic.kr/p/uWJ1D3

It's an evolved representation of our team's networked ecosystem. Headline "Mozilla Learning Networks," showing three mai

[2015-07-14 20:33] hannahkane commented on #1095
@ldecoursy - do you want any of the other text to appear in the graphic? If so, could you include it in a comment? It's kind of hard to read!

And just to clarify, you don't want Maker Party to appear on the graphic?

@sabrinang - assigning to you for this heartbeat. Let's talk during stand-up tomorrow if that changes anything else.

[2015-07-14 20:36] ldecoursy commented on #1095
Think we just want the simple version on the white post-it for now. And let's keep Maker Party off for the time being.

[2015-07-14 20:40] davidascher commented on #1095
Might be good to check that the visual is effective first.  I have to say I
didn't understand it at all at Whistler. Could be just me!

[2015-07-14 20:43] ldecoursy commented on #1095
Think it will be helpful to have something other than picture of a post-it to check that moving forward. We should probably specify "Mozilla Learning Networks - Programs" at the top.

[2015-07-14 20:51] lovegushwa commented on #1073
@mmmavis try this version on a color background and send me a screenshot.
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvbndtd1RVd1dYTk0/view?usp=sharing

[2015-07-14 22:08] hannahkane commented on #1090
@secretrobotron - do you have a screenshot of Webmaker in action? That could make a good thumbnail.

[2015-07-14 22:13] secretrobotron commented on #1090
There's a pretty good one on beta.webmaker.org and one in the activity. Happy to grab those if needed.

[2015-07-14 22:14] mmmavis commented on #1073
@lovegushwa working beautifully! :dancer: thanks!

some screencaps
![screen shot 2015-07-14 at 3 13 29 pm](https://cloud.githubusercontent.com/assets/2896608/8686412/fbe8deb4-2a3a-11e5-8b79-7999ca634d6d.png)
![screen shot 2015-07-14 at 3 13 23 pm](https://cloud.githubusercontent.com/assets/2896608/8686413/fbec3a6e-2a3a-11e5-9d38-bd43668ddbd3.png)
![screen shot 2015-07-14 at 3 13 16 pm](https://clo

[2015-07-14 22:28] mmmavis commented on #1073
@lovegushwa let me know if you are able to create a svg version of this.  Otherwise I can just plug in with the .png you provided :)

[2015-07-14 22:34] lovegushwa commented on #1073
@mmmavis lets go with the .png for now. It's going to take be a bit of research to figure the transparency out in .svg ... Looks great, nice to see them in so many colors!

[2015-07-14 22:35] mmmavis commented on #1073
:dancers: :dancers: okie dokie

[2015-07-14 22:44] lovegushwa commented on #1073
yay!

[2015-07-14 22:44] sabrinang commented on #1090
![img-webmaker-project](https://cloud.githubusercontent.com/assets/2492510/8686882/2d582532-2a3f-11e5-816d-63341db46c5b.png)

Webmaker: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eQTFIZjlQdk1DVzA/view?usp=sharing
Webmaker (retina): https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eNWdkektIWkJMMjQ/view?usp=sharing

![img-nowifi-webmaker-project](https://cloud.githubuserconte

[2015-07-14 22:55] hannahkane opened #1099 "Design MozFest promo banner for MLN site"
This will take the place of the Maker Party banner after July 31st.

[2015-07-14 22:55] mmmavis commented on #1090
<img width="777" alt="screen shot 2015-07-14 at 3 53 33 pm" src="https://cloud.githubusercontent.com/assets/2896608/8687023/bcfd9b62-2a40-11e5-8e8f-5de523ffa204.png">

Thanks all!

[2015-07-14 23:06] hannahkane commented on #858
Blocked on #1086

[2015-07-14 23:08] #1085 closed

[2015-07-14 23:08] #1073 closed

[2015-07-14 23:09] #1090 closed

[2015-07-14 23:09] hannahkane commented on #1086
Hey @thornet - wondering if you can clarify what the deliverables are for this ticket. I *think* it's probably final copy for the page, including section headings and things like that, but just want to confirm, as well as offer help.

[2015-07-14 23:10] hannahkane commented on #1066
Can I close this?

[2015-07-14 23:12] hannahkane commented on #924
This is done!

[2015-07-14 23:12] #924 closed

[2015-07-14 23:13] hannahkane commented on #925
Closing this ticket. Can open a new one if the need emerges.

[2015-07-14 23:13] #925 closed

[2015-07-14 23:13] hannahkane commented on #896
Nope. This is happening in Thimble.

[2015-07-14 23:13] #896 closed

[2015-07-14 23:14] #895 closed

[2015-07-14 23:15] hannahkane commented on #735
@toolness - Are we okay to close this ticket now?

[2015-07-15 01:26] sabrinang commented on #1066
I updated the copy edit from @ldecoursy and updated suggestions from @mmmavis
Updated make is here: https://sabby.makes.org/thimble/LTExODQxMDM5MzY=/mozilla-clubs-wordmark
@thornet - I couldn't edit my previous make I had to remix it to change it so you will have to update the previous link

[2015-07-15 01:26] #1066 closed

[2015-07-15 03:26] chrislarry33 commented on #1095
I agree doesn't have to mimic the visual on post it, just communicate the content. We are very open to different visual communication techniques

[2015-07-15 12:33] ldecoursy opened #1101 "Update link on Maker Party activities page"
Hi -

The link for the first activity under "Participating on the Web" is going to the wrong activity. I believe it should link to this one instead: https://stephguthrie.makes.org/thimble/ODU3ODAxMjE2/hacking-my-media-with-x-ray-goggles

Thanks!
Lainie

[2015-07-15 13:32] toolness commented on #735
Yup I think so!

[2015-07-15 13:32] #735 closed

[2015-07-15 13:39] toolness commented on #406
I was just looking at https://teach.mozilla.org/healthcheck/ and realizing that its design actually makes for an extremely simple, no-frills 404 page. It wouldn't be hard to make another page that looks very similar but says something like "Oops, we couldn't find what you were looking for!" in the header, or something like that. Would be a lot more friendly than our current 404 page, albeit a lot

[2015-07-15 13:59] hannahkane commented on #1101
@mmmavis - could you do this one today?

[2015-07-15 14:13] ldecoursy opened #1102 "Update headlines on Maker Party activity page"
Instead of:
* Section 1: Reading the Web
* Section 2: Writing the Web
* Section 3: Participating on the Web

Can we change to:
* Reading the Web
* Writing the Web
* Participating on the Web

Apologies for not catching this sooner.

[2015-07-15 14:51] ldecoursy commented on #1101
Hold on this please - confirming.

[2015-07-15 15:11] ldecoursy commented on #1101
Nevermind - let's change please. Thanks!

[2015-07-15 15:11] hannahkane commented on #1101
assigning to @toolness for east coast speediness

[2015-07-15 15:12] thornet commented on #1086
+1 to delivering the final copy. Modifying the ticket.

[2015-07-15 15:12] hannahkane commented on #1102
assigning to @toolness for east coast speediness

[2015-07-15 15:14] toolness commented on #1102
Because of the way we're reusing code across all our activity pages, the only easy way to do this will be to also remove the "Section X:" from the headings in the [Web Literacy Basics](https://teach.mozilla.org/activities/web-lit-basics/) and [Protect Your Data](https://teach.mozilla.org/activities/protect-your-data/) pages as well. This seems like a good idea anyways to me, since it makes the sec

[2015-07-15 15:16] hannahkane commented on #1102
OK with me. @ldecoursy?

[2015-07-15 15:18] simonaramkisson commented on #1094
![steveflower](https://cloud.githubusercontent.com/assets/8181590/8701929/a1d8d020-2ae2-11e5-87ed-5e5f0e34f457.jpg)
![damienpayton](https://cloud.githubusercontent.com/assets/8181590/8701932/a4c67e72-2ae2-11e5-8a3e-abed5bccb5fc.JPG

Logo: needs to be created

Mission Statement: Hive Manchester is a learning community inspired by the Hive Learning Network Community. Essentially, a Hive Learning Com

[2015-07-15 15:20] ldecoursy commented on #1102
I'm talking about just removing those phrases from this page https://teach.mozilla.org/activities/maker-party-2015/

[2015-07-15 15:24] toolness commented on #1102
yeah, i know, it's just that that page is reusing code from the other two pages, and that reused code is hard-coded with the word "Section" at the beginning... i *can* make it so those other pages still say "Section X:" in the headers, but it will involve a bit of additional work, and also feels odd to me because it makes the pages appear inconsistently formatted (i.e. why are we saying "Section X

[2015-07-15 15:26] ldecoursy commented on #1102
Got it - ok let's go for it. Thank you!

[2015-07-15 15:27] #1102 closed

[2015-07-15 15:30] #1101 closed

[2015-07-15 15:31] simonaramkisson commented on #1094
Hive Cascadia (Portland):

Logo: needs to be created

Mission Statement: Hive Cascadia fosters and promotes creative cross-institutional, cross-disciplinary partnerships that support youth participatory learning and leadership.

Social Media:
Twitter: https://twitter.com/hivecascadia

Contact Information:

Jeffrey Sens
Co-Executive Director, Pixel Arts Game Education
jsens@gameeducationpdx.com

Sa

[2015-07-15 15:39] thornet opened #1104 "Update email response after user applies to add their club"
A ticket as an result of #1085

Email copy here:
https://github.com/mozilla/teach-api/blob/master/clubs/email.py

Suggested edits:

%(username)s,
Thanks for your interest in Mozilla Clubs.

As mentioned on the website, we're currently at capacity for clubs that can be supported directly at this stage. We will be in touch when we're accepting new clubs.

NEVERTHELESS! You can begin to teach the web

[2015-07-15 15:40] thornet commented on #1104
cc
* @ldecoursy @amirad to proofread
* @hannahkane @toolness to help implement

[2015-07-15 15:44] ldecoursy commented on #1104
Should we add a note re: Regional Coordinater recruitment? We're looking for more volunteer Regional Coordinators to help us support new Mozilla Clubs. Please visit (link to RC role) for more information.?

[2015-07-15 15:48] toolness commented on #1104
Rad! Just so you know, right now we can only send plain-text emails, which means we can't hyperlink text like we can in HTML. That means that all he links in the email will appear exactly as you have written them out in the [issue description](https://github.com/mozilla/teach.webmaker.org/issues/1104#issue-95225576) above.

[2015-07-15 16:34] simonaramkisson commented on #1094
Hive Waterloo:

Logo: needs to be created

Mission Statement:  Hive Waterloo is  leading the work to increase access to technological learning, and to shine a spotlight on tech learning opportunities, organisations, and facilities in the region of Waterloo-Kitchener.

Social Media: http://www.yocwr.ca/about/

Team Leaders:

Stephanie Rozek
Co-Founder
stephanie@yocwr.ca

Sean Yo
Co-Founder
me@seany

[2015-07-15 16:55] secretrobotron opened #1105 "Webmaker can have an associated activity on tools page"
https://teach.mozilla.org/tools/ has a Webmaker link, but no activity. Could use mozilla.github.io/webmaker-curriculum/MobileWeb/create-webmaker-project.html now.

[2015-07-15 17:02] thornet commented on #1104
Note to work into the text:

* Successful clubs need relationships with RCs. Explain the rationale.

[2015-07-15 17:13] hannahkane commented on #1104
Adding blocked label until we have final copy

[2015-07-15 17:47] mmmavis commented on #1105
oh yea we should def add a sample activity there!  I can probably get this out today

[2015-07-15 18:17] sabrinang commented on #1094
@mmmavis logos you mentioned that are needed can be found here:
https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efnBpVWxiVkV4bU1OUWp5U3Q0VU5TZjY0RDRfZ0NUWW0zVFpxLWkwYjN2Ym8&usp=sharing

![hive_community_logo_manchester](https://cloud.githubusercontent.com/assets/2492510/8706132/e37eea32-2ae2-11e5-9474-8ce06429715a.png)
![hive_community_logo_portland](https://cloud.githubuserconten

[2015-07-15 18:27] mmmavis commented on #1094
@simonaramkisson (I love your GitHub profile pic :wink: ) Do you have info for Hive Vizag or we are still waiting?

[2015-07-15 21:25] hannahkane commented on #1099
Suggested copy: MozFest is Mozilla's annual, hands-on festival dedicated to forging the future of the open Web. We are now accepting session proposals.

Button copy: Submit Your Proposal [link to https://2015.mozillafestival.org/proposals]

[Note: The copy and CTA will likely change after August, so, ideally, the design works regardless of the messaging.]

/cc @thornet @Saallen for edits to sugges

[2015-07-15 21:44] hannahkane commented on #406
Some ideas:

/ playing off of "teach"

Hey, this 404 is a teachable moment!
Did you know that a 404 is the generic error code used across the internet to mean "page not found"? It might mean that the page used to exist, but doesn't anymore. Or it might mean that someone made a typo somewhere. Regardless, there's no page at this address.

/ reference curriculum

This page doesn't exist.
You know wh

[2015-07-15 22:19] cassiemc commented on #406
I still love the teachable moment version. Nice hack to simplify the concept.

[2015-07-16 03:21] chrislarry33 commented on #406
my vote:

/ playing off of "teach"

Hey, this 404 is a teachable moment!
Did you know that a 404 is the generic error code used across the internet to mean "page not found"? It might mean that the page used to exist, but doesn't anymore. Or it might mean that someone made a typo somewhere. Regardless, there's no page at this address.

[2015-07-16 03:33] chrislarry33 commented on #1104
need copy asap. A few comments

1) I understand the rationale, not suggesting change. But I do think this can't lose batches of interested people. So the messaging and offer has to  be tight, engaging and motivational. Needs to be right. Can we enlist @HPaulJohnson here for help? Can we test some?

2) Have we considered what a club light, or a "I am starting my club and am hoping to apply for Moz

[2015-07-16 11:59] thornet commented on #1104
Yes, I very much in need of help drafting. Took another stab with feedback from above:

%(username)s,
Thanks for your interest in teaching the web!

Get started right away with these fun learning activities: https://teach.mozilla.org/activities/.

Mozilla Clubs are most successful when paired with a volunteer Regional Coordinator. Our first cohort of Regional Coordinators is already in full swing

[2015-07-16 12:10] thornet commented on #1104
+1 to @chrislarry33 idea of what a light application can look like. Might revise last paragraph to be about posting "your vision for your club" etc. in Discourse.

[2015-07-16 12:48] toolness opened #1107 "Add ES6 support"
Development of the specification for ECMAScript 6, the next version of JavaScript, is now complete, so it's not going to change anytime soon. Furthermore, it seems to have the support of the JS community and a lot of projects, including Webmaker, are starting to support it via tools like [Babel](https://babeljs.io/).

Possible reasons to support ES6:
* Lots of new language features that make it wa

[2015-07-16 12:57] LauraHilliger commented on #406
feel free to reuse the text we worked on in training: https://training.webmakerprototypes.org/adad

[2015-07-16 14:46] toolness commented on #1104
Yeah, +100000 to using Discourse more!

[2015-07-16 15:25] HPaulJohnson commented on #1104
@thornet @chrislarry33 would love to help. have a few things this morning to wrap up and then will jump in.

[2015-07-16 15:39] hannahkane commented on #406
@LauraHilliger!!!! Thanks for this.

I don't have a strong opinion either way between the "teachable moment" and "the more you know" (though I'm not sure that is a globally-understood reference?)

[2015-07-16 15:44] LauraHilliger commented on #406
I probably wouldn't go with More You Know for teachDOT. It's fair use, but you're right it's not a global reference :)

[2015-07-16 16:08] toolness commented on #406
Hi @LauraHilliger !!

Another totally possible alternative we could do is actually have a **random** selection of 404s appear--it doesn't always have to be the same thing! Or we could do A/B testing to see who actually learns something from it... though we'd have to define a metric for "learns something", which is the hard part.

Anyhow, another thing I think we should do aside from teaching them

[2015-07-16 16:16] hannahkane commented on #406
Fun ideas, @toolness!

In the interest of getting something up soon, why don't we go with the simple Teachable Moment copy now, and then open up another ticket for fancifying later on.

[2015-07-16 16:27] mmmavis commented on #1101
oops missed the flag sorry :stuck_out_tongue_winking_eye:

[2015-07-16 16:46] mmmavis commented on #413
i'm horrible at monitoring GitHub mentions... just saw this now.  Yup I'll find time to watch that video sometime this week!

[2015-07-16 16:53] adamlofting opened #1109 "Add Google Analytics Tracking for 3 x Homepage CTA Buttons"
We'd like to record a Google Analytics event when the Pledge Modal is displayed.

Here's an example of existing GA event tracking: https://github.com/mozilla/teach.webmaker.org/blob/1444a78be36362a1633b91bffdef6b1d239096d7/lib/teach-api.js#L147

Let's use these titles:

[code]

Just let me know if you need any further info to be able to implement this.

[2015-07-16 17:01] adamlofting opened #1110 "Add Google Analytics event tracking to outbound links on Activities Page"
We'd like to know how many people are clicking on each of the [activities listed here](https://teach.mozilla.org/activities/), but links to external URLs don't get recorded in GA automatically.

In order to do this we need to record the click manually, and then re-direct the user to the target URL.

Our GA tracking is using our `react-ga` library, where I have written the [basic logic for recordin

[2015-07-16 19:31] HPaulJohnson commented on #1104
I think the idea of telling people they've been added to a "wait list" is a strong approach here; it's softer than "no" and in many cases creates a positive effect through scarcity and increased desire to be part of something in such high demand. I think @thornet's most recent copy does a pretty good job of this but I would probably say right up front, "thanks for your interest," "you've been adde

[2015-07-16 21:30] sabrinang commented on #1095
I referenced the [narrative outline doc](https://docs.google.com/document/d/1teATL93SzPNCUNa-fcYmama6gs1iFiHXjKm9V2TzaiM/edit) and [wiki](https://wiki.mozilla.org/Learning/2015) and attempted to visualize the MLN ecosystem and opinions/ideas/feedback here would be great or [redpen](https://redpen.io/bn6afc54720917401d) if you prefer and I'll continue to iterate on a visual.
![mozilla-learning-netw

[2015-07-16 21:52] ldecoursy commented on #1095
Thanks @sabrinang! This seems like a good start. Some of the items currently in white text seem compartmentalized when there may be a better way to show interactions across the three main circles. Our program review was rescheduled, so would like to get more of the team's input, which likely won't happen by tomorrow. @hannahkane should we move to next heartbeat?

[2015-07-16 23:12] hannahkane commented on #1109
Can we do this on all three homepage modals? Would be useful to have data on all of them. :)

[2015-07-17 09:36] adamlofting commented on #1109
:+1:

[2015-07-17 16:29] thornet commented on #1086
Content outline stated here: https://etherpad.mozilla.org/clubssitemeeting

[2015-07-17 17:44] hannahkane commented on #1086
Did a draft of full copy based on @thornet's outline: https://etherpad.mozilla.org/clubssitemeeting

feedback? @thornet @amirad @chrislarry33 @ldecoursy @sabrinang

[2015-07-17 22:02] hannahkane opened #1112 "Add Google Analytics event tracking to outbound links on navigation"
The "Community" link currently goes to an external site (Discourse). I'd like to know how many ppl are clicking on it.

See #1110 for relevant pre-requisite.

[2015-07-17 22:07] mmmavis commented on #1094
@simonaramkisson any updates on Hive Vizag info? :grin:

[2015-07-18 00:08] mmmavis opened #1113 "npm error with phantomjs version"
Travis build on https://github.com/mozilla/teach.webmaker.org/pull/1106 failed due the following error

[code]
Reason:
[phantomjs](https://www.npmjs.com/package/phantomjs) is now at 1.9.17 which meets [our specification in package.json](https://github.com/mozilla/teach.webmaker.org/blob/v0.0.15/package.json#L55) but phantomjs@1.9.17 doesn't fall within [the range of version mocha-phantomjs takes](

[2015-07-18 00:14] mmmavis opened #1115 "Update semver string for phantomjs once mocha-phantomjs update theirs"
This ticket serves as a reminder.  For context see https://github.com/mozilla/teach.webmaker.org/issues/1113

[2015-07-18 00:33] #1113 closed

[2015-07-18 00:54] #1105 closed

[2015-07-18 21:07] AnthonyBobsin commented on #1033
I've submit a pull request that replaces all current Glyphicons used with an identical FontAwesome icon. @toolness originally I took the fonts directory out of the gulpfile, but the spider.js test file was complaining because they are referenced in the bootstrap file quit a lot, so I ended up leaving it there. Let me know if I should do otherwise.

[2015-07-19 02:44] simonwex commented on #1113
By the way, @mmmavis, nice commit message :cat: :joy_cat: :bomb: :boom:

[2015-07-19 02:46] simonwex commented on #1115
Probably worth tracking this: https://github.com/nathanboktae/mocha-phantomjs/issues/175

[2015-07-20 17:13] hannahkane commented on #1094
blocked on final location info

/cc @simonaramkisson

[2015-07-20 17:13] hannahkane commented on #1094
@ldecoursy - is the Monday deadline still accurate?

[2015-07-20 17:20] hannahkane commented on #1076
This happened!

[2015-07-20 17:20] #1076 closed

[2015-07-20 17:21] hannahkane opened #1116 "Document findings from co-design session with Helen and Dethe"

[2015-07-20 17:25] ldecoursy commented on #1094
Given no program review, not imperative this happens today. If @simonaramkisson can provide ETA on Vizag info, we can decide whether to hold for that, or go live with the other changes.

[2015-07-20 17:26] hannahkane commented on #1075
Remaining TODOs:
 - [ ] tweak Directory wireframes based on conversation
 - [ ] agree upon naming conventions

[2015-07-20 17:30] hannahkane opened #1117 "Create MLN wordmark options"
Use this as a discussion point for branding conversations

[2015-07-20 17:31] hannahkane commented on #798
blocked on copy

[2015-07-20 17:34] hannahkane commented on #1095
blocked on getting further input from team

/cc @ldecoursy

[2015-07-20 20:45] hannahkane opened #1118 "Design a way for users to submit curriculum for consideration"
This is a bit of a stop-gap measure, but we should indicate on /activities that we'd welcome curriculum submissions from the community. Could be as simple as a short "Submit Your Curriculum" form that lets the user link to content hosted elsewhere. A designated member of our staff should be notified each time the form is submitted (eventually this will be the Curriculum Writer, though I'm not sure

[2015-07-20 21:42] jgmac1106 commented on #1118
I think we could have a template in thimble for curriculum. The template
could have a prepopulated tag. The curriculum writer (who hopefully is more
of a curator) could monitor the tag.

On Mon, Jul 20, 2015, 4:45 PM hannahkane <notifications@github.com> wrote:

[2015-07-20 21:46] hannahkane commented on #1118
That's a good idea. Would also like to accommodate people who don't want to use Thimble, though.

[2015-07-20 22:01] mmmavis commented on #1109
@hannahkane what are the 3 modals mentioned here?

[2015-07-20 22:02] hannahkane commented on #1109
Was referring to the Pledge to Teach, Teach an Activity, and Start a Club buttons

[2015-07-20 22:39] hannahkane opened #1119 "Host 3 Made With Code pages on teach.mozilla.org"
When the new Webmaker goes live, lots of pages will 404. Three such pages are:
https://webmaker.org/en-US/madewithcode-meme
https://webmaker.org/en-US/madewithcode-poster
https://webmaker.org/en-US/madewithcode-firstwebpage

Those pages are popular referrals for the site, so we don't want to lose them.

We need to host them on teach.mozilla.org with the following changes:
 * obviously, the header

[2015-07-20 22:41] hannahkane commented on #1119
@mmmavis - can you take a look at this ticket and let me know if it a) makes sense and b) how much time you think it will take?

[2015-07-20 22:43] mmmavis commented on #1109
<img width="1088" alt="screen shot 2015-07-20 at 3 39 19 pm" src="https://cloud.githubusercontent.com/assets/2896608/8789226/8aec530c-2ef5-11e5-9647-9ac57a7bfe3e.png">

@adamlofting out of the 3 buttons we want to track, only the first one ("PLEDGE TO TEACH") triggers a modal, the other two link to another page on the Teach site.  Is there a conventional way to track button/anchor clicks?

[2015-07-20 23:05] hannahkane opened #1120 "Update Teach Like Mozilla page with new content"
Content list is here and is a WIP: https://teach.etherpad.mozilla.org/tlmcontent

/cc @chrislarry33 @ldecoursy @thornet @acabunoc @kaythaney

[2015-07-20 23:22] hannahkane opened #1121 "Figure out where Maker Party content lives after MP is over"
Update based on July 27 meeting between @amirad @ldecoursy and @hannahkane
 - [ ] Remove MP banners on teach.mozilla.org and webmaker.org on August 4 (https://github.com/MozillaFoundation/plan/issues/509)
 - [ ] Updates to /events (https://github.com/mozilla/teach.webmaker.org/issues/1135)
  - Remove "Join the global celebration" text and sign-up form in hero image
  - Change order of content on t

[2015-07-20 23:24] jgmac1106 commented on #1118
Can there be a category on Discourse called curriculum? There people can
submit curriculum ideas or link to a lesson plan. Users with more adept
skills could still fork the curriculum pages.

On Mon, Jul 20, 2015 at 5:46 PM hannahkane <notifications@github.com> wrote:

[2015-07-20 23:25] hannahkane commented on #1121
We don't actually need to have this all figured out by the end of this milestone, but we do need to confirm what needs to happen on or about August 1, if anything.

/cc @amirad @chrislarry33 @ldecoursy @thornet

[2015-07-20 23:26] hannahkane commented on #1118
Yes. I like that idea. So this ticket would just be linking to that Discourse category and inviting ppl to submit there.

[2015-07-20 23:31] hannahkane commented on #1119
Was being a dork and forgot that Teach doesn't have a header. @ldecoursy - do you have an opinion about whether we could put the MadeWithCode content on a page with the Teach site page wrapper (navigation and footer and Tabzilla)?

Would that be weird or jarring, or is that okay? Another option is to have NO page wrapper, but I think that's even weirder. No way for people to to rest of Teach site

[2015-07-21 09:03] adamlofting commented on #1109
We could also record GA events when users click on those buttons by firing equivalent JS code. e.g.

[code]

[2015-07-21 14:55] ldecoursy commented on #1119
I think it's fine to have the MLN wrapper. Thanks!

[2015-07-21 18:35] simonaramkisson commented on #1094
Hi All,

Sorry it took so long, they just submitted information!

Mission Statement:

Mozilla's Hive Vizag Learning Network is a city-wide knowledge lab dedicated to helping youth find and explore their interests. Make! Hack! Learn!

Social Media:
Facebook : https://www.facebook.com/HLCvizag

Team Leaders:
Vikas Burri
Program Director
vikas.burri@gmail.com

![vikasburri](https://cloud.githubuserco

[2015-07-21 21:27] hannahkane opened #1125 "Host Private Eye activity on teach.mozilla.org"
The page is currently here: https://webmaker.org/en-US/private-eye

It can go in the Teach page wrapper.

Please remove the CTA section at the bottom ("Privacy Matters. Learn more..."), as well as the footer

Not sure if this fits better in /activities or as a fourth link on /tools. @ldecoursy - thoughts on that?

[2015-07-21 21:45] mmmavis commented on #1094
blocked on https://github.com/MozillaFoundation/mofo-devops/issues/123 (I can't access to the server atm)

[2015-07-21 23:21] hannahkane commented on #1091
This has been delayed, so removing from the milestone.

[2015-07-22 18:18] ldecoursy opened #1127 "Staff admin additions for teach.mozilla.org"
Hi - can you please add @amirad @Saallen and @soapdog as admin? Will be helpful for viewing, exporting, approving, denying Clubs that have been submitted. Thanks!

cc @thornet

[2015-07-22 18:22] hannahkane commented on #1127
@mmmavis - are you able to do this?

[2015-07-22 18:24] mmmavis commented on #1127
Nope sorry I don't.  I'm afraid I don't have admin access to Teach API.

/cc @simonwex

[2015-07-22 22:28] mmmavis commented on #1119
@hannahkane @ldecoursy
Do you think if we can take out the "favourite/like" functionality (the green heart in screencap below) to keep things simple?

![screen shot 2015-07-22 at 3 25 46 pm](https://cloud.githubusercontent.com/assets/2896608/8838976/fb936c26-3085-11e5-9b3f-d4f403c734b9.png)

[2015-07-22 22:44] ldecoursy commented on #1119
WFM

[2015-07-23 01:02] mmmavis commented on #1119
Got the "madewithcode-firstwebpage" page built.  See screencaps below (ignore the "DEV VERSION" ribbon at top plz :smile: )

@hannahkane @sabrinang @ldecoursy anything I should tweak? I think we should probably add a header before "Congratulations on your new...".

![fireshot capture 13 - made with code _ - http___localhost_8008_activities_madewithcode-firstwebpage_desktop](https://cloud.githubuse

[2015-07-23 17:26] hannahkane commented on #1119
I think we can probably just remove those first two sentences, and have the page start with the header "Make your first web page."

[2015-07-23 17:26] hannahkane commented on #1119
Otherwise, +1 from me! :)

[2015-07-23 17:32] ldecoursy commented on #1119
+1 thanks @mmmavis

[2015-07-23 18:05] #1119 closed

[2015-07-23 18:10] mmmavis commented on #1125
I vote for putting it under `/activities` since Lightbeam is never a Webmaker branded tool.

[2015-07-23 18:12] hannahkane commented on #1125
+1

[2015-07-23 18:15] mmmavis commented on #1119
٩(｡・ω・｡)﻿و

[2015-07-23 19:21] mmmavis opened #1129 "Unable to push to staging server"
We set up Travis so that every time things get merged into `develop` branch it will also trigger a build to [`staging`](https://teach.mofostaging.net/). However, something happened last week and now staging is many commits behind `develop`.

Comparing the [commit history](https://github.com/mozilla/teach.webmaker.org/commits/develop) and [the latest commit](https://github.com/mozilla/teach.webmake

[2015-07-23 19:52] mmmavis commented on #1045
Just wanna flag that we just carried over some Makerstrap-style buttons for https://github.com/mozilla/teach.webmaker.org/issues/1119 and https://github.com/mozilla/teach.webmaker.org/issues/1125

![screen shot 2015-07-23 at 12 50 01 pm](https://cloud.githubusercontent.com/assets/2896608/8860538/64e67fca-3139-11e5-9fd7-6a71d551f87f.png)

We should take these buttons into consideration when we tack

[2015-07-23 21:22] amirad commented on #1121
•Date to remove MP banners on teach.mozilla.org and webmaker.org (August 1?) --> August 1st is a Saturday, the 3rd is a holiday in Canada so let's set a date for August 4th?

•Whether we need a "post-MP" state for /events that celebrates the success of this year's MP, and if so...
Usually we share our infographic but we have no data to share this year and on the /events page we don't tie anything

[2015-07-23 21:22] amirad commented on #1121
@hannahkane sorry answers up top!

[2015-07-24 00:36] mmmavis commented on #1094
@ldecoursy @simonaramkisson Do we want Hive Cascadia (Portland) to show as **Hive Cascadia** or **Hive Portland**?

@sabrinang can you help create Hive Cascadia logo?

[2015-07-24 06:39] simonwex commented on #1129
The problem is that the keys stuffed in the .travis.yml file were disabled.

I created the user:
deploy-teach.mozilla.org.

I attached two inline policies:
S3-teach-mozilla-org-s3bucket-1oinic8tfxxim-RW
and
S3-teach.mofostaging.net-RW

It's still getting a 403 when the build task tries to upload. @jbuck I sent you an email, but let's continue the discussion here. Any ideas?

[2015-07-24 11:47] simonaramkisson commented on #1094
Hi All,
Thanks for your patience, I have a call with the team tomorrow morning after their event today. Will provide updates after that call.

Thanks again for all your amazing awesomeness.

[2015-07-24 14:55] ldecoursy commented on #1121
My thoughts in bullets below. Thinking it might be worthwhile to set up a call to - I'll send an invite.

•Date to remove MP banners on teach.mozilla.org and webmaker.org (August 1?) --> August 1st is a Saturday, the 3rd is a holiday in Canada so let's set a date for August 4th?
* This seems fine to me, but then should we change the copy on the MP page (just remove the dates) from July 31-Aug 4 so

[2015-07-24 15:05] jgmac1106 commented on #1121
This may be way left field but could the same code you use for the club map
be used for post-maker party stuff. You could highlight all the events on
the map and then there could be links and descriptions to some of the "big
events"  you want to highlight.

On Fri, Jul 24, 2015 at 10:56 AM Lainie DeCoursy <notifications@github.com>
wrote:

[2015-07-24 15:52] hannahkane commented on #1121
Will we be continuing to drive traffic to this page post-MP?

[2015-07-24 15:54] hannahkane commented on #1104
Any movement or plans for this one?

[2015-07-24 15:55] hannahkane commented on #1086
Anyone have time to take a look at the copy outlined here? https://etherpad.mozilla.org/clubssitemeeting

cc @thornet @ldecoursy

[2015-07-24 15:58] ldecoursy commented on #1121
The final Maker Party email is slated to go out Aug 3, although wonder if we push that to Aug. 4 given CA holiday.

[2015-07-24 15:59] hannahkane opened #1131 "Create visualization of product roadmap"
* This will be a visualization of github tickets, grouped by milestones
 * Requires ticket-ifying everything in the roadmap http://etherpad.io/teach
 * Also requires more shared conventions - e.g. designating things "at risk" or "delayed" as well as "in research phase"
 * Inspiration: http://unity3d.com/unity/roadmap/

[2015-07-24 16:10] ldecoursy commented on #1086
I added some comments/edits last week. @thornet can you give final approval?

[2015-07-24 18:48] simonwex commented on #1129
Fixed and deployed to staging.

[2015-07-24 18:48] #1129 closed

[2015-07-24 18:49] mmmavis commented on #1129
lovelyyy! thanks so much @simonwex :tada:

[2015-07-24 18:50] hannahkane commented on #1129
win!

[2015-07-24 18:57] amirad commented on #1121
+1 to moving it to Aug 4th
I am going to start organizing some top stories, images and links for us to use. Will share out when I've got things in a good place to start using them.

[2015-07-24 20:01] sabrinang commented on #1094
https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eOGVlQWhYLW4xTGc/view?usp=sharing
![hive_community_logo_cascadia](https://cloud.githubusercontent.com/assets/2492510/8883462/1e2cdb62-3204-11e5-9e54-08aa5e397952.png)

[2015-07-24 20:46] mmmavis commented on #1094
@simonaramkisson no worries just let me know :wink:

[2015-07-24 20:52] mmmavis commented on #1094
This is what currently looks like on my machine. Can make edits if needed :)

![fireshot capture 15 - local hive learning networks locations - http___localhost_8888_locations_](https://cloud.githubusercontent.com/assets/2896608/8884357/040da07a-320b-11e5-9001-b681540ec7ed.png)

[2015-07-24 21:00] #1109 closed

[2015-07-24 21:07] mmmavis commented on #1109
@adamlofting this is up on https://teach.mofostaging.net/. Feel free to test it and reopen this ticket if things are not working as expected! :wink:

[2015-07-24 21:09] anmechung commented on #1104
+1 to Paul's comments about crafting the right message.  I also wonder if we should explore multiple ways to scale that may not be as time consuming , i.e. an online or in-person train-the-trainers where an RC can ramp up large numbers (100?) of CCs.  Chad and I are exploring this for afterschool educators, and have thumbs up to do something like this in the spring.

[2015-07-24 21:54] hannahkane commented on #47
Closing this now, as new curriculum tooling is being spec'ed out. Mobile views will be a requirement.

[2015-07-24 21:54] #47 closed

[2015-07-24 21:55] hannahkane commented on #76
Closing for now. Will create new tickets when badge project launches.

[2015-07-24 21:55] #76 closed

[2015-07-24 21:57] hannahkane commented on #332
Is this ticket still needed, or can it be closed?

[2015-07-24 21:57] hannahkane commented on #333
Is this ticket still needed?

[2015-07-24 21:57] hannahkane commented on #334
Has this work been completed? Can the ticket be closed?

[2015-07-24 22:00] hannahkane commented on #1127
@simonwex - is this something you can give @mmmavis (and me?) access to, so we don't have to ask you every time?

[2015-07-24 22:04] hannahkane commented on #1032
Moving this to webmaker.org repo.

[2015-07-24 22:04] #1032 closed

[2015-07-24 22:06] hannahkane commented on #830
Closing pending conversations about curriculum dbase

[2015-07-24 22:06] #830 closed

[2015-07-24 22:06] #875 closed

[2015-07-24 22:07] #860 closed

[2015-07-24 22:08] hannahkane commented on #502
Will be moot shortly.

[2015-07-24 22:08] #502 closed

[2015-07-27 09:26] adamlofting commented on #1109
This is working great! Thanks. :sunny: :+1:

[2015-07-27 14:46] thornet commented on #1127
+ also @simonaramkisson to be a staff admin. Thanks!

[2015-07-27 16:02] simonaramkisson commented on #1094
Hi All, spoke to team in Portland. They are going to move forward with Hive Cascadia. :)

[2015-07-27 17:50] #1125 closed

[2015-07-27 19:54] #1004 closed

[2015-07-27 20:07] amirad commented on #1121
MP 2015 stories and pictures! https://teach.etherpad.mozilla.org/MP2015stories

[2015-07-27 20:46] hannahkane opened #1135 "AUGUST 4: Post-MP updates to /events"
- [ ] Remove "Join the global celebration" text and sign-up form in hero image (updates: and remove the signup form at bottom of the page)
 - [ ] Change order of content on the page: 1) intro paragraph and logo, 2) "Get the 2015 activities" banner, 3) "What does a MP look like" paragraph 4) Flickr feed and link to all photos (https://www.flickr.com/photos/mozilladrumbeat/sets/72157654235131834) 5)

[2015-07-27 20:46] hannahkane commented on #1121
Updated ticket description to reflect latest decision-making

[2015-07-27 20:47] hannahkane commented on #1135
@amirad to provide a new Flickr feed to point to

[2015-07-27 20:48] hannahkane commented on #1121
Actually, I think we can close this ticket now, since all follow-up tasks are ticketed separately.

[2015-07-27 20:48] #1121 closed

[2015-07-27 20:49] hannahkane commented on #742
duped by #1135

[2015-07-27 20:49] #742 closed

[2015-07-27 21:18] mmmavis commented on #1129
@simonwex
it's been ~2 hours since I pushed to PROD but the changes aren't live yet. any idea why?

[2015-07-27 21:43] mmmavis commented on #1094
DONE! https://hivelearningnetworks.org/locations/ :tada:

[2015-07-27 22:13] jbuck commented on #1129
@mmmavis prod deploy isn't working: https://travis-ci.org/mozilla/teach.webmaker.org/builds/72888817

[2015-07-28 04:47] simonwex commented on #1129
Hey @jbuck it's likely also an issue with ACL perms. Mind fixing it up for the prod bucket, too?

[2015-07-28 13:49] ldecoursy commented on #1094
Looks great! Can we also reflect this updated list of cities on the landing page of hivelearningnetworks.org?

[2015-07-28 16:16] jbuck commented on #1129
So, this is because the changes to .travis.yml didn't land on master... and I don't understand why: https://github.com/mozilla/teach.webmaker.org/compare/v0.0.15...v0.0.16

[2015-07-28 16:47] simonwex commented on #1129
I also applied the ACL to the prod bucket.

[2015-07-28 17:16] thornet commented on #1086
Updated in the etherpad. Final read-through for any stray bits?

@hannahkane @ldecoursy @HPaulJohnson merci!

[2015-07-28 17:21] thornet commented on #1104
Revised text:

%(username)s,
Thanks for your interest in teaching the web!

Get started right away by guiding a group of learners through these featured activities: https://teach.mozilla.org/activities/

We believe in the power of peer learning. That's why we match each Mozilla Club Captain with a volunteer Regional Coordinator who can support you in getting started and making the most of this pro

[2015-07-28 17:37] hannahkane commented on #1086
Just made some grammar edits to the "Why start a Mozilla Club?" bullet points, but needs to be edited for word choice now :)

[2015-07-28 17:40] hannahkane commented on #1104
Thanks, @thornet. I'm going to close this ticket and open a separate one for implementation, since this ticket is so fully commented. :)

[2015-07-28 17:40] #1104 closed

[2015-07-28 17:41] hannahkane opened #1136 "Change text of email user receives after applying to add their club"
Revised text:

%(username)s,
Thanks for your interest in teaching the web!

Get started right away by guiding a group of learners through these featured activities: https://teach.mozilla.org/activities/

We believe in the power of peer learning. That's why we match each Mozilla Club Captain with a volunteer Regional Coordinator who can support you in getting started and making the most of this pro

[2015-07-28 17:42] hannahkane commented on #1136
@mmmavis - are you able to do this one?

[2015-07-28 17:51] thornet commented on #1086
thanks, @hannahkane! Did a pass there as well.

The other unresolved part is the subheader at the top of the page. Threw in a more descriptive alternative. Curious what folks think.

[2015-07-28 18:28] mmmavis commented on #1094
Oh yea sorry I missed it. Will update the landing page today!

[2015-07-28 21:29] mmmavis commented on #1136
I can make a PR for [ changes to`email.py` on the teach-api repo](https://github.com/mozilla/teach-api/blob/8ed32b2477b24ef918f68eb8374ae5f6416a0d4d/clubs/email.py) but I don't know how the deploy process is like for that service.  @simonwex do you know?

another teach-api related ticket: https://github.com/mozilla/teach.webmaker.org/issues/1127

[2015-07-28 21:47] hannahkane opened #1137 "Add "Name" field to Clubs form"
Can be the first field, and can just be "Name."

[2015-07-28 21:47] hannahkane commented on #1137
@mmmavis - possible to do this this week?

[2015-07-28 22:04] hannahkane opened #1138 "Draft Content Style Guide for MLN site"
Probably need to facilitate a group process for creating the guide

[2015-07-29 00:12] sabrinang commented on #1099
Current promotional space (featuring Maker Party):
<img width="1440" alt="screen shot 2015-07-28 at 5 05 14 pm" src="https://cloud.githubusercontent.com/assets/2492510/8947023/dcfdf51e-354a-11e5-90bf-e8a91f280a04.png">

Mozilla Festival promotional space ideas:

![mozilla-learning-network_promo-banner_mozfest-ideation](https://cloud.githubusercontent.com/assets/2492510/8947060/3c9ecd4a-354b-11e5-8

[2015-07-29 04:58] mmmavis commented on #1110
@adamlofting I have a PR to react-ga for you: https://github.com/adamlofting/react-ga/pull/19 :smile:

[2015-07-29 05:37] mmmavis commented on #1099
I actually prefer navy > red > light blue as light blue makes that section too integrated and therefore not eye-catching enough as a promo banner.

[2015-07-29 05:42] mmmavis commented on #1137
Will also have to make edits to the database which I don't have access to.  I'll talk to @simonwex tomorrow and find out a solution.

[2015-07-29 05:46] mmmavis commented on #1094
Done!

[2015-07-29 05:46] #1094 closed

[2015-07-29 09:53] Saallen commented on #1099
I definitely think we should change the banner colour as the event and CTA is different. That would be my only preference here- that its a different colour from the  Maker Party Banner. Copy looks good to me- clear action :eyes:

[2015-07-29 14:23] hannahkane commented on #1099
I'd also vote for navy, for the same reasons @mmmavis and @Saallen mentioned.

[2015-07-29 16:56] sabrinang commented on #1099
We can use the Mozfest Navy (#093D60) for this proposal CTA and we can also switch to Red (#E12526) for another CTA after August later on if that's preferred too.

Logo and pattern here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkEyaHhTMTh5TDlaNDhaNEljUnhPM25Ta2VWQy1aQVlkVWFKT19tWWtaNWM&usp=sharing

[2015-07-29 17:12] sabrinang commented on #909
https://www.mozilla.org/favicon.ico

[2015-07-29 17:33] hannahkane commented on #1099
As just discussed at stand-up: let's go with red for the Call for Proposals, and we can make use of the other colors for later CTAs.

Will open a separate implementation ticket now.

[2015-07-29 17:33] #1099 closed

[2015-07-29 17:34] hannahkane opened #1139 "AUGUST 4: Update homepage banner with MozFest banner"
We'll use Red (#E12526) for the first CTA.

Logo and pattern here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkEyaHhTMTh5TDlaNDhaNEljUnhPM25Ta2VWQy1aQVlkVWFKT19tWWtaNWM&usp=sharing

[2015-07-29 17:35] hannahkane commented on #1139
(For reference, design ticket is #1099)

[2015-07-29 17:35] hannahkane commented on #1117
Closing this for now. May re-open after more of the branding conversations happen.

[2015-07-29 17:35] #1117 closed

[2015-07-29 17:36] hannahkane commented on #1086
Closing this to start design work (#858)

[2015-07-29 17:36] #1086 closed

[2015-07-29 17:37] hannahkane commented on #858
No longer blocked. w00t!

Final copy here: https://etherpad.mozilla.org/clubssitemeeting

[2015-07-29 17:40] hannahkane commented on #858
@thornet @ldecoursy - question that came up during stand-up today with @sabrinang and @mmmavis - do you expect the content in the google docs for the different use cases (e.g. "Your Afterschool Program," "Your Neighborhood Meetup", etc) will stay in google docs for long? Is there an intention to move them to github or somewhere else at some point?

Not a blocker or anything, just curious about the

[2015-07-29 17:41] hannahkane commented on #909
Do we need a separate ticket to implement this?

[2015-07-29 17:43] thornet commented on #858
Hurray! @hannahkane yes, think we should move it to something more stable soon. I'll file a ticket for that. But we can move ahead with the copy as is!

[2015-07-29 17:44] thornet opened #1140 "Migrate club case studies to github pages"
To make them easier to link to after #858

[2015-07-29 20:26] mmmavis opened #1141 "Add favicon"
design ticket: https://github.com/mozilla/teach.webmaker.org/issues/909

looks like we are going to use [mozilla.org's favicon](https://www.mozilla.org/favicon.ico) for now

[2015-07-29 20:26] mmmavis commented on #909
I just created one

[2015-07-29 20:29] hannahkane commented on #909
Thanks!

[2015-07-29 20:29] #909 closed

[2015-07-30 00:34] hannahkane commented on #858
Just saw Sabrina's wireframes, and want to suggest the following shortened copy for the "Why start" section, because it's not very scannable currently:
 * Your learners will make things that interest them. We learn best by making projects we care about, with peers who support and encourage us.
 * You can use Mozilla's free and educator-tested curriculum. Our curriculum [link to /activities] is fre

[2015-07-30 06:29] thornet commented on #858
Beautiful! Works for me.
On Jul 30, 2015 02:34, "hannahkane" <notifications@github.com> wrote:

[2015-07-30 16:41] hannahkane commented on #1095
@ldecoursy - is this still needed? if so, is there a new timeline?

[2015-07-30 16:50] hannahkane opened #1142 "Implement design/copy changes on /Clubs"
Design work is being finalized in #858

[2015-07-30 16:54] ldecoursy commented on #1095
Maybe we close it for now. Otherwise might move to end of August.

[2015-07-30 16:56] hannahkane commented on #1095
K. Closing, but feel free to re-open or re-file as needed.

[2015-07-30 16:56] #1095 closed

[2015-07-30 17:07] hannahkane opened #1143 "Tweak Directory wireframes based on conversation"
Notes are in presentation

[2015-07-30 17:08] hannahkane commented on #1075
This is covered in Workbook (https://docs.google.com/presentation/d/1i3Uz87DZOu3wPs2JvIwseQ7e_HYbYEjZcS4Vl5RSzfE/edit#slide=id.g5bf04936f_1_43) and #1143

[2015-07-30 17:08] #1075 closed

[2015-07-30 17:36] hannahkane commented on #1140
Hey @thornet - can I assign this to you, or will you need help from someone else?

[2015-07-30 17:38] hannahkane commented on #1127
@simonwex - can you help us out with access to the Teach API? There are a few tickets in this milestone with the "need Teach API access" label that are currently blocked.

[2015-07-30 17:51] hannahkane opened #1144 "Iterate on design for Directory based on meeting feedback"
Meeting scheduled for August 7. Iterate on Directory wireframes based on conversation / decisions from the meeting.

[2015-07-30 17:53] hannahkane opened #1145 "Collect input from community members on MLN Directory wireframes"
In addition to collecting staff input on the Directory, we also need to consult with community members to validate that the Directory will meet their needs.

[2015-07-30 18:11] hannahkane opened #1146 "Revise About page copy to better reflect Leadership Development focus"
The current About page copy is good, but could be reframed to better emphasize our leadership development focus.

We might also want to add a comprehensive list of our programmatic offerings to this page.

Could also set a new page title for all pages on the Teach site. This title could reference leadership dev.

[2015-07-30 18:11] hannahkane commented on #1146
@ldecoursy - okay if I assign to you? Feel free to remove the milestone if it doesn't feel reasonable to tackle in the next heartbeat.

[2015-07-30 18:12] ldecoursy commented on #1146
Yes! :)

[2015-07-30 22:20] hannahkane commented on #1135
Flickr feed is here: https://www.flickr.com/photos/mozilladrumbeat/sets/72157654235131834

[2015-07-30 22:30] hannahkane opened #1147 "Design Teach Like Mozilla page with new content"
Content list is here: https://teach.etherpad.mozilla.org/tlmcontent

Note: this project will be kickstarted via https://github.com/MozillaFoundation/Design/milestones/kristina-shu-day

[2015-07-31 12:09] thornet commented on #1140
I can do it, but it'll be a P2.

[2015-07-31 15:51] hannahkane commented on #1112
@mmmavis - do you have an update on this one?

[2015-07-31 17:19] mmmavis commented on #1112
Spent my time yesterday fighting with BSD.  Will submit PRs for the two GA tickets and favicon today :+1:

[2015-07-31 19:56] mmmavis commented on #1110
![screen shot 2015-07-31 at 12 54 55 pm](https://cloud.githubusercontent.com/assets/2896608/9016157/9abe0d52-3783-11e5-8566-14222e77d993.png)

[2015-07-31 20:56] mmmavis commented on #1110
Accidentally closed this ticket earlier.  This will be close once the PR I just submitted get merged.

[2015-08-01 00:06] mmmavis opened #1152 "PROD deploy is not working"
v0.0.16 hasn't made its way to https://teach.mozilla.org :cry: You can check meta on https://teach.mozilla.org/healthcheck/

I'm creating a new ticket here so we can keep track of the issue. Earlier conversation can be found in https://github.com/mozilla/teach.webmaker.org/issues/1129

Assigning this to you, @simonwex :wink:

/cc @hannahkane @jbuck

[2015-08-02 20:22] #1141 closed

[2015-08-02 21:35] mmmavis commented on #1142
@hannahkane @sabrinang mind giving me a ping when the design work has been finalized? Thanksssss :+1: :see_no_evil:

[2015-08-05 21:49] hannahkane commented on #1136
No longer blocked. win!

[2015-08-05 21:49] hannahkane commented on #1137
no longer blocked

[2015-08-05 21:50] hannahkane commented on #1127
no longer blocked!

[2015-08-05 23:08] hannahkane commented on #1127
Done.

[2015-08-06 12:07] thornet opened #1155 "Clubs Map: user-reported error selecting "Athens, Greece""
via a user:

Is it possible for us to look into this and see if there's anything we should fix on our end?

[2015-08-06 12:11] thornet commented on #1120
Thanks, @hannahkane! Added some edits in the etherpad, in case this ticket is still live.

[2015-08-06 12:14] thornet commented on #996
Just catching up on a lot of tickets. Is this one still active?

A heads-up: we're exploring have "tiers" of clubs at the moment. This might be a light spectrum / tier system to indicate how far on-boarded, active and experienced a club is.

This may affect how we do the Club Captain badges, to accommodate for a visual showing how veteran / deep in the program a captain is.

[2015-08-06 12:15] thornet commented on #1139
Awesome!

[2015-08-06 12:16] thornet commented on #1136
Fantastic! Do we know when this new email will go live?

[2015-08-06 13:06] anmechung commented on #996
Tiers - Great idea

[2015-08-06 15:58] hannahkane commented on #1136
Sorry, I should have clarified. This is no longer technically blocked. Still don't have staff to assign to it. :(

[2015-08-06 18:14] hannahkane commented on #996
No one is working on this right now, and it's not assigned to any milestone.

Adding the "Blocked" label to indicate that we're waiting on final decisions about tiers. Thanks, @thornet!

[2015-08-06 18:20] hannahkane commented on #1120
Thanks, @thornet.

The design team did some wireframing work on this. I'm going to close this ticket because it feels premature now. Will open a ticket for finalizing the design and we can continue the discussion there.

[2015-08-06 18:20] #1120 closed

[2015-08-06 18:23] hannahkane opened #1156 "Finalize content and design for TLM page"
Content list (from #1120):  https://teach.etherpad.mozilla.org/tlmcontent

Initial wireframing work happened here: https://github.com/MozillaFoundation/Design/issues/62#issuecomment-127716589
 * Final wireframe on redpen – 1/2 is here: https://redpen.io/nv3bec9dc89d965a44 and 2/2: https://redpen.io/ok1c17622f5e4114af

Next steps:
 - [ ] get key stakeholders to review wireframe
 - [ ] staff a round

[2015-08-06 18:37] hannahkane commented on #1155
Thanks, @thornet. Putting it in the next milestone, and noting that this is very complicated problem, and not limited to Athens.

[2015-08-07 17:11] simonaramkisson opened #1157 "Update to Hive Waterloo on Locations page on hivelearningnetworks.org"
Hi @mmmavis,

We need to make a few updates to Hive Waterloo on the locations page on hivelearningnetworks.org, in the :

• In the mission statement, can we remove Waterloo-Kitchener to "Waterloo Region" at the end of the sentence.
• Replace www.yocwr.ca to www.hivewaterloo.ca
• Include twitter handles for both Stephanie and Sean: @srozek @seanyo and remove their email addresses. They are currentl

[2015-08-07 22:46] hannahkane opened #1158 "Design version of homepage with only one CTA in header"
We want to see if we can increase the conversion rate of pledge-takers to 5% of site visitors.

Experiment #1: Make the pledge the only CTA in the homepage hero

See how it affects Pledge rates, as well as traffic to /activities and /clubs

[2015-08-07 22:47] hannahkane opened #1159 "Implement version of homepage with only one CTA"
Blocked by design ticket: #1158

[2015-08-07 22:51] hannahkane commented on #1159
Good reminder from @HPaulJohnson - should we take this opportunity to install optimizely?

[2015-08-10 17:52] mmmavis commented on #1157
Done! :smile:

[2015-08-10 17:52] #1157 closed

[2015-08-10 18:13] amirad commented on #1127
Thanks everyone! I just logged in and I get to a blank screen that says "You don't have permission to edit anything." - that doesn't feel right? @hannahkane

[2015-08-10 18:13] hannahkane opened #1160 "Thimble promotion: implement email campaign"
The design work for both is in progress: https://github.com/MozillaFoundation/plan/issues/518

Wondering if @mmmavis will be available during the August 28 heartbeat to create the email template in BSD and add the banner to the Teach homepage.

/cc @simonwex

[2015-08-10 18:51] simonaramkisson commented on #1157
Thanks Mavis, you rock big time!

[2015-08-10 21:13] mmmavis commented on #1127
hey @amirad can you try again and let me know if it works now?

[2015-08-11 16:52] amirad commented on #1127
Yes! It works now. Thank you @mmmavis :)

[2015-08-11 16:52] #1127 closed

[2015-08-12 12:09] jbuck commented on #1152
Okay, here is what I think happened, and why it v0.0.16 didn't get released properly. For context, refer to the release docs:

- Mavis created a .16-rc PR based on develop
- Simon and Mavis added more commits to develop, but didn't update the .16-rc branch with these commits. Check out the network graph, and look at where develop branched from. The confusion continues when Mavis merged the .16-rc

[2015-08-12 14:52] thornet commented on #1135
Just a quick ping on this one: is the a4962c8 fix listed here capturing the /events edits or are there still a few things outstanding? Is there a way we could help get any remainder items through?

[2015-08-12 17:20] mmmavis commented on #1152
@jbuck thanks for investigating this :+1:

I always follow the [RELEASE.md](https://github.com/mozilla/teach.webmaker.org/blob/develop/RELEASE.md) step by step... not sure how I messed this up this time :no_mouth: :confused:

There are some PRs waiting to be merged and pushed so I personally prefer option 2.

[2015-08-12 17:22] hannahkane commented on #1135
@thornet - might make sense to file a ticket with the specific ask. will let @mmmavis decide the best way to get it into the next release (assuming it's a minor change)

[2015-08-12 18:16] #1135 closed

[2015-08-12 18:16] #1139 closed

[2015-08-12 18:32] #1110 closed

[2015-08-12 18:32] #1112 closed

[2015-08-12 20:04] mmmavis commented on #1135
@thornet we were having deployment problem in the past 2 weeks and we weren't able to push things to production. The problem got fixed this morning and once @hannahkane says okay on https://github.com/mozilla/teach.webmaker.org/pull/1162 we should be able to see changes live.

[2015-08-12 21:24] hannahkane commented on #1152
Closeable, right? Hooray!

[2015-08-12 21:25] hannahkane commented on #1136
@mmmavis - do you know if you'll be able to do this this week?

[2015-08-12 21:29] mmmavis commented on #1152
Reassigned this to myself.

Some git drama happened when I tried to push a `v0.0.17` out today. Will need to work with @jbuck tomorrow to get this fixed. :confounded: :confounded: :confounded:

[2015-08-12 21:31] mmmavis commented on #1135
updates: some git drama happened. the new release will likely be out tomorrow instead of today.  sorry about that.

[2015-08-12 21:56] mmmavis commented on #1152
@jbuck

interesting findings -
I'm checking https://teach.mozilla.org/healthcheck/ (see screencap below) and it looks like [the 2 reversion commits](https://github.com/mozilla/teach.webmaker.org/commits/master) didn't get pushed live? I wonder why!

![screen shot 2015-08-12 at 2 52 55 pm](https://cloud.githubusercontent.com/assets/2896608/9237813/3c5ac178-4102-11e5-8cf4-efb784700553.png)

[2015-08-13 19:46] sabrinang commented on #1160
![mozilla-learning-network_email-template-bsd](https://cloud.githubusercontent.com/assets/2492510/9259877/39146728-41b9-11e5-9438-ad24d91487d6.jpg)

Assets here: https://drive.google.com/open?id=0B4Q8pzCpDS_eflc1NzdjMGpCRm1mVFpxTVA4b0hyR3NMRzlFdTNhc045U3FhbGlLbndIUTg

[2015-08-13 21:59] mmmavis commented on #1152
no longer an issue :dancer: thanks @jbuck !

[2015-08-13 21:59] #1152 closed

[2015-08-13 22:02] hannahkane commented on #1152
woohoo!!!!!!!!!!!!!

[2015-08-13 23:39] hannahkane commented on #861
Realistically, this isn't going to happen in the next heartbeat, so I'm moving it.

[2015-08-13 23:45] hannahkane commented on #1155
Removing this from August 28 milestone due to other priorities

[2015-08-14 00:22] mmmavis commented on #1160
yea i think i should have time for this.  assigning this ticket to myself now :)

[2015-08-14 20:20] hannahkane opened #1165 "Copy changes to MozFest site"
Edits are described here: https://github.com/mozilla/2015.mozillafestival.org/issues/157

[2015-08-14 20:40] hannahkane opened #1166 "AUGUST 31: Thimble promotion: homepage banner"
@sabrinang - can you add assets?

[2015-08-14 20:50] hannahkane commented on #1145
Goal for August 28th heartbeat: talk to Emma Irwin!

[2015-08-14 20:52] #1143 closed

[2015-08-14 20:52] hannahkane opened #1167 "Iterate on Directory wireframes based on stakeholder meetings"

[2015-08-14 20:57] hannahkane opened #1168 "Finish assets for Thimble email template"
- [ ] create the images for Paul to drop in

[2015-08-14 20:57] hannahkane opened #1169 "Finish social media assets for Thimble promo"

[2015-08-14 22:35] hannahkane commented on #1159
Also - @KevZawacki had a useful question. Is there a way we can link directly to the pledge? If that were the case, we could link to it in emails, for example.

[2015-08-14 23:20] sabrinang commented on #858
![clubs mockup update](https://cloud.githubusercontent.com/assets/2492510/9285952/45cb99f4-42a0-11e5-9027-218f830982d7.png)
I updated the clubs page: https://redpen.io/egd04381c2b4f26f22

[2015-08-14 23:53] sabrinang commented on #858
![clubs-page-intro-photo](https://cloud.githubusercontent.com/assets/2492510/9286281/f9523b32-42a4-11e5-893b-cceeb1da3dd8.png)

original: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eMmZ6QV8zQmZyaVk/view?usp=sharing
retina: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVWEzWEJZNUlPM0E/view?usp=sharing

[2015-08-15 00:06] mmmavis opened #1170 "Pledge button looks weird on desktop"
![screen shot 2015-08-14 at 5 03 44 pm](https://cloud.githubusercontent.com/assets/2896608/9286348/752f61c0-42a6-11e5-9570-c9f10da5e387.png)

We should either add some space to the left of the button OR position the button on the next line.

[2015-08-15 14:47] MartinDesigner commented on #861
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289329/0bef602c-436c-11e5-80fc-3ec07f82dd8d.jpg)
As a main point for everyone(!) I propose to try this amazing free app. Createer.com is an online software for easily designing online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on

[2015-08-16 04:13] ryanw-se opened #1171 "Principle number 5 in the Mozilla Manifesto leads to webmaker.org/teach"
A user came into the #webmaker IRC channel today reporting that the Mozilla Manifesto principle number 5, redirects to a URL that doesn't exist. I apologize if this isn't the correct place, I am not familiar with all of these repositories, hopefully this was the correct place.

You can see the exact message sent by alanmoo via #webmaker on IRC here, ```<alanmoo>: Hey all, I realize throwing this i

[2015-08-17 12:53] thornet commented on #858
<3! Thanks, Sabrina. Looking amazing. Added a few small comments in the redpen.

[2015-08-17 13:36] ldecoursy commented on #1171
Thanks @ryanw-se!  @HPaulJohnson @KevZawacki Do either of you know the best place to ask to have this link updated to https://teach.mozilla.org/tools?

See below - it's the first link that says "Use these free tools to teach the Web"
![screen shot 2015-08-17 at 9 35 10 am](https://cloud.githubusercontent.com/assets/4885898/9305958/4c275eee-44c3-11e5-936a-50c62f698a3d.png)

[2015-08-17 15:40] HPaulJohnson commented on #1171
I can reach out to moz.org team. I'll suggest that we point to teach.mozilla.org/tools if no one objects?

[2015-08-17 15:46] ldecoursy commented on #1171
Thanks @HPaulJohnson!

[2015-08-17 16:23] HPaulJohnson commented on #1171
Should be fixed shortly:

https://bugzilla.mozilla.org/show_bug.cgi?id=1195376

[2015-08-17 20:26] sabrinang commented on #858
Thanks for your feedback @thornet and I revised the redpen as well: https://redpen.io/egd04381c2b4f26f22

[2015-08-17 20:55] sabrinang commented on #1158
redpen idea here: https://redpen.io/oc9b75cf4cbed72a1e
I suggest we keep yellow button for main CTA button and make the promo button more subtle and have some copy to give main CTA some context
![teach_homepage_1cta-edition](https://cloud.githubusercontent.com/assets/2492510/9316004/61cce1d2-44e7-11e5-9763-3989e1ff795b.png)

[2015-08-17 22:24] sabrinang commented on #1166
## Thimble Promotion on Homepage
<img width="920" alt="screen shot 2015-08-17 at 3 21 28 pm" src="https://cloud.githubusercontent.com/assets/2492510/9317927/b0c9ae94-44f3-11e5-823c-351f223fce62.png">

<img width="187" alt="screen shot 2015-08-17 at 3 19 23 pm" src="https://cloud.githubusercontent.com/assets/2492510/9317887/62eb01fa-44f3-11e5-905d-0270a677d289.png">
__Logo lockup:__
original: https

[2015-08-18 03:59] chrislarry33 commented on #1158
Do we have any documentation of best practice/advice/research/analysis from our two years in small dollar EOY fundraising  they we can apply here?

[2015-08-18 13:51] ldecoursy commented on #1158
@valianttry Is this something you have/can share?

[2015-08-18 13:58] hannahkane commented on #1159
Re: Optimizely. Wondering what our homepage traffic needs to be to run statistically valid tests in a reasonable amount of time. Any insight @mmmavis or @adamlofting?

[2015-08-18 14:02] adamlofting commented on #1159
Another way to estimate this is to look at the existing traffic, and estimate how long a test would take to conclude.

This is a handy tool for doing that: https://vwo.com/ab-split-test-duration/

The time depends on how much of a difference the alternate version has on your given KPI. If it has a huge impact on your conversion rate, the test will conclude much more quickly.

[2015-08-18 14:04] hannahkane commented on #1158
Our plan is to see about installing Optimizely so we can run a variation test, which is something we were able to do for EOY elements last year.

[2015-08-18 14:23] hannahkane commented on #1159
Ah, perfect. Thanks, @adamlofting. Can you help me figure out our existing conversion rate (people who visit the homepage and take the pledge) and average number of daily visitors (to the homepage, I assume). I'm not sure how to get those data points.

[2015-08-18 14:25] hannahkane commented on #1158
@ldecoursy - can you help come up with 2-4 copy variations that we could test? Should be very pithy. We could also test button color, but that seems very related to whatever is in the banner space below, so I'd rather focus on testing copy.

[2015-08-18 14:31] adamlofting commented on #1159
Just looking at this quickly between calls, so excuse the brevity.

Teach homepage gets ~500 views / day
The Homepage pledge to teach CTA gets ~40 clicks / day

I don't think we have data in GA about number of successful pledges, but we should file a bug for that as we should be tracking it, and it will be pretty simple to track. If you have data for number of sign-ups to hand, you could divide th

[2015-08-18 14:37] hannahkane commented on #1159
Thanks, @adamlofting. It is in BSD. @mmmavis - do you have time to grab it?

[2015-08-18 14:41] hannahkane commented on #1091
Re-opening because now we're ready to do this. Changing timeline to ASAP.

[2015-08-18 15:02] hannahkane commented on #858
Looks great, @sabrinang. Added some questions to the redpen; might be more for @thornet to answer.

[2015-08-18 15:38] thornet commented on #858
Thanks! Responded in the redpen. Also cc @amirad for her review.

[2015-08-18 18:23] mmmavis commented on #1136
sorry for the wait.  i'm hoping to get this out in the next few hours.

[2015-08-18 18:25] HPaulJohnson commented on #1158
My 2 cents is that this is a great first test to run. Single CTA's almost always outperform.

Also, if you didn't catch it last week (the button color comment reminded me of it), I'd suggest watching Hiten Shah brantina presentation. He is the founder of Crazy Egg and Kissmetrics and an expert in this type of experimentation. https://air.mozilla.org/august-brantina-with-hiten-shah-founder-kissmetr

[2015-08-18 19:15] mmmavis commented on #1136
<img width="961" alt="screen shot 2015-08-18 at 12 14 04 pm" src="https://cloud.githubusercontent.com/assets/2896608/9340089/b3bf78e0-45a2-11e5-9982-0ea5d5f8e897.png">

Fix is in! :+1: and I finally made my first push to teach-api yay!

[2015-08-18 19:15] #1136 closed

[2015-08-18 20:40] mmmavis commented on #1137
Ummm if we are adding a "name" field to the Clubs form, does that mean the same user can choose to enter a different name every time she/he proposes a Club?

I think it makes more sense to associate user's name with "User" instead of "Club".  And if this sounds like a better approach, how do we present it on the website so that users will only be asked to fill out their name once?

@hannahkane @sa

[2015-08-18 20:42] mmmavis commented on #1137
FYI, id.webmaker doesn't collect name, it collects e-mail only.

[2015-08-18 21:01] sabrinang commented on #1168
I have some email assets to choose from:
Green or white background
Start coding or Learn more button
Circle or rectangle feature section
<img width="874" alt="screen shot 2015-08-18 at 1 40 35 pm" src="https://cloud.githubusercontent.com/assets/2492510/9342100/c5a39b8e-45ae-11e5-9514-61bce0c70a33.png">

![mozilla-thimble_email_main-graphic-white](https://cloud.githubusercontent.com/assets/2492510/

[2015-08-18 21:21] hannahkane commented on #858
@thornet - two other comments on the redpen for you. Thanks!

[2015-08-18 21:27] sabrinang commented on #1168
@HPaulJohnson feedback?
@cassiemc design review?

[2015-08-18 21:28] hannahkane commented on #1137
@mmmavis - I agree. This would be a kind of strange solution. Let's nix this for now, and solve with the user profile that's coming via MLN Directory.

@Saallen - this means, unfortunately, that we won't be able to have first name in the meantime. :(

[2015-08-18 21:39] mmmavis commented on #1168
One note -
since the container comes with preset padding, the green banner(in option #1) won't be able to extend to 100% width. It will have some whitespace on both ends.

[2015-08-18 21:56] hannahkane commented on #1146
Moving this to current heartbeat, so it doesn't get lost.

[2015-08-18 21:56] hannahkane commented on #1140
Moving this to current heartbeat, so it doesn't get lost.

[2015-08-18 23:04] mmmavis opened #1172 "A/B testing on home page CTA buttons"
Hey @adamlofting (and @ScottDowne I thought you might know too) :grin:

We would like to run some tests on the home page and we are wondering if it's possible to do it via Optimizely. On the hero banner on https://teach.mozilla.org/

1. three CTA buttons
2. one CTA button with a line of copy to provide context

Is it achievable? If so, how should the implementation be done? Do I just commit code t

[2015-08-18 23:09] hannahkane opened #1173 "MozFest site tweaks"
Would be good to knock out these two tickets:
 - [x] https://github.com/mozilla/2015.mozillafestival.org/issues/168
 - [ ] https://github.com/mozilla/2015.mozillafestival.org/issues/169

[2015-08-18 23:14] hannahkane opened #1174 "Change copy on Clubs modal"
In order to accommodate programmatic shift (allowing for Club Captains to start their work without being matched to a RC), we'll need to change the copy on the Clubs modal, which currently looks like this:

![screen shot 2015-08-18 at 4 11 21 pm](https://cloud.githubusercontent.com/assets/8389648/9345258/eedf533e-45c3-11e5-8ac8-f874e395b9a7.png)

Modal title suggestion: Get matched with a Regional

[2015-08-18 23:14] hannahkane commented on #1174
@thornet @amirad—does the suggested copy above make sense to you?

[2015-08-18 23:15] hannahkane commented on #858
Also see #1174

[2015-08-18 23:17] hannahkane commented on #1158
To be clear (because I wasn't before), for this initial test, let's just compare the effect of one CTA versus three CTAs. So, no copy variations needed. We just need a single line of copy to accompany the single CTA version illustrated here: https://redpen.io/oc9b75cf4cbed72a1e

@ldecoursy and @KevZawacki - copy suggestions for the part that currently reads "Copy here about joining us to teach the

[2015-08-18 23:22] HPaulJohnson commented on #1168
Looks good.

One thing we found when using the new Webmaker template in BSD was that the headline itself was easiest to do as an image also. Otherwise, maintaining formatting became a nightmare. Can you create an image file for that too?

In terms of preference, I like the all-white as the email copy flows a bit better.

If/when the template is in BSD I can construct the email to see if there's an

[2015-08-18 23:54] #1091 closed

[2015-08-19 08:52] Saallen commented on #1137
:crying_cat_face: Understood. Thanks for trying though

[2015-08-19 08:52] #1137 closed

[2015-08-19 09:20] adamlofting commented on #1172
Hey @mmmavis

The best way to set this up depends on how big the change is, but I'll explain roughly here.

### Setup Optimizely

Step one is to get the Optimizely tag into the head of the template, like this https://github.com/mozilla/donate.mozilla.org/blob/master/pages/index.jsx#L8

Then setup Optimizely conversion tracking on the goal you are optimizing for. [Donate example here](https://githu

[2015-08-19 09:42] adamlofting commented on #1159
I just had a look, and it's about 6 / day.

[2015-08-19 09:47] adamlofting commented on #1159
Plugging some numbers into the calculator:

* If your test doubled the conversion rate (100% increase), you could get significant results in 5 days
* If you made a 50% improvement, in 21 days
* But a 20% improvement would need 132 days to get significant results

So the key is to test bold, dramatic variations which are likely to have the most impact.

[2015-08-19 12:36] thornet commented on #1174
<3. Thanks, @hannahkane!

Would wait to see if @amirad has any other edits, but this looks good from my perspective.

[2015-08-19 12:36] thornet commented on #1174
Ah, this might be a good opportunity to add the field for "Full Name" (see #1137)

[2015-08-19 12:40] thornet commented on #858
@hannahkane sorry, redpen ate the comments I left yesterday! Added them again.

cc @amirad for her review.

[2015-08-19 13:07] KevZawacki commented on #1158
Is "web literacy" too technical to have there? Some suggestions:

Join with Mozilla and start teaching the Web today
Make a difference — start teaching web literacy
Help us create a more web literate world

[2015-08-19 13:19] chrislarry33 commented on #1158
i like: Help us create a more web literate world

[2015-08-19 13:19] cassiemc commented on #1168
Looks good @sabrinang, just a couple issues to really clean it up.

* I like the white as well but would remove the grey horizon line. Possibly just add a more subtle shadow underneath the computer itself, then centre the Thimble logo vertically with the computer graphic.
* The 'Learn more' button text doesn't read as a particularly strong call to action.
* Is the 'keep calm carry on' really the p

[2015-08-19 13:24] hannahkane commented on #858
Thanks, @thornet. I'm worried we're not spelling out the difference between the two choices on that page well enough. e.g. the user needs to understand the benefits/drawbacks of clicking "MATCH ME" as well as the benefits/drawbacks of clicking "GET STARTED ON MY OWN."

Added a few comments to the redpen to highlight where we might want to make things more clear.

[2015-08-19 13:27] hannahkane commented on #1174
There's a recent conversation on #1137 about how adding a name field would be violating best practices. It doesn't really make sense to have the user's name associated with the Club data—this would allow, for example, a user to enter a different name for each of multiple Clubs. It will be better to attach the Name field to a user profile, which is in the roadmap, but not implemented yet.

@amirad

[2015-08-19 13:30] hannahkane commented on #1158
Thanks, @KevZawacki!

The "help us" one is my preferred choice as well.

I'd rather we didn't use the word "Join," because taking the pledge is not actually "joining" the site (in that it doesn't create a user account), so that might be misleading.

And I think "start teaching" sounds like a bigger ask than the pledge actually calls for.

[2015-08-19 13:35] hannahkane commented on #1159
Super. Thanks, @adamlofting. I think our first test—one CTA versus 3 CTAs—is a pretty dramatic variation. Excited to test this and see.

[2015-08-19 13:46] jgmac1106 commented on #1159
A low priority question, really just curious:

 How do you know your conversion rate is due to the changes in the CTA? For example what if testing happens the same time as an email blast about Maker Party, Clubs or Thimble relaunch? Is the link on these emails to teach.mozilla.org big and at the top? Small and at the bottom?

If you need your conversions to move to 12 out of 40 or 24 out of 80 (if

[2015-08-19 14:03] adamlofting commented on #1159
@jgmac1106 it's a good question to ask.

The A/B testing process works by running a controlled experiment. So half of the traffic are randomly allocated to see the existing version (the control), and half to see the new variation over the same period of time.

So if we sent an email blast during the test period, 50% of the people responding to the email will see version A, and 50% will see version

[2015-08-19 14:06] jgmac1106 commented on #1159
Wow thx! Terminating thread hijacking ::poof::

On Wed, Aug 19, 2015 at 10:03 AM Adam Lofting <notifications@github.com>
wrote:

[2015-08-19 14:12] ldecoursy commented on #1158
+1 to above. Thanks @KevZawacki!

[2015-08-19 15:35] HPaulJohnson commented on #1168
@cassiemc The best thing to do is test. every audience is different. The good thing about a simple, letter format is that it's really easy to put together.

Letter style emails often do perform well though with anything, mixing things up over time is sometimes the best formula as one format/approach fatigues and another emerges.

For context, I think most of our emails are generally personal. We t

[2015-08-19 18:15] mmmavis opened #1177 "Fix license string to match SPDX formatting"
Warning seen when running `npm install`

<img width="797" alt="screen shot 2015-08-19 at 11 11 57 am" src="https://cloud.githubusercontent.com/assets/2896608/9364835/2920434c-4663-11e5-8e15-c123b001fe9b.png">

According to https://spdx.org/licenses/MPL-2.0.html, we sould change `license` in `package.json` from `MPL` to `MPL-2.0`

[2015-08-19 18:32] #1177 closed

[2015-08-19 19:50] sabrinang commented on #858
We can have the buttons side by side on larger devices and on mobile they will be 1 column:
![clubs-page-revised-desktop-081915](https://cloud.githubusercontent.com/assets/2492510/9367122/5c336220-4670-11e5-8673-a09c44863599.png)
![clubs-page-revised-mobile-081915](https://cloud.githubusercontent.com/assets/2492510/9367124/5e31cf3a-4670-11e5-938c-10b707ef73a9.png)

I updated the redpen (https://re

[2015-08-19 20:57] amirad commented on #858
With these updates is the clubs toolkit tab being kept or removed? I think we've talked about both. In which case, if it is removed we will need messaging on people who click "I'm okay starting on my own" that mentions they will get access to resources, guides and material that can help their club hit the ground running. Maybe we can include info and a process to do that anyways when they click th

[2015-08-19 21:13] sabrinang commented on #1158
![teach_homepage_1cta-edition2](https://cloud.githubusercontent.com/assets/2492510/9369174/59a1cf54-467c-11e5-8373-7b6175bbb9af.png)
copy updated redpen: https://redpen.io/be444fcbbc2d7fa0f0

[2015-08-19 21:31] amirad commented on #1174
Are we assuming only people with establish affiliations will be clicking to this form? I'm scared the first question scares away the average person. Perhaps instead "Who is your Mozilla Club have affiliations with (if any)" and making it a not mandatory field.

Also a logistical point: some cities have the same names across provinces, states and countries (ex. portland, memphis, lebanon, mozcow et

[2015-08-20 22:05] mmmavis commented on #1165
changes are live on https://2015.mozillafestival.org/ now yay! :tada:

[2015-08-20 22:05] #1165 closed

[2015-08-21 17:48] hannahkane commented on #1158
Perfect. I think we can close this.

[2015-08-21 17:48] #1158 closed

[2015-08-21 17:48] hannahkane commented on #1159
No longer blocked on design.

[2015-08-21 18:00] hannahkane commented on #1174
Sorry, I wasn't clear about the scope of this ticket. I didn't intend for it to be about changes to the form in general. This was just meant to provide copy changes that would correspond to the copy changes we're making on the /clubs page.

@amirad - I'll file separate tickets for the changes you suggested above.

Regarding matching the Clubs form to the email address, we're not making any changes

[2015-08-21 19:46] hannahkane commented on #858
Can we find a time to talk about this? This feels pretty confusing to me now, so I'm not sure how to convey it well to users. I'll put something on the calendar.

[2015-08-21 20:02] hannahkane commented on #858
Blocked on (me) not having a full understanding of the "Start on my own" flow.

[2015-08-21 20:51] hannahkane opened #1179 "Create visualization of engagement funnel + update workbook"
Notes here: https://etherpad.mozilla.org/yvrsessions

[2015-08-21 20:59] mmmavis commented on #1172
assigning this ticket to myself for now so the ticket has an owner

[2015-08-21 21:00] hannahkane opened #1180 "Wireframes for Member profiles"
Should include:
 * entry form (inline editing)
 * viewers (including a view for the owner)
 * changes to nav bar (visual prompt to user to edit their profile)
 * photo upload UX
 * for both mobile and desktop

Fields:
* username (from Webmaker account)
* email (from Webmaker account)
* name
* Designated Mozilla Leadership Role (e.g. "Club Captain of Blah Blah Club", "Regional Coordinator of 10 CCs

[2015-08-21 21:45] ldecoursy commented on #1146
Here's some interim language (draft) for the About page. I'm pulling from an exercise our team did a few weeks ago. I imagine we'll iterate on this more as we hone and align our offerings as part of the Leadership Development working group.

**About the Mozilla Learning Network**
We're cultivating a global network of web literacy leaders who are teaching others the most important skills of our age

[2015-08-21 21:57] hannahkane opened #1181 "Wireframes for Club pages"
Should include:
 * entry form (inline editing)
 * viewers (including a view for the Club Captain)
 * how does user access their page
 * for both mobile and desktop

Fields:
* name of club
* location
* Image
* Club Captain (system field)
* Regional Coordinator (system field)
* Links (as many as they'd like)
* Published Report ("Add a new one" for Club Captains)
* focus areas (tags)

[2015-08-21 22:01] hannahkane opened #1182 "Wireframes for Club Reports"
Should include:
 * entry form
 * viewer
 * for both mobile and desktop

Fields:
* report name
* date
* location
* # of attendees
* Narrative
* Links (as many as they want)
* What curriculum did you use? (enter urls)
* How would you rate the support you received? (1-5 + space for notes)

[2015-08-21 22:07] hannahkane opened #1183 "Wireframes for Hive pages"
Should include:
 * entry form (inline editing)
 * viewers (including a view for the owner)
 * for both mobile and desktop

Fields:
* Hive Name (e.g. Hive Chicago)
* Type (e.g. Network, Community)
* Location
* Link to website
* Description
* List of member orgs (note: these are contact cards, not links to full pages)
* Designated Mozilla Leadership Role (e.g. "Club Captain of Blah Blah Club", "Regi

[2015-08-21 22:24] hannahkane commented on #711
This is duped by latest work

[2015-08-21 22:24] #711 closed

[2015-08-21 22:33] mmmavis opened #1184 "Figure out how/what to polish X-Ray Goggles"
Moving the goggles to a new domain is fairly straight forward, but some things are going to need care:
- [ ] figure out where the landing and install pages need to live. https://github.com/mozilla/teach.mozilla.org/issues/1294
- [x] login is a biggie: if we need to use id.wmo people would navigate off of the page they're on, unless we do id.wmo inside an iframe. @jbuck may need to help think about

[2015-08-21 22:40] mmmavis opened #1185 "teach-api rewrite plan"
@Pomax, there are lots of design related deliverables scheduled in the [Sept 11 Milestone](https://github.com/mozilla/teach.webmaker.org/milestones/September%2011,%202015).  I'm trying to find things for us devs to work on without getting much design help within that heartbeat and I think teach-api rewrite can be one of them.

No details yet and I'm hoping to work with you on the plan once you get

[2015-08-21 22:47] hannahkane commented on #1172
Thanks, @adamlofting - your calendar looks pretty full. Can you suggest a time after 8am PST some day next week?

[2015-08-21 22:57] mmmavis opened #1186 "Add Optimizely tags and conversion tracking to repo"
Before starting a A/B testing we'll have to set up Optimizely first,

for more details see [Adam's comment](https://github.com/mozilla/teach.webmaker.org/issues/1172#issuecomment-132505377) on https://github.com/mozilla/teach.webmaker.org/issues/1172

[2015-08-21 23:47] hannahkane opened #1187 "DATE TBD: Replace MozFest promo banner with Thimble banner"
Dependent upon launch of new Thimble

[2015-08-22 10:30] jgmac1106 commented on #1181
There is also the mozilla web club make that we created for clubs to design
a logo. That could be included. Though I have no idea how this would work
technically.

Is the goal to create a front-end directory so you also have a backend
directory of all the club members? I wonder if this shouldn't be done in
mozillians.org while we make a template for a club website it Thimble.

It could have all of

[2015-08-24 10:44] adamlofting commented on #1172
I've sent an invite this morning :smile:

[2015-08-24 13:32] KevZawacki commented on #1146
Looks great! +1

[2015-08-24 17:31] Pomax commented on #1184
crosslinking these:

- https://github.com/MozillaFoundation/plan/issues/508
- https://github.com/MozillaFoundation/plan/issues/528
- https://github.com/MozillaFoundation/plan/issues/529

[2015-08-24 19:19] sabrinang commented on #1168
I exported the heading two alternative ways if an image is used for it:

![mozilla-thimble_email-title](https://cloud.githubusercontent.com/assets/2492510/9449302/90aa3f94-4a56-11e5-83b5-e26e89fe2269.jpg)
https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eSm02SWc1TzJZQkU/view?usp=sharing
Using this image heading we can have: "A More Powerful Way to Teach the Web" in text beneath it (a simi

[2015-08-24 20:20] mmmavis commented on #1170
According to [the original mockup](https://github.com/mozilla/teach.webmaker.org/issues/908#issuecomment-110122037) the button should appear on a new line.  I'm gonna commit a fix soon.

[2015-08-24 20:51] #1170 closed

[2015-08-24 21:01] hannahkane commented on #1142
This is ready to go. https://redpen.io/egd04381c2b4f26f22

@sabrinang - can you please add assets to this ticket.

For now, the "If you'd like to get started on your own, check out these resources" sentence near the bottom should link to: http://mozilla.github.io/learning-networks/clubs/

[2015-08-24 21:03] mmmavis commented on #1142
@hannahkane @sabrinang don't forget to attach the mockup for the "see the full list" page as well :wink:

[2015-08-24 21:03] hannahkane commented on #858
Unblocked! Design is here: https://redpen.io/egd04381c2b4f26f22

Will file some follow-up tickets to account for new content coming soon (i.e. "Your First Month as a Club Captain")

[2015-08-24 21:05] hannahkane commented on #1142
Oh, these are the links for the "What does a Mozilla Club..." section:
* Afterschool program: https://docs.google.com/document/d/1rUivWQybJymNlfZZHWkSJqFN5TNDVuPRSH_YCObALeM
 * Community Meet-Up: https://docs.google.com/document/d/1gzbC5Q_XeHeii66v_Z4py6QrqYin5j1ozNhdeKJ-Ssg
 * Neighborhood with low connectivity: https://docs.google.com/a/mozilla.com/document/d/18DwRtmttN_EUlp1PUsQJWrDgUwMpCf5ipKG

[2015-08-24 21:16] hannahkane commented on #1142
@mmmavis @sabrinang - good call, Mavis, on the "See the full list" page. My suggestion for that would be:
 * Same header as /Clubs, including the button
 * Replicate the "Where in the world..." section header from the /clubs page
 * Map
 * Full list (can use same styles as on the current /clubs page)
 * nothing below the list besides the site footer

[2015-08-24 21:21] hannahkane commented on #1181
@jgmac1106 - thanks for the logo suggestion. Users will be able to add an image, so they can choose to add a logo, if they'd like. I don't think we'll do anything to facilitate that beyond having an "upload image" tool for our MVP.

This is meant to be a directory of Clubs, though not necessarily a directory of Club *members* just yet. We'll see if that need emerges. (Do you feel you'd need a dire

[2015-08-24 21:26] mmmavis commented on #1160
Done!

@HPaulJohnson you can now use and apply the template **"Thimble Email Template (August 2015)"** on BSD! :smile: Ping me if anything needs adjustment!

[2015-08-24 21:26] #1160 closed

[2015-08-24 21:28] mmmavis commented on #1142
I'm having hard time coming up with a url for that new page. `https://teach.mozilla.org//clubs/full-list` ?

[2015-08-24 21:30] hannahkane commented on #1142
what about just /clubs/list?

[2015-08-24 21:31] sabrinang commented on #1142
redpen mockup of clubs list: https://redpen.io/qd0672bdaec511d12f

[2015-08-24 21:34] hannahkane commented on #1142
+1 WFM

[2015-08-24 22:00] sabrinang commented on #1142
![clubs-page-intro-photo](https://cloud.githubusercontent.com/assets/2492510/9286281/f9523b32-42a4-11e5-893b-cceeb1da3dd8.png)

original: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eMmZ6QV8zQmZyaVk/view?usp=sharing
retina: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eVWEzWEJZNUlPM0E/view?usp=sharing

clubs page .sketch file: https://drive.google.com/a/mozilla.com/file/

[2015-08-24 22:24] #858 closed

[2015-08-24 23:17] mmmavis opened #1189 "Tweak promo banner button styling"
button should look more subtle, as seen in https://github.com/mozilla/teach.webmaker.org/issues/1158#issuecomment-132786537

![screen shot 2015-08-24 at 4 18 15 pm](https://cloud.githubusercontent.com/assets/2896608/9455000/c99d0e56-4a7b-11e5-8ea1-96112b95148d.png)

[2015-08-24 23:32] mmmavis commented on #1189
@sabrinang how should the button look on hover state?

[2015-08-24 23:42] sabrinang commented on #1189
<img width="889" alt="screen shot 2015-08-24 at 4 41 59 pm" src="https://cloud.githubusercontent.com/assets/2492510/9455338/24c19fce-4a7f-11e5-87d4-4ba133c1cd60.png">

[2015-08-25 00:12] #1189 closed

[2015-08-25 02:35] hannahkane opened #1191 "As a user, I should be able to see what Mozilla Learning badges are available to me"
Requirements:
 * Landing page that showcases the Mozilla Learning badge offerings
 * Users should be able to see the criteria for each

Phases of work:
 - [ ] Determine initial badge offerings, including criteria
 - [ ] Design badge graphics
 - [ ] Design landing page
 - [ ] Build landing page

[2015-08-25 02:38] hannahkane opened #1192 "As an authenticated user, I should be able to apply for a badge instance"
Entry point: the badge landing page (#1191)

Acceptance criteria:
 * I can see the criteria
 * I can submit my evidence
 * I am aware of the timeline for my application to be reviewed
 * I am notified when my application is approved or denied
 * My authentication experience should be seamless
 * I should be able to choose from a list of partner organizations that I might belong to

Phases of work:

[2015-08-25 02:41] hannahkane opened #1193 "As an admin, I can view a queue of outstanding badge applications, and review them"
Acceptance criteria
 * I should see counts of outstanding badge applications
 * I should be able to filter applications by badge type, and sort by submission date
 * I should be able to filter by "partner organization" (see related requirement of #1192)
 * I should be able to see the badge criteria while I'm reviewing the applicant's evidence
 * I should be able to easily access the applicant's pr

[2015-08-25 02:44] hannahkane opened #1194 "As a user, I can access my earned and pending badge instances from my Member Profile"
Acceptance criteria:
 * My earned badges as well as the evidence I submitted are displayed on my Member Profile
 * My pending badges are displayed only to me
 * I can easily share my badges on social media profiles

Blocked on creation of member profile (in progress)

[2015-08-25 02:48] hannahkane opened #1195 "As an admin, I should be able to search issued badge instances"
Acceptance criteria
* I should be able to search previously issued badges by date range, badge type, location of applicant, partner organization, or reviewer.
* The search results should include all of the above fields, as well as the recipient's name, email address, and link to their user profile
* The results should be exportable in a useful format, such as .csv

Phases of work:
 - [ ] Design se

[2015-08-25 03:49] chrislarry33 commented on #1168
I would like to employ the same plan that the successful Webmaker email used. It is very important to better learn and deploy best practices we have as an organization. Can we do what @HPaulJohnson suggests here?

[2015-08-25 12:03] thornet commented on #858
Beautiful! Thanks, @hannahkane.

On Tue, Aug 25, 2015 at 12:24 AM, hannahkane <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-08-25 20:32] mmmavis commented on #1142
+1 :+1:

[2015-08-25 21:00] hannahkane commented on #1187
Duped by #1166

[2015-08-25 21:00] #1187 closed

[2015-08-25 21:52] mmmavis opened #1196 "Add Google Analytics event tracking to outbound links on /tools"
...so we know how many people are finding those tools via our site

/cc @hannahkane @Pomax

[2015-08-25 22:03] Pomax opened #1197 "rename repository to teach.webmaker.org to teach.mozilla.org"
things to consider:
- CI linking
- issue links from other github locations
- issue links externally

[2015-08-26 03:26] HPaulJohnson commented on #1168
@sabrinang and I discussed today and we are going to use an image for the header, like we did with the Webmaker launch emails. I'll be setting those up in the next couple of days and running them through emailonacid to ensure everything looks good. we should be good to go for a send next week!

[2015-08-26 11:25] chadsansing opened #1199 "Basic Web Lit Module Hack the News activitiy formatting broken in Safari?"
![screen shot 2015-08-26 at 7 24 02 am](https://cloud.githubusercontent.com/assets/4128600/9492219/8bdee3de-4bc3-11e5-957e-8043506c84d4.png)

Looked this way on two computers at home yesterday. Sidebar and header crunched left.

[2015-08-26 14:32] chrislarry33 commented on #1168
Love it, thanks all!

[2015-08-26 17:24] hannahkane commented on #1147
duped by #1156

[2015-08-26 17:24] #1147 closed

[2015-08-27 15:51] adamlofting commented on #1172
To follow up, here is how I've added the Optimizely tags to the donate pages, which is also built with React:

https://github.com/mozilla/donate.mozilla.org/pull/325/files

And here is an example from id.webmaker.org which uses Optimizely with react-router:

https://github.com/mozilla/id.webmaker.org/commit/b34dd06dd7ef75ba399af97105fae78759acd4ff

I'm happy to talk this through further and/or rev

[2015-08-27 16:40] hannahkane commented on #1168
@sabrinang - can we close this ticket?

[2015-08-27 16:40] hannahkane commented on #1167
Separated this out into specific tickets.

[2015-08-27 16:40] #1167 closed

[2015-08-27 16:41] hannahkane commented on #1146
@chrislarry33 - what do you think? Wondering if we can close this ticket, and file a separate for implementation.

[2015-08-27 17:15] HPaulJohnson commented on #1168
For reference this is the tracking link we'll be using for email:

http://thimble.mozilla.org?ref=MLN_ThimbleLaunch&utm_campaign=MLN_ThimbleLaunch&utm_source=newsletter-mofo&utm_medium=email

(NOTE: link not working at the moment; we'll test on Monday when new URL is live.)

[2015-08-27 20:35] mmmavis commented on #1160
One design tweak suggested by @sabrinang :
Use `teach-referral-bg-white-50%.png` for background image instead (50% opacity)

Let me update the BSD template now.

[2015-08-27 21:02] mmmavis commented on #1160
@HPaulJohnson FYI, max width for embedded images should be 548px for this one.

(it's 550px for the Webmaker template but this Thimble one has a 1px border around the container)

[2015-08-27 21:10] HPaulJohnson commented on #1160
@sabrinang do we need to redo the images to this spec (vs. resizing them in BSD once embedding like I have been doing)?

[2015-08-27 22:10] sabrinang commented on #1160
@HPaulJohnson Yes, I will export them to x2 the size (1096px width) so it renders well on retina displays which means you can resize them in BSD to 548px width which should solve the pixelation issue. I'll be exporting them now.

[2015-08-27 22:28] sabrinang commented on #1160
All assets exported here (includes original and 2x versions): https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkRlbG5yS2hFdmFZbnR3UHN0aUZrc1hqc2g2U0YxU1FTOWR4T3l4ZXVjVEE&usp=sharing

Also - I included a simplified screen option instead of screencap if you prefer:
Original screencap interface
![mozilla-thimble_email-image-screencap 2x](https://cloud.githubusercontent.com/assets/24

[2015-08-28 06:10] anmechung commented on #1146
Recommendations for some tweaks - feel free to ignore!

Is it cultivating a global network of web literacy leaders who are "learning" and teaching ...?
What does "build your citizenship" mean? Do you mean "participate" in an openly reworked world?
First bullet: Could "own" be deleted?
3rd bullet: how about this: access free resources like event planning guides, adapt step-by-step teaching activiti

[2015-08-28 15:29] hannahkane commented on #1142
@mmmavis - do you think this will land this heartbeat, or should we roll it into the next?

[2015-08-28 16:09] chrislarry33 commented on #1146
@hannahkane I tweaked a bit as per @anmechung feedback. The below is good. Yes let's do as you suggest and close this ticket and start one for implementation.

About the Mozilla Learning Network

We are cultivating a global network of web literacy leaders who are teaching and learning most important skills of our age: the ability to read, write and participate in the digital world. Our programs an

[2015-08-28 16:10] #1146 closed

[2015-08-28 16:11] hannahkane opened #1200 "Update /about with new copy"
Final approved copy:

About the Mozilla Learning Network

We are cultivating a global network of web literacy leaders who are teaching and learning most important skills of our age: the ability to read, write and participate in the digital world. Our programs and resources can help you make an impact in your community, and participate in an openly networked world.

* Learn and deepen your 21st Cen

[2015-08-28 16:12] hannahkane commented on #1200
To discuss at kickoff: Do we need design first, or can we just use the existing styles on that page?

[2015-08-28 17:56] mmmavis commented on #1142
Hey @hannahkane,

I'm afraid not - this ticket actual needs a few days to build since it has lots of logic lying behind it. PR will be ready for review once I finish writing unit tests (will happen today).  Then I'll pass it to @Pomax to review. :+1:

[2015-08-28 17:57] hannahkane commented on #1142
That's fine. Will move to next heartbeat to finish!

[2015-08-28 17:58] mmmavis commented on #1142
<img width="686" alt="screen shot 2015-08-28 at 10 56 57 am" src="https://cloud.githubusercontent.com/assets/2896608/9553389/8c679ab0-4d73-11e5-8ab8-a1e48a0a7fe1.png">

@sabrinang @hannahkane mind providing urls to the above links?

[2015-08-28 18:17] hannahkane commented on #1142
projects we care about: don't know; I don't think that should be linked
Mozilla Club Captain: doesn't need to link
curriculum: /activities
Web Literacy: /teach-like-mozilla/web-literacy/

[2015-08-29 00:42] mmmavis commented on #1172
@adamlofting https://github.com/mozilla/teach.webmaker.org/pull/1201 awaits your review :dancer:

Once it gets merged and pushed live I'll tackle the rest of the steps.

[2015-08-31 17:11] hannahkane opened #1202 "Sept 7: Close MozFest Call for Proposals"
Includes:
 - [x] https://github.com/mozilla/2015.mozillafestival.org/issues/172
 - [x] https://github.com/mozilla/2015.mozillafestival.org/issues/175
 - [x] https://github.com/mozilla/2015.mozillafestival.org/issues/184

[2015-08-31 17:12] hannahkane commented on #1140
Moving to current heartbeat

[2015-08-31 17:12] hannahkane commented on #1116
Moving to current heartbeat

[2015-08-31 17:22] Pomax opened #1203 "add habitat for .env loading"
We should not need to `source env`, with a different solution on Windows - [habitat](https://www.npmjs.com/package/habitat) can do the enviroment loading cross-platform.

[2015-08-31 18:03] sabrinang commented on #1169
Social share - Generic thimble logo in case it is needed:
![mozilla-foundation_social-assets-thimble_horizontal-logo_twitter-1760x800](https://cloud.githubusercontent.com/assets/2492510/9586036/469a4e52-4fcf-11e5-8086-027b9c0f7f3d.png)
![mozilla-foundation_social-assets-thimble_vertical-logo_fb-tw-200x200](https://cloud.githubusercontent.com/assets/2492510/9586037/46f879be-4fcf-11e5-9774-cc9669887

[2015-08-31 18:19] HPaulJohnson commented on #1169
Looks great. Thx, @sabrinang

[2015-08-31 18:24] sabrinang commented on #1168
As discussed in issue https://github.com/mozilla/teach.webmaker.org/issues/1160, all assets have been exported here (includes original and 2x versions): https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkRlbG5yS2hFdmFZbnR3UHN0aUZrc1hqc2g2U0YxU1FTOWR4T3l4ZXVjVEE&usp=sharing
and been used in sample test seen here:
![thimble-email_sample-test](https://cloud.githubusercontent.com/asse

[2015-08-31 18:24] #1168 closed

[2015-08-31 19:23] mmmavis commented on #1202
@hannahkane are we just going with [Sarah's suggested copy](https://github.com/mozilla/2015.mozillafestival.org/issues/172#issuecomment-136329486). If so I can push the changes today.

[2015-08-31 19:27] hannahkane commented on #1202
@Saallen actually wants to keep the call for submissions up for one more week, so we don't have to push today. I just suggested revised copy on the ticket. Will wait for her to respond.

[2015-08-31 19:29] hannahkane opened #1204 "Change link to point to new Thimble on /tools"
New thimble lives at thimble.mozilla.org

[2015-08-31 19:43] mmmavis opened #1206 "Makes used in the "Made with Code" pages are HTTP 500 now"
We feature a sample Make in each of our Made with Code pages for people to remix.
- https://teach.mozilla.org/activities/madewithcode-firstwebpage/
- https://teach.mozilla.org/activities/madewithcode-meme/
- https://teach.mozilla.org/activities/madewithcode-poster/

The Makes aren't accessible anymore(HTTP 500 Internal Server Error), e.g., https://thimble.webmaker.org/project/60764/remix.  Should

[2015-08-31 19:51] hannahkane commented on #1206
Will fix with https://github.com/mozilla/thimble.webmaker.org/issues/997

So, let's keep for now

[2015-08-31 20:30] jbuck commented on #1206
Fixed

[2015-08-31 20:30] #1206 closed

[2015-08-31 21:10] Pomax commented on #1199
this looks like a flexbox rendering issue - Safari needs the `-webkit-` vendor prefix; might be missing?

[2015-08-31 21:12] Pomax commented on #1185
let's make this dependent on the work done in https://github.com/mozilla/teach.webmaker.org/issues/1180, https://github.com/mozilla/teach.webmaker.org/issues/1181, https://github.com/mozilla/teach.webmaker.org/issues/1182, and https://github.com/mozilla/teach.webmaker.org/issues/1183

[2015-08-31 21:14] mmmavis commented on #1199
Yup that seems to be the issue.  I'll submit a PR to https://github.com/mozilla/webmaker-curriculum today.

[2015-08-31 21:17] mmmavis commented on #1199
for reference: this is the page @chadsansing was talking about :smile: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html

[2015-08-31 22:01] mmmavis commented on #1166
i'm working on this now

[2015-08-31 22:29] mmmavis commented on #1166
<img width="606" alt="screen shot 2015-08-31 at 3 28 24 pm" src="https://cloud.githubusercontent.com/assets/2896608/9592069/f65424ec-4ff4-11e5-851b-86c5741be9c6.png">

I'm assuming this is the button styling we want to go with and that button links to https://thimble.mozilla.org/

[2015-08-31 22:29] hannahkane commented on #1166
+1 on the url.

Defer to @sabrinang on styling.

[2015-08-31 22:32] #1204 closed

[2015-08-31 22:33] sabrinang commented on #1166
@mmmavis ah yes that's right! and the hover state is yellow similar to https://github.com/mozilla/teach.webmaker.org/issues/1189#issuecomment-134415427

[2015-08-31 22:56] sabrinang commented on #1169
all sizes: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efjJ4aGFlbW84UTNOQjN2SFRtSlIxMDlNRWN1eDQybVdGS0VKWkhhQmVELWs&usp=sharing

Social share to accompany "Coding, decoded. #MozillaThimble makes teaching code simple: mzl.la/thimble (+ graphic) #TeachTheWeb" post:
![mozilla-thimble_social-assets_coding-decoded_twitter-1760x800](https://cloud.githubusercontent.com/assets/2492510

[2015-09-01 17:39] hannahkane commented on #1202
@mmmavis - assigning this to you, if that's alright